[2021-03-26 14:11] visglz commented on #2606
Same problem here when preparing the update from npmv6 to npmv7. As a workaround I manually edited the package-lock.json and added `"hasInstallScript": true` to the necessary packages. To find out the packages which need the setting I temporarily removed the `packages-lock.json` and run `npm install` and searched the resulting `package-lock.json` for occurences of `hasInstallScript`. This workarou

[2021-03-26 14:25] wraithgar commented on #2934
How is npm being told to pull your package from your registry instead of the npm registry?

[2021-03-26 15:53] aloisklink opened #2971 "[BUG] EINTEGRITY errors for some github repos with commit hash"
**Update**: This issue explained in my comment seems to have been fixed in v7.11.0 (see [my update comment](https://github.com/npm/cli/issues/2971#issuecomment-1035156508)), however, another user has [described a similar error](https://github.com/npm/cli/issues/2971#issuecomment-891422616) in v7.20.3, so I'm unsure whether I should close this issue or leave it open.

**Using a git URL in the forma

[2021-03-26 18:09] wraithgar commented on #2804
Yep dupe of #2610

[2021-03-26 18:09] #2804 closed, assigned to nobody

[2021-03-26 18:16] wraithgar commented on #2863
This is technically a duplicate of #2889 because both commands go through `arborist.reify`.  closing this in favor of the other issue.

[2021-03-26 18:16] #2863 closed, assigned to nobody

[2021-03-26 18:27] s1mrankaur commented on #2953
That really worked! THANK YOU!!

[2021-03-26 18:27] #2953 closed, assigned to nlf

[2021-03-26 18:28] #2801 closed, assigned to nobody

[2021-03-26 18:33] Lehks commented on #2934
It is being told through the config parameter
[code]
in the quoted comment.

[2021-03-26 18:36] wraithgar commented on #2971
We fixed the compression level for packing in `v7.7.0` because the shasums were not consistent across all platforms (i.e. ARM vs Intel).  This means you're going to have to rebuild your package-lock if you have git dependencies.

[2021-03-26 18:37] #2813 closed, assigned to nobody

[2021-03-26 18:40] wraithgar commented on #2873
`npm i` is not idempotent, it is dependent on (among other things) the current state of `node_modules`.  As @ljharb notes, `npm ci` should be the command to use if you want more consistent builds

[2021-03-26 18:40] #2873 closed, assigned to nobody

[2021-03-26 18:45] wraithgar commented on #2815
This is a bug in the meta-vulnerability calculator when dealing with some of the results from the github packages registry (which returns nulls where other repositories return undefined).

It will be fixed in the next npm release.

https://github.com/npm/metavuln-calculator/pull/6

[2021-03-26 18:45] #2815 closed, assigned to nobody

[2021-03-26 18:49] wraithgar commented on #2844
May be related to https://github.com/npm/cli/issues/2934

[2021-03-26 18:49] wraithgar commented on #2934
May be related to https://github.com/npm/cli/issues/2844

[2021-03-26 21:48] kanoshin commented on #2873
@wraithgar I don't fully understand why this issue was closed. Does it mean that it is normal that `npm i` leaves `node_modules` in the state that is inconsistent with `package-lock.json`? And if it is by design is it due to some technical limitation on npm side? If installation is dependent on the state of `node_modules` why npm can't compare version of that package with lock file for a semver co

[2021-03-26 22:00] zpv commented on #2774
Also experiencing this issue and breaks my workflow. I reverted back to 6 in the meantime.
Related (old) issue: https://github.com/npm/npm/issues/6700

[2021-03-26 22:12] nlf commented on #2969
there's no bug here, but i do think the `npm ls -g` output is maybe a little confusing. unmet dependency is telling you that the package wasn't installed, but that we're aware it's part of a complete package tree. we should potentially be more careful to omit those when doing a global package list since it's intentional for them to not be present.

[2021-03-26 22:12] #2969 closed, assigned to nobody

[2021-03-26 22:15] nlf commented on #2955
I'm glad you found a solution. I completely agree the error needs to be better, and intend to keep this issue open to track exactly that

[2021-03-26 22:36] aloisklink commented on #2971
Hi @wraithgar, thanks for the info. I don't think it's due to that, I'm not sure if `npm pack url` even uses `package-lock.json` files. Plus, I tested it on `v7.6.3` (see
[2021-03-26T20_16_02_623Z-debug.log](https://github.com/npm/cli/files/6214580/2021-03-26T20_16_02_623Z-debug.log)) and `v7.0.15` and I'm getting the same issue.

Obviously, if this is only happens in a rare number of Git repos, i

[2021-03-27 00:08] basicdays commented on #1965
@ruyadorno Yeah I ran into issue #2900 as well, so this issue is partially fixed. Prepare scripts are only ran if the root `package-lock.json` file does _not_ exist.

[2021-03-27 00:12] basicdays commented on #2900
Yeah just ran into this as well. It's preventing a scenario where a workspace package would have a bin file that needs to be transpiled first. Since the `prepare` script isn't being ran during install, `npm install` is failing because it can't find the transpiled file to link. If I remove the root `package-lock.json` file, then the first install will work.

[2021-03-27 05:13] jaydenseric commented on #2846
@nlf or @isaacs please reopen this issue; it has not been fixed:

[code]

[2021-03-27 07:08] ohardy commented on #2961
Only in my CI environment.

At the time of the creation of the issue, it had been more than 10 hours that the version 7.7.x never worked and that the previous versions worked every time.

Everything is working well since this morning, it's really strange.

[2021-03-25T06_22_18_114Z-debug.log](https://github.com/npm/cli/files/6215291/2021-03-25T06_22_18_114Z-debug.log)

[2021-03-27 09:44] boraarazb opened #2974 "npm ERR! code SELF_SIGNED_CERT_IN_CHAIN"
We are trying to propose a smart contract on a IBM Blockchain Platform 2.5.1 running  on openshift 4.6.20

Description
We get the error;
"failed to invoke backing implementation of 'InstallChaincode': could not build chaincode: external builder failed: external builder failed to build: external builder 'ibp-builder' failed: exit status 3"

When checking on the openshift pod logs, it says;

"npm WA

[2021-03-27 10:24] SiddharthShyniben commented on #417
By the way, I noticed that this also happens when you abruptly terminate an installation. Just FYI.

[2021-03-27 10:33] SiddharthShyniben opened #2975 "[BUG] Unable to install npm@7.7.5"
### Current Behavior:
When I am trying to install npm@7.7.5, I get an error saying that `No matching version found for npm@7.7.5.`

### Expected Behavior:
npm should be updated to the latest version (v7.7.5)

### Steps To Reproduce:
Run `npm i npm@7.7.5 -g`

### Environment:

- OS: macOS Sierra (10.12.6)
- Node: 14.15.1
- npm: 7.6.3

[2021-03-27 15:22] ljharb commented on #2975
What registry are you using? (npm config get registry)

[2021-03-27 17:30] theBstar commented on #417
I encountered this issue while running `npx react-native init someProject`. I was on a slow network connection and the installation got terminated midday. Running `npx react-native init someProject` again resulted in `react-native command not found`. Clearing npx cache helped. https://stackoverflow.com/questions/63510325/how-can-i-clear-the-central-cache-for-npx

[2021-03-27 18:51] wyatt-troia commented on #2117
Deleting `package-lock.json` didn't work for me. I had to downgrade to npm 6.14.11

[2021-03-27 21:29] frederickjjoubert commented on #1832
I was just having the same error trying to run `ng add @ng-bootstrap/ng-bootstrap` in an Angular 11 project.

I'm using node v15.4.0 and npm v7.6.3

I was able to use the following as a workaround: `npm install --save @ng-bootstrap/ng-bootstrap --legacy-peer-deps`

Pardon me for the lack of insight but I'm not sure what's causing the error or why/what `--legacy-peer-deps` does beyond the technical

[2021-03-27 21:57] brianjenkins94 commented on #2877
Same results from `npm@7.7.5` on my Mac.

[2021-03-27 22:04] watilde commented on #1032
I wish I could hear back any feedback

[2021-03-27 23:43] mesqueeb commented on #2036
@ruyadorno I also greatly need the `nohoist` feature... It's not possible to have google cloud functions in a npm 7 workspace, because deploying cloud functions fails when dependencies are hoisted...

[2021-03-27 23:44] mesqueeb commented on #2783
`nohoist` would fix this issue btw...

[2021-03-28 00:23] mfshao opened #2977 "[BUG] NPM 7 frequently causing EMFILE error when building image in Quay.io"
Not sure if this is a bug or a design/improvement of NPM 7 against NPM 6. But looks like NPM 7 would open more file descriptors and/or sockets when doing `npm i` comparing to NPM 6?

### Current Behavior:
We noticed after migrating to NPM 7, our image build in Quay.io is much more frequently to fail with `EMFILE` error than before (using NPM 6).

In order to stabilize the build, we have reduce the

[2021-03-28 02:05] SiddharthShyniben commented on #2975
`https://registry.npmjs.org/` is the registry being used.

[2021-03-28 04:28] mwawrusch commented on #2508
Had this today after upgrading to 7.7.5  - Mac Os.

[code]

[2021-03-28 07:23] ZwapKillrath commented on #708
**"npm out" ignores packages that need to be updated!!!!**
The packages listed in the package.json which are meant to be updated according to their semantic version (^) are completely ignored when running an "npm out".
_"node -v": 14.16.0
"npm -v": 6.14.11_
(Download from https://nodejs.org/en/ + clean install on new machine)
Even tried to clear the contents of the "dependencies" section in the pa

[2021-03-28 09:11] wallrat opened #2978 "[BUG] (Regression) 'maxsockets' default config changed to 'Infinity' in v7.7.0"
# What / Why

The `maxsockets` configuration have changed from 50 -> 'Infitinity' during the refactoring of the config defaults in https://github.com/npm/cli/pull/2878

This change reverts to the behavior before this option was added, where npm tries to fetch all dependencies in parallell, potentially **opening 1000+ connections**, which causes all sorts of problems for users network environments

[2021-03-28 13:59] subs6 opened #2980 "[BUG] cb() never called"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-03-28 14:41] ljharb commented on #2980
#417

[2021-03-28 14:41] #2980 closed, assigned to nobody

[2021-03-28 14:51] daviddaxi commented on #708
@ZwapKillrath please read the official npm docs --> ["About semantic versioning"](https://docs.npmjs.com/about-semantic-versioning)!!

This issue is not related to semantic versioning! We are talking about the new behavior of `npm update`, which is not updating the package.json anymore.

[2021-03-28 17:09] websocket98765 commented on #549
Excluding from spotlight shouldn't imply it's excluded from virus scans.

Apple has been slow to address this. A benefit of solving in NPM is that this issue would be resolved for all NPM users without requiring an additional step from every user in the future to update their Spotlight settings (if Apple supported this).

[2021-03-28 17:46] InputNeuron commented on #2853
@llamerr why should this bug be removed ? I'm having the same issue.  on Linux (our CI system) and MacOS.

postinstall just doesn't seem to be reliably executed in v7. I'm noticing this across dozens of projects including eslint and electron.

[2021-03-28 18:17] oleksii-lukin commented on #2853
@burtonator I was thinking the issue was that I used force install, so maybe there were some incompatibilities, but that's still strange since I did not see any errors or warnings if I recall correctly.

[2021-03-28 18:27] darcyclarke commented on #2975
@SiddharthShyniben wasn't able to replicate this, potentially there's something else happening in your network or in your local environment/config... might also be a locale/regional caching error 🤷🏼‍♂️ I'd try switching networks, or VPNing to a different locale & seeing if maybe that helps & just ensuring that you can/do see `7.7.5`'s Packument information (ref. https://registry.npmjs.org/npm/7.7.

[2021-03-28 18:33] darcyclarke commented on #2977
@mfshao ~is there any way you can provide a minimal reproduction case for this error? Sounds like this may be intermittant which would understandably be hard to reproduce but even if you could help in setting up a project with similar constratins to those of Quay.io it would help track down the problematic code paths.~ seems like this may be linked to this other issues just filed: https://github.c

[2021-03-28 18:34] InputNeuron commented on #2853
@llamerr I'm seeing this happen with other packages regardless of ci or install and regardless of package-lock.json or none.

This is happening with electron, eslint, etc.  Completely breaking our workflow.

v6 has some serious bugs that we had to avoid so now we're on v7 but there are bugs on v7 we have to avoid too.

[2021-03-28 20:44] AllanOricil commented on #1637
Im still seeing this problem. @wiasliaw could you post your .yaml?

[2021-03-29 01:52] SiddharthShyniben commented on #2975
I see. I'm on macOS 10.13. That might be the problem. I'll try again as soon as I can.

[2021-03-29 05:38] Natalina27 opened #2981 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-03-29 05:40] #2981 closed, assigned to nobody

[2021-03-29 06:16] MichaelWondemuu opened #2982 "[BUG] <error on npm itself after many warnings>"
npm install
npm WARN deprecated chokidar@1.7.0: Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15x less dependencies.
npm WARN deprecated browserslist@1.7.7: Browserslist 2 could fail on reading Browserslist >3.0 config used in other tools.
npm WARN deprecated fsevents@1.2.13: fsevents 1 will break on node v14+ and could be using insecure binaries. Upgrade to fsevents 2.
npm WARN d

[2021-03-29 09:08] kowalk commented on #624
same here ;/

[2021-03-29 09:10] kowalk commented on #624
@augnustin after downgrade to version 6.10 all is working fine...

[2021-03-29 09:38] syabro commented on #2117
In my case I had
[code]
Since I've used it to leave comments in package.json. After removing - works fine

[2021-03-29 11:05] jansepke opened #2983 "[BUG] ENETUNREACH errors during npm install (DNS, IPv6)"
### Current Behavior:
After upgrading from NPM v6 to v7 we see ENETUNREACH errors during `npm install` in our CI environment. This does not happen every time but it happens in ca. 50% of all cases and across all our projects. But we could not reproduce this issue locally.  This is an example error output, but the package can be different every time.

[code]

It only happens when npm resolves `regi

[2021-03-29 12:08] Arsasana opened #2984 "Terminal crashes right after running "npm install" command from any of the projects"
"npm install" command is not working as expected,
as soon as I run npm install command from any of the terminals (say powershell/command prompt), terminal gets closed abruptly.
This is the cases with different projects.
Tried degrading and upgrading the versions of nodejs, but was not able to fix the issue
Tried cleaning the cache via npm cache clean --force, still the issue didn't get solved
- OS

[2021-03-29 14:19] SiddharthShyniben commented on #417
My probably-wrong hypothesis is that maybe when we terminate any action before the `cb()` callback gets called we have this error. As I read on the wiki, it happened because the process gets exited (by net problems, us terminating, etc.) before the callback is called. (See [this wiki](https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22)). I'm telling you I'm pr

[2021-03-29 17:28] Barents1 opened #2986 "Error al instalar dependencias"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\admin\AppData\Local\npm-cache\_logs\2021-03-29T17_24_11_612Z-debug.log

[2021-03-29 18:24] nlf commented on #2986
see https://github.com/npm/cli/issues/417

and please fill out our issue template as completely as you can if you are still experiencing trouble

[2021-03-29 18:24] #2986 closed, assigned to nobody

[2021-03-29 18:28] nlf commented on #2984
we need more information that would be present in our issue template. at a minimum we'll need to know what version of npm you're using.

you say this happens with different projects, do you have any projects that work correctly?
do you see any error messages or the like before the terminal closes?
do you get a crash report from windows?

if you can reproduce this reliably, the steps to do so would

[2021-03-29 18:31] nlf commented on #2982
the "no space left on device" message is the critical thing here. you've run out of free space on your hard drive, so npm is unable to write new files and eventually crashes.

free up some disk space, and if you still experience problems please open a new issue and be sure to complete our issue template to the best of your ability.

[2021-03-29 18:31] #2982 closed, assigned to nobody

[2021-03-29 18:32] Arsasana commented on #2984
Hi,

Sorry my terminology might be wrong , by crashing I mean terminal is getting closed while the command is executing.
There aren't any logs/ any windows report as such and no error message even.

Thanks,
Arpitha

From: nlf ***@***.***>
Sent: 29 March 2021 23:59
To: npm/cli ***@***.***>
Cc: Arpitha Sasanapuri ***@***.***>; Author ***@***.***>
Subject: Re: [npm/cli] Terminal crashes right after r

[2021-03-29 18:34] #2904 closed, assigned to nlf

[2021-03-29 19:24] jdmarshall commented on #1222
Closed no comment?

[2021-03-29 19:26] #2978 closed, assigned to nobody

[2021-03-29 20:26] nlf commented on #2970
i'm unable to reproduce this. please see #417

if you continue to experience issues, please open a new issue and be sure to fill out our issue template to the best of your ability.

[2021-03-29 20:26] #2970 closed, assigned to nobody

[2021-03-29 20:28] boraarazb commented on #2974
Also tried with npm cersion 7.x

[2021-03-29 20:28] boraarazb commented on #2974
Also tried with version npm 7.x

[2021-03-29 20:51] ruyadorno commented on #2977
Linked issue has been resolved in **[npm@7.7.6](https://github.com/npm/cli/releases/tag/v7.7.6)** - let us know if you still see any problems! Thanks!

[2021-03-29 20:51] #2977 closed, assigned to nobody

[2021-03-29 20:51] ruyadorno commented on #2978
Fix is out in **[npm@7.7.6](https://github.com/npm/cli/releases/tag/v7.7.6)**, thanks @wallrat 🎉

[2021-03-29 21:42] mesqueeb opened #2988 "[BUG] nohoist doesn't work for NPM workspaces"
### Current Behavior:
NPM workspaces work just like yarn workspaces, we have been wanting to switch to NPM for years!

However, we desperately need to use the `nohoist` feature from yarn workspaces for a variety of reasons. Some packages don't work well when hoisted.

### Expected Behavior:
When NPM makes workspaces and they work just like yarn, I'd expect to also have the `nohoist` feature! There

[2021-03-30 00:38] felipecrs commented on #1189
Actually, still broken as of now (v7.7.6).

Refs https://github.com/volta-cli/volta/issues/966.

[2021-03-30 02:33] ruluva opened #2989 "[BUG] Workspaces hoisted package is not resolving to dependent's peer dependencies"
### Current Behavior:

I have a project using multiple workspaces. For simplicity I created a smaller project that reproduces the issue.
I am using @testing-library/react to help with some unit tests, and I have pulled in the required peer dependencies of react and react-dom. Each package is using its own version of React, one is using 17.0.1 and the other 17.0.2. Both are using the same @testing-

[2021-03-30 02:46] Stanzilla commented on #1189
Also refs https://github.com/npm/cli/issues/2699

[2021-03-30 07:04] fpsqdb opened #2990 "[BUG] Run workspace package script failed if script has chained commands(&&)"
### Current Behavior:

Execute `npm init` to initialize a workspace package named `package1`.
Execute `npm run test -w package1`

[code]

Works fine if excute `npm run --prefix package1 test`
[code]

### Expected Behavior:

Run without error.

### Steps To Reproduce:
[code]
[code]

### Environment:

- OS: Win10 19042.867
- Node: 12.20.0
- npm: 7.7.6

[2021-03-30 07:25] vsrini7 opened #2991 "Npm install exits without installing with ERR subset is not a function"
Using npm 7.7.5, node 12.21.0 on ArchLinux
Since this morning, npm install is not working LOCALLY (works globally) with any package (tried with express, webpack etc).  Was working perfectly till yesterday (and didnt do any upgrades/ system updates etc in the interim).
It clearly accesses the npm registry fully successfully all through and in the log can see that runs through to the end where it go

[2021-03-30 08:30] Polarts commented on #2306
Having the exact same issue here on Termux, thought it would be due to ARM processors but seems like it also happens on x64...
Did anyone manage to fix the issue?

[2021-03-30 09:21] Coderx64 commented on #2884
faced with the same issue
`node -v
v15.12.0`
`npm -v
7.6.3`

.npmrc contains

trying to install something from private repo

HTTP request sent without auth headers

but i will try try to install not scoped packages auth headers is present in HTTP request
just add `registry=http://nexus.private.bar/repository/npm-registry/` to .npmrc
`npm i somepackage`

[2021-03-30 09:43] joelpurra commented on #708
`npm update --save` would be nice. Until then, here's a quick [`sh`](https://en.wikipedia.org/wiki/Bourne_shell) command line hack using [`jq`](https://stedolan.github.io/jq/).

- Runs `npm update` and saves the resolved `^` (caret) dependency versions to `package.json` (and updates `package-lock.json`).
- Does not do semver-breaking updates; it only keeps the in-range versions "fresh".

[code]

~

[2021-03-30 10:02] Coderx64 commented on #2884
fixed by change auth key from `repository/npm-registry/` to `repository/myown-npm-test/`
Excuse for troubling

[2021-03-30 10:21] dbhattacharya7790 opened #2992 "[BUG] Unable to access translation file value (ngx-translate feature) in typescript file (app.component.ts)"
### Current Behavior:
import { Component, OnInit } from '@angular/core';
import { TranslateService } from '@ngx-translate/core';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss'],
})

export class AppComponent implements OnInit {

  constructor(private translate: TranslateService) {
    translate.setDefaultLang('en');
    translate.u

[2021-03-30 11:02] digitalNomadKg commented on #1431
Hello team,
I also found it today while was installing the vue for the first time. I just clicked no cause was sure that my connection is quite good enough. So in my case I did not choose it and seems everything is ok.
![taobao](https://user-images.githubusercontent.com/47690096/112978663-4b3b5680-9160-11eb-8eb1-e87bc4075aac.PNG)

[2021-03-30 12:15] ShikoShintaro opened #2993 "[BUG] ERR! cb() never called!"
$ npm install @discordjs/opus
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:

this is the error that i got on installing some packages for my app

[2021-03-30 12:28] justlyJustice opened #2994 "npm ERR! cb() never called!"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-03-30 12:38] oliviernt opened #2995 "[BUG] Running command in workspace context doesn't work in docker environment"
### Current Behavior:
When running an npm script in a workspace context in a docker container, the script from the parent context is executed.

### Expected Behavior:
When running an npm script in a workspace context in a docker container, the script from the workspace context is executed.

### Steps To Reproduce:
Please see my reproduction repo https://github.com/oliviernt/npm-workspaces-bug-repr

[2021-03-30 13:30] kiehnek commented on #2994
Duplicate of #417

[2021-03-30 13:30] kiehnek commented on #2993
Duplicate of #417

[2021-03-30 13:36] TopchetoEU opened #2996 "[BUG] On npm init, the name of the folder from which the function is called only the first space gets replaced by a space"
### Current Behavior:
When I do `npm init` in a folder with spaces, for example `test foo bar`, only the first space gets replaced by a dash in the proposed name

### Expected Behavior:
All the spaces in the name of the folder should get replaced by a dash

### Steps To Reproduce:
1. Make a folder with more than one space in it's name
2. Do `npm init` in it

### Environment:
- OS: Windows 10 Build

[2021-03-30 13:36] justlyJustice commented on #2994
What does that mean?

On Tue, Mar 30, 2021 at 2:30 PM korki ***@***.***> wrote:

[2021-03-30 13:47] ljharb commented on #2990
Doesn't `npm run --prefix package1 test` run the test script from the current directory, but with the cwd set the `package1`?

What happens if you cd into package1 and run `npm test`? I'd assume the exact same thing.

[2021-03-30 13:53] #2993 closed, assigned to nobody

[2021-03-30 13:54] ljharb commented on #2994
@Justylo because you didn't fill out the issue template, we have no idea what this issue is, except that #417 is a catch-all for "cb() never called" error messages.

I'll close this for now, but if you fill out the issue template and it provides new info beyond what's already in #417, it can be reopened.

[2021-03-30 13:54] #2994 closed, assigned to nobody

[2021-03-30 15:26] Shawk7529 opened #2997 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-03-30 15:30] #2997 closed

[2021-03-30 17:04] ZwapKillrath commented on #708
@daviddaxi

I know that it is not related to semantic versioning, and have read the official npm docs :-)
I was merely stating an example of whats going on at my end.
I was trying to say: "My package.json does not get updated but my package-lock.json does"
My example was with @mdi/font at v.5.8.55 in the package.json and after npm update at v.5.9.55 in the package-lock.json with the package.json n

[2021-03-30 18:08] Shawk7529 commented on #2997
#
##
###

[2021-03-30 19:08] JayeshGohel commented on #417
Got npm ERR! cb() never called! while executing npm install. Any fix for this? Below is the image showing the warnings and errors I am getting
![npm error](https://user-images.githubusercontent.com/59264342/113042962-6ce90d80-9161-11eb-92f8-0fe2e22ab20b.PNG)

[2021-03-30 20:05] Standard8 opened #2999 "[BUG] Could not resolve peerDependencies of matching semver ranges"
### Current Behavior:

Using the commands:

[code]
Results in:

[code]

### Expected Behavior:

I would expect that the modules are installed using prettier matching `^1.17.0`. This would be matching the semver range of eslint-plugin-prettier and that of eslint-plugin-mozilla.

From the perspective of an author of eslint-plugin-mozilla, I think the only two choices we have here are:

1) Match the

[2021-03-30 20:22] Josee9988 opened #3000 "[BUG] Command not found after updating"
### Current Behavior:

I updated npm to the latest version and then I can not use it anymore it says: Command npm not found

### Expected Behavior:

### Steps To Reproduce:

sudo npm update -g npm@latest

### Environment:
- OS: Ubuntu 20.04
- Node: 14.16.0
- npm: i don't know because I can not use it

---

This error already happened to me a couple of times. Npm tells me that there is an available

[2021-03-31 02:23] fpsqdb commented on #2990
All the command run from `root` directory not `package1`.
run `npm test` from `package1` works fine.

I have edited the issue to make it clearer

[2021-03-31 03:21] fpsqdb commented on #2990
And another.
`package1->package.json`
[code]
workes fine
[code]
error
[code]

[2021-03-31 06:08] JohanSpannare opened #3002 "[BUG]NPM not respecting node environment variables --tls-min-v1.2"
# Possibility to force min and max TLS version to use by npm vis proxy.

npm is by default (see wireshark) trying to use TLSv1 witch is not supported by our proxy. Have tried to find a way to configure node/npm to honor

**--tls-min-v1.2**
and or
**--tls-cipher-list=list**

without success.

# Wireshark dump (NOT WORKING)
![image](https://user-images.githubusercontent.com/5891969/113097800-d7e5238

[2021-03-31 06:24] lolopinto commented on #2453
when is this being fixed? I upgraded my npm from 6.* to 7.* and I'm running into this.

i'm trying to publish into a private github package. The suggestion to use `--registry` isn't working for me because I'm trying to publish a `dist` subfolder and apparently that combo together doesn't work.

[2021-03-31 06:41] jozefajogwu opened #3003 "Error with NPM itself"
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'admin-lte@3.0.0-alpha.2',
1 verbose cli   '--save'
1 verbose cli ]
2 info using npm@6.14.9
3 info using node@v14.15.3
4 verbose npm-session 0e9c0538f6d95e8c
5 silly ins

[2021-03-31 06:45] ljharb commented on #3003
#417

[2021-03-31 06:45] #3003 closed, assigned to nobody

[2021-03-31 07:31] EdisonHarada commented on #2720
@wraithgar It's working like a charm.

I think you can close this one 👍

[2021-03-31 08:22] allanbowe commented on #1884
@darcyclarke  - is there a reason to remove the label?  is this considered a nofix?

[2021-03-31 08:39] livthomas opened #3004 "[BUG] npm update does not work with scoped private packages"
I'm trying to update a scoped private package using the following command:

[code]

But nothing happens. I can see the following lines in the debug output (`--dd`):

[code]

I guess it should use `https://www.npmjs.com/package/@snappykraken/ui-elements` instead of `https://registry.npmjs.org/@snappykraken%2fui-elements`.

### Current Behavior:

The latest version of a library doesn't get into `nod

[2021-03-31 08:54] love477 opened #3005 "[BUG] npm publish with error: maintainers error by using npm@7.x"
### Current Behavior:
run npm publish to publish private npm package with error:
[code]

### Expected Behavior:
publish private npm package successful.

### Steps To Reproduce:
Run npm publish to publish  private npm pakcage will error.

I change my local npm to 6.14.12, it works ok.

### Environment:
- OS: mac os 11.2.3
- Node: 12.16.3
- npm: 7.7.6

[2021-03-31 09:03] livthomas commented on #2554
@darcyclarke Could you please at least document this before closing this issue? There is nothing like that mentioned in the documentation of [npm link](https://docs.npmjs.com/cli/v7/commands/npm-link) command.

[2021-03-31 09:57] yuiseki commented on #624
I'm facing same problem at npm@v7.7.0 on docker

[2021-03-31 10:14] networkandcode opened #3006 "y18n vulnerability"
Hi, Prisma cloud scan for our docker container which had node 12 and npm 6.14.11, detected a vulnerability for the y18n 4.0.0 package which is installed as part of npm. We have tried upgrading npm with npm i npm@latest -g, I think even that has the same issue. Any solution for this please.

One other thing we tried is, npm i y18n@5.0.5 -g and then npm i npm@latest -g
But then it gave a different c

[2021-03-31 10:21] livthomas commented on #3004
I noticed that other scoped packages were downloaded without any problems:

[code]

So I tried to set `NPM_TOKEN` environment variable to `npm update` command and it worked because I have the following line in `.npmrc` file:

[code]

But why do I need to do this? Shouldn't `npm update` prompt me to log in if it is unable to download a private package?

[2021-03-31 12:53] prasannamestha commented on #2884
Run `$ npm cache clean`  and you'll face the same problem again. The only reason you're able to install the second time is due to cache.

[2021-03-31 13:18] darcyclarke commented on #2554
@tristanls apologies - I must have closed this while doing a larger sweep of issues (note: I rarely close without commenting unless it's obviously a bad issue or it's apart of a larger automated sweep); Apologese for the confusion. We'll dig in here & either do a better job at explaining how this works in the docs or get `npm link` to behave more like v6.

[2021-03-31 17:23] justlyJustice commented on #2994
Please how can I resolve this Issue

On Tue, Mar 30, 2021 at 2:54 PM Jordan Harband ***@***.***>
wrote:

[2021-03-31 17:37] ljharb commented on #2994
@Justylo You can fill out the issue template to the best of your ability, and then we might be able to help.

[2021-03-31 19:21] Gauhar commented on #2834
I can confirm that this issue was happening on my end as well on `npm version 7.6.3` and `node version v15.12.0`. Since we I am publishing a public package then you can get rid of `publishConfig`

[2021-03-31 21:22] mattiekat commented on #2508
Using `npm@6.14.12` to install at first works, then using `npm@7.7.6` works just fine as long as the `package-lock.json` is left in place/allowed to be modified only by npm (it does re-write to v2). This is on Manjaro Linux. Config is set using a `.npmrc` with an env var for auth token.

[2021-03-31 21:32] joebochill opened #3007 "NPX gives "command not found" error when running another npx command"
### Current Behavior:

I have a CLI tool published to npm which is used to create new projects in various JS frameworks. Behind the scenes it calls, e.g., `npm_config_yes=true npx create-react-app myappname`.

The expected usage is `npx -p @pxblue/cli@beta pxb new react`.

This works as expected with NPM v6. With npm v7, it throws:
[code]
If I copy this 'failed command' into my terminal, it runs f

[2021-03-31 23:46] darcyclarke commented on #3006
You can get the latest v6 which has the security patch for the `y18n` vuln by running `npm i -g npm@6` (latest v6 should be [`v6.14.12`](https://github.com/npm/cli/releases/tag/v6.14.12)) - Node.js should be shipping versions of `12`/`14` that contain this version of `npm` next week as far as I know. `npm` v7 (latest v6 should be [`v7.7.6`](https://github.com/npm/cli/releases/tag/v7.7.6)) should n

[2021-03-31 23:51] #3006 closed, assigned to nobody

[2021-04-01 02:30] redevill opened #3008 "[BUG] package.json config object variables no longer overridable"
### Current Behavior:
Per Documentation under the config section: https://docs.npmjs.com/cli/v7/configuring-npm/package-json#config
This command should override the default value set in the config section.
npm config set appName:variableNameInConfigSection MyOverrideValue

Consequently the variable $npm_package_config_variableNameInConfigSection should be available to the package.json scripts.
But

[2021-04-01 02:49] redevill commented on #3008
To those who might come across this issue. It appears that the variable that is made available in the package.json scripts has changed in version 7. It has changed from $npm_package_config_variableNameInConfigSection to $npm_config_variableNameInConfigSection

[2021-04-01 02:49] #3008 closed, assigned to nobody

[2021-04-01 06:30] wenfangdu opened #3009 "Questions about `Email: (this IS public)`"
I've configured the email address on `npmjs.com`, why does the cli keep prompting me to enter email?
[code]
Even if I enter a wrong email that is different from the one I set on `npmjs.com`, I can still log in.

Questions:
- What's the point of entering this email?
- Can it default to the email address I set on `npmjs.com` if I don't enter this field?

[2021-04-01 07:00] dong2590 opened #3010 "[BUG] npm v7 cannot publish to private registry (v6 works)"
### Current Behavior:
While trying to publish packages to my private repository, I get 128 error when using npm v7
I don't want to publish to github but it will ignore my  registry

Here console print
[code]

BUT  IT'S WORKING WITH v6 (6.14.10)
Here console print
[code]
### Expected Behavior:
npm  publish  work like v6

### Steps To Reproduce:
Do npm publish with npm v7

### Environment:
- OS: mac

[2021-04-01 09:16] visglz commented on #2918
I can confirm the problem also with npm 7.7.6 and our internal artifactory (it doesn't occur with npm 6).

[code]

The problem is a missing authorization header. Most probably the root cause is the same as in https://github.com/npm/cli/issues/1960 where it has been fixed already by @nlf for `npm install`.

Here are the headers for `npm install`:

[code]

And here for `npm pack`:

[code]

Note the

[2021-04-01 11:17] max-programming commented on #1200
I have the same problem :(

[2021-04-01 11:26] networkandcode commented on #3006
@darcyclarke Thanks for the response, just curious to know if there would be any impact for the existing packages by this change

[2021-04-01 11:26] Dharmendra205111014 commented on #805
Very similer thing happening to me, if i remove my README.md file it works fine. @prozanne could you find anything there ?

[2021-04-01 11:34] Ally4 commented on #417
Before the end of the process of npm install, I get this error
`npm ERR! cb() never called!`

[2021-04-01 12:16] basickarl opened #3011 "[BUG] Accessing packages not listed in package.json"
I am unsure if this is to be posted here, or in the node binary issues. If so please do tell and I'll re-create it in the correct place.

### Current Behavior:
When installing a package that uses package X, package X is accessible in the code without it being defined in package.json dependencies or devDependencies.

### Expected Behavior:
Should output in the terminal: "MODULE_NOT_FOUND".

### Ste

[2021-04-01 12:23] PatrickSpies opened #3012 "[BUG] npm update removes nested node_modules"
### Current Behavior:
With npm@7 `npm update` removes nested node_modules from formerly installed package.

### Expected Behavior:
`npm update` keeps or updates nested node_modules to keep the functionality of the package

### Steps To Reproduce:
1. Create new project (`npm init`)

2. Install module with nested node_modules (e.g. `npm install claudia`)

[package.json_install.txt](https://github.co

[2021-04-01 14:37] vsrini7 commented on #2991
Was solved by installing npm again using npm for some reason. Was not getting fixed by uninstalling and reinstalling npm from arch repositories directly.
Still not understood why. But solved

[2021-04-01 14:37] #2991 closed, assigned to nobody

[2021-04-01 14:46] n3dst4 commented on #2011
I have established that the problem specifically manifests when `npm install` is run in a **mounted folder** in a docker container.

With npm v6, performance is more or less the same whether running in a mounted folder, or a "local" (to the container) folder.

With npm v7, performance in the mounted folder is up to 3 times worse.

In case it helps, I whomped up this benchmark to highlight issue: h

[2021-04-01 14:49] ljharb commented on #2991
@vsrini7 npm comes with node, and should only be installed by npm itself, or by npm’s install script (which is only rarely needed). It’s not distributed by itself.

[2021-04-01 14:55] vsrini7 commented on #2991
Thanks so very much Jordan for explaining.

On Thu, 1 Apr 2021, 20:19 Jordan Harband, ***@***.***> wrote:

[2021-04-01 16:28] theunforgiven opened #4284 "bug(arborist) If package.json is missing scripts block an exception will be thrown killing npm installs"
Hello,
I had an issue with npm i tracked down to the following line:
https://github.com/npm/arborist/blob/9e324976ea5211dc24430a83928ca41b69e46b33/lib/arborist/rebuild.js#L266

If a package,json file is missing a scripts block that line can cause an exception to be thrown killing installs. I think this pkg.script lookup should probably be made null safe.

Thanks!

[2021-04-01 17:42] isaacs commented on #4284
Copying from node-tooling slack discussion with @ljharb:

Can you provide a way to reproduce the crash?  It shouldn't enter that function for any nodes that don't have the specific script in question, so not having a script block seems unlikely, no?

At the very least, the fix is likely something other than making the line null-safe

https://github.com/npm/arborist/blob/9e324976ea5211dc24430a83928

[2021-04-01 17:57] ljharb commented on #4284
for the record, `scripts = {}` is not null-safe, it's undefined-safe; `null` doesn't trigger defaulting.

[2021-04-01 18:01] theunforgiven commented on #4284
I can't post my project here but basically a project with a folder in it that has a node addon in it with a package.json with no script block in it.

[2021-04-01 18:24] ljharb commented on #3011
This is not a bug, it's the way node's algorithm works, combined with npm's (desired) deduping behavior that hoists things to the top level of `node_modules`.

The way to enforce this is with a linter - eslint-plugin-import has a rule for it.

[2021-04-01 19:13] spjtls9 commented on #1219
Is this closed with a resolution? I'm running into the same issue.

[2021-04-01 20:10] mateusgms commented on #417
I've got this error trying install dependencies  using `yarn`

[2021-04-01 21:26] basickarl commented on #3011
@ljharb An explanation and solution, thank you!

[2021-04-01 21:26] #3011 closed, assigned to nobody

[2021-04-01 21:32] picasso250 opened #3018 "[BUG] `npm run dev` result in 'rollup' is not recognized as an internal or external command"
### Current Behavior:
when run `npm run dev`

[code]
or if you are Chinese, it shows:

    'rollup' 不是内部或外部命令，也不是可运行的程序
    或批处理文件。

### Expected Behavior:

run `npm run dev`

it run the script without complain.

### Steps To Reproduce:

1. clone a repo(svelte-app for example) or make a `package.json` with it's own script
3. Run 'npm run dev' or other script
4. See error

### Environment:

- OS: W

[2021-04-01 22:06] luckman212 commented on #2856
Continues to be a bug on 7.8.0...

[code]

[2021-04-02 04:18] stackzzcryp3c commented on #3007
Bug fix

[2021-04-02 06:28] cawa-93 commented on #2999
Similar issue with npm v7.8.0

[code]

At launch, the following packages had already been published:
- vue@3.0.11
- @vue/compiler-sfc@3.0.11

#### Workaround for my case:
[code]

[2021-04-02 11:21] abhimanusharma commented on #708
Why is the issue closed? This is a bug and should be resolved or provide alternative such as `npm update --save`. Fix or reopnen this bug.

[2021-04-02 11:31] siyb commented on #2889
I can reproduce this behavior as well!

[2021-04-02 12:24] AlexWayfer commented on #677
Still no reason for closing…

[2021-04-02 13:24] theunforgiven commented on #4284
Here's an example that can reproduce this: [repro.zip](https://github.com/npm/arborist/files/6249676/repro.zip)
Using
[code]
if you unzip that folder and go into the directory that creates:

1. Run npm install (this succeeds and creates a lock file)
2. At this point npm install will run cleanly over and over
3. Delete node_modules and derp/build
4. Re-run npm install and it will fail as follows:

[2021-04-02 14:42] revelt commented on #2606
To add 2p., the issue of `esbuild` postinstall script not triggering is happening on npm v7.7.6, node v15.13 via `n` node manager, on a Mac — _without lockfiles too_ (disabled through `.npmrc`). Whoever is investigating this bug, please also consider the cases where lockfiles are disabled. Postinstall scripts should be called also on packages without lockfiles, shouldn't they?

[2021-04-02 20:12] RonSherfey opened #3019 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-04-02 20:22] #3019 closed, assigned to nobody

[2021-04-02 23:48] lukekarrys commented on #2990
I was running into this issue in a project as well and I think it is resolved in `npm@7.8.0`.

As this example showed, I think the issue is with running nested scripts within a workspace. So in this case `npm run start` runs `npm run test2` inside `package1/`. I created a minimal repo that reproduces this with `npm@7.7.6` but the command runs successfully with `npm@7.8.0`. https://github.com/lukek

[2021-04-03 02:29] RonSherfey opened #3020 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-04-03 07:57] caohuilin opened #3021 "[BUG] npx failed: Cannot read property 'spec' of undefined"
### Current Behavior:

[code]

### Expected Behavior:

### Steps To Reproduce:

### Environment:
[code]

### LOG

0 verbose cli [
0 verbose cli   '/data00/home/caohuilin/.nvm/versions/node/v14.15.4/bin/node',
0 verbose cli   '/data00/home/caohuilin/.nvm/versions/node/v14.15.4/lib/node_modules/npm/bin/npm-cli.js',
0 verbose cli   'exec',
0 verbose cli   '--',
0 verbose cli   'create-react-app',
0 v

[2021-04-03 07:59] caohuilin commented on #3021
![image](https://user-images.githubusercontent.com/12605189/113472381-7b069900-9495-11eb-82ee-dc87b876ddd8.png)

[2021-04-03 08:00] caohuilin commented on #3021
![image](https://user-images.githubusercontent.com/12605189/113472413-a9847400-9495-11eb-98ae-788d6f5566dd.png)

[2021-04-03 08:27] caohuilin commented on #3021
node -v
v14.16.0
npm -v
6.14.11

work fine

[2021-04-03 13:45] #3020 closed, assigned to nobody

[2021-04-03 15:09] Arhan13 commented on #2135
Try doing  -
`npm cache verify`
And then run your command, worked for me.

[2021-04-03 21:43] Nixinova commented on #2838
Same issue in 7.8.0, I can't even revert my version of npm because of this.

[2021-04-03 23:48] dinvlad opened #3022 "[BUG] $npm_package_dependencies_* are no longer set in v7"
### Current Behavior:

Any `$npm_package_dependencies_*` variables defined in v6, are no longer set in v7.

### Expected Behavior:

`$npm_package_dependencies_*` variables should list the values from `package.json`

### Steps To Reproduce:

1. Define a script to list env variables:
[code]
2. List them:
[code]
3. Notice that in v7, several `npm_package_*` variables are present, but not any of `npm_

[2021-04-03 23:49] ljharb commented on #3022
This was an intentional change; you’re intended to read the json file in a script instead of relying on the env.

[2021-04-04 00:01] dinvlad commented on #3022
@ljharb this is quite inconvenient however - e.g. `react-scripts` don't enable specifying a dynamic script to read env variables (unlike some others, like `vue.config.js`). Are there other workarounds for such cases?

Also, the exclusion of `_dependencies_*` vars doesn't seem to be documented in https://docs.npmjs.com/cli/v7/using-npm/scripts#packagejson-vars - it seems to imply all of them are st

[2021-04-04 00:45] ljharb commented on #3022
Indeed; seems like the docs need updating.

[2021-04-04 01:02] dinvlad commented on #3022
Thanks! For the time being, I found a workaround thanks to your suggestion:
[code]
[code]

[2021-04-04 03:15] Nixinova commented on #2838
Fixable by running `cmd.exe` as admin; when and why was %appdata% changed to C:/program files?

[2021-04-04 04:43] dandv opened #3023 "Regression? Change? Can no longer install a single package without all the other dependencies in package.json"
### Current Behavior:
Running `npm install <package> --no-package-lock --production --no-save` will still install all other `dependencies` listed in `package.json`.

### Expected Behavior:
[This did not use to be the case with npm 6](https://stackoverflow.com/questions/22420564/install-only-one-package-from-package-json/65233880#65233880). NPM 6 would install only the requested package.

### Steps

[2021-04-04 04:45] jcrben commented on #793
There is https://github.com/wiredmax/npm-json5 which works for npm 3. With a bit of love, I suspect later versions could be supported also. That's a less controversial way to transition

[2021-04-04 04:45] ljharb commented on #3023
Just curious, why do you need `--production` on that command? `npm install <package>` never installs its dev deps. Additionally, with `--no-save`, why do you need `--no-package-lock`?

If you just do `npm install local-iso-dt --no-save`, what happens?

[2021-04-04 05:00] dandv commented on #3023
@ljharb none if those options are needed; I just used them as a sanity check.

Running just `npm install local-iso-dt --no-save` produces the same result - `cheerio` and its deps are installed.

[2021-04-04 14:30] ChromaticRanger opened #3024 "[BUG] npm -v returns 7.7.6 after installing 7.8.0"
### Current Behavior:
After installing via `npm install -g npm@7.8.0` `npm -v` returns previous version `7.7.6`

If I run `npm -g list` I do see `npm@7.8.0` listed

### Expected Behavior:
`npm -v` should return `7.8.0`

### Steps To Reproduce:
1. update npm via `npm install -g npm@7.8.0`
2. run command `npm -v`
3. inspect output
4. verify the version number is 7.7.6

### Environment:
OS: Manjaro L

[2021-04-04 14:37] ljharb commented on #3024
What does `which npm` print out?

[2021-04-04 15:01] ChromaticRanger commented on #3024
@ljharb `which npm` prints `/usr/bin/npm`

[2021-04-04 15:08] ChromaticRanger commented on #3024
Hmm. I may have to retract this as something weird is going on on my system. I just rebooted and opened a fresh terminal and now `npm -v` shows `7.6.3` !, `npm -g list` still shows `npm@7.8.0`

[2021-04-04 15:14] ljharb commented on #3024
And which node, and npm root -g?

[2021-04-04 15:20] ChromaticRanger commented on #3024
`which node` `/usr/bin/node`
`npm root -g` `/home/martin/.npm-global/lib/node_modules`

Happy to be told I somehow have stuff in the wrong place and I should start again. ;-)

[2021-04-04 15:41] ChromaticRanger commented on #3024
I've drilled into the above node_modules directory and into the npm directory and the README.md in there is for 7.8.0

npm -v still currently shows 7.6.3 not sure where 7.7.6 (that was showing before I rebooted) has gone.

[2021-04-04 15:44] chritiancopas opened #3025 "Unblock"
Games

[2021-04-04 15:44] #3025 closed, assigned to nobody

[2021-04-04 15:52] ljharb commented on #3024
You have a “prefix” set to that npm-global place, so your npm install -g is putting it there, and not overwriting the real global one.

I’d suggest removing that setting (from ~/.npmrc).

[2021-04-04 16:02] ChromaticRanger commented on #3024
I've removed that setting and reinstalled 7.8.0 globally and npm -v now shows 7.8.0

I do vaguely remember adding that  prefix as I was having problems installing as my user before and would always need to do a sudo. Some random search took me to an article that suggested the prefix would solve that problem, and it did, but obviously created others.

Thanks for your help. I will close this now as

[2021-04-04 16:03] ChromaticRanger commented on #3024
This turned out to be my local environment so closing as resolved.

[2021-04-04 16:03] #3024 closed, assigned to nobody

[2021-04-04 16:31] adnan914 opened #3026 "[BUG] <Angular cli not install>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-04-04 19:28] shakeelahmed91191 opened #3027 "npm ERR! cb() never called!"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-04-04 19:41] m90 opened #3028 "[BUG] npm 7 does not install transient dependencies for local path deps"
### Current Behavior:

I've got a pre-workspaces monorepo setup like this:

[code]

In app1 and app2 we consume the shared packages like this:

[code]

`pkg1` has a set of external dependencies specified in its `package.json`, e.g.

[code]

When I run `npm i` from within one of the app folders, the package itself gets installed, however starting with npm 7 (all versions I could test until now), th

[2021-04-04 20:00] shakeelahmed91191 commented on #3027
:\freelancing\gatsby-pro-site>npm install -verbose
npm verb cli [
npm verb cli   'C:\\Program Files\\nodejs\\node.exe',
npm verb cli   'C:\\Users\\GB\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
npm verb cli   'install',
npm verb cli   '-verbose'
npm verb cli ]
npm info using npm@7.8.0
npm info using node@v14.16.0
npm timing npm:load:whichnode Completed in 2ms
npm timing config:loa

[2021-04-04 20:02] ljharb commented on #3024
You're supposed to use sudo when you have a system-wide node. To avoid that, you may want to use a user-level version manager, like nvm or nave.

[2021-04-04 20:02] shakeelahmed91191 commented on #3027
npm install in not  working hange here idealTree:gatsby-starter-netlify-cms: sill idealTree buildDeps

[2021-04-04 20:02] #3026 closed, assigned to nobody

[2021-04-04 20:03] ljharb commented on #3027
#417.

[2021-04-04 20:10] shakeelahmed91191 commented on #3027
Actually I am getting started in gatsby , at first I install packages via yarn , its working perfectly , as per Clint requirement he wants me to install packages through npm install so error mention above occurs again and again.

[2021-04-04 20:10] mjsir911 opened #3029 "[BUG] npm install "" installs package "undefined""
### Current Behavior:

[code]

### Expected Behavior:
Probably an error

### Steps To Reproduce:
`npm install --global ""`

### Environment:
Docker's [`node:latest`](https://hub.docker.com/layers/node/library/node/latest/images/sha256-0850e1871e459d6d8c84375dd1dc9e151c8ec814c1d07508cfb84d31d437bb36) at time of writing

[code]

[2021-04-04 20:12] shakeelahmed91191 commented on #3027
please help me why I dont know via yarn Is working perfectly but with npm its is not working

[2021-04-04 20:15] ljharb commented on #3027
Can you fill out the issue template in its entirety?

[2021-04-04 20:20] shakeelahmed91191 commented on #3027
npm install
npm ERR! code E405
npm ERR! 405 Method Not Allowed - GET http://registry.npmjs.org/prettier/gatsby

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\GB\AppData\Local\npm-cache\_logs\2021-04-04T20_19_08_050Z-debug.log

[2021-04-04 20:20] ljharb commented on #3027
`prettier/gatsby` isn't a thing. What's in your package.json?

[2021-04-04 20:26] shakeelahmed91191 commented on #3027
{
  "name": "gatsby-starter-default",
  "private": true,
  "description": "A simple starter to get up and developing quickly with Gatsby",
  "version": "0.1.0",
  "author": "Kyle Mathews <mathews.kyle@gmail.com>",
  "dependencies": {
    "@material-ui/core": "^4.7.0",
    "@material-ui/icons": "^4.5.1",
    "axios": "^0.19.0",
    "bootstrap": "^4.4.1",
    "gatsby": "^2.18.4",
    "gatsby-image":

[2021-04-04 20:30] ljharb commented on #3027
and what version of node/npm are you using? (`node -v`, `npm -v`)

[2021-04-04 20:32] shakeelahmed91191 commented on #3027
npm -v
7.8.0

node -v
v14.16.0

[2021-04-04 20:50] shakeelahmed91191 commented on #3027
Even I install grab new start up tamplete but still its give me this error

F:\gatsby\gatsby-starter-netlify-cms>npm install
[..................] - idealTree:gatsby-starter-netlify-cms: sill idealTree buildDeps

[2021-04-04 20:57] RobertLowe commented on #793
Simply allowing for `.jsonc` alternative extension for local projects would fill 100% of my use cases. As for published and future packages they can remain regular `.json`.

In the meantime, as part of your build/install process you could use https://github.com/sindresorhus/strip-json-comments-cli to generate a `json` file.

[2021-04-05 09:38] networkandcode commented on #3006
I think the issue still exists.. I tried the following inside the dockerFile:
[code]

[code]

[2021-04-05 09:45] mindplay-dk commented on #793
Probably not that simple, as many other tools (and websites etc) read and parse the `package.json` file.

Same problem here, as other tools may not be able to parse the `package.json` file.

If npm officially supported JSON5, that would be a different situation - everyone would *expect* to have to upgrade their packages and web-services etc.

Probably the best bet in either case though (whether of

[2021-04-05 10:25] networkandcode commented on #3006
Please ignore, I think it was not properly tagged in the registry first, works !!!

[2021-04-05 11:13] jonlepage commented on #793
Where would all the big softwares be today without all these BreakChanges updates.
Sure is always frustrating that my Adobe scripts broke from version to new version.
But that's the definition of progress, we have to change things for the better thing.
In this case it will maybe be a nice Breakchange, and people just have to update and follow progress.

Progressive ! Do not stagnate in mediocrity

[2021-04-05 11:28] m90 commented on #3028
I created a reproducible example over here https://github.com/m90/npm-monorepo-issue

[2021-04-05 11:35] 4javier opened #4283 "[BUG](arborist) npm install crashes if package version is not specified"
When I try to install a new package without explicitly ask for a version, `npm install` fail with an error on arborist

**node v15.13.0
npm  v7.8.0**

[code]

76 verbose stack     at Arborist.[saveIdealTree] (/usr/lib/node_modules/npm/node_modules/@npmcli/arborist/lib/arborist/reify.js:956:37)
76 verbose stack     at /usr/lib/node_modules/npm/node_modules/@npmcli/arborist/lib/arborist/reify.js:138

[2021-04-05 13:05] VanderSP commented on #708
THIS IS HORRIBLE HAPPENING WITH ME ALSO... BUT

yarn got same behaviour lately...

probably something more complex...

node?

wsl2?

[2021-04-05 15:08] hdpklm opened #3031 "[BUG] npx create-react-app app-react"
$ npx create-react-app app-react

Creating a new React app in C:\Mobile App\app-react.

Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts with cra-template...

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this ru

[2021-04-05 23:30] coreyfarrell commented on #2714
Yes this appears to be resolved (tested with 7.6.0).

[2021-04-05 23:30] #2714 closed, assigned to nobody

[2021-04-06 06:32] RunAge commented on #793
I think npm could just on publish parse JSON5 and create `package.json` if `package.json5` exists. Also we are developers and most of us use comments, tailing comma(better git compatibility) but if someone use or package/module don't care if use use JSON or JSON5 in this case. Another feature which comes with JSON5 is long scripts/commands can be split to new lines.

TLDR:
JSON5 give developers mo

[2021-04-06 07:37] lorenzogrv commented on #3009
As you can see on [`npm-adduser` docs](https://docs.npmjs.com/cli/v7/commands/npm-adduser#description), `npm login` is just an alias for `npm adduser`

[2021-04-06 07:57] wenfangdu commented on #3009
@LocutusOfBorg Yes, but I didn't see the answer from the doc, could you please point it out?

[2021-04-06 10:16] mindplay-dk commented on #793
I expect a lot of sites parse `package.json` directly from repositories. For example, how else would Github know when a repository is a package, being able to display a list of projects that use the package, and so on?

I suppose these tools would need to upgrade - just that this could be disruptive to the ecosystem during a transition period. If people start renaming the package file, a lot of to

[2021-04-06 10:17] mindplay-dk commented on #793
To be clear, I'm not saying that means we shouldn't do it! I just mean to create awareness of the kind of problems we should prepare for.

[2021-04-06 10:33] RobertLowe commented on #793
I think they could adapt, it might be a breaking change but thats what `semver` is for.

[2021-04-06 11:20] tenjaa commented on #1941
Is it? We are using npm 7.7.6 from the docker image node:15.
There is not a single link with `https://registry.yarnpkg.com` in the package-lock.json but it still tries to download yargs-parser from there. We recognised this as we need to use a proxy with specific url whitelisting.

package-lock.json:
[code]

install command:
[code]

logs:
[code]

[2021-04-06 11:40] JohanSpannare commented on #3002
@isaacs please have a look at this issue

[2021-04-06 13:23] LocutusOfBorg commented on #3009
-EWRONGUSER?

[2021-04-06 14:47] nlf commented on #3031
see #417

please reopen and be sure to fill out our issue template as completely as you can if you're still experiencing problems.

[2021-04-06 14:47] #3031 closed, assigned to nobody

[2021-04-06 14:56] nlf commented on #3023
npm 7 always does its best to work on full package trees rather than individual packages. that is, we do our best to ensure that what's on disk in your `node_modules` directory satisfies your complete requested dependency tree as specified in your `package.json`.

when adding a package, we add it to the dependency tree in your package.json, and then make your `node_modules` match that final, compl

[2021-04-06 14:56] #3023 closed, assigned to nobody

[2021-04-06 14:57] nlf commented on #3022
keeping open to track updating the documentation to be more clear about this :+1:

[2021-04-06 15:04] nlf commented on #3018
we can't change the command name because not everything passed to a script will be something that was installed by npm and will exist with a `.cmd` extension, so by adding it implicitly we would break a lot of workflows.

it is somewhat unusual that your command isn't running, seeing as windows supports running commands without the `.cmd` extension implicitly. is `rollup.cmd` located in your proje

[2021-04-06 19:57] timoxley opened #3034 "[BUG] Prepare scripts in workspaces should wait for dependencies"
### Current Behaviour:

It seems that prepare scripts are now run in parallel, which means that if:

* `A` depends on `B`
* `B`'s `prepare` script takes some time. e.g. runs `tsc`
* `A` uses `B` in its prepare script e.g. runs own `tsc` which requires `B` to be built first

Then `A`'s `prepare` script will fail because `B`'s has not completed.

If I switch the package.json scripts from `prepare` t

[2021-04-06 23:40] Schweinepriester commented on #2747
Having this issue as well using node 15.14.0/npm 7.7.6.

I've got
[code]
in my (global) `.npmrc`.
Previously using node 14/npm 6 I've explicitly used `npm i --package-lock-only` to get a `package-lock.json` if I wanted one.

`save=false` alone (without `package-lock=false`) also appears to block `package-lock.json` from being generated, so this issue could be broadened to

- put `package-lock=fals

[2021-04-07 05:38] Rose2161 opened #3035 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

The Google Play version of the Termux app no longer
receives updates. For more information, visit:
https://wiki.termux.com/wiki/Termux_Google_Play

~ $
~ $ npm i -g serverless && serverless init sf_FnsSpZRg
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated reques

[2021-04-07 07:37] orjandh opened #3036 "[docs] Ambiguity in npm-ci"
The documentation for npm-ci says that the command will be significantly faster if there is a package-lock or npm-shrinkwrap file, but then it says that it must have an existing package-lock or npm-shrinkwrap. If the latter is true, the first point should be removed.

Here are the excerpt:

    npm ci will be significantly faster when:
    - There is a package-lock.json or npm-shrinkwrap.json file

[2021-04-07 09:01] aydin-faruk opened #3037 "Angular npm XLSX package add Comments to Cell or Columns"
Hi there!

I am using Excel 2016. I'm trying to add a comment to the Excel column header. For example: A1.c
I use your package 'xlsx' in Angular for this.
package: [https://www.npmjs.com/package/xlsx](https://www.npmjs.com/package/xlsx)
Comments can be added. But the excel 2016 version shows the comment but is not hidden. I've even added 'hidden = true'. But it still doesn't work. I'm having this

[2021-04-07 09:21] yedpodtrzitko commented on #2784
#492 (dependencies starting with `file:`) seems to be related

[2021-04-07 12:46] cdefy commented on #1845
Hi there,

I hope I'm not making a mistake by posting here but the quoted answer is for me the closest to a solution.

I'm pretty sure you got that right because if I check the log it said "http fetch GET 304 https://registry.npmjs.org/husky-run 201ms" so I reckon it is looking for a package instead of running the script.

But I'm using Nuxt and I'm not sure how I can fix this as the solution offe

[2021-04-07 12:51] nsitu commented on #672
@pythoulon I would second your observations about Google Drive. I am experiencing the same issue but it goes away when I move the folder to a "real" local drive. I would be curious to know whether there's a deeper dive possible here. Any idea where one might go next with this problem?

[2021-04-07 14:11] sayem314 opened #3038 "[BUG] prepublish is not executing"
### Current Behavior:

When publishing a module `prepublish` command are not fired.

### Expected Behavior:

Should fire successfully just like v6

### Environment:

- OS: PopOS 20.04
- Node: 14.16.0
- npm: 7.8.0

[2021-04-07 14:25] f4z3k4s opened #3039 "[BUG] it is possible to delete any existing token from registry.npmjs.org even if I am not the owner of the token"
### Current Behavior:
I can delete any token with running `npm logout`, even the ones that don't belong to my account. I think this is a serious security issue, but please explain if this is intentional.

### Expected Behavior:
`npm logout` does not delete any token that doesn't belong to my account and it only deletes tokens with `type: 'publish'` and no other types on logout

### Steps To Reprod

[2021-04-07 14:28] ljharb commented on #3036
When the file is present, ci is faster than install. When the file is absent, install is your only option. What is the ambiguity?

[2021-04-07 14:29] ljharb commented on #3038
Can you provide more info? What are the package.json scripts? What indicates it didn’t fire?

[2021-04-07 14:30] ljharb commented on #3039
How would you get the token if it’s not your account?

[2021-04-07 14:33] sayem314 commented on #3038
@ljharb here are my scripts.

https://github.com/d-fi/d-fi-core/blob/759ad6220c6d80d4161dbd4dc8a265648e83c53e/package.json#L6-L12

It was supposed to call `eslint . && tsc` but it was totally ignored.

[2021-04-07 14:34] ljharb commented on #3038
Ignored meaning you didn’t see any output, or ignored meaning it would have failed but didn’t interrupt the publish?

[2021-04-07 14:58] orjandh commented on #3036
You are right! It did require a few reads before I got it, but it's probably just me.

[2021-04-07 14:58] #3036 closed, assigned to nobody

[2021-04-07 15:07] nlf commented on #3039
possession of the token is what indicates whether you are logged in or not, so by passing a token you _are_ logged in as the owner of that token and running `npm logout` invalidates the token. there is no further state stored. this is working exactly as intended.

[2021-04-07 15:07] #3039 closed, assigned to nobody

[2021-04-07 15:08] nlf commented on #3037
this repository is for the `npm` utility itself, not for the packages stored in the npm registry.

https://github.com/SheetJS/sheetjs is a link to the repository for the package you're attempting to use, which is linked in the right side of the page you provided.

[2021-04-07 15:08] #3037 closed, assigned to nobody

[2021-04-07 15:09] nlf commented on #3035
see #417 and if you continue to see this error be sure to fill out our issue template as fully as you're able.

[2021-04-07 15:09] #3035 closed, assigned to nobody

[2021-04-07 15:11] nlf commented on #3027
i'm unable to reproduce this.

are you using a proxy? can you share the output of `npm config ls`?

[2021-04-07 15:15] sayem314 commented on #3038
It didn't execute `eslint . && tsc` on `prepublish` but published the packaged anyway so I had to unpublish the version, bump it, manually run `eslint . && tsc` and then publish again. Note that I was on v6 publishing fine few days ago but yesterday updated to v7 and now today this issue occurs.

Edit: There was no output since it was not invoked at all.

[2021-04-07 15:16] nlf commented on #3021
i can't reproduce this one, i'm using the same node and npm versions as you and when i run `npx create-react-app --help` i get the correct output.

is there anything unusual about your configuration? an alternative registry? proxy? can you share the output of `npm config ls`?

[2021-04-07 15:23] nlf commented on #3009
this is an artifact of a time when logging in and creating a user were the same request. that's no longer the case, so the email field is ignored unless logging in as the given user with the given password fails with an error indicating that user does not exist. if that happens we instead send a request to create the given user and associate it with the given email.

it's technical debt that we're

[2021-04-07 15:23] #3009 closed, assigned to nobody

[2021-04-07 15:26] nlf commented on #3007
this was an issue with the package consuming npm, not npm itself, so closing.

[2021-04-07 15:26] #3007 closed, assigned to nobody

[2021-04-07 15:35] nlf commented on #3004
it's requesting the correct url, that package does not exist or requires authentication.

your `.npmrc` file is telling us that your auth token is stored in the environment variable `NPM_TOKEN`, if that environment variable is not set then we have no auth token to send and the request will fail. as you've found, by exporting the token as the correct environment variable, the auth will be sent appr

[2021-04-07 15:43] nlf commented on #3002
what you're providing isn't environment variables, they're command line flags. we definitely do not pass unknown command line flags through to node proper, so you're right that doesn't work and deliberately will not.

as for your root concern of being able to specify a minimum tls version, that could potentially be implemented as a new feature but if there's an incompatibility in the proxy agent w

[2021-04-07 15:55] nlf commented on #2988
this isn't a bug, it's a feature request. we do not document that we support `nohoist` or that we're fully compatible with yarn features (we aren't).

if this feature is important to you, i would suggest reviewing the proposals in https://github.com/npm/rfcs to see if one already discusses it and if not, start a new proposal.

[2021-04-07 15:55] #2988 closed, assigned to nobody

[2021-04-07 15:57] nlf commented on #2984
i still can't reproduce this and need significantly more information in order to try to diagnose. if this is still happening to you, please open a new issue and fill out the issue template in its entirety.

[2021-04-07 15:57] #2984 closed, assigned to nobody

[2021-04-07 16:02] nlf commented on #2983
this is node core behavior, we do not signal whether we want an ipv4 or ipv6 connection at any point.

we could certainly implement a new feature that allows you to tell us to use only one or the other, though. i'd suggest starting a discussion here https://github.com/npm/feedback/discussions

[2021-04-07 16:02] #2983 closed, assigned to nobody

[2021-04-07 16:20] nlf commented on #2975
closing because this looks to be an issue with a delay in our CDN. please reopen if you're still having problems.

[2021-04-07 16:20] #2975 closed, assigned to nobody

[2021-04-07 16:22] nlf commented on #2961
i'm not seeing anything of interest in the log file, and since you mention that everything is working well now i'm starting to think this may have just been some networking problems our CDN was having and is unrelated to npm.

i'm going to close this, but if it remains a problem please let us know.

[2021-04-07 16:22] #2961 closed, assigned to nobody

[2021-04-07 16:24] nlf commented on #2910
closing due to inactivity. if you're still seeing this problem, feel free to reopen, but we definitely need more information to help you.

[2021-04-07 16:24] #2910 closed, assigned to nobody

[2021-04-07 16:44] ShlomiAltostra opened #3040 "[BUG] NPM removes dependencies of global packages"
### Current Behavior:
Updating a global package (by running `npm i -g package`) removes all its dependencies (thus rendering it broken)
The first installation adds the dependencies, then a second update removes them, then adds them (and so on)

### Expected Behavior:
NPM makes sure that all the dependencies of an installed global package are installed as well - and not removing them if they're alr

[2021-04-07 16:47] jsg2021 opened #3041 "[BUG] npm ci does not appear to respect the lock file"
### Current Behavior:

I'm currently in the middle of trying to create a patch build for my prod env and my builds are failing because my lock file is not pinning my internal git dependencies like it used to. It also takes 5mins vs npm 6's 15sec.

### Expected Behavior:

The lock file is respected and only it is consulted... no updates, no resolutions, no healing.

### Steps To Reproduce:
Install

[2021-04-07 16:51] mmiretsky commented on #2891
I've also run into this problem. You need to start the SSH Agent using the `start-ssh-agent.cmd` script that comes with Git for Windows. This script will start the SSH Agent and add your SSH key to it (will prompt for password). Then you can run `npm i` and it will succeed.

[2021-04-07 18:24] jsg2021 commented on #3041
I found it. I have a package local `.npmrc` with `package-lock=false` for snapshot builds... on npm 6, that doesn't affect `npm ci`... when we cut releases we set that to true and generate the lock file... apparently, we haven't been committing the changed .npmrc... but I think this should cause `npm ci` to fail or `npm ci` ignores that setting if a package-lock exists?

[2021-04-07 18:39] Goobles opened #3042 "[BUG] `npm uninstall -g` doesn't run the `preuninstall` script"
### Current Behavior:

`npm uninstall -g <package>` doesn't run the `preuninstall` script

Also, `npm install -g <package>` doesn't run the `preuninstall` script from the previously installed version of the same package

Installing a newer version of a global package does trigger `preuninstall` in v6

### Expected Behavior:

`npm uninstall -g <package>` should run the `preuninstall` script

### St

[2021-04-07 18:58] krpeacock opened #3043 "[BUG] All workspaces require script during npm run * --workspaces"
### Current Behavior:

I have a package with three workspaces - 2 packages, and a directory with end-to-end tests depending on them.

Currently, if my packages have a `build` script, I would like to run `npm run build --workspaces`. If my `e2e` workspace doesn't have a `build` script, the command fails. My workaround is that I have to add a blank `"build": ""` script to enable that, and to do the

[2021-04-07 19:03] pythoulon commented on #672
@nsitu No idea... Looks like a problem somewhere deep in npm (or worse in Google Drive's implementation ?)

[2021-04-07 19:37] razakadam74 commented on #3027
I don't know if this helps in any way however I think it might help with your investigations. I was facing same issue using vscode terminal to run `npm install`. It worked when I run it in a Powershell outside vscode.

VScode Env:
![image](https://user-images.githubusercontent.com/18744531/113923859-e609e580-979d-11eb-9b68-3b09d8907db9.png)

[2021-04-07 20:31] nlf commented on #3040
i'm not able to reproduce this..

i'm curious though, the output of `npm i -g @altostra/cli` for you looks like:

[code]

whereas when i do it, i get

[code]

are you sure you're using npm 7.8.0? the output above looks like what it did in npm 6. specifically the "and audited" part of the output was removed in npm 7.

[2021-04-07 20:42] nlf commented on #3038
this is deliberate. the `prepublish` script has been deprecated since it never really did what people expected.

see https://docs.npmjs.com/cli/v7/using-npm/scripts

more likely, for your use case, `prepare` is the appropriate script

[2021-04-07 20:42] #3038 closed, assigned to nobody

[2021-04-07 20:46] ljharb commented on #3038
@nlf wait, "deprecated" doesn't mean it shouldn't work at all. When did "prepublish" stop working intentionally in npm 7??

[2021-04-07 20:47] nlf commented on #3038
afaik we've never run it as part of `npm publish` in any npm 7 release

[2021-04-07 20:48] sayem314 commented on #3038
It’s so sad to deprecate this feature. Doesn’t make any sense really since it literally mean prepublish. Also deprecated doesn’t mean removed. A deprecated feature should still run with a warning that it will be removed in future.

[2021-04-07 20:52] ljharb commented on #3038
@nlf wow, i did not realize that; all my packages use "prepublish" and i was under the impression that planned disabling was never actually going to happen and did not make the v7.0.0 cut anyways.

[2021-04-07 20:53] nlf commented on #3038
that's the problem, it never did literally mean prepublish. it ran as part of every install cycle, and it ran at the wrong times. in fact, in npm 6 if you publish a module with a `prepublish` script, it would print a warning informing you that `prepublish` has been deprecated since npm 5.

[code]

[2021-04-07 20:53] ljharb commented on #3038
@nlf additionally, the original plan was to remove `prepublish` _entirely_, so that later, `prepublishOnly` could be migrated back to "prepublish", the proper name for `prepublishOnly`.

[2021-04-07 20:54] ljharb commented on #3038
(Historically, ftr, it did mean "only before publish"; it was expanded to the definition you're referring to to accommodate coffeescript users)

[2021-04-07 20:55] mattpen opened #3044 "[BUG] npm update changing package.json"
### Current Behavior:

`npm update` will make changes to package.json, even if `--save=false` or `--no-save` is present. This includes adding a newline to the end of package.json even if no other changes were present.

### Expected Behavior:

If save is set to false, `npm update` should not modify package.json

### Steps To Reproduce:

I see this same behavior with `npm config set save false`, `np

[2021-04-07 20:57] sayem314 commented on #3038
I understand now. Thanks. I have never noticed that warning because I actually never scrolled up my terminal after publishing. Anyway now I have to keep this in mind when creating  or updating a project.

[2021-04-07 20:58] nlf commented on #3038
that'd be ideal certainly, but us being able to safely migrate prepublishOnly back to prepublish is at least one more major away, along with a great deal of auditing of existing packages. i wouldn't hesitate to switch to `prepublishOnly` or `prepare` today, it's going to be quite a while before `prepublish` does the thing you'd expect.

[2021-04-07 20:59] ljharb commented on #3038
sadly this means i'll now have to call `npm run prepublishOnly` from inside `prepublish` to ensure that nobody accidentally runs `npm publish` in npm < 4 and thus skips the pre-publishing logic. it's fair that i've had since npm 4 to make this change, but i was pretty certain that it hadn't made the cut for npm 7 :-(

[2021-04-07 21:01] nlf commented on #3038
i do think it got left out of the blog post that detailed most of the breaking changes, to be completely fair. the scripts documentation i linked above was written based on what actually runs in the code today, rather than referring to the old and potentially incorrect docs. it's a very solid source of truth moving forward.

[2021-04-07 21:14] nlf commented on #2880
this is a difficult one because your expected behavior statement "the string should be converted to make it cross platform" means that we would have to parse bash scripts and port them to cmd scripts _and_ vice versa.

this is an absolutely _massive_ undertaking filled with a huge number of edge cases and gotchas. some versions of npm 7 attempted a form of this, but caused a lot of failures so we

[2021-04-07 21:22] mmiretsky opened #3045 "[BUG] `npm install` does not detect changes to `package.json` for private Git repositories"
### Current Behavior:

It seems that in NPM 7.8.0, `npm install` does not detect changes to `package.json` for private Git repositories. In other words, if you change `package.json` to upgrade to a new version of a private NPM package hosted in a Git repo, then run `npm install`, it says "up to date" and does not install the new version.

We host our private repos in Bitbucket. Here is a sample `p

[2021-04-07 21:37] ehoogeveen-medweb commented on #2880
Interestingly, it works if I wrap the entire command in yet another set of quotes.

If the following works from a cmd terminal: `"../test/test.cmd" "Hello world!"` (where test.cmd just does `echo %~1`)
Then the following script does not work: `"test": "\"../test/test.cmd\" \"Hello world!\""`
But this does work: `"test": "\" \"../test/test.cmd\" \"Hello world!\" \""` (spaces added for readability,

[2021-04-07 21:47] nlf commented on #2880
is that on the latest npm? 7.8.0?

[2021-04-07 22:25] nlf commented on #2880
ok, so to break this down. if you have a script defined like:

[code]

what we run is `cmd.exe /d /s /c ./node_modules/.bin/foo`

if you copy that to a running shell and run it, it fails with the `'.' is not recognized as an internal or external command` error, which is why you're seeing that with npm.

if you wrap it in quotes once, like
[code]

then we now run `cmd.exe /d /s /c "./node_modules/.

[2021-04-08 02:26] stuart-little opened #3046 "[BUG] npm install fails with 'ERR! subset is not a function'"
### Current Behavior:

In an empty directory, I am running `npm init` and then `npm install btoa`. The result:

[code]

### Expected Behavior:
The package installing without issue.

### Steps To Reproduce:
1. I am running `node v15.14.0` and `npm 7.8.0` on `Arch Linux` downloaded from its repo.
2. THis is a new project. There are no config files, no `npmrc`, etc.
3. `npm init` (pressing `Enter` th

[2021-04-08 04:39] dandv commented on #3023
Thanks @nlf, created https://github.com/npm/rfcs/pull/364.

[2021-04-08 05:19] juliendevleeschauwer commented on #2702
npm -g install npm@6.14.11

[2021-04-08 05:29] stuart-little commented on #3046
Actually, simply installing the [latest LTS](https://nodejs.org/en/download/) and removing all traces of the version installed through my package manager works out fine.

I think this may have had to do with the many quirks of how `Arch Linux` packages these things (I've had trouble before with their own version of [ghc](https://www.haskell.org/ghc/) for instance).

So at this point I don't know t

[2021-04-08 06:10] jfreixa opened #3047 "[BUG] NPM install private package not generate .bin symlink"
### Current Behavior:
When installing a package from a private registry in npm version 7.8.0 does not create a `node_modules/.bin` symlink to my package.
![NPM 7.8.0](https://user-images.githubusercontent.com/12124907/113975052-384f1300-983f-11eb-8ef7-9aded8da7d24.png)

### Expected Behavior:
In versions of NPM before 7.* `npm install` was creating the symlink to my package bin executable.
![NPM 6

[2021-04-08 06:14] ljharb commented on #3047
What kind of private registry is it? It's possible that it's not returning the "bin" field in the packument, despite it being in the package.json.

[2021-04-08 06:20] jfreixa commented on #3047
Hello,
I am using the same private registry (GitLab registry for npm packages) for the 2 tests shown above. In the following image, you can see the package installed inside the node_modules with the folder bin.
![bin folder](https://user-images.githubusercontent.com/12124907/113977308-ad701780-9842-11eb-9738-a0790e1e08b1.png)

Can you explain to me how can I see the packument?

[2021-04-08 08:04] ShlomiAltostra commented on #3040
@nlf
Yes, it adds the dependencies on the first run - then removes them in a subsequent run.

As stated in the issue - this is the output of `npm version` (it is npm 7.8.0)
![image](https://user-images.githubusercontent.com/57314279/113990413-1c0c9f80-985a-11eb-8905-44431758bd96.png)

The issue is consistent across various computers and operating systems.
Linux, macOS and even windows
![image](htt

[2021-04-08 09:17] caohuilin commented on #3021
![image](https://user-images.githubusercontent.com/12605189/114001138-39f3f780-988e-11eb-9a9c-dcf7c1d3024e.png)

[2021-04-08 10:11] denis-sokolov opened #3048 "[BUG] npm version commits with incorrect author name and email"
### Current Behavior:
`npm version` creates a git commit that has faulty author and committer name and email, if I rely on GIT_AUTHOR_NAME, GIT_AUTHOR_EMAIL, GIT_COMMITTER_NAME, GIT_COMMITTER_EMAIL variables.

### Expected Behavior:
`npm version` creates a git commit that follows the same rules as git does and respects GIT_AUTHOR_NAME, GIT_AUTHOR_EMAIL, GIT_COMMITTER_NAME, GIT_COMMITTER_EMAIL vari

[2021-04-08 10:27] denis-sokolov commented on #3048
The cause seems to be this strict decision to not pass through all environment variables, but explicitly whitelist the allowed ones. I can’t understand the reasoning behind the code, so it’s difficult to suggest a fix:

https://github.com/npm/git/blob/a34a6f221fd898c659ebf7e374f76e0b36f9ee37/lib/env.js#L26

[2021-04-08 10:28] Goobles commented on #2692
`npm install` has become more "[silent](https://github.com/npm/rfcs/blob/latest/implemented/0022-quieter-install-scripts.md)" and doesn't output the stdout of your scripts during installation.
Your hook script might or might not be executing without you knowing it. Verify by writing something to a logfile in your script instead of using `echo`

[2021-04-08 10:49] SiddharthShyniben commented on #2975
It's still broken @nlf. It does not install

[2021-04-08 11:01] joebochill commented on #3007
@nlf respectfully, I don't believe that's accurate. If you read the full report, the package consuming npm works fine under version 6 and works fine with version 7 when installed globally, but not via npx.

I merely used the package as an example to illustrate the problem. If it would be helpful, I can make a simpler reproduction example that removes all the extraneous package-related functionalit

[2021-04-08 11:26] aydin-faruk commented on #3037
Yes, but will cell or columns comments not work in excel 2016 version?

[2021-04-08 11:26] aydin-faruk commented on #3037
Yes, but will cell or columns comments not work in excel 2016 version?

[2021-04-08 11:26] aydin-faruk commented on #3037
Yes, but will cell or columns comments not work in excel 2016 version?

[2021-04-08 11:27] ZwapKillrath commented on #708
So....any one from npm listening?

[2021-04-08 11:41] jeanbmar commented on #708
This is a terrible change.
Package maintainers will have a lot of fun when people start reporting issues on wrong package versions based on what they see in package.json 🙃.

[2021-04-08 12:13] ZwapKillrath commented on #708
Yes. This is really terrible. Not able to maintain packages from one place is a set-back. Whatever change was made I would like it to either be restored or introduce a cmdline option for backwards comp.

[2021-04-08 12:58] poorna5500 commented on #1118
===============================
What / Why -- FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory
 1: 00007FF6D913058F napi_wrap+109311
 2: 00007FF6D90D52B6 v8::internal::OrderedHashTable<v8::internal::OrderedHashSet,1>::NumberOfElementsOffset+33302
 3: 00007FF6D90D6086 node::OnFatalError+294
 4: 00007FF6D99A150E v8::Isolate::ReportExternalAllocationLimitReached+94

[2021-04-08 12:58] ZwapKillrath commented on #3044
Related to #708?

[2021-04-08 12:59] ZwapKillrath commented on #708
Related #3044?

[2021-04-08 15:01] ray007 commented on #2838
Another box, another error.
Homeworking with a laptop now, I'm getting this error on `npm up -g`:
[code]
[2021-04-08T14_54_04_874Z-debug.log](https://github.com/npm/cli/files/6279576/2021-04-08T14_54_04_874Z-debug.log)
This with npm `7.8.0` and node `v14.16.1` on Windows 10.

Running as admin does not change anything.

[2021-04-08 19:50] aravindvnair99 commented on #2818
Node.js 15.13.0 here with npm 7.8.0

Failing in my CI environment when trying to upgrade to 7.9.0:

[code]

[2021-04-08 21:31] wraithgar commented on #3042
by design, npm does not have any lifecycle events/scripts that run during uninstall.  I would agree that they should be there, but we would have to discuss it as part of our RFC process.

@darcyclarke can we add this issue to the next RFC call?

[2021-04-08 21:37] wraithgar commented on #3034
All of the lifecycle scripts have a `pre` and `post` event that runs before and after the main scripts. Their reason for existing is cases like this.  They admittedly only work for very simple cases like this where there are only two packages, and having one go before the other solves it.  More complex setups would require a whole new spec.

So, to be clear, before `prepare` scripts are run any `p

[2021-04-08 21:38] wraithgar commented on #3034
If you would like to propose a more formal solution for this problem that allows for more complex situations to be addressed, the RFC process is a good place to suggest something: https://github.com/npm/rfcs

[2021-04-08 21:40] #2992 closed, assigned to nobody

[2021-04-08 22:22] timoxley commented on #3034
Preprepare does not solve my actual problem because I have 6 packages in my workspace and a nesting depth of 3.

I can make a rfc but I feel like it's more of a bug than a new feature, npm should be running the scripts for child dependencies before the parents.

[2021-04-09 02:33] augustobmoura opened #4282 "[QUESTION](arborist) What happened to global lifecycle hooks?"
# What / Why
Before npm@7 we had global lifecylcle hooks, `postinstall` and `postuninstall` script files in the directory `/node_modules/.hooks` were run for every package being installed or removed, but since npm@7 this scripts don't run at all. This worked for both local `node_modules` and global `$NPM_PREFIX/.npm/lib/node_modules`

Is that a bug? Or global hooks were removed once and for all? T

[2021-04-09 06:12] darcyclarke commented on #3042
@wraithgar I wasn't aware that this was a design decision(?) This definitely did work in v6 (was able to replicate below), feels like a legitimate bug but I could be wrong...

## v6.14.12
<img width="834" alt="Screen Shot 2021-04-09 at 1 22 04 AM" src="https://user-images.githubusercontent.com/459713/114133177-a3e2c000-98d3-11eb-8cad-582281570e8f.png">

## v7.9.0
<img width="1022" alt="Screen Shot

[2021-04-09 06:20] darcyclarke commented on #3048
@wraithgar any chance you can take a look at this as you were just in `npm version` the last few days making it workspace-aware?

[2021-04-09 06:47] #3027 closed, assigned to nobody

[2021-04-09 07:56] MorningK commented on #417
I got this error when i was running npm install
node -v
v14.16.0
npm -v
6.14.11
[2021-04-09T07_51_38_305Z-debug.log](https://github.com/npm/cli/files/6284052/2021-04-09T07_51_38_305Z-debug.log)

[2021-04-09 08:10] #2974 closed, assigned to nobody

[2021-04-09 08:22] ray007 commented on #2838
Update: at least here on the laptop the problem seems to be about argument handling.
Doing `npm up -g <module>` does work, only trying for an update of all fails.

[2021-04-09 11:30] bvaradha commented on #417
I got the same error on using this on actions on npm login. I am using mac OS as runner machine.
npm login --scope=@<username> --registry=https://<registryURL>/npm/
  npm login --scope=@<username> --registry=https://<registryURL>/npm/
  shell: /bin/bash -e {0}
  env:
    NPM_CONFIG_USERCONFIG: /Users/XXXXXXX/actions-runner/_work/_temp/.npmrc
    NODE_AUTH_TOKEN: XXXXX-XXXXX-XXXXX-XXXXX
npm notice

[2021-04-09 11:54] Goobles commented on #3042
Some packages depend on a preuninstall hook: [winser](https://www.npmjs.com/package/winser) documents it to add and remove background processes on install/uninstall.

I personally use it for an in-house cli tool that installs a local rest api that runs in the background at all times. When installing a new version this service needs to be uninstalled as to not cause file lock issues in Windows, and

[2021-04-09 15:33] JeffSpies commented on #2818
Just to add a data point, if it helps:

Same error as OP for node v15.5.0 installed via nvm 0.35.3 on Ubuntu 18.04.5 LTS. Installed agentkeepalive manually to get npm updated.

[2021-04-09 15:40] wraithgar commented on #3042
Good catch. I was looking at the [Lifecyle Operation Order](https://docs.npmjs.com/cli/v7/using-npm/scripts#life-cycle-operation-order) Which doesn't mention uninstall at all. The only place uninstall is mentioned is in that example itself.

I agree this is now an arborist bug.

[2021-04-09 16:56] nlf commented on #3047
I suspect that the minified packuments that the cli requests are missing the bin field, which is necessary for us.

you can try something like

[code]

the result should have a `"bin"` field in each version, if it does not try the same command but leaving out the `Accept` header. if that one _does_ have the `"bin"` but it doesn't in the first request then it appears GitLab is returning incorrect d

[2021-04-09 16:57] #2414 closed, assigned to nobody

[2021-04-09 17:01] wraithgar commented on #3048
After some internal discussion we have decided that if a user has set any of the `GIT_` environment variables they meant do do it, and they should not be filtered out.  The PR in npm/git will add the two entries we do care about (askpass and ssh) but only if they were not already set by the end user.  The rest of the environment will pass through unaltered, as I would assume is expected by most en

[2021-04-09 18:00] smnbbrv commented on #2796
Just had the same issue and resolved it by adding dot in front of directory:

[code]

This resolved the issue

[2021-04-09 18:00] sorahn commented on #2971
Is there a way to do this that doesn't involve nuking and re-creating the package-lock.json file?

[2021-04-09 18:15] darcyclarke commented on #3040
@ShlomiAltostra can you provide the output of `npm config ls`?

[2021-04-09 18:28] darcyclarke commented on #3044
@mattpen can't seem to reproduce; Can you try updating to latest (`npm i -g npm` should be `v7.9.0`)

[2021-04-09 18:32] nlf commented on #3021
i see you're using a different registry.. it could be that registry is not returning all of the metadata that we need in order to install completely.

with your current configuration, can you try creating an empty directory and running `npm install create-react-app` in it and see if you get the same error?

if you do, create a second empty directory and in that one run `npm install create-react-ap

[2021-04-09 18:32] darcyclarke commented on #2796
@anru as @smnbbrv notes, the correct syntax/format for `publish` here is to include the correct path (ie. `./` at the beginning of your package dir)

[2021-04-09 18:32] #2796 closed, assigned to nobody

[2021-04-09 18:34] smnbbrv commented on #2796
Well, it was working before without the dot. That's a weird thing. However, good that solution is found :)

[2021-04-09 18:35] darcyclarke commented on #2799
@fetis we're currently fixing up some issues with auth in `npm-registry-fetch` & should have an update here once those land

[2021-04-09 18:38] darcyclarke commented on #2826
Can replicate & we're discussing internally how to fix this bug

[2021-04-09 18:39] mattpen commented on #3044
@darcyclarke - I just upgraded and I still get the same results (npm update inserts trailing newline into package.json) with v7.9.0.

[code]

[2021-04-09 18:43] darcyclarke commented on #2770
Closing - Duplicate

[2021-04-09 18:43] #2770 closed, assigned to nobody

[2021-04-09 18:44] darcyclarke commented on #2812
Closing as its a duplicate of https://github.com/npm/cli/issues/2264

[2021-04-09 18:44] #2812 closed, assigned to nobody

[2021-04-09 18:47] felipecrs commented on #2826
I have some ideas:

1. Make `npx` look up for `node_modules/.bin` folder up to the root folder `/`
2. Create a symbolic link of the root's bin folder: `website/node_modules/.bin -> ../node_modules/.bin`
3. Create a symbolic link of the modules defined in the child workspace: `website/node_modules/.bin/docusaurus -> ../node_modules/.bin/docusaurus` **(seems to be the best approach to me)**
4. Insta

[2021-04-09 18:49] darcyclarke commented on #2783
@mesqueeb we're still looking into this at the moment but when method that might help you, as a stopgap, is to run `npm install` with the flag `--legacy-bundling`; This will nest deps relatively but eliminate deduping.

[2021-04-09 18:51] #2785 closed, assigned to nobody

[2021-04-09 19:00] darcyclarke commented on #2703
@JGAntunes sorry for the confusion. We're going to update our docs to be more clear here. The current implementation is working as expected in v7.

[2021-04-09 19:06] ljharb commented on #2826
The last option makes the most sense to me; if you wanted to run a bin from the root it'd be in the root's package.json.

[2021-04-09 19:07] nlf commented on #2797
there's an answer in the linked stackoverflow page that mentions this, but there are a couple of `bash.exe` files included with git bash, some will set MSYSTEM to the correct MINGW value, some do not

my advice would be to edit your settings and change your profile in windows terminal so that instead of

[code]

you have (note the removal of `/usr`)

[code]

which i can confirm sets the appropriat

[2021-04-09 19:07] #2797 closed, assigned to nlf

[2021-04-09 19:12] nlf commented on #2261
the above comment is correct. if we exit due to a signal or a non-0 exit code, we print the error banner. this isn't a bug as we have no other way to determine if a process we ran failed for some reason.

[2021-04-09 19:12] #2261 closed, assigned to nobody

[2021-04-09 19:27] abale commented on #2306
Check if your working directory has a LOT of files in it (or a subfolder...) we just had the same issue in prod with a ~1M file subdirectory and it was crashing NPM after ~500S and hitting 4GB of heap.

[2021-04-09 19:41] nlf commented on #2702
as mentioned previously, this is intended behavior. if you'd like you can also skip installing peer dependencies by passing `--legacy-peer-deps` as an option at install time.

[2021-04-09 19:41] #2702 closed, assigned to nobody

[2021-04-09 19:42] nlf commented on #2710
if you're still experiencing problems, please open a new issue and be sure to fill out our issue template to the best of your ability.

[2021-04-09 19:42] #2710 closed, assigned to nobody

[2021-04-09 19:44] nlf commented on #2721
we've made some improvements to how global updates work in the time since this was opened. if your current npm isn't capable of installing a new npm, you can always try our install script detailed here https://github.com/npm/cli#direct-download

that script will download and install the latest release for you and only requires a working nodejs installation

[2021-04-09 19:44] #2721 closed, assigned to nobody

[2021-04-09 19:51] nlf commented on #2724
i want to be sure i'm understanding your issue correctly, is the problem only the missing `_deduped` field in the json result?

i believe that if you update to the latest npm 7 release (7.9.0 as of this moment) that the error you were getting should be fixed, but i want to make sure we're not missing anything here.

[2021-04-09 19:58] nlf commented on #2734
we don't do glob expansion of the prefix anywhere. it works in linux and mac os because, as you noted, the shell does the expansion for you. the `prefix` config is only intended to have one value, so accepting a glob there doesn't make much sense. in addition to that, our workspace support is evolving and this will be done in a much more deliberate way in the future (i.e. a workspace specific conf

[2021-04-09 19:58] #2734 closed, assigned to nobody

[2021-04-09 19:59] nlf commented on #2735
as mentioned, we print a warning when this happens. in addition to that we've made some improvements to how peer dependencies are added and saved that i believe should address this problem.

[2021-04-09 19:59] #2735 closed, assigned to nobody

[2021-04-09 20:06] nlf commented on #2738
the dependency error you got, is this (copy/paste from logs)

[code]

this is caused because you have `react-addons-css-transition-group@15.6.2` in your tree, which depends on `react@"^15.4.2"` while at the root of your project you have installed `react@"^16.11.0"` which is incompatible.

to resolve that you'd either have to update to a version of react-addons-css-transition-group that has a peerD

[2021-04-09 20:06] #2738 closed, assigned to nobody

[2021-04-09 20:12] jfoclpf opened #3056 "[BUG] npm install script not working when I run npm install as dependency"
### Current Behavior:
npm install script defined in `package.json` not running when I do `npm install <packg>` to install `<packg>` as dependency

### Expected Behavior:
npm install command should run `install` script

### Steps To Reproduce:

I created a npm package named `cordova-import-npm` with this script portion in `package.json`:

[code]

When I run `npm install .` _inside_ the root of the

[2021-04-09 20:12] felipecrs commented on #2826
What if there are two child projects which has `docusaurus` as dependencies? Would be good if npm would be smart enough to download it once (if the version constraints match of course), instead of downloading it twice in each repo.

That's why I think the third option would be better than the fourth.

[2021-04-09 20:13] nlf commented on #2771
fwiw the registry should be just `https://registry.npmjs.org` without the path.

if you update to the latest npm (7.9.0 as of now) do you still see this issue? i'm not able to reproduce this, whether blocking traffic to the registry or setting the registry to a host that resolves but doesn't respond.

[2021-04-09 20:24] nlf commented on #2779
1. you're right, we should do that.
2. that's an interesting idea and one we may consider
3. this is a tough one because today the argument parser for npm in general accepts invalid options. changing this would require changing it for every command together, and would absolutely be a breaking change. this is, however, something that's on our radar for the future.
4. an offline mode would be diffic

[2021-04-09 20:33] nlf commented on #2784
this is somewhat intentional, but there is a bug here i think.

to go into further detail, when you install a git dependency (or a directory) into your project, we assume that the target is not necessarily a fully realized package. we clone the repository, we install the dev dependencies and we run relevant lifecycle scripts (like prepare) to ensure we have as close to what the published result of

[2021-04-09 20:34] #2786 closed, assigned to nobody

[2021-04-09 21:13] ljharb commented on #2826
Hoisting the dependency itself would make sense - but not the bin.

[2021-04-09 21:24] achingbrain commented on #2734
Do you mean this? https://docs.npmjs.com/cli/v7/commands/npm-run-script#filtering-workspaces

I can’t see anything in there about wildcard support, did I miss something?

[2021-04-09 21:34] felipecrs commented on #2826
In a monorepo, I would like to have `semantic-release` defined in the root project, so it would be available for all the child projects, even the binary because I would need to run `npx semantic-release` in all the child projects.

The only solution which would match this requirement would be 1 and 2. But now I thought in a new one which builds on 4:

5. Install the `bins` only to the project they

[2021-04-09 21:39] ljharb commented on #2826
Yes, option 5 is what I'm expecting, with npm's current hoisting model.

[2021-04-09 21:44] felipecrs commented on #2826
Apart from that, I think option 1 could be implemented as well, together with 5, and it would be harmless. No? It would only make `npx` smarter IMHO. [As the `require.resolve` works](https://nodejs.org/api/modules.html#modules_require_resolve_request_options).

[2021-04-09 21:45] #3048 closed, assigned to wraithgar

[2021-04-09 22:11] ljharb commented on #2826
Either or both could be done, yes, but workspace correctness would still require option 2, 3, 4, or 5.

[2021-04-09 22:14] nlf commented on #2734
We apparently didn't document it, but yes, it accepts a glob and will match on it

[2021-04-09 22:36] achingbrain commented on #2734
Great, I’ll give that a go - thanks!

[2021-04-09 22:42] nlf commented on #2794
we resolve the dependencies based on what's in the package.json of the dependency, not what you specified when installing.

when you `npm install flex-plugin-scripts@beta` we read the package and determine the version tagged `beta`, which at the time of writing is now `4.6.0-beta.0`. we then fetch that package and inspect its dependencies, you can do this yourself by running `npm show flex-plugin-

[2021-04-09 22:42] #2794 closed, assigned to nobody

[2021-04-09 22:50] cyberbiont commented on #2339
A common use case (and good practice, I believe) is having a configuration packages such as  `eslint-config-...`, `jest-config-...` etc.
They contain eslint, jest and other stuff, which they need to function, as peer dependencies and usually are npm-linked across all my projects. These allows me to avoid cluttering project's package.json with dozens of linting/testing dependencies, that repeat in

[2021-04-10 07:58] Prajwal-Adhav commented on #417
Hello  Everybody I am also encountering with the issue of npm ERR! cb() never called!
I will give all the possible data that I have regarding this error:-
O.S-Windows 10 Version 20H2
OS build-19042.746
npm version-v6.14.12
Node version-v14.16.1
While I was trying to download an external dependency for a React Web application I typed "npm install" in the node terminal and after some time this error

[2021-04-10 13:57] yairEO commented on #2834
I also confirm this issue occurs as of *right now*, using `npm` version `7.9.0`, `node` version `v12.21.0`

I've removed the `publishConfig` property from the `package.json` file and now I am able to publish.

[2021-04-10 16:25] noneedinmagic opened #3057 "[BUG] `npm install` does not install actual version of dependency from package.json leaving outdated one there"
### Current Behavior:

I have an exact dependency in my package.json:

[code]

But inside node_modules there is a 13.0.0 version beacause previously it was a subdependency of another dependency.
This is a prod environment which is set up via CI/CD, so usually I do not install and update dependencies there manually, they are changed only via `npm install` after fetching new changes from the origin

[2021-04-10 17:58] DeeDeeG opened #3058 "[BUG] `npx node-gyp@version` runs the copy of node-gyp bundled with npm instead"
### Current Behavior:

- `npx node-gyp@8` runs the older `node-gyp` 7.1.2 that is bundled with `npm`.
  - `/home/[me]/n-prefix/lib/node_modules/npm/node_modules/node-gyp/bin/node-gyp.js`

Same result if doing plain `npx node-gyp`. The latest version is v8.0.0, but v7.1.2 is used instead. Happens even if `node-gyp` v8 is installed globally, and no `node-gyp` is installed in the location `npx` is ru

[2021-04-10 19:54] NormandoHall commented on #708
Same here. I hate this "smart feature"

[2021-04-10 22:15] felipecrs commented on #1189
I was thinking about this issue, and I was able to successfully generate a shim for `npm` whichs work around this issue. It's based on https://github.com/kiennq/scoop-better-shimexe/pull/1. Demo:

## Fails with `npm.cmd`

[code]

## Works with the shim I generated, `npm.exe`

[code]

### Contents of `npm.shim`

[code]

I'm working on a module which would facility for such shims to be created when

[2021-04-10 22:49] augustobmoura commented on #2692
I can confirm that lifecycle hooks do not run, this is probably a regression and is impacting our users in [asdf-nodejs](//github.com/asdf-vm/asdf-nodejs). There's any work on going to fix this?

[2021-04-11 04:44] ctung opened #3059 "[BUG] npm ERR! integrity checksum failed when using sha512"
I'm just trying to do a fresh install of nodejs, npm & angular/cli

### Current Behavior:
Fresh install of nodejs and npm
npm i -g @angular/cli

FIrst I get " UNABLE_TO_GET_ISSUER_CERT_LOCALLY " errors.
I work around that by setting:
npm config set registry=http://registry.npmjs.org/

Now I get a bunch of "tarball data... seems to be corrupted" errors followed by "integrity checksum failed when us

[2021-04-11 06:07] CalculonPrime commented on #1905
Running with node v14 or v15 and npm v7, I'm finding that the "install" script of the modules being installed don't run if "npm install" is run in the directory of the dependent module.  Is that related to this problem or should I file a new bug?  Very simple to reproduce:
* create a new directory and run "npm init" in it
* in that same directory then do "npm install foo" where foo is a module wit

[2021-04-11 07:03] CalculonPrime commented on #1651
Our module not only prints output, it queries the user for configuration during installation, using readline(), and then downloads a third party library configured as requested.  With npm v7, the install script isn't running at all, because if the output was just getting suppressed, it would hang the install (I'm guessing, but I see no evidence it tried to run.)  This is disastrous.  Our module  n

[2021-04-11 07:27] CalculonPrime commented on #1905
What's the workaround for modules that were doing interactive install?  With output and input from the user?  This "quieting" has broken things badly for me!  Apparently, if the module calls readline() it just never executes at all.

[2021-04-11 08:11] ShlomiAltostra commented on #3040
@darcyclarke

[code]

![image](https://user-images.githubusercontent.com/57314279/114296966-b79a4c00-9ab6-11eb-9f27-9e9972ed26e9.png)

[2021-04-11 09:18] JohanSpannare commented on #3002
Yes, they are arguments, but you can also set them by editing js files.

# First problem
The problem are still there, TLS Client Hello message from https-proxy-agent is not following the RFC standard. It sends protocol version 1.0, but at the same time uses client version 1.2. This is not valid and will be dropped by WAF (Web Application Firewall/ F5).

# Second problem
And the HTTP connection hea

[2021-04-11 09:44] targos commented on #2735
I tried again with npm 7.9.0 and no warning is printed. I'd like this issue to be reopen because nothing has changed since I opened it.

[2021-04-11 13:02] wolffawaz opened #3061 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-04-11 14:04] #3061 closed, assigned to nobody

[2021-04-11 14:57] felipecrs commented on #1189
I would like to extend this bug coverage a bit:

- This happens with any module installed by NPM on Windows, as stated in the issue description
- This happens with NPM itself, as its executable is `npm.cmd`

[2021-04-11 15:03] orangecms opened #3062 "[BUG] dependency loses transitive dependency"
Note: I am not sure if this may be a duplicate, as there a some hundred issues around dependencies and I am not sure about keywords to narrow down the issue I ran into.

### Current Behavior:

When I ran `npm update` in a project, a dependency (`recharts`, see below) ~~that introduced the v7 lockfile format~~ **edit: should be no issue as per https://github.com/npm/cli/issues/3062#issuecomment-817

[2021-04-11 15:04] ljharb commented on #3062
package-lock is not published, so the lockfile format of a dependency has no impact on consuming projects.

[2021-04-11 15:23] orangecms commented on #3062
Gotcha and thank you for the quick remark! I've edited the title thusly and a mistake in the report. The dependency :chain: got me a bit confused at some point. Now it should be correctly described. :-)

[2021-04-11 15:28] orangecms commented on #3062
Another note: `npm update` did *not* update the dependency `recharts` in our `package.json` directly, only in our package-lock. I ran an explicit `npm i recharts@latest`, but that didn't fix the issue. Now looking closer, `package.json` wasn't even changed at all.
I hope this helps break down the issue.

[2021-04-11 15:32] orangecms commented on #3062
Even fishier, our commit `d273e384c0885cef51599a2f8a13cefd4ee5069f` had the transitive dependecy removed. I pretty much doubt that it was edited by hand, but will check back with my fellow devs.

[2021-04-11 15:35] orangecms commented on #3062
Ah, I notice that this made the switch to the v7 package-lock in our project. It could be a migration bug. Sorry for all the addenda; this really is quite a ride. :roller_coaster: :ferris_wheel:

[2021-04-11 16:22] orangecms commented on #3062
Ok so ... I had to dig through the several versions of these dependencies to figure out that the module raising the error wasn't supposed to be installed any longer in the version I still had in `node_modules/`. The rm-rf-reinstall "fixed" it.

[2021-04-11 20:03] mmiretsky commented on #3045
Folks, any idea when someone might be able to take a look at this issue? Thanks!

[2021-04-12 00:56] ctung commented on #3059
This is not a fix for npm, but for other people stuck in the same boat as me, I worked around npm by using yarn.
[code]
Even with yarn, I ran into "Integrity check failed" during my "ng new".  However I was able to workaround with:
[code]

[2021-04-12 06:07] adamlaska opened #3063 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-04-12 06:08] #3063 closed, assigned to nobody

[2021-04-12 06:30] jfreixa commented on #3047
Hello,

The 2 responses from the registry are not returning the `bin ` field. Also I am installing the same package and same version in different npm versions (6 works and 7 not works).
Had NPM changed the way of creating `.bin` folder between versions and NPM 7 needs the `bin` field in the response?

**With header:**
`curl -H 'Authorization: Bearer yXHT7pAAHoGRACTXtDYA' -H 'Accept: application/vn

[2021-04-12 07:57] ctung commented on #3059
Further progress...
I changed windows to safe mode, to see if I was loading something that was causing the problem.
Turns out if you switch to safe mode without a windows password (not pin), you brick your Windows installation.
So after re-installing windows... no more integrity check issues.

I suspect there was something on my computer that was either acting as a proxy, or altering shaping the f

[2021-04-12 07:57] #3059 closed, assigned to nobody

[2021-04-12 08:32] ghost commented on #3047
Hello,

This problem comes from gitlab.
See this issue for more information:
https://gitlab.com/gitlab-org/gitlab/-/issues/275992

[2021-04-12 08:51] jfreixa commented on #3047
I didn't find it before. Thank you so much for your time.

[2021-04-12 08:51] #3047 closed, assigned to nobody

[2021-04-12 10:19] 0xPolybit commented on #417
![npm-not-working](https://user-images.githubusercontent.com/62232457/114379422-6a95a300-9ba6-11eb-8a5e-60b5bb9762e8.PNG)
I was trying to create a React app for my personal project, but then this error pops up whenever I'm in the middle of downloading `react-dom`. I see several people facing this issue, so I think this is a problem with npm itself.
Please help us.

[2021-04-12 10:33] 0xPolybit commented on #417
I found a quick fix. Don't know why it worked, but if you're on **Windows**, fixing the problem is as simple as going to the **Control Panel** > **Uninstall a program**, then selecting **Node.js** and clicking **Repair**. It works!

[2021-04-12 10:52] networkandcode opened #3064 "ssri 6.0.1 vulnerability"
Hi, Prisma cloud scan for our docker container which has node 12 and npm 6.14.12 detected a vulnerability for the ssri 6.0.1 package.  Any solution for this please.

Description of the vulnerability and fix below:
ssri 5.2.2-8.0.0, fixed in 8.0.1, processes SRIs using a regular expression which is vulnerable to a denial of service. Malicious SRIs could take an extremely long time to process, leadi

[2021-04-12 11:21] m90 commented on #3028
Possible duplicate of https://github.com/npm/cli/issues/2339

[2021-04-12 14:21] Jolg42 commented on #482
We're having many issues since a few days, we have to wait and retry multiple times after publishing a new version for our packages.

It fails with `No matching version found for <packageName#previousVersion>` and goes away sometimes after waiting more than 10 minutes. Which is a bit too long, it was working fine before (2 weeks ago for example.)

[2021-04-12 14:58] nlf commented on #3064
we've already published ssri@6.0.2 that resolves this vulnerability and npm@6.14.12 that includes this update. advisory databases are still being updated to reflect the fix.

[2021-04-12 14:58] #3064 closed, assigned to nobody

[2021-04-12 14:59] nlf commented on #3062
am i understanding correctly that this isn't an issue and the dependency that was removed wasn't a bug?

[2021-04-12 15:41] valdiss commented on #708
Yep, same here, npm update has always been a problem, all I want is a command that updates my packages to the last version possible indicated by ^ in the package .json, what would be the point of putting ^ in my package versions otherwise?

[2021-04-12 15:48] orangecms commented on #3062
I needed to recap, because this thing is a bit of a 🐇 🕳️ .

It *is* an issue, and the best I can describe it thus far is that npm was trating `node_modules/` wrong somehow. It's supposed to align with `package{-lock}.json` for `npm install`, but old stuff was left in the modules directory, which ended up as errors at runtime.
I had the same experience when I had it working again after removal and

[2021-04-12 15:50] Choc13 commented on #1152
Also seeing this issue. Luckily after an hour of fumbling around on Google I found this issue. I'm not sure how I would have figured this out otherwise as there was nothing in the error message to indicate that a package name is required. I guess something is just calling `.length` on the name without first checking whether or not it's defined. Would be nice to at least warn if the name was missin

[2021-04-12 16:00] nlf commented on #3062
interesting. let me restate the problem here to make sure i'm understanding exactly what's going on.

in my project A, i have a dependency on package B@1.0.0. B@1.0.0 has a dependency on C@1.0.0. i've already run `npm install` and have a populated and correct `node_modules` as well as a `package-lock.json`.

i now run `npm update` which installs the semver-compatible (based on the range in my `pac

[2021-04-12 17:56] orangecms commented on #3062
Almost! Stop after having `node_modules` populated and having `package-lock.json`. I check out a newer commit which created a change in `package.json`/`package-lock.json` (the update), and then I run `npm install` to replay and bring my existing `node_modules` into the new state. However, the old version of dependency C remains in my `node_modules`.

[2021-04-12 18:32] nlf commented on #2963
this was fixed in npm@7.7.5 and i've confirmed it can't be reproduced in versions after that.

[2021-04-12 18:32] #2963 closed, assigned to wraithgar

[2021-04-12 18:36] nlf commented on #2896
this error message was improved in npm@7.8.0

[2021-04-12 18:36] #2896 closed, assigned to isaacs

[2021-04-12 18:39] nlf commented on #3062
ah ha! ok, that helps a lot. thanks for talking that through with me. i'll see what i can do to reproduce this and investigate the bug

[2021-04-12 19:54] michalczaplinski opened #3065 "[BUG] on `npm install` npm does not run the `prepublish` scripts in workspace packages."
### Current Behavior:

Repo has workspace packages like:

[code]

Workspaces are defined like:

[code]

Package `a` has a `prepublish` script:

[code]

then when running `npm install` at root, the `prepublish` script does not run.

### Expected Behavior:
The `prepublish` script should run on `npm install` in all of the packages that are specified as workspace packages.

### Steps To Reproduce:
htt

[2021-04-13 01:05] mike247 commented on #2508
How is this not resolved yet?

[2021-04-13 01:27] mike247 opened #3066 "NPM login fails if missing trailing /"
### Current Behavior:
When running npm login for a private artifactory store or another private repo store, if the command is missing a trailing / it fails with a generic and unhelpful warning

[code]

compared with

[code]

In the first instance, the login works successfully but subsequent installs will error out on this message
[code]

In the second instance the login works and the install works

[2021-04-13 07:08] Kim-SSi commented on #643
I have also had this impact me. My default console size is 2000 x 9999 lines for development work.
Changing the Screen Buffer Size in either PowerShell or cmd can fix the problem.
To reproduce the issue in either PowerShell or cmd change the Screen Buffer Size (width x height):
500x500 works as expected.
1000x1000 causes the issue partly. conhost uses ~70-80% of a core.
1000x2000 causes the issue.

[2021-04-13 08:19] PhilipAbed commented on #2724
yes its those 2 issues, the error  and the missing deduped... i dont care about the deduped anymore i worked around that manually using paths..
so if error is fixed thank you

[2021-04-13 08:23] networkandcode commented on #3064
@nlf not sure why the scan still shows ssri@6.0.1 even after updating npm to 6.14.12

[2021-04-13 08:31] bk201- opened #3067 "[BUG] npx doesn't pass $1 properly to executed package on Linux/Darwin"
### Current Behavior:
Executing this script passes to the husky wrong argument, but it properly worked at npm@6
[code]

The result is:
[code]

### Expected Behavior:
The result is:
[code]

### Steps To Reproduce:
1. Created a new folder
2. `git init `
3. `npm init `
4. `npm install husky -D`
5. `npm set-script prepare "husky install"`
6. `npm run prepare`
7. `npx husky add .husky/prepare-commit-ms

[2021-04-13 09:51] rever67697 commented on #1995
useful

[2021-04-13 11:19] fresonn commented on #2606
@bl-ue Saw the same issue when upgrading to 7.x

[2021-04-13 12:03] Pauligrinder commented on #2022
Hey thanks for mentioning this. This worked for me as well! (Installing an npm package from a vsonline private repo)

[2021-04-13 15:57] gabrielgagne commented on #2508
Same problem on my end, everything works fine node@12.19.0 & npm@6.14.8.
After upgrading to node@14.16.1 & npm@7.9.0 :
Error (with redactions):

npm ERR! code E401
npm ERR! 401 Unauthorized - GET https://nuget.xxxxxxx.ca/npm/xxxx-xxxx-master-npm/rimraf - Unauthorized
npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\g_abr\AppData\Local\npm-cache\_logs\2021-04-13T15_45_24_9

[2021-04-13 16:13] leepowelldev commented on #2508
@gabrielgagne - in your `package-lock.json` file, is the URL for the resolved entry of `rimraf` pointing to `https://nuget.xxxxxxxx.ca/npm/xxxx-utilities-master-npm`? or is is pointing to a different URL?

[2021-04-13 16:17] gabrielgagne commented on #2508
@leepowelldev
My bad forgot to include it in the original post, altough I get the same error while trying to install node_modules from a package-lock.json, this occurs when straight installing a global package with

npm i -g rimraf

When installing from the package-lock.json, all resolved package are from our private feed
https://nuget.xxxxxxx.ca/npm/xxxx-cumulus-master-npm
with the .npmrc in the

[2021-04-13 16:20] leepowelldev commented on #2508
@gabrielgagne - try updaing your .npmrc to this:

[code]
I don't know if it will make any difference, but in Azure I have to use both ...

[2021-04-13 16:34] gabrielgagne commented on #2508
@leepowelldev
It does seem to work when specifying the credentials for the exact feed / sub route on the server

always-auth=true
 //nuget.xxxxx.ca/npm/xx-utilities-master-npm/:_password=xxxxxxxxx
//nuget.xxxxx.ca/npm/xx-utilities-master-npm/:username=gabriel.gagne
//nuget.xxxxx.ca/npm/xx-utilities-master-npm/:email=gabriel.gagne@xxxxxxx.com
//nuget.xxxxx.ca/npm/xx-utilities-master-npm/:always-aut

[2021-04-13 16:47] cx-david-moreira opened #3068 "[BUG] `npm ls --all` does not list dependency tree without node_modules"
### Current Behavior:
The command `npm ls --all` does not list the dependency tree, without _node_modules_ folder. This command is failing to list the dependency tree with only the _package-lock.json_ file, using npm v7.

### Expected Behavior:
Using npm v6, the `npm ls` command is working as expected, by listing the dependency tree, with only the _package.json_ and _package-lock.json_ files prese

[2021-04-13 16:52] wraithgar commented on #3048
`@npmcli/git@2.0.7` is in `release-next` on the cli and unless some show stopper is found there will go out w/ the next cli release.

[2021-04-13 17:07] nlf commented on #3046
yeah this sounds like somehow your package manager ended up installing old versions of modules for some reason.. since it works correctly when you installed node and npm yourself outside of the package manager, i agree with you that this is unlikely to be a problem here and is almost definitely a packaging issue in Arch.

if you discover otherwise, do feel free to reopen this issue, but i think we

[2021-04-13 17:07] #3046 closed, assigned to nobody

[2021-04-13 17:08] nlf commented on #3066
can you share some logs from the failing run? this may be an issue with how your registry itself works, but i need more information

[2021-04-13 17:13] leepowelldev commented on #2508
@gabrielgagne hmm, in my experience the issues I've seen are when resolved urls in the package-lock.json file do not match the domain of the registry you're attempting to install from. It seems the package-lock.json is much stricter in v7.

[2021-04-13 17:14] nlf commented on #3068
confirmed, easy to reproduce this one. thanks for letting us know!

[2021-04-13 17:14] leepowelldev commented on #2508
@gabrielgagne one last thing, is there anything in your password that might trip npm up? special characters or similar? maybe you could try base64 encoding your password and trying that?

[2021-04-13 17:31] gabrielgagne commented on #2508
@leepowelldev
Thx for the help, no I don't think there is anything problematic in my password.

Also I do not think its quite related to what's resolved in the package-lock, as I've tested in a random folder by installing a global package (npm i -g rimraf), so this is really where I'm at now, I think its some sort of a credential-resolving by npm

The first cfg makes it possible to 'npm i -g rimra

[2021-04-13 17:38] nlf commented on #3058
i can confirm this, and i see the reason it's happening, but i need to do a bit of research to see why the code is the way it is before we can consider changing it. i'll do some digging and follow up here when i have an answer

[2021-04-13 17:55] leepowelldev commented on #2508
Yes, and I think that's the big change in v7 - as in v6 you could specify the registry in which to install from `npm install registry=https://url.to/my/registry` which v6 would respect and attempt to transparently install everything from that registry only checking the checksum values to ensure nothing suspect it happening.

In v7 I don't believe it respects any passed registry, either via command

[2021-04-13 18:37] gabrielgagne commented on #2508
@leepowelldev
Yeah sadly it is not listed in the breaking changes of the v7 release
https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/

So i'll continue to treat it as a bug. I'll postpone my update and hope that this gets fixed. If not, well... I guess we'll have to reserve a bunch of dev hours.

[2021-04-13 18:47] DeeDeeG commented on #3058
I filed another issue that seems related or at least tangentially related: https://github.com/npm/cli/issues/2839. I suppose they might be solved at the same time, depending on what the exact details turn out to be.

[2021-04-13 19:46] RA80533 opened #3070 "[BUG] `npm diff` expands filenames passed to it"
### Current Behavior:

[code]

npm appears to implicitly treat "index.esm.js" as if it ended in an asterisk / wildcard operator. It returns diffs for both index.esm.js (expected) and index.esm.js.map (not expected).

[code]

### Expected Behavior:

[code]

[code]

### Steps To Reproduce:

Refer to the above console statements.

### Environment:

<details>
<p>

- macOS 10.14.6
- Node.js v15.14.0
-

[2021-04-13 20:46] vgarba3 opened #3071 "[BUG] Updating package in `workspace` child project to the already hoisted version does not remove old version from the child node mods"
### Current Behavior:
When using workspaces if two child projects share the same dependency but different versions the highest version (App1) is hoisted to the root nod_mods and the project (App2) with the lower version installs the package to its local node mods. The issue is that when / if the project (App2) with the lower version installed decides to upgrade its package to match the version tha

[2021-04-13 21:14] Piedone commented on #564
I'd add that `npm ci` is significantly slower even when done repeatedly, with a local NPM cache, so it can't simply be used in its current form to prevent package-lock changes (and installing potentially different dependencies each time). For example, `npm install` is about 2s, `npm ci` 16s when run for the [same project of ours](https://github.com/Lombiq/Gulp-Extensions). After a cache clear they

[2021-04-13 21:16] isaacs commented on #3057
I can't seem to reproduce this, either as a direct dep or a transitive dep.  Can you share more about what else is in your package.json before and after editing it manually?

Are you checking in your package-lock.json?  Anything in node_modules checked in?

[2021-04-14 00:04] noneedinmagic commented on #3057
My package.json:

[code]

package-lock.json is added to git, so I have it on the server too.

I might try to reproduce it again and share the steps, but later (it is night in my timezone now + I am ill now and have temporarily reduced productivity).

Also it might be worth noting that by now I reinstalled needed packages on the server by removing the whole /node_modules/ directory and installing i

[2021-04-14 06:38] darcyclarke commented on #2606
@evanw can you try updating to the latest version of npm? (ie. `npm i -g npm` - currently `v7.9.0`) I believe we fixed this issue a number of releases ago & forgot to follow up on this thread (apologies).

 Here's a quick screen from my test just now to try & replicate (and can't):

![Screen Shot 2021-04-14 at 2 36 42 AM](https://user-images.githubusercontent.com/459713/114664973-72e6fe80-9cca-11e

[2021-04-14 07:20] c-kunz opened #3072 "npx 6.14.12 fails to run when Node is installed in a directory containing parentheses"
### Current Behavior:

* npx fails to execute because the absolute path to `node.exe` contains parentheses.

[code]

### Expected Behavior:

* npx executes the given command (and therefore CLI echos `test`).

### Steps To Reproduce:

- Environment
1. Visit https://nodejs.org/dist/latest-v12.x/
2. Download node-v12.22.1-x64.msi
3. `mkdir "C:\node(test)"`

- Config
4. Install MSI and change destinat

[2021-04-14 08:30] picasso250 commented on #3018
yes, it is.
the file exists.

[code]

the `rollup` without `.cmd` is the bash file, which is installed by default.

I tried cmd and powershell, they are the same on that problem.

[2021-04-14 08:52] Allain55 commented on #708
Same here, I think this change's unacceptable for teams. And I don't understand why it wasn't communicated, I think many still doesn't know about this

[2021-04-14 09:36] evanw commented on #2606
This problem is most definitely **not** fixed. Here's the same demonstration of the broken behavior from the original post with all versions updated to the latest versions. This demonstrates that the same bug is still happening:

[code]

# Each step explained

Here is the demonstration of the bug broken down in detail:

* The first step installs the package using npm version 6. This represents som

[2021-04-14 09:41] pniederlag commented on #1219
Why was this ticket closed? I can also confirm the issue, engines and config engine-strict are ignored when running npm ci. That's not what I'd expect.

[2021-04-14 10:11] c-kunz commented on #3072
We were able to locate the issue to this line: https://github.com/npm/cli/blob/f96fa104ff9fcfa37b55599161ed73c15981dbd4/node_modules/libnpx/child.js#L79

We managed to fix this issue by also escaping the path segment if it contains any opening or closing parentheses:

[code]

However, we are not sure if this causes any harmful side-effects and are not yet knowledgable enough to provide a test.

[2021-04-14 10:14] Heatmanofurioso commented on #2553
Any news on this issue?
It has impact on many developers and libraries

[2021-04-14 10:45] Heatmanofurioso commented on #3057
This issue also seems to happen with angular dependencies a lot.
Updating the dependency version in the package.json and performing npm install doesn't always actually update the dependency inside the node_modules

[2021-04-14 11:18] mathase opened #3073 "[npm ERR! cb() never called!] <npx create-react-app >"
### Current Behavior:

I get an error when I create a new react app. console returns an "npm ERR! cb() never called!"
### Expected Behavior:

I expected it to generate a react app template.
### Steps To Reproduce:

C:\Users\murther\New folder>npx create-react-app bts

Creating a new React app in C:\Users\murther\New folder\bts.

Installing packages. This might take a couple of minutes.
Installing

[2021-04-14 12:02] noneedinmagic commented on #3057
Just tried to reproduce it with a new test repo on my local Windows machine and everything worked fine.
Clearly, there are some additional conditions, but now it is hard to identify them.

[2021-04-14 12:14] snipher-marube commented on #3073
me too am experiencing the same problem

[2021-04-14 12:45] wendimust commented on #3073
Same here

[2021-04-14 13:13] jansepke commented on #2983
This does only happen after upgrading to NPM v7 without changing the node version. So it seems to be related to a change made between NPM v6 and v7. Could you please reopen this issue.

[2021-04-14 13:19] weaintplastic commented on #2453
I;m using an artifactory registry and experience the same issue after upgrading npm v6 to v7. Looking forward to a fix to be able to upgrade to npm 7.

[2021-04-14 14:23] duongdominhchau opened #3074 "[BUG] npm doesn't read config from /etc/npmrc"
Instead, it reads config from `/usr/etc/npmrc`. This is correct docs-wise, but is unconventional on Linux. The convention is when install prefix is `/usr`, the directory `/etc` is used to store configuration (without the prefix).

### Current Behavior:
`npm` reads system-wide config from `/usr/etc/npmrc`

### Expected Behavior:
`npm` reads system-wide config from `/etc/npmrc`

### Environment:
- O

[2021-04-14 14:25] ljharb commented on #3074
What is your use case for system-wide configuration at all?

[2021-04-14 14:27] Heatmanofurioso commented on #3057
It doesn't happen all the time with all dependencies on me too.
I'm going to try and identify and investigate this too, but I've seen a lot of people complaining about this issue since migrating to npm 7

[2021-04-14 14:31] duongdominhchau commented on #3074
I use that to change the directories to follow XDG for all users (workaround because #654 is still open).

[2021-04-14 16:48] wadethomastt commented on #2005
I have a similar issue trying to install Strapi with a mongo db atlas database

[2021-04-14 16:49] wadethomastt commented on #2005
0 verbose cli [
0 verbose cli   '/usr/local/bin/node',
0 verbose cli   '/usr/local/bin/npm',
0 verbose cli   'install',
0 verbose cli   '--prefix',
0 verbose cli   '/var/folders/z4/53h7lvg109x6r9hf2frjdgxm0000gn/T/strapi6de616a20ae9',
0 verbose cli   'strapi-connector-mongoose@3.0.0-beta.18.7'
0 verbose cli ]
1 info using npm@7.6.0
2 info using node@v15.11.0
3 timing config:load:defaults Completed

[2021-04-14 16:50] strelga commented on #2783
@darcyclarke
Lack of the feature like `nohoist` or similar blocks my team from moving to npm 7 in our monorepo as well.
Do you have it in your roadmap for near future?
Maybe it is in some coming RFC?

[2021-04-14 18:25] dopecodez opened #3075 "[BUG] npm view --json sompackage dist-tags has invalid json"
### Current Behavior:
Running `npm view --json sompackage dist-tags` gives an error output in case no tags exist like:

[code]

The `stderr` contains the `json` response but also contains some text making the JSON unparsable.

### Expected Behavior:
We should be able to get a valid json in `stderr` without the extra string.

### Steps To Reproduce:
1. Run npm view --json sompackage dist-tags
2. Ob

[2021-04-14 19:06] vitmalina opened #3076 "Once package@1.0.0 was published, then unpublish, it cannot be published again with the same version"
I have package@1.0.0 and I run
[code]
Works great, package get published. Shows up on the website. Then I unpublish it within 24 hour period (package has not been downloaded by anyone yet, nor was it used as dependency)
[code]
it gets unpublished, all good, disappears from website. However, once I fix the issues and try to publish it again with
[code]
it gives me this error message
[code]

[2021-04-14 19:07] nlf commented on #3076
this is intentional behavior and we have no plans of changing it.

[2021-04-14 19:07] #3076 closed, assigned to nobody

[2021-04-14 19:15] vitmalina commented on #3076
Got it. Thanks.

[2021-04-14 21:07] redevill opened #3077 "[BUG] Package.json Vars $npm_config_{key} $npm_package_ are not in scope of the package.json scripts"
### Current Behavior:

A configuration parameter (can be seen with - npm config list) could be set using a command line parameter to a package.json script
e.g. npm run build -- prod where    "build": "npm config set environ"
now $npm_config_environ should be in scope for ALL package.json scripts:
e.g. "postbuild": "echo $npm_config_environ && npm run NodeSubscript && etc" **NO VALUE FROM ECHO**
an

[2021-04-14 22:29] togakangaroo commented on #564
I am in a dev environment and need to install, but I want to install *exactly* what is in the package-lock (because this is a stable product) and I have to do this multiple times a day as I switch branches/pull in changes from our monorepo.

In my case I am not worried about junk in `node_modules`, I just want to get all the npm packages that will make things work and I want them on the exact vers

[2021-04-15 00:50] ruluva opened #3078 "[BUG] Getting constant `FetchError...reason: Socket timeout` when installing packages"
### Current Behavior:
When trying to install packages, without a previous cache, we get constant timeouts when trying to fetch packages, both locally and in a CI environment. The package that fails is always different, so there isn't a specific package causing the issue.

Stack trace:
[code]

Tried using the fetch-retries, fetch-retry-mintimeout, and fetch-retry-maxtimeout options, but didn't seem

[2021-04-15 00:55] ruluva opened #3079 "[BUG] Getting constant `EEXIST: file already exists, open 'C:\npm\cache\_cacache\tmp\90a9a665` when installing packages"
### Current Behavior:
When trying to install packages, with a previous cache present, we get constant cache collisions when trying to install packages, both locally and in a CI environment.

Stack trace:
[code]

### Expected Behavior:
Be able to resolve cache collisions without failing

### Steps To Reproduce:
Using a project with workspaces (~6425 packages)
Previous cache available
Run npm ci

##

[2021-04-15 00:56] ruluva commented on #3079
This is more prevalent after a subsequent install attempt, trying to circumvent issue #3078. Seems to only affect Windows machines.

[2021-04-15 01:58] TalhaAhmedAI opened #3080 "npm ERR! cb() never called!"
talha@talha-Latitude-E5430-non-vPro:/media/talha/84563875563869D6/Projects/Pending/portfolio_project$ npx create-react-app porftolio

Creating a new React app in /media/talha/84563875563869D6/Projects/Pending/portfolio_project/porftolio.

Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts with cra-template...

npm ERR! cb() never called!

npm E

[2021-04-15 02:15] sunshu commented on #417
Update npm to the latest version fixed my question

[2021-04-15 03:03] darcyclarke commented on #3080
https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22

[2021-04-15 03:03] #3080 closed, assigned to nobody

[2021-04-15 05:17] domiSchenk commented on #2934
@wraithgar this also happens if the last or only version is a beta.RC candidate
like with the current Tauri beta release:
`npm install @tauri-apps/api`

![image](https://user-images.githubusercontent.com/6347221/114817591-938e8180-9dba-11eb-8d95-74f095b4a4e5.png)

[2021-04-15 06:21] trainoasis commented on #1431
But one should not delete package-lock.json on existing projects, especially with multiple people collaborating, unless you are certain you WANT to update all packages, no?  Also, we tried it, and after some weeks (and 1 user adding a new package), it happened again. So removing package-lock.json is certainly not an actual solution to this.

[2021-04-15 07:37] RobertBeilich opened #3081 "[BUG] install of local package differs from normal install"
### Current Behavior:
`npm install` of a local package does not place dependencies directly in node_modules (refer to reproduction for better explanation)

### Expected Behavior:
`npm install` of a local package should do exactly the same as with a normal remote package

### Steps To Reproduce:
[code]

### Use Case (in case I'm approaching this the wrong way)
Testing an eslint plugin in local deve

[2021-04-15 08:04] woody-li commented on #417
Same error, already repair Node.js.
[code]

[2021-04-15 11:22] rakeshims36 opened #3082 "Getting error while installing Angular"
npm ERR! cb() never called!
<img width="743" alt="MMIssue" src="https://user-images.githubusercontent.com/41721796/114861439-e55ef800-9e0a-11eb-9693-1c5ec8545b85.PNG">

[2021-04-15 11:23] rakeshims36 commented on #3082
I have cleared the cache as well but still i am getting installation issue.

[2021-04-15 12:01] cyrilletuzi opened #3083 "[BUG] Multiple related packages install fail due to wrong peerDependencies resolution"
### Current Behavior:

When having multiple packages relying on each others having the exact same version, trying to update them all via `npm install` fails when there is another package which loosely rely on them via `"peerDependencies": "^x.x.x"`, due to npm7 erroneous resolution.

Real world example: Angular core packages are supposed to be installed with the exact same version, so for example

[2021-04-15 12:08] ThePlenkov opened #3084 "[BUG] npm_ variables are lost when using script-shell config parameter"
Hi!

I just noticed that in case of using parameter  [script-shell](https://docs.npmjs.com/cli/v7/commands/npm-run-script#script-shell) we loose all environment variables.

It's very simple to check for example in Windows (`scripts:{set:"set", env:"env"})`)

Scenario 1 in windows - ok, npm_config_ variables are shown
[code]

Scenario 2 in windows WSL,  - also works
[code]

Scenario 3 - in windows

[2021-04-15 12:20] Ali-GreenHeart commented on #3073
same here ))

[2021-04-15 12:35] rarkins commented on #3083
Based on my debugging of this issue for Renovate, I found:
- For the case that fails, deleting both `package-lock.json` and `node_modules` then running `npm install` works fine
- If *either* `package-lock.json` or `node_modules` are present then `npm install` fails
- `npm install --force` works, and after that so too does `npm install`

[2021-04-15 13:09] keshaviagg opened #3085 "[BUG] <cb() never called!>"
I'm getting  cb() never called! this error and on running any command its showing error with npm please report

[2021-04-15 13:32] bwateratmsft commented on #3083
I think I'm seeing roughly this same behavior with `eslint` not installing `@eslint/eslintrc`, and also issues with `umd-compat-loader`.

[2021-04-15 13:47] dywilson-firstam commented on #3064
@networkandcode, fyi the upgrade to ssri@6.0.2 was done in npm 6.14.13.

@nlf, am I to assume the upgrade to hosted-git-info@2.8.9 also in npm 6.14.13 was to resolve CVE-2021-23362?

[2021-04-15 13:51] ljharb commented on #564
It doesn’t re-download anything - it just re-extracts it, which takes very little time. `npm ci` is indeed what you should use.

`npm install` does install from package-lock, it just doesn’t remove node_modules first, and takes “what’s installed” into account.

[2021-04-15 14:02] ljharb commented on #3085
#417.

[2021-04-15 14:10] Isaac-Tait commented on #2800
I was having this issue with my Gatsby build. I found [this](https://github.com/npm/cli/issues/1703#issuecomment-774684656) issue, specifically [this](https://github.com/npm/cli/issues/1703#issuecomment-774684656) comment which helped me solve.

Initially when I had updated TailwindCSS to v.2 I had a pesky error, and the work around was to install a PostCSS7 compatibility build (see [this](https:/

[2021-04-15 14:12] keshaviagg commented on #468
done everything still facing the same error.
![gitIssue](https://user-images.githubusercontent.com/51402838/114883635-bd7b8e80-9e22-11eb-9056-64647b8c7312.png)

[2021-04-15 14:14] Piedone commented on #564
My quick test explained under https://github.com/npm/cli/issues/564#issuecomment-819059390 shows that this re-extraction takes a lot of time, making `npm ci` 8x slower than `npm install` (on a high-end PC with a 500 Mb/s connection).

[2021-04-15 14:15] Isaac-Tait commented on #1703
Thank you @erichoswald https://github.com/npm/cli/issues/2800#issuecomment-820452325

[2021-04-15 14:16] nmm-shumway commented on #564
`npm install` does not install only from the `package-lock.json`. It takes it into account, but also bases itself off of `package.json` dependencies. You can see this explained in more detail at https://github.com/npm/npm/issues/18103.

You can also try it out yourself to verify. Run `npm install` with an outdated package in your `package.json`. If you have a "fuzzy" package-numbers specified (`~`

[2021-04-15 14:34] nmm-shumway commented on #564
I'll also add onto @Piedone's comment that I agree that `npm ci` is, in practice, much slower than `npm install`. I don't know what the reason for that is behind the scenes: if it's that extracting from the cache takes more time, or if it's (I suspect) because many modules have extra compilation steps with `node_gyp` that need to be run every time they're updated, or if it's some kind of default c

[2021-04-15 14:59] lucasff commented on #3072
nobody should ever put a parenthesis in a path. neither characters like Cyrillic or Chinese nor special characters. that's basically asking for trouble.

[2021-04-15 15:03] togakangaroo commented on #564
Hmm, is that so though @ljharb ?

[code]

Looks like this is not the case.

This is npm version `7.9.0`

[2021-04-15 15:23] tremblaysimon commented on #2008
Like I said in the PR comments a couple of days ago, I think the PR #2153 has never been merged so I think that issue shouldn't be closed.

[2021-04-15 16:33] visruth commented on #2135
it worked for me! Thanks!

[2021-04-15 17:53] jakub-g opened #3088 "Performance: Running `npm` on Windows runs `node` executable twice (which is slow), to find the prefix"
I'm not sure if this is feasible / easy to optimize, but when profiling some of our scripts, I noticed the following:

As a Windows user, when I run `npm` through git bash in my shell [1], or have a JS script which uses `child_process.spawn()` which calls `npm run something`, I expect that `node` executable will be run only once as a result of such command.

- [1] https://github.com/npm/cli/blob/v

[2021-04-15 18:14] nlf commented on #3085
see the above linked issue. if you still encounter problems open a new issue and be sure to fill out our issue template to the best of your ability.

[2021-04-15 18:14] #3085 closed, assigned to nobody

[2021-04-15 18:16] nlf commented on #3082
see #417 regarding cb() never called errors.

if you continue to experience problems, please open a new issue and be sure to fill out our issue template to the best of your ability.

[2021-04-15 18:16] #3082 closed, assigned to nobody

[2021-04-15 18:24] nlf commented on #3081
eslint is not able to follow the symlink? that seems strange.

that said, the creation of the symlink is the expected behavior today. one workaround would be to change directories into your `test-commonjs` project and run `npm pack`, then install your dependency from the tarball that's generated rather than the directory. the downside to this is if you make changes to your dependency, you'll have

[2021-04-15 18:31] nlf commented on #3078
judging by the path in your issue, i'm guessing that you are using a custom registry and not the npm one?

these socket timeouts seem like an issue with either your registry itself or the network connection between the computer you're installing packages on and your registry host. if you can, you might try installing some packages using the official npm registry just to see if you continue to have

[2021-04-15 18:59] RobertBeilich commented on #3081
the symlink is not the problem. the problem is that eslint (apparently) expects the plugins to be directly in node_modules (like `ansi-font` in the above example).

dependency tree for better clarification:
[code]
now the node_modules of `project` need to include `my_plugin` **and** `eslint-plugin-react` for eslint to work. With `npm install` from remote that is what happens, if `npm install` from

[2021-04-15 19:06] nlf commented on #3062
[code]

is telling us that you have `electron@^12.0.2` as a direct dependency. you're trying to add `electron-load-balancer@3.0.0` as another direct dependency, however that version of electron-load-balancer has a peerDependency on `electron@^9.0.0` so you get a peer dependency conflict.

following your steps to reproduce above:
[code]

we get a list of errors about missing and invalid dependencie

[2021-04-15 19:11] nlf commented on #3081
this is part of the behavior of linking a directory, we don't actually install that package and its dependencies, instead we only create a symlink and leave the already existing node_modules in place. that's why you end up with "my_plugin" and "eslint-plugin-react" not being at the same depth in node_modules.

you're right that we should document this more clearly, creating links when installing a

[2021-04-15 19:12] nmm-shumway commented on #564
Added a new [feature proposal](https://github.com/npm/feedback/discussions/340) in the feedback repo, and wrote up a [quick implementation](https://github.com/nmm-shumway/cli/commit/42d0c67ef2789a170114b2c6f27b7687d20f7485) of a `--from-lockfile` option for `npm install`.

It's very possible I'm missing something about npm's internals or that I messed something up somewhere, but annecdotally I'm s

[2021-04-15 20:08] ruluva commented on #3078
Yeah, this is going through a custom Visual Studio registry. And it has been an issue on most of the machines from the team as well as the build pipelines. I can try to repro it with the npmjs registry, but it seems to only occur on bigger projects, since I didn't face the issue on a smaller one during testing.

[2021-04-15 20:09] nlf commented on #3078
you might try experimenting with the `--maxsockets` option too, the default is 15 but it could be you need to reduce it a bit further.

[2021-04-15 20:17] ruluva commented on #3078
So reducing might help with this issue? Is this because it might overloading it?

[2021-04-15 20:31] nlf commented on #3078
yeah, that's what i'm thinking. potentially reducing the number of concurrent requests will give the registry a better chance at handling them. it could be reducing that number enough will avoid the timeouts entirely. it's certainly worth a try, anyway.

[2021-04-15 20:37] midan888 commented on #2453
@weaintplastic same issue here, did you manage to use npm7 and artifactory publishing ?

[2021-04-15 21:06] orangecms commented on #3062
Yes, that is correct. Maybe part of the story got lost a bit here: We switched from `recharts@1.5.0` to `recharts@2.0.8` in https://github.com/fossasia/pslab-desktop/commit/d273e384c0885cef51599a2f8a13cefd4ee5069f and with that got the npm v7 lockfile (which is why I thought that could be related). The previous `recharts@^1.5.0` depended on `reduce-css-calc@1.3.0` (see https://github.com/fossasia/

[2021-04-15 21:15] darcyclarke commented on #3079
@ruluva can you try an earlier version of `v7` & see if you can still replicate this? (ex. `npm i -g npm@7.5.0`) Also, can you try temporarily cleaning out that cache & regenerate it through a successful install? (idea here would be to determine if this problem arises only with failed installs, and a problem w/ cleaning up the tmp/cache - or see if `ci` installs don't also run into this problem af

[2021-04-15 21:32] ruluva commented on #3078
Sounds good, let me play around with a couple different values, and I'll post any results.

[2021-04-15 22:03] ljharb commented on #3072
I've had this problem before with other tooling; it's a perfectly reasonable file/folder name on Mac OS at least.

[2021-04-15 22:04] ljharb commented on #2008
@tremblaysimon the [commit](https://github.com/npm/cli/commit/2a80c67ef8c12c3d9d254f5be6293a6461067d99) referenced above indicates it's in v7.0.11+.

[2021-04-15 22:06] ljharb commented on #3081
(In general, when linking, all peer deps must also be linked, eslint included - this requirement, sadly, isn't new)

[2021-04-15 22:23] ruluva commented on #3078
So I tried 10, 5, and 1 for maxsockets, and I was still getting the same timeout issues.

[2021-04-15 22:35] ruluva commented on #3079
I gave npm 7.5.0 a shot, and still saw the issue. As far as I was able to tell, it seems to only trigger on failed installs (like the in the case where we get the socket timeout) and try an install again. Another thing to point out is I haven't seen this issue on another Linux (Ubuntu 16.04) build machine we have. Unfortunately, most of our machines as well as dev machines are Windows.

[2021-04-16 01:13] ruluva commented on #3079
Here is a screenshot I got from a teammate:
<img width="567" alt="MicrosoftTeams-image (1)" src="https://user-images.githubusercontent.com/34486952/114957383-c5810180-9e15-11eb-9864-0b3672e20a39.png">

Where the log shows the same issue seen above. It sounds like he had a successful install before hand (`npm ci`), pulled from master and tried to run npm ci again, and got that error. He also tried

[2021-04-16 01:16] thorn0 commented on #2784
Does it make sense to do this when there is no such scripts in `package.json`?

[2021-04-16 01:44] snitin315 commented on #2996
Hi, I would like to work on this issue if there are no objections.

[2021-04-16 03:34] david-mart commented on #681
mos1em's solution worked, except i had to get rid of sudo's and hash command , i.e.
npm install -g n
n latest
npm install -g npm
npm i

[2021-04-16 05:27] keshaviagg opened #3089 "npm ERR! cb() never called!"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-04-16 05:28] keshaviagg opened #3090 "npm ERR! cb() never called! even after cache clean and updating npm still getting the same issue"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-04-16 05:29] #3090 closed, assigned to nobody

[2021-04-16 05:29] ljharb commented on #3090
#417 (please fill out issue templates in their entirety)

[2021-04-16 05:32] keshaviagg commented on #417
its not working still facing the same issue

[2021-04-16 05:57] fregante opened #3091 "[BUG] Update notice has black background even on white terminals"
Self-explanatory 👇
<img width="500" alt="Screen Shot 3" src="https://user-images.githubusercontent.com/1402241/114978483-71c4f580-9eb3-11eb-8d00-20a2a49a553a.png">

My terminal theme has a white background (macOS default) but npm unnecessarily shows the update notice with a black color.

### Environment:

- OS: macOS 11.2.3
- Node: 15.12.0
- npm: 7.6.3
- Fish Shell 3.2.1

I don't know if this has

[2021-04-16 06:03] weaintplastic commented on #2453
@midan888 Unfortunately not. We've opened a support ticket for the artifactory team and I suggest you do this as well.

[2021-04-16 06:11] c-kunz commented on #3072
This is good advise that I agree with, however, we had a case where we integrated Node + npm/npx within a Maven build process (unpacking Node using `frontend-maven-plugin`) that happened to be located inside a folder with parentheses.

Neither Windows nor Node stops me from creating a directory or installing into a directory that contains parentheses, and in fact `npm` has no problem, only `npx` h

[2021-04-16 06:22] nickfryar commented on #2996
@snitin315, I didn't seen your comment and had already started working on this. Sorry! :/

I've linked a pull request here: https://github.com/npm/cli/pull/3092

[2021-04-16 06:24] snitin315 commented on #2996
No worries 😄

[2021-04-16 09:22] caohuilin commented on #3021
`npm install create-react-app` is ok, but `npx create-react-app --help` also has error.

[2021-04-16 09:23] caohuilin commented on #3021
![image](https://user-images.githubusercontent.com/12605189/115003476-69cb7c80-9ed8-11eb-89a8-b834a29ded5e.png)

[2021-04-16 09:28] thorn0 commented on #2784
Is there probably a way to tell npm that a package is "fully realized"?

[2021-04-16 12:53] mathase commented on #3073
update node to v15.14.0
npm v7.10.0

cleared the error for me

[2021-04-16 13:18] bameyrick commented on #1489
I'm having a similar issue trying to get travis-ci to publish for me. Having also looked at #2040 and #2146 which seem related I haven't been able to find a solution. I tried updating my authentication token multiple times in my travis config incase this is the issue, however this has not resolved the issue and I would expect to get a 401 or 403 if travis could not authenticate correctly.

### Cur

[2021-04-16 14:40] prachitigholap opened #3093 "Error with npm itself! cb() never called!"
It gives error when tried to run npm install @material-ui/core

![image](https://user-images.githubusercontent.com/61944007/115041046-b8384580-9eef-11eb-932f-cad36119857d.png)

[2021-04-16 14:42] ljharb commented on #3093
#417

[2021-04-16 15:06] dlmanning commented on #2784
It would be helpful to have a way to toggle this behavior. My company uses private repos to host forks of various projects. Some of those projects have native dependencies that will not build correctly on npm 7, hence this behavior is actually a blocker to our adoption of npm 7.

[2021-04-16 16:16] nlf commented on #3093
see the linked issue above, and if you continue to have difficulties please open a new issue and be sure to fill out our issue template to the best of your ability.

[2021-04-16 16:16] #3093 closed, assigned to nobody

[2021-04-16 16:17] nlf commented on #3089
please fill out our issue template to the best of your ability. also, for `cb() never called` errors see #417

[2021-04-16 16:17] #3089 closed, assigned to nobody

[2021-04-16 16:22] nlf commented on #3081
keeping open to track ensuring that the documentation is clear about this behavior, and we document the workaround.

[2021-04-16 16:24] nlf commented on #3078
interesting.. so we're left with trying to reproduce this against the npm registry, which as you mentioned is somewhat difficult. installing the `react` package fetches quite a few dependencies and may be enough to trigger it for you.

do you have a proxy in use, by chance? i'm just trying to determine what else may be in the network between the computer doing the installation and the registry its

[2021-04-16 16:26] nlf commented on #3079
this one sure feels like it's happening because of an otherwise hidden problem in how we handle failures of network requests that's surfacing because of #3078

i'm going to look into this separately, since it is definitely a bug.

[2021-04-16 16:34] nlf commented on #3062
no need to apologize at all! i'm happy to help.

closing this since it seems ultimately there was no issue

[2021-04-16 16:34] #3062 closed, assigned to nlf

[2021-04-16 16:54] cramirez201 commented on #417
cb() never called! During installation of new Angular project...

node -v:
v14.16.1

npm -v:
7.10.0

SO: W10 Pro x64

Version: 20H2

![image](https://user-images.githubusercontent.com/82670652/115057862-8fde2600-9eb2-11eb-8a08-e02b36325d78.png)

Log:
[2021-04-16T16_50_36_767Z-debug.log](https://github.com/npm/cli/files/6326750/2021-04-16T16_50_36_767Z-debug.log)

Help pls!

[2021-04-16 17:09] parthsw opened #3094 "Unable to install: npm ERR! Unexpected end of JSON input while parsing near"
I am trying to install packages of my angular application using **npm i**, however, it always fails with **npm ERR! Unexpected end of JSON input while parsing near....**

### Environment:
[code]

### Approaches tried:

1. Tried reinstalling it after deleting the **node_modules** and **package-lock.json**
2. Cleared the cache using `npm cache clean --force`

[2021-04-16 17:30] josephliccini commented on #3078
@nlf this is a MSFT internal registry, we could get a on a Teams call and debug if that's helpful?

[2021-04-16 18:29] darcyclarke commented on #2798
@mikemaccana :wave: can you shoot over the redacted `package.json` to help us figure out what's going on? Apologize for the delay triage but appreciate you bringing this up.

[2021-04-16 18:33] darcyclarke commented on #2808
@Gerrit-K apologize for the confusion here; `--scripts-prepend-node-path` was actually removed for npm `v7` & that doc you referenced is out-of-date (will leave this open until we fix that reference). If you'd like us to reintroduce this flag, can you create an RRFC of RFC over at https://github.com/npm/rfcs

[2021-04-16 18:41] darcyclarke commented on #2814
@4nkit777 please reference: https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22

@Brlaney appreciate the thoroughness here, just want to confirm or not, were your original steps to reproduce consistently reproducible? Or, was this an intermittent issue?

[2021-04-16 18:43] darcyclarke commented on #2816
@toabm sorry for the confusion, we did remove these vars in `v7` - as @ljharb notes, there's many approaches to support this use case. Closing as this is the intended behaivor.

[2021-04-16 18:43] #2816 closed, assigned to nobody

[2021-04-16 18:44] #2817 closed, assigned to nobody

[2021-04-16 18:56] ljharb commented on #2817
#417

[2021-04-16 22:28] Gerrit-K commented on #2808
@darcyclarke thanks, that clarification helps a lot. I'll point JetBrains to this issue and let them know that they need to adjust their calling code.

[2021-04-17 00:07] jeremydyoung commented on #564
I'm pretty new to the node / js world, so I'll just say that I'm surprised this is still a multi-year discussion.

What I expected when I started using projects in node was this:

* `npm i` - This should install exactly what's in the `package-lock.json` if present.  If not, it should build from `package.json`, and create a `package-lock.json`.
* If I wanted to update the locks, I would delete the

[2021-04-17 02:45] camilojm27 commented on #708
Same here, why is closed?
Node v15.14.0
npm 7.7.6

[2021-04-17 14:36] nickfryar commented on #3091
The background for the update notifier is being set here: https://github.com/npm/cli/blob/a4e7f4e4b40d645fed97622a97c7fa72aa5da82b/lib/utils/update-notifier.js#L112

And per https://github.com/chalk/chalk/issues/102 it appears there's no way to detect background color in the terminal.

[2021-04-17 15:27] fregante commented on #3091
I think the point is to _not_ use `bgBlack` nor `white` at all. They should just be the default color as defined by the terminal. It makes no sense to set a black background on a black terminal in the first place. Same goes for a white text on a black terminal.

[2021-04-17 15:56] nickfryar commented on #3091
Does this extend to all cases of `bgBlack`? I found 8 instances of this with various colors in the cli. If it's just a case of removing `bgBlack` / `bgBlack + white`, I can open a PR for this. I'm still new to this repo though, so some direction on this would be appreciated!

[2021-04-17 16:01] fregante commented on #3091
It appears that in most cases it's trying to highlight a line. I think the correct solution for that is to use the `inverse` function instead, but I'm not familiar with either project to tell you for sure.

[2021-04-17 17:10] nickfryar commented on #3091
[Chalk](https://www.npmjs.com/package/chalk) supports `inverse`, but [ansicolors](https://www.npmjs.com/package/ansicolors) does not. All but one case of `bgBlack` use chalk, so that one exception can likely just be switched from ansicolors to chalk.

However, [npmlog](https://github.com/npm/npmlog) handles the highlighting differently, so the `npm notice` text in your screenshot above would still

[2021-04-18 08:19] targos opened #3096 "[BUG] installing a dependency in a package with a peer dependency changes the peerDependencies field"
### Current Behavior:

If you have a package with `something` in `peerDependencies` and then install that something in the same package as a devDependency, the peerDependencies field is changed and the dependency is added to `package.json`, but it inherits the semver string that the peer dependency had.

### Expected Behavior:

Installing a dev dependency should do the same change to the `package.

[2021-04-18 08:19] targos commented on #2735
Reopened at https://github.com/npm/cli/issues/3096

[2021-04-18 13:46] keshaviagg opened #3097 "npm ERR! cb() never called![BUG]"
### Current Behavior:
on running npx create-react-app or npm I'm seeing this error

### Expected Behavior:
a new app shud be created or dependencies should be installed.

### Steps To Reproduce:

### Environment:

[2021-04-18 13:50] ljharb commented on #3097
#417

[2021-04-18 13:52] keshaviagg commented on #3097
the solution provided is not working.
I tried clearing cache and updating npm version but nothing changed still getting same error

[2021-04-18 13:55] ljharb commented on #3097
Could you fill out the entire issue template then?

[2021-04-18 14:11] keshaviagg commented on #3097
Current Behavior:
on running npx create-react-app or npm I'm seeing this error

Expected Behavior:
a new app shud be created or dependencies should be installed.

Steps To Reproduce:
Environment: run command npx create-react-app my-app or npm i

Environment: npm : v7.7.0
node v14.16.1
OS : ubuntu v18.x

[2021-04-18 16:23] zizopixels commented on #3097
Same issue is with me ( npm ERR! cb() never called )
Googled everything but nothing is working for me.

[2021-04-18 17:06] majidkorai commented on #2508
getting the same error. Can't even downgrade to v6 :(

[2021-04-18 17:34] isaacs commented on #2389
@CarlosHdez Yes, nothing in npm 6.x is changing any more, except high-severity security type issues.

[2021-04-18 23:48] luckman212 commented on #2856
Anyone else seeing this? Is it a mis-configuration on my end?

[2021-04-19 08:06] aminnairi opened #3099 "[BUG] npm pack --dry-run undefined@undefined in an empty package"
### Current Behavior:

If you try to run `npm pack --dry-run` on a package that has no `name` property in its `package.json` file, the output shows `undefined@undefined` for the package name and `undefined-undefined.tgz` for the filename.

### Expected Behavior:

I think there should be a guard for when the `name` property, and even `version` and `description` properties are not set whenever runni

[2021-04-19 09:05] andreash opened #3100 "[BUG] npm 7.10 does not recursively install modules in local filesystem"
### Current Behavior:
I have
<pre><code>
    +- main_project
    |  +-package.json
    +- packages
       +- package1
          +-package.json
</code></pre>

In `package1` as cwd I do `npm install express` and then `rm -rf node_modules` and `rm package-lock.json`. Then, in main_project as cwd I do `npm install`. The `express` module does not get installed in `package1` with npm 7.10. If I use npm

[2021-04-19 09:56] mattijsf commented on #2971
Some findings for us:

- We use modules references from github repos with commit hash
- The modules generate files at `postinstall`
- Entries within the package-lock.json are incompatibly with 7.7.0 and <7.7.0

Take `package-lock.json` with entries/checksums generated using `7.6.3`:
👍 WORKS: `npm install -g npm@7.6.3 && rm -rf node_modules && npm i`
👎 BREAKS: `npm install -g npm@7.7.0 && rm -rf no

[2021-04-19 09:56] mesqueeb commented on #2783
@darcyclarke it seems that has resolved the issue for me. What happens if a team mate forgets to add that flag when doing `npm i` on the repo? is there a way to force that flag whenever someone does `npm i` on the repo?

[2021-04-19 10:21] alexb148 commented on #708
Same here, just updated from npm 6 to npm 7 and noticed that "npm update" no longer updates my package.json.

Is there an extra or different command we should be using to achieve this? What's going on?

[2021-04-19 10:27] AlanSl commented on #3083
Here's another example, installing `react-navigation`, in a workspace named `app`:

[code]

The exact same issue happens with many other packages in the React Native ecosystem - for example https://github.com/callstack/react-native-paper/issues/2603. What's going on here as I read it:

- `react-navigation` (and others) has permissive peer deps `react@"*"` and `react-native@"*"`
- Latest `react` re

[2021-04-19 11:15] tangkunyin commented on #3100
I'm experiencing this same issue：https://github.com/sindresorhus/gulp-imagemin/issues/338

[2021-04-19 11:18] cawa-93 commented on #708
Related: https://github.com/npm/feedback/discussions/270#discussioncomment-525323

[2021-04-19 11:53] weaintplastic commented on #2453
@midan888 it works using the legacy authentication method with a `_password` and `username` entry in the `.npmrc` file instead of `_auth`

[2021-04-19 13:26] ljharb commented on #2783
@mesqueeb add `legacy-bundling=true` to .npmrc

[2021-04-19 13:55] Karmavil commented on #417
Hi. thanks for this note it was helpful:

I'm not going to give you too many details basically because I will probably give you wrong or not related information but I solved this issue that **in my case** it was related with this specific package as a dependency: amplify-cli (npm intall --save amplify-cli)

This is what happened
* I removed the package.
* I upgrade npm
* I tried to install amplify

[2021-04-19 16:30] darcyclarke commented on #3094
@parthsw need replication steps to be able to triage this properly - if you can provide a reproducible example, I can try to help resolve this; Closing for now.

[2021-04-19 16:30] #3094 closed, assigned to nobody

[2021-04-19 17:10] Holzhaus commented on #2919
For me, installing from git is completely broken:

[code]

[2021-04-19 17:57] santoshp321 opened #3102 "[BUG] npm install failed with node-pre-gyp ERR! stack Error"
### Current Behavior:

I was trying to run the Angular application from my Github [repo](https://github.com/santoshpavan/fitness-tracker).

When I ran `npm install` on the repo, I keep coming across errors. I tried uninstalling the angular cli and Node (separately), and tried to run it after reinstallation. It has not worked.

The complete log of the error is attached here.
[2021-04-19T17_34_17_30

[2021-04-19 19:13] achedeuzot commented on #2508
I had the same issue. The minimal steps to fix the issue was to delete the `package-lock.json` as well as the `node_modules` directory. After that, the `npm install` worked as usual. I noticed the packages were pulled from `registry.npmjs.org` though my `.npmrc` specifies `registry.yarnpkg.com` so I had to replace the URLs of public packages in my `package-lock.json`

[2021-04-19 19:25] s2danii opened #3103 "[BUG] Switching back to npm 6 from npm 7 results in install error"
### Current Behavior:
I believe npm 7 is meant to be fully backwards compatible with npm 6 but I'm seeing some slight changes in my package-lock.json when I switch between the two that is causing an install error.

This is an example I'm seeing in package-lock.json under `dependencies` for this library:

**npm 6 correct format:**
[code]

**npm 7 format:**
[code]

**installing using npm 7** format

[2021-04-19 20:04] fkotsian commented on #1414
Thirded, this appears to have been fixed in https://github.com/npm/cli/pull/86, then again in https://github.com/npm/cli/pull/216

A relevant pull with test cases appears to have been closed in https://github.com/npm/cli/pull/254

Any way to get this fixed before NPMv7? Currently this is still broken on my 6.14.13:

[code]

The interesting thing is pkg-b/package.json exists in the installed module

[2021-04-19 20:15] ljharb commented on #1414
@fkotsian npm 7 is out, and up to v7.10.0. can you try that and see if it fixes your issue?

[2021-04-19 20:19] fkotsian commented on #1414
Thanks for the heads up! Let me give that a shot

[2021-04-19 20:47] fkotsian commented on #1414
@ljharb Indeed it does!

[code]

Thanks for the word!

[2021-04-19 20:48] fkotsian commented on #529
For anyone who goes digging like I did: fixed in npm v7: https://github.com/npm/cli/issues/1414

[2021-04-19 22:20] wraithgar commented on #3056
The install scripts for a package only run when you are doing an `npm install` in that package's root itself, or are installing it globally.

There is no script that runs when a package is being installed, but there is an ongoing discussion about what that would look like over in the RFC repo https://github.com/npm/rfcs/issues/325

[2021-04-19 22:20] #3056 closed, assigned to nobody

[2021-04-19 22:21] wraithgar commented on #3041
Closing as duplicate of https://github.com/npm/cli/issues/2747

[2021-04-19 22:21] #3041 closed, assigned to nobody

[2021-04-20 00:27] feross commented on #2818
Installed node via `brew install node` and getting the same error upgrading from npm 7.9.0 to 7.9.10.

[code]

I'm on an M1 Mac.

[2021-04-20 00:58] MohamedLamineAllal commented on #1975
Error: ENOENT: no such file or directory, open error is not fixed '<absolute_current_directory_path>/package.json

Still have the problem in  npm v7.7.6

Using npx in a cwd that is a child of the root directory where package.json reside!

[code]

This used to work!

Now give the above error! Not the expected behavior! And it's breaking the usual behavior !

[2021-04-20 01:09] wraithgar commented on #3102
This looks like it is an issue between node-gyp and grpc, possibly related to something like this issue: https://github.com/nodejs/node-gyp/issues/2114

This is not an npm bug.

[2021-04-20 01:09] #3102 closed, assigned to nobody

[2021-04-20 01:20] wraithgar commented on #3043
The `--if-present` flag is what you want to enable if a given script is potentially going to be missing, and you don't want `run-script` to error out in that situation.

[2021-04-20 01:20] #3043 closed, assigned to nobody

[2021-04-20 01:22] #2990 closed, assigned to nobody

[2021-04-20 01:23] wraithgar commented on #2990
Looks like this is fixed, as per @lukekarrys's research

[2021-04-20 03:22] Rainnut commented on #2508
这个问题怎么解决呢，尝试了多个办法都不行

[2021-04-20 08:00] MarMun commented on #708
Just stumbled over this. I fail to see why it makes sense to NOT update package.json on `npm upgrade xxx`...

[2021-04-20 08:05] hitendra-sahu opened #3104 "npm ERR! cb() never called!"
I am having angular version 11.2.9 but I want to downgrade angular version to 11.2.3.
For this, I run command npm install -g @angular/cli@11.2.3, but I got below error
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\UserNa

[2021-04-20 09:48] dereuromark commented on #2818
Same here. Linux Mint 20

[2021-04-20 11:27] pierreminiggio commented on #1290
I've the same issue right now with npm 7.9.0

[2021-04-20 11:36] nigelwright7557 opened #3105 "[BUG] <title>App.get and app.post stop working on a big program"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-04-20 11:37] AlexWayfer commented on #677
I understand that open source is free and here are no debts, but I ask to describe (at least shortly) a reason for such important actions like closing an issue, at least for respect to the community.

[2021-04-20 12:30] sudhirdhumal289 commented on #3104
I just wanted to start with Angular tutorial today so freshly installed angular cli which went very well but when tried to create new project I even got the same error.

**last few lines printed on terminal**
⠏ Installing packages (npm)...npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated har-validator@5.1.5: this library is no longer supported

[2021-04-20 12:38] sudhirdhumal289 commented on #3104
Update:
Updating npm to 7.10.0 (latest) resolved the issue and now able to create a new angular project successfully.

[2021-04-20 13:19] #3105 closed, assigned to nobody

[2021-04-20 13:20] ljharb commented on #3104
#417

[2021-04-20 13:39] nigelwright7557 opened #3106 "Button URL link fails with certain names"
If i have a button with a url on it some ulr names fail to work.
/checkout will fail and just goes to / url
Yet /checkout43 will work ok
Node js program about 4000 lines.
Didnt see the problem until the program got over 3000 lines
Stack problem ? heap problem ?

[2021-04-20 13:40] nigelwright7557 commented on #3106
[nodejs.zip](https://github.com/npm/cli/files/6343947/nodejs.zip)
Source project in Visual Studio

[2021-04-20 14:16] ljharb commented on #3106
This doesn't seem like it's a problem with the npm CLI itself.

[2021-04-20 14:16] #3106 closed, assigned to nobody

[2021-04-20 16:07] #2960 closed, assigned to wraithgar

[2021-04-20 16:18] i-C-o-d-e-r opened #3107 "[BUG] Spawned subshell with npm explore has wrong current working directory"
### Current Behavior:
When using `npm explore` to spawn a subshell in the installed directory of a package, the current working directory of the spawned subshell is wrong. It seems to not change (tested on windows only with default shell cmd.exe).

If I run `npm explore ansi-colors` from the command line in the parent directory of `node_modules`, where` package.json` is located, then the spawned s

[2021-04-20 19:51] rafalWili opened #3108 "[BUG] can't install packages like webpack weback-server"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

- windows 10
- Node: v14.16.1
- npm: 7.8.0

npm ERR! code FETCH_ERROR
npm ERR! errno FETCH_ERROR
npm ERR! invalid json response body at https://registry.npmjs.org/mime-types reason: Unexpected end of JSON input

debug log

0 verbose cli [
0 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
0 verbose cli

[2021-04-20 21:08] evictor commented on #2818
Same on Big Sur 16" MBP 2019. I predict 3,000 "me too" comments coming soon. 🤔

Perhaps obviously, installing `agentkeepalive` will then allow you to upgrade your npm: `npm i -g agentkeepalive`

[2021-04-20 23:07] ReillyBova opened #3110 "[BUG] root permissions do not carry forward into execution"
### Current Behavior:

I am using webpack to bind a dev server to the privileged port `443` on an M1 Macbook Air (Apple Silicon) running the latest version of Big Sur. In order to bind to the privileged port, my `npm start` script must be run with root permissions, so I execute `sudo npm start`. Unfortunately, the root permissions do not carry into the execution, and my server fails to bind to por

[2021-04-21 00:58] haveamission opened #3111 "[BUG] <No matching version found for @babel/traverse>"
### Current Behavior:
[code]

### Expected Behavior:
@babel/traverse@^7.13.17 would be installed

### Steps To Reproduce:
`npm install` while inside a docker file

### Environment:
MacBook Pro 2017
MacOS Catalina

[2021-04-21 01:07] shahzaib-cmyk commented on #3104
I have the same issue while installing webpack or parser.I tries almost all the other methods like cleaning the cache and updating npm but nothing seems to work.

[2021-04-21 01:50] bjornstar opened #3112 "[BUG] Global install shows funding message but can't get info"
### Current Behavior:

[code]

### Expected Behavior:

Either show me the funding info or don't tell me there are packages looking for funding.

It's poor user experience for the application to suggest running commands to users that do not work.

This is similar to #2862

### Steps To Reproduce:

[code]

### Environment:

- Node: v14.16.0
- npm: 7.10.0

[2021-04-21 02:58] ljharb commented on #3112
`npm fund -g` should definitely work imo.

[2021-04-21 05:39] abdusamadtv opened #3113 "[BUG] ERESOLVE unable to resolve dependency tree"
### Current Behavior:
Getting `ERESOLVE unable to resolve dependency tree` error while installing dependencies

### Expected Behavior:
Successful installation of dependencies

### Steps To Reproduce:
`rm -rf node_modules package-lock.json`

### Environment:
- OS: macOS Big Sur 11.2.3 (20D91)
- Node: 16.0.0
- npm: 7.10.0

# Error
[code]

# package.json
[code]

[2021-04-21 05:41] ljharb commented on #3113
The error message tells you the problem: namely, that you depend on pg v8, but the version of knex you're using requires pg 7. This means your dependency graph is invalid.

You need to either downgrade pg to v7, or upgrade knex to a version that peerDepends on pg v8.

[2021-04-21 05:45] abdusamadtv commented on #3113
Then why does everything work when I switch to `Node.js v14.16.1` and `npm v6.14.12`?

[2021-04-21 06:09] ljharb commented on #3113
It doesn't actually work - it's just that npm 6 doesn't tell you during installs that your dep graph is invalid. Run `npm ls`, and you'll see it exit nonzero.

When your dep graph is invalid, things _might_ work, but you can't rely on that.

[2021-04-21 07:27] kul1010 opened #3114 "[BUG] <title>npm WARN EBADENGINE Unsupported engine"
npm i
npm WARN EBADENGINE Unsupported engine {
npm WARN EBADENGINE   package: 'react-lottie@1.2.3',
npm WARN EBADENGINE   required: { npm: '^3.0.0' },
npm WARN EBADENGINE   current: { node: 'v14.16.0', npm: '7.6.1' }
npm WARN EBADENGINE }
npm ERR! cb() never called!

npm ERR! This is an error with npm itself.

[2021-04-21 07:50] cdupetit commented on #3113
Same problem for me.

[2021-04-21 08:20] dan-barbulescu commented on #2902
Normally, this worked for me:

[code]

With npm@7.10.0 this now fails with:

[code]

It works with npm@7.9.0, though.

[2021-04-21 08:42] miafan23 commented on #2309
Is there any plan to fix this bug in npm6 also? Would love to see it.

[2021-04-21 17:38] #2553 closed, assigned to nlf

[2021-04-21 17:38] #2999 closed, assigned to nlf

[2021-04-21 17:38] #3083 closed, assigned to nobody

[2021-04-21 19:37] ruluva commented on #3078
So we followed up with the Azure Devops team in terms of our registry, to get an idea of whether that was causing an issue, and from their side, they aren't even seeing the timeout calls. So they believe it might be some logic in NPM that might be throwing a timeout for the wrong reason.
I tried to replicate this by setting up a Fiddler proxy to see the NPM get requests, and I see the successful o

[2021-04-21 20:01] galtalmor commented on #3071
I'm running into the same issue on my project. Hoping for a fix soon.

[2021-04-21 20:03] vgarba3 commented on #3057
#3071 I filed this issue as well with an example project to test - does this seem like the same problem you're experiencing ? @noneedinmagic

[2021-04-21 20:10] noneedinmagic commented on #3057
@vgarba3 actually I am not sure if those are connected, but mine is root dependency, not a nested dependency

but I had the same problem that your issue mentions too, especially annoying when one of the dependencies has vulnerable subdependencies, and `npm audit fix` does not fix the issue, and installing subdependency as root dependency does not fix vulnerable subdependency

Although by this ques

[2021-04-21 20:40] jgv66 commented on #681
works 4 me too !!!

[2021-04-21 21:31] ruyadorno commented on #2826
That's the current behavior today: https://github.com/npm/run-script/blob/2a2f1b637ffa2463a82df477e17ea4e146682f5b/lib/set-path.js#L19

---

I'm not sure if there was something that was fixed between your original post and now but this is working as intended when I test with **npm@7.10.0**, I have the following structure (with `@ruyadorno/create-index` being a dep of my workspace `a`):

[code]

it

[2021-04-21 21:44] CalculonPrime opened #3116 "NPM v7 breaks modules that rely on querying the user during install with an install script"
Running with node v14 or v15 and npm v7, I'm finding that the "install" script of the modules being installed don't run if "npm install" is run in the directory of the dependent module.  This is a huge problem.

### Current Behavior:
Install script doesn't run.  Module's third party library is not downloaded.

### Expected Behavior:
Install script runs like in npm v6, allowing user to configure an

[2021-04-21 22:28] Shinidb opened #3117 "[BUG] NPM İ DİSCORD.JS Problem Cannot Read Property 'children' of null"
First my english bad :/
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

![](https://cdn.discordapp.com/attachments/834560525354139669/834561841412833300/dr.png)

[2021-04-21 22:35] ljharb commented on #3117
Please fill out the issue template in its entirety.

[2021-04-22 00:55] ktalebian commented on #2794
@nlf thank you for the information.

But what if I want to have completely separate pre-releases tags?  i.e. have `nightly` and `beta`, but if I specify a `*-beta` pre-release, it should only resolve packages that are of the same pre-release tag.

Is there a different way to publish these packages to npmjs or is this feature not supported? Does this effectively mean you can only have one pre-relea

[2021-04-22 07:43] MeetThumar opened #3120 "I need help this is not a bug"
How can i update discord bot manually?? With 7.9.0

[2021-04-22 09:41] o0x2a commented on #2758
I needed to add registry command line option to make it work
[code]

[2021-04-22 10:55] arjunsatyanandaraju commented on #3113
I have faced the same issue. As a quick fix, I had to downgrade to npm version 6.

Other solution would be to use '--legacy-peer-deps' flag.

[2021-04-22 13:32] pxp1230 opened #3121 "npm root bug"
The result of `npm root` on my computer is this  (With 7.10.0):
[code]
The correct result should be:
[code]

[2021-04-22 13:33] ZelphirKaltstahl commented on #477
The described behavior is _still_ happening, after multiple years of this bug surfacing again and again. How can this still happen in _the default_ package manager for node modules? It is really baffling.

In my case I have a `devDependency`, which _might_ be somewhere in the tree of recursive dependencies of my `dependencies`, but is not immediately in my `dependencies`. Even then this happens. V

[2021-04-22 13:34] himharsh1997 commented on #805
Hi guys! 2 things to do:
1.  Verify your account first.
2.  create file .npmrc file and set  //registry.npmjs.org/:_authToken=<access_token> in it. You will get access_token from your account with publishing access.

[2021-04-22 14:28] felipecrs commented on #2826
The issue can still be replicated with the [steps I suggested](https://github.com/npm/cli/issues/2826#issuecomment-791076148):

![image](https://user-images.githubusercontent.com/29582865/115731875-df629d00-a35d-11eb-9481-8c8b4301f8e4.png)

---

If that would be the case, the example above would have worked. Perhaps such logic only applies to `npm run` and not `npx`?

[2021-04-22 14:30] ljharb commented on #3113
The proper fix is to make your dep graph valid. Downgrading to npm 6, or using the legacy flag, just hides that your program (not npm) is broken.

If the peer dep error message isn’t clear to anyone, please post it - I’m happy to decipher it.

@abdusamadtv does fixing the invalid combo with `pg` help?

[2021-04-22 14:30] ljharb commented on #477
@ZelphirKaltstahl can you try with npm 7?

[2021-04-22 14:46] nlf commented on #3078
so we're timing out requests that were never even actually sent? that's.. surprising, and strange.

do you, by chance, use vsts-npm-auth?

[2021-04-22 14:54] prabhu1122 opened #3122 "enable to install create-react-app"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\prabh\AppData\Local\npm-cache\_logs\2021-04-22T14_45_04_041Z-debug.log

Aborting installation.
  npm install --save --save-exact --loglevel error react react-dom react-script

[2021-04-22 15:24] Ssaely opened #3123 "[DOCS] npm install does not run scripts in directory it was ran in on npm v7+"
### Current Behavior:
`npm install` runs in a temp cache directory (somewhere in `Users/user/.npm/_cacache/tmp/my_dep/`) when installing dependencies on ~~macOS~~ npm 7.10.0.  This causes errors when your pre/post-install scripts relies on checking for certain files/folders in the directory the command was ran in.  However, on Windows, it does run them in the current directory.

### Expected Behav

[2021-04-22 15:26] ljharb commented on #3123
You’re using npm 6 on windows, what happens if you use npm 7 on windows?

[2021-04-22 15:41] Ssaely commented on #3123
Aha, this seems to be an NPM issue somewhere in v7 as it also points to the temp cache directory and fails using npm 7.10.0 on Windows.  I've updated the original issue to reflect this.

[2021-04-22 15:48] xqin commented on #477
https://github.com/npm/cli/issues/2028

@ljharb this bug  still exists in npm@7.11.0

[2021-04-22 16:00] ljharb commented on #3123
In that case, it might be an unintended regression in npm 7.

[2021-04-22 16:07] nlf commented on #3097
try updating to the latest release with `npm i -g npm` and see if that helps, i'm not able to reproduce this

[2021-04-22 16:10] simonbrunel commented on #2891
Experiencing the same issue with npm 7.10.0 on Windows with a GitLab private repository accessed via `git+ssh`. The SSH agent is started and the key added (as mentioned by @mmiretsky). Running `npm install` asks for a username + password as if it was `git+https`. I'm wondering if it actually tries to resolve the dependency via `git+ssh` at all, could it be related to #2610 somehow?

I tried to enf

[2021-04-22 16:12] keshaviagg commented on #3097
Still the same issue

On Thu, 22 Apr, 2021, 9:38 pm nlf, ***@***.***> wrote:

[2021-04-22 16:17] Ssaely commented on #3123
I just downgraded npm to 6.14.13 on macOS and it worked, so it does seem to be a regression in npm.

[2021-04-22 16:32] nlf commented on #3097
are you running from an empty directory? can you share the output of `npm config ls`?

[2021-04-22 16:42] FarooqueAhmeed commented on #3097
In my case, I installed the latest versions of the node and npm

[2021-04-22 17:11] nlf commented on #2794
this is done in the dependencies field of the package that consumes the others.

so let's say you have package A and it depends on package B, you've release 1.0.0 of each and that is tagged as `latest` and now you want to start working on a `beta` of 2.0.0 for each.

you would publish B@2.0.0-beta.0 and tag that as `beta`

then you would change the package.json for A so that the dependency looks l

[2021-04-22 17:50] ruluva commented on #3078
Yeah, I can share the fiddler trace if that helps.

Most of the team does, but there are a couple people on the team that have Macs, so we set the .npmrc authentication manually.

[2021-04-22 18:08] andreash commented on #3100
Did you find a solution?

[2021-04-22 18:28] AmidouSeck opened #3124 "[BUG] NPM not install jspdf and filesaver successfully"
+ npm install
npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but package-lock.json was generated for lockfileVersion@2. I'll try to do my best with it!
npm WARN checkPermissions Missing write access to /opt/atlassian/pipelines/agent/build/node_modules/jspdf/node_modules/file-saver
npm WARN @angular/animations@7.2.15 requires a peer of @angular/core@7.2.15 but no

[2021-04-22 18:28] nlf commented on #3078
hmm, ok. and you already said the folks on macs are seeing this problem too, so we definitely can't point to vsts-npm-auth as a source of the problem.

i'll reach out to you in a higher bandwidth way either this afternoon or tomorrow morning (pacific timezone) so we can try to debug a bit more.

[2021-04-22 18:36] ruluva commented on #3078
Yeah, definitely seeing this issue as well on my Mac.

Sounds good, I'm on Teams if that helps or whichever way is fine.

[2021-04-22 18:51] #2160 closed, assigned to nobody

[2021-04-22 19:01] #3108 closed, assigned to nobody

[2021-04-22 19:30] KThompso opened #3125 "[BUG] dev dependency binaries not linked after upgrading `package-lock.json` from v1 to v2 using `npm install --production` and then running `npm install`"
### Current Behavior:

Upgrading  `package-lock.json` from `lockfileVersion: 1` to `lockfileVersion: 2` using `npm install --production` causes future calls to `npm install` to not link the binaries of the dev dependencies under `node_modules/.bin`.  This seems like it may be caused by the dev dependencies in `package-lock.json` not being updated.

### Expected Behavior:

Subsequent calls to `npm

[2021-04-22 20:38] Apollon77 commented on #3123
Especially bad because npm 7.10.0 now is delivered by default "with" nodejs 16

[2021-04-22 21:56] advaithsuryaP commented on #1832
Thanks for this mate !

[2021-04-23 01:27] ljharb commented on #3124
Please fill out the issue template in its entirety, including more than just that one line of log output.

[2021-04-23 01:28] ljharb commented on #3123
@Apollon77 npm 7 is there by default in node 15 as well, and since node 16 isn't LTS, that means it's no worse than it was prior to 16 being released.

[2021-04-23 01:34] ruluva opened #3128 "[BUG] Stuck in same failed error state with npm installs"
### Current Behavior:
Tried to do a fresh install by removing existing node_modules, and kept getting an error during the install:

[code]
It looked like it was the playwright package causing it. I had to remove the package from the sub package in order for it to succeed. After an initial successful install, adding it back seemed to work.

### Expected Behavior:
Install without issue

### Steps To

[2021-04-23 01:35] liamdawson commented on #2610
I use SSH via a PKCS11 smartcard, and it prompts me to physically touch it whenever I'm establishing an SSH connection (and it's been 15s since the last touch\*). Automatically mapping public GitHub URLs to attempt SSH access first would mean I'd possibly have to keep touching the key within a single `npm install` operation. Additionally, if I run `npm install` and walk away to do something else,

[2021-04-23 02:53] ruluva commented on #3057
Ran into something similar trying to update a react-scripts in one of our packages. Was trying to fix the immer vulnerability, in one of our packages with react-scripts@3.4.4. Did an update to react-scripts@4.0.3, and ran an install. I was in a weird in between state, where the node_modules seemed to reflect the change (at least partially), but npm and the package-lock did not.

Tried running `npm

[2021-04-23 04:37] Apollon77 commented on #3123
Yea and no ;-)) nodejs 15 is a development version by definition in my eyes, so more acceptable because that Version habe a mich lower adoption rate.

In the eyes of users NodeJs 16 will "become LTS", so they have an other view on this version and start adopt to that version faster. But yes you are right, we formally have some time until nodejs 16 goes LTS official.

[2021-04-23 04:51] #2724 closed, assigned to ruyadorno

[2021-04-23 06:35] Hecroesmo opened #3129 "[Bug] trying to create-react-app"
902 timing npm Completed in 84512ms
903 error cb() never called!
904 error This is an error with npm itself. Please report this error at:
905 error <https://github.com/npm/cli/issues>

[2021-04-23 06:56] MrJuliuss commented on #3010
Hi, i have the same error.

[2021-04-23 09:11] yvon-dblg opened #3130 "[BUG] Automatic authentification on private npm repository no longer works"
### Current Behavior:
We use a private nexus repository with an `.npmrc` file on each project.

Our `.npmrc` looks like (URL changed for this bug report):
[code]

Since the npm v7.11.0 release we have the following error when we do an `npm install` in our projects:
[code]

From a user point of view, this error is similar to the one found in v7.7.0, see https://github.com/npm/cli/issues/2935

### Q

[2021-04-23 11:18] tangkunyin commented on #3100
@andreash Downgrade npm to 6x or use yarn instead.

[2021-04-23 12:05] priyankalxi opened #3131 "[Need Help] ReactDataGrid | Inline edit functionality of ReactDataGrid is not working on Tab page"
### Current Behavior:
1. I have created sample page in react js to implement **inline edit** functionality as per given example on "https://adazzle.github.io/react-data-grid/docs/examples/default-editor"   and it is working but same page if I am calling on Tab control then inline edit functionality is not working.
2. I am using **NavPills** Tab control and this page will be a one **tabcontent** in

[2021-04-23 12:14] oliviernt commented on #2995
Appears to be fixed with node @15.14.0 and npm@7.7.6

[2021-04-23 12:14] #2995 closed, assigned to nobody

[2021-04-23 12:18] ocofaigh commented on #3130
+1 - works fine on v7.10.0

[2021-04-23 12:32] visglz commented on #3010
I can confirm the problem also with npm 7.7.6 and 7.11.0.

The problem occurs when you specificy a relative folder, see help for `npm publish`:

[code]

With npm v7 the following fails, because npm assumes a package `parent/folder` and wants to publish it to github:

[code]

With npmv6 (just tested 6.14.12) the foldername was correctly recognized and upload worked to the correct internal registry.

[2021-04-23 12:34] andreash commented on #3100
Yeah, that's what I am doing (user npm 6.x). Yarn doesn't work for me for other reasons. But I still see this as a bug in npm 7.

[2021-04-23 12:39] zepatrik opened #3132 "[BUG] pack wrongly errors with npm@7.11.0"
### Current Behavior:

With npm@7.11.0 we see problems with some scripts that use `npm pack`, it works without a problem on npm@7.10.0
It errors recently with `Invalid package, must have name and version`, while it worked before without a problem.

### Expected Behavior:

`npm pack` to work as before

### Steps To Reproduce:

[code]

### Environment:

see steps above

Thanks a lot :heart:

[2021-04-23 12:54] zepatrik commented on #3132
So the error comes from https://github.com/npm/cli/commit/42e0587a9ea6940a5d5be5903370ad1113feef21#diff-eabad0b45ec780b8b57ae6e3d47fd7d063680bea3acdc6b98a4b45ba3b808cccR56-R58 introduced through #3115.
I guess checking the `manifest._id` is not that reliable, from the pacote package documentation I'd say maybe rather use `manifest._resolved`?

[code]

[2021-04-23 13:44] visglz commented on #2606
The problem is not fixed, I can also reproduce it with npm 7.11.0, please see below.

@darcyclarke Could you please reopen it?

[code]

[2021-04-23 14:39] AmidouSeck commented on #3124
@ljharb issue template updated

[2021-04-23 14:42] wraithgar commented on #3132
We'll have to dig into why pacote isn't adding that id to these items.  afaik it's supposed to be.

[2021-04-23 14:50] wraithgar commented on #3132
Yeah when it fetches the manifest from the registry it uses a completely different codepath, resulting in a wholly different manifest format.

[2021-04-23 15:20] nlf commented on #3131
this repository is for support of `npm`, the cli tool you use to install packages and not for how to use packages. you'll need to file this issue on the repository for the module you are using, which looks to be this one https://github.com/adazzle/react-data-grid

for future reference, you can typically find this by running `npm bugs react-data-grid`