[2021-06-13 14:39] ljharb commented on #3410
Use npm install, instead of npm update, to update a major version.

[2021-06-13 14:48] glen-84 commented on #3409
Why? You've already made the decision to use the next major version. Why would you care if a patch/minor in the previous major was released?

[2021-06-13 14:59] ambroiseRabier opened #3411 "[BUG] Npm not installing expected package version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When installing a new package with `npm i <package_name>`, if the package already exist as sub-dependencie of another package, it will install that version of the package (example 13.5.3). Instead of installing latest version (example 15.4.3). If that is a design choice, I find it counter-int

[2021-06-13 15:02] ljharb commented on #3409
In case the featured bugfix you need in the prerelease lands in the latest line, and you’d rather be in that than on a prerelease.

[2021-06-13 15:03] ljharb commented on #3411
Presumably because storybook/components has a peer dep on v13 of react-syntax-highlighter, so that’s the only way the two can possibly be used together (just a guess; haven’t verified)

[2021-06-13 15:26] glen-84 commented on #3409
You can't just jump between major releases like that. In my case, I chose these versions for compatibility with Vue.js 3. It's highly unlikely that a bugfix is going to motivate me to roll back to a previous major version, with all the associated changes required. Also, such important bug fixes would either not apply to the next major, or would usually be ported there.

The command is named _outda

[2021-06-13 15:32] ljharb commented on #3409
It’s true the command name is inappropriate, since dates and recency have nothing to do with semver ranges.

[2021-06-13 15:36] ljharb commented on #3409
Either way, I’d say this sort of change would warrant an RFC to discuss it.

[2021-06-13 15:56] ambroiseRabier commented on #3411
@ljharb there is a dependencie towards `"react-syntax-highlighter": "^13.5.3"`

Content of the `package.json` of `@storybook/components`:
[code]

If NPM choose to take the version of a sub-dependencie instead of the latest when doing `npm install`, to maximise compatibility while avoiding duplicating packages. I should at least be notified ! And given the choice to have two version of the same pac

[2021-06-13 16:05] ljharb commented on #3411
I agree, this sounds like a bug.

[2021-06-13 16:06] ljharb commented on #3411
Ah, i see what happened. You installed storybook/components first, and the second install command didn’t specify `@latest` or anything else - so npm prefers what’s already present.

If you’d included a version specifier, then npm would have installed that. In other words, if you want latest, you’ve always had to add “`@latest`” manually to the install command.

[2021-06-13 17:12] ambroiseRabier commented on #3411
@ljharb That is indeed what happened, but isn't that counter intuitive for the user ? When the user want to install a package that he saw on github, he does `npm i <my_package>`, the doc on github will be for the latest version of the package by default. Meaning that the user can silently get an outdated package, that is not synchronized with the current documentation.

When installing a new packa

[2021-06-13 17:21] ljharb commented on #3411
To minimize conflicts and duplication, i assume. You might already implicitly be depending on v13 of that package, and installing v15 unintentionally might break things.

[2021-06-14 05:51] arsinclair commented on #3410
Okay, it is thoroughly confusing. But it worked. Should the docs be updated?

[2021-06-14 06:47] targos commented on #3385
I can still reproduce with npm 7.17.0.

[2021-06-14 12:22] MichaelBaySAP opened #3412 "[BUG] Cannot verifiy email address"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When trying to verify the email address, I am getting the following diagnostics ID 65f37bbd1a6edfdb~5a2a

### Expected Behavior

It should verify my email

### Steps To Reproduce

for user d060262

### Environment

Chrome browser

![image](https://user-images.githubusercontent.com/40032066/12

[2021-06-14 12:23] adiun opened #3413 "[BUG] run transitive dependencies with `--workspace` flag?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a monorepo that contains:

[code]

If I run `npm run build --workspace [packageA]`, this only builds packageA and not `sharedC` or `sharedD`

### Expected Behavior

I migrated from lerna to npm workspaces - in lerna there was a flag `--include-filtered-dependencies` which would look at

[2021-06-14 15:29] RammasEchor commented on #2740
Hi! I've been looking up this issue, and I would like to work on it.

[2021-06-14 15:40] Manivasakan opened #3414 "i have a problem when I create angular project"
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '--quiet'
1 verbose cli ]
2 info using npm@6.14.13
3 info using node@v14.17.0
4 verbose npm-session eda8cfa0a6424e75
5 silly install runPreinstallTopLevelLifecycles
6 si

[2021-06-14 16:11] ruyadorno commented on #2032
hi @glen-84 thanks for the comment, it will help me clarify some of the details of the current **npm workspaces** support.

In order to filter commands to only a single workspace, the syntax/workflow we have in place today is to execute commands from the project root and point to what workspace you want to filter for using the `-w` config, here's a quick example, given a workspace structure of:

[

[2021-06-14 17:18] glen-84 commented on #2032
@ruyadorno,

Thanks for the reply. I am aware of this, I was just mentioning that the issue reported in the OP has not yet been fixed – i.e. if you run the same command now, you still get invalid output. Yes, it may be fixed via https://github.com/npm/rfcs/pull/343 in future, but today users will still see confusing output, which may be enough reason to keep this issue open. It would be a differen

[2021-06-14 17:59] #3414 closed, assigned to nobody

[2021-06-14 18:19] #2554 closed, assigned to nobody

[2021-06-14 18:21] jdmarshall commented on #582
@darcyclarke  You realize that this response doesn't help the vast majority of Node users, right?

How many people are on node 16 already?

[2021-06-14 18:42] jcompagner commented on #3396
i like that peer depedencies are installed that are not there yet.
But i think the resolvement of the version needs to be smarter somehow.

Some examples how i thought it should work

Main
 LibA  -> LibC v1
 LibB -> LibC v2

if you just install this you get a error, that there is a version conflict
If you use --force then v2 of LibC is installed (its the highest values of all of the version found)

[2021-06-14 18:44] isaacs commented on #2811
I think we need to update that RFC to remove `npm_package_from`, to be honest.

We can't guarantee that `npm_package_from` is valid or consistent, since dependencies may be included in the tree to satisfy multiple different dependencies.

For example, consider this dependency graph:

[code]

Let's say that the `github:user/d` repository has a branch named `branch-v1.x` where the tip of tree is the

[2021-06-14 20:57] busrakaraa commented on #3407
I have the same issue for a week. Could you find a solution?

[2021-06-14 21:00] busrakaraa opened #3415 "[BUG] <npm ERR! cb() never called!>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Error when creating a project or even npm install function.

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\busra\

[2021-06-14 21:00] ljharb commented on #582
@jdmarshall npm 7 works on node 10+, so you'd have to be on node < 10 to have this be an obstacle.

(npm 7 ships with node 15 and 16, but "what version shipped with node" doesn't limit what version you can upgrade to)

[2021-06-14 21:01] ljharb commented on #2811
fwiw I agree; this seems just as unreliable as `module.parent`, for the same reasons.

[2021-06-14 21:02] ljharb commented on #3407
@kaartik2611 @busrakaraa does this happen on npm 7?

[2021-06-14 21:02] ljharb commented on #3415
See #417.

[2021-06-15 08:24] tobiu commented on #3410
I am using v7.16.0 and can confirm that npm update is broken.

The neo.mjs framework was using e.g. `"postcss": "^8.3.2"`, an update did not change it to 8.3.4, which is the latest stable version.

For me the entire npm cli ecosystem is completely messed up for almost 2 months now.

Even npm install does no longer update dependencies.

The only way that still works is:
1. delete the node_modules f

[2021-06-15 11:29] jorenbroekema commented on #2852
Checked with latest npm 7.17.0

This bug persists, and I just saw it happen to the `_auth` property too.
~/.npmrc:
[code]
then
[code]
~/.npmrc:
[code]

[2021-06-15 15:09] chee commented on #2811
so that we can run a script when somebody says `npm install thing` but not when they `cd thing; npm install`

[2021-06-15 18:22] AbhijeetAnand45 commented on #2003
change the url to https:// instead of http:// , Mine was type mistake

[2021-06-15 18:39] gillius commented on #1397
This does work in npm 7, so the issue was actually fixed.

[2021-06-15 20:29] #3292 closed, assigned to wraithgar

[2021-06-15 20:35] cgarrovillo opened #3419 "[BUG] npm ci is slow removing existing node_modules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If the node_modules folder contains dependencies and `npm ci` is ran, npm is astronomically slow at "remove existing node_modules/ before installation". It looks like it looks at the dependency tree and deletes them in the node_modules folder manually.

If the point of ci is for continuous in

[2021-06-16 06:26] ADTC opened #3421 "[BUG] npm ERR! cb() never called!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I encountered this with some scenarios involving Angular. Most recently with `npm i -D @angular-builders/custom-webpack`. I have looked at #417. Please feel free to ask me anything!

### Expected Behavior

It just works!

### Steps To Reproduce

1. Run `npm i -D @angular-builders/custom-webpa

[2021-06-16 06:28] ljharb commented on #3421
#417

[2021-06-16 07:56] Delagen commented on #3336
Don't work in cmd also. Run through cmd terminal with installed MSYS

[2021-06-16 08:55] ofirrifo opened #3422 "[BUG] Wrong error display for dependency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm using npm version 7.17.0

When I execute the `npm install` command I get:

[code]

as you can see the dependency are the same

[code]

### Expected Behavior

expected not to show error.
BTW in when I'm use npm V6.14.13 it work as should

### Steps To Reproduce

1. In this environment...
2

[2021-06-16 11:24] davidloiret commented on #2508
@wraithgar Please take a look. Problem still occurs with npm version v7.17.0.

[2021-06-16 11:43] ewanharris commented on #3341
@nlf I don't think this is coming from `@npmcli/run-script` but instead from `@npmcli/arborist`.

I looked at my install process under the debugger and tracked it down to [here](https://github.com/npm/arborist/blob/ff35994c7a2ac9cb88e6c27f0e9a45743a611c35/lib/arborist/rebuild.js#L230), at this point the `pkg` variable is a reduced version of my dependencies package.json, and is actually missing th

[2021-06-16 12:06] ewanharris commented on #3341
I was able to workaround this for now by manually reinstating the `"hasInstallScript": true` property onto the dependency in the package-lock.json file. It appears this had been removed while installing a new dependency causing the above, [ref](https://github.com/appcelerator/titanium_mobile/pull/12873/commits/5a174ce31a93838d79562e5c3faed45235245734)

[2021-06-16 12:24] Jalle19 commented on #2818
This happened to me today as well (Ubuntu 20.04, x86_64, Node.js v14.15.4, npm was 7.12.1):

[code]

I got the command from:

[code]

Dropping the version constraint worked:

[code]

Please consider fixing this bug or at least changing the suggested upgrade command.

[2021-06-16 13:19] javi11 commented on #2508
I see this happening in the current latest version for the peerDependencies, looking at the code I saw that in the following class:

[code]

The username and password are undefined. Not sure why :S

[2021-06-16 13:29] Lecam-host commented on #3421
je rencontre le meme probleme a l'installation d'une application en vue js

[2021-06-16 14:16] wraithgar opened #3424 "[BUG] npm is not finding newly published versions of packages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I publish a new version of a package, and then go immediately try to install that version specifically, I am getting an `ETARGET` error, indicating it does not exist in the registry.  However, if I curl directly from the registry, the new version does show up in the `versions` attribute,

[2021-06-16 14:40] wraithgar commented on #3409
This PR started to attempt to solve that problem, but we realized we probably want a little more discussion to be sure we're solving it in the right way:

https://github.com/npm/cli/pull/3397

[2021-06-16 15:57] Raynos opened #3427 "[BUG] install a git dependency by tag does not install correct version."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I run `npm install optoolco/tonic#v13.3.0` but instead `v13.3.2` is installed.

The wrong version is installed.

### Expected Behavior

Expected the right version to be installed ( `v13.3.0` )

### Steps To Reproduce

[code]

### Environment

- OS: Ubuntu 18
- Node: 14.15.4
- npm:  7.17.0

[2021-06-16 17:01] isaacs commented on #3427
I can't reproduce this with an empty package.json.  What else is in your package.json or package-lock.json?

[2021-06-16 17:01] DasarathanSampath opened #3428 "[BUG] <title>cb() never called!"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

"npm install bable-cli" throws an error "cb() never called!"

### Expected Behavior

_No response_

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/24868297/122262034-9a3c9080-cef2-11eb-9d3a-47d6e2c51326.png)

### Environment

- OS: Debian GNU/Linux 10 (buster)
- No

[2021-06-16 18:57] Raynos commented on #3427
Hmm, let me see what I have in my situation.

I tried the following again in a fresh git clone / folder

[code]

I copied the whole package-lock.json here https://gist.github.com/Raynos/f8b3f69bb79e9edf2c787e3198613aaf

The `optoolco/async-level` project is open source and it's package.json is here ( https://github.com/optoolco/async-level/blob/master/package.json )

[2021-06-16 19:05] Raynos commented on #3427
If I run the following command

First

[code]

Then I run `git diff` to see what npm changed in package.json & package lock and I see

[code]

The version / commit sha did not change.

[2021-06-16 19:16] isaacs commented on #3427
I'm seeing the commit sha and version change.  https://gist.github.com/isaacs/635b8b128d547a3c50abbe7a0e0238ba

What version of npm are you using?

What do `npm ls @optoolco/tonic` and `npm explain @optool/tonic` report?

[2021-06-16 19:20] Raynos commented on #3427
I ran the exact `test.sh` you published in the gist and it installed the correct version.

Must be something about the existing dependencies & package.json

[2021-06-16 19:21] Raynos commented on #3427
[code]

[2021-06-16 19:24] ruyadorno commented on #3427
sorry, it looks like the `npm explain` example had a typo in the scope name, it should have been the same pkg name:

[code]

[2021-06-16 19:30] Raynos commented on #3427
I was able to make a reproduction ( https://gist.github.com/Raynos/7399316094c146368e6a09f84d2d7970 ).

I had to actually downgrade the version number from 13.3.2 => 13.3.1 to reproduce the bug. Doing the same steps from 13.3.0 => 13.3.1 did not reproduce the bug.

[2021-06-16 19:30] Raynos commented on #3427
[code]

[2021-06-16 19:32] Raynos commented on #3427
I modified the `test.sh` and was able to reproduce without the `async-level` repo ( https://gist.github.com/Raynos/f19e484b0944b4a868fe0ce083c8a841 ).

[2021-06-16 19:35] Raynos commented on #3427
I tried some other permutations of git tags and it seems that downgrading to a lower semver version is key to reproducing the bug.

I ran into the bug a few days ago when I tried to "upgrade" from 4.10.0 to 5.0.0-someting-rc0

[2021-06-16 21:04] alexander-schranz commented on #2339
I tried today using instead of file: the new `"workspaces"` feature of npm 7:

[code]

This did end into the same problem, it did create the symlink in `node_modules/sulu-admin-bundle` to the given target directory but did not install its dependencies.

[2021-06-16 21:04] ljharb commented on #3428
#417

[2021-06-16 21:54] groksrc commented on #2508
I'm also having this issue. ~6 works fine, ~7 gets auth error. I would expect my existing .npmrc that works for 6 to continue to work for 7, but it does not. v7.17.0 is what I'm using.

Oddly enough, my Travis-CI build works fine but my GCP Cloud Build is the one that fails. They both build npm ~6 without issue.

=== Update ===

I found that my Travis-CI build has the ARTIFACTORY_USER and ARTIFACT

[2021-06-16 22:46] imprfekt commented on #2306
The problem is the incompatibility between your Node version and node-sass.
The problem was gone as soon as I downgraded from 16 to 14.x

[2021-06-17 01:35] DasarathanSampath commented on #3428
I tried re-installing the complete project to reproduce the same issue.
I the middle, I found my system, which was running low memory. I deleted few files and got more space.
Everything works well, and no "cb() never called!" error did not appear.
I assume it is a memory issue.

[2021-06-17 01:35] #3428 closed, assigned to nobody

[2021-06-17 07:10] zthxxx opened #3431 "[BUG] npx failed to install package and exec, when the user HOME dir is a symlink"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have't globally or locally install `serve`,  and the `npx serve` command is first command I executed after `npm i -g npm@7`, so I don't have any npm/npx cache.

[code]

### Expected Behavior

[code]

### Steps To Reproduce

1. make sure user `HOME (~)` dir  is a symlink (like mount on some

[2021-06-17 07:25] zthxxx commented on #3431
self troubleshooting:

1. I found the different logic that handles whether the HOME dir is a symlink is in `arborist/build-ideal-tree.js _rootNodeFromPackage method`

    but it is not exclusively belong to `npx`, just common npm install algorithm.

    https://github.com/npm/cli/blob/v7.17.0/node_modules/@npmcli/arborist/lib/arborist/build-ideal-tree.js#L357-L364

2. in Step.1 at line 363 and 364

[2021-06-17 08:46] busrakaraa opened #3432 "[BUG] <npm ERR! cb() never called!> v6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hello,

I had this error first when I create new React app.
I tried every suggested solution for this problem, including upgrading npm but even when I try to update my npm, it gives the same problem again.

NOTE: Please don't redirect me to https://github.com/npm/cli/issues/417, it also didn'

[2021-06-17 09:36] macedonga commented on #3432
I had the same problem, with the same exact version. I just ran `npm i` again after reinstalling npm and it worked

[2021-06-17 09:48] busrakaraa commented on #3432
Unfortunately, I tried it but got the same problem again.

![image](https://user-images.githubusercontent.com/39573363/122373445-2a69ec80-cf6a-11eb-8117-85a6513704ea.png)

[2021-06-17 09:51] macedonga commented on #3432
Weird...
(you forgot to hide your username before `npm i` btw)

[2021-06-17 10:06] zthxxx commented on #3431
https://github.com/npm/libnpmexec/pull/6

try fix by make `cacheInstallDir` always be a realpath

[2021-06-17 10:10] anoopkumarseth commented on #3432
1. Uninstall your node.js, & take backup of NPM folder & delete from C:\Users\<YOUR_NAME>\AppData\Roaming > NPM
2. uninstall windows development kit (IF have) from the control panel
3. clean your computer junks USING Cleaner(free version) https://www.ccleaner.com/ccleaner/download
4. restart your PC.
5. Reinstall Node js & angural CLI
6. then create a new App from the command prompt

Then Your Pro

[2021-06-17 10:36] staizen-jose-macalla opened #3433 "NPM INSTALL FAILS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\PREDATOR\AppData\Local\npm-cache\_logs\2021-06-17T11_36_12_775Z-deb

[2021-06-17 10:56] #3433 closed, assigned to nobody

[2021-06-17 11:45] davidgoitia commented on #2660
I also think this should be treated as a bug as previous versions of npm and all versions of yarn support this.

For example we use `preinstall` script for generating workspaces from gRPC `.proto` files before workspaces and dependencies get evaluated. This works perfectly with yarn workspaces but doesn't with npm v7

[2021-06-17 12:37] jakubjosef commented on #3045
Good news, this seems to be working for me on 7.16.0.

[2021-06-17 13:07] mmiretsky commented on #3045
Does not work for me either on 7.16.0 or 7.17.0. Still says "up to date" and does not pull down the newer version of the package from Bitbucket.

[2021-06-17 13:38] StefanBrand commented on #2010
This should be really easy to solve by using `git rev-parse --show-toplevel`.

[2021-06-17 14:28] StefanBrand commented on #2010
Workaround:
<s>
[code]
</s>

Edit.: My bad, the above tags the commit _before_ "Bump version". This works:

[code]

___

I ended up putting everything into a `release.sh` script:

[code]

Edit: Our new version of the release script.

[2021-06-17 15:49] allan-1 commented on #3432
Mine was a problem with the network connectivity. After I have checked it is now working.

[2021-06-17 15:51] isaacs commented on #3427
Indeed.  Swapping the `13.3.0` to `13.3.2` in my test reproduces the bug.  https://gist.github.com/isaacs/edebb26f6d5aa6f0fa6121a8b9cc8084

I have a feeling it's due to the "use the newer one if it satisfies" check being overly loose in comparing git deps.  Will dig in, thanks for bearing with me.

[2021-06-17 15:54] isaacs opened #4278 "[BUG](arborist) installing older semver tagged git dep doesn't downgrade if newer git dep is present"
Reproduction: https://gist.github.com/isaacs/edebb26f6d5aa6f0fa6121a8b9cc8084
Original issue: https://github.com/npm/cli/issues/3427

Suspect that the decision to use `KEEP` instead of `REPLACE` when a newer semver version is present is being overly loose in comparing git deps for resolution of dependencies.  If a git dep is on a specific git ref, and the resolution of the ref is known, then only

[2021-06-17 15:59] Raynos commented on #3427
I am curious why i could not install from `optoolco/libraryv5.0.0-opkit-rc10` to `optoolco/library#v5.0.0-opkit-rc13`

It might be that it only installs what `npm i foo/bar#version` if version is HIGHER and its not using pre release part of semver.

[2021-06-17 17:13] midudev commented on #3257
Tried latest version 7.17.0. Still happening.

[2021-06-17 17:48] isaacs commented on #3431
Here's the root cause fix: https://gist.github.com/isaacs/c02d6c2f72cbbbb0c7c5be856d8bac8a

Repro cases: https://gist.github.com/isaacs/3e61667df31f750f88030eb16ed9191a

[2021-06-17 18:10] darcyclarke commented on #3432
@busrakaraa Is this a problem you're able to consistently reproduce? Are you working with any peers that are running into the same problem for the same project? Are you able to provide your project's `package.json` &/or `package-lock.json` & more information about your OS/environment? Unfortunately, we aren't triaging v6 bugs anymore so our current hope is that updating to `npm@7` will help resolv

[2021-06-17 18:14] #3432 closed, assigned to nobody

[2021-06-17 18:20] #3382 closed, assigned to nobody

[2021-06-17 20:11] zthxxx commented on #3431
I have read the `diff.js`, but also not sure why need judge only global install, maybe npx default to install in global node_modules when npm@v6?

[2021-06-18 01:50] yw662 commented on #2329
Actually not. The wanted behavior of `npx foo`, should be conceptually identical to:
* `foo`, with the package already installed globally or locally,
otherwise,
* `npm install foo`, then `foo`, then `npm uninstall foo`, or uninstall conceptually and hopefully the cache can be useful.

It is important to do the `uninstall` step. `npx` should **keep it clean** as if it never runs, except the side ef

[2021-06-18 05:14] ljharb commented on #2329
@yw662 "conceptually identical" encompasses the steps you described.

[2021-06-18 05:26] yw662 commented on #2329
But 'npm i -g' would introduce a side effect that 'npx' should not. It is not identical.

[2021-06-18 05:28] jsg2021 commented on #2329
I think this issue should probably be locked. (It's already closed)

npx is operating as expected (as far as I can tell)

Bugs happen.

This issue was originally to document a perceived departure from v6 to v7. That has been clarified and rectified.

[2021-06-18 06:29] Mar-Lak opened #4392 "[FEATURE] Show HTTP Body in case of an error, e.g. Bad Request 400"
# What / Why
Using a repository other than the NPM registry, e.g. Gitlab's package registry, there are several different reasons, why HTTP response STATUS codes could be other than 200.

## When
 * Try to publish an npm package to a Gitlab's project registry
 * The package has already been published to another Gitlab project on the same instance
 * HTTP Status code will be 400 and the response's b

[2021-06-18 06:56] marinpurgar commented on #2799
Still not working in npm 7.17.0.

[2021-06-18 08:36] ehoogeveen-medweb opened #3438 "[BUG] WARN old lockfile when running npm update."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Starting from npm 7.18.0, when I run `npm update` on my project I get an `old lockfile` warning, even when the lockfile is freshly created. The warning says it's a one-time fix-up, but no changes are actually made and if I run `npm update` again the warning repeats itself.

### Expected Behav

[2021-06-18 11:21] archfz commented on #3208
Apparently the out of heap doesn't reproduce anymore.
But the process still hangs for a very long time on `reify:createSparse` on any image. For this specific case on my system it's a whopping `180000ms`. Also the process uses even up to 5gb ram. Locally still work fast.

Docker version 20.10.7, build f0df350
Npm: 7.18.1

[2021-06-18 11:41] archfz commented on #3208
Happened again on previously mentioned newer version, but the Ubuntu 16 docker image.

[code]

[2021-06-18 15:55] ghost opened #3439 "Error encountered when doing npm install."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

### Expected Behavior

_No response_

### Steps To Reproduce

npm install

### Environment

- OS: Windows 10
- Node: v14.17.1
- npm:  6.14.13

[2021-06-18 16:12] salob commented on #3439
I am also getting this error, could it be related to a particular npm registry mirror? As it works okay on machines in a different geographic location

[2021-06-18 16:14] salob commented on #3439
[code]

[2021-06-18 18:34] darcyclarke commented on #3208
**Action:** try to replicate

[2021-06-18 18:36] ljharb commented on #3439
#417.

Also, try npm 7.

[2021-06-18 18:38] darcyclarke commented on #3223
@isaacs to fix

[2021-06-18 18:39] darcyclarke commented on #3225
@paulrosania can you try this on the latest version of npm & confirm it's still a problem? (ie. `npm i -g npm`)

This could be related to or a duplicate of: https://github.com/npm/cli/issues/2810

[2021-06-18 18:44] darcyclarke commented on #3229
**Action:** our team needs to repro

[2021-06-18 18:48] darcyclarke commented on #3230
@jameschensmith can you try to install the latest version of `npm` & see if you can reproduce? (ie. `npm i -g npm`) Also, if you run `npm explain <pkg>` you'll get more information about why a package is being installed

[2021-06-18 19:01] darcyclarke commented on #3234
Note: we don't want to change the permissions of `package.json` from what you - as the user - have explicitely defined, so the `EACCESS` error will persist if you've chmod'd the dir/file to prevent writes (this was incorrectly being allowed in v6) & we will always write files w/ a carriage return; What we can/will do here though is ensure we don't write the file if we don't see that line break (/c

[2021-06-18 19:27] t1m0thyj commented on #2632
@ruyadorno Sorry for the delayed response. I don't claim to know how the wider TypeScript community handles this. I also don't immediately see an issue with using the `prepare` lifecycle script as you've suggested, so I'll consult with my team about whether it would work for our use case.

However, requiring to use the `prepare` lifecycle script feels like more of a workaround than the ideal solut

[2021-06-18 19:59] ljharb commented on #2632
The only time npm should be validating things like that is at publish time, i think.

[2021-06-18 21:19] wraithgar commented on #3235
The registry setting will only inform npm where to pull packages via name.  Once the package-lock is made, that is where things will be pulled from.  If you want them to be different you will need to bypass the package-lock.

[2021-06-18 21:20] wraithgar commented on #3247
Yes this is a duplicate of #2610

[2021-06-18 21:20] #3247 closed, assigned to nobody

[2021-06-18 21:22] wraithgar commented on #3255
Can't reproduce this with the information given, please provide more info about how to reproduce this bug if this is still a problem.

Please also read this wiki page for more info: https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22

[2021-06-18 21:22] #3255 closed, assigned to nobody

[2021-06-18 21:33] wraithgar commented on #3256
I don't get the same error in `v7.18.1` but I do get what I would consider buggy behavior.   The package.json and package-lock.json files are created, but there is no `node_modules` directory.

This does NOT happen if I pass a `prefix` that is in my home directory.

[code]

[code]

[2021-06-18 21:35] wraithgar commented on #2728
By default the engines field is only a WARN.

If you want this to result in a failure you need to configure `engines-strict` flag to true.

[2021-06-18 21:35] #2728 closed, assigned to nobody

[2021-06-18 21:36] wraithgar commented on #3263
By default the engines field is only a WARN.

If you want this to result in a failure you need to configure engines-strict flag to true.

[2021-06-18 21:36] #3263 closed, assigned to nobody

[2021-06-18 21:37] wraithgar commented on #3259
This does not appear to be an npm bug.

[2021-06-18 21:37] #3259 closed, assigned to nobody

[2021-06-18 21:38] wraithgar commented on #3278
This repo is for the npm cli itself, which shows whatever error the registry it is sending requests to gives it.

For npm registry issues please contact the npm registry team via their support form: https://www.npmjs.com/support

[2021-06-18 21:38] #3278 closed, assigned to nobody

[2021-06-18 22:47] isaacs commented on #3223
Will be fixed when npm/pacote#80 lands.

[2021-06-18 22:48] #3157 closed, assigned to isaacs

[2021-06-18 22:57] isaacs commented on #2811
I see!  Ok, I don't think you need `npm_package_from` for this, you were just using it as an indicator that _something_ is pulling it in as a dep, and that's why it's there.

A simple way to do that today (mostly) is to look at the `INIT_CWD` environment variable and the current working directory.  If those are the same, it's `cd thing; npm i`.  If they're different, it's `npm i thing` (or possibl

[2021-06-18 22:59] isaacs commented on #2920
Will be closed when https://github.com/npm/pacote/pull/81 lands.

[2021-06-18 23:05] isaacs commented on #3300
#2920 is a slightly different bug.

I could see disabling prepares when `--ignore-scripts` is set, but we do need to run them for the package-lock-only, or else we can't be guaranteed to get the correct results in the `package-lock.json` file.

Will be fixed when npm/pacote#81 lands.

[2021-06-18 23:46] isaacs commented on #3431
Will be fixed when https://github.com/npm/arborist/pull/294 lands.

[2021-06-18 23:46] isaacs commented on #3431
npx in npm v6 didn't use any of this code.  npm v7 is a very different animal.

[2021-06-18 23:47] isaacs commented on #3438
Fixed by https://github.com/npm/arborist/pull/293

[2021-06-19 01:33] jemucino opened #3440 "[BUG] Could not resolve dependency even though found version should satisfy peer version spec"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try to run npm audit fix, I get the following error:

[code]

### Expected Behavior

I don't know enough about NPM to say what the expected behavior should be, but shouldn't the found version (4.44.2) satisfy the peer dependency(>=4.43.0 <6.0.0)?

### Steps To Reproduce

1. In my PC (o

[2021-06-19 06:14] kaartik2611 commented on #3407
yeah.
The same error
[code]

[2021-06-19 07:41] leepowelldev commented on #3235
@wraithgar Ok. Although this is frustrating as v6 did not work in this way and there was no documentation of this rather major change in the v7 release notes.

[2021-06-19 14:15] ljharb commented on #3235
@wraithgar thst does seem like a bug; my understanding is that npm is supposed to ignore the URLs in the lockfile and defer entirely to the registry settings in config.

[2021-06-19 14:44] shaybc opened #3441 "npm config edit user or group - not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when executing npm package executable on a policy restricted PC the user/group config does not take into effect,

i am on an enterprise windows PC, after installing [npm-gui](https://www.npmjs.com/package/npm-gui) (also happens on [nx.dev StoryBoard](https://www.npmjs.com/package/@nrwl/storyb

[2021-06-19 14:52] TomasHubelbauer commented on #2329
Seeing as the issue is not locked, yet, I'd like to add my own comment in support of NPX always installing the latest version of the package no matter what. The current behavior of being stuck on whatever version happened to be the latest the first time the user has run `npx package` seems really odd to me. The user is not choosing a specific version when using `npx package` the first time they ru

[2021-06-19 18:58] justintim-es opened #3442 "are sudo apt install packages not up to date?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After running ```sudo apt update && sudo apt install nodejs```
```sudo apt install npm`` does run into the following>
[code]

[2021-06-19 20:06] ljharb commented on #3442
npm isn't officially distributed on apt, and shouldn't be installed with it ever (nor should node itself).

npm comes with node, and installs itself. There's a separate npm install script, but that's a last resort.

[2021-06-19 21:45] webstech commented on #1905
For anyone else getting here after searching on `postinstall` not running in dependent packages, see [npm/cli #2606](https://github.com/npm/cli/issues/2606).  `"hasInstallScript": true` was not set during conversion to version 2.  Deleting `package-lock.json` and `node-modules` to do a fresh install will correct things.

Someone could probably write a script to update `package-lock.json` for any d

[2021-06-19 23:28] darkobits commented on #1905
Curious why the determination as to whether or not a package has a `postinstall` script is based on this boolean and not by whether the package in question has a script named `postinstall`.

[2021-06-20 02:20] jsg2021 commented on #2329
npx is designed to always pull latest if the command is not already present. If you are getting an old one when running the command you are experiencing a bug.

[2021-06-20 05:12] aladdin-add commented on #2632
agreed!

[2021-06-20 05:48] tymsai opened #3443 "The npm start command is too slow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The npm start command is too slow it takes almost 5 min to start

### Expected Behavior

It was expected to start within some seconds

### Steps To Reproduce

type npm start and hit enter

### Environment

windows 10 home
node latest version
npm latest

[2021-06-20 06:53] streetcredmusicgroup commented on #3442
Street Cred Music Group

[2021-06-20 07:12] giltayar opened #3444 "[BUG] `npm init <package>` doesn't use newer version if existing version is semver-major incompatible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

(the use of `@roundforest` is just an example.)

Using `npm init @scope` will use the latest version of the package, but only if the latest version is semver-minor/patch compatible with the version last used in `nm init @scope`. If it is semver-major changed, then it will continue to use the

[2021-06-20 07:30] itismeniraj opened #3445 "[BUG] <npm ERR! cb() never called>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...'
4. See error...

### Environment

- OS:
- Node:
- npm:

[2021-06-20 12:37] ui-daddy commented on #2339
I have 2 different workspaces for my library and app and I cannot use my local library inside my app as there is no node_modules in the dist folder of the library. The only workaround is to run npm install explicitly inside dist > project_folder and then fire npm link. But thats too hectic, I prefer going back to npm6

This should definitely get fixed or an option should be provided the least.

[2021-06-20 14:39] ljharb commented on #3443
The start command runs a user-provided script, so npm doesn’t have anything to do with it.

[2021-06-20 14:40] ljharb commented on #3445
#417

[2021-06-20 15:40] tymsai commented on #3443
I checked in windows power shell also
the npm start command is running slow

[2021-06-20 15:56] ljharb commented on #3443
Again, it’s not npm, it’s “whatever your project defined start to be”.

[2021-06-20 16:45] webstech commented on #1905
Performance I assume.  `package-lock.json` should have enough information to avoid reading the dependent `package.json` files.

[2021-06-20 22:38] nlf commented on #3442
Exactly as @ljharb put it. We don't officially distribute via apt, and we do not maintain the builds that do exist.

[2021-06-20 22:38] #3442 closed, assigned to nobody

[2021-06-20 22:39] #3445 closed, assigned to nobody

[2021-06-20 22:44] nlf commented on #3443
As @ljharb said, we don't control what your start script runs. If changing your start script to something that you know for sure should run quickly, like `echo hello` and that still takes 5+ minutes, then this is potentially an npm issue. If not, it's out of our control entirely. If a simple command like that is very slow, let us know and we'll reopen this issue.

[2021-06-20 22:44] #3443 closed, assigned to nobody

[2021-06-20 22:47] nlf commented on #3439
@ljharb's response is spot on. If the issue continues in npm 7 feel free to open a new issue with as much information as possible

[2021-06-20 22:47] #3439 closed, assigned to nobody

[2021-06-20 22:52] nlf commented on #3422
We're missing a lot of the error message here. Can you paste the full output? If you can, sharing your package.json and package-lock.json would also be very helpful.

[2021-06-20 22:57] nlf commented on #3419
Not deleting the entire directory is a deliberate feature that we added a while back. That said, I do agree with you that the performance of it should be comparable to a simple rm -r. We'll look into it and see if we can improve it.

[2021-06-20 23:07] nlf commented on #3410
The original issue described is indeed intended behavior, though I agree that this could be noted more clearly in the docs to make it less confusing. Today it just says "respecting semver" but we can add an example of what that means.

@tobiu if you can open a new issue and give us as much information as possible to reproduce what's going on for you, we'll take a look!

[2021-06-21 07:57] mnmkng commented on #3234
Yeah, agree and thank you. It totally makes sense to have EOF in files. We've fixed our permissions in the meantime, but I think it still makes sense for `npm install` not to fail for people who have only read permissions to the `package.json`.

[2021-06-21 09:07] olavfosse commented on #964
@isaacs @iarna @zkat

Please reopen this.

[2021-06-21 09:48] tymsai commented on #3443
`echo hello` is running super fast no problem in this command :-) thanks , but npm start is where issue is starting ( Power Shell Terminal )

[2021-06-21 12:00] JakeChampion opened #3446 "[BUG] binary entrypoint is not being added to ./node_modules/.bin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running `npm i "@financial-times/sass@latest" --save` will install the package but will not add the binary entrypoint `sass` to `node_modules/.bin`.

This works in npm 6, I'm not sure why it does not in npm 7

### Expected Behavior

The `sass` binary entrypoint should be added to `node_module

[2021-06-21 12:07] chee commented on #3446
I can reproduce this on 64-bit Linux

[2021-06-21 13:31] JakobJingleheimer commented on #3077
@redevill Hmm, I think state should probably not be managed via environment variables—they're more like environment constants: their value should not change during runtime—you can get yourself into quite a bit of trouble if you do.

---

@darcyclarke here is where the documentation explicitly says this should work:

[Using NPM › Scripts › Special package.json config object](https://docs.npmjs.com/

[2021-06-21 14:21] 9oelM commented on #1662
I am using npm@7.18.1 and able to reproduce this issue. For example: https://github.com/9oelM/youtube-lite/commit/71043202956059430d08dfa9a9c7b3c3af3574f9. This is actually a commit made by Renovate bot, and it uses npm 7. You can see that package-lock.json has the same number of lines added and deleted.. which just means that it does not preserve indentation.

![image](https://user-images.githubu

[2021-06-21 14:34] redevill commented on #3077
@JakobJingleheimer  - Perhaps state was the wrong word. From the point of view that you can set or choose the value of a variable, that is handed to a script... this for me is a "Starting State". I was expecting, that this chosen value (state) would remain in scope for all of the preScript mainScript and postScript portions. However, this chosen value, as you suggest (environment constant) could b

[2021-06-21 14:58] wraithgar commented on #3441
Those are the v6 docs you linked.  The `user` config option is not present in npm v7.  In order to run as a different user, npm must be ran as root and then scripts will be run with the effective uid and gid of the current working directory owner: https://docs.npmjs.com/cli/v7/using-npm/scripts#user

[2021-06-21 15:01] wraithgar commented on #3412
This looks like a problem w/ the npm registry, not the cli.  Please contact support at https://www.npmjs.com/support

[2021-06-21 15:01] #3412 closed, assigned to nobody

[2021-06-21 15:27] Yegorich555 commented on #2010
How can I point tagged version in commit message in this case?

[2021-06-21 17:27] ljharb commented on #964
@fossegrim does it still occur on npm 7?

[2021-06-21 17:28] ljharb commented on #3443
@tymsai again, the issue isn't "npm start" - it's "whatever command the start script uses". If you run that command by itself (not `npm start`, but whatever command is inside "scripts.start") in powershell, what happens?

[2021-06-21 17:47] olavfosse commented on #964
yes

[2021-06-21 18:33] rollecode commented on #2117
Strangely enough, on my machine this happens only on Windows 10 / WSL with nodejs 7.x.x installed.

Logfile 2021-06-21T18_29_07_396Z-debug.log:

[code]

**Solution:** Downgrade npm to 6.14.11 with `npm install -g npm@6.14.11`.

[2021-06-21 19:02] cedricguindon opened #3447 "[BUG] npx outputs successful "Done" message to stderr"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a npx command is executed, the results on a valid successful command is sent to stderr

### Expected Behavior

The successful response should be going to stdout and not stderr

### Steps To Reproduce

Command could be anything, here's an example:
1: npx tailwindcss@latest build 2> /tmp/n

[2021-06-21 19:25] shaybc commented on #3441
wraithgar thanks for the correction and asnwer,
i am running on a windows system (so there instead of root i use Administrator), i have ran the cmd as Administrator, the folder i am using is owned by MyUser, and the package is installed to global (-g) and still when run it is not executed using MyUser

[2021-06-21 19:38] jdmarshall commented on #582
Since node 15 is not an LTS version, it hardly matters from an operations perspective that it's available in 'node 15 and node 16'.  It ships with node 16, that's what matters.

First, we have a large CI facility which would be challenging to alter to have a different NPM version than what ships with Node.

But even if I could solve that problem, I'm not motivated to spend political capital to do

[2021-06-21 19:51] nerdyman opened #3448 "[BUG] npm 7 Workspace Dependency Resolution Does Not Work with Docker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running npm scripts on workspaces in a Docker container fail to resolve hoisted modules with the error message `Cannot find module`.

Everything works correctly on my Linux desktop machine but does not work in a Docker container (tested on Debian and Alpine).

Also, lodash is correctly resolv

[2021-06-21 21:26] isaacs commented on #1905
@calculonprime https://docs.npmjs.com/cli/v7/using-npm/config#foreground-scripts

[2021-06-21 21:48] ljharb commented on #582
@jdmarshall given the frequency of new features and bug fixes and security fixes, limiting yourself to the npm that ships with node is a very costly choice to make. I'd suggest altering your CI to make that easy sooner than later, regardless of this specific issue.

[2021-06-21 23:42] webstech commented on #1905
Published a package on npm to do this.  This will minimize change for anyone in tightly managed environments.  Run this is the same directory as `package-lock.json`.  It will report the packages that have `install` scripts.

[code]

`--dry-run` prevents the lockfile from being updated.  Running without the parameter will update the lockfile as needed.

[2021-06-22 03:26] tymsai commented on #3443
ok if it is not the problem of npm then can you please find out where the trouble is :-(

[2021-06-22 03:51] ljharb commented on #3443
@tymsai what are the contents of "start" under "scripts" in package.json?

[2021-06-22 04:56] tymsai commented on #3443
![image](https://user-images.githubusercontent.com/76956612/122865612-4d1e4b80-d344-11eb-8411-16c2c9f17988.png)

[2021-06-22 04:59] ljharb commented on #3443
@tymsai ok so presumably `npx react-scripts start` would also be slow - which means it's an issue with react-scripts. file it there.

[2021-06-22 05:07] tymsai commented on #3443
npx react-scripts start is also slow,  " file it there " , can you please give me the link

[2021-06-22 05:08] ljharb commented on #3443
the package is named "react-scripts", so go to https://npmjs.com/react-scripts, and look for a "repository" link.

[2021-06-22 05:09] tymsai commented on #3443
ok sir

[2021-06-22 07:44] StefanBrand commented on #2010
@Yegorich555 Sorry, I found out myself that my workaround does not work as intended, but I forgot to update my post. I edited the above post and added my current solution. :slightly_smiling_face:

[2021-06-22 10:16] yelworc commented on #2704
Stumbled upon this issue after upgrading npm, skimmed another issue thread and this one; at least two maintainers claim that this was an intentional breaking change, yet I can't find the rationale behind it (in fact, I wasn't even able to find any mention of it in the npm v7 changelogs at first glance).

I'm fine with adjusting my workflow, but at the moment I can't quite figure out how this new b

[2021-06-22 10:29] pipobscure commented on #2282
Please reopen. This is still happening in v7 and requiring manual resubmission looses history.

[2021-06-22 10:30] pipobscure opened #3449 "[BUG] "deprecations must be strings" Deprecations fails consistently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

See #2282

### Expected Behavior

See #2282

### Steps To Reproduce

See #2282

### Environment

See #2282

[2021-06-22 12:11] ezechiaskumbu77 commented on #423
I am facing the same problem when installing node js in my angular project

[2021-06-22 12:12] ezechiaskumbu77 commented on #423
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\HP\AppData\Local\npm-cache\_logs\2021-06-22T11_54_05_253Z-debug.log

[2021-06-22 13:14] jamesorlakin commented on #3230
@darcyclarke I'm guessing you meant to tag me 😄. I've tried again with the latest v7 and it's not fully reproducing lockfiles in the correct way. **However,** if `node_modules` is also deleted so the only thing remaining is `package.json`, npm 7 will actually recreate the lock successfully. Something about node_modules not currently containing the optional dependency is confusing it.

---

Fresh 7

[2021-06-22 13:53] CodeTroopers commented on #2610
Thanks to @Amoki  for his workaround. It works like a charm

[2021-06-22 14:23] targos commented on #3385
I can still reproduce with npm 7.18.1

[2021-06-22 14:38] #3449 closed, assigned to nobody

[2021-06-22 16:57] RobertHaedrich2012 commented on #2175
~This issue still exists with `npm v7.15.1`.~

~### Environment~
~macOS Big Sure 11.3~

Oh sorry, that was wrong. NPM still checks the engine version and respects the strict flag. My problem is, that the timing of the check has probably been changed. Looks like the check is now after the dependencies are installed.  Maybe some identically behavior change like the [preinstall script](https://github

[2021-06-22 17:02] nerdyman commented on #3448
After doing a bit more digging on this I've found that it works when `ENV NODE_ENV=production` is removed from the Dockerfile.

I'm not sure why this breaks the dependency resolution, I thought npm to behave in the same way when running in production mode. It works either way the host machine but does not work with the environment set to production in the container :thinking:

[2021-06-22 20:21] kanoshin commented on #3079
This issue started happening almost in 100% of runs on our windows build agents after updating to npm v7.18.0. Reverting to v7.17.0 seems to be fixing it.

We've attempted to run `npm cache clean --force`, manually removing npm caches and also running `npm i --force` but nothing helped, only version revert did.

[2021-06-22 21:01] Ivan01925 opened #3453 "fix: Unnecessary variables and ESLint errors"
Hi, while I was reading the code I found that there are variables that are never used:

![image](https://user-images.githubusercontent.com/42753018/122994442-165d2b00-d36e-11eb-827a-ee337c44daaf.png)

In the file _ls.js_ the function getChildren do a filter by the selected workspaces an other by edges types if shouldSkipChildren is false.

The function "filterByEdgesTypes" filter debs by type and

[2021-06-23 10:42] chee commented on #2811
Yeah, our workaround is to use `[ "$PWD" == "$INIT_CWD" ]` which works just fine.

I'm fine with your first idea of updating the spec to remove it. It would be nice if this could be its own lifecycle, or environment variable, so that it's easier to discover and the code looks less m̶̲̠̭̺̠̳̙̫̲̪͂͑̉å̸̢̟͙͔̹̬̜̒̇̄̽͌̒̍͗̀́͒̚̚̚͝ģ̶̲͖̖̩͎̭̜͍̦̮̞͖̀i̷̛̛͎̝̩̮̜̬͖̲̫̭̗̠̊̒͛̂͋͊̔̾͂̕͘͝c̶̨̭͎̼̞͈̜̺͇͔͔̎̀̈̇̄̏̏̿͑͌́͌́͝k̴̾͑̽͆̕

[2021-06-23 12:16] kdy1 commented on #2104
I'm on `7.14.0` and cancelling `npm i -g @swc/cli` deleted all files tracked by git and `.git` itself, too.

[code]

![image](https://user-images.githubusercontent.com/29931815/123094693-29542600-d468-11eb-9608-75c04a5d2e3b.png)

I did `npm link` on swc-bugs directory before installing `@swc/cli` globally.

(git branch in screenshot disappered)

[2021-06-23 12:38] kdy1 opened #3457 "[BUG] npm i -g @swc/cli removed my git repository"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Deletes git repository.
(Removed `.git` and tracked files)

### Expected Behavior

Install without error

### Steps To Reproduce

1. Clone https://github.com/kdy1/swc.git
2. Checkout `resolver` branch
3. npm i
4. npm run build:dev
5. npm link
6. npm i -g @swc/cli

### Environment

- OS: macOS

[2021-06-23 16:19] ljharb commented on #2104
@kdy1 does the same thing happen on npm v7.18.1?

[2021-06-23 16:19] ljharb commented on #3457
Duplicate of #2104?

[2021-06-23 16:23] RA80533 commented on #2701
I see this happen quite often when the `version` field in package.json is bumped without making a corresponding change to package-lock.json, resulting in the files being out of sync.

[2021-06-23 17:51] bmwalters opened #3461 "[BUG] npx --force warning hides confirmation prompt to install package"
### Current Behavior

When using `npx --force`, the warning printed due to using `--force` covers up the prompt asking the user to enter "y" to proceed. At first glance it looks like the command has hung waiting for I/O or something.

[code]

### Expected Behavior

The command output should not hide the line prompting the user to enter "y" to proceed.

### Steps To Reproduce

1. Use a system witho

[2021-06-23 20:21] wraithgar commented on #2818
This bug was fixed in `v7.17.0` and was due to some lazy loading of `agentkeepalive` in a subdependency of `npm-registry-fetch`.  It should not happen in versions going forward.

ref: https://github.com/npm/cli/commit/e92b5f2ba07746ae07646566f3dc73c9e004a2fc

[2021-06-23 20:21] #2818 closed, assigned to nobody

[2021-06-23 20:22] wraithgar commented on #2818
If you are consistently getting this error, and omitting the version does not work, you can install the newest npm via our install script:

[code]

[2021-06-24 02:56] Kevin8821 opened #3462 "[BUG] <title>npm ERR! This is an error with npm itself."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

C:\WINDOWS\system32>npm install express -g
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Program Files\nodejs\node_cache\_logs\2021

[2021-06-24 04:48] kdy1 commented on #3457
@ljharb `npm link` was successful. Before getting this issue, my folder was removed when I **canceled** `npm i -g @swc/cli`

I get this issue even though `@swc/cli` installation was successful.

[2021-06-24 06:52] sonallux commented on #3208
@darcyclarke I am also experiencing a very slow `npm install` in a Docker container with NPM 7. I have reproduced the performance issue on multiple machines (Ubuntu 20.04 server and Windows using Docker Desktop with WSL2) and also on GitHub actions. Check out my https://github.com/sonallux/npm7-performance-issue repository ~~and specifically, this workflow run https://github.com/sonallux/npm7-perf

[2021-06-24 09:32] bpetrovbg commented on #3462
I encountered the same error, but in Gitlab CI/CD. I haven't changed anything in the ci/cd yml and saw that the pipeline started failing automatically when I pushed some new code (even tried to rerun some successful pipelines from yesterday, the result was that they are now failing because of that error...). Tried cleaning the npm cache, regenerate package-lock, etc...didn't help. So far I used:
i

[2021-06-24 12:35] ghost commented on #3462
Perhaps [this page](https://github.com/npm/cli/wiki/%22cb()-never-called%3F-Exit-handler-never-called%3F-I'm-having-the-same-problem!%22) will be of any help?

[2021-06-24 15:08] bpetrovbg commented on #3462
For some reason our pipelines are working again now, without changing anything...

[2021-06-24 17:35] royrakesh commented on #3462
Same issue
Even after a fresh Nodejs Installation.

[code]

[2021-06-24 18:28] jamesmalin commented on #2306
I downgraded as well for the time being.

Edit:
Forgot to add here. A couple of min after posting I got everything working and up to date by installing with yarn (node 16.4). I was also missing a few dependencies for expo.

[2021-06-24 21:04] #3431 closed, assigned to nobody

[2021-06-24 21:35] #3234 closed, assigned to ruyadorno

[2021-06-24 21:44] mdkrieg commented on #3318
I've run into this as well, why is this the intended function? I was trying to test whether a project I had just split up would resolve a common dependency correctly and had to push to github before it worked correctly. Why would the folder install not resolve dependecies like all the other methods? Using npm pack unfortunately doesn't offer the same flexibility as using the folder install.

Other

[2021-06-24 22:07] mdkrieg commented on #3358
I am also interested in this outcome.

[2021-06-24 22:29] #3453 closed, assigned to nobody

[2021-06-25 01:17] noelvillagonzalo opened #3466 "[BUG] Workspaces - bundledDependencies missing in tarball after npm pack"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

In a project with workspaces, run "npm install" and then "npm pack -w a" from the root. Packages specified under bundledDependencies of package/a are NOT included inside the node_modules of the resulting tarball (a-1.0.0.tgz)

### Expected Behavior

Packages specified under bundledDependencie

[2021-06-25 02:53] uc-vks commented on #3462
I have also facing same issue since yesterday.
![image](https://user-images.githubusercontent.com/50698759/123362634-9c57bc80-d58e-11eb-84bb-2e95e74c5931.png)

[2021-06-25 03:35] wraithgar commented on #3462
This error needs much more information for us to try to debug it, see [this page](https://github.com/npm/cli/wiki/%22cb()-never-called%3F-Exit-handler-never-called%3F-I'm-having-the-same-problem!%22) for more info

[2021-06-25 03:41] G-Rath commented on #3256
I can produce this behaviour locally in a non-tmp directory using this script:

[code]

[code]

[code]

This is running the latest npm (7.19.0) on Node 16.0.0, from a standard directory and also from my home directory.
This doesn't happen if I don't use `--prefix`.

I figure this will be the same underlying issue - let me know if you'd like more info or a new issue to be created :)

[2021-06-25 03:41] royrakesh commented on #3462
I think enough information to reproduce the issue is already there but if need more information please ask which information you need . i will share all the possible information you need.

[2021-06-25 03:43] wraithgar commented on #3415
Much more info is needed to debug this issue, please see #417

[2021-06-25 03:43] #3415 closed, assigned to nobody

[2021-06-25 03:44] #3406 closed, assigned to nobody

[2021-06-25 05:01] MatthewWid commented on #2508
Would also like to contribute that this issue still occurs on `npm@7.19.0` and Node v16.x with Verdaccio as a private registry.

Using WSL2 with Ubuntu v20.04.2, but also fails in an `ubuntu@latest`-based Docker build.

`~/.npmrc`

[code]

(Docker build instead sets auth token with `npm config set "//verdaccio.company.com/:authToken" "AUTH_TOKEN_HERE"`, but both fail.)

`<project>/.npmrc`

[code]

[2021-06-25 05:59] ehoogeveen-medweb commented on #3438
I no longer see this with 7.19.0 (which includes the commit mentioned above), thanks!

[2021-06-25 05:59] #3438 closed, assigned to nobody

[2021-06-25 07:05] archfz commented on #3208
@sonallux good summary.

For us this is a dealbreaker. As news were promising us better performance with npm7, we wanted to update immediately, but we have pipelines, most projects have pipelines, and it is there where performance matters the most.

[2021-06-25 08:36] Sascha-Block commented on #2728
Still an issue with dead lock effect...

[2021-06-25 08:48] Sascha-Block opened #3467 "[BUG] npm: 7.6.1 causes ERR and WARN - dependencies not resolvable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`npm install` does not solve it...

`npm install npm@latest -g` - does not take any effect either

[code]

Before that the Warnings prevent an running npm
npm WARN EBADENGINE Unsupported engine {
npm WARN EBADENGINE   package: 'app@0.1.0',
npm WARN EBADENGINE   required: { node: '>=10.16.0 <=

[2021-06-25 10:35] warjiang opened #3468 "[BUG] npm can only upload 185k tarball"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

if the tarball exceed 185kb, `npm publish` will return code 400

### Expected Behavior

npm publish success

### Steps To Reproduce

1. macos bigsur 11.4
2.  make new folder, and execute
[code]
3. Run 'npm publish '
4. npm ERR! code E400
npm ERR! 400 Bad Request -

### Environment

- OS: macO

[2021-06-25 10:44] #3468 closed, assigned to nobody

[2021-06-25 10:45] warjiang commented on #3468
it's the fault of private registyry of out company, sorry

[2021-06-25 13:42] wraithgar commented on #3467
Looks like there's a typo in the Dockerfile somewhere that's causing it to try to install `lastest` not `latest`.

[2021-06-25 14:08] ryansonshine commented on #2660
Agreed on treating this as a bug. Another example is users who use the `preinstall` hook to authenticate with private registries on their cloud platforms.

Azure: https://github.com/gsoft-inc/azure-devops-npm-auth
AWS: https://aws.amazon.com/blogs/devops/publishing-private-npm-packages-aws-codeartifact/

[2021-06-25 14:08] ryansonshine commented on #2660
Agreed on treating this as a bug. Another example is users who use the `preinstall` hook to authenticate with private registries on their cloud platforms and/or any other registries with short lived tokens.

Azure: https://github.com/gsoft-inc/azure-devops-npm-auth
AWS: https://aws.amazon.com/blogs/devops/publishing-private-npm-packages-aws-codeartifact/

[2021-06-25 14:23] mymedia2 opened #3470 "[BUG] Please do not check updates when a user wants to get rid of this update-notifier"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

In such corner case, npm should silently and instantly set the config key without any network access. Other solution would be to ask a user whether they wish to check an update at first run.

### Steps To Reproduce

Type `npm config set update-notifier false` in

[2021-06-25 16:21] kmturley commented on #2660
We were also using `preinstall` lifecycle script to set the registry and ensure we were logged in:

[code]

The change to npm v7 broke this functionality.

[2021-06-25 16:36] ryansonshine commented on #2660
@nlf can we have this reopened and remove the duplicate tag? I'm not sure this specific issue is properly addressed in npm/statusboard#267

[2021-06-25 16:44] ryansonshine commented on #2660
@nlf thank you for sharing this insight. I think the confusion for me personally is coming from the change in functionality with this hook in v7 when compared to previous versions. Can we have this reopened and remove the duplicate tag? I'm not sure this specific issue is properly addressed in npm/statusboard#267

[2021-06-25 17:02] wraithgar commented on #3470
I don't think this is a bug.  The notifier check happens when npm is first ran, before the code that changes that config item has had a chance to take effect.

Having that config in place will suppress the check, as well as setting the config item on the cli, e.g.

[code]

or

[code]

[2021-06-25 17:02] #3470 closed, assigned to nobody

[2021-06-25 17:13] wraithgar commented on #3461
This does not attempt to pause the log, if `log.clearProgress()` is available:

https://github.com/npm/libnpmexec/blob/main/lib/index.js#L168-L171

[2021-06-25 17:52] Sascha-Block commented on #3467
@wraithgar typo corrected, that does not help and wasn't the error, just here in the ticket

rtp-strapi_postgres_1 is up-to-date
Starting rtp-strapi_strapi_1 ... done
Attaching to rtp-strapi_postgres_1, rtp-strapi_strapi_1
postgres_1  |
postgres_1  | PostgreSQL Database directory appears to contain a database; Skipping initialization
postgres_1  |
postgres_1  | 2021-06-25 08:30:57.983 UTC [1] LOG:

[2021-06-25 18:24] wraithgar commented on #3467
That is not an npm error, that is Docker complaining about the type of binary you are trying to run.  This is most likely some sort of error with the docker image bundling built assets in `node_modules` that are not rebuilt for the current system.

[2021-06-25 18:48] zen0wu commented on #2264
This is still reproducible and super annoying. I don't really think I understand the full picture of doing this since it seems ok to just always set `["name"]` to be the one in package.json and call it a day?

[2021-06-25 19:43] darcyclarke commented on #964
@ljharb we're closing this as the codebase changed significantly between 6-7 - @fossegrim can you please create a new issue w/ more information about the specific problem you're seeing in v7

[2021-06-25 19:43] #964 closed, assigned to nobody

[2021-06-25 19:45] ljharb commented on #964
@darcyclarke i'm not sure why the codebase changes would have any bearing on the reported problem, which the OP claims still occurs in npm 7.

[2021-06-25 19:49] darcyclarke commented on #2175
@RobertHaedrich2012 this seems to be working as intended on v7 now (`npm i -g npm` - latest is `v7.19.0`). If you think the timing should be changed, definitely let us know over on the [`npm/rfcs`](https://github.com/npm/rfcs) repo.

#### package.json
[code]

#### Output
[code]

[2021-06-25 19:49] #2175 closed, assigned to nobody

[2021-06-25 19:54] darcyclarke commented on #2282
Closing: This seems to be either a server-side bug or a network problem. Something in transport is messing with the query string. The fact this goes away when you switch networks/VPN is a good sign of that. There's not much we can do on the CLI-side to account for this. If you're able to consistently reproduce across on a different network but with similar command args/env, please let us know.

[2021-06-25 19:54] #2282 closed, assigned to nobody

[2021-06-25 19:55] olavfosse commented on #964
Steps to reproduce from what I remember is:
1. Create user with username containing space, for example "Olav Fosse". (by default the installer infers username from email. To make the installer prompt for a username string you have to tell it that you cannot connect to internet).
2. Install npm
3. Try doing something with npm. I think I tried running cra `npx create-react-app appname` or something

[2021-06-25 19:56] darcyclarke commented on #3236
Closing: seems to be project-specific issues that can be resolved by using either `--force` or `--legacy-peer-deps` if you want to keep conflicts in your peer deps. @ljharb gave some good recommendations; You can also use `npm explain` to understand more about why certain deps are being placed in your project/where.

[2021-06-25 19:56] #3236 closed, assigned to nobody

[2021-06-25 20:02] olavfosse commented on #964
I cannot be bothered to install Win10 and make a proper detailed bug report, because every time this has been reported previously the issue has been closed prematurely.

[2021-06-25 21:41] pipobscure commented on #2282
@darcyclarke you obvs didn't read the comment fully. Turning on a VPN (or any change of public IP) fixes it. This doesn't indicate a network issue but rather something in caching on the server or client.

I can consistently reproduce this without any VPN (same env as above) all it takes is waiting 15 mins (or there about) and retrying to fix it.

Please don't just close this.

[2021-06-26 05:20] joshgoebel commented on #2282
Let's assume for a moment it is a server issue. If so, where should that issue be raised so it can be resolved?  This is a long lived issue that has been broken for quite some time in my experience.

[2021-06-26 07:38] targos commented on #3385
I can still reproduce with npm 7.19.0

[2021-06-26 08:27] chalkygames123 commented on #2306
Node Sass with Node 16 support has been released. I haven't tried, but it possibly fixes the issue. https://github.com/sass/node-sass/releases/tag/v6.0.0

[2021-06-26 17:17] kleinfreund opened #3472 "[BUG] npm audit fix doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In my project, when running `npm audit`, one of the reported vulnerable packages is listed with the message “fix available via `npm audit fix`”, but running `npm audit fix` doesn’t lead to any updated packages and the exact same output as from the earlier run of `npm audit` is logged.

This o

[2021-06-26 17:33] DraFfe2 opened #3473 "Retrieve removed node module"
Hey,

So i'm very new to node and js in general.  I am working on a couple of react apps that share a lot of code.  So i was working out how to link from a common app's node_moudle.  I made 2 fatal errors, i didn't back up my code and i didn't update the package.json before running npm install... this has removed the files.  Is there away to retrieve the files?  What does npm do with them on remov

[2021-06-27 09:07] talsi commented on #3171
hi,
any news about upcoming fix fir this bug?

[2021-06-27 09:08] talsi commented on #3440
same as #3171

[2021-06-27 13:41] Newbie012 commented on #3385
Any idea what's the cause of that? having the same issue on 7.19.0 as well

[2021-06-27 14:08] liam-ot commented on #681
@cheriecheung solution is what worked for me

[2021-06-27 21:30] dcsaszar commented on #3176
Now that https://github.com/npm/make-fetch-happen/issues/48 is fixed and released I still see the issue, at least for `date` and `time`, as mentioned in my original comment. For example:

[code]

Reproduced with npm 7.19.0:

[code]

How to proceed from here?

[2021-06-27 23:12] guiliredu commented on #2306
Downgrading to node v14 resolved the problem here.

[code]

[2021-06-28 06:59] zthxxx commented on #3431
thanks, I have confirmed it fixed in npm@7.19.0

[2021-06-28 09:28] stocksr opened #3475 "[BUG] Overriding package.json config values does not work."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://docs.npmjs.com/cli/v7/configuring-npm/package-json#config descrbes a way of having a config object in your package.json obect and optinally overriding it from your local config.

[code]

The override appears to have stopped working in v7, it would appear from [RFC 21](https://github.c

[2021-06-28 10:48] lmoustak opened #3476 "[BUG] `npm install` fails when trying to install package from GitHub repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`npm install` works for packages in the npm registry. However, when trying to install a package from a GitHub repo, a `resource busy or locked` error occurs, like so:
[code]

### Expected Behavior

I expected providing a GitHub repo link to `npm install` would work just like for packages in t

[2021-06-28 14:41] wraithgar commented on #3421
Do these happen if you include `--no-audit`

[2021-06-28 15:07] nsams opened #3477 "[BUG] dependency installed twice when using workspace"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

See this demo repository: https://github.com/nsams/npm-workspace-issue

when running npm install @mdx-js/react package is installed twice:
[code]

### Expected Behavior

dependency should be installed only once

### Steps To Reproduce

[code]

### Environment

- OS: Ubuntu 18.04
- Node: 14.17

[2021-06-28 15:23] ljharb commented on #3477
One of them is a symlink to the other one, no?

[2021-06-28 15:35] nsams commented on #3477
That's not the case:
[code]

[2021-06-28 16:55] nlf commented on #3176
the behavior you're seeing is correct. it's working as intended and as required. the cache indexes will, theoretically, never contain more than 3 entries in each for packuments. 2 for tarballs.

every time we do a cache lookup, we deduplicate the existing cache index to matching request/response pairs (of which there is a maximum of 2 for packuments, due to having these in two different formats, a

[2021-06-28 18:36] RA80533 opened #3478 "[BUG] man pages are linked to the project at "/Users/wraithgar/Development/npm/cli""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

They should not be linked to the project folder owned by @wraithgar.

### Steps To Reproduce

Run `npm view npm man` using npm@7 to verify this behavior.

### Environment

- Node: v16.4.0
- npm: 7.18.1

[2021-06-28 18:51] ljharb commented on #3478
See also, https://github.com/npm/npm/issues/17138 and https://github.com/npm/npm/issues/14541 and https://github.com/npm/npm/issues/14293

[2021-06-28 19:02] RA80533 commented on #3478
Thanks for linking those.

[2021-06-28 20:24] Trickfilm400 commented on #3472
Same issue here in my project (https://github.com/trickfilm400/vantage-node),
Troubleshooting steps tried:
- deleting package-lock.json
- deleting node_modules/ folder

this did not helped in any way

Environment:
- Windows 10
- npm 7.19.0
- node v14.17.0

![image](https://user-images.githubusercontent.com/34717401/123699428-90564e00-d85f-11eb-8dfc-9925ff823491.png)
Screenshot of console output fo

[2021-06-28 20:31] dcsaszar commented on #3176
Allright, thanks. I'll look into `--prefer-offline` then.

Doesn't sound particularly critical in the context of an `npm ci`, which will only fetch the package versions baked into the package-lock. I hope I'm not missing something here.

[2021-06-28 21:47] jcouturier commented on #3110
I'm unclear on why this was an intended change in v7. Running local npm as root and chown'ing the project folder to root seems like a rather messy way to deal with this. I wouldn't consider that a resolution, it's just sidestepping the problem and creating new problems. This issue is really wreaking havoc.

[2021-06-28 22:32] dominikseger commented on #3438
Still got this Warnings on a fresh project with Node 16.4.0 and NPM 7.19.0

[2021-06-28 23:07] websolutions-hamburg opened #3480 "[BUG] Workspaces don't run lifecycle scripts when linking local packages"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

I'm not sure if this is a bug or feature request.
When you run `npm install` in a workspaces project root, npm doesn't run lifecycle scripts for workspace packages which are entered in the root `package.json` as `devDependencies`, such as `prepare`, `preinstall`, `postinstall` etc.

### Expec

[2021-06-29 12:26] hanaavram commented on #2852
Is there any workaround for this? it's a blocker

[2021-06-29 12:50] ofirrifo opened #3481 "[BUG] Error: [object Object] is not a PostCSS plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After I upgrade angular version 11 to 12 I start to get this error when I build the project.

Error:
[code]

I try this
[code]

The result for: npm ls postcss

[code]

I get this answer from angular:
[code]

You can see the angular thread https://github.com/angular/angular-cli/issues/21084

#

[2021-06-29 13:19] simllll commented on #3477
I have somehting similar, not sure if related, but it seems suddenly packages that have been hoisted before, are not correclty hoisted anymore.. but only some of them, I can't figure out why it's not working for them. e.g.  i have in my package.json:
"eslint-plugin-vue": "^7.12.1",
"eslint-plugin-vue-scoped-css": "^1.2.1",

the first one is hoisted correcly, the 2nd is just installed within the fo

[2021-06-29 15:50] fsher commented on #4253
Same issue, private registry.

Node: 14.16.1
Npm: 6.14.12

[2021-06-29 18:22] #2900 closed, assigned to ruyadorno

[2021-06-29 18:46] #3481 closed, assigned to nobody

[2021-06-29 18:47] ofirrifo commented on #3481
NOT relevant to NPM

[2021-06-29 21:40] wraithgar commented on #3473
npm asks your operating system to delete the files, and what it does after that is up to your operating system.  Recovering them, if possible, would be something best discussed on a general help forum for your operating system.

[2021-06-29 21:40] #3473 closed, assigned to nobody

[2021-06-29 21:47] adiun commented on #3385
Our team is hitting this issue too with workspaces. We have a checked-in `package-lock.json` that we're relying on but if we delete the `package-lock.json` and try to do an `npm install` over the workspace it gets into an infinite loop

[2021-06-30 06:39] websolutions-hamburg commented on #3480
My fault. With `npm install --foreground-scripts` I saw that everything worked as expected. The lifecycle scripts only run during the initial installation when no `node_modules` are installed yet.

[2021-06-30 06:39] #3480 closed, assigned to nobody

[2021-06-30 09:50] c-z-chen commented on #637
Why is this closed? What about linux users?

[2021-06-30 10:58] antondalgren commented on #3160
I'm having a similar issue that is related to a file dependency in `package.json`.

I have a lib that i want to use in another project. It looks like this:
[code]
[code]
Then in my application, the `package.json` looks like this.
[code]
[code]

Running
[code]
will install all the dependencies that are stated in the `package.json(my-lib)` to the `node_modules` folder.
[code]

However, if i change t

[2021-06-30 15:49] wraithgar commented on #2037
Looks like this works now

[code]

[2021-06-30 15:49] #2037 closed, assigned to nobody

[2021-06-30 15:50] #2093 closed, assigned to nobody

[2021-06-30 15:50] #2100 closed, assigned to nobody

[2021-06-30 15:51] wraithgar commented on #2093
We need more info to debug this. If it is still happening please open a new issue and follow the prompts to give as much detail as possible

[2021-06-30 15:53] wraithgar commented on #2136
Is this something we still want? If so please add the `Agenda` label to discuss it in an rfc meeting. Otherwise let's close it.

[2021-06-30 15:54] wraithgar commented on #2104
Closing in favor of the actual issue opened for the new bug.

[2021-06-30 15:54] #2104 closed, assigned to nlf

[2021-06-30 15:57] wraithgar commented on #2195
Closing due to inactivity. If this is still an issue please reopen and make sure we have the latest information.

[2021-06-30 15:57] #2195 closed, assigned to nobody

[2021-06-30 16:01] wraithgar commented on #2345
Closing due to inactivity. If this is still a problem with npm@7 please open a new ticket and follow the prompts to give as much information as possible to debug further.

[2021-06-30 16:01] #2345 closed, assigned to nobody

[2021-06-30 16:05] wraithgar commented on #2439
This was fixed in `v7.5.4`

https://github.com/npm/cli/blob/latest/CHANGELOG.md#v754-2021-02-12

[2021-06-30 16:05] #2439 closed, assigned to nobody

[2021-06-30 16:07] wraithgar commented on #2517
Closing due to inactivity. If you are still experiencing npm performance issues please open a new ticket and follow the prompts to give as much information as possible.

[2021-06-30 16:07] #2517 closed, assigned to nobody

[2021-06-30 16:12] wraithgar commented on #2699
Closing, as per nlf's comments. This would need to be an RFC to change the default like this, and would also be a breaking change.

[2021-06-30 16:12] #2699 closed, assigned to nobody

[2021-06-30 16:32] wraithgar commented on #2771
The update notifier was running on (almost) all commands, and causing this behavior.  That check has been made to be unblocking and this issue should be fixed.

https://github.com/npm/cli/pull/3348

[2021-06-30 16:32] #2771 closed, assigned to nobody

[2021-06-30 16:41] #2730 closed, assigned to nobody

[2021-06-30 16:46] wraithgar commented on #704
The `--always-auth` param was removed recently because of a change in how npm was approaching auth. That flag was a workaround for a bug that has since been fixed, namely that npm was incorrectly determining what auth keys went with what requests.  `--always-auth` was a security concern because it would send whatever auth you had configured to every request you sent.

npm behavior now is to send t

[2021-06-30 16:46] #704 closed, assigned to nobody

[2021-06-30 16:46] n1ngu commented on #2549
For the record, this is fixed in npm v7 because the --depth option of the update command has disappeared by virtue of RCF0019 https://github.com/npm/rfcs/blob/latest/implemented/0019-remove-update-depth-option.md

I am happy with the solution but it would have been nice to communicate that there was an ongoing effort to fix this.

Edit: of course @ljharb hinted this would happen, but some links to

[2021-06-30 16:51] wraithgar commented on #3300
https://github.com/npm/cli/issues/1422 may also be related

[2021-06-30 16:55] wraithgar commented on #2560
Closing in favor of https://github.com/npm/cli/issues/3314, which has information on where the bug may actually lie.

[2021-06-30 16:55] #2560 closed, assigned to nobody

[2021-06-30 17:18] #1623 closed, assigned to nobody

[2021-06-30 20:01] wraithgar commented on #1781
A duplicate issue was created and it is the one we are using for tracking this https://github.com/npm/cli/issues/3149

[2021-06-30 20:01] #1781 closed, assigned to nobody

[2021-06-30 20:39] wraithgar commented on #3475
The docs do need to be cleaned up to reflect the new behavior.  As far as a suitable alternative, suggesting that would be best done through the [rfc](https://github.com/npm/rfcs) process.

[2021-06-30 20:41] wraithgar commented on #3467
Closing, as this doesn't look like an npm error.

[2021-06-30 20:41] #3467 closed, assigned to nobody

[2021-06-30 20:47] wraithgar commented on #3447
Can't reproduce this with the latest npm (v7.19.0)

[code]

[2021-06-30 20:47] #3447 closed, assigned to nobody

[2021-06-30 20:48] #3424 closed, assigned to nobody

[2021-06-30 20:59] wraithgar commented on #3409
Closing in favor of #3397 which has already been discussed at least twice in RFC calls to determine how to best solve this.

[2021-06-30 20:59] #3409 closed, assigned to nobody

[2021-06-30 21:39] #3475 closed, assigned to wraithgar

[2021-07-01 02:17] NfNitLoop opened #3488 "[BUG] `npm install` doesn't install local scripts for the top-level project."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I run `npm install` in a project that has a `"bin"` section in `package.json`, the binary(s) specified doesn't get created in `node_modules/.bin`.

### Expected Behavior

I'd expect a script to be created in node_modules/.bin/ since that's the behavior documented at
<https://docs.npmjs.c

[2021-07-01 02:28] zackw commented on #3488
... but then why not just create `node_modules/.bin/` if it hasn't been created yet?

[2021-07-01 02:30] NfNitLoop commented on #3488
@zackw I agree. That seems like the least surprising behavior. Definitely less surprising than silently not installing a binary anywhere.

[2021-07-01 08:32] Maxim-Mazurok opened #3489 "[BUG] wrong folder structure when using prefix to install npm locally"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I run `npm install --cache DAT\npm_cache --prefix DAT\npm npm@%_npm_version% --registry http://proget.company.com/npm/Registry/` I'm getting a different folder structure with npm v6 and v7:

With V6 I'm getting
[code]

But with V7 I'm getting
[code]

### Expected Behavior

I'm not sure i

[2021-07-01 10:05] n3dst4 commented on #2011
I've just tried this in npm 7.19.0, and not only is it still an issue, the performance degradation is even more pronounced! Running my benchmark tool (above) previously showed a 3x perf degradation when using npm 7.12.0 in a mounted volume in docker. With npm 7.19.0 the baseline performance has improved and the in-mounted-volume performance has degraded even further so it's more like a 8x degradat

[2021-07-01 11:52] jakubjosef commented on #3045
@mmiretsky What format you are using? AFAIK it's important to use semver format when you working with git repos.

This is what we are using in package.json
[code]

[2021-07-01 13:53] wraithgar commented on #3488
Duplicate of https://github.com/npm/cli/issues/3446

[2021-07-01 13:53] #3488 closed, assigned to nobody

[2021-07-01 14:26] CodeTroopers opened #3490 "[BUG] [REGRESSION] npm run with package variable doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

First, this worked with NPM 6.14

Our package.json has this script:
[code]
Our Gitlab CI run the command :
`npm run set:app_version --my_package_name:app_version=$TAG`

$TAG is equal to 3.0.0

With NPM 7.19.0 ,the command output with :
[code]

### Expected Behavior

Package version is set to

[2021-07-01 14:56] wraithgar commented on #3490
This functionality (overriding package config via cli) was removed in npm@7. You can read the RFC here: https://github.com/npm/rfcs/blob/latest/implemented/0021-reduce-lifecycle-script-environment.md

The fact that they were left in the docs was an oversight, and will be removed with today's cli release.

[2021-07-01 14:56] #3490 closed, assigned to nobody

[2021-07-01 15:00] wraithgar commented on #3440
Closing as a duplicate of https://github.com/npm/cli/issues/3171

[2021-07-01 15:00] #3440 closed, assigned to nobody

[2021-07-01 15:04] NfNitLoop commented on #3488
@wraithgar i did find #3446 when I did my initial bug search, but this appears to be a separate case.

1. In that issue, the user says the example works in v6, but breaks in v7. This issue is broken in both.
2. In that issue, the user is adding a dependency to an existing package. This issue details a problem with “bin” being ignored for the top-level package.

[2021-07-01 15:13] wraithgar commented on #3488
You're right this seems to be a separate issue.   However I'm not sure this is a bug.  A module is not going to need itself installed in its own `node_modules/.bin` is it?  The entries in there will be available to npm while you're in that package:

[code]

That `/.bin` is only needed (and thus created) when you install the package somewhere else.

[2021-07-01 15:16] wraithgar commented on #3488
In the docs https://docs.npmjs.com/cli/v7/configuring-npm/package-json#bin "On install" means "when the package is installed" not "when npm install is ran for the package itself".  We can make the docs more clear there.

[2021-07-01 15:23] NfNitLoop commented on #3488
1. If this is intended behavior, then at a minimum it would seem a bug that the docs read as if this should work.

2. But even if you don’t consider it a bug, it seems like an odd inconsistency to keep and document as an exception instead of just making it work like the other cases.

For an example use case, I’m using/debugging a plugin for the protocol buffer compiler, protoc. Protoc allows you t

[2021-07-01 15:24] NfNitLoop commented on #3488
… (but would work if I had installed the plug-in as a dependency. Which is an odd inconsistency!)

[2021-07-01 15:30] wraithgar commented on #3488
Docs will be clarified https://github.com/npm/cli/pull/3491. It is intended.  Referring manually to the things in `node_modules/.bin` (or anything in `node_modules` is not recommended.

[2021-07-01 15:32] sforcier opened #3492 "[BUG] 403 Forbidden when installing npm package from private repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I cannot install npm modules hosted in our private jFrog Artifactory as of npm 7.19.0. I've tried with npm 7.18.1 and it works fine, but with 7.19.0 I get the error log listed in the steps to reproduce.

### Expected Behavior

The command should complete successfully.

### Steps To Reproduce

[2021-07-01 16:31] wraithgar commented on #3489
Yes the folders that npm puts bins in changes depending on if it is in global mode or not.  See here for more info https://docs.npmjs.com/cli/v7/configuring-npm/folders#executables

Making both versions of npm act the same is likely not going to happen, npm@7 was a breaking change from npm@6 and it is acting the way that it is intended.

If you want `npm` to be available to you to run outside of t

[2021-07-01 16:33] #3489 closed, assigned to wraithgar

[2021-07-01 17:36] johnnymajor commented on #3314
Since postinstall is treated differently using --foreground-scripts helps however the progress bar is now blocking our prompts for more information on install. Any work around to hide the progress bar would be appreciated Thx

[2021-07-01 17:36] kanoshin commented on #3079
@nlf @darcyclarke this issue is getting more and more serious as it starts happening on some of our developer machines and above workaround doesn't seem to help all the time. Is there something we can provide to help you diagnose this issue? Logs? We can also debug npm process if you provide us guidance with what to look at.

[2021-07-01 18:13] wraithgar commented on #3492
Are you sure that it consistently works in `7.18.1` and only fails in `7.19.0`? I only ask because nothing changed in those versions that has anything to do with auth.

[2021-07-01 18:18] mmiretsky commented on #3045
Aha! Now it's working! Started working as soon as I added the `semver` keyword to the URL. It used to work without the `semver` keyword in NPM 6.x, but I guess they changed it in 7.x.

I encourage everyone watching this issue to try this out before we go ahead and close the issue.

[2021-07-01 18:22] wraithgar commented on #3422
Not enough info to reproduce. Please re-open with full output (and package/package-lock if possible) or make a new issue with those things included.

[2021-07-01 18:22] #3422 closed, assigned to nobody

[2021-07-01 18:35] wraithgar commented on #3410
Docs update PR https://github.com/npm/cli/pull/3494

[2021-07-01 18:37] bperel commented on #3359
@midudev Here's the output that I have, after that NPM seems to hang forever. The only thing that I did before running the command was adding `"playwright": "^1.12"` in the dev dependencies of package.json.

I have Node v12.22.1 and NPM 7.14.0

<details><summary>Output</summary>
<p>
[code]
</p>
</details>

[2021-07-01 18:45] wraithgar commented on #2025
The registry auth parsing underwent a significant refactor since this issue was created. Is this still a problem for you?

[2021-07-01 18:49] wraithgar commented on #2262
The git tag parsing underwent a significant rewrite since this issue was opened. Is this still an issue in npm@7?

[2021-07-01 18:52] wraithgar commented on #958
Currently npm does not prompt you when unpublishing, so adding something like that would constitute quite a breaking change.  If this is still something you feel strongly about and would like to see added to npm in a future release, please open up an rrfc or rfc in our [rfc repo](https://github.com/npm/rfcs).

[2021-07-01 18:52] #958 closed, assigned to nobody

[2021-07-01 18:54] wraithgar commented on #2004
Is this still a problem for you in the latest npm?

[2021-07-01 18:56] wraithgar commented on #2006
Looks like this got fixed between then and now

[code]

[2021-07-01 18:56] #2006 closed, assigned to nobody

[2021-07-01 19:06] ljharb commented on #958
@wraithgar i don't think printing a warning, without a prompt, would be a breaking change.

[2021-07-01 19:19] ljharb commented on #3359
@bperel can you try it with v7.19.1?

[2021-07-01 19:25] cinderblock commented on #3290
This option runs each matching script from each workspace **sequentially**, not **concurrently**.

One script needs to exit before the next one is started and a `--watch`ing program never exits (normally).

One common way to do what you want is to use a package like [concurrently](https://www.npmjs.com/package/concurrently).

[2021-07-01 19:47] wraithgar commented on #958
@ljharb There was just a discussion at the last rfc meeting about the merits of warnings like this, so I still think an rfc discussion is the right place to make this decision.

[2021-07-01 19:53] wraithgar commented on #2082
If you do get a chance to test this with the latest npm and husky, and it is still not working, feel free to reopen or make a new issue.

[2021-07-01 19:54] #2082 closed, assigned to nobody

[2021-07-01 19:56] wraithgar commented on #2088
Is this still happening in the newest npm version?

[2021-07-01 19:57] wraithgar commented on #2249
Closed by https://github.com/npm/run-script/pull/22

[2021-07-01 19:57] #2249 closed, assigned to nobody

[2021-07-01 19:59] jamie-tm commented on #2025
Honestly, I thought I'd already closed this issue. :D
I fixed the issue on my end by simply making sure that my configuration never had unnecessary ports. I haven't checked to see if it still occurred if they were left in.

Given that nobody else has commented or thumbs-upsed this issue in support, I think it's safe to assume that -- even if it _does_ still happen -- it's not really a problem.

[2021-07-01 19:59] #2025 closed, assigned to nobody

[2021-07-01 20:08] wraithgar commented on #2430
This appears to have been fixed.

[code]

[2021-07-01 20:08] #2430 closed, assigned to nobody

[2021-07-01 20:13] wraithgar commented on #2638
The escaping that npm does was greatly fixed in https://github.com/npm/run-script/pull/22, and we have another effort in place to be more consistent across the cli in parsing and escaping things when we spawn scripts, that effort is happening in the new https://github.com/npm/exec repo.

I believe the first PR linked fixed the issue described here.  If this is still an issue please feel free to re

[2021-07-01 20:13] #2638 closed, assigned to nobody

[2021-07-01 20:19] wraithgar commented on #2692
`node_modules/.hooks` was removed from the docs in the cli repo, and the docs site will reflect when it next rebuilds and deploys.

[2021-07-01 20:19] #2692 closed, assigned to wraithgar

[2021-07-01 20:38] ghost commented on #2006
It is still highly broken. Now it just always installs the latest version, no matter what. And it never goes back.

npm install uNetworking/uWebSockets.js#v19.0.0
cat node_modules/uWebSockets.js/package.json

Gives me:

[code]

Which is obviously wrong. Same goes for the files, they are for version v19.3.0. I still cannot use NPM like before, and have to tell users to use Yarn since it does instal

[2021-07-01 20:46] wraithgar commented on #2755
`--ignore-prepublish` is not a valid flag in npm@7

`--ignore-scripts` bug is fixed in this PR https://github.com/npm/cli/pull/3495

[2021-07-01 20:49] darkobits commented on #2755
Perhaps slightly off-topic for this issue, but are there plans to make this flag work for all commands for which it was supported in NPM 6?

[2021-07-01 20:49] wraithgar commented on #2755
If folks are seeing this with OTHER commands, open another issue.

Please be sure that it is not this other bug we are already tracking where git dependencies' `prepare` scripts are always being ran. https://github.com/npm/cli/issues/3300

[2021-07-01 20:52] wraithgar commented on #2006
@alexhultman that is a different bug, tracked here https://github.com/npm/cli/issues/3427

[2021-07-01 20:53] ghost commented on #3427
I have this bug as well, see linked issue

[2021-07-01 21:31] nlf commented on #3079
this one sure took a while, but just today i found a very small and subtle but significant bug that was causing the `cb() never called` issues in windows. there's a patch for it you can see here: https://github.com/npm/minipass-fetch/pull/14

to allow us to test and see if this is really the root cause of the problems seen here, i've pushed a branch of the npm cli that you can install and test wit

[2021-07-01 21:56] cinderblock opened #3496 "[BUG] Tracker idealTree inflate error with workspaces after failed install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a large existing project that I'm trying to move to Npm 7 and workspaces. (I'm trying to cut it down to something I can share, but that's **a lot** more work than I hope is necessary.)

The project has 3 "sub-projects" that historically have been "managed" with a `package.json#script`

[2021-07-01 21:59] karlhorky commented on #2692
Ok thanks @wraithgar !

[2021-07-01 22:03] nlf commented on #3078
i think this is potentially related to the patch i submitted to minipass-fetch here: https://github.com/npm/minipass-fetch/pull/14

it is most definitely related to the patch i submitted to make-fetch-happen here: https://github.com/npm/make-fetch-happen/pull/54

the first of those fixes helps mostly in `cb() never called` situations, though issues there can certainly manifest in strange ways sinc

[2021-07-01 22:15] wraithgar commented on #3411
In light of https://github.com/npm/cli/pull/3494 pointing folks to `npm install` I think this should be characterized as a bug.  `npm update` for sure should be doing this, i.e. only updating within the confines of what everything in the package tree is allowing.

The [install docs](https://docs.npmjs.com/cli/v7/commands/npm-install) do say:

and I am not sure what cases *shouldn't* do this.  I'm

[2021-07-01 22:26] wraithgar commented on #3336
Closing in favor of https://github.com/npm/cli/issues/3136

[2021-07-01 22:26] #3336 closed, assigned to nobody

[2021-07-01 22:26] #3099 closed, assigned to wraithgar

[2021-07-02 00:22] NickKelly1 opened #3500 "[BUG] npm install on workspace: npm ERR! Cannot read property 'parent' of null`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Runing `npm install` in the root of an npm workspace fails

`"npm ERR! Cannot read property 'parent' of null`"

Relevant section of the log:

[code]

My project structure is
[code]

Workspaces in my root `package.json` are:
[code]

### Expected Behavior

Ability to `npm install` in the root o

[2021-07-02 01:59] obscuredc opened #3501 "[BUG] Cannot enter password with `npm login`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I use `npm login`, I receive these messages:
[code]
Normal. So I enter my username and press enter once, then it does to `Password: _`
However, something is off. I cannot type. This isn't a hardware problem because I can type my username in and, if I press enter, I can still type the cor

[2021-07-02 02:05] #3501 closed, assigned to nobody

[2021-07-02 02:10] obscuredc commented on #3501
Sorry for wasting time, I didn't realize the password wasn't shown (while typing it in) for privacy reasons. Very sorry..

[2021-07-02 06:26] I057542 commented on #3374
Hi @stevenobadiah ,
how was this issue be resolved?  unfortunately I encountered a similar issue.
my environment is:

- Node: v12.18.4
- npm: 7.19.0

thank you!
BR, Eva

[2021-07-02 09:47] danushk opened #3502 "npm install -g @vue/cli@next command fails -"
[code]

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[https://i.imgur.com/hz7P54y.png](https://i.imgur.com/hz7P54y.png)

Above is a screenshot of the problem - vue installation fails

### Expected Behavior

vue installation should pass

### Steps To Reproduce

1.  docker run -it -p 8080:8080 alpine:latest /bin/sh
2. apk add npm
3. npm i

[2021-07-02 11:24] twigy11 opened #3506 "[BUG] npm config set noproxy - obj[key].join is not a function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

since **npm@7.17.x** when executing `npm config set noproxy "stringparameter"` throw `obj[key].join is not a function exception.`

This happens because the **noproxy** array default value  is overwritten by the string, which one doesn't have the join function

this is the  noproxy flatten fun

[2021-07-02 13:07] sforcier commented on #3492
It's the weirdest thing, yesterday and the day before it was consistently a problem and was *only* broken in 7.19.0. Today I have no problem with 7.19.0 or 7.19.1... must be something on my end, sorry for the bother.

[2021-07-02 13:07] #3492 closed, assigned to nobody

[2021-07-02 15:04] ljharb commented on #3502
Can you try npm v7.19.1?

[2021-07-02 16:21] isaacs commented on #3411
I'd definitely call this a bug.  There's no reason why it couldn't install the latest one, it's just a side effect of the "can we avoid having to replace the current thing because it satisfies the dep" coupled with the way that we install new packages by adding a new dependency to the root project on `<pkg name>@*`.  Since `13.5.2` satisfies the `*` range, it skips the `REPLACE` and does a `KEEP`

[2021-07-02 16:52] bperel commented on #3359
It seems to work with 7.19.1

[2021-07-02 17:02] wraithgar commented on #3391
It looks like the problem here is with `node-sass`.   Your project uses `node-sass@4` and also `node@16`.  You will need to either update your dependencies to something that uses the newest `node-sass` or downgrade your build environment to `node@14`

See this comment thread for more info: https://github.com/npm/cli/issues/2306#issuecomment-862779613

[2021-07-02 17:02] #3391 closed, assigned to nobody

[2021-07-02 17:07] wraithgar commented on #2306
Thank you for the detailed info on `node-sass` and `node` versions.

`@vue/cli@latest` does not install `node-sass` unless I'm missing something.

[code]

Is this still a problem in the latest npm for m1 folks whose projects do NOT have `node-sass` in them?  A lot has changed in npm since `v7.1.1`

[2021-07-02 17:12] wraithgar commented on #2306
For comparison I tested this on my non-m1 machine and with a cold cache it takes between 25-30 seconds, with a warm cache between 9-10 seconds.

[2021-07-02 17:13] ljharb commented on #3359
@klesun @cronvel @midudev can you also try with npm v7.19.1?

[2021-07-02 19:07] stevenobadiah commented on #3374
Hi,

I updated my virtual machine and the problem fixed itself. Unfortunately, I
don't have much to report beyond that :/

Good luck!

Steven

On Fri, Jul 2, 2021 at 2:27 AM I057542 ***@***.***> wrote:

[2021-07-02 20:38] klesun commented on #3359
@ljharb tried again on same mac with `v7.19.1` the [minimal repro repo](https://gitlab.com/klesun/npm-seven-issue), but still getting the lag, `72.92` seconds:

[code]

[2021-07-02 20:42] #2920 closed, assigned to isaacs

[2021-07-02 20:42] #3300 closed, assigned to nobody

[2021-07-02 20:42] #3223 closed, assigned to isaacs

[2021-07-02 20:54] lukekarrys commented on #3149
This will be fixed when `pacote@11.3.5` lands in the release on `2021-07-15`.

[2021-07-02 20:56] #3149 closed, assigned to lukekarrys

[2021-07-02 21:01] DeeDeeG commented on #2839
I think this is an unintended consequence of https://github.com/npm/run-script/commit/e4c7cb33eba987e30637006178172e67801f9e92 ?

Might be the same underlying cause as what causes https://github.com/npm/cli/issues/3058.

[2021-07-02 21:20] DeeDeeG commented on #3058
I think this started with https://github.com/npm/run-script/commit/e4c7cb33eba987e30637006178172e67801f9e92.

As of that commit, `@npmcli/run-script` adds its bundled `node-gyp` executable/shim to the `PATH`. That shim is added relatively early in the `PATH` (earlier than the dir with `npx`'s downloaded modules). And then `@npmcli/run-script` runs `sh -c node-gyp [args]`.

So I think the wrong `no

[2021-07-02 21:41] mehulkar commented on #3284
Same issue here. Downgrading to 7.10 worked. In my case, I get a 404 instead of a 401, but that may be due to some proxying issue in our internal artifactory setup.

[2021-07-02 21:57] wraithgar commented on #3410
Docs updated, will go out with the next release and docs site update will automatically follow that.

[2021-07-02 21:57] #3410 closed, assigned to nobody

[2021-07-02 23:07] np1goal opened #3510 "npm audit fix --force giving error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm WARN using --force Recommended protections disabled.
npm WARN audit Updating react-scripts to 4.0.3,which is a SemVer major change.
npm WARN deprecated @hapi/bourne@1.3.2: This version has been deprecated and is no longer supported or maintained
npm WARN deprecated @hapi/topo@3.1.6: This

[2021-07-03 02:32] danushk commented on #3502
Thanks for the response - this problem arises when network is slow - it found out after discussion at Discord Channel.

[2021-07-03 07:13] cronvel commented on #3359
@ljharb It seems to work now, but the bug was not 100% reproducible on my end.

[2021-07-03 10:56] rekna1 commented on #2088
I don't know. Currently i had to revert to npm lower version (6), because npm7 has a bug which causes angular install to fail.
From the angular team :

[2021-07-03 12:03] chase-moskal commented on #3472
i'm having the same problem in my project https://github.com/chase-moskal/xiome

[2021-07-03 16:35] wraithgar commented on #2088
I do know that the rollback functionality in arborist has been updated since 7.0.1 so I'll close this. If folks experience this w/ the newest npm version feel free to file a new issue.

[2021-07-03 16:35] #2088 closed, assigned to nobody

[2021-07-04 00:03] ftzi commented on #2329
For other devs, here is my implementation to always use the latest version in my cli program:
[code]

Anyway, there is indeed a bug there.

Running `npx gev@latest` won't update the cached version. Just tested with my program. Running `npx gev` after `npx gev@latest` will still use the older cached version.

![image](https://user-images.githubusercontent.com/28177550/124369538-07665a80-dc43-11eb-9

[2021-07-04 00:40] yw662 commented on #2329
#3430 This may solve some issues I guess. Anyone tried it after version 7.18.0 ?

[2021-07-04 02:52] rektide commented on #2372
@nlf @darcyclarke can we please re-open this issue? this is still present. i feel like the in-depth write-up of this ticket makes this extra-worthy of re-opening versus opening another ticket.

[2021-07-04 03:02] ftzi commented on #2329
My comment before happened on npm 7.15.x. The same happened now on 7.19.1.

[2021-07-04 14:55] davidmather opened #3511 "[BUG] Windows nodejs not removing old installation properly and drive C issues."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am exclusively using drive C (which is a small fast ssd) for windows and everything else should be installed on drive D.
I uninstalled nodejs from drive C and installed https://nodejs.org/dist/v16.4.1/node-v16.4.1-x64.msi to D:\nodejs . Node appears to still be pointing to C:\Program Files

[2021-07-04 17:19] me-masoud opened #3512 "cb() never called!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

i was just installing node (npm i ) in laravel project and this error has occurred .

***********************

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

### Expected Behavior

expect t

[2021-07-04 20:56] UltimateCodeWarrior opened #3513 "[BUG] <titlenpm ERR! Error: EPERM: operation not permitted, rename 'C:\Program Files\nodejs\node_modules\npm' -> 'C:\Program Files\nodejs\node_modules\.npm-QXjMEw5N'>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

NPM won't update / install.    You need a much better QA Team!

npm install -g npm@7.19.1

C:\Users\shane>npm install -g npm@7.19.1
npm ERR! code EPERM
npm ERR! syscall rename
npm ERR! path C:\Program Files\nodejs\node_modules\npm
npm ERR! dest C:\Program Files\nodejs\node_modules\.npm-QXjMEw

[2021-07-04 21:30] NickCarducci opened #3514 "Do not conflict on meta-peers that will not be replaced"
B-I-N-G-O; winner-winner, chicken-dinner
[code]
Here I have the same error which `npm: 7.19.1` cannot handle without using `--force` after `npm install `.  Are we meant to just, live like this?  Seems to be just a parsing error.  Thanks team!

[2021-07-04 21:34] ljharb commented on #3514
This is a legitimate issue with your dep graph. You seem to have two requirements that are incompatible: webpack 3 and 5. Your dep graph isn’t valid until either the 5 things are downgraded, or the 3 things are upgraded.

(altho the messages imply that the root project directly peer depends on both 3 and 5, which is certainly confusing)

[2021-07-05 02:45] NickCarducci commented on #3514
https://github.com/facebook/react/issues/13018: might be related to other react users, but for npm, a feature suggestion tho you're probably aware:

I can install as an alias (`webpack-legacy@npm:webpack@4.44.1` & `webpack-newest@npm:webpack@latest`), but cannot find a way to point peer dependencies to their respective `alias dependencies`.  I guess the npm team made something abstracted with `--f

[2021-07-05 02:45] #3514 closed, assigned to nobody

[2021-07-05 06:12] NachoAccedo opened #3515 "[BUG] npm login/add-user --scope=@myScope do not set the scope on the .npmrc file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

From https://docs.npmjs.com/cli/v7/commands/npm-adduser

Trying to login on a private artifactory with a defined scope **do not set** the scope on the ~/.npmrc file, i.e

`npm login --scope=@myScope --registry https://myArtifactory`

Generated ~/.npmrc
[code]

### Expected Behavior

For the n

[2021-07-05 07:19] I057542 commented on #3374
Hi @stevenobadiah
thank you for your response. it seems "Good Luck!" is very useful ;)

my issue was also resolved, instead of upgrade my laptop (... this is too risky.. )
I saw a blog and follow the guides to clear npm cache, and then execute installation successfully.
the command is,

Best Regards,
Eva

[2021-07-05 07:37] goulu commented on #3229
same here with a dependency on our corporate azure git server.

`git clone "https://username:password@dev.azure.com/path" `
works but
[code]
doesn't...

- OS : Windows 10
- npm : 7.19.0 (64 bits)
- git : 2.17.1.windows.2 (edit : same with latest git version 2.32.0.windows.1)

[2021-07-05 10:42] DavidQuartz commented on #3512
Facing the same bug.
## Environment
- OS: MacOS Big Sur
- Node: v14.17.0
- npm: 7.16.0

[2021-07-05 14:19] ljharb commented on #3514
Yes, aliases aren't for that - the feature you want is "overrides" or "resolutions", which npm has not yet added.

[2021-07-05 14:28] sarsampath opened #3516 "CB() never called error during docker build"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

#11 154.4 npm ERR! cb() never called!
#11 154.4
#11 154.4 npm ERR! This is an error with npm itself. Please report this error at:
#11 154.4 npm ERR!     <https://npm.community>
#11 154.7
#11 154.8 npm ERR! A complete log of this run can be found in:
#11 154.8 npm ERR!     /root/.npm/_logs/202

[2021-07-06 06:52] ginkosen commented on #1905
still in npm@7.18.1

example vue-demi

![image](https://user-images.githubusercontent.com/2233819/124555515-c00de300-de69-11eb-8237-b4358b586964.png)

**npm install** not running dependencies's **postinstall**

[2021-07-06 07:45] mads1814 opened #3517 "[BUG] <Issue with registry while installing mailslurp helper>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am trying to install this helper Mailslurp provided for codecepjs. [Email Testing](https://codecept.io/email/#installation)

`npm i @codeceptjs/mailslurp-helper --save`

However it gives 500 error each time I try to install. Me and my colleagues can install all packages EXCEPT this one.

[c

[2021-07-06 08:42] InuYashaDo commented on #483
i have  same question with you. how do you handle it?

[2021-07-06 09:13] muhamedoufi opened #3518 "html pages come scattered between pages when i print them with html2pdf library in javascript"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`Any one can solve this`

### Expected Behavior

html2pdf is printing a pdf but the write is choppy between pages how to solve?

this my code javascript if you need to html i can comment it, any one have an idea ? please help me!

[code]
On stackoverflow.com

_______ https://stackoverflow.com

[2021-07-06 11:02] itstheandre commented on #2329
The workaround is quite smart. I think ill implement this for my cli then.

[2021-07-06 12:03] ghost opened #3519 "[BUG] npm audit --production reports vulnerabilities in transitive devDependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The `npm audit --production` command includes vulnerabilities of transitive devDependencies in its report. Using @thiagoelg/node-printer as an example, a vulnerability is reported for `diff` if @thiagoelg/node-printer is declared as a dependency. But `diff` is not installed by `npm install --

[2021-07-06 13:32] rossng opened #3520 "[BUG] npx/npm exec don't work in child workspace when using --no/--no-install and --package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am using NPM workspaces. I am running a command of the format:

[code]

It fails with a rather terse `npm ERR! canceled`.

This is related to a previous issue #2826. The bug was partially resolved by @ruyadorno in https://github.com/npm/libnpmexec/pull/2. However, looking at the commit, it

[2021-07-06 15:34] ljharb commented on #3517
Seems like it's an issue with "baseurl.com", not npm - either way, try with npm 7 latest?

[2021-07-06 15:46] holtalanm commented on #3136
I am experiencing this same issue.

npm version: 7.19.0
node versiion: 16.4.0
powershell version: 5.1.19041.610
os: windows v10.0.19042.0

when running `npm run test:unit -- -h`, I get:
[code]

when running `npm run test:unit -- -- -h`, I get:
[code]

It seems a workaround currently is to include an additional `--` in the arguments to `npm run` when running on powershell.

can also confirm that th

[2021-07-06 16:37] holtalanm commented on #3136
oddly enough, but this behavior does not seem to occur when running within an Azure DevOps pipeline.

npm version: 7.18.1
os version: Microsoft Windows NT 10.0.19042.0
powershell version: 5.1.19041.610

I checked to see if the npm version was the difference, but after installing v7.18.1 of npm on my local machine, I still had the broken behavior.  Looks like there may be something related to inter

[2021-07-06 17:58] ftzi commented on #2329
Just for your information, the VERSION in imported/required from the
../package.json

Em ter, 6 de jul de 2021 08:02, André de Albuquerque <
***@***.***> escreveu:

[2021-07-06 19:46] lang-eric commented on #2339
Not sure how this is marked as an enhancement when this is breaking to projects that relied on the functionality of npm 6...

[2021-07-06 21:36] generalconsensus commented on #3266
Same here:
[code]

[2021-07-06 23:23] ljharb commented on #2339
@lang-eric because the whole point of a semver major bump is breaking changes, which means that re-adding it to v7 is minor or patch, since v7 never had it.

[2021-07-07 05:53] targos commented on #3385
I can still reproduce with npm 7.19.1

[2021-07-07 13:07] holtalanm commented on #3136
after completely uninstalling nodejs and all globally installed packages, then reinstalling the latest version of nodejs, this issue went away.

[2021-07-07 15:01] mads1814 commented on #3517
Issue seems to be mailslurp and codeceptjs versions. Reported issue to mailslurp helper. Not an npm issue i guess. Thanks!!

[2021-07-07 15:01] #3517 closed, assigned to nobody

[2021-07-07 19:26] lmoustak commented on #3476
I think I finally found what was wrong.

This version of Git - or one of the very recent ones at least - has an experimental option in the installer for Windows:

![Git 2.32.0 installer for Windows showing a currently unchecked checkbox to Enable experimental built-in file system monitor](https://user-images.githubusercontent.com/48209716/124816789-98a23d80-df71-11eb-9922-aa78c72125d3.png)

I chec

[2021-07-07 19:26] #3476 closed, assigned to nobody

[2021-07-07 23:13] kanoshin commented on #3079
It helped one of our developers after completely reinstalling node and then updating npm with `npm i -g github:npm/cli#fetch-patch`. Another one is still having this issue, he didn't reinstall node though, just updated npm.

[2021-07-07 23:26] webstech commented on #1905
npm@7.19.1 does work **IF** it is converting the version of the `package-lock.json`.  Run the `fix-has-install-script` mentioned in my previous post to see if your lockfile needs to be updated/rebuilt.

[2021-07-08 06:50] altro3 opened #3525 "[BUG] Upgrade node-gyp to ^8.1.2 version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I run `yarn install`, see these warnings
[code]

### Expected Behavior

Need to upgrade dependency `"node-gyp": "^7.1.2"` to `"node-gyp": "^8.1.2"` - it already uses node-fetch (see pull request https://github.com/nodejs/node-gyp/pull/2220)

### Steps To Reproduce

1. In this environment

[2021-07-08 07:52] SamruddhiShetty opened #3526 "When i tried npm install --save after deleting node modules and package-lock.josn"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm WARN tar TAR_ENTRY_ERROR ENOENT: no such file or directory, lstat 'C:\Users\Samruddhi\OneDrive\Documents\React\OurApp\node_modules\@firebase\polyfill\node_modules\core-js\es\number'
npm WARN tar TAR_ENTRY_ERROR ENOENT: no such file or directory, lstat 'C:\Users\Samruddhi\OneDrive\Document

[2021-07-08 07:53] #3526 closed, assigned to nobody

[2021-07-08 10:56] earnubs opened #3527 "[BUG] dependencies typo in lock file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

package-lock.json output dependencies typo:

[code]

### Expected Behavior

[code]

### Steps To Reproduce

Install any package that updates lock file.

### Environment

- OS: Ubuntu 18.04.5 LTS
- Node: 16.4.0
- npm: 7.19.1

[2021-07-08 12:34] molinto commented on #624
Broken for me too on:
node: v14.17.3
npm: v6.14.13

[2021-07-08 12:45] barbaraibca opened #3528 "npm install modules error "/node_modules/sharp" in IMac with M1"
Hi,

Please, I'm trying to install node modules in Ionic project with Angular, in IMac with new chip M1, and I hve this errors....

**********

npm WARN deprecated ini@1.3.5: Please update to ini >=1.3.6 to avoid a prototype pollution issue
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated har-validator@5.1.5: this library is no longer support

[2021-07-08 13:56] yafanasiev commented on #2610
Just hit this as well. What's worse, the dependency is not even direct so I can't use workaround in `package.json`. This is stuck for half a year now 😞

[2021-07-08 18:05] koitoror opened #3529 "[BUG] <sudo npm install -g npm@latest fails on circleci> update-npm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

-\|/-\|/-\|/-\|/-\|/npm WARN engine npm@7.19.1: wanted: {"node":">=10"} (current: {"node":"4.8.2","npm":"2.15.11"})
npm ERR! Linux 4.15.0-1106-aws
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "-g" "npm@latest"
npm ERR! node v4.8.2
npm ERR! npm  v2.15.11
npm ERR! code MOD

[2021-07-09 04:49] shadowspawn commented on #3518
This repo is for the `npm` command-line tool itself, not for all of the many npm modules.

You could try asking on support forums for the `html2pdf` library you are using.

[2021-07-09 04:59] shadowspawn commented on #3528
That looks like an error building a library during the install, and not an error with `npm` itself. This GitHub repo is just for the npm CLI.

There were messages in the log which indicate it was trying to install libvips, and there is an URL with more info. That site says there are prebuilt binaries for the current version of the library, so updating might help.

[code]

[2021-07-09 05:06] arash-bizcover commented on #708
/giphy openitup

[2021-07-09 06:52] ginkosen commented on #1905
Ok . thank. I will try it later.

[2021-07-09 06:53] ginkosen commented on #1905
Ok .thanks. I will try it later.

[2021-07-09 10:08] barbaraibca commented on #3528
Thanks for your response @shadowspawn :)

Finally I found a sollution here [https://github.com/nvm-sh/nvm/issues/2350](url) and it works for me!

If anyone have the same problem thats the solution, thanks a lot for r attention!

Regards :)

[2021-07-09 10:08] #3528 closed, assigned to nobody

[2021-07-09 10:39] koitoror commented on #3529
resolved it .. the error was here
**`- image: circleci/node:4.8.2 # Primary execution image`**
the circleci node image needs to be version 10 and higher so i replaced it with
**`- image: cimg/node:16.4.1 # Primary execution image`**

[2021-07-09 12:32] lenolib commented on #4290
Missing symlinks triggered this for me.
I had a local dependency set up through the new npm workspaces, linked it through `npm install`, and then _renamed_ the dependency, which made arborist unhappy. Could fix it by removing the relevant lines in the package-lock.json.

[2021-07-09 13:48] raymond-h commented on #2633
Hey, we are currently hitting this exact issue too. The lockfiles are generated by npm v7, but our CI uses npm v6 to install dependencies, leading to the exact same error as mentioned in the OP.

One of several commits where the issue occurs: https://github.com/CryptoBlades/cryptoblades/commit/8853e90dedc1b8b096c021f920e8d68f55447078 (specifically in the `frontend/` folder)

EDIT 1: After downgrad

[2021-07-09 14:40] #3529 closed, assigned to nobody

[2021-07-09 15:03] mehulkar commented on #3078
👋🏾 I don't know if it's the same issue, but our internal Artifactory instance is also seeing `npm ERR! code ERR_SOCKET_TIMEOUT` errors sporadically on random modules after upgrading to `npm@7.10.0`. We had never had this issue with `npm@6`. (I am unable to test newer versions in a real world project, because after `7.10.0`, I run into #3284.)

[2021-07-09 15:49] AntoineAA commented on #708
same issue:

- Linux Mint 19.3
- nodejs v16.4.1
- npm 7.19.1

it has become impossible to simply know from a repository which versions of dependencies are actually deployed.

[2021-07-09 17:54] iarna opened #3530 "[BUG] When using non-npm registry, scoped resolved URLs are being rewritten"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When installing a scoped modules using a private registry that returns resolved URLs that point at the public registry, npm 7 rewrites the resolved url to point at the private registry.

For example:

[code]

results in

[code]

Despite the fact that:

[code]

shows

[code]

This happens with

[2021-07-09 19:01] naugtur opened #3531 "[BUG] npm audit fix is not returning the arborist diff"
### Is there an existing issue for this?

https://github.com/npm/rfcs/issues/399
https://github.com/npm/rfcs/issues/372#issuecomment-848129245

### Current Behavior

`npm audit fix --json` produces a summary with numbers of items added/removed/updated etc.

### Expected Behavior

`npm audit fix --json` returns enough information to deduce:

- dependency tree path (in any reasonable form)
- package

[2021-07-10 00:03] nhhockeyplayer commented on #2835
who is going to get their act together here

when XWindows was deployed by MIT it was bulletproof free and open source
those days are long gone by everyone that wants to be famous

you cant just break every project on the planet

nothing is patched and its been months wiping out all builds

this is widespread

upgrading to latest npm fails
deleting and reinstalling node.js fails
cleaning up all no

[2021-07-10 04:45] anshtyagi0 opened #3532 "[BUG] ERROR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm ERR! code EINVALIDPACKAGENAME
npm ERR! Invalid package name " sweetalert ": name cannot contain leading or trailing spaces; name can only contain URL-friendly characters

npm ERR! A complete log of this run can be found in:
npm ERR!     /home/runner/.npm/_logs/2021-07-10T04_42_03_113Z-deb

[2021-07-10 10:19] InfinityAkshay commented on #3512
Facing the same bug.

## Environment
OS: Windows 10
Node: v14.17.2
npm: 6.14.13

[2021-07-10 12:12] ProfessorVarox commented on #3359
I got the same problem, but it still occurs in npm v7.19.1

`npm install --verbose` log:
[code]
It freezes at this point and I am not able to close the cmd.exe window anymore

[2021-07-10 14:49] ljharb commented on #3532
The error message seems self-explanatory.

[2021-07-10 15:47] codecooker0105 commented on #3512
me too.
### **Environment**
OS: win10
Node: v14.15.1
npm: 6.14.8

[2021-07-10 17:49] fishcharlie opened #3533 "[BUG] package-lock custom resolved url"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`package-lock.json` uses private verdaccio endpoint for the `resolved` field as opposed to the NPM registry.

One work around for this is to do a find all and replace in the `package-lock.json` whenever you run `npm i`. But that is a real hassle.

### Expected Behavior

There to be an option

[2021-07-10 21:20] DavidQuartz commented on #3512
I solved it by updating my npm

[2021-07-11 12:56] n1ngu commented on #2011
Its not only a CPU time issue. In my CI system, runners have been historically allocated 1024mb with 0 issues. Once upgraded to npm@7, a simple script running `npm update` needs more than 4096mb.

Very much related: https://github.com/npm/cli/issues/3208

[2021-07-11 19:19] naugtur opened #3534 "[BUG] via field missing despite vulnerable dependency is not direct"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running `npm audit --json` in this branch here https://github.com/mgdodge/rollup-plugin-vue-treeshake-bug-vue3/tree/vue2
I observe lodash, which is not a direct dependency but deduped to the top - doesn't get mentioned in any of the `via` fields and its `effects` is empty.

[code]

Other

[2021-07-12 08:30] zimtsui commented on #1865
why is this issue closed? the problem has not been solved in 7.19.1

[2021-07-12 13:42] wraithgar commented on #3525
Updating node-gyp is on our roadmap, but it may not be able to happen until npm@8 because it is a breaking change and is not supported in node versions 10.0.0 through 10.11.0, which npm@7 has to support.  It also drops support for some python versions, and we are discussing whether or not that also prevents us from updating in this npm version.

You can see the ongoing discussion here https://gith

[2021-07-12 13:42] #3525 closed, assigned to nobody

[2021-07-12 13:43] #3532 closed, assigned to nobody

[2021-07-12 13:46] wraithgar commented on #3533
Closing as duplicate of https://github.com/npm/cli/issues/3530

[2021-07-12 13:46] #3533 closed, assigned to nobody

[2021-07-12 13:46] #3518 closed, assigned to nobody

[2021-07-12 14:46] brettwilcox commented on #708
Same issue here.

npm update does not update versions in package.json, but only in package-lock.json as stated above by many developers.

This feels like a security issue  as well. We are documenting requirements for our packages. Why when running npm update would it not also update that documentation and keep old info around? It's an all or nothing approach that is going to make complex projects

[2021-07-12 15:13] wraithgar commented on #3530
@iarna does the npm versions listed here mean those are the only ones you noticed this in, or just the two that you tried and saw the problem in?

[2021-07-12 15:19] fishcharlie commented on #3530
@wraithgar My issue which was closed as a duplicate of this one, I've noticed in previous versions as well. Forget exactly when it started tho.

[2021-07-12 15:39] wraithgar commented on #3163
This was fixed by https://github.com/npm/cli/pull/3348 and published in `v7.16.0`

[2021-07-12 15:39] #3163 closed, assigned to nlf

[2021-07-12 15:40] wraithgar commented on #3530
Thanks @fishcharlie, I was pretty sure this wouldn't have been introduced recently but it's always good to clarify.

[2021-07-12 16:19] iarna commented on #3530
Yeah, those are the versions I've tested in. I'm not 100% sure this _is_ a duplicate of fishcharlie's issue though? But I guess I don't know how Verdaccio works well enough to say for certain. I'm suspicious they're different because my report here only happens with scoped modules.

[2021-07-12 16:32] wraithgar commented on #3530
We have been getting plenty of issues that seem to have `verdaccio` in the mix somewhere and they're all in this realm of auth not working with configured registries and based on the symptoms they really do feel like they're related.  If not we can untangle that as we figure this out.

[2021-07-12 16:37] wraithgar commented on #3530
There's *something* going on with the configured registry and what ends up in the `package-lock`, what gets fetched, and what happens when you use `--registry` during installation of a package vs, say, `ci`. and this issue is the first one opened that really drills down into an actionable bug so that's why I chose to make it point on this.  I think it's bigger than the specifics of either issue, b

[2021-07-12 17:06] joshcangit commented on #2610
### `gitconfig` doesn't affect global installs
Tried editing `~/.gitconfig`, and it still failed.
[code]
Didn't work with `/etc/gitconfig` either.
[code]
Even `/root/.gitconfig` also failed.
[code]
Regardless, `npm` will only resolve `ssh://` URLs if not installing from npmjs.com.

[2021-07-12 18:48] #2787 closed, assigned to nobody

[2021-07-12 18:48] darcyclarke commented on #2787
### Actions
- [ ] `pacote` should not run `prepare` scripts when `package-lock-only` or `ignore-scripts` is set

[2021-07-12 20:32] DeeDeeG commented on #2787
Closed accidentally? (I couldn't find a commit/PR that updates the behavior relating to this issue.)

[2021-07-12 20:48] DeeDeeG commented on #2787
By the way: I am surprised to find npm@6 runs the `preinstall` lifecycle script even with the `npm install --package-lock-only` command + flag. So I suppose getting rid of that could be an unexpected change for some people who rely on that (if any). Also note the `shrinkwrap` scripts that run in npm@6, but not in npm@7.

Results of the `npm install --package-lock-only` command in npm 6 and 7:

| S

[2021-07-13 02:00] arash-bizcover commented on #708
@ljharb could you reopen this, please.

[2021-07-13 09:17] kraenhansen commented on #2921
I can reproduce a variant of this with a simple `package.json` using npm v7.19.1:

[code]

[code]

It fails with:

[code]

This is a pain when working with unpublished / private packages.

Why does NPM have to fetch anything about the `non-existing-package` in this mode?
Fixing this seems like a potential for a significant performance boost.

[2021-07-13 09:56] frankra opened #3537 "[BUG] Can't install git module - npm ERR! Unsupported URL Type "ssh:": ssh://git..."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a project that uses git modules:

[code]

I removed both `node_modules` and `package-lock.json` to be able to fix vulnerable dependencies, and I've been trying to install everything again with `npm i` but it is failing with the following error:

[code]

### Expected Behavior

It should

[2021-07-13 10:15] npomfret opened #3538 "[BUG] "npm install < dependency >" appears to ignore the package-lock file that belongs to that dependency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am installing a dependency via a private GitHub repo:
`npm install "git+ssh://git@github.com/foo/bar.git#${COMMIT_HASH}" --save`

That dependency has it's own `package.json` and `package-lock.json` file in which we have:

[code]
and
[code]

I am expecting to see the same version of my depen

[2021-07-13 11:21] frankra commented on #3537
I was able to solve this issue by changing the dependency url from:

[code]

to

[code]

But this is still a bet weird because as per the [documentation](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#git-urls-as-dependencies), both of them should work...

just removed the `git+ssh://git@` part.

[2021-07-13 11:40] jkxyz commented on #2264
I've also run into this issue. I renamed the project directory to save myself two keystrokes: `cd g<TAB>` instead of `cd n<TAB>g<TAB>`. After noticing that my colleagues and I were committing different versions of package-lock.json in our PRs I first got us all to align on using the latest npm version thinking that was the cause of the problem. It was unexpected behavior to me that the CLI would c

[2021-07-13 13:08] willstott101 commented on #2039
The documentation still seems to refer to a `save` option: https://docs.npmjs.com/cli/v7/commands/npm-update#package-lock

[2021-07-13 14:52] marcog83 commented on #3290
I had a look at concurrently, but i cannot figure out how to use it in my case.

I got that concurrently can run multiple scripts in parallel, but they are all defined in the same package.json.
In my case a have a script at root level that goes through all the workspaces and executing the script, if defined in the inner package.json.

[2021-07-13 15:06] ljharb commented on #3538
That is by design - package-lock is dev-only and isn’t even published with the package (and wouldn’t be looked at if it were).

Publishing a lockfile in a package that consumers will respect is possible with npm-shrinkwrap.json, but it is a very bad idea, and user-hostile, since it prevents consumers from deduping packages or automatically updating transitive deps through their semver ranges.

Onl

[2021-07-13 15:09] npomfret commented on #3538
So the dependencies I get when I call `npm install ... --save` are totally random?  It's just whatever is 'out there' at the time?

[2021-07-13 15:51] ljharb commented on #3538
That’s not random at all - but yes, it’s only deterministic when you take into account “what’s published at the time”.

This is a feature - it’s a good thing. It’s how bugfixes and security fixes can freely flow to consumers without everyone having to do busy work.

[2021-07-13 16:10] npomfret commented on #3538
Thanks for the info, I do appreciate it.  I have learned something.

But we can disagree on if or not this is a good thing. It is random as far as I can see.  I have no idea what version I'm going to get because if someone published a new version just before I install, then that's the one I'll get.

The entire reason I found this is because I picked up a very broken sub-dependency when I installed

[2021-07-13 16:10] #3538 closed, assigned to nobody

[2021-07-13 16:41] ljharb commented on #3538
Semver means that a `^` range only includes fixes and additions, not breaking changes. Bugs can happen, sure, but you _want_ to get the newest possible in-range version of every package.

You're correct that the package's dev-only lockfile matches what's been tested. However, the tradeoff is that repeatability/predictability/determinism are in practice *much less important* than being able to get

[2021-07-13 16:47] npomfret commented on #3538
Again, we disagree, but that's cool.  I understand your point.

Getting the latest/best/fixed version when you install is good, yes.  But this helpfulness stops immediately if you use a lock file - you never get fixes ever again until you manually update your deps.  So it's cool, but kind of pointless.  I would MUCH rather have tested code from known versions, not some random (potentially broken)

[2021-07-13 16:48] ljharb commented on #3538
Yes, you do - even with a lockfile, when you `npm update foo` or `npm install foo`, you will update your lockfile to include the latest versions of all transitive deps of `foo`.

I work at Coinbase; npm's approach works perfectly fine for much larger transaction volumes than that.

[2021-07-13 16:51] npomfret commented on #3538
When it's your money at risk you might feel differently.

[2021-07-13 19:58] cinderblock commented on #3290
So, you could list out all your workspaces and have concurrently run all of them.

But, it sounds like what you **really** want is some system that **automatically** finds all your workspaces (which `npm --ws` does) **and** runs them concurrently. I personally don't know of a simple package that will do both of these jobs for you.

It shouldn't be too hard to roll your own script that finds all th

[2021-07-13 20:30] hisham commented on #2441
+1.

This was also mentioned as fixed in https://github.com/npm/cli/issues/2009, but clearly was not.

[2021-07-13 22:01] marcog83 commented on #3290
Yes, you described exactly the functionality  i'd like to use with npm workspaces.
I can do it with LernaJS, but actually I started investigating npm 7
to migrate my project from Lerna to npm 7 😄

[2021-07-13 23:25] bnb opened #3543 "[BUG] Add command example for `npm publish --workspace`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There is presently no example in the `npm publish` documentation for `npm publish --workspace`.

### Expected Behavior

In general, having example commands helps inform the end-user about the shape of the command just by reading. Without them, there can be potential confusion. I am confused a

[2021-07-14 02:47] xinminsu opened #3544 "[BUG] <title> npm install error in project https://github.com/SmartMeshFoundation/VISwap-DApp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm WARN deprecated ethashjs@0.0.8: New package name format for new versions: @ethereumjs/ethash. Please update.
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can b

[2021-07-14 03:30] xinminsu commented on #3544
could you please to have a look? if still can not find the root cause, close it is ok.

[2021-07-14 03:43] ljharb commented on #3544
@xinminsu can you try with npm 7 latest?

[2021-07-14 04:51] ejazahm3d commented on #3385
Having the same issue.

[2021-07-14 04:57] adiun commented on #3385
Not sure if this helps anyone but I was able to resolve my issue by (a) making sure all package versions matched across all workspaces (b) bisecting my dependencies (deleting half of the dependencies, rerunning npm install, repeat, until success).

I found through this process that the offending package was graphql-hooks. When I removed *just* this package, npm install succeeded!

So then I delete

[2021-07-14 05:47] xinminsu commented on #3544
after i download node-v16.4.2-linux-x64.tar.xz  which  npm -v  7.18.1,   npm install is ok. this bug is disappeared.

[2021-07-14 05:47] #3544 closed, assigned to nobody

[2021-07-14 09:53] livthomas commented on #3500
I also get the same error when I try to update the dependencies in my project.

[2021-07-14 10:41] wmzy opened #3545 "[BUG] npm install rename .gitignore to .npmignore."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/5526525/125607633-98a0a4fb-755a-4841-93ed-52e917614e9f.png)

![image](https://user-images.githubusercontent.com/5526525/125608212-bc57795b-85da-4530-94fd-64ab20f2a1ca.png)

### Expected Behavior

Don't rename the `.gitignore`.

### Steps To R

[2021-07-14 14:48] targos commented on #3385
@ruyadorno I'm sorry for pinging you directly, but after more than a month, I lost hope that someone from the npm team would see this issue.

[2021-07-14 15:54] iggyzap commented on #2701
This bug contradicts description from documentation on how `npm ci` should work:
[code]

https://docs.npmjs.com/cli/v7/commands/npm-ci

[2021-07-14 18:23] bcardarella commented on #2339
@darcyclarke was there any insight as to why this change was made that you can share? You made mention of bringing this up at a meeting a few months ago but didn't have a followup in this thread. As I understand it the intention is to reduce the complexity of dependency resolution. So only resolve dependencies that are within the fs root. I think that's fine but what is problematic is any dependen

[2021-07-14 21:31] ruyadorno commented on #3385
no worries @targos! I'm sorry about the delay 😊

I'm not sure this is a workspaces issue and I'm more inclined to believe this is a peer dependencies failure, if I try running `npm install` inside that `@nivo/scatterplot` package I'm able to see the proper `ERESOLVE` error:

[code]

This def needs some more debugging and digging to find the root cause. I know that @isaacs is in the middle of a lar

[2021-07-14 22:58] isaacs commented on #3385
I have good news, bad news, and a workaround.

### the good news

The good news is that I have a fix for this already in the npm/arborist branch I'm working on where I'm refactoring the buildIdealTree method.  So this does not trigger an infinite loop or fatal crash once that lands.  It's almost done, I'm just finishing getting test coverage back up to 100%, and combing through the nitpicky issues

[2021-07-15 02:04] DeeDeeG commented on #2787
Can this issue please be re-opened?

I think it was closed accidentally.

[2021-07-15 05:00] iarna commented on #3530
I should note that this is actually happening for us in CI (our workaround right now is to downgrade folks to npm6). With the registry is set via npmrc or command line we get the same result.

[2021-07-15 08:35] compulim commented on #2606
With `npm@7.19.1`, still no luck after nuking `node_modules` and `package-lock.json`. My steps:

- Verify it is running `node@16.5.0` and `npm@7.19.1`
- Remove both `node_modules` and `package-lock.json`
- Verify `npm config get ignore-scripts` is `false`
- Re-run `npm install` to regenerate the `package-lock.json`
- Verify that `"node_modules/esbuild".hasInstallScript` is `true` in the newly gene

[2021-07-15 11:28] n3dst4 commented on #3208
#2011 is related (performance is even worse again is running inside a mounted volume in a container).

[2021-07-15 12:03] sayandeep-volition opened #3547 "[BUG] <Fix the upstream dependency conflict while creating new angular project>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

While creating the Angular Project.

`npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: angular-beginner@0.0.0
npm ERR! Found: jasmine-core@3.7.1
npm ERR! node_modules/jasmine-core
npm ERR!   dev jasmine-core@"~3.7.0" from the root p

[2021-07-15 14:35] code-is-art commented on #708
I just updated to the latest npm and I want to chime in and join my voice to the chorus here. npm update should exists the way it was before or not exist at all. Updating a package and not reflecting it in the package.json is confusing and counter intuitive. Also there is nothing in the [npm docs](https://docs.npmjs.com/cli/v7/commands/npm-update) to warn or document this.

[2021-07-15 14:39] wraithgar opened #3548 "[BUG] publishing a tarball does not include readme"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When publishing from a tarball, the `readme` attribute is not in the manifest.

### Expected Behavior

`fullMetadata: true` in `pacote.manifest` works properly for tarballs.

### Steps To Reproduce

This was technically introduced in [`npm@7.0.8`](https://github.com/npm/cli/pull/2074) but tha

[2021-07-15 14:56] ljharb commented on #3547
The error message tells you that your project requires just v3.7.x of jasmine-core, but the version of karma-jasmine-html-reporter requires v3.8 of jasmine-core or higher.

The simplest path is likely for you to upgrade to `^3.7.0` of jasmine-core - the wider semver range would have allowed this to succeed.

[2021-07-15 16:56] shirshak55 opened #3549 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm WARN tar TAR_ENTRY_ERROR UNKNOWN: unknown error, open 'C:\Users\quantum\Desktop\projects\http-toolkit\httptoolkit-ui\node_modules\openapi-directory\api\azure.com\sql-DatabaseSecurityAlertPolicies.json'
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report t

[2021-07-15 16:57] shirshak55 commented on #3516
i am also seeing similar errors. Maybe I need to stick to yarn.

[2021-07-15 19:54] rodoabad commented on #2004
We're having similar issues where we have `npm.foo.com` for our internal registry which can resolve to `bar.npm.foo.com` or `buz.npm.foo.com`. When the package lock is using `bar.npm.foo.com` and `bar.npm.foo.com` is taken offline, it doesn't use `npm.foo.com` [so that it now resolves to `buz.npm.foo.com`] and generate a new lock file. It keeps trying to use `bar.npm.foo.com` like in the actual lo

[2021-07-15 19:58] kleinen commented on #2004
My company has seen something similar.  We have regional Artifactory servers that we use to for hosting a common npm registry.  From a client perspective, there is a single registry and based on their IP, they will get redirected automatically to the appropriate regional server.  Recently we retired one of these servers, which caused some of our projects to exhibit the same error signature mention

[2021-07-15 20:43] wraithgar commented on #3506
This was fixed in `v7.20.0`

[2021-07-15 20:43] #3506 closed, assigned to wraithgar

[2021-07-15 20:45] wraithgar commented on #3091
this is now half fixed as of `v7.20.0`.

`npmlog` itself having forced black backgrounds for certain levels is going to be a separate fix.

[2021-07-15 20:46] wraithgar commented on #2703
docs updates shipped with `v7.20.0` and the site should reflect those changes when it next auto builds

[2021-07-15 20:46] #2703 closed, assigned to wraithgar

[2021-07-15 20:46] wraithgar commented on #2755
fixed in `v7.20.0`

[2021-07-15 20:46] #2755 closed, assigned to wraithgar

[2021-07-15 20:53] wraithgar commented on #3527
I can't duplicate this, if you have a more reliable way to replicate this problem please reopen with more instructions.

[code]

[2021-07-15 20:53] #3527 closed, assigned to nobody

[2021-07-15 20:54] wraithgar commented on #3549
Please try this using the latest version of npm.  Also please include the log file it generates if possible.

See this wiki entry for more info: https://github.com/npm/cli/wiki/%22cb()-never-called%3F-Exit-handler-never-called%3F-I'm-having-the-same-problem!%22

[2021-07-15 20:54] #3549 closed, assigned to nobody

[2021-07-15 20:57] wraithgar commented on #3389
Thank you for including the debug log.  We added some things in `v7.20.0` that should catch more of these errors and properly handle them. Can you try using the newest npm version?

[2021-07-15 20:57] wraithgar commented on #3390
Thank you for including the debug log.  We added some things in `v7.20.0` that should catch more of these errors and properly handle them. Can you try using the newest npm version?

[2021-07-15 20:59] wraithgar commented on #3387
This repo tracks issues with the npm cli itself. If you are having problems installing node-rfc please open an issue in that repo

https://github.com/sap/node-rfc

[2021-07-15 20:59] #3387 closed, assigned to nobody

[2021-07-15 21:01] wraithgar commented on #2341
npm `v7.20.0` added some things that should catch more of the problems this was causing, can you try with the latest npm?

[2021-07-15 21:02] wraithgar commented on #2306
Closing due to inactivity. If this is still a problem for m1 folks please open a new issue.

[2021-07-15 21:02] #2306 closed, assigned to nobody

[2021-07-15 21:03] wraithgar commented on #2397
npm v7.20.0 added some things that should catch more of the problems this was causing, can you try with the latest npm?  If it is still happening please open a new issue and be sure to include the debug log.

[2021-07-15 21:03] #2397 closed, assigned to nobody

[2021-07-15 21:07] wraithgar commented on #2611
https://github.com/npm/cli/pull/3365

[2021-07-15 21:07] #2611 closed, assigned to nobody

[2021-07-15 21:14] wraithgar commented on #3502
npm `v7.20.0` added some things that should catch more of these network errors. It also added some new debugging messages specifically for this error message. Can you try with that version and also include any debug logs it generates?

[2021-07-15 21:14] wraithgar commented on #3516
npm `v7.20.0` added some things that should catch more of these network errors. It also added some new debugging messages specifically for this error message. Can you try with that version and also include any debug logs it generates?

[2021-07-15 21:15] wraithgar commented on #3462
npm `v7.20.0` added some things that should catch more of these network errors. It also added some new debugging messages specifically for this error message. Can you try with that version and also include any debug logs it generates?

[2021-07-15 21:17] wraithgar commented on #3421
npm `v7.20.0` added some things that should catch more of these network errors. It also added some new debugging messages specifically for this error message. Can you try with that version and also include any debug logs it generates in a new issue?

[2021-07-15 21:17] #3421 closed, assigned to nobody

[2021-07-15 21:17] wraithgar commented on #3407
npm `v7.20.0` added some things that should catch more of these network errors. It also added some new debugging messages specifically for this error message. Can you try with that version and also include any debug logs it generates?

[2021-07-16 05:37] Fdawgs commented on #2755
Thanks @wraithgar!

[2021-07-16 05:55] deepakraj1110 opened #3551 "[BUG] <cb() never called>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

182 silly pacote version manifest for ts-pnp@1.2.0 fetched in 331ms
183 silly resolveWithNewModule ts-pnp@1.2.0 checking installable status
184 http fetch GET 304 https://registry.npmjs.org/url-loader 300ms (from cache)
185 silly pacote version manifest for url-loader@4.1.1 fetched in 320ms
1

[2021-07-16 06:16] shirshak55 commented on #3516
@wraithgar i am very surprised about this instruction. I just went to nodejs.org downloaded the latest node which is supposed to have the latest npm but the version I got was 7.19.1?  I am on windows so I usually use msi images to upgrade which is correct way afaik?

[2021-07-16 06:18] ljharb commented on #3516
the latest node only has the latest npm at the time it was released; the latest npm was released after every current node version. run `npm install -g npm`.

[2021-07-16 08:54] kingsalman88 opened #3552 "[BUG] <title>🤴👑📱♥"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

#3551 #

### Expected Behavior

#3551 #

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...'
4. See error...

### Environment

- OS:
- Node:
- npm:

[2021-07-16 11:54] TomFoyster opened #3553 "[BUG] 7.20.0 - incorrect interaction with workspace postinstall scripts (worked on 7.19.1)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running `npm i` from the project root - the  script referenced as the `postinstall` script in the workspace package json **is called**. This should not be called when installing from the project root.

### Expected Behavior

As in `7.19.1`, when running `npm i` from the project root - th

[2021-07-16 13:06] rebelwolfson commented on #3551
the same:

[code]
[2021-07-16T12_59_48_649Z-debug.log](https://github.com/npm/cli/files/6830785/2021-07-16T12_59_48_649Z-debug.log)

[2021-07-16 13:08] hochan222 commented on #2295
I keep a record for others who have the same cause as me. In my case, even though I entered the ID incorrectly, `npm ERR! 400 Bad Request - PUT https://registry.npmjs.org/-/user/org.couchdb.user:hochan222 - That email has already been registered` error message. There definitely seems to be a problem with the logic.

### TL;DR

**If the above error appears, check if the input values ​​other than th

[2021-07-16 13:20] warp9pnt9 commented on #3389
Strange.  This may be s new bug.  No printed errors.  `npm i firebase` appears to succeed, but when I subsequently run `npm i firebase-admin`, I get an error, and `package.json` is unchanged, `package-lock.json` is not created.  There is no debug.log.

[code]

The package.json never has any data written to it after the install.  `package-lock.json` is never created.  Something has gone badly wrong

[2021-07-16 13:24] warp9pnt9 commented on #3390
Appears to succeed with no errors, no debug.log.  But package.json is not updated, package-lock.json is never created.

[2021-07-16 14:44] OnkelTem opened #3554 "[BUG] Unable to install anything from a scoped private registry: registry gets ignored"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I find no way to install anything from a private registry.
I associated our scope with a registry, but then it gets completely ignored by NPM.

### Expected Behavior

NPM should install the package from a registry associated with the scope.

### Steps To Reproduce

First I associate a scope w

[2021-07-16 15:08] JBBianchi commented on #3554
I don't think it's a bug. I faced the same kind of behavior when I started to work with GitLab.

If I recall well, the problem was that I thought the package was published but it was not. In the end it was a mixup between project level and instance level urls usage.

Double check that you are actually publishing at the project level and consuming at the instance (or project) level. Publishing at i

[2021-07-16 15:40] #3552 closed, assigned to nobody

[2021-07-16 17:21] joebobmiles opened #3555 "[BUG] Running npm ci in GitHub Actions erroneously uses GitHub Package Registry"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running `npm ci` in a GitHub Actions workflow, regardless of configuration, always attempts to install packages scoped with my GitHub username (`joebobmiles`) from the GitHub Package Registry, even if the package does not, or no longer does, exist on that registry.

### Expected Behavior

Exp

[2021-07-16 17:34] ljharb commented on #3555
What happens with npm v7.20? (7.7 is very old, as is node 15)

[2021-07-16 17:36] joebobmiles commented on #3555
### Additional Context

The package I am having problems with was published to _both_ NPM and the GPR, however, I recently (past few days) removed the package from the GPR due to the GPR, despite the package's public access, required me to log in to install the package. Despite having removed the package from the GPR and only hosting it on the NPM registry, the CI process still tries to download t

[2021-07-16 17:37] joebobmiles commented on #3555
Not sure how to set the npm version in GitHub Actions, but will see if I can get it to run npm v7.20.

Update: [There's a helpful issue in actions/setup-node](https://github.com/actions/setup-node/issues/213#issuecomment-739685886) that informs on how to get a newer version of npm. Simple `npm install -g npm@latest`

[2021-07-16 17:40] ljharb commented on #3555
add a `- run: npm install -g npm` line?

[2021-07-16 17:45] joebobmiles commented on #3555
Ok, did a quick run with NPM v7.20.0 and got the same result. Install command being run after updating NPM is `npm ci --scope=@joebobmiles --registry=https://registry.npmjs.org/`.

[Here's a gist with the recent run log.](https://gist.github.com/joebobmiles/d7dcbe1e0305aa286676514dd12d3503)

I'm going to see what upgrading to Node 16 does.

[2021-07-16 17:53] joebobmiles commented on #3555
Aaaand running the workflow with Node 16.5.0 and NPM 7.20.0 got the same result as Node 15.14.0 and NPM 7.7.6.

[2021-07-16 18:02] joebobmiles commented on #3555
For the hell of it I provided a `NODE_AUTH_TOKEN` like I did when the package was still on the GPR. No change in outcome.

[2021-07-16 21:13] MikaelLambert commented on #3078
Thanks @mehulkar, I ran into a similar issue related to our internal Artifactory as well, but your workaround worked for me. I was also able to workaround the issue by upgrading to the latest version of Node/npm. I'm not sure if the latest npm has increased timeouts or different fetching behaviour as described by @nlf , but just passing on the information to help out the investigation.

Here's my

[2021-07-17 03:21] robin-drexler commented on #3446
I tried to dig a bit into this and I think I have an idea, why it doesn't work (anymore).
First, the good news. This should only affect a _very_ low number of packages, but here we go.

`sass` installs `optionalDependencies`. Like https://github.com/Financial-Times/sass/tree/master/sass-macos-x64 for Mac or https://github.com/Financial-Times/sass/tree/master/sass-windows-x64 for windows.

All of t

[2021-07-17 03:25] lognaturel opened #3556 "[BUG] Subdependency that needs to be built from source not found (works with npm 6)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When trying to include a dependency that needs to be built from source ([libxslt](https://github.com/albanm/node-libxslt)) which itself has a dependency that needs to be built from source ([libxmljs](https://github.com/MrMYHuang/libxmljs)), `npm install` fails with:

`npm ERR! clang: error: n

[2021-07-17 04:13] ljharb commented on #3446
It’s always been a thing and can’t stop being one now; this seems like a clear bug to me.

[2021-07-17 04:16] ljharb commented on #3556
What about with npm 7.20?

[2021-07-17 05:35] lognaturel commented on #3556
I'm sorry, I wrote 7.2.0 but meant 7.20.0! Updated

[2021-07-17 09:47] noblemfd opened #3557 "[BUG] RxwebValidators: Type 'string' is not assignable to type 'string[] | undefined'.ts(2322) in image validation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I got this error on the component:

extension-config.d.ts(3, 5): The expected type comes from property 'extensions' which is declared here on type 'ExtensionConfig'
(property) ExtensionConfig.extensions?: string[] | undefined

and this code is highlighted:

### Expected Behavior

I expected t

[2021-07-17 15:23] ljharb commented on #3557
This error comes from typescript, and has nothing to do with npm.

[2021-07-17 15:23] #3557 closed, assigned to nobody

[2021-07-17 21:43] dystopiandev commented on #708
So npm can warn when it's a patch version out of date, but will neither warn nor document a potentially time-wasting, breaking change... "for the greater good"?

Inspirational.

[2021-07-18 10:46] arash-bizcover commented on #2704
@npm/cli-team please let us know, How the hell can we update all modules in package.json dependencies to their latest, from now on???

[2021-07-18 11:01] arash-bizcover commented on #708
https://github.com/npm/feedback/discussions/270

[2021-07-18 11:05] arash-bizcover commented on #708
https://github.com/npm/cli/issues/2704

[2021-07-18 12:09] noway opened #3558 "[BUG] new lines in arguments are replaced with \n"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

New lines in arguments supplied to `npx` are replaced with \n when reading via process.argv

So "
" becomes "\n". This behaviour is not reproducible if running a bin script directly in the command line (`./bin.js "$ARG"` and not `npx package-with-bin "$ARG"`)

### Expected Behavior

New lines

[2021-07-18 12:15] noway commented on #3558
Sorry, this issue is a duplicate of #3337

[2021-07-18 12:15] #3558 closed, assigned to nobody

[2021-07-18 12:15] noway commented on #3337
Hello, I've encountered this too! I was searching for "new line" in issues and haven't noticed this ticket.

For now I see the workaround is to use stdin instead of args.

[2021-07-19 04:01] benjaminv commented on #2306
Exactly I eventually realised it had something to do with the vue.js as every projects with vue.js as dependencies would hang the terminal for quite a few minutes and most of them ran into error during `npm install`.

I am the same on Big Sur with Macbook Air Apple Silicon.
My old environment is:
[code]

It also had issues with node-asaa package due to incompatibility with `Node`, like mentioned b

[2021-07-19 04:54] balarayen-blippar commented on #2728
Still happens with npm 7.20.0

[2021-07-19 08:08] OnkelTem commented on #3554
Thank you @JBBianchi

Yeah, I admit that the problem could be at the GitLab side but I don't get how/when am I assumed to know that?
Even in the verbose mode NPM doesn't show any activity against the GitLab registry.
How one would even know that something goes wrong if NPN doesn't tell anything?

[2021-07-19 09:23] jlchereau commented on #2704
For now I have not found any alternative to `npm i -g npm-check-updates && ncu -u`. They should really implement this in npm@7.

[2021-07-19 09:41] JBBianchi commented on #3554
It's not the fault of NPM if the registry says "ok, you published the package" but actually didn't, it's GitLab fault.

The only thing that points out that you need to use the project level endpoint and not the instance level endpoint is the [GitLab documentation](https://docs.gitlab.com/ee/user/packages/npm_registry/#publish-an-npm-package):
[code]

I must admit I lost a lot of time on that one.

[2021-07-19 09:56] OnkelTem commented on #3554
I've successfully published the npm package using project-level endpoint. I would have done it with instance-level endpoint and that was my initial idea, but according to [the docs](https://docs.gitlab.com/ee/user/packages/npm_registry/#use-the-gitlab-endpoint-for-npm-packages) it's not possible:

But as for the installation from the instance-level endpoint, I believe it should be possible. Otherw

[2021-07-19 09:58] JBBianchi commented on #3554
That's the way to go, once published at project level, the package is available at instance level.

[2021-07-19 10:40] OnkelTem commented on #3554
And that's exactly why I did.

I published the package using the following configuration:

1) Token in the `~/.npmrc`:
[code]

2) `publishConfig` in the `package.json`:

[code]

I published it using just regular `npm publish` and it showed up in the corresponding section:

![image](https://user-images.githubusercontent.com/114060/126146524-03e56300-cc12-438a-8633-5e80a2b70dc7.png)

To install it I

[2021-07-19 10:48] JBBianchi commented on #3554
At first glance, I think it should. Are you authenticated to use `http://gitlab.our.domain/api/v4/packages/npm/` ?
if so, you might wanna check your npm logs and your GitLab logs and maybe open an issue on GitLab.

[2021-07-19 11:27] OnkelTem commented on #3554
How can I tell that?
I have this line in the `~/.npmrc`:

[code]

(btw, seems like I used incorrect URL before - with "/projects" part, now I removed it)

[2021-07-19 11:40] JBBianchi commented on #3554
I think you can run something along the line of `npm whoami --registry=http://gitlab.our.domain/api/v4/packages/npm/`

Another thing to check maybe is the autorizations you gave to each token, double check they have the rights to access the registry?

[2021-07-19 12:35] troyyer commented on #3551
got the same error when running npm install for the following project https://github.com/percy/example-percy-webdriverio
Trying to run above code base and after cloning the code onto my local machine, I open the code is VSCode and in the VSCdoe Terminal run `npm install`
I then get the following error
[code]

[2021-07-19T12_07_38_299Z-debug.log](https://github.com/npm/cli/files/6840808/2021-07-19T

[2021-07-19 12:57] Blackclaws commented on #2453
Still an issue on npm@7.17.0 with gitlab

[2021-07-19 14:20] wraithgar commented on #3390
If you add the `--timing` flag a debug log will be created no matter what.  Can you try that and attach the log?

[2021-07-19 15:02] ljharb commented on #2704
There’s also,`npx salita`

[2021-07-19 15:04] ljharb commented on #2453
What about npm v7.20.0?

[2021-07-19 19:08] jukhamil opened #3559 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am trying to run the app Pencil with requires me to call `npm start` from inside the `pencil` directory.
I received the error that you cannot run the app as root user without `--no-sandbox`.

Someone online suggested adding "no sandbox" to the start script in package.json, but that didn't h

[2021-07-19 22:15] arash-bizcover commented on #2704
NPM Version 7 feels like if some .NET lovers have sneaked into the npm development team and trying to ruin the JS development experience.

[2021-07-19 23:06] warp9pnt9 commented on #3390
[2021-07-19T22_58_37_829Z-debug.log](https://github.com/npm/cli/files/6844344/2021-07-19T22_58_37_829Z-debug.log)

[2021-07-20 08:29] MrPengZ opened #3560 "[BUG]<RESPONSE INFORMATION里没有信息>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/85972403/126287782-e4f90f61-56c7-4969-97a6-4c6528955f8b.png)

### Expected Behavior

_No response_

### Steps To Reproduce

newman run Api_auto_test.postman_collection.json -e test.postman_environment.json -g My_Workspace.postman_globals.json

[2021-07-20 11:21] Aprillion commented on #1946
at least this issue is in the google results :D thanks for the workaround!

[2021-07-20 13:51] ljharb commented on #3560
This doesn’t seem related to npm.

[2021-07-20 13:51] #3560 closed, assigned to nobody

[2021-07-20 20:40] lognaturel commented on #3556
Interestingly, this specific issue seems to have come up previously with these two libraries. From https://github.com/albanm/node-libxslt/issues/41, it looks like it worked in `4.6.1` then broke in the upgrade to `5` and was fixed at some point between then and `6.14.13`.

[2021-07-20 22:22] websolutions-hamburg opened #3564 "[BUG] GitHub package description is not updated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you run `npm publish` with a **package.json publishConfig** `"registry": "https://npm.pkg.github.com"` to publish a package to GitHub Packages, the package description is normally updated with the current `README.md`. Since **npm v7.0.8** the description is no longer updated and the desc

[2021-07-20 22:55] mmiretsky commented on #3045
I am closing this issue since there is a resolution.

[2021-07-20 22:55] #3045 closed, assigned to nobody

[2021-07-21 00:37] MrPengZ commented on #3560
The problem is already known, the server is down

[2021-07-21 07:55] zfeher opened #3565 "[BUG] npm dedupe fails with `TypeError: Cannot read property 'path' of null`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm dedupe fails with an error `TypeError: Cannot read property 'path' of null`

[npm debug.log](https://github.com/npm/cli/files/6853742/debug.log)

### Expected Behavior

npm dedupe should not fail

### Steps To Reproduce

1. In this environment: Ubuntu 20.04, Node 14.17.3, npm 7.20.0

2. W

[2021-07-21 08:37] zfeher opened #3566 "[BUG] npm audit fix could not resolve dependency but it states that dependency found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm audit fix fails with `Could not resolve dependency` error but above it states that the dependency found

[npm debug.log](https://github.com/npm/cli/files/6854049/debug.log)

### Expected Behavior

npm audit fix should be able to resolve the deduped peer dependency

### Steps To Reproduce

[2021-07-21 15:12] zackerydev commented on #3413
This would be a huge advantage of NPM workspaces - right now we are keeping `lerna` around for running transitive builds one at a time.

[2021-07-21 15:47] iliubinskii opened #3567 "[BUG] "audit fix" fails after "audit update" succeeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Screen](https://user-images.githubusercontent.com/70687432/126516111-3b32cd81-3dfc-49c1-85aa-c74671f0015b.jpg)

I see two strange things:

1. "npm audit-fix" fails right after "npm update" just succeeded. I think this should be impossible. If "npm update" succeeded it means that dependencie

[2021-07-21 20:38] mrzealot commented on #624
Broken for me as well (with a package having github dependencies).
node: v16.5.0
npm: v7.20.0

Any info on a fix?

[2021-07-21 22:37] bdefore commented on #1637
I received a 404 until I provided a `repository` field in package.json when publishing to Github Packaages. Unhelpful error.

[2021-07-22 05:39] isaacs commented on #3446
Oof.

Well... it's always been unsafe at any speed.  Even in npm v6, if someone installed `@financial-times/sass`, but had a conflicting version of the optional dep, it could have ended up getting its bin clobbered in a few other ways.  We _don't_ allow conflicting binaries to be installed in the global space, for somewhat obvious security reasons, but when we looked into doing that with local dep

[2021-07-22 09:39] mansona opened #3568 "[BUG] Running `npm link` for 2 packages removes the link to the first package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm trying to link 2 packages and I know this worked at some point in the past. The current process is running the following commands one after another

[code]

after the first link `guidemaker` is linked correctly, but after you run the second link it removes the link to `guidemaker` and onl

[2021-07-22 13:33] menduz commented on #3174
Hello, is there something we can do to help with this issue? It is affecting our operations at the Decentraland Community

[2021-07-22 13:56] aeppacher commented on #2508
Confirming this is still broken with `npm.7.20.0` with `Node v12.x` a downgrade to `npm@6` resolves the problem but we have other repos that require 7.

[2021-07-22 20:28] isaacs commented on #3034
In the short term, you can force serialized operation by doing `npm install --foreground-scripts`.

More generally, this does get a bit tricky in the case where the dependency graph cycles back on itself.  For example, `a -> b -> c -> a`, where all three are workspaces with prepare scripts.  So we can't just naively say "wait until all your deps prepares have completed", because it'll deadlock.  A

[2021-07-22 22:48] ghost opened #3571 "[BUG] npm ci & npm install fails since 7.20.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

since npm@7.20.0
plyr and mathjs refuse to install or freeze in example reify:mathjs

with npm@7.19.1 its working well
tested on
windows 10
raspberryPi3
ubuntu server

### Expected Behavior

npm install & npm ci dont freeze

### Steps To Reproduce

run npm install or npm ci on various project

[2021-07-22 23:02] isaacs commented on #3034
Hm, exploring a bit further, there is really no way to do solve this bootstrapping problem in general that doesn't lead to either a traveling salesman problem or deadlocks.

Consider this dependency graph:

[code]

Let's say that:

1. `x`, `y`, `a`, and `e` have `prepare` scripts
2. all modules with prepare scripts `require()` their dependencies at least once within the prepare script and within t

[2021-07-22 23:02] #3034 closed, assigned to nobody

[2021-07-23 01:40] pro-wh commented on #3034
Thanks for the workaround with `--foreground-scripts`. I think that's suitable for the cases where I needed ordered `prepare`s. And in the bigger picture, our workspaces will be prepared and uploaded separately, so our downstream users won't need to fiddle with their flags.

But I must say that the fact that cycles can merely be represented has not often been sufficient reason to give up on someth

[2021-07-23 06:22] billyjanitsch opened #3572 "[BUG] npm set does not respect -g flag in 7.20.0 onwards"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

In npm < 7.20.0, this writes `foo=bar` to the _global_ npm config file (`/usr/local/etc/npmrc`).

In npm >= 7.20.0, the `-g` flag is not respected and `foo=bar` is written to the _user_ npm config file (`~/.npmrc`).

### Expected Behavior

The `-g` flag should result in a modification

[2021-07-23 06:30] billyjanitsch commented on #3572
This bug was introduced in https://github.com/npm/cli/pull/3471.

There's some logic there that's supposed to set the value of the new `-L` flag based on `-g`, but it appears to not be working correctly.

That PR seems to have updated all of the tests for `--global` to instead use `--location=global`, so they didn't catch this regression. Perhaps at least one test should be added back to verify th

[2021-07-23 06:57] littlespex commented on #2441
+1

[2021-07-23 09:03] alkisg opened #3573 "[BUG] npm 7.18.1 ignores publishConfig.registry"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This is similar to issue #1937, which is supposed to be resolved, but I still have it.
`npm publish` fails to pick up publishConfig.registry from my package.json, yet it works fine if I provide it in the command line with `npm publish --registry=https://gitlab.com/api/v4/projects/26587846/pac

[2021-07-23 10:34] pjanuario commented on #2453
Still a issue, just stumbled on this and looking for a way to publish to gitlab.com.

on both combos:

[code]

[code]

[2021-07-23 11:35] Apollon77 commented on #3123
is there any status updte on this one?

[2021-07-23 12:43] pjanuario commented on #2453
Going to report my use case here and the attempts I did.

We are using gitlab.com as private registry, with the following versions:

[code]

I have configured a scoped package with the name format `org@my-package` and added the property publishConfig on the package json with the URI of the project.

[code]

When I use npm set config at the project level it works but when using the instance level i

[2021-07-23 14:55] thomasleveil commented on #3229
Same here, all npm version from 7.16.0 are affected while 7.15.1 is working fine

[2021-07-24 06:49] RussQuan commented on #681
# ubuntu 18.04 vue cli installation
My solution works for me !

Install node.js 及 npm
[code]

version check
[code]

upgrade Node.js to v13.x:
- reference https://askubuntu.com/questions/426750/how-can-i-update-my-nodejs-to-the-latest-version
[code]
[code]

Install vue cli
[code]
check vue cli
[code]

if you need `vue create hello-world`, your node should be upper than v10
[code]

[2021-07-24 14:30] yo1dog opened #3574 "[BUG] v7 erroneously reports removal of packages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After installing `aws-cdk` package, subsequent `npm` commands such as `install`, `prune`, etc. always report "removed 7 packages" and the following lines:

[code]

All of the above directories still exist after each command, so they are not actually deleted.

This bug appears to have been int

[2021-07-25 10:34] hinell opened #3575 "[BUG] npm run ignores INIT_CWD"
### Is there an existing issue for this?

- [X] I have searched the existing issues ([found issues](https://github.com/npm/cli/issues?q=is%3Aissue+INIT_CWD+is%3Aopen))
- [X] A relevant, but unfixed issue:  #2033

### Current Behavior

`INIT_CWD` is ignored by npm run command.

### Expected Behavior

As it follows from the `npm run` help page (assuming it's still relevant):
_[...] If you want your

[2021-07-25 11:10] bennypowers commented on #2632
I encountered this while attempting to [migrate my yarn1/changesets monorepo to npm7](https://github.com/apollo-elements/apollo-elements/runs/3154297647?check_suite_focus=true)

In my case, the missing bin script which causes the failure is from one of the monorepo packages, which is concerning, as I would not expect `npm i` or `npm ci` from the root to reference that file at all

I'm very much lo

[2021-07-25 18:23] Yash-Singh1 opened #3576 "[BUG] `npm ping` freezes when internet is off"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I run `npm ping` without WiFi, then it just freezes.

![Screenshot from 2021-07-25 11-20-05](https://user-images.githubusercontent.com/53054099/126909278-27daa674-ac4f-4001-ab30-38911e5b83d8.png)

### Expected Behavior

The command gives me an error saying the request failed.

### Steps

[2021-07-26 00:44] jrafaaael opened #3577 "[BUG] npm ERR! Exit handler never called!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Trying to download this tool https://github.com/CesiumGS/gltf-pipeline, I run the command `npm install -g gltf-pipeline`
and I get
[code]

The log is
[code]

### Expected Behavior

Download the tool

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...'
4. See

[2021-07-26 05:40] e-cloud commented on #2633
Same problem encountered. here is the log

I was running `npm ci`

[code]

[2021-07-26 06:53] visheshd commented on #2004
Seeing this in 7.20.0 as well @wraithgar

[2021-07-26 06:55] voltuer commented on #1744
how can such bad UI e intended? mind explaining the reasoning behind this behavior?

[2021-07-26 07:59] pjc2007 commented on #3551
I also got this, and the output asked me to report (npm version 6.14.13)

[code]
Attached log file...
[2021-07-26T07_53_33_602Z-debug.log](https://github.com/npm/cli/files/6876528/2021-07-26T07_53_33_602Z-debug.log)

[2021-07-26 08:27] pjc2007 commented on #3551
I updated npm to latest and this is now fixed for me

[2021-07-26 12:52] n1ngu commented on #2704
@CageFox @arash-bizcover the fact is npm@6 never udpated package.json beyond the specs defined within itself. It might be controversial because it is a breaking change with npm@6, but there is little point in automatically evolving this file.

If you distributed an app, you should be distributing a shrinkwarp file. If you distributed a library, you'd only bump the specs in package.json when manual

[2021-07-26 13:44] arash-bizcover commented on #2704
@n1ngu yes That specs defined within itself is what exactly we are using, and there is a strong point automatically update based on the package.json file.

We(as well as many others) have tons of dependencies for our applications which we are the owner of those dependencies as well. When we update some dependencies we want our applications CICD pipelines to run npm update on test environments and

[2021-07-26 18:29] darcyclarke commented on #3010
`my/path` is unfortunately a shorthand for you github username/repo.

[2021-07-26 18:29] #3010 closed, assigned to nobody

[2021-07-26 18:43] acshef opened #3578 "[BUG] npm v7.10+ incompatible with git v2.22"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

From npm v7.10 and onward, installing a package from a git repository fails because npm is internally passing some bad arguments to git. Manual execution of git commands (e.g. `git clone` or `git ls-remote`) works as expected. I suspect this is a result of the following commit, appearing in n

[2021-07-26 20:20] mogarick commented on #3359
Is there a workaround for this problem?
I'm on npm 7.20.1 an the I try `npm i` when my package.json includes a gutbucket repo with `git+ssh` it hangs. this is the trace output in my case:

[code]

[2021-07-26 23:45] fulldecent opened #3579 "npm-update does NOT follow SemVer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[The documentation](https://docs.npmjs.com/cli/v7/commands/npm-update) states:

which is exactly how it behaves.

Also, [the documentation](https://docs.npmjs.com/cli/v7/commands/npm-update) states:

### Expected Behavior

These two above statements in documentation are logically incompatible

[2021-07-26 23:49] ljharb commented on #3579
You're looking at the latest version of semver. The original semver spec indeed worked the way npm works.

v0.4.1 is a nonbreaking update from v0.4.0. It's semver. and it's how npm works.

[2021-07-26 23:54] fulldecent commented on #3579
The version 1.0.0 SemVer (and 1.0.0 beta) also says the same thing:

I don't disagree that maybe some pre-recorded-history (i.e. on https://semver.org) draft of SemVer may have said something different. But if that is the case, it might be helpful if documentation is updated to reference this prior version of the specification.

[2021-07-27 01:17] ljharb commented on #3579
Fair enough.

[2021-07-27 05:23] lauta3011 commented on #3461
This also happens when trying `npm cache clean --force`

[2021-07-27 06:49] andormarkus opened #3580 "[BUG] `npm install -g .` with a `NPM_CONFIG_PREFIX` results in ENOENT"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Original issue: https://github.com/npm/cli/issues/1264
Original issue: pre-commit/pre-commit#1440

When `/home` is a symlink and `NPM_CONFIG_PREFIX` is set to a value which starts with the symlink and the working directory is the non-dereferenced symlink and `npm install -g .` is called `npm`

[2021-07-27 08:13] lgarron commented on #1265
I'm seeing a similar behaviour for `npm` 7.19.1.

Commands using `-g` create/use a folder in the current dir with the literal name `${XDG_DATA_HOME}`

<img width="210" alt="Screen Shot 2021-07-27 at 01 13 40" src="https://user-images.githubusercontent.com/248078/127120221-54e6ec3d-4a4c-4cd7-ac98-12b7f6f40c12.png">

[2021-07-27 08:24] lgarron opened #3581 "[BUG] `npm install -g` creates a folder in the current dir with the literal name `${XDG_DATA_HOME}`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`npm install -g` creates a folder with the literal name `${XDG_DATA_HOME}` in the current directory, and treats it as the data home dir.

<img width="210" alt="127120221-54e6ec3d-4a4c-4cd7-ac98-12b7f6f40c12" src="https://user-images.githubusercontent.com/248078/127122075-f49be28e-e4b2-4af8-81

[2021-07-27 09:33] senjufy commented on #1845
I used npx tsc --init. Worked for me. Im on a linux machine, if that fact matters. I also have typescript installed globally with npm.

[2021-07-27 09:51] y-nk opened #3582 "[BUG] CLI does not throw error when publishing abusive package name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

All the npm cli options are one-char package name which can create confusion with the api.

- hyphen: www.npmjs.com/package/-
- `--save-bundle`: www.npmjs.com/package/b
- `--save-dev`: www.npmjs.com/package/d
- `--save-exact`: www.npmjs.com/package/e
- `--save`: www.npmjs.com/package/s
- `--s

[2021-07-27 10:20] kavi6024 opened #3583 "npm ERR! cb() never called!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I don't know what to do, Please help.

Aborting installation.
  npm install --save --save-exact --loglevel error react react-dom react-scripts cra-template has failed.

Deleting generated file... package.json

### Expected Behavior

_No response_

### Steps To Reproduce

1. In this environmen

[2021-07-27 10:34] liaoliaots commented on #3577
+1

[2021-07-27 10:48] liaoliaots commented on #3577
**This is a serious error.**

### Steps To Reproduce

1. run `npm cache clean --force`
2. run `npm install` many times **or** any cli command
3. always throw an error: `npm ERR! Exit handler never called!`

### Environment

- os: ubuntu 20.04 LTS
- node: 14.17.3
- npm: 7.20.1

### Debug log:
[2021-07-27T13_17_42_207Z-debug.log](https://github.com/npm/cli/files/6885741/2021-07-27T13_17_42_207Z-debu

[2021-07-27 10:48] n1ngu commented on #2704
@arash-bizcover Since you are using the word "application" I'll insist: for that workflow you'd need to lock the dependencies in a **shrinkwrap** file. Then again, the package.json specs need not to evolve.

If you meant "library", you should only commit back the package-lock.json file, run your tests to check nothing broke, and let your library end-users update any transient dependency (yours or

[2021-07-27 12:25] javatask commented on #3077
Dear developers can you point me to alternatives of using $npm_config_{key} in the package.json in order parameterized scripts sections.
More details here
https://stackoverflow.com/questions/68511389/paramatrization-of-npm-package-json-scripts

[2021-07-27 15:52] redevill commented on #3077
**### OPTION 1:**
Don't use the Npm environment, use it only as a stepping stone to JavaScript. Pass any parameters you need through Npm to your Javascript.

**_e.g._**
_In your package.json scripts section:_
[code]

build script defined to run javascript under node - optional use of the cross-var package to help it work on windows
(https://www.npmjs.com/package/cross-var)

_To invoke on the comma

[2021-07-27 15:56] ljharb commented on #3582
That would break existing packages.

[2021-07-27 16:09] ljharb commented on #1265
@lgarron it'd be best if you filed a new issue, and confirmed on v7.20.1 (oops, i see you filed #3581)

[2021-07-27 16:33] javatask commented on #3077
@redevill thank you for your ideas.
I found this that best fits my case
Change
[code]
to
[code]

The main draw back is that you need to drop `"` in your values

[2021-07-27 17:09] redevill commented on #3077
Did not think of "Grepping" in the context of npm script - Cool.

[2021-07-27 17:16] nlf commented on #3583
#417

also, please try updating to the latest npm (7.20.2 as of today) with `npm i -g npm` and see if you still see this issue. if so, please open a new issue and be sure to fill out our template to the best of your ability.

[2021-07-27 17:16] #3583 closed, assigned to nobody

[2021-07-27 17:25] jcollum opened #3585 "[BUG] the readability of the notice about upgrading NPM is very poor on a white background"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I was told to report this as a bug https://github.com/npm/feedback/discussions/504

![2021-07-23_11-49-09](https://user-images.githubusercontent.com/704514/126828115-3427ede6-2a5a-4b69-80d0-ef2593fa7366.png)

YSK that black backgrounds are harder to read for people with astigmatism

 https://

[2021-07-27 17:30] pjroth commented on #3573
I'm seeing this same issue where a `publishConfig` `registry` override is not being picked up when running `npm publish`.  I see this error:
[code]

If I run with a override on the command line, as follows, the publish works as I expect:
[code]

I also have auth configured in my `~/.npmrc` since this registry is private and requires auth:
[code]

Note there are two registries I use.  A `npm-all` w

[2021-07-27 18:03] lgarron commented on #1265
Yep! As I mentioned there, the bug itself makes it difficult for me to install any different `npm` versions. :-(

[2021-07-27 18:38] jdmarshall commented on #1800
I think Artifactory and friends occasionally suffer from connection reset issues when talking to clients. Given that the requests in question usually have a Content-Length header, my suspicion is that pacote does not verify Content-Length before attempting to validate the file it was given.  We see this same problem both with NPM install operations and with a piece of code that uses pacote directl

[2021-07-27 18:55] wraithgar commented on #3585
Duplicate of https://github.com/npm/cli/issues/3091

[2021-07-27 18:55] #3585 closed, assigned to nobody

[2021-07-27 22:46] isaacs commented on #3377
This is fixed in `@npmcli/arborist@2.8.0`, which will be in the next npm cli release.

[2021-07-27 22:59] isaacs commented on #3138
This is a reporting error.

[code]

You're trying to use `@typescript-eslint/parser@"^2.34.0"` alongside `eslint-plugin-eslint-plugin@3`, but these two have incompatible peer deps.

So the `ERESOLVE` is the correct outcome, but the reporting here leaves much to be desired.

I'm in the midst of upgrading the cli to @npmcli/arborist@2.8.0, and the report got even more broken. 😅  So I'm going to dig

[2021-07-27 23:12] isaacs commented on #3138
Ok, the error was easy to work around.  Caused by the ERESOLVE explanations getting a bit more useful in arborist 2.8, ironically enough, but no longer squishing a direct conflict in with the extended peerDep conflict, which was losing some information.

Fixed report looks like this, and I'm going to call this a by-design crash, with a reporting error that'll be fixed on the next release:

[code]

[2021-07-28 10:56] liaoliaots commented on #3577
If I use other version of npm 7, always show `npm info ok`. I can't do anything for now, please fix it. Thanks!

[2021-07-28 11:15] liaoliaots commented on #3577
@jrafaaael
When I use the **clash** proxy tool, everything is ok.
But if I use **qv2ray**, it always throw error. Maybe this is a network problem.
( ･᷄ὢ･᷅ )( ･᷄ὢ･᷅ )( ･᷄ὢ･᷅ )

[2021-07-28 13:19] TomFoyster commented on #3553
Apologies - the attached repo has now been made public.

[2021-07-28 15:36] ljharb commented on #3138
I see the conflict, thanks.

[2021-07-28 16:05] jordanbtucker opened #3590 "[BUG] Republished package showing on npmjs.com but not available from CLI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I wanted to publish `ddns-client`, I ran `npm view ddns-client` and it gave me the following message:

[code]

I decided to "use the name" as suggested, and published `ddns-client@0.1.0`. (Unfortunately, I no longer have the log from when I published, but it reported success.)

It's been

[2021-07-28 16:54] iamjaredwalters commented on #2329
This issue still appears to be present in `7.19.0`. Running `npx myPackage -V` confirms an outdated version of the package is being preferred by npx, rather than the latest version.

[2021-07-28 17:13] wraithgar commented on #2329
The bug as written has been fixed.

With a clean cache:

[code]

I am going to lock this issue because further comments are not going to get anyone's problems troubleshooted.  If you feel there is a bug, please open a new issue but please be aware that if you have a package globally installed, `npx` will find and use that before trying to install something else, and it will not automatically fetch

[2021-07-28 17:36] jakubjosef commented on #2829
I can confirm this is now fixed in NPM. Thank you, closing this issue.

[2021-07-28 17:36] #2829 closed, assigned to wraithgar

[2021-07-28 18:15] djbeadle commented on #3573
Confirming this issue on Windows 10, npm 7.20.1, node 14.17.3.

`npm login --verbose` ignores `publishConfig.registry` in `package.json` and instead uses the `registry` defined in `.npmrc`.
`npm publish` exhibits the same behavior, **in both cases adding `--registry=https://some-custom-registry` is a suitable work around.**

For now I am adding the following to my `package.json.scripts.prepublishO

[2021-07-28 18:46] wilecoyte78 commented on #3551
I get this error when upgrading to latest: 7.20.2:

npm ERR! Exit handler never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

Could be related to https://github.com/npm/cli/issues/3577

After running npm cache clean --force both this error and the error from 7.20.2 went away. Try running npm cache clean --force fi

[2021-07-28 21:05] db-developer commented on #2556
Not sure, if this is the same feature.
See the difference in ERRORLEVEL 1 vs 0 (0 in actual versions)

nodejs version:     v14.16.0
npm version:        6.14.11
src\test\tmp\project-04>npm outdated & echo %ERRORLEVEL%
Package              Current  Wanted  Latest  Location
grunt                MISSING   1.4.1   1.4.1  example-project-00
1

nodejs version:     v15.14.0
npm version:        7.7.6
src\t

[2021-07-28 21:48] apastel commented on #3515
Having the same issue as well and I seem to have isolated it down to beginning with `npm@7.7.0`, regardless of node version. The scope line is added when running npm up to 7.6.3, but then upgrading to 7.7.0 and attempting to login again with a clean ~/.npmrc, the scope line is not added.

[2021-07-29 00:48] jordanbtucker commented on #3590
Since I've posted this, I've published v0.1.1, v0.2.0, v0.2.1, v0.2.2, and v0.2.3, all of which are available as well as the original v0.1.0 I posted about. I guess it was just a timing thing?

[2021-07-29 07:26] noseratio commented on #2339
I've just faced the same problem while modernizing our existing build pipeline. As a workaround, I now have to create a script to first call `npm install` in-place for each linked package (or each one installed from a peer folder via `npm install .../some-package`).

[2021-07-29 08:29] bhallstein commented on #3377
Great news! Thanks very much for giving this your attention.

[2021-07-29 09:29] JackuB commented on #2632
You may also create a static bin script. You can then commit this static file, so npm install won't fail anymore.
Update your bin location to a static file like so:

[code]

and then create a `bin/mudkipz` that contains

[code]

Don't forget to include the `bin` folder in your release and make the bin file executable.

[2021-07-29 12:43] arhamabeer commented on #1185
Downgrading to npm version 6.13.7 worked for me.

[2021-07-29 14:04] mhdtahawi commented on #2027
This should be reopened !
I don't want chown all my code to root for my server to run on port 80.

The solution proposed (`chown`) is a hack, not a solution !

@darcyclarke , where does it say that a folder has to be owned by root to be run as root ?

[2021-07-29 14:33] JanMisker commented on #2700
I still have the same problem, I'm on npm 7.20.2

[2021-07-29 14:34] cdoublev commented on #2027
I agree that something in the documentation would be appropriated. I only found [this](https://docs.npmjs.com/cli/v7/using-npm/scripts):

The above documentation does not address this issue, but I think not forwarding root privilege to npm scripts is a good security measure. I would advise to use another port on a local machine and to use a process manager in production.

[2021-07-29 14:37] pawelhertman opened #3593 "[BUG] npm ls --depth=Infinity returns dev dependencies of local prod dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If there is a prod dependency installed from the local filesystem and it has dev dependencies, `npm ls --depth=Infinity` returns also dev dependencies although it doesn't do this for dependencies installed from the public NPM registry. Depth parameter value doesn't matter - it just has to be

[2021-07-29 14:56] mhdtahawi commented on #2027
Yes, I agree. However, sometimes there are situations where passing root privilege's is the better solution.
 I am completely aware of the risk and I don't see why my runtime environment should dictate how I should work.
 The change that was made is a breaking change that was not documented nor stated in the change log as far as I can see, the current behavior is not aligned with the doc and it sh

[2021-07-29 16:06] #3138 closed, assigned to isaacs

[2021-07-29 16:06] #3377 closed, assigned to isaacs

[2021-07-30 00:17] frangio commented on #2546
I don't understand what is tricky about this. Node and npm traverse up the file system tree regularly for all sorts of common operations. Did I misunderstand the comment?

I think the command `npm install <dependency>` (as opposed to `npm install`) makes a better case for why commands should automatically detect a workspace and run relative to the root package.

To install a dependency in a worksp

[2021-07-30 01:34] dougmoscrop commented on #3496
Downgrading to 7.17 seems to avoid this issue but I am not sure where to begin troubleshooting

[2021-07-30 06:26] ouboub opened #3595 "[BUG] installation fails for Ubuntu 16.04"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running
npm install mathjax-node-cli
results in Error: Missing required argument #1
log attached

[npm-debug.log](https://github.com/npm/cli/files/6905470/npm-debug.log)

### Expected Behavior

installation should succeed.

### Steps To Reproduce

1. In this environment...
2. With this config

[2021-07-30 06:30] ljharb commented on #3595
Both node 4 and npm 3 are incredibly ancient and unsupported. Upgrade to npm 6, or upgrade to node 12+ and npm 7.

[2021-07-30 06:59] ouboub commented on #3595
ok, I did  (following https://stackoverflow.com/questions/41195952/updating-nodejs-on-ubuntu-16-04)
sudo npm install -g n
sudo n latest
that part worked. Then I run again
`npm install mathjax-node-cli
npm WARN deprecated uuid@3.4.0: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certain circumstances, which is known to be problematic.  See https://v8.dev/blog/math