[2022-02-03 13:51] Ploppz commented on #4367
I was just made aware of this https://github.com/npm/cli/issues/2380
And I am inclined to believe this might be the culprit of my issues. I have certainly ran `npm link <package name>` after `npm i` because I indeed noticed that the link was removed.

[2022-02-03 14:20] m90 commented on #2339
Seeing this is now labeled as a `bug`, does it mean the v6 behavior will be coming back at some point?

[2022-02-03 15:45] ljharb commented on #4367
You need to link every peer dep also - which means react also needs to be linked.

[2022-02-03 15:52] Ploppz commented on #4367
Thanks for your input - if so, I suggest this issue stays open until npm returns a suitable error message on this error. Curiously, I could not find anything when searching for `Cannot read properties of null (reading 'matches')`

[2022-02-03 15:59] ljharb commented on #4367
That error is indeed an npm bug. The react warning you see is because of the general concept that when linking, every peer dep must also be linked, so they’re not duplicated.

[2022-02-03 16:05] moficodes commented on #4302
I am publishing the 0.0.9 version.

It publishes 0.0.9 then gives the error that its already exists.

Prior to running the command my version was 0.0.8

[2022-02-03 16:55] pxDot commented on #4104
Latest v8.4.0 sadly still with the same issue.

You can use `--legacy-peer-deps` as a workaround until this is fixed.

[2022-02-03 17:25] ljharb commented on #4104
@christek you always have to include `react-dom` specifically; that's the proper solution even if npm gets better at selecting it.

@e1himself your issue is caused by having `react@^16.9.0` in the root, but `react-dom@17.0.2` also, and those two are incompatible. You also need to add an explicit react-dom dependency.

This is just how it's done in the react ecosystem, due to the way react has set

[2022-02-03 18:10] htorohn commented on #3669
Has somebody find a solution or a workaround about this issue? I'm having the same issue and had to downgrade my node version on the server, but it is not the ideal solution.

[2022-02-03 20:34] #2701 closed, assigned to ruyadorno

[2022-02-03 20:34] #2800 closed, assigned to nobody

[2022-02-03 20:34] #3947 closed, assigned to nobody

[2022-02-03 20:34] #4185 closed, assigned to ruyadorno

[2022-02-03 20:34] #4344 closed, assigned to nobody

[2022-02-03 21:48] the-homeless-god commented on #3472
Same issue:

Mac OS
Node v16.3.0
NPM v8.1.0

[2022-02-03 22:02] DRigby26 commented on #4302
I am seeing a very similar issue as well, except with a private package. After logging in and using my two factor auth token while publishing, it'll error out but the package will still publish.
[code]
I tried running `npm adduser` as well but same issue.

[2022-02-03 22:20] nlf commented on #3637
ok, i think this pull request will fix the problem for real. https://github.com/npm/cli/pull/4371

it passes the test in your reproduction repo at least @bigtimebuddy, thank you for that! it was really helpful for tracking this down.

[2022-02-04 01:32] koflin commented on #4232
Same here:

- NPM: 8.4.1
- Node: 16.13.2
- OS: Windows 10

[2022-02-04 02:12] athrunsun commented on #2800
@ruyadorno Does this issue also address #2884 and #4197 so that `npm install` is able to resolve aliases? Or it just fixes `npm outdated` specifically?

[2022-02-04 02:14] vicary commented on #3669
@htorohn This is not about node, this is an npm design flaw. You may either downgrade, or switch away, from npm.

[2022-02-04 02:44] kamranayub commented on #3136
It was working for me with npm 6 and node 14, switched to npm 8 and node 16 and now it's not working. The `---` is working for me for now though. Super goofy regression.

[2022-02-04 02:48] charliegunn commented on #3359
Im on mac running big sur 11.6 and have this issue too. it will install without using the sudo command but it fails to completely install do to the lack of permissions. when using sudo it hangs

[2022-02-04 09:20] hsouna commented on #3472
Same Issue:

PopOS 19.10
Node v16.13.0
npm 8.1.0

[2022-02-04 09:27] johanneswuerbach commented on #3472
Please upvote 👍  the issue instead of a just commenting on it as a comment notifies everyone waiting for a resolution here and doesn't really add value. (Yes, everyone knows that it is broken across all versions right now.)

[2022-02-04 10:27] viceice opened #4373 "[BUG] columnify should be updated to ~1.6.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`columnify` < v1.6.0 depends on vulnerable packages, so  it shold be updated to latest release

https://www.npmjs.com/package/columnify

### Expected Behavior

Non-vulnerable package should be used

### Steps To

[2022-02-04 12:20] NiklasPor commented on #2453
This one is also stopping us from publishing with Node 16. We just switched to a Node 14 image for our publish pipeline step.

[2022-02-04 13:04] tangobravo commented on #2380
`npm i` replacing any links does appear to be the intended default behaviour. With `--save` you can update package.json so it will persist through npm install operations.
https://docs.npmjs.com/cli/v8/commands/npm-link#caveat

[2022-02-04 13:34] ssbarnea commented on #2380
As `package.json` is almost for sure tracked, this cannot reliably be used on CI as it is lightly that the pipeline will fail because a tracked file was modified (a common security measure for ensuring that what you test is what you track).

[2022-02-04 14:18] kernju commented on #4234
I also have the same issue, using nvm for Windows (Node 17.4.0, npm 8.3.1).

0 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
0 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
0 verbose cli   'install',
0 verbose cli   '-g',
0 verbose cli   '@angular/cli'
0 verbose cli ]
1 info using npm@8.3.1
2 info using node@v17.4.0
3 timing npm:load:whichnode Completed in 0

[2022-02-04 14:25] e1himself commented on #4104
@ljharb I'm confused with your comment. Please see the reproduction steps in the issue description. There is no dependency requiring React 17. It's a bug of npm being unable to properly resolve an intersection of two version requirements.

[2022-02-04 14:30] e1himself commented on #4104
But installing `react-dom` manually does solve the problem indeed :thinking:

[code]

[2022-02-04 14:51] theimpostor opened #4374 "[BUG] Installing dependency with node-gyp-build fails unless foreground-scripts is specified on Raspberry Pi"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

On Ubuntu focal on raspberry pi, installing `bufferutil` which has a node-gyp build step fails unless the [foreground-scripts](https://docs.npmjs.com/cli/v8/using-npm/config#foreground-scripts) option is used.

[2022-02-04 15:38] ljharb commented on #4104
@e1himself yes, i understand that npm is selecting react-dom 17, and that creates the incompatibility. But, in the react ecosystem, you *always, without exception* have to explicitly specify react-dom, even if npm were to fix this.

[2022-02-04 18:58] t1m0thyj commented on #2632
Should this issue be closed? Looks like it was fixed in npm@8.1.0 through arborist@4.0.1 -> bin-links@2.3.0

[2022-02-04 19:06] peterbe opened #4375 "[BUG] npm install --package-lock-only on optional dependencies causes package-lock.json to change"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have a `package.json` and a `package-lock.json`.
Inside the `package.json`, a certain package is in the `optionalDependencies`.
Everything works fine doing `npm install --include=optional` and that doesn't edi

[2022-02-05 04:02] kenneththerodgers commented on #4367
Node: v17.4.0
Npm : v8.3.1
OS: Windows 10 21H2 19044.1415
[code]

[2022-02-05 06:25] Hornwitser commented on #4287
I ran the steps to reproduce this in my dev environment (Arch Linux, npm v8.3.0, node v17.3.0) and the part 1 problem of npm breaking packages on `npm link` did not happen on my system. `npm test` from yeoman-test reported 217 passing tests.

I encountered the part 2 problem in my own package setup when `npm link package-a` followed by `npm link package-b` resulted in only package-b being linked w

[2022-02-05 10:00] MadLittleMods commented on #4340
I also ran into this with `nvm-windows@1.1.6`. After updating to `nvm-windows@1.1.9` and re-installing Node.js `17.4.0`, it seems to work 🎉

[2022-02-05 17:41] stszap commented on #3808
Looks like a duplicate https://github.com/npm/cli/issues/2846

[2022-02-05 18:26] fishcharlie commented on #4311
@ljharb It does not fail.

[2022-02-05 18:46] fishcharlie opened #4377 "[BUG] `npm audit fix --force` trying to update package to `undefined`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

No errors to occur when running `npm audit fix --force`.

### Steps To Reproduce

1. With the `package.json` file listed below & no `package-lock.json` file
2. Run `npm i`
3. Then

[2022-02-05 19:58] ljharb commented on #4311
Then that narrows it down to your 9 dev deps - you could probably binary search and narrow down which one is breaking?

[2022-02-05 20:01] fishcharlie commented on #4311
@ljharb Ok sure. Is that really the solution here tho? Why can't npm just improve the error message? I mean let's be real here, this error message is **awful**. I don't think it's a reasonable expectation to put the ownership on the developer here. What if there was more dev dependencies? Not every case will be as easy to figure out as this one.

This issue should be triaged and prioritized.

[2022-02-05 20:48] progval opened #4378 "[BUG] DNS resolution only uses the first address of registry.npmjs.org"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

NPM should try the other addresses returned by getaddrinfo

### Steps To Reproduce

Option 1 (slightly harder, but gives a clearer error):

1. Add these DNS resolvers: https://nat6

[2022-02-05 20:53] ljharb commented on #4311
No, of course not - but it would help npm fix the bug if it’s known what the problem is.

In other words, the error message can only be made better when the root cause is discovered, and you figuring out which dep is breaking it can lead to that.

[2022-02-05 21:16] fishcharlie commented on #4311
@ljharb I'm **guessing** it is [`nightmare`](https://www.npmjs.com/package/nightmare):

https://github.com/segmentio/nightmare/blob/b230e85375bb084007a54c6a1bf698d81b5f2feb/package.json#L24

There package.json has a dependency on:

[code]

[2022-02-05 22:06] ljharb commented on #4311
Separate from the error message, I’d expect `npm explain electron` to work, even if there’s no lockfile or node_modules. I've filed https://github.com/npm/rfcs/issues/523 for that.

[2022-02-06 01:51] iSuslov opened #4379 "[BUG] Can not install local package in a workspace. Local package name and version affects resolution."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Create a folder and run:
[code]

Every line completes without errors except last one. At the end you will get:
[code]

Local packages `b` and `c` were successfully added to the local package `a`. Adding package

[2022-02-06 01:52] iSuslov commented on #2035
I created separated issue https://github.com/npm/cli/issues/4379

[2022-02-06 04:07] ljharb commented on #4379
@iSuslov have you tried with v8.4.1? v8.1.2 and v8.1.4 are a lot of bugfixes out of date.

[2022-02-06 10:04] Joydeep-Kundu commented on #3472
same issue:
windows 10
node v16.13.2
npm 8.3.0

[2022-02-07 09:36] jonathaff commented on #2453
@radoslawgrochowski I followed @coroiu tip and it works for me, nexus 3.37, gitlab 14.6, node 16.13 and npm 8.1. Here is my setup:

~/.npmrc content, created after read this thread https://clavinjune.dev/en/blogs/npm-login-not-working/

[code]

Publish command
`npm publish --userconfig=~/.npmrc --registry=https://nexus.my.repo/repository/internal-npm-releases/`

[2022-02-07 14:09] robertpatrick opened #4382 "[BUG] npm audit fails with 404 error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Running `npm audit` fails with a 404 error

[code]

### Expected Behavior

I expect `npm audit` to work.

### Steps To Reproduce

1. Go to any existing project
2. Run `npm audit`
3. See error

### Environment

-

[2022-02-07 14:22] liaoliaots commented on #4341
same issue with npm@8.4.1 on windows10 21H2

[2022-02-07 15:07] wraithgar commented on #2632
Thanks @t1m0thyj

[2022-02-07 15:07] #2632 closed, assigned to nobody

[2022-02-07 16:48] bd82 opened #4383 "Question: multiple `npm install` processes in the same folder"
Hello.

I have a very strange scenario in which due to an automatic system that executes "npm install" auto-magically
for certain users, multiple "npm install" processes could be invoked at **the same time** under the **same folder**.
e.g: if the end user runs "npm install" while the automated system does it as well..

How bad is this? could it cause strange race conditions in which some of these

[2022-02-07 16:53] ljharb commented on #4383
That seems very bad, yes. Why would you want `npm install` to be run automatically (in an environment where it's also run manually)? Running that is something developers have to learn anyways, and should know for the ability to reinstall things as well.

[2022-02-07 17:56] nlf commented on #4383
yeah.. this isn't great. it means two processes will be fighting over things like rearranging the `node_modules` directory structure, and since we do atomic writes of the `package-lock.json` you're also guaranteeing that one of the processes changes to that file will be lost (whichever writes last will "win"). i would strongly advise not doing this.

[2022-02-07 17:56] #4383 closed, assigned to nobody

[2022-02-07 17:58] nlf commented on #4382
can you run it again like: `npm audit --loglevel=silly` and provide the output here? something else is failing along the way and i'm not quite sure what without more logs.

[2022-02-07 17:59] nlf commented on #4379
this should be resolved in the next release, see #4371

[2022-02-07 17:59] #4379 closed, assigned to nobody

[2022-02-07 18:00] bd82 commented on #4383
I did not define the scenario... 😿

However, the general case is of "low code" developers who don't want or know how to deal with `npm install` and/or the `package.json` file.

Except that in my opinion running `npm i` auto-magically is a bit of "leaky abstraction":
- What happens if the `npm i` fails?
- What happens if for some reason the user needs to `rm -rf node_modules`?
- What would the "low

[2022-02-07 18:03] nlf commented on #3637
closing. this fix will be out in our next release later this week

[2022-02-07 18:03] #3637 closed, assigned to nlf

[2022-02-07 18:11] abrain commented on #4305
Seems to be the same as #2610

[2022-02-07 18:24] robertpatrick commented on #4382
@nlf Not sure what happened but when I went to run the command again just now, it is working.  Didn't change anything so maybe there was a temporary issue with the registry endpoint?

[code]

[2022-02-07 18:32] ljharb commented on #4383
@bd82 imo the reality is that it's not practical to service these kind of users while *also* servicing developers. The best approach is to teach these users the skills they need.

[2022-02-07 18:33] martin770 commented on #2220
I updated my project from npm 6.14.13 (node.js 14.17.1) to npm 8.4.1 (node.js 16.13.2), and am also running into this issue. I have a 'prepack' script to run eslint and unit tests, and I have a 'postpack' script to move the packaged tarball into a different folder. After upgrading npm and running `npm pack`, my postpack script fails to move the .tgz file because it has not yet been created when th

[2022-02-07 19:45] darcyclarke commented on #2846
### Actions
- [ ] define/document roadmap & breaking changes (potentially in an RFC) to fixing git dependency integrity issues (ex. drop integrity in `v9`)

[2022-02-07 21:24] natcl commented on #2610
I have npm 8.4.1
I'm trying the workaround suggested by using auth:
[code]

But my package-lock.json file still seems to reference ssh:

[code]
And my build fails in Docker.
Am I missing something ?

Thanks !

[2022-02-07 21:24] natcl commented on #2610
Follow-up on the above, might have been a cache issue as after deleting node_modules it seems to work fine...

[2022-02-07 22:38] iSuslov commented on #4379
@[ljharb](https://github.com/ljharb) can confirm that in 8.4.1 the issue is fixed

[2022-02-08 00:58] Quazmoz commented on #3152
Has there been any progress on this issue?

[2022-02-08 01:00] ljharb commented on #3152
@Quazmoz it's fixed. try npm 8 latest, and if you're getting an error like the above, then it means your dependency graph is invalid, and the error message explains why.

[2022-02-08 03:50] yoyo837 commented on #3846
npm 8.1.2:

Maybe same here.

![image](https://user-images.githubusercontent.com/6134547/152914749-049f2b72-59a9-4a2a-b373-09baa00d3643.png)

[2022-02-08 04:12] yoyo837 commented on #3846
I solved it by adding
[code]

 in `@ydmap/web-tools/package.json`

[2022-02-08 10:59] saghul commented on #2846
So, will dropping the integrity field be the solution then?

Does it have a chance of hitting 8.x? I'm asking because that's what zNode LTS bundles and would thus be convenient.

Cheers!

[2022-02-08 13:15] zimtsui commented on #4095
This issue is closed because it is an expected behavior as @ArturDorochowicz said.

[2022-02-08 13:15] #4095 closed, assigned to nobody

[2022-02-08 13:40] e1himself commented on #4104
Thanks for your input @ljharb :+1:

Requiring `react-dom` explicitly does solve the problem for the reproduction steps I've provided in the issue description.

I will check if this trick will work for my actual production app and comment here later.

Thanks!

[2022-02-08 14:54] kczereczon opened #4385 "[BUG] After `npm install` in docker container GitHub npm packages are not building correctly, but on local it is ok."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

# Description of issue
Currently I'm working on EspoCRM extension. In one of step of building extension template I have to build EspoCRM core system. Package.json file of this framework contains couple of custom

[2022-02-08 14:56] lennym commented on #4366
I've been doing some work looking into tooling around processing the results of `npm audit --json` and run into the same (or at least part of the same) issue. In particular that `effects` is sometimes empty, even when the package in question is not a top-level dependency. Similarly `via` is incomplete.

This seems to be the case when a particular advisory is reported on a package which is depended

[2022-02-08 17:11] moha-akb commented on #2453
Same problem for me.
Tried most of solutions, and finally this worked for me:

(Not logged in globaly)
./.npmrc
[code]
run command:
`npm publish --regsitry=https://npm.pkg.github.com/ --userconfig=./.npmrc`

Note: for the most of the failed tries, `registry=...` was missing in `.npmrc`

[2022-02-08 19:25] wraithgar commented on #3174
fixed by #4387 (and docs update is in #4388)

[2022-02-08 19:25] #3174 closed, assigned to wraithgar

[2022-02-08 19:35] nlf commented on #3078
we shipped the latest `agentkeepalive` in `npm@8.3.1`

can any of you who were seeing this consistently give that a shot and see if it's any better?

follow up question, i'm assuming the answer is "no" due to the use of `agentkeepalive` in the stack traces i'm seeing here, but are any of you experiencing timeouts using a proxy?

[2022-02-08 20:09] winston0410 commented on #3847
+1 any workaround for this issue?

[2022-02-08 20:14] avpengage commented on #3078
Hi, I found this thread while trying to figure out why I was getting network timeout errors with NPM v7+.

I believe I'm seeing the same issues.  I can do npm install and everything works fine with npm v6.14.15.

Since then I've upgraded to npm 8.1.2 and I get timeout error during install.

I've just tried v8.4.1 and still getting timeout issues:

(I have no proxy configured.  I've tried with the

[2022-02-08 20:22] avpengage commented on #3078
Here's the log from a clean run (package-lock.json deleted):

`D:\src\tmp\another_rmap2\rmap-server [main ≡ +0 ~1 -1 !]> npm i
npm ERR! code 1
npm ERR! git dep preparation failed
npm ERR! command C:\Program Files\nodejs\node.exe C:\Program Files\nodejs\node_modules\npm\bin\npm-cli.js install --force --cache=C:\Users\antho\AppData\Local\npm-cache --prefer-offline=false --prefer-online=false --offli

[2022-02-08 21:14] wraithgar commented on #2902
This was fixed by https://github.com/npm/libnpmversion/pull/16

[2022-02-08 21:14] #2902 closed, assigned to nobody

[2022-02-08 21:27] nlf commented on #2546
this is fixed by https://github.com/npm/cli/pull/4372 which will be part of the next npm release, later this week.

[2022-02-08 21:27] #2546 closed, assigned to nobody

[2022-02-08 21:28] wraithgar commented on #2546
fixed by https://github.com/npm/cli/pull/4372

[2022-02-08 21:47] Osiris-Team opened #4390 "[BUG] npm install uses system-wide node installation instead of local one"
I was told to move this here. Previous issue: https://github.com/nodejs/help/issues/3731
### Version

17.4.0

### Platform

Windows x64

### Subsystem

_No response_

### What steps will reproduce the bug?

1. Download node installation from here: https://nodejs.org/download/release/latest-v17.x/
2. Unpack the zip/tar somewhere
3. Create a new empty folder and open a terminal in that folder
4. Ent

[2022-02-08 21:53] mvolfik opened #4391 "[BUG] Prepack isn't run when installing from git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

After steps to reproduce:

[code]

This means `.npmignore` is applied and I can also check that the `postinstall` script ran, but the `prepack` didn't run.

### Expected Behavior

After installing my library [sv

[2022-02-09 08:29] paulbrimicombe commented on #3902
We also have this issue. We publish our private packages to GitHub to make dev setup easier (no need to set up auth for both GitHub and some private NPM registry). We publish the transpiled code to a different branch in our repos and tag with the appropriate semver tag. We deliberately don't have a `prepare` script to prevent npm trying to install of the dev dependencies and repeat the transpilati

[2022-02-09 09:54] amitlvs commented on #3678
Installing packages (npm)...npm WARN deprecated source-map-resolve@0.6.0: See https://github.com/lydell/source-map-resolve#deprecated
npm ERR! Cannot read properties of null (reading 'pickAlgorithm')

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/amitthakur/.npm/_logs/2022-02-09T09_51_46_633Z-debug-0.log
✖ Package install failed, see above.
The Schematic workflow failed.

[2022-02-09 10:24] shubhambattoo commented on #4234
how to do that? to update npm you need npm.

[2022-02-09 12:21] kernju commented on #4234
I finally used the latest Node.js LTS, 16.3.2, and it worked.

[2022-02-09 12:25] cristiand391 commented on #4234
Yesterday node v16.14.0 (latest LTS) was released, and it includes npm v8.3.1 so there's no way to make npm update itself.
If you see this error when running latest LTS on windows, you might want to install previous LTS v16.13.2 👍🏼

[2022-02-09 12:56] gfieremans commented on #4234
Just ran in the same issue with node 16.14.0. You can download 8.3.2 [tgz file](https://registry.npmjs.org/npm/-/npm-8.3.2.tgz) and manually replace npm in your node_modules directory of the node version you have.

[2022-02-09 16:37] wraithgar commented on #4392
This module is not responsible for the output of an error, it throws the error itself which does contain the body.  A change like this would need to happen in the cli, which is responsible for the logging/output.

[2022-02-09 16:55] talsi commented on #3152
@Quazmoz @ljharb
actually this bug is not fixed and it's very easy to see it, just run
```npm i @angular-slider/ngx-slider@"^2.0.3" @angular/common@"^10.2.4"```
here's the output of the running it using the latest version (8,4,1)
![image](https://user-images.githubusercontent.com/5717665/153248656-86c28e25-8944-49e5-9903-ffbde2432428.png)
the dependency graph is OK.
during install npm choose the h

[2022-02-09 17:05] ljharb commented on #3152
@talsi it's not always going to be possible (in a P=NP sense) to pick the right version; it's not really a bug that sometimes you have to do it yourself and explicitly add a peer dep (all your peer deps should be explicitly added anyways).

It seems like your project already depends on v13.2.2 of `@angular/forms`, and npm (correctly) respects that and does not downgrade it (because that might brea

[2022-02-09 18:23] talsi commented on #3152
@ljharb
hi, my project is not dependent on anything. In fact, it's a fresh, completely empty project. No package-lock.json. No node_modules folder. No other dependencies in package.json. so npm choose to install an incompatible version of `@angular/forms`.

I can't control the  peer dependencies of 3rd party libs.

If the default settings in npm 7 is to install peer dependencies then it shoud work

[2022-02-09 18:23] sandstrom commented on #2028
Ability to install only dev-dependencies, or only production-dependencies, would be great.

What would be even better, is if we could make arbitrary groups in the package.json file, and only install one or several groups. A few group examples would be 'production', 'development', 'linting', 'continuous-integration', …

A good use-case for this is to have a linting group that's only installed durin

[2022-02-09 18:29] sandstrom commented on #1669
@ruyadorno How about making a change like this?

[code]

and in package-lock.json you'd have `"groups" : ["development", "production", "linting"]` instead of the current `"dev": true` flag.

That way, one could have arbitrary groups of dependencies, and you could easily resolve which ones to install during a given run, via e.g. `npm install only=production,linting` or `npm install only=development

[2022-02-09 18:58] ljharb commented on #1669
Using a "dependencies" name would utterly break every npm ecosystem tool that expects it to be a deps object.

[2022-02-09 19:00] ljharb commented on #3152
@talsi indeed, you can't. which is why in this case you'd need to add `@angular/forms` to your initial `npm install` command. It's not possible for it to work flawlessly; but this is still an improvement over npm 6's behavior.

[2022-02-09 21:15] orvn commented on #3847
This still seems to be an issue in `npm 8`, so I reverted to node `16.4.2`, which was the [last version to ship with](https://nodejs.org/dist/index.json) `npm 7.18`.

An alternative when installing a workspace as a dependency of another workspace is to just write the directory path into the `package.json` of the workspace that wants the dependency. This works with `npm 8`, but I opted to stay on t

[2022-02-09 22:09] dbjorge commented on #4232
Wanted to clarify that for some variations of this scenario, the results are even worse than "`npm install` doesn't update `package-lock.json`". Below is a repro case where the results are "`npm install` *does* update `package-lock.json`, such that a reviewer looking quickily over a diff would think that the override has taken effect, but actually it has only *partially* updated `package-lock.json

[2022-02-09 22:53] dbjorge commented on #4322
Probably a duplicate of #4232

[2022-02-09 23:16] jfirebaugh commented on #2971
Is it possible this is simply a duplicate of #2846?

[2022-02-10 00:07] dbjorge opened #4395 "[BUG] certain combinations of $ref overrides cause "ERR! Unable to resolve reference" from arborist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If a project has a dependency on `"@types/node": "^16.0.0"` and attempts to use an overrides entry for `"@types/node": "$@types/node"` to pin all references of `@types/node` to v16, and then also attempt to crea

[2022-02-10 01:10] melink14 commented on #4322
I didn't think it was a dupe of #4232 since that one was specifically about needing to delete package-lock.json to get any updates to happen. This issue was even if you do that, the updates are incomplete.

They could probably be merged if the other issue was updated to be more broad.

[2022-02-10 07:24] ctung opened #4396 "[BUG] npm ERR! code EINTEGRITY with Win-x64 msi but not Win-x86 msi"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm i -g @angular/cli generates lots of warnings about corrupted tarballs, and then fails with "npm ERR! code EINTEGRITY"

I've searched through all of the existing bugs about EINTGRITY and none of the solutions

[2022-02-10 08:50] ctung commented on #4396
I fixed my issue.  I used the 32bit version of Node instead of the 64 bit and all my corruption warnings and EINTEGRITY errors are gone!

[2022-02-10 09:10] sandstrom commented on #1669
@ljharb Yes, good point! This was mostly intended as a rough draft to illustrate the idea.

I agree with you that you wouldn't want to make this breaking.

What e.g. Ruby's Bundler did when they introduced dependency groups, was that the non-specified dependencies always belong to `default`, and you can then add additional groups on top of that.

A similar strategy could be used here, e.g. the `de

[2022-02-10 10:01] draperunner opened #4397 "[BUG] `npm update` fails when overriding dependency of local file with local file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

We are using some local files as dependencies that we put in a directory we call `vendor`. These dependencies are added to package.json with the `"file:"` prefix. In addition to this, we use `"overrides"` to ove

[2022-02-10 10:08] FStefanni opened #4398 "[BUG] Unexpected behavior with publish dry-run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Hi,

1. `npm publish --dry-run` calls the package.json script "prepublishOnly"
2. "prepublishOnly" executes a bash script: `./prepublish.sh`
3. `./prepublish.sh` does the following:
[code]
4. The `./prepublish.s

[2022-02-10 12:25] RIm-13 opened #4399 "Unable to install cypress. ERR"
Please tell me what is my mistake.

[2022-02-10T12_17_18_263Z-debug-0.log](https://github.com/npm/cli/files/8040879/2022-02-10T12_17_18_263Z-debug-0.log)
![image](https://user-images.githubusercontent.com/96780193/153408034-facf7a24-05eb-4711-ba4f-4f84055c7d30.png)
![image](https://user-images.githubusercontent.com/96780193/153408267-72b01cbd-cd5c-41d1-9a38-51502b80d24f.png)

[2022-02-10 15:49] wraithgar commented on #2971
If not a duplicate it's the same family of issues. I'll add this issue to the body of https://github.com/npm/rfcs/pull/525

[2022-02-10 16:16] mattijsf commented on #2971
I was having this problem on a intel Mac

[2022-02-10 16:51] aloisklink commented on #2971
**It looks like my example/problem was fixed in NPM v7.11.0**
[This comment](https://github.com/npm/cli/issues/2971#issuecomment-891422616) was from NPM v7.20.3 however, so I don't know if I should close this issue.

I was having this issue on x86_64 Intel & AMD Ubuntu devices.

(I've run these in a Docker container to ensure that you can reproduce these results)

### 7.10.0 Fails

[code]

### 7.1

[2022-02-10 18:24] ashishjain0512 opened #4401 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I am trying to publish a new release for my project. I have 2FA enabled on the package and on my npmjs account.

I am able to do npm login successfully (via authenticator OTP)

But when I do yarn publish I encou

[2022-02-10 20:50] lukekarrys commented on #4302
Thanks for the follow up @moficodes! I think I see what's happening now.

The run script you are using to publish is calling `npm publish` twice: `"publish": "npm publish --access public"`.  I do think this is a bug, as I don't know why this would be happening. I'll keep this open and try to come up with a reason and a fix for this.

For now I'd recommend removing that `publish` script from your `

[2022-02-10 21:33] RIm-13 commented on #4399
![image](https://user-images.githubusercontent.com/96780193/153500117-594b3fce-1328-4389-8f4f-2e97615510b2.png)
How to fix this error?

[2022-02-10 21:33] RIm-13 commented on #4399
Opening Cypress...
[13672:0211/001849.074334:ERROR:bus.cc(392)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory
[13672:0211/001849.077892:ERROR:bus.cc(392)] Failed to connect to the bus: Could not parse server address: Unknown address type (examples of valid types are "tcp" and on UNIX "unix")
[13672:0211/001849.078086:ERROR:bus.

[2022-02-10 22:19] tobalsgithub commented on #3359
This likely isn't everyone's issue, but I was struggling with any `npm install` after upgrading to npm 7 or npm 8, and found that my user `.npmrc` file had `ca = ""` in it. After removing that my installs sped back up to normal speeds.

[2022-02-10 22:30] nlf commented on #2220
this is fixed in npm@8.5.0, which was just published today. thanks for your patience on this one folks!

[2022-02-10 22:30] #2220 closed, assigned to nlf

[2022-02-10 22:31] nlf commented on #4401
do you get this error also when you run `npm publish`?

we don't support yarn, so if they're not handling a response from the npm registry correctly you'll need to open an issue on their end.

[2022-02-10 22:35] nlf commented on #4399
the output from `npm` here is only telling you that one of the scripts cypress (or one of its dependencies) runs at installation failed, all of the errors you're seeing are from cypress itself. unfortunately i think you need to open an issue on their repository and have them try to help you out.

[2022-02-10 22:35] #4399 closed, assigned to nobody

[2022-02-10 22:38] nlf commented on #4395
that's a fun one.. thanks for all the work you put into figuring out the reproduction case, that's super helpful!

[2022-02-10 22:44] nlf commented on #4340
the issue is in downloading a zip of this repository. since we've migrated some of our internal libraries to workspaces, those workspaces are in `node_modules` as symlinks, which windows seems to treat as plain files with the path they're meant to link to as the contents.

this isn't something we're going to change, it's very much up to your tooling to take care of it. sounds like `nvm-windows` ha

[2022-02-10 22:44] #4340 closed, assigned to nobody

[2022-02-10 22:59] nlf commented on #4330
we actually don't intentionally support exporting any environment variables other than ones we've defined ourselves, and the fact that even `lastname` is working is a bug. this is a pretty clever trick, but unfortunately it's one you'll have to deal with by making your script understand command line flags directly and run it like `npm run demo -- --lastname=Foo`

as an FYI, we intend to fix this b

[2022-02-10 22:59] #4330 closed, assigned to nobody

[2022-02-10 23:03] nlf commented on #4226
this is fixed in npm@8.5.0 with automatic workspace root detection

[2022-02-10 23:03] #4226 closed, assigned to nobody

[2022-02-10 23:04] nlf commented on #4182
see #417

unfortunately this type of error happens in limited resource environments, like android, fairly often. there's not much we can do with today's npm architecture to fix it.

[2022-02-10 23:04] #4182 closed, assigned to nobody

[2022-02-10 23:07] nlf commented on #4179
whoa. this one looks scary, but the root cause is using `/dev` as a normal directory that you have files in. the `/dev` directory is meant to contain device references, not actual files, and should not be used for general purpose file storage. you'll need to make a new directory, probably based in your `$HOME` and work out of that.

[2022-02-10 23:07] #4179 closed, assigned to nobody

[2022-02-10 23:18] nlf commented on #4138
not quite, a dependency is more than a single file that can be required. it's a directory with at least a `package.json` in it, the metadata contained in the `package.json` is critical to us building a proper dependency tree. it's very much a bug that we allow you to say a single javascript file is a package.

one alternative here i think may interest you is workspaces. here's a link to the docs:

[2022-02-10 23:18] #4138 closed, assigned to nobody

[2022-02-10 23:45] louis-bompart opened #4404 "[BUG] `npm adduser` fails in workspace."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Since 8.5.0, running `npm adduser` from a workspace fails with `ENOWORKSPACES`.

### Expected Behavior

Running `npm adduser` from a workspace should be as-if it was run from the top-level directory.

### Steps

[2022-02-11 00:30] AlmondBro commented on #2508
Confirming this is still broken for `8.1.2`. Trying above possible solutions.

[2022-02-11 00:35] ljharb commented on #2508
@JuanDavidLopez95 v8.5.0?

[2022-02-11 00:42] websolutions-hamburg commented on #3564
The issue is fixed. It works as expected with:
- Node: `16.13.2`
- npm: `8.1.2`

[2022-02-11 00:42] #3564 closed, assigned to darcyclarke

[2022-02-11 01:52] UziTech commented on #4234
Still happens with npm 8.4.1

https://github.com/UziTech/tonybrix/runs/5150397283?check_suite_focus=true

[2022-02-11 01:53] bkendall commented on #4323
I'm going to +1 this via comment as well for visibility: I just worked around this in part of our build process for `firebase-tools`; it caused our prebuilt binaries to bloat from 130MB to 800MB+ and had to work pretty hard to find a workaround (thankfully we found one).

[2022-02-11 03:02] wmzy commented on #3545
@ruyadorno I can still reproduce it:
![image](https://user-images.githubusercontent.com/5526525/153531360-6ed3a445-c595-4178-9022-19d3b6c01f80.png)

[2022-02-11 05:02] MadeleineCodes commented on #2508
I can confirm that it works with the following configuration when using NPM 8.1.2 and azure feed as repository:

[code]
Both on dev machines (mac, windows) as well as in azure pipelines (ubuntu latest images).

One of our mac users had to also add
[code]
Maybe that helps someone.

[2022-02-11 05:13] AlmondBro commented on #2508
Thank you @ljharb ! Had tried upgrading to v`8.5.0` (thank you for informing of this, minutes within this release I presume! 🙂), but the same error resulted at the time.

Thank you @MadeleineCode! The above pattern inside the npm config file worked for me to avoid the npm error!

So it seems as if the pattern to get configs working with npm versions > 6, we have to specify the `_password`, `userna

[2022-02-11 05:26] KrayzeeKev commented on #4138
@nlf  Thanks for that. Workspaces seem interesting as long as I can give them names that clearly indicate they are our stuff. And we're still faking them looking like modules. Which they will eventually be and then this problem mostly evaporates.

And it doesn't solve the very simple question: How do I require a file from the root of my project. Like "config.js" - Every file that needs that config

[2022-02-11 05:52] ljharb commented on #4138
Implicit requires of things go pretty strongly against ecosystem patterns; if every file needs the config, the typical recommendation would be that every file needs a `require` (or an argument).

[2022-02-11 05:59] syedbilal07 commented on #4340
Ok thank you.

[2022-02-11 06:08] KrayzeeKev commented on #4138
@ljharb Exactly. But there is no mechanism to do the require other than every file knowing exactly how many ../'s they are from the root. node_modules doesn't need that. You can require("axios") from anywhere. But I can't require("%PROJECT_ROOT%/config.js"). Which ends up meaning every function we write, other than some little utilities have to have a config parameter.
It's different to building m

[2022-02-11 06:13] ljharb commented on #4138
@KrayzeeKev yes, that's what node has solved by using the "exports" field, and self-reference. In other words, if your root has `{ "name": "root", "exports": "./config.js" }`, then everything in the sub-projects should be able to do `require('root')`.

[2022-02-11 08:43] bonesoul commented on #4234
i can also confirm that this still exists with 8.4.1.

[2022-02-11 09:01] 9point6 commented on #3902
+1

[2022-02-11 09:28] bonesoul commented on #4234
further pushed the discussion to node guys to here: https://github.com/nodejs/node/pull/41836

[2022-02-11 10:07] Pavel-Husakouski commented on #3847
Another similar issue with node 17.3 npm 8.3.2: `Cannot set properties of null (setting 'peer')`
The workaround is to delete the node_modules folder at the root package folder.

[2022-02-11 11:07] kombuchamp commented on #3707
Checked on npm version 8.3.1 (node v16.14.0) - `npm publish --ignore-scripts` still gets "prepare" script triggered.  Is this intended behaviour?
I see another issue where this problem was fixed
https://github.com/npm/cli/issues/2755
in this pr:
https://github.com/npm/cli/pull/3495/files

And this code is still in publish.js, which means that it it is probably a bug
https://github.com/npm/cli/blob

[2022-02-11 11:11] KrayzeeKev commented on #4138
@ljharb Is there a reference anywhere on how that works. The npm documentation says almost nothing. And every article on the web is about trying to export different things from modules in different environments. What is the syntax of exports? How does it work? I want to do this:
In routes/customer/site/user.js   I want to get to models/user.js, models/address.js, models/50otherthings.js
What do I

[2022-02-11 14:52] ljharb commented on #4138
It’s a node feature, so it’s in node’s documentation for the “exports” field.

[2022-02-11 16:24] Verc86 commented on #2508
I using:

`node@16.14.0`
`npm@8.3.1`

I using a Sonatype Nexus Repository with
- a npm-group to get packages
- a npm-private to publish packages

 I resolved E401 with this configuration on .npmrc:

`strict-ssl=false`
`email=xxxxxx@yyyy.com`
`always-auth=true`
`_auth=<token>`
`registry=https://myServer/nexus/repository/npm-group/`
`@myscope:registry=https://myServer/nexus/repository/npm-private/`

[2022-02-11 22:05] JeromeFitz commented on #4401
@ashishjain0512 A possible workaround is to manually update `yarn.lock` looking in your git history to:

[code]

Not ideal, however, has enabled me to proceed while I can spend time debugging like @nlf suggests. 💯

Full disclosure, I have not tested with `8.4.0` to determine when/where `yarn` diverted. (Possibly https://github.com/npm/cli/pull/4326 ?)

In happier news, this did cause me to upgrade

[2022-02-12 00:04] KrayzeeKev commented on #4138
@ljharb OK, I've worked out why this isn't making sense. It's not going to do anything even remotely what I want. I'm not exporting stuff from a module. This is not a name of a module. This is a program. Let's pretend there's no modules at all. Just one mono-repo filesystem.
I have (making this up but the idea is exactly what we do actually have, for better or worse):
./api/clients/system1API.js
.

[2022-02-12 00:05] ljharb commented on #4138
again, using the name of the root package - which has to also define "exports" - should do exactly what you want.

This repo isn't the place to discuss it tho; find me on Slack or IRC or Gitter and I'll be happy to walk you through it.

[2022-02-12 00:58] KrayzeeKev commented on #4138
@ljharb I'm pretty much about to give up. I've spent an age battling slack to try break out of the team I'm in and I think I've created a personal workspace. Because you have to be part of my team. But I have no way of contacting you.
I'm convinced exports can't work unless every piece of software we produce is called the same thing and every one of 500+ files we have is listed in exports. VERY ha

[2022-02-12 00:59] ljharb commented on #4138
@KrayzeeKev https://www.nodeslackers.com

[2022-02-12 02:15] ctung commented on #4396
If it helps anyone else, here's my system info
![image](https://user-images.githubusercontent.com/4929804/153692560-17411b62-9400-47eb-b34d-441986f783e7.png)

[2022-02-12 02:49] kasvith commented on #4219
I'm also having this issue

[2022-02-12 04:29] MylesBorins commented on #4234
Can anyone confirm if this is fixed in v8.5.0

[2022-02-12 06:29] lu882 commented on #2420
I failed both

[2022-02-12 06:33] Just-Moh-it commented on #2230
Please fix this, I had secretly exposed my full-access key online.

[2022-02-12 19:50] cristiand391 commented on #4234
@MylesBorins I wasn't able to reproduce this error using the official installers.

**node v17.5.0 / npm v8.4.1**
![Screenshot (3)](https://user-images.githubusercontent.com/6853656/153725802-9c817b4f-9f76-4d02-9202-6b84f916c221.png)
**node v16.14.0 / npm v8.3.1**
![Screenshot (4)](https://user-images.githubusercontent.com/6853656/153725803-15e82fd9-1e53-482c-a4e1-e3dc809dd6dd.png)

Some users repo

[2022-02-12 21:02] deanhiller opened #4406 "Need npx or npm wrapper bootstrap for not global npm like gradle wrapper"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

jump to expected behavior where I write the desired behavior

### Expected Behavior

npm, npx, node, tsc, various tools are amazing when you never install them 'globally'.  gradle has a bootstrap system that sim

[2022-02-12 22:21] bonesoul commented on #4234
well i do use nvm-windows and will update it to see if it's fixed.

[2022-02-12 22:48] KMKDataSolutionsLLC commented on #1816
Thanks for the help - I wasted 3 hours trying to find another solution - but this worked!

[2022-02-12 23:50] timothystewart6 commented on #4234
I am using the latest `nvm-windows`  and I cannot install any packages using node `16.14.0`  with npm `8.3.1` which was installed via `nvm-windows`

[code]

[2022-02-13 00:16] cam-narzt opened #4407 "[BUG] .npmrc doesn't seem to use authToken from env"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`~/.npmrc`:
[code]

bash shell:
[code]

If i write the token into `~/.npmrc` explicitly, then i can publish, but `npm whoami` still doesn't work. I also tried putting curly braces around `NPM_TOKEN` in `~/.npmrc

[2022-02-13 00:45] cristiand391 commented on #4234
@timothystewart6 what does `nvm version` returns? Can you try uninstalling nvm and use the official installer to see if the error shows up?

[2022-02-13 03:11] learningnewthings commented on #4234
Same as @timothystewart6 , even npm init returns npm ERR! Unexpected token '.'
@cristiand391 - this was with both nvm 1.1.7 and nvm 1.1.9

[2022-02-13 14:48] glen-84 commented on #4285
Is this the same reason why I have:

[code]

(_simplified_)

After running dedupe?

This is a big issue, since `graphql` fails to run when more than one version exists:

Is there any workaround?

[2022-02-13 22:37] HanabishiRecca commented on #4407
Use `${NPM_TOKEN}`.

[2022-02-14 00:16] JannickeN opened #4408 "[BUG] Published package autoinstalls optional peer dependency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have a package with react-redux as an optional peer dependency. When I run npm pack and install the package in another project, react-redux is not automatically installed. But when I install the published vers

[2022-02-14 06:21] syedbilal07 commented on #4234
Can someone confirm me if it is working with Node 17.5.0 and npm 8.5.0? Or the issue is still present?

[2022-02-14 08:06] Artur- opened #4409 "[BUG] Unable to resolve reference for another package when updating shrinkwrap"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When an existing shrinkwrap is installed
[code]

And you lock the version of a package not mentioned in the shrinkwrap
[code]

You can then no longer upgrade the shrinkwrap
[code]

[code]

### Expected Behavior

[2022-02-14 08:07] Artur- commented on #4409
Sounds a bit similar to #4395

[2022-02-14 08:11] Artur- commented on #4409
Debug log says
[code]

Looking at the code in question
[code]

reveals that `ref` refers to `@polymer/polymer` but `pkg` i.e. `this.from.root.package` refers to the shrinkwrap package.json, not the project package.json as expected

[2022-02-14 08:29] bonesoul commented on #4234
we need a clean install of nvm-windows and remove old version of already installed node. then it's all fine.

[2022-02-14 11:01] janpio commented on #4234
(Just leaving a comment that I ended up here as well via using `nvm-windows` to install the most recent Node ` 17.5.0` (32 bit) which comes with Npm `8.3.1`. Installing an older Node, in my case `16.13.0 32`, worked to unblock me.)

[2022-02-14 11:45] silverwind commented on #3810
I think https://github.com/npm/make-fetch-happen/issues/59 is the underlying root issue for intermittent ECONNRESET against proxies. I definitely see more than 50 (default of `maxsockets` option) connections being opened to the proxy and I think that flood simply overloads some proxies.

[2022-02-14 13:01] dgarciasarai commented on #3472
Same issue:
Windows 10
Node v16.13.0
npm 8.1.0

[2022-02-14 13:43] andrey-helldar commented on #4234
Node 16.14.0
Npm 8.3.1

Same error

[code]

And I can't update the npm...

[code]

[2022-02-14 16:40] DiracSpace commented on #4234
Same, I can't even update npm version.

[2022-02-14 16:42] andrey-helldar commented on #4234
My solution to the problem is to download version 16.13.2 and install it.

[2022-02-14 18:15] cam-narzt commented on #4407
@HanabishiRecca

[2022-02-14 18:40] HanabishiRecca commented on #4407
@cam-narzt, yeah.
Actually you also use wrong url. There should be `registry.npmjs.org`, not `com`.
https://docs.npmjs.com/cli/v8/commands/npm-token#registry

This example should work:
[code]

[2022-02-14 18:55] cam-narzt commented on #4407
thank you that did it!

[2022-02-14 18:55] #4407 closed, assigned to nobody

[2022-02-14 20:49] MatiasDuhalde commented on #4309
I have the same issue, when trying to install a package globally or locally. I am also running Arch Linux. The command eventually fails with ETIMEDOUT as follows:

[code]

The log suggests a problem trying to access `https://registry.npmjs.org/npm/-/npm-8.3.1.tgz`, but i have no problems accessing the URL from Firefox, or via `curl`. Also, I am not connected to a proxy, and I haven't changed npm's

[2022-02-14 22:08] fritzy commented on #4395
closing #4409 as a dupe, but it references a shrinkwrap case specifically. It'll be worth referencing for this bug, and reopening if it turns out to be an independent issue.

[2022-02-14 22:09] wraithgar commented on #2520
Those events went away in `npm7` because there is no specific `shrinkwrap` event anymore.   The cli command either renames the package-lock, or generates it and saves it with the shrinkwrap name.

[2022-02-14 22:09] #2520 closed, assigned to wraithgar

[2022-02-14 22:09] fritzy commented on #4409
Closing this as a duplicate for now for #4395, but this specifically calls out shrinkwraps. If it turns out to be a separate issue, we'll reopen.

[2022-02-14 22:09] #4409 closed, assigned to nobody

[2022-02-14 22:15] fritzy commented on #4408
This looks like a likely dupe to #2744. We'll refer to this ticket as well when we handle that issue.

[2022-02-14 22:15] #4408 closed, assigned to nobody

[2022-02-14 22:16] fritzy commented on #2744
We should look at #4408 when we pick this up.

[2022-02-14 22:20] fritzy commented on #4406
We'd love to hear more about this feature. Please bring it up in https://github.com/npm/feedback discussions, or create an RFC in https://github.com/npm/rfcs. We only deal with bugs in the cli/issues.

[2022-02-14 22:20] #4406 closed, assigned to nobody

[2022-02-14 22:26] fritzy commented on #4404
I wonder if this related to the new workspace detection. It's essentially running adduser with the `--workspace` config item.

[2022-02-14 22:39] fritzy commented on #4401
This appears to be a yarn issue.

[2022-02-14 22:39] #4401 closed, assigned to nobody

[2022-02-14 22:45] fritzy commented on #4398
May be related to #2687.

[2022-02-15 02:19] sirber commented on #4341
I tried 8.5.0 on another project, no issue so far...

[2022-02-15 03:14] trusktr commented on #4202
Added a reproduction to the OP.

[2022-02-15 03:17] trusktr commented on #4202
It seems that this is due to some behavior in newer `npm` that tries to re-build symlinked dependencies for some reason.

[2022-02-15 04:13] GitPopcorn commented on #3194
Got the same issue, have you solved it?

[2022-02-15 05:45] GitPopcorn opened #4411 "[BUG] npm does not play nicely with pnpm/yarn@2 populated package trees (link targets appear to not resolve correctly)"
In some specific enviroment the code [D:\Program Files\nodejs\node_modules\npm\node_modules\@npmcli\arborist\lib\node.js:718:35] will throw a null error when we call `npm ls -g` or `npm i -g` because some old dependency links in the node_modules can not be parsed and lost target they linked to.

In my case it's `C:\Users\QQ370\AppData\Roaming\npm\node_modules\babel-cli\node_modules\_babel-messages

[2022-02-15 05:47] GitPopcorn commented on #3194
Alright, I update some global dependencies (precisely, the babel-cli) and solve it.

[2022-02-15 07:09] JannickeN commented on #4408
Okay, in my case the tgz works as expected, though, and there is no error. And the published package creates the wrong tree, missing the peerDependenciesMeta section. But maybe it's related.

[2022-02-15 09:13] otto-liljalaakso-nt commented on #4341
On our project, trying to update to 8.5.0 gives exactly the same error as the original report gives for 8.4.0.
I do not think this issue has been fixed.

[2022-02-15 09:49] simllll opened #4412 "[BUG] 8.5 runs scripts (e.g. postinstall) from package root"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Since the latest release (8.5) when I run npm install in a monorepo, but not in the root, it installs all fine, but does run the scripts of the root package.json too.

### Expected Behavior

Should not execute t

[2022-02-15 11:56] AlttiRi opened #4413 "NPM startup time is 3 times slower than YARN"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have `1.js`:
[code]
Startup time of it with NPM is longer than running it with YARN 3-4 times.

---

Here is the repo: https://gist.github.com/AlttiRi/ba7fbabca1953cba012506010aff8ff9
`process-bench.js` is for

[2022-02-15 14:02] CodeTroopers opened #4414 "[BUG] code ERR_SOCKET_TIMEOUT with NPM 8.3.1 to NPM 8.5.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I use a private repository on Nexus, **my configuration works with NPM 8.3.0**
From a docker image node:lts, I run the command:
`npm ci --maxsockets=3`
This fails with NPM 8.3.1 to NPM 8.5.0 :
[code]
If I  rollb

[2022-02-15 14:07] CodeTroopers commented on #3078
@nlf

I have the error with NPM > 8.3.1
I open a new issue #4414

[2022-02-15 15:28] dgreif commented on #2520
@wraithgar Is there any new hook available to detect general changes to package-lock, regardless of how they happen (install, uninstall, update, etc)?  We used to use `postshrinkwrap` to kick off our license check, but have to do this in a custom `npm` script with npm@8.

[2022-02-15 15:37] sirber commented on #4341
with 8.5.0, it works on my main project. I use "npm ci" to clean and install my packages.

[code]

[2022-02-15 15:47] wraithgar commented on #2520
No, but we know there is a need for it.  It's currently an item in our [backlog](https://github.com/npm/statusboard/issues/399).

[2022-02-15 15:59] danielhjacobs commented on #4341
@sirber What version of npm are you starting with? As mentioned in https://github.com/npm/cli/issues/4341#issuecomment-1027231444, starting with a baseline of npm@7.5.4 or newer resolves the issue, but the issue still exists in version 8.5 from what I've seen in https://github.com/ruffle-rs/ruffle/runs/5199647826?check_suite_focus=true.

[2022-02-15 16:06] AviVahl commented on #4341
@sirber does it also work for you when executed via powershell/cmd? Native win32 path handling is usually something that breaks, and we wouldn't see that when running in an emulated posix-like env (where the Windows paths are exposed as posix ones).

Also, it breaks in CIs that have Node 12/14 preinstalled with npm@6. It might specific to people moving from npm6 -> npm8 on Windows.

The error mess

[2022-02-15 16:14] bnb commented on #4189
this feeels like less of a synopsis issue and more of a "there's no documentation for `npm create`" 👀

[2022-02-15 16:30] wraithgar commented on #4189
They're aliases.  `npm init` is the real command. If you run `npm create -h` you will see that the output is all `npm init` and it says that `create` is one of its aliases.

[2022-02-15 16:55] sirber commented on #4341
8.3.x: works
8.4.0 fails
8.5.0 works

[2022-02-15 16:58] sirber commented on #4341
I'm with git bash, on windows 10.

Here's with powershell:
[code]

[2022-02-15 17:01] bartgriffith commented on #4234
I had this issue with Node 16.14.0 and NPM 8.3.1.  But the real issue was with NVM.  I had NVM 1.1.7 but updated to the latest which is currently 1.1.9.  Then run   nvm uninstall 16.14.0  followed by   nvm install 16.14.0   and of course   nvm use 16.14.0.
After that all was well.
https://github.com/coreybutler/nvm-windows/releases/tag/1.1.9

[2022-02-15 17:06] bnb commented on #4189
that's true, but the docs site has no reference (about it being an alias) to `npm create`. this creates a weird situation where if someone were to recommend, I use `npm create` but I go try to figure out how to use it from the docs, I have no path to actually learning about it.

[2022-02-15 17:31] AviVahl commented on #4341
Just checked 8.5.0. Still failing with same error:
https://github.com/wixplosives/mocha-play/runs/5204402271?check_suite_focus=true

[2022-02-15 17:59] sirber commented on #4341
What if you completly remove "C:\npm\prefix\node_modules\" ?

[2022-02-15 18:07] nlf commented on #4341
To restate the things we know:

Updating npm globally in Windows using a command such as `npm install --global npm` when starting with an npm version below 7.5.4 is known to fail for some releases in the 7.x and 8.x ranges.

This bug has been fixed as of npm 7.5.4. We do not intend to back port a fix to npm 6 at this time.

nodejs ships npm@6 with node versions 12 and 14. this version is known to

[2022-02-15 18:09] #4341 closed, assigned to nobody

[2022-02-15 19:01] philipposslicher commented on #4225
Seeing the same behavior under v8.0.0.

[2022-02-15 22:03] kilotone commented on #4234
I had this issue(using npm install) after going from node 17.3.0 to 17.5.0 and upgrading npm accordingly, also upgrading nvm from 1.1.7 to 1.1.9.
I ended up loading the command prompt as administrator, uninstalling 17.5.0 with nvm, then reinstalling and the issue was resolved.

[2022-02-15 22:04] nlf commented on #4413
This seems to be a problem primarily for Windows.

I used [hyperfine](https://github.com/sharkdp/hyperfine) instead of your `process-bench.js` script, and I installed both `npm` and `yarn` local to my project. I created `test.js` with the contents `console.log(1)`.

In OSX, npm is within 10ms of yarn which feels perfectly reasonable.

In Windows, however, there's a difference of almost 260ms with

[2022-02-15 22:35] AlttiRi commented on #4413
`node`:
[code]

Local `npm`, `yarn`:

[code]

Global `npm`, `yarn`:
[code]

---

Results are the same as I showed above with `process-bench.js`.

Globally installed `npm` works much slower (x3 times in comparison with `yarn`).

Almost all users use globally installed `npm`, not local.

[2022-02-15 22:48] AlttiRi commented on #4413
Recheck on a Virtual Machine:
[code]

`npm` is slower x3.5 times, by 1123 ms.

---

Recheck №2 (after the damning windows auto update completed):
[code]
Anyway it is still slow.

[2022-02-15 22:48] nlf commented on #4413
Indeed using a global npm suffers an additional performance cost, that's very interesting! On my system yarn is within the margin of error for local vs global. On the other hand, npm is ~130ms slower when installed globally vs locally. That's something we should be able to address.

I did confirm that we require drastically more modules at startup than yarn, so that explains the discrepancy betwee

[2022-02-15 23:35] yamgarcia commented on #4234
I see that error running "npm i". The way I found around that is similar. I used nvm to install node v17 with npm v8 and then use nvs to switch to 16 and then run "npm i" again.

[2022-02-15 23:53] ybiquitous commented on #4341
@nlf Thanks for the detailed explanation. But I have a question.

Currently, the `windows-latest` image [includes `npm@8.1.2`](https://github.com/actions/virtual-environments/blob/win19/20220131.1/images/win/Windows2019-Readme.md#package-management). Even in this case, does `npm install -g npm` fail?

[2022-02-16 01:54] tushar1003 opened #4417 "Getting issues on running command npm install."
npm ERR! code 1
npm ERR! path C:\Windows\System32\material-components-web-codelabs\mdc-102\starter\node_modules\fibers
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node build.js || nodejs build.js
npm ERR! MSBUILD : error MSB1009: Project file does not exist.
npm ERR! Switch: build/binding.sln
npm ERR! gyp info it worked if it ends with ok
npm ERR! gyp info using n

[2022-02-16 01:55] tushar1003 commented on #4417
I have tried so many things like clearing cache and deleting package-lock.json and node modules but none of them worked out..

[2022-02-16 03:27] huypxgear commented on #3359
I have same issue on npm `8.4.1` ubuntu `14.04.2`
![image](https://user-images.githubusercontent.com/45187933/154190606-004ff04a-9f53-4cf7-a906-3409fc9fcbe2.png)

[2022-02-16 03:27] huypxgear commented on #3359
I have same issue on npm `8.4.1` ubuntu `14.04.2`

![image](https://user-images.githubusercontent.com/45187933/154190606-004ff04a-9f53-4cf7-a906-3409fc9fcbe2.png)

[2022-02-16 03:28] the-vampiire commented on #3078
i am getting this issue without using a custom registry. all regular NPM hosted packages.

no idea how to fix it and its frustrating. i have to run the build 10 times and hope one goes through.

tried all sorts of tricks:

- running the global update of npm
- adding custom config settings (just increased everything i could)

[code]

- removing proxy settings (i dont have any proxies running but ju

[2022-02-16 03:31] the-vampiire commented on #4219
@shakori999 im having the exact same problem. locally installs fine. crashes 9/10 times when building from docker. i see you closed the issue what was your resolution?

[2022-02-16 04:03] HYUNHONOH98 opened #4418 "[DOCS] <title> installing create-react-app takes too much time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

I was about to start learning about React js.

I tried to install create-react-app on my computer.

But it takes so much time, and makes bunch of errors.

I tried many recommendation on

[2022-02-16 05:33] dr-js opened #4419 "[BUG] unexpected overriding peer dependency happen on incremental install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Currently for incremental install, top level peer may get a `npm WARN ERESOLVE` log and resolve by overriding, masking the peer dependency error.

For example when incremental install
[code]
from
[code]
to
[code

[2022-02-16 08:11] #4418 closed, assigned to nobody

[2022-02-16 08:11] #4417 closed, assigned to nobody

[2022-02-16 08:54] Beace opened #4420 "[BUG] Why does the "npm publish" command manifest not contain the "unpackedSize" and "fileCount" fields in the npm client？"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

The npm registry  API  `PUT /xxx` body is

[code]

But the  `GET /:xxx` API  return this

[code]

### Expected Behavior

Sometimes I need to get the file size for some filtering and limiting behavior. I guess np

[2022-02-16 09:01] Linkgoron commented on #4341
There is a degradation here though, after `8.4`. With 8.3 I could install a package globally (which is not NPM) even when it had a dependency on `npm` - with version `8.4` I can't do that anymore.

[2022-02-16 10:00] DarthSonic opened #4421 "[BUG] npm ci and npm update produces different sort order of dependencies in package-lock.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

package-lock.json will look like:

      "devDependencies": {
        "mini-css-extract-plugin": "~1.6",
        "style-loader": "~3.3",
        "@babel/core": "~7.17",
        "postcss-loader": "~6.2",

[2022-02-16 10:05] DarthSonic commented on #4421
Okay. Sorry for that.

Was a "preinstall" script running after "npm ci". :-(

[2022-02-16 10:05] #4421 closed, assigned to nobody

[2022-02-16 10:26] vigneshp200 commented on #4234
I found that the core problem is that nvm (in Windows) is not installing new node version properly.
You can manual add the node files into to the nvm node directories: C:\Users\{username}\AppData\Roaming\nvm\.
Go to the directory clear the contents node version folder (e.g. v16.14.0) and try installing node using msi or exe into the same folder. This time your node will be installed properly.

[2022-02-16 10:58] gogbuehi commented on #4234
This worked for me. Manually creating an npm directory in my C:\Program Files\nodejs\node_modules\ directory resolved the issue.

[2022-02-16 13:34] sseide opened #4422 "[BUG] npm ignores package.json if package-lock.json or node_modules folder exists, dependency resolution terribly broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

"npm i" ignores the `package.json` file as soon as it finds either a `package-lock.json` file or a `node_modules/` folder

The simplified example below clearly demonstrates how current npm (tested with 8.5.0 but

[2022-02-16 13:36] sseide commented on #4422
This issue might be related to #3376, but it has definitly another much broader scope

[2022-02-16 15:27] ljharb commented on #4234
@vigneshp200 to be clear, nvm-windows is not the same thing as “nvm in windows”; they’re different projects.

[2022-02-16 15:28] ljharb commented on #4422
Why would you expect to manually modify the lockfile at all, and then have things be in a reasonable state? That file’s only for npm to modify.

[2022-02-16 15:29] ljharb commented on #4422
(separately; I’d try installing node properly, meaning, not from apt - just to rule out that’s what’s causing you problems)

[2022-02-16 16:07] Rushikeshkalhapure opened #4425 "npm install get sttuck"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm install gets stuck after some time on "idealTree:FE-SPECTATOR: sill idealTree buildDeps"

### Expected Behavior

npm install should install all packages

### Steps To Reproduce

1. OS: Windows -10
2. node -v

[2022-02-16 16:30] wraithgar commented on #4136
https://github.com/npm/cli/pull/4423

[2022-02-16 16:30] #4136 closed, assigned to nobody

[2022-02-16 17:01] husudosu commented on #3359
I have the same issue, so it seems there's no issue with my package, something  NPM/Node releated.

Tried to install my package, and takes 5-10  minutes or forever to finish installing ([My project has 8 dependencies right now](https://www.npmjs.com/package/mpv-remote/v/1.0.5)).
I've tried on Debian 10 and based on feedback from my users Windows has the same issue.
Node version: v16.13.0
NPM versi

[2022-02-16 18:52] kaysond commented on #4358
@blaumeise20 what version did you downgrade to?

[2022-02-16 19:17] #4391 closed, assigned to nobody

[2022-02-16 19:56] sseide commented on #4422
as i wrote clearly - there are dozends of ways why the `package.jso`n and the lock file might get out of sync - the example to modify it by hand was just to make this problem 100% reproducible and understandable.

And even deleting the lock file when its borked/out of sync to generate a complete new one does not work when there is an incomplete `node_modules/` folder!

And all npm 6.x can properly

[2022-02-16 22:08] fritzy commented on #4425
@Rushikeshkalhapure please provide more steps to reproduce.

[2022-02-16 22:15] fritzy commented on #4422
The package-lock is not supposed to be modified by users. The only way for the two files to be out of sync would be to modify the package.json, in which case, it would be evaluating different packages (or versions). Please re-open this issue if it can be reproduced without directly editing the package-lock or node_modules.

[2022-02-16 22:18] fritzy commented on #4420
**Closing:** this looks to be an issue with the registry which is outside the scope of this repo. For registry support please go to [npmjs.com/support](https://www.npmjs.com/support). If you believe this is a bug with the cli, please provide further clarifying details.

As for why the CLI doesn't calculate this, you can technically publish tarballs and other sources directly.

[2022-02-16 22:18] #4420 closed, assigned to nobody

[2022-02-16 22:32] fritzy commented on #4412
@simllll In 8.5, we autodetect the project root (--prefix), and set a --workspace config, if your cwd is in a workspace. Since `npm install` does not do workspace specific installs (they're global and hoisted by default), the postinstall script of a workspace will never be invoked, and the root one will.

We considered command behavior in the cwd of a workspace to be "undefined" before, and so thi

[2022-02-16 22:32] #4412 closed, assigned to nobody

[2022-02-16 22:34] fritzy commented on #4390
@Osiris-Team  Thanks for filing this! Since this is working as intended, can you please open an [RFC issue](https://github.com/npm/rfcs) with some details on how you could/would like to see this changed?

[2022-02-16 22:34] #4390 closed, assigned to nobody

[2022-02-16 22:43] ljharb commented on #4412
@fritzy hopefully `--prefix` isn't the only solution, since use of "prefix" breaks nvm; I thought you can also add an `.npmrc` file to that directory, and commit it, containing something (i forget what the name of the config key is tho).

[2022-02-16 22:44] fritzy commented on #4385
I noticed the package-lock.json is out of date. Can you run npm install manually in the docker image? What is indicating that these files are missing?

[2022-02-16 22:53] fritzy commented on #4377
I'm unable to reproduce the issue in npm v8.5.0. Does the same problem occur using the default registry and with the latest version of npm? Please re-open with your logs included if so.

[2022-02-16 22:53] #3358 closed, assigned to nobody

[2022-02-16 22:59] fritzy commented on #4374
I wonder if this is a memory issue. Currently, npm is fairly unbounded when it comes to memory and network usage. You could be running out of RAM. Can you monitor your memory usage and report back?

[2022-02-16 23:04] fritzy commented on #4378
@progval Thanks for filing this! Since this is working as intended, can you please open an [RFC issue](https://github.com/npm/rfcs) with some details on how you could/would like to see this changed?

We currently use node core behavior, and do not manage DNS resolution within the npm CLI.

[2022-02-16 23:04] #4378 closed, assigned to nobody

[2022-02-17 00:59] Osiris-Team commented on #4390
Sure thing even though is think this is more a bug than a new feature request.

[2022-02-17 02:58] fishcharlie commented on #4377
@fritzy Same issue. Please reopen.

The repo is also open source if you want to check it out: https://github.com/dynamoose/dynamoose/tree/main/docs. It's just the `docs` folder. I ran `npm install`, then `npm audit fix --force --registry=https://registry.npmjs.com`, and the error occurred.

[code]

[code]

[2022-02-17T02_55_36_444Z-debug-0.log](https://github.com/npm/cli/files/8085201/2022-02-17T0

[2022-02-17 03:38] Rushikeshkalhapure commented on #4425
@fritzy
I have cloned project repo and tried to install node modules. But it stuck and after some time failed with error

npm ERR! request to http://registry.npmjs.org/react-top-loading-bar failed, reason: Hostname/IP does not match certificate's altnames: Host: api-dev.stcplay.cloud. is not in the cert's altnames: DNS:*.execute-api.me-south-1.amazonaws.com

[2022-02-17 03:51] Rushikeshkalhapure commented on #4425
**Attaching log after failure.**

0 verbose cli [
0 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
0 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
0 verbose cli   'install'
0 verbose cli ]
1 info using npm@8.3.0
2 info using node@v17.3.1
3 timing npm:load:whichnode Completed in 0ms
4 timing config:load:defaults Completed in 1ms
5 timing config:load:file:C:\Pr

[2022-02-17 04:25] hanzlamateen commented on #3078
Getting same issue

[2022-02-17 09:16] sseide commented on #4422
@fritzy this is only an answer to point 3

But point 4 is ignored here  - when there is no `package-lock.json` at all "npm" creates a wrong new lock file when a `node_modules/` folder exists.

[2022-02-17 11:41] strowk opened #4429 "[BUG] npm install does nothing when output is redirected to file and loglevel is verbose"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm install esbuild --loglevel verbose 2>&1 | echo > test.log` in empty folder does nothing, no output in file, no package.json appeared, test.log file is empty
At the same time command `npm install esbuild --l

[2022-02-17 11:41] okirpane opened #4430 "[BUG] NPM doesn't allow me to 'npm i' on even slightly weak network connections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When I run `npm i` on my computer (Macbook Pro 2020) with a 5G internet connection that drops packages every now and then, the command hangs at larger packages.
Basically:
- I run `npm i`
- It downloads a few pa

[2022-02-17 13:29] Beace commented on #4247
I have the same problem. I used https://webhook.site/ to test npm hook, but nothing happened.

[2022-02-17 13:31] tejohnso opened #4431 "[BUG] package-lock file does not lock packages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have run `npm install` in a project with a package.json file indicating a dependency on A, being a git+ssh dependency with a `#semver` indicating minor and patch version number changes will match. package-lock

[2022-02-17 14:04] martin770 commented on #4067
I also have this problem. Last good npm version is 6.14.13, still broken in npm 8.5.0.

I have a dependency on a local package `"myPackage": "file:./myPackage-0.1.0.tgz"`, and my preinstall script is setup to completely remove any old versions of that package before installing:
`"preinstall": "rm -rf node_modules/myPackage && npm uninstall --no-save myPackage"`

In npm 6.14.13, this works correctl

[2022-02-17 14:06] martin770 commented on #2660
related issue https://github.com/npm/cli/issues/4067

[2022-02-17 14:06] cons0l3 commented on #3078
node 16.13.2, npm 8.4.1

when installing `@aws-amplify/cli` I inconsistently run into ERR_SOCKET_TIMEOUT as well. Tempering with npm config for fetch-retry-{max,min}timeout et al. did not help. removing a non existing procy config did also not help.

[2022-02-17 14:21] ohammami1 commented on #3078
a rather annoying issue, this is actually crashing my whole CI/CD Pipeline while I'm pretty sure I don't have much of a connectivity problem

[code]

npm is from docker node:lts, which should be the stable version

[2022-02-17 14:27] simonheavenvolvo commented on #3078
Encountered this problem today, in my case I can change to use `npm ci` which has worked. My condolences if that isn't suitable for what you need.

[2022-02-17 14:33] ljharb commented on #4431
It’s supposed to do this; you can run `npm ci` if you want to exactly match the lockfile.

[2022-02-17 15:10] Sour1985 opened #4432 "Yes"
https://make.supercell.com/en/creation/jester-colette-8

[2022-02-17 15:16] tejohnso commented on #4431
Thanks for the tip.

How is one supposed to glean that from [the documentation](https://docs.npmjs.com/cli/v8/configuring-npm/package-lock-json)?

Describe a single representation of a dependency tree such that teammates, deployments, and continuous integration are guaranteed to install exactly the same dependencies.

Given the passage above, it seems this behaviour is In fact, *contrary* to the d

[2022-02-17 16:20] #4432 closed

[2022-02-17 16:22] ljharb commented on #4431
You’re right that the docs should be improved; the reality is that if you want guarantees, you can only install from a registry (which is the best practice anyways; git is for dev, not for consumption)

[2022-02-17 16:25] cionz0 commented on #3472
Same issue.
macOS Big Sur 11.6.3
node v16.13.1
npm 8.5.0

Tried by:
- deleting package-lock.json
- deleting node_modules folder
- running ncu -u
- running npm update
- and finally running again npm install

It didn't solve the problem.

[2022-02-17 17:48] tejohnso commented on #4431
Yes, it seems like there's a lot of undocumented gotchas. And you seem to be aware of many :)

 Interesting. Now you're introducing another apparent documentation deficit. Or is this documented somewhere?

Again...where is this documented? [This](https://docs.npmjs.com/about-packages-and-modules) indicates that "Git URLs used for npm packages can be formatted in the following ways", with no mentio

[2022-02-17 18:23] ljharb commented on #4431
OK, so: a) things don't have to be documented to be true; b) npm doesn't document community conventions or longstanding best practices; c) git is keyed by sha, not semver version, and the `#1.2.3` syntax just fetches a tag - since git tags are mutable, git itself fails to provide guarantees there.

[2022-02-17 18:40] tejohnso commented on #4431
a) ok but I'm not disputing that and in some cases things are documented in an *untrue* way as in [this](https://github.com/npm/cli/issues/4431#issuecomment-1043058528) comment

b) ok so aside from the contrary documentation case, you're saying the everything else here is "community convention"? That seems hard to believe but I'll take your word for it. But I'll also second your previous statement

[2022-02-17 18:47] ljharb commented on #4431
I do agree that the lockfile should be pinning a specific sha. However, it's a fetch from a website - npm *always* has to fetch from it and install, and can't ever assume it's immutable, because not every git-based website will provide that guarantee.

[2022-02-17 19:36] manekinekko commented on #4320
Fix landed in [9275856](https://github.com/npm/cli/commit/9275856eb75e7c394a3c7617c2b495aba35ee2de).

[2022-02-17 20:10] manekinekko commented on #4189
Hey, I am trying to send a fix for this issue, but I am confused because I can see the synopsis being generated. Here is the one for `npm init`:
![image](https://user-images.githubusercontent.com/1699357/154562597-7285573f-25f6-44f2-be27-dd211e2ea5e1.png)

Has this issue been already fixed?

[2022-02-17 20:52] wraithgar commented on #4189
You'll notice that synopsis does not match the output of `npm init -h`.  It was manually generated.  The `-h` output in the cli is auto generated using the `usage` and `params` entries in each given command, and should also be the basis for the synopsis in each commands' md file

https://github.com/npm/cli/blob/latest/docs/content/commands/npm-init.md?plain=1#L7-L14

Notice how the configuration s

[2022-02-17 20:56] #4320 closed, assigned to nobody

[2022-02-17 21:11] manekinekko commented on #4189
Oh! I see. I think I get it. I will work on this and send a fix.

[2022-02-17 21:14] smashah commented on #4247
@BeAce I felt like i was being gaslit by the docs when I was trying to implement this. It's so hard to even look this up on google because it just returns results to other libs :D I've given up now.

[2022-02-17 21:59] dbouwman commented on #4404
I'm running into a similar issue with `npm whoami` failing with `ENOWORKSPACES` where as another repo that's using `8.1.2` works just fine.

[2022-02-17 22:39] fritzy commented on #4431
As pointed out, this is a documentation issue. We should improve the documentation for `package-lock`, `install`, and `ci`.

[2022-02-17 22:50] fritzy commented on #4404
@dbouwman yeah, I have a fix in the works that will cover the appropriate commands

[2022-02-18 00:31] boutell commented on #4165
So if you use `npm install -g ./local-folder`, you get a global symlink to your local folder, instead of an actual installation from it, including dependencies, like previous releases? That's a pretty big change.

[2022-02-18 00:57] wraithgar commented on #3123
PR that copies $INIT_CWD explanation from `npm run-script` to `using npm - scripts` here https://github.com/npm/cli/pull/4436

[2022-02-18 02:46] mshima opened #4437 "[BUG] workspaces dependencies should take precedence over root transitional dependencies when deduping at the root."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Converting an existing angular (peer dependency on rxjs@6||7) project with `rxjs@7` to monorepository and with concurrently (contains `rxjs@6` dependency) at root will make npm install `@angular/*` peer with `rx

[2022-02-18 06:19] sysmat opened #4438 "error code EPERM error syscall rename .node-gyp.DELETE @tootallnate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

- when `npm i`
- with error: `Error: EPERM: operation not permitted`
[code]
- getting error:
[code]

### Expected Behavior

- to install packages

### Steps To Reproduce
- clean install of node & npm
- all the t

[2022-02-18 06:40] sysmat commented on #4438
- when `npm install -g npm`
- error:
[code]

[2022-02-18 07:03] sysmat commented on #4438
- even when running `npm i` as administrator I get the same error:
[code]

[2022-02-18 08:29] manekinekko commented on #4165
FWIW a fix for the docs has already landed in #4428.

[2022-02-18 09:11] jakobsa commented on #4422
Did I get that right, `package-lock.json` is generated from the contents of /node_modules without regard to `package.json`? @fritzy can you confirm this?

[2022-02-18 11:11] manekinekko commented on #4189
@wraithgar are you ok with me updating all `lib/commands/*.js` file to include the `alias` and `options` entry so they can be printed into the `docs/commands/*.md` files?

I'd like to validate this change before going over all 66 files. Here is a preview of the change I need to make to each commands files:

![image](https://user-images.githubusercontent.com/1699357/154671796-59622463-5f87-4c17-a4e

[2022-02-18 15:43] moonstorm86 commented on #4438
I'm having the same issue with an older version of node (v8.11.4) and npm (v5.6.0) also with windows and running from root/Admin.

[2022-02-18 17:17] jvlch opened #4440 "[BUG] All npm commands are being sent to background after switching to node v16.x"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Only on node versions 16.x (not a problem with 14.x and lower)
Tested on fnm and nvm installations of node v16.14.0 (odd behavior) vs v14.16.1 (working as expected)

All npm commands are being sent to some backg

[2022-02-18 18:17] wraithgar commented on #4189
@manekinekko I don't think you need to edit the js files.  It's supposed to work the other way around.  The content in the .md files is out of date and the `.js` files are the ones that we've already gone through and made say what we want, a lot of unneeded context was removed and/or moved to other parts of the `.md`.  The `.js` files should drive the `.md` content.

Aliases for any given cmd name

[2022-02-18 18:18] wraithgar commented on #4189
See here how the "run without positional args" part of the old synopsis is already duplicated elsewhere in the description of `npm exec` https://docs.npmjs.com/cli/v7/commands/npm-exec#description

[2022-02-18 18:25] wraithgar commented on #4438
https://github.com/npm/cli/issues/4341#issuecomment-1040608101

[2022-02-18 18:25] #4438 closed, assigned to nobody

[2022-02-18 20:08] jablko opened #4441 "[BUG] Hoists dependant without peer dependency: conflicting binaries"
I've got two problems installing npm package `xo` with npm < 8. The first is with npm 6, the second is with the deployed workaround and npm 7. Both appear to be fixed in npm 8, so I'm not sure which, if either, to report?

The first problem is that npm 6 hoists a dependant without a peer dependency. It's [described here](https://github.com/xojs/xo/issues/555#issuecomment-935062115) and can be repr

[2022-02-18 20:20] manekinekko commented on #4189
Fantastic! Thanks for pointing this out. I will take care of this then :)

[2022-02-19 06:52] martinburger commented on #4348
FYI: This issue might be related to #3078.

[2022-02-19 08:10] mabramishvili opened #4442 "[BUG] peerDependency package version doesn't resolve correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Let's take a simple `package.json`

[code]

`react-scripts` and `worker-loader` both have webpack listed in their dependencies or peerDependencies

`worker-loader` has it listed as

[code]

`react-scripts:`

[co

[2022-02-19 13:43] simllll opened #4443 "[BUG] port, username and password are lost from npm registry url during "reify" stage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I've set up a custom npm registry with verdaccio. This registry is besides some firewall rules, only accessable with a http basic auth. Therefore my repository urls look like:
http://user:pwd@somehost:someport/

[2022-02-19 14:10] martinburger commented on #3078
@cons0l3

I have been trying to install that package, too. So far without any success. Has anybody found any workaround to install the Amplify CLI package?

[2022-02-19 15:03] simllll commented on #4412
Alriht, I see.. what's the explanation for running the postinstalls but not doing the installs of the modules? I don't get this feature, in our setup with several different monorepos with 20 to over 100 packages each, this only causes troubles instead of solving something? What's the idea behind this, is there anything I can read upon to get the full picture?
Thanks Simon

[2022-02-19 16:05] the-vampiire commented on #3078
i have no reasonable solution. the workaround i have had to use (which is ridiculous tbh, but i cant have 90% random failed builds):

1. `npm install` on the host
2. `COPY node_modules node_modules` (in place of the `RUN npm install` directive)
3. continue

i am having this issue across both macOS / docker desktop and ubuntu. i clearly do not have any connection issues because i am able to install

[2022-02-19 17:37] simllll opened #4444 "[BUG] npm unpublish shows invalid or wrong error messages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I'm trying to unpublish old versions of private packages (old, temporary version of it that we only used for CI), and experienced some weird things regarding npm unpublish:
1.) if I'm not authenticated, it just

[2022-02-19 17:58] CodeTroopers commented on #3078
@the-vampiire could you confirm that it works with npm 8.3.O and fails with NPM >=8.3.1 like described in my issue #4414

[2022-02-19 19:18] ohammami1 commented on #3078
that's basically the solution I implemented on my CI/CD pipeline, since .npmrc timeout option does not solve the issue I just made sure to persist the node_modules and $HOME/.npm directories as a workaround, still I'm not very sure if this solution won't break in the future.
This is more of a hack since I can't mount volumes in dockerfiles, and can't call the whole build thing(ng build) from an en

[2022-02-20 04:12] the-vampiire commented on #3078
every where else i reported this issue told me i was crazy and dismissed it. it sucks but at least reassuring im not crazy lol.

out of curiosity would yarn fix this? it reports as a network issue but clearly it isnt given that the host can get the data without issue. ive never yarn but if it resolves the issue it may be time to start.

[2022-02-20 05:49] OmgImAlexis commented on #3843
This is a bug.

Having the same issue myself with the package `tsconfig.json`.

In node 14 with npm 6 this works fine. `npx tsconfig.json` runs the node file.
In node 17 this is not the case. Instead I see a open file diaglog appear asking me to choose the correct application.

[2022-02-20 05:54] OmgImAlexis opened #4445 "[BUG] npx opening the select menu instead instead of executing it."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

In node 17 npx causes this dialog to open after running `npx tsconfig.json`. In node 14 this wasn't an issue.

![image](https://user-images.githubusercontent.com/6525926/154830418-2e0a0513-a3e0-49e1-a692-43c10d5

[2022-02-20 09:01] martinburger commented on #3078
FYI: I installed the Node packages on macOS using Homebrew.

With both Node `v17.5.0` / `v16.14.0` and NPM `8.4.1` / `8.3.1` I get that `ERR_SOCKET_TIMEOUT`.

With `v14.19.0` and `6.14.16` I've been able to install `@aws-amplify/cli` aside from some `npm WARN`ings:

[code]

[2022-02-20 09:47] hexnickk opened #4447 "[BUG] Lockfile dependency injection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

This is a follow-up to these articles:
- [Why npm lockfiles can be a security blindspot for injecting malicious modules](https://snyk.io/blog/why-npm-lockfiles-can-be-a-security-blindspot-for-injecting-malicious

[2022-02-20 11:50] blaumeise20 commented on #4358
I am now using a pretty recent version from before adding this feature (restriction). I think it's v7.15, I don't have access to my home PC right now.

[2022-02-20 15:34] bolshoytoster opened #4448 "[BUG] Windows Arborist Crash on rollbackMoveBackRetiredUnchanged"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm install` can crash when `realFolders.get(retireFolder)` returns `undefined` in the following code:

https://github.com/npm/cli/blob/dd63e21a0e192f5a7e797d6c89595fd09dbfd7b9/workspaces/arborist/lib/arborist/

[2022-02-20 16:31] the-vampiire commented on #3078
@martinburger @CodeTroopers confirmed still failing on `8.3.0`:

## regular npm install

[code]

[code]

## downgrade to 8.3.0

[code]

[code]

[2022-02-21 04:47] DenyVeyten commented on #3230
Looks the same/similar to my case, where with `npm ci` on Windows npm@7 runs fine (after updating package-lock.json with npm@7), while with Bitbucket Pipelines that are using Node.js 14.15.5 (npm@6) `npm ci` errors with `npm ERR! fsevents not accessible from sane` (where `sane` is deps of `jest-haste-map`).

Update to Node.js 16 within Bitbucket Pipelines resolved the issue, but still, it's probab

[2022-02-21 06:18] Beace commented on #4247
@smashah Are you a paying user? I read NPM's blog. It says if you have a paid individual or organizational NPM account, you can start using hooks right now.  See  https://blog.npmjs.org/post/145260155635/introducing-hooks-get-notifications-of-npm.html. I want to try to pay and see if it works.

[2022-02-21 07:43] daKmoR commented on #2395
I'm on npm v8.5.1 and this seems to be back?

e.g. `npm init @scope` is not using the latest version
with that, the main benefit of `npm init` it's simplicity is gone 😭

now I finally get why many docs pages are using `npx @scope/create@latest` instead of `npm init @scope`

[2022-02-21 07:56] CodeTroopers commented on #3078
@the-vampiire your errors are not due to socket timeout. Try to clean your cache before perform a clean install

[2022-02-21 09:23] smashah commented on #4247
My original post explores this possiblity. If that was the case then it should've been mentioned as an error message when setting the hook. In the blog it implies that it will be available to everyone later on and that blog was posted in 2016.

If it was a problem of paying for it then the least someone at npm could do would be to reply to us confirming that.

So I'm not going to try it, if you do

[2022-02-21 09:46] remcohaszing commented on #2632
I just ran into this issue trying to move [appsemble](https://gitlab.com/appsemble/appsemble) to npm using npm 8.5.1.

[code]

[2022-02-21 12:13] HomyeeKing opened #4449 "[BUG] npm update --save not update the `package.json`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm update foo --save

the foo semver in `package` is not updated

### Expected Behavior

update semver to the latest version

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...

[2022-02-21 13:31] the-vampiire commented on #3078
Oh boy I’m a clown. Tried to slap a PoC together quickly before leaving yesterday morning and grabbed the wrong package.json. Saw ERR and copied logs to leave 🤦‍♂️

For sure it's a socket timeout. I've got about 50 searches in my history lol. I'll fix asap and get the proper PoC in

[2022-02-21 13:55] liambowers commented on #2818
I've just come across this issue and what solved it in my case was switching node (using nvm) from v14.15.1 to v14.17.0.

[2022-02-21 15:02] ghost commented on #2453
This is still an issue with node v16.14.0 and npm v8.3.1. Worked fine with node 14.x and npm 5.x.

[2022-02-21 15:06] daniel-moya commented on #3795
It worked for me as well, thanks @axkibe 👍🏽

[2022-02-21 15:35] ljharb commented on #4449
Can you try npm v8.5.1?

[2022-02-21 15:36] ljharb commented on #2453
@budgecode what about npm v8.5.1?

[2022-02-21 16:15] radoslawgrochowski commented on #2453
Thanks, first solution that works for me :)

[2022-02-21 16:52] simllll commented on #3078
If it's not the docker setup, what can cause this? It's happening on our side too, but only during a docker build step. We are using Buildkit, but there were no issues before. We also have no issues with other installations steps (e.g. apk or apt-get). Any ideas what could be the reason? I tried to narrow it down, but I'm out of ideas (keepalive, maxsockets and timeout settings dont change anythin

[2022-02-21 17:01] the-vampiire commented on #3078
@CodeTroopers  so this is strange. maybe it was fixed or im just having good luck this morning. unable to reproduce now??

ran 5 builds with `--no-cache` and without the downgrade to 8.3 and they all went smooth. although notably they took a **really long time** (1.5-2 mins to build, normally around 30s)

even threw in the `@aws-amplify/cli` @martinburger was stuck on

[code]

[code]

[code]

[cod

[2022-02-21 17:13] the-vampiire commented on #3078
moved it over to my linux server to test it out there

- uname: `Linux coffin 5.13.0-28-generic #31~20.04.1-Ubuntu SMP Wed Jan 19 14:08:10 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
- docker (native): `Docker version 20.10.12, build e91ed57`

exact same files, same net connection, but this was **was able to reproduce**:

[code]

[code]

[2022-02-21 17:30] the-vampiire commented on #3078
@martinburger @CodeTroopers [here is a repo i made to reproduce](https://github.com/the-vampiire/npm-cli-socket-bug). it has a script `build-test.sh`

it will run each build 20 times (starting with no downgrade to 8.3) and exit on the first error.

you can switch the order to try the downgrade tests first.

[code]

[2022-02-21 18:55] Eomm commented on #4056
Since the project I was working on run `lerna` successfully, does it mean that if a user wants to use `npm workspaces`, the user must be aware that it may need to update your dependencies as well?

[2022-02-21 18:58] the-vampiire commented on #3078
@CodeTroopers @martinburger update on linux machine running the build-test script:

[code]

[code]

[2022-02-21 19:07] Cloud7050 commented on #3877
Can confirm for `eslint` (`8.9.0`) on `npm@8.5.1`

[2022-02-21 20:33] simllll commented on #3078
I tried to find the root of this, and stumpled upon make-fetch-happen and minipass-fetch .. Well, and there is an issue that sounds very much like ours: https://github.com/npm/make-fetch-happen/pull/100 I guess the freeSocketTimeout fixes some cases, but not all of them.

I wanted to play around by using npm > 8.3 and using an older make-fetch-happen version, but I'm still unable to reproduce this

[2022-02-21 20:43] simllll commented on #4443
maybe related https://github.com/npm/cli/issues/3284

[2022-02-21 20:44] Hossy opened #4451 "[BUG] Using npm run-script to call npm install or npm ci in ephemeral environment fails with EACCES"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

In our build environment, we use docker to perform specific build steps without needing to manage an endless amount of tools on our build agents.  The build agents and the steps they execute do not run as root.

[2022-02-21 21:07] the-vampiire commented on #3078
@simllll yes reproducing on macOS and linux. On mobile now can't copy from my previous comments but here are screenshots with host and Docker details

Confirmed with the repo I linked above that downgrading to 8.3 consistently (20 no cache builds without error) fixed it.

![image](https://user-images.githubusercontent.com/25523682/155026310-af561f56-2c02-4ccc-ae9a-1de2f9424fe4.jpeg)

![image](http

[2022-02-21 21:15] the-vampiire commented on #3078
@simllll yes reproducing on macOS and linux. Exact same Docker version / build.

Confirmed with the repo I linked above that downgrading to 8.3 consistently (20 no cache builds without error) fixed it.

[2022-02-21 21:31] simllll commented on #3078
And can you also reproduce it with latest npm 8.5.1? Just asking because in this version the freesocketimeout has been explicitly set to 15seconds again, which was the case in earlier versions (default value of agentkeepalive). see https://github.com/npm/make-fetch-happen/pull/100#issuecomment-1040529776

[2022-02-22 00:16] the-vampiire commented on #3078
@simllll confirmed to resolve!

- downgrade to 8.3.0
- upgrade to 8.5.1

[code]

[2022-02-22 02:51] HomyeeKing commented on #4449
BTW, I'm on node v17.4.0, can't upgrade to the latest npm via `nvm`, is 17.4.0 not support latest npm or is a bug?

[2022-02-22 02:57] ljharb commented on #4449
@HomyeeKing you should be able to. `npm install -g npm`, or `nvm install-latest-npm`, should do it.

[2022-02-22 03:17] HomyeeKing commented on #4449
![image](https://user-images.githubusercontent.com/49113249/155056770-00caf878-7e3e-4df7-b591-a6b7e3baaa22.png)

neither works

[2022-02-22 03:23] ljharb commented on #4449
@HomyeeKing that might be a different issue. If you're using a registry that's not the public one, it may not have any version later than v8.3.1. What does `npm show npm` print out about the version number?

[2022-02-22 04:48] HomyeeKing commented on #4449
- the `nvm` install latest npm issue is because I have a prefix settings
-  `npm update` still not working in npm@latest, also npm update always sucks in my mind

[2022-02-22 06:30] martinburger commented on #3078
I just run:

[code]

Well, installation worked liked a charm _after_ upgrading NPM to version 8.5.1.

[2022-02-22 07:39] simllll commented on #3078
Thanks @the-vampiire, at least this seems to revert your issue. The strange thing is, it doesn't for me :-/

**Update:**
1.) as this is a serious issue for us, I was trying to debug it further. What I did now: I use verdaccio as a proxy in between, and disabled keep alive on the proxy side. This actually seems to solve my issue (y) - I consider this still as a workaround, can't be the real solutio

[2022-02-22 13:59] PLsap opened #4453 "[BUG] npm ci changes node_modules in an unexpected way"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [x] I am using the latest npm

### Current Behavior

The node_modules is unexpectedly changed when performing following steps:

[code]

The second cmd creates a new package-lock.json with 26 packages:
+ @sap/hdi-deploy@4.2.3
added 26 packages from 70 contributors

[2022-02-22 14:35] the-vampiire commented on #3078
@simllll what a bummer man. Not sure why it isn't working for you. I can confirm success on both macOS (Docker desktop) and linux after upgrading to 8.5.1

[code]

Great find on that fetch lib. I also find it strange they aren't using node-fetch.

If there's anything else I can do to help with testing let me know man. You saved my ass, I'd like to save yours!

[2022-02-22 15:54] argenstijn commented on #3985
Can this be fixed asap. Should work.

[2022-02-22 15:56] ljharb commented on #4453
npm 6 isn’t receiving bugfixes any more afaik.

[2022-02-22 15:59] alex-enchi opened #4454 "[BUG] run npm update --save results in error if dependency is defined with `file:`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

We have one of the local dependencies defined with `file:../dependency` Run of `npm update --save` results in

[code]
and `package.json` is not updated

### Expected Behavior

`update` should skip `file:../` dep

[2022-02-22 16:03] scottschreckengaust opened #4455 "[BUG] npm audit can cause ENOTEMPTY error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

During `npm audit fix`, affected `./node_modules/PACKAGENAME/*` directories are not emptied, and returns with:
[code]

Each time this is due to items left in the PACKAGENAME folder (I have not seen files only di

[2022-02-22 17:35] kokushkin opened #4456 "How to change lockfileVersion properly ?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

Moving form lockfileVersion 2 to 3. Couldn't find any explanation of how to do it properly. Of course it can be changed in package-lock.json  + npm i  and it seems like it's working. Bu

[2022-02-22 19:02] NewEraCracker commented on #2610
https://github.com/npm/cli/issues/2610#issuecomment-914610832

Hello,

I would like to point out that **removing `package-lock.json` is a terrible idea** as, without this file, npm will install the latest versions of dependencies that match the semver ranges in your package.json and your dependencies package.json thereby leading to unexpected package updates!

Although hackish, to my knowledge the

[2022-02-22 19:09] fritzy commented on #4456
@kokushkin to answer your question, the intention is that users do not touch package-lock.json. We do a have a config option for `--lockfile-version` that you can also set in your .npmrc. I'll make sure to update the documents for package-lock to reference this option.

[2022-02-22 20:17] kokushkin commented on #4456
yeah, thanks a lot! I see it now here [lockfileVersion](https://docs.npmjs.com/cli/v8/using-npm/config#lockfile-version) . Couldn't find it before, probably because of the different naming conventions; "lockfile-version" in .npmrc  vs "lockfileVersion" in package-lock , but it seems ok to me now)

[2022-02-22 20:17] t1m0thyj commented on #4425
@Rushikeshkalhapure This may be an issue related to your proxy rather than a bug in npm. Can you try running `npm config set strict-ssl false` and see if that allows you to bypass the cert-related issue?

[2022-02-22 20:17] #4456 closed, assigned to nobody

[2022-02-22 20:41] fritzy commented on #4455
@scottschreckengaust Please supply full steps to reproduce. Is there a particular set of packages that I could add to a freshly init'd project that would cause this problem?

[2022-02-22 20:43] wraithgar commented on #3427
I can't duplicate this issue anymore, in any of the versions mentioned.

[code]

Same results if I got from `#v13.13.2` to `@v13.13.0` (successfully downgrades) and from `#v13.13.1` to `v13.13.0` (successfully downgrades)

[2022-02-22 20:43] #3427 closed, assigned to wraithgar

[2022-02-22 20:43] wraithgar commented on #4278
This appears to be fixed now, see comments https://github.com/npm/cli/issues/3427#issuecomment-1048195424

[2022-02-22 20:43] #4278 closed, assigned to nobody

[2022-02-22 20:44] scottschreckengaust commented on #4455
Use something like `npm install -g @aws-amplify/cli` with a `npm fix audit` message.

[2022-02-22 20:54] #3123 closed, assigned to wraithgar

[2022-02-22 20:54] #3821 closed, assigned to wraithgar

[2022-02-22 21:22] NitinIsFit opened #4458 "errors"
[code]

[code]

[2022-02-22 21:43] #4458 closed, assigned to nobody

[2022-02-22 22:50] ruyadorno commented on #2784
hi @Greg-Smulko thank you so much for taking the time to report this issue and the great description!

I'm trying to reproduce the problem described here and it jumped to my attention that what you stated as "Expected behavior":

is not in fact how it works, as much more thoroughly explained by @nlf in his comment:

continuing from @nlf's findings, I created a couple of minimalist test scenarios t

[2022-02-22 22:50] #2784 closed, assigned to ruyadorno

[2022-02-23 04:11] Rushikeshkalhapure commented on #4425
Tried with npm "npm config set strict-ssl false" and it works.
Thanks, @t1m0thyj

[2022-02-23 04:11] #4425 closed, assigned to nobody

[2022-02-23 04:52] #4273 closed, assigned to nobody

[2022-02-23 06:36] DavHau opened #4460 "package-lock.json (missing resolved/integrity) not noticed and not repaired automatically by npm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

In order to assure reproducible installations, every package listed in a `package-lock.json` which is fetched from a registry should contain a `resolved` and `integrity` field.

This doesn't seem to be the case

[2022-02-23 06:52] 0815fox commented on #4331
I can confirm this bug with npm@8.5.1.

I tried it out. It still works with 8.3.0 and stopped working with 8.3.1.

[2022-02-23 08:25] HomyeeKing commented on #4449
@ljharb  it seems works now, how about  making `update latest  dep semver to package.json` as default ?

[2022-02-23 13:52] K-Schaeffer-LOG opened #4461 "Disabling deduping to a single dependency"
Hi,

I'm having trouble with two dependencies in my project in which I have:

- Dependency A
  - Dependency A dependencies
- Dependency B
  - Dependency B dependencies (dependency A included as a dependency here)
- My project that uses both dependencies A and B

The issue is when I have the same version of dependency A both in dependency B and in my project. Since the deduping will remove dependen

[2022-02-23 15:26] leafac commented on #4234
To confirm what others are saying:

I ran into the same issue everyone is describing: `SyntaxError: Unexpected token '.'`

Node.js v17.6.0, npm v8.5.1

What fixed it for me was updating NVM for Windows from 1.1.7 to 1.1.9. Unfortunately, to do that I had to use the [installer](https://github.com/coreybutler/nvm-windows/tree/a7f30f5e122c88059e43971691ee177f6548e90f#installation--upgrades) by hand,

[2022-02-23 15:27] ljharb commented on #4234
(to be clear, that project is “nvm-windows”; “nvm for windows” would just be real nvm on git bash or cygwin or WSL, all of which are supported)

[2022-02-23 15:30] ljharb commented on #4461
What do you mean “has no access”? B will be able to require a hoisted A, assuming both are in the same project, unless you’re using a pnpm-style layout, or unless B is npm linked.

[2022-02-23 15:40] K-Schaeffer-LOG commented on #4461
B imports A utils from node_modules, so when A is in the upper scope node_modules the import can't find it

[2022-02-23 15:41] ljharb commented on #4461
Yes it can - node looks in parent directories for node_modules all the way up to the root.

[2022-02-23 15:51] leafac commented on #4234
@ljharb I’m sorry you have to keep clearing up this confusion for people who don’t know that [NVM for Windows](https://github.com/coreybutler/nvm-windows) isn’t the same as [nvm](https://github.com/nvm-sh/nvm). But “NVM for Windows” does present itself as “NVM for Windows” (look at their [README](https://github.com/coreybutler/nvm-windows/tree/a7f30f5e122c88059e43971691ee177f6548e90f)), so I belie

[2022-02-23 15:56] K-Schaeffer-LOG commented on #4461
Perhaps I'm missing something then :thinking:

I'll give you my practical example:

1. I have a NPM package called Design
2. I have another NPM package called Shared-Components that always uses the latest stable version of Design
3. Shared-Components imports some variables from Design (@import '../../../node_modules/@logcomex/design/src/assets/scss/export.module.scss ), so It can use those and exp

[2022-02-23 16:00] cristianoccazinsp commented on #4232
Overrides not working at all with npm 8.4.1, e.g.:
[code]

[2022-02-23 16:21] ljharb commented on #4234
Fair enough; filed https://github.com/coreybutler/nvm-windows/issues/758

[2022-02-23 16:25] timothystewart6 commented on #4234
Just confirming that upgrading `nvm for Windows` (Windows installer, not WSL) did fix my issue but only after uninstalling the existing version and cleaning up the previous install.

[2022-02-23 16:30] leafac commented on #4234
Follow up for Chocolatey users out there: An update to NVM for Windows [is on the way](https://community.chocolatey.org/packages/nvm/1.1.9#comment-5746314566) and you may get it now with:

[code]

[2022-02-23 16:33] ljharb commented on #4461
ah, you're hardcoding node_modules. Instead, try importing from `@logcomex/design/src/assets/scss/export.module.scss`, and then it should resolve properly.

[2022-02-23 16:36] cmawhorter commented on #2508
npm < 7 had a long-standing issue with [hoisting dependencies](https://github.com/npm/npm/issues/19877), and the recommended fix for that issue (afaict) is to upgrade to npm >= 7.  but this issue prevents that.

i'd like to ask that this issue be bumped in priority because there is no good workaround between those two bugs. i had to resort to manually patching package-lock.json and stick with npm6

[2022-02-23 16:48] codan84 commented on #4414
I had the same issue on npm `v8.1.0`, `v8.5.0`. Issue is gone on exactly the same setup with npm `v8.5.1`. This is not my network issue, this is something in npm itself.

[2022-02-23 17:34] K-Schaeffer-LOG commented on #4461
This didn't work when I previously tried, but I found out why.

It works like this: @logcomex/design/src/assets/scss/_export.module.scss

I need to add the underscore before the name of the file, even though sass don't require It when using @import.
In this case It can't resolve If the name of the file isn't exactly the same when importing.

So that's It, I hope this issue helps If someone struggl

[2022-02-23 17:34] #4461 closed, assigned to nobody

[2022-02-23 18:49] fritzy commented on #4460
Warning due to missing integrity might be a good idea, but requires some discussion. This would be a great thing to bring up at an RFC meeting since this would be new behavior. Additionally, `npm install` without a package spec does not mutate `package-lock.json`. These behaviors would be new.

We don't currently consider a lack of integrity to be a "broken" package-lock.json, as there are several

[2022-02-23 18:56] fritzy commented on #4455
You can't audit fix a global. We should remove that suggestion for globals. Maybe npm is detecting a different project root with corrupted packages.

I am unable to reproduce this error. Feel free to re-open if you have more specific reproduction instructions.

[2022-02-23 18:56] #4455 closed, assigned to nobody

[2022-02-23 18:58] gnapse commented on #2548
I still experience this in npm 7.21.0

<img width="782" alt="image" src="https://user-images.githubusercontent.com/15199/155388119-34080ba8-34da-4d77-867a-47614f9b0db3.png">

<details>
<summary>
Here's the log file
</summary>

[code]
</details>

[2022-02-23 19:40] lukekarrys commented on #4466
This ended up not needing an explicit RFC so I transferred to the cli repo as an enhancement

[2022-02-23 19:44] lukekarrys commented on #4249
This is handled by #4427.

[2022-02-23 19:44] #4249 closed, assigned to nobody

[2022-02-23 19:50] fritzy commented on #4460
I brought this up in today's RFC meeting, and the consensus was that we do want to change this behavior.

Actions:
- [ ] log a warning for missing integrity values (both from lock and package retrieval)
- [ ] if an integrity value is included (like from a registry), update the package-lock.json with that value

This means that we'll get warnings from local file, tarball, and git references, as wel

[2022-02-23 22:40] fritzy commented on #4453
@PLsap as @ljharb mentioned, we do not backport fixes to v6 or v7 as a rule.

If there's something keeping you from using the latest version, please let us know.

[2022-02-23 22:40] #4453 closed, assigned to nobody

[2022-02-24 01:12] salvadorf8 commented on #2704
ok who dropped the ball and broke npm update? your fired

[2022-02-24 06:01] DavHau commented on #4460
It's good to see that the RFC team wants to move forward on improving this.
Just my 2 cents:
  - I think a missing integrity should be treated as a mismatching integrity.
  - A mismatching/missing integrity should not only trigger a warning, but raise a critical error requiring immediate action by the user.

If the reason integrity hashes are stored within the lock file, is to ensure reproducibili

[2022-02-24 06:22] chr15m opened #4467 "[BUG] NPM_CONFIG_PREFIX is ignored during install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Trying to set the `prefix` config option using environment variables as documented here:

https://docs.npmjs.com/cli/v8/using-npm/config#environment-variables

The current behaviour is that the output from these

[2022-02-24 08:17] XhmikosR commented on #4413
Could it have something to do with the spawned processes when something is installed globally? Windows is horrible in regards to this so it might be related. If that's the case, there's probably not a lot you can do.

But there should be room for improvement for local installs which should make both cases benefit.

BTW I'm working mostly on a Windows VM, so, I'd be happy to help out if needed. :)

[2022-02-24 08:18] hpohlmeyer commented on #3598
This is not only a problem if you run `npm install --workspaces` and traget all workspaces, but for specific workspaces as well (`npm i -w child`) will only run the root lifecycle methods as well.

It should be a bug, it is written down in the RFC, but the implementation does not match the RFC:

---

And to add some more info to the issue, here is our problem with the current behavior:

We have a

[2022-02-24 09:26] hpohlmeyer commented on #3598
I just found a comment from @fritzy in another issue:

I am not sure if this comment is aimed at running `npm install` without any workspace parameters, or if it is aimed at all `npm install` calls, including the ones with a specified workspace. Maybe you could elaborate on that @fritzy?

[2022-02-24 09:45] Pijuli commented on #3208
Speed improves, in my case, by 50% (18s to 12s) but the memory usage is still 4x larger compared to v6

don't know if this is the best way of checking max memory used, but if someone finds it useful:
`/usr/bin/time -v npm ci`

This bug is hunting us from + year ago 😢

[2022-02-24 11:15] daveamol commented on #4234
Seems like this is broken for nvm-sh (version 1.1.7, installed from https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh) when using cmder with bash. Using 16.13.2 works for now

[2022-02-24 14:42] ljharb commented on #4234
@daveamol thats a confusing comment, because nvm-sh has never released anything v1 or above; those versions apply to nvm-windows.

[2022-02-24 14:44] ljharb commented on #4460
Why? If there’s a missing integrity value, you wouldn’t want every install to suddenly start failing. It’s about maximal reproducibility, not guaranteed reproducibility.

[2022-02-24 14:44] ljharb commented on #4467
Do you mean NPM_CONFIG_PREFIX? NODE_CONFIG isn’t a thing.

[2022-02-24 16:19] DavHau commented on #4460
If you really care about security and reproducibility, you'd want exactly that. Because it protects you from threat/breakages and it gives you the chance to fix it.

AFAIU, the lock file can reference arbitrary tarball URLs and git repos. Integrity checking not being enforced results in a lot of potential attack surface, and things that can go wrong accidentally.

In case you want to ignore the er

[2022-02-24 16:43] michaelchadwick commented on #2835
In case anyone is using macOS and `nvm` to manage their node versions, I had to look in the `~/.nvm/versions/node/[current-version]/lib/node_modules` for the offending file(s). Still not sure how the `.DS_Store` files got in there, unless I navigated to it at some point in Finder?

[2022-02-24 16:46] ljharb commented on #4460
It’s as much as is possible, without breaking the common case. If you care that much about security, how did a non-registry dep or a missing integrity value get committed in the first place?

[2022-02-24 17:06] patcon commented on #4460
This happened to me too yesterday btw

[2022-02-24 18:00] patcon commented on #4460
Can we make this ticket private?

[2022-02-24 18:29] opeologist commented on #3940
didn't experience this issue on latest npm version (currently 8.5.1), so this might've been silently resolved and it's safe to close this issue?

[2022-02-24 18:59] fritzy commented on #4467
It looks like `npm_config_prefix` isn't working as expected. This may be due to a recent change with implicit workspace detection (or may be unrelated).

[2022-02-24 19:04] fritzy commented on #4449
Sounds like this is handled. As far as discussions on changes to to behavior (defaults), please join us with the RFC process. https://github.com/npm/rfcs/

[2022-02-24 19:04] #4449 closed, assigned to nobody

[2022-02-24 19:18] fritzy commented on #4448
I don't have a Windows machine to reproduce this, but it looks like the repo https://github.com/HashLips/hashlips_art_engine might be a good place to try.

[2022-02-24 19:47] ssr-02kk commented on #2850
1) Type this in cmd or terminal:
npm install -g expo-cli --force
2) Now type the command again for installing truffle:
npm install truffle -g
WORKED FOR ME :)

https://stackoverflow.com/questions/58949120/error-cannot-find-module-c-users-senyo-appdata-roaming-npm-node-modules-expo
Got help from here ^

[2022-02-24 19:47] fritzy commented on #4447
This is a feature request, so feel free to discuss it in the RFCS repo (https://github.com/npm/rfcs). I've opened an issue there for discussion. Please participate there. npm/rfcs#539.

[2022-02-24 19:47] #4447 closed, assigned to nobody

[2022-02-24 19:53] fritzy commented on #4451
"it sounds like there's a mismatch between this[_retiredPaths] and this[_retiredUnchanged], notably there's this debug block" https://github.com/npm/cli/blob/release-next/workspaces/arborist/lib/arborist/reify.js#L1012-L1024
— @nlf probably

[2022-02-24 20:11] fritzy commented on #4448
"it sounds like there's a mismatch between this[_retiredPaths] and this[_retiredUnchanged], notably there's this debug block" https://github.com/npm/cli/blob/release-next/workspaces/arborist/lib/arborist/reify.js#L1012-L1024
— @nlf probably

[2022-02-24 20:16] fritzy commented on #4451
Arborist behavior under root is pretty aggressive in trying to prevent file access issues. Issues related to this behavior most often comes up in container use cases due to the practice of using root.

[2022-02-24 20:24] fritzy commented on #4445
Does this happen with other packages? Is this a bug with the package not working with newer versions of Node on Windows? All npx does is use `npm exec` to install and execute the package.

https://docs.npmjs.com/cli/v8/commands/npx

If the same behavior happens with

[code]

Then it's not an npx/npm bug.

[2022-02-24 20:30] fritzy commented on #4414
**Closing:** this looks to be similar if not a duplicate of an existing issue, #3078 . If you believe your instance is unique, please provide further clarifying details.

As an FYI, we're actively working this issue, so thank you for the additional information.

[2022-02-24 20:30] #4414 closed, assigned to nobody

[2022-02-24 20:30] OmgImAlexis commented on #4445
The fact it works with the older node/npx shows it **IS** in fact a bug with this npx/npm.

[code]

[2022-02-24 20:37] fritzy commented on #4467
To clarify, I was able to reproduce the issue with the correct environment variable.

[2022-02-24 20:40] fritzy commented on #4444
**Closing:** this looks to be an issue with the registry which is outside the scope of this repo. For registry support please go to [npmjs.com/support](https://www.npmjs.com/support). If you believe this is a bug with the cli, please provide further clarifying details.

[2022-02-24 20:40] #4444 closed, assigned to nobody

[2022-02-24 20:54] fritzy commented on #4443
Can you use  `npm adduser` with your registry and then edit your .npmrc to include `always-auth=true`? Please re-open if this you're still having this issue.

[2022-02-24 21:05] simllll commented on #4443
Hi @fritzy , thanks for coming back to me. It's not about the registry authentication, it's about the http authentication (Basic auth), and also about the network port. The issue is on the "http layer". The endpoint url is missing the port, username and password from the original url.

[2022-02-24 21:22] fritzy commented on #4442
After some analysis, it looks like we could resolve this to the same version, since all of the peerDeps specs match the one package that specifies a singular version.

[2022-02-24 21:30] fritzy commented on #4210
@maksimr Please use our [issue template](https://github.com/npm/cli/issues/new/choose) &/or review our [contributing guidelines](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#reporting-bugs).

I don't know what STR, AR, and ER are. Please re-open this issue with the template.

[2022-02-24 21:32] #4189 closed, assigned to wraithgar, manekinekko

[2022-02-24 21:32] #4210 closed, assigned to nobody

[2022-02-24 21:36] fritzy commented on #4440
This is changed behavior with > npm@7. You'll need to use the flag or config `--foreground-scripts` for the old behavior.
https://docs.npmjs.com/cli/v8/using-npm/scripts

[2022-02-24 21:36] #4440 closed, assigned to nobody

[2022-02-24 21:40] fritzy commented on #4367
Looks like we need a more sensible error here.

[2022-02-24 22:25] chr15m commented on #4467
Yes, thanks for picking that up. I used the wrong variable name in the bug description, but the bug is there with `NPM_CONFIG_PREFIX`.

[2022-02-24 22:42] giovannipds commented on #4263
In my case, it removes the `resolved` entry for a company's remote repository, causing the CI pipeline to fail.

- `npm 8.1.3`
- `node v16.3.0`
- Mac OS

[2022-02-24 22:50] ruyadorno commented on #3800
Thank you for the report @OmgImAlexis, after debugging the reproduction steps provided I noticed that the error you're finding is due to the fact that your `dist/` folder is in fact ignored via `.gitignore` file.

In order to be able to properly prepare a git repo `npm` will run the extracted files through [npm-packlist](https://github.com/npm/npm-packlist) in order to get the expected files that

[2022-02-24 22:50] #3800 closed, assigned to nobody

[2022-02-24 23:00] ruyadorno commented on #2890
hi @tejohnso thanks for taking the time to let us know about this issue 😊 I believe this issue has been fixed since then and it should no longer be the case in `npm@8.5.2`.

@sxn thanks for that repro, it was very useful while validating that everything is working as intended! it turns out that using full URLs like that `tarball` example is not going to trigger prepare steps, the extra work to run

[2022-02-24 23:00] #2890 closed, assigned to ruyadorno

[2022-02-24 23:05] jvlch commented on #4440
Even with that set, still seeing the odd behavior
![image](https://user-images.githubusercontent.com/43323655/155622422-646e077c-8e64-49ba-a3ac-86a0581605f2.png)

[2022-02-25 00:02] #4373 closed, assigned to nobody

[2022-02-25 00:04] ljharb commented on #4263
@giovannipds what about with npm v8.5.2?

[2022-02-25 00:14] tejohnso commented on #2890
@ruyadorno I don't see anything in the 8.5.2 [release](https://github.com/npm/cli/releases/tag/v8.5.2) that would have fixed the issue and I'm still seeing it happen on 8.5.1. My dependency is of the form `github:user/repo.git`. The prepare script doesn't run and dependencies are not installed.

[2022-02-25 02:25] OmgImAlexis commented on #3800
Time to add a warning to all my repos that're missing the `files` field. This fixed the issue.

[2022-02-25 03:40] ljharb commented on #3800
Or .npmignore; omission from “files” means your consumers break; omission from npmignore means an extra thing gets published.

[2022-02-25 04:47] wickkidd commented on #2453
+1 on it working when using `registry` and `userconfig` cli args. Like others, I didn't have to change my `.npmrc` from the format I used prior to npm v8. That said, the only thing I actually had to change was to pass the the `userconfig` arg.

[2022-02-25 06:34] reviewher opened #4470 "[BUG] `npm pack` includes `.<file>.swo` and other vim editor files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm pack` will include .package.json.swo (created in vim if you have multiple editors on the same file).

By default `.*.swp` will be ignored -- this issue is proposing adding `.*.swo` and possibly the entire s

[2022-02-25 06:36] chr15m commented on #4467
I've updated the text of the ticket for clarity: `NODE_CONFIG_PREFIX` -> `NPM_CONFIG_PREFIX`.

[2022-02-25 09:39] itsmelion commented on #2835
You or... something.
_~(the X-Files soundtrack)_

[2022-02-25 10:26] kumavis opened #4471 "[BUG] Deep dependency in workspace missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

- mono repo with multiple workspaces
- one workspace includes `browserify@17.0.0`
- after non-failing `npm install`, missing at least one deep normal dependency (dep path is all non-dev non-bundled dep)
- dep pa

[2022-02-25 10:31] kumavis commented on #4471
( pardon the branch name :skull: )

[2022-02-25 10:31] lanseliuyiya commented on #4303
+1

[2022-02-25 15:00] simllll commented on #4443
@fritzy please reopen this one!

[2022-02-25 15:08] paulrutter commented on #1360
Although this issue is closed, we encountered the same issue on NPM 8.3.1.
In our situation it was caused by a dev dependency `mocha`, which has a dependency on `chokidar`, which has a dependency on `fsevents`.

The lock file was generated on Windows, causing `fsevents` not to be part of the resulting lockfile.

We circumvented this by adding `chokidar` as dependency explicitly (`npm i chokidar@3.

[2022-02-25 16:22] Primajin commented on #1360
@paulrutter you can also consider using `optionalDependencies` - that worked well for us between operation systems.

[2022-02-25 16:24] tylerlazenby commented on #3472
Running into this issue here on Windows 11 running NPM 8.1.2.

[2022-02-25 16:29] Hossy commented on #4451
Is there something I should be doing differently?  Currently, my workaround is to create /tmp/.npm, chown it to uid/gid 900, map .npmrc to /tmp/.npmrc and then pass `NPM_CONFIG_userconfig=/tmp/.npmrc NPM_CONFIG_cache=/tmp/.npm` when executing `npm run-script`.  /tmp was the only reliable folder that root and all other users could access.  This way, I preempt npm's logic of creating the missing cac

[2022-02-25 17:11] daveamol commented on #4234
Ignore what I said, I ran the wrong script thinking it would update my nvm-windows and my version is still stuck on 1.1.7

[2022-02-25 20:38] VivaLaRobo opened #4472 "[BUG] NPM Error: EPERM: operation not permitted. Tarball data for <package> seems to be corrupted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

We are running build in Jenkins and we use Artifactory. We use Windows and Redhat virtual machines connected to Jenkins as our build nodes. We are running a multi-branch pipeline.

This error only happens on Win

[2022-02-25 22:31] giovannipds commented on #4263
@ljharb thanks for interacting. In my case, the issue was in my repository config, it was misconfigured, that's why my `resolved`s were being removed. Probably not related to what this ticket is about. What fixed for me:

[code]

[2022-02-25 23:35] OmgImAlexis opened #4473 "[BUG] Install (and other commands) should fail clearly on invalid package names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

The package installation process to throw an error while trying to install as `@database` isn't a valid package name.

### Steps To Reproduce

Steps shown in "Current Behavior".

#

[2022-02-25 23:56] ljharb commented on #4473
`@database` is not a valid package name. Package names must either be unscoped (not starting with `@`), or scoped (starting with `@`, and containing exactly one slash).

[2022-02-26 00:01] OmgImAlexis commented on #4473
I know this yet the command didn't error hence the issue being opened.

The following shouldn't have worked, correct?
[code]

[2022-02-26 00:05] ljharb commented on #4473
Yes, I agree that command should have errored - that seems like a bug to me.

[2022-02-26 17:31] its-dibo opened #4474 "[BUG] npm installs packages wrongly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I created a node project that includes a workspace, the project structure looks like:

/package.json
[code]

/child/package.json
[code]

when running `npm install` it installs `@angular/compiler` in the root nod

[2022-02-26 18:52] dreamorosi opened #4475 "[BUG] workspaces packages are built in parallel after npm ci even though they depend on each other"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I'm using `npm@8.5.2` and making use of the workspaces feature, my (simplified) project's structure is the following:
[code]

In my `package.json` file I have the following config:
[code]

The project uses TypeS

[2022-02-27 02:29] lukekarrys commented on #4139
Just leaving a comment to link this to #3413 which is a related issue I think.

[2022-02-27 02:58] lukekarrys commented on #4100
Running `npm config set foreground-scripts=true --location=project` should work to set that as a project level config in an `.npmrc` file. If you commit this file, it will be applied to all commands run in the project for contributors.

I'm removing the bug label but keeping this open with the following action items:

- [ ] Documenting that prepare scripts run concurrently
- [ ] Add an option to r

[2022-02-27 03:07] lukekarrys commented on #4475
What package.json script are you using to run `tsc`? If it's `prepare` then a workaround is to use the `--foreground-scripts` flag (or set it in your project `.npmrc`) and manually order the your `"workspaces": []` array to be the order you want them to be run.

There's more info in #3034 and #4100. This might be a duplicate of one of those, but I will live this open in case it's something else.

[2022-02-27 12:07] glen-84 opened #4477 "[BUG] ERR! Workspaces not supported for global packages (8.5.0+)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

After updating to 8.5.0 (and 8.5.2), I'm seeing the following when running a script that uses [concurrently](https://github.com/open-cli-tools/concurrently):

[code]

Log:

[code]

What is that `"prefix" "-g"` t

[2022-02-27 16:21] RobotsAreCrazy opened #4478 "npm error message when updating manjaro-arm"
Hi,

getting this error message when trying to update my system any idea what i can do to fix it?

![Screenshot_20220227_134539](https://user-images.githubusercontent.com/9435484/155890444-1bf818be-b4cd-4bb2-8861-f28f24721f31.jpg)

Thanks

[2022-02-27 21:40] trusktr commented on #4202
I discovered that running `npm rebuild` causes the `build` scripts of linked packages in `node_modules` to be executed. Is this expected?

[2022-02-27 21:42] trusktr commented on #4202
@ljharb Is `npm rebuild` supposed to run `build` of packages in `node_modules`?

[2022-02-27 22:33] ljharb commented on #4202
Yes.

[2022-02-28 10:13] dreamorosi commented on #4475
Hello @lukekarrys, thanks for the quick reply, really appreciate it. I wasn't aware that the issue was in the `prepare` script and so I was searching for `install` or `ci` and didn't find the other two issues.

We are indeed using `prepare` in our project. I had already tried to explicitly order the `"workspaces": []` but without `--foreground-scripts` it still failed.

I can confirm that using th

[2022-02-28 11:09] zWingz opened #4482 "[BUG] `npm config set` will change file owner"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When I exec `npm config set reigstry https://registry.npmjs.org/` in docker container, It will change all file's owner

![image](https://user-images.githubusercontent.com/13031838/155973178-5b022db1-7cb8-4522-98

[2022-02-28 13:10] hades42 commented on #2630
I have been trying to follow every single approach here. And it's still not working for me.
Mine is still showing:
[code]
## Environment:
OS: macOS 11.4
Shell: fish 3.3.1
Node: v17.6.0

[2022-02-28 13:29] ZimaTechOli opened #4483 "npmjs package page, custom install command"
I've been asked by the npm support to open an issue here for my... well, issue.

In the top right corner of packages, there's this convenient box that contains the install command (convenient because clicking it copies the command to clipboard):

![npmjs-install](https://user-images.githubusercontent.com/67362793/155989556-e4be882c-5450-499f-8328-d16490ec088e.png)

However, this particular package

[2022-02-28 16:06] ljharb commented on #4483
You don’t.

Whether a package is used for dev, or production, is not something an author can know. What if someone is making a package that wraps this one, and is in turn used as a dev dep? Your package would be a production dep of that package, and -D would be wrong.

In other words, there’s not a reliable way (even from the author) to know what the consumer’s intention is, so the safest choice i

[2022-02-28 16:15] lukekarrys commented on #4475
Thanks for the follow-up @dreamorosi, and I'm glad that workaround was able to resolve your initial problem. I'm going to close this and we can track it the other linked issue.

[2022-02-28 16:15] #4475 closed, assigned to nobody

[2022-02-28 16:35] ZimaTechOli commented on #4483
Thank you for your answer. Makes sense.

However, if I may: I think a consumer with an intention should know when to use --save-dev. My initial guess would be, that this quick command-copy function is for those with "less intention". But then again, they probably won't be publishing packages anyways and they wouldn't be bothered by some wrongly placed dependencies.

[2022-02-28 16:49] ljharb commented on #4483
I think you nailed it, yes.

[2022-02-28 18:04] alexweej commented on #3359
Also experiencing this. node 16.14.0 and npm 8.3.1

[2022-02-28 19:32] mctrafik commented on #4477
Running into the same issues. Have a package that uses yarn, trying to install yarn `npm install --global yarn`
and getting `35 error Workspaces not supported for global packages`.

[2022-03-01 03:51] UziTech commented on #4234
Can this issue be re opened? or would it be better to create a new issue? This is still a problem.

[2022-03-01 04:06] RodEsp commented on #4234
@UziTech this issue isn't a problem with NPM. It's a problem with [`nvm-windows`](https://github.com/coreybutler/nvm-windows) version `1.1.7`. Updating to to the latest `nvm-windows` and reinstalling node/npm with it will fix the problem. Check out upgrade instructions on the `nvm-windows` repo.

[2022-03-01 04:08] DiracSpace commented on #4234
I can confirm that

[2022-03-01 07:38] simllll commented on #3078
Wow, I finally found my issue and the solution to it. It's working with latest npm, but the problem is that you have to ensure that you really have installed and are using the latest version. Somehow in my setup latest npm was installed, dependencies are fine, but npm 7.x has been used during install. So in case someone experience the same thing, ensure that you really are using npm 8.5.1!

Beside

[2022-03-01 10:42] hellwolf commented on #3993
... I mean, okay, but why... thanks anyways, a head scratching for a few hours

[2022-03-01 14:31] ruyadorno commented on #2890
hi @tejohnso sorry to hear, in this case I'd ask you to please open a new issue providing much more info / details about your project setup and the repo you're trying to install. Ideally we need to reduce the bug to a minimal reproduction (an empty project with just a git repo dependency demonstrating the problem, similar to what @sxn did in this thread) in order to find out what the problem reall

[2022-03-01 14:43] tejohnso commented on #2890
There's nothing special about the repo. I just set one up with npm init as described in the issue detail. I'll see if the same thing happens with a public repo, in which case I can save you the trouble of creating a repo to reproduce the issue.

[2022-03-01 15:09] tejohnso commented on #2890
@ruyadorno Maybe my expectations are off. From the documentation I see

From this I expect that if A has dependency B, and dependency B has a prepare script in it, then `npm install` in A will install B and trigger its prepare script.

But later in the documentation, there's a new section that indicates "These are run from the scripts of \<pkg-name\>" and `npm install` isn't included there.

Can y

[2022-03-01 15:19] WORMSS commented on #4234
Strange, I just updated to 1.1.9 of [`nvm-windows`](https://github.com/coreybutler/nvm-windows) and I still get the same problem.
Though,
[code]
Worked perfectly for my needs.. Run node with 17.6, but install things with 17.1..

[2022-03-01 15:22] ruyadorno commented on #4253
Added a (current failing) test asserting this problem #4484

[2022-03-01 15:23] ruyadorno commented on #4297
we'll probably rethink how to better document Arborist at some later point now that it lives in the cli

[2022-03-01 15:23] #4297 closed, assigned to nobody

[2022-03-01 15:24] jmetterrothan commented on #4472
I have the same issue with a similar environment on Windows, I can even reproduce it locally and with different node versions.

EDIT: this was caused by a dep package that had an asset folder that went from 1.5mo to 150mo between two versions so the assumption it's related to large files may very well be right.

[2022-03-01 15:35] ruyadorno commented on #4252
Hi @mojavelinux thanks for bringing this to our attention. I believe since this is effectively adding new info to that pushed data it might be better to open a discussion or issue in our [RFC repo](https://github.com/npm/rfcs). This way it may get more attention / traction in order to eventually be prioritized.

[2022-03-01 15:35] #4252 closed, assigned to nobody

[2022-03-01 15:36] ruyadorno commented on #4256
@sketchbuch Thanks for taking the time to share your idea! While new ideas are always appreciated I would please ask you to open an [issue or discussion in our RFC repo](https://github.com/npm/rfcs) instead since that's the right place in order to get more attention from the rest of the team and the community.

[2022-03-01 15:36] #4256 closed, assigned to nobody

[2022-03-01 15:42] #4294 closed, assigned to nobody

[2022-03-01 16:42] lukekarrys commented on #3803
I believe this is the same issue causing `npm version patch -w <workspace>` to not create commits and tags either

[2022-03-01 16:44] lukekarrys commented on #3803
Closing as a duplicate of #2010. Slightly difference cases to reproduce, but if #2010 is fixed, this will be fixed also.

[2022-03-01 16:44] #3803 closed, assigned to nobody

[2022-03-01 17:10] ruyadorno commented on #4255
Hi @peey thanks for taking the time to report this issue.

I believe the expected behavior for `libnpmsearch` is to only list fields that are returned by the `/-/v1/search` of the configured registry. see: https://github.com/npm/cli/blob/2db3eff44d7bb86b956207cc63d279806fd14ed0/workspaces/libnpmsearch/lib/index.js#L48

Running the provided script yields the expected links these days so I assume if

[2022-03-01 17:10] #4255 closed, assigned to nobody

[2022-03-01 17:25] ruyadorno commented on #4251
Hi @tolmasky thanks for taking the time to bring this to our attention. This issue was migrated from the old `npm/libnpmpublish` repo and is now being tracked in the main cli repo since this package is managed as a workspace now.

I'm going to close this issue given that there seems to have no direct bug caused by the way it works as of today. I can also see how this metadata might be used by the

[2022-03-01 17:25] #4251 closed, assigned to nobody

[2022-03-01 18:15] the-vampiire commented on #3078
@simllll damn that's the worst man.

For future reference how did it happen that you ran the global install of @8.5.1 but it was still using 7.x?

[2022-03-01 18:19] mojavelinux commented on #4252
I have good news for you. As far as I can tell, this has now been fixed.
Using the latest version of npm, I can now publish packages that rely on
this information to npm and yarn without patching any libraries.

[2022-03-01 19:32] fritzy opened #4485 "[BUG] packument tarball URL host is not respected when different from packument"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If a packument specifies a tarball with a different host than the one used to retrieve the packument, it is replaced.

### Expected Behavior

The tarball url in packuments should be respected and unchanged.
Auth

[2022-03-01 19:35] theimpostor commented on #4374
I now believe this is an issue with the node snap package. Using the ubuntu nodesource install of node v16.14.0, `npm install bufferutil@latest` works just fine without the foreground-scripts option. This is possibly another manifestation of https://github.com/nodejs/snap/issues/13.

[2022-03-01 19:35] #4374 closed, assigned to nobody

[2022-03-01 19:49] ruyadorno commented on #4291
Hi @hrueger thanks for sharing that, it's definitely a super interesting usage of **arborist** and one I'd love to try to hack with a bit more myself 😄

With that in mind, one possible way I could see to try and work around this issue would be to maybe just a setup step in your app in which you reify `node-gyp` (and possibly any similar potential system dependency) either in that path as a dev dep

[2022-03-01 19:49] #4291 closed, assigned to nobody

[2022-03-01 19:51] nlf commented on #4477
thanks for the reports! the fix is linked above and will hopefully make it into this week's release

[2022-03-01 19:56] nlf commented on #4474
this is happening because your `package-lock.json` lists the modules under the `project` directory. removing your `package-lock.json` and running `npm i` gives you the desired behavior, as does running `npm update`.

unfortunately there's nothing to fix here. we put the files where the `package-lock.json` told us to put them, which is definitely not a bug.

[2022-03-01 19:56] #4474 closed, assigned to nobody

[2022-03-01 19:58] nlf commented on #4478
:grimacing: this one looks like an issue in how npm (and likely node) are packaged, which we have nothing to do with. i would open an issue with manjaro.

[2022-03-01 19:58] #4478 closed, assigned to nobody

[2022-03-01 20:00] nlf commented on #4473
i'm unable to reproduce this one, `npm i -D @database` in an empty project throws an error:

[code]

can you provide more details about you're reproducing this?

[2022-03-01 20:19] CFT-Chris commented on #4028
I've found the reason and a workaround for my particular scenario.  In my case, I had a dependency on a package from a git repo, which also had a git repo dependency, and it set off an `npm install` fork bomb, causing out of memory conditions on my machine.

I've logged the specific bug, proposed solution and workaround here: https://github.com/npm/pacote/issues/127#issue-1155772041

[2022-03-01 20:20] OmgImAlexis commented on #4473
What other details do you need? This is on Windows 11 with node `v17.5.0`.

[code]

[2022-03-01 20:27] ruyadorno commented on #4290
It seems to me this thread has turned into multiple different reports to which the cli can eventually exit with a `Cannot read property 'extraneous' of undefined` type of error. I could not find a reliable way to reproduce the original problem with the current version of the **npm cli** (`npm@8.5.2` at the time of writing).

I'm going to close this one but please feel free to submit a new issue, w

[2022-03-01 20:27] #4290 closed, assigned to nobody

[2022-03-01 20:35] stop-war-in-ukraine opened #4486 "[BUG] Stop russia! Stand with Ukraine!🇺🇦"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Russia kills civilians!!!!!Russia kills civilians!!!!!Russia kills civilians!!!!!Russia kills civilians!!!!!Russia kills civilians!!!!!Russia kills civilians!!!!!Russia kills civilians!!!!!Russia kills civilians

[2022-03-01 20:50] ruyadorno commented on #4288
From my knowledge there's no programmatic API to initialize pacote or arborist with a manifest. That said, there is an in-memory cache layer for packuments (which is where the manifests come from iirc) named `packumentCache` that you can initialize and provide as an arborist option, see:

https://github.com/npm/cli/blob/2db3eff44d7bb86b956207cc63d279806fd14ed0/workspaces/arborist/lib/arborist/inde

[2022-03-01 20:50] #4288 closed, assigned to nobody

[2022-03-01 20:59] ruyadorno commented on #4286
I believe this has been completed a long while ago since npm@8 supports a `lockfile-version` config option

[2022-03-01 20:59] #4286 closed, assigned to nobody

[2022-03-01 21:00] aheckler commented on #2835
If you're using `n`, you can try:

[code]

This has worked for me. YMMV.

[2022-03-01 21:12] ruyadorno commented on #4284
I can't reproduce this one, if anyone is still able to reproduce this issue please open a new issue following our new [issue template](https://github.com/npm/cli/issues/new/choose)  and make sure to provide a minimal reproduction scenario along with it.

[2022-03-01 21:12] #4284 closed, assigned to nobody

[2022-03-01 21:13] ruyadorno commented on #4283
**Closing:** please use our [issue template](https://github.com/npm/cli/issues/new/choose) &/or review our [contributing guidelines](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#reporting-bugs).

[2022-03-01 21:13] #4283 closed, assigned to nobody

[2022-03-01 21:24] ruyadorno commented on #4282
There's discussion being tracked in our [RFC repo](https://github.com/npm/rfcs) that is related to this PR: https://github.com/npm/cli/pull/4260, you can see the minutes for some of the meetings here:
- https://github.com/npm/rfcs/blob/main/meetings/2022-01-26.md
- https://github.com/npm/rfcs/blob/main/meetings/2022-02-02.md
- https://github.com/npm/rfcs/blob/main/meetings/2022-02-16.md

[2022-03-01 21:24] #4282 closed, assigned to nobody

[2022-03-01 21:27] ruyadorno commented on #4250
**Closing:** please use our [issue template](https://github.com/npm/cli/issues/new/choose) &/or review our [contributing guidelines](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#reporting-bugs).

[2022-03-01 21:27] #4250 closed, assigned to nobody

[2022-03-01 21:36] ruyadorno commented on #3238
It looks like the `from-git` part of this issue was already implemented, now it seems `npm version` is still missing support to the `--force` option.

[2022-03-01 21:45] ruyadorno commented on #4279
hi @felipeplets thanks for bringing this to our attention. We are currently looking at ways to standardize changelogs for all the workspaces within the **npm cli** including arborist.

Keep an eye for changes in the future. Thanks again!

[2022-03-01 21:45] #4279 closed, assigned to nobody

[2022-03-01 21:54] ruyadorno commented on #3261
Sounds like this could be related to https://github.com/npm/git/pull/29 which is the major change that landed on `@npmcli/git@2.0.8` which seems to be the relevant part that changed between `7.9.0 -> 7.10.0`.

cc @nlf maybe you have some more context on how that change could have impacted here.

[2022-03-01 22:04] ruyadorno commented on #3267
hi @mshima is this still reproducible with the current version of the **npm cli** ? (`npm@8.5.2` at the time of writing)

[2022-03-01 22:06] #3057 closed, assigned to nobody

[2022-03-01 22:11] ruyadorno commented on #3269
It looks like this has already been fixed along with the two other related issues originally linked by @denis-sokolov.

Feel free to open a new issue in case you run into a similar problem again. Thanks for the help!

[2022-03-01 22:11] #3269 closed, assigned to nobody

[2022-03-01 22:15] ruyadorno commented on #3280
This is working as intended, starting with version 7 **npm** tracks peer dependencies as a first class dependency type and as such will avoid duplication when finding multiple entries of the same dep in `package.json`.

[2022-03-01 22:15] #3280 closed, assigned to nobody

[2022-03-01 22:19] ruyadorno commented on #3283
Thanks for bringing it up to our attention @ida. Handling `.gitignore` as a dir rather than a file looks outside of the scope of `npm publish` in its current design/implementation. If there are ecosystems or templates that make use of that, let's make sure to bring it up over the [RFC repo](https://github.com/npm/rfcs) (in the form of an RRFC issue or Discussion) so that we can have more discussio

[2022-03-01 22:19] #3283 closed, assigned to nobody

[2022-03-01 22:19] nlf commented on #2846
as of npm@8.5.2 we no longer compare the hash of git dependencies against an integrity string found in a package-lock.json. newly installed/updated git dependencies should not store an integrity field, though existing integrity strings may remain behind. if one of these is found, npm will log a warning telling you that the integrity value for the git repo was ignored. if you like, you can hand edi

[2022-03-01 22:19] #2846 closed, assigned to nlf

[2022-03-01 22:24] nlf commented on #3808
as of npm 8.5.2 we no longer compare the integrity value for git dependencies, see https://github.com/npm/rfcs/pull/525

[2022-03-01 22:24] #3808 closed, assigned to nobody

[2022-03-01 22:30] ruyadorno commented on #3290
hi @marcog83 thanks for bringing it up to our attention. This is working as intended for the current implementation of workspaces in npm 7 and 8, although we are aware of the issue of running multiple jobs in parallel, it has been brought to our attention early on during our RFC process, ref: https://github.com/npm/rfcs/pull/117#pullrequestreview-507794987

Similar to what @cinderblock suggested,

[2022-03-01 22:30] #3290 closed, assigned to nobody

[2022-03-01 22:31] darcyclarke commented on #4422
Reopening based on the last point (ie. `#4`) which seems to be still an issue

[2022-03-01 22:44] DanielRuf commented on #4101
I found this issue while reading the article at https://snyk.io/blog/visibly-invisible-malicious-node-js-packages-when-configuration-niche-meets-invisible-characters/

That reminds me of the log4j CVE labeled as RCE which was an ACE and was about something similar (configuration file changes or code changes could allow arbitrary code execution).

I agree with @ljharb.

How is this different from s

[2022-03-02 05:57] rotem-cider commented on #4101
@DanielRuf you have some valid points but are reliant on the fact that all companies work with strict configurations.

First about log4j, it is a full easy to create and exploit remote code execution which affected thousands of companies by default configuration. I think the comparison was wrong, also that this vulnerability is not critical like log4j but very important.

About the ability to code

[2022-03-02 06:02] ljharb commented on #4101
@rotem-cider if you use a dependency's code, you are trusting it. You run your dependencies' code in dev, CI, and often prod. Someone who wants to use this as an attack vector can also just *write code to do it*, instead of relying on npm to do it - and npm typically never runs in prod, making it *safer* than "node itself" in this regard.

[2022-03-02 07:37] DanielRuf commented on #4101
@rotem-cider regarding log4j, I do not mean the original CVE but this one: CVE-2021-44832 (ACE caused by manipulated configuration, where attackers need access to your sourcecode)

Regarding the other points: you can always make it more strict, please see my links and screenshots.

Still, someone who has access to the sourcecode can do anything. That has nothing to do with npm and any other progra

[2022-03-02 09:17] komayama commented on #3359
I have get same experience still idealTree buildDeps when npm install command. so I changed npm refer registry URL for workaround then successfully installed module via npm install.

[code]

[2022-03-02 09:46] timhunt commented on #4234
Is there someone here with enough permissions to edit the title of this issue?

I think editing it to

npm ERR! Unexpected token '.' with nvm-windows 1.1.7

would help people arriving at this issue for the first time (like I just did) to find the solution quicker. Thanks.

[2022-03-02 14:42] DonnieTD commented on #3472
Same issue here

[2022-03-02 15:42] rogerfar opened #4488 "npm install infinite recursion on building tree while using `--force` with certain package combinations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

The following infinite recursion occurs when doing npm install:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Environment

- npm: 8.5.2
- Node.js: v16.14.0
- OS Name: Windows

[2022-03-02 15:59] cuibonobo opened #4489 "[BUG] NPM publish strips ANSI characters from files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Running `npm pack` or `npm publish` will change the contents of my package if the file contains ANSI escape codes. All escape codes will be stripped from the files before the package is packed and published. As

[2022-03-02 16:25] MylesBorins commented on #4234
done

[2022-03-02 16:27] timhunt commented on #4234
Thank you @MylesBorins :-)

[2022-03-02 16:42] #4477 closed, assigned to nlf

[2022-03-02 18:00] fritzy commented on #4485
This is a breaking change, so we'll have to put it behind a config flag in the short term, and then release it as default in a future major.

[2022-03-02 18:16] fritzy commented on #3945
This just got merged for this week's release.

[2022-03-02 18:16] #3945 closed, assigned to fritzy

[2022-03-02 18:17] fritzy commented on #4404
This just got merged for this week's release.

[2022-03-02 18:17] #4404 closed, assigned to fritzy

[2022-03-02 18:18] fritzy commented on #3548
This just got merged for this week's release.

[2022-03-02 18:18] #3548 closed, assigned to fritzy

[2022-03-02 18:22] dbouwman commented on #4404
@fritzy Thanks! Much appreciated!

[2022-03-02 19:20] ruyadorno commented on #3306
cc @nlf who has been following up with https://github.com/npm/run-script/pull/31

[2022-03-02 19:35] ruyadorno commented on #3299
I can't reproduce this, I'm particularly stuck with the `fsutil.exe file setCaseSensitiveInfo . enable` with a `Error: The request is not supported.` in my windows system (Windows 10 Pro Version 20H2 Build 19042.928).

@npm/cli-team I do wonder whether this is a supported use case, it looks like [support to case sensitivity is an opt-in feature  in Windows 10](https://docs.microsoft.com/en-us/wind

[2022-03-02 19:43] ruyadorno commented on #3330
Hi @exx8 thanks for taking the time to submit this issue, in the future it's ideal to expand a little more on what are the particular intentions and exact commands with parameters that were run in which originated the error. Then attaching error logs such as this are really valuable to help us figure out what might be the root cause of the problem.

By scanning the error log here it seems like the

[2022-03-02 19:43] #3330 closed, assigned to nobody

[2022-03-02 20:01] ruyadorno commented on #3333
hi @Goues thank you for taking the time to submit this issue, I believe this has been fixed in a past release of the **npm cli** and it works as expected in the current version (`npm@8.5.2` at the time of writing).

I run a quick reproduction and it seems to work as expected:

[code]

Which gives me the following setup:

[code]

Once I update the dependency to a different version:

[code]

You can

[2022-03-02 20:01] #3333 closed, assigned to nobody

[2022-03-02 20:13] ruyadorno commented on #3337
Can confirm this is still happening in the current version of the **npm cli** (`npm@8.5.2` at the time of writing).

Other possible workaround seems to be using the `call` config option, e.g:

- `npx -p cowsay -c 'cowsay "$(node --version; npm --version)"'`
- `npm exec --package=cowsay -c 'cowsay "$(node --version; npm --version)"'`

[2022-03-02 20:26] ruyadorno commented on #3338
@hrazmsft yes, audit does in fact has a cache layer in order to improve performance to what otherwise can be a very costly operation. You can dig more into the internals of the `@npmcli/metavuln-calculator` package, ref: https://github.com/npm/metavuln-calculator to learn a bit more of how it works, also worth taking a look at `arborist.audit()`: https://github.com/npm/cli/blob/2db3eff44d7bb86b956

[2022-03-02 20:38] rhalaly commented on #3338
@ruyadorno thank you! Is there any way to skip the cache locally? For example if the CI finds a vulnerability I want to see and fix it with `npm audit fix`

[2022-03-02 20:47] ruyadorno commented on #3343
hi @happydude thanks for taking the time to report this issue. I believe this is a system limitation rather than a bug in the **npm cli**, like you pointed in your description raising the limit of the number of open file descriptors using `ulimit -n` resolves the problem.

That said, I have the impression that these dependencies you're trying to install might be really large git repos (by number o

[2022-03-02 20:47] #3343 closed, assigned to nobody

[2022-03-02 22:05] ruyadorno commented on #3349
hi @Stanzilla thanks for bringing it to our attention.

Can you please open a new issue providing more info about the current environment, how exactly do you setup that Ubuntu WSL, how did you installed Node.js and npm. Also when you run an npm command can you use a more verbose logllevel. e.g: `npm install --loglevel=silly`. All that can be helpful for us to track down what might be happening in

[2022-03-02 22:05] #3349 closed, assigned to nobody

[2022-03-02 22:36] ruyadorno commented on #3350
Closing since the largest discussion already took place in https://github.com/npm/rfcs/issues/389

[2022-03-02 23:00] Stanzilla commented on #3349
@ruyadorno Hey there! I just updated npm to 8.5.2 and ran `npm install --loglevel=silly` which resulted in this:

[code]

Afterwards I nuked `node_modules` and did it again and it failed here:

[code]

Everything else is pretty much the same, so not sure if a new issue would help.

[2022-03-02 23:10] bigujun commented on #4017
Waiting for that to be fixed, for now as a work around i'm using:
`npm version patch --workspaces && git add **/package.json; npm version patch --include-workspace-root --force`

[2022-03-03 02:14] the-vampiire commented on #3078
@simllll welp. it just happened again **on 8.5.1** after dozens of builds without issue. this is crazy man. i think im going to have to switch to yarn

[code]

[2022-03-03 04:51] meetmistry96 commented on #3359
Just execute the following code in your node js cmd:

1) git config --global http.sslVerify false

2) npm install

This worked for me.

[2022-03-03 06:35] darcyclarke commented on #2612
Believe this got fixed/landed in `v7.23.0` - ref. https://github.com/npm/cli/pull/3731

[2022-03-03 06:35] #2612 closed, assigned to gijun19

[2022-03-03 09:54] fexxdev commented on #4232
npm@8.5.2, i can confirm it still doesn't work with this version

[2022-03-03 14:13] Marcel0024 commented on #3359
I have this as well. Really annoying

[2022-03-03 15:03] grandsilence commented on #4232
npm@8.1.2, node v16.13.2, Windows 10 21H2, same issue.

[2022-03-03 15:28] osher opened #4494 "[Feature] ability to install packages with at least X days since publication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

We're in work on FedRAMP certification, and there's a stormy debate about dependency scans and dependency vulnerabilities. Here's how it relates to you:

Currently, `npm i` and `npm update` will install the late

[2022-03-03 15:30] ljharb commented on #4494
You can already run `npm install --before=2022-03-01` or whatever date you like.

[2022-03-03 15:33] osher commented on #4494
@ljharb  - if that works - that's just might be what I need!

From what version is that? I cannot find it in the docs.

If it works - then treat this issue as a request to update the docs: https://docs.npmjs.com/cli/v8/commands/npm-install and a proposition for thinner config control

[2022-03-03 15:37] ljharb commented on #4494
I think since npm 5 something? It’s been there for a long time (it can be controlled by .npmrc and env vars)

[2022-03-03 16:22] osher commented on #4494
@ljharb  - thanks that's very helpful

Now that you mentioned it - all I could find is this:
https://github.com/npm/cli/blob/20a981890ba96d946036419f0ac124fe598663b7/tap-snapshots/test/lib/utils/config/describe-all.js.test.cjs#L95
https://github.com/npm/cli/blob/940ba878019e7b35bda20a26baaa4c99bebc906b/lib/utils/config/index.js#L11
Which , really, `enjoy-by`? I would have never guessed... 😛

and I

[2022-03-03 16:25] ljharb commented on #4494
No, i think you have to choose all or nothing with this approach.

Ab alternative approach is configuring your internal registry to wait a period of time before “releasing” things it’s downloaded from the public registry.

[2022-03-03 16:49] osher commented on #4494
aha. finally found where it appears in the docs:
https://docs.npmjs.com/cli/v8/using-npm/config#before

Still could not find a word on such option on artifactory's docs - any help will be appreciated.

Anyway, this **_all-or-nothing_** thing kinda pulls the sting out of this feature 😢

I can't even think of a monkey-patching I can do to get latest fixes for corporate packages and deny the rest.
Su

[2022-03-03 16:57] Daalb commented on #4234
This worked for me. Thanks!!

[2022-03-03 16:58] Daalb commented on #4234
This worked for me. Thank you @bartgriffith 😄

[2022-03-03 17:10] ruyadorno commented on #3354
hi @crystalfp thanks for taking the time to reporting this, there are a few other loglevel/output issues that this makes me think of that we were currently tackling:

- https://github.com/npm/cli/pull/4335
- npm/cli#4724

From my point of view it seems to me that tweaking `npm run` to only print errors (maybe only print the stderr stream from the child process?) is a reasonable thing to do.

@luke

[2022-03-03 17:21] ruyadorno commented on #3355
Hi @quilicicf thank you for taking the time to reporting and updating this issue. Unfortunately I don't see how we could improve much on the error message since that's a system error that `npm` is just surfacing to the user.

I'm going to close this issue now since it didn't get any more traction and I don't see any action item that can be worked on right now but in the future if you (or anyone el

[2022-03-03 17:21] #3355 closed, assigned to nobody

[2022-03-03 18:05] everett1992 commented on #3783
I've written an RFC and pull request implementing option to ignore resolved values in lockfiles that would fix this bug.

https://github.com/npm/rfcs/pull/486
https://github.com/npm/cli/pull/4264

[2022-03-03 18:20] ljharb commented on #4494
It's entirely possible artifactory doesn't support it; you'd need to file an issue with them for that.

My personal opinion tho is that all of this is unnecessary, and the few times "waiting a day or two" would have helped in the last decade don't outweigh the billions of times immediate updates offer benefits :-) but i understand it may not be your decision.

I think that what you could do is `np

[2022-03-03 18:53] wraithgar commented on #2856
https://github.com/npm/cli/pull/4495

[2022-03-03 20:18] osher commented on #4494
You're right - it's not my decision, it's a security policy I'm trying to comply with, no say there.

So far, until this requirement fell down, we worked without a lockfile: when a version was packed into a docker - it was during CI and treated like a testable proofable binary: scanned, functional-tested, integration-tested and black-box e2e. With our coverage we're confident with using greatest a

[2022-03-03 20:28] ruyadorno commented on #3359
hi @klesun thank you so much for the minimal reproduction!

I run a quick debugging session using your npm-seven-issue-dep repo and it looks like the issue is coming from `npm` trying to reach for the tarball for that gitlab repo, failing to and eventually waiting too long before just falling back to cloning the repo and proceeding.

### What is the problem, how can we fix it

@npm/cli-team it loo

[2022-03-03 20:29] nlf commented on #3078
@simllll

does this mean that you tested with the node core agents, but keeping minipass-fetch, and still saw issues? it was the combination of using both the core agents _and_ node-fetch that resolved it?

the error is bubbling up from agentkeepalive, it's the underlying socket being destroyed due to a timeout after the response body has begun streaming. it's interesting to me that swapping out a

[2022-03-03 20:31] wraithgar commented on #3359
@ruyadorno there was a PR I responded to here https://github.com/npm/hosted-git-info/pull/109 that is the beginning of the fix, but I couldn't confirm exactly WHAT url we are supposed to be using from the gitlab docs.

[2022-03-03 20:46] vm799 opened #4496 "not able to install packages"
Apologies. Fixed now.
Thank you

[2022-03-03 20:46] vm799 commented on #4496
error logs
error logs:
0 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'i', 'express' ]
1 info using npm@8.4.1
2 info using node@v17.5.0
3 timing npm:load:whichnode Completed in 0ms
4 timing config:load:defaults Completed in 3ms
5 timing config:load:file:/usr/local/lib/node_modules/npm/npmrc Completed in 1ms
6 timing config:load:builtin Completed in 2ms
7 timing config:load:cli Comple

[2022-03-03 20:49] ljharb commented on #4494
Every application always needs a lockfile; that's a long-standing best-practice.

[2022-03-03 21:22] ruyadorno commented on #3371
hi @MicahZoltu thanks for taking the time to bring that up to our attention.

I don't believe that extra info in the `package-lock.json` file is going to cause errors, if you're finding that is causing a problem for users, please also attach that to the report.

I believe we track dev dependencies info in the lock file since we might need that during lifecycle scripts, for linked deps we do run th

[2022-03-03 21:22] #3371 closed, assigned to nobody

[2022-03-03 21:29] ruyadorno commented on #4246
Works as expected in the current version of the **npm cli** (`npm@8.5.2` at the time of writing)

[2022-03-03 21:29] #4246 closed, assigned to nobody

[2022-03-03 21:32] darcyclarke commented on #4494
`before` is definitely what you're looking for afaict. If it's not, feel free to open a new issue/PR on our [`npm/rfcs`](https://github.com/npm/rfcs) repo where we discuss feature requests (notably, issues on the CLI repo are meant just for bugs)

[2022-03-03 21:32] #4494 closed, assigned to nobody

[2022-03-03 23:07] nlf commented on #2971
this is fixed in npm@8.5.2 where we have stopped evaluating integrity strings for git dependencies

[2022-03-03 23:07] #2971 closed, assigned to nobody

[2022-03-03 23:09] ruyadorno commented on #3375
Hi @AyanamiSan thanks for taking the time to report this issue.

I opened a space for the team to track and talk about file ownership issues and find ways to improve the user experience, you can keep an eye here if you're interested: https://github.com/npm/cli/issues/3375

Given that this issue does not have an actionable reproduction I'm going to go ahead and close it since there's not much we ca

[2022-03-03 23:09] #3375 closed, assigned to nobody

[2022-03-03 23:23] ruyadorno commented on #3376
Hi @aleksey-hoffman thank you for taking the time to write this report.

The expected behavior of a `npm install` is to respect lock files, with that in mind I don't see any unexpected behavior.

From what I understood of your reported "Expected Behavior" I would rather recommend using `npm install <pkg>@<version>`, from your example that should be: `npm install vue@2.6.12` - this should successfu

[2022-03-03 23:23] #3376 closed, assigned to nobody

[2022-03-03 23:31] ruyadorno commented on #3402
Support for this should have landed in `npm@8.5.0`

[2022-03-03 23:31] #3402 closed, assigned to nobody

[2022-03-03 23:40] ruyadorno commented on #3413
Hi @adiun thanks for taking the time to bring this up to our attention.

Given that this would be an entire new feature for **npm workspaces** to support I would recommend you to propose this as either a issue or discussion over at our [RFC repo](https://github.com/npm/rfcs) where it can pick up the attention from the community and the rest of the **npm cli** team.

[2022-03-03 23:40] #3413 closed, assigned to nobody

[2022-03-03 23:41] ruyadorno commented on #4139
Hi @justinfagnani thanks for taking the time to bring this up to our attention.

Given that this would be an entire new feature for **npm workspaces** to support I would recommend you to propose this as either a issue or discussion over at our [RFC repo](https://github.com/npm/rfcs) where it can pick up the attention from the community and the rest of the **npm cli** team.

[2022-03-03 23:41] #4139 closed, assigned to nobody

[2022-03-03 23:45] maxmag-soft opened #4511 "[BUG] (windows) npm@8.3.1 --prefix or --cwd not working with 'install', WARN Ignoring workspaces for specified package(s)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`
D:\git_projects\arcadia>npm --prefix "%PWD%\%PROJECT%" --cwd "%PWD%\%PROJECT%" run dev
**npm WARN Ignoring workspaces for specified package(s)**

D:\git_projects\arcadia>npm --cwd "%PWD%\%PROJECT%" install
**n

[2022-03-03 23:49] ruyadorno commented on #3448
hi @nerdyman thank you for taking the time to report this.

Setting a `NODE_ENV=production` env variable is equivalent to running `npm install --prod` which will NOT install any of the development dependencies declared in your `package.json` `devDependencies` object.

With that in mind, it seems to me that the script your docker container is trying to run depends on dependencies that are declared

[2022-03-03 23:49] #3448 closed, assigned to nobody

[2022-03-04 00:01] ruyadorno commented on #3477
hi @nsams thank you for taking the time to report this issue.

I can't reproduce the problem using the linked repo but I suspect that at the time of reporting this issue there might have been conflicting versions of `@mdx-js/react` within your install tree which in turn would cause it to be duplicated by nesting it within the `node_modules` folder of a workspace.

Feel free to open a new issue in

[2022-03-04 00:01] #3477 closed, assigned to nobody

[2022-03-04 00:45] maxmag-soft commented on #4511
This --prefix worked back in NPM 8.1.2 in Windows and Linux
Now, they don't
Tested on ArchLinux npm 8.5.2

[2022-03-04 02:19] JoshMcCullough commented on #3280
@ruyadorno But shouldn't it leave the dupe in the `peerDependencies` rather than `dependencies`?

[2022-03-04 02:34] justinfagnani commented on #4139
Sorry, I don't really have time to do that. This is how other monorepo tools work though, so if you want to just copy, say Lerna, that would probably be great for your users.

[2022-03-04 04:45] ruyadorno commented on #4139
Sounds good, no worries at all @justinfagnani 😊 eventually someone in the team (maybe even myself) will take the time to open an RFC for discussion and we'll move on from there.

I appreciate your help and keep an eye for updates! Thanks 😄

[2022-03-04 05:11] rustedwizard commented on #3877
Exactly same issue here with eslint on npm@8.5.3 and nodejs@16.14.0. eslint install/uninstall as global package without issue.

[2022-03-04 05:41] ljharb commented on #3877
Those with this problem for eslint - what does `which eslint` say, as well as `npm root -g` and `npm config get prefix`?

[2022-03-04 05:48] rustedwizard commented on #3877
I am on Windows 11 and using Powershell, so the equivelent command to `which` would be `get-command` and gives following output:

[code]

`npm root -g` gives following output:

`C:\Users\chens\AppData\Roaming\npm\node_modules`

`npm config get prefix` gives following output:

`C:\Users\chens\AppData\Roaming\npm`

[2022-03-04 05:48] Cloud7050 commented on #3877
(I'm on Windows 11) `where eslint`:

`npm root -g`:

`npm config get prefix`:

[2022-03-04 05:49] ljharb commented on #3877
@rustedwizard thanks! all of those conceptually agree, so for you at least, my hunch is wrong.

Is anyone seeing this issue either "where those three don't agree", or, on "not windows"?

[2022-03-04 08:21] quilicicf commented on #3355
No worries, at least the diagnostic is indexed on the web now :man_shrugging:

[2022-03-04 11:26] loilo opened #4512 "[BUG] Dependency hoisting in workspaces not working, depending on workspace name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If a workspace folder has the same name as one of its direct dependencies, that dependency will not be hoisted to the project root on install.

Note that behavior only applies for top-level dependencies. Nested

[2022-03-04 13:17] #4496 closed, assigned to nobody

[2022-03-04 14:44] crystalfp commented on #3354
Well, I got into the habit of using always the `-s` option. So in case of strange behaviors, I simply rerun npm without it. Having a functioning loglevel option (or something similar) that I can put in the .npmrc file and forget it is sure much simpler.

[2022-03-04 15:38] lirantal commented on #4101
I think the nuance here, at least with regards to Aviad's article on employing both trojan source and configuration overwriting is that this doesn't have to be a code/dependency issue at all. If a collaborator is able to somehow trick you into making a change to the project's .yarnrc / .npmrc and also to somehow sneak in the malicious code as part of the repository's source code then they put the

[2022-03-04 16:02] zackerydev commented on #4139
I went ahead and opened an RFC issue here
https://github.com/npm/rfcs/issues/548

We are hoping for this feature to land in `npm` as well

[2022-03-04 16:02] zackerydev commented on #3413
I went ahead and opened an RFC issue here
https://github.com/npm/rfcs/issues/548

We are hoping for this feature to land in `npm` as well

[2022-03-04 16:08] ljharb commented on #4101
That still requires us to agree on what defaults are more secure. What do you suggest here?

[2022-03-04 18:11] fritzy commented on #4377
[code]

[2022-03-04 19:43] domgenv commented on #3847
I'm on node `v16.13.2` and npm `8.1.2` and I ran into this problem too. I have a monorepo with three folders: `common`, `web`, and `server`. The web and server both use the common folder as a dependency. Project is structured like this...

[code]

I had to update the package.json from this...

[code]

To this...

[code]

I'm new to using workspaces, but I think this likely defeats the purpose of u

[2022-03-04 20:15] ljharb commented on #3847
@domgenv npm 8.1.2 is very old; can you try with v8.5.3?

[2022-03-04 20:34] DanielRuf commented on #4101
Rereading the first post I wonder how this would help when someone would export or create an alias (using bash files in the repo, for example for husky / git hooks, ...) to use some other binary than the original npm or git, which would ultimately lead to the same outcome (and is harder to track, at least environment related stuff, and could remove itself from the file using sed or some self-destr

[2022-03-04 23:16] domgenv commented on #3847
Thanks for the suggestion, @ljharb. I upgraded npm to 8.5.3 and it looks like it's still doing the same thing. I'm seeing the same thing in [ovrn comment](https://github.com/npm/cli/issues/3847#issuecomment-1034199373) where the folder path is being removed, so the dependency is being added as `file:common` instead of `file:../common`.

[2022-03-05 19:44] isaacs opened #4513 "[BUG] ETARGET installing package I just published (not invalidating cache?)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Publish libtap 1.3.0
cd to tap
try to install libtap@1.3.0
ETARGET forever, even though `npm view libtap version` reports 1.3.0

[code]

### Expected Behavior

Should fetch version 1.3.0 from registry

### Steps

[2022-03-05 19:46] isaacs commented on #4513
It does eventually seem to work, but only after about 5 minutes or so.  So it looks like we're holding onto cache without revalidating it, even though the ETag has changed.  Since that's within the "serve from cache without revalidating" window, maybe that's "correct" behavior, but interestingly, `npm ls` _doesn't_ do that.

I think at least, maybe make-fetch-happen could be smart enough to say "I

[2022-03-05 21:22] lirantal commented on #4101
One idea I can think of is as follows:
1. The entry for `yarnPath: “./evil.sh”` also includes a hash signature
2. The package manager keeps a history of that hash
3. Anytime that config changes, or is a new one, the user is prompted to validate the config and the executable before it is actually used

Not saying that's ideal, but potentially adds a bit more friction before users are executing arbi

[2022-03-05 21:32] ljharb commented on #4101
What is “yarnPath”?

[2022-03-05 22:00] lirantal commented on #4101
[code]

Source: https://classic.yarnpkg.com/lang/en/docs/yarnrc/#toc-yarn-path

[2022-03-05 22:13] ljharb commented on #4101
This is npm’s repo.

[2022-03-05 22:17] ghost opened #4514 "NPM update: File already exist. Use --force"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Description

Just a minor issue:

![cli](https://user-images.githubusercontent.com/53160891/156901587-f365f32b-acdb-4bf9-9458-c9a8ba610a1f.png)

Should the `--force` arg be in the notice? Avoid trial n error.

[code]

[2022-03-05 22:23] ljharb commented on #4514
You may need to `sudo npm install -g npm`.

[2022-03-05 23:42] lirantal commented on #4101
I was "riding" on the example that Daniel pointed out from the Snyk article on trojan source + yarn config. Similar issues exist for npm, as Rotem pointed out in Cider's article.

[2022-03-06 00:36] ljharb commented on #4101
ah, i hadn’t read the links. What would be a concrete example for npm that wouldn’t be outweighed by the DX cost? (For example, retaining and updating checksums any time scripts are edited is typically untenably frictionful)

[2022-03-06 05:50] Alien10123 opened #4515 "[BUG] getaddrinfo EAI_AGAIN yourip"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When I try to install a package in npm I get this error (I am trying to install the serverless package):

[code]
This is the debug logs file:

[code]

It works on windows (I use ubuntu for coding and windows for

[2022-03-06 06:00] ljharb commented on #4515
The error message says v8.1.3, altho your issue claims v8.5.1. Do you get the same output on v8.5.3?

[2022-03-06 06:41] Alien10123 commented on #4515
@ljharb I ran it once then check the version and saw that it was v8.1.3 so I change my node version to the latest with nvm so that it changed the npm version and I got the same result. So it doesn't v8.5.1 either.

[2022-03-06 06:41] rotem-cider commented on #4101
For me the main issue here is when an organization is separating permissions between regular developer capabilities to Devops capabilities bypasses to execute code are very easy by using these methods

Aliasing the npm or any other tool needs command execution permissions.

The jump from static configuration files which we do want to give the developers control over and allowing them to execute co

[2022-03-06 16:16] ljharb commented on #4101
You could certainly build a system that required approval before running a pipeline; that’s well beyond the scope of a cli tool.

Hashing the config file doesn’t solve the problem unless you add an untenable amount of friction on top; options 1-3 there have nothing to do with npm. What default configuration are you thinking of in option 4?

[2022-03-06 17:01] bd82 commented on #4383
Thanks for the feedback everyone

[2022-03-07 00:29] Tarang74 opened #4516 "[BUG] Prompt does not reappear after using any npm command."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Whenever I use any npm command, the prompt does not reset to the default cmd prompt:

My prompt is `CMD > `
[code]

As you can see, the command is working normally and returning to cmd, but the prompt itself doe

[2022-03-07 06:36] rotem-cider commented on #4101
About the 4th option, a big part of the problem is that cli tools pick up the default configuration file from the current working directory. This has many pros and almost all cli tools do that. But it does introduce the option for unexpected configuration overrides.

The solution here can be to deprecate the picking up of .npmrc automatically and add the need to specifically request it’s usage by

[2022-03-07 06:39] ljharb commented on #4101
It's more than just a breaking change; it's far too much friction - especially since, as you indicated, virtually every tool does this by default, which means that's what users almost universally expect.

[2022-03-07 06:48] rotem-cider commented on #4101
I agree, maybe just adding a warning when executing will help with user education and a comment in documentation and revisiting this in next major version

see similar changes done in other tools

https://github.com/bridgecrewio/checkov/commit/d5ca203b586582f77e227c2757d77f23f1ab8cf7

[2022-03-07 07:15] ljharb commented on #4101
Sure - but "a file in the repo" is a trusted source.

[2022-03-07 08:48] DanielRuf commented on #4101
Normally they are merged / combined.,

I agree with @ljharb that this is too much friction. We have config files on a few more levels like the user, the global, project root, subfolder (monorepo) and so on.

If some of your coworkers introduces a malicious change in your code and commits this, then you have a bigger problem and this is people-related - a malicious actor who has direct access to th

[2022-03-07 10:30] antondperera commented on #2610
Agreed. Instead what I tried was doing a npm install for the relevant package instead doing a complete npm install.

`npm install https://git@github.com/author/repo`

With this way the `package-lock.json` will get updated for the relevant package without breaking anything.

[2022-03-07 10:42] alexcroox commented on #2610
Agreed, no need to touch package-lock. Just change it in your package.json, remove node_modules and package-lock and run `npm i` again to let it all regenerate. I did that and am now back to using `npm ci` fine 👍

[2022-03-07 10:48] aviadhahami commented on #4101
Budging in here 👋 _[disclosure - I wrote the article @DanielRuf refd to]_

What if we put a verification system behind a flag(?) and if the dev opted in - then perform the verification?

assuming opted in - all opts start falsy, and we can allow a granular pick of features

ie:
[code]

this way it's:
0/ less to no friction (behind a flag the defaults to false)
1/ allows granular control over rc fi

[2022-03-07 11:05] AlanSl opened #4517 "[DOCS] Please document "The overrides key will only be considered when it is in the root package.json file for a project""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Enhancement, not another kind of Docs Enhancement.

- [X] This is a CLI Docs Enhancement.

### Description of Problem

The [public documentation for the `overrides` package.json key ](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides) doesn't mention any limitations regard

[2022-03-07 11:08] JoasE commented on #3359
For me it was because `ng serve` was still running in the background

[2022-03-07 11:15] DanielRuf commented on #4101
As long as your environment (bashrc, profile, ...) is there you can bypass these "checks" by pointing the aliases / binaries (git and more) to something else.

[2022-03-07 11:17] AlanSl commented on #4232
This issue is attracting some general "overrides don't work for me at all" comments in addition to the specific original reported issue, so it might be worth mentioning a couple of things to check for that can cause overrides to not work at all:

1. There's an [undocumented limitation of overrides in **monorepos with workspaces**](https://github.com/npm/cli/issues/4517): `overrides` are only read

[2022-03-07 16:38] oswaldoacauan commented on #4084
We still see the same issue when having different Next and React versions in two different workspaces.

Same deal as mentioned above. If we run the `npm install` inside the workspace folder it works as expected.

[2022-03-07 18:42] nlf commented on #4517
this is a great idea, if you'd like you're welcome to submit a pull request adding this to the docs.

i like this idea a lot as well. i'm currently working on cleaning up some of the issues with overrides, and i'll keep this on my radar.

[2022-03-07 18:45] nlf commented on #4515
the `EAI_AGAIN` error indicates a problem with dns resolution, this isn't something we can really do anything about within npm itself. the resolution not working with `ping` but working in browsers is likely because several browsers handle dns themselves instead of relying entirely on the underlying host.

unfortunately the only fix for this one is determining what's wrong with your host's dns res

[2022-03-07 18:45] #4515 closed, assigned to nobody

[2022-03-07 18:48] nlf commented on #4514
`--force` is not typically needed to update npm itself. this can happen if, for example, a user were to use `corepack` to manager their `npm` installation, which overwrites the original `npm`/`npx` binaries with the `corepack` provided shims.

if you run the command with `--force` do you get a successfully updated `npm`? if so, i don't think this is a bug in npm itself so much as some external pro

[2022-03-07 18:48] #4514 closed, assigned to nobody

[2022-03-07 18:50] nlf commented on #4513
we do make efforts to invalidate the cache when a package is published, but `npm view` being unaffected while `npm install` is makes it sound like we're possibly invalidating the full packument correctly but _not_ the corgi. we'll look into this one!

[2022-03-07 18:58] nlf commented on #4512
this one looks to be an issue where we use the directory name of the workspace as an implicit package name if the `package.json` lacks a `name` field.

we effectively think your workspace is the actual `jest`, but since there's also no `version` field we determine that it isn't valid for any of the other requirements, so after we symlink the workspace as `node_modules/jest` we see the package is i

[2022-03-07 19:11] nlf commented on #4511
i'm not following what's happening here.. i would note that `--cwd` isn't a config flag with any meaning in `npm>=7`

can you tell us more about your directory structure and what you're trying to do? are you using workspaces?

[2022-03-07 19:11] ljharb commented on #4512
I wonder if there's room for a config value that avoids the implicit package name entirely? I'd basically never want that behavior; i'd always want npm to force all of my workspace packages to have an explicit name.

[2022-03-07 19:35] nlf commented on #4489
as it turns out, this isn't a bug in `npm` so much as it is a feature in `chalk`.

`chalk` lists `Auto-detects color support` as a highlight of its features. what's happening here is npm is running your `prepare` script before packing the tarball, your `prepare` script is regenerating your output file by running `build.js`. however, because this is being run in a child process that doesn't have a

[2022-03-07 19:35] #4489 closed, assigned to nobody

[2022-03-07 19:38] nlf commented on #4512
i don't see why not. it certainly creates situations that aren't obvious to debug. i'd almost even suggest that we log a warning for any workspace that doesn't specify a name whether you have the implicit name enabled or not. there's also potentially some similar work we could do to address workspaces that lack a `version` field.

[2022-03-07 19:43] nlf commented on #4516
i'm not able to reproduce this one. do you have anything else special about your shell? i'm assuming you're using `cmd.exe` as your shell, is that right?

[2022-03-07 19:56] Tarang74 commented on #4516
Yes that's correct

[2022-03-07 19:58] Tarang74 commented on #4516
I can't think of a reason why this happened (must have modified something by accident), but I have created a new user profile and the problem is fixed :)
I'll close the issue for now.

[2022-03-07 19:58] #4516 closed, assigned to nobody

[2022-03-07 20:16] nlf commented on #4488
this one is interesting, so i'm going to walk through it step by step.

if i run `npm i` i get
[code]

which is telling us that the peer dependency for `@angular/common` specified by `ngx-monaco-editor` conflicts with the version of `@angular/common` specified in the `package.json`. we can get around this by using either the `--legacy-peer-deps` flag, or the `--force` flag.

the result of `npm i -

[2022-03-07 20:19] nlf commented on #4483
i think this was answered, so i'm going to close it. as an aside, however, if you want to open a feature request for the website to allow a custom install command, or possibly just some means of communicating that a package is meant to be installed as a dev dependency, you can do so by starting a discussion here: https://github.com/npm/feedback/discussions

[2022-03-07 20:19] #4483 closed, assigned to nobody

[2022-03-07 20:23] nlf commented on #4482
this is caused by npm attempting to force file ownership for files it writes to a user inferred by the parent directory. this feature was initially added to help users avoid issues where if they happened to run, for example, `sudo npm i` that we would write files owned by `root` into both their `node_modules` and their cache.

we've opened an RRFC issue to discuss how we can address this problem i

[2022-03-07 20:23] #4482 closed, assigned to nobody

[2022-03-07 20:31] nlf commented on #4473
i'm still not able to reproduce this one for installs. i tested in osx, linux and windows using your exact steps listed above. i used `npm@8.4.1` as you specified in your original issue, and node@17.5.0. in every version i tested i got the same `EINVALIDTAGNAME` error mentioned above when running `npm i -D @database`

`npm rm @database` is another story, however, as that command runs successfully

[2022-03-07 20:45] nlf commented on #4471
whoa, this is an interesting one. you're absolutely right, we're totally failing to install that dependency despite it being a requirement of `util@0.12.4`. even worse, `npm ls` doesn't even identify that there's a missing dependency.

i find it to be accurate lol

[2022-03-07 20:54] nlf commented on #4470
given that we already ignore `.*.swp` by default i'll accept this as a bug.

for your individual case, if you're unaware, you can workaround it until we fix it with one of the following approaches:
- add a `files` array to your `package.json` that explicitly lists the top level files and directories you wish to publish
- add a `files` array to your `package.json` that explicitly excludes swap file

[2022-03-07 21:10] OmgImAlexis commented on #4473
This is interesting..

1. Are you testing this on windows or windows subsystem for linux?
2. Which version of windows?

Tried it again, I've rebooted and all that since.

[code]

[2022-03-07 21:21] cuibonobo commented on #4489
Holy crap. I had no idea that the `npm prepare` script would run during `pack` and `publish`. Thanks so much for tracking this down. 🙏

[2022-03-07 21:33] nlf commented on #4445
this happens because we're running `cmd.exe /d /s /c tsconfig.json` and since `tsconfig.json` is a file with an extension, and windows doesn't support "shebangs" like osx/linux do, windows decides that the correct thing to do is open the `tsconfig.json` file rather than trying to append the `.cmd` to it and resolve it as a binary to be run.

we can't do much about how windows behaves here, and to