[2021-02-25 11:52] Gobinath90 opened #2777 "npm ERR! cb() never called!"
Installing packages (npm)...npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WA

[2021-02-25 12:04] erango commented on #1294
It didn't for me. I just stopped using pre-releases for the affected packages.

[2021-02-25 14:12] Khizarkhattak999 commented on #2777
I also have this same issue.........I uninstall my npm and git and again install it....but the error remains constant.

[2021-02-25 14:22] ljharb commented on #2619
@leepowelldev that is my understanding as well.

[2021-02-25 14:58] leepowelldev commented on #2619
@ljharb That is what I think isn't happening - I don't think npm is respecting a defined registry (either by an .npmrc file or cli flag) and instead falling back to using the resolved url in the package-lock.json file (which may be a completely different registry with differnt authentication).

[2021-02-25 15:22] flipsasser commented on #2776
Thank you, @opvasger!

To the helpful npm triage folks: please let me know if I can help! My npm username is also `flipsasser`.

[2021-02-25 15:40] disconnect3d opened #2779 "[BUG] npm audit - explain and show data send to the registry"
Hey, according to the [docs](https://docs.npmjs.com/cli/v7/commands/npm-audit):

However, this does not state clearly the exact data sent to the registry.

This, along with a lack of an "offline mode" and the fact that some private npm registries may not support audit requests:
[code]

may end up with people using the `--registry=https://registry.npmjs.org` flag and sending potentially sensitive d

[2021-02-25 16:02] iarna commented on #2610
I saw this being talked about on Twitter and thought I could add a bit:

What Isaac is describing in terms of magic fallback behavior isn't new, and it's not what's breaking y'all. What evidently has changed is that the transport it ended up using is now recorded as the "version". I'd argue this is wrong, that's what "from" is for. For registry dependencies "version" is the version we resolved our

[2021-02-25 16:11] nlf commented on #2758
I know those docs instruct you to append your username, but if you can try without it and let me know what that changes I'd appreciate it. If that works I'll make sure the docs are modified to reflect that

[2021-02-25 16:15] nlf commented on #2229
There's a bug in npm 7.5.3 which you have installed that prevents you from being able to update npm. Your node version that still has npm 7.0.8 should be able to update to 7.5.6 which should work correctly.

Your install that is still on 7.5.3 however, you'll have to update npm by some other means. One easy way is to clone this repo and run `node . install -g npm`

[2021-02-25 16:27] valtlai commented on #2521
It seems it has now been published on the actual site: https://docs.npmjs.com/cli/v7/configuring-npm/package-lock-json#hidden-lockfiles

[2021-02-25 17:22] uhop commented on #2610
In the discussion one point was missed: the difference between `npm i` and `npm ci` security-wise (see the original ticket). Yes, `npm i` can choose different versions, yet the security model should be exactly the same. If listed packages and their dependencies didn't change, their behavior should be identical. (This is my case actually). Yet they behave differently. I hope everyone agrees that it

[2021-02-25 17:23] iarna commented on #2610
Hah, yeah, you caught me in the process of correcting myself:

1. The `from` field, for ALL types, is only ever the specifier that was used to pick the version recorded in the lockfile. That hasn't changed -- npm@7 is fine here. (My brain was crosswiring it with `resolved`, when it's used. Resolved wouldn't be a terrible place to record the transport, but I'd be hesitant to do so.)

There seem to

[2021-02-25 17:41] jcesarmobile commented on #2615
I confirm it works, thanks!

[2021-02-25 18:25] iarna commented on #2610
I do vaguely recall something protocol specific URLs not _actually_ disabling magic entirely? But instead changing the order that things were tried? Maybe that plays a role? (eg, `github:` results in trying ssh, https, git, where as `git+https://` results in https, ssh, git and `git://` results in git, ssh, https?

Anyway, regardless, the result was that the protocol you asked for was always the f

[2021-02-25 22:52] Pomax commented on #2521
fantastic, then that closes this issue =)

[2021-02-25 22:52] #2521 closed, assigned to nobody

[2021-02-25 23:33] ruyadorno commented on #2706
I tried a simplified reproduction and it doesn't seem to be a problem with updating the ranges in a nested workspace `package.json`, here's what it looks like:

[code]

By bumping the version range of `abbrev` to `^1.1.1` within `a/package.json` and running `npm install` again I get the following changes (as expected):

[code]

[2021-02-25 23:36] ruyadorno commented on #2706
@petermikitsh I suspect that in your original example the results might be a bit misleading given the fact that `gh-pages` is a dependency of many (if not all) workspaces AND the top-level `package.json` - maybe it's worth bumping all versions to the same version range and trying to run the install again?

[2021-02-25 23:37] Vixb1122 commented on #2229
@nlf Good job. I will close this issue.

[2021-02-25 23:37] #2229 closed, assigned to nlf

[2021-02-26 01:22] taurheim commented on #2508
The problem is fixed in 7.5.6 for me when using `npm install` but not `npm ci` :(

[2021-02-26 02:08] ruyadorno commented on #1941
hi @jpike88, this issue has been fixed in npm7 😊

[2021-02-26 02:54] mesqueeb opened #2783 "[BUG] workspace packages using different major versions of the same package causes issues"
I had originally posted this in feedback:
https://github.com/npm/feedback/discussions/236#discussioncomment-407165

But was requested to post here as well:

### Current Behavior:

TLDR;

My case:

I have a NPM7 monorepo that holds a core lib focussed on data communication with a plugin system.
Some plugin in my workspace in `./packages` use an NPM package (let's call it Y) of major version 2, whil

[2021-02-26 04:29] sattarulwariqirohmani commented on #2777
$ npx create-react-app my-app

Creating a new React app in D:\javascript\node_modules\my-app.

Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts with cra-template...

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of

[2021-02-26 08:18] dornfeder commented on #2508
Unfortunately, my comment was sent a bit prematurely. I still encounter the errors, with `npm install` or `npm ci`, it doesn't matter. I guess the reason why i thought it worked before was that i switched back to `npm@6.x.x` to compare results, and the installation there worked, and when i switched back to `npm@7.5.6` i already had the required packages in the cache, which is why "it worked" for a

[2021-02-26 09:08] mirka commented on #2770
Duplicate of #2264?

[2021-02-26 12:37] Greg-Smulko opened #2784 "[BUG] Npm installs devDependencies of url based dependency (git://)"
Linking https://github.com/npm/npm/issues/21153.

### Current Behavior:
devDependency of a dependency is installed when its referenced using URL (e.g. `"git://github.com/company/myDependency.git#v10.17.30",`

### Expected Behavior:
devDependency should never be installed, regardless of the method of how the package is referenced.

### Steps To Reproduce:

Create a dependency with this config:
[cod

[2021-02-26 13:11] sjmondal opened #2785 "Vue create command failed"
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '--loglevel',
1 verbose cli   'error'
1 verbose cli ]
2 info using npm@6.14.11
3 info using node@v14.16.0
4 verbose npm-session 3351f21af8ce3871
5 silly install runPrein

[2021-02-26 13:14] sjmondal opened #2786 ""Vue create" command failed"
2749 silly pacote range manifest for domelementtype@^2.0.1 fetched in 214ms
2750 http fetch GET 304 https://registry.npmjs.org/copy-descriptor 220ms (from cache)
2751 silly pacote range manifest for copy-descriptor@^0.1.0 fetched in 223ms
2752 timing npm Completed in 152000ms
2753 error cb() never called!
2754 error This is an error with npm itself. Please report this error at:
2755 error <https:/

[2021-02-26 13:17] sjmondal commented on #2786
Please inform what the actual issue is. Why the "Vue Create" command failed? The same happened in Windows 10 Pro

[2021-02-26 13:39] igorjacauna commented on #568
For me the problem was solved running terminal/vscode as admin when I try to run `npm ci`

[2021-02-26 14:29] depascalis commented on #2619
I got it working by removing always-auth and regenerating access tokens.

### Steps taken
This is on a Windows 10 machine, there are probably more ways to achieve the same:

1. Verified that the organization used the new domain name URL `dev.azure.com` in `DevOps > Organization Settings`
[Switch existing organizations to use the new domain name URL](https://docs.microsoft.com/en-us/azure/devops/re

[2021-02-26 15:26] leepowelldev commented on #2619
Yes, I believe the trick here for you was enabling the 'Switch existing organizations to use the new domain name URL' - effectively using a single url through Azure which the generated access token is valid for and transparently redirects. Sadly we can't switch to the single url for legacy reasons right now and NPM seems to be failing when telling it which registry URL to  use.

[2021-02-26 15:30] derekgreer commented on #2452
@darcyclarke You tagged this with a "Needs Documentation", so I'm wondering if by "get that fixed" you mean that you're going to "fix the documentation to reflect the breaking change" or revert to the previous behavior of exposing all package.json properties in the environment as ${npm_package_[property name]}"?

[2021-02-26 15:32] leepowelldev commented on #2619
If anyone from the NPM team is interested in seeing this in action, I've set up a demo Azure account with pipelines setup to show it succeeding with v6, failing with v7, and failing with v7 pointing npm to the public registry. Happy to share credentials, just email me at lee@leepowell.dev

[2021-02-26 15:37] ljharb commented on #2784
Try with npm v7.6.0?

[2021-02-26 15:37] ljharb commented on #2786
Duplicate of #2785.

[2021-02-26 15:38] leepowelldev commented on #2619
This is the raw log when attempting to use the public registry upon install:

[code]
And this is the package-lock.json file:
[code]
As you can see in the `package-lock.json` file, the packages were originally resolved from the Azure registry, however for this build pipeline I'm pointing the registry to npm public - it is only attempting to install rimraf (not a private package), however it is tryi

[2021-02-26 15:41] derekgreer commented on #2452
So, what is the recommended approach for custom package variables referenced by scripts?  Should the config object be used for this purpose?

[2021-02-26 15:50] DeeDeeG opened #2787 "[BUG] lifecycle scripts are run for 'npm install --package-lock-only'"
### Current Behavior:

For example, `prepare` and `postinstall` scripts are run after doing `npm install --package-lock-only`.

### Expected Behavior:

This is supposed to simply update `package-lock.json`, no more no less. (Like in npm v6, I expect lifecycle scripts not to run with `--package-lock-only`.)

### Steps To Reproduce:

1. In a directory with a `package.json` that has lifecycle scripts

[2021-02-26 16:41] ljharb commented on #2787
Lifecycle scripts might be written to edit package.json, prepopulate things in node_modules, or edit the lockfile after the fact, all of which would apply to `--package-lock-only`. Can you elaborate on the lifecycle scripts you have where running them on package-lock-only is problematic?

[2021-02-26 16:49] DeeDeeG commented on #2787
- Any script that relies on `node_modules` existing. (Including any/all `devDependencies`).
  - I most often use `--package-lock-only` to maintain or update package metadata without having to go through an install.

- Any script that relies on the repository being in a tidy state
  - Similar to the above scenario, I frequently use this to be able to maintain or update the package metadata when I k

[2021-02-26 16:53] DeeDeeG commented on #2787
A workaround is `--package-lock-only` `--ignore-scripts`, but I feel `--package-lock-only`, by the name, fairly clearly implies it will just update `package-lock.json`. Hmm. I mean, at the end of the day I can admit this could be a design choice rather than a strict bug.

And `--package-lock-only` `--ignore-scripts` is pretty semantic (like in a good way -- it's clear what it means)... I just pers

[2021-02-26 17:35] Greg-Smulko commented on #2784
The very same problem for v7.6.0 unfortunately.

[2021-02-26 19:40] darcyclarke commented on #2600
@lee5i3 can you try installing the latest v7 & see if you can reproduce it? (ie. `npm install -g npm` - `7.6.0`)

[2021-02-26 19:44] darcyclarke commented on #2603
@robross0606 team just tried to repo with latest, are there any other steps or configuration you can provide to confirm this is still a problem?

[2021-02-26 19:45] robross0606 commented on #2603
I don't know.  I've abandoned npm v7 completely for now due to trove of bugs and other issues.  It was simply unusable.

[2021-02-26 19:50] tristanls commented on #2554
What's the reason for closing?

[2021-02-26 19:53] darcyclarke commented on #2628
@bradbarrow can you try to reproduce on the latest version of npm? (ie. `npm i -g npm`)

[2021-02-26 20:14] AdamAtri commented on #2119
atrico:~ /Documents/clients/browser/src/mobile$ npm --version
7.5.6
atrico:~ /Documents/clients/browser/src/mobile$ npm i
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: undefined@undefined
npm ERR! Found: karma@4.4.1
npm ERR! node_modules/karma
npm ERR!   dev karma@"4.4.1" from the root project
npm ERR!
npm ERR! Could not resolve depen

[2021-02-26 20:21] brettk-dev commented on #2634
I believe this is fixed in 7.6.0

[2021-02-26 20:21] #2634 closed, assigned to nobody

[2021-02-26 20:33] ethanryan opened #2788 "[BUG] npm outdated now hard to read"
### Current Behavior:

running `npm outdated` now includes a more detailed "Location" description within node_modules, and there is now a "Depended by" column.

these new columns are helpful. however, they make it difficult to read the output, because the lines wrap.

example of current behavior:

![problem](https://user-images.githubusercontent.com/8107812/109351663-a0293b80-7847-11eb-9a64-471678

[2021-02-26 21:23] AndrewGrossman commented on #1765
Also experiencing this w/npm login + input via shell pipe

[2021-02-27 02:05] ghost opened #2790 "[BUG] <typeerror Error: Missing required argument #1 on Ubuntu 18.04 for arm64 (AWS Graviton2) when trying to compile the DDG Privacy Essentials extension>"
### Current Behavior:

When trying to compile the DuckDuckGO Privacy Essentials extension on Ubuntu 18.04 with an ARM based instance, it exited early with
[code]
The end of /home/ubuntu/duckduckgo-privacy-extension/npm-debug.log:
[code]

Also, `apt` reported that npm is already the newest version (3.5.2-0ubuntu4) even after `apt update`.

### Expected Behavior:

`make` should finish without error

[2021-02-27 04:22] wraithgar opened #2791 "[BUG] search is ignoring `--searchopts`"
### Current Behavior:
`--searchopts` is not making it into the options passed to search

### Expected Behavior:
`--searchopts` is added to the options passed into search

### Steps To Reproduce:
They are passed into `prepareIncludes`
https://github.com/npm/cli/blob/113b1319f9e9c90694454bebc9dc12111a441ecf/lib/search.js#L23

And then ignored
https://github.com/npm/cli/blob/113b1319f9e9c90694454bebc

[2021-02-27 08:22] shahid66 opened #2792 "open npm ERR! cb() never called! npm ERR! This is an error with npm itself."

[2021-02-27 08:25] #2792 closed, assigned to nobody

[2021-02-27 10:49] el7cosmos commented on #708
I'm experiencing the same issue with @jalik, can we reopen this?

[2021-02-27 10:59] jost-s commented on #2748
@ljharb `authbind` works well, but only for the `node` command. It doesn't work with `npm`. For example I can run an express server with `authbind node my-express-server` on port 443. But using the command to launch a webpack dev server `authbind npm run serve` on port 443 results in the server running on port 1024.
Do you have an idea why?

[2021-02-27 15:06] pastelmind commented on #1703
Same issue with NPM v7.6.0. `npm outdated` fails due to an outdated package that is installed under an alias:

[code]

I tried to replicate this by creating a sample project, but could not. Perhaps it happens if there are multiple dependencies and one of them is aliased AND outdated.

[2021-02-27 15:39] ljharb commented on #2748
I don’t; but I’d expect authbind to be part of the script instead of part of the npm command.

[2021-02-27 17:22] abowdiy2010 opened #2793 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-02-27 17:23] abowdiy2010 commented on #2793
![Screenshot_٢٠٢١٠٢٢٧-٠١١٠٢٢](https://user-images.githubusercontent.com/79758725/109394766-b44d6580-7939-11eb-8bb9-3d85b5c1b8e6.png)

[2021-02-27 17:23] #2793 closed, assigned to nobody

[2021-02-28 01:56] ktalebian opened #2794 "[BUG] npm resolves the wrong dist-tag of a package dependency"
### Current Behavior:

I have a package `flex-plugin-scripts` that currently has a `beta` dist build (as well as a `nightly` dist):

[code]

This package depends on another package called `flex-plugin` which is part of a monorepo of the same version https://github.com/twilio/flex-plugin-builder/blob/v4-beta/packages/flex-plugin-scripts/package.json#L52. This package too, has the same dist-tags:

[

[2021-02-28 06:09] jost-s commented on #2748
Absolute, I agree. What I meant to say was that `authbind ./node_modules/.bin/vue-cli-service serve` doesn't start the server on port 443.
Anyway, it's clear that this is not an npm error as such. It behaves differently now as compared to version 6, but it's not an error.
Thanks for your help @ljharb, much appreciated!

[2021-02-28 06:09] #2748 closed, assigned to nobody

[2021-02-28 14:40] khurramlashari commented on #805
i've got the same error and in my case package name was duplicate

[2021-02-28 15:10] mario-grgic commented on #611
I only get this error (and npm destroying itself) on a mac with fusion drive. It works correctly on macs with SSDs.

Note also that forcing the update (```sudo npm install -g --force npm```)  deletes all npm man pages from ```/usr/local/share/man/```

[2021-03-01 07:11] anru opened #2796 "[BUG] Failed to publish packages without repository field"
### Current Behavior:
`npm publish path/to/pkg` command in monorepository executed for package without `repository` field trying to do `git ls-remote on ssh://git@github.com/path/to/pkg.git` and fails.

Some in `--dry-run` mode

### Expected Behavior:
The success of the 'npm publish' command does not depend on the presence of a package in any DVCS. ~~At least some ENV variable to disable communica

[2021-03-01 07:17] anru commented on #2796
Bug is reproducible for v7.6.0 also

[2021-03-01 08:15] Vi1234sh12 commented on #681
Anyone, can you help me, how to resolve this error?
![Screenshot (570)](https://user-images.githubusercontent.com/45570993/109469559-30f45700-7a94-11eb-90bf-a2d2d1b87410.png)

[2021-03-01 08:30] philippkuehn commented on #2581
I have the same issue for `npm deprecate @tiptap/vue` (which is on version `2.0.0-alpha.13`)

[2021-03-01 09:43] moshest commented on #1845
Thanks @piotros. I just follow the instructions here and fix it on my end as well:
https://typicode.github.io/husky/#/?id=locally-installed-binaries

[2021-03-01 12:01] ciarancourtney opened #2797 "[BUG] NPM completion not working on Git Bash shell using Windows Terminal (MSYSTEM different)"
### Current Behavior:
Open a git-for-windows bash shell in Windows Terminal (wt) and run `npm completion`

### Expected Behavior:
Bash completion is output to stdout

### Steps To Reproduce:
1. Install git for windows and Windows Terminal
2. Add a config in json as per https://stackoverflow.com/questions/56839307/adding-git-bash-to-the-new-windows-terminal
3. Open 'git bash' shell and try  `npm co

[2021-03-01 12:02] mikemaccana opened #2798 "[BUG] npm 7.6.0 audit fix --force recommends running npm audit fix --force (the same command) to fix issues."
### Current Behavior:

`npm audit fix --force` recommends running `npm audit fix --force` (the same command) to fix issues.

This obviously makes no sense. `npm audit fix --force` should itself fix the issues reported.

[code]
### Expected Behavior:
`npm fix ---force` should resolve the issues by updating dependencies.

### Steps To Reproduce:
Detail above might be enough, but ifnot, LMK and I'll

[2021-03-01 12:13] fetis opened #2799 "[BUG] NPM 7 erroneously tries to access private registry and fails with 401"
### Current Behavior:
`npm install` fails with
[code]

### Expected Behavior:
should just work 🤷

### Steps To Reproduce:
We have a private registry served by Artifactory (v7.11.5), after upgrade to npm v7 installation process fails locally and on Jenkins with 401 error. We use token authentication stored in `.npmrc`.

Our `.npmrc` in the project directory points to the private registry _only for

[2021-03-01 15:10] ljharb commented on #2799
I believe dependencies of a package are assumed to come from the same registry. In other words, a properly configured internal registry serves as a proxy for external packages as well.

[2021-03-01 16:01] ruyadorno opened #2800 "[BUG] npm outdated fails to parse aliases"
### Current Behavior:
Running `npm outdated` on a folder that contains a `package.json` using aliases (e.g: `npm install <alias>@npm:<name>`), see: https://docs.npmjs.com/cli/v7/commands/npm-install

### Expected Behavior:
`npm outdated` should work.

### Steps To Reproduce:

#### Given a package.json using aliases:
[code]

### Run outdated

[code]

[2021-03-01 16:02] ruyadorno commented on #1703
Thanks @erichoswald @pastelmind, that's a different problem, I opened #2800 to track and fix it.

[2021-03-01 18:19] nodgibarreto opened #2801 "[BUG] error cb() never called!"
### Current Behavior:
I have an Ionic-Angular project and when I try to install IonicCli an error log is shown

### Environment:
1 info using npm@7.6.0
2 info using node@v14.15.4

0 verbose cli [
0 verbose cli   'C:\\Program Files\\nodeJs\\node.exe',
0 verbose cli   'C:\\Users\\nmenezes\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
0 verbose cli   'install',
0 verbose cli   '-g',
0

[2021-03-01 19:00] nVitius commented on #2741
@ljharb @nlf
Pinging you two as I've seen you comment on recent issues.

Please let me know if there's someone else that should be looking at this instead, or if more info is needed here. Thanks!

By the way, I tried this again with npm 7.6.0 and the issue is still occurring.

[2021-03-01 20:22] nVitius opened #2804 "[BUG] Installing git+https stores git+ssh in package-lock"
### Current Behavior:
When installing a dependency using a `git+https` URL, npm resolves it to a `git+ssh` URL in `package-lock.json`.
This causes any CI processes to be unable to install the dependency, as npm will try to use SSH to fetch the repo.
Here is a screenshot displaying the behavior:
![image](https://user-images.githubusercontent.com/3804041/109553984-e7563d00-7a90-11eb-83a3-6584905ff2b

[2021-03-01 21:10] mlippert commented on #2704
Since what I want to do is update the versions listed in package.json to the latest "**Wanted**" version and not the "**Latest**" version (as shown by `npm outdated`), this becomes a laborious process and for now I think I'm probably better off staying on npm v6 or downgrading to npm v6 (if using node v14).

I have my package versions set to "want" the latest non-breaking changes if semver is resp

[2021-03-01 21:54] dataod opened #2805 "[BUG] npm ERR! cb() never called!"
# What / Why
Today on my local Windows machine I tried to install a package ("dotenv") and got the => **npm ERR! cb() never called!**
This was the first occurrence. I restarted the machine and tried to create-react-app

[code]
and express
[code]
both resulted in the same outcome. Doing _npm init_ brings up the interactive dialogue
and _npm init -y_ creates a package.json.

Attempt to **npm i -g np

[2021-03-01 22:51] avezina-ubik commented on #2453
Same here using 7.6.0 and `gitlab.com` as private registry.

It seems that the publish command does not support a `--registry` argument though: https://docs.npmjs.com/cli/v7/commands/npm-publish

[2021-03-01 22:56] dataod commented on #2805
I wasn't able to fix this with just reinstalling npm, but clean Node.js reinstall did the trick.

[2021-03-01 22:56] #2805 closed, assigned to nobody

[2021-03-01 23:22] foxxyz commented on #2453
I'd argue this should be documented better, but I believe the `--registry` argument is a global one that can be used on any `npm` command, as detailed in the [last paragraph under "Description" on the "registry" page](https://docs.npmjs.com/cli/v7/using-npm/registry).

[2021-03-01 23:32] avezina-ubik opened #2806 "> It seems that the publish command does not support a `--registry` argument though: https://docs.npmjs.com/cli/v7/commands/npm-publish"
I'd argue this should be documented better, but I believe the `--registry` argument is a global one that can be used on any `npm` command, as detailed in the [last paragraph under "Description" on the "registry" page](https://docs.npmjs.com/cli/v7/using-npm/registry).

_Originally posted by @foxxyz in https://github.com/npm/cli/issues/2453#issuecomment-788388221_

[2021-03-01 23:32] avezina-ubik commented on #2806
My bad :S

[2021-03-01 23:32] #2806 closed, assigned to nobody

[2021-03-02 06:57] darcyclarke commented on #2751
https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22

[2021-03-02 08:46] fetis commented on #2799
@ljharb this might be true for `sourcemap-codec`, but `karma-chrome-launcher` is a direct dev dependency

[2021-03-02 09:19] Gerrit-K opened #2808 "[BUG] --scripts-prepend-node-path doesn't populate PATH"
### Current Behavior:
The flag `--scripts-prepend-node-path`, which is supposed to add the calling `node` executable to the `PATH` variable, doesn't seem to work. The directory isn't added.

### Expected Behavior:
The directory of the calling `node` executable should be added to `PATH`.

### Steps To Reproduce:
* Download NodeJS and npm via nvm (in my case `14.15.5` and `7.6.0` respectively)
* Cre

[2021-03-02 12:22] leepowelldev commented on #2799
What are the resolved urls for those packages failing in your `package-lock.json` file?

[2021-03-02 12:23] sarin1234 commented on #2799
#2799

[2021-03-02 13:03] jorenbroekema commented on #2127
Any updates on this?

[2021-03-02 13:55] fetis commented on #2799
both point to https://company.jfrog.io/

[2021-03-02 14:37] leepowelldev commented on #2799
The issue seems to be similar to what I have discovered in https://github.com/npm/cli/issues/2619, where npm v7 seems to ignore any set registry flags/config on using `npm install/ci` and instead just uses the previously resolved urls found in the `package-lock.json` file. My guess is that if you changed your `package-lock.json` urls for the failing packages to the public npm registry then it woul

[2021-03-02 15:32] JoshMcCullough commented on #2553
Using NPM 7.6.0 and we are seeing the same / similar issue. SO post: https://stackoverflow.com/questions/66426787/npm-7-complains-about-peer-dependency-even-though-version-is-in-range

[2021-03-02 16:25] avezina-ubik commented on #2453
It's a bit hard to understand indeed, but let's not start a debate about documentation.

I managed to get it published using npm 6.14.4 and the --registry flag.

[2021-03-02 16:32] ljharb commented on #2808
I’m confused, how would npm run if node wasn’t in the PATH already?

[2021-03-02 16:35] Gerrit-K commented on #2808
As commented by calling `npm-cli.js` with a `node` binary, both referenced with the full path

[2021-03-02 16:36] ljharb commented on #2808
ok - why would you do that tho, if you already have the full path?

[2021-03-02 16:38] Gerrit-K commented on #2808
I'm not actively doing that. It's the way IDEs like WebStorm call scripts with a node and npm version that you can select in the preferences or on a per-project basis. For reference, see [this issue](https://youtrack.jetbrains.com/issue/WEB-49835#focus=Comments-27-4728121.0-0) (and feel free to comment there, too).

[2021-03-02 19:55] ljharb commented on #2808
Running npm or node without `node` and `npm` in the PATH is a bad idea, because many things will expect it to be there - *especially* npm run-scripts. The comment that "that's what npm does" isn't really relevant, because WebStorm isn't npm.

[2021-03-02 20:09] Gerrit-K commented on #2808
Well, I agree that it's probably not the _intended_ way to run it and also that npm is not responsible for any failing sub script, _but_ the [docs](https://docs.npmjs.com/cli/v7/commands/npm-run-script) clearly define how `--scripts-prepend-node-path` should work:

And as far as I can see it, that's not working in my (maybe exotic, but still valid) case. (edit: of course that's assuming that `npm-

[2021-03-02 22:38] palbrecht1 opened #2810 "Different runs generate different package-lock.json on npm 7.5.3"
### Current Behavior:

I have a Node project with some packages, nothing fancy:
[code]
I delete the node_modules folder and the package-lock.json file and then run `npm install` to have a fresh install on my dev machine (Windows with WSL2)
I then push my code (including package-lock.json) to github and pull that code automatically from a staging server, running Ubuntu 20.04.2.0 LTS.
My deployment

[2021-03-03 00:03] chee opened #2811 "[BUG] npm_package_from not set in lifecycle"
https://github.com/npm/rfcs/blob/d2f8dc3cbf35217a31d1bb5491154b18d4fb2276/implemented/0021-reduce-lifecycle-script-environment.md

the rfc that got rid of most of the environment variables states there will be an `npm_package_from` variable in when a package is being installed. there isn't. `npm_package_resolved`, and `npm_package_integrity` are there.

`npm_package_from` is not.

## current behav

[2021-03-03 00:13] aomarks commented on #1865
I can confirm it works for me now, at least for my particular case outlined here: https://github.com/npm/cli/issues/1865#issuecomment-713908803

[2021-03-03 00:34] fregante commented on #1865
Still no luck for me on npm 7.6.0. This still results in an semi-empty package folder

[code]

[2021-03-03 01:26] ljharb commented on #2808
right - that’s not something anything else should be doing. npm is part of the platform, webstorm is not.

[2021-03-03 01:31] ljharb commented on #2810
What happens with npm v7.6.0?

[2021-03-03 03:06] sternam opened #2812 "[BUG] the package-lock.json generated by `npm i` errantly contains a ["packages"][""]["name"] property if the npm package is installed in a directory whose name differs from the npm package's name"
### Current Behavior:
If the working directory's name differs from the name of the npm package it contains, then the generated package-lock.json has a ["packages"][""]["name"] property in violation of the npm v7 spec for the package-lock.json file per the docs at [https://docs.npmjs.com/cli/v7/configuring-npm/package-lock-json](https://docs.npmjs.com/cli/v7/configuring-npm/package-lock-json)
for e

[2021-03-03 03:55] hmoffatt commented on #2804
I also see this with 7.6.0 on linux. The problem occurs in all version at least 7.2.0 and later. 6.14.11 works fine though.

Before `npm install` with v7.6.0 I have the following in `package-lock.json`:
[code]

after:
[code]

[2021-03-03 05:01] shadowspawn commented on #2812
Related: #2264 #2770

[2021-03-03 05:24] LucasSymons commented on #708
I am having these same issues and even downgrading to 6.14.11 and 6.14.8 had no effect.

[2021-03-03 07:11] Gerrit-K commented on #2808
Okay, let's put WebStorm aside for a moment and look at the simple question: "Is calling `npm-cli.js` with an arbitrary `node` version supported or not?".

If not and if you could point me to some sort of documentation about this, I'd gladly pass that information on to JetBrains and ask them to change how they call `npm`.

[2021-03-03 07:20] Gerrit-K commented on #2808
I just noticed [npm/statusboard#117](https://github.com/npm/statusboard/issues/117). If I interpret that correctly, the flag in question isn't even in the code anymore (which would explain why I wasn't able to find it after all). Can you confirm that?

[2021-03-03 10:49] ChrisCrossCrash commented on #2800
I am also getting this issue. For me the issue was caused by this dependency:

[code]

It needs to be installed with an alias to take advantage of the paid features of the `shockingly` version.

This is in a [public repo](https://github.com/ChrisCrossCrash/ck_gatsby/tree/fa13e88a35c586d994f0c8ee5933698d3f72d0c2) of mine.

### Additional Info

Windows 10
npm 7.6.0
node v12.18.4
git version 2.30.1.w

[2021-03-03 11:18] Syed-Zakriya-Mushtaq opened #2813 "angular new app"
E:\opensourcetest\lerna-repo\packages>ng new lerna-angular
? Would you like to add Angular routing? Yes
? Which stylesheet format would you like to use? SCSS   [ https://sass-lang.com/documentation/syntax#scss
 ]
CREATE lerna-angular/angular.json (3710 bytes)
CREATE lerna-angular/package.json (1256 bytes)
CREATE lerna-angular/README.md (1021 bytes)
CREATE lerna-angular/tsconfig.json (458 bytes)
CR

[2021-03-03 11:31] ymor commented on #2665
Just a quick update, it looks like between 7.5.3 and 7.6.0 my issue has been resolved.  It is now reporting the version I would expect.

npm verb cli   'C:\\Program Files\\nodejs\\node.exe',
npm verb cli   'C:\\Users\\USERNAME\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
npm verb cli   'test',
npm verb cli   '--verbose'
npm verb cli ]
npm info using npm@7.6.0
npm info using node@v1

[2021-03-03 16:53] trasherdk commented on #2801
And I got a similar `cb() never called` running a `npm update` on `Slackware64 14.2`

[code]

[2021-03-03 17:05] ghost commented on #2741
I'm having the same problem as well, trying to npm install an internal package.

[2021-03-03 19:07] sandeepdussa commented on #2813
Node 14.16.0 NPM 6.14.11

I'm facing same issue. Do we have a fix for this yet?

npm WARN deprecated tslint@6.1.3: TSLint has been deprecated in favor of ESLint. Please see https://github.com/palantir/tslint/issues/4534 for more information.
npm WARN deprecated chokidar@2.1.8: Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15x less dependencies.
npm WARN deprecated request@2.88.2:

[2021-03-03 20:58] sandeepdussa commented on #2813
Upgrading NPM to 7.6.0 fixed this issue for me.

[2021-03-03 23:28] isaacs commented on #2610
@iarna The entirety of the git handling in pacote was rewritten for npm v7.  We now _always_ try to fetch the CDN tarball first, since that's invariably faster (even when it fails, it fails _very_ fast, so compared with the overhead of spawning a git process and doing the fetch that way, it's a worthwhile gamble).  But basically, all the code that did this in npm v6 is gone.

The "magic" being com

[2021-03-03 23:41] alanpurple commented on #2728
fixed with npm 7.6.0, closing

[2021-03-04 00:51] ghost commented on #2741
@nVitius I don't know if this helps you, but what worked for me was to completely uninstall node / npm (I used this as a guide : https://stackoverflow.com/questions/11177954/how-do-i-completely-uninstall-node-js-and-reinstall-from-beginning-mac-os-x), then re-install node using the downloadable package. Hope this helps.

[2021-03-04 00:56] Brlaney opened #2814 "[BUG] cb() never called!"
[2021-03-03T23_54_15_907Z-debug.log](https://github.com/npm/cli/files/6080030/2021-03-03T23_54_15_907Z-debug.log)
[windows-terminal.txt](https://github.com/npm/cli/files/6080031/windows-terminal.txt)

### Current Behavior:
Following the steps instructed of me that work for others I was unable to successfully deploy a serverless next.js web-app because of this dependency.

### Expected Behavior:
I

[2021-03-04 04:43] dl748 commented on #2627
@darcyclarke No it does not

[2021-03-04 04:59] dl748 commented on #2627
Is NPX following its own rules now and NOT following the PATH variable like the documentation says?
[code]
if i put webpack into /usr/bin/webpack.   npx works... if i put it in /usr/.local/bin/webpack.. it doesn't work.. which seems to me that its building it OWN path to look for the program and completely ignoring the PATH variable which is way different than the 6 and the documentation.

[code]

[2021-03-04 05:14] dl748 commented on #2627
Simple script to replicate

test123
[code]

[code]

[2021-03-04 05:25] 4nkit777 commented on #2814
Man, I am having the same issue. Have tried all the fixes, didn't nudge a bit. Can anyone resolve this issue ?

[2021-03-04 06:27] giltayar opened #2815 "Regression: 7.6.0 throws a `TypeError: Cannot read property '@roundforest/***' of null` error sometimes"
### Current Behavior:

When I `npm install` in a package, I get the following error `TypeError: Cannot read property '@roundforest/***' of null` (full debug log below)

The same error happens with `npm ci`.

**When using npm v7.5.0, the `npm ci` finishes executing with no problem.**

### Expected Behavior:

It should finish the `npm install/ci`, just like it does with v7.5.0.

### Steps To Reprodu

[2021-03-04 09:44] toabm opened #2816 "Passing variables defined in package.json not working"
When defining a variable inside package.json like a path:

    "devPath": "./myFolder"

and then using the variable to run a npm script defined in package.json:

      "scripts": {
    "build:dev": "node_modules/.bin/webpack --mode=development  --devPath=$npm_package_devPath",
  }

the parameter is not getting inizializated thow options.devPath

### Environment:

[2021-03-04 11:01] josegl commented on #2117
I'm having the same problem.
[code]

[2021-03-04 11:25] mesqueeb commented on #2783
Any other info required ?

[2021-03-04 11:38] codingthat commented on #2454
I'm seeing this too trying to install npm 7.6.0 using npm 7.5.3.  I guess I have to fix my install in some way— @darcyclarke, could you clarify what might need doing using nvm in this case?

[2021-03-04 11:39] codingthat commented on #2454
(Or maybe @markmckenna and I should open a separate issue about it, since we're both seeing this on v7→v7, not v6→v7 like the OP?)

[2021-03-04 11:42] BeingShaashi opened #2817 "npm ERR! cb() never called!"
### Current Behavior:
sshar@IN-CP0B0JG5L repo-ui % npm i
npm WARN deprecated babel-eslint@10.1.0: babel-eslint is now @babel/eslint-parser. This package will no longer receive updates.
npm WARN deprecated eslint-loader@2.2.1: This loader has been deprecated. Please use eslint-webpack-plugin
npm WARN deprecated extract-text-webpack-plugin@3.0.2: Deprecated. Please use https://github.com/webpack-con

[2021-03-04 11:48] codingthat opened #2818 "[BUG] "ERR! Cannot find module 'agentkeepalive'" trying to "npm install -g npm@7.6.0""
As far as I know, this is not:

- https://github.com/npm/cli/issues/555 (I don't recall trying to upgrade and breaking anything, previously; plus, npm is not installed as root: if I try the same command with sudo, I get `sudo: npm: command not found`)
- https://github.com/npm/cli/issues/2454 (I'm running npm 7.5.3, not 6.x)
- https://github.com/npm/cli/issues/1935 (not npx, not CI, just a local Li

[2021-03-04 11:49] AdamRatcliffeDeetu commented on #2801
I'm also having the same problem, not sure if there's a common reason behind all of them. I encountered the error trying to run `npm i @syncfusion/ej2`
[2021-03-03T10_03_13_832Z-debug.log](https://github.com/npm/cli/files/6083378/2021-03-03T10_03_13_832Z-debug.log)

[2021-03-04 11:56] codingthat commented on #2818
Interestingly, despite `npm --version` showing 7.5.3 (matching the terminal notice I was given), I discovered this in attempting to update Node.js itself using nvm just now:

[code]

So...I ran `nvm install-latest-npm` and that worked.  Now nvm reports npm 7.6.0, and so does `npm --version`.  Hurray!

I guess then the notice should be changed for those of us running nvm?

(I'm also curious why the

[2021-03-04 12:08] tristanls opened #2819 "[BUG] Impossible to link more than one local module dependency one at a time."
https://github.com/npm/cli/issues/2554 was closed without an explanation and without fixing the bug.

[2021-03-04 13:20] Tallyb commented on #2610
I want to make sure I understand it correctly:
If I am doing `npm i <some public github repo>` from a machine that is configured with SSH, I will end up with git+ssh definition in my package-lock.json.
If a teammate is doing it from a machine that has no SSH configured, it will end up with the git+https definition.
I do not think that this is acceptable in real-life scenarios, as I cannot verify t

[2021-03-04 13:29] talsi commented on #2553
@darcyclarke
please reopen the bug.
it's not fixed.

[2021-03-04 13:46] themightychris commented on #2610
@isaacs this is not what happens when a v2 lockfile is added to the picture -- if SSH works for the first person, it gets written into the lockfile, and if they commit that then `npm install` and `npm ci` fails for teammates and CI environments without SSH configured. On top of that, if a lockfile is committed with the HTTPS variant, anyone running `npm install` in an environment where SSH works w

[2021-03-04 14:01] rkclark commented on #2706
My team is using npm 7 with workspaces, and whenever we pull down changes that include package upgrades at the root level, we have to manually remove our node_modules and re-install from scratch to get the upgraded versions to install 😢

[2021-03-04 14:30] ljharb commented on #2816
I believe this is by design; these variables are (for the most part) no longer available in npm 7.

(separately, you can just do `webpack`, you shouldn't need to hardcode node_modules/.bin inside an npm script)

[2021-03-04 14:33] ljharb commented on #2818
Unfortunately npm v7.5.3 had some issues, and once you'd upgraded to it in your node v12.16.1, you may have had to uninstall and reinstall that node version to be able to get a newer version of npm. I don't think this has anything to do with nvm itself (except that you were able to switch to a different node version that avoided the problem)

[2021-03-04 14:35] BeingShaashi commented on #417
https://github.com/npm/cli/issues/417

[2021-03-04 14:36] BeingShaashi commented on #417
The error still exists and will always I think because I see no one from NPM is actually trying to resolve it, other than telling workarounds and expecting it to work so that they can close the issue.

[2021-03-04 14:59] iitsmel opened #2820 "[BUG] cb() never called!"
### Current Behavior:
Unable to fully install packages.

### Expected Behavior:
Successfully install all packages.

### Steps To Reproduce:
1. Run 'rm -rf node_modules && npm cache clean --force && npm install'
2. See error
I bumped into a situation where I need to remove node_modules in order to clear some mixed up installs. This command was supposed to remove node_modules with cache and reinstal

[2021-03-04 15:08] codingthat commented on #2818
Ah, OK...I didn't have to uninstall anything, I just used nvm to install the latest Node.js and then used nvm to install the latest npm.  I'm not sure installing the latest Node.js even helped, necessarily, because as you can see above, the latest still had npm v6 attached to it.

[2021-03-04 15:29] ljharb commented on #2818
Only node 15 ships with npm 7 initially.

[2021-03-04 17:28] nVitius commented on #2741
@dillonbartkus I'm using node/npm with `nvm`. After you reinstalled, are you still using npm version 7.6.0?

[2021-03-04 17:55] ghost commented on #2741
@nVitius I picked LTS version, which uses NPM version 6.14.11

[2021-03-04 18:14] isaacs commented on #2610
The fix described in my [comment above](https://github.com/npm/cli/issues/2610#issuecomment-780761122) has not been implemented.

The way forward is to fetch packages in a more resilient way from known git hosts, and save metadata in a way that is as consistent as possible (to reduce unnecessary/hazardous lockfile churn) and does not lose information (eg, saving ssh when we really need the auth to

[2021-03-04 18:19] nlf commented on #2741
using 7.6.0, can you try the same command but with `--loglevel=silly` at the end and share the log?

[2021-03-04 18:54] themightychris commented on #2610
@isaacs one other potential issue I've encountered in all this, that is a bit tangential but maybe should be considered at the same time. It is common in GitHub Actions settings to do [something like this](https://github.com/actions/checkout/issues/35#issuecomment-536712162) to authenticate requests to github either using the limited token that is automatically made available to each actions run,

[2021-03-04 19:29] nVitius commented on #2741
@nlf that's what `-ddd` does. I can post the whole log, but it's not very informative around that section in particular:
https://pastebin.com/rB3teabE

The relevant lines are 127-129. Here's a screencap:
![image](https://user-images.githubusercontent.com/3804041/110018975-c08c4680-7cdc-11eb-817d-d6e96a32e8db.png)

It looks like this is only happening with Gitlab repos. Installing a Github repo wit

[2021-03-04 19:46] nlf commented on #2741
what do you get if you run:

[code]

in a shell? does it prompt you for anything?

[2021-03-04 20:15] nlf commented on #2741
if it does, and you accept the prompt, then a follow up `npm install` command should work as expected

additionally, if when you run the `npm install` command you see something like
[code]

even though we're hiding the line that tells you to press enter, if you press enter the installation will continue.

a way to prevent this from happening in the first place would be to

[code]

somewhere in you

[2021-03-04 20:21] isaacs commented on #2610
@themightychris Yep.  All the more reason why it's important to fall back on failure.  Install environments are quite often configured such that https will always work and ssh never will, or vice versa.

We save the `git+https` url when it contains auth so that we don't lose the auth information that the user provided, since presumably that is useful at least _sometimes_, and it is surprising to h

[2021-03-04 20:53] 10hendersonm opened #2823 "[BUG] `ERESOLVE unable to resolve dependency tree` with conflicting deep peerDependencies"
### Current Behavior:
Installing a module with a `peerDependencies` that conflicts with one of its dependencies' `peerDependencies` fails. For example, [`@wojtekmaj/enzyme-adapter-react-17` has a `peerDependencies` on React 17](https://github.com/wojtekmaj/enzyme-adapter-react-17/blob/1e71d8199dbe23c2883ca1d4d007d2124f99e90f/package.json#L47). It also depends on [`enzyme-adapter-utils`, which has

[2021-03-04 20:56] ljharb commented on #2823
This is by design. enzyme does not support react 17, and thus neither does enzyme-adapter-utils, so it's simply not possible to have a valid dependency graph that has both enzyme and react 17 in it.

That adapter fork isn't fully compatible with React 17 (or else it'd be part of enzyme already), so you're taking a risk by using it - but either way, for it to *truly* bypass the peer dep restriction

[2021-03-04 21:05] 10hendersonm commented on #2823
I guess I'm pretty shaky on the internals of npm tree-building, but something like this wouldn't be possible?

[code]

[2021-03-04 21:26] ljharb commented on #2823
Technically yes - but because the adapter fork declares it as a *peer* dep, not a regular dep, i'm not sure how that could be done by npm automatically.

Additionally, then you'd have two copies of React, which breaks React itself, so that's not a viable solution anyways.

[2021-03-04 21:58] nVitius commented on #2741
The `ls-remote` command runs successfully. It does not prompt for anything. My ssh-agent is set up correctly, so I don't expect any issues with the git commands themselves.

The npm module is actually installed correctly. The problem is that npm hangs while trying to connect to `https://gitlab.com/users/sign_in`. This adds over a minute to the install.

I'm fairly certain that this is an issue wit

[2021-03-04 22:07] nlf commented on #2741
I was able to reproduce it, but the above made the reproduction stop working. I’ll make a repo and test further

[2021-03-04 22:11] felipecrs opened #2826 "[BUG] npx doesn't work when in child workspace"
### Current Behavior:

If I run `npx <binary>` of a binary installed by a child's `package.json`, it doesn't find the binary as npm v7 now install the binaries under the parent `node_modules`.

### Expected Behavior:

This used to work, as there was no workspaces concept before and therefore all the projects were linking binaries to their `node_modules`.

### Steps To Reproduce:

Should be simple.

[2021-03-04 22:49] kumarrishav commented on #2296
I am also facing the same issue.

if I tag a module `foo` as dist-tags version `7.2.1-ubds` as `userread_ca_ubds`  while publishing it and in my package.json of my app if i use `userread_ca_ubds` instead of `7.2.1-ubds` ( i.e `"foo": "userread_ca_ubds"`), then upon running npm prune --production (after running `npm ci`), it deletes the dependency. No issue if I run npm prune --production  after np

[2021-03-04 22:50] nVitius commented on #2741
Here is the package.json that I have in that repo:
[code]

I don't know if it's relevant, but the repo is under a "Group" in gitlab.

[2021-03-04 23:05] ljharb commented on #2826
I don't think this is something that was ever truly reliable. If you're expecting to run a local binary, it should be a direct dep/devDep.

If anything, it's a bug that bins are created at all for transitive deps.

[2021-03-05 00:04] uhop commented on #2610
We are discouraged by our security policy to commit any kind of credentials to repositories. Our dependency URLs do not contain auth. It is supplied externally by the build system, e.g., AWS CodeBuild.

And there is an issue that `npm i` works fine (as expected), while `npm ci` doesn't. I understand that should work the same way if no external changes to dependencies.

[2021-03-05 00:31] nlf commented on #2741
The group could be very relevant! I’ll do some more testing tomorrow and follow up here

[2021-03-05 01:30] felipecrs commented on #2826
This can be replicated:

1. Open my repository: https://gitpod.io/#https://github.com/felipecrs/megatar
   - It has a `package.json` in the root, and another in the website subfolder.
   - `docusaurus` is set as dependency in the website folder.
   - `docusaurus` is NOT set as dependency in the root project
   - website is in the list of workspace of the root project
   - Gitpod will run `npm inst

[2021-03-05 02:08] ljharb commented on #2826
Ah, in the context of workspaces, i see what you mean. The bins should surely not be hoisted to the parent, even if the module itself is.

[2021-03-05 02:56] donaldev commented on #611
This just happened me too.
Mac OS Big Sur with SSD.
![Screenshot 2021-03-04 at 6 54 53 PM](https://user-images.githubusercontent.com/30258920/110060755-4202c980-7d1b-11eb-8b90-165eb7c617b8.jpg)

[2021-03-05 03:38] hrithikwins commented on #417
0 verbose cli [
0 verbose cli   '/usr/bin/node',
0 verbose cli   '/usr/local/bin/npm',
0 verbose cli   'i',
0 verbose cli   'bootstrap@5.0.0-alpha1'
0 verbose cli ]
1 info using npm@7.6.0
2 info using node@v14.16.0
3 timing config:load:defaults Completed in 2ms
4 timing config:load:file:/usr/local/lib/node_modules/npm/npmrc Completed in 3ms
5 timing config:load:builtin Completed in 3ms
6 timing co

[2021-03-05 04:20] gbeltrao commented on #2820
Running 'npm i' is also generating this error. Log file:
[2021-03-05T02_30_06_178Z-debug.log](https://github.com/npm/cli/files/6088107/2021-03-05T02_30_06_178Z-debug.log)

[2021-03-05 09:08] trasherdk commented on #2801
After getting the error, I did a `npm ci && npm update` and did not get any errors.

[2021-03-05 09:21] sta4152 commented on #1721
The current LTS linux 64bit download https://nodejs.org/dist/v14.16.0/node-v14.16.0-linux-x64.tar.xz is not usable, the npm script in line 19 references unsupported.js from a not existing relative location, the one given in the report. Or did I miss something?

[2021-03-05 09:46] paulvandenburg commented on #2818
I'm not sure if this is the exact same issue, but I also have trouble upgrading my npm to the latest version (now `7.6.1`) and I'm on Linux Mint 19.3 as well.
I'm not using nvm but using node `14.16.0`.
I'm currently already on npm version `7.6.0`, but attempting the upgrade (`npm i -g npm`) gives a similar error:
[code]

[2021-03-05 13:58] techiewmvp opened #2827 "An error occurred while installing clasp"
92 error cb() never called!
[2021-03-05T13_01_03_577Z-debug.log](https://github.com/npm/cli/files/6090889/2021-03-05T13_01_03_577Z-debug.log)

[2021-03-05 14:35] WORMSS opened #2828 "[BUG] npm link confused by symlinks (windows)"
### Current Behavior:
I am creating a `npm link` to a package I am creating, and `npm link` creates a link to the wrong location.

### Expected Behavior:
Create a link to the correct folder.

### Steps To Reproduce:

**Environment:**

- symlink directory: `c:\code` to `c:\Users\WORMSS\code` _< because I am lazy and don't want to type the full path all the time_
  - See (1) in image
- config prefix

[2021-03-05 15:55] jakubjosef opened #2829 "[BUG] package.json and package-lock.json order is different when used Czech locale"
### Current Behavior:
package-lock and package.json order is different when used non English (Czech) locale

### Expected Behavior:
Sorting should be locale-agnostic to not change package-lock JSON back and forth.

### Steps To Reproduce:
1) Clone repo created with English locale
2) Run npm install
3) I see different order for packages with `ch` in name (eg. chai)

### Environment:
- OS: macOS 11.

[2021-03-05 17:18] noneedinmagic opened #2830 "[BUG] `npm version` removes "_moduleAliases" part of package.json"
### Current Behavior:

After updating my local `npm` to 7.x running `npm version <patch|whatever>` command leads to removal of `"_moduleAliases"` from `package.json` which leads to breaking of the build proccess of my TS-based server app on NodeJS.
"_moduleAliases" is needed for the [module-alias](https://www.npmjs.com/package/module-alias) package.
A few days ago when I was using npm@6 on my loca

[2021-03-05 17:22] metasean commented on #2556
I'm running into the same bug with:
OS: MacOS Catalina
Node: v14.16.0
npm: 7.6.0

edited: I was in the wrong terminal when I initially ran my node -v and npm -v 😞 ; these values are from the same terminal as the non-responsive command.

[2021-03-05 17:40] metasean commented on #2556
Based on a cursory search, it looks like this is the PR where the exitCode was removed - https://github.com/npm/cli/commit/3743a42c854d9ea7e333d7ff86d206a4b079a352#diff-fcab44373f1f924f030ce92d009f10ab53d45e7a55422870b55f3c7f8af1796d

[2021-03-05 17:51] DeeDeeG commented on #2787
I was doing a rebase today and that reminded me:

Rebases where there's a merge conflict in `package-lock.json` are super common. I have a habit of running `npm install --package-lock-only` to resolve these, which is [mentioned as one of the recommended ways of fixing these conflicts in the npm v6 docs](https://docs.npmjs.com/cli/v6/configuring-npm/package-locks#resolving-lockfile-conflicts). I'd

[2021-03-05 17:52] gfyoung commented on #2556
@metasean: Nice catch!

@claudiahdz @ruyadorno: Was there a reason for the exit code change?

[2021-03-05 21:28] adam-coster opened #2832 "[BUG] Fails install on platform-unsupported optional dependency"
### Current Behavior

Installing an npm package that has an optional but platform-incompatible dependency (in this case, `fsevents`) completely fails on Ubuntu 20.04 (while working properly on Windows 10).

### Expected Behavior:

Failure to install optional dependencies should not result in complete failure to install.

### Steps To Reproduce

+ Open a terminal in Ubuntu
+ `npm init -y` (to creat

[2021-03-06 00:57] atao60 opened #2833 "[BUG] rendering unicode emoji in README.md not consistent with Github"
### Current Behavior:
Github replaces native unicode emoji with png image, i.e. something like:
`<g-emoji class="g-emoji" alias="shield" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f6e1.png"><img class="emoji" alt="shield" src="https://github.githubassets.com/images/icons/emoji/unicode/1f6e1.png" width="20" height="20"></g-emoji>`

npmjs.com keeps the native unicode,

[2021-03-06 07:00] darcyclarke commented on #2833
Hey @atao60! Thanks for filing this, unfortunately this issue thread is only meant for `npm` CLI bugs; If you have feedback about the website or registry, feel free to create a new discussion over on https://github.com/npm/feedback and/or if you have an issue with the registry or website, feel free to file a suppoet ticket here:  https://www.npmjs.com/support

[2021-03-06 07:00] #2833 closed, assigned to nobody

[2021-03-06 07:04] darcyclarke commented on #2832
Have you tried running `install` with either `--legacy-per-deps` and/or `--force` ?

[2021-03-06 09:50] waitem opened #2834 "[BUG] unable to publish when using publishConfig option - ERR_INVALID_ARG_TYPE"
### Current Behavior:
When running `npm publish` the following error appears:
[code]

The debug trace shows:
[code]

### Expected Behavior:
npm publish to continue working as it did in version 6

### Steps To Reproduce:
1. In this environment...
Ubuntu 20.04
 Node 14.16.0
npm 7.6.1
2. With this config...
The package is configured to be published to github as per: [github instrutions](https://docs.

[2021-03-06 14:32] fraxken opened #4288 "[QUESTION](arborist) Can i use Arborist with data from pacote.manifest ?"
# What / Why
Hello on the project [nsecure](https://github.com/ES-Community/nsecure) we are working on an implementation of npm audit. Because i'm already using Arborist for the local analysis [here](https://github.com/ES-Community/nsecure/blob/master/src/depWalker.js#L202) we can easily use the .audit() method to implement warnings to the analysis.

But when we are working with a remote package w

[2021-03-06 15:14] Feder1co5oave commented on #2117
I also experienced this annoying bug after upgrading npm (on Ubuntu 18.04, installed via nodesource).

[code]
I reinstalled `nodejs` via apt. NPM was downgraded back to 6.x:

[code]
This fixed the issue. Is npm 7.x not compatible with node 14.x? If so, why is it upgraded by `npm install -g npm` ?

[2021-03-06 15:25] mshima opened #4287 "[BUG] Developing linked packages experience is bad."
# What / Why

Developing coupled packages linked with npm link is not optimal.
1. `npm link` breaks the linked package.
2. `npm link` removes others links. (regression from npm 6)

## When

Developing/testing linked packages together

## Where

* n/a

## How

### Current Behavior

* n/a

### Steps to Reproduce

Preparing the environment
[code]

Reset the environment
[code]

1. `npm link` breaks th

[2021-03-06 15:27] ljharb commented on #4287
This repo is for arborist; this sounds more like something that belongs on https://github.com/npm/rfcs or https://github.com/npm/cli

[2021-03-06 15:32] nlf commented on #2117
npm 7.x is definitely supported on node 14

are any of you able to create a reproduction case for this? if you’re able to share your package.json and package-lock.json that would help too. we haven’t been able to reproduce this one, so any help in that would be the first step toward getting it fixed

[2021-03-07 03:10] TurtleWolfe commented on #2291
I deleted all my node modules and the package-lock.json then the new install automatically replaced all of my node modules

[2021-03-07 10:25] sibishan commented on #2820
I also ran in to this today 😵. How did you solve it?

[2021-03-07 13:55] iitsmel commented on #2820
I deleted  the whole file and created a new one. Problem solved but I had no idea why. Still looking forward to a more productive solution. Highly not recommend if your project is a collaborate / huge one.

[2021-03-07 15:51] lmoustak opened #2835 "[BUG] EINVALIDPACKAGENAME on npm update -g"
### Current Behavior:
Running
[code]
without specifying any package - i.e. update all global packages, throws this error:
[code]

Specifying package(s) will update these packages with no problems.

### Expected Behavior:
npm updates all global packages normally.

### Steps To Reproduce:
run `npm update -g` in a terminal (either command prompt or powershell)

### Environment:
- OS: Windows 10 19042

[2021-03-07 16:01] ljharb commented on #2835
What does `npm ls -g --depth=1` print out?

[2021-03-07 16:02] ljharb commented on #2835
(separately, npm update -g should be erroring out, since it doesn’t make sense to update a package.json that doesn’t exist)

[2021-03-07 16:04] lmoustak commented on #2835
[code]

I thought `npm update -g` didn't need a package.json.

[2021-03-08 05:57] sibishan commented on #2820
This problem got solved but I don't how did I solve 😅 and Thank You for helping out 🙏🏾

[2021-03-08 07:04] kumavis commented on #4289
so i setup a set/get for Node.prototype.resolved and recorded all sets callee via error.stack parsing
here are all resolution sets https://gist.github.com/kumavis/699a356a908b61e4f7bc6599e5540044

majority are resolved and look like this:
[code]
there a dozen or without resolved https://gist.github.com/kumavis/dd779854be652536cc0850e740b40860
and they all look like this
[code]
theres lots of abort

[2021-03-08 07:19] kumavis commented on #4289
many many edges are skipped because `edge.valid` is false, but these dont correspond to the nodes without `resolved` set

[2021-03-08 08:39] ym-project commented on #2704
I was extremely surprised when `npm up` command didn't update package.json file. I really hoped that it was a cli bug but @darcyclarke upset me :(

[2021-03-08 10:09] sandyrawat opened #2837 "how to extract roles from access token in Angular-oauth2-oidc"
I am using angular-oauth2-oidc lib for single sign-on. After successful login, I want to fetch roles from the access token. But as of now, there is no direct method which can parse token and gives its internal attributes.
Is there any way via which can get all the roles or other attributes of the token? Any help would be much appreciated.

[2021-03-08 10:56] ray007 opened #2838 "[BUG] global update fails on windows"
### Current Behavior:
As already [noted by someone else](https://github.com/npm/cli/issues/2639#issuecomment-775490191), there seems to be a problem with install/update of global packages:
[code]
[2021-03-08T10_46_40_199Z-debug.log](https://github.com/npm/cli/files/6100819/2021-03-08T10_46_40_199Z-debug.log)

### Expected Behavior:
Packages get updated.

### Environment:
- OS: Windows 10
- Node: 1

[2021-03-08 12:14] FingalP commented on #2834
We had the same issue. The workaround works for now, thanks @waitem

[2021-03-08 14:42] nlf commented on #2741
good news: i can reproduce this issue now!
bad news: i'm still not entirely sure what's going on, but now that i can reliably reproduce the problem it should be fixable

[2021-03-08 15:28] danse commented on #2639
Same issue here, with NPM 6.14.11. In my case the error is triggered when trying to downgrade NPM
[code]
The detailed log doesn't seem to add much info in this case

[2021-03-08 15:34] nlf commented on #2741
ok, i believe i've determined a root cause.

what happens is when installing from a known git provider, even when you specify the url via ssh, we attempt to fetch a tarball from that provider first. in the case of gitlab, this redirects to a sign in page with a 503 status code.

we see that 503 and interpret it as a failure we can retry, so we apply an exponential backoff and retry again. and then

[2021-03-08 15:48] danse commented on #2639
Turns out that my Ubuntu was running on WSL 1:
[code]
After updating the version, the `npm` command worked without problems:
[code]

[2021-03-08 17:41] adam-coster commented on #2832
Weird. I went to test that out by first updating `npm` back to `7.6.1`, then deleting the `node_modules` folder, and then running `npm i`, and this time it installed without error. I guess this is closed? If it happens again I'll try out your suggestions, thanks!

[2021-03-08 17:41] #2832 closed, assigned to nobody

[2021-03-08 18:08] DeeDeeG opened #2839 "[BUG] config var "`node-gyp`" not respected in npm 7"
### Current Behavior:

Unlike in npm v6, the `node-gyp` config var is not respected.

(This config option sets a custom path to a working `node-gyp` install's `bin/node-gyp.js` file. When set, `npm` will attempt to use this copy of `node-gyp` if executing `node-gyp` to build native C++ code.)

### Expected Behavior:

`node-gyp` at the custom path is used. (At the path set in the `node-gyp` config

[2021-03-08 18:17] donaldev commented on #611
Any update on this? Still can't get NPM working. Tried using "force" flag and still nothing. Now I keep getting 'npm: command not found'.

[2021-03-08 18:36] ishanjain28 opened #2840 "[BUG] install --only option not working as intended"
### Current Behavior:

I have a package.json like,

[code]

When I run, `npm install --only dev` It still,

1. Looks for packages in `dependencies` block.
2. Tries to build the packages in `dependencies` block.

### Expected Behavior:

It should completely ignore the `dependencies` block and only look for, And build dependencies in `devDependencies` block.

### Steps To Reproduce:

1. Put the foll

[2021-03-08 19:00] PierrickGT commented on #2818
Had the same problem on Mac OS when running `npm install -g npm@7.6.1` it works perfectly by running `npm install -g npm@latest`
Hope it helps :)

[2021-03-08 19:32] darcyclarke commented on #2731
In-Review PR to resolve this: https://github.com/npm/run-script/pull/22

[2021-03-08 19:44] darcyclarke commented on #2791
Closing as this should have gotten resolved in https://github.com/npm/cli/pull/2803  (ie. `v7.6.1`) Please let us know if there are any other issues

[2021-03-08 19:44] #2791 closed, assigned to wraithgar

[2021-03-08 20:39] paulvandenburg commented on #2818
Just retried the same `npm i -g npm` and it succeeded this time. Maybe there was some quirk in the npm repos that has been resolved in the mean time?

[2021-03-08 21:20] zackdotcomputer commented on #2800
This also crops up with Tailwind's instructions for using it with Create-React-App, which are based on an alias as well: https://tailwindcss.com/docs/guides/create-react-app

`npm install -D tailwindcss@npm:@tailwindcss/postcss7-compat`

[2021-03-08 21:36] isaacs commented on #2726
Added a note: https://gitlab.com/gitlab-org/gitlab/-/issues/275992#note_524624026

In the meantime, it _might_ make sense for exec to do a `fullMetadata:true` manifest request if the one we get doesn't have any bin present, on the assumption that you _probably_ picked a thing that you expect to have a bin already, so the filtering might be doing the wrong thing.

[2021-03-08 22:58] wraithgar commented on #2443
This bug has been partially fixed as of at least `v7.6.1`. If you do specify the `@latest` in the spec it will install from the registry, even if the latest version matches what's on disk.

There is still a bug with leaving off `@latest` that we are looking at. Will keep this issue open to track that part.

[2021-03-08 23:51] sprise commented on #2117
I had this problem on Ubuntu 18.04 with NPM 7.6.0 and NodeJS v15.11.0. Got the error "must provide string spec" and the debug log did not have a smoking gun in it.

I kicked my tiny package.json and created a new one, and then reinstalled all dependencies without issues. Did not need to downgrade NPM, could not reproduce the problem after that.

[2021-03-08 23:51] stradicat commented on #2835
With previous versions of `npm`, one could update system-wide _node_ packages, such as those needed by some editors like _Emacs._
Running `sudo npm upgrade -g` worked for that purpose. Something seems to have changed, however.

[2021-03-09 00:07] scamden commented on #2443
great! that alone is a huge win and unblocks us, really appreciate it.

On Mon, Mar 8, 2021 at 2:59 PM Gar <notifications@github.com> wrote:

[2021-03-09 00:24] nVitius commented on #2741
@nlf thanks for looking into this.

I feel that Gitlab should be returning a 401 for these requests instead. A quick search on their issue tracker didn't bring up any existing threads about this; I'll create an issue with them to see if they would be open to that change.

Either way, I'll use the `fetch-retries` config option for now. Thanks for the suggestion.

Also, could you link to the code th

[2021-03-09 07:48] lmoustak commented on #2835
Just checked the
[code]
directory. There was a `.bin` folder which was a copy of `npm\bin`, and a `.package-lock.json`.

`npm update -g` apparently scanned that directory and threw an error when it found something with a period as the first character. I moved the offending file and directory into the Recycle Bin and it works now.

[2021-03-09 08:43] snebjorn opened #2841 "[BUG] Ubuntu Github Action fails to login to GitHub package registry after updating to NPM 7.6.1"
### Current Behavior:
After I updated the NPM version by running `sudo npm install -g npm@latest` in my GH action I started getting a login error.
I found a few issues related to login issues with NPM 7 but they're all for prior versions to NPM@7.6.1 and they claim to be fixed.

The setup was working before updating NPM.

Error output:
[code]
My GH action config. I left in the caching part. But I

[2021-03-09 09:14] Fadoli commented on #2834
Having the same issue here,

an other workaround (if you don't want to modify all your publish config) is  to modify line 51 of flat-options.js to

[code]

[2021-03-09 09:49] thany commented on #2639
WSL2 is a no-go, because it uses Hyper-V, which blocks all other virtualization tools.

[2021-03-09 09:51] neyb opened #2842 "[BUG] error publish without cache config in package.json / publishConfig"
### Current Behavior:
running `npm publish` get an error :

[code]

### Expected Behavior:
it should be a success

### Steps To Reproduce:

- remove any "cache" config
- `npm publish` on a working project

### Environment:
wsl archlinux
node v15.11.0
npm  v7.6.1

### workaround
adding "cache":"~/.npm" in package.json solves the problem.

### fix

I guess list[0] [here](https://github.com/npm/cli/b

[2021-03-09 09:54] 6uzm4n opened #2843 "[BUG] "ERR! must provide string spec" when running "npm install""
### Current Behavior:
When I run "npm install" in one specific project, I get the message:

[code]

The log file:

[code]

### Expected Behavior:
The instalation happens normaly

### Steps To Reproduce:
I'm running the command with a fresh install of node and npm. It works well in other projects.

### Environment:
- OS: Manjaro
- Node: 15.11.0
- npm: 7.6.1

[2021-03-09 09:59] neyb commented on #2842
note : might also be the cause of #2843 (also seems to miss a default config)

[2021-03-09 10:08] 6uzm4n commented on #2843
Hey  @neyb I saw the issue you related. Are you able to fix it just by adding `"cache":"~/.npm"` to the package.json root?

[2021-03-09 11:25] codingthat commented on #2818
Interesting that the different formats give different results even though they target the same version in the end!  Maybe that's the easiest way to fix the notification text so that it's universally applicable, then...

[2021-03-09 13:43] moha-wasefy commented on #681
Hello, if you didnt solve it yet, follow this:

**Update node js to latest version**

1) sudo npm install -g n
2) sudo n latest
3) sudo npm install -g npm
4) hash -d npm
5) npm i

**[Source](https://www.cyberhour.com/community/threads/how-to-fix-npm-err-typeerror-error-missing-required-argument-1.262/)**

[2021-03-09 15:05] bachandi commented on #2835
Have the same problem running global update without package:
[code]

With the log output:
[code]

`/usr/local/lib/node_modules/npm/node_modules` has a `.bin` folder but this is not the culprit as moving is didn't help. From the log file I couldn't figure out which `.bin` folder is bugging him.
Any ideas?

[2021-03-09 17:19] #2731 closed, assigned to nlf

[2021-03-09 18:10] #2443 closed, assigned to wraithgar

[2021-03-09 18:25] t1m0thyj commented on #2660
@darcyclarke @wraithgar Thanks for investigating this and updating the documentation. Can this issue please be reopened? I see the linked issue was closed, but the `preinstall` script is still implemented improperly in npm@7.6.1.

[2021-03-09 18:29] kalbert312 opened #2844 "[BUG] npm 7.x: updating git dependency branch and/or refetching branch not working."
After upgrading from 6.x to 7.x I'm having trouble updating git-based dependencies.

### Steps To Reproduce:

Setup:
[code]
The git dependency uses `npm prepare` to build the project on demand when installed. No dist files are git controlled.
I pushed changes I want to test to a new branch on remote.

Steps:

1. Update the git dependency version to a new branch to test changes:
[code]
2. Run `npm

[2021-03-09 19:43] nlf commented on #2660
today in npm 7 the `preinstall` script is working as intended for the majority of use cases. what you're asking for isn't unreasonable, but would create a new class of problem wherein a `preinstall` script cannot leverage any dependencies. resolving for that problem is why `preinstall` behaves the way it does.

i would suggest [opening an rfc](https://github.com/npm/rfcs) where we can start a disc

[2021-03-09 19:45] ljharb commented on #2660
By its name, "preinstall" should not have any dependencies available. imo that it runs after they're installed is just as much of a naming blunder as "prepublish" running on "not just before publish".

[2021-03-09 19:48] nlf commented on #2660
you're not wrong, to be honest a lot of our lifecycle scripts are poorly named and don't run exactly when you expect. that's why there's both a `prepublish` and a `prepublishOnly`. we have a lot of technical debt here, but changing the expectations about how lifecycle scripts work is a glacier of a breaking change.

the best we can do right now is clearly document when scripts run and what's avail

[2021-03-09 19:54] isaacs commented on #611
I don't believe the main issue here is OS specific.  It is dependent on the version of npm installed, and the way in which it is installed.  It is possible that a _different_ issue is preventing a global npm install to a shared drive with a different underlying file system (like a Windows or Linux VM for example), but that is likely fixed by the update to `@npmcli/move-file` that was done in a rec

[2021-03-09 20:03] nlf commented on #2741
thanks for following up with them about that, i tend to agree with you that the 503 they currently respond with isn't the right thing to do, but browser checks are weird critters. i'm hopeful we'll find that they agree and can change it to simplify this for everyone.

fetch-retries are handled in `make-fetch-happen`, we determine if a request can be retried here: https://github.com/npm/make-fetch-

[2021-03-09 20:03] #2741 closed, assigned to nlf

[2021-03-09 20:31] nlf commented on #2660
a lot of the confusion here is that `install` is an event as well as a script, and in npm terms today `pre` and `post` mean before and after the script _not_ the event. since we run the `install` script after we've already installed the package, that means that `preinstall` also runs after the package has been installed, immediately before the `install` script.

i agree it's not very intuitive, an

[2021-03-10 00:04] stradicat commented on #2835
Well, I had forgotten to do something a bit simple yet revealing:

`ls /usr/lib/node_modules/ -lha`

Many `.module_name` packages, probably left over from an aborted installation.
I `rm -rf`'ed each of them, ran `sudo npm upgrade -g` again, and no errors were shown.

[2021-03-10 01:14] isaacs commented on #4287
@ljharb Well, to be fair, if there's a bug in the workflows described, it almost certainly is a bug in Arborist, so this isn't an _entirely_ inappropriate place to post it.

@mshima We just published a new npm version with a fix that might be relevant here.  Can you `npm i npm -g` and retry?  If it still occurs, please let us know.  In the meantime, I'll try to reproduce and see if anything jumps

[2021-03-10 01:17] isaacs opened #4286 "[FEATURE](arborist) support specifying the lockfileVersion as an option"
Set `options.lockfileVersion` to a number between 1 and 3, to tell arborist how to save the lockfile/shrinkwrap.

1. Do not include `packages` section, only `dependencies`, a la npm v6.
2. What we do by default, both `packages` and `dependencies`.
3. Do not save `dependencies` and do not include the root node in the lockfile (what we do for hidden lockfiles today).

[2021-03-10 02:39] feross opened #2846 "[BUG] package-lock.json integrity value for git dependencies depends on the architecture (Apple Silicon M1 differs)"
### Current Behavior:

The `package-lock.json` integrity value seems to depend on the OS/architecture. Take the following git dependency which specifies a commit hash:

[code]

The integrity value produced is different on these OSes/architectures:

- Ubuntu 20.04, and macOS 11.2.3 (Intel): `sha512-DnBTbDDxd9/9mwPehyraeuRTbNEqbWLcAdE3GC1trdBWWwKnkWsaU/X6mVLIKKB/IYWmG+cnL3ihg/Ql/rW5kg==`
- macOS 11.

[2021-03-10 02:48] feross commented on #2846
I've included both the Intel and M1 gzipped tarballs here, if that's helpful: [Archive.zip](https://github.com/npm/cli/files/6112800/Archive.zip)

[2021-03-10 06:42] neyb commented on #2843
Hi the problem I encounter was related to a default option not being applied. While it could be the origin of the big you encounter, then the workaround wouldn't work in your case

[2021-03-10 06:49] neyb commented on #2843
Looking at the code make me think npm does not find the spec (version) of a dependency. In which case the problem is probably not default options.

[2021-03-10 06:49] isaacs commented on #2741
The root cause of this should be fully addressed (and the workaround thus unnecessary) when https://github.com/npm/pacote/issues/65 is landed.

[2021-03-10 07:01] reggi commented on #2846
I have both M1 and Intel mac, let me know if I can be of help.

Here's the intel response:

[code]

Here's the M1

[code]

[2021-03-10 07:06] isaacs commented on #2610
@uhop I'm confused by why it might be working with `npm i` but not with `npm ci`.  Are you using `npm v7`?  Is there a full `node_modules` tree present?

In npm v7, `npm ci` is essentially just `rm -rf node_modules ; npm i`.  They call into the exact same code path, so I'd be surprised if they worked significantly differently with respect to resolving git deps.

[2021-03-10 07:11] Myriachan commented on #2846
A friend linked me this, and I just wanted to point out that relying on compressed data to match on all machines given the same uncompressed input is rife with problems.  Implementations of Zlib exist that use hardware acceleration instructions, and they do not take care to ensure that each accelerated version will come up with the same compression as every other implementation.

As an example, th

[2021-03-10 07:39] bachandi commented on #2835
Thanks for the push. There where was `/usr/local/lib/node_modules/.bin` with its content also in `/usr/local/bin`. Now after removing `/usr/local/lib/node_modules/.bin` the upgrade via `npm upgrade -g `works again.

[2021-03-10 09:02] atao60 commented on #2833
See new discussion https://github.com/npm/feedback/discussions/274

[2021-03-10 09:51] tstibbs commented on #2804
I think this is a dupe of #2610?

[2021-03-10 10:08] tstibbs commented on #2610
For the benefit of anyone looking for a workaround who struggled to understand the conversation above, if you are installing something from a public github repo and want to force https, this should work:

    npm install git+https://<githubUsername>@github.com/<project>/<repo>.git

It potentially doesn't matter what github username you use, because everyone can access public repos. The use of the

[2021-03-10 11:21] theaungmyatmoe opened #2847 "[BUG] NPM CLI error"
### Current Behavior:
I get npm  cli error

### Expected Behavior:

### Steps To Reproduce:

[code]

I get  npm error itself.
Error log:
[code]
### Environment:

- OS: Android
- Node: 14.15.4
- npm: 7.6.1

[2021-03-10 11:39] hmoffatt commented on #2804
I agree.

[2021-03-10 12:10] jorenbroekema commented on #2127
https://github.com/npm/cli/issues/1700 noticed this one, seems like a duplicate, will test if my issue is fixed since 7.5.0

[2021-03-10 16:40] malsatin commented on #2842
Getting same bug.

Introduced here: https://github.com/npm/cli/commit/4a5dd3a5a200b3f4f7b47168497d8e03dca3a2ca#diff-c8bd325917d181608f40adecdcec3c76acde134cc15a9e4a0d18636698e4fe55

[2021-03-10 16:53] DeeDeeG commented on #2839
I tested this by "poisoning" a copy of `node-gyp` so I'd be sure if it was used or not.

Simply put this at the beginning of the `node-gyp/bin/node-gyp.js` file:

[code]

I used to be able to specify what copy of `node-gyp` `npm` used with the `node-gyp` config var, but this stopped working in `npm` 7.

---

I didn't see any RFCs about this, so it's either an undocumented behavior change, or it's

[2021-03-10 17:37] royalcala opened #2848 "[BUG] sh: 1: version: not found"
### Current Behavior:

I use the next package https://www.npmjs.com/package/@vidalii/backend I try to buil a cli/bin package,
and when I write all the dependencies that has package copy, it doesnt work anymore, inclusive if I return to the simple file of print only a simple console.log; neither works with npx or npm exec and the error showed is sh: 1: version: not found

regards

### Expected Beha

[2021-03-10 17:57] toddself opened #2849 "[BUG] installing a package globally from a directory with local dependencies can fail"
### Current Behavior:
1. Create a package.json and install some packages that are required by something you want to install globally. (e.g. install @babel/core)
2. Try to install a package that has peer deps on those packages globally
3. It'll fail :(

[code]

### Expected Behavior:
The global install succeed regardless of the local state.

### Steps To Reproduce:
See current behavior

### Environ

[2021-03-10 18:00] ImSpeddy opened #2850 "[BUG] NPM Stopped working when updated."
I updated npm some days ago to 7.6.1 and npm stopped working. I opened a StackOverflow Thread for help (https://stackoverflow.com/questions/66533246/why-did-npm-stopped-working-after-an-update) but I couldn't do nothing

I've tried to reinstall node but it didn't helped me.
Every npm command gives me the same error.

Here is an example of what happens.

[code]

My enviroment is:
Windows 10 20H2
No

[2021-03-10 18:24] mshima commented on #4287
@isaacs I've tried the npm `7.6.2` and the problem persisted.
I've updated the expected behavior but it's really generic, since I don't know the consequence of the real fix.

IMO the real fix is to don't touch manually linked leafs.
Manually linked modules should be considered a valid (npm ci was executed) and independent tree and should not touched.

#### First problem:
It happens when a dependen

[2021-03-10 21:00] cinderblock commented on #1030
[code]

[2021-03-10 22:03] feross commented on #2846
I also felt like this design decision might have this issue, even with the `portable: true` option that is passed to `minizlib`. I wonder why they're not instead using the `.tar` file for integrity purposes?

[2021-03-11 05:51] ArchishmanSengupta commented on #2835
i am facing the same error but i can't find the `.bin` package inside the node_modules

[2021-03-11 10:38] #2127 closed, assigned to nobody

[2021-03-11 10:45] jorenbroekema opened #2852 "[BUG] Cannot set _auth without first setting email"
### Current Behavior:

[code]

So I try adding email to my npmrc directly, then:
[code]

Seems like doing `npm config set` gets rid of your email, no matter which key you are setting (including email itself)

### Expected Behavior:

- `npm config set` to not delete email setting
- npm config set _auth to work regardless of whether email is set.

### Steps To Reproduce:

1. Upgrade to latest npm 7

[2021-03-11 10:51] oleksii-lukin opened #2853 "postinstall not being executed for pngquant-bin on MacOS"
### Current Behavior:
One of subdependencies is `pngquant-bin` which have `postinstall` script which is not being executed now

### Expected Behavior:
`postinstall` should execute and generate `node_modules/pngquant-bin/vendor/pngquant` file

### Steps To Reproduce:
Do `npm ci` for this `package.json` file
https://github.com/llamerr/npm-postinstall-bug
and check content of `ls node_modules/pngquan

[2021-03-11 11:24] oleksii-lukin commented on #2853
I removed `package-lock.json` and did `npm i --force` again (some packages are incompatible, but seem to work fine) and it did `postinstall` properly this time. Should I close it or is it still a bug?

[2021-03-11 11:28] llamerr commented on #2853
Or no, disregard that. It worked on that test repo, but did not work in real repo. I still missing bin files even after removing `package-lock.json`

[2021-03-11 11:54] lf- opened #2854 "[BUG] npm suggests installing/publishing the `help` package; `help publish` is broken"
### Current Behavior:

Running `npm publish --help` tells you to run `npm publish help`:

[code]

Doing that gets:

[code]

Which I believe means it tried to publish the package called `help`!! Oh no!

I then tried `npm help publish` as seemed to make more sense, and it suggested "did you mean one of these? publish":

[code]

This was quite confusing!

Also, the buggy `npm publish help` type sugge

[2021-03-11 12:16] andycandy-de commented on #2751
I added the '--loglevel verbose' argument to the npm install ([install.zip](https://github.com/npm/cli/files/6122826/install.zip)). Unfortunately, the log is no more helpful for me. Maybe it helps someone else with the analysis.

[2021-03-11T11_58_19_324Z-debug.log](https://github.com/npm/cli/files/6122822/2021-03-11T11_58_19_324Z-debug.log)
[code]

The only thing I can say is that the error alway

[2021-03-11 12:59] luckman212 opened #2856 "[BUG] npm doctor erroneously reports permissions problem for nonexistent ~/node_modules & /.bin"
### Environment:
- OS: macOS 11.3
- Node: 16.0.0
- npm: 7.11.2

There's a problem with `npm doctor` reporting `not ok  Check the permissions of files in $HOME/node_modules (should be owned by current user)` for Perms check, even when those directories don't exist. Started around 7.5.x I believe, sorry not sure exactly which version. But continues as of 7.11.2.

![image](https://user-images.githubu

[2021-03-11 16:09] snebjorn commented on #793
I find comments invaluable! Currently we have to just remember or keep a separate document for stuff like this.

[code]

And no one looks at this sparate document until the house is burning. So in reality we just have to remember. And remember to tell new team members that they have to remember. It's not ideal.

JSON5 also supports trailing commas. Yet another quality of dev life feature that is v

[2021-03-11 16:33] ljharb commented on #793
JSON already supports comments:
[code]

I’d love to see npm ensure these aren’t dropped whenever it changed package.json.

[2021-03-11 20:01] ocket8888 opened #2857 "[BUG] ci command says I can get more info, but I can't"
### Current Behavior:
to figure out what the `ci` command does, I tried `npm ci --help`, which outputs
[code]

So, to figure out what is meant by a "clean" install, I tried to get "more info" using `npm ci help`. However, `ci` doesn't actually support the `help` sub-sub-command. If you try to do that, you wind up actually running a clean install as if you had just done `npm ci`.

### Expected Beha

[2021-03-11 20:07] #2199 closed, assigned to isaacs

[2021-03-11 20:36] ruyadorno opened #4285 "[BUG] Can't dedupe deps in workspaces/links with lockfiles"
# What / Why
When trying to deduplicate versions of a module in a linked dependency, running `npm install` will not work as expected.

## When
Given a package with a dep@<version> conflicting with a dep@<other-version> in a linked dependency, e.g:

[code]

Updating `a/package.json` to list a dependency on `abbrev@^1.0.0` will not result in a deduplicated install tree.

## How

### Before manually

[2021-03-11 21:46] lumaxis commented on #2714
Looks like this should have been fixed in 7.5.5, can this issue be closed?
@coreyfarrell Have you had a chance to validate that you're not seeing this anymore with the latest fixes?

[2021-03-11 21:48] uhop commented on #2610
@isaacs While I do use `npm v7` locally and it forms `package-lock.json`, code builds may run other versions. I just checked one AWS CodeBuild we have and it runs `node v12.18.0 (with npm 6.14.4)`. It is tripped by the existing `package-lock.json` and works only with `npm i`, which is not what I want.

The relevant portion of the log with versions and up to the warning (different version, but comp

[2021-03-11 22:29] ruyadorno commented on #2854
Fixed in `npm@7.6.3`

[2021-03-11 22:29] #2854 closed, assigned to nobody

[2021-03-11 23:47] snebjorn commented on #793
To me that looks like unintended usage to hack a workaround rather then support.

VS Code doesn't like it either
![image](https://user-images.githubusercontent.com/1266245/110870658-312ef680-82cd-11eb-9795-22a3827a8078.png)

[2021-03-11 23:55] ljharb commented on #793
It's quite intended, since JSON explicitly allows duplicate keys.

vscode being wrong doesn't make it a hack :-)

[2021-03-12 00:48] johnthad commented on #2834
This workaround does create a local directory `~` with the cache info (macOS 10.15.7).

[2021-03-12 05:08] yellowtailfan commented on #2834
I just encountered this bug, and the `"cache": "~/.npm",` work around caused a side-effect where the cache was written in the project folder (`<project>/~/.npm`) instead of my home directory. So I've reverted back to NPM 6.x instead. I'm using NPM in WSL2.

[2021-03-12 10:23] ustas4 commented on #417
11869 http fetch GET 200 https://registry.npmjs.org/typescript/-/typescript-4.2.3.tgz 449483ms
11870 timing reifyNode:node_modules/typescript Completed in 469850ms
11871 warn tar TAR_ENTRY_ERROR EPERM: operation not permitted, open 'C:\Users\stas.admin\Desktop\my-app\node_modules\recursive-readdir\test\testsymlinks\linkeddir\hi.docx'
11872 silly tar Error: EPERM: operation not permitted, open 'C:\

[2021-03-12 11:15] AlexWayfer commented on #793
Can you please proof your words? I didn't find info about in at json.org, and the question leads me here: https://stackoverflow.com/a/21833017/2630849

[2021-03-12 12:21] Zenuka commented on #564
Can we please re-open this issue @darcyclarke ? Or would you prefer I create a different issue for the functionality described above by nmm-shumway: https://github.com/npm/cli/issues/564#issuecomment-728097383

[2021-03-12 12:44] leepowelldev commented on #2619
Seems the issue also exists in Yarn:
https://stackoverflow.com/questions/48258087/how-to-use-different-yarn-registry-regardless-of-registry-in-the-yarn-lock-file

We're seeing similar issues in other teams now where for local development they're using a private internal registry (which upstreams to public npm), whose URL ends up in the lock file, and then when they come to deploy via CI are unable

[2021-03-12 14:16] DeeDeeG commented on #2857
The message is fixed in the most-recent npm v7.6.3. That version was released ~17 hours ago, so it's very new.

The `npm ci --help` command now correctly tells you to run the `npm help` subcommand:

[code]

Particularly:
[code]

Was fixed in this PR, apparently: https://github.com/npm/cli/pull/2855

[2021-03-12 14:19] grahaml commented on #2726
That's amazing - thank you very much @isaacs for taking the time to comment on their thread! Here's hoping it helps move the issue along on their side. Cheers!

[2021-03-12 15:37] ljharb commented on #793
See https://stackoverflow.com/questions/21832701/does-json-syntax-allow-duplicate-keys-in-an-object/21833017#comment33046713_21833017 and section 6 in the standard, which says “ does not require that name strings be unique” (https://www.ecma-international.org/wp-content/uploads/ECMA-404_2nd_edition_december_2017.pdf).

[2021-03-12 15:59] mindplay-dk commented on #793
I find both of these statements to be somewhat inaccurate.

Quoting section 3 of the ECMA-404 spec:

"Does not require" does not imply "explicitly allows" - and, in fact, it goes on to clarify:

In other words, the behavior is explicitly *undefined*.

VSCode can't be "wrong" on this point, since the behavior is explicitly undefined - it's really up to anyone what they want to do.

Highlighting thi

[2021-03-12 16:13] ocket8888 commented on #2857
Well, that command _works_, but it also doesn't really give me any more information:
[code]

That is: I still have no idea what a "clean" install is.

[2021-03-12 16:17] ljharb commented on #2857
`npm help ci` outputs that?

[2021-03-12 16:19] AlexWayfer commented on #793
Thank you.

I agree. And, for example, it means, that some JSON parsers can count the first duplicate key, others can the last one, there is no standard, guarantee, hereby (hacky) support of comments, returning to the subject.

[2021-03-12 16:34] darcyclarke commented on #2846
@feross thanks for filing this - we'll take a look right away (apologized it wasn't triaged quicker)

[2021-03-12 16:37] ocket8888 commented on #2857
Yeah:
![image](https://user-images.githubusercontent.com/6013378/110969948-7cb9c280-8316-11eb-8691-e5bd6bcf0239.png)

[2021-03-12 17:00] DeeDeeG commented on #2857
I just tested this in Manjaro in a VirtualBox VM... Seems like Arch may have inadvertently broken `npm help` somehow for npm 7.

- ✅  npm 6 works (from the Manjaro package repositories); It can do `npm help ci` just fine. It displays an interactive (scrollable, searchable) manpage just like it does for me on macOS.
- ❌  npm 7  doesn't work (also from the Manjaro package repositories); It prints th

[2021-03-12 17:03] DeeDeeG commented on #2857
If you do this on Arch, you can see the manpage as it's meant to be displayed:

- `mkdir get_npm_as_a_module && cd get_npm_as_a_module && npm init -y`
- `npm install npm@7`
- `npx npm help ci`

So, npm as it's published to the npm package registry is fine and not broken. Only the custom Arch-packaged version of npm 7 is broken in my testing.

[2021-03-12 17:13] DeeDeeG commented on #2857
@ocket8888 `npm ci` is a lot like `npm install`, with a few key differences. It's pretty well-documented here: https://docs.npmjs.com/cli/v7/commands/npm-ci

[2021-03-12 18:01] like-me4 commented on #2842
Updated npm and got the same problem. On version 7.5.4 everything worked well.

[2021-03-12 19:04] #2424 closed, assigned to nobody

[2021-03-12 19:25] ljharb commented on #2857
@DeeDeeG in that case, it seems like a bug should be filed on arch, since npm does not officially distribute itself anywhere but it’s own install script or the npm registry itself.

[2021-03-12 19:33] darcyclarke commented on #2643
@ljharb apologize this didn't get picked up earlier, can you just confirm this is still happening in the latest version?

[2021-03-12 19:41] darcyclarke commented on #2650
@talsi sorry about the confusion, we should probably be throwing in these cases since our intent is not to allow `workspace` definitions outside of the root. Our docs should be more clear about this &/or we may allow for this in the future - although that would be a net-new feature/support.

[2021-03-12 19:44] DeeDeeG commented on #2857
Arch Linux has a bug tracker, with the bugs for their custom `npm` package viewable here: https://bugs.archlinux.org/?project=5&string=npm

Link to file a new bug (I assume you need an account at their site to do so): https://bugs.archlinux.org/newtask?project=5&product_category=33&item_summary=%5Bnpm%5D+PLEASE+ENTER+SUMMARY

[2021-03-12 19:45] #2671 closed, assigned to nobody

[2021-03-12 19:49] darcyclarke commented on #2672
@DmitriyZverev this seems to be working as intended; You can resolve this by removing the workspace dep on `foo@1.0.0-dev.0`

[2021-03-12 19:49] #2672 closed, assigned to nobody

[2021-03-12 19:52] darcyclarke commented on #2674
@PhiLhoSoft appreciate this... we thought we got pretty **far** with v7... but we have more work to do to go the **distance**... we didn't mean to give you a bad **time**... looks like a quick/simple win for a first contribution -> the right place to update this is in: https://github.com/vercel/ms#readme

[2021-03-12 19:52] #2674 closed, assigned to nobody

[2021-03-12 19:53] darcyclarke commented on #2677
@Fcscanf can you try reproducing this on the latest version of `v7` (ie. `npm i -g npm`)?

[2021-03-12 19:54] ruyadorno commented on #2674
ref: https://github.com/vercel/ms/issues/134

[2021-03-12 20:27] ljharb commented on #2643
Confirmed, it's still happening.

On latest master of eslint-plugin-react, I followed the repro steps with a date of `2021-02-22`, and got:
[code]

[2021-03-13 01:13] DeeDeeG commented on #2857
Filed as an Arch bug: https://bugs.archlinux.org/task/69969

I have no comment on the very interesting task number that was assigned.

[2021-03-13 01:28] Fcscanf commented on #2677
@darcyclarke Yes, I have recovered, thank you

[2021-03-13 01:28] #2677 closed, assigned to nobody

[2021-03-13 04:24] aaaidan commented on #1108
I'm also encountering this behavior on npm 6. I can't find this documented or talked about much. I _assume_ it's an npm bug. It's certainly surprising behavior, to me at least, and I can't think of a good reason for it.

Interestingly, this weirdness is _not present_ on npm 7. That is, If you install a repo url dependency, fresh clones will correctly install at the changeset it was originally inst

[2021-03-13 05:23] aaaidan commented on #1108
Just confirmed that this issue can be reproduced with file urls to local git repos, which is much easier to play around with than remote urls.

Assuming a "client" project at
`/Users/me/absolute/path/to/client`

and a `library` npm package and git repo at
`/Users/me/absolute/path/to/test-library` ...

Let's install the library.

[code]

As expected, this installs to `node_modules`, and updates `pa

[2021-03-13 16:03] simoncpu commented on #2548
I am experiencing this on npm v7.6.1 as well: I ran `npm update` on AWS-CDK.

[code]

[2021-03-13 19:08] ajeetshah commented on #2117
To **solve** it, I had to delete **package-lock.json** file.

[2021-03-13 20:03] ThreePalmTrees commented on #564
It's definitely needed,
I have a dev dependency that uses chromium, and every time I run `npm ci` it re-downloads it again (~118 MB)

What worked for me:
1- Run `npm ci` initially
2- Link a module (normal dependency)
3- Run my app to check a behaviour
4- ~Run `npm ci` to stop using the linked module -- removes node_modules and downloads all modules from npm registry~
4- Run `npm i --production` wh

[2021-03-13 20:17] knopkem opened #2861 "[BUG] npm 7 fails to fetch prebuilds"
### Current Behavior:
Importing dependencies that use prebuild (c++ build with native api)

### Expected Behavior:
Should install correctly

### Steps To Reproduce:
1. With npm 7 (previous versions work)
2. install dependency that uses prebuild, e.g. ```npm i dicom-dimse-native```

### Environment:
- OS: Windows 10
- Node: 15.11.0
- npm: 7.6.3

[2021-03-14 03:14] pablo-mayrgundter commented on #2645
Same problem here!

I notice I get slightly different errors with npm 6.14.11, and 7.5.3 (below) but both are errors parsing downloads.

[code]

[code]

[2021-03-14 14:36] 1nVitr0 commented on #1637
I'm experiencing the same problem recently. First I thought I messed up my CI, but when I manually login to github packages using my personal access token I get the same error.

My process:

[code]

When i run `npm publish` I receive a 404 error:

[code]

### UPDATE

Nevermind, I had an outdated repository URL and package name in my package.json. Updating that fixed the Error. But getting a 404 mo

[2021-03-14 19:47] eli-schwartz commented on #2857
The basis for this issue is that Arch does this:

[code]

The idea, in principle, is to let people use the system manpage mechanism to find manpages. So `man npm-ci` works but `npm help ci` does not -- because `npm help` does its own lookup in private directories.

Something like the git approach might be a better idea, where every man page is either git-{foo} for a git command, or git{foo} for so

[2021-03-14 20:17] fishcharlie opened #2862 "[BUG] Global Installs Show Audit Info But Can't Get Info"
### Current Behavior:

[code]

### Expected Behavior:

One of the two options:

1. Shouldn't display audit information when installing globally
2. Allow for `npm audit -g` to work and display audit information

Currently it's **useless** to display audit information on global installs if we can't get details about it.

### Steps To Reproduce:

See above Terminal output

### Environment:

- OS: mac

[2021-03-14 23:37] pmclachlan commented on #2842
Same bug.

A note for others, at least for me, the workaround line   ("cache": "~/.npm") needed to be added **inside** publishConfig in package.json, not at the top level.

(Actually, getting a bunch of other weird bugs on this latest version too -- will have to roll back.  For example, even after the workaround, after I publish, when I 'npm install mything@latest' it doesn't actually pick up the

[2021-03-15 00:41] jayjupdhig commented on #2187
Question is still pendent - so thanks in advance for any feedbacks...

[2021-03-15 02:44] cwilliamsonslyp opened #2863 "[BUG] NPM deletes project files referenced by devDependencies when --production is used"
[npmBug.zip](https://github.com/npm/cli/files/6138471/npmBug.zip)
### Current Behavior:
When `npm i --production` is called, all project files referenced in devDependencies are deleted

### Expected Behavior:
npm doesn't delete our project files

### Steps To Reproduce:
1. Run `npm i --production` in the `main` directory of the attached zip.
2. The `dependencies` folder will be deleted as a result

[2021-03-15 04:38] unknown08032017 commented on #2421
Hello! Have you solved the error? I got it.

[2021-03-15 04:39] unknown08032017 commented on #2421
Hi!
Have you solved the error? need help me.

[2021-03-15 04:39] unknown08032017 commented on #2421
Привет!
Вы устранили ошибку? нужна мне помощь.

[2021-03-15 08:05] stheine commented on #2834
experienced the same in `npm 7.6.3` and `node v14.16.0`. found a workaround by completely removing the `publishConfig` section from the `package.json`.

[2021-03-15 08:42] dmaicher commented on #2011
I'm also noticing some performance regression after upgrading to npm 7.

Below some benchmarks where npm 7 is always slower than npm 6 in my case.

1. install (no cache, no `node_modules`) using `time npm ci --no-audit --no-save`

| npm version | time |
|---|---|
| 6.14.11| 1m2s |
| 7.6.3 | 1m30s |

2. install (populated cache `~/.npm/_cacache/`, no `node_modules`) using `time npm ci --no-audit --

[2021-03-15 08:53] sleshJdev commented on #1637
Hi

DId someone proceed with this error in CI? I came across the same error in GitHubActions. This is how workflow looks like
[code]

[2021-03-15 09:23] talsi commented on #2650
@darcyclarke

i think having built-in support for this will be much appreciated.
it's a very productive feature and it's unfortunate that it can't be used for legacy projects (it's not easy, to say the least, moving existing projects around into other projects).

fyi,
as a workaround, if anyone else is interested, you could -

1. symlink 'library-project' into the root folder ('main-project') manu

[2021-03-15 09:27] noeljp1999 opened #2866 "appium installation error"
[
[2021-03-15T09_23_38_060Z-debug.log](https://github.com/npm/cli/files/6140222/2021-03-15T09_23_38_060Z-debug.log)
](url)

[2021-03-15 09:46] HomyeeKing opened #2867 "[peerDepency] can't resolve the optional peerDepency"
### Current Behavior:
 Could not resolve dependency:

obiviously it's an optional peerDenpendency, so why this is can't be resolved

### Expected Behavior:
just skip over the optional peer

### Environment:

[2021-03-15 13:48] jansepke opened #2868 "[BUG] npm audit does not exit with exit code 1 if a vulnerability is found"
### Current Behavior:
Running npm audit in a reposity with a vulnerable package will give the correct report output, but will not exit with status code 1.

### Expected Behavior:
Same as in NPM V6 and as stated in the [V7 Docs](https://docs.npmjs.com/cli/v7/commands/npm-audit): "By default, the audit command will exit with a non-zero code if any vulnerability is found."

### Steps To Reproduce:
1.

[2021-03-15 14:23] lorenzogrv commented on #2834
Hi everybody. I can confirm this issue too. Proposed workaround (adding `publishConfig.cache`)  helped to step over, same side-effect as @yellowtailfan explains.

In this particular case I can't remove `publishConfig` from `package.json` as it's need to publish against gitlab's package registry, as suggested by @stheine .

Did not downgrade to `6.x` to test.

I'm glad to see the pull request over

[2021-03-15 15:01] lorenzogrv commented on #2834
Hi again. Just noticed the workaround has another side-effect: **It will publish with `--tag` set to `undefined`**

Check `npm show @scope/package-name` to see if side-effect affects you. `npm publish --tag latest` works as expected, after the needed version bump.

[2021-03-15 15:45] wraithgar commented on #2834
A huge thank you to @kenrick95 for figuring this out and submitting a PR that will resolve it: https://github.com/npm/cli/pull/2865

Will keep this open after we ship that PR (which will hopefully be this week) so those affected can confirm that it fixes their issue.

[2021-03-15 15:50] bcowgill opened #2871 "[BUG] npm version command issuing invalid git command to check repository status"
### Current Behavior:
I am running the npm version command but it is issuing an invalid git command to check whether the repository is clean and therefore always fails.

### Expected Behavior:
npm should either check the git version or issue an alternate --porcelain syntax to work properly with git, or report which version of git it requires to operate correctly.

### Steps To Reproduce:
1. In the

[2021-03-15 15:53] ljharb commented on #2871
git v1.9 is very ancient; it seems reasonable that npm ensures that git is a version released more recently than ~6 years ago.

[2021-03-15 16:21] wraithgar commented on #2842
I believe this PR may fix the issue: https://github.com/npm/cli/pull/2865

If you define a publishConfig, it pushes the defaults out the window, that PR makes sure all publishConfigs (including the defualts) are represented in the final opts that are generated.

[2021-03-15 16:21] wraithgar commented on #2843
I believe this PR may fix the issue: https://github.com/npm/cli/issues/2834

If you define a publishConfig, it pushes the defaults out the window, that PR makes sure all publishConfigs (including the defualts) are represented in the final opts that are generated.

[2021-03-15 16:32] StreetStrider opened #2873 "[BUG] npm@7 does not install proper versions with presence of previous node_modules state"
Our team found an issue of npm inconsistent install while migrating from lerna to npm@7 workspaces. It looks like inability to install proper dependencies if there is previous state of node_modules when checking out between branches. The result differs if previous node_modules is present or not.

### Current Behavior:
The dependencies have incorrect versions after install.

### Expected Behavior:

[2021-03-15 16:38] StreetStrider commented on #2873
There's also this anomaly in directory structure:
![anomaly-babel](https://user-images.githubusercontent.com/2124761/111188314-fd521a80-85c5-11eb-96b1-ca1fa03c2e39.png)

[2021-03-15 17:24] ssc-hrep3 commented on #2863
When referencing local `devDependencies` in a project (`"project-a": "file:../project-a"`) and installing the dependencies with `npm install --only=production`, all symlinked folders are deleted (the actual folders, not only the symlink). This happens in `npm@7.6.3`.

Is there a workaround for this issue (e.g. something like `--skip-cleaning`)? Or is this on the road map? It is a blocker in our pr

[2021-03-15 17:40] ljharb commented on #2873
You may want `npm ci` for switching branches, so you start fresh?

[2021-03-15 17:41] demiansolano commented on #681
This worked for me on Digital Ocean

[2021-03-15 17:49] StreetStrider commented on #2873
@ljharb that's like our current workaround. We've automated it a little, so this reset scenario occurs only when needed. But that's still a workaround, since `npm i` always been idempotent command and was able to repro consistent `node_modules`.

[2021-03-15 20:43] ghost commented on #636
Ran into this problem today in `v6.14.6`. The workaround is nice, but having the explicit prefix honored would have saved me a search to this GitHub issue 😅

**Edit:** Still a bug in `v7.6.3`.

[2021-03-15 21:22] emexelem commented on #564
Here's the code i integrated in my jenkins pipeline to only run npm ci when package-lock.json has changed since last build

[code]

[2021-03-15 23:44] chowkapow opened #2875 "[DOC] CONTRIBUTING.md needs update to use npm run check-coverage"
### Current Behavior:
In the [CONTRIBUTING.md page](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#test-coverage), it still shows `npm run test-coverage`

### Expected Behavior:
The command should be `npm run check-coverage`

[2021-03-16 00:02] brianjenkins94 opened #2877 "[BUG] `npx@7` silently errors with `could not determine executable to run` when trying to run a package bin script"
[code]

### Current Behavior:

[code]

Checking the logs, it looks like my script is failing with:

[code]

Surely that should have errored to the console, right?

Receiving nothing wasn't particularly helpful. Maybe instead it could tell me where it tried to run, what it tried to run and where it didn't find it?

### Steps To Reproduce:

1. In any environment where `npm@7`
2. `npx brianjenkins94/

[2021-03-16 03:46] ghost commented on #636
I'm not too familiar with the architecture of npm, but I believe this bug would be for [arborist](https://github.com/npm/arborist). It uses [npm-package-arg (npa)](https://github.com/npm/npm-package-arg) to parse package name and specifier, but npa is working as intended:
[code]

The logic appears to be at [`reify.js#L900-L912` (v2.2.8 snippet)](https://github.com/npm/arborist/blob/v2.2.8/lib/arbo

[2021-03-16 05:40] pablo-mayrgundter commented on #2645
I can no longer reproduce after upgrading npm to 7.6.3.. guess it was an old problem.

[2021-03-16 05:46] ghost commented on #636
Follow-up. It appears to be the [`npa` call on line 893 (v2.2.8 snippet)](https://github.com/npm/arborist/blob/v2.2.8/lib/arborist/reify.js#L893). Currently, it's only passing `spec` as the argument, so the example above is actually the following (removed file path second argument because it's not necessary to replicate):
[code]

As you can see, the results are **completely** different. (1) It's n

[2021-03-16 08:23] neyb commented on #2842
oO it seems to be a duplicate of #2834

[2021-03-16 09:54] jaquinocode commented on #2120
For anyone coming from a web search, in this thread ljharb suggested installing an older version of `react-test-renderer` that's actually compatible w/ the issue creator's project's version of react by installing `react-test-renderer@16` as a dev dep. So basically, you should run this command:

`npm i react-test-renderer@SOME_VERSION --save-dev` where SOME_VERSION is the general version of react t

[2021-03-16 09:55] TaXueWuH commented on #417
npm install

❯ npm -v
6.14.11
❯ node -v
v14.16.0

[2021-03-16T09_50_48_003Z-debug.log](https://github.com/npm/cli/files/6147840/2021-03-16T09_50_48_003Z-debug.log)

[2021-03-16 10:17] Houssk commented on #2117
I solve the problem by downgrade npm to 6.X.X ....

[2021-03-16 10:45] architjee opened #2879 "cb() never called! Error"
[2021-03-16T10_43_40_211Z-debug.log](https://github.com/npm/cli/files/6148208/2021-03-16T10_43_40_211Z-debug.log)

[2021-03-16 11:20] bcowgill commented on #2871
Yep, I realise this, perhaps at least give a warning message about what version of git you support.

For now I'm modifying my pre-version scripts to do the right thing as I cannot easily upgrade git on this machine.

An apparently innocuous npm install -g npm broke me. :-(

I guess it's time to upgrade to a new laptop ;-)

[2021-03-16 13:52] ljharb commented on #2120
You don't need it to be a fixed version; the `^` will still work because it won't install v17, and using it is a best practice.

[2021-03-16 13:56] ljharb commented on #2871
Given the number of unpatched security vulnerabilities in v1.9, if you really can't upgrade git, it might be :-)

[2021-03-16 14:01] jaquinocode commented on #2120
With the `^`, version 16.14 for the test renderer would install which requires 16.14 for React. I'm using 16.13.1 for React. So then it would give an error. So I got rid of the `^` to fix it.

[2021-03-16 14:04] DavidHenri008 opened #2880 "[BUG] npm on windows can't run scripts with ".", relative paths "../""
### Current Behavior:
On windows npm cannot run scripts like

"build": "../node_modules/.bin/tsc",
Error:
'..' is not recognized as an internal or external command,
operable program or batch file.

Replacing with ..\\ makes it work.

### Expected Behavior:
The string should be converted to make it cross-platform.
As a note, it does work with Yarn.

### Steps To Reproduce:
Place in script task some

[2021-03-16 14:27] ljharb commented on #2120
Fair enough - with react, you probably want to use ~ so that the minors are pinned.

[2021-03-16 16:26] chowkapow opened #2882 "[DOC] Wiki has broken link"
In the [wiki](https://github.com/npm/cli/wiki) homepage, the `npm help install` link is broken.

The correct link should be [https://docs.npmjs.com/cli/install](https://docs.npmjs.com/cli/install)

[2021-03-16 17:20] CxRes opened #2883 "[BUG] install runs before preinstall on npm install"
I have upgraded from  npm v6 to npm v7 (for the third time) and almost immediately hit this bug!

### Current Behavior:
If specified, preinstall script runs after install on npm install.

### Expected Behavior:
Preinstall script should run before install.

### Steps To Reproduce:
Create a preinstall script in package.json
[code]

Run install
[code]

### Environment:

- OS: Windows 10 x64 10.0.1904

[2021-03-16 17:44] sahilrajput03 commented on #2027
Why is this issue closed, I still can't run my server via `sudo npm start`, and its only running if I use port 8080.

This is not good behaviour from npm at all!!!

Please fix this..!!!!

[2021-03-16 17:46] sahilrajput03 commented on #2027
I think I need to revert to npm to previous version :( !!
I can't believe this issue is there in `npm v7.6.3` .

[2021-03-16 17:56] sahilrajput03 commented on #2027
`sudo chown root .`
Running above command in the directory and then I can use any port I want, yikes!!!
But its something bad to remember always, :(

[2021-03-16 18:24] prasannamestha opened #2884 "[BUG] npm install alias@npm:@scoped/package fails for private registries"
### Current Behavior:

If we try to install a scoped package with alias name, it fails. But if we directly install the scoped package it succeeds.

### Expected Behavior:

Installing packages with alias names should succeed when you try it for the first time

### Steps To Reproduce:

Add the following to npmrc:
[code]
Then try installing this scoped package via package name alias:
[code]
This does

[2021-03-16 20:09] jaquinocode commented on #2120
Ah, thanks I forgot about that good idea.

On Tue, Mar 16, 2021, 7:27 AM Jordan Harband ***@***.***>
wrote:

[2021-03-16 21:01] syrekable opened #2885 "[BUG] 'Error: Missing required argument #1' during npm install"
### Current Behavior:

Getting an error thrown whilist trying to install packages required for my React Native app.

Error:

[code]

### Expected Behavior:

A successful instalation of packages in `package.json`

### Steps To Reproduce:

1. Have an app with such dependencies:
[code]
2. Hit `npm install`
3. Watch the world burn

### Environment:

- OS: _freshly installed_ elementary OS 5.1.7 Hera
-

[2021-03-17 01:42] chowkapow commented on #2687
Hey! I would like to work on this issue.

How can I test the output for my changes in `dedupe.js` in local to see if it can match the expected behavior?

[code]

[2021-03-17 02:06] blazardsky commented on #417
I encounterd this error while trying to _npm install responsive-loader jimp --save-dev_
Clearing the cache solved immediately this problem. Thanks @DanielRuf

[2021-03-17 08:33] trofim24 commented on #2774
Any updates?

[2021-03-17 10:51] aral opened #2887 "[BUG] sudo prompt is not shown in scripts, causing install and tests to hang"
### Current Behavior:

If a command in an npm script (e.g., postinstall or test) causes a sudo prompt to be shown, the prompt is not presented to the person and the script hangs.

For example, if I have a `postinstall` script and I run `npm install` and some command in the script (e.g., an `execFileSync()`) requires sudo permissions, I will never the sudo prompt and the installation will hang.

##

[2021-03-17 12:00] whind opened #2888 "[BUG] NTLM Auth not works"
### Current Behavior:
After I set npm config:
proxy=http://domain%5Cuser:pass@proxy:port/
https-proxy=http://domain%5Cuser:pass@proxy:port/
strict-ssl=false
registry=http://registry.npmjs.org/

I try to get angular:
npm install @angular/cli
And gets error:
npm ERR! code E407
npm ERR! 407 authenticationrequired - GET https://registry.npmjs.org/@angular%2fcli

npm ERR! A complete log of this run can

[2021-03-17 12:13] azedine-batouche commented on #2418
use it like this: npm install react-currency-format --save --force

[2021-03-17 14:55] siyb opened #2889 "[BUG] npm prune --production deletes local dependencies instead of only deleting the link"
### Current Behavior:

We have a local development dependency defined like this:

[code]
When running `npm prune --production`, npm does not only delete the softlink but also the directory it is pointing to.

### Expected Behavior:

My assumption was that only the softlink would be deleted, but not the actual dependency itself

### Steps To Reproduce:

1. Create a project with a local development

[2021-03-17 15:16] ljharb commented on #2887
This seems like a bug in `postinstall.js` - you're initiating a `sudo` call without first checking if you're in a TTY, which causes a prompt.

[2021-03-17 15:24] aral commented on #2887
@ljharb But my sudo call is a crucial part of the process. Unless I’m missing something, you’re not a TTY while being run as a lifecycle script and so this translates to “you cannot do anything that requires sudo from a lifecycle script.” I’m not bothered either way because I’m happy with the sudo-prompt workaround so it’s up to the npm folks if they consider that a bug or a feature. I feel it’s t

[2021-03-17 15:44] ljharb commented on #2887
Yes, but that's how shells work - you can't rely on a sudo prompt in a non-TTY. It seems like the confusion here is that npm suppressing the postinstall script's output meant you didn't realize the prompt was the problem, but I'd be surprised if the user was actually able to respond to the prompt directly on the shell anyways.

[2021-03-17 15:49] tejohnso opened #2890 "[BUG] Prepare script not running"
I've searched a number of issues related to `prepare` but could not find quite the same scenario.

### Current Behavior:
`npm install` does not run prepare script and does not install devDependencies

### Expected Behavior:
`npm install` should run prepare script and install devDependencies

### Steps To Reproduce:
1. Create a private repo on github with a prepare script in the package.json file
2

[2021-03-17 15:56] ljharb commented on #2890
Dev deps should only be installed when running `npm install` with no arguments.

[2021-03-17 15:57] aral commented on #2887
If you run `npm install` on the project itself, you get the sudo prompt. It’s only when installing it from a separate project that you don’t (see Step 3 versus Step 6 in the reproduction details).

I’ve since deployed an update to Auto Encrypt Localhost and documented the workaround in the readme in case the real-world use case helps: https://github.com/small-tech/auto-encrypt-localhost

Regardles

[2021-03-17 15:59] ljharb commented on #2887
That still seems problematic, since it would make the project untestable in CI. I'd assume the sudo prompt would appear when trying to do something, not when merely trying to install dependencies.

I'll leave it to the npm people to determine if it's a bug or not; it just seems a bit of a mismatch to me to use sudo in a lifecycle script at all.

[2021-03-17 17:15] tejohnso commented on #2890
That's not what I understand from the [documentation](https://docs.npmjs.com/cli/v6/using-npm/scripts#life-cycle-scripts)

Also, even if a step 3a `npm install` is added, it still doesn't work.

[2021-03-17 17:57] aral commented on #2887
Well, I do have a valid real-world use case for it (and I don’t see CI being used for small web stuff anytime soon so that’s not an issue for us) :) But like I said, the workaround works for me so I’m not bothered either way :)

[2021-03-17 18:09] LukasWillin commented on #2880
Can confirm: Replacing with backslash fixes the issue:

### Steps To Reproduce:

A command like this run in windows powershell.
`"browserify": "./node_modules/.bin/browserify app/js/app.js -o build/dist/js/bundle.min.js --fast true --detect-globals false",`

Gives error
[code]

### Working-Example:

`"browserify": ".\\node_modules\\.bin\\browserify app/js/app.js -o build/dist/js/bundle.min.js --fa

[2021-03-17 18:27] ljharb commented on #2880
In that example, you don't need to hardcode node_modules at all - you can do `"browserify": "browserify …` directly.

Hardcoding node_modules should be rare.

[2021-03-17 18:27] ljharb commented on #2890
ah, fair enough.

[2021-03-17 18:41] ehoogeveen-medweb commented on #2880
IIUC npm uses cmd.exe as its default shell to execute scripts on Windows, which has this limitation. Another workaround is to surround the path in quotes, e.g. `"build": "\"../node_modules/.bin/tsc\""`. Is that enough to solve your problem? As mentioned e.g. in #2699 npm is unlikely to switch to a different default shell in v7.

[2021-03-17 18:46] DavidHenri008 commented on #2880
Surrounding with quotes didn't work for me when I tried.

The fact that this is supported by yarn may be due to a different shell being used?

[2021-03-17 18:46] jpall12 commented on #2117
[code]
To solve I had to delete the package.json file.

[2021-03-17 20:09] ehoogeveen-medweb commented on #2880
Hmm, it works in plain cmd.exe but I didn't try through npm, sorry. I guess npm does some processing on it which might be getting in the way, like with #2731 (the fix for that issue was merged into run-script but npm v7.6.3 doesn't have it yet).

[2021-03-17 20:19] thexeos opened #2891 "[BUG] Permission denied (publickey) when installing from private Git repository on Windows"
### Current Behavior:
Running `npm i git+ssh://git@domain.com:namespace/repo.git` through PowerShell on Windows results in the following error:

Running the failed `git ls-remote git@git.domain.com:namespace/repo.git` command in the same PowerShell window immediately, after correctly prompts for the password:

### Expected Behavior:
When SSH key used for accessing Git repo requires a password, npm

[2021-03-17 20:48] Blaussh commented on #2882
✅  Enjoy! https://github.com/Blaussh/cli/wiki @chowkapow ^^

[2021-03-18 01:56] jsg2021 opened #2893 "[BUG] npm publish under node 15.12.0 throws TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string"
### Current Behavior:
publishing throws an error

### Expected Behavior:
publish without error

### Steps To Reproduce:

nvm use 15.12.0;
npm publish

[code]

### Environment:
- OS: Fedora 33
- Node: 15.12.0
- npm: 7.6.3

[2021-03-18 03:18] whizzzkid opened #2894 "[BUG] npx does not work with single executable binaries"
### Similar Issues Reported Earlier
- #1845
- #1746

### Current Behavior:

The [NPM-bin documentation](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#bin) mentions:

So:

[code]

Should work, but instead we get:

[code]

### Expected Behavior:

The `bin` path if string should work, same as:

[code]

This was working with `npm@6.x`

### Steps To Reproduce:
- Create a package like:

[co

[2021-03-18 04:21] btmills opened #2896 "[BUG] Fix ERESOLVE error output"
### Current Behavior:

When I run `npm install` in https://github.com/eslint/eslint as of tag `v7.22.0`, npm throws `ERESOLVE` with the message "Cannot destructure property 'name' of 'node' as it is null."

### Expected Behavior:

Now that https://github.com/npm/cli/issues/2199 is fixed, I'm hopeful we can successfully `npm install` in eslint/eslint with npm v7 without `--legacy-peer-deps`. If we'

[2021-03-18 04:53] fantasyzed opened #2897 "npm ERR! code ELSPROBLEMS"
# What / Why

## When

* n/a

## Where

* n/a

## How

### Current Behavior

* n/a

### Steps to Reproduce

* n/a

### Expected Behavior

* n/a

## Who

* n/a

## References

* n/a

[2021-03-18 06:24] Danish-Ali097 commented on #417
i encountered this error while running `npx create-react-app testapp`

[2021-03-18 09:08] ghost commented on #474
I got this issue when creating a new angular project
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\wasim\AppData\Local\npm-cache\_logs\2021-03-18T08_49_12_555Z-debug.log

my node version is 14.16.0
npm version 7.6.3

[2021-03-18 09:33] zawsq opened #2899 "[BUG] cb() never called!"
npm install enmap
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     /data/data/com.termux/files/home/.npm/_logs/2021-03-18T09_28_52_966Z-debug.log
$

[2021-03-18 10:03] amatissart opened #2900 "[BUG] On `npm install`, `prepare` script runs in workspaces only if no package-lock.json or node_modules are present"
### Current Behavior:

`npm install` runs prepare scripts in workspaces on initial install (when no package-lock.json or node_modules exist).
On subsequent `npm install`, prepare scripts are no longer run for workspaces.

### Expected Behavior:

The presence of `package-lock.json` should not have an effect on the lifecycle scripts.

### Steps To Reproduce:

Use this sample repository to reproduce

[2021-03-18 10:04] RseSw opened #2901 "cb() never called!"
NPM I error reporting under Ubuntu 16.04
![QQ图片20210318180348](https://user-images.githubusercontent.com/79353072/111608603-5f07c400-8814-11eb-9bca-af7dab202808.png)

[2021-03-18 10:05] Echron commented on #2893
There is a similar ticket for this. At the moment I've fixed it by adding a path to a cache directory in my publish definition in package.json:
`"publishConfig": {
    "cache": "~/.npm",
    "registry": "*****"
  },`

Duplicate of #2834

[2021-03-18 10:05] amatissart commented on #1965
Unless I am mistaken about the expected behavior, a similar issue persists with the current version (v7.6.3): #2900

[2021-03-18 11:22] josalmi commented on #2868
I can confirm this issue is also happening on npm 7.6.0 and doesn't seem to be related to severity since `high` level vulnerability also exits with 0 status code. The mentioned workaround works.

[2021-03-18 13:05] LukasWillin commented on #2880
@ljharb

You are right about the use case but that is not the point. I can also reproduce the error when trying to run a cmd script from npm. And they did work on npm version 6.4.1

[2021-03-18 13:24] ashward commented on #1506
Apologies for jumping on an old issue, but I wondered why `onload-script` support had been removed, and whether there is another way to do achieve a similar thing (hooking into the npm script whenever it's invoked) on a per-repository basis?

The reason I ask is that my security wrapper relies on this functionality, and as it stands this doesn't work with npm 7: https://github.com/ashward/jsinstal

[2021-03-18 13:25] neyb commented on #2842
duplicate of #2834

[2021-03-18 13:25] #2842 closed, assigned to wraithgar

[2021-03-18 14:25] tmsns commented on #2508
I had the same problem on my Windows 10 machine this morning, or at least the same symptoms (401 after install). I was able to backtrack it to a difference in what "HOME" means in both versions.

When using npm v6 (6.14.11) and executing `npm config list`, I got the following:
[code]
npm seems to retrieve the HOME value from my (Windows) environment variable: `USERPROFILE`.

With npm v7 (7.6.3), h

[2021-03-18 14:39] jsg2021 commented on #2893
i'm not sure it's 100% a duplicate. this package has been fine until ci picked up node 15.12.0

publishConfig just has a registry.
npmrc just has a registry and auth.

[2021-03-18 18:15] clok commented on #1637
On Monday, this was working. Today I am not getting 404 errors on publish from a GH Action.

UPDATE:

Explicitly adding the config value of `registry-url: https://registry.npmjs.org/` resolved this issue for use. This was not needed before, but with it we are seeing the publish action work again.

[2021-03-18 19:03] #2894 closed, assigned to wraithgar

[2021-03-18 19:43] #2228 closed, assigned to nobody

[2021-03-18 21:33] y-nk opened #2902 "[BUG] npm version from-git breaks"
### Current Behavior:
When using `npm version from-git`, the command should not fail.

### Expected Behavior:
The command fails, because it tries to create a git tag (which already exists)

### Steps To Reproduce:

[code]

[code]

### Environment:
- Node: 15.0.1
- npm: 7.6.3

[2021-03-18 23:31] zhanwang626 opened #2904 "[BUG] local $PWD .npmrc not used when loading npm config"
Hi npm/cli team, I am a software engineer from LinkedIn. Currently handreds of UI engineers suffered from this problem when running npx command. Can we fix this issue instead of running npx with setting `--userconfig .npmrc` everytime? Thanks!

# What / Why
When running npx commands under some JavaScripts project directory, it will not pick up `.npmrc` from working directory as expected. Instead i

[2021-03-19 00:16] chowkapow commented on #2687
Figured out how to test locally with `bin/npm-cli.js`. :blush:

Now I'm trying to set `npm.flatOptions.dryRun === true` before calling `reify-output()` as suggested.
However, I'm getting errors saying it's not a settable property, e.g. `this.npm.flatOptions.dryRun = true`.

Any more tips?

[2021-03-19 00:50] chowkapow commented on #2882
@Blaussh Thanks! How did you fork the wiki to your repo? Mine doesn't show it.
Do you know how to make a PR against the wiki?

[2021-03-19 04:37] captain-aman-11 commented on #417
npm ERR! cb() never called!

I encountered this error while running` meteor npm install.` Any fix for it ??

[2021-03-19 06:22] joebnb commented on #2554
same problem

if link a scoped module @scope/name1 at  dir1 it will remove all dir1/node_modules/@scope/*

i just want add a link moudle, not rm -rf @scope/ dir then link this one

[2021-03-19 06:22] joebnb commented on #2819
same problem

if link a scoped module @scope/name1 at dir1 it will remove all dir1/node_modules/@scope/*

i just want add a link moudle, not rm -rf @scope/ dir then link this one

[2021-03-19 06:23] ustas4 commented on #417
thanx to @TaXueWuH it's work!

[2021-03-19 06:41] DeeDeeG opened #2905 "[BUG] "npm rebuild" runs any symlinked package's lifecycle scripts twice."
### Current Behavior:

A package dependency installed as a symlink will get its lifecycle scripts (such as `postinstall`) run twice when running the `npm rebuild` subcommand of `npm`.

### Expected Behavior:

Lifecycle scripts should probably only be run once.

### Steps To Reproduce:

Set up a minimal/dummy dependency with lifecycle scripts:
- `mkdir test && cd test && npm init -y`
- `mkdir depen

[2021-03-19 07:48] Blaussh commented on #2882
@chowkapow I used [this approach](https://stackoverflow.com/a/56480628/10275110) to fork the wiki to my repo.
Sorry, I don't know how to make a PR against the wiki...

[2021-03-19 10:37] #2885 closed, assigned to nobody

[2021-03-19 17:39] fisherpro opened #2907 "[BUG] bundledDependencies not working when files is present, but bundleDependencies works."
### Current Behavior:
When running npm install and pack against the following package.json file, the tgz file does not contain bundledDependencies listed.

[code]

If 'files' attribute above is removed, bundledDependencies works as expected and packs graphql in with the tgz file.
If 'files' is there and bundledDependencies is changed to bundleDependencies (without 'd'), then graphql is also found

[2021-03-19 18:19] srknzl commented on #2704
Still not sure how to update all packages and change package.json

[2021-03-19 19:03] Rahul0262 opened #2909 "cb() never called!"
[2021-03-19T19_01_50_037Z-debug.log](https://github.com/npm/cli/files/6173548/2021-03-19T19_01_50_037Z-debug.log)

![cbError](https://user-images.githubusercontent.com/38646002/111830572-336c0300-8914-11eb-90a1-798418c9f1f2.PNG)

Got this error while installing react-app

[2021-03-19 19:24] prowe214 opened #2910 "[BUG] node 15.11.0 and npm 7.6.0 generate incorrect package-lock.json"
### Current Behavior:

`npm i` seems to generate a package-lock.json with incorrect packages, causing `npm ci` to fail

### Expected Behavior:

`npm i` creates a package-lock.json that has correct dependencies and successfully runs `npm ci`

### Steps To Reproduce:

- `npm i` locally to create a fresh package-lock.json from node 15.11.0
- `npm ci` on a build server using node v14.4.0
- Receive the

[2021-03-19 20:03] CxRes opened #2911 "[DOCUMENTATION?] npm install <pkg> runs pre and post install scripts is undocumented"
### Current Behavior:
`npm install <pkg>` runs pre and post install scripts specified in `<pkg>`.

### Expected Behavior:
Either pre and post install scripts must not run or this should be explicitly documented in the npm-install page. Also documentation on npm-scripts page is confusing with it stating that lifecycle scripts are run on `npm install` and `npm install -g <pkg>` (no mention of `npm i

[2021-03-19 20:47] Rahul0262 commented on #2909
Resolved!!
Solution: Change your internet connection.
Error might be caused by the weak internet connection.

[2021-03-19 20:47] #2909 closed, assigned to nobody

[2021-03-19 20:48] Rahul0262 commented on #2901
Try changing your internet connection

[2021-03-19 20:49] Rahul0262 commented on #2899
Try changing your internet connection.

[2021-03-19 22:21] dlmanning commented on #2784
Same problem in v7.6.3

[2021-03-19 22:45] ljharb commented on #2910
Generally speaking, a local and production environment should always have identical node and npm versions. imo it's definitely not expected that a lockfile built on node 15 would work on node 14 or 12. Similarly, I would not expect a lockfile built with npm 7 to work with npm 6, because they have different lockfile formats.

[2021-03-20 01:33] munjalpatel commented on #2339
I am also running into the same *exact* issue as @jsejcksn .
Is there a workaround here without downgrading back to npm v6?

@jsejcksn how did you move forward with this?

cc: @arjunpatel

[2021-03-20 03:34] ym-project commented on #2704
Several people recommended me [npm package](https://www.npmjs.com/package/npm-check-updates) for dependencies updates. Maybe it will be useful for somebody.

[2021-03-20 03:57] isaacs commented on #2687
Hey, @chowkapow!  Thanks for diving into this UX issue.

We are in the process of a somewhat massive overhaul of the way that configuration parameters are handled and managed.  It may be easiest at the current moment to base your work on the `release-next` branch for the time being, and then rebase onto `latest` once the next version is shipped.

In that branch, you'll see in the `lib/find-dupes.j

[2021-03-20 04:02] isaacs commented on #2687
Once you have the code and output feeling about right, you can write tests in `test/lib/utils/reify-output.js` to cover all the cases.  The existing tests should give you enough clue to get started by copying and modifying them.

Don't spend too much time trying to make it perfect.  Getting _something_ there and then tweaking it with feedback from the CLI team and other users is much more efficien

[2021-03-20 05:07] srknzl commented on #2704
Using a package to update packages is so weird. This is not the way it should be. By the way is there a way for the package to do "exactly" what npm update was doing before?

[2021-03-20 05:57] ym-project commented on #2704
You can write your own script something like this
`scripts/up.js`
[code]

And then use `node ./scripts/up webpack`

I know it's not a good solution but why not?

[2021-03-20 06:08] ljharb commented on #2704
@srknzl `npm` is a package. It's really not weird.

[2021-03-20 06:12] srknzl commented on #2704
I mean why other 3rd party package if DeFacto standard is npm package

[2021-03-20 11:10] bogdan-h commented on #708
Confirm - the same issue -> npm update will leave the package.json untouched. This is terribly confusing as it does not reflect the actual component's version.
npm version 7.6.3 ; node version : 14.8.0
I end up manually modifying the package.json + cleared the node_modules  then npm install with the new versions.

[2021-03-20 12:50] jaysonwu991 commented on #708
I have to use `npm-check-updates` instead of modifying `package.json` manually, but I don't want it that way.

[2021-03-20 15:24] chowkapow commented on #2687
Hey @isaacs, thank you so much for the thorough explanation! This turned out to have more creative input than I thought.

I made a PR with some of my initial thoughts and questions. Let me know if this is the right direction and I will continue working.

[2021-03-20 22:57] jsejcksn commented on #2339
@munjalpatel Not yet. I'm just using npm 6.x until it's fixed.

[2021-03-21 03:55] pandeyvineet opened #2913 "ERROR [builder 5/5] RUN npm install --only=prod"
Trying to run Dockerfile but this error occurred ==>>

[code]

[2021-03-21 07:45] prasannamestha commented on #2884
Drooping a comment for exposure. Can anybody please look into this?

[2021-03-21 12:33] remcohaszing opened #2914 "[BUG] Man pages are deleted, but not reinstalled"
### Current Behavior:

When upgrading npm using npm 7, the man pages are gone.

### Expected Behavior:

Man pages are installed.

### Steps To Reproduce:

1. Install NodeJS from the nodesource PPA
2. Given the following `.npmrc` (adapt to your own home directory):
[code]
3. Running `npm install -g npm@7.6.0` installs npm 7. Man pages appear in `~/.local/share/man`
4. Now running `npm install -g np

[2021-03-22 03:51] wiasliaw commented on #1637
Hi, here

I found a [resource](https://docs.npmjs.com/using-private-packages-in-a-ci-cd-workflow) from npm and this works for me.

Here's the [drone.yml](https://github.com/wiasliaw/tappay-typescript/blob/6b300d4568d7c3c0bbf9428ce23c9500c8727782/.drone.yml#L51) sample from my project.

----

Steps:

1.  generate automation type npm token
2. create `.npmrc` and write `//registry.npmjs.org/:_authTok

[2021-03-22 08:40] bhargavgohil25 commented on #2834
The Workaround worked for me too 👍

[2021-03-22 13:15] jaydenseric commented on #2846
This bug had absolutely stumped me since december 2020, regarding this dependency tree:

[code]

I created the `package-lock.json` file locally, and when attempting to push it to Heroku it would result in the following deployment build error (log excerpt):

[code]

Heroku support and I gave up trying to figure out the problem and for that GraphQL API I ended up downgrading to npm v6.

Running with

[2021-03-22 16:52] nlf commented on #2910
can you provide a package.json that reproduces this issue? i've been going back and forth between node 15 and 14 every day and haven't encountered this problem.

[2021-03-22 17:04] nlf commented on #2896
definitely a bug in how we report the ERESOLVE error here

if it helps, the problem is that `eslint-plugin-jsdoc@22.2.0` has a peer dependency on `eslint@^6.0.0`, but `eslint@file:.` is listed as a dev dependency, which yields eslint 7.22.0 (as in the checked out commit) being linked as a dependency, which conflicts.

the fix would be to update eslint-plugin-jsdoc to have a version with a peer dep

[2021-03-22 20:48] nlf commented on #2846
i absolutely agree the root issue here is generating and comparing integrity hashes against a gzipped result.

[this patch to pacote](https://github.com/npm/pacote/pull/71) forces the compression level to its highest setting, which on the OS, platform, and node versions i tested against (listed in the linked PR) did give me consistent results. it's definitely not "this is fixed forever" quality, b

[2021-03-22 21:01] nlf commented on #2890
what is your prepare script doing? it's very likely it's running and we're just suppressing the output. one of the major changes in npm 7 is that we no longer display the results of lifecycle scripts at installation time in an attempt to reduce noise.

if, however, your prepare script is doing work like creating or modifying files and that modification isn't taking place, if you can give us a repr

[2021-03-22 21:57] drs9222 commented on #1479
I tend to think just because it isn't used for determining precedence does not mean it should be removed altogether. It is still valid semver and removes valid information about the package's origins, which can be helpful.

[2021-03-22 22:06] tejohnso commented on #2890
It's running `npm run build` which runs some compilation tasks, so I know it isn't running because the compiled files aren't created.

This is only happening in a private repo. Should I create one for testing purposes and invite you?

[2021-03-22 22:28] thefedoration commented on #2913
@pandeyvineet did you figure this one out?
I'm getting the same while installing npm packages in my docker container (npm installed with apt-get)

[2021-03-22 22:35] wraithgar commented on #2911
The lifecycle scripts are documented here https://docs.npmjs.com/cli/v7/using-npm/scripts#npm-install

npm install docs do link to this page https://docs.npmjs.com/cli/v7/commands/npm-install#configuration-options-affecting-build-process and include it in the `See Also` section at the end.

[2021-03-22 22:35] #2911 closed, assigned to nobody

[2021-03-22 22:35] wraithgar commented on #2901
https://github.com/npm/cli/issues/417

[2021-03-22 22:35] #2901 closed, assigned to nobody

[2021-03-22 22:36] wraithgar commented on #2899
https://github.com/npm/cli/issues/417

[2021-03-22 22:36] #2899 closed, assigned to nobody

[2021-03-22 22:41] wraithgar commented on #2801
https://github.com/npm/cli/issues/417

[2021-03-22 22:42] wraithgar commented on #2857
This appears to be an issue w/ Arch.

[2021-03-22 22:42] #2857 closed, assigned to nobody

[2021-03-22 22:43] wraithgar commented on #2738
https://github.com/npm/cli/issues/417

[2021-03-22 22:46] wraithgar commented on #2776
This looks like it is an issue w/ the registry itself. As far as I can tell the cli is doing what it is supposed to here.  You can file an issue w/ the registry team here: https://www.npmjs.com/support

[2021-03-22 22:46] #2776 closed, assigned to nobody

[2021-03-22 22:48] eli-schwartz commented on #2857
Arguably npm should be better behaved w.r.t. the system manual pages, though. ;) Really, do consider behaving more like git.

[2021-03-22 22:49] wraithgar commented on #2720
This was fixed in run-script here: https://github.com/npm/run-script/pull/22 and should be included w/ the next npm release (going out this week)

[2021-03-22 22:59] wraithgar commented on #2883
`preinstall` is a script that runs before the `install` script, not before the `install` action.  This was discussed in a PR where we proposed changing it, but realized it would be a breaking change: https://github.com/npm/cli/pull/2713

The place to discuss new lifecycle events is the rfc process, and there is an issue where we have been discussing what this actual lifecycle event would need to b

[2021-03-22 22:59] #2883 closed, assigned to nobody

[2021-03-22 23:08] wraithgar commented on #2830
Looks like `libnpmversion` uses `read-package-json-fast` which is the wrong tool for the job. It should use the normal `read-package-json` as the former is only suitable for reading package-json files from node_modules.

[2021-03-22 23:20] wraithgar commented on #2830
`read-package-json` does the same thing. Fun https://github.com/npm/read-package-json/blob/latest/read-json.js#L99

[2021-03-23 00:01] pandeyvineet commented on #2913
Restarted Docker and it worked somehow...

[2021-03-23 00:27] ocket8888 commented on #2857
It's true that this bug should be closed, since the actual issue is downstream, but an enhancement that would have the side-effect of fixing this bug would be to use the system manual if possible, and I do hope that is considered despite this issue being closed.

[2021-03-23 01:35] isaacs commented on #2830
Yeah, `version` should just read the file and parse the json, and needs to track the indentation/linebreaks to change as little as possible.  Fixed by npm/libnpmversion#10.

[2021-03-23 02:52] ablackrose opened #2918 "[BUG] npm pack fails for scoped package from private registry when it's not in the cache"
### Current Behavior:
Running `npm pack @myregistry/some-package` returns E404 when that package has not previously been installed with `npm install`.

The private registry requires an authToken, and regular installation and publish functions are working as expected.

### Expected Behavior:
Package should be downloaded and an archive file created.

### Steps To Reproduce:
Use a private npm registr

[2021-03-23 05:08] btmills commented on #2896
That's incredibly helpful. Thank you! I just upgraded `eslint-plugin-jsdoc` to a version that includes `eslint@^7.0.0` in the peer dependency range. That turned out to be the last incompatibility, so we're now able to `npm install` in eslint/eslint without `--legacy-peer-deps`! I'll leave this open for the error reporting bug, but we're unblocked now.

[2021-03-23 05:16] ljharb commented on #2715
cc @wraithgar @darcyclarke; can this be triaged?

[2021-03-23 05:16] ljharb commented on #2747
cc @wraithgar @darcyclarke; can this be triaged?

[2021-03-23 07:26] flash-me opened #2919 "[BUG] npm install <git_repo#commit-hash> fails"
### Current Behavior:

⚠This works with npm 6⚠

We have an internal bitbucket repository, let say at https://my.bb.intern.
One dependency is installed via git url, so in the package.json the entry says

[code]

We tried to install a new commit hash with
[code]

which fails with npm 7.6.3, but works with npm 6.x

### Expected Behavior:

Same behaviour like in npm 6.

### Environment:
OS: Windows 10

[2021-03-23 08:20] CodeTroopers commented on #2819
Same problem with npm 7.6.3

- from depency @mycompany/B:

`cd dist && npm link`

- from depency @mycompany/C:

`cd dist && npm link`

- from main project @mycompany/A:
`npm link @mycompany/B`
Symlink @mycompany/B exists in node_modules
`npm link @mycompany/C`
Symlink @mycompany/C exists in node_modules
**but Symlink @mycompany/B is deleted in node_modules**

This works well with npm 6.14.11

[2021-03-23 08:24] CodeTroopers commented on #2554
Could you reopen this issue?
I have the same problem  with npm 7.6.3

- from depency @mycompany/B:

`cd dist && npm link`

-  from depency @mycompany/C:

`cd dist && npm link`

-  from main project @mycompany/A:

   `npm link @mycompany/B`
    Symlink @mycompany/B exists in node_modules
   `npm link @mycompany/C`
    Symlink @mycompany/C exists in node_modules
    **but Symlink @mycompany/B is del

[2021-03-23 08:31] ghost opened #2920 "`devDependencies` of git dependency are missing during `prepare` when installing with --prod in main package"
### Current Behavior:
Dev dependencies of git dependency are missing during `prepare` in npm v7 (npm v6 works fine) when the main package dependencies are installed using the `--prod` flag.

### Expected Behavior:
If the package being installed contains a prepare script, its dependencies and devDependencies will be installed, and the prepare script will be run, before the package is packaged and i

[2021-03-23 10:22] aral opened #2921 "[BUG] Dev dependency should not throw “unsupported platform” error when using --production flag on npm install"
### Current Behavior:

If you have a module that is not supported on your platform set in the `devDependencies` object in your package file and you do a production install using the `--production` flag, the installation fails with an “Unsupported platform” (`EBADPLATFORM`) error. Since the module should not be installed/used during a production install, it should also not throw an error or otherwi

[2021-03-23 10:39] augnustin commented on #624
Using npm in a docker, the issue still occurs to me.

With:

[code]

Any idea?

[2021-03-23 10:56] TArch64 commented on #677
Guys, you can use [this thing](https://stackoverflow.com/a/14221781/9904159) and do something like this (I've tried, it's really works)

[code]

[2021-03-23 11:23] targos commented on #2700
FWIW I can still reproduce with v7.6.3

[2021-03-23 14:23] #2830 closed, assigned to wraithgar

[2021-03-23 14:35] wraithgar commented on #2830
This is in the `release-next` branch now and will go out w/ the next cli release.

[2021-03-23 14:36] CxRes commented on #2883
@wraithgar Thanks for pointing this out!

I must say the having separate install script and action is massively confusing. Could this issue be reopened as a documentation issue and behaviour be clearly documented.

For some reason I do not see this in v6? Was that intentional or a bug? Can this be noted as a breaking change!

[2021-03-23 14:40] wraithgar commented on #2883
Clarifying the documentation is already a part of the RFC issue linked and is part of our backlog.

[2021-03-23 14:41] CxRes commented on #2883
@wraithgar Also how would one run a script before install action?

[2021-03-23 15:28] wraithgar commented on #2883
There is currently no lifecycle event that runs before the install action itself.  This is one of the things being discussed in the rfc issue https://github.com/npm/rfcs/issues/325, and might even need to be a separate issue or rfc.  If you have a proposal, please submit one.

[2021-03-23 15:41] wraithgar commented on #2747
Asking to install from the package-lock-only when you have disabled the package-lock seems like a paradox.

The description for `package-lock` config:

The description for `package-lock-only` config:

When we try this we get this warning on the cli

npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetche

[2021-03-23 15:46] wraithgar commented on #2747
Even if we want to resolve the two requests, the `package-lock` directive is the more explicit.  Having `package-lock-only` implicitly change the explicit `package-lock` value if it has been set is very counterintuitive.

[2021-03-23 15:57] ljharb commented on #2747
@wraithgar the right behavior is what npm 6 eventually did - package-lock-only implies package-lock. This was an unintentional breaking change in v7.

Even if npm audit worked (as it should always have) without a lockfile, I’d still have this use case - all my packages have the lockfile disabled, and i use package-lock-only to generate a “before” and “after” lockfile to triage bugs caused by depen

[2021-03-23 16:17] wraithgar commented on #2715
There is a `low` level advisory for `minimist` at that level, so if you set the audit level to `low` it will exit w/ a statusCode of 1.  If you set the level to `info` it will exit with a statusCode of 0.

From the readme in npm-audit-report:

This seems to be working as intented.  I set my level to `info` and got an exitCode of 0.

[2021-03-23 16:18] wraithgar commented on #2715
Our config page in "using npm" says the same thing:

[2021-03-23 16:34] ljharb commented on #2715
@wraithgar so this was an intentional change in npm 7? can you point me to where that change was decided?

[2021-03-23 16:35] ljharb commented on #2715
Also, when i set it to “info” i get:
[code]
none does work tho.

[2021-03-23 16:53] sasidhar commented on #2798
I am also facing same issue with the command `npm audit fix`. When I run this command I am asked to run the same command to fix the issues.

Environment:
* OS: MacOS Catalina Version 10.15.7
* Node: v14.16.0
* NPM: 7.6.3

[2021-03-23 16:59] #2834 closed, assigned to wraithgar

[2021-03-23 17:14] wraithgar commented on #2834
This should be fixed in `v7.7.0`. The `publishConfig` is now being consolidated properly

[2021-03-23 17:15] wraithgar commented on #2843
This should be fixed in v7.7.0. The publishConfig is now being consolidated properly

[2021-03-23 17:15] #2843 closed, assigned to wraithgar

[2021-03-23 17:26] wraithgar commented on #2715
Yep looks like `info` isn't in the list. will make a PR for that, and leverage our fancy new parameter usage output to add it to the `npm usage -h` output

[2021-03-23 17:30] ljharb commented on #2715
@wraithgar i still think this should be reopened, since it was an unintentional change in npm 7. The **install** is not supposed to fail *even if there are audit warnings*, and that's what's happening here.

[2021-03-23 17:33] wraithgar commented on #2715
Ah I see what you mean, the `npm audit` behaves as it should but `npm install` doesn't

[2021-03-23 17:34] ljharb commented on #2715
Yes, exactly right.

[2021-03-23 18:38] denchp opened #2924 "[BUG] Shared dependencies installs multiple versions of React."
### Current Behavior:
We have multiple front ends using a shared component library (CL).  The CL uses Storybook, with several add-ons in order to facilitate faster development.  The CL has a peer dependency of `^17.0.0 || ^16.14.0` for backwards compatibility with a Storybook add-on.  Our front ends also have a dependency (non-peer) on React `^17.0.1 || ^16.14.0` for backwards compatibility with t

[2021-03-23 18:41] ablackrose commented on #2918
I just tested this against npm version 6.14.11 and it worked as expected.

This issue appears in all the 7.x releases, so the workaround for now is to avoid npm 7.

[2021-03-23 19:11] billyjanitsch opened #2926 "[BUG] npm 7.7.0 lost progress bar on npm install"
### Current Behavior:

npm 7.7.0 does not display a progress bar during `npm install`.

### Expected Behavior:

I'm not sure whether this is intentional, but it's not mentioned in the release notes, so I wanted to check.

### Steps To Reproduce:
1. In an empty directory, install some packages with many nested dependencies (e.g., `npm install webpack webpack-cli`).
2. npm 7.6.3 displays a progress

[2021-03-23 19:30] aral commented on #2887
Actually, scratch that, sudo-prompt uses pkexec on Linux and that doesn’t behave __exactly__ like sudo so it means that when executing through it, you get different file permissions and, at least in my case, mkcert -install is failing. It would be really nice sudo worked properly in lifecycle scripts. It’s causing me a world of pain right now.

[2021-03-23 19:55] G-Rath opened #2927 "[BUG] `npm uninstall` doesn't work in 7.7.0"
### Current Behavior:

`npm uninstall <package>` doesn't do anything when using v7.7.0

### Expected Behavior:

That the package I specify is uninstalled :)

### Steps To Reproduce:

1. `npm i -g npm@7.7.0`
2. `npm init -y`
3. `npm install luxon`
4. `npm uninstall luxon`

[code]

If you replace step 1. with `npm i -g npm@7.6.0`, it all works as expected:

[code]

### Environment:

OS: Ubuntu 18.04

[2021-03-23 21:03] erunion commented on #2927
Also seeing this on `npm remove`.

[code]

I do not see this on 7.6.3.

[2021-03-23 21:08] G-Rath commented on #2927
@erunion that looks like a different issue to me, specifically thats an EACCES error; mine is just outputting "up to date" so its not even trying to do anything.

(I'll update my issue to reflect that)

[2021-03-23 21:10] erunion commented on #2927
👍 I'll open up a new ticket.

[2021-03-23 21:13] erunion opened #2928 "[BUG] EACCES error with `npm remove` on npm@7.7.0"
### Current Behavior:
[code]

### Expected Behavior:
Package should be removed.

Running `npm install -g npm@7.6` and re-running `npm remove react` I do not get this error.

### Steps To Reproduce:
1. npm install -g npm@7.7
2. npm remove `any package`
3. See error

### Environment:
- OS: OSX 10.14.6
- Node: 14.15.1
- npm: 7.7.0

[2021-03-23 21:26] CxRes commented on #2911
The language here is strange. The impression I get is that the lifecycle events run for `npm install` (when run at root of a pkg) and `npm install -g <pkg>` and not `npm install <pkg>` (when run from root in another_pkg)

I do not understand the significance of these options to the lifecycle events for npm install? What am I failing to understand?

[2021-03-23 21:26] T00rk commented on #2928
Same problem

[2021-03-23 21:28] CxRes commented on #2883
I need to think about this!!!! The behaviour I am observing seems different from what are being reported by others in these issues/rfcs....

[2021-03-23 21:55] wraithgar commented on #2715
Ok after a bit of debugging I think this is still acting as it should.

If I set my warning level to `info` (which is the default) it will exit uncleanly because we have a low vulnerability.
If I set my warning level to `low` it will exit uncleanly because we have a low vulnerability.
If I set my warning level to `moderate` it will exit cleanly because we do not have any moderate or higher vulnera

[2021-03-23 21:58] ljharb commented on #2715
I still don't think it is. No install should **ever** fail due to audit warnings, regardless of what the audit level is set to. Only `npm audit` should fail because of that.

If that was intended to change in npm 7, then that is a pretty major functionality change that was never discussed in an RFC call nor referenced (that I can recall) in a changelog.

Please reopen.

[2021-03-23 22:25] wraithgar commented on #2911
Yes this is the case.

That was just one of the places in there that linked to more info about those scripts and what they do.

[2021-03-23 23:12] CxRes commented on #2911
But then it is a bug 😕!!! `preinstall` script runs for me when I run `npm install <pkg>` (when run from root in another_pkg).

[2021-03-24 00:40] ghost commented on #2927
I am also facing this error. I was looking into this to see if my changes to arborist in v7.7.0 affected this. Fortunately, it didn't :sweat_smile: It appears to be due to this commit [this commit](https://github.com/npm/cli/commit/46e14bd0ff566f94e8f86f9d972bf089c000da52#diff-1d37c569bf921c941dc80a3b714817e166268f0e1db68ba591e90c8aa86f196e), which is removing references to `flatOptions` in favor

[2021-03-24 00:42] ghost commented on #636
@isaacs, I tested this in in [v7.7.0](https://github.com/npm/cli/releases/tag/v7.7.0). It should be addressed now :blush::+1:

[2021-03-24 00:55] ghost commented on #2927
As a temporary workaround, you could possibly do this (below is POSIX-compliant shell):

[code]

I was able to uninstall a package using the above, but YMMV.

[2021-03-24 02:16] dandmcd commented on #708
This issue just started for me the other day.  Same as everyone else, npm version 7.6.3 is not updating package.json.  This issue needs to be reopened.

[2021-03-24 02:59] ruyadorno commented on #2897
hi @fantasyzed that just means your installed dependencies have something unexpected, usually there are more error messages that describes each of the problems found.

I'm going to go ahead and close this issue but feel free to reopen or open a new one providing more info in case you're still having problems. Thanks!

[2021-03-24 02:59] #2897 closed, assigned to nobody

[2021-03-24 03:28] ruyadorno commented on #1904
### I bring good news!

Workspaces support for both `npm run` and `npm exec` landed today in **[npm@7.7.0](https://github.com/npm/cli/releases/tag/v7.7.0)**, it adds syntax for running scripts in workspaces from the top-level folder, e.g:

assuming a file structure:

[code]

It's now possible to run a script in a given workspace. In order to run one of the scripts available in the workspace `a` at

[2021-03-24 03:31] bekundan opened #2931 "[BUG] <title>"
Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts with cra-template...

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Dell\AppData\Local\npm-cache\_logs\2021-03-24T0

[2021-03-24 03:31] ghost opened #2932 "[BUG] `npm install --save-exact` doesn't work in 7.7.0"
### Current Behavior:

`npm install --save-exact <package>` adds `save-prefix` to `package.json` in v7.7.0.

I have tracked it down to the removal of [`lib/utils/flat-options.js`](https://github.com/npm/cli/blob/v7.6.3/lib/utils/flat-options.js) ([lines 166-167](https://github.com/npm/cli/blob/v7.6.3/lib/utils/flat-options.js#L166-L167) in particular are important to this issue). I believe this fi

[2021-03-24 03:39] ruyadorno commented on #2893
@jsg2021 npm@7.7.0 is out with the intended fix to the linked issue, can you please check if it fixes yours?

[2021-03-24 05:46] jsg2021 commented on #2893
It does seem to work :)

[2021-03-24 05:46] #2893 closed, assigned to nobody

[2021-03-24 07:43] CodeTroopers commented on #2893
I confirm : it works ;)

[2021-03-24 08:08] MrSalazer commented on #2117
I also need help with this, I'm using node v15.8.0, and I get 'must provide a string spec' when I try to npm install passport passport-discord. Are there any suggestion on which node version I should use or anything else that could fix

[2021-03-24 08:16] hubber-maik commented on #2834
I can confirm it is indeed working with 7.7.0! Thanks for the effort!

[2021-03-24 08:24] noritxu3 opened #2933 "npm i geckodriver didn't work"
### Current Behavior:
When i do a npm install, the donwload of geckodriver in selenium standalone packages is not done correctyl so i have errors when i try to launch my tests

### Expected Behavior:
I should be able to install separately with npm install geckodriver

### Steps To Reproduce:
1.In windows
2. package.json//  "dependencies": {
    "@babel/cli": "^7.13.10",
    "@babel/core": "^7.13.1

[2021-03-24 08:36] lorenzogrv commented on #2834
I can confirm too. The `dist-tag` `undefined` issue got away too.

[code]

Keep up the good work :rocket:

[2021-03-24 08:58] ehoogeveen-medweb commented on #2731
I can confirm that windows-style environment variables work again with npm v7.7.0 (which includes @npmcli/run-script v1.8.4), thanks!

[2021-03-24 11:06] Lehks opened #2934 "[BUG] Packages from private repository added with version '*'"
### Current Behavior:

The packages are beeing added to the dependencies in `package.json`'s with the version `*`.

This worked in npm version 7.6.3. Also, my Nexus Version is not the latest (OSS 3.17.0-01), so I do not expect it to support the latest npm features. However, I would still consider this a bug in npm, since it worked in the previous version and a minor version update should not break

[2021-03-24 11:12] yvon-dblg opened #2935 "[BUG] Automatic authentification on private npm repository no longer works"
### Current Behavior:
We use a private nexus repository with an `.npmrc` file on each project.

Our `.npmrc` looks like (URL changed for this bug report):
[code]

Since the npm v7.7.0 release we have the following error when we do an `npm install` in our projects:
[code]

This configuration always worked previously (npm v6 & npm  < v7.7.0)

**Note:** doing a `npm adduser` allow us to install our p

[2021-03-24 11:47] Gerrit-K commented on #2935
I can confirm this. We have a very similar approach to access internally hosted packages (i.e. a `.npmrc` with the custom registry tracked in VCS and the token injected via `NPM_CONFIG__auth`). Since yesterday, all of our pipelines (which install `npm@7`) fail. As a workaround, we now pin to `npm@7.6` ...

[2021-03-24 11:49] lorenzogrv commented on #2926
I can confirm this issue. Here happens with every package, also with those without dependencies.

[code]

[2021-03-24 11:54] mo-mdebashi commented on #2935
We also have a similar problem on our pipeline on aws. using `npm@7.6` is working for now, but would be great if we can continue to use the latest

[2021-03-24 11:54] ooooevan commented on #2248
I have the same problem...
my package name is `@copyist/download-git-repo`, i got 400 bad request

then i change the name to `@copyist/downloadgitrepo`, it success.(then i had unpublish it).

I am confused about the name rules.

the error is
[code]

[2021-03-24 11:57] andrewgolovanov commented on #2926
The same problem 😔

[code]

[2021-03-24 12:09] ZwapKillrath commented on #708
Same here. Worked yesterday. Updated to latest version. After that - no updating of the package.json. An "npm out" shows that things are updated though. So something is wrong here. Installed version: NodeJS v.14.16.0.

[2021-03-24 12:55] Audio opened #2936 "[BUG] `npm install` ignores `--production=false` (7.7.0)"
### Current Behavior:
`NODE_ENV=production npm install --production=false` doesn't install project's devDependecies.

### Expected Behavior:
`NODE_ENV=production npm install --production=false` installs devDependencies according to [docs](https://docs.npmjs.com/cli/v7/commands/npm-install):

### Steps To Reproduce:
1. `NODE_ENV=production npm install --production=false`
2. dev dependencies are mis

[2021-03-24 13:05] dotnetCarpenter commented on #2936
We had this problem on Heroku today.

I think that the change is for the better, `NODE_ENV=production` should not install devDependencies.

Our quick-fix is to force installation of devDependencies on heroku via `"heroku-postbuild": "npm install --include=dev && make prod"` in _package.json_.

This is a change from 7.6.x and should probably not have been released before 8.0, since it broke our dep

[2021-03-24 13:21] NGTOne commented on #2935
Can also confirm. Our build pipeline periodically uses the latest NPM, and `7.7.0` broke it with this error.

[2021-03-24 13:28] aral commented on #2887
Just ran into this issue also when running tests. So if your Node app at any point requires sudo privileges, this means that your test will fail also as they do not show the sudo password prompt.

As a workaround for that, do something that requires the sudo prompt before your test. e.g., in your package file:

[code]

That will unlock sudo and you should be able to run your tests before the timeo

[2021-03-24 14:23] #2931 closed

[2021-03-24 15:05] #2932 closed, assigned to wraithgar

[2021-03-24 15:48] darcyclarke commented on #2933
Just tested this & it seems to be working fine for me (potentially this is a problem with your local environment/certs? maybe you're behind a firewall...); For the record, I was testing on Windows 10 (win32) as well & w/ `v.7.6.3`. Let me know if you're able to reproduce this on the latest `npm` (ie. `npm i -g npm` ~ should be >= `v7.7.1`) and if there's potentially any other context you may have

[2021-03-24 15:48] #2933 closed, assigned to nobody

[2021-03-24 15:50] feelepxyz opened #2939 "[BUG] gitlab: git shorthand broken in 7.7.0/7.7.1"
### Current Behavior:
Running `npm install gitlab:kornelski/babel-preset-php` with npm@7.7.0/7.7.1 fails with:

[code]

### Expected Behavior:
Running `npm install gitlab:kornelski/babel-preset-php` with npm@7.7.0 + succeeds with:

[code]

This works if you install 7.6.3: `npm install -g npm@7.6.3`

### Steps To Reproduce:
- `npm install -g npm@7.7.1`
- `npm install gitlab:kornelski/babel-preset-p

[2021-03-24 15:57] Ardgevald opened #2940 "[BUG] ERR! cb() never called! while installing @opengsn/gsn"
### Current Behavior:
I'm trying to install https://www.npmjs.com/package/@opengsn/gsn with npm in a new npm project. I ran into issues to get it installed, it never got to the point where @opengsn/gsn is properly installed.
This is the log at installation : [2021-03-24T15_27_18_497Z-debug.log](https://github.com/npm/cli/files/6198638/2021-03-24T15_27_18_497Z-debug.log)

Currently, the project con

[2021-03-24 15:57] darcyclarke commented on #2924
What happens when you run:
- `npm find-dupes` & then `npm dedupe`?
- `npm ls react` & `npm explain react` should also give you a good idea as to why something may be there twice

Another interesting troubleshooting thought would be... are there any `package-lock.json` files in your workspaces?

[2021-03-24 16:07] ruyadorno commented on #2927
fixed in **[npm@7.7.1](https://github.com/npm/cli/releases/tag/v7.7.1)** thanks @jameschensmith for the quick patch! 🎉

[2021-03-24 16:07] #2927 closed, assigned to nobody

[2021-03-24 16:08] darcyclarke commented on #2940
@Ardgevald I just tried this (I'm on osx though - w/ `v7.7.1`) & couldn't replicate the extraneous deps scenario you noted above (see the screenshot below):

![Screen Shot 2021-03-24 at 12 04 29 PM](https://user-images.githubusercontent.com/459713/112343070-285cfe00-8c99-11eb-81d2-f933902a13b7.png)

Potentially there's other issues you're facing. As a rule of thumb `"cb() never called!"` errors ar

[2021-03-24 16:09] #2940 closed, assigned to nobody

[2021-03-24 16:09] ruyadorno commented on #2928
fixed in **[npm@7.7.1](https://github.com/npm/cli/releases/tag/v7.7.1)**, thanks for the quick report @erunion

[2021-03-24 16:09] #2928 closed, assigned to nobody

[2021-03-24 16:10] ruyadorno commented on #2932
fixed in **[npm@7.7.1](https://github.com/npm/cli/releases/tag/v7.7.1)**

[2021-03-24 16:26] darcyclarke opened #2941 "[BUG] `npm config` throws/becomes unusable after setting `workspaces` or `workspace` config"
### Current Behavior:
- `npm config` throws errors & becomes unusable when it sees defined `workspaces` or `workspace` config

### Expected Behavior:
- `npm config` should be exempt from this default behavior & not throw errors when it sees defined `workspaces` or `workspace` options (its core function/utility is to get/set that config)

### Steps To Reproduce:
1. `npm config set workspaces=true`

[2021-03-24 16:38] nlf commented on #2939
confirmed! fixed in hosted-git-info and will be in the next release coming out shortly

[2021-03-24 17:20] wraithgar commented on #2936
This should be fixed in `v7.7.2`

[2021-03-24 17:20] nlf commented on #2939
this should be fixed in 7.7.2, which was just published

[2021-03-24 17:20] #2939 closed, assigned to nlf

[2021-03-24 17:27] erunion commented on #2928
ty @ruyadorno! glad it wasn't just me 😄

[2021-03-24 18:03] wraithgar commented on #2934
With no config this is not reproduceable.  Can you share your npm config by typing `npm config list`?

There may be a bug with how save-prefix and/or save-exact are interacting, but will need to see your config to be sure.

Also please be sure you are using the latest npm (there have been a few bug releases since 7.7.0)

[2021-03-24 18:21] wraithgar commented on #2941
This should be fixed in `v7.7.3`

[2021-03-24 18:21] #2941 closed, assigned to nlf

[2021-03-24 18:21] wraithgar commented on #2935
This should be fixed in `v7.7.3`

[2021-03-24 18:21] #2935 closed, assigned to nobody

[2021-03-24 18:21] wraithgar commented on #2926
This should be fixed in `v7.7.3`

[2021-03-24 18:21] #2926 closed, assigned to wraithgar

[2021-03-24 18:34] Audio commented on #2936
Thank you, but I'm still able to reproduce the issue with `7.7.2` and `7.7.3`.

[2021-03-24 18:55] alexander-mai commented on #1834
I have the problem that ```npm_config_user_agent``` is not defined on Version 7.7.2. When I switch back to 7.6.x the value is set.

[2021-03-24 19:04] wraithgar commented on #2888
Adding NTLM auth support to npm would be a totally new feature, which are proposed and discussed over in our RFC repo https://github.com/npm/rfcs

[2021-03-24 19:04] #2888 closed, assigned to nobody

[2021-03-24 19:04] #2913 closed, assigned to nobody

[2021-03-24 19:07] wraithgar commented on #2877
I believe this was fixed in `v7.7.0`, the prompt code wasn't being called properly but it should be now.

[2021-03-24 19:48] brianjenkins94 commented on #2877
Just tried `npm@7.7.3` on Windows; it doesn't seem fixed. I'll try my Mac.

[2021-03-24 20:10] Sataa-Yu commented on #805
I've also got the same error when I run "npm install" after npm login with 2 factor auth.

[2021-03-24 20:41] wraithgar commented on #2936
Yep sorry about that. New PR is up and should fix it, and I screenshotted this exact scenario to show it really does fix it this time.

[2021-03-24 20:47] wraithgar commented on #2911
I can not duplicate that behavior.  A script's preinstall script does not run when I install a package into it.

[code]

[2021-03-24 21:06] wraithgar commented on #2936
In the short interim before this fix goes out I'd like to point out to folks that `--production` is deprecated, in favor of passing explicit `--include` and `--omit` values.  (This was very recently deprecated, this is likely the first you're hearing about it).

So if you wanted to override `NODE_ENV=production` in a non-deprecated way you would use `--include=dev`.

[2021-03-24 21:42] ruyadorno commented on #2936
landed in **[npm@7.7.4](https://github.com/npm/cli/releases/tag/v7.7.4)** 🙏 please let us know if you still have any problems.

[2021-03-24 21:42] #2936 closed, assigned to wraithgar

[2021-03-24 21:59] CxRes commented on #2911
I am saying something different. What I am claiming is that if lodash had a preinstall script, that would run when I `npm install lodash`.

Now, I do not understand if that is intended or not. But documentation is not clear on this!

Also, I do not think the point went across earlier and there is much confusion as a result. eg why the docs would ever talk of a parent's preinstall script running wh

[2021-03-24 22:08] ghost commented on #2776
I contacted NPM support, and finally got the problem resolved @flipsasser

Best wishes with your project :) you are now officially the owner - feel free to remove me in the process!

[2021-03-24 22:55] developerweeks commented on #2879
12626 silly extract fsevents@1.2.12 extracted to /home/vsts/work/1/s/webroot/themes/custom/ferc/node_modules/.staging/fsevents-1f35d254 (1193ms)
12627 http fetch GET 200 https://registry.npmjs.org/rxjs/-/rxjs-6.5.5.tgz 4438ms
12628 silly extract rxjs@6.5.5 extracted to /home/vsts/work/1/s/webroot/themes/custom/ferc/node_modules/.staging/rxjs-cb5ea271 (4512ms)
12629 timing npm Completed in 410054ms

[2021-03-24 23:13] jspivack commented on #1834
@nlf @alexander-mai getting the same bug in 7.7.4

[2021-03-24 23:37] nlf commented on #1834
Can one of you please open a new issue for this? We'll take a look ASAP

[2021-03-24 23:40] s1mrankaur opened #2953 "'eval' is not recognized as an internal or external command, operable program or batch file on windows npm script"
[code]

Node version:

[code]

I am using VSCode Bash terminal. It had been working just fine but then I started getting this error. Have tried both the bash terminal and javascript terminal.

If I just type "eval" in the bash terminal, it works okay. While running through npm script it does not.

[2021-03-25 01:56] jamesla opened #2954 "[DOCS] How to get information about a child package during a lifecycle install script?"
I have read through the following document but it is missing a specific condition: https://docs.npmjs.com/cli/v7/using-npm/scripts#environment

I am creating an NPM package and when somebody installs my package I want the install lifecycle script to run - which it does.

However the my package needs to know a few things about the downstream package that is installing it IE it's name and what direc

[2021-03-25 02:34] fishcharlie opened #2955 "[BUG] No Debug Information in `Integrity checksum failed` Error"
### Current Behavior:

Error message doesn't give ANY relevant details. What integrity checksum failed? Assuming this is related to a package, which package was this related to? What download URL produced the checksum output we got?

There is NOTHING in this error message to help me debug this.

[code]

### Expected Behavior:

Error message to give relevant details

### Steps To Reproduce:

1. Pro

[2021-03-25 03:15] dev-neeraj-maurya opened #2956 "npm ERR! cb() never called!"

[2021-03-25 04:12] trusktr opened #2957 "[BUG] npm cache causes errors when a github dependency's branches change in certain ways."
https://github.com/npm/npm/issues/9395

What that solved? No status update was given there and the bot closed it after 30 days.

[2021-03-25 04:52] itssamuelrowe commented on #2027
Why is this issue closed? I'm facing the same issue with v7.6.3.

Anyone looking for a solution, `sudo node ./app/start.js` resolved the issue for me. It appears that npm isn't "passing down" the sudo privilege to the node instance for some reason.

[2021-03-25 06:15] indietato commented on #1916
Hi guys, I had the same issue and I finally found the problem, the problem is the antivirus, I disabled it that worked.

[2021-03-25 07:10] alexander-mai opened #2960 "[BUG] process.env.npm_config_user_agent missing in v7"
### Current Behavior:
```npm i --save-dev husky``` doesn't run the install and postinstall scripts after installing the package so the git hooks are never setup.
The reason is the missing environt variable ```npm_config_user_agent```

### Expected Behavior:
The env var ```npm_config_user_agent``` is set.
The variable is set on npm version 7.6.3.

### Steps To Reproduce:
```npm i --save-dev husky``

[2021-03-25 07:11] alexander-mai commented on #1834
I opened a new Issue: https://github.com/npm/cli/issues/2960.

[2021-03-25 07:33] yvon-dblg commented on #2935
Yes it's fixed for me.
Thank you.

[2021-03-25 08:08] Lehks commented on #2934
The output of `npm config list` is the following:

[code]

Also I've just tested again with npm 7.7.4 and the problem still exists.

[2021-03-25 08:08] noritxu3 commented on #2933
Hi, i did what you advice me, i've got the same error when i do the npm i -g npm, the version of npm in my computer is the 7.74 not the 7.7.1. It's possible that is the reason of my error?
Error in "getDownloadStream". Could not download https://github.com/mozilla/geckodriver/releases/download/v0.29.0/geckodriver-v0.29.0-win64.zip
See more details below:
302 https://github.com/mozilla/geckodriver/

[2021-03-25 08:23] nonameolsson commented on #2800
This happens to me as well. I had to change from using the official `eslint-plugin-prettier` due to a bug.

I have temporarily switched to another version in an open PR by changing to this line: `"eslint-plugin-prettier": "npm:@rxts/eslint-plugin-prettier@^3.4.0-1",`.

This makes `npm outdated` fail with this error:
[code]

This is a pretty bad issue, since we run `npm outdated` as part of our CI.

[2021-03-25 08:25] lorenzogrv commented on #2926
Can confirm it's fixed.

[code]

[2021-03-25 10:21] daviddaxi commented on #708
Seems like they removed these sentences from the official docs... There is no info anymore, that npm update will change the package.json.

[2021-03-25 11:26] TomaszG commented on #2932
I'm using npm@7.7.4 and neither `--save-exact` nor `-E` doesn't work :(

[2021-03-25 12:49] toabm commented on #2816
Thank you @ljharb !, I am not sure I fully understood you.  What you mean by "ardcode node_modules/.bin inside an npm script"?
I have all my config inside package.json: app name, build scripts, libs.... so it would be nice to have the output path there too. Evey more since I need 2 differents paths: 1 for develop mode and a different one for prod mode.

Does this make sense at all?....:) Thank you

[2021-03-25 13:58] ljharb commented on #2933
That error is an ssl error unrelated to npm.

[2021-03-25 14:01] ljharb commented on #2816
I mean:
[code]

[2021-03-25 14:14] toabm commented on #2816
Ok, and....how would you do it? I meen to run webpack and compile de app? Sorry if am an being too ignorant....:\

[2021-03-25 14:21] jspivack commented on #2960
Also seeing this in 7.7.4 when trying to run a script with `run-script-os`

[2021-03-25 14:48] ohardy opened #2961 "[BUG] ETIMEDOUT 104.16.20.35:443"
### Current Behavior:
Everything is working well with 7.3.0 and 7.6.3, it’s really fast too.
When I upgrade npm to any version of 7.7.x, nothing work anymore in my CI. npm become really slow and timeout.

### Expected Behavior:
Install packages

### Steps To Reproduce:
[code]

### Environment:
- Docker version 20.10.5, build 55c4c88
- Image: node:15.12.0-alpine
[code]

Can send the log if necessar

[2021-03-25 14:52] ljharb commented on #2816
There’s lots of approaches; I’d probably use the same path for dev vs prod, but use an environment variable to configure it.

[2021-03-25 15:25] nlf commented on #2956
please see this issue: https://github.com/npm/cli/issues/417

and be sure to fill out our issue templates to the best of your ability.

[2021-03-25 15:25] #2956 closed, assigned to nobody

[2021-03-25 15:27] nlf commented on #2955
does the debug log mentioned at the bottom of that error give you anything more? can you share it here?

i agree this error message could use some enhancement, but there's generally some hints elsewhere in the log as to what was taking place when the integrity mismatch happened.

[2021-03-25 15:31] nlf commented on #2953
if you're running in Windows, the default shell we use to run scripts with is `cmd.exe` which does not have an `eval`. you can override this to use `bash` by running `npm config set script-shell=bash`

let me know if that works for you. admittedly there's an opportunity for a bit of enhancement here where we could potentially default to the currently running shell instead of an operating system sp

[2021-03-25 15:34] dgoyes opened #2962 "error cb() never called!"
At the end of apiconnect install package, generates this log:

4551 timing reifyNode:node_modules/apiconnect/node_modules/rxjs Completed in 506530ms
4552 timing npm Completed in 821764ms
4553 error cb() never called!
4554 error This is an error with npm itself. Please report this error at:
4555 error <https://github.com/npm/cli/issues>

[2021-03-25 15:35] xakraz commented on #2818
Hi there 👋🏻

I am currently facing the same issue.

Env:
* Docker image: `node:15-alpine`
* Node: `v15.12.0`
* Npm `7.6.3`

[code]

[code]

[2021-03-25 15:36] xakraz commented on #2818
Interesting ...

When removing the line `npm set progress=false` it works every time 🤔

[code]

[2021-03-25 15:44] nlf commented on #2962
see this issue https://github.com/npm/cli/issues/417

and please fill out our issue templates fully to the best of your ability.

[2021-03-25 15:44] #2962 closed, assigned to nobody

[2021-03-25 15:46] nlf commented on #2961
are you seeing this only in your CI environment, or locally as well? does the issue happen consistently, or only sometimes? do you use a proxy at all?

the log file would definitely be helpful if you can provide that

[2021-03-25 15:48] nlf commented on #2957
we handle git dependencies quite a bit differently in npm 7.x. without clear step by step instructions on how to reproduce this issue, the best advice i can give is to try it and see what happens.

if it doesn't work, please do feel free to open an issue and fill out our issue template the best you can. specifically step by step how to reproduce the issue would give us the greatest advantage in fi

[2021-03-25 15:48] #2957 closed, assigned to nobody

[2021-03-25 15:56] selrond opened #2963 "[BUG] `npm install --save-exact` doesn't work in 7.7.4"
Continuing with https://github.com/npm/cli/issues/2932#issuecomment-806574078

### Current Behavior:
`npm i -E <package>` or `npm i --save-exact <package>` produces `"<package>": "^1.2.3"`

### Expected Behavior:
should produce `"<package>": "1.2.3"`

### Steps To Reproduce:
`npm i -E <package>`

### Environment:

- OS: macOS Catalina 10.15.7
- Node: 15.12.0
- npm: 7.7.4

[2021-03-25 16:12] nlf commented on #2907
confirmed, this will be fixed with an updated `npm-packlist` in the next release, the PR is linked above

[2021-03-25 16:23] nlf commented on #2904
we've never loaded an `.npmrc` file from `$PWD` by default.

per the documentation:

the bit left out of here is that the per-project config file is that we determine where your project is based on the location of a `package.json` file, so if you're in a directory that has no `package.json` but does have a `.npmrc` it will be ignored. if you include a `package.json` next to your `.npmrc` it should

[2021-03-25 17:12] fishcharlie commented on #2955
@nlf Not that I can see. Attaching the entire log file here.

One note I forgot to mention. Using [verdaccio](https://verdaccio.org) as a proxy. Which obviously I think **might** be causing the problem. But really hard to debug it or bust it's cache for that item if I don't even know where the error is coming from. Or even report the bug to them.

If you happen to know what the problem is off the

[2021-03-25 17:19] wraithgar commented on #2934
I still can't reproduce this w/ the info given. Can you try making a net new project (i.e. `npm init -y`) and see if installing it there has the same issue?

Are you installing by running `npm install` itself or are there other flags?  Are there any environment variables you have set (i.e. from `npm_config_*`)

[2021-03-25 17:29] nicraf commented on #708
Having same issue!  Please reopen!

[2021-03-25 17:43] #2907 closed, assigned to nlf

[2021-03-25 18:18] jalik commented on #708
@ljharb Did someone maintaining this repo has only seen our messages ?
Are you aware of this issue with npm update not updating package.json ? Can you reproduce ?
If this is a new intended behaviour (which I don't understand), how to update minor dependencies in package.json like before using a single command vs `npm install dep1@latest dep2@latest dep3@latest ...` command which is so much less co

[2021-03-25 18:29] ljharb commented on #708
@jalik it was an intended change in npm 7. There is not any way to do that as a single npm command anymore.

This type of feedback was brought up on this week's Open RFC call, so it is being considered.

[2021-03-25 18:40] nlf commented on #2955
you're right, i can't pin the integrity mismatch down to a specific file based on this log either. that's not very helpful at all. we definitely need to improve our error here to at least tell you what file failed its integrity check.

[2021-03-25 18:55] #1856 closed, assigned to nobody

[2021-03-25 19:12] jalik commented on #708
@ljharb thank you for answering.
I don't mind if the default behavior changed between two major versions (which means breaking changes), but not having the ability to do like before is a regression to me, even if in fact it seems to be a rollback to "pre-v5" in which package.json was not modified.

Also I did not see in the docs any info about the v7 behavior, can it be updated ?
Keeping dependenc

[2021-03-25 19:33] nlf commented on #2955
if you search your `package-lock.json` for the value `sha512-cE1jYr2dEg1wBImvXlNtp0xDoS79rfEdGozQVgliDZj1uERH4k+rmEMTudP9b4VQ8O6nRb5gPqft0QzEQGMQgA==` i suspect you'll find an entry that tells you what module at what path it's trying to download

for that module, however, i also suspect there won't be a `resolved` field. i'm not entirely sure how you could end up with a package-lock that has `inte

[2021-03-25 19:36] ljharb commented on #708
yes, that's what i've done on every project i maintain for half a decade

[2021-03-25 20:09] jalik commented on #708
@ljharb so we should do the same for the next decade ⸮

[2021-03-25 22:15] mikeharder commented on #2818
This appears to be a transient issue.  Using these repro steps, sometimes the install succeeds, and sometimes it fails with `Cannot find module 'agentkeepalive'`:

[code]

[2021-03-25 22:40] fishcharlie commented on #2955
@nlf Removing the `yarn.lock` file fixed the issue. For reference [here](https://github.com/LedgerHQ/ledger-live-desktop/blob/develop/yarn.lock) was the repo I was trying to run `npm i --legacy-peer-deps` with.

Still feel like this error should be better tho.

[2021-03-25 22:52] raphaelsaunier commented on #2546
I ran into the exact same issue after trying to install a new dependency in a workspace that already depends on another local package.

To illustrate the problem using by using @jakobrosenberg's initial scenario, it was after running `cd workspace/project2 && npm install new-dependency` (and not just `npm install`, but the result seems to be the same)

I created a sample repo to reproduce and isol

[2021-03-25 23:17] mikeharder opened #2968 "[BUG] `npm install -g` doesn't install local dependencies in v7"
### Current Behavior:
`npm install -g` does not install local dependencies as part of the global install.  This appears to be a breaking change between v6 and v7.

### Expected Behavior:
`npm install -g` does install local dependencies

### Steps To Reproduce:
1. Create a directory containing a `package.json` with a dependency:

[code]

2. In this directory, run `npm install -g`.

**npm v6**
[code

[2021-03-25 23:41] mikeharder opened #2969 "[BUG] `npm install -g` includes devDependencies in v7"
### Current Behavior:
`npm install -g` includes `devDependencies` as part of the global install.  This appears to be a breaking change between v6 and v7.  Might be related to #2968.

### Expected Behavior:
`npm install -g` does not include `devDependencies`.

### Steps To Reproduce:
1. Create a directory containing a `package.json` with both a dependency and a devDependency:

[code]

2. Run `npm i

[2021-03-25 23:55] mikeharder commented on #2921
Also repros if a devDependency cannot be found.  This was a warning in npm v6, but it's an error in npm v7.

**package.json**
[code]

**npm v6**
[code]

**npm v7**
[code]

[2021-03-26 04:20] darcyclarke commented on #2882
Fixed, thanks!

[2021-03-26 04:20] #2882 closed, assigned to nobody

[2021-03-26 04:20] #2879 closed, assigned to nobody

[2021-03-26 04:21] darcyclarke commented on #2875
Fixed, thanks

[2021-03-26 04:21] #2875 closed, assigned to nobody

[2021-03-26 04:21] #2866 closed, assigned to nobody

[2021-03-26 04:22] #2827 closed, assigned to nobody

[2021-03-26 04:25] #1625 closed, assigned to nobody

[2021-03-26 04:25] #1631 closed, assigned to nobody

[2021-03-26 04:25] #1637 closed, assigned to nobody

[2021-03-26 04:25] #2187 closed, assigned to nobody

[2021-03-26 04:25] #2272 closed, assigned to nobody

[2021-03-26 04:25] #2274 closed, assigned to nobody

[2021-03-26 04:25] #2290 closed, assigned to nobody

[2021-03-26 04:25] #2305 closed, assigned to nobody

[2021-03-26 04:25] #2317 closed, assigned to nobody

[2021-03-26 04:25] #2501 closed, assigned to nobody

[2021-03-26 04:25] #2506 closed, assigned to nobody

[2021-03-26 04:25] #2618 closed, assigned to nobody

[2021-03-26 04:25] #2651 closed, assigned to nobody

[2021-03-26 04:25] #2656 closed, assigned to nobody

[2021-03-26 04:25] #2675 closed, assigned to nobody

[2021-03-26 04:25] #2694 closed, assigned to nobody

[2021-03-26 04:25] #2777 closed, assigned to nobody

[2021-03-26 04:25] #2790 closed, assigned to nobody

[2021-03-26 04:29] #1260 closed, assigned to nobody

[2021-03-26 04:29] #1262 closed, assigned to nobody

[2021-03-26 04:29] #1269 closed, assigned to nobody

[2021-03-26 04:29] #1272 closed, assigned to nobody

[2021-03-26 04:29] #1273 closed, assigned to nobody

[2021-03-26 04:29] #1288 closed, assigned to nobody

[2021-03-26 04:29] #1291 closed, assigned to nobody

[2021-03-26 04:29] #1307 closed, assigned to nobody

[2021-03-26 04:29] #1318 closed, assigned to nobody

[2021-03-26 04:29] #1325 closed, assigned to nobody

[2021-03-26 04:29] #1346 closed, assigned to nobody

[2021-03-26 04:29] #1347 closed, assigned to nobody

[2021-03-26 04:29] #1362 closed, assigned to nobody

[2021-03-26 04:29] #1391 closed, assigned to nobody

[2021-03-26 04:29] #1393 closed, assigned to nobody

[2021-03-26 04:29] #1609 closed, assigned to nobody

[2021-03-26 04:29] #1610 closed, assigned to nobody

[2021-03-26 04:31] #1085 closed, assigned to nobody

[2021-03-26 04:31] #1091 closed, assigned to nobody

[2021-03-26 04:31] #1093 closed, assigned to nobody

[2021-03-26 04:31] #1098 closed, assigned to nobody

[2021-03-26 04:31] #1115 closed, assigned to nobody

[2021-03-26 04:31] #1124 closed, assigned to nobody

[2021-03-26 04:31] #1127 closed, assigned to nobody

[2021-03-26 04:31] #1130 closed, assigned to nobody

[2021-03-26 04:31] #1156 closed, assigned to nobody

[2021-03-26 04:31] #1163 closed, assigned to nobody

[2021-03-26 04:31] #1164 closed, assigned to nobody

[2021-03-26 04:31] #1194 closed, assigned to nobody

[2021-03-26 04:31] #1195 closed, assigned to nobody

[2021-03-26 04:31] #1205 closed, assigned to nobody

[2021-03-26 04:31] #1212 closed, assigned to nobody

[2021-03-26 04:31] #1218 closed, assigned to nobody

[2021-03-26 04:31] #1220 closed, assigned to nobody

[2021-03-26 04:31] #1222 closed, assigned to nobody

[2021-03-26 04:31] #1223 closed, assigned to nobody

[2021-03-26 04:31] #1233 closed, assigned to nobody

[2021-03-26 04:31] #1235 closed, assigned to nobody

[2021-03-26 04:31] #1238 closed, assigned to nobody

[2021-03-26 04:31] #1249 closed, assigned to nobody

[2021-03-26 04:31] #1251 closed, assigned to nobody

[2021-03-26 04:32] #957 closed, assigned to nobody

[2021-03-26 04:32] #959 closed, assigned to nobody

[2021-03-26 04:32] #963 closed, assigned to nobody

[2021-03-26 04:32] #972 closed, assigned to nobody

[2021-03-26 04:32] #976 closed, assigned to nobody

[2021-03-26 04:32] #977 closed, assigned to nobody

[2021-03-26 04:32] #981 closed, assigned to nobody

[2021-03-26 04:32] #988 closed, assigned to nobody

[2021-03-26 04:32] #998 closed, assigned to nobody

[2021-03-26 04:32] #1003 closed, assigned to nobody

[2021-03-26 04:32] #1008 closed, assigned to nobody

[2021-03-26 04:32] #1014 closed, assigned to nobody

[2021-03-26 04:32] #1018 closed, assigned to nobody

[2021-03-26 04:32] #1023 closed, assigned to nobody

[2021-03-26 04:32] #1032 closed, assigned to jamesgeorge007

[2021-03-26 04:32] #1035 closed, assigned to nobody

[2021-03-26 04:32] #1044 closed, assigned to nobody

[2021-03-26 04:32] #1046 closed, assigned to nobody

[2021-03-26 04:32] #1062 closed, assigned to nobody

[2021-03-26 04:32] #1075 closed, assigned to nobody

[2021-03-26 04:32] #1076 closed, assigned to nobody

[2021-03-26 04:32] #1077 closed, assigned to nobody

[2021-03-26 04:32] #1078 closed, assigned to nobody

[2021-03-26 04:32] #1080 closed, assigned to nobody

[2021-03-26 04:32] #1081 closed, assigned to nobody

[2021-03-26 04:33] #536 closed, assigned to nobody

[2021-03-26 04:33] #551 closed, assigned to nobody

[2021-03-26 04:33] #562 closed, assigned to nobody

[2021-03-26 04:33] #612 closed, assigned to nobody

[2021-03-26 04:33] #616 closed, assigned to nobody

[2021-03-26 04:33] #637 closed, assigned to nobody

[2021-03-26 04:33] #641 closed, assigned to nobody

[2021-03-26 04:33] #645 closed, assigned to nobody

[2021-03-26 04:33] #657 closed, assigned to nobody

[2021-03-26 04:33] #662 closed, assigned to nobody

[2021-03-26 04:33] #667 closed, assigned to nobody

[2021-03-26 04:33] #677 closed, assigned to nobody

[2021-03-26 04:33] #678 closed, assigned to nobody

[2021-03-26 04:33] #716 closed, assigned to nobody

[2021-03-26 04:33] #722 closed, assigned to nobody

[2021-03-26 04:33] #734 closed, assigned to nobody

[2021-03-26 04:33] #744 closed, assigned to nobody

[2021-03-26 04:33] #750 closed, assigned to nobody

[2021-03-26 04:33] #751 closed, assigned to nobody

[2021-03-26 04:33] #761 closed, assigned to nobody

[2021-03-26 04:33] #804 closed, assigned to nobody

[2021-03-26 04:33] #825 closed, assigned to nobody

[2021-03-26 04:33] #840 closed, assigned to nobody

[2021-03-26 04:33] #859 closed, assigned to nobody

[2021-03-26 04:33] #956 closed, assigned to nobody

[2021-03-26 04:33] #469 closed, assigned to nobody

[2021-03-26 04:36] Alhadis commented on #1346
@darcyclarke Has this been fixed? If so, in which release?

[2021-03-26 05:22] #944 closed, assigned to nobody

[2021-03-26 07:43] ostanioni commented on #1832
alternatively, if you know what you are doing, then
`npm i --force`
e.g. peer dependency react 17.0.1 was overwritten to 17.0.2

[2021-03-26 08:21] ssc-hrep3 commented on #2889
This occurs also when installing dependencies with `--production`: https://github.com/npm/cli/issues/2863

[2021-03-26 08:46] Lehks commented on #2934
I have tried setting up a new project and the problems still persist. The commands I executed were:

[code]

As before, `my-package` is from my private registry (`express` is the regular Express package - I also installed this to test a package from the public Package Registry). `my-package` is still beeing installed with version `*` and `express` is beeing installed properly.

There are no other

[2021-03-26 08:51] Lehks commented on #2934
I have also tried doing the same thing on my regular Windows (not inside WSL) and the problem is the same there.

[2021-03-26 10:03] snebjorn commented on #677
@darcyclarke Please state the reason for closing

[2021-03-26 10:43] Vardaan100 opened #2970 "[BUG] Unable to install expo-cli"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

npm install --global expo-cli

npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated topo@2.0.2: This version has been deprecated in accordance with the hapi support polic

[2021-03-26 13:52] thasmo commented on #2606
I tried to fix the `package-lock.json` file via `npm install --package-lock-only` but that doesn't seem to add `hasInstallScript` where it would be needed. Is there a way to fix it any other way without losing the locked versions of all dependencies?