[2021-02-03 02:17] ljharb commented on #2599
If you're using nvm, you can also `nvm install-latest-npm`, and you'll always be guaranteed to get the latest working version (but you have to start with a working node/npm, ofc)

[2021-02-03 04:00] tuchidoghostmaster commented on #2599
Hi all,

I have the same error,

I deployed from Gitlab to Heroku and had the same error,

Is there a way to fix it?

![image](https://user-images.githubusercontent.com/49369979/106696257-e60b2f00-660e-11eb-8ce9-3fdf98b181b1.png)

[2021-02-03 04:18] sk09049 commented on #2510
@darcyclarke
Can you please provide an reason for closing this out

[2021-02-03 06:34] robross0606 commented on #2603
I've found that, for reasons unknown, this breaks selectively for directories on Windows NTFS where case-sensitivity has been enabled.  If case-sensitivity is _disabled_ on `node_modules/.bin` it works fine.  If case sensitivity is _enabled_ on `node_modules/.bin` it breaks execution of cmd.

[2021-02-03 07:14] highmtworks commented on #2249
[code]

[2021-02-03 08:22] slavoroi commented on #2599
We have the same issue in our Jenkins pipilines.
Running `npm i -g npm` installs npm 7.5.2 when i'm on node 8.
It also breaks our usage of `nvm` in our local computers (nvm 33).
Also I tried using npm 7 and it failed on many libraries, like rollup and many more!
Didn't you promise npm 7 would be for node 15+, no?

[2021-02-03 08:36] alizadeh-mohsen opened #2604 "cb() never called!"
just installed angular and tried to create my first new app but faced errors during project preparation
I've attached log file for your review
AND I WAS TOO SAD WHEN I FOUND OUT THAT IRAN IS RESTRICTED  BY YOUR WEBISTE, I HAD TO USE A VPN.

### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-02-03 08:48] stoneman opened #2605 "[BUG] team rm/destroy: Unexpected end of JSON input while parsing near ''"
### Current Behavior:
The `npm team rm` and `npm team destroy` error with `Unexpected end of JSON input while parsing near ''`. They do however remove the user or destroy the team successfully.

Full output of a `destroy` command (`rm` is the same):
[code]

### Expected Behavior:
They don't print an error.

### Steps To Reproduce:
1. `npm team create <my-org>:<my-team>`
1. `npm team add <my-org>:<

[2021-02-03 09:13] evanw opened #2606 "[BUG] package.json has "lockfileVersion": 2 but is missing "hasInstallScript": true"
My apologies if this is a duplicate. The closest I could find is https://github.com/npm/cli/issues/1905, but the fix didn't solve the problem in this issue.

### Current Behavior:

The user-facing issue is that you can get into a state where `npm ci` fails to run the `postinstall` scripts of all of your dependencies, resulting in broken packages. This appears to be because of a missing `"hasInstal

[2021-02-03 11:46] Mrfiziee opened #2607 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-02-03 13:26] aiwha-dev opened #2608 "[BUG] Can't install latest version of npm using npm -> method not allowed"
### Current Behavior:

Run the following command: npm install -g npm

Since the release of yesterday it gives:
`npm ERR! Error: Method Not Allowed`

Full traceback
[code]

### Expected Behavior:

To install the latest version

### Steps To Reproduce:

Install npm on a linux distro using yum,
then update it using npm

### Environment:

[2021-02-03 13:30] aminomancer commented on #2593
I can reproduce, also on 18363. And npm 6.x works without a hitch for me too.

[2021-02-03 13:49] eAi commented on #2599
I'm also having this error when I upgraded from 5.6.0 to 7.5.2. Reinstalling node from nodejs.org (with npm 6.14.10) fixed this.

[2021-02-03 13:52] guilhermesad commented on #2599
Getting same error trying to deploy to Heroku:
<img width="999" alt="Screen Shot 2021-02-03 at 10 51 38 AM" src="https://user-images.githubusercontent.com/1436748/106756231-d4755780-660d-11eb-9e5e-b851d4919e73.png">

[2021-02-03 14:35] ljharb commented on #2599
@slavoroi https://github.com/npm/cli/issues/2599#issuecomment-772159414

[2021-02-03 14:44] #2607 closed

[2021-02-03 14:45] ljharb commented on #2604
There's no log file attached. Note, though, that if the `npm install` completes, everything after that is typically related to your project, and not to npm.

#417.

[2021-02-03 14:55] robross0606 opened #2609 "[BUG] npm_package_ variables do not work on npm 7"
Since the upgrade to npm v7, no `npm_package_` variables work.
### Current Behavior:
Using npm 7, npm scripts cannot access anything other than the following fields:
[code]
With npm v6, other variables were exposed.  For example, if we had a section like this:
[code]
this is exposed in npm 6 as `$npm_package_dockerConfig_imageRepo`.  This no longer works with v7 at all.
### Expected Behavior:
`$np

[2021-02-03 15:00] joshuasaunders commented on #2599
I am really stuck here and this is on my production server. I can't get nvm installed, get the same error installing nvm `TypeError: Cannot destructure property `stat` of 'undefined' or 'null'.` I can't figure out a way to upgrade node, and npm isn't working for anything. Can't even tpye `npm -v` without the error. I don't want to uninstall npm completely to reinstall it, as that may take down my

[2021-02-03 15:10] robross0606 commented on #2609
Oh, apparently this was covered on the "beta" announcement but not mentioned as far as I can tell on the GA announcement.  The link to the actual RFC 21 is also a 404 error.  It is also not mentioned at all on the v7 online documentation.

[2021-02-03 15:15] tekstrand commented on #2599
We're seeing this issue in our pipeline. As far as I can tell downgrading to npm 6 does fix it, but that is quite a pain.

[2021-02-03 15:24] joshuasaunders commented on #2599
@tekstrand How did you downgrade to npm 6?  I get the same error trying to downgrade with the normal install command `npm install -g npm@6`. Did you have to completely uninstall npm first?

[2021-02-03 15:54] joshuasaunders commented on #2599
Yeah, thanks. Had to manually do the install of lower version of npm. Then upgrade node. Then was able to update npm.

[2021-02-03 16:16] uhop commented on #2169
It WFM:

[code]

I think this issue can be safely closed.

[2021-02-03 16:16] #2169 closed, assigned to nobody

[2021-02-03 16:42] uhop opened #2610 "[BUG] NPM v7 uses SSH instead of an explicit HTTPS for GitHub repos"
### Current Behavior:

When I use a git repository via an HTTP link NPM "takes liberties" with it, which breaks my build:

[code]

It produces `package-lock.json`:

[code]

Note that `https://github.com/uhop/stream-chain.git` was replaced with `github:uhop/stream-chain`, which is probably OK in this case. But other two links (?) are rewritten from `https://github.com/uhop/stream-chain.git` to `git

[2021-02-03 16:42] wraithgar commented on #2028
From https://github.com/npm/cli/issues/1969#issuecomment-712510753

[2021-02-03 16:42] wraithgar commented on #1969
This is going to be tracked [here](https://github.com/npm/cli/issues/2028)

[2021-02-03 16:42] #1969 closed, assigned to nobody

[2021-02-03 16:43] wraithgar commented on #2028
from https://github.com/npm/cli/issues/1969#issue-722796524

but currently, npm fetch all module information, it's make install process slow.

[2021-02-03 16:47] wraithgar commented on #2465
This was fixed [here](https://github.com/npm/arborist/pull/211) and was included in `v7.5.1`.

If this is still not working, feel free to update the `Environment` section with the new npm version you were using and re-open the issue.

[2021-02-03 16:47] #2465 closed, assigned to wraithgar

[2021-02-03 17:13] isaacs commented on #2028
Note: if `omit` includes `prod`, then we can't just omit all nodes where devOptional/peer are false, because devDeps can depend on production deps.  Omitting production is pretty tricky.  One approach might be to add yet another flag in calcDepFlags to indicate "yes, I'm production, but I'm a transitive or direct dependency of dev/optional/peer nodes".  Otherwise we'll have to walk out from the no

[2021-02-03 17:26] wraithgar opened #2611 "[BUG] legacy changelogs should not be part of published cli"
### Current Behavior:
Included in the data published with the cli is the `./changelogs` directory, which contains the changelogs for previous semver-major versions of the cli.

### Expected Behavior:
This directory should not be included with the published cli.

### Environment:
- npm: 7.5.2

[2021-02-03 17:46] xqin commented on #2028
If only this is the case(about won't fix), does it mean that if I want to achieve such an effect, I can only delete the corresponding node in `package.json` before executing `npm install`?

[2021-02-03 17:51] ljharb commented on #2610
Can you try with npm v7.5.2? I think this has already been fixed.

[2021-02-03 17:51] nlf commented on #2372
we've made some changes with regards to how linked modules are handled, can you try updating to the latest release `7.5.2` and let us know if you still experience this problem?

[2021-02-03 17:54] xqin commented on #2028
I have been tracking this issue for many years. If this is the final result (no need to fix), for the npm community, I don't know what to say.

**this issue exists since `npm v5.10.0` and still exists in `npm 7`.**

[2021-02-03 17:57] wraithgar commented on #2599
If you have installed npm 7 on node 8 you can run this command to get back to a working npm 6

[code]

[2021-02-03 17:59] zenigate commented on #2599
Thank you, This help me fix this issue

[2021-02-03 19:29] ljharb commented on #2599
@wraithgar heads up that that's not working for me; curl doesn't output anything to the pipe unless i add `-o-`, and inside the script, the curl to get the tarball URL has the same problem.

[2021-02-03 19:38] wraithgar commented on #2599
@ljharb that sounds like a curl version issue maybe? If I remember correctly older versions of curl didn't automatically handle being piped correctly.

The [readme example](https://github.com/npm/cli#direct-download) has `-L` as a parameter but that's only for following redirects, of which there aren't any on that url.

What version of curl were you using? I am on `curl 7.64.1`

[2021-02-03 19:41] ljharb commented on #2599
@wraithgar i'm using whatever `curl` comes with Mac OS Big Sur, which is indeed v7.64.1. Do you perhaps have a `~/.curlrc` that is altering how curl behaves?

[2021-02-03 19:45] uhop commented on #2610
Just tried with exactly same results.

[code]

`package-lock.json` is absolutely identical.

[2021-02-03 19:48] wraithgar commented on #2599
Nope, no curlrc, and same version but I'm not on Big Sur, still on Catalina.

[2021-02-03 20:00] nlf commented on #2599
I just tried on Big Sur in both `fish` and the default `zsh` and had no issues, also with no curlrc

fwiw I tested on an m1 mbp and in both rosetta and with a native node, no issues anywhere for me

[2021-02-03 20:10] ljharb commented on #2599
oooops, lol, i had a curlrc with `--remote-name-all`, specifically to trigger this scenario for when nvm forgets to use `-q` (to bypass the curlrc). Perhaps the curls inside the script could use that?

[2021-02-03 20:44] wraithgar opened #2612 "[BUG] npm should refuse to install a version of npm that has an engines conflict"
### Current Behavior:
I can install a version of npm in an environment where the `engines` property in the packument does not include the version of node it is being run under.

### Expected Behavior:
npm refuses to install a version of npm for which it has a conflict between the current node version and the `engines` entry in the version of npm you are trying to install.

### Environment:
- npm:

[2021-02-03 20:58] nlf commented on #2599
we can patch the script to pass a `-q` in the calls there and change our advised command to install to include it

[2021-02-03 22:22] Shadowfiend commented on #2554
We just found an issue that may be related to this in npmv7: it looks like `npm link` now clears existing links if run for several modules in sequence. If you run one command, as in `npm link moduleb modulec`, it appears to link everything in one step---it's possible that may fix the issue you're seeing.

[2021-02-03 23:16] ljharb commented on #2612
to clarify, is this a regression from npm 6?

[2021-02-03 23:26] wraithgar commented on #2612
No npm 6 will happily try to install npm 7 if you are running in node 8, even though the engines entry in npm 7 says `"node": ">=10"`

[2021-02-03 23:27] ljharb commented on #2612
hm, @isaacs has implied many times that engines.npm is special and always behaves like `enginesStrict` :-/

[2021-02-03 23:30] wraithgar commented on #2612
This is for `engines.node` not `engines.npm`.

[2021-02-03 23:33] ljharb commented on #2612
ahhh thank you for clarifying.

[2021-02-03 23:48] yancyknight commented on #2571
I tried the workaround suggested by @arieffikhrie but it looks like all my versions were already pointed to "file:../package1" instead of "1.0.0" and it still breaks when doing a fresh install with no `node_modules`.

[2021-02-03 23:58] strarsis opened #2614 "[BUG] Doesn't use SSH agent for git+ssh"
### Current Behavior:
`npm` doesn't use the available SSH agent (`SSH_AUTH_SOCK` environment variable) when installing from git+ssh repositories (e.g. self-hosted private GitLab). `~/.ssh/config` is used, hence the workaround consists of providing a private key file and force its usage in `~/.ssh/config` for the paritcular connections.

### Expected Behavior:
`npm` should use the SSH agent when co

[2021-02-04 01:20] jcesarmobile opened #2615 "[BUG] should not install optional peer dependencies"
### Current Behavior:

@angular-devkit/build-angular has a peerDependenty to ng-packagr, but it’s marked as optional

https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/build_angular/package.json#L105

and ng-packagr has a peerDependency to tsickle, but also marked as optional
https://github.com/ng-packagr/ng-packagr/blob/master/package.json#L64

and tsickle has a peerDepen

[2021-02-04 03:41] tuchidoghostmaster commented on #2599
Hi, I have solved it.

- In the file`package.json` please using :

[code]
Then it will work for you.

[2021-02-04 04:38] ljharb commented on #2599
@tuchidoghostmaster the `npm >= 3.10` is what's broken - npm 7+ can't ever work on node 8. Try fixing the "engines" field's "npm" property in your package json to be `^3 || ^4 || ^5 || ^6`, for example.

[2021-02-04 04:43] tuchidoghostmaster commented on #2599
@ljharb yes, i'm updated, using node 8 and npm 6+ working for me now. see comment https://github.com/npm/cli/issues/2599#issuecomment-773004723

[2021-02-04 04:49] ghost opened #2616 "[BUG] cb() never called!"
It exists, but for v6...

### Current Behavior:

When I'm installing anything (probably when with `-g` or `link`) after npm installing, it stops in the middle, and shows the error `cb() never called!`
### Expected Behavior:

Should install pkgs normally.
### Steps To Reproduce:

### Environment:

(I just installed npm@latest yesterday, and from that time, installing pkgs globally is showing that p

[2021-02-04 05:14] chriskinsman opened #2617 "Dependencies of package published to Github Package Registry are not loaded from npmjs"
### Current Behavior:
I have a scoped package published to GitHub Package registry with a package.json that contains two dependencies.  When I attempt to install it I get an error about not being able to load one of the dependencies of the scoped package.  npm is attempting to load the dependency which has no scope from the same registry that the containing package is loaded from.

### Expected Be

[2021-02-04 06:24] MadeleineCodes commented on #2508
Are there any news on this? `--prefer-online` doesn't work for me 😕
Also not if I first try with `npm install`...

[2021-02-04 07:54] yandodov commented on #2380
@darcyclarke I can't reach the point of being able to reproduce. With a fresh install of Node `15.8.0` and npm `7.5.1`, I create a symlink by running `npm link` in the package folder:

[code]

...which creates the symlink (`oblik`). However, when I open it, it seems to be broken:

![image](https://user-images.githubusercontent.com/5570098/106861420-65ac0300-66ce-11eb-84fc-b7a7b4bae999.png)

...and

[2021-02-04 08:10] Nikitamudgekar11 opened #2618 "while Creating new angular app get an error as below"
Installing packages (npm)...npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WA

[2021-02-04 08:39] Pablograu commented on #1816
@myckhel `npm config set registry https://registry.npmjs.org/` worked for me! thanks!

[2021-02-04 08:53] mmdkh112233 commented on #2567
I have this problem
$ npm i
npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but package-lock.json was generated for lockfileVersion@2. I'll try to do my best with it!
npm ERR! code ENOTFOUND
npm ERR! errno ENOTFOUND
npm ERR! network request to https://registry.npmjs.org/acorn/-/acorn-7.3.1.tgz failed, reason: getaddrinfo ENOTFOUND proxy.admworld.com
npm ERR! netw

[2021-02-04 10:06] ianldgs commented on #2508
I was having a similar problem as @Stvad. The first `npm install` would error and output the message of this issue, then, the second `npm install` would work normally.
Tried to give it a go because of the simpler workspaces implementation, would fit perfectly my use-case, but I was having so much problems that I gave up and will use yarn or nx.dev instead.

[2021-02-04 10:29] leepowelldev opened #2619 "[BUG] npm 7 + Azure Devops Artifacts"
We have an issue very similar to this bug report https://github.com/npm/cli/issues/2183, which has apparently been fixed. However we're seeing the issue in the latest version of v7 (and previous versions).

### Current Behavior:
We have a number of Azure Devops build pipelines which make use of the built in Artifacts (registry) feature. All build pipelines are already authenticated to retrieve the

[2021-02-04 10:38] isaacgannon commented on #2616
I have experienced the same bug this is my log.
[2021-02-04T10_12_16_652Z-debug.log](https://github.com/npm/cli/files/5925080/2021-02-04T10_12_16_652Z-debug.log)

[2021-02-04 11:20] jonny0000 commented on #2610
I think there is no error in the code[.](https://gamesapkworld.com/minecraft-earth-apk/)

[2021-02-04 13:00] SaadiSave commented on #2615
How long would a potential fix take? Angular is an important framework.

[2021-02-04 13:35] markSmurphy opened #2620 "[BUG] `npm dedupe -g` removes some globally installed packages"
### Current Behaviour:
I have some npm packages installed globally, which are command line utilities (`create-react-app`, `distributed-dig`, snyk`, and others). I recently updated to npm version 7 (7.5.2) with node 14 (14.15.4) on Windows 10 (version: 2004 || build: 19041.746).

If I perform a global `dedupe` ...
[code]
... a number of the globally installed packages are removed. Curiously not all

[2021-02-04 14:27] ljharb commented on #2620
What are you expecting to happen with a global dedupe? (certainly not remove packages, this sounds like a bug)

[2021-02-04 14:47] markSmurphy commented on #2620
I'd expect the same behaviour as npm v6 where each top-level globally installed package persists after the global dedupe. In the example I've given I'd expect all 12 globally installed packages to still be installed after the dedupe.

[2021-02-04 14:49] ljharb commented on #2620
Right, but i mean, what do you expect it to *change* - to deduplicate?

[2021-02-04 14:59] markSmurphy commented on #2620
oh, I see what you're asking.
I'd expect the dedupe to look at each packages' dependencies for duplicates and where they are found to reference the same one on disk rather than have multiple copies.
So, for example, if more than one of the global packages references `yargs` in its respective packahe.json, then I'd expect dedupe to ensure they both use the same copy rather than have it twice (or mo

[2021-02-04 15:01] ljharb commented on #2620
That's not what dedupe does tho - it hoists everything farther up the filesystem so they can be shared. However, in the case of global packages, nothing can be hoisted up to the global root (or it'd mess with `npm ls -g`, and what's in your PATH), so there's no possible deduplication to be had.

In other words, I'd expect `npm dedupe -g` to fail immediately, without achieving anything or deleting

[2021-02-04 15:02] joe-gre commented on #2137
This is caused by an API change in NPM CLI. npm.load now only accepts a callback in the latest version. I'm not sure why this API change was made. This change wasn't present in npm version 6.14.11, it was introduced shortly after that version.

[Commit with the change](https://github.com/npm/cli/commit/5cb9a1d4d985aaa8e988c51fe5ae7f7ed3602811#diff-036a8548ce8f693612d0da9f8363169838ac84db5d0a0bcc4a

[2021-02-04 15:13] tomalexhughes commented on #1845
Can confirm behaviour is working in `7.5.2` however I had to run `npm rebuild` to re-install husky's hooks. This may be helpful for you @hanifmhd

[2021-02-04 15:15] ljharb commented on #2137
the npm programmatic API hasn’t followed semver since like v3 or something; generally it’d best to shell out to the cli instead.

[2021-02-04 15:40] TheDutchCoder opened #2621 "[BUG] npm installs old versions of eslint-plugin-vue"
### Current Behavior:

npm install with the following configuration, installs a random old version of the plugin:
`"eslint-plugin-vue": "^7.0.0-0",`
npm install either `7.4.1` (standard) or `7.2.0`(cache cleared)

Neither is right (7.5.0 should be installed)

### Expected Behavior:

The correct plugin to be installed

### Steps To Reproduce:
Add the dependency and run `npm install`

### Environmen

[2021-02-04 15:41] wraithgar commented on #2508
We would need more info to debug this, such as the output of the failing install with `--verbose` and the output of `npm config list`.

[2021-02-04 15:56] justincy opened #2622 "[BUG] Transitive production dep is incorrectly marked as dev dep in package-lock.json"
### Current Behavior:

A transitive dependency is incorrectly marked in package-lock.json as a dev dep. This prevents it from being installed when `NODE_ENV=production`.

#### More detail

In my case, the problem occurs with `@babel/core`. Here's the output of `npm list @babel/core`:

[code]

`@babel/core` is a dep of both [@svgr/webpack](https://github.com/gregberge/svgr/blob/ec17865c5d26c5e7e5cb

[2021-02-04 16:03] DavidTeachYouHowTo commented on #1832
It works for me too

[2021-02-04 16:04] darcyclarke commented on #2380
@hdodov good to hear the initial issue seems to be resolved. I have heard of other folks using `nvs` or `volta` on Windows for version management (there's also `nvm-windows`, not sure if that's what you're using already, but I'm not sure how well it's supported) - could you maybe try one of those & see if linking breaks there as well?

[2021-02-04 16:13] markSmurphy commented on #2620
That's what I meant, even if I didn't explain it very clearly or gave a duff example.

Here's a better (real world) example.

I install `npm install -g akamai-error-lookup` which references Akamai's `edgegrid` (used to authenticate with, and call, Akamai's APIs).
`edgegrid` references `request` which in turn references `combined-stream` & `form-data`. But `form-data` also references `combined-stre

[2021-02-04 16:15] ljharb commented on #2622
(Not that this affects the bug, but why would anything webpack-related be a production dep?)

[2021-02-04 16:16] justincy commented on #2622
I tried copying most of the other dependencies from my main project into the [test project](https://github.com/justincy/npm-dev-dep-test/blob/ae523f3336f0c53a566e77e16b28e00c71f36501/package-lock.json#L20), and I still wasn't able to reproduce the bug. I couldn't copy all deps because some are in a private repository, so maybe that's the problem.

[2021-02-04 16:19] ljharb commented on #2620
Agreed. I think the correct behavior would be to error immediately with a message that deduping global packages doesn’t make sense.

[2021-02-04 16:23] justincy commented on #2622
Removing the private deps in my main project didn't solve the problem either. I don't know what else to test.

[2021-02-04 17:05] ruyadorno commented on #1832
FYI @profesordavidvaldez @MikaBertels and anyone else landing on this issue in the future, instead of downgrading to a maintenance-only version, the recommended (and more future-proof) solution if you find yourself facing `ERESOLVE` errors that you can't fix yourself is to use the `legacy-peer-deps` config option.

You can add it to your `.npmrc` file and have it be the default for a given project

[2021-02-04 17:07] ruyadorno commented on #1832
For more info on the `legacy-peer-deps` option, here's the link to it in the docs: https://docs.npmjs.com/cli/v7/using-npm/config#legacy-peer-deps

[2021-02-04 17:15] justincy commented on #2622
The problem went away after clearing the npm cache and regenerating the npm cache. 🤷🏼‍♂️

[2021-02-04 17:15] #2622 closed, assigned to nobody

[2021-02-04 21:08] ljharb opened #2623 "npm v7 fails on node v10.0 (~~and v10.1-v10.9~~)"
### Current Behavior:
Run `npm install` on node v10.0 - v10.9, it will fail: https://github.com/ljharb/publishers/pull/8/checks?check_run_id=1834032724 / https://github.com/ljharb/es-value-fixtures/pull/2/checks?check_run_id=1833723968

### Expected Behavior:
`npm install` to complete successfully, as it does on node v10.10+ (since `engines.node` is `>= 10`)

### Steps To Reproduce:
I suspect this

[2021-02-04 21:21] Stono opened #2624 "[BUG] npmrc based authentication no longer works for scoped repositories"
### Current Behavior:
With the following `.npmrc`:
[code]

And a package:
[code]

And an `npm packed`:
[code]

`npm publish` on v7 fails:

[code]

However on `v6`, it's fine:
[code]

I logged out `registry` on line 89, and it appears to be picking the wrong one: `https://registry.npmjs.org/` rather than `ourpivateregistry.jfrog.io` which led me to believe `@at:registry = https://ourprivateregistry

[2021-02-04 21:27] fluxsauce opened #2625 "[BUG] npm prompts v7 to be upgraded to and installs with Node 8"
### Current Behavior:

When running Node 8 LTS, `npm` advertises incompatible version of `npm`:

[code]

`npm i -g npm` upgrades to an incompatible version of `npm` if you're running an unsupported version of Node.

### Expected Behavior:

- `npm` doesn't recommend `v7` if you're not using a compatible version of node
- Latest 6.x version is installed (last supported by Node 8).

### Steps To Repr

[2021-02-04 22:08] #724 closed, assigned to nobody

[2021-02-04 22:23] #1886 closed, assigned to ruyadorno

[2021-02-04 22:23] #2203 closed, assigned to nobody

[2021-02-04 23:43] jalik commented on #708
I have the same issue, `npm update` does not update versions in `package.json`, but only in `package-lock.json` (npm v7).
However the official doc is stating that this should be the case:
https://docs.npmjs.com/cli/v7/commands/npm-update#description

I can confirm that this only happens with npm v7.5.1 and not v6.x.
All my versions are defined using `^x.x.x`.

node v15.8.0 (official script install

[2021-02-05 02:06] emccorson commented on #1965
@felschr I think this was released in `arborist@2.2.0` but `npm@7.5.2` is still locked to `arborist@2.1.1`.

[2021-02-05 02:58] ruyadorno commented on #1965
hi @felschr @emccorson the original reported issue should have been fixed back in October, are you finding similar problems? If that's the case it would be very appreciated if you can open a new issue providing some more info such as log files, package.json, package-lock.json, etc 😊

[2021-02-05 03:47] tristanls commented on #2554
Confirmed that `npm link moduleb modulec` is a valid workaround:

[code]

Thank you.

[2021-02-05 03:49] dl748 opened #2627 "[BUG] npx appears broken in 7+ with PATH"
[test.zip](https://github.com/npm/cli/files/5930021/test.zip)
### Current Behavior:
Version 6+
[code]

Version 7+
[code]

### Expected Behavior:

Should not ask to install as it already exists in the PATH

### Environment:

OS: Linux 5.7.9
Node: v14.15.4
npm: 7.5.2

[2021-02-05 04:07] dl748 commented on #2627
[test.zip](https://github.com/npm/cli/files/5930023/test.zip)

Sample

[2021-02-05 05:21] bradbarrow opened #2628 "[BUG] npm install in workspace root installs optional peer dependencies of workspace package dependencies"
### Current Behaviour:

See **Steps to Reproduce** for details.

When running `npm install` in the root of a project with workspaces configured, duplicate versions of `react` are installed because `npm` installs the version that one of my packages depends on directly AND a version of `react` that is an optional peer dependency of one of my package's dependencies resulting in:

`react@16.14.0` is i

[2021-02-05 05:21] MadeleineCodes commented on #2508
npm install:

[code]

and my `.npmrc:`
[code]

If I switch back to any npm v6 version the exact same `.npmrc` works fine. So it does not seem to be an issue with the token/account or azure itself.

[2021-02-05 05:48] kxmndz commented on #2503
@darcyclarke sorry but no, I didn't check. The problem fixed itself after updating Windows and reinstalling both node and npm though.

[2021-02-05 05:48] #2503 closed, assigned to nobody

[2021-02-05 09:02] yandodov commented on #2380
@darcyclarke actually, I don't know if it's resolved. That was my point in my previous comment - I couldn't get past the `npm link <package>` part to see what the `npm install` after it would do - whether the link would stay or my child project would get erased.

I'll experiment with other version management tools and post the update here. 👍

[2021-02-05 10:24] zWingz opened #2629 "[BUG] invalid version when set version as dist-tag in package-lock file"
### Current Behavior:

i set version as dist-tag in `package.json` and `package-lock.json`
[code]

and then `npm ci`

it throw error
![image](https://user-images.githubusercontent.com/13031838/107021570-4355da80-67df-11eb-9365-8cc55dd82508.png)

### Expected Behavior:

install it

it work in npm@6

### Environment:

macOS 11.2
npm 7.5.2

[2021-02-05 10:49] yandodov commented on #2380
I installed [Volta 1.0.1](https://github.com/volta-cli/volta/releases/tag/v1.0.1) and I didn't have the problems mentioned in my previous comment. I tried to reproduce the issue and it seems that it's half solved. Here's what I tested:

1. `npm link oblik` (without the package in my package.json): adds the package as a link
2. `npm i`: removes the linked package **(maybe not expected?)**
3. `npm i

[2021-02-05 12:11] Ayfri opened #2630 "[BUG] Cannot update npm v7 to latest version."
### Current Behavior:
When I execute `npm i -g npm@7`, I get this error every times:
[code]

### Expected Behavior:
Get the latest version installed globally.

### Environment:
- OS: Window 20h2
- Node: 15.7.0
- npm: 7.5.0

[2021-02-05 12:14] dhtzs commented on #2630
I've been facing the same problem for a while now. I've tried checking folder/file permissions but everything seems normal as I have full control permissions. There should obviously be a solution to the problem.

[2021-02-05 12:24] ianldgs commented on #2508
@wraithgar I was getting the information for you, but then I had to install npm 7 again, since I had downgraded.
Got 7.5.2 instead of 7.4.3 that I had before, and now my problem seems to be gone!

[2021-02-05 13:02] koooge opened #2631 "[BUG] npm install resolved https with PAT as git+ssh"
Hi there,

### Current Behavior:

npm@7 install from https://github with [PAT](https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token) resolved as git+ssh://. Is this intended?

pacakge.json

[code]

package-lock.json

[code]

### Expected Behavior:

package-lock.json

[code]

It's because I have some hacks to keep the PAT a secret. like:

[code]

This hack wor

[2021-02-05 13:54] dhtzs commented on #2630
I've been facing the same problem for a while now. I've tried checking folder/file permissions but everything seems normal as I have full control permissions. There should obviously be a solution to the problem.

Environment:
OS: Windows 10 20H2
Node: 15.8.0
npm: 7.5.0 / 7.5.1

[2021-02-05 14:34] SBRK commented on #2630
Haven't had the issue by updating, but I have a similar issue when linking my libs... So far NPM7 has been a trainwreck for me...

[2021-02-05 15:05] leepowelldev commented on #2619
We've dug a bit further on this... the URI to our registry is:

[code]

However there is an alternate URI some of our developers are using that resolves to the same endpoint:

[code]

EDIT: This second URI is part of a URI move MS are in the process of rolling out (although it's been around for a while now) - https://docs.microsoft.com/en-us/azure/devops/release-notes/2018/sep-10-azure-devops-laun

[2021-02-05 15:16] wraithgar commented on #2508
@ianldgs Glad to hear it. ~A bug fix went out in 7.5.2 that had to do with how and when the cli checked if you were logged in during publishes and that is likely why your specific case worked.  I'm not totally sure it's related to the original issue yet because the error messages aren't the same as the other bug.~ ETA: it is 7.5.3 that has the bugfix, which is not out yet so now I don't know why y

[2021-02-05 15:20] wraithgar commented on #2508
@mrucelum is that the actual output of `npm config list`? npm pulls from several different places when it builds its final config so just having the contents of one file may not tell the whole story.

[2021-02-05 15:22] wraithgar commented on #2508
Also, is your token newer than 90 days? Azure tokens only live for 90 days by default.

[2021-02-05 15:35] t1m0thyj opened #2632 "[BUG] Install fails if "bin" script doesn't exist"
### Current Behavior:

In a workspace, `npm install` fails for a package with a "bin" script defined in package.json that doesn't exist. NPM tries to chmod the non-existent "bin" script, resulting in ENOENT error.
[code]

### Expected Behavior:

`npm install` should succeed and NPM should not attempt to chmod "bin" scripts if they don't exist.

### Steps To Reproduce:

The scenario of a non-existe

[2021-02-05 15:42] holmok opened #2633 "[BUG] Package-lock v2 (npm v7) is attempting to install optional and non-platform libraries causing CI builds to fail using npm 6."
### Current Behavior:

We have a project that builds fine locally (mac os dev machines) and on our CI (git lab Linux containers) that worked end to end with npm v6.  This includes libraries that have a dependency on fsevents v1.x.  Currently, our build containers are built with node v12 and npm v6, so as to not break the things using fsevents 1.x.  I upgraded a local dev machine to node v15 and np

[2021-02-05 16:29] leepowelldev commented on #2508
Similar issues as logged here: https://github.com/npm/cli/issues/2619

Our CI pipelines are 401'ing - tokens are provided internally for the CI agents.

[2021-02-05 16:32] apasov commented on #2630
I get this error also when running `npm update -g` as well as when trying to re-install or update any already existing global package.  Installing a global package not installed previously works properly.

[2021-02-05 16:54] wraithgar commented on #2508
Thank you @leepowelldev, we can move the azure-specific conversation there, as this issue was for github packages.

[2021-02-05 17:00] leepowelldev commented on #2508
Sure - although the two issues may share similarities in how v7 is following redirects with auth?

[2021-02-05 17:10] wraithgar commented on #2508
I don't believe npm packages does redirects the same way azure does. I get a bare `200` response when fetching `https://npm.pkg.github.com/@wraithgar%2fgh-registry-test` with my auth token.

When I fetch the tarball urls from the github registry, they do redirect, but the new auth is baked into the query parameters as a signed aws request so it no longer is using my auth token after the redirect.

[2021-02-05 17:23] Ayfri commented on #2630
I also get this error in administrator mode.

[2021-02-05 17:49] brettk-dev opened #2634 "[BUG] git+ssh private git server "Invalid URL" in 7.5.2. works in 6.14.11."
# What / Why

## When

* When running `npm install git+ssh//git@git.wrightmfg.com:wright/plugins/wmi-plugin-core.git` or any other repo URL on our server.

## Where

* n/a

## How

### Current Behavior

* I get the following error: `Invalid URL: git+ssh://git@git.wrightmfg.com:wright/plugins/wmi-plugin-core.git`

### Steps to Reproduce

* n/a

### Expected Behavior

* The repo successfully resolve

[2021-02-05 17:55] leepowelldev commented on #2508
Yeah, redirects are a guess on my part (I've not had time to investigate), however I don't think this is an issue with Azure as v6 works as expected.

[2021-02-05 17:56] leepowelldev commented on #2619
Might be related: https://github.com/npm/cli/issues/2508

[2021-02-05 18:28] DaneEveritt opened #2635 "[BUG] npm install command without specific dependency re-orders entire lockfile"
### Current Behavior:
When running `npm install` with no specific dependency listed `package-lock.json` gets updated and the ordering of dependencies is changed. This causes us to constantly be accidentally committing changes to this file when there are in-fact, no changes.

It also makes it incredibly difficult to properly see how things have changed over time, and introduces another fun event, w

[2021-02-05 19:17] uhop commented on #2610
Just to point it out explicitly:

* The dependency is set as `https://github.com/uhop/stream-chain.git` &mdash; note `https://` part of it.
* In `package-lock.json` it is mentioned three times.
  * Two if them as `git+ssh://git@github.com/uhop/stream-chain.git#459f5a1708c138b6e0abaae4cf103c3488e1e78e`.
  *  Note `git+ssh://git@github.com` part.
    * It definitely tries to access the repository us

[2021-02-05 19:27] dhtzs commented on #2630
Even worse, when I'm trying to run `npm i npm -g` with administrator rights, npm installation completely breaks.

[2021-02-05 19:44] darcyclarke commented on #2593
@davidgeary can you try to reproduce in the latest v7? (ie. `npm i -g npm`)

[2021-02-05 19:46] darcyclarke commented on #2624
@stono sorry you're running into this. We should have this fixed in the next release (ie. `7.5.3`) ~Monday.

If you want to solve this temporarily, check out @wraithgar's [answer here](https://github.com/npm/cli/issues/2567#issuecomment-772076506)

[2021-02-05 19:48] #2624 closed, assigned to darcyclarke

[2021-02-05 20:27] #969 closed, assigned to nobody

[2021-02-05 21:03] isaacs commented on #2633
Hmm, I cannot reproduce this.

When I install chokidar (which has an optional dependency on fsevents) with npm 7, I get [this lockfile](https://gist.github.com/isaacs/bb57f0ef8ea77588acbf3aecd39c03da).  Note the [new-style entry for fsevents](https://gist.github.com/isaacs/bb57f0ef8ea77588acbf3aecd39c03da#file-package-lock-json-L74-L85):

[code]

and the [old-style entry that npm v6 uses](https://

[2021-02-05 21:07] isaacs commented on #2633
Also, if there is any diff in the `dependencies` portion of the package-lock.json files, then that would be relevant.  npm v6 does not know about or do anything with the `packages` section.

Same results with chokidar@2 instead of latest, but then `fsevents` is version 1.2.7 [lockfile](https://gist.github.com/isaacs/5987e4a8eb464f211b01817c5db73d64)

I see this when I install with npm v6:

[code]

[2021-02-05 21:09] rti commented on #2519
FYI, I was just able to reproduce a similar issue on an IPv6 only Debian machine by just using the node DNS API. So it is possibly not related to the libc implementation nor to npm (as already said). Setting ```verbatim``` to ```true``` as suggested by https://github.com/nodejs/node/pull/31567 fixes the problem.

[code]

[2021-02-05 21:14] holmok commented on #2633
...interesting...

[code]

I don't know why the extraneous `fsevents@1.2.13` is in the root project.  All we have in the root project are dev dependencies (lerna, typescript, linting, etc).  It may be pulling it in because we are hoisting our lerna bootstrap?

[2021-02-05 21:20] holmok commented on #2633
I will try to recreate this in a simpler 'non-work' project this weekend.

[2021-02-05 22:53] isaacs commented on #2633
Maybe dumb question: is it possible that fsevents is checked in, and npm v6 is just trying to rebuild it?

Yes, it is indeed strange that there is an extraneous fsevents in there.  Perhaps it is a (non-optional) peer dep that got pulled in by npm v7, added to the package-lock, and then dutifully put back by npm v6?

It might be informative to run this on your machine that has npm 7 installed:

[co

[2021-02-05 23:48] leafac commented on #2329
@jsg2021: It seems like you got your way 😃

[2021-02-06 00:28] holmok commented on #2633
Here is the output...

[code]

[2021-02-06 02:15] hoekma commented on #2508
Having the same problem with the E401 immediately after upgrading to 7.5.2.  I have a GitHub private store defined in `~/.npmrc`.  Everything works fine with `npm@6.14.10`.  Other factoids: `MacOS 11.2`   `NVM 0.36.0`, `Node 14.15.4`.

`~/.nmprc`:

registry=https://npm.pkg.github.com/myprivaterepo
 //npm.pkg.github.com/:_authToken=myauthtoken

[2021-02-06 05:09] highmtworks commented on #2249
I created https://github.com/npm/run-script/pull/20 .
I hope it resolves this.

[2021-02-06 05:45] LEOBOT-main opened #2637 "https://github.com/npm/cli/issues"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-02-06 07:56] highmtworks opened #2638 "[BUG] inconsistent interpretation of backslash passed to npm scripts in windows"
I'm sorry to report a minor issue.

Tools built on node tend to use npm scripts in package.json as shortcuts of various tasks.
Passing paths of files or directories to such tools is a common use case,
but it sometimes meets a difficulty when the path contains backslashes in windows.

### Current Behavior:

package.json
[code]
index.js
[code]

npm start commands:
[code]

in npm 7.5.2
[code]

in npm

[2021-02-06 14:09] #2637 closed, assigned to nobody

[2021-02-06 16:07] thany opened #2639 "[BUG] Update global package, even as root, causes EACCESS"
### Current Behavior:
`npm update -g` to update global packages, eider with sudo or as logged in as root, will fail with EACCESS.

### Expected Behavior:
It should update global packages.

### Steps To Reproduce:
1. Run Ubuntu 20.04 on WLS
2. Have Node.js 14.15.4 & NPM 6.14.10 installed via apt ([using this method](https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distr

[2021-02-06 18:16] Prarthanparu opened #2640 "Not able to remove the module create-react-app"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-02-06 22:36] morficus commented on #2631
Just spent an hour debugging this in my CI environment, just to finally relaize that npm-7 was the issue.

The reason this is a problem is because github seems to not allow cloning public repos using git+ssh with out a security key, it requieres it to be git+https
[code]

By npm-7 changing everything to git+ssh... this means that it is not possible to use direct GitHub repositories as dependencies

[2021-02-07 02:15] asears opened #2641 "[BUG] NPX uses cached GIST instead of latest"
### Current Behavior:
Installing from Gist using package.json and js file is a really interesting use of npx.

Trying this out on Windows, I found it cached the first gist version of the package and any changes to the gist weren't picked up.

Deleting the cache fixes this.  Is there a command line option to delete the cache?

### Expected Behavior:

Updating the code in a gist should be picked up

[2021-02-07 04:23] bipolarmorgan opened #2642 "npm run-script <command> [-- <args>]"
[code]

WHAT? Why is it doing that?!?!?!

[2021-02-07 05:13] luisthedragon commented on #2560
Same problem here, I have triedmany ways:

- inline (npm install --no-progress)
- in root folder (via .npmrc with progress=false)
- in my user folder (via .npmrc with progress=false)

I have also tried reinstalling node. Even reinstalling npm from the github page.
But I keep getting the same result.

### Environment:

- OS: Windows 10 Home
- Node: 14.15.4
- npm: 7.5.2

[2021-02-07 08:32] bipolarmorgan commented on #2642
So I had to edit my .npmrc and set usage to false instead of true to fix the issue i was experiencing

`usage=false`

[2021-02-07 08:32] #2642 closed, assigned to nobody

[2021-02-07 11:35] phil-warner commented on #2599
I'm getting the exact same error. I was running Node 12.18 and tried upgrading to 14.15.4, which came with npm 6.14.1, which didn't fix it. Then tried to upgrade npm, but got the error again.

[2021-02-07 11:41] setpill commented on #1627
Cannot reproduce with @gurdiga 's minimal instructions, however running `npm update --depth 9999` on a bigger project (like laurent22/joplin) gives me the following:

[code]

Supplemental information:

* npm version: 6.14.11
* node version: v15.8.0
* OS: Arch Linux
* kernel: 5.10.13-arch1-1

[2021-02-07 12:10] setpill commented on #1627
Interesting. Running `npm update --depth 40` in the same repository returns:

[code]

Inspecting this log, I notice that there's over 9000 (literally; there's 9075) lines of the form

[code]

The numbers vary (the first number is increasing and the second number decreasing). The end of the log has

[code]

[2021-02-07 13:13] setpill commented on #1627
I just noticed that that project is using lerna, which might or might not interfere with this problem. I'll leave my comments as they are, as the information within them could still prove useful.

[2021-02-07 14:38] erichoswald commented on #1703
For me the dependency that causes the error is
[code]

which I need to use tailwindcss with PostCSS 7, see https://tailwindcss.com/docs/installation#post-css-7-compatibility-build

So the workaround for me is to delete that line, run `npm outdated`, and restore it again. I'm using npm v7.5.2 BTW.

[2021-02-07 15:25] ljharb opened #2643 "`npm install --before` does not ignore `node_modules/.package-lock.json`"
### Current Behavior:
1. Go to a repo that has had transitive dep publishes, but hasn’t had any root dep updates.
2. Run `npm install`
3. run `rm -rf node_modules/.bin && rm -rf node_modules/*` (i usually do this to avoid deleting the node_modules dir and breaking my Dropbox sync settings)
4. Run `npm install --before=$lastRootDepUpdates`
5. See install fail, not finding a transitive dep that was

[2021-02-07 17:50] Abishek-godsu opened #2644 "[BUG] <title>npm ERR! cb() never called! npm ERR! This is an error with npm itself. Please report this error at: npm ERR! <https://npm.community>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-02-07 17:56] sjmondal opened #2645 "Can't install vue@cli"
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '-g',
1 verbose cli   '@vue/cli' ]
2 info using npm@5.5.1
3 info using node@v8.9.1
4 verbose npm-session bc624df1cacaad97
5 silly install loadCurrentTree
6 silly install readGlobalPacka

[2021-02-07 20:38] #2644 closed, assigned to nobody

[2021-02-07 20:45] sumit1600 opened #2646 "Failed to install new projects"
I have attached log file
[2021-02-07T20_34_35_679Z-debug.log](https://github.com/npm/cli/files/5939969/2021-02-07T20_34_35_679Z-debug.log)

[2021-02-07 20:53] holmok commented on #2633
guh... after a couple of attempts, I was unable to recreate in a "lab" environment.  We bumped our build containers to node v15 and resolved the issue.  Thanks for looking into this.

[2021-02-07 20:53] #2633 closed, assigned to nobody

[2021-02-07 21:10] ljharb opened #2647 "`--save-dev` updates peer dep also"
### Current Behavior:
1. package that has:
[code]

2. run `npm install --save-dev webpack@3`
3. see package.json updated to:
[code]

### Expected Behavior:
The package.json should become:
[code]
or:
[code]

but since i didn't use `--save-peer` (or `--save` by itself, even), the peer dep *must not be touched*.

Separately, this is an entirely unexpected breaking change in my package, since some pot

[2021-02-07 22:53] papb opened #2648 "[BUG] Installing a package from a tarball from GitHub does not respect the `files` property in `package.json`"
### Current Behavior:
Installing a package from a tarball from GitHub does not respect the `files` property in `package.json`

### Expected Behavior:
The `files` property should be respected

### Steps To Reproduce:
1. `npm init -y`
2. `npm i https://github.com/sequelize/sequelize/tarball/main`
3. `ls node_modules/sequelize`
4. See that all files were installed, instead of respecting [the `files`

[2021-02-08 05:15] MadeleineCodes commented on #2508
I do not have other `.npmrc` files (as to my knowledge at least 😉), but just to be sure: here the original output from `npm config list`

[code]

Regarding the token: I am not sure when I created this token exactly, but I usually create tokens that last as long as possible. In case of azure this means 1 year. That doesn't prevent some of them stop working way before that for some reason 🤷‍♀️ - but

[2021-02-08 08:03] korosuke613 opened #2649 "[BUG] Files under directories already added to `files` of package.json cannot be excluded by adding them to `files` (like `!some_directory`)."
### Current Behavior
Files under directories already added to `files` of package.json cannot be excluded by adding them to `files` (like `!some_directory`). Up to npm 6.14.11 it was possible to exclude, but from npm 7.5.2 it is no longer possible.

* `package.json`, `src/index.js`, **`src/__tests__/indexTest.js`** are added to the npm package.
[code]

### Expected Behavior

* `package.json`, `src/

[2021-02-08 08:57] denzelWashington commented on #2599
I'm getting the same problem too.
I have **node 8.9.4** installed but when i run in jenkinsfile `npm -v `, im getting this error
![Annotation 2021-02-08 095631](https://user-images.githubusercontent.com/953867/107197318-06aefc80-69f4-11eb-9d0c-6bfac7b15501.jpg)

[2021-02-08 09:34] davidgeary commented on #2593
@darcyclarke Ah, it's working properly with 15.8.0/7.5.1 - thanks for the prompt to retest.

Turns out that a new version of node was released the day after I found the issue.  That version - 15.8.0 - now includes npm 7.5.1, which is working fine.

FYI, I tried upgrading it to the very latest (7.5.2) using `npm i -g npm`, but it just blew up with an `EPERM: operation not permitted` error while ren

[2021-02-08 09:34] #2593 closed, assigned to nobody

[2021-02-08 12:12] theGlenn commented on #2508
Still occurring on `7.5.2`

[2021-02-08 13:00] dan-mba commented on #2039
If the change in npm update between v6 & v7 with regards to package.json is working as designed, then the [documentation](https://docs.npmjs.com/cli/v7/commands/npm-update) should be updated.

It currently states:

[2021-02-08 13:38] talsi opened #2650 "[BUG] not installing peer dependencies for workspaces if they are not nested inside the root package"
### Current Behavior:
having 'library-project' with peer-dependencies adjacent to 'main-project'
and 'main-project' with workspaces: ['../library-project'] (outside of 'main-project' folder)
'npm install' in 'main-project' is not installing the peer-dependencies

example:

[code]

### Expected Behavior:
expecting node_modules in 'main-project' after 'npm i' to include 'dep-a':
[code]

actual resul

[2021-02-08 13:48] abtraju opened #2651 "Package folder is removed once the installation is completed"
Created an NPM package to install only chosen ember add-ons based on the user input. For example, the package will install only the needed add-ons for the application if developer opted to install 3 out of 10 addons.

And, it works fine in only the below two scenarios.

1. The package folder is present in node-modules if we try to install the package a second time.
2. And before install, added the

[2021-02-08 14:38] erezrokah commented on #2609
@robross0606 looks like `npm_package_config*` still works

[2021-02-08 14:54] robross0606 commented on #2609
As per [RFC21](https://github.com/npm/rfcs/blob/latest/implemented/0021-reduce-lifecycle-script-environment.md), that is not true.  I can confirm this with testing by toggling back and forth between v6 and v7 of NPM.  This is not a bug, just a glaring omission in the GA announcement if you weren't tracking the beta announcements.  Caught us off guard.

I should also point out that the official doc

[2021-02-08 15:34] ljharb commented on #2593
nvm-windows doesn’t update npm at all - it’s just that new node versions might have newer versions of npm shipped with them.

if you can’t `npm install -g npm` in node 10+, there’s still something wrong with either npm or your system :-/

[2021-02-08 15:34] ljharb commented on #2649
Seems like a duplicate of #2441?

[2021-02-08 15:59] wolfie opened #4290 "[BUG](arborist) Cannot read property 'extraneous' of undefined"
# What / Why
It seems like with a certain setup using npm workspaces that has an internal dependency-tree (npm 7.5.1), running `npm install` causes this error:

[code]

the npm log includes this piece of snippet:

[code]

## When
I'm unsure what exactly causes this. But basically when I run `npm install`

## Where
Private repository

I can answer further questions, but since our project is somewha

[2021-02-08 16:01] ljharb commented on #4290
What happens on v7.5.3?

[2021-02-08 16:10] wolfie commented on #4290
Unfortunately I was unable to find a way to install v7.5.3 on my computer (can you guide me towards how to find/install it on MacOS?).

However, I did install node nightly with `NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/ nvm i node` which gave me v7.5.2. That gives me the same results.

[2021-02-08 16:14] cmandlbaur commented on #2022
@darcyclarke the linked issue seems to address install failures using git+https, whereas this issue is to do with git+ssh.

[2021-02-08 16:53] wraithgar commented on #4290
7.5.3 is not out yet

[2021-02-08 17:02] wraithgar commented on #2612
Current thinking is that if a pre-install script did this check, we would not be required to be using npm7 itself to do the install in order to benefit from this. The version that's *being* installed can do this check.

[2021-02-08 17:10] wolfie commented on #4290
I fixed it on my machine by
1) deleting `~/.npm` (did not help by itself)
2) deleting `node_modules` and `package-lock.json` in the project. (this helped)

[2021-02-08 17:34] DoronGeyer commented on #2295
Hey @MikeDepies probably waay late to answer this , but I'll leave a possible answer for others that google this.
When you create an npmjs account via terminal you can end up  with that error if your password is less that 10 characters long.
If you use the actual npmjs.org website to create an account you will see that it gives you a notification of that issue. Try increase password length to 10+

[2021-02-08 17:36] wraithgar commented on #2623
This is addressed by https://github.com/npm/installed-package-contents/pull/4
https://github.com/npm/installed-package-contents/pull/4

[2021-02-08 17:39] #2640 closed, assigned to nobody

[2021-02-08 17:56] denzelWashington opened #2652 "[BUG] Node 8.9.4 is installed but npm not working"
I'm getting the same problem too.
I have **node 8.9.4** installed but when i run in jenkinsfile `npm -v `, im getting this error

[code]

i have downgraded npm to **npm@latest-6** but doesn't work for me

[2021-02-08 18:03] asgerjensen opened #2653 "[BUG] $(npm version patch) no longer returns vX.Y.Z, but only X.Y.Z"
This may have been on purpose, but i do not see the behavior change listed under breaking changes.
https://blog.npmjs.org/post/626173315965468672/npm-v7-series-beta-release-and-semver-major

### Current Behavior:
`VERSION=$(npm version patch)`
set tag to `v1.0.1`, but VERSION is `1.0.1`

### Expected Behavior:

NPM 6 behavior:

`VERSION=$(npm version patch)`
set tag to `v1.0.1`, and VERSION is `v1

[2021-02-08 18:47] ljharb commented on #2652
npm 7 requires node 10, so on node 8, you can't run `npm install -g npm`. At this point you probably have to reinstall node itself.

If you're using nvm, you can use `nvm install-latest-npm` to avoid this; otherwise atm you'd have to know to run `npm install -g npm@6`.

[2021-02-08 19:10] uhop commented on #2610
It came to my attention that this is a documented behavior that breaks private repositories and environments without `ssh` access (from https://blog.npmjs.org/post/626173315965468672/npm-v7-series-beta-release-and-semver-major):

Clearly this is not correct and should be fixed.

[2021-02-08 19:21] wraithgar commented on #2473
There is no way for the cli to know if `registry` in its config was set through the cli or from an npmrc file. The scope-specific registry is a setting that overrides `registry` in the config.

In order for you to override a scope-specific registry you will have to do it via that scope-specific setting, i.e.

[code]

[code]

[2021-02-08 19:22] #2473 closed, assigned to nobody

[2021-02-08 20:08] ljharb commented on #2623
Which version of npm will include this fix?

[2021-02-08 20:20] scamden commented on #2443
@ryd

[2021-02-08 20:22] scamden commented on #2443
@ruyadorno @wraithgar guys any word on this? It's been weeks and it's totally blocking us

[2021-02-08 20:51] wraithgar commented on #2623
I believe this got pulled in with `v7.5.3` https://github.com/npm/cli/pull/2626

[2021-02-08 21:09] ljharb commented on #2623
Hmm, v10.0 is still failing with `TypeError: Cannot destructure property `stat` of 'undefined' or 'null'.`: https://github.com/ljharb/publishers/pull/8/checks?check_run_id=1858247201 inside `node_modules/@npmcli/node-gyp/lib/index.js:2:29`, so i think this needs to be reopened - although https://github.com/npm/installed-package-contents/commit/5f90dfa7eec900a237ebcf5bb4af5981dadbb8c4 seems to have

[2021-02-08 21:26] ljharb commented on #2623
Specifically, this is because node v10.0 doesn't actually have `fs.promises` - however, `util.promisify(fs.stat)` should work there. I'll try to make a PR.

[2021-02-08 21:29] #2567 closed, assigned to wraithgar

[2021-02-08 21:29] ljharb commented on #2623
Filed as https://github.com/npm/node-gyp/pull/5.

[2021-02-08 21:32] kf6kjg commented on #2114
More fun that might, or might not, help locate the origin of this issue: today I was trying to do some bash scripting around some npm commands and got a very similar interesting result:

[code]

There was no content in the `test` file.

The relevant line from `package.json` is `"build": "react-scripts build"` - so pretty standard.

This repros in both of the following configurations on Ubuntu 20.0

[2021-02-08 21:34] ruyadorno commented on #2623
@ljharb it looks like there are a couple more places in the cli:

[code]

[2021-02-08 21:39] ljharb commented on #2623
woof, ok

[2021-02-08 21:43] ljharb commented on #2623
https://github.com/npm/run-script/pull/21 and https://github.com/npm/cli/pull/2654

[2021-02-08 21:46] wraithgar commented on #2567
This should be fixed now as of `v7.5.3`, you no longer need to have a token for the npm registry in order to have a scope-specific registry override/auth in your npmrc file.

[2021-02-08 21:55] robross0606 commented on #2567
Unfortunately, #2639 prevented a clean update to `v7.5.3`. 😢

[2021-02-08 21:57] robross0606 commented on #2639
I'm seeing something similar on Windows but the error is _slightly_ different:
[code]
[2021-02-08T21_55_49_459Z-debug.log](https://github.com/npm/cli/files/5947071/2021-02-08T21_55_49_459Z-debug.log)

[2021-02-08 22:00] robross0606 commented on #2639
This last time it failed, it completely wiped `npm` from my system.  Now I cannot even run npm at all:
[code]
I had to completely reinstall node.js to get `npm` working again.

[2021-02-09 00:42] korosuke613 commented on #2649
Oh, I'm sorry.  As you say, this issue was a duplicate of the linked issue. Thank you.

[2021-02-09 00:43] mathiaswillburger commented on #2578
How is INIT_CWD accessed now? I used it in my scripts on Windows like this, which always worked in version 6, but now doesn't anymore:

[code]

I am using npm v7.5.3

[2021-02-09 00:46] #2649 closed, assigned to nobody

[2021-02-09 00:50] jsg2021 commented on #2578
If your shell is bash for windows:

[code]

But you shouldn't need that, just use "./src..."

[2021-02-09 04:40] icatalina commented on #2560
You can achieve something similar by piping the command through `tee`.

[code]

Not the best solution, but at least you don't get the progress... 🤷

[2021-02-09 07:31] darcyclarke commented on #2615
@jcesarmobile can you try the latest `npm`? (ie. `npm i -g npm`) We shipped fixes in [`7.5.3`](https://github.com/npm/cli/releases/tag/v7.5.3) on Monday which should have resolved this - tested locally & `optional` `peerDependencies` do seem to be behaiving correctly (ie. not being installed or warning of conflicts by default).

[2021-02-09 08:31] darcyclarke commented on #2504
@targos just tried with the latest v7 ([`7.5.3`](https://github.com/npm/cli/releases/tag/v7.5.3)) & this seems to be resolved - can you try updating & let us know if you're still experiencing issues?

[2021-02-09 08:49] Roaders opened #2656 "How to provide progress feedback to a user when wrapping npm install in node exec"
Hi
I have a node script that installs other scripts using `child_process.exec("npm install myDependency")`.

I have added listeners to listen for `data` on `childProcess.stdout.on("read", console.log());` but I only get the complete messages at the end. I want to listen for the progress messages such as `[...........] remove:` to show the user that something is happening. (I don't want to actually

[2021-02-09 11:01] AndreKR commented on #2022
@darcyclarke @cmandlbaur Yeah, the other issue is about authentication with `git+https` while this one is about `ERR_INVALID_URL` with `git+ssh`. Totally different problems.

[2021-02-09 11:23] ghost opened #2657 "[BUG] I installed the latest version of npm (7.5.3), and now "'npm' is not recognized as an internal or external command, operable program or batch file.""
### Current Behavior:

Whenever I run an `npm` command, I get this message:
[code]
### Expected Behavior:

It runs the command I entered
### Steps To Reproduce:

1. Update to the latest version of npm `npm i -g npm@latest`
2. Run any npm command, e.g. `npm init`
3. See the error

### Environment:

- OS: Windows 10
- Node: 14.15.4
- npm: 7.5.3

[2021-02-09 11:35] alexander-schranz commented on #2339
We do have the same problem im @sulu where the `package.json` can not be the in the parent directory as it would block the `package.json` which developers could maybe create to build there own application/website css/js.

@darcyclarke I did read in the [meeting doc](https://github.com/npm/rfcs/blob/latest/meetings/2021-01-27.md) that:

Is this a suggestion to add options or are here already some o

[2021-02-09 13:00] jcesarmobile commented on #2615
It's still not working.
I'm updating the steps to reproduce since `@angular-devkit/build-angular` was updated to force npm 6 and the problem can't be reproduced there anymore, but can still be reproduced by using an older version of  `ng-packagr`

[2021-02-09 13:57] nonusx opened #2658 "Cannot installing the github (ssh request and http request) repositories"
### Current Behavior:
Try `npm i -S git@github.com:368573607/scratch_file_analyze.git` return a error, error code: -4068.

Detailed:
[code]

### Expected Behavior:
I hope the npm can install my repository correctly.

### Steps To Reproduce:
1. Open powershell of windows.10 .
2. Run `npm i -S git@github.com:368573607/scratch_file_analyze`
4. See error...

### Environment:
- OS: Windows 10
- Node: v

[2021-02-09 14:08] t1m0thyj opened #2659 "[BUG] Custom install script of bundled dependency fails when parent package is globally installed with prefix"
### Current Behavior:

NPM v7 fails to find bins called in the custom install script of a package, under these conditions:
* The package with a custom install script (e.g., keytar) is included as a bundled dependency
* The package that includes it is installed with both the `--global` and `--prefix` flags specified
[code]

### Expected Behavior:

Packages with custom install scripts should always

[2021-02-09 14:29] ljharb commented on #2658
Can you try with npm v7.5.3?

[2021-02-09 14:34] Eonasdan commented on #2603
attempting to run `rollup` without installed globally no longer works. same with `browser-sync`

`'browser-sync' is not recognized as an internal or external command`

Environment:
OS: Windows 10 1909
Node: 15.8
npm: 7.5.2

------------
Edit: strange. I rolled npm down to 6.14.11. Did `npm i` in my project and I was able to run rollup and browser-sync. I then installed npm@latest (7.5.3), did `npm

[2021-02-09 15:24] JohnRDOrazio commented on #417
I was just trying to setup the WordPress Gutenberg development environment, following the instructions [here](https://developer.wordpress.org/block-editor/contributors/develop/getting-started/). When running `npm ci` after several hours of downloading packages I finally got this same error:

[code]

The last few lines of the log have:

[code]

**NPM version**: 6.14.10
**Node version**: v14.15.4
**

[2021-02-09 15:30] t1m0thyj opened #2660 "[BUG] Preinstall script runs after installing dependencies"
### Current Behavior:

In NPM v7 the preinstall script runs after dependencies are installed, which breaks backwards compatibility with NPM v6.

This may have been on purpose, but I do not see the behavior change listed under breaking changes.
https://blog.npmjs.org/post/626173315965468672/npm-v7-series-beta-release-and-semver-major

### Expected Behavior:

The preinstall script should run before

[2021-02-09 16:29] wraithgar commented on #2612
~Trip report: adding a preinstall script that fails makes the global install of the npm cli break (which it already currently does), but it now breaks in such a way that it rolls back and if you are using nvm it decides that node version is invalid and switches you back to default and you can't even get back to node 8 to run the install.sh script.~

I think the nvm version switching was just me ju

[2021-02-09 16:41] ljharb commented on #2612
I’m confused; how does the preinstall script break nvm?

[2021-02-09 16:57] wraithgar commented on #2612
Here's what it does

[code]

it's totally gone from node_modules now
[code]

I'm gonna make the PR for this since it's already pushed and we can debug it there.

[2021-02-09 16:59] wraithgar commented on #2612
Just a note you can't `npm install ./cli` itself because there are dev dependencies that cause other install errors before the preinstall even runs.  This is why I used a tgz in the example, I `npm pack --production` in the PR branch to test it.

[2021-02-09 17:12] wraithgar commented on #2612
We also can't patch 6 because the user story this is meant to fix is someone w/ the existing npm 6 who is running `npm install -g npm@latest`, they'd never get this interim npm@6.

[2021-02-09 17:19] wraithgar commented on #2612
New plan: we are going to make npm 7 treat itself as a special case when installing globally. If you are installing npm itself, globally, it will do a very strict, very early, engines check.

We will also update install.sh so that it does this same check, repurposing the script in https://github.com/npm/cli/pull/2661 for use there instead of as a preinstall

[2021-02-09 17:28] ghost commented on #2657
Never mind I fixed it by uninstalling all Node.js and `npm` files and installing Node.js 14.15.5

[2021-02-09 17:28] #2657 closed, assigned to nobody

[2021-02-09 18:14] fluiddot commented on #2251
I'm having a similar issue but in my case the dependency that causes the error is `appium`. The only way I found to solve it is by running:
1. `npx npm@6 install`
1. `npm install`
2. `npm ci`

After following these steps and even in a clean install I don’t get the error again. However this is just a workaround, I wouldn’t expect to have to install dependencies with a previous version.

My impressi

[2021-02-09 19:23] acohenOT opened #2663 "[BUG] EPERM error 4048 installing latest npm when on version 7.5.3"
### Current Behavior:
Installing latest npm version when on 7.5.3 generates an error:
[code]
[code]

### Expected Behavior:
npm should be installed globally without error. If 7.5.3 is (still) the latest version, no change occurs

### Steps To Reproduce:

1. Windows 10 x64 environment with node 14.5.4 and npm 7.5.3 installed
2. Run `npm i -g npm`
3. See error with regard to renaming a file

### Env

[2021-02-09 19:52] mathiaswillburger commented on #2578
Thanks @jsg2021 for the fast response.

You are obviously right that the easiest solution would be to use `./src`. Unfortunately, `prettier-eslint-cli` requires an absolute path as parameter and does not accept relative paths to initialize it via npm scripts. Otherwise, it throws the error `[ERR_ASSERTION]: 'basePath' should be an absolute path.`

Using `$INIT_DIR` also does not work in version 7.

[2021-02-09 23:05] diberry commented on #2117
I'm getting this on Windows 10 (MSFT corpnet/VPN) with npm 7.0.0 after cloning:

[code]

Then running:

[code]

No lock file but the package.json file does look unusual:

[code]

[2021-02-09 23:15] ljharb commented on #2117
@diberry can you try npm v7.5.3? v7.0.0 is missing a great many bug fixes.

[2021-02-09 23:39] diberry commented on #2117
@ljharb
![image](https://user-images.githubusercontent.com/41597107/107443052-efa00580-6aec-11eb-8222-a7f54e03d65f.png)

[2021-02-10 00:29] ljharb commented on #2652
Actually, closing this in favor of #2623.

[2021-02-10 00:29] #2652 closed, assigned to nobody

[2021-02-10 01:55] jsejcksn commented on #2339
Not sure if this is the same issue or if I should open a new one—please let me know.
I cannot `npm link typescript` in v`7`, but can in `6`:

v7 (fail):
[code]

<details>
<summary>debug.log</summary>

[code]
</details>

v6 (success):
[code]

[2021-02-10 02:18] markmsmith commented on #2609
This is also a breaking change for our teams, who have a very similar use case for docker configuration and other dependency config being passed to short shell script commands.  Going to a full parsing of the package.json just to get these values is painful.

[2021-02-10 04:27] websam101 commented on #2663
## +1 with a variant that makes --global unusable after update. (Solved on >= 7.5.4)
### Current Behavior:
Updating global with latest npm version 7.5.3 generates an error even on elevated privileges:

[code]

### Expected Behavior:
npm should be updated globally without error.

### Steps To Reproduce:
1. Windows 10 x64 environment with node 14.15.5 and npm 7.5.3 installed
2. Run `npm -g update`
3

[2021-02-10 07:53] rhansen opened #2664 "[BUG] `npm ls` fails if there are extraneous packages"
### Current Behavior:

`npm ls` fails (non-zero exit code, `ELSPROBLEMS` JSON error code) if there are extraneous packages. This is a behavior change from npm v6; see steps to reproduce below.

Extraneous packages can happen if `package.json` is deleted, or if npm v6 is used to install packages in an empty directory.

This issue matters to me because of the way [Etherpad](https://github.com/ether/

[2021-02-10 12:51] vijaycs85 commented on #1845
I got this issue with ` npx postcss` and fixed it by removing the `dist` directory and running `npx postcss` again.

[2021-02-10 14:30] plotka commented on #2600
I had a similar issue, I solved it by deleting the `node-modules` folder in the root and by running `npm install --legacy-peer-deps`

[2021-02-10 14:50] mswaagman-godaddy commented on #2453
https://github.com/npm/cli/pull/2445 did not fix it afaik. `publishConfig` seems to be ignored when publishing a package. Double checked if 7.5.3 would fix it, but does not appear to be the case.

[2021-02-10 15:07] ymor opened #2665 "[BUG] Running an npm command in a script is running it under the npm version installed with node"
### Current Behavior:
Running an npm command in a script is using the npm version installed with node and not the globally installed version

### Expected Behavior:
The npm command in the script should use the globally installed npm version

### Steps To Reproduce:
Install node v14.15.5.
Install npm 7.5.3
Running `npm --version` reports 7.5.3

Then run `npm test` against the following package.json

[2021-02-10 15:18] ljharb commented on #2665
What do you mean, installed with node? Does your local node_modules contain npm? What happens if your test script outputs `which npm`?

[2021-02-10 15:25] ymor commented on #2665
I'm on windows so which isn't available.  If I run it with verbose I get the following:

npm verb cli   'C:\\Program Files\\nodejs\\node.exe',
npm verb cli   'C:\\Users\\USERNAME\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
npm verb cli   'test',
npm verb cli   '--verbose'
npm verb cli ]
npm info using npm@7.5.3
npm info using node@v14.15.5
npm timing config:load:defaults Completed

[2021-02-10 15:33] ljharb commented on #2664
Extra deps certainly shouldn't fail `npm ls`; the dep graph is only invalid with missing or invalid deps.

[2021-02-10 15:39] brettk-dev commented on #2634
This is still happening in 7.5.3

[2021-02-10 17:34] jpike88 commented on #2504
this is still a problem on 7.5.3 for me. switching back to v6

[2021-02-10 19:58] donhmorris opened #2667 "[BUG] Can't create a new project using either angular or ionic cli"
### Current Behavior:
Get an error when creating an ionic app using angular.

Get this error while creating the project:

[code]

### Expected Behavior:
Successfully create ionic project and install dependencies

### Steps To Reproduce:
ionic command: ionic start test3
choose angular and then sidemenu

### Environment:
- os Mac Big Sur
- Apple silicon (M1)
- Node 15.8.0
- NPM 7.5.3

If I install N

[2021-02-10 20:22] begin-again commented on #1471
Occurs on v7.5.3 too

[2021-02-10 23:04] rhansen commented on #2199
Shell script to reproduce this problem with the latest npm v7.x:

[code]

[2021-02-11 00:45] Conduitry opened #2668 "[BUG] Undocumented (?) change in prepublishOnly/prepare behavior in v7"
### Current Behavior:
If there are both `prepare` and `prepublishOnly` scripts, then `npm publish` runs them in a different order in v7 than it did in v6.

### Expected Behavior:
v7 should run these in the same order as v6, or this difference should be documented somewhere.

### Steps To Reproduce:
1. In an empty directory, create a `package.json` containing:
[code]
2. Run `npm publish` (aborting

[2021-02-11 00:56] isaacs commented on #4290
I would be very surprised if deleting `~/.npm` would have any effect.  That'll just trade some speed for a bit of disk space.  (If it _had_ helped, that might've pointed to a very bizarre race condition somewhere, but by this point, those code paths are pretty solid.)

Deleting `node_modules` and `package-lock.json` makes me think that there was a problem with the data somewhere in your project.

[2021-02-11 01:00] isaacs commented on #4290
Looking at the code, it seems like this would happen if you had a symlink dependency in the lockfile which did not have a target defined in the lockfile.  We should see if we can reproduce it synthetically and handle it better (likely by either defining the target as best we can, or just ignoring the link), but that really _should_ be impossible, so something definitely got wonky with your lockfil

[2021-02-11 01:12] isaacs commented on #2667
Can you please share the file `/Users/don/.npm/eresolve-report.txt` and `/Users/don/.npm/_logs/2021-02-10T19_52_20_549Z-debug.log`?  That will be helpful in resolving this.

[2021-02-11 01:13] isaacs commented on #2667
I believe that the root cause of this is likely https://github.com/npm/arborist/issues/223

[2021-02-11 01:21] isaacs commented on #2504
This is a legit problem with your dependencies.  You can't use `react-scripts@4.0.1` and `typescript@4.1.3` in the same project, unfortunately, because `react-scripts@4.0.1` has an optional peer dependency on `typescript@^3.2.1`.  This is corrected in `react-scripts@4.0.2` (which is why it likely worked when @darcyclarke tried it), so it should work fine now.

Nevertheless, it _should_ be ignoring

[2021-02-11 02:53] jpike88 opened #2669 "[BUG] npm ls no longer displays full tree"
I have to add this annoying --depth flag every time. When would I NOT want to see the full tree, it's why I'm doing npm ls to start with...

This in addition to having to use --force half the time with my angular projects is starting to make v7 feel like a downgrade than an upgrade. Peer dependency mismatch is a fact of life.

It's feeling like these are 'improvements/tweaks' for the sake of them.

[2021-02-11 03:40] DeeDeeG opened #2670 "[BUG] "npm rebuild" with v7 runs the postinstall script, whereas it did not run the postinstall script with npm v6 (can cause unexpected endless loop)"
### Current Behavior:

Putting `npm rebuild` in a postinstall script can cause an infinite loop with npm v7.

### Expected Behavior:

`npm rebuild` used to not trigger the postinstall script (so, no infinite loop) with npm v6.

### Steps To Reproduce:

1. Make a new blank project: `mkdir x && cd x && npm init -y`
2. Put this script in your `package.json`: `"postinstall": "npm rebuild"`
3. Run `npm

[2021-02-11 03:56] DeeDeeG commented on #2670
Technically, this package.json is the minimal reproducer:

[code]

(And then run `npm install`, optionally with `--verbose`).

But you could have a more complex postinstall script that does something _useful_ and then runs `npm rebuild`.

Real world example: The package manager for the Atom text editor does this and is infinitely looping with npm 7:
https://github.com/atom/apm/blob/v2.6.1/script/p

[2021-02-11 04:21] aminya commented on #2670
I can reproduce this issue. Seems like a regression in npm 7, which results in infinite loops when you use `rebuild` inside your `postinstall`.

[2021-02-11 04:34] Fyko opened #2671 "[BUG] --only=dev misbehaving; installing all deps"
### Current Behavior:
When running `npm install --only=dev`, it installs all dependencies.

### Expected Behavior:
Only dev dependencies should be installed.

### Steps To Reproduce:
1. Run `npm i --only=dev`
2. Observe the `node_modules` folder seeing all dependencies have been installed.

### Environment:
- OS: Ubuntu 20.04
- Node: 15.8.0
- npm: 7.5.3

[2021-02-11 04:43] DeeDeeG commented on #2630
Edit: Actually, I tested again, and this comment doesn't seem to be accurate for me anymore. I can properly do `npm install -g npm`. Working for me with npm v6 and v7. Sorry for the noise.

Hi folks. I think `npm install -g npm` doesn't work very well on Windows. (It hasn't worked well for me even with npm v6.)

There is a utility meant to make this easier: https://github.com/felixrieseberg/npm-wi

[2021-02-11 05:46] DeeDeeG commented on #2670
This bug doesn't happen with npm <= v7.1.0, but it does happen with v7.1.1 and higher.

7.1.1+ are affected.

[2021-02-11 07:36] ChristianF88 commented on #417
Hi there,

you can add **NPM version 6.14.11** to the list. **Node** has **version v15.8.0**. Everything is install stalled on:
**Linux alarmpi 5.10.13-3-ARCH #1 SMP Fri Feb 5 21:01:37 UTC 2021 armv6l GNU/Linux**

Here are the last few lines of the log file:
[code]

Thanks!

[2021-02-11 07:54] DmitriyZverev opened #2672 "[BUG] Root level gets local version of dependency instead of version from registry"
When I use workspaces, and on the root level I need a previous version of a package (package was defined in workspaces), I get current (local) version of the package.

### Steps To Reproduce:

There is a file structure:
[code]
Where:
* `root/package.json`:

[code]
* `root/packages/foo/package.json`:

[code]
* `root/packages/bar/package.json`:

[code]
And version `1.0.0-dev.0` of package `@scope/fo

[2021-02-11 08:09] srikrishnaseshadri opened #2673 "[BUG] <npm ERR! cb() never called!>"
#I am getting cb() never call error and the following !

npm WARN deprecated package.json@2.0.1: Use pkg.json instead.
npm ERR! cb() never called!

### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-02-11 10:05] PhiLhoSoft opened #2674 "[BUG] Bad time unit symbol in messages"
### Current Behavior:

After removing and updating some versions (with ncu), I see the following message:

I don't understand this three meters result!

### Expected Behavior:

I guess it was about minutes (the computer froze for a while…).
Please, check the SI units on Wikipedia for accurate unit abbreviations… 😎

### Steps To Reproduce:

ncu -u -i
npm i

### Environment:

- Windows 10
- node -v

[2021-02-11 10:14] shashikeshmishra opened #2675 "While deleting multiple user from Client people picker "@types/sharepoint": "^2016.1.9""
Hello,

I am facing an issue while deleting the users from multiple client people picker and it through below error. but If there is only one user then there no issue.

clientpeoplepicker.js:1 Uncaught TypeError: Cannot read property 'id' of undefined
    at SPClientPeoplePicker.IterateEachProcessedUser (clientpeoplepicker.js:1)
    at eval (Utility.ts:561)
    at EnsureScript (init.js?rev=CTlEK1i

[2021-02-11 10:16] shashikeshmishra commented on #2675
public static setPicker(ppElement: string, userName: string): void {

        var ppId = ppElement + "_TopSpan";
        SP.SOD.executeFunc('clientpeoplepicker.js', 'SPClientPeoplePicker', function () {
            let peoplePicker: SPClientPeoplePicker = SPClientPeoplePicker.SPClientPeoplePickerDict[ppId];
            let c: number = peoplePicker.TotalUserCount;
            if (c > 0) {

[2021-02-11 10:40] tzukpolinsky commented on #2379
hi
for anyone who had the same trouble as me
there is a branch that compiles
just install by this command:

npm i https://github.com/tinyprinter/node-bluetooth-serial-port.git

[2021-02-11 10:55] shadowspawn commented on #2675
These do not look like problems with the npm utility. You probably want to report them or ask about them somewhere else. (sharepoint?)

[2021-02-11 13:55] lnabergoi commented on #2306
Same issue
![image](https://user-images.githubusercontent.com/4264627/107645495-0c694400-6c79-11eb-86b4-5649f0223f5f.png)

[2021-02-11 14:20] robross0606 commented on #2663
I am seeing this exact same problem.  This should be a SEVERITY ONE.  It can bork the entire node.js installation when npm goes belly up like this.  I can confirm that I have checked permissions on the folder, tried running as Administrator, and ensure my AV product was disabled.

[2021-02-11 14:22] crudo opened #2676 "[BUG] npm audit does not report high severity vulnerability (npm 7.5.3)"
### Current Behavior:
`npm audit` not reporting `immer` package vulnerability in version < 8.0.1

https://github.com/advisories/GHSA-9qmh-276g-x5pj

### Expected Behavior:

`npm audit` reports this vulnerability

### Steps To Reproduce:

[code]
[code]
[code]

[2021-02-11 14:25] ploconsoleAltea commented on #2673
Resolved?

[2021-02-11 15:42] Fcscanf opened #2677 "npm install -g @vue/cli ERROR"
### Current Behavior:

npm install -g @vue/cli
### Expected Behavior:

Install Success
### Steps To Reproduce:

npm install -g @vue/cli
![image](https://user-images.githubusercontent.com/27654200/107659818-8bcf3580-6cc2-11eb-8b59-0b4b25d79e8f.png)

### Environment:

OS：Window10
Node：v14.2.0
npm：7.5.2

[2021-02-11 15:59] igilham commented on #2251
Same issue here, as per aws/aws-cdk#12354. This bug prevents adoption of NPM v7 for my project.

A possible work-around might be available if the lockfile version could be set in `.npmrc`.

[2021-02-11 16:27] pmosconi commented on #2609
Same for our team: we are using npm run scripts that include variables and among other things deploy to test and production.
Just to make sure: there is no going back and npm_package_variables will not reintroduced?

[2021-02-11 16:46] nlf commented on #2630
a patch for the original issue reported here will be landing soon and part of the next release!

[2021-02-11 16:53] valtlai commented on #2521
@Pomax, see [docs/content/configuring-npm/package-lock-json.md#hidden-lockfiles](../blob/latest/docs/content/configuring-npm/package-lock-json.md#hidden-lockfiles)

[2021-02-11 17:53] ruyadorno opened #2678 "[BUG] Dedupe deps"
1. Bump `promise-retry` and cut new patch releases for:
  - `@npmcli/git`
  - `make-fetch-happen`
2. Remove unused top-level dep:
  - `@npmcli/installed-package-contents`
  - `uuid`

[2021-02-11 18:04] umairyounus1997 opened #2679 "I have face a attached issue"
![Capture3](https://user-images.githubusercontent.com/41501844/107678645-7c012280-6cbd-11eb-8d60-c25feb319f32.JPG)

[2021-02-11 20:42] asamir2007 opened #2680 "[BUG] npm i webpack-cli / npm ERR! cb() never called!"
### Current Behavior:
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\user\AppData\Roaming\npm-cache\_logs\2021-02-11T20_18_01_929Z-debug.log

### Steps To Reproduce:
in phpstorm terminal run:
H:\dev_php\OSPanel\domains\localhost\ct\p

[2021-02-11 23:21] #2678 closed, assigned to ruyadorno

[2021-02-12 02:27] medianick commented on #2453
Until a short while ago, I was seeing this very same issue with npm 7.5.1 when publishing to a private MyGet feed from our Jenkins system; despite a valid token in the `.npmrc` file it was still showing the `ENEEDAUTH` error and saying I needed to log in. @foxxyz's [workaround](https://github.com/npm/cli/issues/2453#issuecomment-757393140) of specifying the registry explicitly in the `npm publish`

[2021-02-12 10:17] plaa commented on #2610
This is a breaking change in npm v7 and prevents anyone using even **public** packages without ssh keys.

We have made a fork of an npm package and host it as a public repo.  We refer to it using a `github:` link.  In v6 this github link was populated to package-lock.json as well, which worked fine.  In v7 it is converted into `git+ssh:` which fails in our CI/CD pipeline as it doesn't have any ssh

[2021-02-12 16:50] #2504 closed, assigned to nobody

[2021-02-12 16:50] #2667 closed, assigned to nobody

[2021-02-12 16:54] #2505 closed, assigned to ruyadorno

[2021-02-12 17:15] ruyadorno commented on #2505
should be out in `v7.5.4`

[2021-02-12 18:22] #2623 closed, assigned to isaacs

[2021-02-12 18:22] #2625 closed, assigned to nobody

[2021-02-12 19:19] wraithgar commented on #2641
This was fixed in `v7.5.2` https://github.com/npm/cli/issues/2329

[2021-02-12 19:20] #2641 closed, assigned to nobody

[2021-02-12 19:20] #2646 closed, assigned to nobody

[2021-02-12 19:20] wraithgar commented on #2646
Please use the issue template when creating issues.

[2021-02-12 19:28] wraithgar commented on #2631
This was fixed in this pr https://github.com/npm/pacote/pull/61 and went into the cli as of `v7.4.3`.  Can you try explicitly using git+https? I don't know if that will solve it for sure but that's a good first step before we investigate this further.

[2021-02-12 19:31] wraithgar commented on #2668
Updating the scripts to reflect the new lifecycle is in our backlog now. https://github.com/npm/statusboard/issues/267

[2021-02-12 19:31] #2668 closed, assigned to nobody

[2021-02-12 19:31] darcyclarke commented on #2669
@jpike88 Appreciate you filing this; We introduced a new flag `--all` in v7 (ie. `npm ls --all` would be how you see all your deps)

[2021-02-12 19:31] #2669 closed, assigned to nobody

[2021-02-12 19:32] ljharb commented on #2669
@darcyclarke it is unfortunate tho, that it’s not the default on npm ls :-/

[2021-02-12 19:34] darcyclarke commented on #2660
@t1m0thyj thanks for filing this. We have a consolidated issue tracking work/investigating this: https://github.com/npm/statusboard/issues/267

@wraithgar is looking into it.

[2021-02-12 19:36] darcyclarke commented on #2659
@t1m0thyj thanks for filing! We're going to double-check if this was fixed or not in the latest release (ie. `npm i -g npm@latest` - `7.5.4`) as we made some changes here to resolve other Windows/symlink issues we've seen

[2021-02-12 19:38] darcyclarke commented on #2609
@robross0606 apologize for the confusion here. We did modify/remove many environment variables (re. https://github.com/npm/rfcs/blob/latest/implemented/0021-reduce-lifecycle-script-environment.md); Also, our docs are slightly stale because of a build failure - this should be resolved by early next week. The latest/greatest CLI docs are in the repo/CLI itself (ex. `npm help-search <search>`)

[2021-02-12 19:38] #2609 closed, assigned to nobody

[2021-02-12 19:40] darcyclarke commented on #2606
@evanw thanks for filing. We're going to investigate further.

[2021-02-12 19:41] darcyclarke commented on #2663
@acohenOT can you try installing the latest `npm` & seeing if you can repro? (ie. `npm i npm@latest -g` - `7.5.4`)

[2021-02-12 19:42] wraithgar commented on #2616
This is being tracked in the issue we have pinned here https://github.com/npm/cli/issues/417

[2021-02-12 19:42] #2616 closed, assigned to nobody

[2021-02-12 19:44] darcyclarke commented on #2614
@strarsis this doesn't sound like `npm` would be doing anything to prevent the `ssh` client from properly using your creds. Potentially, this is a problem with WSL? Not quite sure. That said, I don't think there's anything we can do in this case. Let me know if you think there's something specific that `npm` could do here....

[2021-02-12 19:44] #2614 closed, assigned to nobody

[2021-02-12 19:45] darcyclarke commented on #2635
@DaneEveritt can you try updating to the latest `npm` & see if you can still reproduce this behavior? (ie. `npm i -g npm@latest` - `7.5.4`)

[2021-02-12 19:48] darcyclarke commented on #2670
@DeeDeeG as a quick question, wondering why you need to be running `npm rebuild` after you `install`? Since `install` should build your deps (ie. compile bins, run lifecycle scripts etc.). I don't think this is a problem with `npm` itself. I think a best practice here is to not run `rebuild` in a `postinstall` script. We've got a separate issue going to better document lifecycle scripts as well (w

[2021-02-12 19:49] #2670 closed, assigned to nobody

[2021-02-12 19:52] darcyclarke commented on #2629
@zWingz hmm, I don't know how this might have happened since it seems like you'd have to hand-edit the `package-lock.json` to get into this state, as `version` as a `dist-tag` value works if it's just the root `package.json` value; That said, you should always be using a valid `semver` value as your `version`, so a recommendation here might be `0.0.1-beta` or anything akin to that.

[2021-02-12 19:52] #2629 closed, assigned to nobody

[2021-02-12 19:53] darcyclarke commented on #2544
Sorry, not quite sure how to help here. If you can provide more details/context I can potentially help narrow in on the problem you're seeing. Closing for now.

[2021-02-12 19:53] #2544 closed, assigned to nobody

[2021-02-12 19:57] darcyclarke commented on #2627
@dl748 does the `common` folder happen to have a `node_modules` folder there? Sounds like that could be the issue.

[2021-02-12 19:59] darcyclarke commented on #2608
@SamanthaAdrichem sorry to hear you're having issues, unfortunately, we don't support Node `v0.10`. You'll need to update your version of Node to v10 or later to be able to use the latest `npm`

[2021-02-12 19:59] #2608 closed, assigned to nobody

[2021-02-12 20:10] hansl opened #2686 "[BUG] Package named `@scope/authentication` cannot add/rm dist-tag"
Note: Unsure if this is a CLI bug or a registry bug.

### Current Behavior:
We have a `@dfinity/authentication` package published publicly on NPM and we cannot remove or add dist tags to its versions. The return is 400 Bad Request. Other packages in `@dfinity` scope work fine.

Logs:

[code]

### Expected Behavior:
This should update the dist-tag to the proper version.

### Steps To Reproduce:
[co

[2021-02-12 20:19] DeeDeeG commented on #2670
Hi @darcyclarke. I considered writing out the use case in detail above but didn't want to be too verbose. Here's the details:

- Atom's package manager ([`apm`](https://github.com/atom/apm)) bundles a version of Node. This is the version of Node that `apm` runs itself with in production. `apm` is a core component of the Atom text editor. It is coded to run as a standalone CLI app, not to be requir

[2021-02-12 20:21] donhmorris commented on #2667
Was there a code change implemented for this problem?

[2021-02-12 20:26] targos commented on #2505
The first problem is fixed, but the second one remains. Should I create a new issue for it?

[2021-02-12 20:38] ljharb commented on #2608
@SamanthaAdrichem if you must use node v0.10, i suggest using https://github.com/nvm-sh/nvm - you can run `nvm install 0.10 --latest-npm` and you'll get the latest version of npm that works on that node version (which isn't v7, but is later than v1)

[2021-02-12 20:50] DeeDeeG commented on #2670
The short version is:

- `apm` authors once upon a time decided to have `apm` bundle a version of Node and have `apm` run itself with that bundled Node runtime in production. (This makes `apm` a self-contained runnable-on-its-own CLI app. Nice.)
- Developers contributing to `apm` may not have the same version of Node on their `PATH` as the bundled version, and in any case building dependencies wit

[2021-02-12 20:59] aiwha-dev commented on #2608
We don’t need that version, the error persisted with version 14.15.1 aswell we just have a docker image and that installs node, then we use node to upgrade node and npm. Just in a reversed order. It worked fine until the release was made 9 days ago. Then it became method not allowed. Setting it fixed to the version that comes with node 14.15.1 solved it. But it shouldn’t give the error method not

[2021-02-12 21:11] ruyadorno commented on #2505
yes please! that seems like a much lower priority but it would be very nice to make sure we track and fix it in due time!

Thank you so much for the report and help @targos 🏆 really appreciated!

[2021-02-12 21:20] websam101 commented on #2663
7.5.4 solved it for the global update variant but in elevated mode when i have entered:
[code]
npm has deleted all the other packages in the global folders:
[code]
leaving only windows-build-tools.
npm has reverted itself to v7.5.1
and both 7.5.1 and 7.5.4 have the same behavior with this update global package command on elevated prompt.

[code]

[2021-02-12 21:25] acohenOT commented on #2663
I'm unable to install 7.5.4 because I get the error.

`npm i -g npm@7.5.4`

[code]

`npm -v` is still showing 7.5.3

Does anyone know how to force the update to 7.5.4?

[2021-02-12 21:38] labbydev commented on #2508
Still occurring on `7.5.3`

[2021-02-12 21:58] ljharb commented on #2670
`npm install` already builds tho, so running `npm rebuild` in postinstall seems redundant?

[2021-02-12 21:58] ljharb commented on #2608
@SamanthaAdrichem do you perhaps have an internal npm registry? or are you talking to the public one

[2021-02-12 21:59] ljharb commented on #2663
@acohenOT in your case you may have to `sudo npm install -g npm@7`

[2021-02-12 22:12] ljharb commented on #2508
What about v7.5.4?

[2021-02-12 22:22] isaacs opened #2687 "[BUG] `npm find-dupes` and `npm dedupe --dry-run` doesn't print anything useful"
### Current Behavior:

[code]

### Expected Behavior:

[code]

### Steps To Reproduce:

Run `npm find-dupes` or `npm dedupe --dry-run` in npm v7.

Perhaps _any_ call into `lib/utils/reify-output.js` with `npm.flatOptions.dryRun === true`, it should print much more details about the diff.  Just saying "2 packages added, 3 packages removed, etc" is not so helpful, if it didn't actually do those thin

[2021-02-12 22:29] acohenOT commented on #2663
I'm running in a Windows command prompt so sudo will not work there. I'm already running cmd.exe with elevated privileges.

[2021-02-12 22:33] websam101 commented on #2663
@acohenOT for npm 7.5.4 on windows: `npm -g install npm@latest`

[2021-02-12 22:57] wraithgar commented on #2508
I don't think 7.5.4 had anything change in it that would affect this.  Still not able to reproduce this locally w/ the info given which makes it difficult to debug further.

[2021-02-12 23:41] taj-codaio opened #2689 "[BUG] <title>"
### Current Behavior:
Saw this in my output:
[PM2][Module] Calling [NPM] to install ts-node@latest ...
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>
⸨                  ⸩ ⠹ reify:lodash: timing reifyNode:node_modules/es-abstract Completed in 9902ms
npm ERR! A complete log of this run can be found

[2021-02-12 23:47] Wyzix33 commented on #2663
running ```npm -g install npm@latest``` on windows 10 on cmd as administrator is not working
this was after a clean install of nodejs and a restart ...
[code]

[2021-02-12 23:52] isaacs commented on #2598
This should be fixed in the latest release of npm v7.

[2021-02-12 23:52] #2598 closed, assigned to isaacs

[2021-02-13 00:05] isaacs commented on #2514
This works in the latest npm 7 release.

[2021-02-13 00:05] #2514 closed, assigned to isaacs

[2021-02-13 00:06] isaacs commented on #1875
Hmm, so it seems like, if there's no `vulnerable_versions` field, then it should effectively be `vulnerable_versions: "*"`?

That would be quite easy to do.

[2021-02-13 02:02] DeeDeeG commented on #2670
I have a bad habit of saying things with way too long posts.

We find it _extremely_ useful to make sure "the version of Node running `npm install`" is not the version of Node our dependencies build for.

_Edit to add: (And we really want to make sure this is handled by `apm`'s `package.json` `postinstall` script, so that we can do `npm install --global-style atom-package-manager` in our larger At

[2021-02-13 02:12] ljharb commented on #2670
Right, i totally get that - but npm rebuild inside a postinstall script is going to be for the same version of node that did the install, no?

Running npm rebuild on its own, from another node version, seems like it would achieve what you want.

[2021-02-13 02:14] DeeDeeG commented on #2670
We have a project-local shim for `npm` that uses the local copy of Node to run the local copy of npm. Our postinstall script calls the shim with `[shim-npm-here] rebuild`.

That's what we're doing and where we're seeing the endless loops. The top post of this issue has a farcical but minimal reproducer. It is what our real use case boils down to, in some sense. (Minus the real-world useful stuff t

[2021-02-13 02:28] DeeDeeG commented on #2670
I acknowledge that our use-case us unusual, but I personally maintain that `npm rebuild` running the `postinstall` script is less composable for script authors.

This is less about whether running `npm rebuild` in a `postinstall` makes sense, and more about whether users should expect their `postinstall` scripts to run again if doing `npm rebuild`, at which point, logically speaking, the `postinst

[2021-02-13 02:43] wandyezj commented on #2638
I hit a similar issue:

In the following repository: https://github.com/wandyezj/package

on windows in cmd.exe

using npm version 6.14.9

the following script works `npm run prettier`

which is keyed to:
`./node_modules/.bin/prettier`

upon upgrading to npm version 7.5.4 via `npm install -g npm`

running `npm run prettier`

now errors with:  `'.' is not recognized as an internal or external comma

[2021-02-13 02:49] aminya commented on #2670
You can't assume that people don't do that. Automatically, running `postinstall` after `rebuild` is in my opinion completely unnecessary, and it is a new behavior that people are not used to. If someone wants to run both `postinstall` and `rebuild`, they will use `install` instead. But when someone runs `rebuild`, they really only want to `rebuild` not anything else.

If this is the desired behavi

[2021-02-13 03:02] DeeDeeG commented on #2670
In my opinion `postinstall` scripts are for after a normal complete install. They do things that make a package ready for use, and they're not expected to run often.

Times when I'm rebuilding the native C++ code are rarely (pretty much never) times when the project is in a state ready for `postinstall` to run. And if I were to want to run `postinstall` after doing `rebuild` I'd strongly expect th

[2021-02-13 04:16] ljharb commented on #2638
(while that should work, in a run-script it should just be keyed to “prettier” - hardcoding node_modules anywhere is a code smell)

[2021-02-13 06:16] markmsmith commented on #2609
@darcyclarke Can you confirm that we can work around this change by moving our values under the `config` key, and that passing values from there will keep working in future releases?

[2021-02-13 07:00] darcyclarke commented on #2609
@markmsmith we shouldn't be removing any other env vars from the existing scope of what was documented in that RFC to my knowledge. We've actually only ever agreed to continue supporting more; That said, the entire point is to limit the scope of config we're passing along through/too lifecycle events - if `npm_package_config*` has the information you need today, it should still have it tomorrow.

[2021-02-13 07:12] darcyclarke commented on #2670
@DeeDeeG / @aminya appreciate the extra context, again we've got another issue/spike in the works that should further lement lifecycle scripts; I believe there's been some confusion & 100% a lack of concrete documentation in this space which isn't good. We can circle back on this early next week but I should note that we will probably further document/outline how `npm@7` functions vs. trying to ma

[2021-02-13 07:15] darcyclarke commented on #1875
@isaacs this has definitely sat for a while, I'm going to make it a `Priority 2` & pull it up into our Sprint so we at least can keep some eyes on it - maybe someone else can take it on & sync with you if you've got more context.

[2021-02-13 07:22] darcyclarke commented on #2663
@acohenOT thank you again for filing this. I've marked it as a high priority issue & will be looking at this again post the `v7.5.4` release published yesterday; If you can* (ie. anyone reading) try updating (ie. `npm i -g npm@latest` - latest today is `v7.5.4`) & posting back whether or not this is still an issue for you, that would be much appreciated.

Apologize if you're still experiencing iss

[2021-02-13 07:40] darcyclarke commented on #2669
@ljharb we should start creating a list of "opt-in" configs we'd like to consider for being the "defaults" come v8 tbh (maybe a good RFC call note/issue)

[2021-02-13 07:45] #2689 closed, assigned to nobody

[2021-02-13 07:49] #419 closed, assigned to nobody

[2021-02-13 07:49] #420 closed, assigned to nobody

[2021-02-13 07:49] #421 closed, assigned to nobody

[2021-02-13 07:49] #424 closed, assigned to nobody

[2021-02-13 07:49] #426 closed, assigned to nobody

[2021-02-13 07:49] #427 closed, assigned to nobody

[2021-02-13 07:49] #428 closed, assigned to nobody

[2021-02-13 07:49] #429 closed, assigned to nobody

[2021-02-13 07:49] #430 closed, assigned to nobody

[2021-02-13 07:49] #431 closed, assigned to nobody

[2021-02-13 07:49] #432 closed, assigned to nobody

[2021-02-13 07:49] #433 closed, assigned to nobody

[2021-02-13 07:49] #434 closed, assigned to nobody

[2021-02-13 07:49] #435 closed, assigned to nobody

[2021-02-13 07:49] #436 closed, assigned to nobody

[2021-02-13 07:49] #437 closed, assigned to nobody

[2021-02-13 07:49] #438 closed, assigned to nobody

[2021-02-13 07:49] #439 closed, assigned to nobody

[2021-02-13 07:49] #440 closed, assigned to nobody

[2021-02-13 07:49] #441 closed, assigned to nobody

[2021-02-13 07:49] #443 closed, assigned to nobody

[2021-02-13 07:49] #444 closed, assigned to nobody

[2021-02-13 07:49] #445 closed, assigned to nobody

[2021-02-13 07:49] #446 closed, assigned to nobody

[2021-02-13 07:49] #447 closed, assigned to nobody

[2021-02-13 07:49] #391 closed, assigned to nobody

[2021-02-13 07:49] #392 closed, assigned to nobody

[2021-02-13 07:49] #393 closed, assigned to nobody

[2021-02-13 07:49] #394 closed, assigned to nobody

[2021-02-13 07:49] #395 closed, assigned to nobody

[2021-02-13 07:49] #396 closed, assigned to nobody

[2021-02-13 07:49] #397 closed, assigned to nobody

[2021-02-13 07:49] #398 closed, assigned to nobody

[2021-02-13 07:49] #399 closed, assigned to nobody

[2021-02-13 07:49] #400 closed, assigned to nobody

[2021-02-13 07:49] #401 closed, assigned to nobody

[2021-02-13 07:49] #402 closed, assigned to nobody

[2021-02-13 07:49] #403 closed, assigned to nobody

[2021-02-13 07:49] #404 closed, assigned to nobody

[2021-02-13 07:49] #405 closed, assigned to nobody

[2021-02-13 07:49] #406 closed, assigned to nobody

[2021-02-13 07:49] #407 closed, assigned to nobody

[2021-02-13 07:49] #409 closed, assigned to nobody

[2021-02-13 07:49] #410 closed, assigned to nobody

[2021-02-13 07:49] #411 closed, assigned to nobody

[2021-02-13 07:49] #412 closed, assigned to nobody

[2021-02-13 07:49] #413 closed, assigned to nobody

[2021-02-13 07:49] #414 closed, assigned to nobody

[2021-02-13 07:49] #415 closed, assigned to nobody

[2021-02-13 07:49] #416 closed, assigned to nobody

[2021-02-13 07:49] #361 closed, assigned to nobody

[2021-02-13 07:49] #362 closed, assigned to nobody

[2021-02-13 07:49] #363 closed, assigned to nobody

[2021-02-13 07:49] #364 closed, assigned to nobody

[2021-02-13 07:49] #365 closed, assigned to nobody

[2021-02-13 07:49] #366 closed, assigned to nobody

[2021-02-13 07:49] #367 closed, assigned to nobody

[2021-02-13 07:49] #368 closed, assigned to nobody

[2021-02-13 07:49] #371 closed, assigned to nobody

[2021-02-13 07:49] #372 closed, assigned to nobody

[2021-02-13 07:49] #373 closed, assigned to nobody

[2021-02-13 07:49] #374 closed, assigned to nobody

[2021-02-13 07:49] #376 closed, assigned to nobody

[2021-02-13 07:49] #377 closed, assigned to nobody

[2021-02-13 07:49] #378 closed, assigned to nobody

[2021-02-13 07:49] #379 closed, assigned to nobody

[2021-02-13 07:49] #380 closed, assigned to nobody

[2021-02-13 07:49] #381 closed, assigned to nobody

[2021-02-13 07:49] #382 closed, assigned to nobody

[2021-02-13 07:49] #384 closed, assigned to nobody

[2021-02-13 07:49] #385 closed, assigned to nobody

[2021-02-13 07:49] #386 closed, assigned to nobody

[2021-02-13 07:49] #387 closed, assigned to nobody

[2021-02-13 07:49] #388 closed, assigned to nobody

[2021-02-13 07:49] #389 closed, assigned to nobody

[2021-02-13 07:49] #333 closed, assigned to nobody

[2021-02-13 07:49] #334 closed, assigned to nobody

[2021-02-13 07:49] #335 closed, assigned to nobody

[2021-02-13 07:49] #336 closed, assigned to nobody

[2021-02-13 07:49] #337 closed, assigned to nobody

[2021-02-13 07:49] #338 closed, assigned to nobody

[2021-02-13 07:49] #339 closed, assigned to nobody

[2021-02-13 07:49] #340 closed, assigned to nobody

[2021-02-13 07:49] #341 closed, assigned to nobody

[2021-02-13 07:49] #343 closed, assigned to nobody

[2021-02-13 07:49] #344 closed, assigned to nobody

[2021-02-13 07:49] #345 closed, assigned to nobody

[2021-02-13 07:49] #346 closed, assigned to nobody

[2021-02-13 07:49] #347 closed, assigned to nobody

[2021-02-13 07:49] #349 closed, assigned to nobody

[2021-02-13 07:49] #350 closed, assigned to nobody

[2021-02-13 07:49] #351 closed, assigned to nobody

[2021-02-13 07:49] #352 closed, assigned to nobody

[2021-02-13 07:49] #354 closed, assigned to nobody

[2021-02-13 07:49] #355 closed, assigned to nobody

[2021-02-13 07:49] #356 closed, assigned to nobody

[2021-02-13 07:49] #357 closed, assigned to nobody

[2021-02-13 07:49] #358 closed, assigned to nobody

[2021-02-13 07:49] #359 closed, assigned to nobody

[2021-02-13 07:50] #360 closed, assigned to nobody

[2021-02-13 07:50] #305 closed, assigned to nobody

[2021-02-13 07:50] #307 closed, assigned to nobody

[2021-02-13 07:50] #308 closed, assigned to nobody

[2021-02-13 07:50] #309 closed, assigned to nobody

[2021-02-13 07:50] #310 closed, assigned to nobody

[2021-02-13 07:50] #311 closed, assigned to nobody

[2021-02-13 07:50] #312 closed, assigned to nobody

[2021-02-13 07:50] #313 closed, assigned to nobody

[2021-02-13 07:50] #314 closed, assigned to nobody

[2021-02-13 07:50] #315 closed, assigned to nobody

[2021-02-13 07:50] #316 closed, assigned to nobody

[2021-02-13 07:50] #317 closed, assigned to nobody

[2021-02-13 07:50] #318 closed, assigned to nobody

[2021-02-13 07:50] #319 closed, assigned to nobody

[2021-02-13 07:50] #320 closed, assigned to nobody

[2021-02-13 07:50] #321 closed, assigned to nobody

[2021-02-13 07:50] #322 closed, assigned to nobody

[2021-02-13 07:50] #323 closed, assigned to nobody

[2021-02-13 07:50] #324 closed, assigned to nobody

[2021-02-13 07:50] #326 closed, assigned to nobody

[2021-02-13 07:50] #328 closed, assigned to nobody

[2021-02-13 07:50] #329 closed, assigned to nobody

[2021-02-13 07:50] #330 closed, assigned to nobody

[2021-02-13 07:50] #331 closed, assigned to nobody

[2021-02-13 07:50] #332 closed, assigned to nobody

[2021-02-13 07:50] #295 closed, assigned to nobody

[2021-02-13 07:50] #300 closed, assigned to nobody

[2021-02-13 07:50] #302 closed, assigned to nobody

[2021-02-13 07:50] #304 closed, assigned to nobody

[2021-02-13 07:50] #293 closed, assigned to nobody

[2021-02-13 07:50] #294 closed, assigned to nobody

[2021-02-13 07:50] #296 closed, assigned to nobody

[2021-02-13 07:50] #298 closed, assigned to nobody

[2021-02-13 07:50] #299 closed, assigned to nobody

[2021-02-13 07:50] #301 closed, assigned to nobody

[2021-02-13 07:51] #617 closed, assigned to nobody

[2021-02-13 07:51] #1787 closed, assigned to nobody

[2021-02-13 08:21] felixfbecker commented on #393
@darcyclarke why close this?

[2021-02-13 08:30] leepowelldev commented on #2508
Hi - I've created a fresh Azure account which replicates the problem locally. Happy to share account details so you can login and clone the repo. I can also talk you through how to replicate if it would help.

[2021-02-13 08:43] darcyclarke commented on #393
Hey @felixfbecker! Sorry for any confusion here. That said, we are only expecting to make security updates to `v6` as per our [Support Policy](https://github.com/npm/cli/wiki/Support-Policy) now that [`v7`](https://github.blog/changelog/2021-02-02-npm-7-is-now-generally-available/) is GA

[2021-02-13 08:44] darcyclarke commented on #393
If you'd like to make a [net-new issue](https://github.com/npm/cli/issues/new/choose) against the project using our new issue template, it may help actually get visibility to the problem if you're still experiencing this in v7

[2021-02-13 09:52] jakobrosenberg commented on #2544
@darcyclarke In the event of conflicting package names, the path or name of the conflicting packages should be specified in the error. Otherwise we're left in the dark to figure out which packages are conflicting.

[2021-02-13 09:52] #495 closed, assigned to nobody

[2021-02-13 09:52] #1067 closed, assigned to nobody

[2021-02-13 09:52] #1322 closed, assigned to nobody

[2021-02-13 09:52] #1335 closed, assigned to nobody

[2021-02-13 09:52] #1531 closed, assigned to nobody

[2021-02-13 09:52] #1645 closed, assigned to nobody

[2021-02-13 09:52] #2137 closed, assigned to nobody

[2021-02-13 09:52] #2198 closed, assigned to nobody

[2021-02-13 09:52] #2201 closed, assigned to nobody

[2021-02-13 09:52] #2217 closed, assigned to nobody

[2021-02-13 09:52] #2227 closed, assigned to nobody

[2021-02-13 09:52] #2285 closed, assigned to nobody

[2021-02-13 09:52] #2461 closed, assigned to nobody

[2021-02-13 09:56] darcyclarke commented on #2544
@jakobrosenberg 🤔 weird, I feel like we've actually improved this experience. Can you maybe provide specific examples/reproduction cases with changes you'd like to see &/or create a [new RFC](https://github.com/npm/rfcs/) for this behavior?

[2021-02-13 10:12] karlhorky commented on #1732
I think this is known behavior for the npm CLI: https://npm.community/t/preinstall-npm-hook-doesnt-execute-when-installing-a-specific-package/2505

Yarn does run the `postinstall` after every install (which seems like the better option).

[2021-02-13 10:44] karlhorky opened #2692 "[BUG] Hook Scripts Not Run on `npm install`"
First of all, thanks for all of the work being done on the npm CLI and the ecosystem! Tons of new amazing things in v7.

### Current Behavior:

Hook scripts (documented [in the docs here](https://docs.npmjs.com/cli/v7/using-npm/scripts#hook-scripts)) seem to no longer get run for npm v7.

For example, an executable file at `node_modules/.hooks/postinstall` with the following contents not get run:

[2021-02-13 14:14] PeterMnd opened #2693 "[BUG]"
**"npm ERR! cb() never called!"**
- OS: Windows 10
- Node: v14.15.5
- npm: 7.5.4

[2021-02-13 14:58] Pomax commented on #2521
Handy: but where is that found on the actual site? It's not under https://docs.npmjs.com/cli/v7/configuring-npm/package-json nor is it under https://docs.npmjs.com/cli/v7/using-npm/config, so even though it looks like that information exists, it's basically not discoverable.

[2021-02-13 16:23] DeeDeeG commented on #2670
@darcyclarke @ljharb thanks for continuing to engage here.

I hope it's not too redundant to this issue, but I posted this as a "feature sugestion" over here: https://github.com/npm/feedback/discussions/218. I want to be able to voice an opinion about what the intended behavior should be in npm 7, and potentially let there be a space for community discussion and comments, and it's seems like perha

[2021-02-13 16:45] DeeDeeG commented on #2670
The problem is wider than I initially realized: `npm rebuild` now runs all three of: the `preinstall`, `install` and `postinstall` scripts. So whereas maybe one of those is a better fit than `postinstall`, now none of those options are viable as they all infinite loop.

[2021-02-13 17:28] wandyezj commented on #2638
There are some significant benefits to the above approach:

- Using a fixed prettier version (same for other programs) in the node_modules allows everyone to use the same prettier or other tool versions when they operate on the repository.
- in azure automation workflows it only requires node and npm to be installed by default, all other scripts can simply be run after and npm install of the repos

[2021-02-13 18:01] GibMirDieFlasche opened #2694 "NPM on Windows is borked - Multiple fixes failed"
NPM version 7.5.1 on Windows - Trouble started when an old project folder was deleted. All I get is error messages with npm start. npm init works fine, but cannot get npm start to work.

Have tried three uninstall/reinstalls
Have done npm cache clean --force, and also just npm install in the terminal.
Have also tried creating new project folders with npm init and the npm install. These both go thr

[2021-02-13 18:09] ljharb commented on #2638
npx will always use the local prettier if it’s installed, so i don’t think you need to hardcore the path at all.

[2021-02-14 04:07] falsandtru opened #2695 "[BUG] Wrong dependency resolution failure in clean install"
typescript@">= 2.8" must match typescript@4.3.0-dev.20210213, right? This error doesn't appear on npm6. Additionally, npm7 can't run `npm r` to remove unresolvable dependencies.

### Current Behavior:
[code]

### Expected Behavior:
no error

### Steps To Reproduce:
1. Checkout https://github.com/falsandtru/spica v0.0.434
2. Run npm i

### Environment:
- OS: Win10
- Node: 15.8.0
- npm: 7.5.4

[2021-02-14 05:01] thefordyking opened #2696 "[BUG] cannot read property 'length' of undefined while doing a simple command"
I'm still getting this error in version 7.5.3 when I try to install a package and this was a big that was I think was fixed in this issue: https://github.com/npm/cli/pull/173

Here's the error I'm getting:
root@localhost:~/Desktop/fordycoin-miner# npm install node-fetch
npm ERR! Cannot read property 'length' of undefined

npm ERR! A complete log of this run can be found in:
npm ERR! /root/.npm/_lo

[2021-02-14 05:18] Fcscanf opened #2697 "NPM can not install updates"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

NPM can not install updates
![image](https://user-images.githubusercontent.com/27654200/107869231-ce615f80-6ec6-11eb-968e-e5e07d82f1a1.png)

### Environment:

OS：Window10
Node：v14.15.4

[2021-02-14 12:43] Stanzilla opened #2699 "[BUG] npm should use PowerShell by default on Windows"
The problem here is that cmd does not work with a few things that are now part of a Windows developer's daily workflow, like using WSL and it's network shared file system. cmd does not understand UNC file paths and therefore npm is broken by default when you first try to use it. Yes the default shell and default script shell can be changed but there is no reason why the default should still be cmd

[2021-02-14 14:12] targos opened #2700 "[BUG] incomplete lock file is generated for workspaces on first install"
### Current Behavior:

After installing the dependencies in an npm workspace for the first time, running npm install a second time changes the package-lock.json: a "name" field is added to the sub-packages metadata.

### Expected Behavior:

Running `npm install` right after creation of the package-lock.json shouldn't change it.

### Steps To Reproduce:

You can reproduce with the following repo: t

[2021-02-14 14:13] targos commented on #2505
Done: https://github.com/npm/cli/issues/2700

[2021-02-14 15:22] cristiammercado commented on #2663
Hi people,

I had the same problem yesterday. I updated NodeJS in my Win10 machine to `14.15.5` and I had installed npm `7.5.3` from a previous global installation. When I tried to update npm to version `7.5.4` I couldn't do it, I got the error of administrator permissions described above and I had never happened. The same thing also happened to me if I wanted to install any package globally (for

[2021-02-14 15:51] falsandtru commented on #2695
.npmrc

[code]

[2021-02-14 17:30] wandyezj commented on #2638
I removed the absolute relative path `./node_modules/.bin/prettier` and used `prettier` instead.

I tested with `npm run prettier` in the package directory. When prettier is installed as part of in the local package it does indeed call that prettier version first.

However, if a local version is __not__ installed and a global version is installed `npm install -g prettier`, then the global version

[2021-02-14 17:34] ljharb commented on #2638
In that case no, hardcoding the path is the only way to do that afaik, but then i think you might lose platform path portability (since non-WSL windows uses the bin with “.cmd” on the end)

[2021-02-14 17:44] wandyezj commented on #2638
Ahh... Thank you for the clarification @ljharb, I suppose I will have to wait for this issue to be resolved in the latest version of NPM, before upgrading.

note: This works fine on Windows as cmd.exe has a precedence list for executing items in the path without the extension's presence by looking for the command without the extension (i.e. `hello` will call `hello.exe`, `hello.bat`, `hello.cmd`,

[2021-02-14 19:36] acohenOT commented on #2663
Thank you @cristiammercado -- those steps worked for me as well! Definitely a problem with 7.5.3.

[2021-02-14 23:10] AdemYuksel commented on #1962
I updated to version 7.5.4 with `npm install npm@7 -g` and the problem is resolved.

[2021-02-15 00:51] thany commented on #2639
@robross0606

Slightly as in the British nuance of the word 😀
Your problem seems to be quite a different one, mate. It's probably best to open a new issue.

1. I'm having this problem on Linux, which works very differently under the hood. Not better or worse, just different, mind you.
2. The error codes are different. Why it's ACCES (misspelled even) for me and EPERM for you, might seem like the s

[2021-02-15 03:57] icatalina opened #2701 "[BUG] `npm ci` succeeds when `package-lock.json` doesn't match `package.json`"
### Current Behavior:
`npm ci` does not fail when `package.json` doesn't match `package-lock.json`

### Expected Behavior:
`npm ci` refuses to install when the lock file is invalid.

### Steps To Reproduce:
1. Manually bump a major version of a dependency in `package.json`
2. Run `npm ci`
3. It should fail but performs the whole installation

### npm@7
<img width="531" alt="image" src="https://use

[2021-02-15 08:32] Wyzix33 commented on #2663
Thank you @cristiammercado, this worked with node-v15.8.0-x64.msi as well wich came with  npm  version 7.5.1.

[2021-02-15 08:33] jakobrosenberg commented on #2544
Sure.

**To reproduce:**
[code]

It would be far more helpful if the error was
[code]

[2021-02-15 09:27] ftzi opened #2702 "[BUG] unable to resolve dependency tree (react-native-svg)"
Based on https://github.com/npm/cli/issues/2000#issuecomment-717622366, creating my own issue about installing react-native-svg:

### Current Behavior:
[code]

eresolve-report.txt
<details>

[code]

</details>

### Expected Behavior:
Normal installation.

### Steps To Reproduce:

1. My package.json:
<details>

[code]

</details>

2. npm i

### Environment:

- OS: Ubuntu 20.10
- Node: 14.15.4 and a

[2021-02-15 09:50] RosenTomov commented on #2508
Problem persists in 7.5.4.

[2021-02-15 11:17] volarname commented on #2401
+1 fir fix this annoying issue, its lts version

[2021-02-15 11:51] BobBuildingCode commented on #2619
Thank you for reporting this, I thought I was going crazy when our builds suddenly started to fail.
After downgrading NPM from 7.5.3 to 6.14.11, they started working again. So definitely something related to v7.

_edit: upgraded to 7.5.4, same issue_

[2021-02-15 11:54] perryfaro commented on #2022
@cmandlbaur @AndreKR I think it is a problemen with node 15.x.x since it works with node 14.x.x and lower using npm version  7.5.4.

[2021-02-15 12:08] leepowelldev commented on #2619
@BobBuildingCode i agree it’s an issue with v7. However from investigation enabling ‘dev.azure.com’ as the sole url in settings also seems to have an impact. But that might also mean you repointing your feed to that endpoint as it uses different urls. You can get them in feed settings.

[2021-02-15 13:06] lucamartini commented on #2022
@perryfaro it seems it is v7.5.4 that fixed this.

[2021-02-15 13:12] TomBeckett commented on #2508
Any news on this? We're stuck on npm 6.14.11 as we use GitHub Private Packages

[2021-02-15 13:36] leepowelldev commented on #2508
@TomBeckett Out of interest do all the urls in your package-lock.json file match the registry address you’re using?

[2021-02-15 15:32] ljharb commented on #2702
I think this is because the react-native version you’re using requires react 16.13.1 exactly, but your project depends on `^16.13.1`. Try removing the `^` in your package.json from react.

[2021-02-15 15:50] HoplaGeiss commented on #1937
This issue still exist in 7.5.4

[2021-02-15 16:52] JGAntunes opened #2703 "[BUG] npm ci runs npm audit"
Apologies beforehand if this has been described or reported somewhere already. I've looked through the issues as well as through both of the release posts - https://blog.npmjs.org/post/626173315965468672/npm-v7-series-beta-release-and-semver-major & https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/ - but found no reference to this.

### Current Behavior:
Using:
[code]

On a JS proje

[2021-02-15 17:13] ljharb commented on #2703
Why shouldn’t it run it by default? The packages you use won’t have changed, but they might be newly known to be vulnerable.

[2021-02-15 18:08] JGAntunes commented on #2703
@ljharb it is my undertsanding that `npm ci` by default did not run `npm audit` in previous `npm` versions. E.g. executing `npm ci` on the same repo using version `6.14.9` renders:
[code]

Essentially, only performed the installation step, no audit was performed.

VS the regular `npm install`:

[code]

All I'm asking is if this is expected behaviour? ~In which case it feels to me like this is a br

[2021-02-15 18:16] ljharb commented on #2703
I don't believe the presence of audit warnings can fail an install.

[2021-02-15 18:22] saltire opened #2704 "[BUG] npm update does not save new versions in package.json"
### Current Behavior:
When running `npm update`, packages are updated normally, package-lock.json is updated, but package.json is not. (`npm install [package]@[version]` does update package.json as expected.)

### Expected Behavior:
The package.json file should be updated with the newly installed versions, as specified in the npm-update docs.

### Steps To Reproduce:
- `npm update`
- Check package

[2021-02-15 18:43] ftzi commented on #2702
Works, thank! But is it the expected behaviour? Issue can be closed if so

[2021-02-15 18:45] ljharb commented on #2702
It seems expected to me - you had v16.14 installed, which is incompatible with the react-native you had installed, so npm correctly warned that your dep graph was invalid.

[2021-02-15 19:24] JGAntunes commented on #2703
You're correct @ljharb, sorry for the confusion 👍 I guess this wouldn't make this change a breaking one, so `bug` no longer applies. However given `npm ci`'s [lack of documentation for the `audit`/`no-audit` flags](https://docs.npmjs.com/cli/v7/commands/npm-ci) I'm still wondering if this is inteded behaviour or not? I wouldn't mind dropping the `bug` tag and just leave this question out in the op

[2021-02-15 19:50] ljharb commented on #2703
I'll leave it to npm staff to answer that - i'm not sure if it's an intentional change or not, and thus whether the docs need improving or not. However, it seems useful to me for `npm ci` to run audit just like install would ¯\\\_(ツ)\_/¯

[2021-02-15 21:18] DaneEveritt commented on #2635
It unfortunately does not fix this issue @darcyclarke.

[2021-02-16 01:49] chalkygames123 commented on #2306
This is probably due to Node Sass v4 and not relevant to M1.

By running `npm install node-sass@4 --verbose` on Node v15, I got the following:

[code]

It always takes a few minutes.

[2021-02-16 02:43] petermikitsh opened #2706 "[BUG] Upgrading a workspace package"
### Current Behavior:

Editing a workspace package.json file and running `npm install` from the root fails to update the package.

### Expected Behavior:

- New package version is installed

### Steps To Reproduce:

- Clone https://github.com/petermikitsh/learn-single-spa/tree/853f1d4408ba8f1e466ab3057e5f32092ab5efc6
- Manually perform a version bump in a workspace `packages/root-app/package.json`

[2021-02-16 02:46] petermikitsh commented on #2162
I'm observing this in 7.5.4; see https://github.com/npm/cli/issues/2706

[2021-02-16 02:52] petermikitsh commented on #2706
https://github.com/npm/cli/issues/2036#issuecomment-716762752

@ruyadorno Has this workflow changed between 7.0.x and 7.5.4?

[2021-02-16 03:53] mjlehrke commented on #2704
I experienced this bug on Windows, NPM version 6.14.11. `npm update` failed to update package.json but a targeted install worked.

Interestingly, it seemed my global packages were also messed up around the same time this started. For instance, `npm list -g --depth=0` would show the global packages but some of them would have messed up versions such as `snyk@0`. `npm outdated` would insist the pack

[2021-02-16 04:24] weirdyang commented on #708
I'm experiencing the same thing as @jalik, using caret or tilde, it does not update the package.json after running install or update.
  npm: '7.5.4',
  node: '14.15.4',

[2021-02-16 09:12] TomBeckett commented on #2508
@leepowelldev  Assuming I understand correctly...

Nope, almost all are `https://registry.npmjs.org` with a couple being `https://npm.pkg.github.com/download/`.

Though our .npmrc in the repo is:

[code]

When using node/npm via GitHub Actions we setup our node like this:

[code]

[2021-02-16 09:24] robjamsinterit commented on #1721
Same problem.

[2021-02-16 09:35] leepowelldev commented on #2508
@TomBeckett Could you humour me try manually changing them all to the `registry.npmjs.org` url (and if that fails try `npm.pkg.github.com`)? We're seeing similar issues in Azure with mixed urls - even though they resolve to the same endpoint. When I changed ours to the same url as the registry it worked. My feeling is the auth token is valid for one url but not the other.

[2021-02-16 10:53] eduardoboucas opened #2707 "[BUG] cpu and os properties not respected"
At Netlify, we publish [a module](https://www.npmjs.com/package/@netlify/traffic-mesh-agent) that relies on a platform-specific binary.

In order to only install the appropriate binary for the user's machine, we publish [several platform-specific modules](https://www.npmjs.com/search?q=%40netlify%2Ftraffic-mesh-agent), with `package.json` appropriately tagged with the right `cpu` and `os` properti

[2021-02-16 11:24] GHATAK123 opened #2708 "[BUG] <flow-bin Installing Issue>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:

[2021-02-16 12:24] nigelhanlon commented on #2251
As a workaround, I deleted the `package-lock.json` file as well as the `node_modules` folder. Install worked fine after that.

In my case, the package lock file had been upgraded automatically which I think may have broken the install.

Worth a shot for those stuck but can't guarantee it will work for you. Good luck.

[2021-02-16 13:12] themightychris commented on #2631
I'm seeing this issue in vpm v7.5.4,

I can manually edit `package-lock.json` to replace the `git+ssh` refs with `git+https` and then `npm ci` works

But then every run of `npm install` incessantly edits `package-lock.json` to change `node_modules/mymodule->resolved` and `mymodule->version` back to `git+ssh`

NPM then executes `ls-remote` against it which fails in a CI environment with no github S

[2021-02-16 13:13] themightychris commented on #2631
This and #2610 appear to be dupes

[2021-02-16 14:01] saifolanwar opened #2709 "[BUG] install monaca in windows 10 64bit"
### Current Behavior:
fail installation

### Expected Behavior:
able to install, load monaca

### Steps To Reproduce:
1. Install node.js
2. run npm install -g monaca
4. See error below
C:\Users\Resident>npm install -g monaca@latest
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/req

[2021-02-16 15:45] wraithgar commented on #2631
Yes, with the added info it does appear to be a dupe.

[2021-02-16 15:45] #2631 closed, assigned to nobody

[2021-02-16 15:49] mwf commented on #2396
@darcyclarke Hi!

Finally, I see some activity from npm member :)

Could you please leasve some feedback on my issue?
Is it going to be fixed?
Do you need any additional info from me? :)

[2021-02-16 16:25] nlf commented on #2663
the bug is, indeed, a problem in npm@7.5.3. once you're on 7.5.4 you should be fine!

if you're on 7.5.3 and stuck, and also have bash, you can try our bash script installer by running `curl -q https://www.npmjs.com/install.sh | sh`

if you do not have bash, see the [super helpful post](https://github.com/npm/cli/issues/2663#issuecomment-778792677) above by @cristiammercado

I'm going to close thi

[2021-02-16 16:25] #2663 closed, assigned to nlf

[2021-02-16 16:26] robross0606 commented on #2663
@nlf, I appreciate that this bug was fixed in 7.5.4, but the bug report was about being stuck on 7.5.3 and a full solution hasn't actually been addressed.  How do you solve this problem if you are stuck on 7.5.3 and  _don't_ have bash?

[2021-02-16 16:29] nlf commented on #2630
this is resolved in 7.5.4, unfortunately if you already have the broken 7.5.3 getting it installed is either going to mean:

1) reinstall nodejs entirely, then `npm i -g npm` which should get you the fixed 7.5.4
2) if you have bash, try running `curl -q https://www.npmjs.com/install.sh | sh`

I'm going to close this issue as we do have outside confirmation that 7.5.4 works correctly, but do let us

[2021-02-16 16:29] #2630 closed, assigned to nlf

[2021-02-16 16:29] acohenOT commented on #2663
@robross0606, see the solution provided by @cristiammercado https://github.com/npm/cli/issues/2663#issuecomment-778792677

[2021-02-16 16:30] robross0606 commented on #2663
Okay, so basically nuke the entire installation and start over.

[2021-02-16 16:31] nlf commented on #2229
ok, I _think_ we have resolved most of these issues in npm@7.5.4

can those of you still experiencing problems try installing that and let us know?

note: if you're already on a broken version of npm, you'll either need to reinstall nodejs to get a working npm and `npm i -g npm` from there, or if you have bash installed you can also try `curl -q https://www.npmjs.com/install.sh | sh`

[2021-02-16 16:31] GeduardoOC commented on #417
npm ERR! cb() never called!

npm ERR! This is an error with npm itself.

[2021-02-16 16:31] ljharb commented on #2707
I’ve never known “cpu” or “os” properties to matter - i see them [here](https://www.unpkg.com/browse/@netlify/traffic-mesh-agent-darwin-x64@0.27.10/package.json), but can you link to the docs that indicate these are supported properties in package.json?

[2021-02-16 16:41] nlf commented on #2709
hi there, by your error messages it looks like you're seeing some permissions errors. are you running these commands with elevated privileges?

are you experiencing this problem with any other packages, or just this specific one?

i'm unable to reproduce this. you might also try cleaning your cache `npm cache clean --force` and trying again

[2021-02-16 17:03] eduardoboucas commented on #2707
Sure: [cpu](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#cpu) and [os](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#os).

[2021-02-16 17:11] teerawat-dumrongthawatchai opened #2710 "[BUG] command error when using npx --no-install"
### It returns an error when I using "npx --no-install"

this is an error message

[code]

[2021-02-16 17:43] ljharb commented on #2707
TIL, thank you :-)

[2021-02-16 19:08] nlf commented on #2708
please use our issue templates and be sure to provide all information requested there.

[2021-02-16 19:08] #2708 closed, assigned to nobody

[2021-02-16 19:19] tlbdk opened #2712 "[BUG] (Security issue) npm install always uses registry version of package even when git+ssh is used"
### Current Behavior:

npm install --verbose sd-notify@git@github.com:connectedcars/node-sd-notify.git

Will install the registry version of package even though git url is used.

This means that if you are using private git+ssh dependencies someone can uploads a package with the same name/alias to npmjs it will get installed instead of the private git+ssh version you are expecting.

This issue was

[2021-02-16 19:22] nlf commented on #2699
changing the default shell would constitute a breaking change so this is unlikely to happen in npm 7 without further discussion. you might consider putting this suggestion through our rfc process, described here: https://github.com/npm/rfcs#rfc-process

[2021-02-16 19:26] nlf commented on #2697
this issue is resolved in npm@7.5.4, unfortunately as you've noticed it can be difficult to get back to a working npm that allows you to install the updated version. a couple of approaches are:

1) if you have bash available, `curl -q https://www.npmjs.com/install.sh | sh`
2) if you do not have bash available, you'll need to uninstall nodejs and reinstall. this should get you an older, working, ve

[2021-02-16 19:26] #2697 closed, assigned to nobody

[2021-02-16 19:28] nlf commented on #2696
we need a lot more additional information before we can triage this with you. please open a new issue and be sure to fill out the full issue template, including what versions of node and npm you're using, and what steps we can take to reproduce this error.

[2021-02-16 19:28] #2696 closed, assigned to nobody

[2021-02-16 19:31] nlf commented on #2695
your dependency `tsify` has a peer dependency on `typescript@">= 2.8"` however your package is directly depending on `typescript@4.3.0-dev.20210213` which is a conflict.

to get around this, you can either run `npm i --force` to ignore the conflicts and install anyway, update your `tsify` dependency to one that has a peerDependency on a matching version of typescript, or change your top level type

[2021-02-16 19:31] #2695 closed, assigned to nlf

[2021-02-16 19:32] nlf commented on #2693
please open a new issue and be sure to fill out the full issue template, including what versions of node and npm you're using, as well as the steps we can take to reproduce this error.

[2021-02-16 19:32] #2693 closed, assigned to nobody

[2021-02-16 22:13] coreyfarrell opened #2714 "[BUG] Running `npm install` updates package.json timestamp"
### Current Behavior:
Running `npm install` with no arguments causes the timestamp of package.json to be touched.

### Expected Behavior:
package.json should not be written.

### Steps To Reproduce:

1. Enter a directory with a valid `package.json`, observe the timestamp.
2. Run `npm install`
3. See that the package.json timestamp is updated.
4. Wait a minute and repeat step 2-3, you see will se t

[2021-02-16 23:50] falsandtru commented on #2695
Ah, thanks...

[2021-02-17 01:34] isaacs commented on #2673
https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22

We need much more information to even get started on this.

Start with filling out the sections in the issue template, and including the entire error message.  It would also be good to share the `npm-debug.log` file that was generated when it failed.

Closing for now, happy to re-open if more info is provided

[2021-02-17 01:34] #2673 closed, assigned to nobody

[2021-02-17 01:35] Alphy11 commented on #568
@momesana I am guessing since you started working around it with yarn you never got to the bottom of this?  I am seeing this happen once in a while in our CI builds, always with the same package.  I am at a loss as to why it is happening since we are killing hanging node processes.

[2021-02-17 01:40] isaacs commented on #2671
This is tricky to do, and was dropped from v7, but there's no real fundamental reason why it can't be brought back.

It's tricky because we don't track in the lockfile (or anywhere else at this time) whether a production dependency is required as a dependency of some devDependencies.  For example, you might have this dependency graph:

[code]

In the tree, we lay it out like this:

[code]

If we i

[2021-02-17 04:06] saifolanwar commented on #2709
I doubt it's the case.

The privilege of the Windows user is not Administrator, correct.

But I had earlier try to run the npm (command prompt) as Administrator too.

facing the same issue.

[2021-02-17 08:29] vaaski commented on #2630
I can confirm that global installs are fixed in 7.5.4, however simply using the repair option of the 14.15.5 LTS Node.js installer didn't work on windows.

And because I had to uninstall anyway I replaced the default installation method with [nvs](https://github.com/jasongin/nvs) which makes switching Node.js versions a breeze.

[2021-02-17 09:45] karanda123 commented on #2479
I tried to run:
npm install @fluentui/react

Got the following errors!
C:\Users\karanda\source\repos\scratch\React>npm install @fluentui/react
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\karanda\AppData\Local\npm-cache

[2021-02-17 10:38] linkej-autodesk commented on #2453
We have the same problem with 7.5.4. using `--registry` did not fix it, unfortunately. I guess we'll stay at 6.x for now...

[2021-02-17 15:23] bl-ue commented on #2606
I'm getting the same thing with `electron@11.2.3`.  I installed it like normal, used it, commited `package.json` and `package-lock.json`, and then when I clone the repo at a different place and try to run it, it doesn't work.

Then :tada:
1. `npm i electron@10` installs `electron@10.3.2`, and updates `package.json` to say so
2. I revert the change in `package.json`, changing version back to `11.2.

[2021-02-17 16:57] leepowelldev commented on #2619
Update to the issue - There definitely seems to be something up with how v7 is handling the urls.

Our situation is a developer has his registry set to use `https://pkgs.dev.azure.com/ACCOUNT_NAME/_packaging/`, he does an `npm install` which updates the `package-lock.json` file to point all the `resolved` values to this endpoint.

In the build pipeline we use the `npm task` in Azure to perform the

[2021-02-17 17:11] ljharb commented on #2619
what other values should npm be using besides the ones in the lockfile?

[2021-02-17 17:19] leepowelldev commented on #2619
Yes you're right, it should use them - by 'some reason' I guess I mean it displays them in the verbose output when they fail. When it works (by adding always-auth) they end up at a different url 'https://fv1vsblobprodsu6weus82.blob.core.windows.net' - no idea why...

When I add the 'alway-auth' it works, even though always-auth is also set globally - maybe it's being ignored?

[2021-02-17 18:33] isaacs commented on #2610
This is tricky.

We currently keep the https url if auth is set in the url, because presumably you need that auth to access the repo.

The tricky bit is that using https _without_ auth in the url will trigger a prompt to enter a username and password on the command line, which will fail (or at least be confusing and strange) in many cases where an install with ssh would work fine.

If the repo is

[2021-02-17 19:38] ljharb opened #2715 "npm 7 with `audit-level` set fails the install when audit warnings exist"
In npm 6 `npm install` was unaffected by the `audit-level` config setting.  It only affected the exit code of `npm audit` itself.  In npm 7 this behavior has been carried over to `npm install`.

### Current Behavior:
If I set `audit-level` then `npm install` exits uncleanly if there are vulnerabilities found during install that match that level or higher.

### Expected Behavior:
The exit status of

[2021-02-17 20:42] rvillane commented on #2538
I'm also experiencing this same issue in NPM 7

`npm install --package-lock-only commander`

is updating both package-lock and package.json

[2021-02-17 21:16] nlf commented on #2709
i'm still unable to reproduce this.

can you try it from a terminal running as administrator and attach the log here?

[2021-02-17 21:22] nlf commented on #2712
i'm unable to reproduce this in npm 7.5.4, but you're missing some information from the environment section of our issue template. what version of node are you using? what version of npm?

how are you verifying that what you're getting is the registry version and not the one from the git repo?

if i create a new directory and run your exact command above, i get a package-lock.json that shows that

[2021-02-17 21:31] saifolanwar commented on #2709
yup, sure

Microsoft Windows [Version 10.0.18363.1379]
(c) 2019 Microsoft Corporation. All rights reserved.

C:\Users\USER>npm install -g monaca
npm notice
npm notice New patch version of npm available! 7.5.1 -> 7.5.4
npm notice Changelog: https://github.com/npm/cli/releases/tag/v7.5.4
npm notice Run npm install -g npm@7.5.4 to update!
npm notice
npm WARN deprecated har-validator@5.1.5: this libra

[2021-02-17 22:28] mlippert commented on #2633
For what it's worth, when I saw npm v7 available I upgraded to it also and ran into this exact problem w/ fsevents, and the only dependency I could see for it was optional. This wasn't a CI build, it was on my local linux dev machine.

I didn't try to track it as far as @holmok did (thanks for that and this bug report, even if it did go away for you eventually), I just rolled back to npm v6 which

[2021-02-17 22:40] nlf commented on #2653
good catch! #2718 will fix this in the next release

[2021-02-17 22:53] nlf commented on #2658
this is a bug that's causing the cli to think you're trying to install a dependency named `git` from a directory named `github.com:368573607/scratch_file_analyze` which is clearly wrong. we'll get that fixed!

as a workaround, you can do any of the following:
- `npm i git+ssh://git@github.com:368573607/scratch_file_analyze`
- `npm i github:368573607/scratch_file_analyze`
- `npm i 368573607/scratch

[2021-02-18 01:43] Pomax opened #2720 "[BUG] Using `--` to pass additional arguments incorrectly wraps those arguments in quotes"
### Current Behavior:

Using `--` to pass additional arguments incorrectly wraps those arguments in quotes

### Expected Behavior:

Using `--` to pass additional arguments does what https://docs.npmjs.com/cli/v6/commands/npm-run-script claims it will do:

I take "directly" here to mean "without any kind of rewriting"

### Steps To Reproduce:

a package.json with:

[code]

shows:

[code]

instead o

[2021-02-18 02:52] Vixb1122 commented on #2229
@nlf throw error:
[code]
[2021-02-18T02_49_09_337Z-debug.log](https://github.com/npm/cli/files/5999917/2021-02-18T02_49_09_337Z-debug.log)

[2021-02-18 03:50] thefordyking opened #2721 "[BUG] cannot read property 'length' of undefined with npm"
### Current Behavior:
root@localhost:~/Desktop/fordycoin-miner# npm install node-fetch
npm ERR! Cannot read property 'length' of undefined

npm ERR! A complete log of this run can be found in:
npm ERR!     /root/.npm/_logs/2021-02-18T03_45_41_879Z-debug.log

### Expected Behavior:
root@localhost:~/Desktop/fordycoin-miner# npm install node-fetch
//and it should continue installing the package

###

[2021-02-18 03:51] ljharb commented on #2721
Can you try npm v7.5.4?

[2021-02-18 03:51] thefordyking commented on #2721
Fixed it

[2021-02-18 03:52] thefordyking commented on #2721
No, I cannot update npm with npm

[2021-02-18 03:53] ljharb commented on #2721
`npm install -g npm` errors out the same way? (possibly with `sudo`)

[2021-02-18 05:47] MadeleineCodes commented on #2508
For me it didn't matter whether I had a `package-lock.json` present or not. I tried with and without. And in my case all entries in the `package-lock.json` were pointing to the same repo (aka azure feed).

[2021-02-18 06:14] githubczy opened #2722 "run 'npm install' can not setup dependencies"
message is:
npm ERR! Error while executing:
npm ERR! /usr/bin/git ls-remote -h -t https://github.com/jlisee/protobuf.js.git
npm ERR!
npm ERR! fatal: unable to access 'https://github.com/jlisee/protobuf.js.git/': Couldn't connect to server
npm ERR!
npm ERR! exited with error code: 128

the log is:
4432 verbose stack Error: exited with error code: 128
4432 verbose stack     at ChildProcess.<anonymou

[2021-02-18 06:47] ystz999 commented on #2722
Yes i have this problem too

[2021-02-18 07:52] tanmaysingewar opened #2723 "[BUG] <title> Install for [ 'react-native@latest' ] failed with code 1"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-02-18 09:51] Download commented on #568
@momesana Yes when I encounter it again I will do this.
That said, I don't know if it's luck or what (knocks on wood) but NPM has been working very well for me lately.
Where at some point I almost got used to seeing lots of file management related Windows-only issues with NPM, for about a year or so I hardly have seen any. I at one point also switched to Yarn, but I switched back because NPM got s

[2021-02-18 10:12] tlbdk commented on #2712
@nlf I'm also unable to reproduce it now, we were having other issues with git+ssh dependencies not building on install so we were trying a lot of different things including downgrading to older npm versions so it's likely I was testing against an older version. Sorry and thanks for looking at it, I will close the issue for now.

[2021-02-18 10:12] #2712 closed, assigned to nobody

[2021-02-18 11:41] lubomirblazekcz commented on #2575
I had similar issue on Ubuntu 20.10, in my case every HTTP fetch hanged, so simple install that should took 4s took 2m. In my case it was caused by docker. After uninstalling docker snap and removing docker bridge adapter with `sudo ip link del docker0` everything started working correctly again. `sudo lshw -class network -short && nmcli device status` shouldn't show docker adapter here.

This dri

[2021-02-18 12:47] CageFox commented on #2704
Same bug on windows 10 node v12.16.0
After npm upgrade versions in package.json not automatically updated

[2021-02-18 13:53] biltongza commented on #568
My team actually put in a retry loop on npm ci because of this issue, it only gives up after 5 retries. Made our problems go away, but it does mean it takes extra time when it fails.

[2021-02-18 15:19] PhilipAbed opened #2724 "[BUG] the --long command is not giving expected results"
### Current Behavior:
im trying to run these flags:
C:\tests\projects\npm\npm7LsSS>npm ls --all --json --long
`npm ERR! Cannot destructure property 'dependencies' of 'node.package' as it is undefined.
{
  "error": {
    "code": null,
    "summary": "Cannot destructure property 'dependencies' of 'node.package' as it is undefined.",
    "detail": ""
  }
}

npm ERR! A complete log of this run can be

[2021-02-18 15:31] #2723 closed, assigned to nobody

[2021-02-18 16:46] #2273 closed, assigned to darcyclarke, ethomson

[2021-02-18 16:50] wandyezj commented on #2665
@ymor The following script should allow you to report the versions.

versions.cmd

[code]

[2021-02-18 17:49] nlf commented on #2722
i can't reproduce this in the latest npm 7 (7.5.4)

[code]

please reopen this issue and be sure to fill out our template with as much information as possible.

[2021-02-18 17:49] #2722 closed, assigned to nobody

[2021-02-18 20:02] brunoclima opened #2725 "[BUG] npm install asking for a password on nested private packages using git+ssh."
### Current Behavior:

npm asks for a password (through VS Code) when installing private bitbucket packages that have another private package on its dependencies using `git+ssh`.
In a separate terminal it just get stuck in the private package installation for around 20 minutes before throwing a lot of errors.

### Expected Behavior:

npm installs git+ssh packages using my SSH credentials (just lik

[2021-02-18 20:15] grahaml opened #2726 "[BUG] error 'could not determine executable to run' when using 'npm init' with a scoped package in a private registry"
Hello! I am having an issue that may or may not be related to #1845 - it's the same error output, but a different setup.

I have a project initializer, designed to work via `npm init @myscope/lib`. The package is published to a registry through my company's self-hosted GitLab instance.

I have created a small repo to reproduce the issue: https://github.com/grahaml/create-npm-initializer-bug-with-s

[2021-02-18 21:53] #2658 closed, assigned to nobody

[2021-02-18 22:14] #1875 closed, assigned to isaacs

[2021-02-18 22:28] #2707 closed, assigned to nlf

[2021-02-18 23:03] #2251 closed, assigned to nlf

[2021-02-19 01:15] scamden commented on #2443
@wraithgar you verified yes? needs triage still?

[2021-02-19 01:17] scamden commented on #2443
@wraithgar help??

[2021-02-19 01:34] ruyadorno commented on #2443
hi @scamden sorry about the delay!
I'll make sure we prioritize this, thank you for reporting it!

[2021-02-19 01:46] scamden commented on #2443
thanks so much!

On Thu, Feb 18, 2021 at 5:34 PM Ruy Adorno <notifications@github.com> wrote:

[2021-02-19 01:52] alanpurple opened #2728 "[BUG] unsupported engine yet installed"
### Current Behavior:

warnings - unsupported engine

### Expected Behavior:

no such warnings

### Steps To Reproduce:

### Environment:

[code]

[2021-02-19 02:24] jonlepage commented on #793
with vscode we can set the parser to `jsonc` "json with comment"
It just stupid we cant doc the package.json ! it the most important file in the root of project for dev and understand a project!
![image](https://user-images.githubusercontent.com/24865815/108448322-7e202f80-722f-11eb-8c9d-da8dda6b1714.png)

[2021-02-19 02:36] ljharb commented on #2728
The engines field is purely advisory, so it won’t block an install.

[2021-02-19 03:52] thefordyking commented on #2721
yup I don't know what happened it was working a while ago My linux distro is kinda weird.since I'm running a vertral computer on a android device. But I got it to work in a terminal so I can update packages with that. But I will like to update the npm in my  vertral linux thing.

[2021-02-19 03:54] xihuannioyj commented on #2128
npm install -g npm@6

[2021-02-19 06:15] Tallyb commented on #2610
Having an all repo config is probably not the best idea, as packages come in all shapes and forms.
I think respecting the installation method provided during the npm install is probably the best approach. If anyone needs ssh or https, they should simply add the package this way.

[2021-02-19 08:39] jantimon commented on #2581
I have the same issue - all I could find is: https://npm.community/t/npm-deprecate-giving-error-e422-unprocessable-entity/2337

[2021-02-19 09:34] jantimon opened #2730 "[BUG] npm-deprecate doesn't allow to undeprecate packages anymore"
### Current Behavior:

[code]

### Expected Behavior:

I would expect it to work similiar to `npm@6` as according the documentation passing an empty string is still allowed.

from https://docs.npmjs.com/cli/v7/commands/npm-deprecate

### Steps To Reproduce:

[code]

### Environment:

- OS: OS-X 11.1
- node: 15.9.0
-npm 7.5.3

[2021-02-19 11:04] ehoogeveen-medweb opened #2731 "[BUG] Windows-style environment variables in npm scripts are no longer expanded"
### Current Behavior:

Our setup uses environment variables to pass parameters to npm scripts. With npm v7, Windows-style environment variables like `%foo%` are no longer expanded (on Windows).

### Expected Behavior:

Windows-style environment variables used by npm scripts should be expanded (on Windows) like they are with npm v6. Alternatively, Unix-style environment variables should be made to

[2021-02-19 12:35] achingbrain opened #2732 "[BUG] symlinks for bin files are not created in workspaces using npm 7 on node 14 on Windows Server"
### Current Behavior:

When using the new workspaces functionality from npm 7 on node 14 on Windows, symlinks aren't always created for `bin` files.

This works as expected on node 15, and on Linux/Mac OS on node 14 and node 15.

I've put a [demo repo together](https://github.com/achingbrain/npm7-node14-workspaces-windows) that shows the problem.

It has one package in its workspace that uses `tap

[2021-02-19 12:44] AlexanderYW commented on #1703
Same issue as @erichoswald, thanks for the tip! :)

[2021-02-19 12:53] 2180-gideon opened #2733 "Error in creating a react project"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\admin\AppData\Local\npm-cache\_logs\2021-02-19T12_49_01_489Z-debug.log

Aborting installation.
  npm install --save --save-exact --loglevel error react react-dom react-script

[2021-02-19 13:18] achingbrain opened #2734 "[BUG] --prefix glob paths not expanded on Windows"
### Current Behavior:

Glob paths passed as the `--prefix` argument to `npm run-script` are not expanded on Windows.

I have a project that uses workspaces.  I have a script `npm test --prefix packages/*`.  This works on Linux/Mac OS.  On Windows I get:

[code]

Maybe the shell is doing the expansion on Linux/Mac OS?  It should use some sort of glob library really.

### Expected Behavior:

It shou

[2021-02-19 13:21] targos opened #2735 "[BUG] installing a dependency in a package with a peer dependency changes the peerDependencies field"
### Current Behavior:

If you have a package with `something` in `peerDependencies` and then install that something in the same package as a devDependency, the peerDependencies field is changed and the dependency is added to `package.json`, but it inherits the semver string that the peer dependency had.

### Expected Behavior:

Installing a dev dependency should do the same change to the `package.

[2021-02-19 15:51] ljharb commented on #2735
npm warns when moving a dep between dev and prod; I’d hope if you attempt to install a dev dep and a peer dep exists, that it at least informed you of that.

[2021-02-19 16:12] saabdal commented on #2055
Hey All, what do you that this is fixed in the latest release....?

[2021-02-19 16:40] Primajin commented on #1360
Yeah we see either `nan` and or `bindings` and or `file-uri-to-path` popping up on mac.
Not on Linux or on Windows.
`node 14` with latest `npm 6`

[2021-02-19 16:47] nlf commented on #2676
thanks for the report! this one isn't a bug, per se, but rather a missing advisory in the npm advisory database. we'll get that synced up!

[2021-02-19 17:31] JoeUX opened #2736 "[BUG] npm 7.5.x is deleting all packages when one package is updated (global)"
### Current Behavior:
All my global packages are being deleted when I run an `npm update -g ...` command, except for the package that I'm updating. This has been happening for at least a month. Currently it's happening with npm 7.5.4, but I think it was also happening with earlier 7.5.x releases. See the screenshot below.

### Expected Behavior:
It should just update the specified package. It shou

[2021-02-19 17:59] ljharb commented on #2736
to update a global eslint, you'd run `npm install -g eslint` - there's no global lockfile, so `npm update` doesn't do anything for you there.

that said, there shouldn't ever be any auto-pruning on `npm root -g`, and this does seem like a bug.

[2021-02-19 18:21] rschultheis commented on #2676
The missing advisory is added now: https://github.com/github/advisory-database-curation/issues/16#issuecomment-782251748

Thank you for raising this @nlf and Andrew 🙇

[2021-02-19 18:47] ljharb commented on #2676
There’s also the lodash ones that don’t seem to show in npm audit.

[2021-02-19 18:51] isaacs commented on #2610
This is only relevant when pulling packages from known hosts like GitHub or GitLab, where the "shape and size" is fairly well understood.  The difference is in the current environment capabilities.  Ie, can it use ssh?  should it fail if it can't get the repo via git+https, or should it fall back to ssh?  should it use https first, or ssh first?  These are all system-specific, not dependency- or r

[2021-02-19 19:38] darcyclarke commented on #2704
@saltire sorry for the confusion, we need to update the docs to clarify that `npm update` will install & update the `package-lock.json` but not modify the spec defined in `package.json`; As you noted, you *can* still update that by running `npm install <pkg>@<version>` - this was a breaking change from v6, as that previously would modify `package.json`

[2021-02-19 19:41] darcyclarke commented on #2664
@rhansen appreciate you filing this, we've got some ideas on how to improve this & will post back with updates soon.

[2021-02-19 19:51] CageFox commented on #2704
And what command can I use to update all packages, modifying specs in package.json?

[2021-02-19 20:15] isaacs commented on #2726
Are there other bins defined in your package.json file?

This works fine:

[code]

Using this package: `https://registry.npmjs.org/@isaacs/create-test`

1.0.0 works because there is exactly 1 bin.  1.0.1 works because there is a bin named `create-test`.

The minified manifest that the default npm registry returns for this package is this:

<details>

<summary>hidden because long</summary>

[code]

[2021-02-19 22:26] rschultheis commented on #2676
@ljharb can you point me at the missing `lodash` advisory?  Is it on https://github.com/advisories or a CVE or somewhere else?  I'll get it added right away

[2021-02-19 22:54] ljharb commented on #2676
https://github.com/lodash/lodash/issues/5083 references https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23337 and https://snyk.io/vuln/SNYK-JS-LODASH-1018905.

[2021-02-19 23:05] lumaxis commented on #1700
Finally got around to testing this too, it's indeed fixed! 🥳  Thanks everyone 🙌🏼

[2021-02-20 00:39] Iril opened #2738 "[BUG] cb error, dependency issue"
### Current Behavior:
When building a npm project in Jenkins using an Artifactory Repository getting a cb () never called error.
npm info using npm@6.14.11
npm info using node@v14.15.5

After upgrading to npm v7 now causes a dependency issue.
npm info using npm@7.5.3
npm info using node@v15.9.0

When using the npm. registry this issue does not appear.

### Expected Behavior:
Build should complete

[2021-02-20 00:49] osdevisnot opened #2739 "[BUG] NPM v7.x does not skip OPTIONAL DEPENDENCY"
### Background:
I am an author of a golang project called [sorvor](https://github.com/osdevisnot/sorvor) and I wish to distribute golang binaries using NPM so that consumers do not have to install separate toolchain to get sorvor.

To achieve this, I've published prebuilt platform specific native binaries to NPM via below packages:
https://www.npmjs.com/package/sorvor-darwin-64
https://www.npmjs.c

[2021-02-20 02:49] octogonz opened #2740 "[BUG] NPM 7.x broke the "--json" CLI parameter"
### The problem

NPM's [--json](https://docs.npmjs.com/cli/v6/using-npm/config#json) option allows scripts to invoke an NPM command and receive machine-readable JSON that can be easily processed.  In previous NPM versions, the JSON was written to STDOUT and all other messages were written to STDERR, making it easy for a script to extract the JSON.

With NPM 7.x, everything is mixed together on STD

[2021-02-20 03:36] zitup commented on #1732
YES, yarn does well, I would love to see npm upgrade :)

And FYI @karlhorky , I discovered this problem when i was developing a [module](https://github.com/zitup/type-sync) like typesync, but npm's problems stuck me

I mentioned above is one of these, another one is when you install two package use `npm install xxx1 xxx2`, script in `./hooks/postinstall ` will only process one, so strange...

In a

[2021-02-20 04:07] nVitius opened #2741 "[BUG] npm hangs on gitlab repo install"
### Current Behavior:
I am installing a dependency from a private gitlab repo with `git+ssh`. Every time I install it, npm takes a really long time to complete the installation. I ran it with `-ddd` and noticed this:
[code]

### Expected Behavior:
npm doesn't try to sign in to gitlab when installing an ssh package

### Steps To Reproduce:
npm i --save git+ssh://gitlab.com/some_user/private_repo#ma

[2021-02-20 08:22] erunion commented on #2732
Also seeing this happen on Node 14.15.1 w/ npm@7.5.4 on OSX 10.14.6

[2021-02-20 12:31] kumavis opened #4289 "[doc](arborist) document when a node would not contain a resolved field"
the resolved field is critical to understanding the provenance of a package for security reasons

its confusing when `arborist` is unable to determine where a package was resolved from
I can understand there are some situations when a package may not have a straight-forward resolved value, perhaps when it is a "bundled" dependency

it would be nice to know all the cases where this is possible and

[2021-02-20 12:35] kumavis commented on #4289
this situation may be further complicated by loading an actual tree with a `yarn.lock` rather than a `package-lock.json`

[2021-02-20 12:38] kumavis commented on #4289
in this particular situation im seeing a non-peer non-bundled `assemblyscript` node appear without a resolved field.

parent package `rabin-warm@0.0.8` lists its dependency `"assemblyscript": "github:assemblyscript/assemblyscript#v0.6"`
in `yarn.lock` this appears as
[code]

[2021-02-20 13:45] vbt-tech commented on #2728
I'm really tired, now I have nightmares at night, npm and update processes are breaking my psychology.

[2021-02-20 14:46] ext opened #2744 "[BUG] unable to resolve dependency tree"
### Current Behavior:

Under certain conditions using `npm pack` on a dependency and later `npm install xyz-1.2.3.tgz` fails to install even when the same published package works when installed via registry.

See detailed steps to reproduce below but a short summary is:

* `@sandbox/base` have no dependencies (published as 1.0.0)
* `@sandbox/plugin` have a `peerDependency on `@sandbox/base ^1` (pu

[2021-02-20 14:49] ljharb commented on #4289
In npm 7, I’ve seen this field not show up reliably; but there’s now `npm explain assemblyscript` which may help?

[2021-02-20 15:14] ext commented on #2701
I've ran into this as well, is there any workarounds until this issue is resolved? Perhaps a flag or a new command could be added to verify the two files are in sync.

A consequence of this is that CI builds (which uses `npm ci`) now passes (as it installs an old version) even if a dependency would normally cause a build failure (such as when a major version as suggested by OP).

[2021-02-20 16:30] larabakr opened #2745 "Error with using create-react-app"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\lenovo\AppData\Roaming\npm-cache\_logs\2021-02-20T16_28_44_860Z-debug.log

[2021-02-20 19:46] osdevisnot commented on #2739
Duplicate of #2707

[2021-02-20 19:46] #2739 closed, assigned to nobody

[2021-02-20 20:22] Stvad commented on #2508
Still experiencing the problem as-well.
Something I thought might be relevant:

I use package aliasing (https://stackoverflow.com/questions/56134857/how-to-install-npm-package-under-alias-or-different-name) to shadow some of the packages that are present in the npmjs.com

So dependency entry for them would look like : `"fetch-roamresearch": "npm:@stvad/fetch-roamresearch@^0.1.3"`

Yarn has/had a s

[2021-02-21 03:58] Yahyayy opened #2746 "Yahya"

[2021-02-21 04:30] #2746 closed, assigned to nobody

[2021-02-21 15:31] ljharb opened #2747 "[BUG] `npm install --package-lock-only` does not imply `--package-lock`"
### Current Behavior:
put `package-lock=false` in `.npmrc`.

Run `npm install --package-lock-only`.

### Expected Behavior:
a package-lock.json is generated.

### Steps To Reproduce:
See above.

### Environment:
- npm: 7.5.4

This is a regression from https://github.com/npm/cli/pull/146 / v6.9.0.

(possibly related to #2358)

[2021-02-21 16:57] kzaytsev commented on #2728
Just downgrade your node version, it was exactly like topic starter said with node 14+, after downgrade to node v12.16.1 (npm v6.13.4) it's ok.

[2021-02-21 17:15] mpereira commented on #2291
I was also seeing this. I develop on macOS and have a project that builds in two other places: GitHub actions and Netlify.

GitHub actions uses npm 6.14.11 and builds fine, while Netlify uses npm 7.4.3 and was failing to build with the exact output in this issue's first message.

I don't have fsevents as an explicit dependency in my `package.json`:
[code]

After an hour of hitting my head on the w

[2021-02-21 17:21] jost-s opened #2748 "[BUG] serve script doesn't start http server after upgrade to npm 7"
### Current Behavior:
Running `npm run serve` in a Vue CLI generated project compiles successfully but doesn't start the development server.
From `package.json`:
[code]
The output at the end of compilation is
[code]

Before the upgrade to npm 7, the server started as usual. When I run `./node_modules/.bin/vue-cli-service serve`, the server starts as usual too. Lastly when I create a fresh Vue app

[2021-02-21 19:19] jost-s commented on #2748
What I noticed is that calling `./node_modules/@vue/cli-service/bin/vue-cli-service.js serve` does not work either, it produces the same result as `npm run serve`. Could it be that the resolution of the command to call differs from npm 6 to 7?

[2021-02-21 19:22] ljharb commented on #2748
It’s possible the version of the cli-service has changed, and thus the path to the binary. Generally you want to reference the bin name in node_modules/.bin, not the JavaScript file it happens to point to.

[2021-02-21 19:44] jeremy-coleman commented on #2359
I said "It's almost like..". To better describe the behavior. IE: maybe the cause is from slow replications. But, thank you for the explanation. This happened again to me as recently as yesterday (Feb20 2021)

[2021-02-22 00:44] thedoublejay commented on #2541
I have the same issue with windows using `%npm_package_config_key%`. The variable is not interpolated anymore in npm@7.5.4. It was working on npm@6.14.11.

[2021-02-22 03:47] mikestratton commented on #417
`npm i -g npm@latest`

Resolved it for me.
:-)

[2021-02-22 06:20] jost-s commented on #2748
@ljharb Thanks for your reply. I haven't upgraded anything else other than npm though. When I downgrade npm to 6, the command `npm run serve` works, upgrading to npm 7 breaks it again.

[2021-02-22 09:06] EdisonHarada commented on #2720
NPM is removing double quotes from any part of the command:

In my case I have:
[code]

It tries to execute as:
`FOR /F tokens=* ^%i IN ("git rev-parse --abbrev-ref HEAD") DO crowdin download --branch ^%i`

Instead of:
`FOR /F "tokens=*" ^%i IN ("git rev-parse --abbrev-ref HEAD") DO crowdin download --branch ^%i`

I tried escaping in other ways but didn't work :/

[2021-02-22 11:09] andycandy-de opened #2751 "[BUG] error cb() never called! - npm install with windows and docker (node:14.15.5 + npm 6.14.11)"
### Current Behavior:
I get the 'error cb() never called!' when I try to install the project. This error occurs very often, but sometimes it works. I have no idea, sometimes it works and sometimes it fails.

**Logs**
[2021-02-22T10_34_04_555Z-debug.log](https://github.com/npm/cli/files/6021491/2021-02-22T10_34_04_555Z-debug.log)
[code]
The error occurs after the extract of rxjs!

<img width="947"

[2021-02-22 15:18] sachin-agarwal-by opened #2752 "Connected-React-Router latest version is showing dependency issue."
I am using latest version of connected-react-routers and can see below error it was working for previous version 6.8.0

![image](https://user-images.githubusercontent.com/69183793/108728034-2b0bec80-754f-11eb-996d-e5c0f9a07973.png)

Latest version 6.9.0

[2021-02-22 15:20] #2752 closed, assigned to nobody

[2021-02-22 15:46] ljharb commented on #2748
What about `npx vue-cli-service serve` in both?

[2021-02-22 16:15] nlf commented on #2745
please see this issue: https://github.com/npm/cli/issues/417 and be sure to complete our issue template

[2021-02-22 16:15] #2745 closed, assigned to nobody

[2021-02-22 16:17] Swissman1 commented on #2751
I am also encountering this same error starting recently as well. I tried running `npm cache clean --force` to no avail. appears to complete the npm i with no apparent error in the log file besides `cb() never called` then errors upon attempting to serve(missing angular lib packages)

[2021-02-22 16:49] DeeDeeG commented on #2670
Okay. I've fully made the case as well as I can make it, above.

I would like to suggest a couple of things, assuming the current `npm rebuild` v7 behavior is formalized/documented:

- Consider making this configurable, ideally with a flag. Such as `--no-lifecycle-scripts`. Or have `npm rebuild --ignore-scripts` not disable the rebuilding functionality.
- Looking forward to any future `npm` v8 rel

[2021-02-22 17:26] j-alonso-guerra commented on #2728
tengo exactamente el mismo error, y ya tengo mucho tiempo de estar intentando, pero no solo es este, tambien es con el npm start, react, etc..., pienso ahora que es mi pc :/

[2021-02-22 19:21] nlf commented on #2676
closing since the original posted issue was resolved!

[2021-02-22 19:21] #2676 closed, assigned to nlf

[2021-02-22 19:22] nlf commented on #2653
this is fixed in npm@7.5.5 which was just published today

[2021-02-22 19:22] #2653 closed, assigned to nlf

[2021-02-22 19:22] nlf commented on #2620
this is fixed in npm 7.5.5 (we now throw an error to prevent you from doing something that won't work how you expect anyway)

[2021-02-22 19:22] #2620 closed, assigned to nlf

[2021-02-22 19:25] nlf commented on #2229
installing npm when you're already on a broken release like you currently are is somewhat problematic.

you'll have to uninstall nodejs entirely, reinstall it, and then `npm i -g npm` which will give you npm@7.5.5 as of the time of this writing.

alternatively, if you have bash installed in your windows environment you can `curl -q https://www.npmjs.com/install.sh | bash` and it will directly inst

[2021-02-22 19:35] nlf commented on #2733
see https://github.com/npm/cli/issues/417

also please use our issue templates and be sure to fill them out completely or we're pretty limited in what we can do to help you

[2021-02-22 19:35] #2733 closed, assigned to nobody

[2021-02-22 19:46] leveneg commented on #2517
+1 I think I just encountered this as well though in a different environment.

Additionally, `npm --help` took 7m42s to finish

OS: Linux
Node: v14.15.5 (LTS)
npm: v7.5.4

I both built and installed node and npm in this environment.

edit: I've since tried this with npm v6.14.11 and am not experiencing the slow behavior.

[2021-02-22 20:13] getsetgopi commented on #2680
I'm also getting the same error.
OS: Windows 10
Node: 14.15.4
NPM: 6.14.10
[2021-02-22T18_04_17_803Z-debug.log](https://github.com/npm/cli/files/6024911/2021-02-22T18_04_17_803Z-debug.log)

[2021-02-22 20:22] jeffrson opened #2755 "[BUG] Neither --ignore-scripts nor --ignore-prepublish are respected by npm publish"
### Current Behavior:
When a package.json contains a "prepublishOnly" script, this is executed regardless of calling npm via
`npm --ignore-scripts` or `npm --ignore-prepublish`

### Expected Behavior:
I'm not sure, if "--ignore-prepublish" refers to "prepublish" only (:-)) or to "prepublishOnly" as well...

Anyway, IMO `--ignore-scripts` should prevent "prepublishOnly" from being run.

### Steps T

[2021-02-22 20:33] jeffrson opened #2756 "[BUG] Changing version in prepublishOnly-Script has incorrect output"
### Current Behavior:

I have a prepublishOnly script like "npm version patch". However, npm tries to publish with previous version.

### Expected Behavior:

Version of published package should be incremented (like it was for npm@6)

### Steps To Reproduce:

Yeah, put a "prepublishOnly" script into package.json:

[code]

### Environment:

- npm: 7.5.5

Two notes:
* as mentioned above, with npm@6 t

[2021-02-22 20:52] grahaml commented on #2726
Thanks very much for the detailed reply (and for teaching me about `pacote`). It took me a few mins to get it to work -- needed to pass `--token` as well -- but now I can see that there is actually no `bin` whatsoever in the manifest.

[code]

Compared to the output you showed above, and that from my own test project... there are actually a handful of fields missing. The issue is clearly on GitLab

[2021-02-22 20:59] #2736 closed, assigned to nobody

[2021-02-22 21:16] grahaml commented on #2726
Oh one final thought - my initializer _does_ work with `npm@6`. I know that there was a significant amount of refactoring in `npm@7`. Any thoughts on what might have changed that could cause this issue?

Using `npm@6` I get the same output from `pacote manifest`, but I am actually able to do `npm init @myscope/lib`. What's different here?

[2021-02-22 21:59] Pomax commented on #2720
That does not look like it's related to using `--` for runtime argument forwarding, so you might want to file that as a new, separate issue (it _might_ be related, but that's something that the npm folks can determine).

[2021-02-22 22:02] salvadorj opened #2757 "[BUG] npm install attempts to fetch already bundled indirect dependency from registry"
It appears that `npm install` sometimes attempts to fetch indirect dependencies from the registry even though they have already been bundled with the package being installed. This causes issues if these dependencies are only available in an internal registry during install/pack-time but not available on the registry where the package is published to and eventually installed from. My understanding

[2021-02-22 22:14] salvadorj commented on #2757
I don't know much about the internals of npm but I did a bit of debugging and the difference in behavior between macOS and Windows lead me to this for-loop that iterates over the _actual tree_ in order to _find missing edges_:
https://github.com/npm/cli/blob/0c6bb2b259fac0504d57b05dc73b2e533412b87b/node_modules/@npmcli/arborist/lib/arborist/load-actual.js#L318-L329

The order of the nodes in the t

[2021-02-22 22:25] salvadorj commented on #2757
Oh, and here's the output of `npm list -g` for npm@6.14.11 after a successful install:
[code]

[2021-02-22 23:49] Vixb1122 commented on #2229
Everything is ok on node@15.2.0 and npm@7.0.8. Very Good, @nlf
[code]

Everything is‘t ok on node@15.9.0 and npm@7.0.8
[code]

[2021-02-22 23:51] suryar113 commented on #789
I'm taking Jonas's javascript course on udemy and I am working on forkify. The installing parcel was fine. But it said the same error for me when I ran the start script via npm.

[2021-02-22 23:52] joshuarobs opened #2758 "[BUG] Can't run `npm install` and can't even run `npm whoami` without errors using GitHub Packages"
### Current Behavior:
If I run these various commands, I get these errors. Everything seemed to be working fine a month ago and often if things broke, I'd typically look towards regenerating a github token and putting that into my `~/.npmrc` file. This started from a few versions ago, around 7.4.3 I believe.

My goal is to have this work normally as usual: install public npm packages as you would

[2021-02-23 00:07] joshuarobs commented on #2758
Downgrading to `6.14.11` works for me.

I still get an error running `npm whoami`, but I can successfully install packages with `npm install`

[2021-02-23 01:44] evantahler commented on #1023
I'm on the US west coast, and I'm seeing this error now as well :/

[code]

[2021-02-23 03:39] jaysonwu991 commented on #708
## Versions Below
- npm: '7.5.3'
- node: '15.9.0'
- yarn: '1.22.10'

[2021-02-23 06:53] pepypeppep commented on #681
YOU SAVE MY DAY, thank's a lot

[2021-02-23 08:09] nVitius commented on #2741
@ljharb @darcyclarke @isaacs
Just pinging you guys as I've seen you on some recent issues.

I would love to help debug this, but I don't know where to start. I looked through the codebase a bit, but couldn't find where this endpoint would be called. If you can point me in the right direction at least, I can try to work on this.

[2021-02-23 08:41] guilhermetod commented on #1723
This is because color-convert requires color-name at minimum version of 1.1.4 and you have 1.1.0, so the root color-name can only be used by color-string, which accepts 1.0.0 - 2.0.0. If you install color-name@^1.1.4 you'll get what you wish for the example given.

[2021-02-23 09:09] jost-s commented on #2748
@ljharb That command works with npm 6.4.11 (server starts) and doesn't work with npm 7.5.6 (server not started).

Again a few more tests later:
For this project, I'm overriding the hosts table on my Mac to map 127.0.0.1 to a domain name. Therefore I need to start the dev server with `sudo`.
With npm 6.4.11
- sudo npm run serve ✅
- sudo npx vue-cli-service serve ✅
- npm run serve ❌
- npx vue-cli-se

[2021-02-23 09:56] sunilbelamgi opened #2761 "face issue while npm install (react native expo project)"
timing npm Completed in 799117ms
32197 error cb() never called!
32198 error This is an error with npm itself. Please report this error at:

[2021-02-23 14:03] dornfeder commented on #2508
~~Problem seems to be fixed in version 7.5.6, at least for me~~.

Edit: I take it all back, it doesn't work for me, see below.

[2021-02-23 14:24] stephanbehm commented on #2022
`npm install -g npm@latest` solved the issue for me today.

A colleague solved the issue by downgrading npm back to v6.

[2021-02-23 14:43] ljharb commented on #2748
@jost-s I would not expect any of those to run with sudo (nor should they be). However, it looks like it _fails_ in both without sudo. it's entirely possible that npm/npx treats sudo differently in v7.

See https://thomashunter.name/blog/using-authbind-with-node-js/ for a better approach than using sudo.

[2021-02-23 14:54] TwoCupsofSteve commented on #2758
Have you used "APT" to install "NPM"? I encountered a silimar issues and had to install several dependencies to fetch NPM. I needed node-gyp, nodejs-dev, and the root issue stemming from libssl1.0-dev. I believe default I was using was libcurl4-openssl-dev. Lmk if that does anything for you!

[2021-02-23 15:33] t1m0thyj opened #2762 "[BUG] Docs for npm@7 mention hook scripts which are no longer supported"
### Current Behavior:

The docs for npm@7 mention hook scripts as a feature:

^ https://github.com/npm/cli/blob/latest/docs/content/using-npm/scripts.md#hook-scripts

### Expected Behavior:

This section should be removed from NPM docs since the hook script functionality no longer works. It appears to be no longer supported in npm@7, according to the @npmcli/run-script readme:

^ https://github.co

[2021-02-23 15:34] t1m0thyj commented on #2762
Duplicate of #2692 - sorry for not noticing before creating new issue

[2021-02-23 15:34] #2762 closed, assigned to nobody

[2021-02-23 15:47] SBRK commented on #2630
NPM is still stuck to 7.5.3 with `nvm`, even when installing the latest version. Is there a way to install manually ?

[2021-02-23 15:49] nlf commented on #2630
i'm not sure i follow, you mean after uninstalling and reinstalling you're still on 7.5.3?

you can try to clone this repo and install npm from it directly

[code]

[2021-02-23 15:52] grahaml commented on #2726
Wanted to let you fine folks know that GitLab is aware of this issue and has it on their Backlog. Just in case anyone else stumbles upon this. For reference: https://gitlab.com/gitlab-org/gitlab/-/issues/275992 <- this is the exact issue I am facing.

Thanks again for all you do for the JS community <3

[2021-02-23 16:02] SBRK commented on #2630
yes. I was able to get it working, I just cloned and copied by hand to the node_modules folder of my node installation. I can confirm that the problems I had (global install, link) all seem gone!

[2021-02-23 16:02] nlf commented on #2630
glad to hear!

[2021-02-23 16:07] amoscatelli commented on #2010
This still occours in 7.5.4

[2021-02-23 16:13] liamdebeasi opened #2763 "[BUG] npm >= 7.5.3 incorrectly removing dependencies from package-lock.json"
### Current Behavior:

Given an existing `package-lock.json` generated with a version of npm 7 prior to npm 7.5.3, running `npm install` with npm 7.5.3 causes certain dependencies to disappear from `package-lock.json`.

### Expected Behavior:

I would expect that there be no differences in the `package-lock.json` file since I am upgrading within a major version.

### Steps To Reproduce:

1. Clone

[2021-02-23 16:19] liamdebeasi commented on #2763
Actually it looks like these deps are listed as "optional dependencies" which is part of a v7.5.3 bug fix: https://github.com/npm/cli/blob/latest/CHANGELOG.md#v753-2021-02-08

That would explain the behavior I am seeing. Going to close this as I don't think this is a bug. Thanks!

[2021-02-23 16:19] #2763 closed, assigned to nobody

[2021-02-23 17:38] dorinionescu opened #2764 "Nodejs-pptx works for PPTX and not for PPT"
the following instruction
`let newSlide = await pres.addSlide();`
works for PPTX and for PPT gives the error
"Cannot read property 'Relationships' of undefined"

### Environment:
- OS: Windows 10.0.18363 N/A Build 18363
- Node: 12.4.0
- npm: 6.9.0
- npm -v Nodejs-pptx
6.9.0

[2021-02-23 18:27] ljharb commented on #2764
You'll need to file an issue on that project; this repo is for npm itself.

[2021-02-23 18:27] #2764 closed, assigned to nobody

[2021-02-23 19:13] uhop commented on #2610
Could these decisions be left for a developer, who provides explicit dependencies? Like if a URL starts with `https://` it is, well, https, and if it is `git+ssh://` then it should be, well, git over ssh? Just asking for a friend...

[2021-02-23 19:19] uhop commented on #2610
Having well-known hosts is admirable, as long as it is transparent, yet it smells like magic &mdash; an extra-bandwidth knowledge, which makes the system behave differently on unexpected factors. In my experience, it is a major source of support incidents and perceived bugs even when everything works fine.

[2021-02-23 20:55] darcyclarke commented on #2553
@talsi can you update to the latest v7 (ie. `npm i -g npm` - `v7.5.6`) - this should have been fixed in `v7.5.5` - https://github.com/npm/cli/releases/tag/v7.5.5 Let me know if you're still experiencing this problem & we can reopen the issue.

[2021-02-23 21:00] darcyclarke commented on #2615
@jcesarmobile can you try updating to the latest v7 (ie. `npm i -g npm` - `v7.5.6`) - this problem should have actually been resolved in `v7.5.5` https://github.com/npm/cli/releases/tag/v7.5.5; Please let me know if you're still experiencing issues & I'll reopen this ticket (I just tried and couldn't reproduce).

[2021-02-23 21:00] #2615 closed, assigned to darcyclarke

[2021-02-23 21:13] themightychris commented on #2610
this magic is unacceptable, there are no two ways about it. Do what you want with a `github:` link but if I address a dependency explicitly with `https://` or `git+https://` then NPM needs to use the requested protocol

[2021-02-24 02:35] MrBrain295 opened #2767 "Documentation Style"
Is there any specific style in place for the npm documentation? If not wouldn’t it help to have one?

[2021-02-24 07:06] darcyclarke commented on #2114
@kc15155 I wasn't able to repro this on **Node** `v10.24.0` or `v12.21.0` w/ **npm** `v6.14.11` or `v7.5.6` on Darwin - potentially try removing the `--no-install` (which is deprecated in v7 either way - it falls back to `--no` which is the equivelant of `--yes=false` - ref. https://docs.npmjs.com/cli/v7/commands/npm-exec#description & https://docs.npmjs.com/cli/v7/commands/npm-exec#compatibility-

[2021-02-24 07:14] darcyclarke commented on #2299
@leepowelldev npm v7 should install any peerDeps defined by a local `file:` dep if it's nested inside the root of the project. If, for instance, you reference a path outside the root (ex. `../x`) we won't install that packages deps (this was indeed a change from v6 - and something we're discussing already in https://github.com/npm/cli/issues/2443 & in our [Open RFC](https://github.com/npm/rfcs/) c

[2021-02-24 07:14] #2299 closed, assigned to nobody

[2021-02-24 07:15] kf6kjg commented on #2114
The point here isn't rimraf. I chose rimraf because it was simple and common. The point is that, under the conditions I specified, running npm or npx with the stderr routed to anything that's not a tty, like using it from node, things don't behave.

[2021-02-24 07:26] wmzy commented on #1723
I read the [document](https://docs.npmjs.com/cli/v7/commands/npm-dedupe) again and found:

[2021-02-24 07:26] #1723 closed, assigned to nobody

[2021-02-24 07:28] darcyclarke commented on #2635
@DaneEveritt the changes you're seeing to your lockfile, are those also updates to newer versions of your deps? It sounds like you may want to run `npm install` with the `--no-save` flag if you don't want to get the latest versions of your dependencies or see changes in `package.json` or `package-lock.json`.

[2021-02-24 07:32] #2761 closed, assigned to nobody

[2021-02-24 07:35] darcyclarke commented on #2767
Not sure what you mean by "style" but we do have some basic styling applied to the docs that ship with the CLI itself (ref. https://github.com/npm/cli/blob/latest/docs/template.html). The docs.npmjs.com website isn't public/OSS *yet* but once it is you can open issues/PRs to update it's styling as well. In general, the content of the CLI-specific command docs (found here: https://github.com/npm/cl

[2021-02-24 07:35] #2767 closed, assigned to nobody

[2021-02-24 07:56] lzj723 commented on #805
i've got the same error when i run "npm install" with company's private npm registry, even when npm login.

[2021-02-24 08:14] andycandy-de commented on #2751
Hey @darcyclarke, thanks for adding the labels. I was not able to add them after creating the issue. I am not sure if the 'windows' is correct. The node and npm runs inside docker, so it's a linux environment in which the 'npm install' is executed.

[2021-02-24 08:36] everhardt commented on #2755
I think the bug is broader than just `prepublishOnly`: if I run `npm publish --ignore-scripts` it also runs the `postpublish` script. I have npm 7.5.3.

[2021-02-24 08:45] jtama commented on #1294
Any news on this ? We are experimenting it 100% of the tries... Does a republish solves it ?

[2021-02-24 09:05] jlchereau commented on #2704
There should be a better way than running `npm install <pkg>@<version>` on each package to update package.json. Maybe it is also time to introduce wildcards (or regular expression as in ncu), especially with scopes as in `npm update @babel/*@7`

[2021-02-24 09:31] SoloJiang opened #2768 "[BUG] package latest version is wrong"
I have published `rax-text@2.0.7`, but I couldn't find it.
![image](https://user-images.githubusercontent.com/14757289/108979873-0f772200-76c6-11eb-842e-049b0ca0d493.png)
![image](https://user-images.githubusercontent.com/14757289/108979905-169e3000-76c6-11eb-8683-48c230827880.png)

[2021-02-24 09:59] talsi commented on #2553
@darcyclarke

hi,

I'm still having the same issue using npm v7.5.6
[code]
[code]

![image](https://user-images.githubusercontent.com/5717665/108983227-4eda4a00-7697-11eb-80d5-d298e14a771d.png)

[2021-02-24 10:50] Quintis1212 opened #2769 "npm ERR! prepareGitDep"
Hello ) I installed fedora and node but cant install node_modules to work with the gutenberg plugin -https: //github.com/WordPress/gutenberg
npm 6.14.11
node 14.16.0
package.json says that npm <7 version should be
Is there anyone who runs gutenberg on fedora? help me please
package.json - https://jsfiddle.net/x72dv0yt/

![Снимок экрана от 2021-02-24 11-56-10](https://user-images.githubusercontent.

[2021-02-24 10:54] Quintis1212 commented on #2769
git version 2.29.2

[2021-02-24 12:19] piotros commented on #1845
I ran into the same bug after upgrading husky from version 4 to 5.

Installing new version of package wasn't enough. The solution to fix this issue was to migrate husky to newer version.
There's a helpful tool for this task: https://github.com/typicode/husky-4-to-5

[2021-02-24 14:05] jost-s commented on #2748
@ljharb Thanks for pointing me to that. Yeah, it's not great to use sudo for this.

I've installed authbind but it doesn't work yet, neither with npm 6 nor 7. I'll keep trying and get back to you.

[2021-02-24 14:22] rndm2 commented on #1937
It is still reproduced in 7.5.6
Any updates?

[2021-02-24 15:39] nlf commented on #1937
is the problem you're seeing that we're actually publishing to the wrong registry? or are you getting the `ENEEDAUTH` error?

[2021-02-24 15:39] #1937 closed, assigned to nlf

[2021-02-24 15:44] nlf commented on #2768
this looks right to me now. sometimes publishes take a few minutes to show up correctly. sorry about that!

[2021-02-24 15:44] #2768 closed, assigned to nobody

[2021-02-24 15:45] rndm2 commented on #1937
I am still getting `ENEEDAUTH` error and npm ignore `package.json`'s publish settings.
Reverted to 6.x.x

[2021-02-24 15:53] nlf commented on #1937
would you mind opening a new issue? the ENEEDAUTH thing is distinct from this original bug. i'll make sure we address this for the next release

[2021-02-24 15:53] grahaml commented on #2453
FWIW using `--registry` as @medianick and @foxxyz mentioned has worked for me using GitLab's package registry. Just in case anyone else stumbles upon this thread and hasn't tried it yet.

[code]

[code]

[2021-02-24 15:56] rndm2 commented on #1937
I am not sure how to get full publish log.
`npm publish --verbose` do not show me repo address and http(s) request

[2021-02-24 16:00] nlf commented on #1937
`npm publish --loglevel=silly` should give you a lot more information

[2021-02-24 16:03] HoplaGeiss commented on #1937
For me, the issue still is that it's being published to the wrong registry.

[2021-02-24 16:30] robross0606 opened #2770 "package-lock changes depending upon name of project folder"
### Current Behavior:
When using npm@7, if the folder name in which the project is being built _matches_ the name of the project in `package.json`, a `name` property is actively removed (or never set) from package-lock.json.

If the project folder does _not_ match the name in `package.json` then the property is actively set.

![d219a7b5-b720-4017-9ab9-8c527b1e52b5](https://user-images.githubuserco

[2021-02-24 16:32] robross0606 commented on #2770
Also note that this looks _super_ odd and brings up all sorts of questions:
[code]
- Why is package-lock.json listing the package _itself_ under it's own "packages"?
- Is it valid JSON to have an object property key be empty?

[2021-02-24 16:32] ljharb commented on #2770
Yes, it's perfectly valid JSON.

[2021-02-24 16:52] DaneEveritt commented on #2635
There is no change to the dependency versions @darcyclarke, it literally just reorders them. `npm install` without a dependency causes the lockfile to no longer be in alphabetical order at the top, `npm install <dep>` causes it to be generated in alphabetical order (when listing the deps at least, not sure how the rest of the file is structured after that).

There is no other change to the version

[2021-02-24 16:55] DaneEveritt commented on #2635
Also, it looks like running `npm i --no-save` touches my `package-lock.json`?

[2021-02-24 17:08] marcuspaulo commented on #2728
I had this same problem. In my case, it's work with:

###  Downgrade npm version
[code]
instead

[code]

[2021-02-24 17:29] nlf commented on #1937
would you mind also opening a new issue? if you can come up with a small reproduction case for us that would be amazing, i haven't been able to reproduce the case where we're publishing to the wrong registry

[2021-02-24 18:09] CarlosHdez commented on #2389
Just to confirm, this was fixed for the newest version of npm 7.x.x, right? I'm using 6.x.x and I'm seeing this issue too

[2021-02-24 18:17] nlf commented on #2758
you have your registry specified as `https://npm.pkg.github.com/joshuarobs` however i think the url you want is `https://npm.pkg.github.com` without the username as part of the path

this change makes the request to whoami be `https://npm.pkg.github.com/-/whoami` which is a valid url and succeeds.

this working in npm 6 i think is actually a bug in npm 6 where the path is being ignored..

[2021-02-24 18:54] mlippert commented on #2039
I upgraded npm to v7 today and immediately ran into this problem, also. The documentation for v7 does remove the statement mentioned by @dan-mba but if the functionality is deliberately changed that really needs to be noted as a **breaking change**.

[2021-02-24 19:27] bradydoll commented on #2758
I'm running into this same issue after upgrading to v7.5.6 from v6.14.10.

GitHub repositories require the owner in the path, ex `registry=https://npm.pkg.github.com/OWNER`. This is documented in their [configuration guide](https://docs.github.com/en/packages/guides/configuring-npm-for-use-with-github-packages#installing-a-package).

[2021-02-24 20:38] rndm2 commented on #1937
I'll do this tomorrow morning.

[2021-02-24 20:43] #2372 closed, assigned to darcyclarke

[2021-02-24 23:02] jond-redis opened #2771 "all npm commands hang where outbound traffic to default registry is blocked"
### Current Behavior:
when running npm --help the command will hang.   ( I waited over 5 minutes ).

After running strace I discovered that it was attempting to connect to https://registry.npmjs.org/npm. I then attempted to change the registry via npm config set but it also hangs.   To resolve my issue I will configure an .npmrc.

### Expected Behavior:

at least npm --help and npm config should w

[2021-02-25 03:32] zWingz commented on #2629
hi @darcyclarke
i install the dependence by `npm install file://../path/to/dep` in development,
and i will replace `file://../path/to/dep` to `beta` in `package.json` to install `dep@beta`

[code]

so i need to install dep use `dist-tag` and it work in `npm@6`

[2021-02-25 03:44] zWingz commented on #2629
@darcyclarke
https://docs.npmjs.com/cli/v7/configuring-npm/package-json#dependencies
![image](https://user-images.githubusercontent.com/13031838/109099860-c45d1d80-775e-11eb-951a-0e86c3b25bf0.png)

[2021-02-25 06:24] bdkjones opened #2773 "[BUG] Version 7.x Nerfs JSON Output for Install Command"
### Summary:

npm 7.x seriously nerfed the usefulness of the `--json` flag when paired with the `install` command. (It may have done so with other commands as well; I've only tested `install`.)

I do realize that `--json` is marked experimental for all commands other than `ls` and `search`, but this is a MASSIVE regression in usefulness. I can understand changing the structure of the returned JSON

[2021-02-25 06:27] bdkjones commented on #2773
Sort-of related (in that another JSON thing got broken): #2740

[2021-02-25 07:41] trofim24 opened #2774 "[BUG] Lost support submodules"
### Current Behavior:
npm version 7 (I tried both 7.0.0 and the last 7.5.6) does not download submodules.

### Expected Behavior:
npm version 6.14.11 has [support submodules](https://github.com/npm/cli/blob/e09bdc142a4d9fe247927eb82a49720d5370b293/changelogs/CHANGELOG-3.md#new-feature-git-submodule-support).

### Steps To Reproduce:
I created 3 repos to reproduce the problem. [The first](https://g

[2021-02-25 08:24] leepowelldev commented on #2619
@ljharb Is my understanding correct that if a registry is defined (either by an .npmrc file or cli flag) then NPM should transparently attempt to resolve packages from that registry rather than the urls in the package-lock.json file when installing?

[2021-02-25 09:31] jost-s commented on #2748
@ljharb After more trial and error I am sure that npm 7 handles sudo differently. But, now that I've taken out pieces from the project in question and ran `npm run serve`, the server starts fine, just not with a port < 1024. So there must be an issue with the piece of my project.

I'll figure out what the problem is and then go about using authbind or pfctl to use the port I need. Once that's solv

[2021-02-25 10:33] leepowelldev commented on #2758
For the login issue, see if this works (https://docs.github.com/en/packages/guides/configuring-npm-for-use-with-github-packages#authenticating-to-github-packages):

[code]

[2021-02-25 10:47] ghost opened #2776 "[BUG] I cannot make changes to my deprecated package"
### Current Behavior:
I once published the npm package,  ["ravioli"](https://www.npmjs.com/package/ravioli). It is now deprecated.

If I try to make changes to it, I get a 403 (Forbidden) response:

[code]

I have tried undepricating it, and other things, but it ultimately all leads back to getting 403 (Forbidden) responses whenever I try to make changes.

I have looked on the NPM website, and my