[2020-10-12 18:00] nlf commented on #1947
This is interesting.. I'll do a little research and see if I can figure out what might've broken this.

~In the mean time, a workaround that should do what you want would be to make your `watch` script look like:~

[code]

Leaving the suggestion, but after some manual testing the proposed workaround does _not_ work. I'll keep looking!

[2020-10-12 22:55] boneskull commented on #1113
ref: mochajs/mocha#4474

there's an [example repo](https://github.com/danludwig/npm-module-bug-reports); in the `mocha-2020-10-bug` folder there's a `package.json` containing only `mocha` as a `devDependency`.  upon `npm install --production`, I expect `node_modules` to be empty.  but...

[code]

This is weird indeed.  I note that the `package-lock.json` file in this directory looks to be missing

[2020-10-12 22:56] boneskull commented on #1113
@ruyadorno have you seen this before?

[2020-10-12 23:38] ljharb commented on #1113
I believe all of those are deps of `es-abstract`, so the implication is that that's what's pulling them all in. It seems like the [lockfile](https://github.com/danludwig/npm-module-bug-reports/blob/main/mocha-2020-10-bug/package-lock.json#L223-L270) does not annotate it as a dev dep.

[2020-10-13 02:10] #1948 closed, assigned to nobody

[2020-10-13 08:39] detj commented on #1916
@lewsea try removing node & npm completely and re-install. see if that fixes the issue.

[2020-10-13 08:48] PaulVrugt commented on #1800
@nlf
The plot thickens a bit. I've tried to use the `.npmrc` for authentication without using the `vsts-npm-auth` package. The contents of the .npmrc is now:

[code]

and when installing packages, I see that is recognizes the auth, since it lists the same as the above in the log. But the authentication still fails. With the same configuration, npm 6 works like a charm.

[code]

So even without the

[2020-10-13 10:34] Ibrokhimbek commented on #1930
![image](https://user-images.githubusercontent.com/67415946/95849964-8809c180-0d69-11eb-9a76-ef9417cfc3c6.png)
Here it is

[2020-10-13 10:59] lewsea commented on #1916
@detj already did that 😑 but still get the same error

[2020-10-13 12:04] doppelreim opened #1950 "[BUG] npm install flipflops the lockfile with empty node_modules"
### Current Behavior:

Given I have the project from the repro-repo (see below) with installed dependencies in directory `node_modules`
When I do not make changes to file `package.json` or `package-lock.json`
And I delete directory `node_modules`
And I run `npm install`
Then the lock-file is changed.

### Expected Behavior:

The lockfile should not change.

### Steps To Reproduce:

I have tried to

[2020-10-13 13:53] simonua opened #1951 "[BUG] npm audit ambiguously states "found 0 vulnerabilities""
### Current Behavior:

We use [Azure Artifacts](https://docs.microsoft.com/en-us/azure/devops/artifacts/?view=azure-devops) which is a part of Azure DevOps to host our npm packages. We configured an upstream to the public npm registry to obtain public packages.
When executing `npm audit` against the public npm registry, we see a proper list of vulnerabilities for a large private package we maintai

[2020-10-13 13:54] simonua commented on #1951
@evilpacket, maybe something for your interest, good sir?

[2020-10-13 14:50] isaacs commented on #1951
I agree, the design intention is to not print audit information at all if the endpoint didn't return anything, so "0 vulnerabilities" is a bug. But I think a message indicating that we tried to audit and failed would be more informative and helpful.

[2020-10-13 15:06] simonua commented on #1951
Thank you! I'm very happy to debug, if needed, and give you a proper status code, etc. if you give me instructions on how to enable that.

[2020-10-13 15:30] AmitMirgal commented on #805
what's the package name in package.json? @avimehenwal

[2020-10-13 16:27] maryiababinova opened #1952 "cb() never called when running npm install"

[2020-10-13 16:50] citrusoft commented on #1952
me too!!!

$ cdk --version
1.62.0 (build 8c2d7fc)
(.venv379)
tahv@VPEG01B003868 MINGW64 /c/users/tahv/git/cscoe-config-rules (tahv/CLOUDCOE-7307)
$ node --version
v14.13.1
(.venv379)
tahv@VPEG01B003868 MINGW64 /c/users/tahv/git/cscoe-config-rules (tahv/CLOUDCOE-7307)
$ npm --version
6.14.8
(.venv379)
tahv@VPEG01B003868 MINGW64 /c/users/tahv/git/cscoe-config-rules (master)
$ pwd
/c/users/tahv/git/c

[2020-10-13 16:58] ljharb commented on #1916
@lewsea can you try `npm install -g npm@next-7` and see if that works?

[2020-10-13 19:55] nlf commented on #1800
i think i see a bug in the code.. try removing the path segment of your registry url for the configuration values, but keep it in place for the `registry=` line and let me know if that helps

so
[code]

becomes
[code]

[2020-10-13 20:14] PaulVrugt commented on #1800
@nlf

I've tried it, but it seems to make no difference at all. The error remain exactly the same :(

[2020-10-13 20:14] boneskull commented on #1113
`es-abstract` likely arrives through Mocha's inclusion of `promise.allsettled`, which is a production dependency of Mocha.

[2020-10-13 20:16] nlf commented on #1800
Thanks for giving it a try, I'll keep looking and see if I can figure out what's going on

[2020-10-13 20:52] jsg2021 commented on #1942
This is still occurring with the final 7.0.0

[2020-10-13 21:02] nlf commented on #1800
Just to rule out a problem with auth, can I have you try one more thing..

The value after `_password` should be base64 encoded, can you decode that and try to make the request using curl with the username and password in the configuration and see if you receive the same 401 error?

You can decode the base64 with something like:
[code]
which will give you a plain text password, after which somethi

[2020-10-13 21:21] arielnmz opened #1953 "[BUG] NPM is updating nested module's dependencies"
### Current Behavior:
Whenever I install a "top-level" module that happens to be a dependency of another module, npm also updates the nested dependency. Example:

[code]

This is Project A's package.json:

[code]

And this is Project B's package.json:

[code]

If I install Project B first, the package-lock.json file says that Project B depends on Library#v3. But if I then do `npm i project-a` whic

[2020-10-13 22:26] jsg2021 opened #1955 "[BUG] npx fails to run some commands"
Some background:
I'm trying to update a workflow where I had `npx @scope/thing` and it would happilly download the package and run it. I've added `--yes` to the workflow and many times this was enough. Some cases `thing` pre-existed and I needed to ignore the local version. So we added `--ignore-existing` in npm6. For that case... all of these are on a private registry.

### Current Behavior:
With

[2020-10-14 01:28] G-Rath opened #1957 "[BUG] bin files are lost when installing on a v1 lockfile, and can only be retained by regenerating entire lock"
Running `npm i` with a lock file that has `lockfileVersion: 1` seems to not pull in the bin details for at least some packages, meaning the `.bin` folder is not generated.

If I remove *both* `package-lock.json` & `node_modules`, `npm i` generates the expected lock that has the `bin` property, but this results in dependencies being upgraded which means more work for me since that can have all kind

[2020-10-14 01:58] G-Rath opened #1958 "[BUG] `--silent` suppresses output from run commands"
Previously in pre-npm 7 `--silent` would only silence output from *npm*, meaning that `run` would still output the output from whatever is being run.

Now, it silences everything, meaning we can't use `--silent` to silence the `npm ERR!` messages that follow whenever a command fails.

### Current Behavior:

[code]

### Expected Behavior:

[code]

### Steps To Reproduce:

### Environment:

- OS: Ub

[2020-10-14 02:09] ljharb commented on #706
Closing pending repro info.

Also, npm v1 is long obsolete and unsupported, as is node v0.10, so you'll want to upgrade both anyways.

[2020-10-14 02:09] #706 closed, assigned to nobody

[2020-10-14 02:09] #715 closed, assigned to nobody

[2020-10-14 02:10] ljharb commented on #1958
Did you perhaps swap current/expected behavior here?

[2020-10-14 02:14] G-Rath commented on #1958
@ljharb whoops yeah good catch 😅

[2020-10-14 04:37] PaulVrugt commented on #1800
I have a few days off work right now, but I'll try to give this a go today or tomorrow if my wife and children let me 😉

[2020-10-14 06:01] vlilloh opened #1959 "[BUG] npm7 doesn't install packages that are only found on GitHub"
### Current Behavior:

It doesn't install packages that are only found on GitHub.

### Expected Behavior:

It should install packages that are only found on GitHub.

### Steps To Reproduce:

1. With this config in `package.json`, e.g.: `"dependencies": { "@gastromatic/react-dates": "1.0.7" }`
2. With this config in `.npmrc`, e.g.: `@gastromatic:registry=https://npm.pkg.github.com`
3. GitHub Person

[2020-10-14 07:18] zenwarr opened #1960 "[BUG] npm 7.x does not send `Authorization` header to download package tarball from private registry"
### Current Behavior:
npm 7 does not send `Authorization` header when downloading package tarball from private registry even if it DOES send it to get package packument from the same registry.
As a result, it fails to install private packages (at least for Verdaccio-based registries).

### Expected Behavior:
`Authorization` header should be sent to download package tarball from private registry (a

[2020-10-14 08:57] savanipoojan78 commented on #1191
i am still having this problem tried everything
npm version :- 6.14.8
noed version :- 14.13.1
Angular CLI: 10.1.6

[2020-10-14 09:38] gempain commented on #805
Had the same issue. I was trying to publish to a scope which was not in my organization. I had a typo in the scope of my package name in my `package.json`.

[2020-10-14 11:36] spykelionel opened #1961 "[BUG] <npm ERR! cb() never called!>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-10-14 12:04] PaulVrugt commented on #1800
So, I found the time. And following your instructions, see the result of the Curl command below. It returns a 303 with a redirect. When I change the password in the curl command it returns a 401. So the credentials seem to be fine.

**Edit**: When adding the --location flag, it actually follows the redirect and downloads the package

[code]

[2020-10-14 13:16] felipecrs opened #1962 "[BUG] npm update --global fails: npm ERR! global requires an add or rm option"
### Current Behavior:
[code]

### Expected Behavior:
Before v7.0.0, running `npm update --global` would update all the packages installed globally which are outdated.

### Steps To Reproduce:

Install an outdated global package, and try to update all the packages.

### Environment:

- OS: Ubuntu 20.04.1
- Node: 12.19.0
- npm: 7.0.0

[2020-10-14 14:00] OksXen commented on #1916
Same here. Trying to run this command:
**c:\ npm adduser --registry https://pkg.domain.io**

[code]

npm -v : 6.14.8
node -v: v14.5.0

[2020-10-14 15:12] prKassad commented on #1952
Same error after `npm i`. Win10.0.18363/Node14.13.1/Npm7.
[code]

UPD: After downgrading to Npm v6.14.8 no mistake.

[2020-10-14 15:39] jsg2021 commented on #1955
There might be an install bug here. Trying to `npm install @nti/clone` gets me a 403 downloading the tarball from our private registry... but it was able to authenticate to get package info.

[2020-10-14 15:40] jsg2021 commented on #1955
npm6 this works fine. both install and exec.

[2020-10-14 15:51] jsg2021 commented on #1955
Its seems like its only failing on packages that have `type: module` in the package.json :thinking:

[2020-10-14 16:12] aarowman commented on #564
@jdussouillez This is exactly what should happen. Very well said! I'd love to see this solution put in place.

It is consistently frustrating to run into this issue where we have to decide between speed and consistency for a CI pipeline. I've run into it 3 or 4 times for different reasons in the last 2 months alone.

[2020-10-14 16:22] ljharb commented on #1961
Duplicate of #417.

[2020-10-14 16:22] #1961 closed, assigned to nobody

[2020-10-14 16:25] dayton-bobbitt commented on #1525
Any updates on this? It continues to be a problem and many of our consumers are running into unexpected changes because `npm` will install a canary release instead of a beta release.

[2020-10-14 20:25] ruyadorno commented on #1113
Thanks for the heads up @boneskull and no 😅 never seen that before! I just gave it a try locally to the [example repo](https://github.com/danludwig/npm-module-bug-reports) you linked above and I can also confirm it does not work as expect in **npm6** (indeed it installs devDeps when using `--production`) but the good news is that the problem is fixed in **npm7**! (also tried it with the same examp

[2020-10-14 23:48] rsispal opened #1963 "[BUG] Error installing private GitLab repositories in v7"
### Current Behavior:
When running `npm install` on projects that utilise private GitLab repositories as dependencies (authenticated via SSH key on my machine), I receive the following error:

[code]

And here is the error excerpt from the log file:
[code]

As it stands, I am unable to utilise NPM v7 with private GitLab repositories. I dont think I've missed anything as there are no errors when us

[2020-10-15 01:24] jaydenseric opened #1964 "[BUG] npm install modifies the package.json funding field"
### Current Behavior:

Running `npm install` with npm v7 undesirably modifies the `package.json` funding field from a URL string, to an object with a `url` property.

### Expected Behavior:

Running `npm install` should not modify [a valid format for the `package.json` funding field](https://docs.npmjs.com/configuring-npm/package-json.html#funding).

### Steps To Reproduce:

1. In `package.json`,

[2020-10-15 03:18] peterjuras opened #1965 "[BUG] lifecycle scripts not run in workspace packages after install"
### Current Behavior:

When running `npm install` in a workspace root, `prepare` scripts of individual workspace packages are not run.

### Expected Behavior:

The expectation would be that running `npm install` in a workspace root would be at least equal to running `npm install` in each individual package (ignoring the additional benefits like hoisting for now).

### Steps To Reproduce:

1. Creat

[2020-10-15 10:16] srdg opened #1966 "[BUG] npm install commands not working"
### Current Behavior
When running `npm install nodemon -g` or `npm install help`, the following error occurs in console:
[code]
Following is the log generated:
[code]
### Steps to Reproduce
* Install node.js 12.19.0
* Try to install packages via `npm install -g express` or `npm install -g nodemon`.
It may be worth mentioning that I am behind a proxy and have already configured the npm by `npm conf

[2020-10-15 17:35] tamusjroyce commented on #564
This feature would be great for Azure Pipelines and other cloud architectures.

https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#tip

[2020-10-15 23:30] #1951 closed, assigned to nobody

[2020-10-16 00:33] simonua commented on #1951
Follow-up on what this looks like after installing 7.0.1. I no longer see an ambiguous message upon install, and npm audit correctly tells me about the error that was encountered. Thank you, @isaacs!

![image](https://user-images.githubusercontent.com/8005145/96199475-91d82400-0f25-11eb-8f15-83d821536056.png)

[2020-10-16 01:42] xqin opened #1969 "[BUG] npm install –only=prod please do not prefetch devDependencies modules"
### Current Behavior:
When is use npm install with --only=prod arguments, i just want npm only fetch module in dependencies.
but currently, npm fetch all module information, it's make install process slow.

**this bug exists since npm `v5.10.0` and still exists in npm 7.**

@zkat

### Expected Behavior:
only fetch module in `dependencies`.

### Steps To Reproduce:

`package.json`
[code]

run `npm

[2020-10-16 01:51] xqin commented on #1969
npm log in the below,  see `npm http fetch` and `npm sill ADD `.

i only need one module `qqtea`, but npm fetch all the module!!!!!!!!!

[code]

[2020-10-16 10:02] zmzimpl commented on #1918
Same here. How can I fix it?
The machine environments:
- OS: Window10
- Node: v12.14.9
- NPM: 6.14.8

[2020-10-16 12:08] tmtron commented on #417
We get this sometimes in Windows WSL2
* npm version: `6.14.8`
* command. `npm --unsafe-perm ci`
* but on the same system there are also some ssh/git connection-issues in WSL2 - [WSL#4690](https://github.com/microsoft/WSL/issues/4690#issuecomment-683396271), so maybe it's not an npm issue in our case

[2020-10-16 12:38] protyposis opened #1973 "[BUG] npm version --no-git-tag-version doesn't work"
### Current Behavior:
Executing `npm version --no-git-tag-version` creates a Git tag and a Git commit with the incremented version in `package[-lock].json`. Same behavior with `--git-tag-version false` and `--git-tag-version=false`.

### Expected Behavior:
It only changes the `version` in `package[-lock].json` and does not create a Git commit/tag, as the docs suggest (https://github.com/npm/cli/bl

[2020-10-16 13:41] hych007 commented on #1720
cross the wall

[2020-10-16 14:01] codemacabre commented on #1724
@kemitchell I can see spdx-license-ids has been updated but `Hippocratic-2.1` doesn't appear to be recognised as valid yet. Does validate-npm-package-license.js need updating too?

[2020-10-16 14:40] nlf commented on #1800
ok @PaulVrugt I think we've finally got it. we released 7.0.1 last night, which you can install with the usual `npm i -g npm@next-7` and should hopefully resolve this for you.

please let me know how it goes!

[2020-10-16 14:40] nlf commented on #1937
this should be resolved! can you update to 7.0.1 with `npm i -g npm@next-7` and see if it takes care of it for you?

[2020-10-16 14:41] nlf commented on #1959
i believe we have resolved this auth bug, can you try updating to 7.0.1 `npm i -g npm@next-7` and see if it takes care of the issue?

[2020-10-16 14:42] nlf commented on #1960
thank you for the detailed bug report!

we released 7.0.1 of npm last night that includes a patch that i believe should resolve this for you. when you get a chance can you try updating with `npm i -g npm@next-7` and let me know how it goes?

[2020-10-16 14:51] Nicholaiii opened #1975 "[BUG] NPX does not work outside package directories"
### Current Behavior:
When using npx in any directory not initialised with a package.json, npx stops beacause of `ENOENT` package.json.

### Expected Behavior:
npx runs the command regardlessly, like it does in the one shipped with npm@6

### Steps To Reproduce:
`$ npm i -g npm@7`
`$ npx jay` (anywhere that's not in a package)

### Environment:
- OS: Windows 10 1909
- Node: 14.7.0
- npm: 7.0.1

[2020-10-16 15:14] ruyadorno commented on #1965
Hi @peterjuras, thanks for the report! We do have a patch lined up already and should land hopefully in the next patch release, just want to make sure it gets some more testing prior to landing it 😊 I'll keep you posted 👍

[2020-10-16 17:39] kemitchell commented on #1724
@CodeMacabre if the issue is npm behavior, please let npm know.

[2020-10-16 17:42] kemitchell commented on #1724
npm@7.0.1 is shipping spdx-license-ids@3.0.6, which has `Hippocratic-2.1`. Check your npm version?

[2020-10-16 18:09] nlf commented on #1963
hi there! we released 7.0.1 last night, if you update to `npm i -g npm@next-7` it should resolve this!

let us know how it goes!

[2020-10-16 19:09] vlilloh commented on #1959
npm v7.0.1 takes care of the issue. Thank you.

[2020-10-16 19:10] #1959 closed, assigned to nlf

[2020-10-16 19:22] #1965 closed, assigned to ruyadorno

[2020-10-16 19:25] prKassad commented on #1916
Sometimes I see the same error on Win10 / Node14.13.1 / Npm7. I was deleting all cache, reinstalling nodejs and npm, but error is still there. It may be related to an unstable network connection...

[2020-10-16 21:31] leandro-manifesto commented on #786
So, NPM 7 is now out with no signs of this being fixed.

I can't enforce its usage on projects if the feature that does the enforcing doesn't work.

[2020-10-16 23:26] isaacs opened #1979 "`npm ls <pkgname>` always exits in error (even when there are no ls problems)"
This is weird...

[code]

[2020-10-17 05:16] ljharb commented on #1979
I'm surprised that if `npm ls` exits nonzero, that some kind of warning wouldn't automatically be generated on `npm install`?

[2020-10-17 07:34] salvoravida commented on #1923
Hi, pr that fix it

https://github.com/npm/arborist/pull/162

[2020-10-17 09:04] peterjuras commented on #1965
Thanks for the quick response. I'm looking forward to using npm 7 in more of our repositories.

[2020-10-17 11:17] RoystonS commented on #1923
Lovely - thank you.  Certainly looks like it'll fix it.

(Not sure how that resulting failing build's going to be fixed though.  Dealing with a mandated 100% branch coverage for something that needs platform-specific logic is going to be a little 'tricky'...)

[2020-10-17 16:05] zenwarr commented on #1960
Everything works great now, thank you for the quick fix!

[2020-10-17 16:05] #1960 closed, assigned to nlf

[2020-10-17 16:24] benevolarX opened #1980 "[BUG] <npm no work> EPERM files"
### Current Behavior:

NPM / YARN / PNPM => i cant install any nodejs package

### Expected Behavior:

when i try npm install / npm update

[code]

I want to nodejs works again

### Steps To Reproduce:

1) I installed nodejs version 14
2) Then, i try "pnpm" => it's works
3) I install the new nodejs version (14.14.0)
4) pnpm has stopped working, i unsintalled it
5) but i like pnpm, i search a solut

[2020-10-17 17:15] BrennZA commented on #1966
I also seem to be having an issue with any NPM commands. I've installed node.js and am able to run a node -v which gives the current version, but when running the same NPM or any install commands on powershell it gives no response back apart from shrinking down the terminal command window. I've also tried the same on VS codes terminal and it also does nothing...

[2020-10-17 19:16] codemacabre commented on #1724
🤦🏼‍♂️ That would explain it. Thank you!

[2020-10-17 19:16] #1724 closed, assigned to nobody

[2020-10-17 21:50] pirouet commented on #1962
Can confirm this happens for me too ...

[code]

[2020-10-17 22:14] noseratio commented on #1962
Same error if I just want to update global packages:

```npm -g update```

Or

```npm -g upgrade```

Seeing it with v7.0.1 on Windows and Debian 10.

These worked for 6.x

[2020-10-18 11:19] henokgere opened #1983 "error when installing expo-cli"
it says

cb() never called

[2020-10-18 13:15] sheepsteak opened #1984 "[BUG] package-lock.json not updated with new dependencies of a workspace package"
### Current Behavior:
When using workspaces, it seems `npm install` only detects the dependencies of a workspace package the very first time. Any subsequent changes to the `dependencies` or `devDependencies` of workspace package are ignored.

### Expected Behavior:
If a `dependency` or `devDependency` is added/changed/removed from the `package.json` of workspace package then running `npm install`

[2020-10-18 14:40] ljharb commented on #1983
Duplicate of #417.

[2020-10-18 14:40] #1983 closed, assigned to nobody

[2020-10-19 00:51] somombo commented on #1962
seems to be fixed in v7.0.2

[2020-10-19 04:53] anitab15 opened #1988 "[BUG] npm install doesn't work"
### Current Behavior:

### Environment:

[2020-10-19 06:43] PaulVrugt commented on #1800
@nlf you rock! It works now.

[2020-10-19 08:52] pedrolamas opened #1989 "[BUG] fails to install packages on my Gatsby website"
### Current Behavior:

`npm i` fails on my Gatsby website, but works fine with yarn 1.22.10

### Expected Behavior:

To install packages with no errors at all!

### Steps To Reproduce:

1. Clone https://github.com/pedrolamas/pedrolamas.com
2. Remove `yarn.lock` file
3. Try `npm i` _-> this will show failure of type mismatch between a few eslint dependencies, however this works with yarn_
4. Remove

[2020-10-19 08:58] pedrolamas commented on #1989
FYI, I have tried this in Ubuntu under WSL 2 and had the same results.
![image](https://user-images.githubusercontent.com/85504/96423683-959fcb00-11f1-11eb-873c-b861e44f767d.png)

[2020-10-19 09:37] benevolarX commented on #1980
I found a solution :
disable Avast for install / update package

[2020-10-19 09:37] #1980 closed, assigned to nobody

[2020-10-19 10:02] prathameshthorat22 opened #1990 "Remote Auto blocked and unavailable java.net.SocketException: Connection reset"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-10-19 10:03] prathameshthorat22 commented on #1990
there an error "Remote Auto blocked and unavailable java.net.SocketException: Connection reset" while accessing npm repository with Nexus sonatype.

[2020-10-19 11:58] ohois commented on #1700
Problem in v 7.0.2 still exists.

[2020-10-19 15:45] aks- opened #1991 "cli hangs when running `npm install`"
### Current Behavior:
I am trying to migrate a repository from yarn to npm, until now I was seeing output and resolving all the peer deps. But every now and then the cli hangs and does not output anything whatsoever. I have to kill the process to get out of it.

### Expected Behavior:
Either an error output or deps should be installed.

### Steps To Reproduce:
Because I am working on private repo,

[2020-10-19 15:56] ljharb commented on #1991
Can you try with npm v7.0.2?

[2020-10-19 16:09] aks- commented on #1991
That seems to work! :s thank you

[2020-10-19 16:21] #1991 closed, assigned to nobody

[2020-10-19 17:42] #1499 closed, assigned to isaacs

[2020-10-19 17:57] #1541 closed, assigned to isaacs

[2020-10-19 18:06] #1746 closed, assigned to nlf

[2020-10-19 18:07] #1800 closed, assigned to nlf

[2020-10-19 18:37] francovp commented on #1206
Same problem when trying to upgrade to NPM v7.0.x
Windows

[code]

[2020-10-19 19:52] matthewlynden commented on #1962
I'm still seeing the same issue with 7.0.2

$ npm -v
7.0.2

$ npm -g update
npm ERR! global requires an add or rm option

[2020-10-19 21:53] sanjay-sridharan commented on #1349
For my proprietary package I get the same error, however, I have no workaround:
1. npm ci is not an option because I have modified package.json, therefore, it is out-of-sync with npm-shrinkwrap and package-lock
2. npm i produces the error when I have done the following
  a. Removed node_modules dir
  b. Removed npm-shrinkwrap and package-lock files
  c. [2020-10-19T21_38_50_493Z-debug.log](https:/

[2020-10-20 00:15] isaacs commented on #1969
Agreed, this is wasteful.

Note for implementer: add a check for the omit settings in the `_problemEdges` method here: https://github.com/npm/arborist/blob/main/lib/arborist/build-ideal-tree.js#L831

[2020-10-20 00:17] isaacs commented on #1958
Very on-brand for this issue, folks 😆
<img width="920" alt="Screen Shot 2020-10-19 at 17 17 02 " src="https://user-images.githubusercontent.com/9287/96525097-eaae0200-122e-11eb-9f5b-74051f330d3f.png">

[2020-10-20 07:07] eden-lane commented on #1941
Have the opposite problem. My `npm ci` tries to get package from private registry instead of global one

[2020-10-20 07:51] plmrlnsnts commented on #719
I totally freaked out after losing npm on a failed update. You can download the pre-built installer from the [download page](https://nodejs.org/en/download/), that fixed it for me.

Never been more afraid to upgrade npm on our servers. What we gonna do 😰

[2020-10-20 09:04] ksmigiel opened #1992 "[BUG] Duplicated environment variables when calling npm scripts from Git Bash for Windows"
### Current Behavior:
I cannot operate in powershell context called from npm script which is called from Git Bash (for Windows).
[code]

After some investigation it seems like npm duplicates `PATH` environment variable. And some commands in powershell cannot operate in that state (it looks like corrupted state in whole execution environment, not only powershell bug per se).

Similar issue (but I d

[2020-10-20 11:31] ohardy opened #1994 "[BUG] npm 7.x ignores publishConfig.registry scope is provided"
### Current Behavior:
npm publish does not follow publishConfig.registry scoped registry configured in publishConfig.registry

### Expected Behavior:
npm publish publish to defined scoped publishConfig.registry

### Steps To Reproduce:

1. Install npm@latest-7
2. Set publishConfig.registry IE: "publishConfig": { "@my-scope:registry": "https://..." }
3. Run `npm publish`

### Environment:
OS: Max O

[2020-10-20 13:16] clarifaiprasanna commented on #1941
Then you could have a registry flag set in your .npmrc file. Run `$ vi ~/.npmrc` to check the configuration

[2020-10-20 15:33] jwandrews commented on #948
Also present in `npm@7`

[2020-10-20 15:57] jwandrews commented on #948
it seems to be related to using non-'standard' git hosts. so anything other than `github.com`/`gist.github.com`, `gitlab.com`, `bitbucket.org`.

basically any git host thats not configured in this file: https://github.com/npm/hosted-git-info/blob/latest/git-host-info.js

[2020-10-20 16:03] jwandrews commented on #948
RunKit example: https://runkit.com/embed/d9o6efuy12dp

[2020-10-20 16:59] MichaelDeBoey commented on #1989
When building [`gatsby-remark-embedder`](https://github.com/MichaelDeBoey/gatsby-remark-embedder) against Node 15, I got the same error: https://travis-ci.com/github/MichaelDeBoey/gatsby-remark-embedder/jobs/402578685

I managed to get the same error by first doing a clean install on Node 14 (using `npm@6.14.8`) on macOS, switching to Node 15 (using `npm@7.0.2`) and doing another `npm install`.

[2020-10-20 18:13] kaizhu256 opened #1995 "[BUG] missing env variable `$npm_config_argv` in script using `npm run <command> ...`"
### Current Behavior:

my travis-ci build https://travis-ci.com/github/kaizhu256/node-utility2/builds/191223014 failed after upgrading to npm v7.0.2 (nodejs v15.0.0).

this was because build-script failed to JSON.parse `process.env.npm_config_argv` expected from npm when running
`npm run postinstall/start/test`

### Expected Behavior:

`npm run <command> <arg1> <arg2> ...`

should pass env-var `$n

[2020-10-20 19:01] ruyadorno opened #1997 "[BUG] npm update breaks package-lock file"
### Current Behavior:
Running `npm update` removes `name`, `version`, `dependencies` and `package[""]` from the `package-lock.json` file.

### Expected Behavior:
Running `npm update` should not remove these expected fields from `package-lock.json` file

### Steps To Reproduce:
_in any npm7-powered project:_
Run: `npm update`

[2020-10-20 19:18] mjeanroy opened #1998 "[BUG] issue installing dependency when specified in both dev & peer"
### Current Behavior:
When a dependency is specified as a `devDependency` **and** as a `peerDependency`, it is not installed. I tested it with npm@7.0.2, everything worked well with npm < 7.

### Expected Behavior:
I expect that all dev dependencies should be installed.

### Steps To Reproduce:
I created a very small repository to reproduce the issue, so you can just checkout it and install depend

[2020-10-20 19:21] mhart commented on #606
Seeing this surface again with v7 on docker images (v7.0.3)

Seems it's a regression of https://github.com/npm/npm/pull/15901

[2020-10-20 19:22] mhart commented on #606
Reproduction:

[code]

[2020-10-20 19:57] isaacs opened #1999 "[BUG] install/etc with --dry-run outputs misleading info (since it didn't actually do stuff)"
## Current Behavior:

Installing (or other commands that call `Arborist.reify()`, like prune, dedupe, update, audit fix, etc.) using `--dry-run` produces output like this:

[code]

However, since the package tree was not actually reified, this output is misleading and not useful.

### Expected Behavior:

Output a human-readable (or JSON in the case of `--json`) report of the changes that _would_ h

[2020-10-20 20:05] Thunderforge commented on #636
This works, although on macOS and Linux, you have to do `NPM_CONFIG_SAVE_PREFIX="~" npm install typescript@~3.5.0`. If you do `~` instead of `"~"`, then the prefix will expand to your user directory, which is obviously not what you want.

[2020-10-20 20:30] kentcdodds commented on #1935
FWIW, I bumped into this in TravisCI: https://travis-ci.com/github/kentcdodds/advanced-react-hooks/builds/191260988

![image](https://user-images.githubusercontent.com/1500684/96640681-bf83eb00-12e0-11eb-8590-48a7fc9c7b86.png)

I think that @BethGriggs' original concern is still an issue 😬

[2020-10-20 20:55] edwinm opened #2000 "[BUG] unable to resolve dependency tree"
### Current Behavior:
When I run `npm i @typescript-eslint/parser@latest`, I get:

[code]

### Expected Behavior:
I expect npm to upgrade my package. Npm says "Fix the upstream dependency conflict", but I don't see any.

If npm sees a conflict, it should explain where the conflict is.

### Steps To Reproduce:

[code]

### Environment:

MacOS 10.15.7
Node v15.0.0
npm 7.0.2

[2020-10-20 21:15] ruyadorno commented on #1935
hmmm 🤔 maybe we should also check for the environment using [`@npmcli/ci-detect`](https://www.npmjs.com/package/@npmcli/ci-detect) on top of checking for `process.stdin.isTTY` @nlf ?

[2020-10-20 21:37] isaacs commented on #2000
Huh, yeah, that isn't a very helpful explanation, is it?

Can you share your package.json file?

[2020-10-20 21:37] isaacs commented on #2000
Oh, sorry, you posted repro steps, sorry I'd missed that.  Taking a look now.

[2020-10-20 21:41] isaacs commented on #2000
Hmm... this seems to work for me using npm 7.0.2 and 7.0.3 (published today).

Can you share the full debug log at `/Users/edwinm/.npm/_logs/2020-10-20T20_34_49_853Z-debug.log` and the eresolve report at `/Users/edwinm/.npm/eresolve-report.txt`?  That might shed some light on it.

Also, what git commit are you at in carbonium?  Is it possible this has been fixed?

[code]

[2020-10-20 21:43] isaacs commented on #2000
Oh, whoops that last install was in npm v6.  trying again, I get this:

[code]

This is weird, it's not a peer conflict, looks like, it's just refusing to clobber an existing dev dep with a new version.  That's a bug, yes.

[2020-10-20 21:47] ttyrakow commented on #1962
I can confirm the same behavior in npm 7.0.3 on Windows 10 x64. Just upgraded from npm@6 and got this surprise.

[2020-10-20 23:26] isaacs commented on #2000
Aha, no, it _is_ a peer conflict, but it's failing to properly report on it, because we ignore other edgesIn when the dep node is a dependency of the root node. https://github.com/npm/arborist/blob/main/lib/node.js#L364-L375

I recall that we added that because it got quite noisy in some cases, but it seems clear to me that was a mistake.  When that check is removed, I see a report like this, whic

[2020-10-20 23:31] DeeDeeG commented on #1708
Update: This still applies, tested with stable npm@7.0.3.

If you run `npm install -g --production npm@7` twice, you will have a broken npm.

[2020-10-21 01:16] rsispal commented on #1963
Hi @nlf, thank you for informing me about this very rapid fix! I can confirm the problem is resolved, so I will close this issue. Thank you very much

[2020-10-21 01:16] #1963 closed, assigned to nlf

[2020-10-21 01:42] isaacs commented on #2000
Ahahhhh... this doesn't have anything to do with the order of the deps.  The (second) issue is that _both_ packages have a peer dependency on `estlint`, and the root package has an `eslint` dep as well.

So, first issue, the report isn't helpful.  That's addressed by leaving in the other dependencies when a dep node has an edge coming in from the root package.  Easy enough.

That would make it cle

[2020-10-21 06:33] charles-dexter-ward opened #2002 "[BUG] After update to npm 7 it seems no global packages are recognized"
Upgraded from node 14 to node 15.0.0
Upgraded npm to 7.0.3

### Current Behavior:
1) npm --outdated -g
only shows a DOWNGRADE from npm 7 to 6
![image](https://user-images.githubusercontent.com/2855255/96681470-9b271d80-1377-11eb-84fc-6c302d1e1c54.png)

2) npm list -g --depth= 0
it does not show the intalled global packages, but only npm
![image](https://user-images.githubusercontent.com/2855255/96

[2020-10-21 07:42] Aw3same opened #2003 "[BUG] Protocol "https:" not supported. Expected "http:""
Upgraded from node 14 to node 15.0.0
Upgraded npm to 7.0.3

### Current Behavior:
Running the command
`npm install -g npm-check-updates`
I get the following that doesn't happened in v6.14
![image](https://user-images.githubusercontent.com/10500082/96687507-476d0200-1380-11eb-90eb-6ee56139a4b7.png)

The error log is:

[code]

My npm config doesn't change too:

`proxy=http://my.proxycompany.com:80/`

[2020-10-21 09:00] ohardy opened #2004 "[BUG] npm ci respect the resolved url in package-lock.json"
I use local verdaccio npm cache so I can fully work offline, do npm install offline etc, so my resolved field looks like:
`"resolved": "http://localhost:4873/@babel%2fcore/-/core-7.12.3.tgz",`

### Current Behavior:
npm ci respect the resolved url in package-lock.json

[code]

It looks like, the problem is because the error is `ECONNREFUSED`.
On my mac, with local verdaccio stopped, npm ci works w

[2020-10-21 09:33] Xanonymous-GitHub commented on #1962
npm v 7.0.2 on macOS nodejs v15 has same problem.

npm ERR! global requires an add or rm option
npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/user/.npm/_logs/2020-10-21T09_28_30_807Z-debug.log

[2020-10-21 11:14] GMartigny commented on #1756
I just tested, and this issue is not reproduced with `npm@7` on `node@15`.

[2020-10-21 12:39] doppelreim commented on #1950
Is there anything else I could provide?

[2020-10-21 13:07] rafgraph commented on #1947
@nlf any update on this? I'm still having this issue in v7.0.3 (it's preventing me from using npm v7 regularly). Thanks.

[2020-10-21 13:14] virtuoushub commented on #1904
While not ideal; until this issue is resolved, a workaround is to use the `--prefix` option (see [docs](https://docs.npmjs.com/misc/config#prefix)).

For example, using @fabb's steps to reproduce with the repo [npm7-workspaces](https://github.com/fabb/npm7-workspaces) and replacing step 2's  command with the following:

[code]

The build succeeds:

[code]

[2020-10-21 13:33] rafgraph commented on #1834
@nlf still having an issue with installing husky on v7.0.3. Should I open a new issue? Thanks.

[2020-10-21 13:39] kanongil opened #2005 "[BUG] hapijs/lab repo fails to install"
### Current Behavior:

npm install fails to install all dependencies, and installing specific dependency fails with npm error.

[code]

From log:
[code]

### Expected Behavior:

Npm installs all dependencies, and `npm install typescript` works.

### Steps To Reproduce:

[code]

### Environment:

- Node: 15.0.0
- npm: 7.0.2

[2020-10-21 15:13] kanongil commented on #2005
While it this issue could be similar to the one in #1998, it appears to be unique since this fails a direct install. Also, if I remove the `peerDependenciesMeta` entry from `package.json`, it will work as expected.

It is interesting that the result depends on a third-party package.json property, which npm does not officially support. At least according to https://github.com/npm/cli/blob/v7.0.3/do

[2020-10-21 15:53] ljharb commented on #2005
@kanongil npm definitely officially supports peerDependenciesMeta, it just appears to be missing from the docs.

[2020-10-21 16:10] t-fritsch commented on #1955
same here with **npx 7.0.2**. I'm also using **nvm** on **linux** (debian) but with node 15
[code]
[code]

(NB: serve does not have `type: module` in its package.json https://github.com/vercel/serve/blob/master/package.json)

[2020-10-21 16:42] charles-dexter-ward commented on #2002
In addition there is also the issue https://github.com/npm/cli/issues/1962
![image](https://user-images.githubusercontent.com/2855255/96751209-326a9000-13cd-11eb-96f0-a8c09be07329.png)

[2020-10-21 16:55] ghost opened #2006 "[BUG] Update from GitHub is broken"
### Current Behavior:
NPM 7 incorrectly states "up to date" and does nothing, when trying to install another version of a package via the Git/GitHub installation feature.

### Expected Behavior:
When installing v18.8.0 and already having v18.7.0 installed, NPM should update this package and make sure node_modules contains the correct files like in NPM 6 and per the documentation of NPM.

### Steps

[2020-10-21 16:59] VitorLuizC opened #2007 "[BUG] directories declared with "/" at end in package.json's files property aren't resolved or published"
### Current Behavior:
When `"files"` property in `package.json` contains a path of a directory with "/" at end, it doesn't resolve generated paths for directory's contents. An seems like they aren't published into npm's registry.

<details>
  <summary>
    <code>npm pack</code> output
  </summary>

[code]
</details>

### Expected Behavior:
When `"files"` property in `package.json` contains a path

[2020-10-21 16:59] VitorLuizC commented on #2007
Maybe related to https://github.com/npm/cli/issues/1873.

[2020-10-21 17:30] dnalborczyk opened #2008 "[BUG] "npm install" not working for private artifactories"
### Current Behavior:
`npm install` with **npm v7.0.2** throws the following exception (verbose log):

[code]

.npmrc:

[code]

### Expected Behavior:
should just work. the above works with **npm v6+**

### Steps To Reproduce:
see above

### Environment:
macOS Catalina **10.15.6**
node.js **v15.0.0** (but also reproduces with **node.js v14.14.0** and a global npm upgrade to v7)
npm **v7.0.2**

if

[2020-10-21 18:24] txase commented on #1826
**Solution:** Apparently `:_password` is simply an alias for `:password`. And `:_authToken` is an alias for `:token`. Using `:password` and `:token` allows for the installation of packages from private repos using env vars (not sure if it will work for other use cases).

https://github.com/npm/npm-registry-fetch/blob/latest/auth.js#L13-L21

[2020-10-21 20:37] ghost commented on #1905
I can second this. I have projects using [Husky](https://github.com/typicode/husky/). When doing a fresh install, Husky does not run, nor does it install the git hooks. This was changed from NPM v6 to NPM v7. One thing that's slightly different than OP's issue, is that (I believe) the postinstall scripts run are in Husky's module, and not in the root project's scripts.

Example `npm ci` snippet fo

[2020-10-21 21:18] isaacs commented on #1998
This appears to be working as of npm 7.0.3 and 7.0.2.  I get the same results in each.

[code]

Is it possible that `--omit=peer` or `--omit=dev` is set on your system, or `--legacy-peer-deps`?

[2020-10-21 21:18] #1998 closed, assigned to nobody

[2020-10-21 21:21] isaacs commented on #2005
The issue here is that, while we do install `peerDependencies` by default, we _don't_ install _optional_ `peerDependencies`, as those are used more for plugins and typically the user does not wish for them to be installed.

We do officially support the `peerDependenciesMeta[pkgname].optional` boolean, but the docs are lagging behind the code, unfortunately.  They'll be updated ahead of moving v7.0

[2020-10-21 21:22] isaacs commented on #2005
Also, even if it's _not_ a dev dependency, if you explicitly tell it to install a package, it should do that, even if it's an optional peer.

So, two bugs :)

[2020-10-21 21:26] valtlai opened #2009 "[BUG] Negation of `files` is ignored in npm v7"
### Current Behavior:
Negated patterns in the `files` array of `package.json` have no effect.

### Expected Behavior:
Negated patterns should cause the matching files to be excluded from the published package.

### Steps To Reproduce:
1) Add the following `files` array in `package.json`:
[code]

2) Create a `foo.js` file.
3) Run `npm publish --dry-run`.
4) See how the output incorrectly contains `

[2020-10-21 21:31] ruyadorno commented on #1501
ref: https://github.com/npm/cli/pull/2001

[2020-10-21 22:05] jasonkarns opened #2010 "[BUG] npm-version does not git-commit nor git-tag when package in subdirectory"
### Current Behavior:

`npm version <version>` is not committing the modified package.json or package-lock.json; nor git-tagging.

We were using `npm version {major|minor|patch}` extensively (and successfully). It stopped working once the package was moved out of the root of the repo and into a subdirectory.

### Expected Behavior:
`npm version <version>` should continue to create a git-commit and

[2020-10-21 22:17] aomarks commented on #1865
I seem to be hitting a similar case but where the `prepare` script is running without dependencies being available under NPM 7. This particular dependency is not published to NPM, so I am installing it as a Git dependency specification, not sure if that is related.

With NPM 6, the following worked:

[code]

But with NPM 7 it fails, seemingly because the `grammar-mode` binary that this package's `

[2020-10-21 22:30] isaacs commented on #2009
Ahhh, nice one.

The issue is that we're globbing each of these entries in parallel, but not maintaining the order when they come back.  Bug in `npm-packlist` that I missed because the _sync_ version used by the npm-packlist bin script doesn't suffer from this problem.

Good catch, will have a fix soon.

[2020-10-21 22:41] isaacs commented on #2009
Will be in the next npm v7 release.

[2020-10-21 23:00] isaacs commented on #2007
This will be fixed in the next v7 release.

[2020-10-21 23:10] isaacs commented on #1995
Yep.  That was [removed on purpose](https://github.com/npm/rfcs/blob/latest/implemented/0021-reduce-lifecycle-script-environment.md).

What is your test trying to do?  Can you instead look at `npm_command` or one of the other environment variables that are set now?

[2020-10-21 23:12] #1995 closed, assigned to nobody

[2020-10-22 01:48] billyjanitsch commented on #1964
It also modifies the `bin` field, e.g.:

[code]

[2020-10-22 02:23] billyjanitsch opened #2011 "[BUG] Install and CI performance is significantly worse than npm@6"
### Current Behavior:

Hi! I've upgraded around 10 projects from npm@6 to npm@7 and I've unfortunately found npm@7's `install`/`ci` commands to be significantly (30-200%) slower in practical situations, across all of the projects that I've tested. Specifically, in the cases of:

- `install` with no package-lock or `node_modules`, and cold `~/.npmrc` cache
- `install` with no package-lock or `node_

[2020-10-22 02:54] noahcooper commented on #1566
I just started running into this problem after using npm for years. None of the reasons described on the Cloudflare CAPTCHA page apply to me -- they seem to suggest this has something to do with malware, but I don't think that's actually the case.

[2020-10-22 03:30] cb1kenobi opened #2012 "[BUG] npm does not create --prefix dir"
### Current Behavior:
npm 7.0.3 errors because `--prefix` directory does not exist.

This is appears to be a regression as it does not happen with npm 6 and I was unable to find a ticket or mention in the npm 7 release notes that `--prefix` no longer creates the destination directory.

[code]

[code]

If I manually create the prefix directory, then run `npm install`, it works fine.

### Expected B

[2020-10-22 05:13] lpinca commented on #1998
@isaacs it does not work with `npm@7.0.2` shipped with Node.js v15.0.0.

[code]

[code]

[code]

[code]

[code]

[code]

`utf-8-validate` is a [dev dependency](https://github.com/websockets/ws/blob/d972c33cb47c87439a1c68c7cf06d9a2aa9f7141/package.json#L55) and an [optional peer dependency](https://github.com/websockets/ws/blob/d972c33cb47c87439a1c68c7cf06d9a2aa9f7141/package.json#L41-L43).

[2020-10-22 05:23] lpinca commented on #1998
The same happens with Node.js v15.0.1 and `npm@7.0.3`.

[2020-10-22 06:05] kaznovac commented on #1916
`npm cache verify` this fixed this problem for me

[2020-10-22 06:07] codeparl opened #2013 "An error occurred while running subprocess npm."
I tried to start a new ionic tabsApp with angular type and got this error  "An error occurred while running subprocess npm." that was reported by NPM.

[2020-10-22 09:18] ShenHongFei commented on #2003
This PR might help:
https://github.com/TooTallNate/node-agent-base/pull/47
fix ERR_INVALID_PROTOCOL in NodeJS 15 when connect https url through http proxy

[2020-10-22 09:21] michaelestermann opened #2014 ""npm update" deletes npm itself"
We've updated our node installation from the latest 14 version to the current version 15.0.1.
After updating and executing the "npm update" command, the npm folder gets deleted.

In our environment, we've included the node standalone installation (along with npm)  in our git repository. The package.json is located in the same directory as the node executable. Therefor its not the same situation as

[2020-10-22 14:25] mjeanroy commented on #1998
@isaacs You're right, I had `omit=peer` in my ~/.npmrc, I did not see that.

[2020-10-22 16:20] ruyadorno commented on #1500
these were tackled by @nlf already 😊

[2020-10-22 16:20] #1500 closed, assigned to ruyadorno

[2020-10-22 16:21] isaacs opened #2015 "[BUG] `npm_command` env not getting set"
At some point in the v7 beta/rc line, we shuffled around the order of when configs are loading and envs are set, and ended up clobbering the `npm_command` environment variable.

### Current Behavior:

[code]

[code]

### Expected Behavior:

[code]

[2020-10-22 16:51] jkochis commented on #1989
I got the same error when installing `gatsby-cli`. The source of the error is here: https://github.com/npm/arborist/blob/main/lib/arborist/build-ideal-tree.js#L1284. this only happens on npm 7. It works fine on 6.14.8

[2020-10-22 17:24] jpike88 commented on #1941
I started having weird issues with integrity checks recently, that maybe point in the direction of this being true.

@ruyadorno @isaacs any comments? Are you aware of this being an issue?

[2020-10-22 19:57] zenwarr opened #2017 "[BUG] `npm ci` ignores `--production` flag and always installs `devDependencies`."
### Current Behavior:
`npm ci --production` installs dependencies marked as `dev` in `package-lock.json`.

### Expected Behavior:
I expect `npm ci` to not install any packages marked as `dev` in lockfile.
npm 6 behaves as expected and installs only production dependencies with `--production` flag.
In example below, I expect `@types/yargs` to not be installed for production.

### Steps To Reproduce

[2020-10-22 20:50] wjhanna commented on #1962
[code]

Same issue for me. MacOS, npm v7.0.3. Using nvm.

[2020-10-22 22:24] isaacs opened #2018 "[BUG] `npm rebuild` should take path, breaks `npm edit`"
After running the editor, `npm edit` runs `npm rebuild <arg>` to rebuild the package that had been edited.  However, this fails when editing a nested package as an argument like `npm edit write/mkdirp`, because `npm rebuild` only takes version/range specifiers, and `write/mkdirp` isn't one of those.

Also, using `npm edit foo/bar` to edit the package at `./node_modules/foo/node_modules/bar` is jus

[2020-10-22 22:25] isaacs commented on #2018
Also, running `npm rebuild semver` will rebuild _all_ instances of semver, not just the one edited.  So that's definitely a bug as well.

[2020-10-22 23:05] isaacs commented on #1946
Hm, this isn't an intentional change, afaik, and should not be too hard to fix.

You _can_ do this in npm 7 with `npm unlink -g`, but we just aren't defaulting the `-g` when no args are specified.

[2020-10-22 23:07] isaacs commented on #1944
In npm 7, we only print install script output when the install script fails in such a way that it breaks the install.  Changing this was be a breaking change, so we cannot do it in the v6 release line.

[2020-10-22 23:07] #1944 closed, assigned to nobody

[2020-10-23 01:42] dingdaoyi opened #2019 "[BUG] npm publish request body tarball error"
### Current Behavior:

package.json
{
"name": "@test/test.sufx",
"version": "5.5.3",
"description": "test",
"main": "index.js",
"scripts": {
"test": "echo "Error: no test specified" && exit 1"
},
"author": "",
"license": "ISC",
}
npm publish --registry=http://localhost:8080/artifactory/api/npm/repo-local

version tarball Expected http://localhost:8080/artifactory/api/npm/repo-local/@test/test.suff

[2020-10-23 02:10] haaarshsingh commented on #805
I was having this bug too, this (probably) won't work for everyone but my problem was just that I was using an already existing pacakge.

Probably not what'll fix your problem, but it fixed mines.

[2020-10-23 02:19] georgeOsdDev commented on #1905
I'm using `lerna` and using `postinstall` on my [project](https://github.com/mobilusoss/textlint-browser-runner/blob/master/package.json#L18) like below.

[code]
https://github.com/mobilusoss/textlint-browser-runner/blob/master/package.json#L18

`postinstall` was called after `npm ci` on TravisCI with npm v 6.14.8
https://travis-ci.com/github/mobilusoss/textlint-browser-runner/builds/191070080

Bu

[2020-10-23 06:02] lpinca opened #2020 "[BUG] dev dependencies not installed if marked as optional peer dependencies"
### Current Behavior:

When a dependency is specified as dev dependency and as optional peer dependency, it is not installed.

### Expected Behavior:

I expect all dev dependencies to be installed.

### Steps To Reproduce:

[code]

### Environment:

- OS: Ubuntu 20.04
- Node: 15.0.1
- npm: 7.0.3

[2020-10-23 06:06] ljharb commented on #2020
Duplicate of #1998?

[2020-10-23 06:08] lpinca commented on #2020
It's not a duplicate. #1998 did not use optional peer dependencies and had `omit=peer` in `.npmrc`.

[2020-10-23 06:09] lpinca commented on #2020
Refs: https://github.com/nodejs/citgm/issues/836

[2020-10-23 07:45] Silic0nS0ldier commented on #1299
Issue can still be reproduced under latest stable version.
npm version: 6.14.8
node version: 14.14.0
[code]

Worth noting that the dependency graph seems to affect this, a small unnamed package with a single dependency is unaffected for example.

[2020-10-23 07:48] Silic0nS0ldier commented on #1299
This issue is fixed in npm v7, however as it is currently hidden behind the `7` tag I'll leave this open for now.

[2020-10-23 08:02] JensEggers opened #2021 "[BUG] npm@7 does not set NODE_ENV=production when --production option is used"
### Current Behavior:
The following preinstall script:
[code]
only prints:
```NODE_ENV```
when I run ```npm i --prod```

### Expected Behavior:
I expect it to print
```NODE_ENV production```

### Steps To Reproduce:
1. configure the above preinstall step in a package.json
1. using npm@6, run npm i --prod
1. using npm@7, run npm i --prod
1. compare results

### Environment:
- OS: Ubuntu 20.04
- Nod

[2020-10-23 08:04] JensEggers commented on #2021
possibly related to #2017

[2020-10-23 08:30] W3mediaPl opened #2022 "npm install from private git repository failed"
NPM 7.x has problem with instaling module from private git repository and gives me ERR_INVALID_URL error. I'm sure that URL is correct, because with npm 6.x everything works fine.

COMMAND:
npm install --save git+ssh://git@git.my.private.server:somerepository.git

npm ERR! code ERR_INVALID_URL
npm ERR! Invalid URL: git+ssh://git@git.my.private.server:somerepository.git

Environment:
OSX 10.15.4

T

[2020-10-23 10:33] CliffS opened #2023 "[BUG] npm run-script --silent now broken completely"
Note: Issue https://github.com/npm/cli/issues/1958 refers to `--silent` suppressing all output.

### Current Behavior:

`npm run --silent script` now outputs everything, eg:

[code]

In other words, the `--silent` flag is doing nothing.

### Expected Behavior:

[code]

### Steps To Reproduce:

See above.

### Environment:

- OS: Ubuntu 20.04.1
- Node: v15.0.1
- npm: v7.0.3

[2020-10-23 11:00] lpinca commented on #2020
A possible hint from https://github.com/npm/cli/issues/2005#issuecomment-713884822

It could be fixed by https://github.com/npm/arborist/pull/166.

[2020-10-23 15:01] jimmyhlee94 commented on #2022
I had a similar issue... for me I had to replace the `:` after the domain to a `/` for it to work.

so instead of `git+ssh://git@git.my.private.server:somerepository.git`
try `git+ssh://git@git.my.private.server/somerepository.git`

[2020-10-23 15:59] WraithKenny commented on #2002
I had this same problem on my MacOS system, but fixed it with
`brew rm node`
`brew install node`
Which doesn't explain why the problem also happens on Windows, but maybe it points to where the problem is.

(It seems on upgrade it loses track of where the global node_modules folder is, but install knows where it is? I dunno.)

Didn't fix the "global requires an add or rm option" tho.

[2020-10-23 16:00] GuilhermeKalatzis commented on #1890
Hi, I'm also facing the same problem with local transitive dependencies.

Are you planning to fix this soon?

[2020-10-23 16:02] WraithKenny commented on #2002
What's also strange is that `npm i npm@^6 -g` didn't fix the issue, only an uninstall and reinstall of `node`

[2020-10-23 16:10] WraithKenny commented on #1962
Same. On MacOS, with Brew.

I `brew rm node` and `brew install node` to fix the issue of `npm ls -g` not showing any packages.

After that, I `npm i npm@^6 -g` then ran `npm update -g` (actually, I also did `npm update eslinst@lastest -g` first)

I then ran `npm i npm@latest -g` and now `npm update -g` doesn't report an error. (There's no updates available anymore, but it seems fixed for me, for n

[2020-10-23 16:52] jamie-tm opened #2025 "[BUG] Default ports in scoped registry URLs break credentials"
### Current Behavior:
If you configure a scoped repository where the registry URL contains the default port (`443` for HTTPS`), then any credentials for that repository won't be loaded.

That I _think_ is happening is that the NPM cli is parsing the `registry` url and stripping off the unnecessary port. Then, when it tries look up the matching configuration parameters, it doesn't match the keys in

[2020-10-23 16:55] jamie-tm commented on #2025
This isn't a particularly severe bug, and it has a simple workaround: remove the unnecessary port from the URL.

However, it's an unexpected behavior and has the possibility to break automated systems which are creating these configurations dynamically. (Which is how I found it.)

[2020-10-23 17:02] ilyaigpetrov opened #2027 "[BUG] `sudo npm start` is not enough to listen on port 80 (access denied, EACCES -13)"
### Current Behavior:

`sudo npm start` script which starts http server on port 80 throws an error `Error: listen EACCES: permission denied 0.0.0.0:80`.

### Expected Behavior:

`sudo npm start` must work without errors.

### Steps To Reproduce:

1. vim ./test.mjs:
[code]
2. Add a start script to package.json that runs `node ./test.mjs`
3. Run `sudo npm start` and see it fails `EACCES -13` (access

[2020-10-23 17:05] isaacs opened #2028 "bring back `--only=dev` and `--only=prod` for npm v7"
npm v7 _always_ installs production deps.  There's no way to omit them.  We should bring this back, and let you do `--omit=prod` as well.

[2020-10-23 17:13] alaadahmed commented on #1962
I did the same as @WraithKenny, but with the difference that I `npm i npm -g` without specifying `@^6` and it will install by default __ver 6.14.8__, but then when you `npm list -g`, it shows nothing. I then reinstalled npm but ver 7 >> `npm i npm@7 -g` and now there are no errors and when I `npm list -g` it shows all globally installed packages, and no errors anymore.

[2020-10-23 17:47] #1997 closed, assigned to nobody

[2020-10-23 17:47] #2000 closed, assigned to nobody

[2020-10-23 17:47] #2005 closed, assigned to nobody

[2020-10-23 18:22] isaacs opened #2029 "[BUG] Add `"max-len": ["error", 80]` to .eslintrc.json and make it work"
We have a lot of long lines, let's shorten them.

Be smart about making the choices to split lines, no fake internet points for cutting strings and making them unreadable!

[2020-10-23 18:49] jamie-tm commented on #2025
I've narrowed it down to a function in npm-registry-fetch: https://github.com/npm/npm-registry-fetch/blob/latest/auth.js#L44-L55

I'm gonna take a look at the code history over there to understand how/why this changed, and if it can be fixed.
If so, I'll open a PR against that repository.

**Edit:** Looks breaking change was in [this commit](https://github.com/npm/npm-registry-fetch/commit/8ccfa8a

[2020-10-23 18:52] #2015 closed, assigned to nobody

[2020-10-23 18:52] #2007 closed, assigned to nobody

[2020-10-23 18:52] #2009 closed, assigned to nobody

[2020-10-23 19:04] ljharb commented on #1962
Because npm 7 isn’t “latest”, you don’t want to use `npm install -g npm` once you’re on npm 7, as that will downgrade it to 6. Use `@7` to ensure you stay on v7.

[2020-10-23 19:05] ljharb commented on #2029
You can configure max-len to ignore lines with long strings or regexes or urls; i suggest doing so. Example: https://github.com/airbnb/javascript/blob/2c5c88d0487db3024e8a20bb20f46933a03dd8aa/packages/eslint-config-airbnb-base/rules/style.js#L205

[2020-10-23 19:08] ljharb commented on #2025
That commit was included in npm 6, though.

[2020-10-23 19:21] jamie-tm commented on #2025
It's possible that we had an old enough version of NPM 6 to have not run into the issue. I'm not entirely sure.
But I _am_ sure that's the code change that causes the bug.

That said, it's a _good_ code change. And, unfortunately, I don't see any good way altering the behavior without reverting to the old, deprecated API. Since that's obviously not acceptable, and the workaround is "don't put unne

[2020-10-23 20:09] ljharb commented on #2025
oh actually it was in v6.0.0 of npm-registry-fetch, and v4 was what was in npm 6, my bad.

[2020-10-23 20:10] ljharb commented on #2025
It seems to me like if stripping the default ports in the implementation is best, then doing so in the config also would solve the issue?

[2020-10-23 20:28] Niwotian60 commented on #1962
I encountered this problem today on Win 10 after updating node to version 15.0.1 and concomitantly npm to version 7.0.5. A quick look at the files in the debug log stack trace points to the following lines (184-5) in file npm\node_modules\npm\node_modules\@npmcli\arborist\lib\arborist\build-ideal-tree.js:

[code]

This is my first delve into the underlying code and it isn't clear to me from the co

[2020-10-23 20:45] jamie-tm commented on #2025
Oh, that's an idea! I haven't look at that code yet, but it's worth investigating.

[2020-10-24 00:31] LilMoke commented on #2000
I am trying to deploy my app on a Heroku dyno and I am experiencing this same/similiar error.  This has just started to happen and the proposed solution I am not sure how to try on a Heroku Dyno, or if it is even a proper fix.

Any help would be appreciated as I need to push out an update to our app and I am not quote sure how to correct this issue.

[2020-10-24 01:56] rwoll opened #2031 "[BUG] Updating npm as instructed by npm fails"
### Current Behavior:

`npm` fails to update in the v15.0.1 Docker container when trying the command `npm` prints out for updating.

[code]

### Expected Behavior:

Update completes successfully.

### Steps To Reproduce:

[code]

NB: It succeeds in the v14 docker image:

[code]

### Environment:

Docker version 19.03.13
macOS 10.15.7

[2020-10-24 02:05] mccxiv commented on #1752
For people reaching this via search engine, [this RFC](https://github.com/npm/rfcs/blob/latest/implemented/0026-workspaces.md) is the only documentation available at the moment...

[2020-10-24 02:29] compulim commented on #1975
If the `package.json` is not available on current directory, `npx` will fail with `ENOENT` of `package.json`.

It is okay if `package.json` is just empty JSON (e.g. after we `echo {}>package.json`).

Tested with `node:alpine` image from Docker hub (`sha256:90dfaf5`) with NPM 7.0.3 and Node.js 15.0.1.

[code]

[2020-10-24 04:20] lutzroeder commented on #1962
[code]
[code]

[2020-10-24 05:23] justinfagnani opened #2032 "[BUG] npm outdated doesn't work in workspaces"
### Current Behavior:
Running `npm outdated` in a workspace package results in a listing of all dependencies with a current version of `MISSING`.

### Expected Behavior:
`npm outdated` will show the current installed version of dependencies hoisted to the workspace root.

### Steps To Reproduce:
1. Create a workspace
2. Add a sub-package with dependencies
3. Run `npm i` in the root of the workspac

[2020-10-24 08:40] viceice commented on #2012
Same here:

[code]

[code]

[2020-10-24 12:14] Geod24 opened #2033 "[BUG] INIT_CWD missing in v7"
Did a search on `INIT_CWD`, nothing relevant showed up. I also searched through the changelog and didn't find anything relevant.

### Current Behavior:
In order to get the directory the user was in when the command was run, one can use `process.env.INIT_CWD`, as documented [here](https://github.com/npm/cli/blob/ab22c43a6a5ddcd9b59eb3df3db4e1a0dffdcaaa/docs/content/commands/npm-run-script.md#L67).

[2020-10-24 12:31] ErikAbele commented on #1962
@WraithKenny @alaadahmed You both probably have two global node_modules directories now, right?

1) `/usr/local/lib/node_modules` (with npm 6.14.8 and all your previous global modules)

and

2) `/usr/local/Cellar/node/15.0.1/lib/node_modules` (with npm 7.0.5 and zero global modules (yet))

And calling `npm` will use 6.14.8 but display the modules in `/usr/local/Cellar/node/15.0.1/lib/node_modules`

[2020-10-24 12:33] alaadahmed commented on #1962
@ErikAbele Yes I found out this later.

[2020-10-24 12:38] ErikAbele commented on #1962
Aye, seeing the same here on OSX :-( I got it all sorted on my Ubuntu 20.04 box but as soon as I try to update npm to 7.0.5 on OSX it switches my global node_modules directory to `/usr/local/Cellar/node/15.0.1/...`:

Ubuntu 20.04:
[code]

MacOS X:
[code]

And as soon as I do a `npm install npm@7 -g` on the latter I get it all messed up again :-/ So if anybody knows how to fix that over there I'd a

[2020-10-24 12:59] alaadahmed commented on #1962
OK I did the following and it solved the problem of newly created path for global packages:

1- `npm config set prefix '/usr/local'` >> this will set the path for global installed packages and it will search for folder `lib` inside this path and then will install any package in `node_modules` folder inside `lib` .. so for macOS it will find all your installed packages inside `/usr/local/lib/node_m

[2020-10-24 13:32] ErikAbele commented on #1962
Excellent, this finally did the trick – thank you!

(Weird, `npm config get prefix` already had that path but setting it another time really prevented the creation of the second directory structure.)

[2020-10-24 13:34] alaadahmed commented on #1962
@ErikAbele OK now which version of npm you have?! And if `npm@7` can you make `npm update -g`?!

[2020-10-24 13:43] ErikAbele commented on #1962
I had npm@7.0.3 (which came with the fresh install of nodejs@15.0.1), then I added the prefix and updated to npm@7.0.5 via `npm install npm@7 -g` and I now have 7.0.5 in /usr/local/lib/...

`npm update -g` still does not work but `npm outdated -g` works for the correct path and I can simply do e.g. `npm install eslint@latest -g` to update specific packages with the latest npm at the correct path.

[2020-10-24 13:46] ErikAbele commented on #1962
I guess as long as 7.0.5 is not marked as being latest (and instead 6.14.8 is) we will have to live with that... :-/

[2020-10-24 13:48] alaadahmed commented on #1962
I rollback to `npm@6.14.8` but use `node 15.0.1`, and when they mark `npm@7` as __latest__ will upgrade it.

[2020-10-24 13:57] pedrolamas commented on #1989
I just tested with the latest npm 7.0.5 and this problem is still happening.

I've updated the npm version in the initial post.

[2020-10-24 14:33] KeyOnTech commented on #2031
I'm getting the same error???   Started last night???  Did you figure out a solution??

Thanks for posting this i was going crazy thinking it was just mine...

[2020-10-24 14:49] Salarov commented on #2000
The same issue installing an angular app in Dotnet project.

[code]

[2020-10-24 15:10] LilMoke commented on #2000
Yes, I do not understand why this is closed when there is no global solution for this.  Since you are angular botnet,. it appears to be a real npm issue.

I was hoping someone here would be able to shed some light upon this as it just started happening.

I noticed it when I mistakenly re-deployed my project which has not changed in months.  And now this, however, I went to publish the correct app

[2020-10-24 15:14] Salarov commented on #2000
Of course, the temporary solution is using prior versions of the node.
I tried 14.13.1 and seems stable.

[Here](https://nodejs.org/download/release/v14.13.1/) is the link for downloading.

[2020-10-24 15:26] ikubij commented on #2031
Me too, I just got this error from thursday 23rd, Anyone find a solution yet?

----EDIT----
Thanks @rwoll for starting the thread: Using node v14 worked for me too:

**This is my docker file** (working with Vue-nuxt)
[code]

[2020-10-24 15:35] LilMoke commented on #2000
Wow, yes, I used 14.13.1 and my app deploys fine. No errors!  Thank you, you are a life saver I was fooling with this for hours yesterday and today.  I tried various versions to no success.

Anyway, I am still puzzled why my default install fails with the default Heroku version of npm.  Anyway, I am glad it is resolved for me.

Thanks again!

[2020-10-24 15:53] djallits commented on #1962
@alaadahmed You get the same results with NPM v7
[code]

[2020-10-24 16:36] KeyOnTech commented on #2031
So i made a new react app...
updated my docker file changed the from node version and its working... BUT THERE IS A BUT
this is working on my test clean react app still need to test on my actual app but the warning is gone now by changed the node version from latest to 14
and the error went away above that was showing up before  step 5/7
and here is how i got it to work

open terminal on your mac

[2020-10-24 17:38] Gameghostify opened #2034 "[BUG] npm link updates package.json to point to local directory"
### Current Behavior:
`npm link foo-bar` updates package.json to point to the local directory of the **foo-bar** module instead of *just*  symlinking it

Note that **foo-bar** is a private package installed from git (git+ssh)

### Expected Behavior:
`npm link foo-bar` creates a symlink in `node_modules/` without altering package.json

### Steps To Reproduce:
1. ```
	$ cd ./foo-bar && npm link
[cod

[2020-10-24 17:59] Salarov commented on #2000
Happy that helped.

[2020-10-24 19:44] KeyOnTech commented on #2031
FROM node:14

on your docker file not

FROM node:latest

[2020-10-24 19:55] justinfagnani opened #2035 "[BUG] Can't install new dependencies into workspace package with workspace dependencies"
### Current Behavior:
`npm i some-package` fails if run in a workspace package that depends on another workspace package. The error is that the other workspace package is not found in the registray:

[code]

Here `other-package` is a private package in the same workspace.

You also can't add a dependency manually and run `npm i` in the root of the workspace due to #1984

So there appears to be no

[2020-10-24 20:07] justinfagnani opened #2036 "[BUG] Workspaces are not documented, don't appear to work"
- This blog post says that npm 7 comes with a new feature called workspaces: https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/
- The blog post only links to this RFC: https://github.com/npm/rfcs/blob/latest/implemented/0026-workspaces.md
- The behavior of workspaces does not match the RFC (ie, no symlinks are created)
- There are no mentions of workspaces in the current or new docs

[2020-10-24 21:54] blikest opened #2037 "[BUG] npm list command not recognising "@latest" specifier"
### Current Behavior:

the command:
npm list -g package-name@latest
returns "(empty)" tree despite the package
having been installed with the same,
and omitting it does find the package.

### Expected Behavior:

`npm list package-name@latest`
returning the corresponding dependency tree.

### Steps To Reproduce:
on command line:
[code]

### Environment:

OS: linux
node: 15.0.1
npm: 7.0.5

[2020-10-24 22:26] Harmelodic commented on #2031
As I commented from here: https://github.com/nodejs/docker-node/issues/1379

---

Likewise, getting the issue with all v`15`+ images.

I seem to be getting a `Maximum call stack size exceeded` error:
https://gitlab.com/harmelodic-group/scribbles/api/-/jobs/810274418

I made a tiny little test repo here, to display the issue: https://github.com/Harmelodic/test

Reproduce by:
[code]

---

Temp worka

[2020-10-24 22:33] funfunction commented on #2002
After installing node 15 and npm 7, the npm global modules install into this path...
C:\Program Files\nodejs\node_modules

instead of....
C:\Users\USER\AppData\Roaming\npm\node_modules

Which path should be made the canonical path to use?

[2020-10-25 03:28] ttshivers commented on #606
In npm 7, "the entire Installer class is moved into @npmcli/arborist.": https://github.com/npm/cli/blob/latest/CHANGELOG.md#v700-beta0-2020-08-04

I believe the issue might be in there. It appears that it tries to rename instead of move now: https://github.com/npm/arborist/blob/main/lib/arborist/reify.js#L254

Which looks like a regression of that old PR you linked: https://github.com/npm/npm/pull

[2020-10-25 03:46] ttshivers commented on #2031
Related: https://github.com/npm/cli/issues/606

[2020-10-25 09:36] GennaroDiFiandra commented on #1962
Good morning at all. I have the same problem.

If I do "npm upadate -g" it give me "global requires an add or rm option" and if I do "npm list -g" it give me 'npm@7.0.5'. If I downgrade to npm 6, the problem persists.

My real problem is that I had many packages installed globally and I don't remember all. There is a way to recover them?

I'm on macOS Mojave.

[2020-10-25 09:39] alaadahmed commented on #1962
You can read this and it will solve your issue:  https://github.com/npm/cli/issues/1962#issuecomment-715911549

[2020-10-25 09:58] legodude17 opened #2038 "[BUG?] `npm pack --json` removed from npm v6 to v7?"
### Current Behavior:
`npm pack --json` will completely ignore the `--json` option and output it's usual stuff anyway:
[code]

### Expected Behavior:
`npm pack --json` on npm v6 and earlier would output a json description of the tarball, which I believe was virtually identical to the output of [`getContents` in `lib/utils/tar.js`](https://github.com/npm/cli/blob/7d72b6868bc0eeb405a5d257b1ae8732636

[2020-10-25 10:29] emeryao opened #2039 "[npm update] won't save updated versions to package.json"
### Current Behavior:

with npm v7 the versions in `package.json` file won't be updated anymore after running `npm update`

### Expected Behavior:

with npm v6 `6.14.8` those versions are updated and save to the file of `package.json` as well as `package-lock.json`

### Steps To Reproduce:
1. create a working folder with a `package.json` and `package-lock.json` file with an outdated dependency and

[2020-10-25 10:43] emeryao commented on #2039
the *auto updated* versions to `package.json` is the feature that I preferred npm so please bring it back if possible

[2020-10-25 15:20] Suraez opened #2040 "Getting 404 error while running "npm publish" from the terminal"
i checked the issue 1637 but couldn't find the solution.
The error I am getting is
[code]

Steps to reproduce :

1. clone this repo: gh repo clone bnb/bitandbang (https://github.com/bnb/bitandbang.git)
2. change the package name in package.json
3. login with the npm credentials: npm login
4. finally publish it to npm registry: npm publish

The environment I am on is :
- OS: Ubuntu 20.04
- Node: 10

[2020-10-25 16:42] Ymirke commented on #2036
I've tried out workspaces, they do work. Could you add some details about what is not working for you? I had to resolve some issues on my end to get it properly working.

Also I agree, I don't think workspaces are in the documentation yet - that should be added.

[2020-10-25 16:56] Ymirke commented on #1904
@detj no, as far as I've tested it does not.

[2020-10-25 22:07] jmacura commented on #2034
I confirm the same experience on Windows 10 1909 with NodeJS 15.0.1.
And I agree that such a behaviour seems undesired to me.

[2020-10-25 22:28] jmacura commented on #1975
I confirm such behaviour on Win 10 1909 with NodeJS 15.0.1.
This is really unpleasant and undesired bug.

I have a repo with directory called `examples`, where the `package.json` and its corresponding `node_modules` reside. Then there is a bunch of subdirectories like `examples/full` or `examples/simple` where I used to execute `npx webpack` etc. Creating empty `package.json` in each one of them j

[2020-10-26 03:31] ScottG489 commented on #1055
I think this is absolutely worth investing time in to fix. `npm install` is failing to install yet is exiting with a status code of `0`. It's really not acceptable for the **INSTALL** command to not install yet exit with a successful status code.

It's further confused by the fact that other `WARN` messages don't result in packages not being installed.

Also as @DanielRuf mentioned, it does seem t

[2020-10-26 04:12] ioslh commented on #2027
Same issue occurs

[2020-10-26 04:38] watilde commented on #1032
I just noticed https://github.com/npm/cli/pull/1071 is merged and I'm curious about this part: `What's "better" about it?` asked by @isaacs and would love to get feedback for further improvements as meant was designed to use in npm at https://github.com/npm/npm/pull/10382. I'm sharing some facts I gathered in the below and still believe that it's hard to find a strong reason why it's already migra

[2020-10-26 04:44] ljharb commented on #1055
It seems to me that an invalid name shouldn't actually interfere with any action but `publish` or `link`, since those are the only ones that actually *need* a valid name. In other words, `npm install` with an invalid name should always succeed (altho perhaps, it should still warn about the invalid name).

[2020-10-26 04:44] ljharb commented on #1055
Can anyone confirm that this issue still occurs in npm 7?

[2020-10-26 05:23] ScottG489 commented on #1055
@ljharb It doesn't appear to be. Not exactly at least:

[code]

However, it also doesn't appear to `WARN` either, and I agree with you that it probably should. Perhaps the requirements on project name validation were relaxed?

Thoughts?

[2020-10-26 05:52] ljharb commented on #1055
If it installs with or without a valid name, that suggests the issue is fixed, whether there's a warning or not. Thoughts? @richseviora?

[2020-10-26 06:13] sindhurgowda opened #2041 "issue from npm"
npm ERR! code EINVALIDTYPE
npm ERR! typeerror Error: Argument #2: Expected array but got string
npm ERR! typeerror     at EventEmitter.install (C:\Program Files\nodejs\node_modules\npm\lib\install.js:195:3)
npm ERR! typeerror     at Object.commandCache.<computed> (C:\Program Files\nodejs\node_modules\npm\lib\npm.js:156:13)
npm ERR! typeerror     at C:\Program Files\nodejs\node_modules\npm\lib\link

[2020-10-26 06:14] sindhurgowda commented on #2041
let me know how to solve issue

[2020-10-26 06:15] ljharb commented on #2041
What version of node and npm are you using?

[2020-10-26 06:23] sindhurgowda commented on #2041
npm : 6.14.7
node : v14.7.0

[2020-10-26 06:24] ljharb commented on #2041
Can you try two things:
1. `npm install -g npm@6`, and see if it happens with the latest npm 6?
1. if that still fails, `npm install -g npm@7` and see if it happens with npm 7?

[2020-10-26 06:56] zloirock commented on #1865
This bug causes problems for [`core-js`](https://github.com/zloirock/core-js).

https://travis-ci.org/github/zloirock/core-js/builds/738834230

[2020-10-26 07:12] jam-one opened #2042 "Typescript installation error"
D:\>npm install -g typescript
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\xxxxxxxxxx\AppData\Roaming\npm-cache\_logs\2020-10-26T07_04_22_071Z-debug.log

The log file:
0 info it worked if it ends with ok
1 verbose cli [
1 verbose c

[2020-10-26 07:18] charles-dexter-ward commented on #1962
Nodejs 15.0.1
npm 7.0.3

Using "npm set config <path>", pointing to my user profile folder. It now points to the correct modules folder, but now, executing an outdated request (npm outdated -g) it lists way way more outdated packages .

![image](https://user-images.githubusercontent.com/2855255/97143845-b91fc400-1763-11eb-8a1e-25ce22e30f71.png)

and the list continues for a lot more packages ...

[2020-10-26 07:22] charles-dexter-ward commented on #2002
https://github.com/npm/cli/issues/1962#issuecomment-715911549

could solve the problem for someone (not for me https://github.com/npm/cli/issues/1962#issuecomment-716357702)

[2020-10-26 07:27] gboston opened #2043 "[BUG] default registry in .npmrc isn't used during npm install"
### Current Behavior:
I'm setting a different default registry in my project .npmrc file. via

[code]

I would expect this results in packages only taken from my registry instead of npmjs.org. When I do an npm install, I see all packages referred to npmjs.org instead of the custom registry in my package-lock.json. When I do an install which explicitly mentions the registry everything is working as

[2020-10-26 08:22] schmitts opened #2044 "[BUG] Documentation cannot be build behind https proxy"
### Current Behavior:
The documentation build during the installation of npm fails when an https proxy is used:

[code]

### Expected Behavior:
Installation does not fail.

### Steps To Reproduce:
[code]

### Environment:
- OS: Ubuntu 20.04
- npm: 6.14.8

[2020-10-26 08:22] W3mediaPl commented on #2022
I tried this way, but still failed.

[2020-10-26 08:46] dr-js opened #2045 "[BUG] npm publish tarball got `ENOTDIR: not a directory` error"
### Current Behavior:

With command like `npm publish /path/to/tarball/from/npm-pack.tgz`, npm will error with:
[code]

And the log file:
<details><summary>[/home/dr/.npm/_logs/2020-10-26T08_40_37_321Z-debug.log]</summary>

[code]

</details>

### Expected Behavior:

Should just publish the tarball, currently npm seem to think this is a folder to run `npm pack` with.

### Steps To Reproduce:

Shou

[2020-10-26 09:12] dr-js commented on #2045
The current walkaround is switch back and publish with `npm@6`:
[code]
or use `npx` as a manual temp fix:
[code]
Both are tested and should work.

[2020-10-26 09:22] Alex0007 commented on #1989
This error is happening to me also when i trying to install some dependency, `react-scripts` for example

[code]

<details>
  <summary>Debug log</summary>

[code]
</details>

[2020-10-26 10:04] aukevanleeuwen commented on #2008
Have the same thing. Changed my configuration to use `username` and `_password` rather than `_auth` and that seems to work.

[code]

[2020-10-26 10:17] sindhurgowda commented on #2041
npm install -g npm@6 and npm install -g npm@7 tried installing but still failed

[2020-10-26 13:34] juliankleine commented on #2017
Also ignores `NODE_ENV`
Tested with `NODE_ENV=production npm ci`

[2020-10-26 13:35] raghda94 commented on #1800
@nlf I'm facing the same issue with npm v7.0.3 here's an output of what I get
`npm http fetch GET 200 https://registry.npmjs.org/aws-sdk/-/aws-sdk-2.778.0.tgz 31307ms
npm timing reifyNode:node_modules/serverless/node_modules/aws-sdk Completed in 34351ms
npm timing reify:rollback:createSparse Completed in 0ms
npm timing reify:rollback:retireShallow Completed in 1ms
npm timing command:install Comple

[2020-10-26 14:30] ScottG489 commented on #1055
I'm happy with that. I think it's debatable if there should be a warning with the install if it could cause other actions to fail. But that can be a separate issue if someone feels the need to make it.

[2020-10-26 14:58] nlf commented on #1947
i've identified the issue and am working on a fix, hopefully we'll have something for you soon!

[2020-10-26 15:05] WuglyakBolgoink commented on #2039
same

[2020-10-26 16:09] pablote commented on #1973
same here for macOS, reverted to npm 6.x.x fixed the issue for me

[2020-10-26 16:14] ruyadorno commented on #2036
hi @justinfagnani thanks for the feedback 😊 Let me try my best to clarify a few things:

It's there in the documentation bundled with npm v7, to read it you can run:
- `npm help workspaces` Open manual page in the terminal
- `npm help workspaces --viewer=browser` Opens the same doc page in a browser instead

While we strive to build perfect software, there are sometimes unintended bugs and/or adju

[2020-10-26 16:14] #2036 closed, assigned to nobody

[2020-10-26 17:00] FezVrasta commented on #1935
Hitting this too, it broken all our CI scripts... Why did you introduce a breaking change in a minor/patch release?

For anyone having this issue on Circle CI, you can set a global environment variable to set the `npm_config_yes` variable to `true` to all your jobs

[2020-10-26 17:21] yeisonqb opened #2046 "[BUG] The system cannot find the file specified"
Hello, someone knows how to fix this error, I would appreciate it if someone knows how to fix it, thanks

`npm run dev`

[code]

[2020-10-26 17:29] ljharb commented on #2042
Try `npm install -g npm@6` so you're on the latest version of npm 6?

[2020-10-26 17:30] ljharb commented on #2043
The way to set a registry in .npmrc is with `registry=https://registry_url`, not with a bare URL.

[2020-10-26 17:31] ljharb commented on #2041
If both of those failed, could you try installing the latest version of node 14, 14.13?

[2020-10-26 18:04] #2043 closed, assigned to nobody

[2020-10-26 18:24] protyposis commented on #2036
Hi @ruyadorno, thank for the helpful clarification. Could you please also elaborate on the following workspace-related questions:

 * Is there supposed to be one single `package-lock.json` at the workspaces root (like Yarn 1 does), or can/should there be individual lockfiles in workspace packages (like Lerna creates them)?
 * How are we supposed to install/uninstall packages within a workspace? It

[2020-10-26 18:30] toridoriv commented on #2000
Thank you so much! You saved my life 😅

[2020-10-26 18:36] rumax commented on #2000
Same issue on Circle CI with

[code]

Downgrading node to `14` fixes the issue

[2020-10-26 18:52] seth-church commented on #1952
Same error here.
node --version
v14.14.0
npm --version
6.14.8

Here's the end of the log file:
45907 http fetch GET 200 https://our-repo/npm-ics/aws-sdk/-/aws-sdk-2.778.0.tgz 71573ms
45908 silly extract aws-sdk@^2.601.0 extracted to /home/seth-church/Projects/areabook-web/node_modules/.staging/aws-sdk-034831bb (71589ms)
45909 timing npm Completed in 513789ms
45910 error cb() never called!
45911 er

[2020-10-26 19:01] wesleytodd commented on #2034
This example should be a full reduced repro:

[code]

Also tried the above `link` command with `--no-save` which did not change the behavior and might be another bug.

[2020-10-26 19:05] Gameghostify commented on #2034
Workarounds:

1. You could just symlink it manually (`ln -s ../foo-bar ./node_modules/foo-bar`)
2. You could do the following:
[code]

[2020-10-26 19:06] adam-thomas-privitar commented on #786
For anyone coming here it works if you have `engine-strict=true` in the projects `.npmrc` (also not deprecated). Weirdly it works with `npm install` but not `npm install whatever` -- but thats another, separate bug :/

[2020-10-26 19:08] ruyadorno commented on #2036
Yep, there should be just one single `package-lock.json` 👍

For `npm@7.0.x` alone the best way to handle them is manually editing the `package.json` for each child workspace and run `npm install` from the top-level 😊

hmmm 🤔 might be a legit bug - from your specific example it would be nice to validate that both `@myworkspace/package-b` and `@myworkspace/package-a` are properly defined/discoverabl

[2020-10-26 19:11] enaSo97 commented on #1952
Same error here!
node version v14.12.0
npm version 6.14.7

`6786 error cb() never called!
6787 error This is an error with npm itself. Please report this error at:
6788 error <https://npm.community>
`

On command

`npm install aws-amplify aws-amplify-react-native @react-native-community/netinfo`

[2020-10-26 19:18] ljharb commented on #2034
Unfortunately symlinking it manually like that won't set up any binary symlinks, nor will it run the appropriate lifecycle scripts.

[2020-10-26 20:11] cloudratha commented on #477
@xqin to me that looks like it's working. `--only=dev` should only install your `devDependencies` of which `safe-buffer` is not in.

Still think it's buggy as I can't for the life of me get `rimraf` installed with the flag with it in my `devDependencies`, but found this which helped explain why:

https://npm.community/t/dev-only-only-dev-install-fails-when-module-is-a-dependency-of-multiple-places

[2020-10-26 20:16] shreeyaBuilds opened #2048 "I am not able to create a react app with npx create-react-app react-app."
I have tried :

running cmd as an administrator,
running npm i -g create-react-app and create-react-app react_app
but getting the error cb() never called! ....

full description of the error-

Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts with cra-template...

[           .......] | extract:regenerator-runtime: sill tarball trying assign-s

[2020-10-26 21:24] strican commented on #2000
FYI, this seems to be an issue I'm getting on the out-of-the-box Typescript `create-react-app`. @isaacs, that may be worth adding to a test pass somewhere, it seems like a pretty major project that you'd want to verify before release.

Repro steps:
[code]

@isaacs It seems like the issue is fixed via [npm/arborist@1d6b057](https://github.com/npm/arborist/commit/1d6b0577b2adab7d7a52e62c8576cd9a915e

[2020-10-26 21:32] justinfagnani commented on #2036
Thanks for the response @ruyadorno. I didn't mean to imply that I think npm should make perfect software. I just really could tell what the status of the feature was given its absence from the docs site, and my inability to get it working beyond the initial install. I'll check out `npm help` and look forward to the 7.x docs on the website. I'll follow up on specific issues for functionality.

[2020-10-26 21:55] isaacs commented on #2045
This was something we intentionally dropped support for, but not for any strong principled reason, just that we weren't sure anyone was using it.  Happy to bring support for that back, since I have some other small fixes to do in libnpmpublish anyway.

[2020-10-26 22:08] mdarse commented on #1957
Encountered the same issue. A workaround for me was to trigger lock file migration using `npx npm@7 dedupe` instead.

**EDIT:** I did the dedupe that after the removal of the `node_modules` directory.

I did a comparison of both lock files (the one I get with `dedupe` & the failing one), it appears that in addition to the `packages.*.bin` properties that got lost, `packages.*.engines` are gone too

[2020-10-26 23:14] MylesBorins commented on #1935
@FezVrasta the change came in the 7.0.0 Semver-Major change. We thought we fixed the CI issue by checking for TTY, but it seems there are edge cases we missed. Looks like #2047 is open to hopefully fix this for more CI environments

[2020-10-27 03:27] jonathanmarvens commented on #1962
I’m running into all of the issues on this thread 😞 . . . downgrading back to `v6.14.8` until these issues are resolved

[2020-10-27 03:29] jonathanmarvens commented on #2002
https://github.com/npm/cli/issues/1962#issuecomment-716954993

[2020-10-27 03:46] GowriP opened #2052 "Is node 14+ ever going to support FFI module?"
Is node 14+ ever going to support FFI module?

[2020-10-27 04:48] ljharb commented on #2052
This seems like a question better filed on node itself, instead of on npm?

[2020-10-27 08:50] Farfurix commented on #1964
I have a similar issue with using relative paths in the "bin" field.
My steps (npm v7.0.5):
1. Run `npm init -y`
2. Add the "bin" field with some relative path:

[code]

3. Run `npm i`
4. Result:

[code]

[2020-10-27 09:15] yixi8524 commented on #1890
Same problem, waiting for fix or an workaround.

Environment:
OS: Ubuntu 10.14.3 (Win10 was fine)
npm: 6.14.8
Node: 12.19.0

[2020-10-27 10:14] jam-one commented on #2042
D:\TypeScript>npm -v
6.14.5
Is there a more recent version of npm?
Cheers.

    On Tuesday, October 27, 2020, 12:29:25 AM GMT+7, Jordan Harband <notifications@github.com> wrote:

Try npm install -g npm@6 so you're on the latest version of npm 6?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-27 10:38] shreeyaBuilds commented on #1916
the same issue tried all above all solutions but still same error

[2020-10-27 11:51] juliankleine commented on #2048
Did you try using `npx create-react-app --use-npm test`?

[2020-10-27 11:51] joaogrgomes opened #2053 "Error code E404 @bug"
joao@samsung:~/apf-apj-gfn-base-online-master$ npm start

sh: 1: http-server: not found
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! apf-apj-gfn-base-online@1.4.1 start: `http-server`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the apf-apj-gfn-base-online@1.4.1 start script.
npm ERR! This is probably not a problem with npm. There is likely a

[2020-10-27 12:03] Vadorequest commented on #677
I wish we had this for Christmas 2020.

Honestly, whether it's JSON 5 or another standard, it'd be better than what we got at the moment.
Comments are so important in anything non-trivial. I don't understand why JSON5 isn't compatible with package.json file already, it's not like this file is going to be fetched from a browser or something alike. It's only used by node.js and it would be possible

[2020-10-27 12:34] protyposis commented on #1984
As a workaround to (un)install a package I currently delete all `node_modules` folders, delete the root `package-lock.json`, run `npm install`, and merge the new lockfile with the previous one. This of course kills the whole idea of a lockfile.

I experimented a lot with npm@7.0 over the last few days and this is the only issue I couldn't really find an acceptable workaround or fix for.

[2020-10-27 12:36] protyposis commented on #2035
This is probably related to what I described in https://github.com/npm/cli/issues/2036#issuecomment-716739306. The current answer in https://github.com/npm/cli/issues/2036#issuecomment-716762752 is that `npm install` does not support workspace packages yet and we need to edit the `package.json` manually (which, as you already said, doesn't work: https://github.com/npm/cli/issues/1984).

[2020-10-27 13:49] lewsea commented on #1916
@Shreeyag29 it do be like that sometimes

[2020-10-27 14:13] nlf commented on #1979
is this still an issue? i'm not able to reproduce it from `latest` on my end

[2020-10-27 14:16] nlf commented on #1975
i'm not able to reproduce this with 7.0.5, is this issue still happening for you?

[2020-10-27 14:54] nlf commented on #1955
@jsg2021 i don't suppose you've seen this happen with a public module? also, we did release some fixes related to auth of private registries, does this still happen for you in 7.0.5?

@t-fritsch i'm not able to reproduce that one in 7.0.5 either, can you try updating and let me know if it fixes it?

[2020-10-27 15:00] mcclenney commented on #1400
Issue was fixed in v6.14.7 with commit 36e6c01d334c4db75018bc6a4a0bef726fd41ce4

[2020-10-27 15:00] #1400 closed, assigned to nobody

[2020-10-27 15:00] mcclenney commented on #1953
What version of NPM v6.14 are you on? I had this problem, https://github.com/npm/cli/issues/1400, with git dependencies starting in v6.14.5, but it was fixed in v6.14.7 with commit 36e6c01d334c4db75018bc6a4a0bef726fd41ce4

[2020-10-27 15:10] t-fritsch commented on #1955
thank you @nlf, unfortunately I just tried with 7.0.5 and still get the same error message

[2020-10-27 15:13] nlf commented on #1955
can you share more details? are you running `npx serve` from a directory that has a package.json? is serve a local dependency, or globally installed? the debug log mentioned in the error output may also be helpful

[2020-10-27 15:14] Nicholaiii commented on #1975
Updating to npm@7.0.5 gives me another, but seemingly related, error, that is also fixed by making an empty package.json

[code]

[2020-10-27 15:17] nlf commented on #1975
the log output above shows npm 7.0.1, is that correct? you should be able to update with `npm i -g npm@7`

[2020-10-27 15:22] bencergazda opened #2054 "Cannot install private github repository with https"
`npm install --verbose` with package.json containing

[code]

### Current Behavior:

[code]

It uses SSH to connect, and not the given token.
- if no SSH is configured, it fails to install the repo _even if the token is valid_
- if SSH is configured, it installs the repo _even if the token is invalid_

### Expected Behavior:

It should use the credentials from the package URL. It should
- install

[2020-10-27 15:22] Indieaiden commented on #1916
Same error here trying to install some pre-edited bootswatch theme to work with.
[2020-10-27T15_13_22_122Z-debug.log](https://github.com/npm/cli/files/5446271/2020-10-27T15_13_22_122Z-debug.log)

That's the log, also made a cache verify and such. Still not working.

[2020-10-27 15:30] Nicholaiii commented on #1975
My mistake, the log output shows `7.0.1` because I reverted to `7.0.1`, before reporting back, where I also get the error like this now.

![image](https://user-images.githubusercontent.com/7280931/97323904-8cf26900-1871-11eb-836f-07ad5a98e477.png)

[2020-10-27 15:30] t-fritsch commented on #1955
yes of course :
- running from a directory with or without a `package.json` file results in the same error message.
- installing the package as a local dependency with `npm i serve` before running `npx serve` works
- using npx@6 works fine in every situation (with or without `package.json`, with or without locally installed package)
- here is the log output :
<details>
<summary>cat /home/xxxxxxxxx

[2020-10-27 16:20] markmckenna opened #2055 "[BUG] Seemingly erroneous peer dependency conflict (ERESOLVE)"
Using `npm@7.0.3`

package.json:
[code]

### Actual
[code]

*NOTE:* Without `--strict-peer-deps` this resolves fine, without any (related) warning.

### Expected

It seems like these peer dependencies should resolve just fine:
* I full-depend on `webpack` major 4 and `webpack-dev-server`
* `webpack-dev-server` peer-depends on `webpack` major 4 or 5 and `webpack-dev-middleware`
* `webpack-dev-middl

[2020-10-27 16:30] arielnmz commented on #1953
I don't recall, but I did update to the latest patch of dubnium and it went away

[2020-10-27 16:30] #1953 closed, assigned to nobody

[2020-10-27 16:40] markmckenna opened #2056 "[BUG] npm ls, prune do not respect workspaces(?)"
### Current Behavior:
[code]

### Expected Behavior:

I think that if I'm using workspaces, and `npm install` can hoist duplicates into the root, then:
* `npm ls` should recognize child projects' demands when run from the root and not list them as extraneous;
* `npm ls` should cope with being run from a non-root project (showing me my dep tree as the current project cares about it, seeing packages

[2020-10-27 17:41] fluffynuts opened #2057 "[BUG] Attempting to publish an updated version of an existing package whilst not authenticated fails in a 404"
### Current Behavior:
I tried to publish an updated version of a package I own (`exec-steps`, not that it matters -- I had the same problem with a brand-new package about 20 min later) and received a 404 and a message that the package didn't exist.

We use a private registry, so I have to log in to both. I have built a util which helps with setting up creds (meant for password reset day), and this

[2020-10-27 17:50] sandeepdussa commented on #1916
**Node v14.14.0
NPM 6.14.8
Windows 10 machine**

Facing this error when running the command '**npm outdated**'

**npm ERR! cb() never called!**

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

[2020-10-27 18:28] rumpl opened #2058 "[BUG] `npm start` no longer runs `node server.js`"
### Current Behavior:

With npm 7.x, running `npm start` when there is no `"scripts": { "start": "... }` but a `server.js` file is present throws an error:

[code]

### Expected Behavior:

When I run `npm start` **and** a `server.js` file is present, `npm start` should run `node server.js`

### Steps To Reproduce:

With a directory like this:
[code]

Contents of the package.json file:
[code]

Cont

[2020-10-27 18:39] darcyclarke commented on #2053
@joaogrgomes this doesn't look like it's a bug with npm itself; Potentially you need to install [`http-server`](https://www.npmjs.com/package/http-server) before running `npm start` (but there may be other issues with your project that I can't determine with the above at the moment). If you find a bug in npm itself, please use our issue template in the future: https://github.com/npm/cli/issues/new

[2020-10-27 18:39] #2053 closed, assigned to nobody

[2020-10-27 18:42] Yodablues commented on #2000
Also having this issue after upgrading to Node 15.0.1 and npm 7.0.5.

[2020-10-27 19:27] kaznovac commented on #1916
ignore my previous comment about `npm cache verify`, i just got lucky while installing (1600-1700 packages)

this seems to have something with network state and/or network tools (bunch of errors while trying `yarn install` might be a hint); i've disabled little snitch and adguard also switched to cell hotspot, and installation worked (don't have time to experiment further, deadline is tomorrow xD)

[2020-10-27 19:36] ljharb commented on #1964
If anything, it should *include* the `./` - but ideally it wouldn't modify the field value at all.

[2020-10-27 19:36] ljharb commented on #2042
@jam-one yes, `v6.14.8`.

[2020-10-27 20:40] ljharb commented on #677
The first step would have to be adding native support in *node itself* for loading another format, so that every tool in the ecosystem could switch to using it to read package.json. Once *all* of them switched, then it'd be reasonable to suggest npm supporting that format for package manifests.

[2020-10-27 21:53] nlf commented on #1935
we published 7.0.6 today that should hopefully resolve this. we now skip the prompt entirely if you appear to be running in a CI environment.

let us know if you continue to have issues!

[2020-10-27 21:54] nlf commented on #1947
hi @rafgraph! we published 7.0.6 of npm today that should resolve this for you, can you update with `npm install -g npm@7` and let me know how it goes?

[2020-10-27 21:54] nlf commented on #1973
we published 7.0.6 today that should resolve this, can you try updating with `npm install -g npm@7` and let us know how it goes?

[2020-10-27 23:56] jam-one commented on #2042
I tried that and got the same error.
D:\TypeScript>npm install -g npm@6
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\xxxx\AppData\Roaming\npm-cache\_logs\2020-10-27T23_55_20_263Z-debug.log

    On Wednesday, October 28, 2020, 2:36:

[2020-10-28 00:34] isaacs commented on #2000
@strican It's in @npmcli/arborist 1.0.4, which is included in npm 7.0.4 https://github.com/npm/cli/releases.

This issue has gotten quite a few "me too" comments that are in fact different examples, with different versions of npm in some cases.  Please post new issues for problems that occur with different packages, or using different versions of npm.  The original post here has been root-caused,

[2020-10-28 00:36] isaacs commented on #2058
https://github.com/npm/run-script/pull/10

[2020-10-28 00:42] isaacs commented on #2057
So, to be clear, is the package you're getting a 404 from on the public registry, or on your private registry?

if the package is private, and you're not logged in, then a 404 is an appropriate response, because a 403 would leak the existence of an object that you may not be allowed to know about.

[2020-10-28 00:44] isaacs commented on #2055
Fixed in latest release.

[2020-10-28 00:44] #2055 closed, assigned to nobody

[2020-10-28 00:44] isaacs commented on #2052
off topic

[2020-10-28 00:44] #2052 closed, assigned to nobody

[2020-10-28 02:00] mhart opened #2059 "[BUG] Cannot find module 'yaml' when installing 7.0.6 with install.sh"
### Current Behavior:
[code]
### Expected Behavior:

7.0.6 should install like 7.0.4 and previous versions do using this script

### Steps To Reproduce:

[code]

### Environment:

Node.js 15.0.1
Alpine Linux

The last working version seems to be 7.0.4:

[code]

[2020-10-28 02:03] mhart commented on #2031
Duplicate of #606

[2020-10-28 02:03] mhart commented on #2059
With this, and the [current `EXDEV` bug with 7.x](https://github.com/npm/cli/issues/606), there appears to be no way now to update npm@7 in a docker container/image.

[2020-10-28 02:08] samscodes commented on #2039
I have the same problem.

[2020-10-28 02:10] ruyadorno commented on #2036
btw new docs are up 😍 https://docs.npmjs.com/cli/v7/using-npm/workspaces - thanks @ethomson ❤️

[2020-10-28 02:10] samscodes commented on #2035
I have the same issue

[2020-10-28 04:50] yousifalraheem opened #2060 "[BUG] npm outdated ignores proxy and registry configs"
### Current Behavior:
Runing `npm outdated` will throw an error ignoring the proxy and registry configurations. After upgrading to npm 7, I was unable to run `npm outdated` anymore.

### Expected Behavior:
Should work as intended showing the outdated dependencies.

### Steps To Reproduce:
Steps to reproduce the behavior (You need to run this behind corporate VPN and registry):
1. Set up the proxy

[2020-10-28 05:24] intrnl opened #2061 "[BUG] `npm pack` incorrectly packing packages"
### Current Behavior:

Given a `package.json` with this:
[code]

It would incorrectly pack the files matched with the trailing path separator (indicating a directory)

[code]

![image](https://user-images.githubusercontent.com/20620901/97395318-4b1bfe00-1917-11eb-879d-9a46437db567.png)

### Expected Behavior:

This does not happen with npm v6,

[code]

### Steps To Reproduce:
1. Create a package,

[2020-10-28 05:48] gcampax opened #2062 "[BUG] npm install as root does not run prepare scripts for git dependencies"
(This might be the same issue as https://github.com/npm/cli/issues/1287)

### Current Behavior:
If you run "npm install --unsafe-perm" (no other parameters) as root, git dependencies do not have their prepare script called. Other dependencies will be installed as normally.
The same problem applies to "npm link --unsafe-perm".

On other hand, running "npm install --unsafe-perm" or "npm install" as

[2020-10-28 06:52] fluffynuts commented on #2057
the packages I was having trouble with are all public, on npmjs.com. I mention the private repo only because I assume that my login to that repo caused the loss of credentials to npmjs. That's why I mention logging back in to npmjs.com as the step that resolved the issue for me -- but it wasn't obvious because of the 404.

[2020-10-28 07:00] shreeyaBuilds commented on #2048
i tried this too same error

[2020-10-28 07:51] lpinca commented on #2020
The issue was fixed in `npm@7.0.4`.

[2020-10-28 07:51] #2020 closed, assigned to nobody

[2020-10-28 08:16] protyposis commented on #1973
Confirming that it's resolved, thanks!

[2020-10-28 08:16] #1973 closed, assigned to nlf

[2020-10-28 08:19] lewsea commented on #1916
@kaznovac yeah i think it has something to do with network/firewalls and antivirus software, good thing it worked for you

[2020-10-28 08:59] fluffynuts opened #2063 "[BUG] npm view {package} time returns versions which cannot be downloaded"
### Current Behavior:
I'm writing a tool to "time-walk" to see what would have been downloaded (matching semvers) at a specific point in the past, specifically to try to track down which versions of some interdependent packages would unbreak a project I'm working on.

I find the cli `npm view {package} time` to be really useful, but have found that it can return versions which are not available, s

[2020-10-28 10:27] sheelu1997 opened #2064 "CLI"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

[2020-10-28 11:12] #2013 closed, assigned to nobody

[2020-10-28 11:48] WuglyakBolgoink commented on #2039
in my case I can't upgrade angular from v10.1.4 to v10.2.0 because old version already was installed... after removing package-lock file and node_modules folder nothing changed. `npm install` break the installing process

[2020-10-28 12:48] markmckenna commented on #2055
Apologies! I tried to update to latest yesterday and stayed at 7.0.3. I'll bring myself up.

[2020-10-28 13:31] briancalma commented on #1749
On my counterpart, I reinstalled the stable version of node

[2020-10-28 15:22] gjasny opened #2065 "[BUG] 7.0.6 regression in npm run"
Hello,

when I run the following testcase in the dockerfile with npm 7.0.6 it fails with:
[code]

Running it with 7.0.5 works as expected.

Dockerfile:
[code]

package.json:
[code]

Could you please take a look?

[2020-10-28 15:25] gjasny commented on #2065
For convenience I added both files into a repo: https://github.com/gjasny/2065-npm-error-reproducer

[2020-10-28 15:44] rafgraph commented on #1947
Yup, works great, thanks @nlf

[2020-10-28 15:44] #1947 closed, assigned to nlf

[2020-10-28 17:24] billyjanitsch commented on #2065
Duplicate of https://github.com/npm/run-script/issues/13. 🙂

[2020-10-28 17:28] feross commented on #724
I am noticing this same issue on npm 7.0.6.

[2020-10-28 17:28] feross commented on #1886
I am noticing this same issue on npm 7.0.6, except it happens for packages with are *only in `optionalDependencies`*.

[2020-10-28 18:20] christianbundy commented on #724
Fancy seeing you here.

I _think_ this bug is happening here: https://github.com/npm/init-package-json/issues/93

But I haven't had time to track it down.

[2020-10-28 18:30] feross commented on #724
It's happening when I run `rm -rf node_modules package-lock.json && npm install`.

Does `npm install` trigger `npm init` internally?

[2020-10-28 18:38] christianbundy commented on #724
I'm not sure, but I found the problem -- maybe this code is being called without `npm init`?

https://github.com/npm/normalize-package-data/blob/f2373b1bb423bb390e331658ed696483c6418d69/lib/fixer.js#L371-L379

I don't know what the use-case is for adding `optionalDependencies` to `dependencies`. I'll open a PR fixing it and maybe the maintainer will tell me why that's bad. 🙃

[2020-10-28 19:31] andrew-hm commented on #2036
Any plans to support "nohoist"? Required for react-native work

[2020-10-28 19:39] K2ouMais commented on #1962
npm 7.0.6 is out and the same problem still persists. ;o(

[2020-10-28 19:45] ruyadorno commented on #2036
hi @acates-happymoney I think it might be better to track that in a separate issue, would be awesome if you could provide a reproduction case so that it's easier for us to know better how to act on it 😊

[2020-10-28 19:47] ghost opened #2069 "[BUG] <npm config set rewrites previously written environment variables as their value>"
### Current Behavior:

When using `npm config set` on Windows, previously set environment variables (appearing as their string name) are re-written to the .npmrc as their value.

### Expected Behavior:

`npm config set [key] [value]` should not alter any other values in .npmrc other than the value of `[key]`.

### Steps To Reproduce:
Observe the following commands I ran on Windows 10 command promp

[2020-10-28 19:51] andrew-hm commented on #2036
Using _yarn_ as an example to contrast against in regard to  [noHoist](https://yarnpkg.com/blog/2018/02/15/nohoist/). Using the workspaces feature, _yarn_ does not add dependencies to _node_modules_ directories in your packages  –  only at the root level, i.e., _yarn_ hoists all dependencies to the root level. _yarn_ leverages symlinks to point to the different packages. Thereby, _yarn_ includes t

[2020-10-28 19:57] ruyadorno opened #2070 "[Feature] Add number of vuln count per type to npm audit fix output"
Currently reify-output will also print the number of vulns per type, e.g:

[code]

It should also implement this style of count per type for `npm audit fix` output.

### Current output:

[code]

### Proposed output:

[code]

from: https://github.com/npm/rfcs/discussions/266

[2020-10-28 20:06] ruyadorno opened #2071 "[Feature] Print registry config value before on npm login"
### Problem:
It is opaque which service will receive credentials for "npm login". This can lead to leaked credentials.

Logging into a non-standard registry is a 2-command process. Not only that, but one can be logged into multiple registries for various scopes. Give a multitude of registries, when I perform "npm login", depending on the flags, my credentials can be sent to a number of services. I

[2020-10-28 21:10] ghost opened #2072 "[BUG] npm config set [key] [value] modifies values of other [key]s"
### Current Behavior:

When using `npm config set`, npm sometimes modifies previously set values in the .npmrc not specified in the call, such as environment variable names.

### Expected Behavior:

Running `npm config set [key] [value]` should only modify the value of `[key]` in the .npmrc.

### Steps To Reproduce:
Observe the following commands in a Windows 10 command prompt with environment var

[2020-10-29 00:05] markmckenna opened #2076 "[BUG] npm link and dependency hoisting don't play nice?"
I am not 100% sure if this is a bug or I'm just misunderstanding the proper behaviour, but I don't really see a clear way to resolve it. I'm also having trouble building a minimal reproducing case because I don't seem to be able to play the `npm link` trick without first publishing the package I'm trying to cross-link.

### Explanation:
Imagine a repo like this:

[code]

I want to do local develop

[2020-10-29 00:24] koliberek0302 opened #2077 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-10-29 00:27] #2077 closed, assigned to nobody

[2020-10-29 02:10] mizukami234 commented on #1957
Same problem here.
I tried `dedupe` @mdarse suggested, but it didn't solve all packages.

It seems that some of `pkgMetaKeys` fields in [shrinkwrap.js](https://github.com/npm/cli/blob/latest/node_modules/%40npmcli/arborist/lib/shrinkwrap.js#L95) get different results between migrating and regenerating. I think [`fixDependencies`](https://github.com/npm/cli/blob/latest/node_modules/%40npmcli/arbori

[2020-10-29 06:13] ljharb commented on #2063
I'm able to run `npm install --no-save swiper@5.4.2` just fine, and https://unpkg.com/browse/swiper@5.4.2/ seems to work as well. What error do you get when trying to install it?

[2020-10-29 07:50] acomagu opened #2078 "[BUG] `npm -C ./dir exec cmd` fails"
### Current Behavior:

`npm -C ./dir exec foo` fails with ENOENT, even if `./dir` contains package.json.

### Expected Behavior:

`npm -C ./dir exec foo` runs foo command in `./dir` directory.

### Steps To Reproduce:

[code]

### Environment:

- OS: Manjaro Linux(Linux acm-manjaro 4.19.147-1-MANJARO SMP Wed Sep 23 18:00:56 UTC 2020 x86_64 GNU/Linux)
- Node: 15.0.1
- npm: 7.0.6

[2020-10-29 10:03] mansona commented on #1957
I've just come across this now, and running `npm dedupe` worked for me. Although when working with a colleague they didn't fix the issue by running `npm dedupe` and needed to delete node_modules and package-lock.json and reinstall 👍

Edit: that seemed to work for me locally but for me to get it to work in CI I needed to delete node_modules and package-lock.json and reinstall too

[2020-10-29 10:08] eight04 opened #2079 "[BUG] npm link error EPERM"
### Current Behavior:

[code]

### Expected Behavior:

Shouldn't the path be `.` instead of `..\..\..\..\dev\wakfu-autobuild`? Or at least it should be `..\..\dev\wakfu-autobuild`.

### Steps To Reproduce:

* Run `npm link` in a package.

I have this issue on multiple packages so I guess it's not a package issue. You can find them here:
https://github.com/eight04/sync-version
https://github.com/ei

[2020-10-29 10:54] skcc75 opened #2080 "[BUG] Cannot read property 'matches' of undefined"
### Current Behavior:
`npm i` with `npm v6` works

### Expected Behavior:
`npm i` working with `npm v7`

### Steps To Reproduce:
Run `npm i` for the following `package.json`:

[code]

### Environment:
Windows 10 2009 x64, Node.js 15.0.1, npm v7.0.3 / v7.0.6

[2020-10-29 11:15] JakeChampion commented on #1955
We are seeing the same issue for two other packages as well:
- [`oax`](https://www.npmjs.com/package/oax)
- [`@financial-times/sass`](https://www.npmjs.com/package/@financial-times/sass)

I don't think this is to do with multiple different registries being used as I can replicate the issue when using only the public npmjs registry.

Here is the [github workflow build which fails when using npmjs p

[2020-10-29 11:20] eps1lon commented on #1935
Works for us now: https://github.com/testing-library/react-testing-library/pull/809/files

Thank you for the quick fix!

[2020-10-29 12:03] macno commented on #2023
We are facing the same issue. In Jenkins we use `npm run -s cmd` to retrieve some infos, this bug completely broke our pipelines.

[2020-10-29 14:04] #2064 closed, assigned to nobody

[2020-10-29 14:58] #1935 closed, assigned to nlf

[2020-10-29 15:36] sutula commented on #1912
@darcyclarke I question removing the "Bug" label.  Though the original post was posed as a request for information, the underlying issue is that license text was introduced into the project that appears to be misleading.  I would maintain this to be a project defect.

[2020-10-29 17:29] ljharb commented on #2078
Try `-c` instead of `-C`.

[2020-10-29 18:05] fluffynuts commented on #2063
I _was_ getting something along the lines of "not able to find package swiper@5.4.2", but now, I'm not. It wasn't once-off either -- it was well repeatable! :confused:

[2020-10-29 18:43] amaster507 opened #2082 "[BUG] husky command failed code 1"
### Current Behavior:
Just installed npm7 npm install -g npm@7 and did a install of our previous working app. We use husky to run some scripts on push to take a graphql schema and push it to the graph database if it changes. Without changing the schema and just trying to push the new package.json and package-lock.json files updated with npm@7, the push fails with the error message:

[code]

### Ex

[2020-10-29 21:03] nlf commented on #2079
the logged message is admittedly a little confusing..

what it's trying to do is create a symlink at `C:\Users\eight04\AppData\Roaming\npm\node_modules\wakfu-autobuild` that points to `..\..\..\..\dev\wakfu-autobuild`, which relative to the first path would be `C:\Users\eight04\dev\wakfu-autobuild` which given the directory noted in your prompt at the top of the above snippet appears to be correct

[2020-10-29 22:18] ljharb commented on #2063
If you have an internal registry, or a proxy, it's possible that it was timing out or taking awhile to seed its own cache?

[2020-10-29 22:19] code4cbe commented on #1142
Hi Daniel, I also having the same issue  with node version v14.15.0 and npm version 6.14.8

[2020-10-29 23:20] jaydenseric opened #2084 "[BUG] Errors when installing a GitHub repo dependency with a prepare script using a command from a dev dependency"
### Current Behavior:

npm v7 errors when installing a GitHub repo dependency that has a `prepare` script that uses a command from a dev dependency. The command appears to be missing when run by the `prepare` script.

### Expected Behavior:

npm v7 should be able to install GitHub repo dependencies that have a `prepare` script without an error, like npm v6 could.

### Steps To Reproduce:

Try `npm

[2020-10-30 00:28] tolmasky opened #4251 "[BUG] dist.tarball doesn't need to be changed to http:// anymore."
# What / Why

[This line](https://github.com/npm/libnpmpublish/blame/latest/publish.js#L143) takes the "predicted" tarball URL and unconditionally downgrades it to `http://` from `https://`, even if you are using your own custom registry (as is my case and how I ran into this). The npm registry ignores this parameter now anyways (except apparently to check for its presence?), as you can actually s

[2020-10-30 02:11] Tizzit-max opened #2085 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-10-30 03:19] acomagu commented on #2078
@ljharb It also produces an error.

[code]

And `-c` option is not listed as global options.

https://docs.npmjs.com/cli/v6/using-npm/config#shorthands-and-other-cli-niceties

I mean, `--prefix` option doesn't work with exec subcommand.

[2020-10-30 03:24] #2085 closed

[2020-10-30 03:27] fluffynuts commented on #2063
We have a private registry (which supports producing), but I don't use it as the primary (rather use an .npmrc and namespacing) specifically to avoid oddness. No proxy either.

I literally had to build verification into the tool I was working on (time-walker, up at npmjs, installs packages satisfying project semver as at specified date): my first pass just used `npm view {package} time` to pick a

[2020-10-30 03:31] ljharb commented on #2078
`npm exec --help` lists `-c` and not `-C`, so `-C` isn't a thing.

As for `-c` not working, I suspect #2081 might fix this?

[2020-10-30 04:14] eight04 commented on #2079
Yes:

[code]

----

According to Google, it seems that only admins can create symbolic links on Windows:
https://github.com/nodejs/node-v0.x-archive/issues/6342#issuecomment-26214543

With further testing, I found that this throws:
[code]
This works:
[code]
(Both works if I open cmd as admin)

However, I haven't seen this error until npm@7. Was something changed in the new version?

[2020-10-30 04:23] acomagu commented on #2078
@ljharb `npm help ls` doesn't list `-C` but `npm -C ./dir ls` works because it's global option(reference the link in my previous comment).

I think `-C` option should work with (almost) all subcommands.

[2020-10-30 05:34] emeryao commented on #2039
with npm `v6.14.8` the versions updated in both `package.json` and `package-lock.json` after running `npm update`  but with npm `v7.0.5` only `package-lock.json` have the updated version

[2020-10-30 08:29] macno commented on #2023
@CliffS there's a typo in the title: `s/rpm run-script/npm run-script/` would you mind to fix it? 🙇

[2020-10-30 11:12] salesh commented on #2070
Hi @ruyadorno isn't the case that in latest version 7

For example

npm audit

[code]

npm audit fix

now it's just showing ```up to date``` and at the bottom ```severity vulnerabilities```

[code]

Maybe I am missing something.

[2020-10-30 11:45] WuglyakBolgoink commented on #2039
correct, downgrade to node@14.x and npm@6.x fix the problem

[2020-10-30 12:06] alasdairhurst opened #2087 "[BUG] npm install fails when installing with prereleases of peerDependencies"
### Current Behavior:

As a developer of module "A", i want to use prerelease versions for development. Module "A" has a variety of plugins. let's call one of them "B".

Module "B" uses a certain feature only introduced in "A@1.5.0". It makes sense to use peerDependencies for this.
Inside "B"'s package.json we have this:
[code]
This makes it clear that "A" should be installed alongside "B" and tha

[2020-10-30 13:48] alasdairhurst commented on #2087
Looks like I may have been wrong here...
a peer of "^1.5.0-0" seems to include all future prereleases before 6.0.0

[2020-10-30 13:54] rekna1 opened #2088 "[BUG] when uninstall of package fails, renamed folders remain so subsequent removal attempts fails"
### Current Behavior:
- try to uninstall a package
- uninstall fails because some other program has locked the file or folder
- close the program that locks
- retry uninstall package
- it fails again but this time on rename folder
apparently , the first uninstall creates a copy of the package folder with a temporary name by appending some id string to the folder, but when uninstall fails this fold

[2020-10-30 14:07] MirKml opened #2089 "[DOCS] - missing --omit, difference between include"
First - new documentation site is nice, thanks!

Problem:
1.) In the config documentation - https://docs.npmjs.com/cli/v7/using-npm/config#legacy-peer-deps  - `--omit` is mentioned but no such option is presented in the list of option on the right side. Please add documentation for _omit_ option.

2.) It seems there is related option to _omit_ - _include_. Are these options targeted for same usage

[2020-10-30 14:41] ruyadorno commented on #2078
TIL `-C` is a shorthand for `--prefix` 😅 https://github.com/npm/cli/blob/latest/lib/utils/config.js#L341

So yeah, given that `lib/exec.js` relies on `prefix` I'm quite sure #2081 will fix this one too. We should have a release today with it so that you can give it a try @acomagu.

[2020-10-30 15:00] ljharb commented on #2078
ahhh TIL that too, sorry for misunderstanding.

[2020-10-30 15:49] ar4hc commented on #1989
my log of that error:

lots of stuff and then ...
[code]

[2020-10-30 15:52] Gameghostify commented on #2076
#2034 is related/duplicate

[2020-10-30 18:49] #1975 closed, assigned to nobody

[2020-10-30 19:10] darcyclarke commented on #2048
@Shreeyag29 which versions of `node` & `npm` are you using? Try updating to the latest version of both if you can. Also, in the future, if you can use one of our issue templates, it might help expedite the process of helping resolve any issues (ref. https://github.com/npm/cli/issues/new/choose).

[2020-10-30 19:22] darcyclarke commented on #1055
AFAICT, this issue is resolved in `6.14.8` & `7.0.7` (ie. latest `6.x` & `7.x`). Closing now but feel free to open a new issue using one of our templates if you're still experiencing problems (ref. https://github.com/npm/cli/issues/new/choose).

[2020-10-30 19:22] #1055 closed, assigned to nobody

[2020-10-30 19:28] #1649 closed, assigned to nobody

[2020-10-30 19:33] darcyclarke commented on #1653
`Error: No package.json found: Cannot audit a project without a package.json` - looks like you haven't set up your project yet. Before installing a package, you should run `npm init` in the directory you'd like to start your project in; And/or manually create a `package.json` file so that `npm` can add/audit the dependency you'd like to install. If you'd like to install a dependency [globally](htt

[2020-10-30 19:33] #1653 closed, assigned to nobody

[2020-10-30 19:38] darcyclarke commented on #1656
I'm closing this since we are only able to support issues that relate to the npm CLI itself.

If you're experiencing issues with the npm registry/website you can contact support at https://www.npmjs.com/support OR, if you have feedback about the registry/website, you can add that to our new https://github.com/npm/feedback repo.

[2020-10-30 19:38] #1656 closed, assigned to nobody

[2020-10-30 20:00] privatenumber opened #2091 "[BUG] custom git user not being respected when installing from GitHub private org"
### Current Behavior:

Although I specify a different git user in `npm install` from GitHub, the `git ls-remote` always uses the user `git` and fails.

I believe I am given a different git user because this is a private org with enterprise authentication (Single-sign on / SSO).

### Expected Behavior:

For the `git ls-remote` to use the user I passed in.

### Steps To Reproduce:

[code]

Notice I

[2020-10-30 20:02] #1671 closed, assigned to nobody

[2020-10-30 20:05] darcyclarke commented on #1806
Closing: Please use one of our issue templates if you think you've found an issue in the npm CLI itself: https://github.com/npm/cli/issues/new/choose

[2020-10-30 20:05] #1806 closed, assigned to nobody

[2020-10-30 20:13] wesleytodd commented on #2076
I am seeing something very similar:

[code]

[2020-10-30 20:25] darcyclarke commented on #1966
Hey @BrennZA, if you're having trouble running ANY `npm` command at all (ie. `npm -v` returns nothing) then I'd suggest trying to reinstall your version of `node` (ref. https://nodejs.org/en/). Let me know if you're still experiencing issues or if you've found a work-around.

[2020-10-30 20:27] darcyclarke commented on #1952
Closing: Please use our issue template when filing a bug & confirm that there isn't a duplicate issue already filed: https://github.com/npm/cli/issues/new/choose

[2020-10-30 20:27] #1952 closed, assigned to nobody

[2020-10-30 20:30] darcyclarke commented on #1851
Closing: as @ljharb noted, this is an issue in `json-schema` & not `npm` itself.

[2020-10-30 20:30] #1851 closed, assigned to nobody

[2020-10-30 20:32] acomagu commented on #2078
Oh, thank you! I'm glad to know it.
I'm sorry for my poor explanation :pray:

[2020-10-30 20:33] darcyclarke commented on #1774
**Closing:** Please use one of our issue templates if you believe you've found a bug in npm itself; As well, please check to ensure that there is no existing duplicate issue for that problem (ref. https://github.com/npm/cli/issues/new/choose)

[2020-10-30 20:33] #1774 closed, assigned to nobody

[2020-10-30 20:34] darcyclarke commented on #1771
**Closing:** Please use one of our issue templates if you believe you've found a bug in npm itself; As well, please check to ensure that there is no existing duplicate issue for that problem (ref. https://github.com/npm/cli/issues/new/choose)

[2020-10-30 20:34] #1771 closed, assigned to nobody

[2020-10-30 20:34] darcyclarke commented on #1737
**Closing:** Please use one of our issue templates if you believe you've found a bug in npm itself; As well, please check to ensure that there is no existing duplicate issue for that problem (ref. https://github.com/npm/cli/issues/new/choose)

[2020-10-30 20:34] #1737 closed, assigned to nobody

[2020-10-30 20:34] darcyclarke commented on #1731
**Closing:** Please use one of our issue templates if you believe you've found a bug in npm itself; As well, please check to ensure that there is no existing duplicate issue for that problem (ref. https://github.com/npm/cli/issues/new/choose)

[2020-10-30 20:34] #1731 closed, assigned to nobody

[2020-10-30 20:34] darcyclarke commented on #1696
**Closing:** Please use one of our issue templates if you believe you've found a bug in npm itself; As well, please check to ensure that there is no existing duplicate issue for that problem (ref. https://github.com/npm/cli/issues/new/choose)

[2020-10-30 20:34] #1696 closed, assigned to nobody

[2020-10-30 20:49] #1462 closed, assigned to nobody

[2020-10-30 20:54] #1524 closed, assigned to nobody

[2020-10-30 20:54] #1491 closed, assigned to nobody

[2020-10-30 20:54] #1461 closed, assigned to nobody

[2020-10-30 20:54] #1428 closed, assigned to nobody

[2020-10-30 20:55] #1336 closed, assigned to nobody

[2020-10-30 20:55] #1330 closed, assigned to nobody

[2020-10-30 20:55] #1320 closed, assigned to nobody

[2020-10-30 20:55] #1284 closed, assigned to nobody

[2020-10-30 20:55] #1145 closed, assigned to nobody

[2020-10-30 20:56] #1107 closed, assigned to nobody

[2020-10-30 20:56] #1106 closed, assigned to nobody

[2020-10-30 20:56] #1006 closed, assigned to nobody

[2020-10-30 20:56] #832 closed, assigned to nobody

[2020-10-30 20:56] #1181 closed, assigned to nobody

[2020-10-30 20:57] #1011 closed, assigned to nobody

[2020-10-30 20:57] #828 closed, assigned to nobody

[2020-10-30 20:57] #806 closed, assigned to nobody

[2020-10-30 20:58] #1481 closed, assigned to nobody

[2020-10-30 20:58] #1407 closed, assigned to nobody

[2020-10-30 20:58] #1351 closed, assigned to nobody

[2020-10-30 20:58] #1276 closed, assigned to nobody

[2020-10-30 21:06] darcyclarke commented on #1570
Closing: we don't support the `amplify` project; If you think you've found a bug in `npm` itself, please use one of our issue templates to file a ticket: https://github.com/npm/cli/issues/new/choose

[2020-10-30 21:06] #1570 closed, assigned to nobody

[2020-10-30 21:58] ruyadorno opened #2092 "[BUG] npm install arborist error on create react app"
### Current Behavior:
Trying to run `npm install` in a `create-react-app` generated project and adding peer dependencies to top-level ends with unexpected failure:

**package.json**
[code]

[code]

### Expected Behavior:
`npm install` should complete install.

[code]

### Steps To Reproduce:
Create new project with `create-react-app`:

- `npx create-react-app newfolder`
- `cd newfolder`
- `npm ins

[2020-10-30 22:27] Robertmagana commented on #1106
What

[2020-10-30 22:37] ruyadorno commented on #2078
Published in `v7.0.7` 🎉 Thanks for the report @acomagu

[2020-10-30 22:37] #2078 closed, assigned to nobody

[2020-10-30 22:46] rafgraph commented on #1945
This appears to be solved in npm v7.0.7

[2020-10-30 22:46] #1945 closed, assigned to nobody

[2020-10-30 23:17] Milo123459 opened #2093 "[BUG] cannot install local package.json bin"
### Current Behavior:

gives a missing perm error
### Expected Behavior:

installs the cli
### Steps To Reproduce:
create a script, add a bin fields then run npm i -g .

### Environment:
OS: Windows 1909
Node: 15.0.1
npm: 7.0.5

[2020-10-31 01:08] limal commented on #1752
I fell like the current documentation (RFC) is really lacking in real-life examples. If you're stuck like I was yesterday you can learn on my misconception of the npm's workspaces (they are not like yarn workspaces at all) and how to actually use them in my article [Simplify your monorepo with npm 7 workspaces ](https://dev.to/limal/simplify-your-monorepo-with-npm-7-workspaces-5gmj).

[2020-10-31 04:55] obtusedev opened #2094 "npm v6.14.8 Cli typo"
Minor [Typo]

### Current Behavior:
`npm intall -h` is outputting => aliases: i, isntall, add. install is misspelled.

### Expected Behavior:
should be aliases: i, install, add

### Steps To Reproduce:
ex. steps to reproduce the behavior:
1. run `npm install -h`
2. On output where it says alias: i, install, add. install is misspelled as isntall.

### Environment:
- OS: Windows 10 2004
- Node: 14.1

[2020-10-31 05:07] macno commented on #2023
Released npm 7.0.7 that fixes it:

[code]

I think we can close this issue

[2020-10-31 05:32] macno opened #2095 "[BUG] running "npm i -g npm" actually downgrade npm to 6.14.8"
### Current Behavior:

I wanted to update npm from 7.0.3 to 7.0.7, so I ran - as I always did - `npm i -g npm`

[code]

I am able to update to latest 7 version using `npm i -g npm@7`

### Expected Behavior:

npm to be updated to latest version

### Steps To Reproduce:

### Environment:

- OS: Ubuntu 20.04
- Node: v15.0.1
- npm: 7.0.3

Note: installed via NVM

[2020-10-31 05:46] ljharb commented on #2094
This isn't a bug - it's intentionally supporting a common typo as an alias.

[2020-10-31 05:46] #2094 closed, assigned to nobody

[2020-10-31 05:46] #2023 closed, assigned to nobody

[2020-10-31 05:47] ljharb commented on #2095
This is intentional - npm 7 is not tagged as "latest" yet. When that changes, you'll be able to `npm install -g npm` v7; until then, you need to either `npm install -g npm@7`, or `npm install -g npm@next-7`.

[2020-10-31 05:47] #2095 closed, assigned to nobody

[2020-10-31 05:54] macno commented on #2095
Thanks @ljharb , I could have checked that myself. I think I gave that for granted since npm 7.0 is "officially" shipped with node 15

[2020-10-31 05:55] ljharb commented on #2095
To be fair, I was confused by the same thing :-)

[2020-10-31 14:39] Johannestegner opened #2097 "[BUG] npm version throws TypeError on 'trim'."
### Current Behavior:

When executing `npm version {version}` or even `npm version from-git` in my CI pipeline I get the following error:

[code]

### Expected Behavior:

The npm package version should be updated to defined version.

### Steps To Reproduce:

I use the following docker image (which is built from my ci as well): https://github.com/orgs/jitesoft/packages/container/package/node

The f

[2020-10-31 14:59] mdarse commented on #1957
@mizukami234 just to be clear, I did that after deleting `node_modules` (but not the lock file), my message missed that part.

[2020-10-31 15:19] pedrolamas commented on #1989
Latest 7.0.7 version still show this problem, so I updated the main issue above.

[2020-10-31 15:23] ljharb commented on #2097
Can you try on npm v7.0.7?

[2020-10-31 15:44] Johannestegner commented on #2097
Will do!

---

Edit: Takes a couple of more minutes, want to use the same image to be sure it's the same environment :P

[2020-10-31 15:59] mainnnamdi opened #2098 "[BUG] npx create-react-app not working"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\NNAMDI PC\AppData\Roaming\npm-cache\_logs\2020-10-31T15_36_44_937Z-debug.log

[2020-10-31 16:03] ljharb commented on #2098
What version of node/npm?

[2020-10-31 16:48] Johannestegner commented on #2097
Alright, finally got it up and running with the correct version of npm. Still the same issue though.
I find it odd that I experience this, due to the fact that I'm quite sure that thousands of people do this every day, and I don't use any odd commands really.

If you can't reproduce it, let me know and I'll set up a small reproducible case for you! :)

[2020-10-31 17:01] Johannestegner commented on #2097
Easiest way to test it is:

[code]

Node is built from source and if you wish to see the build procedure it can be found here:

https://github.com/jitesoft/docker-node-base/blob/master/.gitlab-ci.yml#L115

Just let me know if you need any more info or anything else.

[2020-10-31 17:03] Johannestegner commented on #2097
I just updated npm to latest version on my windows host and tested the command, and got this:

![image](https://user-images.githubusercontent.com/2530181/97785107-52efd280-1ba3-11eb-80ad-aa3ec5e0d5f4.png)

[2020-10-31 17:05] Johannestegner commented on #2097
Just updated my windows host npm and tested another package, it gave the same issue.

[2020-10-31 19:21] fluffynuts commented on #2063
closing, since there's no reliable way to repro

[2020-10-31 19:21] #2063 closed, assigned to nobody

[2020-10-31 21:11] Johannestegner commented on #2097
I must say that this a huge issue, as I have about 20 packages which are deployed quite often (weekly auto, and more often manually), each of which uses the same CI pipeline, and without the availability of the version command, they are all broken.
I guess I could change the base pipeline to use sed or similar to change the version, but one would expect the command to work as intended :/

[2020-11-01 00:31] davidje13 commented on #724
The mutating `normalize-package-json` behaviour has been there since the very first commit of that repository. And that repo is used in a lot of places by the various packages here. I suspect your change might be a bit dangerous.

I tried to track down what actually happened to break this (specifically, making `npm install` copy optional dependencies into regular dependencies, which is clearly bro

[2020-11-01 02:08] shadowspawn commented on #2097
I reproduced locally on Mac with your repo. I noticed the `package.json` in your [example repository](https://github.com/jitesoft/eslint-config/blob/master/package.json) does not have a version field. Adding one eliminates the error, so that may be a potential work-around.

The `package.json` documentation says:

 https://docs.npmjs.com/cli/v6/configuring-npm/package-json#version

[2020-11-01 10:41] Johannestegner commented on #2097
Ah tyvm @shadowspawn, that will be easy to fix! :)

[2020-11-01 15:55] spazax opened #2099 "Trouble installing Firebase"
![Capture](https://user-images.githubusercontent.com/8529857/97807759-ba755300-1c73-11eb-92b9-b2c770d4bced.PNG)

[2020-11-01 19:08] VictorPro007 opened #2100 "npm isn't installed"
Hello, I recently installed NodeJS and  when I check if npm is installed, it says this:
[code]
and here's my OS and NodeJS version:
* **Node.js Version**: 14.15.0
* **OS**: Windows 10 64-bit
Can someone help me, please?

[2020-11-01 20:22] ljharb commented on #2100
How did you install node?

[2020-11-01 20:26] VictorPro007 commented on #2100
By the official page (https://nodejs.org/en/download/)

[2020-11-01 22:54] tobua commented on #2033
Did a bit of research and found that the variable was set in a separate package called **npm-lifecycle** that has been removed from the npm CLI starting with version 7: [INIT_CWD in npm-lifecycle](https://github.com/npm/npm-lifecycle/blob/e2270ff3fd49ca8d0af2af13d404e60e296b4244/index.js#L97).

[2020-11-02 00:22] ljharb commented on #2033
What would INIT_CWD contain that wouldn't be in `process.cwd()`?

[2020-11-02 09:20] jasuri-iz opened #2102 "Unable to run npm ping after adding cafile"
I am unable to run `npm ping` after adding cafile certificates, getting below error:

**npm ERR! Bearer **** (token value)
npm ERR! /usr/local/etc/openssl@1.1/cert.pem is not a legal HTTP header value**

It was running perfectly fine before setting the **cafile** config.

I have already done below steps:

- npm config set cafile=/usr/local/etc/openssl@1.1/cert.pem
- export NODE_EXTRA_CA_CERTS=/usr

[2020-11-02 09:53] howshit opened #2103 "[BUG] OOM exit status inconsistent"
### Current Behavior:
We've encountered something weird recently:

We are running a script with docker image node:12.18.3-alpine, the script is causing OOM.

if we run it in "npm run oom" (oom is the script name, and the definition of this script is node scriptFileName.js), the exit code is 0, and if we are running it in "node scriptFileName.js" directly, the exit code is 139.

### Expected Behavi

[2020-11-02 12:50] YoshiWalsh opened #2104 "[BUG] npm link fails and deletes entire project"
Note that this same issue was reported back in 2017 on the now-archived repo: https://github.com/npm/npm/issues/15783

### Current Behavior:

I am using `npm link` to try to test changes I am making to an upstream dependency within my own project. In the dependency directory I run `npm link`. Then in my own project I run `npm link ffmpeg-stream`.

NPM gives the following error message when running

[2020-11-02 13:16] wintercounter commented on #2080
I could overcome this using `--legacy-peer-deps` flag until it's fixed.

[2020-11-02 14:01] pengweiqhca opened #2105 "npx issue on Windows: cannot find module"
https://github.com/npm/npm/issues/17869 and https://github.com/npm/npm/issues/18265 has fixed?

[2020-11-02 15:59] aredridel opened #2106 "[BUG] Installing git dependencies that share dependencies with the parent package fails"
ehavior:

In our main repo, grommet-styleguide is a git dependency. It depends on `systemjs`, as does the parent package.

With npm 7, that dependency is not where it can be found by the prepare script in grommet-styleguide.

[code]

### Expected Behavior:

When installing with npm 6, this works, and grommet-styleguide has access to systemjs when the prepare script is run, and the build completes

[2020-11-02 16:38] bjansen commented on #2003
Using `HTTPS_PROXY` as a workaround for https://github.com/npm/cli/issues/2060 does not work because of this second bug, outstanding.

[2020-11-02 17:13] ciobiano commented on #2098
Having the same problem, any fix yet?

[2020-11-02 17:20] ljharb commented on #2102
What node and npm version?

[2020-11-02 17:29] ljharb commented on #2080
Try v7.0.7?

[2020-11-02 17:45] nlf commented on #2065
i believe this should be fixed in 7.0.7, can you try to update with `npm i npm@7` and see if it's resolved for you?

[2020-11-02 17:54] darcyclarke commented on #2099
Closing: Please use one of our [issue templates when filing a bug](https://github.com/npm/cli/issues/new/choose) &, before filing, ensure that an existing issue doesn't already exist for the problem you're submitting.

[2020-11-02 17:54] #2099 closed, assigned to nobody

[2020-11-02 17:58] darcyclarke commented on #2098
@mainnnamdi this doesn't give us enough information to help you with this problem; Please follow/[fill out one of our issue templates](https://github.com/npm/cli/issues/new/choose) & ensure you've searched our existing issues for the same or similar bugs before submitting.

[2020-11-02 18:42] #1501 closed, assigned to ruyadorno

[2020-11-02 18:46] darcyclarke commented on #1668
Closing. Please feel free to reopen if you're still experiencing this issue.

[2020-11-02 18:46] #1668 closed, assigned to nobody

[2020-11-02 19:30] isaacs commented on #2092
Ah, yeah, this is failing because there's a conflict on the `peerOptional` dep.  It should fail, but should fail with this error:

[code]

[2020-11-02 19:31] isaacs commented on #2092
What's happening is that we don't have a valid resolution, so we try to pull from the virtualRoot.  But, the virtualRoot doesn't have it, because we don't load optional peers by default.  So the correct thing to do is leave it as an unmet dependency at that point, and attempt to resolve it later in the process.

[2020-11-02 19:41] jsdev-mario commented on #805
same issue

[2020-11-02 20:15] AmruthaFR opened #2107 "[BUG] 'formDirective' is defined as an accessor in class 'ControlContainer', but is overridden here in 'ConnectArray' as an instance property."
### Current Behavior:
Updated my project from **_Angular 8 to Angular 10._**

**package.json** contains :

[code]

After migrating to Angular 10 , i am getting below error,

**Error**

[code]
Angular: 10.1.6
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router
Ivy Workspace: Yes

Package                         Vers

[2020-11-03 02:59] wangjianio opened #2108 "[BUG] `npm build` returns exit code 0"
### Current Behavior:
[code]

### Expected Behavior:
[code]

### Environment:
- OS: macOS 10.15.7
- Node: v10.22.1
- npm: 6.14.6

[2020-11-03 05:59] shba007 commented on #1839
I experienced the same error when creating a new project in Angular 10. I am on windows 10 64-bit.
I explore the following node packages

- [x] Node  12.13.1  V8  7.7.299.13  npm 6.12.1
- [x] Node  12.16.3  V8  7.8.279.23  npm  6.14.4
- [x]  Node  12.18.4  V8  7.8.279.23  npm 6.14.6
- [ ] Node  12.19.0  V8  7.8.279.23  npm 6.14.8
- [ ] Node  14.15.0  V8  8.4.371.19  npm 6.14.8

and experienced the

[2020-11-03 08:04] jasuri-iz commented on #2102
Updated in the original description

[2020-11-03 09:15] skcc75 commented on #2080
@ljharb fixed

[2020-11-03 09:15] #2080 closed, assigned to nobody

[2020-11-03 09:51] jebarrientos opened #2109 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-11-03 11:34] tobua commented on #2033
Usually these are the same. The only case I know of is in the case of a postinstall script being run. There `process.cwd()` (and `env.PWD`) is set to the package where the script runs but `INIT_CWD` still points to the initial package where the npm install was run.

I was able to detect whether a script runs in postinstall without the `INIT_CWD` variable and so am fine with it being deprecated. I

[2020-11-03 13:09] alexandre-leng opened #2110 "I had this bug npm: '6.14.8',"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

I try to install angular but i had permission issue
Please see bug log

### Environment:
Windows 10
  npm: '6.14.8',
  ares: '1.16.1',
  brotli: '1.0.9',
  cldr: '37.0',
  icu: '67.1',
  llhttp: '2.1.3',
  modules: '83',
  napi: '7',
  nghttp2: '1.41.0',
  node: '14.15.0',
  openssl: '1.1.1g',
  tz: '2020a',
  unicode: '13.0',

[2020-11-03 14:02] sushil8383 opened #2111 "npm error"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\abc\AppData\Roaming\npm-cache\_logs\2020-11-03T13_58_52_163Z-debug.log

please help me to get fix this

[2020-11-03 14:03] sushil8383 opened #2112 "npm error"
npm ERR! cb() never called!

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\abc\AppData\Roaming\npm-cache\_logs\2020-11-03T13_58_52_163Z-de

[2020-11-03 15:29] ljharb commented on #2102
Can you try the same thing on the latest npm 7?

[2020-11-03 15:29] #2109 closed

[2020-11-03 15:30] ljharb commented on #2033
Seems like this can be closed?

[2020-11-03 15:33] ljharb commented on #2110
Please try with the latest npm 7?

[2020-11-03 15:34] ljharb commented on #2112
Duplicate of #2111.

[2020-11-03 15:34] #2112 closed, assigned to nobody

[2020-11-03 17:48] himanshurajputx opened #2113 "[ERROR] Migration failed. See above for further details."
### Current Behavior: angular 8.3

### Expected Behavior: 9.0

### Steps To Reproduce:
1. i have upgrade angular version 8.3 to 9.0. then first step is  **ng update**
2. **ng update @angular/core@8 @angular/cli@8**
3. **ng update @angular/core@9 @angular/cli@9**

then i have show this error **Migration failed. See above for further details.**

### Environment:
- OS: Ubuntu 20.04
- Node: 13.14.0
-

[2020-11-03 18:12] nlf commented on #2104
i've not been able to reproduce this one, with your instructions i actually don't get any errors at all (when running my terminal as admin, without admin i get EPERM errors when it tries to create the symlinks which i think is expected though is also something we can fix)

does this still happen for you with npm 7.0.7?

[2020-11-03 18:21] darcyclarke commented on #2113
Closing this as it seems like it's an error with the angular CLI & not with npm. Please post your bug/issue in their repo to get support (ref. https://github.com/angular/angular). If you believe I'm wrong, feel free to reopen an issue with more details about how this error relates to `npm` itself.

[2020-11-03 18:21] #2113 closed, assigned to nobody

[2020-11-03 18:22] CAM-Gerlach commented on #2079
Possibly related to #1923 , which I can repro running `npm install` on a package with a dependency specified as a path in Node 15.0.1, npm 7.0.3 (latest current) but not Node 14.15.0 , npm 6.14.8 (latest LTS) per pre-commit/pre-commit#1681

[2020-11-03 18:35] CAM-Gerlach commented on #1923
For the record, I can confirm this also occurs . Node 15.0.1, npm 7.0.3 (latest current) but not Node 14.15.0 , npm 6.14.8 (latest LTS)  when simply doing a regular install with `npm install` on packages that specified certain (e.g. test) dependencies as local paths, like igorshubovych/markdownlint-cli .

As discussed in pre-commit/pre-commit#1681 , this makes Node 15/npm 7 unusable for running th

[2020-11-03 19:36] ljharb commented on #2079
@CAM-Gerlach what about npm v7.0.7?

[2020-11-03 19:37] ljharb commented on #1923
What about with npm v7.0.7?

[2020-11-03 20:05] RoystonS commented on #1923
@ljharb It's still a problem with v7.0.7.  The fix (https://github.com/npm/arborist/pull/162) hasn't been merged in yet.

[2020-11-03 21:08] YoshiWalsh commented on #2104
I'm seeing the same behaviour in 7.0.7. My terminal is also running as elevated.

I have no idea what's causing the `tsc` error. I don't even know why `tsc` is running at all, isn't `npm link <package>` just meant to make a symlink? Anyway, I think if you can induce any kind of error in `npm link` you should be able to reproduce the deletion of files bug.

[2020-11-03 21:08] kf6kjg opened #2114 "[BUG] npm/npx crashes if stdout is Node's 'pipe'"
# Current Behavior

Executing npm or npx commands from within a parent process that sets the child's stdout to "pipe" causes npm/npx to crash.

## Expected Behavior

npm/npx to detect that this condition exists and proceed without issue.

## Steps To Reproduce

1. Using Linux with Node 12 in a folder containing a valid package.json.
2. With rimraf already installed as a (optionally dev) dependency

[2020-11-03 22:01] kennethnym commented on #1201
npm only has problems with exFAT drives on Linux/Windows. I've never had any problem with them on macOS, which is very weird.

[2020-11-03 22:30] EatonZ commented on #1962
Is an official fix being worked on yet? Right now I can't update my global packages without re-installing them.

[2020-11-03 23:07] ljharb commented on #1962
Does this still happen on v7.0.7?

[2020-11-03 23:13] #1247 closed, assigned to nobody

[2020-11-03 23:14] simllll opened #2116 "[BUG] TypeError: Cannot read property 'length' of undefined"
### Current Behavior:
If I install my monorepo with lerna bootstrap, it fails with
[code]
### Expected Behavior:
should just install everything

### Steps To Reproduce:
Kinda hard to say, it's only happening in my monorepo right now, where I had to add some (non needed) react dependecies to solve some peer dependencies issues with storybook.

### Environment:
Os: Ubuntu 20.04
Node: 14.15.0
npm: 7.

[2020-11-03 23:35] isaacs commented on #2098
https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22

Happy to dig into this.  But we'll need that debug.log file, as well as details about your environment (npm version, node version, configs, what you were doing, etc.)

[2020-11-03 23:35] #2098 closed, assigned to nobody

[2020-11-03 23:46] isaacs commented on #2097
Going to handle it over on libnpmversion.  Thanks for the report!  https://github.com/npm/libnpmversion/issues/4

[2020-11-03 23:59] davesag opened #2117 "[BUG] NMP v7 error on install — 'must provide string spec'"
### Current Behavior:

Trying to run `npm install` on my project [`api-server-boilerplate`](https://github.com/davesag/api-server-boilerplate) gives error

[code]

Full error log

[code]

### Expected Behaviour:

I expected it to install as per normal, or at least get an error that tells me what to do to fix it.

I have searched for this "must provide string spec" and can't find any results.

The

[2020-11-04 00:04] ljharb commented on #2116
Can you try with npm v7.0.8?

[2020-11-04 01:29] chenbimo commented on #1832
next-7 had an other problem similar this.

[2020-11-04 01:48] jmenashe commented on #2022
This was working fine 2 months ago, but now it's not.

[2020-11-04 02:01] Geod24 commented on #2033
What ?

[2020-11-04 02:06] gloriaJun opened #2118 "[BUG] TypeError: Cannot read property 'matches' of undefined"
### Current Behavior:
Can not install packages after adding ` "@storybook/react": "^6.0.28"` module.

[code]

### Expected Behavior:

Install packages successfully.

### Steps To Reproduce:

1. packages.json
[code]
2. remove `node_modules`, `package-lock.json`
2. execute `npm install`

### Environment:

- OS: Mac 10.15.7
- node v15.0.1
- npm 7.0.3
- yarn 1.22.10

[2020-11-04 03:44] ljharb commented on #2118
Please try npm v7.0.8? update: v7.0.9?

[2020-11-04 06:36] lornally opened #2119 "[BUG] unable to resolve dependency tree"
there is another bug, but has been closed.

### Current Behavior:
`npm install --save-dev webpack-dev-server`

output:
[code]

### Environment:

- OS: macos 10.15.7
- Node: 15.0.1
- npm: 7.0.3

[2020-11-04 06:50] ljharb commented on #2119
What happens with npm v7.0.8?

[2020-11-04 08:25] lornally commented on #2119
how can i install it? i install node, the  npm is 7.0.3, how can i update it to 7.0.8?

[2020-11-04 09:11] jonleopard commented on #2119
@lornally You can grab the latest version of npm by running `npm install npm@latest -g`. After that's finished, run `npm -v` to confirm you have v7.0.8 installed.

[2020-11-04 11:24] RobinWijnant opened #2120 "[BUG] Unable to resolve peer dependency if version contains ">=""
### Current Behavior:
When resolving a peer dependency that has a ">=" in it's version, npm uses the latest version of that package to compare with the current dependency version in the package.json.

In this case: npm is looking for react 17, while react 16.13 is also a version that is suits >=16.9.0

[code]

### Expected Behavior:
npm should be able to resolve the react@16.13.1 peer dependency f

[2020-11-04 11:34] RobinWijnant commented on #2120
I have to downgrade `@testing-library/react-hooks@3.4.1` because the peer `react-test-renderer@">=16.9.0"` will resolve in `react-test-renderer@">=17.0.1"`. This version of `react-test-renderer` needs in turn `react@"17.0.1"`

[2020-11-04 11:34] #2120 closed, assigned to nobody

[2020-11-04 14:16] dhtzs commented on #1962
NPM v7.0.8 is out and the bug still exists. Please, do something about it.

[2020-11-04 14:46] davidje13 commented on #1957
I'm trying to narrow this down. If I install an entirely new dependency which has `bin`s, they get loaded correctly. But if I delete the whole `node_modules` folder and reinstall, all the previously-existing dependencies which have `bin`s don't get loaded (but the new dependency's bins do). It looks like the `package-lock.json` only includes `"bin"` entries for the newly added packages, which I su

[2020-11-04 15:43] nlf commented on #2117
can you try again with npm 7.0.8? i wasn't able to reproduce this in either node 14.15.0 or 15.0.1 when using npm 7.0.8

[2020-11-04 15:45] nlf commented on #2119
we haven't actually tagged npm 7 as `latest` yet, but `npm install -g npm@7` should do the trick for you

[2020-11-04 16:44] simllll commented on #2116
Nice, seems to solve my issue! Thanks

[2020-11-04 16:44] #2116 closed, assigned to nobody

[2020-11-04 17:30] ljharb commented on #2120
@RobinWijnant you shouldn't need to do that; but you will need to manually specify `react-test-renderer@16` as a dev dep.

[2020-11-04 18:19] nkhekhels commented on #2111
getting the same error too.

[2020-11-04 21:09] ruyadorno commented on #1337
Thanks @Ginden I see you submitted an RFC. Let's follow up with the discussion over there and I'll close this issue 😊

[2020-11-04 21:09] #1337 closed, assigned to nobody

[2020-11-04 21:38] ruyadorno commented on #2092
Fixed in `v7.0.8`

[2020-11-04 21:38] #2092 closed, assigned to nobody

[2020-11-04 21:57] markmckenna commented on #2076
#2034 I don't think is a duplicate. It talks about modifying `package.json`, whereas this is about the general dependency locating mechanism.

I also encountered another issue with locating of dependencies; hoisted dependencies can't be found by `npm exec` when the lower-layer package.json has its own `node_modules`. The search stops as soon as it sees any `.bin` directory.

[2020-11-04 22:09] msimonc commented on #1962
Potential Work Around, Mac:
Use n to install then switch to a new node/npm version.
`https://github.com/tj/n`
Then switch back and
`sudo npm -g update` should work

[2020-11-04 22:11] felipecrs commented on #1962
What's the output of `sudo npm --version`?

[2020-11-04 22:52] shuang2411 commented on #2071
To whom it may concern, would that be ok to assign this issue to me?

[2020-11-05 02:29] billyjanitsch commented on #2119
This seems like expected behavior. You have `webpack@5.3.2` installed and you're trying to install `webpack-dev-server@3.11.0` which transitively peer-depends on `webpack@^4.0.0`. These webpack ranges are incompatible, as the error mentions.

You can fix it by using `webpack@4` instead of `webpack@5`. `webpack-dev-server@3` is [not compatible](https://github.com/webpack/webpack-dev-server/issues/2

[2020-11-05 02:34] billyjanitsch opened #2123 "[BUG] npm 7 makes incorrect suggestion when encountering peer deps issues"
### Current Behavior:

When `npm install` fails due to peer dep incompatibilities, something like this is printed:

[code]

The suggestion to "retry this command with --force" doesn't appear to work. `npm install --force` prints exactly the same output, with only the addition of:

[code]

### Expected Behavior:
I would expect the suggested command to work, or I would expect it not to be suggested.

[2020-11-05 02:38] billyjanitsch commented on #2065
@nlf I can confirm that this issue is fixed. Thanks!

[2020-11-05 03:37] ruyadorno commented on #2071
Thanks for the interest @shuang2411 but we already have a PR for it over at #2075 😊

[2020-11-05 04:56] #2065 closed, assigned to nlf

[2020-11-05 05:20] msimonc commented on #1962
@felipecrs it's going to depend on the version installed using n.
Mine: npm 6.14.8 when node is v12.13.1

@felipecrs it's going to depend on the version installed using n.
Mine: npm 6.14.8 when node is v12.13.1

[2020-11-05 05:35] ljharb commented on #1962
Try npm v7.0.8?

[2020-11-05 05:55] jsg2021 opened #2124 "[BUG] SIGINT (ctrl+c) makes npm 7 print error log"
Maybe related to #1591 & #1947

### Current Behavior:
If I stop a process started by an npm script (with ctrl+c) , its stops, but npm prints error log.

### Expected Behavior:
Normal (silent) exit

### Steps To Reproduce:
execute any package script and ctrl+c on it.
example:
[code]

[code]

### Environment:
- OS: Fedora 33
- Node: 14.15.0
- npm: 7.0.8

[2020-11-05 06:19] jsg2021 commented on #1955
@nlf I tried to recreate my private packages on the public registry gutted... but I couldn't get any I publish to fail. But, my existing (internal registry) packages still fail with command not found. So this made me try just publishing a new version... and the new published packages on the internal registry work. (I've done all this on 7.0.8 today)

I tested `npx serve` and it works for me.

[2020-11-05 07:20] saschpe commented on #1962
Issue persists :-(

[2020-11-05 07:22] Mys73rion commented on #2014
We tried again to update, now with version 15.1.0, and we still have the same issue.

[2020-11-05 07:50] borekb opened #2125 "[BUG] `unpublish` didn't unpublish"
### Current Behavior:

I ran `npm unpublish` like this:

[code]

I don't quite know how to interpret the output but the exit code was 0 so assume it worked.

However, even after giving it some time (~12 hours now), the package is still there:

[code]

https://www.npmjs.com/package/@shoptet-temp-20201015/frontet/v/1.0.0

### Expected Behavior:

The package **version** should be unpublished. Is the

[2020-11-05 07:54] ljharb commented on #2125
After 48-72 hours, no package version can ever be unpublished. Something published 2 weeks ago is there forever.

[2020-11-05 07:59] borekb commented on #2125
From https://www.npmjs.com/policies/unpublish:

The aforementioned package had about 50 installs so far (overall), no other package in the registry depends on it and it has a single owner/maintainer so **all three conditions are met**. Also, the output of the `npm unpublish` command indicates that all went smoothly.

Yet, my package version isn't unpublished. Where am I doing a mistake?

[2020-11-05 08:01] ljharb commented on #2125
Fair point.

I also don't think you can unpublish the *last* version of a package, regardless. Meaning, you can publish a new version, and then unpublish v1.0.0.

[2020-11-05 08:02] borekb commented on #2125
Ah! Will try that, thanks.

In that case, the "bug" is in the CLI output / exit code – it should say "cannot unpublish the latest version" or something.

[2020-11-05 08:39] borekb commented on #2125
So it turns out the problem was with **auth** – I'm on a new computer and was not properly logged in. After running `npm login`, I was actually able to publish and unpublish successfully a couple of time.

Some observations:

- `npm unpublish` prints a success message even if something goes horribly wrong, like auth.
- It's possible to `npm unpublish` even the latest version. (It is possible to un

[2020-11-05 09:04] rapritchard commented on #2124
Also getting this behaviour when I try to stop a webpack dev mode. It stops but prints out the same error message. Started happening when I upgraded to npm -v 7.0.7

[2020-11-05 09:34] LeRoyJulian commented on #1962
This issue is back again with today's homebrew upgrade

[2020-11-05 10:19] gizero opened #2126 "inconsistent handling of .npmignore between v6 an v7"
With a `.npmignore` consisting of the following patterns:

[code]

I noticed that `v6` and `v7` behave differently. `npm pack --dry-run` from `v6` includes the content of `dist/` in the package while the same command from `v7` doesn't.

Digging a bit and bisecting the history led to blaming commit b9bc4f040 for such a change.

Reading the docs and comparing with how git handles `.gitignore` made m

[2020-11-05 10:44] katsanva commented on #1905
Confirm. Breaking change since npm 7.0.0

Probably caused by

[2020-11-05 12:48] kapoko commented on #2123
Reverting back to npm 6.14.8 solved this for me for now using `npm install -g npm@latest`

[2020-11-05 12:55] felipecrs commented on #1962
Just to sort this out, it's an issue with npm v7 no matter what node version (such as 15).

[2020-11-05 13:35] nardiyansah commented on #2111
I got the same error too

[2020-11-05 13:39] ghost commented on #1962
Can confirm this issue persists... Have we heard of a fix being worked on? Just got a new work computer last week and have not had any luck :(

[2020-11-05 14:08] ErikAbele commented on #1962
@felipecrs et al: yes, you're right, it is an issue with just npm@7 – I just tried with latest 7.0.8 and the issue persists.

[2020-11-05 14:16] charles-dexter-ward commented on #1962
I completely removed Node and npm module folder in my %USERAPPDATA%.
Reinstalled node (15.0.1).
Upgraded npm to 7.07.

1) npm outdated -g
gives a list of a lot of modules which are outdated

2) npm list -g --depth=0
Now it lists the modules (before it only shown npm)

3) npm update npm -g
(to update npm to 7.0.8)
npm ERR! global requires an add or rm option

Conclusion:
reinstalling everything fix

[2020-11-05 14:46] jorenbroekema opened #2127 "[BUG] Self signed cert in chain after upgrading to npm7"
### Current Behavior:
Self signed certificate in chain after upgrading to npm 7 from npm 6 latest.

[code]

npm config list
[code]

Turning strict-ssl to `false` as a workaround also doesn't work, I get the same error. And I want strict-ssl to be on, of course :).

If I downgrade back to npm 6, it works again.

### Expected Behavior:

npm 7 to handle my `~/.npmrc` cafile config properly.

### Step

[2020-11-05 15:36] strican opened #2128 "[BUG] Unable to resolve dependency in Create React App Typescript template"
### Current Behavior:

Based off the feedback in #2000, I'm filing a unique bug on this. In an empty React Applicaiton created with the `create-react-app` Typescript template, `npm install` fails with the following:

[code]

### Expected Behavior:
`npm install` should succeed

### Steps To Reproduce:
[code]

### Environment:
- OS: MacOS 10.15.6
- Node: 15.1.0
- npm: 7.0.8

[2020-11-05 16:21] darcyclarke commented on #1626
Of note, a 404 response is not uncommon to experience when there is a misconfiguration in your env & you're making requests to private/scoped packages; That said, this issue seemed to occur during a [partial outage back in August](https://status.npmjs.org/incidents/cksjqc1w11v5), so I'm going to assume this has been resolved for the bulk of folks since that incident, & close accordingly.

If you c

[2020-11-05 16:21] #1626 closed, assigned to nobody

[2020-11-05 17:08] ljharb commented on #2125
Can you try to replicate this same behavior on npm v7.0.8?

[2020-11-05 17:10] jsbarrett commented on #2033
I use INIT_CWD for building simple npm scripts to scaffold out new components.
In these scenarios, `process.cwd()` does not help me
because that will return the root of my project rather than the subdirectory I'm in.

This is a breaking change and annoying enough that I'm going to revert versions until it's fixed.

[2020-11-05 17:14] ljharb commented on #2123
This isn’t a bug; it’s a correct warning because your dependency graph is invalid.

you have webpack 5, but v3.7.2 of webpack-dev-middleware requires webpack 4. Your choices are to downgrade to webpack 4, upgrade to a version (of available) of webpack-dev-middleware that supports webpack 5, or remove webpack-dev-middleware entirely.

The message telling you to use —force is misleading, yes, becaus

[2020-11-05 17:18] ljharb commented on #2128
This version of react-scripts requires typescript 3, and you’re using typescript 4. To make your dep graph valid, you’ll have to downgrade typescript, or upgrade to a version of react-scripts that allows typescript 4, if it exists.

[2020-11-05 17:21] strican commented on #2128
Is this a bug with Create React App then? The install works with Yarn though. Is NPM being stricter about dependencies than other package managers?

[2020-11-05 17:22] ljharb commented on #2128
No, it’s a bug with your package.json, since that’s what declares typescript. However, if CRA is generating that, then yes, it’s a bug in CRA.

npm 7 properly checks peer deps on install (altho it unfortunately doesn’t fail by default when there’s a peer dep issue like this), and i don’t believe any other npm package CLIs do.

[2020-11-05 17:47] isaacs commented on #1994
Fixed in latest release.

[2020-11-05 17:47] #1994 closed, assigned to nobody

[2020-11-05 17:51] billyjanitsch commented on #2123
@ljharb I think you misread the issue. I'm not claiming that either the failed installation or the warning message is a bug. See https://github.com/npm/cli/issues/2119#issuecomment-722086100, from which I borrowed to use as an example of an install that contains a peer dependency incompatibility.

This issue is entirely about the `--force` suggestion that npm makes, which as you said is somewhere

[2020-11-05 17:57] strican commented on #2128
Thanks for the explanation. Looks like this was filed as facebook/create-react-app#9995.

[2020-11-05 18:02] maxsxu commented on #2003
I got the same error in my macOS with the same node/npm version.

I've fixed this error by unset all the proxy environment:

[code]

You can run `npm install` correctly after that.

[2020-11-05 18:03] ljharb commented on #2123
I don’t think any option should suppress the warnings, but i agree that if the suggestion won’t work, it shouldn’t be phrased as if it will :-)

[2020-11-05 18:08] ljharb commented on #2128
https://github.com/facebook/create-react-app/pull/9964 seems like it will fix it, once merged and released. Closing this in favor of the linked issue and PR.

[2020-11-05 18:08] #2128 closed, assigned to nobody

[2020-11-05 18:41] funfunction commented on #2002
Installing Node 15 fresh (uninstall first) still installs only npm 6 (not npm 7)

Is this the expected behavior or a bug?

![node, npm, older version](https://user-images.githubusercontent.com/37894007/98282701-758f3c00-1f53-11eb-90a8-c5c2943d6d6f.jpg)

[2020-11-05 18:51] isaacs commented on #1865
This is a bug in pacote.  https://github.com/npm/pacote/issues/53

[2020-11-05 18:54] charles-dexter-ward commented on #2002
@funfunction
Npm 7 is not the latest, I suppose. I think you must explictly require the version 7.

[2020-11-05 18:55] isaacs commented on #1865
Will be fixed in the next cli release (ie, tomorrow, likely included with the Node.js 15 release going out next week).

[2020-11-05 21:03] LintangC opened #2129 "A complete log of this run can be found in"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-11-05 21:06] ljharb commented on #2129
Closing pending nonzero info.

[2020-11-05 21:06] #2129 closed, assigned to nobody

[2020-11-05 21:08] ljharb commented on #2002
@funfunction if you have installed node 15 properly, it will always come with npm 7. If it doesn't, your install method is likely broken.

[2020-11-05 21:54] isaacs commented on #2126
This is actually a case where npm v7 came _into_ alignment with how `.gitignore` files are handled.

Because you're ignoring `*`, and `*` does not contain a `/` character anywhere within it, that will _also_ match files whose basenames match `*` within directories, even within directories that are included.

Observe:

[code]

In npm's case, we will stubbornly refuse to exclude files that we know a

[2020-11-05 21:54] #2126 closed, assigned to nobody

[2020-11-05 21:57] isaacs commented on #2124
Hm, yeah, we did recently update to send the signal to the child process, whereas before it would just end up sending the default SIGHUP that a child process gets when its parent exits.

Maybe what we ought to do is, if we're passing the signal along, then don't treat a signal exit as a failure, but just make sure that the main process dies with the same signal.  (Ie, do `proc.kill('SIGINT')`, and

[2020-11-05 22:31] macno commented on #2126
Hi @isaacs
I don't think that's true.
npm behaves differently from git.

In fact, if you change your `.npmignore` to

[code]
or
[code]
files are included

[2020-11-05 23:43] kotetsu-1998 opened #2130 "Failed to fully create Angular CLI Project"
[2020-11-05T23_26_35_510Z-debug.log](https://github.com/npm/cli/files/5498041/2020-11-05T23_26_35_510Z-debug.log)

### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-11-06 02:15] mlapenna7 opened #2131 "[BUG] TRANSLATE function with an expression argument"
# What / Why
I supplied a SQL stmt to the parser and I received an error from the parser.astify(sq).
It seems that supplying an expression inside a TRANSLATE causes an error.
For example
select ....
cast(TRANSLATE(substr(a.report_timestamp as string),0,10), ' |-|:','') as decimal(8,0) as report_date,
...
.
If I remove this line, the astify call works.

The first attachment shows the **error** prin

[2020-11-06 02:51] jaydenseric commented on #1865
Are these related issues?

- https://github.com/npm/cli/issues/2084
- https://github.com/npm/cli/issues/2106

[2020-11-06 03:25] jsg2021 commented on #1942
Also in 7.0.8

[2020-11-06 03:51] AAArex opened #2132 "[BUG] cb() never called"
im trying to install discord.js and every time i try and do it it always comes back with cb() never called

[2020-11-06 05:53] nickserv commented on #2002
I think it's more about npm 7's global package linking being broken (since npm itself is an npm package)

[2020-11-06 06:09] ljharb commented on #2002
@nickmccurdy on a fresh install of node, npm isn’t linked, and on any node 15, it’s always npm 7.

[2020-11-06 07:31] funfunction commented on #2002
I fixed it by cd-ing into AppData\Roaming\npm

then running: npm link npm

After 10 years of using node, this is the first time I had to do this.

[2020-11-06 07:48] davesag commented on #2117
Yes 7.0.8 appears to have fixed the problem.

[2020-11-06 10:04] ghost commented on #2124
I'm experiencing similar unexpected behavior within our application

[code]

Due to this bug, certain operations at the end of our process can't be done, resulting in a downgrade to Node LTS.

[2020-11-06 11:13] shaklin-box8 opened #2133 "[BUG] Deadlinks in documentation search results"
### Current Behavior:
While i search for devdependencies in docs.npmjs.com the first result takes me to `https://docs.npmjs.com/packages-and-modules/contributing-packages-to-the-registry/specifying-dependencies-and-devdependencies-in-a-package-json-file` which is a dead link, I am not sure if this is the only dead link or there are many that we are yet to find.

### Expected Behavior:
The link sho

[2020-11-06 11:42] lesyk-lesyk opened #2134 "Cannot read property 'length' of undefined (npm 7.0.8)"
An error occurs during the installation of a new package.
Maybe relates to https://github.com/npm/cli/issues/2116

[code]

Full log:
[2020-11-06T11_25_39_984Z-debug.log](https://github.com/npm/cli/files/5501033/2020-11-06T11_25_39_984Z-debug.log)

[2020-11-06 17:27] isaacs commented on #2120
Hmm.... yeah, so the `react-test-renderer@">=16.9.0"` peer dep resolves to `react-test-renderer@17.0.1`, which requires react@17, and because `@testing-library/react-hooks@3` requires `react-test-renderer@>=16.9.0`, it resolves to that higher version.

We do aggressively dedupe peerDeps, so if something _else_ were pulling in a lower version of `react-test-renderer`, we'd use that instead of 17, b

[2020-11-06 17:37] Hazc93 opened #2135 "[BUG] <cb() never called>"
### Current Behavior:
I am running Windows 10 using npm version 6.14.8 and node version 14.15.0. When I run npx create-react app my-app I get the following error:

npm ERR! cb() never called!
npm ERR! This is an error with npm itself. Please report this error at: <https://npm.comunity>

I have tried running npm i--no-package-lock
npm cache clean --force
npm cache verify
uninstalling and reinstalli

[2020-11-06 18:11] isaacs commented on #1865
Yeah, those look like duplicates.

[2020-11-06 18:45] darcyclarke commented on #2134
Hey @okachynskyy! Sorry to hear you're having troubles. I just tried replicating this error & couldn't on the exact same setup (ie. os/node/npm version). Potentially, another dep you have in your tree is causing the problem or maybe has a peer conflict that can't be resolved (which is what the debug log seems to allude to). Can you try running that install again with either `--force` or using the

[2020-11-06 18:46] #1984 closed, assigned to isaacs, ruyadorno

[2020-11-06 19:52] isaacs opened #2136 "add `--default-command` config option"
Right now, effectively the default command is `help`.

[code]

Why not making that configurable?

Then anyone who wants yarn-style "run-scripts are top level commands" behavior can do `npm config set default-command run-script`, and be done with it.

Default value could just be `"help"`, and we could require that it be one of the commands we know about.

[2020-11-06 20:04] ljharb commented on #2136
What happens when someone does that, and has a script called “magic”, and then npm later adds a top-level “magic” command? I understand npm can safely rest on “you changed the default command, so, tough”, but how would that user even know that command was newly arrived? What happens when a dependency, or another developer who doesn’t have that set, runs `npm magic` and a script gets run instead of

[2020-11-06 20:05] #1923 closed, assigned to nlf

[2020-11-06 20:05] #2079 closed, assigned to nobody

[2020-11-06 20:05] #2124 closed, assigned to nobody

[2020-11-06 20:05] #606 closed, assigned to nobody

[2020-11-06 20:05] #1865 closed, assigned to nobody

[2020-11-06 20:05] #2031 closed, assigned to nobody

[2020-11-06 20:05] #2106 closed, assigned to nobody

[2020-11-06 20:06] #2084 closed, assigned to nobody

[2020-11-06 20:06] #2097 closed, assigned to nobody

[2020-11-06 20:06] #2071 closed, assigned to nobody

[2020-11-06 20:12] nlf commented on #2059
we replaced the install.sh script with a version that fixes this

(as a bonus we also fixed the EXDEV bug in npm@7.0.9)

[2020-11-06 20:12] #2059 closed, assigned to nlf

[2020-11-06 20:15] nlf commented on #2003
updating npm to anything newer than 7.0.6 should correct this as that's when we brought in the updated agent-base dependency

[2020-11-06 20:15] #2003 closed, assigned to nobody

[2020-11-06 20:16] pedrolamas commented on #2118
This is the same basically the same issue as https://github.com/npm/cli/issues/1989

[2020-11-06 20:17] nlf commented on #1708
i'm not able to reproduce this, can you try it with 7.0.9?

[2020-11-06 20:48] slonkazoid opened #2137 "[BUG] npm.load does not accept any options. Only callback"
### Current Behavior:
npm.load does not accept any options. Only callback.

### Expected Behavior:
npm.load actually recognizing my specified options and using them.

### Steps To Reproduce:
steps to reproduce the behavior:
1. In this environment...
2. With the provided config...
3. Run
[code]
4. See error...

### Environment:

- OS: Linux Mint 20 Ulyana
- Node: v14.15.0
- npm: 6.4.12

What the .d

[2020-11-06 21:05] slonkazoid commented on #2137
Can't edit the title, too late. Hope you don't ignore this.

[2020-11-06 21:48] CAM-Gerlach commented on #1923
Thanks @isaacs @nlf ! Much appreciated!

[2020-11-06 21:49] ljharb commented on #2137
Have you tried with npm v7.0.9?

[2020-11-06 22:24] DeeDeeG commented on #1708
Hi @nlf, I am still able to reproduce it  with npm 7.0.9 on Node 12 and Node 14, but I mostly cannot reproduce it on Node 15.

Strangely, only once I was able to run the command `npm install --global --production npm@7` in Node 14 several times in a row, but this seems to be a fluke. Likewise, I was able to reproduce the issue once on Node 15, but usually I can't on Node 15.

Maybe this is an inte

[2020-11-06 23:38] isaacs commented on #2136
I'd make it work like how `npm help` currently does (well, more precisely, `npm help-search`, but `npm help` calls that when the term doesn't match any known help topic).  If you run `npm something`, which is not a known command or alias, then it'll try running `npm help` with that argument.

But if the argument _is_ a known command, alias, or unique abbrev, then it'll just run that command.

So i

[2020-11-07 04:57] komal08 opened #2138 "[BUG] node-stream-zip@1.3.5 , Unable to extract the nested zip, Error Invalid CRC"
Node Web Kit :0.49.0
Version : node-stream-zip@1.3.5
zip.extract method not able to extract the nested zip file or archived file in Production mode, But it does work in Developer mode.
ERROR : Invalid CRC

[2020-11-07 05:12] ljharb commented on #2136
Ok - so in that case, it’s a potential breaking change to add any new top-level command (which it’s not now), because “tough potatoes”?

Certainly i agree that it should only be settable to “an existing top-level command”.

[2020-11-07 09:13] onzag opened #2139 "[BUG] .gitignore and .npmignore will not ignore a folder if such folder is named nodejs"
### Current Behavior:
If my folder in the ignore repository is named nodejs it is not ignored for pushing

### Expected Behavior:
I expect the folder to be ignored.

### Steps To Reproduce:
You can use my repo to reproduce it, this branch specifically https://github.com/onzag/itemize/tree/006_slate-editor-support

After you npm install and npm run install, try the dry run for packing and you reali

[2020-11-07 09:14] ljharb commented on #2139
I tried this as well, and was able to reproduce it - naming the folder "node" or "tmp" both caused it to be properly ignored. It seems perhaps that the "nodejs" folder name is magic?

[2020-11-07 10:10] slonkazoid commented on #2137
Yes, and it still doesn't work

[2020-11-07 11:27] sheepsteak commented on #1984
@ruyadorno / @isaacs I've just tried out npm `7.0.9` with the repo above and adding a new package is working now 👍. However, there are still issues:

* removing a package is still ignored
  * try removing `once` from both `a` and `b` packages and running `npm i`
* changing a version keeps the old version and installs the new version in `node_modules` of the package
  * try changing `once` to `1.1.

[2020-11-07 12:47] clementbolin opened #2142 "[BUG] publish node.JS package on npm"
### Current Behavior:

I try to publish public package on npm but I have this error

[code]
So in first watch my ```package.json```below.

[code]

So after end to write my code, I decide to publish my code on npm, so I create npm account, I use ```npm login```for connect to my account. After this I run the following command ```npm publish --access public```and I have error write in top.
I search o

[2020-11-07 12:50] soumya232329 commented on #2135
Same error

[2020-11-07 14:13] ghost commented on #2135
Ok, I manage to solve my probleme by disabling my Antivirus....

[2020-11-07 14:13] ghost commented on #2132
Try to disable your Antivirus, it worked for me ...

[2020-11-07 16:48] ljharb commented on #2142
Are you logged in as clem_b? What does `npm whoami` print out?

[2020-11-07 17:00] clementbolin commented on #2142
```npm whoami```
output:
[code]

[2020-11-07 17:02] mpetuska opened #2143 "[BUG] NPM tries to download transitive bundledDependencies"
### Current Behavior:

When installing published package that has some bundled dependencies, npm tries to look them up on the repository and fails as a result (since they're not there). It works fine when installing from a tarball.

### Expected Behavior:

Npm should skip downloading bundled dependencies and move on to resolving package.json of each bundledDependency in package's node_modules.

##

[2020-11-07 17:15] ljharb commented on #2142
Can you try with npm v7.0.9?

[2020-11-07 17:16] ljharb commented on #2143
Can you try with npm v7.0.9?

[2020-11-07 17:19] mpetuska commented on #2143
I did, different log output, but same end-result

[2020-11-07 17:23] mpetuska commented on #2143
Here's the output of npm@7.0.9:
[code]
[2020-11-07T17_21_54_149Z-debug.log](https://github.com/npm/cli/files/5505188/2020-11-07T17_21_54_149Z-debug.log)

Note that kotlin-test-js-runner is one of bundledDependencies and present in tarball:package/node_modules

[2020-11-07 17:30] mpetuska commented on #2143
Currently I'm using a workaround for thy by writing a custom npm-shrinkwrap.json file myself and adding each bundled dependency there with explicit bundled: true. Here's a [version](https://gitlab.com/lt.petuska/npm-publish/-/packages/702641) of the same package that you can install with npm. However even autogenerated npm shrinkwrap doesn't work properly and does not add bundled: true when genera

[2020-11-07 17:31] clementbolin commented on #2142
@ljharb  I update npm but after update I have npm v7.0.8 and I had same error

[2020-11-07 17:36] djallits commented on #1962
Doesn't look like [v7.0.9](https://github.com/npm/cli/commit/6141de7b9e866979bf51706fd1be10c54235cf08) is going to fix the issue either.

[2020-11-07 17:40] dhtzs commented on #1962
The bug has been acknowledged and a fix is scheduled for an upcoming release.

[2020-11-07 17:43] Celtian commented on #1880
Can you add also here
https://docs.npmjs.com/cli/v6/commands/npm-unpublish
information that you should **run first command "npm login"** before you try to unpublish something. If you are not logged cli gives me irrelevant 404 error.

[2020-11-07 18:02] Kichrum commented on #2134
Have the same error on both 7.0.8 and 7.0.9 with a completely another setup (Angular 9 project), the error is quite not self-explanatory
[code]

`--legacy-peer-deps` fixes it, but I need a proper solution :)

[2020-11-07 18:11] ErikAbele commented on #1962
Thank you for looking into this, @isaacs!

[2020-11-07 19:33] coding-musicman commented on #643
I have buffers as well. Maybe you are right!

[2020-11-07 22:42] jaydenseric opened #2144 "[BUG] .gitignore file missing in tmp clone when installing a Git dependency"
### Current Behavior:

When npm v7 installs a Git dependency (e.g. `"github:jaydenseric/extract-files"`) it creates a clone of the repo in a tmp directory to pack the package for installation, running the package `prepare` script, etc. Normally (in npm v6) a `.gitignore` file in the repo will be present in this clone, but it is missing for npm v7 installs. This cause cause problems if the package

[2020-11-07 22:54] mattem opened #2145 "[BUG] npm7 does not create transitive node_module folders for dependencies referenced via file:/"
I've searched release notes, however I was unable to see if this was an intended breaking change.

### Current Behavior:
When referencing a dependency via `file:../path/to/dep`, npm@7.0.9 does not install or create the transitive node_modules folder for `dep`

### Expected Behavior:
npm@6.12.0 will create and install the node_modules folder for the referenced dependency

### Steps To Reproduce:
[c

[2020-11-08 01:34] soumya232329 commented on #2135
@Titoineis still not resolved, I received a new error. May I send you the pic?

[2020-11-08 01:38] soumya232329 commented on #2135
Still not resolved, I received a new error.
Please do check.
Thankyou

On Sat, 7 Nov 2020 at 19:43, Antoine Joublin <notifications@github.com>
wrote:

[2020-11-08 01:40] ghost commented on #2135
Did you tried that ?
https://stackoverflow.com/questions/15393821/npm-err-cb-never-called

[2020-11-08 04:36] Luxcium commented on #2095
I am searching for a place where it explains why I was on npm 7 when first got NodeJS 15 and now magically using 6.14.8 but my Googlista skills are not good enough apparently if you can link me to the explanation why the rollback or the apparent downgrade please let me know I use `fnm` and I auto-upgrade on reboots to latest npm, yarn and node js to the latest of the installed versions:

[code]

[2020-11-08 04:42] ljharb commented on #2095
Because npm 7 isn’t marked “latest”, so `npm install -g npm` installs v6. Auto-updating on reboot is probably unwise anyways, since it ensures you can’t reliably reproduce problems.

[2020-11-08 04:43] Luxcium commented on #2095
Ok I will adjust my workflow accordingly tanks

[2020-11-08 04:56] Luxcium commented on #2095
Thanks, goo Lord: npm@7 just fixed all my warnings using webpack  as I was trying to explain badly in that issue on [StackOverflow](https://stackoverflow.com/questions/64734727/how-can-someone-deal-with-webpack-versions-issues-requires-a-peer-of-but-n)

**ALL OF THESE GONE→**
[code]

[code]

[code]

[2020-11-08 07:33] #1136 closed, assigned to nobody

[2020-11-08 09:19] madjarevicn opened #2146 "[BUG] Error when doing npm publish"
### Current Behavior:
Set of commands:
[code]
After all
[code]

On command `npm whoami` I'm getting correct user account which is a member of npm organization where I'm pushing.
Those commands above are run from the node script.

If run directly in console from user, it all works like a charm.

Env: MacOS

[2020-11-08 14:17] futagoza commented on #1887
I just had this issue occur to me but thought it weird that all the new timestamps (7 updated packages with over 50 files updated from what I could tell after I ran _npm i_ to update an existing project's installed dependencies) were the same: _26/10/1985 09:15_

Since I never save the node_modules folder in git (when I remember to use it 😅) or interact with this folder directly through any tool o

[2020-11-08 22:57] closingin opened #2147 "[BUG] npm install doesn't create the .bin directory with a v6 package-lock"
Hello there, here's a little (but really annoying) bug I just found out !

### Current Behavior:
I just upgraded to `node@15` and `npm@7`.

When deleting my `node_modules` and reinstalling using `npm i`, npm doesn't create the `.bin` directory, which ends up in me having no working scripts at all (eg: `npm run build`, supposed to run `next build`, but it can't find it obviously).

If I delete my c

[2020-11-08 23:22] jaydenseric commented on #2147
We've noticed a few weird things relating to package scripts, npm v6/7, and lockfile v1/2 interoperability:

https://twitter.com/jaydenseric/status/1318321502098345985?s=20

Each time we tried to remember the exact reproduction steps but ended up confused.

[2020-11-09 08:31] ebiton-eig commented on #2134
I have the same problem with the package @angular/core (npm 7.0.9 and nodejs 15.1.0).

I used the command : ng update @angular/core :

`Using package manager: 'npm'
Collecting installed dependencies...
Found 55 dependencies.
Fetching dependency metadata from registry...
    Updating package.json with dependency @angular/compiler-cli @ "10.2.2" (was "10.2.0")...
    Updating package.json with depen

[2020-11-09 09:44] borekb commented on #2125
Behaves the same in 7.0.9.

Behaves the same in 7.0.9.

[2020-11-09 13:40] yigecaib opened #2149 "install typescript: cb() never called!"
cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:

[2020-11-09 19:30] EnderMega commented on #2149
same problem when trying to install the discord library

[2020-11-09 22:54] isaacs commented on #2139
There's nothing magical about the name `nodejs`.

When I run `npm pack` on the branch specified with either npm 7 or npm 6, I don't get a `nodejs` folder in the tarball.

You just have your bin set to a file in the `nodejs` folder on your master branch, maybe that's it?

[2020-11-09 22:54] #2139 closed, assigned to nobody

[2020-11-09 23:10] raineorshine opened #2150 "[BUG] --json outputs errors to stdout instead of stderr"
### Current Behavior:

Running `npm ls --json` with missing dependencies outputs the error to `stdout` instead of `stderr`. This creates two top-level JSON objects, making it unparseable.

This is a regression from `v6`.

May be related to: https://github.com/npm/cli/issues/1109

### Expected Behavior:

Normal output should print to `stdout`, errors should print to `stderr`.

i.e.

`stdout`:

[cod

[2020-11-10 01:06] ljharb commented on #2139
@isaacs i was able to reproduce this locally by cloning this repo - https://github.com/onzag/itemize/blob/006_slate-editor-support/package.json#L6 isn't pointing to anything inside the `nodejs` folder (altho https://github.com/onzag/itemize/blob/006_slate-editor-support/package.json#L9 is, but npm presumably ignores the `types` field).

Since i was able to repro it locally, is there something I ca

[2020-11-10 06:02] OmgImAlexis commented on #1229
Are there any work arounds or should we just avoid npm v7 if we're using git installs?

Currently everything I try to use is failing because devDeps are missing. Using `npm v7.0.8` myself.

[2020-11-10 08:45] isaacs commented on #2139
Here's what I see:

[code]

Are you sure that you're not looking at a tarball created from the master branch?

[2020-11-10 08:48] isaacs commented on #2058
This is (actually) fixed in the latest v7 release.

[2020-11-10 08:48] #2058 closed, assigned to isaacs

[2020-11-10 09:28] MoSattler commented on #1975
@Nicholaiii did you get this solved with a newer version? I still have this problem with the latest node (via docker `node:15.1.0-alpine`)

[2020-11-10 09:42] Nicholaiii commented on #1975
No. I am using `node@15.1.0` and `npm@7.0.9` and the issue persists. Same solution with empty `package.json` solves it, but it's surely frustrating to have your workflows broken.

[2020-11-10 10:50] simllll commented on #2134
Same with latest npm (7.0.9) and `--force` flag:
[code]

But it seems it's happening in the bootstrap phase of lerna, if I adapt the paramters for the install paramter there, it also fails. Same stack trace:
[code]

The object that fails (explain-dep.js:68):
[code]
it seems the from has no "name" property.

[2020-11-10 11:57] ndmax commented on #1962
Yay! Thank you @isaacs for [cc0c6e1](https://github.com/npm/arborist/commit/cc0c6e127876c277d201b5f400e2adfbca312987).

[2020-11-10 15:50] ruyadorno commented on #1975
@MoSattler @Nicholaiii thanks for the feedback! Could you please share any log files/package.json so that we can figure out why is this problem still happening? 😊

[2020-11-10 16:18] Nicholaiii commented on #1975
Fresh install of Node 15.1.0 and `npm i -g npm@7.0.9`, that for some (probably unrelated) reason don't work properly.
[code]

There is no package.json, that's the core problem. If I make an empty one like this:
`{}`
it works fine.

[2020-11-10 17:02] matschik commented on #2022
Got the same problem with `git+ssh://git@git.host.com:john/pkg-name#semver:^1.1.4` from Gitlab.
Apparently `new URL(pkgURL)` in NPM 7.0.3 is throwing this error. No problem with Yarn.

[2020-11-10 18:03] darcyclarke commented on #2149
Closing: Please use one of our bug templates - https://github.com/npm/cli/issues/new/choose

[2020-11-10 18:03] #2149 closed, assigned to nobody

[2020-11-10 18:04] darcyclarke commented on #2131
Closing: Please use one of our bug templates - https://github.com/npm/cli/issues/new/choose

[2020-11-10 18:04] #2131 closed, assigned to nobody

[2020-11-10 18:04] darcyclarke commented on #2111
Closing: Please use one of our bug templates - https://github.com/npm/cli/issues/new/choose

[2020-11-10 18:04] #2111 closed, assigned to nobody

[2020-11-10 19:11] #1962 closed, assigned to isaacs

[2020-11-10 19:17] ljharb commented on #2139
Ah, you're right - i was indeed checking on master.

[2020-11-10 19:19] alesniak303 commented on #2135
Environment:
MacBook Air 2020 i5 16GB
macOS 10.15.7
npm -v
6.14.4

Steps:

npm ERR! cb() never called!

---
Subsequent rerun completed without error.
 I'm including the logs.
[2020-11-10T19_05_57_231Z-debug.log](https://github.com/npm/cli/files/5519661/2020-11-10T19_05_57_231Z-debug.log)

[2020-11-10 19:24] simllll commented on #1905
Will this be considered as a bug or as a breaking change for npm 7?

[2020-11-10 20:23] jasonkarns opened #2152 "[BUG] `prepare` script is ignored after `npm install` under production env"
### Current Behavior:
`npm install` under "production" environment does not run `prepare` lifecycle hook

### Expected Behavior:
`prepare` script should be invoked at all times

At the _very_ least, the documentation should be updated to reflect this surprising/counter-intuitive behavior. Presently there is no hint that prepare-script behavior varies based on environment.

### Steps To Reproduce:

[2020-11-10 23:55] isaacs commented on #1989
Fixed in latest npm v7.  `npm i -g npm@7`

[2020-11-10 23:55] #1989 closed, assigned to nobody

[2020-11-10 23:55] isaacs commented on #2118
Fixed in latest npm v7.  `npm i -g npm@7`

[2020-11-10 23:55] #2118 closed, assigned to nobody

[2020-11-11 01:07] isaacs commented on #2114
This works for me on Darwin and Linux, using npm 6.14.2, 6.14.8, 7.0.7, and v7.0.10, with node 14.2.0, 14.15.0, and 15.2.0.

[code]

When `rimraf` isn't installed locally or in the npx cache, the `--no-install` causes it to fail with the `cancelled` error, but that's expected.

[code]

I'm not sure why you'd be getting an empty error output though.  Does it create a debug log file in `~/.npm` some

[2020-11-11 01:09] isaacs commented on #2133
This seems to work now?

[2020-11-11 01:09] #2133 closed, assigned to nobody

[2020-11-11 01:11] isaacs commented on #2147
Can you check with `7.0.10`?  I believe this was likely fixed by a recent arborist update.

[2020-11-11 01:19] isaacs commented on #2134
Can you share your `package.json` file and/or `package-lock.json`?

[2020-11-11 01:27] isaacs commented on #2134
Nevermind, found it.  Fixed on #2156.

[2020-11-11 01:28] isaacs commented on #2119
Working as designed, and better error messaging and handling in latest npm v7.

[2020-11-11 01:28] #2119 closed, assigned to nobody

[2020-11-11 01:34] isaacs commented on #2123
Well, yeah, this is a bug.  It should either not tell you to use `--force` or (ideally) `--force` should provide an override that makes it produce a mostly (but not entirely) correct package tree.

Rather than roll back to npm v6, I'd suggest using `--legacy-peer-deps` or putting `legacy-peer-deps = true` in your project-level `.npmrc` file.  There are a lot of other advantages to using v7.

Here'

[2020-11-11 01:39] isaacs commented on #2123
The npm@6 behavior is "ignore peerDependencies entirely".  That's what `--legacy-peer-deps` does.

`--force` is either slightly better or much worse in this sort of case.  It attempts to infer a reasonable best guess at what version _should_ be placed there, based on prioritizing non-peer dependencies, and failing that, accepting invalid peer deps and moving on.

You've found a case where we don't

[2020-11-11 02:57] billyjanitsch commented on #2123
Ah, that's what I had originally expected it to do! I like this behavior, because `--legacy-peer-deps` doesn't work if you've come to rely on npm@7's automatic installation of peer deps for other peer deps, unrelated to the one(s) that are incompatible.

For example, if you have something like this, where `@babel/cli` peer-depends on `@babel/core`:

[code]

Using `--legacy-peer-deps` would ignore

[2020-11-11 07:09] ceisele-r commented on #721
Actually, this still occurs in latest npm 6 (6.14.8) on node v12.19.0.
`@ourscope\package` does not have a shrinkwrap or package-lock in its `tgz` from where it's installed.
The entry in package.json for the main project is:
[code]

And it feels to me that installing the package from a `tgz` file (created by `npm pack`) by having the above dependency in the main project's package.json causes these