[2022-06-29 14:55] ramnathkr commented on #5101
Similar issue reported for different node version https://github.com/npm/cli/issues/5032

[2022-06-29 15:00] ljharb commented on #5101
both node 7 and npm 4 are many years EOL; try upgrading both.

[2022-06-29 15:01] ljharb commented on #5101
(at the very least, you should be able to upgrade node 7 to node 8)

[2022-06-29 15:06] ramnathkr commented on #5101
yes i agree with your comment but we cannot upgrade it immediately as of now, since we have AngularJS dependencies.
Also same npm install worked before 1 month. suddenly having an issue not sure why.

[2022-06-29 15:19] wraithgar commented on #4193
[code]

It does though?

[2022-06-29 15:33] jonthomp commented on #4193
Sorry, I forgot to try it out on the latest npm, it does indeed work. We're currently on 8.5.5 where it does not. We will update. Thanks.

[2022-06-29 15:35] JoshMcCullough commented on #5066
I hope the fix will also work when a script name contains slashes e.g. `build-spec:some/branch`.

[2022-06-29 15:48] ljharb commented on #5101
Anything that works on node 7 will work on node 8, so you definitely can upgrade that; separately, you could upgrade npm to version 5 or 6 without upgrading node, and should.

[2022-06-29 16:36] #4485 closed, assigned to fritzy

[2022-06-29 16:48] fritzy commented on #5101
@rmtsys we can only accept bug reports for the current version of npm.

[2022-06-29 16:48] #5101 closed, assigned to nobody

[2022-06-29 16:50] chrstophr-wltrs commented on #5093
Oh! Sorry I didn't catch that other issue in my search, guess I was being too specific.

Thanks for keeping on top of things. You rock!

[2022-06-29 16:50] fritzy commented on #5100
There were some fixes regarding lock files being inconsistent with package.json dependencies in 8.6.0. We only accept bug reports on the latest version of npm, please upgrade with something like `npm i npm@latest -g`

[2022-06-29 16:50] #5100 closed, assigned to nobody

[2022-06-29 16:53] fritzy commented on #5099
@HomyeeKing You can use our calculator, https://semver.npmjs.com/. Our semver spec is slightly extended.

[2022-06-29 16:53] #5099 closed, assigned to nobody

[2022-06-29 17:48] Dottenpixel commented on #5089
Thanks for responding @fritzy, but that link doesn't address my issue. My package, although scoped, is public. Can you please re-open my issue?

I'm sourcing my automation token from the UI flow: https://www.npmjs.com/settings/{{my-org}}/tokens/new

Any idea why would I get such a cryptic error as the one I'm getting? Our package has been in the public registry for years.

[2022-06-29 18:38] fritzy commented on #5053
We don't support `audit fix` for global installs at this time.

[2022-06-29 18:38] #5053 closed, assigned to nobody

[2022-06-29 18:39] fritzy commented on #5041
**Closing:** this looks to be an issue with the registry which is outside the scope of this repo. For registry support please go to [npmjs.com/support](https://www.npmjs.com/support). If you believe this is a bug with the cli, please provide further clarifying details.

[2022-06-29 18:39] #5041 closed, assigned to nobody

[2022-06-29 18:43] fritzy commented on #5039
@pitAlex `npm install` will not behave the way you expect it to when `package-lock-only` is set to true and you don't have a complete package lock. In fact, `package-lock-only` only updates the package lock, and does not install packages into `node_modules`.

[2022-06-29 18:43] #5039 closed, assigned to nobody

[2022-06-29 18:57] fritzy commented on #5025
**Closing:** please use our [issue template](https://github.com/npm/cli/issues/new/choose) &/or review our [contributing guidelines](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#reporting-bugs).

[2022-06-29 18:57] #5025 closed, assigned to nobody

[2022-06-29 19:14] fritzy commented on #5037
Unable to reproduce
[code]

[2022-06-29 19:14] #5037 closed, assigned to nobody

[2022-06-29 19:20] fritzy commented on #4999
npm `v6` is no longer in active development; We will continue to push security releases to `v6` at our team's discretion as-per our [Support Policy](https://github.com/npm/cli/wiki/Support-Policy).

If your bug is preproducible on `v8`, please re-file this issue using our [new issue template](https://github.com/npm/cli/issues/new?assignees=&labels=Bug%2CNeeds+Triage%2CRelease+8.x&template=bug_8.ym

[2022-06-29 19:20] #4999 closed, assigned to nobody

[2022-06-29 19:26] fritzy commented on #5015
This appears to be a problem with a specific registry or configuration thereof. I am unable to reproduce this with `npm@8.13.1` and the public registry.

[code]

[2022-06-29 19:26] #5015 closed, assigned to nobody

[2022-06-29 20:38] robertIsaac commented on #3210
I will reopen as per @Khyalis and @andersk comments
but for me it's working

is by any chance you are using nvm?
I had this issue because of them, I had to delete everything and install them again for it to work
the issue was that there were a lot of version of npx, npm, and ng (for me ng was the biggest problem)
you can check by using `where npx` it should show only one location inside nvm
I thin

[2022-06-29 20:54] #5017 closed, assigned to nobody

[2022-06-29 21:00] ljharb commented on #3210
@robertIsaac nvm, or nvm-windows (a different project)?

[2022-06-29 21:10] andersk commented on #3210
@robertIsaac I did not use nvm. Here’s a fully reproducible test case as a `Dockerfile` using the official Node Docker image.

[code]

<details>
<summary>Output</summary>

[code]

</details>

[2022-06-29 21:12] nlepage commented on #5017
This is still not fixed, see #5102 which actually merges the patch in npm/cli.

[2022-06-29 21:27] lukekarrys opened #5104 "Release Manager: v8.13.2 (2022-06-29)"
**Target Version**: v8.13.2
**Target Date**: 2022-06-29
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-06-29 21:31] fritzy commented on #4764
These appear to be errors generated by yarn, not npm.

[2022-06-29 21:31] #4764 closed, assigned to nobody

[2022-06-29 21:33] fritzy commented on #4995
**Closing:** this looks to be an issue with the registry which is outside the scope of this repo. For registry support please go to [npmjs.com/support](https://www.npmjs.com/support). If you believe this is a bug with the cli, please provide further clarifying details.

[2022-06-29 21:33] #4995 closed, assigned to nobody

[2022-06-29 21:33] wraithgar commented on #5096
This is a legacy of how the npm registry used to work.  Originally it was a couchdb, and the package names were case sensitive.  The npm registry no longer allows upper case letters in package names, but the support for those old packages still exists.  This means that the cli has to treat package names as case sensitive still.

`jquery` and `jQuery` are two different packages in the registry.  np

[2022-06-29 21:33] #5096 closed, assigned to nobody

[2022-06-29 21:39] wraithgar commented on #5010
The version of node and npm you are running are very old and not supported anymore.  Please try updating both to at least node@14 (which is in maintenance support) or newer, and npm@8

[2022-06-29 21:39] #5010 closed, assigned to nobody

[2022-06-29 21:41] fritzy commented on #5022
You might mean `@scope/create@0.0.6`
If you had a package named `@scope/create-jackyking-app@0.0.6` you would do `npm init @scope/jackyking-app@0.0.6` and it would prefix `create-` for you.

[2022-06-29 21:41] #5022 closed, assigned to nobody

[2022-06-29 21:47] fritzy commented on #5001
@pvanagtmaal Noted that you believe this should have been a breaking change. This behavior is already documented in https://docs.npmjs.com/cli/v8/commands/npm-publish

Closing, but feel free to re-open if you have a specific place you'd like us to publish this information.

[2022-06-29 21:47] #5001 closed, assigned to nobody

[2022-06-29 21:54] fritzy commented on #4990
I was able to reproduce this on Windows, but not on other platforms.

[2022-06-29 22:34] robertIsaac commented on #3210
nvm, I have a mac

[2022-06-29 22:37] ljharb commented on #3210
@robertIsaac ah, gotcha, you mean that your system node was conflicting (also, what's `where`? do you mean `which`?)

[2022-06-29 22:38] fritzy commented on #4990
The `%PATH%` is generated correctly for each script. The `%CD%` is correct for each script.
`\node_modules\jest\package.json` is `26.x.x`
`\jest-26\node_modules\jest\package.json` is `28.x.x`

But when executing `\node_modules\.bin\jest.cmd` from any other path other than the project root, it'll resolve `jest@28` rather than `jest@26`

[2022-06-29 23:45] #5104 closed, assigned to lukekarrys

[2022-06-30 02:23] pitAlex commented on #5039
@fritzy I could swear it wasn't working before I went and edited the .npmrc and added those lines (package-lock=true, package-lock-only=true). Didn't even know it existed until I started having this problem and looked for answers and learned about it. Anyway, after removing them - npm ci worked, as in it created the node_modules, and that's good enough for me. Thanks.

[2022-06-30 04:15] Dottenpixel commented on #5089
nm @fritzy I made a new token via the UI and the publish process worked! Can't find what was wrong with the original token. The error message definitely threw me off, though.

Thanks again!

[2022-06-30 05:22] fritzy commented on #4093
Likely this is due to the limit resources of a typical Android environment. Eventually we'll be able to support embedded environments with more limited resources.

[2022-06-30 05:22] #4093 closed, assigned to nobody

[2022-06-30 05:24] fritzy commented on #4055
In the future, we're looking on better supporting resource constrained environments.

[2022-06-30 05:24] #4055 closed, assigned to nobody

[2022-06-30 05:25] fritzy commented on #4199
This can happen on resource constrained devices. In the future, we're looking at ways to better support this scenario.

[2022-06-30 05:25] #4199 closed, assigned to nobody

[2022-06-30 05:32] fritzy commented on #4209
"Terminate batch job" is a prompt that the windows command prompt gives. SIGINT is not something that npm handles when running scripts.

[2022-06-30 05:32] #4209 closed, assigned to nobody

[2022-06-30 05:50] robertIsaac commented on #3210
Where tells you the exact location of a file
So `where npx` should tell you exactly where is the npx file in your disk
But even better, if multiple npx files existing it will show all of them (I mean only the ones that's part of your environment)

`Which` return only one path

[2022-06-30 05:52] ljharb commented on #3210
`where` isn't available on my mac; perhaps it's something you added yourself?

[2022-06-30 06:14] fritzy commented on #4996
It looks like the exit-handler is not properly reporting `ENOENT` errors when lib/npm.js fails to create the cache directory.

[2022-06-30 06:19] nlepage commented on #5017
The fix has beenmerged and released in [v8.13.2](https://github.com/npm/cli/releases/tag/v8.13.2)

[2022-06-30 06:36] andersk commented on #3210
`where` is a `zsh` builtin (or a Windows command). `zsh` is the default shell on modern Mac, but you might be using `bash` or some other shell that does not have `where`. In any case, you can also use `which -a` to print all matches.

[2022-06-30 06:40] ljharb commented on #3210
ah, fair enough, yes, i'm using bash.

[2022-06-30 06:40] fritzy commented on #3598
@hpohlmeyer as you quoted in the RFC, it performs the lifecycles scripts of the top-level workspace, not the children. This is working as designed, but if you'd like to change this behavior, please open a discussion in the RFCs repo. Can you create [an RRFC](https://github.com/npm/rfcs/issues/new?assignees=&labels=&template=rrfc.md&title=%5BRRFC%5D+%3Ctitle%3E) in that repo?

[2022-06-30 06:40] #3598 closed, assigned to nobody

[2022-06-30 07:08] fritzy commented on #5040
@sakkukasetty this seems to be a different dependency graph, as your warnings included left-pad, but these dependencies don't produce that package in my dependency tree. This seems to be incomplete?

[2022-06-30 07:21] fritzy commented on #4938
This appears to not work in `npm@8.10.0`, but does work in `npm@8.13.2`

[2022-06-30 07:21] #4938 closed, assigned to nobody

[2022-06-30 08:39] fritzy commented on #4998
The consistency between your `package-lock.json` vs your `package.json` has security implications, among other things. Additionally `npm` can't infer the configuration (like `--legacy-peer-deps`) used in `npm install` when you later use `npm ci`, which is what this specific bug report was about.

It's unfortunate that this fix has caused so many `npm ci` failures, but if your `package.json` isn't

[2022-06-30 08:39] #4998 closed, assigned to nobody

[2022-06-30 08:45] fritzy commented on #5009
@ganeshkbhat Thanks for taking the time to share your idea! New ideas are always appreciated and are better suited for [our RFC repo](https://github.com/npm/rfcs) instead since that's the right place in order to get more attention from the rest of the team and the community.

Can you create [an RRFC](https://github.com/npm/rfcs/issues/new?assignees=&labels=&template=rrfc.md&title=%5BRRFC%5D+%3Ctit

[2022-06-30 08:45] #5009 closed, assigned to nobody

[2022-06-30 08:46] estani commented on #5055
This is getting stranger... this is the minimal test I could do that shows in my case that starting from scratch 6.14.17 works, 7.0.0 do not.

I definitely got it working with at least 7.0.0 before, so this is some kind of a race condition as apparently the order of the entries are not stabilised before processing...

here a test I did:
[code]

tested in node v16.15.1 with zsh 5.8.1 (x86_64-apple-

[2022-06-30 08:51] fritzy commented on #5046
Related #2798

[2022-06-30 08:52] fritzy commented on #2798
A reproducible version of this issue is in #5046 with a helpful discussion.

[2022-06-30 08:54] fritzy commented on #5046
This is essentially a dupe of #2798, but with very clear reproduction instructions. I'll close this one here, but we'll use your report when working on the previous issue.

[2022-06-30 08:54] #5046 closed, assigned to nobody

[2022-06-30 09:25] McSneaky commented on #5096
Thank you for explaining reasoning behind there! 🙂👍

There are still packages with both naming conventions so cant just migrate everything to be lowercase in registry? So such migration would cause name collisions?

[2022-06-30 09:40] moroine commented on #5055
@fritzy I don't think `react-dom` should be added as peer manually. In none of the packages, I use directly `react-dom` and it's not needed for the package. Why would I need to add it then?

If `react-dom` is peer dependency of `react` wouldn't `npm` be able to figure it out?

[2022-06-30 09:51] estani commented on #5055
@fritzy @moroine please open a new issue if you want to keep your discussion. There is no `react-dom` mentioned here, my test also don't include it (plain `react-native`) and this problem is much larger than one particular package, as the test shows. Otherwise you are driving the attention away from the problem in this thread. thanks!

[2022-06-30 10:00] kenjipm commented on #4225
Same here, issue still encountered in v8.13.2. Any workaround?

[2022-06-30 10:01] JonasSchubert commented on #5066
Thanks @nlf and all other contributors to npm. Your work is very much appreciated!

[2022-06-30 10:07] moroine commented on #5055
Yeah, I agree this `react-dom` was just to mention an example. I still think this issue is valid and shouldn't be closed

[2022-06-30 10:34] paulius-valiunas commented on #4998
it doesn't matter if you think the configurations people used were "correct" or not, as you can see a significant number of people used it this way and it worked before. Now it stopped working, which is a breaking change by definition. The correct way to fix this bug would have been either:
1. treat it as any other breaking change and do a semver-major version bump
2. add a new field to package-lo

[2022-06-30 11:15] ramnathkr commented on #5032
Hi @daniel-alonso-sanchez ,
Did you help how you identified that particular package is causing the issue? similar issue i'm also facing i have so many dependencies in package.json. its very difficult to find each and every package one by one.

[2022-06-30 11:26] robertIsaac commented on #3210
so what's the output of `which -a npx`?

[2022-06-30 11:53] daniel-alonso-sanchez commented on #5032
Hi @rmtsys ! I pointed into the right direction thanks to jenkins. We kepts two executions: a successful and a failed one. Comparing both I found that the successful process this package, but not, the failed one:

- deasync

I found that library was included by generator-jhipster. After got rid of generator-jhipster, the problem stop.

Regards

[2022-06-30 12:22] KrisSodroski opened #5108 "npm install should install peerDependencies of a local module"
# Current Behavior

Given I have the following module:

[code]

[code]

When installed through the registry, "app" correctly installed dependency c.

When installed through file path (localModule), dependency c is not installed.

[code]

# Expected Behavior

When developing modular systems, its imperative to be able to locally map modules for easy development.

To work around the above issue, appl

[2022-06-30 13:46] wmertens opened #5109 "Allow calling via corepack"
Npm is not wrapped by default when running `corepack enable`.

This can be requested of the corepack team, see https://github.com/nodejs/corepack/issues/138

IMHO it would be great, so that the packageManager field would also be honored fir npm.

[2022-06-30 14:32] ljharb commented on #3210
I use nvm and don’t have a system version, so it only prints out a single line.

[2022-06-30 15:15] PierreJeanjacquot opened #5110 "[BUG] npm audits git dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

install from github a package sharing the same name as an existing package of the npmjs registry
- the `node_modules` are installed from the github repository
- the metadata are fetched from the **npmjs** regist

[2022-06-30 15:47] tunessofia opened #5111 "[BUG] bundledDependencies without its node modules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I've changed from npm 6 to npm 8. I have a package that has a bundledDependency, when this package is installed in its dist folder the bundledDependency is bundled with its own node_modules.

When switching to n

[2022-06-30 17:17] katieannemills commented on #4838
Fixing to npm 8.5.5 is a no-go for us in light of CVE-2022-29244.

[2022-06-30 17:54] nhowell commented on #4998
It's ~~unfortunate~~ **unacceptable** that this fix has caused so many `npm ci` failures.

FTFY.

This **broke** my workplace and many other's CI pipelines, in a _patch_ version no less, and you expect the community to be fine with an "oh well, we'll do better next time" response. Unacceptable. Go back and fix it in a backwards compatible way.

My workplace has never used any special flags when ru

[2022-06-30 20:38] everett1992 opened #5112 "[BUG] `npm publish` runs prepare script silently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm publish` runs the `prepare` script silently. Unlike `prepublishOnly` it does not print the command that will be run or the commands output.

The order of `prepublishOnly` and `prepare` changed between npm 6

[2022-06-30 21:47] fritzy opened #5113 "`npm ci` validates `package-lock.json` and could fail to resolve"
## What and Why

Starting in `npm@8.6.0`, the `npm ci` command validates that the `package-lock.json` is consistent with the developer defined `package.json`. Previously, `npm ci` would blindly install whatever was in the lock file. We implemented this bugfix for several reasons.

 - `overrides` defined in the `package.json` could be ignored
 - invalid trees, including unresolvable peer dependenci

[2022-06-30 21:49] fritzy commented on #4998
I have created a pinned issue summarizing this discussion as well as #4664.

See the [please refer to the pinned issue, #5113](https://github.com/npm/cli/issues/5113)

[2022-06-30 21:50] fritzy commented on #4664
I have created a pinned issue summarizing this discussion as well as #4998.

See the [please refer to the pinned issue, #5113](https://github.com/npm/cli/issues/5113)

[2022-06-30 21:50] #5113 closed, assigned to nobody

[2022-06-30 23:11] wraithgar commented on #5112
This was an intentional change in npm 7 to run `prepare` scripts in the background by default. If you require them to be in the foreground you can run npm with `--foreground-scripts`

See https://docs.npmjs.com/cli/v8/using-npm/scripts#life-cycle-scripts for more info.

[2022-06-30 23:12] wraithgar commented on #5112
Closing this as 'working as intended'  If you feel the behavior of npm should change in future versions please submit an [rrfc or rfc](https://github.com/npm/rfcs)

[2022-06-30 23:12] #5112 closed, assigned to nobody

[2022-07-01 00:20] ddfridley commented on #3902
I see this was closed recently but I want to contribute.  I have a project (github.com/EnCiv/undebate-ssp) that includes other repos (github.com/EnCiv/undebate, github.com/EnCiv/civil-server, github.com/EnCiv/civil-client).   Each project includes devDependencies like storybook, jest, lint.  These cause a tremendous load on the build process and time,  When I set  NPM_CONFIG_PRODUCTION=true then i

[2022-07-01 03:19] VoltrexKeyva opened #5114 "[BUG] npm incorrectly assumes existence of root-owned files on Termux"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

On [Termux](https://termux.com/), npm seems to incorrectly assume the existence of files owned by root in the `.npm` directory when trying to either check the outdated global packages, installing a package, or u

[2022-07-01 09:25] AndnixSH commented on #5010
I encounted the same issue. Turns out apt is out of date, i don't know why. I ended up installing nvm https://heynode.com/tutorial/install-nodejs-locally-nvm/ and ran npm script `curl -qL https://www.npmjs.com/install.sh | sh`

[2022-07-01 10:46] stagefright5 commented on #5045
Anyone looking into this or any updates?

[2022-07-01 11:18] sodic commented on #5018
Hello, I can reproduce the bug on the following Linux machine:
- OS Name: Manjaro Linux x86_64 (5.15.48-1-MANJARO)
- System Model Name: Dell XPS 15 9510
- Output of `npm config ls`:
[code]

I can also confirm the bug is not package-specific. I successfully reproduced it with several packages other than Prisma.

I'd love to see this addressed. Also happy to help in any way!

[2022-07-01 15:50] shayneczyzewski commented on #5018
Hi there @lukekarrys sorry to disturb, but I haven't gotten any feedback since this issue was submitted and I was wondering if there may be anything else I can do to help the cli team triage this potentially large issue. Thanks so much for your guidance!

[2022-07-01 17:19] jdesrosiers opened #5116 "[BUG] Some Github dependencies no longer install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Some of my dependencies from Github repos such as `"json-schema-test-suite": "github:json-schema-org/JSON-Schema-Test-Suite",` are no longer successfully installing the way they used to. I get an error related t

[2022-07-01 20:33] krasingneves commented on #4942
I've experienced this with npm v8.11.0 as well

[2022-07-02 08:20] salahuddin-saif opened #5117 "This is an error with npm itself"
/data/data/com.termux/files/home/.npm/_logs/2022-07-02T08_10_32_765Z-debug-0.log
0 verbose cli /data/data/com.termux/files/usr/bin/node /data/data/com.termux/fil>
1 info using npm@8.12.1
2 info using node@v18.4.0
3 timing npm:load:whichnode Completed in 1ms
4 timing config:load:defaults Completed in 6ms
5 timing config:load:file:/data/data/com.termux/files/usr/lib/node_modules/npm/n>
6 timing conf

[2022-07-02 08:20] #5117 closed, assigned to nobody

[2022-07-02 18:05] oussamanm commented on #3175
is there any way to re-install them , because i dont remember every packages who was installed

[2022-07-02 21:03] arantisi commented on #4980
im having this issue as well what do i do ?
![image](https://user-images.githubusercontent.com/79181203/177016098-cc541b34-816b-4ab6-85d2-d3de058f0a0e.png)

[2022-07-02 23:30] Kytech opened #5119 "Provide a means for other programs to import config definitions for @npmcli/config as a replacement to libnpmconfig"
Since [libnpmconfig](https://www.npmjs.com/package/libnpmconfig) and the programmatic APIs have been deprecated, there is no library or API provided by NPM that can be consumed by other packages to read NPM's configuration. libnpmconfig has been replaced with `@npmcli/config`, which cannot read the npm configuration on its own.

In order to allow other programs to read the npm config file using NP

[2022-07-03 00:31] ljharb commented on #5119
Typically they shell out to npm config get. Is there a reason that won’t work for your use case?

[2022-07-03 05:52] flensrocker commented on #4980
As Administrator run
[code]

[2022-07-03 13:50] vmasek commented on #4263
I managed to get proper `package-lock.json` (with `integrity` and `resolve` fields) after:
- cleaning the npm cache `npm cache clean -f`
- removing `node_modules` in project folder
- removing the `package-lock.json` file
- running `npm install` in now "clean" project folder

[2022-07-03 15:55] AgainPsychoX opened #5120 "[BUG] `npm link` fails when running inside path with hash tag `#`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When working inside path that includes hash character (`#`), using `npm link` causes to crash because it cuts the path at the hash. My guess it's because it handles it as URI, just with `file://` schema, and eve

[2022-07-03 15:57] AgainPsychoX commented on #5120
### Workarounds

<dl><dd>

A) There is workaround available for now: _just_ avoid using using the hash character (`#`) in your path!

B) Link the package yourself (works only partially, the bin scripts are not created):

<dl><dd>

In my case on Windows using PowerShell that was:

[code]

On Linux it would be something along the lines of:
[code]

_(both of those require you to navigate next to your

[2022-07-03 18:16] AgainPsychoX opened #5121 "[META] Question: How to setup my `.gitignore`/`.git/info/exclude` for contributing?"
### How to setup my `.gitignore`/`.git/info/exclude` for contributing?

The source controls shows me a lot of `node_modules` updates, after `npm install`. I don't think I should commit those, so how do I ignore them?

![image](https://user-images.githubusercontent.com/23557839/177052237-01153370-dca0-4a27-87d4-3937ccf20d9c.png)

I tried using `.git/info/exclude` but I can't get it working perfectl

[2022-07-03 19:42] AgainPsychoX commented on #5121
After restarting VS Code I found out that below seems to work. Huh.
[code]

Nevertheless, I wish someone can confirm whenever its valid practice? Maybe [contributing guide ](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md )needs to be updated?

[2022-07-03 20:09] ljharb commented on #5121
I usually only use `.gitignore` - things inside the `.git` directory aren't committed into the repo.

Typically, `node_modules` is gitignored, and if it's a monorepo, `**/node_modules` is as well.

[2022-07-03 20:22] AgainPsychoX commented on #5121
I don't think I should touch `.gitignore` of **this** project, should I?

It looks like this at the moment, `node_modules` is explicitly set to be **not** ignored:
[code]

[2022-07-03 20:26] ljharb commented on #5121
You're right, it seems like the project is not following best practices.

[2022-07-04 08:19] Rusinas commented on #2610
Dammit. Bumped into it too. Any workarounds?

[2022-07-04 09:18] Siedlerchr commented on #2610
@Rusinas  `git+https://git@github.com/<repo>/.... ` in package.json works fine with npm 8.13.x

[2022-07-04 09:24] ekelvin opened #5123 "[BUG] npx npm_config_yes=true or --yes not working as expected and npx still requires confirmation for installation"
tried npm_config_yes=true
tried --yes
and I still get requires confirmation for installation
![image](https://user-images.githubusercontent.com/6638327/177124899-10ad515d-8ada-4108-8e02-41e219f5d5a6.png)

context:
$ npm -v
8.11.0
$ node -v
v16.15.1

[2022-07-04 11:59] vzakharov-rxnt commented on #2380
I find it odd the one of the most important development workflows hasn't been fixed for almost 2 years now.
I am using Node 16.15.0.

[2022-07-04 12:45] ssbarnea commented on #2380
@vzakharov-rxnt While this bug is marked like linking would be broken only on Windows, the reality is that `npm link` is also broken on platforms fully supporting symlinks too, where `npm i` does override the links. That is why we switched from npm to yarn on one of our projects (vscode-ansible) last month. We also got some serious performance benefits and much better UX for upgrading dependencies

[2022-07-04 14:14] donggyu04 opened #5124 "npm -v is super slow in my macbook"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

One day suddenly all npm commands became super slow. even just the `npm -v` takes 40 seconds! (`node -v` takes less than a second)
I tried reinstalling but it didn't fine.
do you have any advice or anyone with s

[2022-07-04 15:41] ljharb commented on #5124
The prefix generally shouldn’t be set, and node/npm shouldn’t be installed with homebrew - not sure if that’s the cause or not, but it’s worth a try.

[2022-07-04 16:37] sp0re commented on #5058
the same error with me！how did you solve it？

[2022-07-04 20:43] vzakharov-rxnt commented on #2380
@ssbarnea We had issues with unit tests when dependencies were installed with yarn. Had to switch back to npm.
Unit tests are using karma/jasmine.

[2022-07-04 22:04] tvsbrent commented on #4942
The issue as I've encountered is when I've tried to pass in a range that I'd like to override. For example:

[code]

The above will fail. In looking at the generated `package-lock.json`, it looks like the dependency that was pulling in the overridden version was not updated. For example:

[code]

However, if I do this in the `package.json`, it does work:

[code]

The entry in the `package-lock.jso

[2022-07-04 22:31] krasingneves commented on #4942
I was using
[code]
So, specifying the package but not the version. So I may give this a try

[2022-07-05 09:11] aladdin-add commented on #3810
friendly ping...

[2022-07-05 10:03] thany commented on #5007
Running into this exact issue as well, trying to install [Jest](https://jestjs.io/docs/getting-started).

[code]

Node 16.15.1 (latest LTS at the time of writing)
NPM 8.13.2 (latest at the time of writing)

The problem only seems to occur for me in a project with workspaces. Doesn't matter if I execute an install from the main package.json directory, or from any of the individual workspaces. Howev

[2022-07-05 10:14] weironz commented on #4876
run follow for china
[code]

[2022-07-05 10:35] thany commented on #5007
For me the node where it breaks:

[code]

* This is a workspace link, as you can see.
* `path` and `realpath` both exist.
* I don't know what causes `dev` and `optional` to be true. This is a workspace, not a depedency.
* And as said before, `target` is null.

I tried to monkey-patch the offending package by inserting various defenses to get `node.target` to be not null, but it always results in o

[2022-07-05 10:39] thany commented on #5007
Here's a workaround so that at least we can get back to work. In the `arborist` package, I've made these changes in the `calc-dep-flags.js` file:

[code]

This makes installs go without errors, but of course I don't know if this is the right way to go. The root cause is the fact that `target` is null, or the fact that target is assumed (blindly, might I add) to be an object.

[2022-07-05 17:39] mihir1739 commented on #4553
No..I am facing same issue in arch linux.

[2022-07-05 17:40] mihir1739 commented on #4553
No..I am facing same issue in arch linux.

[2022-07-05 18:48] spalger commented on #4096
We are experiencing this on shared workers in CI where `npm install -g ts-node` is aborted mid-install and then the global node_modules directory is poisoned and NPM can't seem to recover on it's own. We even added a test which tries to find `$(npm root -g)/ts-node` directories which aren't complete installs and delete them before running `npm` and it's not helping.

Abort: https://buildkite.com/e

[2022-07-05 19:47] JoshuaKemmerer commented on #4367
I was having the same exact issue after I did `pnpm install` and then `npm install @serverless-stack/cli --save-exact`.

[code]

I deleted my `node_modules` folder and tried `npm install` and that worked

[2022-07-05 21:13] irdkwmnsb opened #5125 "[BUG] `npm ci` validates `package-lock.json` that is generated with an older version of `npm` and fails to resolve"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

package-lock.json generated prior to 8.6.0 is generating package-locks that the new version cannot resolve:
[code]

Common libraries like create-react-app use @ pmmmwh/react-refresh-webpack-plugin library which

[2022-07-05 21:15] irdkwmnsb commented on #5125
## Resolvement
Running `npm i` with a new version of npm and committing the relevant package-lock.json resolves this issue.

But if there was a bug in checking the dependency tree, shouldn't the users see a link to #5113 on how to resolve their issue when they encounter it?

Opening an issue here so other people that might encounter this exact issue can google it.

[2022-07-05 22:48] michaelbutler commented on #4028
I'm having this issue and I decided to leave it running "forever" to see if it actually would do something. It finally exited with this error message:

[code]

Indeed when I try to simply run:

[code]

at least at this current moment, I get a network timeout. I am on typical home internet, no proxy.

[2022-07-05 23:26] ljharb commented on #4028
What registry is that? What does `npm config get registry` print out?

[2022-07-05 23:37] michaelbutler commented on #4028
It outputs `https://registry.npmjs.org/`

BUT... thank you, your comment led me to believe it was related to the project I was in. It's this fairly old one from Yahoo/Verizon. https://github.com/pure-css/pure and it looks like they commit their package-lock.json file, and in that file has links to vzbuilders.  I deleted `package-lock.json`, re-ran `npm install` and it worked. So, looks like not re

[2022-07-06 08:50] mod7ex commented on #4553
guys try [this](https://stackoverflow.com/questions/72442682/npm-err-code-err-socket-timeout-npm-err-network-socket-timeout/72793541#72793541) it helped many others

[2022-07-06 09:10] bartvanremortele commented on #4232
The "fixed by" claims that it was fixed in 8.6.0. However I am still facing this issue on 8.12.1 when using this in combination with workspaces. I added the overrides to the root package.json and the lockfile is not updating. I'm running into multiple issues with lockfile drift. The workaround for me is to run `npm update`. That updates the lockfile.

[2022-07-06 09:34] dokterbob commented on #4769
Hi all, NPM developers,

This bug has been reported in April. It has obvious security implications.
What is the reason this is still open? What is blocking it's resolution?

Thanks for your great work on NPM, a crucial piece of infrastructure.

Cheers,
Mathijs

[2022-07-06 11:03] victorb opened #5126 "[BUG] `npm install` modifies yarn.lock in incorrect ways"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If you run `npm install` in a project that has a `yarn.lock` file, npm changes both the syntax, data and order of `yarn.lock` file.

Changes I've spotted that shouldn't happen:

- npm adds double-quotes around e

[2022-07-06 11:28] superole commented on #3022
so when I have a simple npm script that just needs the version string of some dependency (to use as input to a third party script), I am supposed to write a separate nodejs-script to parse package.json (which npm already must have done) and extract that string myself?

That is extremely disappointing ☹️ and poorly documented. I don't even know where to start.

[2022-07-06 11:46] eyalroth commented on #5125
Happening for us too and currently breaking our CI builds on multiple repositories.

Edit:

This workaround seems to work.

[2022-07-06 12:14] dinager commented on #5032
Encountered same error, this happens after I ran `npm cache clean`, (before that it ran ok)
I do not have an option to upgrade the node version as this is some legacy project.
Is there anyway to solve it?
[code]
This is my `package.json`
[code]

[2022-07-06 12:41] jdforsythe commented on #5058
@sp0re in our case there was a v1.0.0 that had been unpublished.

If you run

[code]

you can see the unpublished versions.

[2022-07-06 15:22] yangjunran commented on #4980
![1657120836624](https://user-images.githubusercontent.com/48581483/177586176-b5bb37a5-5634-4e75-90d4-9a99a11c7ea0.jpg)

[2022-07-06 15:37] robations commented on #4069
Sorry @nlf, just saw your reply

I can still reproduce with 8.13.2, but with a slight change to `"files"`:

Edit the package.json to include:

[code]

Output

[code]

So it seems like there is a subtle order of precedence going on here, whereas the docs suggest that .npmignore _always_ takes precedence over files.

[2022-07-06 15:38] robations commented on #4069
Not sure I have permission to reopen, by the way.

[2022-07-06 15:58] ljharb commented on #4769
@dokterbob what are the security implications? I see none.

[2022-07-06 17:21] felipecrs opened #5128 "[BUG] `install` removes `dev: true` from lockfile while it should not"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Consider the following `package.json`:

[code]

Notice how it adds itself as a `devDependency`.

Now, if I run `npm install`, it generates a `package-lock.json` as follows:

[code]

Notice that it lacks `dev: tr

[2022-07-06 17:35] victorb commented on #5124
Try running `npm --verbose -v` as well and see what step takes long time. If everything looks OK there, something might be wrong with your system instead. Try `dtruss npm -v` and see where it spends most of its time.

[2022-07-06 19:34] jdesrosiers commented on #5116
I found the problem. It's not an npm bug.

[2022-07-06 19:34] #5116 closed, assigned to nobody

[2022-07-06 20:08] ThisIsMissEm opened #5129 "[BUG] Cannot read properties of null (reading 'isWorkspace')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When doing `npm ls --include-workspace-root --workspace eslint-config-react @babel/polyfill` in https://github.com/inrupt/javascript-style-configs I receive the following error:

[code]

I believe this may be re

[2022-07-06 20:12] ThisIsMissEm commented on #5129
There's also similar code to [this comment](https://github.com/npm/cli/issues/5007#issuecomment-1174908190) in the `ls` command:

[code]

So I'm guessing that `treeverse` or `Arborist` is returning null instead of an array in certain conditions, which leads to an evaluation of `null` property access.

[2022-07-06 20:38] ThisIsMissEm commented on #5129
I added in some logging to the ls command, and managed to get this out:

[code]

[code]

before it crashes. So it looks like `edge.to` can be undefined or null, and the `ls` code doesn't seem to handle this case.

In my case, I don't believe the peerDep of `node-notifier` is installed

[2022-07-06 20:40] ThisIsMissEm commented on #5129
Update: I installed `node-notifier` manually to the root workspace, and then re-ran things, and it crashed at another peerDep, so it's definitely not liking peer dependencies that aren't installed.

[2022-07-07 03:31] marcchanwork commented on #4769
@ljharb As a workaround, we are fixing npm version to 8.5.5 in order to run in production with a read-only filesystem. However, there is detected vuln for this version: CVE-2022-29244

If there is a workaround for the current bug, so that we can bump version to the latest npm, it would be very much appreciated. Thanks

[2022-07-07 03:49] ljharb commented on #4769
@marcchanwork thats not the security implications of this bug, though.

[2022-07-07 08:07] jtakalai commented on #4005
+1 to this; I'd like to know where `npx` gets the binary it runs. Global installations (I don't want that)? Root `node_modules`? Subpackage `node_modules`? Path resolution is already complex enough that we need an `npm which`

[2022-07-07 08:36] dinager commented on #5032
figured out the issue by me
`ember-fetch` was the cause of the problem.

The reason to the fail is dep of dep [Merge pull request #125 from xg-wang/rollup_iife · ember-cli/ember-fetch@7199051](https://github.com/ember-cli/ember-fetch/commit/7199051de0d42168cd718e756eb051a936cdc118)

`ember-fetch`  uses `rollup-plugin-babel` since version 5.1.2 which is not locked to a specific version that one of

[2022-07-07 08:54] sp0re commented on #5058
![QQ截图20220707163615](https://user-images.githubusercontent.com/47201786/177730172-d4b68b61-4c53-4e21-afb1-a67d9d759869.png)
@jdforsythe thx
there are three versions，['1.0.1', '1.0.2', '1.0.3']，which i haven‘t published but in the published list.
This package was created in 2021, These three strange versions seem to have been created in 2018..........What's the meaning of this?

[2022-07-07 10:47] BalaM314 commented on #5006
Anyone? This is kinda severe...

[2022-07-07 11:43] Flaburgan opened #5130 "[BUG] Dependencies installed with a git URL commit does not contain the folders of the package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

This has already been reported a while ago: https://github.com/npm/npm/issues/15654

When installing a dependency from a git commit, the folders aren't downloaded.

### Expected Behavior

`node_modules/my_depend

[2022-07-07 12:08] jdforsythe commented on #5058
@sp0re we saw something similar with old dates. If you look closely they're all the same timestamp, too. Their support said those versions were unpublished. We just published a v1.2.0 so it was higher than those versions and it worked

[2022-07-07 12:22] timothee-alby commented on #5024
I had the same problems, caused by an old `.npmrc` file left in a workspace (`WARN ignoring workspace config at /path/to/.npmrc`).

This was solved by removing the file.

[2022-07-07 14:16] Ansile opened #5131 "[BUG] npm config set ignores values starting with "-""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When `npm config set` is provided with value that starts with "-", it ignores this value and sets an empty string instead.
This is a serious issue for us, as some tokens can generate starting with "-".

Bug case

[2022-07-07 14:27] kentcdodds opened #5132 "[BUG] npx <gist> leads to command not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I'm trying to run:

[code]

However I get:

[code]

For context, I use this for step of my workshop repositories. It checks that learner's machines have the correct versions of things installed, installs depende

[2022-07-07 14:45] dacsystemsw opened #5133 "[BUG] npm install rises correctly a Conflicting peer dependency error but the reported module version is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When I run `npm install` I get the following error

[code]

The dependecies in the root module are the following

[code]
While the peer deps of  `"angular-resize-event":@"^2.0.1"`

[code]

### Expected Behavior

[2022-07-07 14:49] ljharb commented on #5130
Does it declare an npmignore that prevents publishing of those files? npm install wouldn’t include those.

Generally speaking, git is for dev, not consumption, so you can’t rely on installing from git working.

[2022-07-07 14:56] ljharb commented on #5133
The strong implication here is that you have something in your graph that depends on angular 11, and something else that depends on angular 10. These things are incompatible, so you have to downgrade everything to things that work with v10, or upgrade everything to work with v11, and drop whatever remains incompatible.

[2022-07-07 17:14] cztk commented on #4163
having ipv6-only VM gives
npm ERR! request to https://registry.npmjs.org/pm2 failed, reason: connect ENETUNREACH 104.16.22.35:443 - Local (0.0.0.0:0)

other services like updating sources via apt, installing mariadb and whatnot => no issue... whereever the issue is, other sources are able to give a working experience where installing npm does not. this is sad.

adding ipv6 to hosts file is a worki

[2022-07-07 17:36] hthetiot commented on #1641
It occurred to one of my developer on node 16.14.2 and npm 8.5.0.
We are investigating to reproduce.

[2022-07-07 17:57] gthb commented on #5078
This seems to be not always true. In the downstream webapp where I pulled in my library that has this kind of override, I have to reproduce the `overrides` setting there, and it _is_ affected by this problem even if the override is specified directly under `"overrides": { ... }`, not within the dependency like `"overrides": { "pg-mem": { ... } }`

So I am left having to manually edit `package-lock

[2022-07-07 20:05] Kytech commented on #5119
The use case I have dealt with is for packages such as [registry-auth-token](https://www.npmjs.com/package/registry-auth-token), which has to rely on someone else's reimplementation of the NPM config resolution algorithm (previously used rc, but now is using PNPM's implementation). Registry tokens are not retrievable using npm config get due to the `option is protected, and cannot be retrieved in

[2022-07-07 20:14] ljharb commented on #5119
Thanks, "getting the auth token" makes the use case quite clear.

I think every other config value would be gettable on the CLI, so shelling out is relatively straightforward, but "protected" values make it tricky.

[2022-07-07 21:47] gthb commented on #5078
... except, in my downstream project (consuming the library that's doing this), all my attempts to patch `package-lock.json` run afoul of “`npm ci` can only install packages when your package.json and package-lock.json or npm-shrinkwrap.json are in sync. Please update your lock file with `npm install` before continuing.”

So I ended up with a `postinstall` script that just does:
[code]

and that s

[2022-07-07 22:08] mike-potter opened #5134 "[BUG] `npx` no longer works with `github:` registry"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When using Node v18.4.0 or later (npm 8.12.1 or later), referencing a Github repo via:
[code]
gives the error:
[code]

In past versions of `npx` this worked fine and would create a package.json in `~/.npm/_npx/H

[2022-07-07 22:17] mike-potter commented on #5134
Here is the npm config for node 18.5.0 that has the same problem:
[code]
the log file has the same references to `registry.npmjs.org` shown above for 18.4.0

[2022-07-07 22:20] mike-potter commented on #5134
And then I force updated npm to the latest version via `npm install -g npm@latest` and it still failed.  Here is that npm config:
[code]

[2022-07-07 22:23] mike-potter commented on #5134
Last known npm version where it was working is `8.11.0`

[2022-07-08 00:19] vralle commented on #3847
package.json =>
[code]
`npm install package-3 -D -w package-1` -> error
`npm install package-1 -D -w package-3` -> Ok

In my case, the error was affected by the order of the packages in the "workspaces" section.
If the dependency is above other packages, no errors occur.

node v16.15.1
npm 8.11.0

PS: Looks like I missed the issue even though I had the same error

[2022-07-08 04:51] HOLLY-ZYP commented on #2420
I failed both too

[2022-07-08 09:38] sraka1 commented on #450
@darcyclarke why was this closed as completed seeing as this still appears on 6.x?

[2022-07-08 10:36] mycroes opened #5136 "[BUG] npm publish with folder package-spec acts on CWD instead"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Given the following directory structure:
- package\
- package\package.json
- package\build\
- package\build\...
- package\build\package.json
- package\src\
- package\src\...

I develop my package in the `src` fo

[2022-07-08 15:15] ljharb commented on #450
@sraka1 6.x is unsupported except for security issues; only npm latest (8.13 atm) is supported.

[2022-07-09 01:41] khorben commented on #4237
To me this looks more like a problem with the way nodejs uses `uv_getaddrinfo()`. See https://github.com/nodejs/node/issues/41625 for what seems to be the same issue, and mentions `uv_connect()`, which should probably try the next address returned upon specific errors.

[2022-07-09 07:44] Haiz14 commented on #5114
I am having the same error prompt when i do ``npm install nodemon`` on termux

[2022-07-09 12:52] kit-repo-depot commented on #4477
trying `npm install -g npm@8.1.2` gives the same error for me, same with 8.9.0

[2022-07-09 17:14] a91896 opened #5138 "F&q"
How to track bug on npm ??

[2022-07-09 22:57] therealgilles opened #5139 "[BUG] npx assumes /tmp has execute permission"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I just updated npm today: `npm install -g npm@8.13.2`

Everything was working fine with the previous version. Now when I try to run npx, I get:
[code]

npx (or something underneath) seems to assume that /tmp has

[2022-07-10 04:10] ljharb commented on #5139
Why would that be unsafe? How could npx work if it can't execute things in a temp dir?

[2022-07-10 07:59] therealgilles commented on #5139
Hi @ljharb, we can discuss the pros/cons of execute permissions on the /tmp dir but it may not be useful. I know it's used as a hardening/security technique on a number of linux server nodes, especially when running a web server. Here is an [example](https://docs.plesk.com/en-US/12.5/advanced-administration-guide-linux/enhancing-security.68755/#o68757) with the Plex server.

Now the more important

[2022-07-10 08:32] htmlin commented on #5047
I have the same problem with npm v8.5.5
It's okay to fall back to v8.1.2

[2022-07-10 13:30] zigsong commented on #5128
I was having same problem for several days.
In my case, after I deleted `legacy-peer-deps=true` in my npm config, the problem solved.

check your npm config via following command:
`npm config get`

[2022-07-11 02:02] ghost commented on #4477
Potential work around for anyone running into this while running bash on **Windows**. The process seems to throw an error and just stops there. However, when running in Command Prompt the task seems to continue even after the error is thrown.

This doesn't solve the error but at least it identifies the error maybe to do with which terminal you're using...?

![image](https://user-images.githubuserc

[2022-07-11 02:43] ZeroXiphYT opened #5140 "[BUG] npm install -g nodemon not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Im using the LTS for macOs.
If i do npm install -g nodemon this is what i get
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code EACCES
npm ERR! syscall m

[2022-07-11 02:44] ZeroXiphYT commented on #5140
idk what bug 8 means but its a bug i have so i did bug 8

[2022-07-11 03:30] felipecrs commented on #5128
@zigsong thanks for the suggestion, and it's great that it seems to be reasonable for others too.

However I don't have this setting in my configuration. And even if I had, I don't think it should cause this bug.

[2022-07-11 09:12] grenik opened #5141 "overrides doesn't work if hasShrinkwrap is true for a library that requires a library to be overridden"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`overrides` doesn't work if `hasShrinkwrap` is `true` for a library that requires a library to be overridden.

E.g. `@sap/logging` depends on `moment@2.29.2` and it also `hasShrinkwrap`. If I try to override `mo

[2022-07-11 10:45] ksuedile opened #5142 "[BUG] npm exit without error doing nothing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

see that ticket : https://github.com/nodejs/node/issues/43348

### Expected Behavior

see that ticket : https://github.com/nodejs/node/issues/43348

### Steps To Reproduce

see that ticket : https://github.com/n

[2022-07-11 12:05] Aaronuo opened #5143 "[BUG] Why can't I use my"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

root@XX:~# npm install npm@latest -g
TypeError: invalid options argument
    at optsArg (/node_modules/mkdirp/lib/opts-arg.js:13:11)
    at mkdirp (/node_modules/mkdirp/index.js:11:10)
    at Conf.afterUser (/us

[2022-07-11 12:09] #5143 closed, assigned to nobody

[2022-07-11 15:06] ljharb commented on #5143
don't install node with apt; don't install npm separately (it comes with node); npm 5 and node 10 are both EOL.

[2022-07-11 15:11] Aaronuo commented on #5143
Oh! thanks

[2022-07-11 16:09] dandalton1 opened #5144 "[BUG] npm can't pick up PAC file for proxy auto-configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

In the organization I work at, for security reasons, to connect to the outside internet there's an HTTP proxy server in the middle configured with a PAC file. https://docs.microsoft.com/en-us/windows/win32/winht

[2022-07-11 16:23] azurenekowo commented on #5114
Same! I thought I'm the only one having this issue.

I have a Samsung A50S, npm v8.13.2, v18.4.0, also using Termux.

[code]

[2022-07-11 16:37] azurenekowo commented on #5114
Ok so after doing
[code]

And run
[code]

It worked fine. No idea how.

[2022-07-11 17:31] VoltrexKeyva commented on #5114
That's because reinstalling Node.js replaces the currently installed npm with the one shipped with that Node.js binary, **as of writing this**, the current Node.js LTS release from the Termux repositories ship npm v18.11.x which this issue isn't present in.

As mentioned, this issue has been occurring since v8.12.0.

[2022-07-11 18:35] darcyclarke commented on #4732
@trusktr closing this. Please reopen if you're still having issues & can provide a reproduction case.

[2022-07-11 18:35] #4732 closed, assigned to nobody

[2022-07-11 18:40] ZeroXiphYT commented on #5140
Actually i found a way to stop this from happening: in your terminal write "sudo npm install -g npm" (im on mac) and then -g will start working

[2022-07-11 18:41] #5140 closed, assigned to nobody

[2022-07-11 18:47] ZeroXiphYT opened #5145 "[BUG] when i install a package with -g i get a code EACCES error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When i do npm install -g nodemon it shows me this
npm ERR! code EACCES
npm ERR! syscall mkdir
npm ERR! path /usr/local/lib/node_modules/nodemon
npm ERR! errno -13
npm ERR! Error: EACCES: permission denied, mkdir

[2022-07-11 18:59] ZeroXiphYT commented on #5145
i found a way to fix it from a youtube video, do
[code]

[2022-07-11 18:59] #5145 closed, assigned to nobody

[2022-07-12 01:57] yeskunall commented on #4098
This seems to have been fixed in `v8.13.2`.

[code]

Peep the “user” section this time around. HUH. I think I’m going to keep it open till such time a core member can confirm what fixed the bug/regression.

[2022-07-12 05:59] sathishsoundharajan commented on #4895
@btmills Thanks for posting a public repro.. Hope this helps the team.

[2022-07-12 10:15] mkesavan13 commented on #5125
Broke our CI builds too. Thanks @irdkwmnsb. Your workaround helped and have worked out for us too.

[2022-07-12 10:19] vincentneo commented on #5124
(unrelated to the issue opener but wanted to say thanks)
@ljharb thank you so much! was searching around after a `npm install` took over 2hrs just to deliver a timeout message. Fact was I installed node via homebrew, and somehow it became slower and slower by the week.

[2022-07-12 11:50] victorb commented on #5126
Is this something the npm cli team would want to have fixed? I might attempt submitting a patch for it if so, but some confirmation that the team sees it as an issue (and it's not on purpose) first would be nice so I could avoid wasting time on a patch, if it has no chance of being accepted. CC @wraithgar @ljharb

[2022-07-12 14:17] lahdekorpi opened #5151 "[BUG] Crash on conflict"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

[code]

### Expected Behavior

Expected to see errors about conflicting versions.

### Steps To Reproduce

Steps to reproduce:
[code]

### Environment

- npm: 8.13.2
- Node.js: v18.4.0
- OS Name: Ubuntu

[2022-07-12 14:44] paullewisn commented on #4232
Same on 8.11.0. Changes to overrides are only applied if `node_modules` and `package-lock.json` are removed prior to `npm i`.

[2022-07-12 15:08] archfz opened #5152 "Feature request: Support --cpu and --os flag to specify platform specific install"
## Use case

Given the `os` and `cpu` package.json attributes, and the rise on usage of `optionalDependencies` for native modules, and also given cross platform building of certain applications like `electron`, it would be nice to be able to install npm packages for a given platform, disregarding current platform.

My case is having a thrid party native module using `optionalDependencies` to insta

[2022-07-12 15:52] cebidanesrsi opened #5153 "[BUG] NPM not recognized the env alias"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I'm migrating Docker to Podman.

I added  on my env alias:
[code]

To test the alias I ran `docker-compose up --build ` and works correctly.

I have on my package.json:
[code]

When a I ran **_npm run start_**,

[2022-07-12 16:03] ljharb commented on #5152
feature requests go in https://github.com/npm/rfcs

[2022-07-12 16:18] ekelvin commented on #5123
Can anyone help on this? Any workaround?

[2022-07-12 16:56] #5152 closed, assigned to nobody

[2022-07-12 17:14] #5067 closed, assigned to wraithgar

[2022-07-12 17:57] DeveloperDanjo commented on #5017
Are there any plans to backport this to NPM 7 (where audit is also turned on by default)?

[2022-07-12 19:10] kjonescertinia commented on #5078
I have just gone down the same dead end trying to replace a scoped package with another scoped package. After quite a bit of playing with different override configs I think all I can say really is nothing worked when using scoped packages.
I can get sym links generated but they are always invalid due to pointing to bad directories.
Referencing a dependency fails during install, but I had no succes

[2022-07-12 19:22] nikkhn commented on #4828
bump - cannot get optional dependencies (namely `@swc/core-linux-arm64-gnu`) to install on my linux distro

[2022-07-12 21:36] wraithgar commented on #5142
Duplicate of https://github.com/npm/cli/issues/4838

[2022-07-12 21:36] #5142 closed, assigned to nobody

[2022-07-12 21:38] wraithgar commented on #5141
This is by design. Overrides do not work on bundled or shrinkwrapped dependencies.  Those are explicit directives from the source package.

If you think this behavior should be changed feel free to suggest it via an [rfc or rrfc](https://github.com/npm/rfcs)

[2022-07-12 21:38] #5141 closed, assigned to nobody

[2022-07-12 21:40] #5138 closed

[2022-07-12 21:43] wraithgar commented on #5125
Please see pinned issue https://github.com/npm/cli/issues/5113

[2022-07-12 21:43] #5125 closed, assigned to nobody

[2022-07-12 21:49] wraithgar commented on #5139
npx executes scripts out of a tmp subdirectory that it creates inside of the configured `cache` directory.  I suspect that config value is somehow being set to `/` which is why npx is trying to use `/tmp`.  npm does not try to use `/tmp` as a rule, the default is to use `~/.npm/tmp` on posix, and `%LocalAppData%\npm-cache\` on windows.

[2022-07-12 21:53] wraithgar commented on #5139
Looks like I was mistaken, and npm does use `os.tmpdir` to run scripts themselves https://github.com/npm/run-script/blob/8136ac01048ea16b5f1fec321ee2c73e2c67a181/lib/make-spawn-args.js#L75

@nlf is aware of this and is working to remove the tempfile approach altogether.

[2022-07-12 21:59] wraithgar commented on #5121
npm bundles all of its dependencies in the published module, this is because of the bootstrapping issue involved with installing npm itself. It has to work "out of the box".  Because of this, we also "vendor", or include, the `node_modules` contents in version control.  This is why node_modules is not ignored.  We do have a manually generated .gitignore inside that folder that ignores dev dependen

[2022-07-12 22:04] wraithgar commented on #5121
contributing update to suggest using `node .` is [here](https://github.com/npm/cli/pull/5159)

[2022-07-13 06:36] AlekhyaYalla commented on #4787
Any update on this issue? I'm facing this issue

[2022-07-13 14:43] TheCryptoMint commented on #2295
This is still an issue. Frustrating as hell. Can we have a fix please?

[2022-07-13 15:26] xenobytezero commented on #3847
Also happening for me, trying to set a dependency between two packages in a workspace

[code]

* Node 16.16
* NPM 8.12.2

[2022-07-13 16:18] wraithgar opened #5161 "Release Manager: v8.14.0 (2022-07-13)"
**Target Version**: v8.14.0
**Target Date**: 2022-07-13
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-07-13 17:58] #5161 closed, assigned to wraithgar

[2022-07-13 18:24] fredxie commented on #3405
Is there any update on this?
Experiencing the same issue here. scoped prefix (@xxx) transformed to incorrect tarball name.

[2022-07-13 18:41] initbar commented on #5151
Seconded. I'm seeing this same issue through `@nestjs/platform-express@^9.0.0` and `@nestjs/core@^8.0.0`.

### Environment

- npm: 8.5.0
- Node.js: v16.14.2
- OS Name: Mac 12.4

[2022-07-13 20:51] nlf commented on #5153
the problem here is that your aliases have most likely been set in your default shell (`zsh` in your version of macOS), and while we do pass your environment variables through to the shell we run to execute your script that shell defaults to `sh`.

to fix your problem, there are two changes you'll need to make

[^1] set your aliases in `~/.zshenv` instead of `~/.zprofile` or `~/.zshrc`
[^2] config

[2022-07-13 20:51] #5153 closed, assigned to nobody

[2022-07-13 21:01] nlf commented on #5144
supporting proxy auto config, as well as kerberos auth, would both be net new features for npm. we'll put it on our list, but it may take some time for us to address this.

[2022-07-13 21:09] nlf commented on #5136
your npm is pretty old, can you try updating?

i'm going to close this as i'm not able to reproduce this on the latest published release. feel free to reopen if it's still not working for you after updating, though.

here's what i did to try:

[code]

[2022-07-13 21:09] #5136 closed, assigned to nobody

[2022-07-13 21:20] nlf commented on #5134
i'm not able to reproduce this one so far:

[code]

is this happening for you with _any_ package coming from github, or only some specific subset? does the command that worked for me above work for you?

[2022-07-13 21:26] jasoncarmona commented on #4232
Tested on npm `8.14.0` and it's still an issue, you have to manually delete both `node_modules` and `package-lock.json` then install again so the right dependency will be selected.

If only one of those two is deleted, the process won't work and it will reconstruct the same faulty lock file.

[2022-07-13 21:27] cebidanesrsi commented on #5153
Not solve the issue.
I'm using zsh.

I did the config using the ~/.zshenv too and the error not was solved. =/

The alias are working, just `npm run` not able to see the alias.

Here the commands:

[code]

In additional here the `npm config ls -l` showing the selected shell:

[code]

[2022-07-13 21:32] nlf commented on #5133
exactly what @ljharb said, although it looks like your upgrade path may be a bit simpler than it appears at a glance.

first, to explain what's going on. as you mentioned, the package `angular-resize-event@2.0.1` has a peer dependency on `@angular/common@^10.0.14`. you're seeing `@angular/common@10.2.5` being mentioned in the logs because the original requirement of `^10.0.14` is a range. the newe

[2022-07-13 21:32] #5133 closed, assigned to nobody

[2022-07-13 21:38] nlf commented on #5132
it looks like what's going on here is that the `package.json` in your gist has the name `workshop-setup` but since this package is also published to the npm registry, we're reading the `package.json` file for a name and then installing the package from the registry instead of the gist.

this is very clearly a bug. thanks for the report!

[2022-07-13 21:42] cspotcode commented on #5134
I was seeing that it erroneously tries to talk to npmjs.com when it should be talking to GitHub.  I'm guessing if you try to run something off of GitHub, but it's been published to npm, then it'll appear to work while the bug happens behind the scenes. Maybe try with something on GitHub that is known to not exist on npm.

[2022-07-13 21:51] nlf commented on #5131
this is due to our cli's options parser eating `-bar` as though it were a flag. to get around this, you can tell the parser you're explicitly done with flags by adding `--` to your command. anything that comes after the `--` will not be parsed and will correctly show up as a positional argument internally.

[code]

feel free to reopen this issue if that doesn't work for you

[2022-07-13 21:51] #5131 closed, assigned to nobody

[2022-07-13 21:58] mike-potter commented on #5134
The `npx -y github:npm/cli --version` works for me here.  But using a public repo that has never been published to npm does not work.  But confirmed works fine in npm 8.11.0, just not in later versions.

[2022-07-13 22:00] mike-potter commented on #5134
Confirmed that the test with `github:npm/cli` doesn't actually pull it from github.  The cached `package.json` in the `.npm/_npx` folder is:
[code]
and is missing any reference to github.

[2022-07-13 22:11] nlf commented on #5130
this one's a bit confusing, but what you're seeing is correct. allow me to explain:

the `files` array in the `package.json` lists the `lib` and `dist` directories, along with a few other files. when you clone the repository, however, those files don't exist. you must run the `build` script to create them.

`build` is not a built-in script for npm, so we don't run it for you. what's happening is w

[2022-07-13 22:11] #5130 closed, assigned to nobody

[2022-07-13 22:14] nlf commented on #5139
today's release of npm 8.14.0 changed the strategy for the temp files slightly so that the execute permission is no longer required. in the future i hope to remove the temp files entirely, but in the mean time removing the requirement of execute permissions should have you unblocked.

go ahead and reopen this issue if you continue to have problems after updating.

[2022-07-13 22:14] #5139 closed, assigned to nlf

[2022-07-13 22:24] nlf commented on #5129
the condition in `lib/commands/ls.js` is wrong, i opened #5164 that fixes the bug but it won't get landed until i can get a regression test in place. i'll probably work on that tomorrow.

[2022-07-13 22:38] nlf commented on #5128
this bug is actually due to the self reference of adding your package as a dev dependency of itself. this isn't a feature that works on purpose, it just happens to in some cases by coincidence. unless we modify things to support this use case explicitly, i don't see this getting fixed.

i think the right course of action here is to open an RRFC issue at https://github.com/npm/rfcs to discuss expli

[2022-07-13 22:38] #5128 closed, assigned to nobody

[2022-07-13 22:51] nlf commented on #5126
i think there's two separate issues here.

1. `npm install` allows changes to happen to your lock file, this differs from `yarn install` and can be a source of confusion. i suspect that `npm ci` (an alias for `npm clean-install`) will give you the behavior you're looking for. this behavior won't change for a while yet, but we do hope to make the `ci` style "strictly obey the lock file" behavior th

[2022-07-13 22:55] nlf commented on #5124
is this what happened with you as well @donggyu04? sounds like this is maybe a packaging issue in homebrew, but we can sure look into it. did anyone happen to capture a full debug log for a slow run? that would be really helpful for us.

[2022-07-13 22:58] nlf commented on #5123
the prompts you're seeing aren't coming from npm, it looks like the `expo` package itself is printing those and offering to globally install packages for you. you can see that here: https://github.com/expo/expo/blob/8a782c0f0d548080e0c935a9cd94c36a600af01d/packages/expo/bin/cli.js#L24-L29

unfortunately we can't help much with that. i'm going to close this since it's not our bug, but i do think it

[2022-07-13 22:58] #5123 closed, assigned to nobody

[2022-07-13 23:03] nlf commented on #5121
@AgainPsychoX do you happen to be a windows user? some configurations in windows may be rewriting line endings in files from `\n` to `\r\n`, there's also a somewhat annoying problem with workspace symlinks that have been committed to the repo. i do quite a bit of testing in windows and have run into similar problems myself. the dev experience for the npm CLI in windows is sadly not great.

[2022-07-13 23:04] kentcdodds commented on #5132
That's great! Thank you for looking into this. I tried removing the `name` and setting it to `@kentcdodds/workshop-setup` and neither of those solutions worked. Is there a workaround I can use until this is fixed?

[2022-07-13 23:09] nlf commented on #5114
this actually has nothing to do with root ownership, the error messaging there is not great. any EACCES or EPERM error relating to your cache directory triggers this exact warning.

do you have write access to the cache directory? what filesystem is it? can one of you seeing this problem post the full debug log here?

[2022-07-13 23:13] nlf commented on #5111
is your project public? we need some help reproducing this error so that we can try to get it fixed for you.

what package depends on `@datadog/datadog-api-client`? is that the one that has the bundled deps?

[2022-07-13 23:19] nlf commented on #5153
you've set the `shell` config, but you need to set `script-shell`. give that a try and see if it helps

[2022-07-13 23:38] VoltrexKeyva commented on #5114
In my case I have full write access to the npm cache directory, if I didn't then any npm version older than 8.12.0 would've also failed with the same error, which they don't.

I don't think the type of file system is relevant here but my device's file system type is ext4.

The debug log:

[code]

<details>
<summary>Debug log</summary>

[code]

</details>

<details>
<summary>Debug log for the newer

[2022-07-14 00:00] cebidanesrsi commented on #5153
@nlf thx!

Worked after I set the script-shell.

[2022-07-14 02:56] gengjiawen commented on #5132
Another way is downgrade npm.

[code]

[2022-07-14 04:31] vincentneo commented on #5124
@nlf sorry I didn't capture any debug log

[2022-07-14 05:00] 767267 opened #5165 "[BUG] npm v8.5.0 fails with sslv3 alert handshake failure, for client certificate based authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [ ] I am using the latest npm

### Current Behavior

We have an Organization base Artifactory setup which has a Client-certificate based authentication and the then user level authentication enabled.

Recently after the update of npm to v8.5.0, the npm starting fa

[2022-07-14 06:44] Diokuz opened #5166 "[BUG] npm install fails with ECONNRESET when metainfo is big"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If package metainfo, for some reasons, is superbig (e.g. 70 mb), npm install often fails with ECONNRESET. Argument `--prefer-offline` does not help.

yarn works just fine, 5 out of 5 times it ends with success.

[2022-07-14 09:17] Raaghu opened #5167 "[DOCS] Improve BundleDependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Enhancement, not another kind of Docs Enhancement.

- [X] This is a CLI Docs Enhancement.

### Description of Problem

keyword **bundledDependencies** is not included in the response of https://registry.npmjs.com/<package-name>
Thus the npm cli tries to download the dependencies from registr

[2022-07-14 10:32] Doeke commented on #4460
On 8.12.1, I deleted package-lock and ran npm install in order to remove a stubborn peer dependency, and it generated a new lockfile without any `integrity` and `resolved` fields, and any installs afterwards will silently skip integrity checks...

The only way to get back a proper lockfile was to delete both node_modules and package-lock before doing npm install.

The default should be to add the

[2022-07-14 11:00] i-C-o-d-e-r commented on #3107
I am closing this issue, because it seems to be related to the way cmd.exe works and does not seem to be a bug of the npm cli.

[2022-07-14 11:00] #3107 closed, assigned to nobody

[2022-07-14 12:27] ThisIsMissEm commented on #5129
@nlf thanks! no real rush on getting this fixed, as for now it's a minor annoyance in our multi-package repo (it's one we don't need to touch much, thankfully)

[2022-07-14 14:11] tunessofia commented on #5111
My project is not public, but the problem is i have a package that has bundled another package, and the bundled package depends on the @datadog/datadog-api-client (and many others, but i guess this is the first it tries to access)

[2022-07-14 14:34] JasonFoglia commented on #2606
Is there an update to this issue? Running in pipelines and cannot build the project.

[2022-07-14 14:50] kristoffer-zliide opened #5170 "[BUG] Ineffective caching of git dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

After upgrading from Node 14 to Node 16.16, we're seeing an extreme increase in `npm install` times, in one case going from taking seconds to taking 17 minutes! We have a handful of git dependencies in those pro

[2022-07-14 15:58] nlf commented on #5111
if you download the tar.gz file for your package with the bundled dependencies manually and extract it, are the bundled dependencies there?

also i see in your screenshot that you're a lerna user. did you happen to do your publishing with lerna?

[2022-07-14 16:01] nlf commented on #5170
the caching of git dependencies is something we know we need to address, you're definitely right it's ineffective as it is now

[2022-07-14 16:14] nlf commented on #5166
you say "with not a very good network", can you estimate the actual bandwidth you have available?

do you also see this problem when using `registry.npmjs.org` instead of your custom registry?

[2022-07-14 19:10] irdkwmnsb commented on #5125
@wraithgar
Why not include a link to that issue with the validation error?
I was only able to find the issue because I wanted to file a bug report, which most developers won't be doing.

[2022-07-14 21:08] mycroes commented on #5136
Thanks @nlf. I upgraded NodeJS last week and was under the impression I was using a new npm version (that was installed alongside NodeJS). However I had previously followed the upgrade guide and was still on the version I had previously installed. It does indeed seems to work without issues, on npm 8.14.0 now though.

[2022-07-14 22:38] mycroes commented on #5136
@nlf I was still experiencing the issue on my CI server, so I did some more investigation and actually still have the same issue locally as well. However, there's one more package.json involved:
[code]

As you can see, `pack` will actually honor the supplied path, `publish` will just ignore it and use the workspace instead. Another interesting thing I noticed is that if I create the root package.j

[2022-07-15 08:52] pleabargain opened #5173 "run `npm fund` for details doesn't work"
I just updated npm
in the message I see
  run `npm fund` for details

I ran npm fund and got
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

[2022-07-15 08:59] flyhard commented on #5037
I believe this issue only shows up when there are dependencies that won't resolve with npm 8 but will resolve with a previous version. I have a project myself that uses internal dependencies that won't resolve correctly using npm 8, but work fine using npm 6.

If I remove those internal dependencies, the warnings come up, but not if I have them.

I guess the "engines" section is processed after th

[2022-07-15 09:53] LanYunDev opened #5174 "[BUG] Error: Cannot create a string longer than 0x1fffffe8 characters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When I do this:npm publish --access public
I got :
Error: Cannot create a string longer than 0x1fffffe8 characters

<img width="730" alt="image" src="https://user-images.githubusercontent.com/95263282/179199866-

[2022-07-15 10:05] Dezzpil commented on #4028
I had similar issue: `npm ci` always stacks  on when i run it terminal in my Jetbrains IDE
![image](https://user-images.githubusercontent.com/845600/179201703-e9f31f11-2dbb-40a1-8669-e8748176c0e4.png)

When i close IDE and run script from system terminal - `npm ci` complete successfully

Maybe IDE starts indexing node_modules folder too early and interferes with install process.

[2022-07-15 11:38] rveerd commented on #4332
Does the problem also occur when you use `bundleDependencies` instead of `bundledDependencies`? Although they are supposed to work the same, there are some issues with `bundledDependencies` as mentioned in #5167. This solved a similar issue for me with npm 8.3.1 on Linux.

[2022-07-15 13:28] Diokuz commented on #5166
Sure! The actual bandwidth (traffic speed measured with iStat Menu during `npm install`) is something about 150KB/s. Probably this is the company's registry limitation, because speedtest gives me >10MB/s.

I cant use it because of many private packages.

We wanted to migrate from yarn 1 to npm 8, but current issue is blocker-level problem for us ((

[2022-07-15 14:04] alan-agius4 opened #5175 "[BUG] version specifier doesn't work with scoped packages in `npm init`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When using `npm init` the version specifier doesn't work when the package is scoped.

### Expected Behavior

The version specifier is used and the command doesn't error.

### Steps To Reproduce

[code]

### Envi

[2022-07-15 16:48] ljharb commented on #5173
What version of npm did you update to?

[2022-07-15 16:50] ljharb commented on #5174
I wonder if the file path containing chinese characters is the issue - could you try relocating the package temporarily, and publishing from there?

[2022-07-15 16:55] ljharb commented on #5175
When it's scoped, you have to use the full package name - `@angular/create`

[2022-07-15 17:11] alan-agius4 commented on #5175
That doesn't works either

[code]

[2022-07-16 00:06] marssaljr commented on #5175
@alan-agius4 Have you tried this?

[2022-07-16 03:23] a91896 opened #5176 "Security certifications for Apple internet services - Apple Support (IN)"
https://support.apple.com/en-in/guide/sccc/sccc4d2c0468b/web

[2022-07-16 03:41] #5176 closed

[2022-07-16 05:11] therealgilles commented on #5139
Thanks all for looking into this and providing a fix so quickly!

[2022-07-16 08:15] pleabargain commented on #5173
latest

[2022-07-16 14:01] DukeAstar opened #5177 "[BUG] npm ci doesn't use registry configured in .npmrc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

We use a Nexus OSS as npm private repository.

We configure our .npmrc to use this repository.
We've got a package-lock.json which contains reference to npm.registry.com and to npm.fontawesome.com through "resol

[2022-07-16 15:17] ljharb commented on #5173
That changes week to week. 8.14.0?

[2022-07-16 17:20] a91896 opened #5178 "gh-pr-34384"
https://github.com/web-platform-tests/wpt/pulse

[2022-07-16 18:15] JimmyHoyosDev commented on #4028
I am actually having the same issue on Mac. As soon as we jumped from LTS node 10 to LTS 16. Boom issues started. But I have been able to pinpoint the hang to private dependencies hosted on bitbucket using git+ssh protocol. As soon as I remove those dependencies it all installs fast and normal. So based on that we moved those repos and dependencies on github and started using the npm registry they

[2022-07-16 18:23] ljharb commented on #4028
@colomjimmy28 generally it's best to never bump more than 1 LTS release at a time - ie, go from 10 to 12 to 14 to 16. That would help figure out if it's node, or npm, that makes a difference.

[2022-07-16 18:38] JimmyHoyosDev commented on #4028
@ljharb I agree at some level but the project in hand is not something complex or big. Reason why we jumped to 16. Once again I am blaming ssh. Something there that is just not playing nice.

[2022-07-16 19:58] Tobi-davies commented on #1785
I have the same issue, did you get a fix?

[2022-07-16 20:02] Tobi-davies opened #5179 "Hello! Facing the same issue with npm and yarn in windows too"
Hello! Facing the same issue in windows too...

**npm version** - 8.5.2
**OS** - Windows 10
**Node** - v16.14.0

Getting the error -
 **npm ERR! code UNKNOWN
npm ERR! syscall mkdir
npm ERR! path C:\Users\HP\AppData\Local\npm-cache\_cacache\index-v5\ab\02
npm ERR! errno UNKNOWN
npm ERR! Invalid response body while trying to fetch https://registry.npmjs.org/@babel%2fplugin-transform-react-jsx: UNKNO

[2022-07-16 22:16] BobFrankston commented on #5007
running into this **again** and it's a big problem.

What is the status of implementing a fix?

[2022-07-17 04:03] david-987 commented on #4787
+1 `npm cache clear --force` doesn't work which is my go-to when npm bugs out.
npm 8.1.4
node 16.14

[2022-07-17 13:45] minecrawler commented on #5007
This bug is even still in triage, so no fix in sight :(

[2022-07-18 00:26] BeapX opened #5181 "[BUG] discord.js insn't downloading on visual studio code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

0 verbose cli C:\Program Files\nodejs\node.exe C:\Program Files\nodejs\node_modules\npm\bin\npm-cli.js
1 info using npm@8.11.0
2 info using node@v16.16.0
3 timing npm:load:whichnode Completed in 0ms
4 timing con

[2022-07-18 03:02] Tarrowren opened #5182 "[BUG] `npm outdated -g` not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm outdated -g` no output

[code]
`node` is an instance of the `Link` class

[code]
`children` is always empty

### Expected Behavior

output expired packages

### Steps To Reproduce

1. npm i -g typescript@3

[2022-07-18 03:15] ljharb commented on #5182
It’s not supposed to work imo, since there’s no global package.json.

[2022-07-18 07:57] dynk opened #5183 "[BUG] npm run on a read-only filesystem does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

After upgrading the node version to my service (node:  v18.5.0 to v18.6.0, npm: from 8.12.1 to 8.13.2), my service is not able to start up anymore:

`npm WARN logfile could not be created: Error: EROFS: read-onl

[2022-07-18 08:06] pleabargain commented on #5173
8.14.0
correct

see screengrab below

I just updated npm again then ran npm fund and got zero results.

<img width="391" alt="image" src="https://user-images.githubusercontent.com/640846/179469114-f8dd4e60-b06a-40bc-8173-9337818c2355.png">

[2022-07-18 08:32] alan-agius4 commented on #5175
Hi @marssaljr, I am well aware of that command, as I am from the Angular team. The bug I am reporting is caused by NPM init command is incorrectly handling version specifiers when using scoped packages.

[2022-07-18 13:15] KMatuszak commented on #5183
I can't even start my app without read-only, reported this a few days ago on image issue tracker: https://github.com/nodejs/docker-node/issues/1749

[2022-07-18 13:43] evjero commented on #4028
Still seeing the `reify` hang on fresh `npm install`. There appears to be a lot of CPU usage at this stage. Waiting for completion takes ~15 minutes, but I've seen it take up to 45 minutes in the past, depending on system load.

Environment:
* CentOS 7 running through Windows 10 & VMWare 16.x
* 8 GB RAM
* 4 dual core processors (8)
[code]

[2022-07-18 15:25] BeapX opened #5184 "[BUG] TypeError: Cannot read properties of null (reading 'addRole')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

TypeError: Cannot read properties of null (reading 'addRole')
    at Client.<anonymous> (C:\Users\Andrei\Desktop\discordbot_rank\index.js:62:28)
    at Client.emit (node:events:527:28)
    at MessageCreateHandle

[2022-07-18 15:29] ljharb commented on #5184
That error is coming from your own JS file, not from npm.

[2022-07-18 15:29] #5184 closed, assigned to nobody

[2022-07-18 15:36] mmiretsky commented on #4028
Doesn't seem like the npm team is planning to fix this issue, which is unfortunate. I am quite disappointed with the way this software is being maintained. Our team is going to continue using npm v6 for the foreseeable future.

[2022-07-18 16:50] ColmBhandal opened #5185 "[DOCS] Clear Explanation of `npm build` for versions `6.x` of the CLI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

### Observation

The [`6.x` docs for `npm-build`](https://docs.npmjs.com/cli/v6/commands/npm-build) state:

However, `npm build` and `npm run-script build` have different results. I tes

[2022-07-18 17:14] #4765 closed, assigned to nobody

[2022-07-18 18:29] Josephkagimu1 commented on #3374
I ran **npm update**  and my issue was solved .

[2022-07-18 19:42] dannymichel commented on #4618
Is there a workaround for this to run *vue*?

[2022-07-18 20:49] CastilloLuis commented on #2295
I'm having the same issue atm. I'm trying to perform some npmjs action in my terminal but is not possible. I already changed account/pw twice and i'm still getting the issue while trying to log-in with `npm login`

[2022-07-18 21:59] sbonami commented on #4232
In case it helps, my specific scenario correctly sees the override applied to the first-level package. Where it fails is in the much-deeper instance. I'm not familiar with the internals of npm's tree generation, but this coincides with a working override for the dependency in the root of node_modules but not for the nested version.

OS: MacOS 12.3.1
Node: 16.14.2
NPM: 8.5.0

[code]

[code]

[code]

[2022-07-19 09:17] turbodude commented on #3078
I have this issue when cloning a github repo. Network speed and connection should be fine... Windows 11, npm 8.13.2, node 18.6.0 (as well as v16.16.0).
Tried increasing timeouts, cleaning cache...
[code]

[2022-07-19 09:22] HarrySpyrou commented on #4234
Apologies if I'm hijacking the thread but I got 18.6 working for me with nvm 1.1.7 on Windows 10:

`nvm uninstall 18.6` (if you have it installed).

I went to the [node.js website and downloaded the Windows msi ](https://nodejs.org/en/download/current/) and when it asked me if it should install 'additional tools' I selected that (which I believe is what was going wrong with nvm). Then I let it do

[2022-07-19 11:06] turbodude commented on #3078
Downgrading to Node v14.20.0 apparently fixes the issue.

[2022-07-19 12:19] ThisIsMissEm commented on #4268
I think I've a similar problem to this over on the typescript repo regarding installing a canary release: https://github.com/typescript-eslint/typescript-eslint/issues/5352#issuecomment-1188504561

I'm explicitly doing `npm install @typescript-eslint/parser@canary @typescript-eslint/eslint-plugin@canary` but npm is trying to install an incompatible peer dep and just fails, because non-latest tag/p

[2022-07-19 12:35] jonasflynn66 opened #5188 "indian warfare 2022"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

DEALING WITH FOOLS CIVERAGE

### Expected Behavior

CLAP DAT

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...'
4. See error...

### Environment

- npm:
- Node.js:
- OS Name:

[2022-07-19 13:33] #5188 closed, assigned to nobody

[2022-07-19 14:10] Zakyyy commented on #4787
same

[2022-07-19 17:26] wraithgar commented on #5183
This is being tracked in https://github.com/npm/cli/issues/4838

[2022-07-19 17:30] wraithgar commented on #5182
Global outdated assumes a situation in which you have a `package.json` that is wanting the latest at all times.  It does work for me, I can not reproduce.

[code]

[2022-07-19 17:36] wraithgar commented on #5177
You are going to need to re-create your lockfile with the [--omit-lockfile-registry-resolved](https://docs.npmjs.com/cli/v8/using-npm/config#omit-lockfile-registry-resolved) flag

[2022-07-19 17:41] wraithgar commented on #5174
This appears to be an issue w/ the registry itself, as it parses the tarball contents.  You likely need to open up a ticket w/ the npm registry at https://www.npmjs.com/support

[2022-07-19 17:44] smeierhofer opened #5189 "[BUG] Running npm install creates junctions rather than symlinks on Windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

My package.json defines a workspace as:
    "workspaces": ["projects/*"]
and when I run "npm install" on Windows it creates **Junctions** in the node_modules folder for each of the projects in my workspace.

The

[2022-07-19 18:09] wraithgar commented on #5185
In `v6` `npm build` is the code that runs after `npm install` has run. It is a plumbing command and really shouldn't need to be ran on its own.

There is a [docs](https://github.com/npm/cli/tree/v6-docs) branch where you can suggest a change if you want.  `npm build` would be the correct command to run if you somehow needed it (which you shouldn't, as `npm install` and `npm link` do this already).

[2022-07-19 18:09] #5185 closed, assigned to nobody

[2022-07-19 18:11] wraithgar commented on #5179
If you can't delete the files manually from your OS then this is likely not a problem npm can do anything about.

Please also use the new issue template when creating issues.

[2022-07-19 18:11] #5179 closed, assigned to nobody

[2022-07-19 19:35] ColmBhandal commented on #5185
@wraithgar, here is the key question. Why does the documentation conflate `npm run-script build` with `npm run-build`, in the following paragraph?

From what I understand, and based on testing I've done, `npm run-script build` tries to run the _user-defined_ script `build`, even in v6 - so why is this being suggested on the `npm build` CLI command page?

I would happily make an edit to the docs on

[2022-07-19 19:39] wraithgar commented on #5185
Yes the suggestion to `run-script` is in error. It should just be `npm build` to rerun the `build` command.

[2022-07-19 19:45] pedrofrancescon opened #5191 "[BUG] Unable to download tarball of private packages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [x] I am using the latest npm

### Current Behavior

I'm unable to use the `npm pack` command to download the the tarball of npm packages I have published on my private GitLab package registry:

[code]

When I first do a `npm install -g` before, it downloads the p

[2022-07-19 21:07] wraithgar commented on #4248
There aren't docs per se but you can see how the `pack` and `publish` commands do things.  Specifically `pack` is calling directly out to `libnpmpack`  That's all you should need to generate the tarball that `libnpmpublish` is expecting, s your assumption there was correct.

Both modules expect the same options so migrating shouldn't be anything breaking from the view of changing which one you cal

[2022-07-19 21:07] #4248 closed, assigned to nobody

[2022-07-19 21:09] wraithgar commented on #5134
This is the same root cause as https://github.com/npm/cli/issues/5132, which has already been triaged and prioritized. Closing this as a dupe and making a note there about this issue existing.

[2022-07-19 21:09] #5134 closed, assigned to nobody

[2022-07-19 21:09] wraithgar commented on #5132
Duplicate issue here w/ some more comments: https://github.com/npm/cli/issues/5134

[2022-07-19 21:10] wraithgar commented on #4090
This appears to have been fixed

[code]

[2022-07-19 21:10] #4090 closed, assigned to nobody

[2022-07-19 21:18] wraithgar commented on #4107
We would definitely need more info to know what the error is, and how to reproduce it. As jordan said please fill out the issue template.

[2022-07-19 21:18] #4107 closed, assigned to nobody

[2022-07-19 21:21] wraithgar commented on #4098
Yep! This was fixed shortly after you opened this issue https://github.com/npm/cli/pull/4060

[2022-07-19 21:21] #4098 closed, assigned to nobody

[2022-07-19 21:27] wraithgar commented on #4121
`silent` is a directive to logging, not to script execution.  `--foreground-scripts` is the thing that is *supposed* to silence script output.

Having said that, the `--foreground-scripts` param is not being obeyed properly by libnpmpack, so that's a bug.

[2022-07-19 21:36] a91896 opened #5193 "EA1647"
https://github.com/innovaccion-virtual/onboarding-github-innovaccion/blob/luisejrobles-links-to-sdp/README.md

[2022-07-19 22:24] #5193 closed

[2022-07-19 22:47] obataku commented on #4896
any word on whether a fix will be backporteed to npm 6? given LTS for node 14

[2022-07-20 01:46] Tarrowren commented on #5182
I found that it was caused by my use of nvs, which creates a symbolic directory link to the node.js directory, causing arb.loadActual() to return ArboristLink instead of ArboristNode.

[2022-07-20 06:38] srsgores commented on #4234
As @mcaden wrote, Windows users must re-install the `latest` version of NodeJS using `nvm`:

1. Download and re-run the latest [`nvm-setup.exe`](https://github.com/coreybutler/nvm-windows/releases/download/1.1.9/nvm-setup.exe) from the [`nvm-windows` release page](https://github.com/coreybutler/nvm-windows/releases)
2. Uninstall the `latest` version of NodeJS via a Terminal session with Administra

[2022-07-20 06:51] WORMSS commented on #4234
The problem here is _"with Administrator privileges"._.
We **SHOULD** get the Windows UAC screen (looks like)
![image](https://user-images.githubusercontent.com/1384537/179915264-376ba44b-865b-42d8-a975-2ce40405d646.png)

Where you allow/disallow each individual command.
Rather than open up "with administrator privileges" where you give it permission to do anything and everything it wants..

It's

[2022-07-20 10:22] nickdeakin opened #5195 "[BUG] Script with directory iteration does not parse correctly as of 8.13.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When running an npm script, in npm 8.14.0 (also 8.13.x) which iterates a directory, the iteration does not happen. The script does not seem to be parsed correctly.

The script with the iteration is:
`for /D %D i

[2022-07-20 11:01] WORMSS commented on #2828
Just because this has been stale for a little while..
Has there been able update or traction with this bug?

[2022-07-20 11:53] DukeAstar commented on #5177
Thanks for answer.
Btw something seems to be wrong, why it works for package from default registry ans not for the others.
.npmrc is used for override registry which is done partially.
And each time we want to update package-lock.json we need to not to forget this option.

[2022-07-20 12:40] bartgriffith commented on #4234
I am using NVM 1.1.9 and don't have any issues installing and switching between node versions. In fact, I installed 16.16.0 this morning.

I think the issue is trying to use versions of node that were installed with previous versions of NVM.  When you upgrade NVM you will have to uninstall and reinstall all the versions of node with the latest NVM or you will see this error.

[2022-07-20 12:44] WORMSS commented on #4234
Sadly it was not the case, 1.1.8 and higher produces a `Access is denied` and doesn't attempt to bring up the UAC screen at all.

[2022-07-20 13:11] HarrySpyrou commented on #4234
@bartgriffith what about Node 11 or 10?

[2022-07-20 13:36] #5182 closed, assigned to nobody

[2022-07-20 16:55] wraithgar commented on #3954
This appears to have been fixed

[code]

[2022-07-20 16:55] #3954 closed, assigned to nlf

[2022-07-20 17:04] jerinkalexander commented on #4787
128 verbose node v16.15.1
129 verbose npm  v8.14.0
130 error Cannot read properties of null (reading 'children')
131 verbose exit 1

Same here while running npm link.

[2022-07-20 17:09] mbtts commented on #4003
Thank you for the explanation:

1. Was this conscious change in behaviour between 6.x. and 7.x: “_if a git dependency defines a build script then npm determines while installing it, we need to build it first_”?
2. Where is/was this documented?

Essentially:

I am more than happy/willing to draft suggested documentation updates… but trying to establish the facts first.

There is also a CLI consider

[2022-07-20 18:16] Pavanviky commented on #2418
will their be any problem if i use -save - force

[2022-07-20 18:26] fritzy opened #5198 "Release Manager: v8.15.0 (2022-07-20)"
**Target Version**: v8.15.0
**Target Date**: 2022-07-20
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-07-20 18:33] #5167 closed, assigned to nobody

[2022-07-20 21:25] wraithgar commented on #3608
@kokushkin thanks for the reply.  If anyone is still having issues with dedupe feel free to open a new issue for it and we'll get it triaged appropriately.

[2022-07-20 21:25] #3608 closed, assigned to nobody

[2022-07-20 21:34] wraithgar commented on #4669
Yes this is related to peer dependency resolution and not `devDependencies` per se.

As of testing just now (using`v8.14.0`) npm does install successfully with `npm i --omit=dev` using the example given.

Errors seen during install using the example given are due to npm trying to correctly resolve all extant peer dependencies.  See https://github.com/npm/cli/issues/5113 for more info on that

[2022-07-20 21:34] #4669 closed, assigned to nobody

[2022-07-21 02:13] Tarrowren commented on #5182
The problem is not solved.
Is it better to disable similar node.js version managers from using symbolic directory links, or is it compatible with them?

[2022-07-21 02:49] surbhirverma commented on #4193
this doesn't seem to work if my packages are not published to registry. It throws error 404 not in registry. There is already a bug reported for this https://github.com/npm/cli/issues/3940

[2022-07-21 10:36] robations commented on #4069
More explicitly, can someone reopen this issue?

There's still a bug, or the docs need to be changed to explain better how this works.

[2022-07-21 10:56] rayraymo opened #5200 "Protocol/reader"

[2022-07-21 10:56] tunessofia commented on #5111
With the .tar the files are the same as above, the monitor package is inside but doesn't have its node_modules. Yes i'm publishing with lerna the command I use is `npm run lerna -- run npmPublish --scope ${fqPackageName} -- --tag ${tag}`

[2022-07-21 11:11] rayraymo opened #5201 "Protocol/reader/hello@protocol.com"
https://github.com/npm/cli/issues/5200/AES_128_GCM/policy

[2022-07-21 11:21] rayraymo commented on #5201
Raymonde Maurice
Marketing / SENT-t NU-tree SK-in

• Newsletter
√ policy
√ source code
√ worplace
√ Enterprise

[2022-07-21 12:13] gmrchk opened #5202 "[BUG] Inconsistent dependancies versions for sub-dependancies due to deduplication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Consider the following scenario (also available at https://github.com/gplopes/npm-dedupe-peer-deps for repro).

[code]

The `npm install` will produce following node_modules structure:

[code]

`@graphql-tools/s

[2022-07-21 12:20] SergeS opened #5203 "devDependcies are installed when they are peer dependency to one of production dependency"
Scenario, we have a project, that is using knex package to generate SQL, then we have sqlite3 db for development purposes and oracle database for production.

in package.json there are

[code]

Both oracledb and sqlite3 are peer dependencies of knex, marked as optional. When i do `npm i` it installs all as expected, problem is with `npm i --omit=dev`

### Expected

`npm i --omit=dev` installs only

[2022-07-21 12:30] kokokenada commented on #3847
Same problem:

npm: 8.15.0
v16.16.0

And thanks @shirshendubhowmick - removing all the file: dependencies from all the package.json's seems to work around the problem.

[2022-07-21 13:36] wraithgar commented on #5182
npm treats linked dependencies very differently from real ones, yes.  It is not designed to have global installs be links.

[2022-07-21 14:08] #5201 closed, assigned to nobody

[2022-07-21 14:08] #5200 closed, assigned to nobody

[2022-07-21 14:11] wraithgar commented on #5202
`@graphql-tools/schema` defines its peerDependencies as:

[code]

And since you already have `15.0.0` in your root, it's perfectly valid to hoist it.

How would npm know any differently? There is nothing in the setup of that tree that would inform npm that anything is wrong.

[2022-07-21 14:15] VanishMax commented on #4367
I have the same problem as @JoshuaKemmerer with pnpm, hoping it will be fixed soon

[2022-07-21 14:17] wraithgar commented on #5203
`npm` will attempt to install optional dependencies unless specifically told not to. You need to also `--omit=optional` if you don't want optional dependencies installed.

[code]

[2022-07-21 14:17] #5203 closed, assigned to nobody

[2022-07-21 14:27] PatrikTrefil opened #5204 "[DOCS] npm ci options missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

The [npm ci documentation](https://docs.npmjs.com/cli/v8/commands/npm-ci) does not mention options such as `--no-optional`, `--only`, etc. even though they are supported (based on my te

[2022-07-21 14:37] gmrchk commented on #5202
Because this way it leads to a situations where:

* `project-a` uses `graphql`, and the version `16.5.0` is used.
* `project-a` uses `@graphql-tools/schema`.
* * `@graphql-tools/schema` uses `graphql` under the hood, and since it's deduped, version `15.0.0` is used.

You're suddenly using two different versions of `graphql` package in a single script. Those can be two patch versions, but also two

[2022-07-21 14:41] wraithgar commented on #5174
This isn't hitting the npm registry which means it is node itself that's bailing out.

Digging into the logfile again I now see that it's erroring when trying to create the tarball. It is over 500mb in memory.  That is larger an node can put into a string to upload to the server, let alone anything the registry is prepared to accept.

Your published package can not be that large.  You can try shri

[2022-07-21 14:41] #5174 closed, assigned to nobody

[2022-07-21 14:49] wraithgar commented on #5202
That may seem intuitive to this situation but that doesn't always translate to it always being the most correct choice.  A decision like this (to change how npm dedupes/hoists) needs to go through the [rfc](https://github.com/npm/rfcs) process. I would recommend opening either an RFC or an RRFC so that can be evaluated.

[Here](https://github.com/npm/rfcs/pull/23) is one that is currently being ac

[2022-07-21 14:49] #5202 closed, assigned to nobody

[2022-07-21 15:20] wraithgar commented on #5175
Sorry about that @alan-agius4.  Should be fixed by https://github.com/npm/cli/pull/5206

[2022-07-21 15:21] alan-agius4 commented on #5175
Thanks @wraithgar

[2022-07-21 15:38] wraithgar commented on #5173
Duplicate of https://github.com/npm/cli/issues/3112

[2022-07-21 15:38] #5173 closed, assigned to nobody

[2022-07-21 16:31] #5198 closed, assigned to fritzy

[2022-07-21 16:40] #4769 closed, assigned to lukekarrys

[2022-07-21 16:40] #4838 closed, assigned to lukekarrys

[2022-07-21 16:40] #4996 closed, assigned to lukekarrys

[2022-07-21 16:51] gmrchk commented on #5202
I've check the linked existing RFC, and I believe it's not directly related to the issue described. I will gladly open and RFC for this change. Thank you for the suggestion.

Before we move on to that, I think it needs to be said that the npm's dedupe seems like optimization, unless I'm mistaken.
However, in the case described, which is not unusual, it is essentially causing `project-a` to use a m

[2022-07-21 18:12] bpcrao commented on #2508
I cannot stop commenting on this since it took 8x3 = 24 hours so far.

[2022-07-21 19:30] drfish commented on #5024
Thank you op for asking the question & Zinkem for the suggested fix, I've had a repo that suddenly wouldn't start angular in dev mode last week. Not sure which NPM I had installed but probably 8.14.0 (on node 16.16.0) and no one else in the company was having the same problem. Dropped my NPM to 8.3.1 and bam it works.

After some trial and error it looks like for my win10 64-bit machine running no

[2022-07-21 20:46] khalyomede opened #5208 "[FEAT] New --ci option for npm outdated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Currently, I am manually checking if my NPM packages are up to date. I run `npm outdated` on my console often. The issue is sometimes I might skip this command, and let in production a version of my app that is

[2022-07-22 02:59] shinelp100 opened #5210 "[BUG] npm publish --dry-run For script prepare void"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

npm publish --dry-run For script prepare void

prepare will not run during [--dry-run](https://docs.npmjs.com/cli/v8/using-npm/scripts#npm-publish)

`
"scripts": {
    "jest": "jest",

[2022-07-22 07:18] sathishsoundharajan commented on #4895
I believe my issue is similar to https://github.com/npm/cli/issues/4028

[2022-07-22 08:44] gagan-bansal commented on #3472
Same here. but one thing I would like to point out that I was not aware.
[code]
Here the package name with vulnerability  and not necessary your direct package.
Like:
[code]
Run npm update for minimist (```npm update minimist```).  It worked for me for and there is no vulnerability with minimist.

[code]
Is my observation correct, in sense if `npm audit fix` is not working we can individually upda

[2022-07-22 09:57] keerthi08-dev opened #5211 "unknown command"
i got an unknown command error then updated the version yet I didn't get my command. have to know how to get it

[2022-07-22 15:22] zachariaellaham commented on #3678
Same issue here

[2022-07-24 10:10] andrey-helldar commented on #4787
Node 16.16 and Npm 8.11 and 8.15 too

<details>
<summary>Show log</summary>

[code]
</details>

[2022-07-24 14:42] VividLemon opened #5213 "[BUG] having an internal script with the same name as a builtin, runs both scripts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If you have a script, lets say "install", in your package.json, since it conflicts with the builtin script, if you do "npm install", it will actually run both the builtin install script, and the internal install

[2022-07-24 18:57] moritztim opened #5214 "[BUG] install commands without "" could cause problems"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When installing a package like this  `npm i @username/example` certain usernames can cause issues in PowerShell in certain cases. If the username starts with a number and contains a `.` PowerShell will see it as

[2022-07-25 08:25] bsrdjan opened #5215 "[BUG] Node add-on installation fails on Windows with npm 8.15.0"
### Is there an existing issue for this?
Not found

- [X] I have searched the existing issues

### This issue exists in the latest npm version
Only in the latest npm

- [X] I am using the latest npm 8.15.0

### Current Behavior

The installation of native node add-on [SAP/node-rfc](https://github.com/SAP/node-rfc) fails with  npm 8.15.0, on Windows:

[code]

and more info provided here: https://gi

[2022-07-25 09:49] J3m5 commented on #4966
I have this problem as well.
Is there a workaround?

[2022-07-25 10:59] AJMcKane commented on #4234
Still reproducing on Node 17.7.2 with NPM 8.5.2 installed via NVM on Windows 10.  Also had the same issue with Node 16.16.0 and NPM 8.11.0.  Had to revert  to Node v16.13.2  NPM 8.1.2 to get `npm install` to work without this error.

[2022-07-25 12:13] cristiand391 commented on #4234
@AJMcKane this is not an npm bug, it only happens with older nvm version, read the prev comments.

[2022-07-25 13:47] cody-lettau commented on #4313
Is there a plan to fix this at any point in the near future or should we be using ```--no-audit``` to get around it?

[2022-07-25 16:21] krtek4 opened #5216 "[BUG] npm using the wrong package.json file from a parent folder"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When trying to install packages using `npm install` or seeing the current directory using `npm prefix`, npm display a parent directory also containing a `package.json` file.

This seems to only happen with the e

[2022-07-25 17:13] stormmuller commented on #5007
I've been running into this now too.

We also have workspaces (single `package-lock.json`). This seems to work in linux (WSL more specifically) but not on windows.

I've tested on versions 8.15.0 and 8.11.0, both are broken.

[2022-07-25 18:25] stormmuller commented on #5007
I reinstalled node and still had the same issue. Only once I deleted `C:\Users\<user>\AppData\Local\npm-cache` was I able to install my packages.

I'm not saying this is the right thing to do, or that anyone should do it. I'm not entirely sure what the side effects might be.

[2022-07-26 03:36] aleen42 opened #5217 "[Question] where is bottleneck when installing?"
Recently I have found that it took 10x time to install dependencies with the same version of npm. I want to know why it took
 so much time to load the ideal tree and extract dependencies? The following is the verbose log

[code]

[2022-07-26 04:09] benwalder commented on #5213
It seems this may be causing an issue when installing a package like canvas.  When I run `npm install canvas@latest`, the default npm install command node-gyp rebuild is being run:

```npm info run canvas@2.9.3 install node_modules/canvas node-gyp rebuild```

instead of what is in their [package.json](https://github.com/Automattic/node-canvas/blob/master/package.json#L32 ):

```"install": "node-pr

[2022-07-26 04:30] bsrdjan commented on #5215
npm 8.13.2 is the latest working version

[2022-07-26 06:30] marekhalmo commented on #2850
Tried the solution of @ssr-02kk - still the same result

node:internal/modules/cjs/loader:933
  const err = new Error(message);
              ^

Error: Cannot find module 'code-point-at'
Require stack:
- C:\Program Files\nodejs\node_modules\npm\node_modules\wide-align\node_modules\string-width\index.js
- C:\Program Files\nodejs\node_modules\npm\node_modules\wide-align\align.js
- C:\Program Files\n

[2022-07-26 08:52] ljharb commented on #5217
Try npm 8, and a non-EOL node?

[2022-07-26 10:55] mustafiz-rahman commented on #4553
This worked for me

[2022-07-26 12:35] prettydiff opened #5219 "[BUG] publish returns 403"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Attempting to publish an existing package that I own and already exists on the registry.  Version on the registry is 0.2.10 and am attempting to publish version 0.2.13.

* https://www.npmjs.com/package/share-fil

[2022-07-26 12:37] prettydiff commented on #5219
It would be helpful if the log indicated the cause for the 403.

[2022-07-26 14:20] aleen42 commented on #5217
@ljharb npm@8.x seems good, but I did not meet this problem when using npm@6.x 5 months ago.

[2022-07-26 14:58] VoltrexKeyva commented on #5114
@nlf any updates on this?

[2022-07-26 15:03] Haiz14 commented on #5114
@VoltrexMaster just doing  `pkg uninstall node` works for me

[2022-07-26 16:37] chrisprobably opened #5220 "[BUG] Default value for workspace in config is unclear"
# What / Why
On the config page for 8.x, the default for workspace is completely blank See: https://docs.npmjs.com/cli/v8/using-npm/config#workspace

It looks like this:

Other config items are using `null` / `""`. If this is type String, I assume the default should be displayed as  `null` / `""`.

## Where
[https://docs.npmjs.com/cli/v8/using-npm/config#workspace](https://docs.npmjs.com/cli/v8/us

[2022-07-26 17:00] VoltrexKeyva commented on #5114
This is not an actual fix for the issue at hand, doing that just uninstalls Node.js, and reinstalling Node.js will install an older version of npm (v8.11.x) where this issue is not present.

The error I've denoted in my issue started occuring since npm v8.12.x which is still not fixed even in npm v8.15.x.

[2022-07-26 17:32] jef348 commented on #2306
My hangs using node 14, 16, or 18 was solved by getting rid of Sophos anti-virus.

[2022-07-26 17:35] fritzy commented on #5217
npm `v6` is no longer in active development; We will continue to push security releases to `v6` at our team's discretion as-per our [Support Policy](https://github.com/npm/cli/wiki/Support-Policy).

If your bug is preproducible on `v8`, please re-file this issue using our [new issue template](https://github.com/npm/cli/issues/new?assignees=&labels=Bug%2CNeeds+Triage%2CRelease+8.x&template=bug_8.ym

[2022-07-26 17:35] #5217 closed, assigned to nobody

[2022-07-26 17:38] fritzy commented on #5211
**Closing:** please use our [issue template](https://github.com/npm/cli/issues/new/choose) &/or review our [contributing guidelines](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#reporting-bugs).

[2022-07-26 17:38] #5211 closed, assigned to nobody

[2022-07-26 17:39] #5121 closed, assigned to nobody

[2022-07-26 17:49] fritzy commented on #5119
I started an RRFC to discuss this feature.
https://github.com/npm/statusboard/issues/525

[2022-07-26 17:49] #5119 closed, assigned to nobody

[2022-07-26 17:51] fritzy commented on #4956
Can you create [an RRFC](https://github.com/npm/rfcs/issues/new?assignees=&labels=&template=rrfc.md&title=%5BRRFC%5D+%3Ctitle%3E) in that repo?

[2022-07-26 17:51] #4956 closed, assigned to nobody

[2022-07-26 17:55] fritzy commented on #5219
**Closing:** this looks to be an issue with the registry which is outside the scope of this repo. For registry support please go to [npmjs.com/support](https://www.npmjs.com/support). If you believe this is a bug with the cli, please provide further clarifying details.

[2022-07-26 17:55] #5219 closed, assigned to nobody

[2022-07-26 18:09] MylesBorins commented on #5220
I'm transferring this issue to the CLI repository where these docs are maintained

[2022-07-26 18:14] fritzy commented on #5216
This could be happening if `projects/cci-utils` is a workspace of `cci-packages`. `workspace` is implicitely set, and `prefix` is set to the root workspace when running commands within a workspace.

I updated the docs.

If this is not what's happening, feel free to re-open this issue, indicating what is in the root package.json file.

[2022-07-26 18:14] #5216 closed, assigned to nobody

[2022-07-26 18:22] fritzy commented on #5220
Just like `diff` `include` and `package`, the internal default is an empty array, but that doesn't make sense from a command line or config file perspective. It's either set to one or more values, or it isn't set at all. What is the actual problem you're trying to solve?

[2022-07-26 18:43] arimus commented on #4787
This problem is super frustrating. I'm trying to get the package updated upstream, so that I no longer have a local file dependency, but that is taking a long time as well. Kind of surprised that more folks haven't been having this issue, which would give it more attention.

Worth noting that I've been playing with pnpm recently, which does not have this issue and also has a lot of good features.

[2022-07-26 20:27] jenseng commented on #3985
The pull request above will make it so you can set registry-scoped auth via env vars, for example:

[code]

Note that you may need to use something like env/cross-env to set it... while environment variable names can have [pretty much any character](https://pubs.opengroup.org/onlinepubs/000095399/basedefs/xbd_chap08.html), shells are less forgiving.

In the meantime, there is a pure-env-var workar

[2022-07-27 04:41] woorykim commented on #4980
1. ```npm i -g npm-windows-upgrade```
2. ```npm-windows-upgrade```
3. If the above problem persists, use the following methods:
(feat. @Hashsudo - Thanks! UHUH~~~~ Thank for you solve!🧙‍♂️)

[2022-07-27 08:53] GameratorCreator commented on #5114
The solution that worked for me was to set the cache location for npm like so: `npm config set cache /path-to-tmp --global`
npm is trying to use a cache location that does not exist or it has no access to.

[2022-07-27 08:58] mrdcvlsc commented on #4553
I have also encountered this error today with:

- **npm - 8.15.0**
- **node - v18.6.0**

I was trying out `npx create-react-app` for the first time, and this error keeps on occurring.

This one helped me... though I need to add commands and modify the values.

This is what I did:
[code]
Seems overkill but It worked for me.

[2022-07-27 09:01] VoltrexKeyva commented on #5114
In this case, npm does have full access to the default cache directory which is located in `~/.npm`, any npm version equal to or older than v8.11.x works just fine, but any npm version equal to or higher than v8.12.x does not, this is an issue with npm itself, not Termux nor the file system, or the cache directory.

I suspect there is an issue with Arborist which causes this issue, although I'm no

[2022-07-27 09:16] qotsa2002 commented on #5002
We have the same problem with `npm i`, with the exact same stack trace.

### Environment
npm: 8.11.0
node: 16.15.1
OS: Windows 10

[2022-07-27 09:57] JanDeDobbeleer commented on #4377
I have the exact same issue:

[code]

[2022-07-27T09_56_08_631Z-debug-0.log](https://github.com/npm/cli/files/9197215/2022-07-27T09_56_08_631Z-debug-0.log)

[2022-07-27 11:53] jayaddison commented on #2846
@luxaritas I could be mistaken, but I think that although the NPM CLI v8.5.2 no longer verifies the integrity of packages installed from `git` references, it does still calculate and update a local integrity value (potentially with architecture-specific results, as noted in this issue).

[2022-07-27 14:23] papb commented on #3773
@wraithgar Would you consider a feature request of a flag that allows overriding this behavior so that `root` is used? Or even a flag that allows us to specify which user we want?

[2022-07-27 15:00] chrisprobably commented on #5220
I see, thanks for explaining, I can see why it's blank now as `[]` wouldn't really make sense. I thought it was an oversight at first. Since, I think,  `diff` has been like this for ages, it seems likely most people are able to understand the meaning of the empty default.

As a bit of background, I was troubleshooting another tool that wraps npm. This tool, for some unbeknownst (and bizarre) reaso

[2022-07-27 15:00] #5220 closed, assigned to nobody

[2022-07-27 15:22] wraithgar commented on #3773
There is an ongoing discussion about this already in the rfc repo https://github.com/npm/rfcs/issues/546

[2022-07-27 17:20] 13twelve commented on #1637
@jasonkuhrt  did you ever figure this out?

[2022-07-27 20:34] fritzy commented on #5215
Reproduced.

[code]

[2022-07-27 20:39] tamsler opened #5222 "[BUG] npm install causes : Cannot read properties of null (reading 'explain')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm install causes following error:

[code]

### Expected Behavior

Install packages defined in package.json

### Steps To Reproduce

Download repo
cd into repo
npm install

### Environment

node bin location =

[2022-07-27 20:41] fritzy commented on #5214
Generally, escaping and quoting in the command line is an exercise left for the user, but I see your point about the registry page itself.

**Closing:** this looks to be an issue with the registry which is outside the scope of this repo. For registry support please go to [npmjs.com/support](https://www.npmjs.com/support). If you believe this is a bug with the cli, please provide further clarifying

[2022-07-27 20:41] #5214 closed, assigned to nobody

[2022-07-27 20:45] fritzy commented on #5222
We're going to need more steps to reproduce. What are the contents of your `package.json`?

[2022-07-27 20:51] fritzy commented on #5215
The lifecycle script "dependencies" was recently added to npm. https://docs.npmjs.com/cli/v8/using-npm/scripts#dependencies

The `node-rfc` package defines a dependencies script, which now gets automatically ran when dependencies are changed, and it itself installs dependencies. This understandably causes problems. This may be interacting with the other lifecycle scripts "preinstall" and "devDepen

[2022-07-27 20:51] #5215 closed, assigned to nobody

[2022-07-27 20:54] tamsler commented on #5222
Here are the dependencies:
[code]

[2022-07-27 20:55] fritzy commented on #5213
npm has "lifecycle scripts" that run when certain actions are taken. You name your scripts after these lifecycle events in order to have them executed.

https://docs.npmjs.com/cli/v8/using-npm/scripts#npm-install

`npm install` for example will run:
- preinstall
- install
- postinstall
- prepublish
- preprepare
- prepare
- postprepare

This is expected and documented behavior.

[2022-07-27 20:55] #5213 closed, assigned to nobody

[2022-07-27 21:04] #5175 closed, assigned to wraithgar

[2022-07-27 21:05] #5204 closed, assigned to wraithgar

[2022-07-27 21:15] #5120 closed, assigned to nobody

[2022-07-27 21:19] fritzy commented on #5210
The documentation says that `--dry-run` should not run prepare, but it currently does.

[2022-07-27 21:37] fritzy commented on #5208
Can you create [an RRFC](https://github.com/npm/rfcs/issues/new?assignees=&labels=&template=rrfc.md&title=%5BRRFC%5D+%3Ctitle%3E) in that repo?

[2022-07-27 21:37] #5208 closed, assigned to nobody

[2022-07-27 21:46] fritzy commented on #5222
I'll make a quick PR to fix this edge case, but once fixed ...

[code]

[2022-07-27 21:47] lukekarrys opened #5224 "Release Manager: v8.15.1 (2022-07-27)"
**Target Version**: v8.15.1
**Target Date**: 2022-07-27
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-07-27 22:57] lukekarrys commented on #5224
Closed by #5226

[2022-07-27 22:57] #5224 closed, assigned to lukekarrys

[2022-07-28 02:36] patoncrispy commented on #4232
If you're in a workspace, move the override to the root package.json. That works for me.

[2022-07-28 04:24] FunTeaMan opened #5228 "[BUG] <title>npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

### Expected Behavior

no more"npm WARN config global `--global`, `--local` are deprecated. Use `--location=global`

[2022-07-28 04:32] ahmadnassri opened #5229 "[BUG] npm update doesn't actually fetch the latest versions of dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

running `npm update` doesn't update to the `latest` tag.

![image](https://user-images.githubusercontent.com/183195/181420485-198f6065-6442-42d7-9fd7-cf1babaec05e.png)

### Expected Behavior

npm update should u

[2022-07-28 04:49] jeffreyrivor commented on #5228
Seems like the issue is from https://github.com/nodejs/node/blob/main/deps/npm/bin/npm.cmd#L12 which seems to come from https://github.com/npm/cli/blob/latest/bin/npm.cmd#L12

It's using `'CALL "%NODE_EXE%" "%NPM_CLI_JS%" prefix -g'` instead of the new argument `'CALL "%NODE_EXE%" "%NPM_CLI_JS%" prefix --location=global'`.

[2022-07-28 05:28] neeldani opened #5230 "[BUG] Repeating keystrokes in CLI while entering username after CLI stops polling during login"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When a user tries to login to the CLI using the `auth-type=web` flag and lets the polling of the CLI to expire by waiting for 5 minutes, the CLI prompts for the `username`. Now when the user types the username,

[2022-07-28 07:44] ljharb commented on #5229
That’s incorrect; it updates to the latest in-range dependency, and should not update to the latest. To update to the latest, you should explicitly install it as such.

[2022-07-28 07:57] neeldani opened #5231 "[BUG] Hitting Ctrl + C does not kill the polling of the CLI in the first go while logging in"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When the user logs in ia the CLI using the flag `--auth-type=web`, the user is prompted to hit "Enter" to open the link in the browser. However, if the user changes their mind and wishes to kill the polling of t

[2022-07-28 08:05] PatrikTrefil opened #5232 "[DOCS] Missing flags of npm install and npm ci"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

Documentation for `npm install` and `npm ci` does not include the `--include`, `--only`, `--no-optional` flags in version 8.x.

- [npm-install](https://docs.npmjs.com/cli/v8/commands/np

[2022-07-28 08:08] ahmadnassri commented on #5229
if semver ranges are to be respected by default, then what's the mechanism for getting updates outside of the defined ranges? (without having to `npm install` each one)

also, the docs are not clear on the ranges being a determinate factor, though the examples later in the page do indicate that.

[2022-07-28 08:15] ljharb commented on #5229
I’d hope there isn’t such a dangerous command as “implicitly install breaking updates” built into npm. You can use something like `npx salita -f && npm install` to do this, as well as other userland modules.

[2022-07-28 11:25] thany commented on #5007
Still the same. A new version has been released since I posted my diff with a fix, and it appears it hasn't been included. The bug still exists.

Let me reiterate how severe this is: we cannot install, update, or uninstall _anything_. We cannot even do an `audit fix` which is super important to be able to do!!

This DESPERATELY needs a proper fix.

Who can we tag to escalate this issue to critical

[2022-07-28 12:03] 13twelve commented on #1637
I was having the `E404` error:

```npm ERR! 404 Not Found - PUT https://registry.npmjs.org/@foo%2fbar - Not found```

With the `%2f` in the URL. I tried `npm login` and `npm adduser` and changing the registry url, deleting the `.npmrc`, making new access tokens, changing my email address, updating my machine and everything else I could see here and on stack overflow.

In the end the fix seemed to

[2022-07-28 12:31] minecrawler commented on #5007
It seems that a lot of bugs remain in triage for a very long time (up to 10 months as far as I saw) while other issues are removed from triage within hours. Even when we are not in triage anymore I don't think that would guarantee a fast resolution. Especially since there are only a few people affected while millions don't have the bug.

So, I am not sure what the best way is with such a long bug

[2022-07-28 13:01] pvrobays commented on #4028
Not sure if I had the same issue but while running `npm ci` on my windows gitlab runner for an older project, it kept being stuck on: ```reifyNode:node_modules/watchpack-chokidar2```
If we kept waiting, It could take more than an hour to finish the reify.
When running the ci on the same machine within cmd or powershell it succeeded (reify took ~10s)

For me the solution was to verify the npm cache

[2022-07-28 13:33] wraithgar commented on #5175
@alan-agius4 this is in `npm@8.15.1`

[2022-07-28 13:34] alan-agius4 commented on #5175
Great thanks.

[2022-07-28 15:01] thany commented on #5007
I'd rather not go with a workaround. Besides, the number of people complaining is far smaller than the number of people affected. And if everyone would go with a workaround, NPM would not have any incentive to fix the bug. This would lead to hackery "solutions", like we've already seen way too many of in other fields of tech.

The bug is provable, demonstrable, repeatable, persistent, and totally

[2022-07-28 16:44] hijal commented on #4553
I just had this issue solved by upgrading the npm package 8.13.2 -> 8.15.1

[2022-07-28 18:42] Victor-Malhotra commented on #2418
Yes the single dash would result in it not working and telling you those commands are not registered

[2022-07-28 19:01] Especially commented on #4232
Note that the INITIAL install will abide by the override rules set, and the subsequent installs (e.g., run npm install twice) will ignore overrides.

[2022-07-28 20:04] wraithgar commented on #5232
`only` and `optional` are deprecated flags and should not be included. `include` is the inverse of `omit` and probably should be included.

[2022-07-28 20:09] wraithgar commented on #5229
npm update only updates within the semver constraints of your package and its dependencies, as the docs state.

There is no mechanism to install all of the existing packages in your package.json at a range outside their current spec without redefining that spec (i.e. `npm install a@foo b@bar`).  There are tools like https://github.com/raineorshine/npm-check-updates which attempt to do this for you

[2022-07-28 20:09] #5229 closed, assigned to nobody

[2022-07-28 20:13] wraithgar commented on #5228
This is a duplicate of https://github.com/npm/cli/issues/4989 and https://github.com/npm/cli/issues/4980.  There was a single version of node that shipped with an erroneously deprecated `-g` flag.  Updating your node version should clear this, or you can read the other issues for more suggestions.

[2022-07-28 20:13] #5228 closed, assigned to nobody

[2022-07-28 20:48] ljharb commented on #2418
(That’s not a single dash, that’s a Mac autocorrecting two dashes to an em dash)

[2022-07-28 23:30] benwalder opened #5234 "npm default install command always runs if binding.gyp exists, and package install script is ignored"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

1. use npm 7 or 8
2. package.json contains install script
3. project root directory contains binding.gyp
4. npm install results in default npm install command `node-gyp rebuild` running instead of the install sc

[2022-07-29 02:47] addlistener commented on #4028
<img width="1322" alt="image" src="https://user-images.githubusercontent.com/4531670/181672300-9c101fa6-6218-4f72-a2d8-cf5272c95cd3.png">
<img width="586" alt="image" src="https://user-images.githubusercontent.com/4531670/181700603-09d86cdc-594a-4795-a5c2-30c4e5c554b4.png">

same here when trying to `npm install --verbose` in `https://github.com/electron-react-boilerplate/electron-react-boilerplat

[2022-07-29 03:45] taxilian commented on #2610
How on earth is this still not fixed? Mine isn't even a private repo, there is no authentication needed! I upgraded to node 16 and suddenly I can't build my system because it won't just use https to pull down the repo.... my mind is completely blown, how can this possibly be seen as a good idea?

[2022-07-29 06:26] cjz9032 commented on #3833
Me too, and what's the plan to this issue?

[2022-07-29 06:57] j0eii commented on #4234
still hitting this issue.
node v16.16.0
npm  v8.11.0
nvm 1.1.9

[2022-07-29 06:58] j0eii commented on #4234
^^ it works

[2022-07-29 10:35] shuangwhywhy commented on #5228
This is the commit which caused the issue: https://github.com/npm/cli/blob/d60cfbcb43745705fd418fc2a7b8b427c6611911/lib/utils/config/definitions.js#L815

And here is the diff:
https://github.com/npm/cli/commit/8898710220a3d84b0a9ea2a6d9cf880e50b94c9e

**Since the issue appears in the npm (v8.11.0) published along with the LTS version of node (16.16.0). I strongly suggest that node LTS minor versio

[2022-07-29 11:58] sabinahschmitz commented on #4309
It worked for me when I changed to another Wifi.

[2022-07-29 13:05] thw0rted commented on #4838
Just to close the loop for anyone who was watching this, the root cause was

https://github.com/npm/cli/issues/4996  -- failed to output a useful message when denied permission to open a log

and the reason people encountered it in Docker was

https://github.com/nodejs/docker-node/issues/1734 -- image runs as `root` by default, and a recent change to `npm` behavior causes it to run as the owner of

[2022-07-29 14:56] noopur0210 opened #5235 "Issue with deploying app on heroku"
### Current Behavior

I'm trying to deploy my phoenix app on heroku. But the following error is showing

-----> Building dependencies
       Installing node modules
npm ERR! Linux 4.4.0-1104-aws
npm ERR! argv "/tmp/build_004bec59/.heroku/node/bin/node" "/tmp/build_004bec59/.heroku/node/bin/npm" "prune"
npm ERR! node v6.9.2
npm ERR! npm  v3.10.9
npm ERR! path /tmp/build_004bec59/assets/package.json

[2022-07-29 17:17] darcyclarke commented on #5229
As @wraithgar notes, definitely something that's been asked for before & something we could help folks do easily. Here's a one-liner to update direct deps specifically to work around the limitation for now:

[code]

Updating transitive deps to `@latest` would likely require using another tool afaict & **very likely** break things (again, we can look into adding support for that, although it may be

[2022-07-29 17:58] tkiral opened #5236 "npm audit fix not properly moving directories"
`npm audit fix` is consistently not correctly moving directories and their associated files and subdirectories. This has meant the only way to proceed is to manually recursively copy then delete from whatever source and target directories that are necessary for the fix. The examples I've come across are for the `acorn-walk`, `acorn-globals` and `babel-loader` projects, but I'm assuming I will come

[2022-07-29 18:16] frodeheg commented on #3472
I never had this issue before but I got it immediately after I installed "nodemailer" with "npm install". It's probably not related but that is how I got the problem.

[2022-07-29 19:24] ljharb commented on #5235
The log says node 6 and npm 3. You may need to update things on heroku’s side.

[2022-07-30 00:37] visualjeff opened #5237 "npm verb stack Error: Integrity checksum failed when using sha1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have tried with a number of versions of NPM **including the latest**.

[code]

### Expected Behavior

A completed npm install.
It's been working for months.

### Steps To Reproduce

1. Install node (Azure task

[2022-07-30 00:59] visualjeff commented on #5237
When the dependencies are installed they are pulled from an ADO Artifact feed.

[2022-07-30 01:17] visualjeff commented on #5237
The project being built doesn't currently have a package-lock.json

[2022-07-30 04:13] noopur0210 commented on #5235
Yes, I noticed it node 6 and npm 3 by default. How do I make it download the latest versions?
This is supposed to be a phoenix application. So I'm confused, where do I need to put the package.json file, in the root directory or the assets folder?

[2022-07-30 04:53] ljharb commented on #5235
I’m not sure, but none of this has to do with npm. Perhaps ask heroku support, or whatever phoenix is?

[2022-07-30 07:49] yhatt opened #5238 "[BUG] `npm exec` on Windows may fail depending on the shell codepage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

In npm v8.13.0 and earlier versions, `npm exec` may fail if executed in the Windows shell that have non-standard code page. I've received a feedback from the user of my Node tool who tried to use via `npx`: marp

[2022-07-30 11:13] tkiral commented on #5236
Here is a relevant screenshot of the logs that come up when `npm audit fix` is run:

<img width="1290" alt="Screen Shot 2022-07-30 at 07 12 08" src="https://user-images.githubusercontent.com/20247751/181908345-f1aefcc0-bd39-4ff5-846c-dd7c43bd51a7.png">

[2022-07-30 13:58] KAZI-SAMIR commented on #5114
(how solve now !)
$ npm config set cache ../usr/tmp/ --global

$ npm

$

[2022-07-30 17:43] siddheshsonawane07 commented on #5039
@pitAlex
not working even after the changes done in  .npmrc file

[2022-07-30 22:23] visualjeff commented on #5237
Off-shore team checked in a yarn.lock file and removed the package-lock.json and somehow that caused a problem.  Even though the build was using NPM commands.  Not sure why?

**Solutions was:**
In a ADO build script task remove node_modules and yarn.lock and the build proceeded forward to complete.

I have since communicated to the off-shore team informing them not to use yarn and to update their

[2022-07-30 22:23] #5237 closed, assigned to nobody

[2022-07-31 05:35] SamuuX commented on #4840
A mí también me funciono / it worked for me too

[2022-07-31 12:53] hrhm47 commented on #3374
i ran **npm update** in my _project cmd_ issue was solved
**@Josephkagimu1**  thank you for comment it also resolved my problem.

[2022-07-31 14:16] svdilshan commented on #4553
My npm version is 8.15.1 but this error not fix .

[2022-08-01 00:16] cobaltt7 commented on #5007
Ran in to this on NPM 8.13.2 after manually editing the `package.json` to change a remote dependency to use a local version instead (I changed `"dep": "1.2.3"` to `"dep": "file:..."`) as well as manually bumping a few other package versions, then running `npm i`. Removing the 3 dependencies that I made local from my `package.json` manually, then installing them using `npm i` fixed the issue.
Here'

[2022-08-01 06:19] skilbjo commented on #2660
hi, this is exactly my situation. for those encountering this issue, i have a workaround, which hopefully alleviates some of the pressure on this issue!

credit goes to @bluwy for his find here: https://community.cloudflare.com/t/add-pnpm-to-pre-installed-cloudflare-pages-tools/288514/5 which references @yyx990803 's commit: https://github.com/vitejs/vite/blob/155fd11b783eddd33f0cd7e411eea40a35852

[2022-08-01 10:37] jussisaurio commented on #5234
We have a very similar issue currently. Our builds started failing after this change to dd-native-metrics: https://github.com/DataDog/dd-native-metrics-js/pull/21

Here's a list of things that are the same or similar as in your case:

- `node-gyp rebuild` gets run when installing this package and we don't understand why
- Works with npm 6
- Does not work with npm 8
- We are using a private npm reg

[2022-08-01 14:59] biyunwu commented on #2508
We use a custom registry and my team leader faced this issue on `node 16.8.0`. They managed to fix it by reinstalling `npm`:
`npm install -g npm-reinstall`

[2022-08-01 17:41] martin770 commented on #2660
@skilbjo I'm glad this solution worked for you, but it is not a proper workaround. It's just npm install with extra steps. You could put those extra steps in the scripts section of package.json, or a separate bash shell script, or whatever, but it doesn't address the original problem.

If you had packaged your library such that another program was using it as an external dependency. That external

[2022-08-01 17:54] skilbjo commented on #2660
correct, it's not a proper workaround for this github issue, but it is a proper workaround for these JAMstack hosting providers (netlify, cloudflare pages, aws amplify, etc), where you have little/news control of the CI lifecycle, and due to a private registry, would otherwise fail to do a build in one of these systems, which i imagine a large lot of folks are here for

the key in the workaround i

[2022-08-01 18:11] #4395 closed, assigned to nlf

[2022-08-01 18:20] #4397 closed, assigned to nlf

[2022-08-01 22:06] ajibadeabd commented on #4787
downgrade your node to 16.0, npm to 7+. this workes for me

[2022-08-01 22:42] matthias-ccri commented on #2453
Coming here from npm `8.15.1` using `beachball`. It turns out there was a discrepancy between the configurations --- a trailing slash. This discrepancy only produced an error starting in npm `7.3.0`. In `7.2.0` and before, npm worked.

In `beachball.config.js` the registry lacked a trailing slash, but in the CI job's `npm config registry` command, there was a trailing slash. As a result `beachball

[2022-08-02 08:21] heynedim opened #5242 "Whenever I try to `npm install` its stuck and fall into timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I am working on the Nest.js project and I need to get all updated versions, but the problem is whenever I try to use `npm install` it's stuck and got no progress. I just add `--verbose` as flag to explain it mor

[2022-08-02 15:55] #5230 closed, assigned to sandeepmeduru

[2022-08-02 15:57] #5231 closed, assigned to neeldani

[2022-08-02 18:44] KevinRodrigues23 commented on #3078
Verifique o antivirus, e desabilitar a proteção das portas:

[2022-08-03 03:25] darrylblake commented on #4834
To get around this for me, I was also trying to override `trim` plus other deps with vulnerabilities.

- Add override(s) in root `package.json`
- Remove all packages that bring in the dep(s) you're trying to override from `package.json`
- `npm install`, this will update your `package.lock`
-  Check the package has been completely removed with `npm ls trim`
- Revert the changes in `package.json` i.

[2022-08-03 05:59] satyamdube commented on #4234
working fine thanks

[2022-08-03 06:55] Joinatic commented on #4942
The second npm install seems to ignore the overrides, so no solution for me

[2022-08-03 09:35] a91896 opened #5249 "Thanks for guide"
Thanks for guide

_Originally posted by @a91896 in https://github.com/rtr-nettest/open-rmbt-control/issues/3#issuecomment-1203713441_#5249

[2022-08-03 09:37] a91896 commented on #5249
Welcome hello world

[2022-08-03 10:18] czlowiek488 commented on #2610
CI CD just breaks because of this... `8.15.1`, `8.13.2` cannot install dependency with https instead of ssh

[2022-08-03 11:38] pauleustice commented on #450
This IS a security issue, as seen by the CVE that cburgmer linked to above

[2022-08-03 13:20] ddzialak commented on #4028
my observation for a case when it consumes 100% CPU for a long time and finally it's done:
- in my case `npm cache verify` solved issue
- most of the time when CPU were consumed over 100%, it was spinning somewhere here:
[code]

[2022-08-03 13:22] #5249 closed

[2022-08-03 15:36] #4054 closed, assigned to wraithgar

[2022-08-03 15:49] nlf opened #5251 "Release Manager: v8.16.0 (2022-08-03)"
**Target Version**: v8.16.0
**Target Date**: 2022-08-03
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-08-03 16:02] webhype commented on #5024
Same issue here, getting a cryptic "warning" when starting a project with `npm run start`:
[code]

No idea what the warning is about, and even if it were important, why, for the rest of the program execution, show this weird progress bar (always at 100% fill), stuck to the bottom of the output?
[code]

[2022-08-03 16:20] wraithgar commented on #4054
This should be fixed as of `npm@8.16.0`

[2022-08-03 16:21] #5251 closed, assigned to nlf

[2022-08-03 16:23] wraithgar commented on #3210
This should be fixed as of `npm@8.16.0`

[code]

[2022-08-03 16:23] #3210 closed, assigned to wraithgar

[2022-08-03 16:24] wraithgar commented on #5132
This should be fixed as of `npm@8.16.0`

[code]

[2022-08-03 16:24] #5132 closed, assigned to wraithgar

[2022-08-03 16:25] wraithgar commented on #5018
This should be fixed as of `npm@8.16.0`

[code]

[2022-08-03 16:25] #5018 closed, assigned to wraithgar

[2022-08-03 16:26] wraithgar commented on #4204
This should be fixed as of `npm@8.16.0`

[code]

[2022-08-03 16:26] #4204 closed, assigned to nobody

[2022-08-03 16:27] wraithgar commented on #3058
This should be fixed as of `npm@8.16.0`

[code]

[2022-08-03 16:27] #3058 closed, assigned to nlf

[2022-08-03 16:36] rochdev commented on #5234
We're getting a lot of reports of this since removing the `binding.gyp` file from our project:

https://github.com/DataDog/dd-trace-js/issues/2239
https://github.com/DataDog/dd-native-metrics-js/issues/28

The file doesn't exist anymore, so it's unclear why `npm` keeps trying to build it anyway.

[2022-08-03 16:39] shayneczyzewski commented on #5018
Thanks, @wraithgar, appreciate it!

[2022-08-03 16:42] wraithgar commented on #4220
This appears to be working in `npm@8.16.0`

[code]

[2022-08-03 16:42] #4220 closed, assigned to nobody

[2022-08-03 16:43] wraithgar commented on #2877
Can you test this in `npm@8.16.0`? `npm exec` had a lot of bugfixes in that release, including properly installing git repos.

[2022-08-03 16:49] jussisaurio commented on #5234
Seems that all of these reports share at least one thing in common: a private registry.

[2022-08-03 16:54] wraithgar commented on #3984
This appears to be working as of `npm@8.16.0`

[code]

[2022-08-03 16:54] #3984 closed, assigned to nobody

[2022-08-03 16:55] rochdev commented on #5234
This was also my assumption at first, but according to https://github.com/DataDog/dd-native-metrics-js/issues/27#issuecomment-1199061606 it seems to be isolated to newer versions of `npm`. Maybe it's a combination of both that somehow triggers the issue.

[2022-08-03 16:59] jussisaurio commented on #5234
Oh yeah, true, it's definitely _also_ newer versions of npm.

[2022-08-03 16:59] wraithgar commented on #2877
This looks like it was fixed.

[code]

[2022-08-03 17:07] wraithgar commented on #3256
Still can't reproduce this locally. The example from the last comment breaks because `npm init` does not use the `--prefix` param, if you cd into `subpack` and run `npm init` and do the rest of the example it works fine.

If this is still an issue please open a new issue, using the latest npm, with steps to reproduce.

[2022-08-03 17:07] #3256 closed, assigned to nobody

[2022-08-03 17:08] wraithgar commented on #3021
This does appear to be an issue with your local registry.  Closing due to our inability to reproduce.  If this is something you are still experiencing w/ the latest npm version and have a way to reproduce this locally, please open a new issue.

[2022-08-03 17:08] #3021 closed, assigned to nobody

[2022-08-03 17:10] wraithgar commented on #2627
npm will not look in the `PATH` environment variable for things to run. IT will only check the folders it knows about that are related to npm itself.  Adding the `node_modules/.bin` folder to your `PATH` is not recommended. You should run npm scripts from npm/npx.

[2022-08-03 17:10] #2627 closed, assigned to nobody

[2022-08-03 17:14] wraithgar commented on #2114
This appears to have been fixed at least as of `npm@8.16.0`

[code]

[2022-08-03 17:14] #2114 closed, assigned to nobody

[2022-08-03 17:18] rochdev commented on #5234
I was able to reproduce with the following steps:

[code]

It looks like updating a package from a version that had a `binding.gyp` to a version that doesn't have one fails when using a registry proxy. I'm trying to isolate the specific `npm` version where the issue started

[2022-08-03 17:19] wraithgar commented on #5236
Please use the issue template when opening issues.

[2022-08-03 17:19] #5236 closed, assigned to nobody

[2022-08-03 17:20] wraithgar commented on #5235
Closing as this appears to be a heroku issue.

[2022-08-03 17:20] #5235 closed, assigned to nobody

[2022-08-03 17:23] rochdev commented on #5234
The issue occurs with `npm` >=7.0.0 but not with 6.14.17

[2022-08-03 17:28] brianjenkins94 commented on #2877
Yes, seems fixed. Thanks!

[2022-08-03 17:42] rochdev commented on #5234
Using `npm install --ignore-scripts --save @datadog/native-metrics@1.4.1` works, even though there are no scripts in the latest version of the package (but there used to be an install script before).

[2022-08-03 17:49] tkiral opened #5254 "[BUG] `npm audit fix --force` not properly moving directories"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm audit fix --force` is consistently not correctly moving directories and their associated files and subdirectories. This has meant the only way to proceed is to manually recursively copy then delete from wha

[2022-08-03 17:50] tkiral commented on #5236
Noted. Resolved but bug continues when using `--force`. FYI - https://github.com/npm/cli/issues/5254

[2022-08-03 17:51] mkaufmaner commented on #5234
@rochdev If you were to publish a new major version of `@datadog/native-metrics`, testing locally with verdaccio, could that potentially circumvent this issue?

[2022-08-03 18:01] rochdev commented on #5234
@mkaufmaner I don't think so because in my local tests, once the issue started happening, I was unable to install any version of dd-trace anymore, even older versions that do have the `binding.gyp` available so I think the issue is not related to the version itself and once the cache is corrupted it's game over. The above workaround does seem to permanently fix the cache.

[2022-08-03 18:07] mkaufmaner commented on #5234
@rochdev

Thank you, just thinking out loud here.

The problem is I can't implement this workaround for the thousands of CICD pipelines we have. It is simply impractical.

Well, I don't think this is a local cache problem because even when I run `npm cache clear --force && npm i` I still get the same build error as before. Are you talking about the remote cache in the proxy registry?

[2022-08-03 18:22] rochdev commented on #5234
@mkaufmaner How do you generally handle updates in these pipelines? Wouldn't the same approach work in this case?

I thought the same thing, but after removing the Verdaccio container completely and running a new one I was getting the same issue. I think it's possible that `npm cache clean` doesn't actually clean everything.

[2022-08-03 18:33] bearfriend commented on #2660
This seems like a gigantic breaking change that is not even mentioned as a breaking change (or a change at all!) in v7, with no way to even work around it. I'm having a hard time understanding how a solution to this in some form is not an absolute top priority. At this point, having not been listed as a breaking change, this should absolutely be considered a bug.

I understand what's happening, bu

[2022-08-03 18:34] pschaub opened #5255 "[BUG] npm version prerelease should not increase patch version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

**Situation**: The product has not been released as `1.0.0` yet.
During development we would like to build pre-release builds, e.g. `1.0.0-test.0`.

**Question**: How can we use `npm` to update the package versi

[2022-08-03 18:57] rochdev commented on #5234
@mkaufmaner I tried to switch version of Node with nvm to test your theory since that uses a different npm instance with its own installation folder including its cache. Even with this change I am still getting the same issue, so I'm not sure what's going on. I basically changed the instance of npm completely, and recreated the container entirely with a fresh proxy with no cached dependencies, and

[2022-08-03 19:03] mkaufmaner commented on #5234
@rochdev

You have to pass the --force flag for the cache clean to actually work.
`npm cache ls && npm cache clean --force && npm cache ls`

Without divulging too much information, I can say that updating CICD pipelines ares not assisted with automation. Thus, not a feasible solution.

I tried similar strategies with the same results.

We have also opened up tickets with jFrog support to see if th

[2022-08-03 19:21] rochdev commented on #5234
@mkaufmaner Would environment variables work for your use case instead? The same workaround can be applied with `NPM_CONFIG_IGNORE_SCRIPTS=true`. I'm trying to not have to revert this change since it _will_ come back in the future. If all else fails I'll try to add an empty install script to see if that would fix the issue since I think this is related more to scripts than it is to the `binding.gy

[2022-08-03 19:25] mkaufmaner commented on #5234
Setting `NPM_CONFIG_IGNORE_SCRIPTS=true` would not work since we have other dependencies that rely on install scripts. I understand that this will come back in the future, and I do believe this is a problem with `npm` itself, but in the meantime we need a way forward. I hate reverting changes as much as the next person but I can't find a quick solution that can be implemented across the entire org

[2022-08-03 19:36] rochdev commented on #5234
@mkaufmaner It looks like adding an empty `install` script resolves the issue. I'll add that for now until the issue is fixed in `npm`.

[2022-08-03 19:42] mkaufmaner commented on #5234
Thank you, I hope this fixes the problem.

[2022-08-03 19:55] Kokuyo3 commented on #4234
I was seeing this same ERR message when running create-react-app 5.0.1 through Intellij on nvm-windows 1.1.7 After removing node then updating nvm-windows to 1.1.9 and re-installing node, I no longer see the issue with the following setup:

- node 16.16.0 (64 bit)
- npm 8.11.0
- nvm-windows 1.1.9

[2022-08-03 20:50] brianjenkins94 commented on #2877
Sorry, I spoke to soon, this doesn't appear to be fixed.

[code]

Kindly reopen.

@wraithgar I suspect if you add a script named `"build"` to your `package.json`, you'll see the same.

[2022-08-03 20:58] pschaub commented on #5255
Solution: use a prerelease-version, e.g. `1.0.0-dev`, in `package.json`. This way `npm version` will bump to `1.0.0-test.0`.

[2022-08-03 20:58] #5255 closed, assigned to nobody

[2022-08-04 02:17] papb commented on #4095
See https://github.com/npm/rfcs/issues/546

[2022-08-04 03:06] eyo25 commented on #4553
thanks man it worked for me too

[2022-08-04 08:38] serbaniuliuscezar commented on #3233
https://issues.jenkins.io/browse/JENKINS-69149

Quote from the ticket:

[2022-08-04 10:08] moritztim commented on #5214
I have been to the support page and found that none of the categories fit:

-Copyright or trademark data removal
-Dispute a package, org, or username -Report a security issue or abuse

[2022-08-04 11:09] SHADYKIMBUM opened #5258 "## Problem"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [x] I would be interested in implementing this feature.

__Originally posted by @SHADYKIMBUM in https://github.com/creativecommons/creativecommons.github.io-source/issues/656__

[2022-08-04 11:44] cdhanna commented on #2610
I ran into this as well, but couldn't get it resolved with the git+https link thing.
So in the tiniest voice possible, I'll just say that I switched over to `yarn`, and the problem went away and my CI builds starting working again.

[2022-08-04 12:52] hirasso commented on #1703
@erichoswald Thanks for the hint! For me it was this line:
[code]
Removed it, ran `npm outdated`, added it back.

[2022-08-04 15:29] #5258 closed

[2022-08-04 15:33] SHADYKIMBUM opened #5260 "## v8.16.0 (2022-08-03)"
## v8.16.0 (2022-08-03)

### Features

  * [`3c024ac`](https://github.com/npm/cli/commit/3c024ace60904c69e61da00e1fb56c0c1735804a) [#5000](https://github.com/npm/cli/pull/5000) feat: add npm query cmd (@ruyadorno) (@wraithgar)
  * [`703dbbf`](https://github.com/npm/cli/commit/703dbbf2a8149dff72c848d60600889a76779828) [#4860](https://github.com/npm/cli/pull/4860) feat: add --replace-registry-host=<

[2022-08-04 15:36] #5260 closed

[2022-08-04 17:42] nullromo opened #5262 "[BUG] npx won't execute the latest version of a package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I tried running `npx ts-node@latest`, but npx decided to execute a version of `ts-node` that is not the latest.

[code]

It even asks me if I want to install version 10.9.1, but then it runs version 9.1.1 anyway

[2022-08-04 17:57] nullromo commented on #5262
I just learned about `npx which`.

[code]

So I found out that `npx` was actually using my local version of `ts-node` for some reason. Apparently both `ts-node` versions 9 and 10 were sub-dependencies in the project.

After I discovered that, I found out that I have a subproject which had a dev dependency of `ts-node` version 9 (not the latest). After updating that one to version 10, `npm list --d

[2022-08-04 19:13] olasamuel486 commented on #4792
Am  also facing the same problem  trying to  Install Express.js
npm ERR! error:1E08010C:DECODER routines::unsupported

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\samstrings\AppData\Local\npm-cache\_logs\2022-08-04T19_06_26_062Z-debug-0.log

[2022-08-04 20:29] MichaelMackus commented on #2610
Yea, honestly yarn is looking like a good alternative good point.

On Thu, Aug 4, 2022, 4:44 AM Chris Hanna ***@***.***> wrote:

[2022-08-04 20:31] Siedlerchr commented on #2610
See my workaround: This works. I use it in a private repo as well https://github.com/npm/cli/issues/2610#issuecomment-1173570648

[2022-08-04 20:38] joezappie commented on #4589
This causes some weird behavior when running inside a docker container with a bind mount from what I'm experiencing.

From the docs it says "When npm is run as root, scripts are always run with the effective uid and gid of the working directory owner."

My files are in a bind mount from docker, owned by a user named "torizon" with 1000:1000 in the host. Inside the container I do have a user torizo

[2022-08-04 21:23] nlf commented on #5129
test and fix were landed, this is fixed in npm@8.16.0

[2022-08-04 21:23] #5129 closed, assigned to nlf

[2022-08-04 21:36] hmoffatt commented on #2610
This was first suggested much earlier than your comment: https://github.com/npm/cli/issues/2610#issuecomment-795189708

[2022-08-04 22:10] brianjenkins94 commented on #2877
@wraithgar Kindly reopen.

[2022-08-05 00:12] nspaeth opened #5265 "[DOCS] How to specify a <package-spec> for the `prepare` script to match `publish`."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Enhancement, not another kind of Docs Enhancement.

- [X] This is a CLI Docs Enhancement.

### Description of Problem

The `npm publish` command allows for a `<package-spec>` parameter so that you could, for example `npm publish ./dist`.

This works fine for directly publishing to npm: `npm

[2022-08-05 08:09] geyuqiu opened #5266 "[BUG] npm v8 does not publish the version specified in package.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Currently after angular update (12->14 and 14->18 for nodejs ), there seems to be a bug in the latest version of npm, which causes that an already existing (in our case always the "Latest") version of an angular

[2022-08-05 10:31] Oliver-Turp commented on #3472
I was told on a few discord servers to just ignore the vulnerabilities but I'm having the same issue. Went from 6 high issues to 69 vulnerabilities (11 low, 20 moderate, 35 high, 3 critical) after running audit fix --force :/

[2022-08-05 10:51] johann1301s commented on #3555
I am having the same issue, deleting the package-lock.json has not worked for me. I created a [thread at stack overflow](https://stackoverflow.com/questions/73247706/unable-to-install-public-npm-package-from-github-package-registry-using-github-a). Please re-open this issue.

[2022-08-05 15:04] johann1301s commented on #2841
I am having the same issue. Please re-open.

[2022-08-05 15:21] OliHarris commented on #2022
Found this page by searching for string "_node_modules/make-fetch-happen/lib/agent.js:157:53_"

Seeing similar issue with output log:

[code]

Looks like may have to work on way to downgrade npm while keeping node 17..?

[2022-08-05 15:41] eliot-akira commented on #4313
I'm seeing the same error, `Cannot convert undefined or null to object`.

In my case, `--no-audit` doesn't change the behavior, I still see the same error.

Here's the debug stack trace, in case it's useful.

[code]

What's interesting is that the error is coming from `npm-pick-manifest` in my case, but for someone else who commented earlier, the same error occurred in `npm/lib/commands/deprecate.

[2022-08-05 17:17] alasdairhurst commented on #5266
By passing `project-name` to `npm publish` you're essentially ignoring the project in the current directory and telling it to publish `project-name`(@latest) from the registry. https://docs.npmjs.com/cli/v8/commands/npm-publish

It should work if you leave off the name of the package - `npm publish --registry registry-url` or, if you're in a different directory to the project, provide an explicit

[2022-08-05 17:41] alasdairhurst opened #5267 "[BUG] npm config does not allow `path` types to use ${ENVIRONMENT_VARIABLE} syntax."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I'm trying to configure a project using the command line by setting a custom registry and CA file. The project will be built in a docker container, so all configuration should be configured relative to the proje

[2022-08-05 17:53] nhhockeyplayer commented on #1637
This continues to be a serious show stopping issue
after repeated login/logout or .npmrc or no .npmrc

GITHUB PLZ TAKE NOTICE

all publishing is halted and broken at this time

[code]

[2022-08-05 20:35] adrian-miranda commented on #3472
Same error
node 16.16.0 // npm 8.16.0

# npm audit report

nth-check  <2.0.1
Severity: high
Inefficient Regular Expression Complexity in nth-check - https://github.com/advisories/GHSA-rp65-9cf3-cjxr
fix available via `npm audit fix --force`
Will install react-scripts@2.1.3, which is a breaking change
node_modules/react-scripts/node_modules/nth-check
  css-select  <=3.1.0
  Depends on vulnerable ve

[2022-08-05 21:27] rwoll opened #5268 "[BUG] regression - npm_config_prefix no longer works with global npx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Using the `npm_config_prefix` results in a `no such file or directory` error when attempting to run a command via `npx` globally on `npm@8.16.0`. The same command used to work on `npm@8.15.1`.

### Expected Beha

[2022-08-05 21:39] rwoll commented on #5268
Relates https://github.com/microsoft/playwright/issues/16281. It looks like this is not particular to `serve` package, as it was originally discovered in test suite of playwright package.

[2022-08-05 23:53] jlarmstrongiv opened #5269 "[BUG] BREAKING REGRESSION 8.16.0: npx local-package breaks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

Within an npm workspace, run `npx @clis/local-cli-package` as expected.  Attached is a complete reproduction that works with npm@8.15.1, but errors on npm@8.16.0.  Likely caused by

[2022-08-06 09:53] KAZI-SAMIR commented on #5267
I have used this command `npm config set cache ~/.npm/_cacache/tmp/ --global`
and faceing this
[Problem ](https://stackoverflow.com/questions/73176664/npm-cli-showing-nothing)
:(

[2022-08-06 11:44] KAZI-SAMIR commented on #5114
`any update on it,`

npm ERR! errno EACCES
                      npm ERR!
                      npm ERR! Your cache folder contains root-owned files, due to a bug in
                      npm ERR! previous versions of npm which has since been addressed.
                      npm ERR!
                      npm ERR! To permanently fix this problem, please run:
                      npm ERR!   sudo c

[2022-08-06 11:54] K3NZ11 commented on #4989
I tried the [workaround](https://github.com/npm/cli/issues/4989#issuecomment-1146894284) from @ehoogeveen-medweb and it removed the warning only for `Powershell`. In my case, I was also using `GitBash`, and the `npm` command was executing from a different directory.

[code]

[code]

Therefore, to apply this workaround for `GitBash`, you need to update the following files.
[code]

[2022-08-06 12:08] K3NZ11 commented on #4989
Upgrading Node.js to the [CURRENT version](https://nodejs.org/en/download/current/) that included npm `v8.15.0` might also remove this deprecated warning.

[2022-08-07 00:58] 4i8 opened #5270 "suggestion"
The first suggestion is to add a command to update readme without the need to change the version like:
[code]
The second suggestion, which is the most important, is publishing. The question should be asked: Do you want to publish the package or not? It is necessary because sometimes you may write the order by mistake and make your project public.

[2022-08-07 01:53] ljharb commented on #5270
That first one would require massive registry changes, and should go in npm/feedback.

The second one is solved by adding private:true to your package.json.

[2022-08-07 02:26] 4i8 commented on #5270
Solution for the first suggestion:
Allow to modify the README via the site or in the case of the README it only performs a fake update and does not require modifying the version number or adding a new property in package.json
[code]
The file is get from repositories from GITHUB and if updated in github, it will be updated automatically in npm

[2022-08-07 05:01] ljharb opened #5271 "[BUG] `npm install package.with.dots another.with.dots` incorrectly errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

The two packages are installed.

### Steps To Reproduce

node 18.7, mac, standard config, run the npx command above.

### Environment

- npm: 18.16
- Node.js: 18.7
- OS Name: Mac
-

[2022-08-07 10:27] jay-p-b-7span commented on #2660
I am also facing this same issue.

[2022-08-07 12:03] sytandas commented on #3257
[code]
works for me

[2022-08-07 16:19] Moise10 commented on #2119
// This solved my problem
npm config set legacy-peer-deps true

[2022-08-07 17:03] YashasviChaurasia commented on #3788
@darcyclarke I would like to work on this issue.
Thank you

[2022-08-07 18:47] #4795 closed, assigned to nobody

[2022-08-07 23:51] doojin commented on #5242
I'm having exactly the same problem.

Ubuntu `22.04` + Node `v18.7.0` + npm `v8.15.0`

Downgrading Node/NPM and running `npm isntall` again solves the issue. Upgrading back to the latest version and `npm install` --> Same issue again as author described

[2022-08-08 02:15] doojin commented on #4163
Having the same issue. Since Node 17+ getting `ETIMEDOUT` on `npm install` (Ubuntu 22.04). Node 16 and lower works fine.

This little fix helped me right away: https://github.com/npm/cli/issues/4163#issuecomment-1084601306

Interesting thing tho. Running `npm install` with `sudo` on Node 17+ was working too for some reason.

[2022-08-08 08:15] treysis commented on #4163
@doojin What happens if you try to `ping -6 www.google.com`? Seems like you have broken IPv6. Maybe your firewall is blocking IPv6? Or are you using a VPN?

[2022-08-08 08:31] shadowspawn commented on #5271
NB: there is a comma rather than a dot in the second package name: `array,prototype.grouptomap`

Changing that to a dot leads to a successful install when I tried reproducing.

[2022-08-08 10:54] Qix- commented on #4163
@treysis some ISPs don't support IPv6 yet. Just a shitty situation some of us are in.

[2022-08-08 12:02] treysis commented on #4163
@Qix I am very well aware of this. But if ISP hasn't rolled out IPv6 yet, the OS shouldn't request/return AAAA records in the first place. So it seems like broken and/or misconfigured IPv6, not missing IPv6. This is why I am asking to check if IPv6 works and if not what errors are returned, and if it's related to misconfigured firewall, misbehaving VPN, etc.

[2022-08-08 12:53] Qix- commented on #4163
This is literally default configuration across multiple machines. Not like I've gone in and mucked around in my router.

[2022-08-08 13:17] doojin commented on #4163
@treysis

[code]

No VPN.

[2022-08-08 13:24] treysis commented on #4163
@Qix Not arguing this. It just shows some kind of misconfiguration. Not necessarily on your end, though.

@doojin So it seems your system is getting IPv6, but IPv6 cannot connect. Does your router/firewall block outgoing IPv6 traffic?

[2022-08-08 13:34] doojin commented on #4163
@treysis

[code]

My Ubuntu firewall is inactive right now.
Not sure about the router settings.

[2022-08-08 13:41] treysis commented on #4163
@doojin Does `ifconfig` yield any IPv6 addresses on your interfaces?

[2022-08-08 13:50] wraithgar commented on #5268
`$npm_config_prefix` is very buggy and sets both the global and local prefix when used.  There's [another issue](https://github.com/npm/cli/issues/4467) that already digs into it, and it's not something that is going to be easy to fix.

The reason this is happening now is because `npx/npm exec` were not even looking in the global space before for installed packages, but they are now, meaning they

[2022-08-08 13:56] doojin commented on #4163
@treysis yes

[2022-08-08 15:31] wraithgar commented on #5270
Changes to the cli need to go through the [rfc process](https://github.com/npm/rfcs)

[2022-08-08 15:31] #5270 closed, assigned to nobody

[2022-08-08 15:47] ljharb commented on #5271
oh lol, thanks, pebcak

[2022-08-08 15:47] #5271 closed, assigned to nobody

[2022-08-08 15:47] #5269 closed, assigned to nobody

[2022-08-08 16:58] #5195 closed, assigned to nobody

[2022-08-08 18:32] liudonghua123 opened #5277 "[BUG] dependences not install before prepare"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I want to install a github package via npm, I use `npm i  --production=false --verbose -g liudonghua123/javascript-deobfuscator#test`, and the package.json contains a `prepare: tsc` script, but the installation

[2022-08-08 18:34] vojty commented on #5183
I don't think #4838 solves this problem. I've just upgraded npm to 8.16.0 and getting this:
[code]
for any `npm run <xy>` command

[2022-08-08 18:35] vojty commented on #5183
@wraithgar  shouldn't we reopen this issue?

[2022-08-08 18:43] schw4rzlicht commented on #2610
@Siedlerchr How does that work for you? I just get

[code]

npm 8.16.0

EDIT: Already caching credentials using GH CLI as described [here](https://docs.github.com/en/get-started/getting-started-with-git/caching-your-github-credentials-in-git#github-cli). Also chose https as preferred method.

[2022-08-08 19:09] VeXell opened #5278 "[BUG] git+ssh does not work with version 8.16"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Hello

Using the latest version of npm `8.16` and latest `14.20` version of node.js.

I have few dependencies which i install from local git server. \
When i remove `node_modules` folder and want to install pack

[2022-08-08 21:35] rdeslonde commented on #681
Dude, thank you so much!

[2022-08-08 22:02] coolaj86 opened #5279 "[TOO MANY TANGENTS] [BUG] misleading error: npm WARN config init.author.name Use `--init-author-name` instead."
# Updated

See https://github.com/npm/cli/issues/5302.

The discussion went in unhelpful directions. https://github.com/npm/cli/issues/5302 replaces this issue.

# Original

### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If I run the config command to set my

[2022-08-08 22:07] ljharb commented on #5279
fwiw, in my `$HOME/.npmrc`, i have `init-author-name = My Name`.

[2022-08-08 22:28] coolaj86 commented on #5279
Related to https://github.com/npm/cli/issues/4840

# Workaround

It appears that the desired behavior is to
- switch from using `//` as a comment to `;`
- switch from `npm config set foo.bar.baz` to `npm config set foo-bar-baz` (no `--` prefix)

[code]

(I've also updated [Getting Started with NPM (as a developer)](https://gist.github.com/coolaj86/1318304) with the new syntax)

## Migrating from e

[2022-08-08 22:31] ljharb commented on #5279
It's ini, so afaik `;` is the only valid comment character.

As for the dots, `init.author.name` and `init-author-name` are distinct - the dots imply nesting, but it's necessarily a top-level config item (until https://github.com/npm/rfcs/pull/566 lands).

[2022-08-08 22:34] coolaj86 commented on #5279
## Couldn't this be Auto-Migrated?

Is there a material reason this be duplicated automatically and then ignored (unless different) for compatibility with previous versions?

1. Valid, no warning:
[code]
2. New versions on npm should update BOTH styles (for multi-node/npm compat)
[code]
[code]
3. Invalid, generate warning
[code]
[code]

[2022-08-08 22:36] coolaj86 commented on #5279
## Off Topic: Comment Syntax

Historically it's been `//`. \
Also, `//=` has some special meaning (I think it's for preserving empty comments so that they don't get collapsed into a single comment), \
and the special comment `//registry.npmjs.org/:_authToken=` is used for auth.

There's also `@my-foo-namespace:my-foo-option=` for config that applies to alternate (including paid) registries.

I com

[2022-08-08 23:01] RamiSJ12 commented on #5279
Update npm with the command npm i -g npm. Run command npm cache verify and then run npm i.

Delete node_modules folder and package-JSON then run npm i.

[2022-08-08 23:07] RamiSJ12 commented on #5279
$ npm cache clean --force
$ rm -rf node_modules
npm install
npm start

[2022-08-08 23:13] ljharb commented on #5279
Yeah I’m pretty sure that’s not a comment, that’s a key named that, including the slashes.

npm is likely stripping all keys it doesn’t understand, which includes those non-comments.

[2022-08-08 23:28] coolaj86 commented on #5279
## Off Topic: Comment Syntax

No, it preserves them. The known comments are stripped.

## Before npm config

`.npmrc`:
[code]

## After npm config

[code]

`.npmrc`:
[code]

[2022-08-08 23:30] warriorjacq9 commented on #3472
I have the same problem
node.js: 18.4.0
npm: 8.13.2
OS: Linux Mint Una 20.3 amd64

[2022-08-08 23:32] warriorjacq9 commented on #3472
Installing and using ```npm-check-updates``` worked for me; went from 10 vulnerabilities to 4.

[2022-08-08 23:44] mattpen opened #5280 "[BUG] npm --save-dev does not infer --save"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When I run `npm install --save-dev <package-name>` package.json is not modified; nothing is added to `devDependencies`.

### Expected Behavior

I would expect that a command like `npm install --save-dev <package

[2022-08-09 00:15] ljharb commented on #5280
You set `save` to false - i wonder if that's overriding it?

[2022-08-09 00:23] ljharb commented on #5279
ah interesting

[2022-08-09 00:36] sgoodluck commented on #4828
bump

[2022-08-09 01:10] rscottlundgren commented on #2687
@isaacs - I see that you've done some work on this issue with @chowkapow, but that work was done back on Mar 20, 2021 (most recent comment between the two of you here). Is this issue still relevant/"up-for-grabs"? If so, I'd like to take a whack at it - assuming that it wasn't resolved already by the PR @chowkapow referenced previously. Please let me know.

[2022-08-09 01:25] rwoll commented on #5268
Thanks! For some additional context, [Playwright](https://playwright.dev/) discourage's using itself as a globally installed package. Instead, we ask users to explicitly depend on the package and invoke it via `npx` within their project. This ensures there's no confusion about which version of Playwright they are getting and which binary deps (browsers) they are getting.

Playwright prints a [warn

[2022-08-09 01:28] ljharb commented on #5268
You can make an `npmrc` file that sets `prefix`?

[2022-08-09 03:27] mattpen commented on #5280
That might be it.  `npm i --save --save-dev <package-name>` seems to work, thanks @ljharb.  I assumed `--save-dev` would imply `--save`.

[2022-08-09 04:36] treysis commented on #4163
@doojin only `fe80::...` or other addresses as well?

[2022-08-09 04:43] ljharb commented on #5280
I think it's reasonable to assume it would, and I think it's arguable that it's a bug in npm that `save-dev`/`save-peer`/etc do not imply `--save` (in the same way that `--package-lock-only` implies `--package-lock`)

[2022-08-09 05:01] rwoll commented on #5268
@ljharb It looks like that gives the same error as it's [equivalent to the env var](https://docs.npmjs.com/cli/v8/using-npm/config#environment-variables):

[code]

Even doing:

[code]

produces the same error (with fresh install/config). Given the above, it looks like with 8.16.0 you can no longer use a non-default global install directory.

[2022-08-09 08:40] rahulgaba1987 opened #5281 "npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I am unable to install angular CLI after changes `--location=global` in node module.

Please look i this issue

### Expected Behavior

NPM  should be installed without any error and support Angular CLI to instal

[2022-08-09 08:42] jjezek commented on #5183
Having the same problem as @vojty with 8.16.0 ...

[code]

[2022-08-09 09:04] vojty commented on #5183
I've found the workaround - basically don't use `npm` at all
Given `package.json`:
[code]
So instead of `CMD [ "npm", "run", "start" ]` you can run the script directly:
[code]

[2022-08-09 10:56] joebnb commented on #5177
same issue happend,did anyone help to resolve this?
the behavior is

if i remove some package from package-lock.json and run arborist.reify,it will user npmjs.org to patch package-lock to complete.but i expect use the registry in my npmrc or self defined host

[2022-08-09 11:04] joebnb commented on #5177
it will cause a new error, when i reify a package in private registry,it always get meta data from npmjs official

[2022-08-09 11:33] joebnb commented on #5177
i fond this from documentation that `passing registry as option when create instance`,it's works for me.

[code]

[2022-08-09 12:47] doojin commented on #4163
@treysis Others as well. Example:
[code]

[2022-08-09 13:00] mykola-mokhnach opened #5283 "[BUG] npm forces download of peer dependencies even if these are present in NODE_PATH"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I can observe moduleA in node_modules of moduleB

### Expected Behavior

npm must not download a peer dependency if it is resolvable within NODE_PATH or any other method described in https://nodejs.org/api/modul

[2022-08-09 13:53] bellis-ai commented on #4942
Do the overrides actually work?

Doing an `npm install` on this `package.json`
[code]

Still ends up with an install of lodash@4.17.4

[2022-08-09 17:57] taxilian commented on #2610
I tried it with npm 7 and it didn't work; maybe it does on npm 8, I may
have to try that.

On Thu, Aug 4, 2022 at 2:31 PM Christoph ***@***.***> wrote:

[2022-08-09 18:02] wraithgar commented on #5281
This is a duplicate of https://github.com/npm/cli/issues/4989 and https://github.com/npm/cli/issues/4980.  There was a single version of node that shipped with an erroneously deprecated `-g` flag.  Updating your npm version should clear this, or you can read the other issues for more suggestions.

We are working on backporting an update to node 16 to ship with a patched version of npm.

[2022-08-09 18:02] #5281 closed, assigned to nobody

[2022-08-09 18:05] wraithgar commented on #5277
https://github.com/npm/cli/issues/4148

[2022-08-09 18:05] #5277 closed, assigned to nobody

[2022-08-09 18:08] Siedlerchr commented on #2610
@schw4rzlicht  That runs fine on the github actions CI with `npm ci` Also works inside a docker build

[2022-08-09 18:42] ljharb commented on #5283
NODE_PATH is highly discouraged and won't ever work in ESM. npm deals with the node_modules folder, and I wouldn't even expect a peer dep higher up the directory structure to satisfy the requirement.

[2022-08-09 18:44] treysis commented on #4163
@doojin
So your ISP is giving you IPv6. However, something is blocking IPv6 traffic and breaking your connectivity. Maybe your router? What happens if you do `traceroute -6 www.google.com` or `traceroute6 www.google.com`? This could maybe show at which point packets get lost. If you didn't configure anything in your router it's probably your ISP's fault.

[2022-08-09 18:48] mykola-mokhnach commented on #5283
Thanks for your response @ljharb

What would be then a recommended/acceptable way for moduleB to load/see moduleA without duplicating it into moduleB's node_modules?

[2022-08-09 18:53] ljharb commented on #5283
`npm link` them in. Duplication isn't a problem, but an atypical resolution path is.

[2022-08-09 18:58] mykola-mokhnach commented on #5283
I would be happy to link the stuff, but unfortunately such trick does not work if moduleB has moduleC dependency, whose postinstall scripts have peer dependencies on moduleA. As far as I can see such scripts are being executed in a temporary folder and cannot detect the link.

This is our original PR reverted where we tried the approach with a link: https://github.com/appium/appium/pull/17297/file

[2022-08-09 19:02] ljharb commented on #5283
Yes, every peer dep has to all be linked in everywhere, so they're shared.

[2022-08-09 20:05] doojin commented on #4163
@treysis
[code]

That's super weird, because with Node version < 17 (for example 14, 15, 16) it's working without any problem.
Also, it seems like npm version does not matter. I can switch to Node 16, install globally the `npm@latest` and it just works...

For Node 17+ it only works after un-commenting this line:

[code]

in `/etc/gai.conf`

Seems like a NodeJS-related issue, not the NPM:
https://

[2022-08-09 20:20] treysis commented on #4163
@doojin
No, nothing weird. It's expected. Node <17 by default was reordering DNS results to give precedence to IPv4. Node 17+ finally stops this malpractice and returns DNS results in the order reported by the operating system. That's why your workaround of changing the preference in `gai.conf` works, because after that the OS basically starts preferring IPv4 over IPv6.

With many software this is

[2022-08-09 20:28] doojin commented on #4163
@treysis, thanks for detailed explanation.
Yes, my router is provided by ISP and also installed by ISP technician. I didn't change any settings.
Maybe I can do a test by connecting through my mobile phone wifi spot :)

[2022-08-09 20:32] treysis commented on #4163
What is weird is the hostname of your first hop to be `_http._tcp.br.archive.ubuntu.com`. Are you running Node inside docker or something like this? Can you try lowering your MTU to something like 1280? Maybe also try an MTU check on IPv6 e.g. from http://www.letmecheck.it/mtu-test.php

[2022-08-09 20:37] doojin commented on #4163
@treysis The problem is seen without using Node inside Docker.

By the way. Another day I did a test with a Docker. I created a container from Ubuntu 22.04 image (same version that is running on my host). Then I attached to this container, installed a Node v17, and created a small project. Within Docker the npm worked just fine...

Also, I've just tried to execute `npm install` while being connect

[2022-08-09 20:44] lydell opened #5285 "[BUG] Regression in 8.13.0 on Windows: `echo 5%` prints just `5` instead of `5%`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

This happens since 8.13.0.

### Expected Behavior

[code]

8.12.2 prints `5%` as expected.

### Steps To Reproduce

1. Use Windows
2. With this package.json:

[code]

3. Run `npm test`
4. Notice how the

[2022-08-09 21:00] treysis commented on #4163
@doojin Probably because the docker container wasn't IPv6-enabled and thus Node 17 inside this container didn't request IPv6 DNS records.

If you're connected to your mobile hotspot, does `ping -6 www.google.com` work?

[2022-08-09 22:39] doojin commented on #4163
@treysis
[code]

It does

[2022-08-09 23:11] boneskull commented on #5283
There's some sort of weirdness where `npm link <thing>` causes `prepare` to be run, regardless of how `thing` was installed.  I suppose this is abuse, but:

- `cd foo`
- `npm install thing`
- `cd ../bar`
- `npm link ../foo/node_modules/thing`

 `prepare` script of `thing` gets run.  whoops, no dev deps!

[2022-08-09 23:16] boneskull commented on #5283
tbf, our use case is cursed

[2022-08-09 23:28] ljharb commented on #5283
Yes, that's the point of "prepare" - it'd be "prepublishOnly" if it was only for publishing and not for linking/installing from git. Dev deps should be present tho when linking, i'd expect?

[2022-08-10 00:18] adjenks commented on #2453
I was using nexus and your link saved me. This is what got me:

I couldn't imagine that nexus would not have that on by default so I never thought to check.

[2022-08-10 01:40] liudonghua123 commented on #4148
any updats, it's a long time bug!

[2022-08-10 01:41] Sxubas commented on #3472
I was facing the same issue, but I ran `npm update` and it solved the vulnerabilities for me.

[code]

[code]

Not really sure why it worked, but I hope it works for someone else facing this.

[2022-08-10 02:05] DylanBozarth commented on #3650
On linux:  delete the node_modules folder in root/usr/lib/ and reinstall.

[2022-08-10 02:14] ljharb commented on #4148
Can you try npm 8 latest?

[2022-08-10 02:42] ahmadnassri opened #5286 "[BUG] npm show --json outputs to stderr instead of stdout when registry responds with 404"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

run any command with `--json` and a `404` response:

[code]

all the content is on stderr:
[code]

empty result on stdout:
[code]

### Expected Behavior

the json object should be written to stdout:

[code]

[co

[2022-08-10 02:44] ursnj commented on #5002
Same issue with npm 8.15 also

[2022-08-10 03:35] liudonghua123 commented on #4148
I tried the latest npm 8.16.0, the bug still exists.

[2022-08-10 04:36] Myzmzz commented on #2420
I succeed both

[2022-08-10 04:37] HOLLY-ZYP commented on #2420
 
您好，邮件已收到，我会尽快给您回复。

[2022-08-10 06:18] delagen commented on #5278
The same
npm: 8.16.0
Node.js: v18.7.0
OS Name: Windows 11

[2022-08-10 06:55] TinaSprunt commented on #4234
Thank you for saving me

[2022-08-10 07:15] souravsaraf123 commented on #3291
please prioritize this 😞

[2022-08-10 07:45] treysis commented on #4163
Alright. Good to see. Now to rule out MTU issues try this ping:
`ping -6 -s 1280 -M do www.google.com -c 5`

[2022-08-10 07:58] dmca-glasgow commented on #4148
From my invetigation (a while ago), this bug was introduced in v8.5.2. Sorry I don't recall the specifics.  I've been instructing my users to roll back to `npm@8.5.1` before installing my package.

EDIT: Possibly related: https://github.com/npm/cli/issues/3692

[2022-08-10 08:57] Beckdotan opened #5287 "[BUG] npm ERR! Windows_NT 10.0.22000 | npm -v3.10.8 | node -v6.9.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Enhancement, not another kind of Docs Enhancement.

- [X] This is a CLI Docs Enhancement.

### Description of Problem

0

I got to work on an old program. I installed node 6.9.1 (with npm v3.10.8) using nvm because it was probably the last node version that i know this code was working with

[2022-08-10 11:09] SHADYKIMBUM opened #5288 "## v8.16.0 (2022-08-03)"
## v8.16.0 (2022-08-03)

### Features

  * [`3c024ac`](https://github.com/npm/cli/commit/3c024ace60904c69e61da00e1fb56c0c1735804a) [#5000](https://github.com/npm/cli/pull/5000) feat: add npm query cmd (@ruyadorno) (@wraithgar)
  * [`703dbbf`](https://github.com/npm/cli/commit/703dbbf2a8149dff72c848d60600889a76779828) [#4860](https://github.com/npm/cli/pull/4860) feat: add --replace-registry-host=<

[2022-08-10 14:16] grahamrhay opened #5289 "[BUG] git+ssh errors in npm8"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

We have a number of node14 projects that we are in the process of upgrading to 16 (and if we aren't careful, the LTS train will have moved on before we get there!).

Can anyone explain what has changed in npm 8(

[2022-08-10 14:17] grahamrhay commented on #5289
could it be related to [this](https://github.com/npm/git/pull/29)?

[2022-08-10 14:17] fjodor-rybakov opened #5290 "[DOCS] How to pull packages from registry instead symlink in workspace"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

For example there is following workspaces:

[code]

pkg1 depends of pkg2, pkg2 is in npm registry. When i run `npm i` npm create symlink for pkg2.

We need option for pull all local pac

[2022-08-10 14:41] wraithgar commented on #5268
There are two things happening here. First, the global prefix has a completely different layout than the local one, the second is that setting `--prefix` changes both the local and global prefix.  The reasons for this are largely lost to time, and untangling that is already on our radar.

What this functionally means is that when you set `--prefix`, any global scope is ignored.  `npx`/`npm exec` n

[2022-08-10 14:52] wraithgar commented on #5287
Older versions of node/npm use ssl versions that are no longer supported by the npm registry. You will not be able to use them to access the npm registry.  Your only solution is to update node and npm.

Additionally, node 6 was EOL in 2019 and neither it nor npm@3 are supported anymore.

[2022-08-10 14:52] #5287 closed, assigned to nobody

[2022-08-10 14:55] wraithgar commented on #5286
This was originally brought up in https://github.com/npm/cli/issues/2740 and has an ongoing discussion in https://github.com/npm/cli/issues/4724.