[2020-11-11 07:11] charles-dexter-ward commented on #2002
Installed npm 7.0.10 (which should fix https://github.com/npm/cli/issues/1962) :

npm outdated -g
![image](https://user-images.githubusercontent.com/2855255/98779990-b922f380-23f4-11eb-9761-a2b126b85692.png)

npm list -g --depth=0
![image](https://user-images.githubusercontent.com/2855255/98780311-dc4da300-23f4-11eb-88ec-7959760a496d.png)

npm link npm
![image](https://user-images.githubuserconten

[2020-11-11 07:16] ceisele-r commented on #721
An updated log here is:
[code]

It seems wrong to me that `npm ci --production` actually tries to touch `/drone/src/pack/setup/app/node_modules/@ourscope/package` at all since this is a dev only dependency that has `dev: true` in `package-lock.json` of the main project.

[2020-11-11 08:57] VIGDXX opened #2157 "[BUG]< npm update somepackage -g failed when somepackage's current version is 0.0.1 >"
### Current Behavior:

[code]
redux's current version is still 0.0.1

### Expected Behavior:

redux's current version should be 0.0.4

[redux](https://www.npmjs.com/package/redux) is just an example

### Steps To Reproduce:

### Environment:

- OS: win 10
- Node: v14.4.0
- npm: 6.14.5

[2020-11-11 14:23] ankon commented on #2034
Trying with `--no-save` was also my first instinct when I saw that `npm link` modified package.json.

I think this is clearly a change in behavior that minimally needs to be documented in the release notes.

I'm relying on `npm link` for setting up a complex development environment, and as it stands now that simply won't work. Modifying package.json has a huge potential of me (or anyone using a si

[2020-11-11 15:38] stefankraus-wf commented on #2008
The solution posted by @aukevanleeuwen does not seem to work with email address usernames, even when urlencoding the `@` symbol. #2153 looks like it will fix the issue. Until then, I have users that run into this issue downgrade to npm 6.X
Thanks for getting the fix in review so quickly @ruyadorno !

[2020-11-11 18:21] raineorshine commented on #1431
Deleting `node_modules` and `package-lock.json` and re-running `npm install` fixed it for me.

Clearing the npm cache had no effect.

[2020-11-11 18:34] bricss opened #2158 "[BUG] npm update does not physically update the version"
### Current Behavior:
Synthetic update instead of physically updated package.

### Expected Behavior:
Get the exact version in `node_modules` you updated to.

### Steps To Reproduce:
1. run `npm update` or even `npm install <already_installed_pkg> --save`
2. check version in `package-lock.json`
3. check **actual** version in `node_modules` dir
4. smile

### Environment:
- OS: win 10
- Node: 15.2.0

[2020-11-11 18:38] ljharb commented on #2158
Can you reproduce with npm v7.0.10?

[2020-11-11 18:46] bricss commented on #2158
Yes, just checked.

Moreover, `npm update` does not update version in `package.json` itself as well.

[2020-11-11 19:13] nornagon commented on #2147
I also encountered this (on macOS, also 7.0.8). Upgrading to 7.0.10 did not fix the issue.

[2020-11-11 22:03] billyjanitsch commented on #1905
@darcyclarke @isaacs apologies for the direct tags, but I see that this issue was removed from one of the sprint milestones, so I want to make sure that it wasn't overlooked as it's a fairly major regression.

Here's a minimal repro, in case it's not clear from the original issue:

[code]

With `npm@6`, both `npm install` and `npm ci` print "foo". With `npm@7`, `npm install` prints "foo" but `npm

[2020-11-11 22:23] bnb commented on #502
Just encountered this. It still exists in `npm exec` and the aliased `npx` when a _user's_ name includes a space. This means that anyone who has a space in their Windows name will be unable to use `npm exec` and `npx`.

[2020-11-11 23:31] calvin-uc commented on #2142
I'm encountering the same problem `pnpm` which calls `npm`. I'm able to repro this problem with a test repo that I created
https://github.com/calvin-uc/publish-test

Node 15.x which uses npm 7.x
https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V15.md#npm-7---35631

has the same issue. Our current resolution is just not to use 15.x but that doesn't seem like a long term solution.

[2020-11-12 00:54] mjsir911 opened #2160 "[BUG] `cache add` tarball file does not add to cache"
### Current Behavior:

[code]
The only index file looks like this:
[code]
Which explains why it doesn't show up with `--offline`, but there are no `pacote` tarball files cached

### Expected Behavior:

`npm cache add` should cache the tarball passed to it, resulting in index files that look like this, even in offline mode (this file was created with `npm@6.14.5`:
[code]

Of note, `npm cache add ht

[2020-11-12 00:56] darcyclarke commented on #1958
Should be fixed as of `7.0.3`

[2020-11-12 00:56] #1958 closed, assigned to nobody

[2020-11-12 05:37] hiepxanh commented on #2134
hope it will be fix soon, have the same error on `7.0.10` version

[2020-11-12 07:07] charles-dexter-ward commented on #2002
I had to reinstall all global packages. Now they are listed by npm and executable.
Before reinstalling them, there were no binaries in the node_modules folder even if the packages were previously installed.

[2020-11-12 08:16] ljharb commented on #2160
Does this still happen on npm v7.0.10?

[2020-11-12 11:58] protyposis opened #2162 "[BUG] Removing dependency from workspace package leads to invalid lockfile"
### Current Behavior:
When removing a dependency from a workspace package's `package.json` and executing `npm install` in the workspace root to update its `package-lock.json` (as discussed in #2036 and #1984), the file structure ends up in an invalid state where the `version` property holds the URL from the `resolved` property, instead of removing the whole dependency block. See this changeset aft

[2020-11-12 12:24] csvan opened #2163 "[BUG] npm list --json produces invalid json when --silent is included"
### Current Behavior:
In a situation where an error occurs but is suppressed by the `--silent` flag when running `npm list --json`, the resulting json output is invalid.

For example, the resulting json can look like this:

[code]

These are two json objects in succession without a valid separator, trying to run e.g. `JSON.parse()` on it will fail since it is invalid.

### Expected Behavior:
The r

[2020-11-12 12:32] onzag commented on #2139
@isaacs

https://github.com/onzag/itemize/blob/master/.gitignore

Master branch contains exactly the same gitignore and works the same way as that branch, they are not very different; that branch that I sent to ljharb was just because it was what I was working in the moment but it should make no difference.

Also `npm install` had to be ran before packing.

That said I started getting the same res

[2020-11-12 16:53] darcyclarke commented on #1191
Closing: we don't support project-specific support/debugging but it looks like @Vipmat & @shiva-github both provided fairly good paths to resolving this issue for most folks (ref. https://github.com/npm/cli/issues/1191#issuecomment-627238482 & https://github.com/npm/cli/issues/1191#issuecomment-637286144 respectively)

If you have problems in the future w/ the Angular CLI, please file an issue ove

[2020-11-12 16:53] #1191 closed, assigned to nobody

[2020-11-12 17:06] ktalebian opened #2164 "[BUG] Peer dependency semver ranges is not respected"
The new npm7 is installing and resolving peer dependencies automatically, but it looks like it has some bug with resolving dependencies that are in multiple packages. Take a look at this error:

[code]

The package.json's dependencies in this example are:

[code]

Now, `flex-plugin-scripts` installs `flex-plugin-test` which installs `enzyme-adapter-react-16` which installs `react-test-renderer` wh

[2020-11-12 18:36] yGuy opened #2165 "[BUG] Unpublish logic is broken - rogue packages can prevent unpublishing"
### Current Behavior:
If you want to unpublish a package that you have published accidentally just minutes ago, you can never unpublish it if there is another package anywhere on npm that declares a "*" dependency on that package name.
With this knowledge, anyone can "attack" arbitrary packages, even ones that don't yet exist, simply by declaring a dependency on them. The "attacked" packages can n

[2020-11-12 19:04] darcyclarke commented on #564
Closing: As @claudiahdz mentioned, we shipped a fix to this behavior where `npm ci` does not remove the `node_nodules` folder itself anymore but only it's contents (ref. https://github.com/npm/libcipm/blob/latest/CHANGELOG.md#407-2019-10-09). This was shipped in `npm@6.14.7` back on July 21st (ref. https://github.com/npm/cli/blob/v6/CHANGELOG.md#6147-2020-07-21) & we've maintained the same experie

[2020-11-12 19:04] #564 closed, assigned to darcyclarke

[2020-11-12 19:13] kf6kjg commented on #2114
Good testing @isaacs, however as mentioned in the original description this doesn’t repro on Node 14 or newer. I’ve not tested 13. It does happen under Node 12 - at least on my machine. And while I’d love to be running 14 and getting access to all the niceness it brings, several projects aren’t paying for that upgrade yet. 

As to your questions, again running under Ubuntu and Node 12 with NPM 7.

[2020-11-12 19:32] kf6kjg commented on #2114
As an experiment I upgraded my node to 14:
[code]

And re-ran the test.  So the following combination is failing the test command on my machine:
Ubuntu 20.04, node 14.14.0, npm 7.0.7.

[code]
With the following log:
[2020-11-12T19_28_03_514Z-debug.log](https://github.com/npm/cli/files/5532830/2020-11-12T19_28_03_514Z-debug.log)

[2020-11-12 19:58] ljharb commented on #2165
I would suggest a slight modification - you shouldn't be able to unpublish something that would result in another dependency being unsatisfiable. In other words, `*`if your package has a v1.0.0 and a v1.0.1, and the only deps are on `*`, then it should be fine to unpublish v1.0.0, but not v1.0.1 because someone might be relying on that bugfix. If you publish a v1.0.2 then v1.0.1 would become unpub

[2020-11-12 20:14] ljharb commented on #2163
What happens if you, in turn, redirect stdout and then stderr to `/dev/null`?

[2020-11-12 20:17] ljharb commented on #2164
I think this is related to the bug that https://github.com/npm/arborist/pull/182/ fixes?

[2020-11-12 20:24] nlf commented on #1955
`oax` and `scrumple` have bin entries that refer to a symlink within the published code, symlinks in windows however are.. strange, and so it is unsurprising that this doesn't work. with the current npm (7.0.9) i can install `scrumple` and i see that the bin file is in place, if i attempt to run it i get a `Cannot find module 'node_modules/scrumple/scrumple` from the common JS loader telling me th

[2020-11-12 20:24] #1955 closed, assigned to nlf

[2020-11-12 20:36] nlf commented on #1840
effectively your configuration is creating an enormous buffer, that buffer is redrawn in its entirety every time we update the progress bar on the screen. with it being that large, redrawing like that is slow. there's nothing we can do to speed up redrawing the terminal for you.

you may find that disabling the progress bar by running commands with `--no-progress` will improve your experience

[2020-11-12 20:36] #1840 closed, assigned to nlf

[2020-11-12 20:52] ktalebian commented on #2164
@ljharb looks like it

[2020-11-12 21:11] ATGardner commented on #564
The comment made by @claudiahdz almost a year ago seems to be related with making sure the `npm ci` behavior is to delete the `node_modules` content, instead of the folder itself. Which is handy when mounting it into a docker container (for example), but still doesn't change the end result - `npm ci` will download *all* the dependencies from scratch.

Using `npm install --package-lock-only` seems

[2020-11-12 21:33] ljharb commented on #564
Isn't that what `npm install` already always does?

[2020-11-12 21:46] trusktr opened #2166 "[BUG] v6 - npm install deletes linked module's dependencies"
### Current Behavior:

`npm install` removes dependencies from `npm link`ed packages.

For example, if I am working on project A, which depends on project B

- cd projectB
- `npm link` in project B (also does install)
- build project B
- cd ../projectA
- `npm link projectB` into project A
- `npm install` BOOM, deletes packages from `../projectB/node_modules` while (presumably) trying to dedupe dep

[2020-11-12 21:47] ATGardner commented on #564
AFAIK -
`npm install` will resolves all the dependencies according to the `package.json` file (ignoring the `package-lock.json`), compare with what is currently in the `node_modules` folder, and download the dependencies that need to be downloaded to match the requirements. It will also update the `package-lock.json` accordingly.

[2020-11-12 21:53] trusktr commented on #2166
Oops, meant for v6, label needs to be changed

[2020-11-12 22:18] ljharb commented on #564
It definitely does not ignore the lockfile - it just takes into account the existing tree, which `npm ci` does not.

[2020-11-12 22:18] ljharb commented on #2166
npm v6 is basically frozen; what happens in v7.0.10?

[2020-11-12 22:20] isaacs commented on #2164
This is not fixed by npm/arborist#182.  The issue here is a bit more subtle.

This is a class of problem that we don't address currently.  Consider a set of dependencies like this:

[code]

`a` depends on any version of `b`, `b` on some version of `c` and so on.  `p@1` depends on `q@1`, `p@2` depends on `q@2`, effectively "splitting" the chain.  At that point, choosing `p@1` will result in `dep@1`

[2020-11-12 22:20] #2164 closed, assigned to nobody

[2020-11-12 22:27] trusktr commented on #2166
Looks like the issue is fixed in v7.0.10. I'll test drive it for a while.

[2020-11-12 22:27] #2166 closed, assigned to nobody

[2020-11-12 23:25] mjsir911 commented on #2160
Can reproduce with npm@7.0.10, node v15.1.0

[2020-11-12 23:27] rcowsill opened #2167 "[BUG] "npm install" updates <pkg>@<tag> dependencies and their dependencies"
### Current Behavior:

`npm install` ignores package-lock.json and updates packages in two cases given below.

#### Top level dependency:
- There is a dependency with version specified by a tag in package.json
- That tag got updated since the package was installed/last updated

#### Dependency of top-level dependency:
- There is a dependency with version specified by a tag in package.json
- That d

[2020-11-12 23:33] rcowsill commented on #558
I've seen `npm install` update dependencies with a valid lockfile on v6.14.8, when package versions are specified by tag. Logged as #2167.

The good news is that it doesn't appear to be happening in v7.0.10 :+1:

[2020-11-12 23:44] leandro-manifesto commented on #786
I think NPM should refuse to run any command when the `engine-strict` is set and the engine checks fail.
That's the default on Yarn and I find it to be a very good behaviour.

[2020-11-13 01:19] JakeChampion commented on #1955
Previous versions of npm worked fine with the same oax and scrumple version, do you know why that would be?

[2020-11-13 02:24] dr-js commented on #2147
Got the bug, too.
Don't know how this happens, but here is a preserved "crash site":
- the branch with bad lockfile:
  - https://github.com/dr-js/imagemin-min/tree/test-npm7-lockfile-bin-missing
- the sample CI error with the bad file: (`npm ci` with `npm@7.0.8`)
  - https://github.com/dr-js/imagemin-min/runs/1393820432?check_suite_focus=true#step:7:77
- the passed CI with the recreated good file:

[2020-11-13 02:41] Myth1c4lYT opened #2168 "[BUG] Error When Typing npm i minecraft-server-util@^3.0.1 discord.js@^12.3.1"
When I Run npm i minecraft-server-util@^3.0.1 discord.js@^12.3.1 It says cb() never called! Any Help Here?

[2020-11-13 03:32] Myth1c4lYT commented on #2168
nevermind its just not a valid command xD

[2020-11-13 03:32] #2168 closed, assigned to nobody

[2020-11-13 05:31] uhop opened #2169 "[BUG] "npm ci" does not build a binary extension"
### Current Behavior:
NPM 7: `npm ci` installs dependencies and DOES NOT build a binary extension automatically (`binding.gyp` is in the root).

There is no attempt to build an extension.

### Expected Behavior:
Like NPM 6: `npm ci` installs dependencies and builds a binary extension automatically (`binding.gyp` is in the root).

### Steps To Reproduce:

My repository: https://github.com/uhop/node

[2020-11-13 06:56] ATGardner commented on #564
You are correct, I am sorry.
I remembered incorrectly, (maybe that was the behavior in the past?). Just did some testing with a simple dep tree, and when the `package-lock.json` file is present, `npm i` install exactly the versions it specifies, and does not change anything. This was just the behavior I was looking for, so I'm happy with it. 👍
I apologize for posting on a closed issue.

[2020-11-13 07:28] Zenuka commented on #564
My original request was indeed what ATGardner describes:

My experience with `npm install` is that it sometimes updates the `package-lock.json` file. I tested this again this morning with a repository which I hadn't updated in a while and ran `git pull` and `npm i`. It didn't actually update any versions this time, just added some dependencies and extra packages.
![image](https://user-images.githu

[2020-11-13 08:43] yGuy commented on #2165
I don't know whether this is feasible to implement, but in a way a depending package should also never block another package from being unpublished, if at the time the dependency was declared the other package did not even exist. This should never have been a true dependency. So even if the dependency is 1.0.1 you should be able to unpublish 1.0.1 if the dependency was declared at a point in time

[2020-11-13 10:17] Bartman250 commented on #931
i have a requirement where i need to pull NPM packages from multiple private Repos. In this case both repos where in Gitlab NPM repos owned by different organisations.

I raised the issue initially with gitlab here:
https://gitlab.com/gitlab-org/gitlab/-/issues/259641#note_426545614

So I tried to configure the .npmrc like this:

[code]

In this case, the Tokens are project level tokens with read

[2020-11-13 11:18] rishabhpoddar commented on #2134
I'm having this issue with all versions >= `7.0.7` as well.

[2020-11-13 12:22] maria20castro opened #2170 "npm ERR!"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR! https://npm.community

npm ERR! A complete log of this run can be found in:
npm ERR! C:\Users\abc\AppData\Roaming\npm-cache_logs\2020-11-03T13_58_52_163Z-debug.log

please help me to get fix this

[2020-11-13 15:47] mshima opened #2171 "NPM 7 fails with an empty script."
### Current Behavior:
NPM 7 fails with an empty script.

### Expected Behavior:
Not to fail.

### Steps To Reproduce:
package.json:
[code]

Command
[code]

Result:
[code]

### Environment:

- OS: MacOS 10.15.7
- Node: 14.15.0
- npm: 7.0.10

[2020-11-13 16:41] yGuy commented on #2165
It just turned out that in my case the "blocking package" actually was deprecated(!) and still it is blocking other packages that have been released literally years after its own deprecation - that really should not be necessary and should not result in blocking.
Deprecated "rogue" package are even less likely to be maintained and in my case even more difficult to modify. Even if you can find some

[2020-11-13 16:48] nlf commented on #2165
we very strongly discourage unpublishing at the registry level, these checks are in place to prevent someone from unpublishing a widely depended upon package and breaking the ecosystem as has happened in the past.

if you have a use case where you're unable to unpublish a package on your own due to the registry preventing it, please do [reach out to our support team](https://www.npmjs.com/support)

[2020-11-13 17:01] nlf commented on #2165
unfortunately "deprecated" doesn't mean "not being used" so we still can't use that as a signal that it's safe to potentially break

[2020-11-13 17:35] isaacs commented on #2120
Actually, just preferring a `^` match when `>=` is used won't do it.  Too many packages out there have peer dependencies like `webpack@^4.1.0 || ^5.0.3`, and catching every possible iteration won't work out.  Eventually, we're always going to have NP-hard territory to venture into.

[2020-11-13 17:39] ljharb commented on #2171
What does npm 6 do here?

[2020-11-13 18:14] mshima commented on #2171
Doesn’t fails.

[2020-11-13 18:18] #2123 closed, assigned to nobody

[2020-11-13 19:04] #1957 closed, assigned to ruyadorno

[2020-11-13 19:40] AhmadSalihu opened #2173 "npm install create-react-app"
if i run npm install create-react-app  is referring me to another directory on my computer. pls help

[2020-11-13 19:42] #2017 closed, assigned to nobody

[2020-11-13 19:42] #2008 closed, assigned to ruyadorno

[2020-11-13 19:42] #2134 closed, assigned to nobody

[2020-11-13 19:42] #2150 closed, assigned to nobody

[2020-11-13 20:06] mshima commented on #2171
Workaround is to add a space:
[code]

[2020-11-13 20:53] nlf commented on #2171
this is technically a bug, but i'm curious about the use case for having empty scripts and expecting to be able to run them.. is the idea to make sure that the command always works?

if so: `npm run --if-present empty` will probably do what you want

[2020-11-13 21:03] ljharb commented on #2171
Seems like any script that trims to the empty string should be treated as an error case, distinct from missing scripts - I’m curious about the use case for an empty script.

[2020-11-13 21:19] nlf commented on #2171
my guess was a build system of some sort that runs `npm run empty` for every project it builds, which is why i suggested the `--if-present` flag since that would run the script if it exists and do nothing at all if it doesn't

[2020-11-13 21:36] mshima commented on #2171
Not against it but the error message should be fixed.
At jhipster we generate a bunch of scripts, with pre scripts.
In some cases we generate some empty scripts, because that script does not apply.
To keep scripts 'api' stable with pre scripts, the both are generated blank. `--if-present` is a little more error prone for our use case. If the generator failed to generate the script, CI will still p

[2020-11-13 22:18] nlf commented on #2171
fair enough :+1:

pull request to fix it is up and will hopefully land in the next release

[2020-11-13 22:20] csvan commented on #2163
This seems to be the same issue as https://github.com/npm/cli/issues/2150, which was closed just now. Will see if I can still reproduce after that.

[2020-11-13 23:10] mshima commented on #2171
Thanks.

[2020-11-13 23:35] BenjaminWFox-Lumedic opened #2175 "[BUG] npm install ignores engines + engine-strict=true"
### Current Behavior:
When using npm v7.0.2 or greater, setting `"engines": { "node": ">=14.15.0 <15.0.0" },` in `package.json` and `engine-strict=true` in `.npmrc` seems to be ignored.

### Expected Behavior:
It should error if the current version is outside of the specified range when trying to `npm install`

### Steps To Reproduce:
1. create new folder & `npm init`
2. add `"engines": { "node":

[2020-11-13 23:38] ljharb commented on #2175
Can you try with npm v7.0.11?

[2020-11-13 23:49] BenjaminWFox-Lumedic commented on #2175
I think I did that right - it didn't seem to make a difference:

[code]

[2020-11-14 01:31] OskarUno commented on #1185
Hola, a mi pe paso um problema similar al instalar firebase y se soluciono con:

 npm install -g npm@latest

Graciassss

[2020-11-14 03:18] dominguetigs commented on #2173
@Ahmadzayd
Could you print out the logs that gives in the terminal for more information?

[2020-11-14 03:24] dominguetigs commented on #2029
@isaacs
Is anyone doing this issue?

[2020-11-14 09:48] csvan commented on #2163
Still an issue on npm 7.0.11

[2020-11-14 09:51] csvan commented on #2163
Fixed in npm 7.0.11, where the `err` content will now be printed to console whereas `stdout` will correctly end up in the piped file.

[2020-11-14 09:51] #2163 closed, assigned to nobody

[2020-11-14 10:10] ATGardner commented on #564
I couldn't get my simple example to have `npm i` change the `package-lock.json` file. But I will try it out some more.

If `npm i` always ends up downloading the exact same versions specified in the `package-lock.json`, while keeping as much as it can from the current `node_modules`, why would I ever need to run `npm ci`? what would be the benefit of deleting everything before downloading again?

[2020-11-14 10:49] piranna opened #2176 "[BUG] [regression] `npm start` don't use `server.js` by default"
### Current Behavior:

Since upgrade to npm 7, when executing `npm start` without a `start` script defined in `package.json` I get a `missing script: start` error.

### Expected Behavior:

Running `npm start` without a `start` script defined in `package.json` should exec `./server.js` (more specifically, `node server.js`, due to Windows compatibility), as has been doing since always, and [it's def

[2020-11-14 10:50] piranna commented on #2176
Content of `package.json`:

[code]

[2020-11-14 11:50] DanielRuf commented on #564
See https://docs.npmjs.com/cli/v6/commands/npm-ci#description

[2020-11-14 12:36] #2142 closed, assigned to nobody

[2020-11-14 12:49] ATGardner commented on #564
I apologize again for this not being the place for this discussion. Is there anywhere else more preferable?

I still don't understand. If the state of `node_modules` after running `npm i` exactly matches the `package-lock.json`, and the state of `node_modules` after running `npm ci` has the exact same end result - in almost *all* scenarios, assuming the computer you are  building on already has so

[2020-11-14 13:34] DanielRuf commented on #564
No, `npm ci`is still faster as it does not check the deptree again, some console output is not done.

To prevent issues and `ci` is for specific environments like deployments.
I think the docs already mention the differences.

See also https://blog.npmjs.org/post/171556855892/introducing-npm-ci-for-faster-more-reliable

`npm ci` is still faster.

[2020-11-14 13:50] ATGardner commented on #564
So when using `npm i`, the time it takes to read the current `node_modules`, and figure out which packages should be downloaded, is significantly larger than the time it takes to actually download all the packages from npm's servers? I'd love to see an actual experiment that measures it.

And I also don't understand this paragraph -
[code]
Haven't we just concluded right here that running `npm i`

[2020-11-14 14:17] mvyunko commented on #2119
i had the same prob

npm install npm@latest -g
then
npm install webpack-dev-server --save-dev

working for me

[2020-11-14 14:56] shubhankartarkar opened #2177 "[BUG] <title> cb() never called !!"
`cb()` never called !! while downloading create react app and other packages
![Capture](https://user-images.githubusercontent.com/29594617/99150120-611c1380-26b8-11eb-9a4f-01557ed79c30.PNG)
Following is log generated

0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\Shubham\\AppData\\Roaming\\npm\\node_modules\\n

[2020-11-14 15:18] btzdnl commented on #564
`npm ci` is preferable when you need _exactly_ what is in `package-lock.json` and nothing but. `npm i` does not guarantee that it will install exactly what is in `package-lock.json`. This is by design. While `package-lock.json` is an input to `npm i`, it is also an output.

I believe there are only a few cases left where `npm i` would install something different (and thus modify `package-lock.json

[2020-11-14 15:59] billyjanitsch commented on #2176
This was [fixed in 7.0.9](https://github.com/npm/cli/releases/tag/v7.0.9).

[2020-11-14 16:14] CoderFX commented on #2135
same error, windows 10

[2020-11-14 16:57] ljharb commented on #2177
Can you try with npm v7.0.11?

[2020-11-14 16:58] #2176 closed, assigned to nobody

[2020-11-14 17:01] shubhankartarkar commented on #2177
My Os is windows 7 ,so never versions of node and npm are not compatible

On Sat, 14 Nov 2020, 10:28 pm Jordan Harband, <notifications@github.com>
wrote:

[2020-11-14 17:12] ljharb commented on #2177
In that case it's unlikely your bug would ever be fixed; npm 6 is basically frozen, and the oldest version of node that has support is node 10. Windows 7 itself is EOL as of January.

[2020-11-14 17:14] shubhankartarkar commented on #2177
ok then i should close this issue btw thanks ☺️

On Sat, 14 Nov 2020, 10:42 pm Jordan Harband, <notifications@github.com>
wrote:

[2020-11-14 17:15] #2177 closed, assigned to nobody

[2020-11-14 20:22] rolivegab commented on #1530
I agree. It'll be very good to not rely on non-oficial or unmantained ways, like npm-check (https://www.npmjs.com/package/npm-check).

This is, for me, the only reason i still use yarn.

[2020-11-14 20:34] closingin commented on #2147
Hello @isaacs , I just updated my npm to `7.0.10` to test, but npm still doesn't create the `.bin` directory.

[2020-11-14 20:54] christianhaller3000 commented on #2147
@closingin what package are your installing?

[2020-11-14 21:22] closingin commented on #2147
Uh, I'm just doing a standard `npm install`. It's not related to a specific package, the bug occurs when you have a "broken" `package-lock.json`, alongside any package that has a binary.

@isaacs I think I just found how to work around the bug. It may help you in finding the culprit.

When you upgrade to node 15 / npm 7 and do any operation that would update your `package-lock.json` to `"lockfileV

[2020-11-14 23:13] piranna commented on #2176
Oh, thank you, and sorry for opening the issue, didn't find anything related to this...

[2020-11-14 23:44] dr-js commented on #2147
Might be related, I think the bad lockfile is created after apt updated `nodejs@15.2.0` deb from `nodesource`, and I think the process also reset npm to `npm@7.0.8`.
Before that I used `nodejs@15.1.x` with manually downgraded `npm@6.14.8`, so maybe the bad lockfile is created by `npm@7.0.8` in a repo when `node_modules` and v1 `lockfile` state match, and later with `npm@7.0.10` and do install agai

[2020-11-15 00:10] dr-js commented on #2147
A test to reproduce the bad lockfile from the itself: (with `nodejs@15.2` and `npm@7.0.10`)
The related test files: [test-package-json.zip](https://github.com/npm/cli/files/5541613/test-package-json.zip)
[code]

[2020-11-15 05:33] GaelicGrime commented on #2137
not sure this is related, I am getting the same error when I try to do anything with apm and atom in general that would involve calling npm at some point, and I have not seen issues with npm directly, this thread is the first result of my search to find answers

what information would I need to provide

` will@willdesk /home/will/drive/sync/mine/important 20201114.222329
 ❯❯❯ apm outdated
 /usr/li

[2020-11-15 08:27] csvan commented on #2120
I don't believe this should be closed. It currently breaks standard NPM7 installs of several major dependencies, such as for example `styled-components`:

[code]

I understand that the solution is complex (and I have nothing to contribute myself), but until one is in place it is probably useful to keep this (or a similar) issue open as a reference point for people running into it.

On that note, t

[2020-11-15 12:36] Gameghostify commented on #2034
It would be great to have someone from NPM acknowledge this/give us some kind of a heads-up, I had to revert back to npm@6 because linking anything is a pain, especially when you have to do it often

[2020-11-15 13:17] hmnshgpt455 commented on #2135
Same error, Windows 10.
npm - 6.14.8

[2020-11-15 17:03] ljharb commented on #2120
Seems like you’re missing a top-level dependency on react-dom (that matches the same minor as react itself). If you fix that, what happens?

[2020-11-15 17:27] Tizzit-max commented on #2085
Give <title> name an pull plz #2085 @octomerger

[2020-11-15 18:53] csvan commented on #2120
@ljharb yes, it works if I add explicit dependencies at the top level like in npm6, but my understanding was that npm7 resolves and installs peer dependencies in a way that meant this was no longer necessary, sorry if I got this wrong: https://github.com/npm/rfcs/blob/latest/implemented/0025-install-peer-deps.md

The problem seems to be that since the peer version of react-dom in this case is `>=

[2020-11-15 19:02] ljharb commented on #2120
It’s sometimes no longer necessary, but it’s still always better to be explicit.

[2020-11-15 19:20] SimonAlling commented on #1469
I have the same problem, being unable to `deprecate` a package of mine. I assumed it had something to do with the package being **scoped**, since I noticed that the slash in the package name is shown as `%2f` in the URL, but I really don't understand what's going on.

[code]

[2020-11-15 19:27] ljharb commented on #1469
@SimonAlling what happens with npm v7.0.11?

[2020-11-15 23:39] InputNeuron opened #2178 "Better support for determining the effective repository"
(note: tried to submit this as a feature request but the form is broken and "Start Discussion" never goes green)

I'm having tons of problems working with .npmrc and repository settings because it's difficult to determine which repository is actually being used.

Here are a list of things that could be improved and problems I'm having:

- when using ```npm ping``` and readonly tokens, it uses trie

[2020-11-15 23:41] InputNeuron commented on #2178
If I try to ping with a read-only token I get the following error:

[code]

... I assume this is a bug.

[2020-11-15 23:43] InputNeuron commented on #2178
another issue... if I"m using a .npmrc with an auth token, there's no way to tell if it's being used and if the syntax is right.

my .npmrc is:

[code]
... but I don't know if it's parsing the authToken properly.

[2020-11-15 23:47] InputNeuron commented on #2178
Another idea..```npm whoami``` should show the registry that is actively being used.

[2020-11-15 23:54] InputNeuron commented on #2178
... and this is just a flat out bug:

When you to ```npm token list```

it prints a suffix of the token but shows the ellipsis on the END not the beginning.

│ 409100 │ KH9X7K… │ 2020-11-15 │ yes      │                │

... there are a LOT of bugs here :-/

[2020-11-15 23:59] InputNeuron commented on #2178
Additionally:

https://docs.npmjs.com/cli/v6/configuring-npm/npmrc

doesn't really clarify the order of the files.

I would assume the priority would be

- per project .npmrc
- per user .npmrc
- global .npmrc

but it's actually

- per user
- per project
- then global I guess

... and since there isn't any way to debug this there's no way to determine the order.

At least update the documentation.

[2020-11-16 00:35] darcyclarke commented on #2178
Hey @burtonator! Appreciate the feedback & I apologize that the discussion/links were broken when you tried to file this just now (I've updated that so hopefully it points in the right direction going forward).

For general feedback/we've opened up a public repo here: https://github.com/npm/feedback &/or you can propose something more formally in our RFC repo here: https://github.com/npm/rfcs

If

[2020-11-16 00:35] #2178 closed, assigned to nobody

[2020-11-16 01:17] InputNeuron commented on #2178
@darcyclarke ... as a project maintainer I have to say that this is VERY valuable feedback I provided and you just closed the bug.  These types of bugs shouldn't just be closed just because they were pushed to the wrong place.

[2020-11-16 01:58] darcyclarke commented on #2178
@burtonator

Apologize for the miscommuniction. Closing this issue had nothing to do with the merit of some of your comments (I think we can definitely improve the CLI in various ways & I think there are some great ideas here); Moreso, it reflects that this thread does not use/follow our bug template (which we ask the community to use so we can properly reproduce/triage issues).

*"Better support

[2020-11-16 02:11] darcyclarke commented on #2173
Closing: please use one of our bug templates if you think you've found an issue with `npm` itself (ref. https://github.com/npm/cli/issues/new/choose)

If you're having problems with `create-react-app`, please file a bug on their project (ref. https://github.com/facebook/create-react-app)

[2020-11-16 02:11] #2173 closed, assigned to nobody

[2020-11-16 08:08] Flimm commented on #1887
This issue also affects build tools that look at mtime of a file, which many of them do.

For example, let's say I have a build step in my favourite build tool that looks at `node_modules/example/foobar.js`, minifies it, and creates `foobar.min.js`, but only if the source file has a newer mtime than the destination file. I would expect that every time `foobar.js` is updated, the build tool would r

[2020-11-16 08:26] yGuy commented on #2165
@nlf - all valid points. thanks. However they do not apply here. Maybe I wasn't clear:
Anyone can publish a package, now, event empty (apartf from the package.json that references a few hundred other packages using the "*" dependencies.) Years later, with literally no usage at all of the former package (who uses an empty package?), all the packages that were referenced "into the future" by this pa

[2020-11-16 08:57] ljharb commented on #1887
Wouldn't those systems be a lot more robust if they used content-addressing rather than the mtime?

[2020-11-16 09:02] Flimm commented on #1887
Yes, they would be more robust, but they would also be slower, and they would require additional storage. That is why many build systems use `mtime` instead of content-addressing. It usually works, this is the only case that I can think of where it hasn't worked well for me.

[2020-11-16 10:45] Namstel commented on #1201
I'm also encountering this issue on Windows 10 and an external SSD drive with the exFAT filesystem.

[2020-11-16 10:59] Namstel commented on #1232
Duplicate of: https://github.com/npm/cli/issues/1201

[2020-11-16 12:14] davidnorthetal commented on #2022
Also getting hit with this, is downgrading the only solution here?

[2020-11-16 12:30] TimurDela opened #2180 "[BUG] NPM install error"
### Current Behavior:

[code]
gives
[code]
### Expected Behavior:

install package webpack-dev-server
### Steps To Reproduce:

### Environment:

- OS: Ubuntu 20.04
- Node: 16.0.0-nightly20201113f03f7cbd35
- npm: 7.0.8

See full log below

[code]

_N.B._ I first filled an issue [on the developers' page](https://github.com/webpack/webpack-dev-server/issues/2834) but they answered this was an npm iss

[2020-11-16 14:28] nmm-shumway commented on #564
Just to quickly reiterate:

- `npm ci` always deletes the content of `node_modules` by design, which is undesirable for non-production builds because it's slow. However, it uses exact versions of packages found in `package-lock.json`, which is desirable for multiple situations.

- `npm install` just updates the contents of `node_modules`, which is very performant, but by design it ignores the cont

[2020-11-16 15:13] ravicious commented on #681
I had an old project which uses node 5.4.1. After installing it with nvm (`nvm install 5.4.1`), it installed some old version of npm (like 3.x). That version of npm couldn't handle `npm i` and failed with the same error as in the OP.

What I did was `nvm install-latest-npm` which installed the latest npm version that's compatible with node 5.4.1, which in this case is 5.3.0.

[2020-11-16 16:12] ljharb commented on #2180
Can you try with npm v7.0.11?

[2020-11-16 16:19] aks- opened #2181 "[BUG] npm ci fails when trying to install private git dep"
### Current Behavior:
`npm ci` fails with following error log when trying to install a private git dep. I have tried protocols `https` and `git+https` but the result is same
[code]

### Expected Behavior:
should install private git dep from github

### Steps To Reproduce:
I am not sure if it's reproducable but try
1. add private git repo to package.json `https://github.com/user/myrepo.git`
2. npm

[2020-11-16 17:52] nlf commented on #2165
I understand your points quite well, which is why I thanked you for the suggestions.

As of today, the registry does not look at what version any dependents of a given package rely on, nor does it look at the timestamps of when a dependent was published versus the dependency. This is a key limitation in the improvement that you're requesting.

What you're suggesting is a good idea and one that I'v

[2020-11-16 18:14] GeorgeFuller commented on #2180
I had the same issue. I had to remove some existing versions of web-pack from dependencies and delete node_modules to get this working.

[2020-11-16 18:34] TimurDela commented on #2180
When I run `sudo npm -g upgrade npm`, something is downloaded but `npm -v` still says v7.0.8

[2020-11-16 19:02] sjahlstrom commented on #2117
% npm install config
npm ERR! must provide string spec

% node --version
v15.2.0

 % npm --version
7.0.10

[2020-11-16 19:55] ljharb commented on #2180
@TimurDela use `npm install -g npm@7`. only use `sudo` if you're not using nvm.

[2020-11-16 19:58] tlbdk opened #2182 "[BUG] npm v7 not using EXDEV aware move so failes upgrade running in docker"
### Current Behavior:

npm install failes in docker because it's doing EXDEV unaware rename, docker is using overlay filesystems so the new file will be in a new mount point even if it's in the same folder.

[code]

This was fixed before in an older version of npm:

* https://github.com/npm/npm/issues/13306
* https://github.com/npm/npm/pull/15901

### Expected Behavior:

Be able to upgrade/downgra

[2020-11-16 20:01] tlbdk commented on #2182
A workaround for this is to either force docker to fetch the files to same layer:

[code]

Or do nodejs extract and npm upgrade in same step:
https://github.com/connectedcars/docker-node/pull/43/files

[2020-11-16 20:16] ruyadorno commented on #1957
A word to folks that contributed to this fix, we fixed the problem at the origin of this issue so that the migration from lockfile v1 -> v2 will not drop the `bin` files info. That said, if you already ran into the problem and currently have an invalid package-lock v2 file a possible solution is to reinstate a v1 package-lock into place and make the migration again e.g:

[code]

[2020-11-16 21:49] apottere opened #2183 "[BUG] NPM v7 private registry authentication 401"
I searched other issues, but I didn't find anything that was specifically this issue.

### Current Behavior:
With a valid (and working) npm v6 `~/.npmrc` that adds authentication for a private registry, npm v7 receives a 401 from the registry for any package (ex: `npm i -g npm@7`).

### Expected Behavior:
npm v7 should authenticate the same way npm v6 does.

### Steps To Reproduce:
My current (red

[2020-11-16 21:59] apottere commented on #2183
Tipped off by #2025, I tried changing the URL of the authentication lines, and found that if I added `repo/` then authentication succeeded in v7:
[code]

However, with `repo/` added I can no longer authenticate with npm v6...

Simple but annoying workaround seems to be to duplicate the `always-auth`, `username`, and `password` lines with and without `repo/` for compatibility with both npm v6 and v

[2020-11-16 22:36] ljharb commented on #2183
Do you expect your coworkers to be using "not the identical version of node and npm"? O.o usually these things are mandated to be a single fixed version for any given project.

[2020-11-16 22:52] apottere commented on #2183
We have over 100 node repos (maybe over 200) within our GitHub Enterprise organization alone, not counting other organizations.  These projects span various deployment patterns and datacenters/clouds, and as such it's difficult to update all of them at once.  So yes, I can guarantee that my coworkers will _never_ be using identical versions of node and npm for all projects.

Edit: Not sure if I mi

[2020-11-17 01:20] isaacs commented on #2045
This was fixed pretty recently, please try again in the latest release.

[2020-11-17 01:20] #2045 closed, assigned to isaacs

[2020-11-17 01:52] dr-js commented on #2147
Just tested above process with `npm@7.0.11` and this should be fixed
A similar issue: https://github.com/npm/cli/issues/1957
The fix commit: https://github.com/npm/cli/commit/c3e7aa31

[2020-11-17 02:34] ljharb commented on #2183
Gotcha, yes, i meant specific projects - and i assumed that per-project npmrc config would be customizeable per project (ie, per npm version) rather than relying it being on the user’s machine.

[2020-11-17 11:17] SimonAlling commented on #1469
[code]

No error or other output, but no deprecation message showed up on the package page (i.e. https://www.npmjs.com/package/@alling/foo-bar), even after like half an hour, so I tried running the command again:

[code]

However, if I go to a specific version of the package (e.g. https://www.npmjs.com/package/@alling/foo-bar/v/1.1.6), I see the expected deprecation message*. But I want it to show

[2020-11-17 11:20] ljharb commented on #1469
That’s using npm v7.0.8; can you `npm install -g npm@7` before running the deprecate command?

[2020-11-17 11:46] protyposis opened #2186 "[BUG] Local workspace dependencies installed from registry (instead of symlinked)"
This bug has been introduced in 7.0.9:

Given the following workspace structure and the assumption that the packages with v1.0.0 are published to the registry:
[code]
Expected package directory structure after `npm install|ci` in `root` (npm@7.0.8):

[code]

Actual directory structure with npm@7.0.9+:
[code]
This leads to the issue that `package-b` uses the actual `package-a@1.0.0` from the regist

[2020-11-17 12:09] jayjupdhig opened #2187 "NPM: Inconsistent behavior?"
1. ng build failed with message "A"
2. npm audit fix
3. ng build failed with message "B"
4. clean local things, node_modules directory and delete package-lock.json
5. do npm install again on local project folder
6. different error message that described on point "A" ...

why that?

Then:

1. Executing the cleaning batch i posted on https://github.com/angular/angular/issues/39674
2. execute cleanmg

[2020-11-17 12:09] jayjupdhig commented on #2187
https://github.com/angular/angular/issues/39674

[2020-11-17 12:09] jayjupdhig commented on #2187
https://github.com/angular/angular/issues/39674

[2020-11-17 12:35] SimonAlling commented on #1469
The deprecation message finally appeared on the main package page, so I believe it works with npm v7.0.8. :slightly_smiling_face:

[2020-11-17 13:59] apottere commented on #2183
My impression was that user credentials belonged in the user's `~/.npmrc`, and not in the project configuration.  Is that an incorrect assumption?  It seems tedious to have to configure our private registry for each and every project we work on.

[2020-11-17 14:40] BalakrishnaRBhat opened #2188 "[BUG] NPM Error while terminating a running job or script"
### **Current Behavior**:
When closing a running custom npm script script using ^C the following error occurs:
`npm ERR! Cannot destructure property 'code' of 'object null' as it is null.

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\brbrb\AppData\Local\npm-cache\_logs\2020-11-17T14_34_23_940Z-debug.log
Terminate batch job (Y/N)? Y`

### **Expected Behavior**:
The scr

[2020-11-17 18:35] ljharb commented on #2183
Ah, credentials yes; but i assumed the user would run `npm login` themselves - which registry to use i would expect to be configured per project.

[2020-11-17 18:35] ljharb commented on #2188
Can you try with npm v7.0.11?

[2020-11-17 20:22] #2002 closed, assigned to isaacs

[2020-11-17 21:31] apottere commented on #2183
No, we have a single registry mirror and a tool that aids developers in creating a valid `~/.npmrc` that can authenticate to that registry with their credentials.

[2020-11-17 22:22] AhmadSalihu commented on #2173
C:\Users\AHMED\Desktop>npx create-react-app my-app

Creating a new React app in C:\Users\AHMED\Desktop\my-app.

Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts with cra-template...

npm ERR! code ERR_SOCKET_TIMEOUT
npm ERR! errno ERR_SOCKET_TIMEOUT
npm ERR! request to https://registry.npmjs.org/workbox-window failed, reason: Socket timeout

[2020-11-17 23:47] EatonZ commented on #1962
Thanks a lot for fixing this. When do you expect the next update to release with this fix?

[2020-11-18 04:44] joshuaavalon opened #2190 "[BUG] Automation token response 403 forbidden"
### Current Behavior:

Automation token is failing authentication.

### Expected Behavior:

Automation token should work like Publish token.

### Steps To Reproduce:

1. Generate a "Automation" token
2. Run `npm whoami`

[code]

P.S. My account enabled 2FA for authorization only.

### Environment:

- OS: Windows 10
- Node: 14.15.0
- npm: 6.14.8

[2020-11-18 06:18] Idrinth commented on #948
still an issue with 7.0.8

[2020-11-18 06:28] TimurDela commented on #2180
I had to revert to node v15.2.1 and npm v6.14.8
Now it works

[2020-11-18 06:28] #2180 closed, assigned to nobody

[2020-11-18 06:46] ljharb commented on #2180
@TimurDela were you unable to get it working on npm v7.0.11 or v7.0.12?

[2020-11-18 06:46] ljharb commented on #948
@Idrinth what about v7.0.12?

[2020-11-18 09:32] BalakrishnaRBhat commented on #2188
I reverted back to the stable 6.14.8

[2020-11-18 09:32] #2188 closed, assigned to nobody

[2020-11-18 09:52] josselinchevalay commented on #2183
hello all,

I'm joining this ticket because currently we are using a jenkins (2.254) and a jfrog artifactory (6.12.1 rev 61201900) and we noticed a strange behavior between npm v6.14.6 (used in 12.18.3) and npm v7.0.3 (used in 15.0.1).

In npm 6.14.6 it works perfectly with 7.0.3 we can't manage to publish our node js package on our artifactory.

So on a jenkins job and on the same slave node our

[2020-11-18 09:59] wheresrhys commented on #1247
Is `peerDependenciesMeta` deprecated in favour of `optionalDependencies`?

[2020-11-18 10:06] BalakrishnaRBhat commented on #2188
The error does not occur in 7.0.12

[2020-11-18 10:24] ljharb commented on #1247
@wheresrhys they're entirely different, albeit similar. `optionalDependencies` means, if the dep fails to install, don't fail the overarching install. `peerDependenciesMeta` allows you to provide extra information about peer deps, and marking one "optional" means "it's not an error if it's missing".

[2020-11-18 13:04] PrashantPrajapati13 opened #2191 "IOS Problem"
Cordova-plugin-device plugin is not working in IOS  latest version. What's the problem? and How can we resolve it?

[2020-11-18 13:15] mast4461 commented on #2104
I just had a similar problem where many files were deleted, and lost a couple of hours worth of work in my working copy.

I ran `npm link` in a project subdirectory called _dist_. Files were deleted in other subdirectories of the same parent directory, and the command crashed when it was denied to delete the parent directory.

The behaviour seemed to be consistent as I tried a couple of times.

I

[2020-11-18 13:18] deostroll opened #2192 "[BUG] require() cannot find nested dependency if the dependency is installed from file system"
### Current Behavior:
Assume there is a nodejs library in github: `https://github.com/johndoe/catty.git`.

`catty` has some other more popular dependency which is usually installed via npm, say, `oracledb`.

My project installs this dependency via the following command:
[code]

In my project folder, I enter REPL and type `require('oracledb')`, it properly loads.

All is well.

Now I have to make s

[2020-11-18 13:27] CliffS opened #2193 "[BUG] Glob matching is broken in 7.0.12"
### Current Behavior:

I have a script that creates a checksum for my coffee files:
[code]
Since 7.0.12 this gives:
`cat: '*coffee': No such file or directory`

### Expected Behavior:

In version 7.0.11 it correctly returns:
`4069467209`

### Steps To Reproduce:

In Linux attempt to use a shell glob in a script.  It fails.

### Environment:

OS: Ubuntu 20.04.10 LTS
Node: v15.2.1
npm: 7.0.12

[2020-11-18 13:48] TimurDela commented on #2180
I could not revert npm to v7 without downgrading node as well

[2020-11-18 14:13] voltuer opened #2194 "[BUG] No "postinstall" on global packages anymore"
### Current Behavior:

I'm making a global cli tool that asks you for your language preference upon install but since NPM 7 it doesn't run the postinstall script anymore

### Expected Behavior:

In NPM 6 it works just fine

### Steps To Reproduce:

npm i -g dnd

### Environment:

macOS Big Sur, npm 7

[2020-11-18 14:56] wheresrhys commented on #1247
Thanks. I had to read that through a few times to grasp it, but I think I've got it now.

This distinction really needs documenting properly. I've just had a PR submitted https://github.com/wheresrhys/fetch-mock-jest/pull/22 where the submitter almost certainly wants `peerDependenciesMeta` but has used `optionalDependencies`.

I'd be happy to help, but maybe best as a non-expert reviewer as I don'

[2020-11-18 16:10] nlf commented on #2104
do you happen to have a `prepare` script in your package.json? or better yet, are you able to reproduce this with an open source repository? i haven't been able to make this happen yet so a reproduction case would be amazing if you've got it working consistently

[2020-11-18 16:53] scotch83 commented on #692
it works on my side if I add the .npmrc file in the project root, with `engine-strict=true` in it.
`npm -v`
`6.14.6`

[2020-11-18 17:02] mast4461 commented on #2104
@nlf I did not have a `prepare` script in package.json.

For debugging, I cloned _this_ repo and ran `npm link` in the root with the following result:

![image](https://user-images.githubusercontent.com/3101405/99560363-13f4b600-29c6-11eb-9590-b18cf4fb3bed.png)

No source files of the repo were deleted though.

I'm specifying the full path to `npm` in the old installation of node, with which I exp

[2020-11-18 17:48] ljharb commented on #2192
Dependency hoisting shouldn’t be something your code relies on - if you require oracledb, it should be a dependency.

[2020-11-18 17:58] ljharb commented on #2180
`npm install -g npm@7` should do it, perhaps with sudo if that fails?

[2020-11-18 18:11] ljharb commented on #2194
Are you sure it’s not running it, as opposed to not displaying any output?

[2020-11-18 18:42] closingin commented on #2147
~~I can confirm that `npm@7.0.11` fixed this issue!~~

[2020-11-18 18:50] closingin commented on #2147
Apologies: I wrote too fast, issue not fixed. I did my test with @dr-js 's snippet, but the problem still exists on my personal project, using `npm@7.0.12`.

[2020-11-18 20:25] aks- opened #2195 "[BUG] npm@7.0.12 and yarn@1.22.4 generates different tree with same package.json"
### Current Behavior:
with same package.json running `yarn install` followed by typecheck does not lead to any typescript failures where as `npm install` followed by typecheck fails to typescript errors especially with react-redux package. We suspect it could be because of different deps being loaded

### Expected Behavior:
both yarn and npm should behave similarly and switching between two should

[2020-11-18 20:27] isaacs commented on #2195
Specifically, it may be the case that npm is correctly following stated dependencies, and yarn is not.  But it'd still be good to work out what the difference is, and have a good explanation for it, even if there's no bug here.

`npm ls -a` of both trees shared with me in Slack, will share with the cli team, but not publicly, as agreed.

[2020-11-18 20:28] isaacs commented on #2195
From @aks- in slack:

[code]

[2020-11-18 21:49] cotocortes commented on #2170
Hey, I have the same problem. Were you able to fix it?

[2020-11-18 21:49] cotocortes commented on #2170
I tried to install npm in Windows

[2020-11-18 23:39] csvan opened #2197 "[BUG] metavuln/audit takes extremely long"
### Current Behavior:
the `audit` step of an install can at times take extremely long, even on a relatively strong system (Macbook Pro) with a stable and fast network connection.

The following is a sample of the `--verbose` output:

[code]
### Expected Behavior:

Audit should take a reasonable time

### Steps To Reproduce:
Run `npm install --legacy--peer-deps` on the following project:

[code]
##

[2020-11-19 00:11] silvenon commented on #2117
In my case it happened when I had a git conflict in `package-lock.json` and tried to run `npm install`.

[code]

[2020-11-19 04:17] simsam0502 opened #2198 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

OS: Windows 10
Node: 14.15.1
npm: 6.14.8

On running npm i/npm install
I am getting the following error-
npm WARN tar EPERM: operation not permitted, open 'C:\Users\admin\Desktop\git\express-locallibrary-tutorial\node_modules\.staging\cliui-ab78b072\LICENSE.txt'
npm WARN tar EPERM: operation not permitted, op

[2020-11-19 05:52] btmills opened #2199 "[BUG] Locally-installed package should satisfy peer dependency"
### Current Behavior:

`npm install` in the eslint/eslint repository fails when it tries to resolve a transitive peer dependency on `eslint@>=5.0.0` and finds `eslint@undefined`.

We want to dogfood `eslint` in development, so we specify it in our `devDependencies` as `"eslint": "file:."`. We also depend on a third-party plugin, `eslint-plugin-eslint-plugin`, which lists `eslint@>=5.0.0` in its `p

[2020-11-19 06:44] TimurDela commented on #2180
it did download something but `npm -v` showed that nothing had been installed.

[2020-11-19 13:30] BenBera opened #2201 "[BUG] <title>"
### Current Behavior:

When Running npm install  this is the error:
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:

### Expected Behavior:

To download all the dependencies correctly

### Steps To Reproduce:

### Environment:

[2020-11-19 16:13] WraithKenny commented on #611
"This doesn't happen if you use nvm"

Yeah, well, it doesn't happen if you use `yarn` either, but I'm not sure that's relevant.

[2020-11-19 16:40] ihernandez13 commented on #2170
Having the same issue when trying to install. Any resolution yet?

[2020-11-19 17:10] WraithKenny commented on #2002
So I had
 `which npm` > `/usr/local/bin/npm`,
`npm -v` > `7.0.10`
`npm -g ls --depth=0` shows `usr/local/lib`
and `npm config list` showed
[code]

Then I run `npm install -g npm@7.0.12`
Now...
 `which npm` > `/usr/local/bin/npm`,
`npm -v` > `7.0.12`
`npm -g ls --depth=0` shows `/usr/local/Cellar/node/15.2.1/lib`
and `npm config list` shows
[code]
...which fails to load the previous (default) `pref

[2020-11-19 20:28] o2genum opened #2203 "[BUG] Local packages in "optionalDependencies" are copied to "dependencies". Optional local package is symlinked/removed."
- I have some local packages
- They are Windows-only (marked as `"os": [ "win32" ]` in their `package.json` files)
- The main package's `package.json` refers these packages as `"optionalDependencies"`

### Current Behavior:
- I'm using MacOS
- On `npm install` in main package, all `"optionalDependencies"` are added to `"dependencies"`
- The the packages are symlinked into main package's `node_modu

[2020-11-20 01:48] mariaines commented on #1890
Hi, any update on this?

[2020-11-20 03:05] ghost commented on #1890
Has anyone perhaps tried this with npm 7 to see if it's fixed there?

[2020-11-20 03:56] aprilmintacpineda commented on #611
I think that's irrelevant. NVM is node version manager, I experienced this when I used brew to install node, then I switched to nvm, since then I haven't experienced this yet. Check it out here if you don't know what it is https://github.com/nvm-sh/nvm#installing-and-updating

[2020-11-20 05:12] mariaines commented on #1890
@redtogin good question -- it appears so!  I just updated and it worked, can you confirm?

Thanks!

[2020-11-20 05:12] outloudvi opened #2206 "[BUG] npm init seems broken"
### Current Behavior:
[code]

### Expected Behavior:
`npm init` should generate the app with the boilerplate.

### Steps To Reproduce:
1. Install npm 7.0.12
2. Run `npm init react-app my-app`

### Environment:
* Distro: Arch Linux
* Node: v15.2.1
* npm: v7.0.12

Error log:
[code]

[2020-11-20 05:43] ghost commented on #1890
That's good news, thanks @mariaines !
I am not sure when I will be able to check this, it's not high on our list now.

[2020-11-20 06:00] peterjuras opened #2207 "[BUG] Workspaces - bundledDependencies not installed"
### Current Behavior:

When running `npm install` to install dependencies in the root of a npm workspace dependencies that are specified in the `bundledDependencies` property of a child workspace are not installed on the disk.

### Expected Behavior:

The dependency should be installed in a local `node_modules` folder (be it in the root or at the child package level). As far as I understand `bundl

[2020-11-20 06:30] mihailthebuilder commented on #2119
@nlf 's solution doesn't work for me but @mvyunko 's does. The latter downgrades npm from version 7 to 6 however.

[2020-11-20 06:59] kmr29499 commented on #2082
Same here when starting the react-native example from its homepage (https://reactnative.dev/docs/environment-setup)

[code]

Environment:
- OS: Windows 10
- Node: 15.2.1
- NPM: 7.0.12

[code]

[2020-11-20 10:15] jorrit opened #2208 "[BUG] npm makes a suboptimal choice when deduping"
### Current Behavior:

When the dependency tree contains many versions for one subdependency, npm puts the highest version at the top level (i.e., at node_modules/pkgname), even when another version has more referrals. This other version is then installed many times.

### Expected Behavior:

NPM checks for each package (that is not a direct dependency of the project) which version appears most oft

[2020-11-20 13:24] p3javier commented on #2206
Hello @outloudvi

This only happens when you want to initialize with react-app or with other npm packages too?

[2020-11-20 13:30] outloudvi commented on #2206
@p3javier I've tried `react-app`, `wasm-app`, `elm-app` and they all give this.

[2020-11-20 13:40] jayjupdhig commented on #2187
No answer??

[2020-11-20 13:55] p3javier commented on #2206
@outloudvi  I think that the issue is related with this commit https://github.com/npm/cli/commit/39ad1ad9e1e1a9530db5b90a588b5081b71abc8d#diff-d5109920b34c2b2e141bd41232d8876432a17479c388e142d8a036bb7b36ea62

Could you make a fresh install of the version `npm@7.0.4` instead of `npm@7.0.12` ?

[2020-11-20 13:57] outloudvi commented on #2206
@p3javier Hi, I can confirm that `npm@7.0.4` works for `react-app` and `wasm-app`.

[2020-11-20 14:17] p3javier commented on #2206
So it seems that we catch the error! I will open a PR to review the changes made to anything that involves flatOptions between versions.

[2020-11-20 16:49] ljharb commented on #2206
There’s no need to open a PR to compare commits between tags.

Since you’re saying v7.0.4 is fine, and v7.0.12 is not, perhaps you could do a binary search and determine in exactly which version it broke?

[2020-11-20 17:46] Derygo opened #2211 "[BUG] <title>npm can't find discord .js"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:
<!--
ex.
- OS: Ubuntu 20.04
- Node: 13.14.0
- npm: [6.4.12]
(url)
![Screenshot 2020-11-20 193513](https://user-images.githubusercontent.com/74788497/99832338-0deb0a80-2b69-11eb-9ae0-c1ad8d726502.png)

[2020-11-20 19:32] ljharb commented on #2211
This seems unrelated to npm; can you please fill out the issue template, and this can be reopened?

[2020-11-20 19:32] #2211 closed, assigned to nobody

[2020-11-20 19:52] Derygo opened #2214 "[BUG] Errors with command: npm install discord.js"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

![Screenshot 2020-11-20 214043](https://user-images.githubusercontent.com/74788497/99843675-9c1bbc80-2b7a-11eb-8999-af293c7aa208.png)

[2020-11-20 20:16] #2206 closed, assigned to nobody

[2020-11-20 21:06] ruyadorno commented on #2206
Thanks @ljharb for the help here and @p3javier for tracking down this bug. It should be fixed in `7.0.13` 😊

[2020-11-20 22:11] ruyadorno commented on #2147
Hi @closingin do you happen to have a `package-lock.json` file that was migrated to v2 **before** updating to `npm@7.0.12` ?

As I mentioned over in #1957 if that's the case you might already have a broken file and you would need to force the migration again in order to fix the missing bins issue. If that's the case you can try this trick:

[code]

[2020-11-20 22:12] AntekWartecki opened #2216 "[BUG] little-state-machine / npm install / incorrect path"

[2020-11-20 22:45] ljharb commented on #2216
What does "doesn't work" mean? Please provide detailed log output.

Also, please try with npm v7.0.13.

[2020-11-20 22:56] nlf commented on #2193
i'm unable to reproduce this, i get the same error in every version i tested (7.0.8, 7.0.11, 7.0.12, 7.0.13, and even 6.14.9 and 6.14.8)

[code]

however, I noticed something, if i run

[code]

I get the exact same output I get when trying the npm script, this is because `cat` is closing stdin and `cksum` is calculating the checksum of nothing. Is it possible something on your end was hiding stder

[2020-11-20 22:57] AntekWartecki commented on #2216
I received error, that `unable to resolve dependency tree`.

[2020-11-21 04:55] ArnavK-09 opened #2217 "[BUG] <title>"
### Current Behavior:

C:\Users\DELL>npm i -g expo-cli
npm WARN deprecated @hapi/joi@17.1.1: Switch to 'npm install joi'
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\DELL\AppData\Roaming\npm-cache\_logs\2020-11-21T04_49_47_991Z-deb

[2020-11-21 09:28] hosseinGanjyar commented on #2119
I had same problem and have done these steps:

1. **uninstall  & install nodejs**
2. **npm install npm**
3. **npm install webpack-dev-server --save-dev**

[2020-11-21 10:36] 3cp commented on #1935
Question: when npx7 prompts and then user installs the missing package,

1. where is the package stored? Apparently it's not installed as global npm package.
2. how to force `npx makes` to check and download latest version of "makes"? We got trouble that `npx makes` is trapped with local installed old version of "makes".

[2020-11-21 11:20] cyberalien opened #2218 "Cannot update dependencies in monorepo with npm 7"
### Current Behavior:
When running `npm update` in monorepo root directory, NPM 7 tries to update all workspaces, not just current directory. That crashes due to issue in one of packages in sub-directory.

### Expected Behavior:
Expected NPM to update dependencies only in package.json in current directory, not traverse the entire monorepo.

If this is expected behaviour in version 7, I think there

[2020-11-21 12:02] slippycheeze opened #2219 "[BUG] `npm outdated --global` fails if the global library directory is missing"
### Current Behavior:
If the `--global` directory does not exist:
1. `npm outdated --global` fails hard, `ENOENT` acting on the directory.
2. `npm install --global` works fine, creating the directory.

### Expected Behavior:
`npm outdated --global` works successfully even when the `--global` directory doesn't exist; it should report there are no outdated packages, just as if there was an empty dir

[2020-11-21 12:32] CliffS commented on #2193
Well you would, unless you have coffee files in the current path.  You are correct that 4294967295 is the checksum of null.

However, I think I may have been unclear in the original bug report.  There **are** coffee files in the path.  The issue is that `*.coffee` is not expanding them, it is being treated as a literal.

If this makes it any clearer, at a shell prompt, if you type `ls -l *` you sh

[2020-11-21 14:31] AntekWartecki commented on #2216
-

[2020-11-21 14:31] #2216 closed, assigned to nobody

[2020-11-21 14:31] AntekWartecki commented on #2216
-

[2020-11-21 16:24] ljharb commented on #1935
For the second question, `npx -p makes` or `npx makes@latest` should do it.

[2020-11-21 16:26] ljharb commented on #2219
What happens with npm v7.0.15?

[2020-11-21 21:06] edgardmessias commented on #2135
Try edit the environment variable `PATH`.

A fast test:
[code]

[2020-11-21 21:33] lukel97 commented on #2197
I'm seeing this as well, especially with a lot of the `@graphql-codegen` packages

[2020-11-22 13:24] csvan commented on #2198
The error is clear - the user you are running NPM as does not have the correct permissions for that folder.

[2020-11-22 14:14] palavrov opened #2220 "[BUG] postpack script runs BEFORE the tarball has been generated and moved to its final destination."
### Current Behavior:
postpack script runs **BEFORE** the tarball has been generated and moved to its final destination.

### Expected Behavior:
As is in the documentation:

```Runs AFTER the tarball has been generated and moved to its final destination.```

### Steps To Reproduce:
copy this package.json to an empty directory
[code]
run:
```npm pack```
and then
```ls -al```

### Environment:
*nix

[2020-11-22 23:50] MichaelWheldon opened #2221 "[BUG] nofix"

[2020-11-22 23:56] mariaines commented on #1890
I'm guessing this got fixed as part of support for [npm workspaces](https://github.com/npm/rfcs/blob/latest/implemented/0026-workspaces.md). Yay!

I wonder if I need to explicitly use workspaces for any reason (besides being able to run npm commands from the top-level package) ? It seems to Just Work now for me without me having defined any workspaces.

[2020-11-23 01:17] ljharb commented on #2221
It’s not a link - you scan it with an Authenticator app like Google Authenticator, or 1Password.

[2020-11-23 02:12] MichaelWheldon commented on #2221
@ljharb yeah I scanned the code but it doesn’t generate anything for me, per step 3 above. I’ll try one of the above apps 👀

edit: yep that works, im dumb hahaha. ok to close this one out.

[2020-11-23 02:16] #2221 closed, assigned to nobody

[2020-11-23 02:46] GaelicGrime commented on #2137
updated info

again unsure it is related, I switched from the Arch community package, to the aur/atom-editor-bin package to fix some other issues with the atom editor, now everything works as intended in atom, as well as from the command line, my npm command line has not given me any grief ever, only the apm generated npm error referenced previously

apm no longer generates the npm error on enteri

[2020-11-23 08:12] brent-hoover commented on #2116
Still see this error with npm v. 7.0.8 using lerna

[2020-11-23 08:46] ljharb commented on #2116
@zenweasel upgrade to v7.0.13 and try?

[2020-11-23 09:02] jayjupdhig commented on #2187
???

[2020-11-23 09:58] atigm commented on #4253
Hi,

Any update ?

I have the same issue

[2020-11-23 14:07] sindresorhus commented on #1964
@ruyadorno Any chance you would be able to look into this? Anyone using my [`np`](https://github.com/sindresorhus/np) tool to publish packages are unable to use npm v7 because `np` runs `npm install` when publishing and since that modifies package.json, the Git dirty check fails and so the whole publish fails.

[2020-11-23 15:23] nlf commented on #2193
you were absolutely right! my mistake! the pull request referenced above will resolve the issue and be part of our next release

[2020-11-23 15:25] approvedpr opened #2222 "[BUG]Fails installing dependencies, reason: getaddrinfo ENOTFOUND packages.bethel.jw.org"

[2020-11-23 16:14] nlf commented on #2222
that indicates that your registry has been set to `https://packages.bethel.jw.org` which, indeed, does not resolve. try running `npm config set registry https://registry.npmjs.org` which will set your registry back to the default and should work correctly.

if you need your third party registry for something, it's possible you have a typo in the hostname or there's an outage that you'll have to wa

[2020-11-23 16:14] #2222 closed, assigned to nlf

[2020-11-23 16:16] CliffS commented on #2193
Wonderful.  Thank you so much for dealing with this so promptly.

[2020-11-23 17:20] isaacs commented on #2217
We will definitely need that debug log that was generated, and anything else you can share about your environment, package.json file, lockfile, etc.

For others with the "same" problem: https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22

[2020-11-23 19:13] jsg2021 commented on #1942
Still occurring on 7.0.13

[2020-11-23 19:55] nlf commented on #2220
what version of node? what version of npm? some key pieces of our issue template are missing here, but I'm unable to reproduce this in npm@7.0.13

[2020-11-23 20:02] palavrov commented on #2220
[code]

If you check the source will see that, libnpmpack is called here:
https://github.com/npm/cli/blob/65bdbb2a05e29341529fdd6d59385b3864d29522/lib/pack.js#L41
which calls post pack life cycle script here:
https://github.com/npm/libnpmpack/blob/c4f8b823e9f206113bef3e59419f7aa93c619acb/index.js#L33
and then the file will be written here:
https://github.com/npm/cli/blob/65bdbb2a05e29341529fdd6d59

[2020-11-23 20:05] nlf commented on #2220
indeed! good find, thanks for reporting it!

[2020-11-23 20:12] palavrov commented on #2220
IMHO one easy fix will be to conditionally of dryrun pass the output path to the libnpmpack method as parameter so it could write the file if the path is not null/undefined between the pre and post pack life cycle scripts execution.

[2020-11-23 20:25] palavrov commented on #2220
BTW `publish` command suffer from the same problem as it doesn't rely on the `pack` command but call libnpmpack directly and if I'm not wrong it doesn't write the .tgz file on the disk at all.

Which is another problem as it breaks my postpack hooks to cleanup package.json content on `pack` and `publish` - the only way was to pipe the .tgz archive on postpack.

[2020-11-23 20:40] ljharb commented on #1942
cc @ruyadorno for workspaces triage

[2020-11-23 20:50] nlf commented on #2193
published 7.0.14 that fixes this. thanks again for the report!

[2020-11-23 20:50] #2193 closed, assigned to nlf

[2020-11-23 21:02] kumarrishav opened #2224 "[Question][bug] is the package-lock of nested dependencies considered for npm installation in parent package/app?"
### Current Behavior:

https://github.com/dainis/node-gcstats module is a dependency of another module A. When I do npm install in module A, it uses the pinned version mentioned in `node-gcstats` lock file https://github.com/dainis/node-gcstats/blob/master/package-lock.json#L724  (which has the vulnerabilities). How to update it to the latest version
### Expected Behavior:

### Steps To Reproduce:

[2020-11-23 21:10] lizzielizzielizzie commented on #1451
tl;dr: If you are seeing this when running `npm ci`, you may need to upgrade npm to at least version `6.11.0`

-------------

I've been digging into this issue (or rather, [this](https://github.com/getsentry/sentry-cli/issues/856) issue) for some time now. In my case, a package was downloading an additional binary to the directory specified by `process.env.npm_config_cache`, and if unset, falling

[2020-11-23 21:14] nlf commented on #2171
this was resolved in 7.0.12

[2020-11-23 21:14] #2171 closed, assigned to nlf

[2020-11-23 22:51] davusmolina commented on #2201
A mi también me esta pasando, alguien por favor ayuda.

[2020-11-23 22:52] davusmolina commented on #2201
A mi también me esta pasando, por favor alguien ayúdenos.

[2020-11-23 22:53] MarshallOfSound opened #2226 "[BUG] New --yes behavior in npx is a breaking change that can't easily be handled"
### Current Behavior: (npx@7)
`npx thing` prompts the user that "thing" will be installed and forces them to type "yes"

You can bypass this by providing `npx --yes thing`.

### Expected Behavior:
`npx thing` installs and runs "thing" or a backwards compatible option is provided to bypass the prompt.

The fundamental issue here is that npx --yes thing` **is not compatible** with npx@6, this means

[2020-11-23 22:59] nlf commented on #2226
hi! the confirmation prompt was added as a safety measure to help prevent users from accidentally running code that they did not intend to run. while we won't be removing the prompt while using `npx` there are some workarounds that may do the trick for you:

`npm_config_yes=true npx thing` passes the `--yes` via environment variable and works correctly in both npm 6 and 7.

additionally, if your `

[2020-11-23 23:16] davusmolina opened #2227 "[BUG] <title>"
# What / Why

 cb() never called!

## When

* n/a

## How
davidmolina@HP-capri:~/personalProjects$ sudo npm i -g npm@latest
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     /root/.npm/_logs/2020-11-23T22_58_39_296Z-debug.log

I try run npm run

[2020-11-24 00:10] AhmadSalihu commented on #2173
C:\Users\AHMED\Desktop\robohash\trove-app>npx create-react-app trove

You are running `create-react-app` 4.0.0, which is behind the latest release (4.0.1).

We no longer support global installation of Create React App.

Please remove any global installs with one of the following commands:
- npm uninstall -g create-react-app
- yarn global remove create-react-app

The latest instructions for creatin

[2020-11-24 01:32] rojrun opened #2228 "npm install --save next, problem with installing Next.js"
[code]

[2020-11-24 01:41] Vixb1122 opened #2229 "[BUG] npm can't work with symbolic link on Windows after node version 15.0.0"
### Steps To Reproduce:
run following code in powershell
[code]

### Current Behavior:
[code]

### Expected Behavior:
[code]

### Environment:

- OS: Windows 10 64-bit
- Node: 15.2.0
- npm: 7.0.8

[2020-11-24 02:48] ljharb commented on #2224
package-lock is dev-only, so it should only have an effect when it’s in the top-level directory (the one that `npm install` is reading from).

[2020-11-24 02:48] ljharb commented on #2224
What happens with npm v7.0.14?

[2020-11-24 02:55] ljharb commented on #2229
Can you try with npm v7.0.14?

[2020-11-24 03:11] Vixb1122 commented on #2229
Same error.

[2020-11-24 05:28] kumarrishav commented on #2224
@ljharb same behaviour in npm v7.0.14 as well.

Also, I have updated the description with the steps to reproduce.

[2020-11-24 05:29] MarshallOfSound commented on #2226
`npm_config_yes=true` appears to do the job for us, would be good to document that somewhere as I'm sure other folks will be having similar issues as folks update to `npm@7`.  Or making it slightly more obvious what that config option does, I assume looking at npm's option parser that `npm_config_yes` will make any check for `.yes` be truthy regardless of intention.  Perhaps a slightly safer `npm_

[2020-11-24 07:36] ariesclark opened #2230 "[BUG] npm init exposes git secrets"
### Current Behavior:

`npm init` exposes git secrets by default when a repo is cloned with the username and token within the url.

### Expected Behavior:

`npm init` removes username:token from the remote url when including it in the package.json

### Steps To Reproduce:

[code]

[code]

### Environment:

- OS: Debian 10
- Node: v15.2.1
- npm: 6.14.9

[2020-11-24 07:37] ariesclark commented on #2230
it's actually 6.x, sorry!

[2020-11-24 10:51] AhmadSalihu commented on #2173
This is the directory the are referring me to always, can you please help me look? may be is the setting from my dependencies folder or somethin else. Thanks you @dominguetigs
0 verbose cli [
0 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
0 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
0 verbose cli   '--force',
0 verbose cli   'i',
0 verbose cli   'react-t

[2020-11-24 11:02] AlCalzone opened #2231 "[BUG] Can't change the version of a workspace package and use the new version as a dependency (ETARGET)"
### Current Behavior:
If I update the version of a workspace package and update the dependencies of another to depend on the new version, `npm install` fails with `ETARGET`.

### Expected Behavior:
If I update the version of a workspace package and update the dependencies of another to depend on the new version, `npm install` should not fail and update the `package-lock` accordingly.

### Steps To

[2020-11-24 12:01] mazanand1976 opened #2232 "[BUG] docz install failure on v6.14.9"
[2020-11-24T11_40_56_733Z-debug.log](https://github.com/npm/cli/files/5589627/2020-11-24T11_40_56_733Z-debug.log)

### Current Behavior:

sh-5.0$ npm install docz
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated @hapi/joi@15.1.1: Switch to 'npm install joi'
npm WARN deprecated @hapi/address@2.1.4: Moved to 'npm

[2020-11-24 14:33] jansiegel opened #2233 "[BUG] `package-lock` not generating properly when using "." as a workspace."
### Current Behavior:
I'm not sure if it's a bug or lack of feature:

Is it safe to declare `root` as a package location with npm workspaces? For example:
[code]

I can't find anything about doing so in the RFCs or the documentation (if I missed something, point me in the right direction), so I figured it should work fine - and it does for the most part, the dependencies seem to install alright, t

[2020-11-24 15:02] ckerem0 opened #2234 "[BUG] <Download error>"
When I download the discord.js (want make bot) there is no "package-lock.json" file. Pls help me.

[2020-11-24 15:14] nlf commented on #2226
i agree a safer alias wouldn't be a bad idea. for what it's worth, as of now the only other command that cares about the `--yes` flag is `npm init`

as for docs, we do describe how environment variables are mapped to configuration here: https://docs.npmjs.com/cli/v7/using-npm/config#environment-variables

[2020-11-24 16:34] tfedyanin opened #2236 "[BUG] Mac Os Big Sur is crashed on publish"
### Current Behavior:
NPM is crashed my Big Sur on publishing, in docker work as expected.

### Expected Behavior:
No crashes

### Steps To Reproduce:
https://youtu.be/S1-xhEUY-wA
ex. steps to reproduce the behavior:
1. Use file in attachment
2. Do publish into a repository with command `npm publish css-loader-3.2.0.tgz --registry $REPO_URL`
3. MacOS crashed
[tgz_inside.zip](https://github.com/npm

[2020-11-24 17:57] ljharb commented on #2230
What happens with npm v7.14.0?

[2020-11-24 17:58] ruyadorno commented on #2233
Thanks @jansiegel that's a very good catch! `"."` is never supposed to be used within the `workspaces` config, I'll patch that up 😊

[2020-11-24 17:58] ljharb commented on #2232
What happens on the latest npm v6, and also on v7.14?

[2020-11-24 17:59] ljharb commented on #2234
This seems unrelated to npm; you may want to file an issue on discord.

[2020-11-24 17:59] #2234 closed, assigned to nobody

[2020-11-24 18:00] ljharb commented on #2236
What happens on npm v7.14?

[2020-11-24 18:01] ljharb commented on #2233
@ruyadorno why not? I’d expect, like lerna, to be able to treat the root as a workspace too.

[2020-11-24 18:04] ruyadorno commented on #2233
really? that's interesting, what's the usage/benefit of that?

[2020-11-24 18:05] ljharb commented on #2233
I do that in https://github.com/ljharb/list-exports, for example, so that when i exec a command (like the linter or tests) in every workspace, it can lint the root too.

[2020-11-24 18:12] ruyadorno commented on #2233
right 🤔 other than just executing scripts I guess there could also be usage for folks to symlink their root folder within their `node_modules` and be able to require it using package name, alright alright I'm convinced, `"."` needs to be supported then!

thanks for the quick feedback @ljharb 🙌

[2020-11-25 07:58] Gurinderp commented on #2029
Could I take on this issue if no one is currently working on it? @isaacs
Not sure if @dominguetigs still wants it.

[2020-11-25 08:10] jansiegel commented on #2233
@ruyadorno That's awesome!
In my case, I'm using root as a "main" library + separate workspaces in a subdirectory for the framework-specific wrappers for that library. That's basically the use case you described - I'm symlinking the root directory in `node_modules`, so the wrappers can use it.

[2020-11-25 08:52] buckleyGI commented on #417
After doing more than **500 runs** on our buildserver (Azure DevOps) we come to the the following conclusions.

- If the registry is Azure DevOps it fails in 12% of the cases with "error cb() never called!"
(There is a module called Azure artifacts which caches the npm registry)

- if the registry is npm (https://registry.npmjs.org) it succeeds **100% of the time.**

One could draw the conclusion

[2020-11-25 09:14] dominguetigs commented on #2029
You can do it @Gurinderp

[2020-11-25 12:16] biltongza commented on #568
see https://github.com/microsoft/TypeScript/issues/29407

[2020-11-25 12:16] mazanand1976 commented on #2232
sh-5.0$ npm --version
6.14.9
sh-5.0$ sudo npm install npm -g
[sudo] password for u0_a7:
/usr/local/bin/npm -> /usr/local/lib/node_modules/npm/bin/npm-cli.js
/usr/local/bin/npx -> /usr/local/lib/node_modules/npm/bin/npx-cli.js
+ npm@6.14.9
updated 1 package in 20.886s
sh-5.0$ npm --version
6.14.9
sh-5.0$

On Tue, Nov 24, 2020 at 11:29 PM Jordan Harband <notifications@github.com>
wrote:

[2020-11-25 16:07] SimonMaghiar commented on #722
Jeez can't believe that no one found the solution to this problem.

[2020-11-25 17:01] ruyadorno commented on #2233
I had a chat with the @npm/cli team yesterday and the conclusion is that this is not something we want to just quickly patch but rather it's a signal that [**arborist**](https://github.com/npm/arborist/) is not properly handling symlinks in some cases and that warrants a more elaborate inspection/refactor of that part of the code.

@jansiegel the good news is that this use case is supported! the n

[2020-11-25 17:47] apottere commented on #791
We're also seeing this issue - specifically the `_resolved` field for git dependencies (`org/repo#hash`) is set when running `npm i`, but not when running `npm ci`.

[2020-11-25 18:04] krushndayshmookh commented on #1469
Logging in or logging in after log out solves the issue. Seems like an authentication problem.

[2020-11-25 18:13] pubmikeb opened #2239 "[BUG] `npm i %moduel_name%` doesn't work (sill idealTree buildDeps)"
### Current Behavior:
I try to execute `npm i uuid` and get:

[code]

### Expected Behavior:

### Steps To Reproduce:
The `uuid` (any any other module) should be installed.

ex. steps to reproduce the behavior:
1. Install [`v16.0.0-nightly202011254f0f2e7138`](https://nodejs.org/download/nightly/v16.0.0-nightly202011254f0f2e7138/)
2. Open a `cmd` under admin and go to the project root, where `packa

[2020-11-25 18:51] tobidalhof commented on #1206
https://docs.npmjs.com/try-the-latest-stable-version-of-npm#a-brief-note-on-the-built-in-windows-configuration

[code]

worked for me

[2020-11-25 20:21] MoSattler commented on #1975
@ruyadorno Same problem for me as for @Nicholaiii

I use node in docker.
[code]

Output when building is
[code]

<details>
  <summary>Complete log</summary>

[code]
</details>
In node 14, it works without a problem.

[2020-11-25 20:37] MoSattler commented on #1975
So interestingly enough it works in `bash`, but not in `sh`.

[2020-11-25 20:40] MoSattler commented on #1975
One thing I noticed is that npx now asks you if you want to install a package before it executes it before. I dont think that was the case before.
Maybe, in my case, this interactivity doesnt play along nicely with docker

[2020-11-25 22:44] ruyadorno commented on #1975
thanks for the report @MoSattler!

[2020-11-26 00:18] ljharb commented on #2232
@mazanand1976 ah ok, what about with `sudo npm install -g npm@7`?

[2020-11-26 06:45] Macavirus commented on #2197
Yes, without logs this just looks like a freeze as npmcli takes up 100% of one processor core.

With logs, it becomes obvious that actions *are* happening, they just take insanely long. I would consider this a completely breaking experience that was enough to abandon any attempt to update our projects to node 15

In addition, `npm install` becomes entirely unresponsive to `SIGINT` signal sent with

[2020-11-26 08:36] csvan commented on #2197
I can also confirm that it monopolises one core on my system and runs it at 100%

I'm interested in what it is doing that is so intensive - It was my understanding that all the security audits are actually done server-side and that the npm client only checks the status of found packages.

[2020-11-26 08:53] paddor commented on #1257
Any updates on this? This bug is driving me insane.

[2020-11-26 09:48] buckleyGI commented on #417
@darcyclarke Is there a way I can send the full logs (so not only the error message) in private? Thank you.

[2020-11-26 10:20] oksouhhhhhhhhh commented on #1778
how did u fix that problem? i have been having that issue for months! pls help me

[2020-11-26 10:49] uptonking commented on #1904
I've tested the repo fabb/npm7-workspaces.
`cd applications/app1 && npm run build` is building successfully.

[2020-11-26 12:55] Namstel commented on #1201
I've also managed to bypass this issue when using WSL on Windows 10.

[2020-11-26 14:25] TomaszG commented on #564
Let's imagine the following use case where I want to:
1. build the application on CI,
2. have fixed deps versions to keep things stable,
3. cache node_modules between particular steps of CI pipeline (build/test/deploy) with package-lock.json as a cache key.

Given that particular CI jobs can be run on different runners, the CI cannot guarantee that cache will always be available.

The scenario abo

[2020-11-26 15:46] Gyllsdorff commented on #2183
I got a very similar problem when I tried to update our node version to 15.2.1. We have a private Artifactory npm registry that we proxy all our requests through, our dev laptops have a `ARTIFACTORY_BASE64` env variable with a base 64 encoded username:password, and our projects have a a `.npmrc` with `_auth = ${ARTIFACTORY_BASE64}` & `registry = <our private npm mirror/proxy>`.

That works fine in

[2020-11-26 17:15] jramosss opened #2242 "[BUG] npm install dependencies failing"
### Current Behavior:

### Expected Behavior:

PD: the project runs normally in my other computer, so its not a problem of my project

### Steps To Reproduce:

### Environment:

[2020-11-26 17:16] ljharb commented on #1257
Have you tried with the latest npm@7?

[2020-11-26 17:18] ljharb commented on #2242
What about with npm@7?

[2020-11-26 17:26] jramosss commented on #2242
absolutely the same, i installed it as the README of this repo says, and still getting `Error: Argument #5: Expected object but got string`

[2020-11-26 17:37] jramosss commented on #2242
[2020-11-26T17_35_46_979Z-debug.log](https://github.com/npm/cli/files/5604401/2020-11-26T17_35_46_979Z-debug.log)
i couldnt get npm@7, installing with the script in the readme leads to the version 6.14.9

[2020-11-26 21:42] ljharb opened #2243 "[BUG] `npm install foo` lacks the implicit `@latest` that v6 has"
### Current Behavior:
I have, say, eslint 7.11.0 installed. I have `package-lock=false` in `.npmrc`. I run `npm install --save-dev eslint`. `package.json` continues to reference `^7.11.0`, and `v7.2.0` is what's installed.

### Expected Behavior:
package.json should be updated to reference `^7.14.0`, and v7.14.0 should be installed, like it does in npm < 7.

### Steps To Reproduce:
See above.

###

[2020-11-26 22:58] ljharb commented on #2242
you need an explicit `npm install -g npm@7` to get it; currently "latest" is set to v6.

[2020-11-26 23:28] kumarrishav commented on #2224
Can you confirm this behavior/bug?

[2020-11-27 04:34] mohamednazarae opened #2246 "[BUG] options, (spUrl,spUser AND spPassword) OR (spUrl,clientid AND clientsecret) are required arguments for this program."
### Current Behavior:
I am running npm commands in Azure DevOps where I am executing npm commands like install, clean, build, package and finally deploy. Also I am creating .env file in the path where package.json file located.
All commands are working as expected except "npm run deploy" getting following message.

2020-11-26T13:22:20.9728599Z SiteDeployer v4.5.1907.2901 (4.5.0.0)
2020-11-26T13:22

[2020-11-27 05:59] Sambhrama754 opened #2247 "pls fix"
┌─[✗]─[sambhrama@parrot]─[/usr/local/lib/node_modules/@ionic]
└──╼ $sudo npm install -g @ionic/cli cordova-res
npm WARN registry Unexpected warning for https://registry.npmjs.org/: Miscellaneous Warning EINTEGRITY: sha512-pDZ7E67IRHIZAWQ5s1BIqbAd37Z8wUUJR+4qRRXomJYABNRiVSgJf6QnlnZdtD+ueAxO3CKntJuOyK/TlIrMRQ== integrity checksum failed when using sha512: wanted sha512-pDZ7E67IRHIZAWQ5s1BIqbAd37Z8wU

[2020-11-27 06:01] Sambhrama754 commented on #2247
`┌─[✗]─[sambhrama@parrot]─[/usr/local/lib/node_modules/@ionic]
└──╼ $sudo npm install -g @ionic/cli cordova-res
npm WARN registry Unexpected warning for https://registry.npmjs.org/: Miscellaneous Warning EINTEGRITY: sha512-pDZ7E67IRHIZAWQ5s1BIqbAd37Z8wUUJR+4qRRXomJYABNRiVSgJf6QnlnZdtD+ueAxO3CKntJuOyK/TlIrMRQ== integrity checksum failed when using sha512: wanted sha512-pDZ7E67IRHIZAWQ5s1BIqbAd37Z8w

[2020-11-27 06:23] Sambhrama754 commented on #2247
k so i solved it.sorry for because i am beginner

[2020-11-27 06:23] #2247 closed, assigned to nobody

[2020-11-27 07:35] NimbleWing opened #2248 "Got Bad Request when I publish my scoped package"
Hello, anybody:
When I publish my package by ```npm publish --access=public```, I encountered a confusing situation.

If my package name is ```@nwing/download-github-repo``` or ```@nwing/download-github-repo-test```, I will get ```400 Bad Request```.

If my package name is ```@nwing/downloads-github-repo``` or ```@nwing/downloads-github-repo-test```, I can published successfully.

I don't know the

[2020-11-27 07:42] highmtworks opened #2249 "[BUG] npm start ignores empty argument on windows"
### Current Behavior:
package.json
[code]
index.js
[code]

then,
[code]

npm 6.14.9, 7.0.11 prints
[code]

but npm 7.0.12 - 7.0.14 prints
[code]

### Expected Behavior:
should be
[code]

### Steps To Reproduce:
see Current Behavior section

### Environment:
- OS: Windows 10 Pro 2004 (19041.630)
- Node: 15.13.0
- npm: 7.0.14

maybe caused by https://github.com/npm/cli/blob/ab0b932f7117419cc7de2f443

[2020-11-27 08:19] aks- commented on #2197
+1

[2020-11-27 09:06] mohamednazarae commented on #2246
I have tried the same in ADO pipeline but I am getting following error

2020-11-27T09:05:20.5349861Z ##[section]Starting: Run Akumina.SiteDeployer
2020-11-27T09:05:20.5649528Z ==============================================================================
2020-11-27T09:05:20.5649867Z Task         : Command Line
2020-11-27T09:05:20.5650107Z Description  : Run a command line with arguments
2020-11-27

[2020-11-27 10:58] gizero opened #2250 "[BUG] npm config silently ignores values that start with a dash"
### Current Behavior:

Given a config command like this:

`npm config set '//gitlab.vendor.com/api/v4/packages/npm/:_authToken' "-iF_9eLYJkB2a3simuB1"`

It silently fails to set the configuration key. The command returns `0` while the key turns out to be empty in `.npmrc`.
My suspect is that `-iF_9eLYJkB2a3simuB1` ends up being considered a command line option instead of a positional argument. Thi

[2020-11-27 13:33] tfedyanin commented on #2236
@ljharb sorry for the delay.
➜  - npm -v
7.0.14
Works as expected.

[2020-11-27 14:42] jacoscaz commented on #2181
I have just stumbled into this, reverting to `6.x` fixes the issue. It seems that any package referenced via `https` or `git+https` results in `npm` trying to download a package with the same name from the official registry.

[2020-11-27 15:34] ljharb commented on #2246
This isn’t an issue with npm; you may need to file it with azure.

[2020-11-27 15:34] #2246 closed, assigned to nobody

[2020-11-27 15:34] ljharb commented on #2236
Since v6 is effectively frozen, and it works in v7, I’m going to close this as “fixed”.

[2020-11-27 15:34] #2236 closed, assigned to nobody

[2020-11-27 15:52] #1964 closed, assigned to nobody

[2020-11-27 16:32] voltuer commented on #2194
Apparently it is running, but I need to show staff to the user, as it worked before v7

[2020-11-27 16:39] tmanning opened #2251 "[BUG] npm install followed by npm ci fails with no such file or directory (chmod failure)"
Current Behavior:

When you run `npm i` successfully followed by `npm ci` the operation fails.

Expected Behavior:

When you run `npm i` successfully followed by `npm ci` it should complete without errors.

### Steps to reproduce

package.json:

[code]

`npm i ` generates a package-lock.json
follow this with
`npm ci`
and it fails looking for `node_modules/aws-cdk/bin/cdk`

[code]

npm 6 does not e

[2020-11-27 17:05] #2034 closed, assigned to nobody

[2020-11-27 17:06] ljharb commented on #2194
That was intentionally suppressed in v7, to prevent spamming users with ads and similar messages. You’ll have to wait to show the users the output until the first time they use your tool.

[2020-11-27 17:25] gizero commented on #2250
Very likely related to what [this `nopt` very old issue](https://github.com/npm/nopt/issues/41) is pointing out...

[2020-11-27 17:30] ruyadorno commented on #2034
Sorry about the delay @Gameghostify and thanks @wesleytodd for the handy reproduction 😊

This was fixed in `7.0.15`, you can give it a try again with: `npm install -g npm@7`

[2020-11-27 17:32] ruyadorno commented on #1964
Fixed in `7.0.15` 😊

[2020-11-27 18:31] Gameghostify commented on #2034
@ruyadorno thank you for your hard work! It works now, which means I can finally use npm@7 for everything

[2020-11-28 01:15] dominguetigs commented on #2173
@Ahmadzayd Use one of the bug templates as @darcyclarke said.

[2020-11-28 02:03] voltuer commented on #2194
Could you please share a link to an official announcement of this change? I will need to explain this to my client

[2020-11-28 02:39] ljharb commented on #2194
https://blog.npmjs.org/post/626173315965468672/npm-v7-series-beta-release-and-semver-major is the announcement, but it may not mention this one specifically.

[2020-11-28 17:10] protyposis commented on #2186
Reproducible in 7.0.15.

[2020-11-28 20:37] Ngorror opened #2253 "[BUG] npm 7.x executes package.json preinstall script after installing dependencies"
### Current Behavior:
when you run `npm install`, `package.json` `preinstall` script will be executed after dependencies installation

### Expected Behavior:
`package.json` `preinstall` script must be executed before dependencies installation.

### Steps To Reproduce:
Execute the following commands to clone [my test repository](https://github.com/Ngorror/npm-preinstall-bug.git)  and run `npm insta

[2020-11-28 22:38] bdentino commented on #2011
I have also experienced some performance issues, particularly when running `npm install` in a docker build with a Mac host. Installs that take ~2m on the host system are taking between 20-40m in the docker with npm7. Specifically, `reify:createSparse` appears to be an extremely expensive operation in this environment and is thousands of times slower (~15m).

I realize this could be simply a proble

[2020-11-28 23:06] Joesac commented on #474
I got this issue when creating a new angular project

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Joesac\AppData\Roaming\npm-cache\_logs\2020-11-28T22_54_00_145Z-debug.log

my node version is 14.15.1
npm version 6.14.5

[2020-11-28 23:32] ghost opened #2254 "[BUG] npm ERR! cb() never called!"
I'm getting an error while creating a react app with "create-react-app"

I Finded the cause of the error. I splitted my HDD into partitions and I'm trying to create a react app in one of those partitions (disk W:)

Error Screenshot:
![Screenshot (8)](https://user-images.githubusercontent.com/42522330/100527875-3d94b500-31f0-11eb-8d9a-f5e65f70e4eb.png)

On error log says "no space left on device" b

[2020-11-28 23:36] ghost commented on #2254
I discovered something new. There are only "react, redux, react-redux, firebase" packages in the project and the project is higher than 40gb
![Screenshot 2020-11-29 033522](https://user-images.githubusercontent.com/42522330/100528256-1d66f500-31f4-11eb-8c5b-273ceaf99828.png)

package.json file:
[package.txt](https://github.com/npm/cli/files/5611412/package.txt)

[2020-11-28 23:39] ljharb commented on #2254
That seems highly unlikely to be intended; i don’t have 40 gigs worth of node_modules on my entire machine.

[2020-11-29 00:42] ljharb commented on #2253
Can you confirm the bug still happens in v7.0.15?

[2020-11-29 02:44] van4elo opened #2255 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-11-29 02:48] #2255 closed, assigned to nobody

[2020-11-29 09:28] Ngorror commented on #2253
yep
I stumbled on this on my first install of node 15.0.0, npm 7.0.2 few months ago.
Since then I procrastinated to report the problem.
yesterday I installed node 15.3.0, npm 7.0.14
now I installed 7.0.15 - the problem is still here.

[2020-11-29 11:24] ghost commented on #2254
I found what the problem is:
My disk's cluster size is 2048. I formatted my disk with smaller cluster size like 64K and... valala problem is solved
![Screenshot 2020-11-29 152258](https://user-images.githubusercontent.com/42522330/100540473-01e10600-3257-11eb-96e7-d0a70371712d.png)

[2020-11-29 11:24] #2254 closed, assigned to nobody

[2020-11-29 15:39] conartist6 opened #2256 "Git packages can be semver-compatible with official releases"
In my project I use a particular module (`sane`) directly (as a `devDependency`). I had to fork it to fix an issue, so in my `package.json` I depend directly on `conartist6/sane#branch`. I did not change the semver in my forked branch because I have an open PR against the base package, and they have a CI-based process for semver incrementing.

Now other of my dev dependencies use sane themselves a

[2020-11-29 17:43] InputNeuron commented on #1637
Hitting this issue too. Honestly I've had so many bugs / problems with npm and registries. It's a comedy of errors.

Right now I just did a login, removed all tokens, created a new one.  Updated my .npmrc then did an ```npm ping```

which works properly.

Then an npm publish gives me "not found".

I have to remove the .npmrc then do an npm login and then it works.

The problem is that this *comple

[2020-11-29 17:44] ljharb commented on #1637
Have you tried with npm 7?

[2020-11-29 18:17] tadeaspaule opened #2257 "[BUG] Can't npm publish even after "npm login" and running as admin (Windows)"
### Current Behavior:

I try ```npm publish 0.5.5``` (or other version numbers) and get the -4048 EPERM unlink error seen frequently after googling for npm publish bugs. Pretty much all of those issues / SE pages just conclude with "you need to npm login". But I already did that. Running ```npm whoami``` confirms I am logged in as the correct user.

Moreover, everything was working fine for me jus

[2020-11-29 19:03] ljharb commented on #2257
The version number goes in package.json, not in the publish command.

[2020-11-29 19:06] tadeaspaule commented on #2257
@ljharb Oh my, you just saved my sanity. Thank you! I don't know why I remembered from yesterday that I was putting the version there. Instead I should've done ```npm version <new_version>``` followed by ```npm published```. Did that now and worked like a charm. Thanks again and sorry for wasting time haha

[2020-11-29 19:06] #2257 closed, assigned to nobody

[2020-11-29 19:20] RVT123123 opened #2258 "ERROR IN CREATING NEW PROJECT"
[2020-11-29T19_15_09_981Z-debug.log](https://github.com/npm/cli/files/5612726/2020-11-29T19_15_09_981Z-debug.log)

### Current Behavior:
When ever i used to create a new project/App

### Expected Behavior:
IT should create a project without any error

### Steps To Reproduce:

1. open cmd
2. type ng new project name
3.
4.

### Environment:

- OS: Window 32 X64
- Node: 13.14.0
- npm: 6.4.12

[2020-11-29 19:22] ljharb commented on #2258
Please fill out the issue template.

[2020-11-29 19:22] #2258 closed, assigned to nobody

[2020-11-29 19:23] RVT123123 commented on #2258
Getting error whenever i used to create a new app/project in angular.

[2020-11-29T19_15_09_981Z-debug.log](https://github.com/npm/cli/files/5612720/2020-11-29T19_15_09_981Z-debug.log)

[2020-11-29 19:24] ljharb commented on #2258
Seems like a duplicate of #2130 and a duplicate of #1207, and a number of others.

You’re using node 13; you should try node 14 or 15.

[2020-11-29 19:28] RVT123123 commented on #2258
node 14 or node 15 is not compatible with windows 7. I am using windows 7

[2020-11-29 19:36] ljharb commented on #2258
Windows 7 is EOL as of January 2020.

[2020-11-29 20:29] RVT123123 commented on #2258
God I am outdated now...I can not live on this planet.

[2020-11-29 20:35] RVT123123 opened #2259 "Cannot run ng serve"
[angular-errors.log](https://github.com/npm/cli/files/5612817/angular-errors.log)

### Current Behavior:
ng serve is not working for me

### Expected Behavior:
It should run perfectly ok

### Steps To Reproduce:
1.Make a new angular project
2.Try to run ng serve inside the project folder

### Environment:

ex.
- OS: Win32 x64
- Node: 13.14.0
- npm: 6.14.9

[2020-11-29 20:39] ljharb commented on #2259
Then you’ll need to file an issue on angular - this repo is for npm itself.

[2020-11-29 20:42] RVT123123 commented on #2259
Alas!! ok close my issue here

[2020-11-29 21:17] #2259 closed, assigned to nobody

[2020-11-29 21:53] RVT123123 opened #2260 "cb() never called : npm install -g @angular/cli@latest"
### Current Behavior:
I am trying to install angular using npm

### Expected Behavior:
It should install successfully

### Steps To Reproduce:
1.Install node.js
2.Open cmd
3.Try to install angular using npm

### Environment:

- OS: Win  32 X64
- Node: 13.14.0
- npm: 6.14.9

[2020-11-29T21_47_18_170Z-debug.log](https://github.com/npm/cli/files/5612897/2020-11-29T21_47_18_170Z-debug.log)

[2020-11-29 23:36] ghost opened #2261 "[BUG] < using start and close whit ctrl+c >"
in a blank project(whit just app.js file), if i do the following command:
-npm init
-npm install --save-dev nodemon

and add in the scripts the "start":"nodemon app.js"

it works just fine(whit npm start), but when i stop nodemon whit ctrl+c, i have the following errors message:
npm ERR! path C:\Users\amine\Desktop\es_nodejs\sezione_5\234
npm ERR! command failed
npm ERR! signal SIGINT
npm ERR! com

[2020-11-30 01:47] niedzielski commented on #2010
I just hit this issue using NPM workspaces on Node v15.2.1 / NPM v7.0.8 for Ubuntu. The problem may become more popular with workspaces containing independently versioned packages as they tend to use subdirectories.

[2020-11-30 03:16] ljharb commented on #2261
This isn’t a bug, this is normal npm error output from run-scripts (like “start”).

[2020-11-30 03:17] ljharb commented on #2010
@niedzielski does it still occur with v7.0.15?

[2020-11-30 04:28] niedzielski commented on #2010
@ljharb, yes. I can repro on NPM v7.0.15. Using a local installation of NPM:

[code]

Changes the package version in my repo to `3.0.1-foo.0` but doesn't commit the change. Explicitly setting `--git-tag-version=true` also has no effect.

[2020-11-30 06:56] NozzerFX opened #2262 "[BUG] npm ls breaks when private repo dependency uses semver: for version matching"
### Current Behavior:
When `package.json` contains a private git repository as a dependency with `#semver` version matching `npm ls` does not resolve any paths for `production` or `development` options.  The following error occurs when not using the `--silent` flag.

4 verbose stack     at npa (C:\Program Files\nodejs\node_modules\npm\node_modules\npm-package-arg\npa.js:34:25)
4 verbose stack

[2020-11-30 07:36] ljharb commented on #2262
What happens with npm 7?

[2020-11-30 10:09] wankhedeyakash9 opened #2263 "Error while running npm install"
npm install
loadDep:winston → get     ▀ ╢████████████████████████████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╟
loadDep:winston → addName ▌ ╢████████████████████████████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╟
loadDep:winston → 200     ▌ ╢███████████████████████

[2020-11-30 11:10] NozzerFX commented on #2262
@ljharb - The result is better with npm 7.

When running for production and development I get expected results but I do still get an error for `production`

23 verbose stack     at ls (C:\Users\richa\AppData\Roaming\npm\node_modules\npm\lib\ls.js:491:7)
24 verbose cwd C:\Local Development\Web Projects\MyProject
25 verbose Windows_NT 10.0.19041
26 verbose argv "C:\\Program Files\\nodejs\\node.exe"

[2020-11-30 11:31] NickAJScott opened #2264 "package-lock file changing based on local repository name"
### Current Behavior:
package-lock.json changes depending on name of local copy of git repo, e.g. if i have two copies of the same repo locally one which matches the name in package.json and one which doesn't i get two different package-lock files, one specifies the name of the package in the inner packages list and one doesn't.

### Expected Behavior:
package-lock.json should be independent of to

[2020-11-30 11:36] NickAJScott commented on #2264
I think this is in some ways similar to this issue here: https://github.com/npm/cli/issues/1767 The difference is the package.json does contain a name field, and when the repo name matches that name field the field is not being generated inside the package-lock.json. This means if you change the directory name the field will get generated, it seems it should be generated at all times.

[2020-11-30 15:16] dennis-c opened #2265 "[BUG] find-dupes with optional peerDependenciesMeta"
### Current Behavior:
My application has a nested dependency (3 levels deep) of a public package using the `peerDependenciesMeta` to mark peerDependencies as optional.

When running `npm find-dupes` I get the following error:

[code]

- Nested dependency included is https://www.npmjs.com/package/@pmmmwh/react-refresh-webpack-plugin/v/latest
- Unresolved (optional) dependency is https://www.npmjs.c

[2020-11-30 16:40] InputNeuron commented on #1637
@ljharb I haven't ... could try that.  was being lazy on upgrading 👍

[2020-11-30 17:57] nlf commented on #2014
this is the intended behavior.

when npm attempts to turn your requested package dependencies into reality part of that process involves removing packages that are not required. you can see this in your repo if you run `npm ls`, example output is below (ignore the UNMET DEPENDENCY lines, i cloned the repo and ran `npm ls` without installing anything so those are expected)

[code]

above you'll not

[2020-11-30 17:57] #2014 closed, assigned to nlf

[2020-11-30 18:00] nlf commented on #1979
this was fixed in `7.0.3`

[2020-11-30 18:00] #1979 closed, assigned to nobody

[2020-11-30 18:40] darcyclarke commented on #1700
@lumaxis can you confirm that you're still having issues as of `7.0.15`?

[2020-11-30 18:41] darcyclarke commented on #1888
@aliatsis can you try testing if this is still a problem after installing the latest version? (ie. `7.0.15`)

[2020-11-30 19:06] aliatsis commented on #1888
@darcyclarke I can still reproduce with 7.0.15

[2020-11-30 19:49] jameswomack opened #2266 "[BUG] npm view is showing me as a maintainer of a project i don't maintain"
### Current Behavior:
[code]

### Expected Behavior:
The proper names'd be shown

### Steps To Reproduce:
 `npm view @web/dev-server-esbuild `

### Environment:
- OS: macOS 10.15.7
- Node: 14.15.1
- npm: 6.14.8

[2020-11-30 20:01] trentm opened #2267 "[BUG] 'npm install hapi@18.1.0' after 'npm install hapi@17.8.5' leads to broken hapi install"
### Current Behavior:

With node v15 and npm@7, when I do:

1. `npm install hapi@17.8.5`, then
2. `npm install hapi@18.1.0`

then the hapi installation is broken:

[code]

### Expected Behavior:

I expect the hapi installation to not be broken. For example, if I `rm -rf node_modules/hapi` before the install of hapi@18.1.0, then I get a working installation:

[code]

### Steps To Reproduce:

Here i

[2020-12-01 02:35] ljharb commented on #2263
node 8 and npm 3 are both ancient; please try with node 12, 14, or 15, and npm 6 or 7.

[2020-12-01 02:38] ljharb commented on #2266
What happens with v7.0.15?

Do you have anything in your ~/.npmrc (or other nom config, including env vars) that contains your name?

[2020-12-01 03:10] blesstosam opened #2268 "[BUG] `~/.npmrc @scope:registry=http://def.com` has higher priority than command line param '--registry http://abc.com'"
I searched other issues, but I didn't find anything that was specifically this issue.

### Current Behavior:

`~/.npmrc @scope:registry=http://def.com` has higher priority than command line param '--registry http://abc.com'
Npm request http://def.com to get info

### Expected Behavior:

Command line shoud has higher priority
Npm should request http://abc.com to get info

### Steps To Reproduce:

m

[2020-12-01 03:33] ljharb commented on #2268
Why should it? Those are different configs.

[2020-12-01 10:01] closingin commented on #2147
Alright, looks like it worked @ruyadorno, thanks! Sorry that I didn't find the existing issue and recreated one btw.

[2020-12-01 10:01] #2147 closed, assigned to nobody

[2020-12-01 13:07] sistemd opened #2272 "[FEATURE] Warn on npm i --save-dev with no package?"
# What / Why
I always thought that `npm i` is equivalent to `npm i --production`, and that in order to install dev dependencies I have to run `npm i --save-dev`. Today I found out this is not the case. I thought it might be kind of nice to tell the user that in `npm i --save-dev`, the `--save-dev` flag has no effect.

[2020-12-01 13:57] quintstoffers commented on #2183
I seem to be encountering this issue with a package stored on the GitHub repository (@swydo/byol-cli from https://github.com/Swydo/byol), but only when running `npm install` for the second time. The first install works perfectly fine.

_.npmrc_
[code]

_First run_
`npm install --legacy-peer-deps`
[code]

_Second run_
`npm install --legacy-peer-deps`
[code]

Debug log:
[code]

[2020-12-01 13:59] ethomson opened #2273 "[BUG] npm rebuild docs point to non-existent npm build docs"
### Current Behavior:

[npm rebuild](https://github.com/npm/cli/edit/latest/docs/content/commands/npm-rebuild.md) links to `npm build` but this 404s

### Expected Behavior:

There are no broken links

### Steps To Reproduce:

View the HTML help docs for npm-rebuild or https://docs.npmjs.com/cli/v7/commands/npm-rebuild

[2020-12-01 14:20] tienphamminh commented on #2119
retry this command with --force:
npm install webpack-dev-server --save-dev --force

[2020-12-01 15:28] ljharb commented on #2194
Ah, I didn’t realize it wasn’t actually running them globally.

[2020-12-01 17:22] pihoo19 opened #2274 "Error while running command ng serve"
npm install -D @schematics/angular @angular-devkit/core @angular-devkit/schematics

npm WARN registry Unexpected warning for https://registry.npmjs.org/: Miscellaneous Warning ERR_SOCKET_TIMEOUT: request to https://registry.npmjs.org/semver failed, reason: Socket timeout
npm WARN registry Using stale data from https://registry.npmjs.org/ due to a request error during revalidation.
npm ERR! cb() ne

[2020-12-01 18:28] sistemd commented on #2272
I'd be happy to implement this change in a PR if you guys think it's worthwhile

[2020-12-01 20:31] ljharb commented on #2272
I would expect `npm i --save` and `npm i --save-dev` and `npm i --save-peer` etc to all error out, since presumably they don't do anything without a specifier arg.

However, I think you'd need to suggest this as an RFC: https://github.com/npm/rfcs

[2020-12-02 08:12] sistemd commented on #2272
Well, I wouldn't dare to go so far as erroring out at this point, since that could break other people's scripts... but at least let people know, maybe they actually meant to install a new package instead, or something

[2020-12-02 09:38] ianef commented on #2147
I've had very similar problems too. I couldn't get it working properly on 6.14.8 and was considering doing some tests with earlier versions.

However I decided to test out the process in a new Debian docker container, copied the basics of the package.json in my project and it built correctly using npm 7.0.14 with a.bin folder. I was confused! I copied the whole of my project package.json and it fa

[2020-12-02 11:10] carcokaresz commented on #2082
I have same issue, but I did not use husky, just native node js server. If the process.exit runned, or an error caused what of the end the process stopping, it got:

0 verbose cli [
0 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
0 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
0 verbose cli   'run',
0 verbose cli   'mypackage start',
0 verbose cli   '--scrip

[2020-12-02 12:31] kymok opened #2276 "[BUG] npm silently hangs up on its first execution on Windows when proxy config is wrong"
### Current Behavior:

Any npm command including `npm` hangs with displaying nothing on Windows terminal.
Title bar of command prompt changes to `npm prefix`.

### Expected Behavior:

Error message or at least timeout.

### Steps To Reproduce:

1. In Windows 10 + node 15.3.0 with wrong proxy setting.
2. Install as instructed.
3. Start command prompt and type `npm -v`.
4. Terminal title changes to

[2020-12-02 13:26] wankhedeyakash9 commented on #2263
I have updated node and npm is worked .
Thanks @ljharb for your response :+1:

[2020-12-02 13:26] #2263 closed, assigned to nobody

[2020-12-02 15:19] mazanand1976 commented on #2232
Sorry for the delay.

sh-5.0$ sudo npm install -g npm@7
[sudo] password for u0_a7:
/usr/local/bin/npm -> /usr/local/lib/node_modules/npm/bin/npm-cli.js
/usr/local/bin/npx -> /usr/local/lib/node_modules/npm/bin/npx-cli.js
+ npm@7.0.15
added 54 packages from 20 contributors, removed 241 packages and updated 194 packages in 71.228s
sh-5.0$ npm --version
7.0.15
sh-5.0$ npm install docz
npm WARN regist

[2020-12-02 15:23] t1m0thyj opened #2277 "[BUG] Global install fails if prefix directory doesn't exist"
### Current Behavior:

In NPM 7.x, `npm install` fails when both the `--global` and `--prefix` flags are set.

### Expected Behavior:

Same as NPM 6.x: The prefix directory should be created if it doesn't exist and the global install should succeed.

### Steps To Reproduce:
1. Use NPM 7.x (this works fine with NPM 6.x)
2. Run `npm install typescript -g --prefix <nonExistentDir>`
    - change "&lt;

[2020-12-02 15:39] Gaurav-create948 opened #2278 "[Getting error:] <while running the command npx create-react-app my-app>"
![Screenshot (5)](https://user-images.githubusercontent.com/70335601/100893237-25b77c80-34e1-11eb-9db0-caa304114363.png)

### Current Behavior:

Please send me solution as soon as possible.

[2020-12-02 15:42] Gaurav-create948 commented on #2278
Please give me the solution about this error i'm getting in my command line.

[2020-12-02 18:56] rivy commented on #969
This error originates from a CMD shell bug. `exit EXITCODE` and `exit /B EXITCODE` do NOT return EXITCODE as the process exit code unless the BAT/CMD file is executed with a `call BAT_FILE` command. The ERRORLEVEL *is* set and returned to the parent shell correctly, but the process exit code *is not*. There's more detail, some references, and an alternate solution in my [commit for `pl2bat`](https

[2020-12-02 19:13] rivy commented on #969
I'm curious as to why `:find_dp0` is needed. I'm unable to find a reference that explains the need.

If it's not needed, this construction should work:

[code]

[2020-12-02 20:58] ruyadorno commented on #1984
@sheepsteak fyi @isaacs is currently working on a refactor of how [@npmcli/arborist](https://github.com/npm/arborist/) handle symlinks and we expect that to fix the remaining issues. Thanks for highlighting these new issues you found, we'll be circling back to make sure all these are working once that code refactor is complete. 😊

[2020-12-02 21:08] rivy commented on #969
I was able to find an answer to the question of why `:find_dp0` on stackoverflow.
I also wanted to suppress the annoying "Terminate batch job (Y/N)?" when interrupting my development watch processes.

So, now, I'm using this construction (`hexo` as an example):

[code]

[2020-12-03 02:27] thisissami commented on #301
This is an issue for a few other people (myself included). See: https://stackoverflow.com/questions/64165292/npm-audit-fix-not-changing-anything

[2020-12-03 09:18] blesstosam commented on #2268
So how can i use command line to override `registry` in `~/.npmrc` when i want to view a pkg with a scope like `@wl/ button`

[2020-12-03 10:54] tutur0001 commented on #2029
Me I can if you want

[2020-12-03 14:05] codexofc commented on #2029
Can you assign me on this issue ? @isaacs

[2020-12-03 14:19] PHPGuus opened #2280 "cb() never called error"
System: Windows 10 Home, WSL2, Ubuntu 20.04, node v12.20.0, npm v6.14.8

npm install gave me this output:
npm WARN tar EPERM: operation not permitted, futime
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! virkivent@0.1.0 install: `npm install`
npm ERR! Exit

[2020-12-03 16:06] Myth1c4lYT opened #2281 "[BUG] cb() never called!"
### Current Behavior:
when i try to install discord.js i get cb() never called!

### Expected Behavior:
I Expected to have it working and download

### Environment:
- OS: Windows 10 Home
- Node: 14.14.0
- npm: Latest

[2020-12-03 17:28] ghost commented on #2135
npm ERR! cb() never called!

[2020-12-03 17:47] joshgoebel opened #2282 "[BUG] "deprecations must be strings" Deprecations fails consistently"
### Current Behavior:

[code]

### Expected Behavior:

The package should be deprecated or a USEFUL error condition should be shown.  **If there is some throttling taking place, it should be clearly stated.**  I was able to deprecated 5 prior versions immediately before this with 0 issues, but this last version just gives this meaningless error over and over.

In the past I've worked around this b

[2020-12-03 17:52] ljharb commented on #2282
What about `npm deprecate highlight.js@10.4.0 'Potential vulnerability. Please upgrade to @latest'`? (no quotes around the version number)

Have you tried with npm v7?

[2020-12-03 18:00] joshgoebel commented on #2282
It's not the command, these exact commands all worked moments before:

[code]

**After failing 5-10 times consistently switching my VPN to Paris, France immediately resolves the issue.**

It's like the server does some sort of throttling but can't just be honest about it - which would prevent a lot of frustration.

[2020-12-03 19:16] cheapsteak commented on #1905
fwiw, this breaks builds that use [patch-package](https://www.npmjs.com/package/patch-package)

[2020-12-03 19:24] ljharb commented on #2268
I don't know the command-line syntax off hand, but something like `NPM_CONFIG_@scope:registry=http://def.com npm view @scope/pkg` should do it.

[2020-12-03 19:29] evocateur commented on #2233
For the record, I really try to discourage this pattern of conflating workspace configuration and shared dev dependencies/scripts with a published package (TL;DR: it's too error prone, in my experience). I would remove the capability from Lerna, if I could, but the horse has already left the barn, so to speak.

[2020-12-03 19:31] ljharb commented on #2233
@evocateur enzyme uses it because the root defines the docs, which need to be linted with `npm run lint`, and each package also lints itself with `npm run lint`, and i want to be able to `lerna exec npm run lint` in CI and include everything. is that the pattern you find too error-prone?

[2020-12-03 21:29] csvan commented on #2274
You cannot connect to the NPM registry. Check your proxy settings.

[2020-12-03 21:31] csvan commented on #2280
Your file system permissions do not permit NPM to execute what it needs, you should fix them.

[2020-12-03 23:54] esteban142536 opened #2283 "[BUG] <cb() never called>"
Current Behavior:
Launch of a error when i try to start a proyect in react

Expected Behavior:
When i try to start a new react proyect in a folder in my destop, the error appear here:
Installing react, react-dom, and react-scripts with cra-template...

 Steps To Reproduce:

npx create-react-app test

npx: instaló 67 en 6.651s

Creating a new React app in C:\Users\myUser\Desktop\folder\folder2\reac

[2020-12-04 02:00] aubelsb2 commented on #1505
Just a guess: I think this is caused when you have 2 file: pathed libraries, one which depends on the other and you have included them in a 3rd project.. I guess it's a version conflict resolution issue during "staging" ?

[2020-12-04 03:07] pihoo19 commented on #2274
@csvan I checked my proxy settings it is fine but still the same error occurs.

[2020-12-04 03:15] aubelsb2 commented on #1505
I tried to recreate this in a sample project. I did manage to get an error but not quite the same thing:
https://github.com/aubelsb2/npm-fail1

Probably way more complicated that necessary.

Ran:
```npm run installall```
Result:
[code]

C:\Users\arran_w\AppData\Roaming\npm-cache\_logs\2020-12-04T03_10_11_289Z-debug.log
[code]

[2020-12-04 04:28] blesstosam commented on #2268
i found  `npm view @scope/pkg --@scope:registry=http://abc.com` is working, but  `NPM_CONFIG_@scope:registry=http://abc.com npm view @scope/pkg` throw an err =>  zsh: no such file or directory:xxx
thanks anyway!

[2020-12-04 05:01] evanw opened #2284 "[BUG] Config environment variable forwarding breaks with false config values"
### Current Behavior:

I have an install script that needs to run the `npm` command to install a platform-specific package. I'm currently doing this by forwarding the install script's environment variables to the `npm` command. This automatically picks up most custom configuration from users including project-local `.npmrc` files. However, it doesn't work for config values that are exactly equal t

[2020-12-04 05:12] ljharb commented on #2284
What happens with npm v7.0.15?

[2020-12-04 05:34] evanw commented on #2284
I wasn't able to reproduce this with npm 7, only with npm 6.

[2020-12-04 07:57] PHPGuus commented on #2280
Thanks. I'll have a look-see... Might be because of WSL2 rather than native...

[2020-12-04 07:57] #2280 closed, assigned to nobody

[2020-12-04 08:26] slippycheeze commented on #2219
sorry, I've been unable to test this because real life.  I hope to get you a response in the next week, but it depends how much of a mess the moves make delivering things.  not ideal, but sometimes life isn't.

[2020-12-04 09:14] Simrandeep444 opened #2285 "[BUG] <title>npm ERR! cb() never called!"
### Current Behavior:
23688 silly extract @angular/compiler-cli@~11.0.3 extracted to C:\Users\Simrandeep Kaur\Documents\My-First-App\node_modules\.staging\@angular\compiler-cli-6aeabfe1 (102738ms)
23689 silly extract lodash@^4.17.19 extracted to C:\Users\Simrandeep Kaur\Documents\My-First-App\node_modules\.staging\lodash-a0b59e51 (29249ms)
23690 silly extract @angular/compiler@~11.0.3 extracted to

[2020-12-04 10:45] zuozhiw commented on #564
`npm install` changes `package-lock.json`, doesn't delete `node_modules`
`npm ci` doesn't change `package-lock.json`, deletes `node_modules`

There is NO way to do an install that doesn't change `package-lock.json` and doesn't delete `node_modules`.
This is yarn's default behavior.

See how many people is asking for this feature or confused by this behavior https://stackoverflow.com/questions/4502

[2020-12-04 11:17] kramarz opened #2286 "[BUG] Can't seem to use "npm ci" for a production install."
### Current Behavior:
I am reopening bug from archived npm repository: https://github.com/npm/npm/issues/20125
After generating `npm install --only=production --package-lock-only` where devDependencies are private and not accessible in production `npm ci --only=production` is failing. Error is `cipm can only install packages when your package.json and package-lock.json or npm-shrinkwrap.json are i

[2020-12-04 14:43] mazanand1976 commented on #2232
Triage: So I know one kind of Age. Its in is a Japanese science fiction mecha space opera[1] anime. More Details at : https://en.wikipedia.org/wiki/Heroic_Age_(TV_series)
.
Thanks and Regards
D.

[2020-12-04 16:06] nlf commented on #2281
which version of npm are you using, specifically? i'm not able to reproduce this in the latest version (7.0.15)

[2020-12-04 16:09] nlf commented on #2276
how is your proxy configured? system wide? in your npm config? environment variables consumed by node?

[2020-12-04 16:36] ljharb commented on #2286
What happens with npm v7.0.15?

[2020-12-04 17:09] idukpayeosazuwa commented on #2283
it showed me the same   error : **i know this is silly but try create a new react in another place in your desktop that is how it worked for me**

[2020-12-04 17:48] nlf commented on #2267
thanks for the report, unfortunately i have some bad news. we don't intend to fix this problem.

the root cause is that older releases of hapi include an npm-shrinkwrap.json, but one that was heavily hand edited. in npm 5 and 6 we used the shrinkwrap as more of a guide and still ensured that your package tree was valid after applying it, however in npm 7 we have made the contract of shrinkwraps mo

[2020-12-04 17:48] #2267 closed, assigned to nlf

[2020-12-04 17:58] #2165 closed, assigned to nlf

[2020-12-04 17:59] #2226 closed, assigned to nlf

[2020-12-04 18:07] nlf commented on #2264
i'm not able to reproduce this. do you have an example repo where you see this behavior? i tried cloning the same repo twice, removing the package-lock.json from both, and running `npm i` in both and the generated package-lock.json files match.

[2020-12-04 18:13] nlf commented on #2248
the error response should have given you a reason for why your publish was rejected. do you have a log file you can share?

[2020-12-04 18:15] NickAJScott commented on #2264
Hi thanks for looking into this, ill try and create a dummy repo to reproduce it.

[2020-12-04 18:26] NickAJScott commented on #2264
@nlf Here is a repo to reproduce it: https://github.com/NickScottKortical/testpackagelock

commands i ran to see the issue were:
[code]
https://github.com/NickScottKortical/testpackagelock/compare/package_lock_changed

Shows the change that happens if the directory name doesn't match the name of the package, when the directory does match that name key isn't added at all and is what you see in the

[2020-12-04 18:31] nlf commented on #2264
confirmed! that reproduced it for me, thank you for taking the time!

[2020-12-04 18:32] NickAJScott commented on #2264
No problem, glad i could help :)

[2020-12-04 18:42] nlf commented on #2224
the package-lock.json file is not published as part of a package, so no your dependency's package-lock.json is not being followed.

the issue you're seeing is because gcstats bundles the node-pre-gyp dependency seen [here](https://github.com/dainis/node-gcstats/blob/master/package.json#L31-L33)

because of that, node-pre-gyp and all of its dependencies are installed per the package-lock.json in th

[2020-12-04 18:44] #2224 closed, assigned to nlf

[2020-12-04 18:58] trentm commented on #2267
Thanks for the cause info.

Totally understood. I maintain https://www.npmjs.com/package/elastic-apm-node, an APM library that hooks (grossly) in to many frameworks (including hapi), for which we test with old and new versions of those frameworks for compat. We definitely wouldn't be using such an old version of hapi ourselves, but, at least *currently* don't want to drop compat for our users.

[2020-12-04 19:29] kumarrishav commented on #2224
ah. Because of `node-pre-gyp` being bundledDependencies, it bundles the node_modules as well (as per lock file transitive deps)

got it now. Thanks

[2020-12-04 20:24] evocateur commented on #2233
@ljharb If you've already invested in that particular flavor of workspace management (that is, _no_ shared dev dependencies / scripts in root, only leaf scripts/devdeps), then you're likely avoiding most of the reasons I recommend keeping the root manifest private (because the root manifest is where the dev dependencies and scripts are consolidated / run for all leaves). The issues I've observed w

[2020-12-04 22:33] ljharb commented on #2233
Gotcha, thanks. I do disagree tho; I think that the only functioning monorepo is one where each subpackage looks identical to how it would if it were its own repo :-)

[2020-12-05 06:29] tamusjroyce opened #2288 "https://github.com/npm/cli/issues/564 - Issue closed without resolving purpose"
npm ci needs an option where it doesn't remove existing node packages within node_modules per https://github.com/npm/cli/issues/564

### Current Behavior:
This is closed

### Expected Behavior:
Issue to not be closed

### Steps To Reproduce:
open https://github.com/npm/cli/issues/564

### Environment:
web browser

Please close this once this issue has been reopened

[2020-12-05 06:46] tamusjroyce commented on #564
@darcyclarke

There should be a way to run `npm ci -flag` or other npm magic that installs only missing packages or re-installs packages which version does not match package-lock.json. "to do an incremental update"

`npm install --package-lock-only` does not install packages" unlike what you mentioned...it only updates package-lock.json. While I am sure you know this, modifying package-lock.json i

[2020-12-05 06:47] tamusjroyce commented on #2288
Oh. I can comment on this post. Browser was acting strangely or maybe I wasn't logged into that tab?

[2020-12-05 06:47] #2288 closed, assigned to nobody

[2020-12-05 10:34] lilisgeorge commented on #1703
On WSL2 - Ubuntu 20.04 using nvm and having installed v15.2.1 and today v15.3.0 i receive the same bug for both of those versions. Switched back to v14.15.1 and the problem is gone. npm version was 7.0.14. Now is 6.14.8

[2020-12-05 13:49] faruk-gkc opened #2289 "cb() never called!"
I cannot install any packages. I always get the same error. What should I do?

""npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\FARUK GÖKCEGÖZ\Desktop\JavaScriptDemos\ornekler\ORNEKLER\ORNEK1\JAVASCRİPT\npm_ders\_logs\2020-12-05T13_4

[2020-12-05 15:30] drake070 opened #2290 "Register Button"
Hi
Can anyone tell [me](https://bestrunningshoes2021.com/) how to create a simple sign in/sign up button for this website? I'm waiting for your kind reply.

[2020-12-05 20:47] cmanning96 commented on #2289
For whatever it's worth, I ran into the same error but installing the package with sudo worked. Obviously still a bug that needs to be fixed but it'll work as a temporary workaround for me.

[2020-12-06 08:55] cheriecheung commented on #681
I can also confirm the this works. In fact, the only solution that works for me. Thank you so much!

[2020-12-06 17:26] faruk-gkc commented on #2289
Thank you for your reply. I know that 'sudo' is not a valid command on windows. It gives an error because there are spaces in the file names and the characters are wrong. I guess I figured it out. Thank you again.

[2020-12-06 17:26] #2289 closed, assigned to nobody

[2020-12-06 17:26] faruk-gkc commented on #2289
Thank you for your reply. I know that 'sudo' is not a valid command on windows. It gives an error because there are spaces in the file names and the characters are wrong. I guess I figured it out. Thank you again.

[2020-12-06 22:45] Edu93Jer commented on #2029
Hi @isaacs is anyone still working on the case? If no, could you please explain to me a little more about the project, I'm a newbie and would like to contribute, or is the issue is closed?

[2020-12-07 01:39] #2268 closed, assigned to nobody

[2020-12-07 08:15] Jack-Works opened #2291 "[BUG] fsevents resolved as a non-optional dependencies on Windows"
### Current Behavior: Install failed due to `fsevents`

### Expected Behavior: No error

### Steps To Reproduce:

1. Check out this PR https://github.com/DimensionDev/Maskbook/pull/1980
2. Run `npm i` with npm7 on Windows

[code]

### Environment:

Windows 10
Node 15.3.0
npm 7.0.14

[2020-12-07 10:25] boillodmanuel opened #2292 "[BUG] running "npm version &" in background break bash completion"
### Current Behavior:

When I run `npm version` or `npm --version` in a background process with `&` in my `.bashrc`, I'm not able to do bash completion hitting <tab> for one command.

[code]
I had difficulties to figure out that bash completion was broken (for one command) by running npm version in background. I don't know if there are others impacts.

I tried running other command (not npm) in ba

[2020-12-07 10:38] boillodmanuel commented on #2292
(updated main description to steps to reproduce)

[2020-12-07 11:55] drake076 commented on #2274
Yes, I also face this kind of problem too, can any one suggest me the right way to [debugging](https://bestgolfiron2021.com/).

[2020-12-07 12:17] kramarz commented on #2286
7.0.15 does not allow to even create lock without access to the package:
[code]

[2020-12-07 12:17] david0709 commented on #2290
I also face this issue but I got a solution.
Steps
Click the green Create an account button. It's below the form.
Complete the CAPTCHA puzzle. ...
Click the Choose button for your desired plan. ...
Click the Verify email address button in the message from GitHub. ...
Review your plan selection and click [Continue](http://bestairfryers2021.com/). ...
Select your preferences and click Submit.

[2020-12-07 18:37] fabaf-in opened #2294 "I am unable to install react"
![image](https://user-images.githubusercontent.com/72220121/101390746-4fa9de00-38e9-11eb-97b6-876709f776ee.png)

[2020-12-07 18:48] ljharb commented on #2294
What version of node/npm?

[2020-12-07 19:00] fabaf-in commented on #2294
I found the issue
Node.js was not properly installed

Thanks for asking

[2020-12-07 19:04] MikeDepies opened #2295 "[BUG] npm login and npm adduser both return a 400 error bad request - email already registered"
### Current Behavior:
When trying to publish a package (first time) I'm running into this exception in the cli when attempting to login. I have created an account on npmjs and am trying to pair my cli. I get the following when using either command:
[code]

### Environment:
[code]

[2020-12-07 19:44] ljharb commented on #2295
When signing up, you use your email. When logging in, you use your password. The implication is that you already created your account.

[2020-12-07 19:46] #2294 closed, assigned to nobody

[2020-12-07 20:25] MikeDepies commented on #2295
How do I connect cli npm to my account then? That is the issue I am confused with. I did log in with my password.

I get the same error with both npm adduser and npm login.

[2020-12-07 21:06] pkuczynski opened #2296 "[BUG] npm prune --production removes packages referenced by url instead of version"
### Current Behavior:

My `package.json` looks like this:

[code]

After running `npm prune --production` this package gets deleted.

### Expected Behavior:

Package from `dependencies` should not be deleted.

### Steps To Reproduce:

1. `node:12-alpine` image
2. With above `package.json` (and equivalent `package-lock.json`)
3. Run `npm prune --production`
4. Package `my-package` is gone from `nod

[2020-12-07 21:06] pkuczynski commented on #2296
This seems to be similar to issue reported here https://npm.community/t/npm-prune-production-after-npm-ci-only-erroneously-uninstalls-regular-dependency/5055. Not sure if it was fixed or not...

[2020-12-07 21:10] pkuczynski commented on #2296
As a workaround, I can call `npm install --production` after running prune, and it will bring back deleted packages. This however confirms the issue with `npm prune` :/

[2020-12-07 21:35] ljharb commented on #2295
Have you tried entering your username and password, and not entering your email?

If that still doesn't work, i'd email support@npmjs.com.

[2020-12-07 22:06] MikeDepies commented on #2295
There is no option to not enter the email? Did you have reason to believe that there should be a different prompt? Your responses have been mildly confusing.

[2020-12-07 22:34] ljharb commented on #2295
@MikeDepies sorry if i've been confusing. What I mean is, when it prompts you for an email, just leave it blank and hit enter.

[2020-12-08 01:50] xswei commented on #2022
Are there relevant documents? thanks

[2020-12-08 03:12] MikeDepies commented on #2295
it literally won't proceed without one.

[2020-12-08 04:52] ljharb commented on #2295
In that case, I’d try emailing npm support.

[2020-12-08 11:04] kymok commented on #2276
Proxy is configured system wide and is set to automatically detect.

After submitting this issue I found out that a Symantec cloud proxy service is installed in my employer's network, so the problem was caused because of the way the security service behaves.

[2020-12-08 11:33] soullivaneuh opened #2297 "[BUG] Continuous lock diff update with gulp and gulp-cli"
### Current Behavior:

NPM dependencies update regularly produces a diff like that:

[code]

Or the reverse:

[code]

### Expected Behavior:

The packages should not be updated for nothing.

### Steps To Reproduce:

Run multiple time the following commands chain:

[code]

Note: Sometime, no diff is produced. But we can reproduce the problem with less than 10 runs.

### Environment:

- OS: Docker n

[2020-12-08 11:39] vikas17d opened #2298 "[BUG] <err>npm ERR! cb() never called!"

[2020-12-08 11:48] typno8-nEbtos-hibmik commented on #2298
[]()

[2020-12-08 12:10] leepowelldev opened #2299 "[BUG] NPM Install File System - No Peers/Deps Installed"
### Current Behavior:
Currently with NPM@6 if I install via the filesystem `file:` then the dependencies of the package I am installing are also installed, however no attempt is made with NPM@7.

### Expected Behavior:
NPM@7 should attempt to install the dependencies of the package installed via the filesystem - should it also attempt to install the peer dependencies to the top level?

### Steps T

[2020-12-08 14:07] pburkindine commented on #1599
We were experiencing a similar issue; it turned out to be the result of our antivirus policy.  There is a folder which on a linux machine is normally `~/.npm/_lock` which our AV needed to ignore.

[2020-12-08 16:33] nlf commented on #2276
thanks for following up! since it sounds like you've found the root cause on your end, i'm going to go ahead and close this issue

[2020-12-08 16:33] #2276 closed, assigned to nlf

[2020-12-08 16:42] ljharb commented on #2297
What happens with npm v7.0.15?

[2020-12-08 16:43] bradbeck opened #2300 "[BUG] npm config removes _auth from .npmrc"
### Current Behavior:
`npm config set <anykey> <anyvalue>` will result in `_auth=...` being removed from `.npmrc`

### Expected Behavior:
`npm config set foo bar` should not result in `_auth=...` being removed from `.npmrc`

### Steps To Reproduce:
1. `echo '_auth="xxx"' >> ~/.npmrc`
2. `cat ~/.npmrc` to see `_auth="xxx"` is there
3. `npm config set foo bar`
4. `cat ~/.npmrc` to see `_auth="xxx"`

[2020-12-08 16:44] ljharb commented on #2300
Does it still happen with v7.0.15?

[2020-12-08 16:46] bradbeck commented on #2300
Not sure, I haven't found a way to update npm in the node docker image.

[2020-12-08 16:48] ljharb commented on #2300
`npm install -g npm@7`?

[2020-12-08 16:53] bradbeck commented on #2300
The node docker image fails to update npm that way. Some permissions issue.

I have confirmed that it still happens for npm@7.0.15 on MacOS.

[2020-12-08 21:19] jonnhanks commented on #2298
I'm getting the same when running create-react-app.
npm -v = 6.14.8
nodejs -v = 14.15.1

Log:
[2020-12-08T21_13_51_657Z-debug.log](https://github.com/npm/cli/files/5661988/2020-12-08T21_13_51_657Z-debug.log)

[2020-12-09 01:13] jlorenzoC commented on #805
Hi. The same over here when i try to: `npm i @angular/material-moment-adapter `
[code]

[2020-12-09 02:22] Kreme-Donut commented on #2281
nlf, How do I update my npm from 6x to 7?

[2020-12-09 05:51] kymok commented on #2276
Thank you for taking your time!

[2020-12-09 07:06] zakisk opened #2305 "[BUG]npm ERR! cb() never called! npm ERR! This is an error with npm itself. Please report this error at: npm ERR! <https://npm.community>"
[2020-12-09T07_00_15_674Z-debug.log](https://github.com/npm/cli/files/5664038/2020-12-09T07_00_15_674Z-debug.log)

[2020-12-09 13:57] fengtaijun0507 opened #2306 "npm stuck too long on apple new m1 computer"
### Current Behavior:
Stuck at "reify:rxjs: timing reifyNode:node_modules/@vue/cli/node_modules/typescript Completed in 3254ms"! No any feedback!
<img width="978" alt="image" src="https://user-images.githubusercontent.com/14059031/101638252-cb7e6480-3a68-11eb-8a86-40aae874cd96.png">

### Expected Behavior:
install successfully!

### Steps To Reproduce:
npm install -g @vue/cli

### Environment:
- O

[2020-12-09 14:02] simbathesailor opened #2307 "How to differentiate between registry when scopes are same ?"
### Current Behavior:
I have two packages
 @simbathesailor/randomnumberlib from  registry : https://npm.pkg.github.com (private)
@simbathesailor/use-what-changed from registry : https://registry.npmjs.org/

Both the packages need to be consumed in the same repository.

How can I mention in the npmrc , that @simbathesailor/randomnumberlib  need to be fetched from github packages and
@simbathesailor

[2020-12-09 15:27] nlf commented on #2281
`npm install -g npm@7` should do the trick

[2020-12-09 15:32] nlf commented on #2307
currently, you can't. there is an RFC to allow for defining registry per-package instead of per-scope, but it has not been ratified or implemented yet. you can follow this issue for updates https://github.com/npm/rfcs/issues/275

[2020-12-09 15:32] #2307 closed, assigned to nlf

[2020-12-09 15:42] XhmikosR commented on #1905
This should be considered as a bug and should be higher priority IMHO. So many packages out there use `postinstall` scripts, and those are broken right now on npm 7.x.

[2020-12-09 15:57] shrinktofit commented on #1904
I think running unit tests within individual workspace(cd into it) is not possible if workspaces do not have their own node_modules(even with symbol links). 🙁

[2020-12-09 16:06] MohdRashid01 opened #2308 "How to Run Codelyzer Code From Command Prompt"
Hi All,

I got below error when i execute npm run lint command (ERROR : angular-seed@1.0.0 lint: `gulp tslint)

Actually i want to run my code through codelyzer and im following this link https://www.npmjs.com/package/codelyzer for installation or setup codelyzer in ubuntu.
image
![image](https://user-images.githubusercontent.com/7812871/101654634-bef90c80-3a66-11eb-95df-4b67e908297c.png)

Here is

[2020-12-09 16:18] raphinesse opened #2309 "[BUG] uninstall does not remove --no-save installed package from node_modules"
### Current Behavior:
If I install a package using the `--no-save` option, **it is not removed** from `node_modules/` upon its uninstallation.

### Expected Behavior:
If I install a package using the `--no-save` option, **it should get removed** from `node_modules/` upon its uninstallation.

_NB_: this is also how npm 6 behaves.

### Steps To Reproduce:
1. Run the following
[code]
2. Observe that

[2020-12-09 16:57] Carson21 commented on #502
I was having this issue as well but after installing the latest version of npm 7, the problem went away. @bnb

npm install -g npm@7

[2020-12-09 18:03] cehenriques opened #2310 "[BUG] npm 7.x installed but 6.x still shows as wanted"
### Current Behavior:
I installed npm 7 using the following command:
[code]

But if I check the global outdated packages I get one record about npm with:

- Current: 7.1.1
- Wanted: 6.14.9
- Latest: 6.14.9

### Expected Behavior:
The docs say that:
"If there's no available semver range (i.e. **you're running npm outdated --global**, or the package isn't included in package.json), then **wanted sho

[2020-12-09 19:43] Sid-Sun commented on #2298
+1 - When installing dependencies after ng new
npm -v = 6.14.8
[2020-12-09T19_34_26_169Z-debug.log](https://github.com/npm/cli/files/5668255/2020-12-09T19_34_26_169Z-debug.log)

[2020-12-09 20:17] targos opened #2312 "[BUG] npm 7 destroys itself if update is cancelled early"
### Current Behavior:

Because npm 7 is not latest yet, I have to remember to add the version number in my command to update it: `npm i -g npm@7`.
If I forget to do it, realize that shortly after launching the command, and stop the update with CTRL+C, npm doesn't work anymore (it cannot be found in the PATH). This is annoying because the only way to fix the broken state in my case is to switch to

[2020-12-09 20:28] gillius commented on #1397
This affects me, too. I'm fairly new with npm so maybe it's an edge case. But I don't know of any other way to represent the pattern of common / client / server (where server depends on client and common and client depends on common). I ran this initially on Windows where it worked perfectly but shocked when it didn't work on Ubuntu Linux.

For me, both npm install and npm ci fail, but for differe

[2020-12-09 22:02] meehow opened #2315 "[BUG] `npm install --prefix` doesn't install node_modules"
### Current Behavior:
`npm install --prefix tmp xxx.tar.gz` works as expected, but when I try to install from local directory `npm install --prefix tmp .`, then whole node_modules folder is not included there.

### Expected Behavior:

I expect to have node_modules folder with dependencies no matter if I install from directory or from archive.

### Steps To Reproduce:
`npm install -g --user root --

[2020-12-09 22:17] isaacs commented on #1905
Yes, this is a bug.  We misunderstood the initial report to be about deps being installed, not the install/etc scripts of the root project, sorry about that.

Will be fixed on the next release.

[2020-12-09 22:28] voltuer commented on #2194
So how am I supposed to run a script that needs user input when installing my script?

[2020-12-09 22:51] ljharb commented on #1397
What happens in npm v7.1.1?

[2020-12-09 22:52] ljharb commented on #2315
What happens with npm v7.1.1?

[2020-12-09 22:52] ljharb commented on #2194
Generally speaking, installs aren't a place where user input is available - consider installs in CI.

[2020-12-10 00:46] GrosSacASac commented on #2286
I belive the correct way to do it is:

npm i --production

npm ci never supported --production only (nothing in the doc)

[2020-12-10 01:12] meehow commented on #2315
@ljharb npm v7.1.1 installed package [root](https://www.npmjs.com/package/root) as a bonus, but nothing from actual dependencies.

[2020-12-10 05:27] ljharb commented on #2315
Typically, `--` commands require `=` - ie, `--user=root`. What happens if you use an `=` to attach each `--foo` to its value?

[2020-12-10 06:26] abaidabbott commented on #2120
please use the LTS version of node it help me a lot to save my life in peer dependencies tree errors
when install a dependency with npm in react-native it give me this error my issue resolve using LTS version of Node.

[2020-12-10 07:15] zdm commented on #2158
npm v7.0.15 - bug is present

[2020-12-10 07:26] ljharb commented on #2158
What about v7.1.1?

[2020-12-10 07:51] swathi19758 opened #2317 "Issues while installing dependances"
Hi All,
I am trying to install dependences for SNOW CLI using  npm install command . i am receiving an error called

**npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     `<https://npm.community>**`

Please suggest what to do

[2020-12-10 07:57] zdm commented on #2158
v7.1.1 - same problem

[2020-12-10 08:02] zdm commented on #2158
Also, if npm v7 now respects peer dependencies, I think it has sense to update peerDeps versions to the latest available matched version too.

[2020-12-10 08:03] ljharb commented on #2158
Updating peer deps is not safe, because that would be a breaking change, that a package author wouldn’t likely realize.

[2020-12-10 08:10] zdm commented on #2158
I mean, if you are the package maintainer, and you run `npm update` for your package.
[code]
will be updated to
[code]
It is safe, because it is not breaks initial version criteria.
Same algorithm, how regular dependencies versions updated.

[2020-12-10 08:14] ljharb commented on #2158
That is absolutely not safe - it makes v6 invalid, which is a breaking change. Peer deps are *very different* than deps in this way.

[2020-12-10 08:18] zdm commented on #2158
Ah, ok. Maybe you are right.

[2020-12-10 08:57] csvan commented on #2120
You can get the same behavior in npm7 by passing the `--legacy-peer-deps` flag for now

[2020-12-10 09:29] LiamJones-87 opened #2318 "Error when running 'npx cypress open'"
When running 'npx cypress open' I get the following error:

0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'cypess@latest',
1 verbose cli   '--global',
1 verbose cli   '--prefix',
1 verbose cli   'C:\\Users\\lijones\

[2020-12-10 09:33] #2318 closed, assigned to nobody

[2020-12-10 09:33] dickyindra commented on #2317
I also can't `npm install` on my project.

[code]

version
npm: v6.14.6

[2020-12-10 09:33] LiamJones-87 commented on #2318
Not an issue - typo.

[2020-12-10 10:16] IsmailTalhaKalkan opened #2319 "[BUG] Getting npm ERR! cb() never called! while installing any depencies"
### Current Behavior
I getting npm ERR! cb() never called while installing any depencies with "npm".I also tried with npm V7 and node 15.4.0 getting same error.

[code]

### Steps To Reproduce:

1. In command prompt
2. Reinstalled npm
3. Running command prompt as a adminastor
4.npm clear cache etc.

### Environment:
- OS: Windows 10
- Node: 14.15.1
- npm: 6.4.8

[2020-12-10T10_05_06_648Z-debug.log

[2020-12-10 10:58] meehow commented on #2315
@ljharb with `--user=root` there is no extra dependency installed, but needed dependencies are still not there

[2020-12-10 11:18] protyposis commented on #2186
Seems to be fixed in 7.1.1, thanks!

[2020-12-10 11:18] #2186 closed, assigned to nobody

[2020-12-10 11:18] protyposis commented on #2162
Fixed in 7.1.1, thanks!

[2020-12-10 11:18] #2162 closed, assigned to nobody

[2020-12-10 11:41] swathi19758 commented on #2317
what can be done in this case.

[2020-12-10 12:09] eoinion commented on #2319
i am also having this issue!

OS: Windows 10
Node: 12.16.1
npm: 6.13.4

[2020-12-10 13:47] georgeous11 commented on #2319
I also have same issue.

OS: Windows 10
Node: 14.15.1
NPM: 6.14.9
[2020-12-10T13_33_44_033Z-debug.log](https://github.com/npm/cli/files/5673155/2020-12-10T13_33_44_033Z-debug.log)

[2020-12-10 14:32] Jack-Works opened #2320 "[BUG] npm i add invalid version to package.json"
### Steps To Reproduce:

[code]

[code]

Run `npm i sub` in `/`. Sub package will be linked (that is correct). But wrong item is added to `/package.json` `"sub": "^"`, which should be `"sub": "*"` because sub doesn't have a version field.

### Environment:

- Node: 14
- npm: 7.1.1

[2020-12-10 14:51] hk185104 opened #2321 "npm uninstall adds devDependencies"
### Current Behavior:
I have a list of dependencies and devDependencies in `package.json`. Using `npm install --production` works as expected, none of the devDependencies are installed. However, if I ever uninstall one of the dependencies, it installs the devDependencies along with it.

### Expected Behavior:
Uninstalling a package should not install the devDependencies

### Steps To Reproduce:
1.

[2020-12-10 15:03] ljharb commented on #2320
cc @ruyadorno

[2020-12-10 15:03] ljharb commented on #2321
What happens with npm v7.1.1?

[2020-12-10 15:11] hk185104 commented on #2321
The same behavior is seen in 7.1.1.

[2020-12-10 16:45] artus opened #2322 "[BUG] NPM UPDATE removes dependencies"
### Current Behavior:
`npm update --no-save --dev` removes dependencies from the `node_modules` folder.

Also, [the documentation](https://docs.npmjs.com/cli/v6/commands/npm-update) states that **As with all commands that install packages, the `--dev` flag will cause devDependencies to be processed as well.** but I can't find the `--dev` flag in any other part of the documentation. Shouldn't it be

[2020-12-10 16:53] ljharb commented on #2322
By default, npm update covers all deps including dev deps (but not transitive dev deps, which is what the dev flag is for). Can you just omit the flag?

[2020-12-10 17:07] artus commented on #2322
Thanks for the quick reply @ljharb

I removed the `--dev` parameter but the behaviour still persists. I tried to replicate this with a minimal setup but I am not able to. As I am experiencing this issue on a corporate codebase I'm not able to share with you my setup :/

[2020-12-10 17:16] ljharb commented on #2322
Every npm installation command prunes anything from node_modules that isn’t in package.json. What are the things being removed?

[2020-12-10 17:32] artus commented on #2322
It's always the same package, which is installed as a dev dependency. I now remember that I linked the dependency using `npm link` some time ago. I didn't see any symlinks in the `node_modules` folder anymore, but I still ran `npm unlink <path-to-dev-dependency>` anyway, and now the issue seems to be resolved.

Could `npm link` have been the cause of this?

[2020-12-10 17:59] ljharb commented on #2322
Yes; pruning would have removed the link, and if it was in package.json, would have installed whatever was specified there.

[2020-12-10 18:40] artus commented on #2322
The dev dependency was always included in the package.json, I linked it while doing a code change. I forgot about the link, but the `npm update --no-save` should've removed the link anyway. Now that I manually ran `npm unlink` the issue does not appear anymore. I am at a complete loss, it doesn't make sense.

But all the better if it doesn't happen anymore!

Can I find some more information about

[2020-12-10 22:35] isaacs commented on #2033
This was an oversight and is a bug in `@npmcli/config`.  Will be fixed shortly.

[2020-12-10 22:43] isaacs commented on #2320
Maybe `^` _should_ be a valid range?  `^*` is valid, and `''` is equivalent to `'*'`, after all.  🤔

[2020-12-10 22:58] isaacs commented on #2300
This is happening because `xxx` is not a valid `_auth` field.

In order for credentials to be saved, a username, email address, and password must all be set, and it is re-saved to the config file scoped only to the proper registry.

This works as expected, for example:

[code]

[2020-12-11 00:11] ljharb commented on #2320
eesh, that seems too magic to me. `~` would be, would `>=` and `<` etc all be also?

[2020-12-11 01:08] isaacs commented on #2300
Note that `_auth` must be a base64-encoded `username:password` pair.  It's then saved with the username and password as shown.

[2020-12-11 01:10] isaacs commented on #2310
This is because it prefers the `latest` dist-tagged version, and `npm@latest` is still v6.  Please be patient, we'll make it the default approved release very soon :D

[2020-12-11 01:10] #2310 closed, assigned to nobody

[2020-12-11 01:12] isaacs commented on #2320
`>*` and `<*` are both null sets (since they're "less than everything" or "greater than everything").  But `>=`, `<=`, `^`, `=`, and `~` would all become synonyms for `*` if we did that.

Kind of off-topic, sorry.  Bottom line, we shouldn't be saving a dep range with a prefix attached to an empty version field 😅

[2020-12-11 02:23] 0xAC7 opened #2326 "[BUG] common dependency maybe installed to the wrong place"
### Current Behavior:
uuid@3.4.0 install inside the root node_modules folder.

### Expected Behavior:
uuid@3.4.0 installed inside request/node_modules folder.

### Steps To Reproduce:
1. Run 'npm init -y'
2. copy the following json to package.json
[code]
3. Run 'npm install'
4. both request@2.88.2 and sockjs@0.3.20 need uuid@3.4.0，so it should be install inside root node_modules. however it instal

[2020-12-11 02:46] Jack-Works commented on #2320
So it's a dependabot bug? 🤔 (See https://github.com/DimensionDev/Maskbook/issues/2073)

[2020-12-11 03:44] ljharb commented on #2326
Do you perhaps have another uuid in the root?

What happens with npm v7.1.1?

[2020-12-11 04:02] billyadelphia commented on #2319
same issue

OS: Ubuntu 20.04 WSL2 on Windows 10
Node: v14.15.1
NPM: 6.14.9

[2020-12-11T03_55_15_606Z-debug.log](https://github.com/npm/cli/files/5676996/2020-12-11T03_55_15_606Z-debug.log)

[2020-12-11 04:42] YashKumarVerma commented on #2281
I tried reproducing the issue but faced no errors.  Please note that I performed on a clean ubuntu docker container.

![image](https://user-images.githubusercontent.com/14032427/101862988-46df3380-3b99-11eb-98ae-241dd1f0b743.png)

[2020-12-11 04:48] YashKumarVerma commented on #2317
Thanks for reporting the issue, could you share the link/steps to repo. the issue?

[2020-12-11 05:04] georgeous11 commented on #2319
I solved all my issue. It was my antivirus preventing me from accessing my file which was on the desktop. All I did was restart my PC, left all other programs closed, and ran CMD. The first instance my antivirus told me it blocked access for node to the folder, I allowed exception, cleared cache and it ran. Hope all works out for you all having this same issue.

[2020-12-11 06:15] 0xAC7 commented on #2326
I tried npm@v7.1.1, it's right.
It should be noticed that 'react-native-uuid's bin name in package.json is same with 'uuid' (all called 'uuid').

[2020-12-11 07:29] wsdt opened #2327 "[BUG] Abort npm-commands that modify package.json if file is not writeable"
### Current Behavior:
When installing or removing packages, the npm-cli installs/removes the package and just "tries" to add/remove it from package.json.

### Expected Behavior:
Developers should be at least notified when package.json is not writeable, to avoid later confusion. Even better would be that command fails, as modifying the package.json could be considered more important than the actual

[2020-12-11 08:36] ljharb commented on #2326
If npm v7 works, then i'd say the bug is fixed - v6 isn't going to be fixed at this point.

`react-native-uuid` having a name of `uuid` is very strange, and i'd even say that's a bug in that package.

[2020-12-11 08:40] 0xAC7 commented on #2326
got it. thanks for your reply.

[2020-12-11 12:19] hamiltonsalazar opened #2328 "[BUG] Error: getaddrinfo EAI_FAIL http://epi:1234@127.0.0.1:5984"
### Current Behavior:

I'm new using npm. I'm implementing a class project, I've followed the installation instructions to the letter but when i try to run the project it was break.

Error:

I don't know why this mentions to `http://epi:1234@127.0.0.1:5984`, it's my connection with CouchDB, mi usser, password, address and port.

### Expected Behavior:

-Project running.

### Steps To Reproduce:

I

[2020-12-11 12:59] mortentangen commented on #329
Any progress on this bug? This is an issue for react native development with cocoapods as the *.podspec file of react native libraries often depend on the author field in package.json (i.e. https://github.com/react-native-webview/react-native-webview/blob/v11.0.2/react-native-webview.podspec#L11).
The Podfile.lock file contains a checksum of the library based on the content of the podspec file. np

[2020-12-11 13:40] malkavsheir commented on #2305
I am also getting this when installing create-react-app.
`npx create-react-app my-app`

[code]
[code]
[2020-12-11T12_21_36_448Z-debug.log](https://github.com/npm/cli/files/5679389/2020-12-11T12_21_36_448Z-debug.log)

[2020-12-11 14:21] bradbeck commented on #2300
@isaacs This appears to be a change in behavior relative to versions prior to npm v7. Is the methodology you describe backward compatible? If so, how far back?

[2020-12-11 14:40] mrpickles3rd commented on #1916
I had the same issue when I was connected to a slow VPN, 4 or 5 time it errored.
Disconnecting from it and having a good network connection fixed it for me.

[2020-12-11 14:56] voltuer commented on #2194
good point, hadn't seen it that way

[2020-12-11 14:59] bradbeck commented on #2300
@isaacs The methodology you describe does not seem to work for `~/.npmrc` and `npm config set foo=bar`. `_auth` still gets removed but it not replaced with username and password as you describe.

[2020-12-11 15:59] bradbeck commented on #2300
In versions prior to npm v7 we used to be able to use the following to configure authentication:
[code]
With npm v7+ it does not appear to be possible to use `npm config set ...` to set `email` or `_auth`. A sequence like the following is required to get authentication working:
[code]
or
[code]

[2020-12-11 16:46] #2326 closed, assigned to nobody

[2020-12-11 16:54] jsg2021 opened #2329 "[BUG] npx does not attempt to get newer versions"
### Current Behavior:
I have been using `npx <some-workflow-helper>` over the past year to run the current version of a command without having to manage updating it. npm7 does not pull the latest version if I have run it once before... i suspect because its no longer a temp install...

### Expected Behavior:
`npx some-package` always runs the latest published version.

### Steps To Reproduce:
1. `

[2020-12-11 16:56] ljharb commented on #2329
If it’s installed locally or globally, it won’t fetch a version. If you want to force that, add `@latest`

[2020-12-11 17:18] paddor commented on #2118
Is a backport to 6.x possible?

[2020-12-11 17:49] jsg2021 commented on #2329
If I never "install" it and only use `npx <>` to run it, on npm6 you would always get the latest without extra args. Also, it wasn't actually installed, it was only temporarily installed... after running it was discarded. We lost that on npm7.

[2020-12-11 17:53] jsg2021 commented on #2329
I should amend ... yes, if the command exists it should obviously prefer that one.  However, a command installed by npx should not be considered "installed"

[2020-12-11 19:05] isaacs commented on #2250
Use `--` to prevent npm from parsing flags and switches on the command line.  Not likely to be fixed any time soon, since a _lot_ of code out in the wild depends on `npm <some command> --my-custom-thing=whatever`

[2020-12-11 19:05] #2250 closed, assigned to nobody

[2020-12-11 19:06] isaacs commented on #2250
[code]

[2020-12-11 19:46] #2320 closed, assigned to nobody

[2020-12-11 20:28] NukeJS commented on #2305
I am also getting this error when using `npx create-nuxt-app app`.
[code]
[code]
[2020-12-11T20_20_18_955Z-debug.log](https://github.com/npm/cli/files/5681492/2020-12-11T20_20_18_955Z-debug.log)

[2020-12-11 20:55] #2033 closed, assigned to isaacs

[2020-12-11 20:55] #1905 closed, assigned to nobody

[2020-12-11 20:55] #2021 closed, assigned to isaacs

[2020-12-11 22:02] isaacs commented on #2320
I think I'm suggesting a SemVer feature request, actually.  Dependabot is fine 😅

[2020-12-11 22:08] Geod24 commented on #2033
@isaacs : I don't see any test in the above commit, so this could regress in the future.

[2020-12-11 23:20] isaacs commented on #2308
Hi, @MohdRashid01.

Unfortunately, there is little I can do to help you.  This is a problem you are encountering with the packages you have installed with npm, but not with npm itself.  We do not maintain angular or codelyzer, and have no knowledge of how they work or why they might not be working in your case.

I recommend that you try running `npm bug codelyzer` and post an issue there.

[2020-12-11 23:20] #2308 closed, assigned to nobody

[2020-12-11 23:26] isaacs commented on #2321
This has been the case for quite some time.  Both `install` and `uninstall` work in a similar fashion:

- add/remove the arguments to/from the list of dependencies in `package.json`
- build the ideal tree with those changes to the dependency list
- reify that ideal tree onto disk

So, the first `install` is done with `--production`, but the `uninstall` needs to _also_ be done with `--production`.

[2020-12-11 23:27] #2321 closed, assigned to nobody

[2020-12-12 00:01] typno8-nEbtos-hibmik opened #2336 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-12-12 08:00] redfire75369 opened #2337 "[BUG] npm exec does not pass switches to the inner function"
### Current Behavior:
When entering this command, `npm exec --no babel --watch src --out-dir dist`, the output is all of the compiled files in text, which is the behaviour of `npm exec --no babel src`. This command, `npm exec --no -c "babel --watch src --out-dir dist"` has to be run for the expected behaviour.

### Expected Behavior:
Console Output of `Successfully compiled 21 files with Babel`.
A

[2020-12-12 10:00] Man-RP opened #2338 "[BUG] npm ERR! cb() never called!"
### Current Behavior:
I'm getting:
[code]
when trying to `npm install` to complete without errors

### Expected Behavior:
Finish install without errors

### Steps To Reproduce:
cloned repo from gitlab and typed `npm install`.
tried to `npm cache clean --force` , clone the repo in alternative directory, reinstall node and update npm.

### Environment:

- OS: MS Windows 10
- Node: 14.15.1
- npm: 6.1

[2020-12-12 11:59] garciaalvaro opened #2339 "npm v7 does not install linked packages dependencies"
### Current Behavior:
npm v7 does not install linked local packages dependencies.

### Expected Behavior:
In npm v6 the dependencies of a local linked package are installed. This means that if `app` has `my-local-pkg` as a dependency, running `npm install` generates `app/node_modules` folder and also `my-local-pkg/node_modules` (with its dependencies).
In npm v7, however, only `app/node_modules` i

[2020-12-12 23:26] aaronadamsCA commented on #564
I'm surprised nobody appears to have mentioned caching `~/.npm` in this thread; it really seems to be the best solution to this problem.

It's [shown as an example in the npm docs](https://docs.npmjs.com/cli/v6/commands/npm-ci), but it's not called out as a best practice; I think it should be. If the desired outcome is speed and reliability, rebuilding `node_modules` from a local NPM cache would s

[2020-12-13 00:06] DanielRuf commented on #564
This would be new to me, because so far npm still copies files into node_modules - it's far from what pnpm does.

In your case lerna does the symlinking stuff, not npm ;-)

See:
https://www.npmjs.com/package/@lerna/symlink-binary
https://github.com/lerna/lerna/blob/main/utils/symlink-binary/symlink-binary.js

[2020-12-13 00:07] DanielRuf commented on #564
This would be new to me, because so far npm still copies files into node_modules - it's far from what pnpm does.

In your case lerna does the symlinking stuff, not npm ;-)

See:
https://www.npmjs.com/package/@lerna/symlink-binary
https://github.com/lerna/lerna/blob/main/utils/symlink-binary/symlink-binary.js

Lerna itself is a monorepo tool which can use npm or yarn as npm client.

[2020-12-13 05:58] #1916 closed, assigned to nobody

[2020-12-13 10:29] jotatoledo commented on #564
@aaronadamsCA In my use case, saddly the angular-cli produces artifacts that are stored in node_modules at project level. So the naive solution would be to cache that folder, which leads to the problem described in the thread. So yeah, ~/.npm is not a solution for all cases

[2020-12-13 10:47] zanona commented on #517
I agree with the author.
My use case:
1. I have projects which I develop in parallel that rely all on the same package I maintain.
2. Since my workflow runs under a docker environment, NPM link it's not a good fit since each project container does not share the same file system paths;
3. I use `mount --bind /path/to/shared  project-a/node_modules/@scope/shared` and so forth to override that specif

[2020-12-13 11:06] typno8-nEbtos-hibmik commented on #517
- [ ]

[2020-12-13 11:15] #2336 closed

[2020-12-13 13:48] jlguenego opened #2340 "package.json scripts with nodemon do not find ts-node."
Note on possible duplicata: I have searched without success an existing issue with nodemon and ts-node, but not found.

### Current Behavior:
Scripts declared in `package.json` under the `scripts` section do not behave as previous npm version (<7).
Example with nodemon, and ts-node (typescript):

[code]

[code]

### Expected Behavior:
As with the previous npm version,
[code]

### Steps To Reproduc

[2020-12-13 15:43] isaacs commented on #2309
Confirmed.  This appears to be a bug in how we're handling the fake `{}` package we use when there's no package.json in the root project, combined with using the `actualTree` as the effective starting `idealTree` when there's no package-lock.json present.  If there's either a package.json _or_ a package-lock.json that declares the deps present, it does properly remove them.  If neither of those ar

[2020-12-13 15:48] ptvandi commented on #1075
@R-obert I believe this error should probably be handled, but my understanding from the docs is that `npm ls` expects a package name, not just the scope.

In my case, I was trying to track down `@emotion` to determine why it was getting bundled in one of my chunks. I came across this error because I was running `npm ls @emotion`. Adding the package name `npm ls @emotion/stylis` resolved the error

[2020-12-13 17:30] paulsmithkc commented on #2295
I have the same issue when trying to login on a second computer.

[2020-12-13 20:54] John67gr commented on #2214
I have the same problem how can I fix that?

[2020-12-13 22:38] Hy-light opened #2341 "Error message when running create-react-app"
I get this error anytime i run "npx create-react-app my-app"

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Walter\AppData\Local\npm-cache\_logs\2020-12-13T22_24_53_249Z-debug.log

Aborting installation.
  npm install --

[2020-12-13 23:18] ljharb commented on #2341
What version of node/npm?

[2020-12-13 23:25] Hy-light commented on #2341
v15.2.0/v7.0.8 respectively

[2020-12-13 23:56] ljharb commented on #2341
Can you also try npm v7.1.2?

[2020-12-14 01:48] Hy-light commented on #2341
Yes i just did, and i still have the same error message

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Walter\AppData\Local\npm-cache\_logs\2020-12-14T01_46_02_115Z-debug.log

Aborting installation.
  npm install --save

[2020-12-14 03:20] nmm-shumway commented on #564
If it does actually symlink, then I would still consider that to be a suboptimal solution. On a local computer it would have the side-effect of tying together the installs of multiple projects, and it means that I'm no longer thinking about my project code in a self-contained way. I don't like the idea that I might temporarily mess with a dependency while debugging one project on a work computer a

[2020-12-14 04:57] MohdRashid01 commented on #2308
For that issue i have solved it.

But i want to know how to run codelyzer code ...how they scan the code and how it show output in terminal or command prompt NOT IN BROWSER.

Please tel me how can i do it.

[2020-12-14 11:22] kramarz commented on #2286
But it works as long as you have a lock that includes devDependencies. In such situation If you then use `npm ci --only=production` then it skips devDependencies. It fails on check phase if lock does not contain devDependencies which would be skipped anyway.

[2020-12-14 12:33] Derygo commented on #2214
Hey,

 just try to reinstall. It worked for me.

2020-12-13, sk, 22:54 John67gr <notifications@github.com> rašė:

[2020-12-14 13:27] DanielRuf commented on #564
npm does not symlink anything in node_modules by default. I think you misunderstood what I've meant.

[2020-12-14 13:28] DanielRuf commented on #564
In geneal you should never have to touch and edit any file in node_modules.

[2020-12-14 16:22] dominykas opened #2343 "[BUG] shrinkwrap and bundledDependencies not respected for aliased packages"
### Current Behavior:

When a package has a shrinkwrap which includes an aliased dependency (e.g. `"lodash4": "npm:lodash@^4.17.19"`), it will installed the latest version of that dependency that matches the range in the `package.json`, but not the version that is in the shrinkwrap, when installing with the `-g` flag.

#### Example: aliased

https://github.com/dominykas/test-things/blob/a6ea7ed9bc

[2020-12-14 16:28] dpkirchner commented on #2108
This also affects npm 7.0.15, albeit with different results. Here's an easy way to repro (note that the docker image contains an older npm, the upgrade instructions don't work inside the container):

[code]

[2020-12-14 16:29] ljharb commented on #2108
What about npm v7.1.2?

[2020-12-14 17:10] dpkirchner commented on #2108
Unfortunately it's not possible to upgrade npm globally inside the docker image so I can't compare like-for-like (that's an unrelated issue). However, you can see the bug when you install npm locally:

[code]

[2020-12-14 17:25] Yuri6037 opened #2345 "[BUG] npm run not working on every packages"
### Current Behavior:

Some packages (especially privately hosted ones) fails when invoked by a script of another package. The error is always the same: 127 meaning command not found.
All of the private packages exposes a main.js which redirects to an index.js generated by tsc at package build time. I verified that both the index.js and main.js exists. Each private package.json has a bin entry map

[2020-12-14 17:47] dclifestyle opened #2346 "[BUG] <title>npm error cb() never called!"
Your environment has been set up for using Node.js 15.4.0 (x64) and npm.

C:\Users\Dylan>cd desktop

C:\Users\Dylan\Desktop>cd Robert Bot

C:\Users\Dylan\Desktop\Robert Bot>npm init
This utility will walk you through creating a package.json file.
It only covers the most common items, and tries to guess sensible defaults.

See `npm help init` for definitive documentation on these fields
and exactly

[2020-12-14 18:21] JohnVazguz commented on #1026
no, i cant

[2020-12-14 18:41] ljharb commented on #2345
What do you mean, "a script of another package"? Scripts are only runnable in the current package; binaries (the "bin" field) are what's runnable from installed packages.

[2020-12-14 18:58] Yuri6037 commented on #2345
By other package I mean:
- Package A built as said in steps 1-2
- Package B is the electron app
- Package B refers to Package A by one of it's script and a dev dependency
- npm install is ran over Package B to allow Package A to be installed

[2020-12-14 21:44] Zr0-Con commented on #2346
that keeps happening to me

[2020-12-14 23:02] Admiralfeb opened #2350 "[BUG] npm run [command] -- [--arg] does not pass the arg"
### Current Behavior:
Attempting to run this command against create-react-app `npm run test -- --coverage --watchAll=false`
When npm registers and begins the execution, it states that it is running `react-scripts test` with neither flag

### Expected Behavior:
I should be getting `react-scripts test "--coverage" "--watchAll=false"`

### Steps To Reproduce:
1. npx create-react-app test
2. cd to new

[2020-12-15 04:00] gillius commented on #1397
I tried npm@next-7 and got v7.1.2 and npm ci runs for me there. So now I have to think about what I want to do, run with non-standard npm version or find some workaround. To be honest, I didn't quite understand thesalmondiae's workaround. I think another alternative is yarn which seems to handle the concept of multi-module better. I'm still trying to understand what is the "standard" approach to t

[2020-12-15 07:34] 1036875207 opened #2351 "[BUG] when using npm install, package.json has no change, but package-lock.json automatically changed"
![image](https://user-images.githubusercontent.com/25496705/102183300-92227a80-3ee8-11eb-9373-364ed7041d02.png)
devDependencies @vue/cli-service
@vue/cli-service requires "vue-loader-v16": "npm:vue-loader@^16.0.0-beta.7"

while using npm install, package-lock.json auto updated vue-loader-v16,
for keeping exactly the same dependencies, package-lock.json should not get auto updated

npm version 6.14

[2020-12-15 07:36] ljharb commented on #1397
It's not "non-standard" - it's just not marked as "latest" yet. npm 6 will never be fixed, and sometime early next year, npm plans to mark v7 as "latest".

[2020-12-15 07:37] ljharb commented on #2351
What happens in npm v7.1.2?

[2020-12-15 07:41] Jack-Works commented on #2291
https://github.com/npm/cli/blob/bf09e719c7f563a255b1e9af6b1237ebc5598db6/node_modules/%40npmcli/arborist/lib/arborist/build-ideal-tree.js#L226

I guess the problem is here. In my debug process, the `fsevents` is `optional: false` but `devOptional: true` so maybe it should be

[code]

@isaacs is that right?

[2020-12-15 08:03] 1036875207 commented on #2351
npm v7.1.2

vue-loader-v16 also get auto updated to @16.1.1

[2020-12-15 08:20] sheikx1221 opened #2352 "error cb() never called!"
### Current Behavior:

Unable to Complete Installation of node modules for Nest.js Project

### Expected Behavior:

Installation should be handled by npm

### Steps To Reproduce:

1. Use a nest js project
2. npm install --verbose

### Environment:

- Node: 14.15.0
- npm: 6.14.8

[2020-12-15 12:01] mefyl commented on #2062
I can reproduce a similar problem, but have a slightly different diagnostic. I'm not sure it's related to `--unsafe-perm` since it always happens when running as root (eg. containers). More importantly, when looking at the install logs, I think npm might actually call the prepare script since we get:

`npm verb prepareGitDep undefined: installing devDeps and running prepare script.`

The `dist/` d

[2020-12-15 12:48] eoinion commented on #2352
+1, having the same issue myself when using npm login or npm install commands.
Node: 14.15.1
npm: 6.14.8

[2020-12-15 15:53] tiegz commented on #1615
I think this package might have run into the same issue: https://www.npmjs.com/package/buildmail . All versions are deprecated except for the one with the hyphen: `3.0.0-beta.0`

[2020-12-15 17:13] isaacs commented on #2033
@Geod24 The tests are in https://github.com/npm/config/commit/707088535f66c63e39dde7544b8f0dc7194e51a5  This is a bug in @npmcli/config, not in the cli itself.

[2020-12-15 17:32] aaronadamsCA commented on #564
My mistake, I blame late night brain! I was looking at the `ls` column that counts hard links - _for files_. For directories, obviously it just counts the number of directory entries. 🙈

@nmm-shumway, I'm not! (Although `npm ci` is plenty fast for me now that I cache `~/.npm` in CI.)

[2020-12-15 19:11] #2309 closed, assigned to isaacs

[2020-12-15 19:56] isaacs commented on #2300
Aha, seems like the issue here is that `npm config set email my@example.com` is failing, that's the bug here.  Email should be able to be set separate from credentials.  This works in the meantime:

[code]

[2020-12-15 20:44] TechQuery commented on #805
Even `npm whoami` & `npm login` throw the same `403` error...

[2020-12-15 20:54] ruyadorno commented on #1935
@3cp to answer to the first question: the packages are not installed as a global npm package, each npx install is placed in a separated hash-named folder within the npm cache folder, ref: https://github.com/npm/cli/blob/latest/lib/exec.js#L269

You can look them up with: `ls $(npm get cache)/_npx` if you ever would want to take a peek at them.

[2020-12-15 21:04] ruyadorno commented on #2233
This should have been fixed in: https://github.com/npm/arborist/pull/191 and should be available from the [`npm@7.1.1`](https://github.com/npm/cli/releases/tag/v7.1.1) release.

[2020-12-15 21:04] #2233 closed, assigned to isaacs, ruyadorno

[2020-12-15 21:31] jeremy-coleman opened #2359 "npm cli v7 doesn't find/install newly released packages that are in the registry"
### Current Behavior:
NPM cli version 7 doesn't install packages that are recently released. It's almost like npm 7 is pointing to a different registry that is a delayed mirror of the registry used for v6.

### Expected Behavior:
The package that's shown available in the registry should install. For example, typescript 4.0.13 didnt install for a couple days after release. @fluentui/react never ins

[2020-12-15 21:42] Edu93Jer commented on #2029
@darcyclarke - @isaacs, so I just added the "max-len" to the .eslintrc.json, but what do you mean with make it work?
It should be working right, just adding this rules...
`"max-len": ["error", 80, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }]`

[2020-12-15 22:41] tiegz commented on #1615
Here's another example: https://www.npmjs.com/package/glamorous

[2020-12-15 23:09] Zr0-Con commented on #2346
when do people resopnd

[2020-12-15 23:31] isaacs commented on #2300
Will be fixed on next npm release, with @npmcli/config@1.2.8

[2020-12-16 00:52] isaacs commented on #2029
Well, there are quite a few places (iirc?) that are longer than 80 chars.  So `npm run lint` should not raise any errors with that option.

[2020-12-16 04:30] dominikj111 opened #2363 "Not workig "npm install" after Big Sur upgrade."
### Current Behavior:
Whenever I'll `npm install` it end with the message **Maximum call stack size exceeded**.

### Expected Behavior:
It will finish as usual.

### Steps To Reproduce:
Not sure as I'm only one in the team as far as I know.

### Environment:
ProductName:    macOS
ProductVersion: 11.0.1
Darwin: 20.1.0
nodejs: v14.15.1
npm: v6.14.8

The problem is with any possible installation of n

[2020-12-16 05:57] SeanDunford commented on #318
Does this mean that git hosted repos with gitRange should be avoided?

Just added one of these to my project and started noticing the error.

[code]

Is there a patch for `const sameRepo = npa(child.package._from).fetchSpec === requested.fetchSpec` that doesn't depend on the nonexistent `child.packge._from` value?

Edit: Duplicates https://github.com/npm/cli/issues/2262 https://github.com/npm/cli/

[2020-12-16 09:58] eoinion commented on #2352
I got this resolved on my end.
My .npmrc file had proxy and https-proxy set up, not sure how they got in there.
I commented out both lines, saved file and working again as normal.

[2020-12-16 09:59] eoinion commented on #2338
I got this resolved on my end.
My .npmrc file had proxy and https-proxy set up, not sure how they got in there.
I commented out both lines, saved file and working again as normal.

[2020-12-16 09:59] eoinion commented on #2305
I got this resolved on my end.
My .npmrc file had proxy and https-proxy set up, not sure how they got in there.
I commented out both lines, saved file and working again as normal.

[2020-12-16 10:00] eoinion commented on #2319
I got this resolved on my end.
My .npmrc file had proxy and https-proxy set up, not sure how they got in there.
I commented out both lines, saved file and working again as normal.

[2020-12-16 15:14] raphinesse commented on #2339
Same behavior with `npm@7.2.0`

[2020-12-16 16:16] AnnatarHe commented on #2306
![image](https://user-images.githubusercontent.com/8704175/102374901-d2731d00-3ffc-11eb-9e14-d9c0a3086d63.png)

stuck here more than 1 hour

and the *task manager* shows that `node-pre-gyp` is running:
![image](https://user-images.githubusercontent.com/8704175/102375377-6a710680-3ffd-11eb-826b-59cb29b5ad7c.png)

Environment:
Device name	Anton
Processor	AMD Ryzen 7 1700 Eight-Core Processor

[2020-12-16 17:12] isaacs commented on #2300
So, just to clarify:

- `npm config set _auth=xxx` will fail if `email` is not set.
- `npm config set email=x@y.com` will work, even if `_auth` is not set.
- `npm config set email=x@y.com _auth=xxx` will always work (ie, adding two configs in one command).
- in all cases, the authentication settings will still be scoped to a given registry, so it's important to either set that registry config _fir

[2020-12-16 17:28] ghost opened #2364 "[BUG] npm ERR! cb() never called!"
### Current Behavior:
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>
[2020-12-16T17_19_50_540Z-debug.log.txt](https://github.com/npm/cli/files/5704369/2020-12-16T17_19_50_540Z-debug.log.txt)

### Expected Behavior:
creating new angular project

### Environment:
- OS: Windows 10
- Node: 14.15.2
- npm: 6.14.9

[2020-12-16 18:11] DCarvalho44 commented on #2364
Hi, I have the same problem and I wondering if  you have could solved, I already tried to clean the cache but the problem continuous.

[2020-12-16 18:17] DCarvalho44 commented on #2352
Hi, I have the same problem and I wondering if  you already had solve, I already tried to clean the cache but the problem continuous, eoinion could you please explain better how you solved the problen, where i can find the .npmrc fil,   thanks

[2020-12-16 18:20] aminya commented on #805
For me, I was trying to publish a package under my personal name, while I was logged in as the organization I own. It was fixed by relogging by `npm login`.

[2020-12-16 18:27] eoinion commented on #2352
Your .npmrc should be in your C://Users/{{account name}}

Open the file with a text editor and remove proxy entries. Save file.

[2020-12-16 19:04] DCarvalho44 commented on #2352
what happen if in the .npmrc there is only one line and it's not proxy entries.

[2020-12-17 00:39] Tajmirul opened #2365 "<BUG> cb() never called!"
I was trying to create a new react app by the command:
`npx install create-react-app my-app`

After a few minutes, I give an error.
`npm ERR! cb() never called!`

### Environment:

- OS: Windows 10 pro
- Node: 14.15.0
- npm: 6.14.8

![image](https://user-images.githubusercontent.com/62275307/102423233-c1dd9980-4032-11eb-9b4d-d998b339f299.png)

[2020-12-17 01:20] Sanan1980 opened #2367 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-12-17 02:32] Sanan1980 opened #2369 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-12-17 02:32] Sanan1980 commented on #2369
- [ ]

[2020-12-17 04:20] J-Rojas commented on #1752
Hmm so are nested workspaces currently supported? Is this feature currently tracked somewhere? I can confirm nested workspaces are not being hoisted into the root workspace or being added to the nested workspaces node_modules.

[2020-12-17 07:06] #2367 closed, assigned to nobody

[2020-12-17 07:06] #2369 closed, assigned to nobody

[2020-12-17 10:16] dhivya301 opened #2371 "[BUG] <cb() never called>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-12-17 15:35] j1elo opened #2372 "[BUG] npm install replaces links with downloaded modules"
---- EDIT 2021-05-10: Added [how to reproduce](https://github.com/npm/cli/issues/2372#issuecomment-836989211) in comment below.

npm install replaces link with downloaded module

### Current Behavior

After running `npm link`, a symlink is created to the target dependency. Afterwards, other `npm` commands such as `npm install` **will break** the mentioned link:

[code]

### Expected Behavior

Afte

[2020-12-17 15:45] j1elo commented on #2372
In case this could be helpful for anyone, I was able to work around this issue by using `npm install <path>` instead of `npm link`:

[code]

[2020-12-17 16:33] #2371 closed, assigned to nobody

[2020-12-17 17:12] wujingquan opened #2374 "[BUG] npm ERR! cb() never called!"
### Current Behavior:

[2020-12-17T17_04_14_325Z-debug.log](https://github.com/npm/cli/files/5711034/2020-12-17T17_04_14_325Z-debug.log)

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-12-17 17:15] wujingquan commented on #2374
### Steps To Reproduce:
1. nrm use taobao
2. git clone git@github.com:NG-ZORRO/ng-zorro-antd.git
3. npm install

### Environment:

- OS: Windows10 pro 2004 19041.685
- Node: v14.15.1
- npm: 6.14.8

[2020-12-17 18:08] #2018 closed, assigned to nlf, darcyclarke

[2020-12-17 23:55] Tomato6966 commented on #722
First use this:     `npm cache clean --force`

Then it should work!

[2020-12-17 23:55] Tomato6966 commented on #2374
First use this:     `npm cache clean --force`

Then it should work!

[2020-12-17 23:55] Tomato6966 commented on #2365
First use this:     `npm cache clean --force`

Then it should work!

[2020-12-17 23:56] Tomato6966 commented on #2364
First use this:     `npm cache clean --force`

Then it should work!

[2020-12-17 23:56] Tomato6966 commented on #2352
First use this:     `npm cache clean --force`

Then it should work!

[2020-12-17 23:56] Tomato6966 commented on #2338
First use this:     `npm cache clean --force`

Then it should work!

[2020-12-17 23:57] Tomato6966 commented on #2363
Bot
Hey Leute
Checkt auf jeden Fall @Tomato ab und seine Coolen Bots

Server : https://discord.gg/3ep6e3vEJf

Website : https://x10-gaming.eu/service/dc

[2020-12-17 23:57] Tomato6966 commented on #2135
Bot
Hey Leute
Checkt auf jeden Fall @Tomato ab und seine Coolen Bots

Server : https://discord.gg/3ep6e3vEJf

Website : https://x10-gaming.eu/service/dc

[2020-12-17 23:57] Tomato6966 commented on #2132
Bot
Hey Leute
Checkt auf jeden Fall @Tomato ab und seine Coolen Bots

Server : https://discord.gg/3ep6e3vEJf

Website : https://x10-gaming.eu/service/dc

[2020-12-17 23:58] Tomato6966 commented on #2260
Bot
Hey Leute
Checkt auf jeden Fall @Tomato ab und seine Coolen Bots

Server : https://discord.gg/3ep6e3vEJf

Website : https://x10-gaming.eu/service/dc

[2020-12-18 03:52] #2374 closed, assigned to nobody

[2020-12-18 06:55] DougAnsonAustinTX opened #2379 "[BUG] Suddenly bluetooth-serial-port fails to compile..."
### Current Behavior:

Literally 8 hours ago, this package was working great... now... no bueno.  Is this a supported npm package?

### Expected Behavior:

arm@pelion-edge-xavier:~/MotorVibrationSensor$ npm install .
npm ERR! code 1
npm ERR! path /home/arm/MotorVibrationSensor/node_modules/bluetooth-serial-port
npm ERR! command failed
npm ERR! command sh -c node-gyp configure build
npm ERR! make:

[2020-12-18 07:34] yandodov opened #2380 "[BUG] npm install removes linked packages, npm link replaces linked package contents"
I have specified a package in my _package.json_ that I have also linked with a local version I use for development. When I run `npm i` in the parent package, the symlink is removed, the package is installed from npm, and I use the live version instead, not my local development one.

Later, if I run `npm link`, the package correctly get linked with my local version, but **everything is replaced wit

[2020-12-18 08:36] ghost commented on #2364
already tried several times.

[2020-12-18 16:33] ruyadorno commented on #1752
Not really.

As of today I don't think so, it might be a good idea to poke the rest of the team about it over at https://github.com/npm/feedback/discussions to make sure it gets prioritized 😄 I know for sure it has been part of the discussion since we started working in the first phase of workspaces support but it's just low in terms of priorities compared to other features we still have to work o

[2020-12-18 16:36] ruyadorno commented on #1752
@limal thank you so much for that article! it's the kind of awesome content I love to see the community coming up with 😄

[2020-12-18 16:45] ruyadorno commented on #1752
Since I noticed there might be people still landing in this issue, let me leave some references to the official docs (which have been long been available since the original issue was open):
- `npm help workspaces` (for cli docs)
- `npm help workspaces --viewer=browser` render the cli docs in a browser (no internet required)
- Website docs: https://docs.npmjs.com/cli/v7/using-npm/workspaces

And he

[2020-12-18 17:34] rvinothkumarer commented on #722
Hi @Tomato6966 - Im using the configurations as below and tried all the ways suggested but still facing the same. Im running behind the corporate proxy. If i remove the npm proxy from config, it throws error related to proxy. If i add the proxy then it throws the cb() never called error. Any help would be much appreciated.

npm cache clean --force -->doesnt work

npm cache verify --> doesnt work

[2020-12-18 19:30] jeremy-coleman commented on #2380
Yikes, thats scary.

[2020-12-18 20:19] #2379 closed, assigned to nobody

[2020-12-18 20:23] ljharb commented on #2380
@hdodov in what way would nvm prevent `npm install -g npm@7`? edit: ah, i see you're using nvm-windows, not actual nvm.

[2020-12-18 20:37] #2300 closed, assigned to isaacs

[2020-12-18 22:42] MaazAhmadd opened #2384 "please have a look at this issue."
[2020-12-18T22_37_32_251Z-debug.log](https://github.com/npm/cli/files/5718393/2020-12-18T22_37_32_251Z-debug.log)
I tried 'npm install' on a GitHub clone react app which did not contain the node_modules folder.
the error was 'cb() never called'

[2020-12-19 11:02] playpiano commented on #2002
even last version 7.3.0 not listing globally installed packages: is it a new Arborist tree list bug?

[2020-12-19 11:21] Sam-Manohar opened #2385 "[BUG] This is an error with npm itself"
Note: * Could not find a relevant one.

### Current Behavior:
I am running "npm install googleapis@39 --save" in Terminal .vs
and receive this error:

0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'googleapis@39',
1

[2020-12-19 14:47] charles-dexter-ward commented on #2002
Yes. I had installed 7.2.0 and it has screwed up the packages again. :(
What the hell!

[2020-12-19 15:11] eniayo opened #2386 "npm ERR"
This is an issue with npm itself.

[2020-12-19 15:51] quentin290 commented on #2319
I had the same problem: "ERR! Cb () never called".
I followed what georgeous11 said to do and it worked.
Thank you!!!
For info the command for clear cache: `npm cache clean --force`

[2020-12-19 16:46] #2386 closed, assigned to nobody

[2020-12-19 22:57] jamessouth commented on #1703
I'm getting this error today on Windows 10, npm `7.0.15`, node `14.15.1`

[2020-12-20 03:03] fireflysemantics opened #2387 "[BUG] NPM Display site not updating."
If you run `npm i @fireflysemantics/slice` the correct version, which is `13.0.8` will install.

However the NPM repository does not reflect this version.

As of right now it says the current version is `13.0.2`.

Thoughts?

[2020-12-20 03:05] fireflysemantics commented on #2387
I'll close this as it seems it's working now.

[2020-12-20 03:05] #2387 closed, assigned to nobody

[2020-12-20 04:46] ljharb commented on #1703
@jamessouth try npm v7.3.0?

[2020-12-20 11:53] fatmatto opened #2389 "[BUG] Dependency expressed as git+https in package.json becomes git+ssh in package-lock"
### Current Behavior:
I have two private repository on Gitlab: A and B.
A is a dependency of B, B uses npm to install A with the syntax `"my-package-a":"git+https://..."`
In my dev machine, when I run npm install, no error occurs, but the generated package json has several entries for `my-package-a`, some of those are `git+https` while others are `git+ssh`, Adding `git+ssh` entries breaks CI becau