[2020-12-20 15:47] rafgraph commented on #2339
I'd also add that for me the expected behavior for local installs `npm install ../some-package` is to result in the same `package-lock.json` as installs from the registry with the only difference being the `"resolved"` field of local install pointing to `../some-package` instead of to the registry (and other related metadata like `"link": true`).

This means that the dependencies of the locally in

[2020-12-20 15:48] ljharb commented on #2339
@rafgraph for that, jest and eslint should be peer deps - and linking with peer deps means you have to link the peer deps also.

[2020-12-20 15:57] rafgraph commented on #2339
Not exactly peer deps, it's a default with optional override. I know this isn't a standard use case, but regardless a consistent `package-lock.json` would be nice to have.

[2020-12-20 19:15] rafgraph opened #2390 "[BUG] npm link <package-name> installs package in global node_modules"
### Current Behavior:
`npm link <package-name>` automatically installs the package in global `node_modules` if it doesn't exist.

### Expected Behavior:
To receive an error that the package can't be linked because it doesn't exist in global `node_modules`.

I use `npm link` frequently for developing packages, which relies on running `npm link` in the package directory to link it to global `node_mo

[2020-12-20 19:15] rafgraph opened #2391 "[BUG] npm uninstall doesn't always remove the package from package-lock"
### Current Behavior:
`npm uninstall --save <package>` doesn't remove the package version listed in `package.json` from `package-lock.json` when another version exists.

### Expected Behavior:
For the package version listed in `package.json` to be removed from `package-lock.json`. Essentially running `npm install --save <package> && npm uninstall --save <package>` should leave `package-lock.json`

[2020-12-20 19:16] rafgraph opened #2392 "[BUG] npm unlink <package> removes it from package.json dependencies"
### Current Behavior:
`npm unlink <package>` removes the package from `package.json` even if it was previously installed from the registry.

### Expected Behavior:
To remove the symlink and install the package version that's listed in `package.json` from the registry.

### Steps To Reproduce:
[code]

### Environment:

- OS: MacOS 10.15.7
- Node: 14.15.0
- npm: 7.3.0

Thanks for all the great work

[2020-12-20 19:17] rafgraph commented on #2392
Just a thought, but there seems to be some complexities around linking created by overloading the dependency field in package.json. I've used `npm link` for a number of years for local development, and most of the time it's awesome, but some of the time it can be frustrating usually because it's not clear what the current state is, or the state changes in unexpected ways.

What if linked packages

[2020-12-20 19:19] hcwhan commented on #2229
I find same problem `node-v15.4.0` `npm-v7.0.15`

[2020-12-20 20:33] rafgraph commented on #1946
Thanks, I've been using `npm unlink -g` and like the added `-g`. Makes it clear what I'm doing. So closing.

[2020-12-20 20:33] #1946 closed, assigned to nobody

[2020-12-20 21:08] ljharb commented on #2229
It'd be great if someone could confirm it's still happening with npm v7.3.0.

[2020-12-20 21:23] sciocoder commented on #2229
node 15.4.0
npm 7.3.0

Error is still there...

[2020-12-20 23:56] Yash-Singh1 opened #2393 "[BUG] NPM doesn't render checkboxes when showing markdown"
### Current Behavior:

![Screenshot from 2020-12-20 15-55-51](https://user-images.githubusercontent.com/53054099/102727670-ddb79880-42db-11eb-83ad-b3b62d318229.png)

### Expected Behavior:

Checkboxes to appear (non-editable)

### Steps To Reproduce:

1. https://www.npmjs.com/package/@muratoner/semantic-ui-react-native
2. See the checkboxes as `[ ]` and `[x]`

[2020-12-21 01:24] jamessouth commented on #1703
...but not anymore, `npm outdated` is working as expected for me today...??? same versions 😕

[2020-12-21 02:38] hugodupont commented on #2346
You can try disabling your antivirus, worked for me

[2020-12-21 02:42] Yazeed0712 commented on #2393
Good 1

[2020-12-21 06:51] giltayar opened #2395 "[BUG] There is no way to force "npm init" to get the latest version of the init package"
### Current Behavior:

`npm init <pkg>` always runs whatever version of the `<pkg>` is installed and doesn't check whether
there's a later version. Moreover, there is no way to _tell_ it to do that.

### Expected Behavior:

`npm init <pkg>` should first check if there's an updated version of `<pkg>` and install that before running it.
Alternatively, there should be an option (`--update`?) that upd

[2020-12-21 15:12] adirz commented on #1816
Hi I am having the same issue and your solution does not work for me.
kinvey-nativescript-sdk has changed locations: https://github.com/thomasconner/javascript/tarball/67b7944366453a87226389d483ac1ad861e0e129 is now deleted so

 gets 404. IDK where I change it to take the new version (it's not the version number. I tried)

[2020-12-21 17:19] filipefreitas82 commented on #2191
I'm having the same issue:

Failed to fetch plugin cordova-plugin-device via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
CordovaError: Error: npm: Command failed with exit code 1 Error output:
Unhandled rejection Error: EACCES: permission denied, open '~/.npm/_cacache/index-v5/c6/e8/df5cfb4ecfb4ca0a97f09fdd

[2020-12-21 18:16] mwf opened #2396 "[BUG] `npm ci` doesn't respect "lockfileVersion" field"
### Current Behavior:

We had a developer, who used `npm 7.x` by mistake in a project with 6.x in production.
Npm 7.x generated `package-lock.json` with `"lockfileVersion": 2` and new lockfile structure.

But `npm ci` didn't even notice it and produced the build.
Without even a Warning.

Interesting that `npm install` produces such warning:
[code]

Even more, I tried setting `"lockfileVersion": 20

[2020-12-21 19:27] swapnilbarwat commented on #2352
I was facing issue on windows 10. Changing folder location from C:/folder1/react-practice/my-app to C://react-practice/my-app fixed it for me.

[2020-12-22 02:30] start2018 opened #2397 "[BUG] npm ERR! cb() never called!"
### Current Behavior:
Repeatedly showing **TAR_ENTRY_ERROR ENOENT: no such file or directory** by scanning every directory.

### Expected Behavior:
Wanted to install modules.

### Steps To Reproduce:
1. In Windows 10 / NPM+Nodejs lastest with LTS,
2. You enter `npm install` with  `"scripts": {
		"build": "node .electron-vue/build.js && electron-builder",
		"build:dir": "node .electron-vue/build.js

[2020-12-22 07:45] ljharb opened #2398 "[BUG] `npm exec` unnecessarily sets `$PREFIX`"
### Current Behavior:
[code]

### Expected Behavior:
[code]

Setting `$PREFIX` breaks `nvm`, and there seems to be zero point in setting it when it wasn't set in the spawning shell.

### Steps To Reproduce:
See "current behavior" above.

### Environment:
- OS: Mac, n/a
- Node: n/a
- npm: v7.3.0

See https://github.com/nvm-sh/nvm/issues/2379 for context.

[2020-12-22 08:07] GeekCornerGH opened #2399 "[BUG] NPM is not downloading whole package"
### Current Behavior:

NPM is only downloading readme.md and package.json from [Androz2091/discord-temp-channels](https://www.npmjs.com/package/discord-temp-channels)

### Expected Behavior:

It should download the whole package

### Steps To Reproduce:

1. Create any npm package (`npm init -y` is your friend)
2. Execute `npm install --save discord-temp-channels`
3. Go to the `node_modules/discord

[2020-12-22 09:03] guimard opened #2400 "[BUG] Little spelling error"
Here is a little spelling error found by [lintian](https://en.wikipedia.org/wiki/Lintian) :
[code]

[2020-12-22 12:00] csvan commented on #2393
This is the npm website, it has nothing to do with the CLI

[2020-12-22 13:10] hubgit opened #2401 "[BUG] Inconsistent SHA-1 and SHA-512 integrity values in registry response"
When running `npm install` we've observed that sometimes the `integrity` value for a dependency in `package-lock.json` (and the `_integrity` value in the dependency's `package.json` in `node_modules`) can change for seemingly no reason: sometimes it starts with `sha1-` and sometimes it starts with `sha512-`.

By trying `npm install` several times while removing `node_modules` and running `npm cach

[2020-12-22 14:36] hubgit commented on #2401
It seems that perhaps this `integrity` value is generated locally by the npm `cli`/`cacache`/`pacote`/`ssri`, but [the package-lock.json docs](https://docs.npmjs.com/cli/v6/configuring-npm/package-lock-json) say the following, and I'm assuming this dependency is from a "registry source".

[2020-12-22 16:27] ljharb commented on #2399
That’s because that’s the only filed that are in it: https://unpkg.com/browse/discord-temp-channels@1.0.4/

Likely whoever published it forgot to run the build process (I’d suggest adding that to a “prepublish” or “prepare” script so it can’t be forgotten). You’ll want to file an issue on that repo.

[2020-12-22 16:27] #2399 closed, assigned to nobody

[2020-12-22 16:43] GeekCornerGH commented on #2399
Hello @androz2091, you have something to do ^^

[2020-12-22 17:04] Androz2091 commented on #2399
Fixed, thank you

[2020-12-22 17:20] rafaelcalpena opened #2402 "[BUG] Comments Inside Dependencies don't work when using npm ci"
### Current Behavior:

Comments inside `dependencies` property are allowed by `npm i`.
Here's an example of `package.json` with the comments feature:

[code]

However, when using `npm ci` the installation gives an error:

[code]

### Expected Behavior:
Both `npm i` and `npm ci` should work with comments inside the `dependencies` property

### Steps To Reproduce:
1. Copy comments from example insid

[2020-12-22 18:59] ljharb commented on #2402
To be honest, I'm shocked this works with `npm install`, and I'd consider _that_ a bug. The only kind of comments that JSON has are as follows:
[code]

[2020-12-22 19:50] aeaton-overleaf commented on #2401
Is it possible that it could be caused by the issue fixed in [this commit](https://github.com/npm/pacote/commit/e8c274c85991b74ca0bb7cc5c68be647cf5cbbfd), which was first included in pacote v10.2.0, which was brought into `cli` in [this commit](https://github.com/npm/cli/commit/b9bc4f04019a9c8af266e28d95d38f0d1e25d1f7), which is only included in npm v7, not in npm v6?

[2020-12-22 19:56] hubgit commented on #2401
@isaacs Is it possible that it could be caused by the issue fixed in [this commit](https://github.com/npm/pacote/commit/e8c274c85991b74ca0bb7cc5c68be647cf5cbbfd), which was first included in pacote v10.2.0, which was brought into `cli` in [this commit](https://github.com/npm/cli/commit/b9bc4f04019a9c8af266e28d95d38f0d1e25d1f7), which is only included in npm v7, not in npm v6?

[2020-12-22 21:19] ImBobot opened #2404 "[BUG] trying to install npm install -g expo-cli"
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\src\\node.exe',
1 verbose cli   'C:\\Users\\ADMIN\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '-g',
1 verbose cli   'expo-cli'
1 verbose cli ]
2 info using npm@6.14.9
3 info using node@v15.2.1
4 verbose npm-session e345859d55bebfce
5 silly install loadCurrentTree
6 s

[2020-12-23 03:04] 3cp commented on #1935
@ruyadorno thx for the detail. We are able to reset the npx cache now.

Is there a reason for npx to just reuse the cache and not check latest published version (periodically if want to save traffic)? I would love to see npx to eventually bring up the cache to latest published version.

[2020-12-23 04:03] shrinktofit commented on #459
Any updates?

[2020-12-23 05:27] mmis1000 opened #2405 "[BUG] npm treat every path from gitlab as git url even it is a dist path to .tgz"
### Current Behavior:

Every path in [gitlab generic package](https://docs.gitlab.com/ee/user/packages/generic_packages/) was treated as git repo url
For example `https://gitlab.com/api/v4/projects/0000000/packages/generic/xxxxxxxx/0.0.1/dist.tar.gz`

results in

[code]

### Expected Behavior:

It should be treated as a tarball url as the path suggests.
At least for path under the `/api/` should j

[2020-12-23 22:02] JamesPeck commented on #2022
`git+ssh://git@privatereponame/orgname/somerepo.git` isn't working for us when it used to on v6

[2020-12-24 02:13] Oleksandr1201vsp opened #2406 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-12-24 02:53] nixsmz opened #2407 "[BUG] discord-player, resume function"
### Current Behavior:
Resume function of discord-player module does not work properly with linux subsystems ! Resuming the music 1/2 times and getting sounds bug after music is resumed.

### Expected Behavior:
resume the music properly when entering resume command on discord.
NB: Works fine when starting it with versions [node : 14.15.1, npm : 6.14.8] with 'node .' command. Didn't try it on Linux,

[2020-12-24 02:56] Oleksandr1201vsp opened #2408 "[BUG] <title>no"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-12-24 02:56] Oleksandr1201vsp opened #2409 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-12-24 03:23] #2409 closed, assigned to nobody

[2020-12-24 03:55] #2408 closed, assigned to nobody

[2020-12-24 03:55] #2406 closed, assigned to nobody

[2020-12-24 08:40] Chriscbr opened #2410 "[BUG] npx commands failing due to parsing bug"
### Current Behavior:
[code]

### Expected Behavior:
[code]

### Steps To Reproduce:

See commands above.

I've tried running this with several npm version combinations, and it appears to be a regression introduced in npm 7.1.0. That is, with the npm@7.0.15 the command succeeds (prints 3), but starting in npm@7.1.0 it fails. This was brought to my attention when I was updating to the latest node r

[2020-12-24 10:11] RWUBAKWANAYO commented on #2346
Yes  it's true that all issues depends on your antivirus, open your antivirus in the setting you'll see where node.js or others are blocked, after allow, it will work fine

[2020-12-24 13:36] JGFMK commented on #2082
I suspect this is an npm 7 issue.
I am experiencing similar issues with `npm i -D webpack-dev-server` and then doing `npm run dev` after adding a "dev" script pointing to "webpack-dev-server".
I am using
1 info using npm@7.3.0
2 info using node@v13.14.0
Also using nvm on a Mac.

[2020-12-24 16:03] ljharb commented on #2410
Why would you need an npx prefix to run node?

[2020-12-24 16:08] dr-js opened #2411 "[BUG] v7.3.0 `publish --dry-run` will require login, and `publishConfig` from `package.json` load after the check (ENEEDAUTH)"
### Current Behavior:

`publish --dry-run` with v7.3.0 will require login (ENEEDAUTH)

### Expected Behavior:

`publish --dry-run` should work when not login, like in CI env.

### Steps To Reproduce:

[code]

Sample error log:
[code]

### Environment:

- OS: Ubuntu 18.04
- Node: 14.15.3
- npm: 7.3.0

[2020-12-24 19:44] Choongkyu opened #2412 "[BUG] npm install on root of workplaces issues EBADPLATFORM error"
### Current Behavior:
When following the [documentation on workplaces](https://docs.npmjs.com/cli/v7/using-npm/workspaces), I get this error:
[code]

### Expected Behavior:
Not to get this error

### Steps To Reproduce:
Following this project structure:
[code]

With this in my root `package.json`
[code]
on Docker
1. run `npm i` (in root)
2. see error

on Arch Linux
1. run `npm i` (in root)
2. don'

[2020-12-24 22:09] foxxyz commented on #2411
Can confirm this is happening on my end also.

Additionally, `publishConfig` settings in `package.json` no longer seem to be respected. I have a `publishConfig` with a custom registry set and `npm publish` seems to be checking my public npm registry auth and failing instead of looking at my private registry.

`npm publish --registry myregistry` works as a workaround.

### Environment

 - OS: MacOS

[2020-12-24 22:20] foxxyz commented on #2411
Upon further inspection, this seems related to #2360 and changes in be4a0900b14b2c6315bf62bed8f5affb648215ae.

In [`lib/publish.js`](https://github.com/npm/cli/blob/be4a0900b14b2c6315bf62bed8f5affb648215ae/lib/publish.js#L47), the new registry auth check seems to be being done too early in [`publish()`](https://github.com/npm/cli/blob/be4a0900b14b2c6315bf62bed8f5affb648215ae/lib/publish.js#L47) ,

[2020-12-24 22:43] NeverBehave commented on #348
It seems that npm still failed under ipv6 only network. The DNS resolves IPv6 + IPv4 addresses correctly at the same environment but npm or some components used by npm choose IPv4 somehow.

## Output

[code]

### Verbose

[code]

### Version & DNS

[code]

### Env

Docker Image:

node:lts-alpine3.10

[2020-12-24 23:51] NeverBehave commented on #348
After dig into this issue deeper it seems like a nodejs behavior: https://github.com/nodejs/node/pull/31567

For now, my work around will be adding some line to `/etc/hosts` hard-coded some ipv6 entries for npm to fetch stuff, as stated in the archived forum

[2020-12-25 00:03] Choongkyu commented on #2412
this may have been related to some stale `package-lock.json`s. Removing them and `node_module` folders and then manually uninstalling `fsevents` cleared the issue for me.

[2020-12-25 00:03] #2412 closed, assigned to nobody

[2020-12-25 01:36] NeverBehave commented on #348
Dive even deeper I found this issue seems to happen only on alpine based image, `node:current-buster` seems fine.
It looks like something related to musl DNS resolver

[2020-12-25 04:58] Chriscbr commented on #2410
We were using it so that in a script, we could change the PATH environment variable to include the project's node_modules, and run commands from packages inside, e.g.:

[code]

My understanding is npx modifies the context a process runs in by automatically determining the right paths to add. If you omit the npx prefix, and ran `node -e "console.log(process.env.PATH)"` instead, the output value wil

[2020-12-25 23:56] IncPlusPlus opened #2414 "[BUG] npm doesn't quote the path used when running Git to clone a repository during package install"
### Current Behavior:
Running `npm install` on a project with a dependency (or transitive dependency) on a GitHub repo (an example of which can be found [here](https://github.com/IncPlusPlus/npm-git-spaces-issue)) will lead to an error caused by Git during the cloning process.
<details>
  <summary>Click to see the CLI output demonstrating the error</summary>

[code]
</details>

### Expected Behavi

[2020-12-26 00:49] CyrusYip opened #2415 "[BUG] fail to update all global installed packages"
### Current Behavior:

I used `sudo npm-check --global --update--all` and `sudo npm update -g` to update global installed packages, but the terminal showed `npm ERR! Maximum call stack size exceeded`. However, I can globally install a single package.

[code]

### Expected Behavior:

I can use `sudo npm-check --global --update--all` and `sudo npm update -g` to update global installed packages.

###

[2020-12-26 05:28] ljharb commented on #2415
What happens with npm v7.3.0?

[2020-12-26 06:31] CyrusYip commented on #2415
npm v7.3.0 did not work.

[code]

<details><summary>2020-12-26T06_21_47_592Z-debug</summary>

[code]

<details>

[2020-12-26 09:48] rahulh11041996 opened #2416 "ngx-slickJS initial slide option not working in angular 8"
i created a slider in angular using ngx-slickJS and its working fine, but i need to show 3rd slide initialy but its not working

newsDetails: Slick.Config = {
    infinite: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: false,
    autoplay: false,
    fade: true,
    speed: 300,
    easing: 'linear',
    mouseWheelMove: false,
    initialSlide: 2
  }

[2020-12-26 17:41] ljharb commented on #2416
You'll need to file an issue on that project's repo; this repo is for the npm CLI itself.

[2020-12-26 17:41] #2416 closed, assigned to nobody

[2020-12-26 21:26] shadowspawn commented on #2407
This sounds like an issue with your discord-player module and not with npm itself, so you probably want to report the issue against the discord-player module instead of here.

[2020-12-26 21:44] #2407 closed, assigned to nobody

[2020-12-27 09:52] kehinsoft opened #2418 "[BUG]Error while installing react-currency-format"
**Please I'm getting the below error while I'm trying to install react-currency-format in my react app inside VSCode. I tried to install another package and it worked. How do I resolve this issue? stuck for 3 days.**

PS C:\Users\Administrator\***> npm i react-currency-format
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: vmart-xpress@

[2020-12-27 11:07] borching opened #2419 "The issue has been resolved. Sorry for the interruption."

[2020-12-27 12:23] #2419 closed, assigned to nobody

[2020-12-28 02:45] greggman commented on #2022
Similar problem. npm6 works with a url of `git://publicdomain/publicname/reponame.git#tag` but npm 7 translates that to `git+ssh:...` which then fails because other users don't have access to the public repo via ssh

[2020-12-28 17:28] skcc75 opened #2420 "[BUG] ERESOLVE unable to resolve dependency tree (postcss-load-config, svelte-preprocess)"
### Current Behavior:
[code]

### Expected Behavior:
Successful package installation

### Steps To Reproduce:
Run commands above

### Environment:
- OS: Windows 10 20H2
- Node: 15.4.0
- npm: 7.0.15

[2020-12-28 17:30] ljharb commented on #2420
What happens with npm v7.3.0?

[2020-12-28 17:34] skcc75 commented on #2420
@ljharb same thing

[2020-12-28 19:40] shwndea commented on #2385
Bump I am having the same issue.

[2020-12-28 20:22] Sam-Manohar commented on #2385
Update:
The issue was because there was already a package-lock.JSON file in my project folder. So I just removed it from the project directory. And then re-ran the npm command, now it works without any problems.
Note:Not sure but  need to make sure we might not miss on other dependencies if we have other npm modules installed.

[2020-12-28 20:22] #2385 closed, assigned to nobody

[2020-12-28 20:24] justinGML commented on #2411
Thanks @foxxyz, that workaround worked for me too.  I experienced this issue when attempting to deploy to a GitLab private repo.  I would imagine this would break the build pipeline for anyone else following the example configuration in the GitLab docs: https://docs.gitlab.com/ee/user/packages/npm_registry/#publish-an-npm-package-by-using-cicd

[2020-12-29 09:31] aeaton-overleaf commented on #2401
My guess, also, is that this is the downstream fix, which stops the `integrity` value set by `pacote` from being passed on to the options for the next package:

https://github.com/npm/cli/commit/2c305e8b7bfa28b07812df74f46983fad2cb85b6#diff-eabad0b45ec780b8b57ae6e3d47fd7d063680bea3acdc6b98a4b45ba3b808cccR24

[2020-12-29 09:59] hubgit commented on #2401
My guess, also, is that this is the downstream fix, which stops the integrity value set by pacote from being passed on to the options for the next package:

https://github.com/npm/cli/commit/2c305e8b7bfa28b07812df74f46983fad2cb85b6#diff-eabad0b45ec780b8b57ae6e3d47fd7d063680bea3acdc6b98a4b45ba3b808cccR24

[2020-12-29 10:23] sourabupadhya123 opened #2421 "npm ERR! 404 Not Found - GET http://registry.npmjs.org/asb - Not found. Getting this error while compiling"
root@localhost:/home/sourab/near# npx asb
npm ERR! code E404
npm ERR! 404 Not Found - GET http://registry.npmjs.org/asb - Not found
npm ERR! 404
npm ERR! 404  'asb@latest' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, http url, or git url.

np

[2020-12-29 10:31] thw0rted commented on #2411
I don't want to sidetrack this issue too much but if `dry-run` doesn't try to log in at all, what should I use to test that my stored credential works (without actually publishing a package)?

[2020-12-29 10:48] thw0rted commented on #1937
I'm using 7.3.0 and still seeing this behavior, specifically, it fails with ENEEDAUTH immediately when I run `npm publish`, even though I'm logged in to the (private) repo specified in `publishConfig.registry`.

Reverting to 6.14.10 fixes it, as does manually specifying `npm publish --registry=...`.  I haven't tried an earlier version of 7 (like 7.0.1) to see if it worked in October but re-broke a

[2020-12-29 10:51] thw0rted commented on #1994
Is it possible that the fix for this could have re-broken https://github.com/npm/cli/issues/1937 ?  As I commented there, as of 7.3.0, `publish` is ignoring my `publishConfig.registry`.

[2020-12-29 11:28] dr-js commented on #2411
@thw0rted try `npm whoami`?

[2020-12-29 11:31] pankaj-aggarwal commented on #2421
I Have found the solution for the error given above

Just go to your project location and open the terminal and simply write `npm i `

Happy Hacking!

[2020-12-29 11:34] thw0rted commented on #2411
Nice! Thanks, I just learned about the command today but didn't realize it was actually making a network request.  Adding a `--verbose` flag shows the request URL and response status.

One caveat is that `whoami` works against the resolved `registry` value without touching `publishConfig`, I guess because you might need auth for the "get" registry (i.e. for `npm install`).  I was thinking it'd be

[2020-12-29 15:29] mika350 commented on #1832
Downgrading to NPM version 6 solved the problem for me: `npm i -g npm@6`

[2020-12-29 15:36] drewpc commented on #2389
I'm having the same issue after upgrading to npm 7.3.0.  I'm afraid I have to roll back to npm 6.x now.

Apparently this is by design?  The [consistent-resolve.js file](https://github.com/npm/arborist/blob/main/lib/consistent-resolve.js#L23) in Arborist has the following code:

[code]

And the test cases for that function all pass, specifically showing that `git+https` URLs are converted to `git+s

[2020-12-29 15:51] a2br commented on #2029
Looks like https://github.com/npm/cli/pull/2361 has been merged. Shouldn't this issue be closed too?

[2020-12-29 15:53] #2029 closed, assigned to nobody

[2020-12-29 17:03] blixt opened #2423 "[BUG] npx passes arguments incorrectly as of 7.1.0"
### Current Behavior:
[code]

### Expected Behavior:
[code]

### Steps To Reproduce:
1. Run `npx concurrently "echo one" "echo two" "echo three"`
2. See output for 6 commands (three of which were supposed to be arguments)

Also note the error output, which shows the quotes missing (`sh -c concurrently echo one echo two echo three`).

### Environment:
- OS: macOS 11.1 Big Sur
- Node: 15.5.0 (doesn'

[2020-12-29 17:55] ljharb commented on #2423
What happens if you run `npx concurrently -- "echo one" "echo two" "echo three"`?

[2020-12-29 17:56] blixt commented on #2423
No difference:

[code]

[2020-12-29 18:08] ozkankirik commented on #2022
I'm using npm 7.3.0, I hit exactly same error. I've no problems with npm6

it works if protocol ` git+ssh://` section removed. But this behavior is not expected.

[2020-12-29 19:56] transcranial commented on #1937
I can confirm this bug exists in 7.3.0.

[2020-12-29 22:13] luckman212 commented on #1700
I'm having this issue too, even as of `7.3.0`

Could it be a regression echoing back to https://github.com/npm/npm/issues/16868 ?
Not sure if this is a clue, but when I precede my `npm` commands with

[code]

The warnings cease. This is a hack to be sure.

[2020-12-30 04:35] ericramos1980 opened #2424 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-12-30 08:12] highmtworks opened #2425 "[BUG] npx loses quotations in command line arguments"
### Current Behavior:

package.json
[code]

index.ts
[code]

then,

[code]

and get
[code]

### Expected Behavior:

should print
[code]

In fact,
[code]
prints
[code]

### Steps To Reproduce:

see Current Behavior section.

### Environment:

- OS: OS: Windows 10 Pro 2004 (19041.685)
- Node: 15.5.0
- npm: 7.3.0, 6.14.10

#2423 seems related

[2020-12-30 08:15] highmtworks commented on #2425
It seems that https://github.com/npm/cli/blob/v7.3.0/lib/exec.js#L147 is the cause.

[2020-12-30 08:27] fregante commented on #1865
Can anyone double-check that this problem has actually been fixed? `prepack` is not being run in npm 7.0.9 nor the latest npm (7.3.0). `prepare` works.

[code]

Testing on Node v15.2.1, macOS 10.15.7. I tried with npm 6 and `prepack` is being run (but it fails, likely due to missing dev dependencies)

[2020-12-30 08:49] varundev465 opened #2426 "npm ERR! cb() never called! when installing npm"
Hi Team,
While installing NPM package into my project I did encountered the below issue.

npm ERR! cb() never called!
npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

![image](https://user-images.githubusercontent.com/76736702/103288228-7059e500-4a0a-11eb-9eb0-be40167eefc5.png)

### Environment:
- OS: Windows 10
- Node: 13.14.0
- npm: 6.

[2020-12-30 10:39] sourabupadhya123 commented on #2421
still getting same error

[2020-12-30 11:13] YoshiWalsh commented on #2104
Okay, it seems the repository having an error was a red herring. I've reproduced the issue with a much simpler case.

I have a private repo in `C:\git\personal-blog`. I forked [this repository](https://github.com/escaladesports/legacy-gatsby-plugin-prefetch-google-fonts) as `C:\git\gatsby-plugin-prefetch-google-fonts`.

In `C:\git\gatsby-plugin-prefetch-google-fonts` I ran `npm link`.

[code]

In

[2020-12-30 15:00] xloem opened #2427 "[BUG] [DOC] git aliases"
The `npm install` documentation for aliases states git repositories are supported but misses the line saying how.  It seems the user would be told to either remove or change the term `npm:` in the parameter such that it represents the git host, when doing this.  Additionally, the error message states the feature is not supported, when it actually works.  See https://github.com/nodejs/node/issues/3

[2020-12-30 16:34] rwaltenberg commented on #980
Is there any update on this? It would be nice to have `npm ci` installing the right package with the commit hash

[2020-12-30 16:46] Rajiii4u opened #2428 "cb() never called"
![image](https://user-images.githubusercontent.com/826039/103368034-8e981180-4aec-11eb-9782-e9fb37b49398.png)
Running Node in Termux

[2020-12-30 18:46] leepowelldev commented on #2425
Causing issues over on browserslist too: https://github.com/browserslist/browserslist/issues/571

[2020-12-30 22:40] kopax commented on #1019
Hi, I still have this since almost a year now, all my CI are affected excepted the one that use `yarn`.

[2020-12-31 02:08] fireflysemantics opened #2429 "[BUG] Installable package not showing up on NPM"
https://www.npmjs.com/package/@fireflysemantics/material-base-module

It will install when running `npm i @fireflysemantics/material-base-module` but it is not showing up on the NPM site ...

[2020-12-31 02:09] ljharb commented on #2429
That link is showing up just fine for me.

[2020-12-31 05:16] Jack-Works opened #2430 "[BUG] npm install result doesn't correct when using workspace"
Workspace is a must to reproduce this bug

[code]

[code]

Run `npm i`

Commit the result to git

Change `package.json` to
[code]

Run `npm i`

Now `@material-ui/core` is upgraded to v21

Discard all changes since the last commit (includes package-lock.json)

Run `npm i`

`@material-ui/core` should be 20 but still v21

[2020-12-31 05:19] fireflysemantics commented on #2429
Me too now.  It took about 2 hours before it showed up on NPM ... But it was immediately available for installation and it showed up in NPM search results.

I guess we can close.  Might be worth checking into what is causing the latency.

I also just updated the minor version to 11.  When I search for the package on NPM the results show that it has been updated to 11, but when I click on the link,

[2020-12-31 17:41] lcrumling opened #2431 "[BUG] ERR! cb() never called!"
### Current Behavior:
used command:  sudo npm install -g n

### Expected Behavior:
globally installs n

### Steps To Reproduce:
ex. steps to reproduce the behavior:
1. In this environment...(see below)
2. With this config...(not sure what this means)
3. Run 'sudo npm install -g n'
4. Get error:
lindseycrumling@Lindseys-MBP hybrid_app % sudo npm install -g n
Unhandled rejection Error: EISDIR: illeg

[2020-12-31 22:06] saltukalakus commented on #805
I had the same error when publishing a package. It turned out that my email wasn't verified in my NPM account. Verifying it helped to resolve the issue.

[2021-01-01 01:04] apostolos commented on #2264
Can reproduce, name is added on the CI, does not happen locally (folder is named "lwjgl.org" on local filesystem):

![image](https://user-images.githubusercontent.com/41679/103431743-f8441880-4bdd-11eb-864a-8967ae511d62.png)

[2021-01-01 06:12] snuggs opened #2432 "[BUG] Potential error in messaging for `npm org`"
### Current Behavior:
@ruyadorno @darcyclarke @nlf pardon the nit. Was doing some package housekeeping and noticed something that just looks a little off with the messaging. _"**You now 3** members"_? 🤔

Also wondering how the tests from #2353 are passing.

Thanks in advance!  And let me know where I can help. ❤️ tests🙏🏽

See below:

### Expected Behavior:
_"Added bar to foo. You now **have** 1 me

[2021-01-01 15:29] alexa2140 commented on #2432
Are these issues about [websites](https://apksclub.com/netboom-mod-apk/)?

[2021-01-01 22:12] Blue-Heaven commented on #2431
I now get this error whilst trying to run 'npx create-react-app'

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

[2021-01-02 12:49] rak10 commented on #2426
I have the same problem, I tired to create a new project with "npx create-react-app".

OS: Windows 10 64bit

{
  **npm: '6.14.10',**
  ares: '1.16.1',
  brotli: '1.0.9',
  cldr: '37.0',
  icu: '67.1',
  llhttp: '2.1.3',
  modules: '83',
  napi: '7',
  nghttp2: '1.41.0',
  **node: '14.15.3',**
  openssl: '1.1.1g',
  tz: '2020a',
  unicode: '13.0',
  uv: '1.40.0',
  v8: '8.4.371.19-node.17',
  zlib:

[2021-01-02 12:56] rak10 commented on #2365
I tried using `npm cache clean --force` but it did not work.

![react-bug](https://user-images.githubusercontent.com/18660838/103457755-5407c200-4d02-11eb-8f0b-748ff2c5c749.JPG)

[2021-01-02 13:06] rak10 commented on #2352
This worked for me (nothing else did)! Thank you!

[2021-01-02 13:07] rak10 commented on #2431
[https://github.com/npm/cli/issues/2352](url)

I tried this and it worked for me. Just change the folder if you are using Windows 10.

[2021-01-02 13:12] rak10 commented on #2426
Update: I changed the folder where I was trying to create the react app and it worked! Check the second last reply in the issue below:
[https://github.com/npm/cli/issues/2352](url)

[2021-01-02 13:24] sanjay-kumar-91 opened #2433 "[BUG] <title>'C:\Users\TV1 India News\Documents\nodejsfolder\Expressjs\node_modules\.staging\wordwrap-28d05212\test\idleness.txt'"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-01-02 18:40] satbirbains opened #2434 "--ignore-scripts flag is being ignored by npm ci"
### Current Behavior:
npm ci is not respecting the '--ignore-scripts' flag. The postintsall script is being executed regardless.

### Expected Behavior:
I would expect 'npm ci --ignore-scripts' to behave in the same way as 'npm install --no-scripts' and not run any scripts. The two commands worked in the same way in 6.14.9 but no longer after updating to 7.3.0.

### Steps To Reproduce:

1. Create

[2021-01-02 20:18] vp2177 commented on #2032
Just wanted to add, that `npm outdated` also doesn't work in the root.
While it doesn't list packages as `MISSING`, it also doesn't check dependencies of packages in workspaces, but apparently only the dependencies directly in `package.json` in the root.

- npm: 7.3.0

[2021-01-03 03:00] shanoaice commented on #2033
This issue still appears on my machine. I'm using `npm@7.3.0`. When I tried to install sharp, it does not run sharp's postinstall script to setup the bindings.

[2021-01-03 20:11] tobua commented on #2033
@KsRyY I've checked with `7.3.0` and the variable was set. If you're trying to debug note that the console output is hidden as of `npm@7` so you may simply not see the familiar messages anymore, but the script is still being run in the background.

[2021-01-03 20:42] joewood opened #2435 "[BUG] Error installing - Cannot read property version of undefined"
### Current Behavior:

When installing **abcjs** npm version 7.3 reports "Cannot read property "version" of "undefined"

### Expected Behavior:
It should install (version 6 does)

### Steps To Reproduce:
MacOS, default npm config:

[code]

Log:
[code]

### Environment:

NodeJS: 12.14.1
npm: 7.3.0
MacOS
No npmrc (default config)

### Additional Info

The package.json for abcjs is [here](https://git

[2021-01-04 09:53] mushonnip commented on #2431
I got same error when installing some package
[code]

[2021-01-04 16:42] Hasnain-Official opened #2437 "cb() never called"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-01-04 18:25] Haris-Nabeel opened #2438 "cb() never called."
### Current Behavior:
getting this error **cb() never called** while installing bootstrap in React Application..

### Expected Behavior:
bootstrap should have installed without error.

### Steps To Reproduce:

1. Create a react application
2. Now write `npm install bootstrap react-bootstrap`
3. It will give **cb() never called** error

### Environment:

- OS: Windows 10 64 bit
- Node: 13.14.0
- np

[2021-01-04 18:31] Haris-Nabeel commented on #2438
So silly.. It was not in the right directory while writing the command `npm install bootstrap react-bootstrap`

[2021-01-04 18:31] #2438 closed, assigned to nobody

[2021-01-04 18:38] mAAdhaTTah opened #2439 "[BUG] User-defined run script overwritten by shell command"
### Current Behavior:

In my `pkg.json#scripts`, I have a `env` script that runs a command. In npm@6m running `npm run env` runs that script. in npm@7, it seems to run the `env` shell command.

### Expected Behavior:

`pkg.json#scripts` should take precedence over shell commands.

### Steps To Reproduce:

1. Run `env` in your shell.
2. See output to confirm you have an `env` command.
3. Add an `en

[2021-01-04 19:18] isaacs commented on #2291
So, no, that's not right.  A node that has `devOptional` set and does _not_ have `optional` or `dev` set is something that is _both_ an optional dep in the non-dev tree, _and_ a non-optional dep in the dev tree.  `devOptional` is there to handle cases where we wish to omit or prune both dev and optional deps, but things in this state would not be easy to track otherwise.  They're not an optional d

[2021-01-04 19:20] #2291 closed, assigned to nobody

[2021-01-04 19:37] isaacs commented on #2389
Hmmm... this is tricky.

I can certainly see the need to keep a `git+https` url as-is if it has auth specified, but the benefit of consistently saving the ssh url is that we can deduplicate the tree more efficiently when you have for example one package depending on `git+https://github.com/foo/bar`, another depending on `git+ssh://git@github.com:foo/bar`, and still another on `github:foo/bar`.

Al

[2021-01-04 20:31] ruyadorno commented on #1942
thanks @ljharb and sorry about the delay @jsg2021 😅

I'm not sure **how** the example project was originally set up but there's one mismatch with the expectations from the npm cli in order to properly set up the workspaces structure. In order to beneift from symlinking the proper available workspaces, each of the workspaces consuming another one should list a valid semver range and the installer w

[2021-01-04 20:31] #1942 closed, assigned to nobody

[2021-01-04 21:18] jsg2021 commented on #1942
@ruyadorno  This is an example of a project not using the registry for project modules. They only exist on github. Semvers won't necessarily exist. That is the bug. This project exists privately and solely in git. I should be able to specify a git dependency with or without a hash and the workspace resolve correctly.

[2021-01-04 21:21] jsg2021 commented on #1942
Also, this is a workspace shaped like a mono-repo, but each dep is its own repo.

[2021-01-04 22:04] dnalborczyk opened #2441 "[BUG] npm publish ignores files exclusion glob"
### Current Behavior:
`npm publish --dry-run` includes `__tests__` and `__mocks__`

package.json:

[code]

### Expected Behavior:
should exclude `__tests__` and `__mocks__`

works with npm `v6.14.9`.

### Steps To Reproduce:
see above

### Environment:
- OS: MacOs Catalina v10.15.7
- Node: 15.5.0
- npm: 7.3.0

[2021-01-04 22:36] #2437 closed, assigned to nobody

[2021-01-04 23:00] gustavohenke commented on #2441
👋 I'm also seeing this, after upgrading to v7 and publishing express-validator, files that were previously ignored started affecting consumers.

https://github.com/express-validator/express-validator/issues/973
https://github.com/express-validator/express-validator/blob/297764945007b700371ff78b4a4add378aede698/package.json#L19-L27

**Note:** the lines above have been unchanged for about 2 years.

[2021-01-04 23:28] isaacs commented on #1912
I dug up the conversation with our legal team that led to the introduction of this license statement.

What follows is my understanding.  I am not a lawyer, but I was the one who added this file to the repo, and hopefully my layperson's account of the situation reduces confusion rather than adding to it.

Yes, you are correct, this is not the Underscore license.  Underscore (which npm bundles in i

[2021-01-04 23:28] #1912 closed, assigned to isaacs

[2021-01-04 23:49] jsg2021 commented on #1942
@ruyadorno @ljharb this should not be closed.

[2021-01-04 23:50] ruyadorno commented on #1942
@jsg2021 Thanks for the feedback! I get what was your intention here but unfortunately that's just outside of the scope of how workspaces was originally designed (which was to support semver ranges only).

You're more than welcome to come over to our [RFCs repo](https://github.com/npm/rfcs) and propose new ways to extend that support either by starting a Discussion there or by sending a RFC PR 😊 Y

[2021-01-04 23:53] jsg2021 commented on #1942
@ruyadorno you don't see a problem with only supporting a subset of version specifiers that npm supports for workspaces?

[2021-01-05 00:08] jsg2021 commented on #1942
The fact that it works 95% of the way... feels like it's a bug. The only problem is the duplication/reify'd modules that exist as links... Makes me think its just a matter of saying the local link satisfies the git version spec... which, I would think it should?

[2021-01-05 03:10] shadowspawn commented on #2441
The documentation for `files` does not mention support for negating an option. I expect a work-around is to simply remove the negated lines. Possibly an intended change in behaviour.

https://docs.npmjs.com/cli/v6/configuring-npm/package-json#files

[2021-01-05 04:21] drewpc commented on #2389
Great points; thanks for taking the time to respond!  After digging around in the npm 6.x and 7.x codebases, it looks like this issue has come and gone a few times:

-2.x: https://github.com/npm/cli/blob/e09bdc142a4d9fe247927eb82a49720d5370b293/changelogs/CHANGELOG-2.md#lets-git-inky
-5.x: https://github.com/npm/cli/blob/e09bdc142a4d9fe247927eb82a49720d5370b293/changelogs/CHANGELOG-5.md#shronkwrap

[2021-01-05 05:53] #548 closed, assigned to nobody

[2021-01-05 05:53] dnyaneshwar-surywanshi commented on #548
No one give the solution so I am closing.

[2021-01-05 08:13] YC commented on #2432
I think https://github.com/npm/cli/pull/2353/files#diff-6853bcc6c7c067c12466503a6b1610bed8dddd128537a07fc6c90e2bda154c78R78 (https://github.com/npm/cli/commit/996a2f6b130d6678998a2f6a5ec97d75534d5f66#) fixed this problem.

[2021-01-05 08:15] snuggs commented on #2432
@YC thanks!

[2021-01-05 09:51] Mexx77 commented on #2183
I see the same issue. With npm 6 it works.
npm version: 7.0.5
private repository: CodeArtifact
error: code E401

[2021-01-05 13:20] ljharb commented on #2183
What happens with npm v7.3.0?

[2021-01-05 13:40] dnalborczyk commented on #2441
@shadowspawn

from the docs you linked: `or glob pattern (*, **/*, and such)`

that's not a workaround. the files are still being published. the whole point of negating is to **exclude** files from publishing.

Possibly, although unlikely. this has worked for years, I assume since `files` was introduced. I think it's just a bug being introduced in v7, which is, if I remember correctly, a bigger re

[2021-01-05 13:49] josselinchevalay commented on #2183
hi in my side use npm 7.3.0 seems fix my issue. if possible to have some details about that ?

[2021-01-05 14:38] Mexx77 commented on #2183
I can confirm that private repos work again with npm v7.3.0

[2021-01-05 14:58] ljharb commented on #2183
Great, sounds like this is fixed! Happy to reopen if not (cc @apottere)

[2021-01-05 16:43] ruyadorno commented on #1942
Yes 👍  I do see how that can be a problem!

That's why I'm suggesting we take it to the RFCs discussions 😊 Given that it was not in the initial design I'll def need help from the team (and other collaborators such as @ljharb) to better understand how we can support different version specifiers.

If you prefer I can take it from here and start the discussion there (personally I prefer leaving room

[2021-01-05 17:19] jsg2021 commented on #1942
@ruyadorno thank you! I'll help where I can, but I'm not sure I'm completely ready to champion an RFC. :sweat_smile: I'm in central time, so a 2 pm EST call should be doable for me. I would be very interested in joining/watching.

[2021-01-05 17:57] ruyadorno commented on #1942
There we go: https://github.com/npm/rfcs/issues/301 😄

[2021-01-05 18:43] ruyadorno commented on #2004
**Note:** npm7 should always be storing `https://registry.npms.org/` in the package-lock file as the resolved host, since this value is treated as a magic string by the npm installer, ref: https://github.com/npm/arborist/blob/main/lib/arborist/reify.js#L481

~I believe the first problem that needs to be fixed here is that the configured registry at the moment of the original install is mistakenly

[2021-01-05 18:58] ruyadorno commented on #2006
I can easily reproduce it locally, after `npm install uNetworking/uWebSockets.js#v18.8.0` I do get an updated range in both `package.json` and `package-lock.json` but it still points to the previous (v18.7.0) hash in the resolved version field of the package-lock file, e.g:

[code]

Also, here are the logs and result tree from an arborist reify run:

[code]

**note:** v18.8.0 should be resolving t

[2021-01-05 19:25] shadowspawn commented on #2441
Oh, are the problem files in `__tests__` somewhere under `dist/**`? On first read I assumed the patterns were not overlapping, and the exclusion glob was behaving as an inclusion.

Reproduced issue with node v15.5.1 and npm 7.3.0 on macOS v15.1.

I agree! I made a typo. I meant "unintended change".

[2021-01-05 19:42] jsg2021 commented on #1942
Thank you :)

[2021-01-05 22:30] gustavohenke commented on #2441
Additionally: the docs mention "File patterns follow a similar syntax to .gitignore", so I expected anything that works there to work in the `files` array.

[2021-01-05 23:10] shadowspawn commented on #2441
Thanks @gustavohenke and @dnalborczyk for pointing out the relevant information in the documentation I linked. My apologies, I was wrong with suggestion that `files` might use simpler syntax.

[2021-01-06 00:15] scamden opened #2443 "[BUG] npm install <package> does nothing when file:<path> has been used"
### Current Behavior:
if I have a dep linked via `file:depPath` npm will not overwrite it when I try to install `depName@latest`

### Expected Behavior:
it should install a real version (not a file version) in the lock and in the file system

### Steps To Reproduce:
1. `npm install ../some-package`
2. `npm install some-package@latest`
3. notice that `../some-package` remains as resolved in lock an

[2021-01-06 00:38] scamden commented on #2443
@ruyadorno this one is really frustrating. i'm not really sure how I can get rid of a `file: depPath` without completely wiping out the lock file.. even running `npm rm depName --no-save` doesn't change the lock file, so it still simply reinstalls the file version of the dep on the next install (without no-save you lose whether its dev, peer or regular)

in fact, this seems like a whole class of o

[2021-01-06 03:54] #2432 closed, assigned to nobody

[2021-01-06 12:46] MonochromeChameleon opened #2447 "[BUG] Workspace symlinks go to wrong path if directory path starts with ~"
### Current Behavior:

On my work computer the setup that is enforced upon me is for code to be placed inside a root-level directory called `~source-code` - i.e.:

[code]

If I create a workspace in that project, the generated symlink goes to e.g. `../~source-code/projects/foo/bar` rather than simply to `../bar` meaning that the dependency is not properly resolved.

I've confirmed that the symlink

[2021-01-06 15:44] Mexx77 commented on #2183
@ljharb realized, I still have the issue with npm v7.3.0 when my CodeArtifact token have been expired. It cannot renew them and fails with a 401 error. npm 6 is able to renew them

[2021-01-06 16:12] ruyadorno commented on #1942
@jsg2021 here are the info on how to join the call today: https://github.com/npm/rfcs/issues/303

[2021-01-06 17:31] MonochromeChameleon commented on #2447
I've tracked down the source of the problem to npm-package-arg, PR here: https://github.com/npm/npm-package-arg/pull/53

[2021-01-06 18:19] wraithgar commented on #2443
I was able to confirm this, but ONLY when the version in the local `file:depPath` matched the `@latest` version in the registry.  When the `@latest` was newer, it updated as intended.

[2021-01-06 18:27] wraithgar commented on #2441
Confirmed this is a changing behavior from 6 to 7

[code]

[2021-01-06 18:32] wraithgar commented on #2434
The cli/ci.js file is missing the same constraints that cli/install.js has,  cf:

https://github.com/npm/cli/blob/latest/lib/ci.js#L41
and
https://github.com/npm/cli/blob/latest/lib/install.js#L42

[2021-01-06 18:32] #2433 closed, assigned to nobody

[2021-01-06 18:43] scamden commented on #2443
correct. that's exactly what I see as well. but of course most of the time
@latest will be exactly what I have locally (or older) if i'm trying to install it,
cause otherwise I wouldn't have been able to publish that version :P

[2021-01-06 18:46] wraithgar commented on #2420
Have you retried the command with either `--force` or `--legacy-peer-deps`?  The issue here is that there are irresolvable conflicts in the peer dependencies here, and npm@7 tries to install them now whereas npm@6 didn't.

If this still fails when using either of those flags, let us know.

[2021-01-06 18:51] scamden commented on #2443
I also just confirmed that it's nothing special about the latest tag. it happens if the semver version you are trying to install is satisfied by the linked dep. aka if i'm file linked to package: `myPackage` and the local package.json is version 1.1.0 and I try to install `npm i myPackage@1.x.x` or `1.1.0` or even `^1.0.0` or seemingly any semver that matches the current version in that package it

[2021-01-06 18:52] wraithgar commented on #2418
Have you retried the command with either `--force` or `--legacy-peer-deps`?  The issue here is that there are irresolvable conflicts in the peer dependencies here, and npm@7 tries to install them now whereas npm@6 didn't.

If this still fails when using either of those flags, let us know.

[2021-01-06 19:04] wraithgar commented on #2429
Sorry to hear that your publishes are taking awhile to show up on the registry and website.

For issues related to the registry/website itself, please use https://www.npmjs.com/support to open a support ticket.  The issue tracker in this repo is only for CLI related/specific bugs.

[2021-01-06 19:04] #2429 closed, assigned to nobody

[2021-01-06 19:57] jescalan opened #2449 "[BUG] `npm owner add` command and web UI appears to not be working"
### Current Behavior:
I am the owner of the package `next-mdx-remote`, and am trying to add a coworker, `bkalow`, so he is able to publish. I added his handle on the npm website, and you can see he [appears as a maintainer](https://www.npmjs.com/package/next-mdx-remote).

However, when he tries to publish, he gets "access denied". Additionally, if I run `npm owner ls next-mdx-remote` on the comman

[2021-01-06 20:00] jescalan commented on #2449
*Update:* When I check now several minutes later, he is appearing as an owner. I'm guessing this is an eventual consistency issue? If so, it would be nice to have a note appear after adding a new owner that you may have to wait a few minutes before they are able to publish. I just expected it to work right away since the interfaces gave me this impression.

Would be happy to try to put in a PR to

[2021-01-06 20:01] wraithgar commented on #2393
Please open a ticket up through https://www.npmjs.com/support for registry/website related issues.  This repo's issue tracker is for the CLI itself.

[2021-01-06 20:01] #2393 closed, assigned to nobody

[2021-01-07 05:02] seebees opened #2450 "[BUG] Version resolution in a monorepo"
### Current Behavior:
This was found in https://github.com/aws/aws-sdk-js-crypto-helpers/pull/189

For any package `@aws-sdk/*`.
The version rang requested was `^3.0.0`.
The most recent published version was `3.1.0`.

When I removed `package-lock.json` and `npm install` the resolved versions did not make sense.
The first package would get a dependency of `3.1.0`.
But all other packages got `3.0.0`

[2021-01-07 05:27] oddyrather opened #2451 "unable to update the npm version"
Hi Team,

currently i am having
node -v -v10.10.0
npm -v- 6.4.1

i am trying to upgarde to node version to v14.15.4 using the
wget http://nodejs.org/dist/v14.15.4/node-v14.15.4-linux-x64.tar.gz
sudo tar -C /usr/local --strip-components 1 -xzf node-v14.15.4-linux-x64.tar.gz
Infact after upgrading also the versions are showing same.
after this when i am trying to execute the below command
install -g

[2021-01-07 05:39] jdinhify commented on #2011
I'm experiencing significant performance degradation as well.
An installation job that usually takes less than 30s with npm v6 now takes around 15mins with v7. This happened on both my local dev machine & github actions environments. I had to go back to using v6 atm.

[2021-01-07 08:06] dandv opened #2452 "[BUG] Broken link in npm v7 series beta re. $npm_package_* environment variables (now gone)"
Apologies if this is the wrong repo; I don't know where to file this.

I was researching why after upgrading to npm 7 my $npm_package environment variables were blank, and found [this blog post](https://blog.npmjs.org/post/626173315965468672/npm-v7-series-beta-release-and-semver-major). It says,

Three issues,

1. That RFC21 link has moved to [implemented](https://github.com/npm/rfcs/blob/latest/i

[2021-01-07 08:47] sysmat opened #2453 "[BUG] v 7.3.0 when publishing to private rep You need to authorize this machine using 'npm adduser'"
### Current Behavior:
Can not publish(This command requires you to be logged in) but I  adduser  successfully
### Expected Behavior:
 - it work with npm v 6

### Steps To Reproduce:
-  npm adduser --registry=https://zelenjak.arnes.si/nexus/repository/ArnesNpm/
- ok login and in my .npmrc I get
[code]
- in my package I have:
[code]
- when running npm publish I got error:
[code]

### Environments:

[2021-01-07 08:52] sysmat opened #2454 "[BUG] when globali install v7 I can not instal v6"
### Current Behavior:
- npm install -g npm
- error:
[code]

[2021-01-07 13:47] perrin4869 commented on #2183
I'm having this same issue authenticating github packages on 7.3.0 (using `authToken`, works in `npm@6`)

[2021-01-07 14:57] soullivaneuh commented on #2297
Tried with latest npm `7.3.0`. Did execute the command above multiple time without any issue.

It's look like a 6.x issue, but we can't be really sure as the bug occurs quite randomly.

If you want to give a try, here is the problematic `package.json` file:

[code]

I noticed gulp is installed because of the `nexylan-design` dependency, but gulp is required as a dev dependency: https://gitlab.com/

[2021-01-07 15:14] ljharb commented on #2453
ArnesGroupNpm and ArnesNpm are different registries.

[2021-01-07 15:16] nlf commented on #2415
do you, by chance, use something like nvm to manage your node versions for your user?

i ask because i see where you clearly installed npm@next-7 and got npm 7.3.0 when you ran `npm -v`, however the log from the error you pasted shows at the bottom that it's from npm 6.14.8. i'm wondering if your root user (since you ran the command with `sudo`) has a different version of node and/or npm.

what do

[2021-01-07 15:22] felschr commented on #1965
Has this been released? It doesn't seem to work for me with `npm@7.3.0`.

[2021-01-07 18:55] StephenCleary commented on #2033
I also repro this with 7.3.0. My script is literally `echo %INIT_CWD%` (on Windows). It's not defined. None of the `config` settings from `package.json` are defined, either.

[2021-01-07 19:00] davidje13 commented on #1886
See also #2203, #724

As noted by feross, the actual bug here is that all `optionalDependencies` get copied to `dependencies`. They don't need to also be in `devDependencies` for this to manifest.

This is a regression in the NPM 7.x line, caused by a large-scale rewrite which performs a mistaken normalisation step when loading the file, then saves its current (now normalised) view back out. Someb

[2021-01-07 19:52] #2012 closed, assigned to nobody

[2021-01-07 19:57] davidje13 commented on #2291
Is this actually resolved? I don't have a Windows OS available but it looks connected to #1886 / #2203 / #724 — `optionalDependencies` get copied as `dependencies` in the package.json file itself when running `npm install`.

Edit: ah, I looked at the [package.json](https://github.com/DimensionDev/Maskbook/blob/master/package.json) for the linked project and I see that the problem here isn't with o

[2021-01-07 21:03] skcc75 commented on #2420
`--force` doesn't help.   But  `--legacy-peer-deps` fixes the issue.

[2021-01-07 21:31] #2420 closed, assigned to wraithgar

[2021-01-07 21:54] bladeoflight16 commented on #643
@andylippitt I have PowerShell set to a buffer width of 1000 characters and length of 3000 lines, with wrapping disabled. I find it necessary to have it this large for running development tools. My window size is 120x50, if that might also be relevant.

[2021-01-07 22:09] ruyadorno commented on #2012
@cb1kenobi Thanks for the report! This should have been fixed in `npm@7.4.0` 😊

[2021-01-07 23:08] isaacs commented on #2398
Patch welcome, yes this is unnecessary, I agree.

[2021-01-07 23:11] #1103 closed, assigned to isaacs

[2021-01-07 23:11] #2425 closed, assigned to nlf

[2021-01-07 23:20] wraithgar commented on #2434
Fixed in `v7.4.0`

[2021-01-07 23:20] #2434 closed, assigned to wraithgar

[2021-01-07 23:46] ljharb commented on #2398
Can you point me to the relevant package/file to start looking?

[2021-01-08 00:55] CyrusYip commented on #2415
[code]

I did not use any node version manager. At first, I installed [Node.js](https://packages.ubuntu.com/groovy/nodejs) 12.18.2 and [npm](https://packages.ubuntu.com/groovy/npm) 6.14.8 from Ubuntu software repo. Then I upgraded npm to 6.14.10 and 7.3.0 via `sudo npm install -g npm` and `sudo npm install -g npm@next-7`.

I discovered that I have two versions of npm on my computer and one version

[2021-01-08 06:54] Stvad opened #2458 "[BUG] npm link and npm package aliasing don't work well together"
### Current Behavior:
When I have a package installed under alias
[code]

**Option 1**:
When I do `npm link` in the package `@scope/bar` and then do `npm link foo` in target package I get

[code]

**Option 2**:
If I have target and `@scope/bar` side by side and do `npm link ../bar` - npm will create `@scope` directory in `node_modules` and link `bar` inside it to the directory specified in command

[2021-01-08 07:39] sysmat commented on #2453
This is nexus:
- ArnesGroupNpm is group repo(combining public and private) and it is for download
- ArnesNpm  is private hosted repo and used for upload
- it works with npm 6
- publishConfig has ArnesNpm  and _authToken in .npmrc is for ArnesNpm

[2021-01-08 10:02] shanoaice commented on #2033
I probably need to open an new issue. My problem, specifically, is about lifecycle script not being run (could be related to this problem though). When I installed `sharp` on my project, the postinstall script must be run in order to download sharp's nodejs binding, but npm just simply extracts its wrapper code and not running the postinstall script, causing sharp to be not usable. I've tested npm

[2021-01-08 15:48] Man-RP commented on #2338
actually, I had mentioned I tried this on issue's details.

[2021-01-08 15:56] ljharb commented on #2033
It should be running them, but all success output is suppressed, so you’ll only see output if there’s a failure.

[2021-01-08 17:35] ljharb commented on #2453
Ah, true - the publishConfig's registry is the one that's authed in npmrc.

[2021-01-08 17:52] dmnsgn commented on #1832
Encountering the same when trying to install a dependency from a GitHub URL.

[code]

[2021-01-08 17:54] ljharb commented on #1832
What dependency?

[2021-01-08 17:57] dmnsgn commented on #1832
Can be reproduced with:
[code]

[2021-01-08 19:27] darcyclarke commented on #2183
As per @ljharb's note, the original issue should have been resolved as of `v7.3.0`. If you find yourself having other auth issues, please file a new ticket (utilizing one of our issue templates: https://github.com/npm/cli/issues/new/choose)

[2021-01-08 19:27] #2183 closed, assigned to nobody

[2021-01-08 19:34] darcyclarke commented on #2032
If you're looking to run `npm outdated` against the entire tree, utilize `npm outdated --all`; Unfortunately, today - we're still flushing out the details of running commands inside/against workspaces over on our RFCs repo (ref. [`Workspace v2`](https://github.com/npm/rfcs/pull/117))

[2021-01-08 19:38] darcyclarke commented on #2056
Hey @markmckenna! Can you try updating to `v.7.4.0`? You shouldn't see these deps marked as "extraneous" anymore. In terms of commands being run against workspaces, unfortunately, today - we're still flushing out the details of running commands inside/against workspaces over on our RFCs repo (ref. [`Workspace v2`](https://github.com/npm/rfcs/pull/117))

[2021-01-08 19:50] markmckenna commented on #2056
Thanks for the response @darcyclarke ! I'll take a look at this as soon as I get back to that part of my project.

[2021-01-08 19:51] darcyclarke commented on #2022
Closing as this seems to be a duplicate of: https://github.com/npm/cli/issues/2054

[2021-01-08 19:51] #2022 closed, assigned to nobody

[2021-01-08 19:54] darcyclarke commented on #2197
@csvan what version of `v7` do you happen to be using? We've made some improvements but know there's more to do here. If you can try upgrading to the latest v7 (ie. `npm i -g npm@7`) & seeing if theres any improvements, that would be helpful.

[2021-01-08 21:02] csvan commented on #2197
Hi @darcyclarke , I tried upgrading to npm 7.4 but I am still seeing the same behavior in the repro project unfortunately.

[2021-01-08 21:03] csvan commented on #2197
FWIW the packages with the longest audits (up to 10 minutes in some cases) all seem to be GraphQL related,

[2021-01-08 21:16] rajshubham2401 opened #2461 "[BUG] <title> Packages Installation Failed During Creation Of New Angular App"
### Current Behavior:

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!   [2021-01-08T20_56_33_001Z-debug.log](https://github.com/npm/cli/files/5789380/2021-01-08T20_56_33_001Z-debug.log)
× Package install failed, see above.
The Schematic workflow

[2021-01-08 21:17] JoseAtencio commented on #805
@saltukalakus thanks it worked for me

[2021-01-09 04:34] mattfysh commented on #2011
Also having a lot of trouble with installing `@aws-amplify/cli` globally. Install process maxes out CPU, starts reporting packages taking 4-5 minutes to install.

Installed node and npm via homebrew on Mac (node 15.5.1 and npm 7.3.0)

Downgrading manually via `npm i -g npm@latest` fixed the issue

[2021-01-09 09:27] alexhochreiter opened #2465 "[BUG] 7.x breaks git behaviour (caches remote repositories?)"
### Current Behavior:

When working with a simple git dependency, like this:
[code]
`npm 6.x` used to always pull the latest version/commit of the dependency git repository specified when (re-)installing the packages with `npm i` when there was a `rm -rf node_modules` beforehand.
Now with `npm 7.x` it appears the repository is not pulled, but served from a cache instead.
I could not find anything

[2021-01-09 11:10] Apollon77 commented on #2194
We also have the same issue on non-global but "npm i in a directly by using the local package.json" ... it seems that postinstall and install is not executed

[2021-01-09 11:50] AlCalzone opened #2467 "[BUG] postinstall scripts not executed during `npm install`"
### Current Behavior:
postinstall script not executed

### Expected Behavior:
postinstall script should be executed.

### Steps To Reproduce:
1. Set up a VM you can trash later (the package modifies your global configuration)
2. Create directory `/opt/iobroker`, enter it
3. run `npm i iobroker@latest` as root

### Environment:
- OS: Debian Buster
- Node: 15.5.1
- npm: 7.3.0

[2021-01-09 12:40] designervoid commented on #2363
[code]
this command helped me

[2021-01-09 15:31] ljharb commented on #2467
Duplicate of #2194?

[2021-01-09 17:11] Apollon77 commented on #2467
@ljharb not really because here it is not about global packages, or? but yes maybe related :-)

[2021-01-09 17:17] ljharb commented on #2467
Are you sure the script isn’t being executed? All output of postinstall scripts is suppressed in npm 7 unless the script fails.

[2021-01-09 17:21] Apollon77 commented on #2467
Yes we are sure because many things happen there in the example of the above case and nothing of this is done

[2021-01-09 19:21] RomanHotsiy commented on #2199
I get a similar warning on the latest npm version:

- npm --version
7.3.0
- node --version
v15.5.1

[code]

[2021-01-09 20:02] ljharb commented on #2199
@RomanHotsiy try v7.4.0?

[2021-01-09 21:16] RomanHotsiy commented on #2199
@ljharb same.

[2021-01-10 01:01] foxxyz commented on #2453
Likely related to #2411. Try `npm publish --registry <registry_url>` as a workaround.

Fix underway in #2445.

[2021-01-10 09:40] crystalfp opened #2468 "[BUG] When run script loglevel is ignored unless set to "silent""
### Current Behavior:

Running any script by npm shows a log of the script execution even if it is not an error. For example:
`npm run my-script --loglevel error`
[code]
The only way to silence the log message is by setting `--loglevel silent`
The same problem appears with npm@7
The problem is that setting loglevel in `.npmrc` silences also valid messages from npm. I had to spent too much time to

[2021-01-10 12:31] hrueger opened #2469 "[BUG] Packages with Native Addon Modules not being installed in Electron Main Process"
### Current Behavior:
My application needs to install packages at runtime. The code I'm using is the following:
[code]
The `npmProgressbarParser` looks like this:
[code]
But it is only used to parse the progress bar output as I didn't find any api option for that.

The installation is working fine if I run the script with `ts-node myScript.ts`. The package is installed into the correct folder. How

[2021-01-10 16:42] pathros commented on #1703
`npm outdated `
is no longer working. The versions I'm using are:
npm v7.0.15
node v15.4.0

The error displayed is:

[2021-01-10 16:43] ljharb commented on #1703
Try v7.4.0?

[2021-01-10 17:58] yoram-g commented on #2428
I am also facing this issue

[2021-01-11 00:54] isaacs commented on #2197
This should be somewhat addressed by npm/metavuln-calculator#2.

[2021-01-11 03:02] nmadura commented on #2461
I also had this occur

[code]

last 10 lines of log output:
[code]

[2021-01-11 03:04] nmadura commented on #2461
Nevermind... after looking at previous posters problem I ran`npm cache clear --force` and then re-ran `npm install` and it worked correctly

[2021-01-11 03:56] rajshubham2401 commented on #2461
Thank you so much for the solution , but  it didn't worked for me and i tried lot of things but lastly I had to uninstall  node.js completely and reinstall it . Now its working fine.

[2021-01-11 04:21] ghost opened #2471 "[BUG] npm install --only=dev leakly install package"
### Current Behavior:
i wanna to install devdependecies only as basic docker build image, but it doesn`t work as expect.
Step 1. package.json
[code]
Step2. remove package-lock.json, node_modules
[code]
Step3. npm install --only=dev
[code]
Step4. npm run build
build - ` "build": "rm -rf build && npx babel ./ --out-dir build"`

[code]
BUT
Step 5. clear denpencies in package.json
[code]
Step6. repeat

[2021-01-11 11:31] ghost opened #2472 "[BUG] <Documentation not sync with v7>"
Docs are not updated with newest functionality when generating models.

"Interface" now changed to "type".  Docs should be updated.
Check example below.

By syncing with backend, the models are now updated on the form
// Model
export type Order {
    id?: number;
    quantity?: number;
    status?: Order.status;
}

By reading the docs, the models are supposed to be
// Model
export interface Order

[2021-01-11 14:58] sinedied commented on #2194
The issue can be replicated also with [Decktape](https://github.com/astefanutti/decktape) with `npm i -g decktape@3.1.0`
- On NPM v6, the `pupeeter` dependency postinstall script works fine (downloads a chromium bin)
- On NPM v7, the `pupeeter` dependency postinstall script is NOT executed - not just muted, as install finishes quickly instead of donwloading a huge bin on my machine.

[2021-01-11 15:28] ljharb commented on #2472
This seems like a question about a specific package, rather than about npm itself. npm doesn’t create “models”. Happy to reopen if I’m mistaken.

[2021-01-11 15:28] #2472 closed, assigned to nobody

[2021-01-11 15:46] JeremyLoy opened #2473 "[BUG] publishing: --registry flag is overridden by .npmrc for scoped packages"
### Current Behavior:
Given you are working on package `@MyScope:MyPackage`
and
Given the following `.npmrc`:

[code]

Run the following command:
[code]

Observe that the `npm` cli makes a PUT request to `AAAAA`

### Expected Behavior:
The `npm` cli should instead honor the explicit `--registry` flag and publish to `BBBBB`

### Steps To Reproduce:
see above

### Environment:
Tested both
[code]
and

[2021-01-11 15:46] JeremyLoy commented on #2473
Note: this may also affect 7.x, I haven't tested it myself as no project I am on uses that version of the CLI

[2021-01-11 15:48] ljharb commented on #2473
Given that 6 is unlikely to receive any fixes at this point, it'd be helpful if you could test with v7 latest.

[2021-01-11 15:52] JeremyLoy commented on #2473
Tested with the following:
[code]

The issue still persists

[2021-01-11 15:53] ljharb commented on #2473
Thanks, v7.4.0 is out as well but that’s a useful data point.

[2021-01-12 03:24] dominikj111 commented on #2363
It doesn't work ... @designervoid
[I raised a question here also](https://stackoverflow.com/questions/65623912/broken-git-repository-after-chmod-operation?noredirect=1#comment116049107_65623912).

[2021-01-12 08:48] targos opened #2476 "[BUG] updating npm in Docker fails with EISDIR"
### Current Behavior:

Running `npm i -g npm@7` in a Dockerfile fails with EISDIR, trying to use `fs.copyFile` on `/usr/local/lib/node_modules/npm`, which is a directory.

### Expected Behavior:

It should be possible to update npm in a Dockerfile

### Steps To Reproduce:

1. Create a Dockerfile:

[code]

1. Run `docker build .`

1. Output:

[code]

[2021-01-12 10:14] Lishenga commented on #2476
i encounter the same bug with docker. Any solutions available?

[2021-01-12 12:46] targos commented on #2312
This still seems to be the case with npm 7.4.0.

[2021-01-12 14:09] PriFerreira opened #2477 "[BUG] <error Installing dependencies into a bare React Native project>"
C:\Users\HP\Desktop\React_pri>npm install react-native-reanimated react-native-gesture-handler react-native-screens react-native-safe-area-context @react-native-community/masked-view
npm WARN deprecated core-js@2.6.12: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade
your dependencies to the actual version of core-js@3.
npm WARN tar EPER

[2021-01-12 15:08] lcwj3 opened #2478 "[BUG] "npm audit fix" replaces direct dependencies without considering semantic version compatible"
### Current Behavior & Steps To Reproduce:

I am trying to remediate vulnerabilities in dependencies via "npm audit fix", and find several cases of incompatible remediation, here is one case:
1. Here I use `dthree/cash` as example, `git clone https://github.com/dthree/cash`
2. `npm install` to install dependencies
3. `npm ls`, and can find `gulp@3.9.1` and `xo@0.12.1` is installed as direct depend

[2021-01-12 16:44] ericlathrop opened #2479 "[BUG] cb() never called!"
### Current Behavior:
[code]

the log file:

[code]

### Expected Behavior:
I expect the module to be installed without an error.

### Steps To Reproduce:
In a project with react-native-webview@10.10.2 already installed run `npm i -S react-native-webview@11.0.2` and see error.

### Environment:
Ubuntu 18.04
npm@6.14.11
node@v14.6.0

[2021-01-12 16:58] ericlathrop commented on #2479
...and 20 minutes later the same command works fine.

[2021-01-12 17:06] wraithgar opened #2480 "[BUG] 404 on unpublish does not show up on cli"
### Current Behavior:
When unpublish fails the cli does not output any errors or indicate that the unpublish was not successful

### Expected Behavior:
Some sort of output is returned letting the user know that the unpublish was not successful

### Steps To Reproduce:
Run `npm unpublish` on either a nonexistent package, one you do not have access to, or while logged out of the cli.

### Environmen

[2021-01-12 17:07] wraithgar commented on #2480
The results of this issue will affect the docs for unpublish. Currently they assume it works as described in `Expected behavior`

[2021-01-12 17:26] star-warrior opened #2481 "[BUG] <title>Unable to add my password"
### Current Behavior:

when i type

[code]

#### After adding my username I am not able able to type my password ... whatever I type nothing shows in Terminal
#### I tried Hyper terminal , VS Code terminal , Bash and even Windows command Line but nothing worked

[code]

### Environment:

- Node: v14.15.1
- npm: 6.14.8

#### Kindly help .... Thanks A lot

[2021-01-12 17:44] ljharb commented on #2481
This is by design; it’s so someone reading over your shoulder can’t read the password. It’s how all password prompts work on unixy systems.

[2021-01-12 18:02] scamden commented on #2443
is there a timeline for this? or a workaround? `file:` is pretty unusable with this bug..

[2021-01-12 19:08] bnb commented on #502
@darcyclarke seems there are multiple people reporting this solved in npm@7. Maybe either making this `wontfix` on 6 or backporting the fix is in order?

[2021-01-12 20:30] markmckenna commented on #2454
I'm seeing a similar issue just upgrading from 7.1.2 to 7.4.0:

[code]

[2021-01-13 01:09] brody2consult opened #2483 "[BUG] shows outdated support contact"
### Current Behavior:

I tried publishing a package and received an error message like this (redacting my package name):

The error message shows a support email address. When I sent a request to that address, I got a message that I have to go through the web interface here: https://www.npmjs.com/support

### Expected Behavior:

Error message should point me to the correct support forum.

### Step

[2021-01-13 06:03] elsaxo opened #2484 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-01-13 07:14] tarunjuneja commented on #681
I won't simply move to latest! i was worries about node js compatibility as not all npm are compatible with all node versions

I have an older version of node installed on my machine i.e 5.x.x
and I was on npm version 3.7.x

So i decided to move yo npm version 5.1.0 which is compatible

I simply did

npm install -g npm@5.1.0

Tip:
after doing this git bash was still showing older version of npm an

[2021-01-13 08:01] Flowkap commented on #2363
Same for us. I also commented on SO on the issue. For us its 100% reproducible. It works with npm7 and also with yarn. Also on all macs that previously to BigSur updates ran node + npm 6. All new macs broken though. (at least 3 colleges)

We cannot find any difference on the setup though. Also (as described on @domino2 SO post here https://stackoverflow.com/questions/65286917/cant-install-npm-pack

[2021-01-13 09:12] star-warrior commented on #2481
Oh ... Thanks a lot .... It worked

[2021-01-13 09:12] #2481 closed, assigned to nobody

[2021-01-13 09:21] #2484 closed

[2021-01-13 15:24] ljharb commented on #681
@tarunjuneja if you’re going to use older versions of node, I’d suggest using nvm, and `nvm install-latest-npm` which handles that problem.

[2021-01-13 16:47] nlf commented on #2104
@JoshuaWalsh that did help! i'm able to reproduce this now and am working on figuring out exactly what's going on. thank you for the logs and the detailed information!

[2021-01-13 17:03] codthing opened #2485 "[BUG] An error of unknown cause. Tried many methods and spent a lot of time"
Due to the complexity of the problem, the problem scenario is restored here:
<br/>

https://github.com/WrathChaos/react-native-dynamic-search-bar/issues/40

My npm Version:
![image](https://user-images.githubusercontent.com/16655229/104484532-5b817200-5604-11eb-93c6-2d2a3b7daf0a.png)

[2021-01-13 19:17] manuelottlik commented on #2453
I am publishing my npm packages to my private npm registry via GitHub Actions and had the same issue.

Am I correct that this currently effects **everyone** that uses `npm publish` in CI to a private registry?

[2021-01-13 21:41] foxxyz commented on #2453
That's been my findings so far. I hope the CLI team fixes this quickly.

[2021-01-14 00:12] #2197 closed, assigned to nobody

[2021-01-14 00:16] rclayton-the-terrible commented on #694
I'm experiencing a similar problem.  One of my teammates suggested that maybe it's an issue of running out of INodes on Linux?

Edit/Update:  Not an inode issue - I created a post-install task to list inodes and only 11% used (unless somehow they were cleaned up by npm after the error).

[2021-01-14 00:30] #2277 closed, assigned to nlf

[2021-01-14 00:30] #1869 closed, assigned to nlf

[2021-01-14 03:00] SDESkowronski opened #2489 "[BUG] npm ERR! cb() never called!"
### Current Behavior:
I ran "npm i" AND got an error "ERR! cb() never called!"

Here is what it shows on my windows command line:

  C:\repos\my-repo>npm i
  npm ERR! cb() never called!

  npm ERR! This is an error with npm itself. Please report this error at:
  npm ERR!     <https://npm.community>

  npm ERR! A complete log of this run can be found in:
  npm ERR!     C:\Users\my-name\AppData\Roam

[2021-01-14 03:13] SDESkowronski commented on #2489
I re-ran it and it worked the second time.

[2021-01-14 03:38] azhaubassar commented on #805
@saltukalakus thank you, you saved my hours

[2021-01-14 11:59] ghost opened #2490 "Vsc bot code error"
I am installing discord.js and quick.db for my discord bot, but why does it give the error you see below?

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\my-name\AppData\Roaming\npm-cache\_logs\2021-01-14T11_56_34_977Z-debug.log
PS C

[2021-01-14 13:10] thw0rted opened #2491 "[BUG] `bundledDependencies` does not bundle relevant executables"
### Current Behavior:
Bundled dependencies do not export executables when packing.

### Expected Behavior:
`npm pack` output should include scripts under `.bin` to launch any executables provided by the bundled depdency.

### Steps To Reproduce:
1. Install any dependency that exposes an executable, e.g. `lws`.
2. Include this dependency in `bundledDependencies`
3. `npm pack`
4. The resulting artif

[2021-01-14 14:12] RomanHotsiy commented on #1036
I have the same issue on npm@6.14.8

[2021-01-14 15:01] ljharb commented on #2491
What happens with npm v7.4.0?

[2021-01-14 15:14] thw0rted commented on #2491
I tested it just now and the behavior is the same.  The `node_modules` directory does not have a `.bin` at all.

For a simpler repro, try a package file like

[code]

`npm install` will create `node_modules/.bin/rimraf`, plus `rimraf.cmd` and `rimraf.ps1` (at least on WIndows), but `npm pack` won't include them.

[2021-01-14 15:55] mnr73 commented on #2476
user lts tag

[2021-01-14 15:55] mnr73 commented on #2476
use lts tag

[2021-01-14 16:31] liaoliaots commented on #2489
same issue

[2021-01-14 17:07] samuelscheit commented on #1832
can be reproduced with:
[code]
On MacOS 10.15.7
Node: v15.5.0
NPM: npm@next-7 and npm@6 and npm@7.3.0

Error:
[code]

[2021-01-14 21:01] Omotayewo opened #2493 "[BUG] cb() never called!"
# What / Why
I wanted to create-react-app with npx and some way through the installation, it stopped and gave the 'cb() never called error'

### Current Behavior
Ran the command twice which gave the error at both times

### Steps to Reproduce
npx create-react-app profile

### Expected Behavior
It should create a react app with directories and files

###Environment
node: v14.11.0
npm: 6.14.8
Window

[2021-01-14 21:15] Omotayewo commented on #2428
Me too

[2021-01-15 05:16] WebXHZ commented on #2364
您好 最后怎么解决的

[2021-01-15 07:58] liaoliaots commented on #2493
same, when I install @vue/cli -g

[2021-01-15 08:16] GSMare commented on #2493
I have the same issue.
![npmErr](https://user-images.githubusercontent.com/39889428/104698798-8f4ebb80-571a-11eb-8668-8fcc25dbb2ef.JPG)

I have tried to clear npm cache and re-installed node.

[2021-01-15 12:08] dimooze commented on #2152
Hi @jasonkarns !
I think this is the expected behavior as it also mentioned in the doc see : https://docs.npmjs.com/cli/v6/using-npm/scripts#npm-install (`prepare (when on local)`)

[2021-01-15 13:19] itzhak91 commented on #2364
Hi WebXHZ, I wanted to reset the OS but decided to switch to StackBlitz for now.

[2021-01-15 13:19] #2364 closed, assigned to nobody

[2021-01-15 14:09] jasonkarns commented on #2152
`local` is not a defined thing. If it were, that would imply that `NODE_ENV=production npm i` on a "local" machine, would also run the prepare hook; but it does not. What's more, if "local" is what drives the behavior, then running `NODE_ENV=development npm i` on a "remote" build or production box would presume that it does _not_ run the prepare hook (because it's being run "not on local"). Howeve

[2021-01-15 16:45] andrey-skl opened #2495 "[BUG] "npm explore" doesn't work for package installed via "file:../" protocol"
### Current Behavior:
1. Have a package from local folder installed via "file:" protocol like: `"foo": "../foo"
2. Run `npm install` to ensure everything is installed/linked
3. Run `npm explore foo -- pwd` command to run "pwd" command for "foo" package

It throws error: `It doesn't look like foo is installed.`

### Expected Behavior:
As "explore" command should do, it should run "pwd" command for

[2021-01-15 18:06] DevAngsy commented on #2319
same issue.

OS: Windows 10
Node: 14.15.4
NPM: 7.4.1

[2021-01-15 18:06] DevAngsy commented on #2319
not for me

[2021-01-15 19:20] darcyclarke commented on #2127
@jorenbroekema can you try updating to the latest v7 release (ie. `7.4.1`) & try replicating?

[2021-01-15 19:21] aligon commented on #1960
@nlf I believe I'm running into this issue still.

`npm i` is erroring trying to download the tarball from a private registry.
in the debug log I see:
[code]

The logs on `my_registry`, indicate that it got the auth header for my_registry/@nti%2fweb-service , but not for my_registry/@nti%2fweb-service/-/web-service-1.42.0.tgz

[code]

### Environment:
OS: macOS 11.1
Node: 14.15.3
npm: 7.4.1

### .

[2021-01-15 19:24] darcyclarke commented on #2194
The originating issue is actually the intended experience in v7; If you want to see when scripts are run, you can add the flag `--foreground-scripts`.

[2021-01-15 19:24] #2194 closed, assigned to darcyclarke

[2021-01-15 19:25] juanpicado commented on #1960
Just for context, the ‘undefined’ means the server is not getting the token, also you can increase log at verdaccio with trace and is more obvious.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Andrew Ligon <notifications@github.com>
Sent: Friday, January 15, 2021 8:22:05 PM
To: npm/cli <cli@noreply.github.com>
Cc: Juan Picado <juanpicado19@hotmail.com>; Manual

[2021-01-15 19:29] darcyclarke commented on #2467
Hey @AlCalzone, this does look to be like a duplicate (ie. potentially you are just not seeing output when scripts are run). We just tested this to see if postinstall scripts are working & they seem to be. I've posted a comment back here for some other context (ie. running with the `--foreground-scripts` flag or changing your `loglevel` should show output similar to v6): https://github.com/npm/cli

[2021-01-15 19:29] #2467 closed, assigned to nobody

[2021-01-15 19:33] MichaelGreisberger opened #2496 "npm error: cb() never called!"
got this error while installing vue-google-charts with the following command: npm i vue-google-charts
was asked to post this here.

log:
[2021-01-15T19_23_15_753Z-debug.log](https://github.com/npm/cli/files/5822577/2021-01-15T19_23_15_753Z-debug.log)

hope this helps

[2021-01-15 19:36] darcyclarke commented on #2265
@dennis-c can you try updating to `v7.4.1` and see if you run into the same problem?

[2021-01-15 19:39] darcyclarke commented on #2027
@ilyaigpetrov The folder you're running `npm start` in must be a root-owned directory if you use `sudo`; Can you try `chown`ing the directory to give permissions/ownership to `root` & trying again.

[2021-01-15 19:41] darcyclarke commented on #2060
@yousifalraheem can you try updating your version of `v7` (ie. `npm i -g npm@7`) & trying again? We've fixed a few bugs around setting proxies.

[2021-01-15 19:45] darcyclarke commented on #2339
@garciaalvaro if the path is set within the root directory we will resolve the dependencies in v7 but, if as you've shown, the path is outside the fs root then we treat it like a linked dep and won't resolve those deps. We understand that this is a change from v6.

[2021-01-15 19:46] darcyclarke commented on #2476
@targos thanks for flagging this. We've queued up a release to resolve this ([`v7.4.2`](https://github.com/npm/cli/releases/tag/v7.4.2) should resolve)

[2021-01-15 19:49] darcyclarke commented on #2253
@Ngorror this is actually working as intended; If, as your example alludes, you want to do a clean install - you can/should use `npm ci`

[2021-01-15 19:49] #2253 closed, assigned to nobody

[2021-01-15 19:53] darcyclarke commented on #2182
@tlbdk thanks for flagging this. We should have a patch out here shortly (ie. [`v7.4.2`](https://github.com/npm/cli/releases/tag/v7.4.2) should resolve this)

[2021-01-15 19:59] darcyclarke commented on #2483
Hey @brodybits! Sorry you ran into this. I've poked our registry team & created an internal ticket to help resolve this. I'm going to close this for now since it's registry-specific. In the future, you can create a ticket at https://www.npmjs.com/support for any website/registry specific issues you come across

[2021-01-15 19:59] #2483 closed, assigned to nobody

[2021-01-15 20:31] aligon commented on #1960
[code]

[code]

[2021-01-15 20:44] isaacs commented on #2144
Took a bit of digging to see exactly what was going on here, but yes, this is a bug.  Fixed by npm/pacote#59.

[2021-01-15 20:44] AlCalzone commented on #2467
@darcyclarke It seems like the underlying issue is something different. Our postinstall script does indeed run, but it modifies package.json, so we can install additional dependencies dynamically in the next install step. This used to work in npm6, but now the changes get overwritten later, causing the followup installation steps to be skipped.

[2021-01-15 20:48] darcyclarke commented on #2158
@bricss 🤔 In terms of what you're seeing on disk - if you can, try updating to the latest `v7` (ie. `npm i -g npm@7`) - then running `npm update` & checking which version of your deps have been installed (ie. `npm ls`). I've tested this a bit & it seems to be working for me fine as of `v7.4.0`. The only caveat to this might be that you've previously saved **exact** versions of a package (ie. using

[2021-01-15 20:57] jorrit commented on #2158
npm did update package.json in v6 and I liked that behavior.

[2021-01-15 21:10] #2476 closed, assigned to darcyclarke

[2021-01-15 21:11] #2182 closed, assigned to darcyclarke

[2021-01-15 21:14] darcyclarke commented on #2011
@billyjanitsch Wanted to finally circle back on this. I've had a drafted message for a while but we took some of your initial findings back internally & have dug in here quite a bit (p.s. this message is not that draft). There should be some recent perf wins we've found that just landed in [`v7.4.2`](https://github.com/npm/cli/releases/tag/v7.4.2); If you can, we'd love to have you try out that mo

[2021-01-15 21:16] zdm commented on #2158
@darcyclarke
This is how v6 works. Could we just implement this behavior without invent new schemes?

1. npm should respect `save-prefix` option. If i have `save-prefix=">="` and run `npm i test` - it will write `"test": >=5.0.0` to the package.json.
2. When I run `npm update` and package `test` was updated - it will update it version in package.json: `"test": >=10.0.0`.

[2021-01-15 21:39] darcyclarke commented on #2496
Please review #417 & [this doc](https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22). For future reference, we ask that people fill out/use one of our [issue templates](https://github.com/npm/cli/issues/new/choose) when filing new tickets.

[2021-01-15 21:39] #2496 closed, assigned to nobody

[2021-01-15 21:41] darcyclarke commented on #2493
Please review #417 & [this doc](https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22).

[2021-01-15 22:11] #2493 closed, assigned to nobody

[2021-01-15 22:12] darcyclarke commented on #2489
https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22

[2021-01-15 22:12] #2489 closed, assigned to nobody

[2021-01-16 12:58] jorenbroekema commented on #2127
Sure, I'll update the issue next Monday after trying it with latest npm 7 👍

[2021-01-16 15:01] cdoublev commented on #2027
I confirm it's working after `chown`ing root as the owner of the directory from where `sudo npm start` is run (node v15.5.0, npm v7.3.0, Debian Buster). It also works (without `chown`ing or `sudo`ing) if listening on port 8080.

StackOverflow might be more appropriate for the following, but if `sudo` privilege is not forwarded from the command line to the script file when the process working direc

[2021-01-16 22:21] ariccio opened #2501 "npm usage should explain that it will open in a browser"
This is really quite small, but it would be nice if the [usage output](https://github.com/npm/cli/blob/ab22c43a6a5ddcd9b59eb3df3db4e1a0dffdcaaa/lib/utils/npm-usage.js#L19) said that it would open in a browser. I forget every now and then and it surprises me. Maybe I'll submit a PR.

[2021-01-17 22:40] s-a-c commented on #2479
I, too, am experiencing this issue.
It has not resolved itself
I cannot create my development environment
I am trying to run the following:
`
 ❯  npm version
{ npm: '7.4.2',
  http_parser: '2.9.4',
  node: '10.23.1',
  v8: '6.8.275.32-node.59',
  uv: '1.34.2',
  zlib: '1.2.11',
  brotli: '1.0.7',
  ares: '1.15.0',
  modules: '64',
  nghttp2: '1.41.0',
  napi: '7',
  openssl: '1.1.1i',
  icu: '64.2

[2021-01-18 01:00] kxmndz opened #2503 "[BUG] NPM terminal command broken but not node"
### Current Behavior:
NPM terminal command is broken, but Node isn't.
![image](https://user-images.githubusercontent.com/71072915/104860264-843b9b80-5965-11eb-87a0-f8e21deed7bb.png)

When I run a node app from a Git bash, it throws this
[code]
Process finished with exit code -1073740791 (0xC0000409)```

And nothing happens. I am on Windows 10 Home 64-bit (10.0, Build 19042) with 12 GB of RAM. RAM

[2021-01-18 01:56] lalberto8085 commented on #2128
Hello I know it's been a while, what version was this fixed on?

[2021-01-18 02:45] ljharb commented on #2128
@lalberto8085 no version of npm; if you click on the CRA PR, and on the commit that merged it, you'll see it's not released there yet.

[2021-01-18 08:16] targos opened #2504 "[BUG] npm install --force fails for peerOptional conflicts"
### Current Behavior:

Run `npm install --force` fails instead of ignoring upstream dependency conflict

### Expected Behavior:

It should print a warning and continue with the installation.

### Steps To Reproduce:

[code]

Output:

[code]

<details>

<summary>npm resolution error report</summary>

[code]

</details>

### Environment:

- OS: Windows 10
- Node: 15.6.0
- npm: 7.4.3

[2021-01-18 09:32] targos commented on #2504
Another one:

[code]

[2021-01-18 09:41] targos opened #2505 "[BUG] package-lock issues with workspaces"
### Current Behavior:

After installing the dependencies in an npm workspace for the first time, running `npm install` a second time changes the package-lock.json:
1. Some dependencies are removed from it
2. The "name" field of the sub-packages is set (it wasn't present on the first install)

### Expected Behavior:

Running `npm install` right after creation of the package-lock.json shouldn't chan

[2021-01-18 12:40] dennis-c commented on #2265
@darcyclarke I couldn't get higher than 7.4.0 through homebrew yet (and that gave the same error as below), but I asked my co-worker who uses linux and he could upgrade and still got errors.

[code]

[2021-01-18 13:34] ragnarok22 opened #2506 "creating a React project in pycharm"
"C:\Program Files\nodejs\node.exe" "C:\Program Files\nodejs\node_modules\npm\bin\npx-cli.js" --ignore-existing create-react-app .
    npm ERR! cb() never called!

    npm ERR! This is an error with npm itself. Please report this error at:
    npm ERR!     <https://npm.community>

    npm ERR! A complete log of this run can be found in:
    npm ERR!     C:\Users\myuser\AppData\Roaming\npm-cache\_lo

[2021-01-18 16:30] ljharb commented on #2265
@dennis-c npm is not updated through homebrew, only through `npm install -g npm`. (`npm install -g npm@7` in this case)

[2021-01-18 16:43] jorenbroekema commented on #2127
Updated to npm `7.4.2`, still getting the self signed certificate warning:

[code]
and then it fails because it cannot find a matching version for some dependency.

If I just do `npm info @babel/core` it kinda works, I still get the warning, but it manages to find it using stale data.

If I do `npm info` with some package for which stale data isn't there and it has to revalidate, I get:

[code]

H

[2021-01-19 00:46] kxmndz commented on #2503
I just did some more testing, using this *very* small program:
[code]
It crashes before it logs 'timeout', with the same exit code as before (-1073740791). Playing around with the timing, it logs and finishes properly if the delay is changed to 1200 ms, but things get weird at 1250 ms: it logs 'timeout' but crashes with the exit code -1073740791, and at 1270 ms it just crashes without logging 'tim

[2021-01-19 01:49] nknownhacker opened #2507 "[BUG] <npm install steam-user gave an error>"
When I tried to steam-user it gave an error and told me to open up an issue which so I did
File is linked along with this
The platform is linux xfce4

[npm-debug.log](https://github.com/npm/cli/files/5833138/npm-debug.log)

[2021-01-19 02:09] Stvad opened #2508 "[BUG] NPM v7 private registry authentication 401 (v6 works)"
### Current Behavior:
While trying to install packages from GitHub package repository, I get 401 error when using npm v7 (tried with 7.3 and 7.4.2) while it's working with v6 (6.14.11)

Full error:

[code]

My `.npmrc` is as follows:
[code]

Seems very similar to #2183

### Expected Behavior:
Packages are successfully installed

### Steps To Reproduce:
Do `npm install` with npm v7, packages hosted

[2021-01-19 02:47] joshuaavalon commented on #2060
@darcyclarke I am on npm 7.4.2 and Node 15 and I am still facing the same issue. I am behind a proxy. `npm install` and `npm update` works fine but `npm outdated` will throw `getaddrinfo ENOTFOUND` for `registry.npmjs.org`.

[2021-01-19 05:50] Chriscbr commented on #2410
I tried this on 7.4.0 and the example I gave works now. 👍

[2021-01-19 09:21] dennis-c commented on #2265
@ljharb Thanks for the tip, I updated to 7.4.2 and get the same error message I got under 7.4.0, 7.0.14 and that my co-worker got under 7.4.2.

[2021-01-19 11:53] olehdevua commented on #2286
`npm ci --only=production` works. Why it's not described in the docs in such case :question:

[2021-01-19 12:41] SpenceUK opened #2509 "[BUG] Prune command adds packages?"
### Current Behavior:
running npm prune --json shows that it is adding packages.  The documentation does not explain why. It states that this command is to remove extraneous packages not listed in package json file.

My question is for an explanation as to why it is adding additional packages?
If it should not then this is a bug.  If it is the correct behaviour can it be explained and also added t

[2021-01-19 14:38] thirteen-io commented on #2060
I've just attempted this. Using `npm i -g npm@7` fails however `npm i -g npm@latest` seems to have resolved the issue.
(Tested with v15.6.0 and v15.4.0 on Windows 10).

[2021-01-19 14:54] ljharb commented on #2410
Fixed by #2448.

[2021-01-19 14:54] #2410 closed, assigned to nlf

[2021-01-19 14:57] ljharb commented on #2060
@thirteen-io fails how? using “latest” right now installs npm 6.

[2021-01-19 15:47] sk09049 opened #2510 "Could not resolve dependency"
npm install fail with below dependency "@angular-devkit/build-angular" : sample package.json

[code]
I am using node V15.5.1 npm v7.3.0
os : ubuntu 20.4

`npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: myApp@0.0.1
npm ERR! Found: typescript@4.0.5
npm ERR! node_modules/typescript
npm ERR!   peer typescript@">=3.9 <4.1" from @angular/com

[2021-01-19 17:04] wraithgar commented on #1888
I was not able to reproduce this in npm `v7.4.1`

I tried with both an `.npmrc` file in the project folder, and my `~/.npmrc` file.  I tried with both setting `save-prefix=~` and `save-prefix=^` and also with no `save-prefix` (which fell back to the default which is `save-prefix=^`

In each case I started with a package.json with no dependencies.  Then ran

[code]

I also tried

[code]

To test up

[2021-01-19 17:04] #1888 closed, assigned to wraithgar

[2021-01-19 17:38] biltongza commented on #694
We get the same issue on Windows so not sure it's Linux specific.

[2021-01-19 18:25] thirteen-io commented on #2060
@ljharb Sorry for not being clear.
It failed exactly like the original issue posted. (ENOTFOUND etc)

You are also correct regarding the latest release... totally my mistake sorry. I thought latest was using npm 7. It _is_ at least a temporary workaround for now if you absolutely _need_ the outdated command.

[2021-01-19 19:41] isaacs commented on #2398
Sure, sorry for the vague response, had meant to come back to this and forgot to.

It's getting set here, looks like: https://github.com/npm/config/blob/main/lib/set-envs.js#L60

[2021-01-19 19:54] ljharb commented on #2398
Hmm - looking at that, `defaults` doesn't have any prefix to compare to, and cliConf/envConf don't seem to have it either.

It seems important *to* set it when it was set in the first place, and *not* to set it when it wasn't, but it's not clear to me how to do that. Any tips?

[2021-01-20 01:32] joshuaavalon commented on #2060
@thirteen-io Using npm 6 is not a workaround if you want to use workspace which only available on npm 7. My workaround is [npm-check-updates](https://www.npmjs.com/package/npm-check-updates). It updates packages in package.json to latest version and I just diff the versions change.

[2021-01-20 01:52] #2144 closed, assigned to isaacs

[2021-01-20 01:53] isaacs commented on #2144
This will be fixed when we pull pacote 11.2.2 into the cli.  Thanks for reporting :)

[2021-01-20 05:27] MadeleineCodes commented on #2508
I have the same issue on windows 10 trying to access azure feeds. I currently have:

[code]

I also tried some older 7.x.x versions, but none of them worked for me. Only if I downgrade to v6 it starts working again.

I keep getting

[code]

[2021-01-20 06:00] frankforward commented on #1561
i had o upgrade  @progress/kendo-angular-intl  to the latest `3.1.0` and the error went away

[2021-01-20 08:26] vo55 opened #2512 "[BUG] NPM audit fix --prefix not respected in combination with dryrun"
### Current Behavior:
Running `npm audit fix --dry-run --json` from the same directory as the package.json and package-lock.json works fine, going into another directory (e.g. one hierarchy level up) and running `npm --prefix ./<repo_path>/package-lock.json audit fix --dry-run --json` results in an  EEXIST: file already exists, mkdir '<package-lock-path>'

### Expected Behavior:
The dry run should

[2021-01-20 11:14] vo55 commented on #2512
nevermind, i just guess it would be a new feature and the prefix would have to be called with a directory instead of the file obviously.

[2021-01-20 11:14] #2512 closed, assigned to nobody

[2021-01-20 14:26] xyhallo opened #2513 "npm example invalid； nodejs require("npm"); npm.on("log") no"
**my code**
`
const npm = require("npm");
npm.load({}, (err) => {
  npm.commands.install(["http-server"], (err) => {
    console.log(err || "done");
  });

  npm.on("log", function (message) {
    console.log("info", message);
  });
});
`
This "on" doesn't work ;

**Official example code：**
`
    npm.on('log', function(message: any) {
      // log installation progress
      console.log(message);

[2021-01-20 15:12] ljharb commented on #2512
What happens with npm 7?

[2021-01-20 17:17] JakobJingleheimer commented on #2310
This is not fixed, so why is the issue closed? (I just spent ~15 minutes typing up another bug report because a search of open issues for this had none).

This is very confusing behaviour and, it seems like the output of `outdated` in this case is effectively misinformation.

[2021-01-20 18:08] MinusFour opened #2514 "[BUG] PeerDependency found does not match others PeerDependencies"
A user sent me an interesting `package.json` in which `npm` would use a valid candidate for one peerDependency but not for the other ones even though there's a whole range of valid candidates.

I believe it's related to this PR/Issue: https://github.com/npm/arborist/pull/182.

The packages are:
[code]

`compression-webpack-plugin@4.42.0` has a `webpack` peerDependency of `^4.0.0 || ^5.0.0`
`raw-lo

[2021-01-20 20:55] isaacs commented on #2054
The change in npm/pacote#61 is the first half of this.  It will tell pacote to use git+https and _not_ fall back to ssh, if https auth is provided.  It will also use git+https as the `resolved` value in these cases.

The second part of the change will be fixed in @npmcli/arborist, by having it store git+https in the package{,-lock}.json files (instead of the shortcut or git+ssh) for known hosts wh

[2021-01-20 22:24] #2054 closed, assigned to wraithgar

[2021-01-20 23:20] Qualityinmate opened #2515 "E405 - Method not allowed: Get https://registry.npmjs.org/newman"
Could not install newman using "npm install -g newman" in cmd

### Current Behavior:
E405 - Method not allowed: Get https://registry.npmjs.org/newman

### Expected Behavior:
Expecting newman to be installed on my machine.

### Steps To Reproduce:

### Environment:
node -v
v12.18.3
npm -v
6.14.6
<img width="1432" alt="Newman installation issue" src="https://user-images.githubusercontent.com/7775749

[2021-01-20 23:22] wpwoodjr opened #2516 "[BUG] npm install fails to resolve proxy server address"
### Current Behavior:
In npm 6, `npm install` works behind a proxy when the `http_proxy` and `https_proxy` environment variables are set.

npm 7 fails with:
[code]
If I replace the proxy DNS name with its IP address, it works fine, so it seems to be a bug in proxy DNS name resolution.

### Expected Behavior:
It works fine in npm 6 using the proxy DNS name (no IP address required):
[code]

### Envi

[2021-01-21 01:19] isaacs commented on #2398
`env.PREFIX` is not an npm-specific config, but it is used by various installers and compilers (most notably, autoconf).  I believe it was once upon a time necessary to get binary modules to build properly back in the Scons days.

I could see two possible approaches here.

1. don't set env.PREFIX ever.

[code]
2. only set if already set
[code]

With either approach, we should float the patch on th

[2021-01-21 05:23] DeeDeeG commented on #1708
I think this is fixed now, thanks for working on this @nlf!

I tested, and I could not reproduce the bug on the following Node versions:

- 10.23.1
- 12.20.1
- 14.15.4
- 15.6.0
- 16.0.0-nightly20210120e3e054d020

Tested on my macBook, macOS 10.15.7 Catalina.

[2021-01-21 05:23] #1708 closed, assigned to nlf

[2021-01-21 05:45] DeeDeeG opened #2517 "[BUG] Npm 7 bundled with Node is slow when globally installing/upgrading npm 7"
### Current Behavior:

npm 7 when bundled with Node is slower to globally reinstall or upgrade npm 7. (About ~20-30 seconds)

### Expected Behavior:

npm 7 bundled with Node, and npm 7 manually globally installed, should have identically fast speed when doing a global install of npm 7. (About ~3 seconds).

### Steps To Reproduce:

- Get Node 15 or Node nightly 16 with npm 7 included
- `npm install

[2021-01-21 09:18] vrushabhgadkari opened #2518 "error cb() never called!.................... i am facing this issue not able to create my angular app ...........................at the end of installation every time this error occurs.........< The Schematic workflow failed>"
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '--quiet'
1 verbose cli ]
2 info using npm@6.14.10
3 info using node@v14.15.4
4 verbose npm-session 03da55ebb962aaea
5 silly install runPreinstallTopLevelLifecycles
6 si

[2021-01-21 13:22] telmich opened #2519 "[BUG] npm does not work in IPv6 only networks"
### Current Behavior:

Installing requirements for etherpad-lite fails with the following error:

[code]

### Expected Behavior:

It works. The machine can get the package:

[code]

### Steps To Reproduce:

1. Login to an IPv6 only network
2. Run npm ci
3. It fails

### Environment:

[code]

### Other information

It seems that this bug is REALLY old (first seen in 2014) and still around. As 80% o

[2021-01-21 13:28] telmich commented on #2519
Full log file:

[code]

[2021-01-21 14:00] LeSuisse opened #2520 "[BUG] preshrinkwrap, shrinkwrap and postshrinkwrap scripts are not executed"
### Current Behavior:
With a `package.json` looking like that, `preshrinkwrap`, `shrinkwrap` and `postshrinkwrap` scripts are not executed when running `npm install`:

[code]

### Expected Behavior:
 `preshrinkwrap`, `shrinkwrap` and `postshrinkwrap` scripts to be executed when running `npm install` as described in the documentation https://docs.npmjs.com/cli/v7/configuring-npm/package-locks

Note

[2021-01-21 15:02] ljharb commented on #2519
What happens in npm v7 latest?

[2021-01-21 15:13] fbeyl commented on #417
2 info using npm@6.14.5
3 info using node@v12.18.1
4 verbose npm-session ae39a2f66d8c100b
5 silly install loadCurrentTree
6 silly install readGlobalPackageData
7 http fetch GET 407 https://api.bintray.com/npm/ca/brightside/@brightside%2fcore 981ms
8 timing npm Completed in 4923ms
9 error cb() never called!
10 error This is an error with npm itself. Please report this error at:
11 error <https://np

[2021-01-21 16:29] Pomax opened #2521 "[BUG] missing docs around package-lock.json inside the /node_modules/ dir"
### Current Behavior:
I can't for the life of me find something that lets me let you know about docs problems, as the [official list of options](https://github.com/npm/cli/issues/new/choose) has nothing relating to docs issues (only a way to open the docs site), so I'm filing this as an npm bug instead: running `npm install` generates a `package-lock.json` file not just in the project dir, but als

[2021-01-21 17:11] #1507 closed, assigned to darcyclarke

[2021-01-21 17:29] wraithgar commented on #1896
This looks to have been fixed. Tested in `v7.4.1` and this was the output

[code]

[2021-01-21 17:29] #1896 closed, assigned to wraithgar

[2021-01-21 17:40] ASDFGerte opened #2524 "[BUG] npm ci --dry-run deletes node_modules folders"
### Current Behavior:
Executing `npm ci --dry-run` deletes all folders in `node_modules`.

### Expected Behavior:
Optimally, just the text output, as `--dry-run` describes, or an error, that it's incompatible with `npm ci`.

### Environment:
- OS: Windows 7
- Node: 15.6.0
- npm: 7.4.0

[2021-01-21 19:16] klaseca commented on #2229
node 15.6.0 and npm 7.4.0 - the error remains
node 15.6.0 and npm 6.14.10 - no error

[2021-01-21 19:17] wraithgar commented on #2181
Private git repos via https auth would only work with a token, and the bug that caused this fallback was fixed here https://github.com/npm/pacote/pull/61 and will be part of npm `v7.4.3` https://github.com/npm/cli/pull/2522

[2021-01-21 19:17] #2181 closed, assigned to isaacs

[2021-01-21 19:29] ssamakar commented on #1834
Same here with v7.4.2.

[2021-01-21 19:47] nlf commented on #1834
if the issue is that the `npm_config_user_agent` environment variable isn't set, then we should reopen this issue. if you're having another problem entirely, then yes please do open a new issue.

[2021-01-21 19:56] wraithgar commented on #2508
I was not able to duplicate this with `v7.4.3`

My config is as follows:

[code]

The command I ran was `npm install --prefer-online` to ensure that this wasn't a case where caching was giving me a false negative. I also did this with no `package-lock.json` file present.

Is it possible that your package-lock has erroneous `resolved` urls that point to the registry that are left over from a previo

[2021-01-21 20:12] nlf commented on #2507
based on your log, you appear to be using npm 3.5.2, this is a very very old version that we no longer support.

i would try updating to the latest version of npm 6 with `npm i -g npm@6` since you're using node 8 and that's the latest version compatible. if you're able to update your node to at least 10, you can also try `npm i -g npm@7`.

after updating, feel free to open a new issue if your prob

[2021-01-21 20:12] #2507 closed, assigned to nobody

[2021-01-21 20:19] MikaelX commented on #1937
I can confirm this bug exists in 7.4.0, and 7.4.3

[2021-01-21 20:48] MikaelX opened #2525 "[BUG] npm 7.x ignores publishConfig.registry"
**Current Behavior:**
npm publish does not follow publishConfig.registry, if registry is .npmrc it will try to publish to that, if not npm.org.

**Expected Behavior:**
npm publish publish to defined publishConfig.registry as it did in 6.x.

**Steps To Reproduce:**
Install npm@7
Set publishConfig.registry IE: "publishConfig": { "registry": "https://..." }
Run npm publish
Environment:
OS: Mac OS Big

[2021-01-21 21:50] nlf commented on #1700
this should be fixed in `7.4.3`, please do let us know if it's still not working correctly!

[2021-01-21 21:50] nlf commented on #2104
this should be fixed in the latest release `7.4.3`, please do let us know if you continue to have issues

[2021-01-21 21:51] nlf commented on #2423
this should be resolved in the latest release `7.4.3`, please do let us know if you continue to see this problem after updating!

[2021-01-21 21:51] #2423 closed, assigned to nlf

[2021-01-21 21:53] nlf commented on #2229
can you try with npm 7.4.3? we released a few patches that should address this problem

[2021-01-21 21:58] nlf commented on #2415
this sure makes it seem like `npm-check` is still running the wrong version of npm, i'm not sure what's going on with that since i'm unfamiliar with that tool.

that said, i can confirm that a plain `npm update -g` should work and currently does not for me either. i'll follow up again here when we have a fix!

[2021-01-21 21:59] wraithgar commented on #2117
I can't reproduce this w/ `v7.4.3` and neither could @nlf when he tried it. Without more info on how this can reliably be reproduced I'm going to close this.  If this is still an issue, either reopen this with more details or create a new issue.

[2021-01-21 21:59] #2117 closed, assigned to nobody

[2021-01-21 22:12] wraithgar commented on #2170
Closing as duplicate of https://github.com/npm/cli/issues/417

[2021-01-21 22:12] #2170 closed, assigned to nobody

[2021-01-21 22:15] wraithgar commented on #2041
If this is still a bug please open a new issue following the new issue template, including steps to reproduce so we can try to debug this better.

[2021-01-21 22:15] #2041 closed, assigned to nobody

[2021-01-21 22:40] wraithgar commented on #2208
The current behavior is the intended one, and is not as such a bug.  Changing this is possible, but it would have to go through our RFC process, which you can find more information about [here](https://github.com/npm/rfcs)

[2021-01-21 22:40] #2208 closed, assigned to nobody

[2021-01-21 23:20] wraithgar commented on #2089
Added this to https://github.com/npm/statusboard/issues/265

[2021-01-21 23:20] #2089 closed, assigned to nobody

[2021-01-21 23:31] wraithgar commented on #2256
Changing the behavior of npm is done via the RFC process, which you can find more about [here](https://github.com/npm/rfcs)

[2021-01-21 23:31] #2256 closed, assigned to nobody

[2021-01-21 23:34] wraithgar commented on #2239
I am able to install uuid just fine w/ `v7.4.1`.  If this is still an ongoing issue please enter your node version, npm version, and operating system type in the `Environment` info so we can try to debug further.

[2021-01-21 23:34] #2239 closed, assigned to nobody

[2021-01-21 23:49] wraithgar commented on #2400
This has since been fixed.

[2021-01-21 23:49] #2400 closed, assigned to nobody

[2021-01-21 23:51] Qualityinmate commented on #2515
Any update would be highly appreciated.

[2021-01-22 00:29] conartist6 commented on #2256
Are you suggesting that this behavior is part of the official
specification? I solved my problem by switching to yarn (which handles the
situation much better), so there's not much incentive for me to shepherd
this through an involved process anymore.

[2021-01-22 01:11] jelhouss commented on #2415
I had a similar issue. I used a version of Node.js (forgot exactly, but I think it was **12.x**), however, I planned to upgrade to **v15.0.x** and then wanted to list my outdated packages.
After I upgraded to **v15.0.1** (did not test with **v15.0.0** so perhaps this could be a particular problem to `15.0.1`, or generally `15.x`) and npm **v7.0.3**; `npm outdated` logged:

[code]
Side note: I use

[2021-01-22 01:30] isaacs commented on #2208
You can get slightly more aggressive deduping behavior by using `--prefer-dedupe`, but the heuristic is still to prefer a newer version (or the first one encountered in the tree building process) over a more commonly used version.  The heuristic suggested here would be pretty difficult to implement as a strict contract with decent guaranteed performance, since moving a more frequently used dep hig

[2021-01-22 02:28] Vixb1122 commented on #2229
@nlf   New error found, keep an eye on command with "output correct result" and "output incorrect result".
[code]

[2021-01-22 02:44] ljharb commented on #2415
@jelhouss on node 15, it'd be worth doing `npm install -g npm@7`, and trying with v7.4.3.

[2021-01-22 03:16] fayismahmood commented on #805
yah it worked for me too

[2021-01-22 05:30] MadeleineCodes commented on #2508
I tried again, removed `package-lock.json` and executed with `npm i --prefer-online` - same result. :/

[2021-01-22 05:40] Stvad commented on #2508
presence of `package-lock.json` does not seem to make a difference.
using `npm install --prefer-online` seems to help for me. I'm trying `npm install` on a clean docker image though, so I don't believe there are any cache?

[2021-01-22 05:43] Stvad commented on #2508
hrm interesting. if I do `npm install --prefix-online` on a clean image it doesn't work actually. but if I try doing `npm install` first (it fails) and then `npm install --prefix-online` it works 🙈

[2021-01-22 08:25] silvenon commented on #2117
@wraithgar unless npm has a feature of auto-resolving merge conflict in `package-lock.json`, no problem, otherwise I can try to come up with a repro.

[2021-01-22 14:11] AviVahl commented on #2505
This issue has been driving me crazy, heh.

On my repo ([ts-tools](https://github.com/AviVahl/ts-tools)) it doesn't remove any dependencies on the second run, but does add the `"name"` field of all local packages.

I end up running `git clean -fdx && rm package-lock.json && npm i && git clean -fdx && npm i` every time I want to regenerate my lock file from scratch. The second `git clean -fdx && np

[2021-01-22 15:27] wraithgar commented on #2117
Merge conflicts can be (usually) solved by using https://github.com/npm/npm-merge-driver

[2021-01-22 16:11] luckman212 commented on #1700
@nlf Thank you - but still not working 100% for me. I still have to export `NODE_EXTRA_CA_CERTS` to get npm commands to run without errors.

- macOS 11.1
- npm 7.4.3
- my `~/.npmrc`:
[code]

_without_ exporting `NODE_EXTRA_CA_CERTS`:
[code]

with:
[code]

[2021-01-22 16:35] cmidkiff87 commented on #681
@tarunjuneja's solution works; however, if you're running inside a docker build, you're going to get an additional error:

[code]

The solution (which I found from [here](https://blog.cloud66.com/using-node-with-docker/)) is to put this in your dockerfile

[code]

(v5.3 being the latest npm version that works with node5 < 5.10 according to [nvm](https://github.com/nvm-sh/nvm/blob/31c5c5c45a2e646bb

[2021-01-22 16:44] nlf commented on #1700
thanks for following up! i'll take another look and see if we're missing passing one of those settings through in another place

[2021-01-22 17:47] isaacs commented on #2312
So, the reason for this is that npm v7 uses a different way to stage and unpack package contents.  This means that the rollback logic can be more robust, and less vulnerable to crashing with "directory not empty" errors, especially on Windows.

However, it also means that we start making changes to the target location right away (because we have to move the current package out of the way _before_

[2021-01-22 18:08] garciaalvaro commented on #2339
@darcyclarke Thank you for the information.
If I understood correctly, the behaviour is intended. Is there some way to keep/emulate the previous behaviour and install those dependencies too?

[2021-01-22 18:19] pubmikeb commented on #2239
I've just tried to reproduce the issue on `node-v16.0.0-nightly20210122a35b32ec1e-x64`, it works as expected.
The ticket can be marked as obsolete.

[2021-01-22 19:15] StefanLiebenberg commented on #1937
This works for me in 7.2.0 and breaks in 7.3.0.

[2021-01-22 19:26] darcyclarke commented on #2100
@VictorPro007 can you...

- try manually removing npm (ie. `C:\Users\victo\AppData\Roaming\npm`)
- restart your computer
- try `npm -v` again...

[2021-01-22 19:31] darcyclarke commented on #2061
@intrnl can you try updating to the latest npm v7 (ie. `npm i -g npm@7`) - I believe we've fixed this a few months back

[2021-01-22 19:32] darcyclarke commented on #2093
@Milo123459 can you provide any other information (ex. logs) to try & help determine the cause of the permissions issue? Also, can you try updating to the latest version of npm (ie. `npm i -g npm@7`)

[2021-01-22 19:33] Milo123459 commented on #2093
No logs just a eperm error

[2021-01-22 19:35] darcyclarke commented on #2082
@amaster507 can you try running this with npm v6 & see what the output is. We think this may be a problem with `husky` itself (ref. https://github.com/typicode/husky)

[2021-01-22 19:37] darcyclarke commented on #2035
@justinfagnani we're working on improving the workspace experiences for these types of scenarios this quarter.

[2021-01-22 19:38] #2102 closed, assigned to nobody

[2021-01-22 19:38] darcyclarke commented on #2102
Closing* please let us know if you're still experiencing any issues on v7

[2021-01-22 19:38] Dev-022 opened #2527 "Erro ao instalar npm"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

[2021-01-22 19:45] darcyclarke commented on #2145
@mattem we are aware of this as a breaking change between v6 & v7 - we're going to consider this as a larger topic as to whether to change back this behavior in the next Open RFC call. As a point of reference, linked deps that are a child of the root will actually be installed fully, whereas if they're linked outside they aren't today (again, as you've seen).

I'll circle back on this when we have

[2021-01-23 00:09] wraithgar commented on #2395
After a day of investigation this turns out to be a bug in (make-fetch-happen)[https://github.com/npm/make-fetch-happen] where it is not obeying what starts as `--prefer-online` in the cli (and becomes `no-cache` in `make-fetch-happen`).  This affects at least `npm init`, `npm exec`, and `npm install`.

[2021-01-23 01:29] intrnl commented on #2061
Yeah, I think it might've been fixed given that I haven't had this issue recently, I'll close this for now.

[2021-01-23 01:29] #2061 closed, assigned to nobody

[2021-01-23 05:24] amaster507 commented on #2082
We reversed this updgrade and are now running:

- node v12.8.0
- npm 6.14.8
- husky 4.3.6

With this setup, we are no longer seeing this error.

It looks like there is a new husky version 5, which may have fixed this with npm 7. I have not tested though, and don't have the time or resources to stop and test ATM.

[2021-01-23 15:57] ljharb commented on #2398
Indeed; termux uses it which causes unavoidable issues for nvm :-/

It seems less breaking to me to go with option 2. I'll make a PR soon that does that, and then we can try it on the CLI.

[2021-01-23 19:34] Queen300 opened #2528 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-01-23 20:14] #2528 closed, assigned to nobody

[2021-01-24 00:54] parksj10 commented on #2514
Work around from [here](https://stackoverflow.com/a/65093533/12728698) for now...

[code]

[2021-01-24 12:57] wencyone commented on #2527
The same trouble happens with me

[2021-01-24 14:31] AsherZEngel opened #2533 "[BUG] <title>npm ERR! cb() never called!"
# What / Why

## When

* whenever I do npx create-react-app my-app

## Where

* git/bash & Windows Command Prompt
* I'm using node -v14.15.4
* npm -v6.14.10, -v6.14.11

## How

### Current Behavior

* the terminal says it's installing the app, it creates the files, then it gives me the npm ERR message, then it deletes all the files it created.

### Steps to Reproduce

* when I type npx create-reac

[2021-01-24 14:42] karthikganesanTR commented on #722
Any updates on issue. I am also facing the issue for the past one week

[2021-01-24 18:21] timothyallan commented on #2158
Just to clarify, as I've been struggling with this since updating to v7: With v6, we would just run `npm update` and `package.json` would be updated with our range of versions.

With v7, we now run `npm-check-updates` to get a list of packages which have updates, note which ones have updates,  manually edit the version number(s) in each of our `package.json` files, then run `npm update` **OR** do

[2021-01-24 20:27] KonanMentor opened #2534 "[BUG] Unable to install git dependency that has a file dependency"
### Current Behavior:

Installation of a package that has `file` dependency (e.g. [this](https://github.com/KonanMentor/npm-package-with-local-dependency/tree/633bf9d3451f48de1f6f6d10ecb9a759a483ac4e) one) as `git` dependency fails with

[code]

<details>
  <summary>loglevel=silly logs</summary>
  <p>

[code]
  </p>
</details>

### Expected Behavior:

npm sucessfully installs `npm-package-with-loc

[2021-01-25 01:16] #2527 closed, assigned to nobody

[2021-01-25 01:19] #2518 closed, assigned to nobody

[2021-01-25 01:21] #2428 closed, assigned to nobody

[2021-01-25 01:26] #2384 closed, assigned to nobody

[2021-01-25 02:27] Totoro700 opened #2535 "[Typo] npm update -h update is spelled wrong"
To reproduce:
Open `cmd` and type `npm update -h` and the last line which is:
[code]
which "udpate" should be "update":
[code]

Whole output:
[code]

to:

[code]

![image](https://user-images.githubusercontent.com/68616592/105654083-e3783f00-5e82-11eb-8c86-231871fa1527.png)

[2021-01-25 02:30] ljharb commented on #2535
This is very intentional, to help people that misspell it.

[2021-01-25 02:30] #2535 closed, assigned to nobody

[2021-01-25 06:41] Maxim-Mazurok commented on #1637
Also getting this error in my CI, I'm using token for login and trying to publish package which was previously published, still got 404: [CI run](https://github.com/Maxim-Mazurok/google-api-typings-generator/runs/1757780881?check_suite_focus=true)
Sometimes I get 503, but that's probably just because I try to publish too many of them at a time... [CI run 503](https://github.com/Maxim-Mazurok/googl

[2021-01-25 07:58] Algo-RHYTHM opened #2536 "[BUG] <title>npm ERR! cb() never called!"
### Current Behavior:
 not able to install node modules

### Expected Behavior:
should install node modules

### Steps To Reproduce:
node version v14.15.1
npm install

### Environment:

- Node: 14.15.1
- windows 10

[2021-01-25 11:27] rvinothkumarer commented on #722
Hi @karthikganesanTR,

For me, I faced the issue when I was setting the http_proxy/https_proxy but actually that is not required. But instead, I will have to update my .npmrc file to have my correct artifactory. Additionally, I have also set, strict-ssl=false. Please see below,

strict-ssl=false
registry=https://ARTIFACTORY/api/npm/npm/

[2021-01-25 12:58] telmich commented on #348
This might be related to https://github.com/npm/cli/issues/2519 and/or the same problem

[2021-01-25 12:59] telmich commented on #2519
Note: I traced it down to possibly a nodejs problem on musl libc. Ths bug might be related to https://github.com/nodejs/node/pull/31567.

Summary of my findings so far can be found on https://www.nico.schottelius.org/blog/nodejs-and-ipv6-only-networks/

[2021-01-25 12:59] telmich commented on #348
@darcyclarke is it possible to discuss this issue somewhere (matrix, slack, discord, irc)?

[2021-01-25 15:10] stereobooster opened #2538 "[BUG] npm ignores --package-lock-only flag"
### Current Behavior:
When I run `npm install --package-lock-only immer` it updates both `package.json` and `package-lock.json`

### Expected Behavior:
When I run `npm install --package-lock-only immer` it updates only `package-lock.json`

### Steps To Reproduce:

1. `npm install --package-lock-only immer`

### Environment:

- OS: MacOS version 10.15.7
- Node: v14.15.1
- npm: 6.14.11

[2021-01-25 15:22] richfelker commented on #2519
Thanks. Indeed that looks like the root cause, and should be fixed.

[2021-01-25 16:51] isaacs commented on #1832
@dmnsgn @Flam3rboy These are new issues, not related to the original post's root cause (which has been fixed some time ago).

Can you please post a new issue so that we can triage this properly?  Thanks.  I'm digging into the repro cases you provided now.

[2021-01-25 16:51] #1832 closed, assigned to ruyadorno

[2021-01-25 18:42] jcestibariz commented on #704
I still can reproduce it with npm 6.14.10. As a workaround I added it manually with `npm config` but it's annoying.

```npm config set //<registry-url>:always-auth true```

[2021-01-25 18:43] sukhrobnurali opened #2539 "Install for [ 'create-nuxt-app@latest' ] failed with code 1"
Install for [ 'create-nuxt-app@latest' ] failed with code 1

[2021-01-25 19:11] ljharb commented on #704
What about with npm 7?

[2021-01-25 19:26] jcestibariz commented on #704
@ljharb tested with 7.4.3, same problem

[2021-01-25 20:00] nmvega opened #2540 "“npm install” error on an Azure App / Web Service: EPERM: operation not permitted, lchown"
Hello Friends:

- `npm version: 6.14.8`
- `node version: 12.19.0 `
- `O/S: Linux / Debian`
- `Platform: Azure App / Web Service`

On a `Linux` `Azure App / Web Service` configured for `Node 12 LTS`, after uploading code assets to `/home/site/wwwroot/`, which includes a `package.json` file, I run `npm install` as `root`. I get the exception shown further below.

This same exception happens across t

[2021-01-25 20:02] ljharb commented on #2540
What happens with npm 7?

[2021-01-25 20:03] roydukkey opened #2541 "[BUG] Package variable replacement in package scripts fails with names containing hyphens"
### Current Behavior:
[`project.json` vars](https://docs.npmjs.com/cli/v6/using-npm/scripts#packagejson-vars) do not work with hyphens within `package.json` scripts interpolation.

### Expected Behavior:
I would expect variable with hyphens which are used from with package script to be properly accessible.

### Steps To Reproduce:
1. With this config:
**package.json**
[code]
2. Run `npm run prepac

[2021-01-25 20:04] nmvega commented on #2540
Hi. I didn't try that. I'd have to check with developers to see if that is supported. But I can try it for debug purposes since nothing is live. =:) I will try and post back.

[2021-01-25 20:11] nmvega commented on #2540
@ljharb

Actually, `npm 7` isn't selectable as an option (on Azure App / Web Service). I can only select the version of `node` from `v12 LTS` (currently selected) to `v14 LTS (Early access)`, which may not be allowed.

[2021-01-25 20:30] ljharb commented on #2540
@nmvega Not sure what you mean by selectable - can you run `npm install -g npm@7` inside one of those node versions and then try?

[2021-01-25 21:55] wraithgar commented on #2395
It turns out what I thought was a fetch bug is a logging quirk. If the registry itself sends a 304, the response the cli gets still looks like a cache hit, and logs in the output as `(from cache)`

The good news for you is that if you use `--prefer-online` in your `npm init` it should fetch the latest packument from the registry, regardless of if you already have it locally in your cache.

[2021-01-26 02:24] xyhallo opened #2543 "this code `npm.on("log", function (message) { .... })` no console . is npmjs example"
`var npm = require("npm")
npm.load(myConfigObject, function (er) {
  if (er) return handlError(er)
  npm.commands.install(["some", "args"], function (er, data) {
    if (er) return commandFailed(er)
    // command succeeded, and data might have some info
  })
  npm.on("log", function (message) { .... })
})`

this code `npm.on("log", function (message) { .... })`  no console .

[2021-01-26 02:24] xyhallo commented on #2543
example look here https://www.npmjs.com/package/npm/v/1.4.21

[2021-01-26 02:28] nmvega commented on #2540
@ljharb I'll try that and post back. Thank you.

[2021-01-26 02:47] jeanlescure commented on #2491
Having the same problem trying to run `ts-node` after unpacking my app from the result of `npm pack` with appropriate `bundledDependencies`. The `ts-node` module is included under `node_modules`, `yarn start` expects the `.bin` to be in place, but no `.bin` directory is found under `node_modules`.

[2021-01-26 03:16] nmvega commented on #2540
The upgrade command itself worked, but sadly the code can't use `npm7`.

[2021-01-26 03:50] ljharb commented on #2540
Why can't it? Code generally doesn't use npm at all.

[2021-01-26 04:46] nmvega commented on #2540
I agree 100%. You're correct, but it's not my environment to tinker with unfortunately (it's a client environment). I should have at least pasted the error before killing the session (sigh), but it basically bombed out on requiring something in between version 5 and version 6 (maybe it was `npm` itself). Unfortunately I can't tinker with it. ☹️

**EDIT**: Let me be more precise because I see your

[2021-01-26 04:52] ljharb commented on #2540
I wouldn’t expect npm install to work on npm 5 or 6 and fail on 6 or 7. The error would be helpful.

[2021-01-26 05:16] nmvega commented on #2540
@ljharb This week when I get a moment, I'll stand up an identical environment and reproduce the error and paste it here. It only takes about 5 minutes. :relaxed:

[2021-01-26 07:31] darcyclarke commented on #2158
@timothyallan you can use `npm outdated` to get the list of outdated dependencies in your project. Running `npm update` will update dependencies based on the previous range specified (by default, if you `install` a package without specifying a semver range it will use a carot to imply future updates to be within the same major range - ie. minor & patch versions - ex. `^1.0.0` - ref. https://github

[2021-01-26 07:31] #2158 closed, assigned to nobody

[2021-01-26 07:33] jakobrosenberg opened #2544 "[BUG] must not have multiple workspaces with the same name"
### Current Behavior:
In a normal terminal `npm install` yields `must not have multiple workspaces with the same name` without any mention of conflicting namespaces.

Opening a debug terminal in VSCode and running the same command in same folder clears the problem and `npm install` now works in both terminals.

### Expected Behavior:
Conflicting workspaces should be named.

### Steps To Reproduce:

[2021-01-26 07:40] MANIKANTAABBURI opened #2545 "cb() never called! in netlfiy command prompt install"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-01-26 07:45] timothyallan commented on #2158
^ That's the thing. These are multi year old projects, which have been updating using ranges just fine for many years, up until v7. `npm update` no longer updates the package.json or installs updated dependencies, regardless of version ranges in the package.json.

[2021-01-26 07:46] darcyclarke commented on #2519
Closing as this looks like a Node.js issue & there's a fixed queued up. Please let me know if I'm wrong & I can reopen.

[2021-01-26 07:46] #2519 closed, assigned to nobody

[2021-01-26 07:47] darcyclarke commented on #348
Closing as this looks like a Node.js issue & there's a fixed queued up. Please let me know if I'm wrong & I can reopen.

[2021-01-26 07:47] #348 closed, assigned to nobody

[2021-01-26 07:51] darcyclarke commented on #2339
@garciaalvaro I'm going to bring this up at our next Open RFC call & see what the consensus is in terms of supporting the old behaivour; I forgot the exact reasoning behind the change but I can imagine that it would have reduced some complexity & potentially cleaned up a number of issues/edgecases. I'll circle back here after the call on Wednesday.

[2021-01-26 07:59] darcyclarke commented on #502
@bnb going to set as `wontfix` for v6. Definitely open a new ticket if you see this pop up again for v7 though. Current fix/workaround is to grab the latest npm v7 (ex. `npm i -g npm@7`)

[2021-01-26 07:59] #502 closed, assigned to nobody

[2021-01-26 08:03] #2346 closed, assigned to nobody

[2021-01-26 08:11] jakobrosenberg opened #2546 "[BUG] npm install in a workspace project ignores the workspace"
### Current Behavior:
If I have
[code]

👍`cd workspace && npm install` links local `project1` to `project2` correctly.
👎`cd workspace/project2 && npm install` doesn't link local  `project1` package.

### Expected Behavior:
`npm install` within a workspace should do the same whether it's in the workspace root or a workspace package.

### Steps To Reproduce:
1. Create a root workspace
2. Init two ne

[2021-01-26 09:15] Allain55 commented on #2158
I don't see why this had to change, I think it's bad for teams.
I don't plan to update to npm v7+ if this will be the default behaviour.
When I realized this change I was looking into why did 1 npm package stop working. The local and prod versions were the same in package.json but it didn't work locally. After 1+ hours of debugging I realized that a new minor release broke the package for me and i

[2021-01-26 09:20] bhavinshah2016 opened #2547 "React Native Text to Speech - Languages are not working on iOS device."
### Current Behavior:
In Online and Offline Mode in iOS devices below languages are not working.
 Arabic, Urdu, Tamil, Malayāḷaṁ, Bengali

Previously its was working on iOS devices.

### Expected Behavior:
In Online and Offline Mode in iOS devices, all the below-mentioned languages MUST be working.
 Arabic, Urdu, Tamil, Malayāḷaṁ, Bengali

### Steps To Reproduce:

### Environment:

[2021-01-26 09:23] zdm commented on #2158
How it will work if `package-lock=false`?
In this case when I run `npm update` - it will not update package version anywhere.
I think it must work exactly like v6. New behavior is not handy and not well tested.
Please, don't close this issue.

[2021-01-26 09:44] thw0rted commented on #2491
In the short term I've rewritten some of my `scripts` to use the deep path into `node_modules`, e.g. `"start": "node ./node_modules/ts-node/dist/bin.js src/main.ts"`, but it's bad ergonomics at least.

[2021-01-26 09:49] leafac commented on #2329
I ran into this issue as well (see https://github.com/npm/cli/issues/2329).

Here’s some more information I gathered:

1. If you don’t have a command installed, then npx installs the package into the npm cache (on my machine that cache lives in `~/.npm`).
2. If you run `npx <command>@latest` then npx fetches the latest version. But the next time you run just `npx <command>` again it’ll get the old

[2021-01-26 11:08] hrueger commented on #2469
Any update on this? Could this be an electron-specific problem?

[2021-01-26 11:27] dmnsgn opened #2548 "[BUG] npm ERR! Cannot destructure property 'name' of 'node' as it is null."
Opening a new issue as requested by @isaacs https://github.com/npm/cli/issues/1832#issuecomment-766953686

### Current Behavior:

Installing a dependency from a GitHub URL fails.

### Expected Behavior:

Dependency is installed without error.

### Steps To Reproduce:

[code]

Yields:

[code]

### Environment:
- OS: MacOS 10.15.6
- Node: v15.5.1
- npm: 7.4.0

[2021-01-26 11:43] BenjaminBurstein commented on #2539
hey, I've same error code, have you find a solution?

[2021-01-26 13:06] n1ngu opened #2549 "[BUG] npm update --depth=N underperforms or crashes"
I think there is a series of related issues regarding this
https://github.com/npm/cli/issues/1627
https://github.com/npm/cli/issues/944
https://github.com/npm/cli/issues/355

I create this issue with the hope that some additional information will help solving this situation

### Current Behavior:
For a deep enough dependency tree and as the requested update depth is increased, the command will tak

[2021-01-26 13:11] codinghedgehog-python opened #2550 "SyntaxError: Unexpected token { when running npm run build"
### Current Behavior:
I'm trying to build my app with `npm run build` and even after updating versions of Node, npm and V8 I'm still facing
this issue.

### Expected Behavior:
Build directory created without errors.

### Steps To Reproduce:

ex. steps to reproduce the behavior:
1. `npm i --no-optional`
2.  `npm run build`
3.  Error output:

[code]

### Environment:

- OS:  Linux 5.4.0-1020-aws  (r

[2021-01-26 15:16] #2550 closed, assigned to nobody

[2021-01-26 15:24] ljharb commented on #2550
Your node version is too old to support the optional catch binding syntax react-scripts is using.

[2021-01-26 15:31] codinghedgehog-python commented on #2550
Yep. I've already bumped up Node to 10.19 and it fixed the problem. Cheers !

[2021-01-26 15:33] vbachev commented on #1924
I see the same issue locally and in CI. When `package.json` and `package-lock.json` are out of sync running `npm ci` will only respect `package.json` and does not throw errors like the documentation suggests.

So far I've reproduced it:
- in CI, using the [CircleCI node image](https://circleci.com/developer/orbs/orb/circleci/node) running node v14.15
- locally, using macOS v10.15 running node v14.

[2021-01-26 15:34] #2545 closed, assigned to nobody

[2021-01-26 15:35] ljharb commented on #2546
I would very much not expect it to do the same thing - when cc’d into the package, I’d expect npm install to work the same way it would as if the package was not in a workspaces repo at all.

[2021-01-26 15:36] ljharb commented on #2546
In other words, the outer dir is a workspace, the inner dir is not. All repo commands should only be run from a project root.

[2021-01-26 15:36] ljharb commented on #2547
Seems like an issue for React Native, not for npm.

[2021-01-26 15:36] #2547 closed, assigned to nobody

[2021-01-26 15:37] ljharb commented on #2469
What happens with npm 7?

[2021-01-26 15:39] ljharb commented on #2549
Why are you using depth at all? like what happens if you run `npm update` by itself? What about with npm 7 (where i think the depth option is removed)?

[2021-01-26 16:42] hrueger commented on #2469
Thanks for the reply, I'll check that.
Is there any docs how to use the npm 7 api programatically?
My old implementation seems to not work anymore. As far as I can tell, the `npm.load(config, cb)` function changed to `npm.load(cb)`?

[2021-01-26 16:48] jsg2021 commented on #2329
I respectfully disagree. Unless actually installed (globally, or locally) the cache should only be used if the current match matches, otherwise it should pull a new one (and in npm7's case prompt, unless --yes is present). The whole reason for `npx` is to run commands in the npm context that you may not have nor care to keep track of. (for example internal CI or workflow tools that you rather not

[2021-01-26 17:07] hanifmhd commented on #1845
Hi @nlf i still got error using `npm v7.4.0`

[2021-01-26 17:39] ljharb commented on #2469
The programmatic npm API hasn't followed semver nor been recommended since like npm 3, as far as I'm aware - i'd suggest shelling out to the `npm` cli.

[2021-01-26 18:38] lafi8877 opened #2551 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-01-26 18:39] n1ngu commented on #2549
@ljharb As the documentation says:

And AFAIU there are no changes here for npm 7 https://docs.npmjs.com/cli/v7/commands/npm-update

That's why people is trying to use this flag, so that whole dependency (sub)trees get updates, not only first-order dependencies listed in packages.json!

[2021-01-26 18:43] hrueger commented on #2469
Thanks, unfortunately, I won't be able to just run `npm i` in a child process as the end user won't have NodeJS installed. Maybe I can somehow require the cli bin script and "fake" the cli arguments. I'll look into that tomorrow.

[2021-01-26 18:49] #2551 closed, assigned to nobody

[2021-01-26 18:49] ljharb commented on #2549
@n1ngu ah, thanks.

[2021-01-26 18:50] ljharb commented on #2469
If they don't have node installed, then how can your node code work and access the `npm` programmatic API? If the API is available, so's the CLI.

[2021-01-26 19:03] jakobrosenberg commented on #2546
Thanks for the clarification. 🙂

The inner dir is part of a workspace. If that changes depending on where I last ran `npm install`, everything becomes unpredictable.

I would expect the file structure to be the source of truth, It's predictable and logical. If I didn't want `project1` to be part of `myworkspace`, I would not locate it within the workspace.

[2021-01-26 19:09] ljharb commented on #2546
If that were true, what happens if I make `/package.json` and put workspace info in it? Would every project on my machine suddenly become part of a global workspace, and any `npm install` would run the installation in every project on my machine at once?

[2021-01-26 19:38] nlf commented on #1845
please open a new issue and be sure to fill out the template and i'll see if i can help figure out what's going on

[2021-01-26 19:39] hrueger commented on #2469
The application runs inside ElectronJS (https://www.electronjs.org/). The Electron binary includes a chromium framework as well as a node.js runtime.
Maybe I can run execute the script by calling it from inside Electron using its absolute path. I'll check tomorrow.

[2021-01-26 19:56] jakobrosenberg commented on #2546
Yes, but creating a workspace in the root of your file system makes as much sense as running `rm -rf` in the root of your file system. Why would you do that in the first place, if not to break things?

Keeping workspaces contained in respective folders lets projects detect whether they're part of a workspace by letting them traverse down the tree and check for a `package.json`. It's simple, predic

[2021-01-26 20:18] ljharb commented on #2546
They'd have to traverse *up* the tree, which seems like a tricky thing to do.

[2021-01-26 22:02] jakobrosenberg commented on #2546
Would this fit the bill?

[code]

[2021-01-27 03:07] MANIKANTAABBURI commented on #2545
why it's closed?

[2021-01-27 03:10] ljharb commented on #2545
@MANIKANTAABBURI because you didn't fill out any of the issue template, so it appears to just be a duplicate of #417.

[2021-01-27 03:11] MANIKANTAABBURI commented on #2545
oh! it's working.. Thanks for such a quick response.

[2021-01-27 09:45] giltayar commented on #2395
@wraithgar I tried `npm init --prefer-online ...` and it's still bringing me the existing package and not checking whether that package was updated.

(BTW, using `npm exec @scope/create@latest` (even without `--prefer-online`) _did_ figure out that there was a new version, and I'm using that now, but it's still a workaround.)

[2021-01-27 10:26] dkatare opened #2552 "Angular7-pubSub is not working with ng-packagr getting error ."
**ERROR: : Unexpected value '[object Object]' imported by the module 'AppModule in C:/Project/TestAngularApplication/src/app/app.module.ts'. Please add a @NgModule annotation.** . This issue happened after import angular7-pubsub library.

### Current Behavior:
 getting above error after execute npm run packagr cmd

### Expected Behavior:
 after executing npm run packagr cmd application should conv

[2021-01-27 13:39] talsi opened #2553 "[BUG] peer-dependency conflict when having "greater than or equal to" range >="
### Current Behavior:

conflict error when peer-dependency has >= range. looks like it tries to install the highest version possible instead of being loose and choose a satisfying version.

* @angular-slider/ngx-slider@2.0.3 has peer-dependency of @angular/common: >=6.1.0
* @angular/forms@10.2.4 has peer-dependency of @angular/common: 10.2.4.
* @angular/common@10.2.4 seems to satisfy the both requ

[2021-01-27 13:58] emexelem commented on #564
It's surprising to see that many of us are waiting for the same need, that has been very clearly expressed in this thread, and still no solution after all that long.
For now i chose to use npm ci to honor the version of npm packages defined in package-lock.json, but as npm ci deletes the node_modules every time, this step is by far the most IO intensive in my CI pipeline.
I'm considering to update

[2021-01-27 14:33] tristanls opened #2554 "[BUG] Impossible to link more than one local module dependency one at a time."
### Current Behavior:
Running `:/moduleA $ npm link moduleB` seems to attempt to install moduleA before linking moduleB. If moduleA depends on another local moduleC, linking moduleB into moduleA is impossible.

### Expected Behavior:
Running `:/moduleA $ npm link moduleB` links moduleB into `moduleA/node_modules/moduleB`. (just like `npm@6` does)

### Steps To Reproduce:
Overview:
1. Create module

[2021-01-27 16:26] wraithgar commented on #2395
Glad you have a workaround. Re-opened the issue so we can take a closer look.

[2021-01-27 17:06] SuryaSachan opened #2555 "cb() never called!"
# What / Why

I was creating a new react app in my windows 10
using cmd
 C:\Users\Username\Desktop>npx create-react-app nobita
Creating a new React app in C:\Users\Username\Desktop\nobita.

Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts with cra-template...

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please repo

[2021-01-27 17:29] JoePotentier commented on #2555
We are seeing this same error in our pipelines.

[2021-01-27 20:38] gfyoung opened #2556 "[BUG] npm outdated no longer exits with code 1 if outdated"
### Current Behavior:

Exits with code `0`.

### Expected Behavior:

Exits with code `1`.

### Steps To Reproduce:

[code]

This echos `0` and not `1`.

### Environment:
OS: MacOS Catalina
Node: v15.7.0
npm: 7.4.3

When I run the same script with:

OS: MacOS Catalina
Node: v13.0.1
npm: 6.14.0

I get the output of `1` at the end as expected.

[2021-01-27 21:02] JoePotentier commented on #2555
Seems it was a version mismatch with Node/npm. Investigating further.

[2021-01-27 21:04] JoePotentier commented on #2555
@SuryaSachan Your issue is with your node version. The create-react-app docs note the following, "You’ll need to have Node >= 8.10 and npm >= 5.6 on your machine."

[2021-01-27 22:17] rendybiz commented on #681
I have same issues like this in my ubuntu Server at 28 January 2021,
`Missing required argument #1` is npm issue.

after check my npm and nodejs version is very old. `npm -v ` or `node -v`

so I'm using this method to re install my nodejs
- `apt purge node`
- `apt purge npm`
- follow this step for installation, https://linuxize.com/post/how-to-install-node-js-on-ubuntu-18.04/

and it fixed

[2021-01-27 23:10] #2312 closed, assigned to isaacs

[2021-01-28 03:20] Cally99 commented on #1832
I got this bug running a dependency install with yarn on a brand new repo pulled from github. Using docker-compose to  build my app.  No clue why. Will update when I find logs

[2021-01-28 07:36] SuryaSachan commented on #2555
Thank you for your response. It would be great if the issue is resolved. In the meantime, which version would you suggest me to go ahead with?

[2021-01-28 07:59] SuryaSachan commented on #2555
It worked for me by updating npm.
npm install -g npm@latest

[2021-01-28 08:03] #2555 closed, assigned to nobody

[2021-01-28 08:05] 1000i100 commented on #1637
i fixed my problem by adding tags pattern `v*` as protected in gitlab. My CI silently failed to acces the token because it was only available on protected branch and tags and i had no protected tags and no publish task on protected branch.

[2021-01-28 08:10] SuryaSachan commented on #2533
https://github.com/npm/cli/issues/2555
I faced the same issue, It worked for me by updating npm.
try the following command
npm install -g npm@latest

[2021-01-28 09:05] allanbowe commented on #1884
Is anyone else aware of this issue?

[2021-01-28 09:42] mafintosh opened #2560 "[BUG] progress=false is ignored on npm 7"
### Current Behavior:
Have an .npmrc with progress=false for aesthetic reasons.
On npm6 that disables the progress bar, on npm7 it does not although the docs say it still should.

This is my full .npmrc if that helps

[code]

### Expected Behavior:
Expected the above to disable the progress bar like it does on 6

### Steps To Reproduce:
Save the .npmrc in home and install something. Progress bar i

[2021-01-28 15:01] wottpal commented on #528
This discussion (npm/npm#2974) had more than 100 👍's. I wonder what those people use nowadays when they are working with big monorepos :/

[2021-01-28 18:18] #2265 closed, assigned to ruyadorno

[2021-01-28 20:42] jordanthornquest opened #2567 "[BUG] `npm publish` and `npm install` fail depending on `.npmrc` syntax used"
### Current Behavior:

I am attempting to configure a project to install dependencies from NPM. I will be publishing the project to GitHub Packages as a private package. If I use this syntax in my project's `.npmrc`:

[code]

I can install dependencies from NPM using `npm install` on my local machine. However, I cannot publish to GitHub Packages using `npm publish`. NPM informs me that I'm not aut

[2021-01-28 21:57] nlf commented on #1700
can you try again with 7.5.0? i believe this should be working correctly now!

[2021-01-28 22:01] bricss commented on #2158
No wukkas 👌 I will create new one, as soon as it will hit RTM, coz bug 🐛 is still there.
Files ain't updated on the file system in `node_modules` after running **npm update** at all, as well as versions. Toasted on several machines with no luck. 🤠

[2021-01-28 22:22] luckman212 commented on #1700
@nlf Yes! 🎉   7.5.0 is working for me. Thank you

[2021-01-28 23:48] isaacs commented on #2389
Fixed by https://github.com/npm/arborist/commit/9989f4f

[2021-01-28 23:48] #2389 closed, assigned to nobody

[2021-01-29 01:05] isaacs commented on #2548
There are two issues here.

As it happens, `critters` has a legit peer dependency issue that we can't unravel (or rather, _won't_, as it would require explosively expensive traversals, in the general case -- there is a solution, but finding it is too hard).

<details>
The general situation is like this:

[code]

Then the package depends on `{a: "1.x", d: "2.x"}`.
npm resolves `a@1.x` to `a@1.0.0`,

[2021-01-29 01:57] proletarius101 opened #2570 "[BUG] The version of untagged git+file dependency is replaced unexpectedly"
### Current Behavior:

The version of untagged git+file dependency is replaced by a "newer" version (as in the `version` field of `package.json`), which doesn't exist as a tag. So npm will try to search it via the internet, which is a no-go for the `--offline` mode.

### Expected Behavior:

Keep the version as-is.

### Steps To Reproduce:

Say, I have a `git+file` dependency:
[code]
where `5d48703

[2021-01-29 01:57] proletarius101 commented on #2570
Related: https://github.com/flatpak/flatpak-builder-tools/issues/182

[2021-01-29 11:56] chulkilee commented on #2514
Here is another example from https://github.com/phoenixframework/phoenix/blob/v1.5.7/installer/templates/phx_assets/package.json

[code]

Output

[code]
- node version: v14.15.3 (macOS)
- npm version: 7.5.0

`npm install --legacy-peer-deps` works btw :heart:

[2021-01-29 12:00] hrueger commented on #2469
Ok, I did some tests and calling `npm install` with the `child_process` module did not work great/at all. While running in development mode, it works fine, but once the app is packaged, the child process immediately exits. I'd need some more time to figure out, why that happens.
However, I'd really prefer requireing the module and running it without involving child processes. I also need to get th

[2021-01-29 12:10] marcellomontemagno opened #2571 "Unable to use nested local path modules"
`npm install` fails when using nested local path modules

here an example `git@github.com:marcellomontemagno/npm-test.git`

here a description of the dependencies between modules

[code]

### Current Behavior:
Firs install of `moduleC` completes succesfully, removing `node_modules` and installing `moduleC` again fails.
Removing the `package-lock.json` works around the issue.

### Expected Behavior

[2021-01-29 13:21] hrueger commented on #2469
I just tried using Arborist directly and now I can see an error in the terminal: It says that `the command node-gyp could not be located`. Here's the error message (it's in German as that's the language windows is set to):
[code]

[2021-01-29 16:06] Beenhakker commented on #2135
We had the same error, within our TFS v15 pipeline, Windows, NodeJS 14.15.4, NPM 6.

Eventually doing a global install of NPM v7.5 from within our pipeline, adding it to the shell path, and use that version to do the install solved this tedious error.

[2021-01-29 16:24] nlf commented on #1700
glad to hear it!

[2021-01-29 16:24] #1700 closed, assigned to nlf

[2021-01-29 17:59] crystalfp opened #2575 "[BUG] On Linux latest npm hangs"
### Current Behavior:
On linux even a simple `$ npm` hangs for ~ 70 sec with no sign where it is hanging:
[code]

I aborted a `npm i` with no `node_modules` and no `.npmrc` after 10 minutes showing:
 `idealTree:AMDIdeaIgniterEnvironment: sill idealTree buildDeps`

### Expected Behavior:
That it works, as was doing with node 14 and node 15.5.1. Or at least offer some more precise debug message. Cou

[2021-01-29 19:19] darcyclarke commented on #2251
@tmanning can you try updating to the latest `v7` & see if you can replicate it? (ie. `npm i -g npm@7`)

[2021-01-29 19:20] robross0606 opened #2576 "[BUG] Difficulty setting NPM_CONFIG_ environment variable for scoped registry"
### Current Behavior:
I have need to use a scoped registry set in an environment variable for a CI pipeline.  The problem is that scoped registries use special characters `@` and `:` in the variable name.
[code]

This is problematic, especially when attempting to pass that variable on to a Docker `build-arg`.

Is there an alternate syntax or a way to escape the scoped registry variable name so it

[2021-01-29 19:24] darcyclarke commented on #2390
`npm link` should be working as intended. If you have a suggestion about changing how that works we'd encourage you to open up a new [RFC](https://github.com/npm/rfcs)

[2021-01-29 19:24] #2390 closed, assigned to nobody

[2021-01-29 19:25] #2214 closed, assigned to nobody

[2021-01-29 19:27] darcyclarke commented on #2392
`npm unlink` should be working as intended. If you'd like to suggest different behavior we encourage you to open an [RFC](https://github.com/npm/rfcs)

[2021-01-29 19:27] #2392 closed, assigned to nobody

[2021-01-29 19:28] matthewnaldzin opened #2577 "npm install throwing error -- how do I get around this?"
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install'
1 verbose cli ]
2 info using npm@6.14.10
3 info using node@v14.15.4
4 verbose npm-session 693f5127a39e816c
5 silly install runPreinstallTopLevelLifecycles
6 silly preinstall braintreetut

[2021-01-29 19:31] darcyclarke commented on #2380
@hdodov can you install the latest `v7` & try reproducing this? (ie. `npm i -g npm@7`)

[2021-01-29 19:33] darcyclarke commented on #2359
@jeremy-coleman Sorry to hear you've been seeing this delay. We believe theres been some improvements here but the right place to bring up any registry-specific issues you're seeing would either be filing a ticket with our [support](https://npmjs.com/support) team or giving feedback [here](https://github.com/npm/feedback)

[2021-01-29 19:33] #2359 closed, assigned to nobody

[2021-01-29 19:40] darcyclarke commented on #2350
@Admiralfeb this should be fixed in a newer version of v7; Grab the latest via `npm i -g npm@7`

[2021-01-29 19:40] #2350 closed, assigned to nobody

[2021-01-29 19:42] troyready commented on #2251
Issue persists from what I can tell:

[code]
Results in the following:

[code]
Log file contains:
[code]

[2021-01-29 19:43] darcyclarke commented on #2345
@Yuri6037 can you try updating to the latest v7 (ex. `npm i -g npm@7`) - you may also need to update your lockfile via installing with npm v6 & then run install again with v7 (should fix/migrate your lockfile).

[2021-01-29 19:45] darcyclarke commented on #2249
@highmtworks can you try updating to the latest v7 (ie. `npm i -g npm@7`) & try reproducing this?

[2021-01-29 19:47] darcyclarke commented on #2458
@Stvad `npm link` doesn't work this way today but you could propose changes over in our [RFCs](https://github.com/npm/rfcs) repo.

[2021-01-29 19:47] #2458 closed, assigned to nobody

[2021-01-29 19:50] darcyclarke commented on #2454
We're aware of some early issues with upgrading from v6 to v7 with earlier betas/release candidates; If you are having troubles updating to the latest v7 (ie. `npm i -g npm@7`) &/or downgrading & then updating (ie. `npm i -g npm@6 && npm i -g npm@7`) you may need to re-install [`node`](https://nodejs.org) or utilize a Node Version Manager to help you get `npm` back into a good place. Apologies for

[2021-01-29 19:50] #2454 closed, assigned to nobody

[2021-01-29 19:51] darcyclarke commented on #2337
@Redfire75369 I think you're missing a `--` between your args (ex. `npm exec --no -- babel --watch src --out-dir dist`)

[2021-01-29 19:51] #2337 closed, assigned to nobody

[2021-01-29 19:53] darcyclarke commented on #2218
@cyberalien appreciate the suggestion; If you can, please join or add enhancements in our [RFCs](https://github.com/npm/rfcs) repo/forum/calls as this is something we're currently looking into & how to improve the overall Workspace implementation

[2021-01-29 19:53] #2218 closed, assigned to nobody

[2021-01-29 19:55] darcyclarke commented on #2452
Apologize for the confusion. We'll try & get that fixed.

[2021-01-29 20:00] darcyclarke commented on #2195
@aks- can you provide any other context here & or provide a reproduction case we could look at? There might be a few things at play here including peerDependencies & yarn lockfiles being installed/respected by v7.

[2021-01-29 20:07] rafgraph commented on #2390
Okay, [the docs](https://docs.npmjs.com/cli/v7/commands/npm-link) don't mention this behavior.

[2021-01-29 23:12] shadowspawn commented on #2577
407 is a proxy error, and probably something about your local access to the internet. Try accessing one of the URLs listed directly in your browser or using a tool like `curl` and you might see more information about what authentication the proxy is expecting.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/407

Related issue with example of setting proxy authentication for npm: #544

Th

[2021-01-29 23:34] #2243 closed, assigned to wraithgar

[2021-01-30 00:00] jsg2021 opened #2578 "INIT_CWD does not get reset if `npm install` is invoked by another npm script"
_Originally posted by @isaacs in https://github.com/npm/cli/issues/2033#issuecomment-745434656_

This is maybe more of a question. But I was surprised by the fact INIT_CWD retained the parent process's value when a post-install script installed a child-directory project...

[2021-01-30 00:12] #2411 closed, assigned to nobody

[2021-01-30 00:19] bhartolomeu opened #2579 "[BUG] <title>"
Hello everybody, I was trying to install expo environment on my computer and this have just appeared:
`npm ERR! typeerror Error: Missing required argument #1
npm ERR! typeerror     at andLogAndFinish (/usr/share/npm/lib/fetch-package-metadata.js:31:3)
npm ERR! typeerror     at fetchPackageMetadata (/usr/share/npm/lib/fetch-package-metadata.js:51:22)
npm ERR! typeerror     at resolveWithNewModule (

[2021-01-30 00:35] jsg2021 opened #2580 "[BUG] bundleDependencies missing from workspace"
### Current Behavior:

Within a workspace project, have a subproject that echos all its devDependencies in the bundleDependencies list... when you install the workspace, the dependencies for that project are not installed/found.

### Expected Behavior:

dependencies should be installed/found.

### Environment:
- OS: Fedora 33
- Node: 15.6.0
- npm: 7.5.0

[2021-01-30 01:23] highmtworks commented on #2249
Thank you for the response.
It still happens:
[code]

[2021-01-30 04:19] crystalfp commented on #2575
Solved by defining in `.npmrc`
[code]
Why is this value needed to show npm help?

[2021-01-30 04:19] #2575 closed, assigned to nobody

[2021-01-30 15:01] sunknudsen opened #2581 "[BUG] npm deprecate throws "422 Unprocessable Entity" error"
### Current Behavior:

The following error is thrown.

[code]

### Expected Behavior:

`npm-sync` versions bellow `2.0.0-beta` are deprecated.

### Steps To Reproduce:

[code]

### Environment:

- OS: macOS Catalina 10.15.7
- Node: 14.15.1
- npm: 6.14.11

[2021-01-31 04:00] zdm opened #2582 "[BUG] Problem updaiting ^version"
### Current Behavior:

Npm doesn't installs latest available minor version when version specified with `^` prefix.

### Expected Behavior:

Expecting, that latest minor version with the latest patch will be installed.

### Steps To Reproduce:

`package.json`
[code]

Latest `@softvisio/core` version in the npm registry is `0.125.0`.

When I exec `npm i` I am expecting, that latest minor version `0.

[2021-01-31 04:42] ljharb commented on #2582
For v0.0.x, every `x` is semver-major; for `v0.x.y`, every `x` is semver-major, for `x.y.z`, every `x` is semver-major.

In other words, `v0.80.2` to `v0.81.0` is a breaking change, as such, going to `v0.125.0` is also a breaking change (a lot of them) - and so `^` is correctly not updating to it.

[2021-01-31 05:26] jsg2021 commented on #2580
You can reproduce it with this workspace: https://github.com/jsg2021/npm7-workspace-test

[2021-01-31 13:10] Annemike commented on #2504
I have the same problem but on BigSur

[2021-01-31 13:27] leafac commented on #2329
You make good points. Thanks for reading my proposal and for the feedback.

For me, the whole reason for `npx` is somewhat different. It’s being able to tell people: “If you have Node.js installed, go ahead and use my tool simply by running `npx obs-cli` (for example); no installation necessary.” That’s only half-true, of course, because `npx` **is** installing the thing, but it doesn’t feel like

[2021-01-31 16:04] zdm commented on #2582
thanks, i didn't knew this.

[2021-01-31 16:04] #2582 closed, assigned to nobody

[2021-01-31 17:01] jsg2021 commented on #2329
@leafac I believe we are saying the same thing at this point.

However, where I think we differ is the point of updating. I believe the convenance of not installing should come with the burden of always getting the latest... only falling back to cache if the latest is cached.

[2021-01-31 17:31] jotafeldmann opened #2585 "[BUG] npm_package_main variable is always empty"
### Current Behavior:
- When I set the package.json file with "main": "index.js"
- Set the "start" property from scripts to "start": "node $npm_package_main"
- Then run npm start

**Problem**: the CLI executes the Node REPL mode, ignoring the "main" variable from package.json.

### Expected Behavior:
Execute the command as `node index.js`.

### Steps To Reproduce:
- Create an "app" directory and e

[2021-01-31 17:35] ljharb commented on #2585
This was an intentional change in npm 7. Try `node .`?

[2021-01-31 17:39] jotafeldmann commented on #2585
Hi @ljharb thanks. How can I point that in the documentation? Add some warning on https://docs.npmjs.com/cli/v7/using-npm/scripts, maybe?

Something like:

"Everything works for $npm_package_*, except for `$npm_package_main` due to REASONS_HERE."

[2021-01-31 17:43] jotafeldmann commented on #2585
Found the issue: https://github.com/npm/cli/pull/2446

[2021-01-31 17:48] ljharb commented on #2585
I think there’s very few that actually remain set - it definitely seems like a good idea to update the docs.

[2021-01-31 17:51] jotafeldmann commented on #2585
Anyway, yes we can always use "node ." or just set `"start": "node index.js"`.

I understand that Is just a small behavior/feature to take care of.

But there's no clear answer explaining why $npm_package_main is empty, the reasons behind that decision.

Closing the issue.

[2021-01-31 17:51] #2585 closed, assigned to nobody

[2021-01-31 17:52] Eeebru opened #2586 "[BUG] <title> npm ERR! cb() never called!"
### Current Behavior:
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

### Expected Behavior:
To install all the projects dependencies

### Steps To Reproduce:

steps to reproduce the behaviour:
1. In VSCode integrated terminal
2. Run 'npm install'
3. See error: This is an error with npm itself. Please report

[2021-01-31 22:32] leafac commented on #2329
You make a good point…

[2021-02-01 12:10] karlhorky commented on #1935
In case anyone else finds this useful, I've made clearing the npx cache into a gist:

[Gist: Clear npx cache](https://gist.github.com/karlhorky/3e092d1def377f409976566db2e46029)

Content:

[code]

@ruyadorno would there be any negative effects from running this? (aside from having to re-download packages you use with `npx`)

[2021-02-01 13:02] felixfbecker commented on #393
Quoting @isaacs from the forum thread:

This was filed in https://github.com/npm/read-package-json/issues/66. I created a PR for this a long time ago to fix this in https://github.com/npm/read-package-json/pull/80. It would be amazing if it could be merged 🙏🏻

[2021-02-01 15:40] mansona commented on #2395
I think we should make sure that `npm init package-name` always makes use of the latest version by default (without the need for `--prefer-online` as a workaround). I'm pretty sure that this was the default behaviour in npm@6 and I know of plenty of documentation written to depend on this behaviour to set up repos 🤔

[2021-02-01 15:48] ruyadorno commented on #1935
I believe that's ultimately a design choice. In the [npm arguments standard](https://www.npmjs.com/package/npm-package-arg) it's quite easy to specify you want the latest published version by appending `@latest` rather than the opposite.

I don't think so 🙃 I believe they won't even necessarily be re-downloaded since the npx algo still shares the same cache as the npm installer, thus it might have

[2021-02-01 15:51] ljharb commented on #1935
Designwise, npm typically chooses to automatically assume @latest unless the package is in your package.json or lockfile. none of these cases apply to npx, so i would absolutely assume that it always gets the latest.

A cache is just an implementation detail, and any time deleting the cache provides any different behavior than “it has to repopulate the cache” seems like an objective bug to me.

[2021-02-01 15:53] karlhorky commented on #1935
Ok, we'll go with that! 😅

Ah, ok - so my "npx cache clear" script needs to run `npm cache clean` to force `npx` to get new versions of things?

[2021-02-01 16:47] nlf commented on #2415
hi! this is fixed in 7.5.0, please let us know if you see it happen again!

[2021-02-01 16:47] #2415 closed, assigned to nlf

[2021-02-01 16:48] nlf commented on #2229
hi there folks, we made some changes with regard to how symbolic links are handled in the latest version. can you try 7.5.0 out and let me know if it takes care of these problems for you?

[2021-02-01 17:00] ruyadorno commented on #1935
maybe it's the naming that is confusing and this is not a "npx cache" but rather a npx space in which these projects get installed to 🤔

no no no, when doing a fresh install `npx` or `npm install` will always look up to the registry to find if there are new versions of things, I just mentioned that as a way to differentiate between the **real** cache from this npx space.

[2021-02-01 17:24] strongoose opened #2588 "[BUG] Publishing with --access restricted should prevent packages with no namespace being pushed"
### Current Behavior:
If a non-namespaced package is published with
```npm publish --access restricted```

npm ignored the user directive that access should be restricted and publishes the package.

### Expected Behavior:
Attempting to publish a package which isn't namespaced with `npm publish --access restricted` should
 1. warn the user that packages without namespaces cannot be given restricted

[2021-02-01 17:30] karlhorky commented on #1935
Got it.

Just to be sure, what I'm trying to do is make the next run of the same command (after clearing the "cache", or whatever it should be called) install and use `install-peerdeps@3.0.3` - the latest version:

[code]

Running `rm -rf $(npm get cache)/_npx/*` seems to work, and the next run of this command installs and uses the new version:

[code]

[2021-02-01 17:43] ruyadorno commented on #1935
cool 😎 yeah, that's the expected result 👍

[2021-02-01 18:36] TunaGKLP opened #2589 "[BUG] Cannot read property 'version' of undefined"
### Current Behavior:
Cannot read property 'version' of undefined

### Expected Behavior:
Install the module called "discord.js"

### Steps To Reproduce:

1. Run 'npm i discord.js'
2. Error

### Environment:

Node: 15.7.0
npm: 7.4.3

### Additional Info

It gives me the same error even if i try to open a new folder and try to install.

[2021-02-01 19:54] ljharb commented on #1935
@ruyadorno i don’t think “npx installs to a persistent space” is the mental model of any of its users. The common understanding I’ve heard for years is that it installs it for the life of the command, and then deletes it.

[2021-02-01 20:15] maksimr opened #2590 "[BUG] ENOENT: no such file or directory, open"
[code]

STR:

[code]

[code]

[code]

Maybe relates to https://github.com/npm/cli/issues/529

[2021-02-01 20:18] maksimr commented on #2590
The problem with local packages. When you try to install local package `bar` which has as a dependency another  local package `zoo` inside package `foo` you would get an error. If open `node_modules` you can see that `npm ci` create broken symlink  `/private/zoo` but should be `/private/tmp/p/zoo`

![image](https://user-images.githubusercontent.com/616193/106513199-adbb0200-64e3-11eb-8330-21cbb498

[2021-02-01 20:31] ruyadorno commented on #1935
Yeah right, that's a great point - from the pov of someone aware of these internal mechanisms the mental model makes sense but not so much from the userland perspective. Maybe it makes up for a good RFC discussion? Maybe it's just a bug? 🤔

I think @wraithgar has been working on a related fix, maybe he'll have more context to add to this discussion.

[2021-02-01 20:35] wraithgar commented on #1935
Yep I think the related fix I'm working on will mitigate most, if not all of this.

There are three underlying bugs, one is general caching (still debugging this one to see if `preferOnline` needs to be hard coded for init/exec).  The second one is in `lib/exec.js` which erroneously uses any version of a package if it is running from the cache, regardless of if there is a newer version.  The third

[2021-02-01 20:36] ljharb commented on #1935
I consider it a bug, yes, and I'm glad to hear it's likely to be fixed :-)

[2021-02-01 20:57] #2060 closed, assigned to nlf

[2021-02-01 22:28] wraithgar commented on #1935
Here is the fix that handles the outdated versions of things running during `npm init` and `npm exec/npx` https://github.com/npm/cli/pull/2592

This doesn't touch or affect the `-y` portion of the issue or discussion, which I think has been sufficiently dealt with in other comments.

[2021-02-01 23:58] CyrusYip commented on #2415
Thanks, @nlf . It worked!

[code]

My global packages are up-to-date now.

[code]

However, npm version was downgraded.

[code]

Is the downgrade expected? Should I stick to npm 7? If so, how can I prevent the downgrade?

[2021-02-02 00:11] yancyknight commented on #2571
I'm having the same problem with the following package structure and environment.

### Package Structure
moduleA
   - moduleB: "file:../moduleB"
   - moduleC: "file:../moduleC"

moduleB
   - moduleC: "file:../moduleC"

moduleC
   - none

### Environment (Same error on both)
OS: node:14-slim Docker image (Based on debian 9.13)
Node: v14.15.4
npm: 6.14.10

OS: CentOS 7
Node: v12.15.0
npm: 6.14.10

#

[2021-02-02 00:24] isaacs commented on #2391
The issue is that rollpkg is not the _only_ thing depending on jest, and the other dependents accept jest 26.0.0.  Once they are depending on it, it's not obvious that moving the nested `jest@26.6.3` up to the top level is the right thing to do.

Initial install, you get this:

[code]

So, `rollpkg`, `jest-watch-typeahead`, and `ts-jest` all are sharing the same `jest@26.6.3` in the root `node_mod

[2021-02-02 00:24] #2391 closed, assigned to wraithgar

[2021-02-02 00:29] isaacs commented on #2586
https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22

Try this with the latest npm v6 (or upgrade to npm v7, which will be the default soon anyway).

If that doesn't work, then we'd definitely need (at minimum) the set of dependencies being installed (ie, your package.json/package-lock.json files) and the debug log file that was generated (the filename is at the

[2021-02-02 00:29] #2586 closed, assigned to nobody

[2021-02-02 02:06] isaacs commented on #2578
Hm, yes, it appears that I misread the npm v6 behavior.

[2021-02-02 02:09] isaacs commented on #2398
There is really no need to set PREFIX, even if already set.  I think maybe we should just remove it?  It looks like it was only added because Scons needed it to build node binary modules, back in the dark ages before node-gyp.

[2021-02-02 02:14] ljharb commented on #2398
Awesome; i hadn’t had a chance to get to it yet.

[2021-02-02 05:00] Vixb1122 commented on #2229
@nlf   can't install npm@7.5.0
[code]

[2021-02-02 05:51] darcyclarke commented on #2169
@uhop Appreciate the report; I think we've resolved a number of issues since this was first reported, can you try installing the latest v7 & trying to reproduce? (ie. `npm i -g npm@7`)

[2021-02-02 05:58] darcyclarke commented on #2203
@o2genum we've fixed several issues in this vein since you first reported, can you try updating to the latest v7 (ie. `npm i -g npm@7`) & see if you can reproduce this?

[2021-02-02 06:00] darcyclarke commented on #2231
@AlCalzone we've fixed several issues in this area since you first reported, can you try updating to the latest v7 (ie. `npm i -g npm@7`) & see if you can reproduce this still?

[2021-02-02 06:04] darcyclarke commented on #2306
@fengtaijun0507 we've made significant improvements & fixed a number of bugs since you first filed this, can you try installing the latest v7 & trying to reproduce this? (ie. `npm i -g npm@7`)

[2021-02-02 06:09] darcyclarke commented on #2327
@wsdt it sounds like you may want to be using [`npm ci`](https://docs.npmjs.com/cli/v7/commands/npm-ci) & ensuring you're installing dependencies from a `package-lock.json`. You can ensure you aren't saving back to `package.json` or a lockfile by running install with `--no-save` (or using `ci` as mentioned). One further option is to run `install` with the option [`--dry-run`](https://docs.npmjs.co

[2021-02-02 06:09] #2327 closed, assigned to nobody

[2021-02-02 06:13] darcyclarke commented on #2329
I believe https://github.com/npm/cli/pull/2592 should fix this issue once landed & is a duplicate of, if not related to, https://github.com/npm/cli/issues/2395

[2021-02-02 06:18] darcyclarke commented on #2340
@jlguenego appreciate you filing this; That said, I'm not sure what we can do here as this seems like it would be an issue with `nodemon`; I'd also not that we've made several improvements/fixes to v7 since you first reported this & I'd encourage you to try out the latest release to see if it's resolved any problems (ie. `npm i -g npm@7`). If you're still experiencing issues, I'd file a bug with [

[2021-02-02 06:18] #2340 closed, assigned to nobody

[2021-02-02 07:10] darcyclarke commented on #2491
@thw0rted `npm install` should link any binaries your bundled deps have. If you're not seeing that happen, try running `npm rebuild`.

[2021-02-02 07:13] darcyclarke commented on #2503
@kxmndz do you happen to know which versions of `npm` were being run with the older versions of `node` you tried?

[2021-02-02 07:18] wsdt commented on #2327
Please re-open.

I want to save the dependencies.

There is just no TFS support.

[2021-02-02 07:19] darcyclarke commented on #2505
@targos can you try the latest v7 & see if this is still reproducible? (ie. `npm i -g npm@7`)

[2021-02-02 07:20] #2510 closed, assigned to nobody

[2021-02-02 07:21] #2515 closed, assigned to nobody

[2021-02-02 07:24] darcyclarke commented on #2515
Looks like you may have a registry configuration issue. Try running `npm config ls` to see if you've defined a registry/scope other then the defaults.

`npm install newman --registry=https://registry.npmjs.org` should work just fine...

Registry reference: https://registry.npmjs.org/newman/
npmjs.com reference: https://www.npmjs.com/package/newman

[2021-02-02 07:25] darcyclarke commented on #2516
@wpwoodjr can you try the latest v7 & see if you're still experiencing this issue? (ie. `npm i -g npm@7`) We've recently shipped some fixes that should deal with this.

[2021-02-02 07:33] darcyclarke commented on #2524
@ASDFGerte I just tried this with the latest v7 (ie. `npm i -g npm@7`) & could not replicate. Can you try installing the latest version & trying again? If you're still experiencing this issue, I'll reopen.

[2021-02-02 07:33] #2524 closed, assigned to nobody

[2021-02-02 07:34] #2536 closed, assigned to nobody

[2021-02-02 07:47] targos commented on #2505
@darcyclarke It is still reproducible with npm v7.5.1.

I pushed a new commit to the repro that corresponds to the state after `rm -rf node_modules && rm package-lock.json && npm install`.
Running `npm install` after that results in:

[code]

And there's a similar diff as before (removed packages + added "name" fields)

[2021-02-02 07:48] targos commented on #2505
I also just realized that the second `npm install` seems to remove the packages that have `"extraneous": true,` in the lock file.

[2021-02-02 07:53] darcyclarke commented on #2541
@roydukkey shell vars don't support dash casing; That said, you can still pull out the env config with something like:

[code]

^ as you alluded to.

[2021-02-02 07:54] #2543 closed, assigned to nobody

[2021-02-02 08:01] darcyclarke commented on #2548
@dmnsgn Closing: As I just tried this out & it seems to be working as of npm v7.5.1 - you can grab the latest via `npm i -g npm@7`.

[2021-02-02 08:01] #2548 closed, assigned to nobody

[2021-02-02 08:02] darcyclarke commented on #2552
Please file an issue with the specific package you're having problems with (ex. https://github.com/ng-packagr/ng-packagr)

[2021-02-02 08:02] #2552 closed, assigned to nobody

[2021-02-02 08:13] darcyclarke commented on #2553
@talsi you can run with `install` with the `--force` flag to resolve peer depdency ranges that aren't compatible (ie. what you're seeing here...)

[2021-02-02 08:27] darcyclarke commented on #2580
@jsg2021 if you specify that you're bundling dependencies, then we expect them to already be there, ie. installed into `node_modules` (https://docs.npmjs.com/cli/v7/configuring-npm/package-json#bundleddependencies). You should run `npm install --no-save` inside each of your workspaces to pull down whatever dependencies you want to bundle & then potentially be hoisted by the root.

[2021-02-02 08:27] #2580 closed, assigned to nobody

[2021-02-02 08:34] darcyclarke commented on #2589
Closing: As I can't seem to replicate this at all. Try updating to the latest version of `npm` (ie. `npm i -g npm@7`) & see if you can still replicate this issue. If you're still having problems, try putting together a reproduction case/[gist](https://gist.github.com/)

[2021-02-02 08:34] #2589 closed, assigned to nobody

[2021-02-02 08:35] #2579 closed, assigned to nobody

[2021-02-02 08:36] #2533 closed, assigned to nobody

[2021-02-02 08:36] #2577 closed, assigned to nobody

[2021-02-02 08:46] #2027 closed, assigned to nobody

[2021-02-02 08:51] bencergazda commented on #2054
Works great, thank you!

[2021-02-02 08:51] thw0rted commented on #2491
Do you mean to make an artifact with `npm pack`, then extract the TGZ, then run `npm install` inside the unpacked directory?  I expect that would work, but it defeats the purpose of `bundledDependencies` -- I'm trying to make a package that can be run standalone, without connection to an NPM repo.  Wouldn't `npm install` fail in such a scenario, before it makes links?

[2021-02-02 09:40] jeremy-coleman commented on #2359
@darcyclarke this is not registry specific, it's CLI specific. This does not happen with v6 of the NPM cli, yarn, or pnpm. I'm curious what makes you think this is something wrong with the registry?

[2021-02-02 09:42] jeremy-coleman commented on #2560
showing progress slows down windows installs by up to like ~50% too, lol

[2021-02-02 09:57] arieffikhrie commented on #2571
I have same issue on the same structure.

[code]

It having an error when i try to `npm i` in package3 folder

For now, what ive done to make sure package-lock.json still can be commit in repo. I search inside package-lock.json for @myexample/package1, then make sure the version is using local path instead of version number

[code]

[2021-02-02 11:24] darcyclarke commented on #2359
@jeremy-coleman When you say `"npm 7 is pointing to a different registry that is a delayed mirror of the registry used for v6"`, this is incorrect. v7 points at the exact same registry as v6 (ie. `registry.npmjs.org`). What *has* been seen recently though, is an increased delay by the registry itself to invalidate it's cache once a package is published (we've seen, anecdotally, significant wait ti

[2021-02-02 12:04] davidgeary opened #2593 "[BUG] npm uninstalls itself when installing other packages (under nvm for Windows)"
### Current Behavior:
I'm using [nvm on Windows](https://github.com/coreybutler/nvm-windows/) to manage npm versions and have just installed npm 7.4.3 via node 15.7.0.  If I then install a package, e.g. typescript, I see:

[code]

Note the 252 packages removed. After that, the _npm_ folder under _%APPDATA%\nvm\v15.7.0\node_modules_ has been deleted and naturally, all npm CLI commands then fail.

T

[2021-02-02 13:53] sancelot opened #2594 "[BUG] fresh npm install is stuck"
i setted up npm from node binary in linux system running in virtualbox environment.

I can run node -v, but any npm command does not return.
I can sea the right npm command using which npm

it looks like a kernel bug is generated each time I am running it :
![image](https://user-images.githubusercontent.com/122811/106610261-d59f7980-6566-11eb-9475-2b9e3b6aa19f.png)

### Environment:

[2021-02-02 13:59] AlCalzone commented on #2231
Can't reproduce with 7.5.1 👍🏻

[2021-02-02 13:59] #2231 closed, assigned to nobody

[2021-02-02 14:12] jsg2021 commented on #2580
I'm confused. @darcyclarke how could they already be there? If I clone and run `npm install` in a project like this, npm happily installs those dependencies. The workspace around this project should not make a difference. I could understand a special workflow for publishing/packaging but for general development, I would expect the install of the workspace to give me everything I need to run.

[2021-02-02 14:15] jsg2021 commented on #2580
If I rename the key so npm ignores it, and install the workspace everything is fine (for running, not necessarily for packaging)

[2021-02-02 14:27] ljharb commented on #2327
What's TFS?

[2021-02-02 15:29] vegerot commented on #1886
I am noticing this bug too with `optionalDependencies`.  All of my `optionalDependencies` are getting moved to `dependencies`

[2021-02-02 15:29] vegerot commented on #724
I am experiencing this as well

[2021-02-02 15:54] roydukkey commented on #2541
@darcyclarke Sure, but why can't npm interpolate `$npm_package_bin_my-package`? Or, some transformation or escape be available to access the data, such as `$npm_package_bin_my_package` or `$npm_package_bin_my$-package` or `$npm_package_bin_my--package`.

[2021-02-02 16:04] darcyclarke commented on #2541
@roydukkey I was going to note it would be a breaking change but this truly looks like it inadvertently stopped interpolating between v6 & v7 (ie. it worked differently before, so it's definitely a bug). Apologize for closing so quickly there, I'll reopen & we'll investigate (ref. the value should be `$npm_package_bin_my_package`)

[2021-02-02 16:08] ljharb commented on #2541
I was under the impression that virtually all of the npm package env vars were intentionally removed in npm 7, since you can hardcode or read from package.json directly.

In this case, probably the simplest would be duplicating the path to the bin.

[2021-02-02 16:09] darcyclarke commented on #2541
@ljharb the RFC that was created last year, about changes to environment variables, specifically outlines that `$npm_package_bin_*` values shouldn't be affected: https://github.com/npm/rfcs/blob/latest/implemented/0021-reduce-lifecycle-script-environment.md#detailed-explanation

[2021-02-02 16:10] roydukkey commented on #2541
@liharb I am specifically trying to avoid duplication.

[2021-02-02 16:11] ljharb commented on #2541
Thanks for clarifying, good to know.

[2021-02-02 16:25] #2578 closed, assigned to isaacs

[2021-02-02 16:27] #2398 closed, assigned to ljharb

[2021-02-02 16:58] kdnje opened #2595 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-02-02 16:59] #2595 closed

[2021-02-02 17:11] wsdt commented on #2327
TFS is used by some companies as an obsolete alternative to git.

[2021-02-02 17:14] kdnje opened #2596 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-02-02 17:23] wraithgar commented on #2329
v7 should once again match v6 behavior in the next release (`v7.5.2`).  Changing it further should probably involve an RFC discussion.

[2021-02-02 17:23] #2329 closed, assigned to wraithgar

[2021-02-02 17:24] wraithgar commented on #2395
v7 should once again match v6 behavior in the next release (v7.5.2). Changing it further should probably involve an RFC discussion.

[2021-02-02 17:27] #2596 closed

[2021-02-02 17:47] #2395 closed, assigned to wraithgar

[2021-02-02 18:59] jordanthornquest commented on #2567
Using `publishConfig` does not fix the issue with either `.npmrc` configuration. However, using the command-line `--registry` flag works.

When using the following project `.npmrc` syntax:

[code]

If I run `npm publish --registry=https://npm.pkg.github.com/`, I can publish successfully. In addition, I can install dependencies without issue.

[2021-02-02 19:02] hrueger opened #4291 "[BUG](arborist) `node-gyp` doesn't work from within Electron"
# What / Why
Hi,
I have an Electron app in which I am using arborist to install npm packages into a folder at runtime. Those packages are then required and used. When I install a package which requires native addon modules to be rebuilt using node-gyp, I encounter the following error:
[code]
The german (sorry for that, but my windows is set to German) translates to The command "node-gyp" is either

[2021-02-02 19:03] hrueger commented on #2469
Closing this as it will be tracked in npm/arborist/issues/218

[2021-02-02 19:03] #2469 closed, assigned to nobody

[2021-02-02 19:41] wraithgar commented on #2588
Can't duplicate this in npm v7.

[code]

[2021-02-02 19:41] #2588 closed, assigned to nobody

[2021-02-02 20:12] agustinguerra commented on #2306
I'm having the same issue, stuck at:

eify:rxjs: timing reifyNode:node_modules/@vue/cli/node_modules/typescript Completed in 3542ms

[2021-02-02 20:22] wraithgar commented on #2567
I'm having trouble replicating this locally.  I can publish just fine using the config setup mentioned.

Here's the output of `npm config list`

[code]

And the `package.json`

[code]

With or without a package-lock, or having the packages installed, publishing works just fine.

Can you share the output of `npm config list`?

[2021-02-02 20:28] ruyadorno opened #2598 "[BUG] Recursive npm install error"
Seems to be related to having a cycle of git deps with prepare scripts. Although in preliminary tests that also seems to cause the same issue in npm@6 which is no the case in the provided repro.

### Current Behavior:

Install enters into a cycle of `npm install`s

![example image](https://pbs.twimg.com/media/ErS8I9GXMAA8E5m?format=jpg&name=large)

### Expected Behavior:

Should be able to complet

[2021-02-02 20:50] jordanthornquest commented on #2567
Sure thing. This is the output of running `npm config list` in my project.

[code]

[2021-02-02 20:52] robross0606 commented on #2567
I'm seeing something similar.  npm v7 was just "released" and now all our `npm publish` calls are breaking to our locally scoped repository.  Previously, doing these two commands would generate a usable .npmrc file for our environment:
[code]
This still generates an .npmrc file that looks identical between npm v6 and npm v7.
[code]
However, attempting to use it fails on v7:
[code]

[2021-02-02 21:03] robross0606 commented on #1937
I can confirm this still exists with 7.5.2 which is now released to GA and breaking 60+ projects on our ci server.

[2021-02-02 21:23] dmnsgn commented on #2548
I can confirm, error above doesn't show up anymore in 7.5.1 👍

[2021-02-02 21:30] jcuna commented on #2548
Seeing this pop up for me on npm@7.5.2.

[code]

[2021-02-02 21:31] robross0606 commented on #2567
I can also confirm that adding `--registry=` to the `npm publish` call temporarily works around the problem.

[2021-02-02 21:41] jcuna commented on #2548
Downgrading to 7.5.1 and still getting this error.

[code]

[2021-02-02 21:42] jcuna commented on #2548
I'll open a new issue. Thanks

[2021-02-02 21:53] jcuna opened #2599 "🐞 [BUG] npm@7 is broken on node@8 or older"
### Current Behavior:
Running `npm install -g npm@7.5.1`
Running `npm install -g npm` on version 7.5.2

produces the following output.
[code]

### Expected Behavior:
Packages installed successfully

### Steps To Reproduce:

ex. steps to reproduce the behavior:
1. aws/codebuild/nodejs:8.11.0
2. With this config...
3. Run '...'
4. See error...
### Environment:

- OS: Amazon Linux 2 | aws/codebuild/a

[2021-02-02 22:13] lee5i3 opened #2600 "[BUG] Issues when using workspaces"
We are having issues with our monorepo project, our package.json has

[code]

When we ran `npm install`, it use to run fine.. now says
[code]

This worked on v7.5.0 but now errors on 7.5.1+

[2021-02-02T22_00_46_902Z-debug.log](https://github.com/npm/cli/files/5914770/2021-02-02T22_00_46_902Z-debug.log)

[2021-02-02 22:14] wraithgar commented on #2567
ok! I was able to duplicate this locally be removing the login token for registry.npmjs.org from my `/.npmrc` file.  Looking into it deeper now that I can see the bug locally.

[2021-02-02 22:46] jayphelps commented on #2251
Hitting this as well only using GitHub Actions + npm v7 but not locally on any devs machine. Happy to provide any info to help debug or Zoom. (npm@7.5.2). Mine isn't with aws bin but instead @cloudflare/wrangler's bin.

[code]

I tried doing some digging but I'm unfamiliar with the codebase. It seems like maybe the linking of bins is ultimately handled by another library npm folks maintain [bin-li

[2021-02-02 22:59] ruyadorno commented on #1886
same as: https://github.com/npm/cli/issues/724

[2021-02-02 23:05] wraithgar commented on #2567
I'm glad that the `--registry` cli flag temporarily fixes things.

If this is not feasible for your current setup, but adding a line to your `npmrc` file is something you *can* do, another temporary fix is to add a dummy token for `registry.npmjs.org`.

[2021-02-02 23:07] robross0606 commented on #2567
I am trying to use a different internal repository.  It is not clear to me how (if?) your suggested workaround fixes things.

[2021-02-02 23:14] robross0606 opened #2603 "[BUG] npx appears to be broken in latest release"
Since the latest GA release, most attempts to use npm in Windows are broken.  `cross-env` and `npx` both no longer work properly and cannot find any of the commands.  Both previously worked for cross-platform execution of things like `husky` and `jest`.  This means our commit hooks are also now broken in Windows.

### Current Behavior:
Since the GA release of npx 7.5.2, we cannot execute commands

[2021-02-02 23:18] ruyadorno commented on #2203
same as: https://github.com/npm/cli/issues/724

[2021-02-02 23:18] wraithgar commented on #2567
The bug is fixed in this PR https://github.com/npm/cli/pull/2602

What happens is that currently the cli is only looking for your configured "registry" setting when seeing if you have logged in.  So the temporary solution is either to override that setting (as you were doing by passing `--registry`), OR to add a token for the default (npm) registry so that the check for a token does not fail.  The

[2021-02-02 23:21] robross0606 commented on #2567
Sorry for being dumb about this, but can you provide an example of what a "dummy token" would look like in the `.npmrc` file?  Also, will that prevent us from accessing packages from the default registry?  We only use our internal repository for special package scopes, not for everything.

[2021-02-02 23:25] wraithgar commented on #2567
Not at all! Here's what I used locally to test that approach:

[code]

Very good question. No it will not, that token is only ever inspected by the npm registry for things that actually require auth (i.e. publishing, reading private scoped packages, star/unstar).  A request for a public (scoped or unscoped) package won't be affected by a bad auth token.

[2021-02-02 23:27] wraithgar commented on #2567
Just a reminder that's still a temporary solution, it'd of course be best to remove the dummy token once that PR lands.

[2021-02-02 23:28] robross0606 commented on #2567
Yep, thanks.  I can confirm that works and is a much easier workaround when doing manual publishing.

[2021-02-03 00:07] wraithgar commented on #1937
The `ENEEDAUTH` bug is fixed in https://github.com/npm/cli/pull/2602

[2021-02-03 00:08] wraithgar commented on #2525
#1937 has been fixed, and the related `ENEEDAUTH` bug is tracked in https://github.com/npm/cli/issues/2567 and will be closed by https://github.com/npm/cli/pull/2602

[2021-02-03 00:08] #2525 closed, assigned to nlf

[2021-02-03 00:13] wraithgar commented on #2599
If you are still running node 8 you are going to want to use npm v6,  You can use the `latest-6` tag to install the latest version of 6.

[code]

If you have installed npm 7 on node 8 you can run this command to get back to a working npm 6

[code]

[2021-02-03 00:13] #2599 closed, assigned to wraithgar

[2021-02-03 01:48] joshuasaunders commented on #2599
Running into the exact same issue and installing latest version of 6 isn't working for me with node 8. When I run `npm install npm@latest-6` or `npm install -g npm@latest-6` I still get the same error `TypeError: Cannot destructure property 'stat' of 'undefined' or 'null'.` Any ideas?