[2020-08-13 09:04] msbit commented on #1669
A bit of a script to reproduce:

[code]

This results in a `package-lock.json` as follows:

[code]

If you don't specify a version with the `npm install --save-*` commands, you get the following `package-lock.json`:

[code]

and the behaviour isn't exhibited.

[2020-08-13 14:38] vo-mary-PFG opened #1671 "[BUG] error cb() never called!"
### Current Behavior:
When attempting to run: npm install -g aws-azure-login, I received the following error:
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'npmc@latest',
1 verbose cli   '--global',
1 verbose cli

[2020-08-13 19:58] xiata opened #1673 "[BUG] npm install hangs for several minutes due to git ls-remote git:// url scheme"
### Current Behavior:
During install, the following command fails repeatedly on CentOS 8.2 boxes, but not macOS:

[code]

The git:// protocol handler should not be used with git commands, even if npm supports it. You're asking for trouble using protocol handlers that may be doing something special for the underlying operating system (e.g. vfs).

This was caught while watching `npm -ddd install --o

[2020-08-14 01:24] alamenai commented on #1624
` npm i firebase
npm ERR! Response timeout while trying to fetch http://registry.npmjs.org/firebase (over 30000ms)`

The same issue with firebase.

[2020-08-14 01:49] Matausi29 opened #1675 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-08-14 06:18] maxsmaleha commented on #1637
Same error.

Last release 30.07 was successful. But since 11.08 I get this error when publish:
2020-08-13T09:56:54.1669946Z 18 http fetch PUT 404 https://registry.npmjs.org/@aurigma%2fui-framework 5611ms
2020-08-13T09:56:54.1670114Z 19 verbose stack Error: 404 Not Found - PUT https://registry.npmjs.org/@aurigma%2fui-framework - Not found

[2020-08-14 12:37] Nyameliaaaa commented on #1624
:trollface:

[2020-08-14 14:06] MylesBorins commented on #1675
hey @Matausi29 seems like you've posted an empty bug. I'm going to close this but feel free to add more details and we can reopen

[2020-08-14 14:06] #1675 closed, assigned to nobody

[2020-08-14 16:25] Branzelorick commented on #1625
same problem with discord.js

[2020-08-14 17:06] Branzelorick opened #1677 "[BUG] npm ERR! cb() never called"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-08-14 17:06] #1677 closed, assigned to nobody

[2020-08-14 17:22] claudiahdz commented on #1658
Thank you for the catch, we'll make the proper changes considering we still have to support Node 6 on npm v6. The fix will be shipped next week.

[2020-08-14 17:22] #1658 closed, assigned to claudiahdz

[2020-08-14 18:39] darcyclarke commented on #1655
#### Expected Behavior:

`npm` should output `No results for "..."`

[2020-08-14 18:44] darcyclarke commented on #1639
This should be addressed when we land: https://github.com/npm/cli/pull/1657

[2020-08-14 21:12] tyler-laberge commented on #1669
We are seeing this issue too but in our case it involves transitive dependencies not being installed.

In our case we have https://www.npmjs.com/package/serverless-plugin-typescript declared in our dev dependencies, and https://www.npmjs.com/package/log4js declared in our regular dependencies. Each of these has a transitive dependency (regular not dev dependency) on the package https://www.npmjs.c

[2020-08-14 22:58] ghost opened #1679 "[BUG] Failure on installing Git available package"
### Current Behavior:
Running `npm install` on a clean project (no `node_modules` and no `package-lock.json`) is wrongly invalidating a Git repository:

It's not exactly reproducible: if I create a new package in a different location, which relies on this Git repository, the issue does not arise.

Everytime I run `npm install`, after the report, none of `package-lock.json` and `node_modules` are c

[2020-08-14 23:19] #1679 closed, assigned to nobody

[2020-08-15 02:53] msbit commented on #1669
Thanks @tyler-laberge for the additional reproduction!

It does look like the same issue; if you're comfortable with it, could you try the patch from https://github.com/npm/cli/pull/1676 and see if that fixes it?

[2020-08-15 04:30] TysonMN opened #1680 "[BUG] 6.x update inconsistent"
`npm update` is not consistent for me.  Sometimes it updates one dependency, sometimes it updates another dependency, and sometimes it updates no dependencies.

### Steps To Reproduce
1. Checkout [this commit](https://github.com/bender2k14/tyson-williams-blog/commit/51e6d291861c605ff1b60cfb3876cd868118dbbe)
2. Open a terminal in the root of the repository
3. Execute `cd .codedoc`
4. Execute `npm u

[2020-08-15 10:47] AakashM commented on #1660
I'm facing the same issue on Windows. Uninstalling and re-installing NodeJS doesn't revert the npm to v6. What would be the way to revert npm on Windows?

[2020-08-15 11:27] Jolg42 commented on #1660
@AakashM maybe deleting the folders manually and then reinstalling could help.

https://stackoverflow.com/a/20711410/1345244

[2020-08-15 23:18] ghost commented on #1649
Oh, actually `{ bin: "bin/cli.mjs" }` is working. Because of tsc from TypeScript I used to thought you always had to use an extensionless file.

[2020-08-16 00:07] jblachly commented on #1431
Possibly related:

I installed a single package (typescript, via `npm -i typescript --save-dev`), but innumerable* `resolved` records in package-lock.json were updated from npmjs.org registry to taobao.org.

*actually 141 packages had `resolved` changed without changing any other data in package-lock.json (version number stayed same).

[code]

[2020-08-16 02:23] KilianKilmister opened #1681 "[BUG] 'npm update' results in unclear error on peer-dep mismatch"
[Companion issue posted in arborist](https://github.com/npm/arborist/issues/114)

### Current Behavior:

```npm update``` results in arborist thowing an Error on mismatched peer-dep

the resulting error message doesn't point at what caused the error:

npm ERR! unable to resolve dependency tree

npm ERR!     /Users/kilianhefti/.npm/_logs/2020-08-16T01_03_09_094Z-debug.log
Waiting for the debugger t

[2020-08-17 07:58] elaijuh commented on #1012
I have the same problem here. Based on my understanding, a org member can create packages whether he is or is not in a team. So is this NPM bug?

[2020-08-17 08:30] FRSgit commented on #1012
For me the problem was that I was trying to update a package whilst being a creator of the organisation but not a part of package's team.
Without being in the team I wasn't able to update the package at all. Dunno how it works for creating of new packages, but I think for this you just need to be a part of the organisation, no?
It's also possible what's you're talking about is a separate issue.

[2020-08-17 08:34] elaijuh commented on #1012
I was invited to an org as a member. But I cannot `npm publish --access public` a new package and see any of the packages under this Org. According to https://docs.npmjs.com/adding-members-to-your-org, there is a `developers team`, but I don't see that team  and I am not under that team by default.

[2020-08-17 09:00] FRSgit commented on #1012
Developers team is a default one, but the organisation admin can revoke access of it's members to any of the packages. Maybe you should be added to any of the other of organization's teams?
Nevertheless, that's a completely different issue than the one I've faced here - if it still persist, maybe think about creating new issue?

[2020-08-17 09:07] elaijuh commented on #1012
Actually my confusing is why owner cannot publish packages until he is under some team. Maybe it's the design of NPM, just feel weird and want to clarify this. It's OK to close the issue.

[2020-08-17 11:27] FraserGullick opened #1683 "Invalid file based dependency locations in package-lock"
### Current Behavior:
We're noticing that using file based dependencies entries in the package.json is generating invalid entries in the package-lock.json file upon some, but not all, installs. It seems to be that every other install generates invalid entries.

Enteries that are generated can look like:
[code]
or
[code]

### Expected Behavior:
File based dependnecies generate valid locations in th

[2020-08-17 11:45] FRSgit commented on #1012
Yea, that's just how it's implemented. But for a half a year I didn't get the official response from NPM on this, so I guess we just have to live with it 🤷

[2020-08-17 12:54] dayton-bobbitt commented on #1525
Bump

[2020-08-17 14:05] casbloem commented on #595
To disable run:
`npm config set fund false --global`

[2020-08-17 16:18] link89 opened #1684 "[BUG] only certain whitelisted hosted gits support shadow cloning"
https://github.com/npm/cli/blob/dc001afb71336968ef865fd37bd61cc8dca335ba/node_modules/pacote/lib/fetchers/git.js#L169-L178

I know this may be on purpose, but why we need to limit shallow clone for those hosts? It makes `npm install` very slow when we have large self-hosted git dependencies.

[2020-08-17 19:00] ruyadorno commented on #1669
Thanks to you all for the great work documenting all this here ❤️

Unfortunately as [mentioned in the linked PR](https://github.com/npm/cli/pull/1676#issuecomment-675046115) these changes might be too risky for v6 at this point in time.

@isaacs I'll keep this issue around in order to serve as a placeholder to remember to add these test cases to arborist/v7 - feel free to close it after that 😊

[2020-08-17 21:07] tyler-laberge commented on #1669
@msbit FWIW I just tried the patch and that does seem to fix the issue

[2020-08-18 00:49] DeeDeeG commented on #1281
Hi there folks,

I contributed [a fix](https://github.com/nodejs/node-gyp/pull/2131) to node-gyp v7 that helps it find Python 3 on Windows, when installed from Python.org.

I think it would be great to have that available to more npm users. :+1: to this from me.

It can mean the difference between being able to install native code "automatically"/out-of-the-box, vs fiddling with config options to

[2020-08-18 02:44] nylen opened #1685 "[BUG] `package-lock.json` alternates between `http:` and `https:` in the `resolved` field, redux"
### Current Behavior:

The issue described in https://npm.community/t/some-packages-have-dist-tarball-as-http-and-not-https/285 is back again for me: the `package-lock.json` file alternates between `http:` and `https:` in the `resolved` field.

### Expected Behavior:

`package-lock.json` always uses `https:` URLs in the `resolved` field.

### Steps To Reproduce:

1. `git clone https://github.com/C

[2020-08-18 05:01] #1613 closed, assigned to nobody

[2020-08-18 08:48] ovanderzee opened #1686 "[BUG] cannot unpublish 2 minutes after publishing"
### Current Behavior:
I received an error message at the command line:
    $ npm unpublish my-lib@1.4.0
    npm ERR! code E405
    npm ERR! 405 Method Not Allowed - PUT https://registry.npmjs.org/my-lib/-rev/14-878ad331638f5b05ac5eb9a52ff15fc0 - You can no longer unpublish this package.
    npm ERR! Failed criteria:
    npm ERR! has dependent packages in the registry
    npm ERR!
    npm ERR! Plea

[2020-08-18 15:22] isaacs commented on #1281
@rvagg This is awesome!  We're allegedly doing another beta release today, but a few fixes are taking a bit longer than expected, so it might delay a few days.  I expect at least a month or two before it's GA.

I'll try to pull in node-gyp 7, and let you know if there are more things that can be deduped out.  We're also going to be bumping `nopt` and a few others, so there may be more opportunity

[2020-08-18 15:23] isaacs commented on #1281
For the request thing, `make-fetch-happen` is the one that npm uses, and it supports all the corporate proxy stuff, since npm has that same restriction.  It's a completely different API, but if you wanna point us to where `request` is being used, i wouldn't mind taking a look.

[2020-08-18 16:23] mohsin79 opened #1687 "ENOMEM: not enough memory, read"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>
internal/fs/utils.js:269
    throw err;
    ^

Error: ENOMEM: not enough memory, read
    at Object.readSync (fs.js:568:3)
    at tryReadSync (fs.js:353:20)
    at Object.readFileSync (fs.js:382:19)
    at Object.Module._extensions..js (internal/modules/cjs/load

[2020-08-18 19:04] nsainaney opened #1689 "[BUG] npm pack with bundledDependencies ignores files in package.json of dependencies"
### Current Behavior:
When untaring a module that has  bundledDependencies generated using `npm pack`, the node_modules/module-a folder (where module-a is a bundledDependency) contains files that are not in module-a/package.json's files list

### Expected Behavior:
`node_modules/module-a` should only contain files that are in the `files` section of `module-a/package.json`

### Steps To Reproduce:

[2020-08-18 19:23] ljharb commented on #1689
What specific files are showing up that aren't in `files`? There are a number of files that are always included, like package.json, README.md, etc.

[2020-08-18 19:59] nsainaney commented on #1689
Here's a screenshot of the module root contents:
![image](https://user-images.githubusercontent.com/306293/90559303-3fab9a00-e152-11ea-93d5-40ee97c21320.png)

And here's the relevant section of the `@c6o/common` package.json:

[code]

And everything (src, tests etc) are all showing up - this is the contents of the untared package:
![image](https://user-images.githubusercontent.com/306293/90559482-

[2020-08-18 20:51] alvarocamillont opened #1690 "[BUG] npm audit fix command is deleting npm sections from package.json"
### Current Behavior:
When I run npm audit fix on my project, it is deleting sessions of my package.json file such as "description" and "scripts"

### Expected Behavior:
I expect the command only change my dependencies.

### Steps To Reproduce:

1. clone this repo https://github.com/po-ui/po-angular.git
2. Run npm i
3. Run npm audit fix
4. See package.json

### Environment:
- OS: Ubuntu 20.04
- No

[2020-08-18 20:56] ruyadorno commented on #1690
## Minimal reproduction steps:

### BEFORE

[code]

### AFTER

[code]

[2020-08-18 21:09] ruyadorno commented on #1690
It happens only on `npm audit fix`, tried it with `npm install dot-prop@legacy` and can't reproduce the problem.

[2020-08-18 21:12] alvarocamillont commented on #1690
**BEFORE**
[code]

**AFTER**
[code]

[2020-08-18 22:07] TatuUlmanen commented on #1660
@isaacs This is still happening on v7.0.0-beta5, breaking exactly like in beta4.

[code]
### Environment:
- OS: Windows 10
- Node: v13.12.0
- NPM: v7.0.0-beta.5

[2020-08-19 00:26] TheiChrist opened #1691 "some bug[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-08-19 00:27] TheiChrist opened #1692 "[BUG] <6>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-08-19 00:58] msbit commented on #1669
Thanks @ruyadorno, getting this sorted out for v7 is still a good win.

[2020-08-19 02:31] #1691 closed, assigned to nobody

[2020-08-19 02:32] #1692 closed, assigned to nobody

[2020-08-19 03:17] rvagg commented on #1281
I often check our deps against npm's deps to make sure there's maximum opportunity to dedupe, so if you do bump things then I think we'd be happy to push out releases with just those things bumped so we can get in sync.

The only use of request that we have is in https://github.com/nodejs/node-gyp/blob/master/lib/install.js, but we also load in a proxy.js to handle some custom env var stuff for pr

[2020-08-19 07:07] kokarn opened #1693 "[BUG] npm dedupe after npm update removes everything in package.json & package-lock.json and changes package name to "dedupe""
### Current Behavior:
Empties everything except name from package.json & package-lock.json
[code]
package.json
[code]

### Expected Behavior:
Dedupe should dedupe, maybe with smaller changes?

### Steps To Reproduce:
Pretty basic react app with the following package.json
[code]
1. `npm install`
2. `npm update`
3. `npm dedupe`

### Environment:
- OS: macOS 10.15.6
- Node: 14.7.0
- NPM: 7 beta 5

[2020-08-19 13:00] ne-cgi commented on #1671
The same occurs in trying to install "newman"

**Steps to Reproduce**
Open command prompt
Execute command: npm install -g newman

[2020-08-19 15:37] snypelife commented on #1690
I have also experienced this with `npm ci`. Perhaps I should open another issue for this?

[2020-08-19 16:24] isaacs commented on #1690
@snypelife Nah, one is fine.  I'm thinking it's the same core issue in Arborist anyway.

[2020-08-19 17:12] isaacs commented on #1281
![im-in-this-photo-meme](https://user-images.githubusercontent.com/9287/90668065-53173d80-e204-11ea-84d0-013c13c26acd.jpg)

I'll put this on my todo list to take a look at in the next few weeks, with an intention to get request out of there before npm v7 goes to GA.  Hopefully we can keep the refactoring to a minimum 😆

[2020-08-19 18:20] Jay-Shu commented on #1671
This same occurs when installing oidc-provider
With a mess of 2130 warn tar ENOSPC: no space left on device

Execute command: npm install oidc-provider

[2020-08-20 02:49] nabilahzaid commented on #1191
Same here. This command work for me. I just happened to get into this problem today after I reinstall my npm and my node at v14+. After the npm cache clean the version become the older version and I managed to run the ng new command.

[2020-08-20 03:43] xiewenchong opened #1694 "HardSourceWebpackPlugin 插件和 热更新冲突"
开启了new HardSourceWebpackPlugin()  插件后，  首次编译没问题，但是修改后热更新会出现报错：
× ｢wdm｣: TypeError: Cannot read property 'call' of undefined
    at Object.exports.call (E:\MyProjects\my-webpack\node_modules\hard-source-webpack-plugin\lib\util\plugin-compat.js:171:17)
    at Proxy.run (E:\MyProjects\my-webpack\node_modules\hard-source-webpack-plugin\lib\SystemArchetype.js:184:20)
    at args (E:\MyProjects\my-webpa

[2020-08-20 15:16] #1694 closed, assigned to nobody

[2020-08-20 23:17] isaacs commented on #1693
Same root cause as https://github.com/npm/cli/issues/1690.  Will be fixed in next update.

[2020-08-20 23:21] isaacs commented on #1689
When you bundle a dependency, you are saying "this is the thing that I want you to include, as it currently is, and I have already set it up how I want it in the bundle".

In other words, this is working as intended.  In fact, if we changed it to the expectation suggested here, it would be a big problem, since we don't run build scripts by default for bundled dependencies, and you may have added f

[2020-08-20 23:21] #1689 closed, assigned to nobody

[2020-08-20 23:28] isaacs commented on #1684
Yeah, we went with safety over power here.  The `@npmcli/git` module has a way to override it with the `gitShallow` option, but we aren't exposing that in the npm config object, and it's mostly just there for testing purposes.

I don't want to change the default, but I would like to give you a way to specify that a host supports shallow cloning.  Maybe we could add a `--git-shallow-host=git.intern

[2020-08-20 23:30] isaacs commented on #1660
Yes, I know.  It's fixed by #1688, just landed today, which will be in beta.6.

You can `npm i -g npm@github:npm/cli#release/v7.0.0-beta` right now if you want to check it out.

[2020-08-20 23:30] #1660 closed, assigned to isaacs

[2020-08-20 23:34] tschaub commented on #1637
I was trying to `npm publish` from a new machine and got the same unexpected 404.  In my case it was solved by an `npm login`.  I understand that a 401 could "leak" the presence of a private package, but I would think the CLI would first check to see whether I was authenticated first and respond with a more appropriate error.

Here is the relevant portion of the log when I tried to `npm publish` b

[2020-08-21 00:26] isaacs opened #1695 "[BUG] `npm token` broken`"
[code]

[2020-08-21 01:21] #1687 closed, assigned to nobody

[2020-08-21 02:59] link89 commented on #1684
Looks good. I think `--git-shallow-host` is enough as it is good to know what is allowed for security's consideration.

[2020-08-21 04:25] maxsmaleha commented on #1637
Yeah, `npm login` helps. A few days ago I discovered this too. But still it is not clear why I had to re-authorize
Npm should improve their error messages.

[2020-08-21 05:13] cyberblitz opened #1696 "cb() never Called"
reporting error as suggested by error information .
Tried uploading log file but it won't let me.. Here's whats was in the log:
[code]

[2020-08-21 10:00] jushar opened #1697 "[BUG] npm process leaving zombie processes"
### Current Behavior:
On Windows, it seems that calling simple commands like "npm --version" leaves one or two dead node processes that will never end. This unfortunately prevents me from calling npm from a script. Are there handles that were not closed?
I was not able to reproduce the issue on Linux (Ubuntu 20.04).

### Expected Behavior:
I expect npm to close all node processes it opened.

### S

[2020-08-21 10:17] jushar commented on #1697
Nevermind. It seems that the problem is fixed after rebooting.

[2020-08-21 10:17] #1697 closed, assigned to nobody

[2020-08-21 23:52] lumaxis opened #1700 "[BUG] Not able to set custom ca or cafile or even disable strict ssl"
### Current Behavior:

There is no way to intercept npm CLI traffic without causing an error:
[code]

### Expected Behavior:

When using an HTTPS proxy with `npm`, I can correctly intercept SSL traffic by using the correct config options, like setting the `NODE_TLS_REJECT_UNAUTHORIZED=0` env var, setting `strict-ssl=false` in `~/.npmrc` or defining my self-signed cert via the `ca` or `cafile` conf

[2020-08-22 10:45] davidje13 opened #1702 "[BUG] WARN notsup still installs package and dependencies"
### Current Behavior:

When an optional dependency is rejected, it will still be installed in `node_modules` and all its dependencies will continue to be installed as well.

A good current example is the `watchpack` package, which has `watchpack-chokidar2` in `optionalDependencies` — this is rejected due to a node version incompatibility, but continues to be installed along with its own dependenci

[2020-08-22 16:37] andreieftimie opened #1703 "[BUG] npm outdated fails with an error, does not say _where_ the issue lies."
### Current Behavior:

[code]

The complete log:

[code]

### Expected Behavior:

1. It should not fail. If there are non-conform package versions in the tree those should be noted and an output should still be presented. This should not be an all-or-nothing operation

2. If it fails, it should point the user in the direction of the failure, so that he may address the issue.

In my case I do have

[2020-08-22 17:35] romovs commented on #492
It also breaks `npm ls --prod=true` since the transitive dev dependencies are not marked as `dev` and `npm ls` starts complaining about extraneous packages.

npm v6.14.5

[2020-08-22 22:14] mieszko4 commented on #1023
I am again having problem with this :(
I will run repeat script until succeed like:
[code]

[2020-08-22 22:19] mieszko4 commented on #1023
@isaacs Are there some logs on the npmjs.org server regarding the timeouts? Maybe they reveal more regarding the issue.
I am trying to publish http://npmjs.org/react-native-zoom-us

[2020-08-23 00:22] ahuglajbclajep opened #1704 "[BUG] npm run is broken"
### Current Behavior:

[code]

### Expected Behavior:

[code]

### Steps To Reproduce:

1. `npx -qp npm@7.0.0-beta.6 -c 'npm run'`

### Environment:

- OS: macOS Catalina 10.15.6
- Node: 12.18.3
- npm: 6.14.6
- npx: 6.14.6

[2020-08-23 01:50] jainath23 opened #1705 "[HELP] 'koa2-session-redis' Connect Retry mechanism is not working"
I have used 'koa2-session-redis' NPM to connect Azure Redis with below config-
{
  "host": "MyInsightsProdRedis.redis.cache.windows.net",
  "port": "6380",
  "password": "XXXX",
  "connect_timeout": "5000",
  "tls": "{\"servername\":\"MyInsightsProdRedis.redis.cache.windows.net\"}",
  "retry_max_delay": "500",
  "max_attempts": "9"
}

But above config still unable to reconnect and time exceeded, a

[2020-08-23 01:51] twcctz70 opened #1706 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-08-23 01:51] twcctz70 opened #1707 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-08-23 02:09] DeeDeeG opened #1708 "[BUG] npm v7 breaks itself upon installing itself in `--global --production` mode."
### Current Behavior:

npm 7 is broken after installing itself in `--global --production` mode.

### Expected Behavior:

npm 7 installing itself in `--global --production` mode should not cause a broken `npm` install.

### Steps To Reproduce:

From a working, stable release of `npm`, run the following command twice and you will have a broken install of `npm`.

- `npm install --global --production

[2020-08-23 05:16] mieszko4 commented on #1023
## Notes

I've played more with this and here are my findings:
1. I am trying to upload a large file ~100mb **from Europe** to the upload server in America/California (`dig registry.npmjs.org`)
When I analyze the traffic it looks like the upload goes to about 100mb then pauses then goes to another 100mb then pauses etc. until timeout happens (~150s).
2. When I analyzed network traffic in wireshark

[2020-08-23 09:41] tobiu commented on #1023
My current workaround: I am using a GitHub Action to call npm publish whenever i add a release in GitHub.

This resolved the timeout issue for me. GH has obviously a faster connection and data does not need to travel from Europe around the world. Might be a temporary fix until the registry file gets too big again (200 releases so far). At this point it will be time for a new npm package anyway (ve

[2020-08-23 13:30] dalyr95 opened #1709 "[BUG] cli package.json engines isn't valid semvar"
### Current Behavior:
Have a script which checks package versions, someone commited npm to the repo for some reason and this broke the script because the npm engines isn't valid semvar.

### Expected Behavior:
Engines property should be valid semvar

### Steps To Reproduce:
Use the semvar module to reproduce
[code]
Problem is here https://github.com/npm/cli/blob/latest/package.json#L311

Commit wh

[2020-08-23 17:03] ljharb commented on #1708
Why would you be installing in production mode explicitly? Dev deps only show up if you run `npm install` or `npm install --dev`.

[2020-08-23 17:16] DeeDeeG commented on #1708
I suppose it was from misremembering the facts you just mentioned. Do global installs not include `devDependencies`?

_(EDIT: You appear to be right. I actually can't get npm 6 to install the `devDependencies` at all in `--global` mode, even without `--production` and running with `--also=dev`. But that's off-topic for this issue.)_

In any case, these "steps to reproduce" do not break existing, s

[2020-08-23 17:20] DeeDeeG commented on #1708
For better or for worse, I seem to recall that it's a common thing in various READMEs to tell users to do global package installs with the `--production` flag.

For example,`node-gyp`'s `README.md`: https://github.com/nodejs/node-gyp/tree/v7.1.0#option-1

And Node's documentation page: https://nodejs.org/docs/v14.9.0/api/n-api.html#n_api_building

(Probably copy-pasted from `windows-build-tools`'

[2020-08-23 20:03] ghost opened #1710 "[BUG] package.json is removed from my monorepo"
### Current Behavior:
`npm install` will tell dependency has no package.json. You can see this dependency [q.helpers](https://github.com/hydroper/q.x/tree/master/q.helpers) has a package.json.

Log:

### Expected Behavior:
`npm install` without Error.

### Steps To Reproduce:
- `npm init -y`
- Write this in `package.json`:

[code]

(I did also try some other times making q.x rely on q.helpers by a

[2020-08-23 20:20] isaacs commented on #1695
Fixed in latest v7 beta release https://github.com/npm/cli/commit/10fcff73a3381ea5e6dcb03888679ae4b501d2f0

[2020-08-23 20:20] #1695 closed, assigned to nobody

[2020-08-23 20:20] isaacs commented on #1690
Fixed in latest v7 beta.  Thanks!

[2020-08-23 20:20] #1690 closed, assigned to nobody

[2020-08-23 20:20] isaacs commented on #1693
Fixed in latest v7 beta.  Thanks!

[2020-08-23 20:20] #1693 closed, assigned to nobody

[2020-08-23 20:20] isaacs commented on #1619
Fixed in latest v7 beta.  Thanks!

[2020-08-23 20:20] #1619 closed, assigned to nobody

[2020-08-23 20:21] isaacs commented on #1619
um... you're welcome :joy:

[2020-08-23 20:21] isaacs commented on #1620
This should be fixed in the latest beta.

[2020-08-23 20:21] #1620 closed, assigned to nobody

[2020-08-23 20:22] isaacs commented on #1640
Fixed in latest v7 beta.  Thanks!

[2020-08-23 20:22] #1640 closed, assigned to claudiahdz

[2020-08-23 20:22] isaacs commented on #1651
Fixed in latest v7 beta.  Thanks!

[2020-08-23 20:22] #1651 closed, assigned to isaacs

[2020-08-23 23:21] sshaw opened #1711 "[BUG] npm publish Does Not Consider Rules in `git config --get core.excludesFile`"
### Current Behavior:

I have a bunch of ~files~ patterns in my master excludes files specific to my editor, etc...

I have a `.gitignore` in a project's directory specific to that project's source. This does not repeat what's in the master `.gitignore` file.

This causes `npm publish` to include ignored files in its tar file.

### Expected Behavior:

Files ignored by git –in all config locations–

[2020-08-24 03:07] DeeDeeG commented on #1709
Hi there, just another random `npm` user reading this issue. From reading the `lib/utils/unsupported.js` changes in that same commit (https://github.com/npm/cli/commit/28c3d40d65eef63f9d6ccb60b99ac57f5057a46e#diff-1240a890730acc445832e67a85023f96), this is what is meant...

The following are supported Node versions:
- In 6.x, and greater than/equal to 6.2.0
- 8.x
- any version >= 9.3.0

The notabl

[2020-08-24 03:36] DeeDeeG commented on #1709
I think it is valid semver. Try the following that prints various valid versions and screens out invalid ones:

[code]

Also, in Node REPL:

[code]

`semver.minVersion()` doesn't appear to work with the `x > x.y` syntax, though.

[code]

[2020-08-24 05:22] ljharb commented on #1709
Seems like a bug worth filing on semver re `minVersion`, then, rather than an issue with npm's package.json?

[2020-08-24 09:03] cmdntd opened #1712 "npm ERR!, npm v3.10.10, node v12.18.3"
I have this error when run any npm command

npm ERR! Linux 3.10.0-1127.10.1.el7.x86_64
npm ERR! argv "/usr/local/n/versions/node/12.18.3/bin/node" "/bin/npm" "update"
npm ERR! node v12.18.3
npm ERR! npm  v3.10.10
npm ERR! cb.apply is not a function
npm ERR!
npm ERR! If you need help, you may report this error at:
npm ERR!     <https://github.com/npm/npm/issues>
npm ERR! Please include the followin

[2020-08-24 09:47] dalyr95 commented on #1709
Good shout @ljharb looks like it been raised https://github.com/npm/node-semver/issues/330

Regexs and Semvar, my two pet hates 😓

[2020-08-24 10:19] lost-programmer opened #1713 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:
I have this error when run npm i

error code EINVALIDTYPE
error typeerror Error: Argument #2: Expected string but got null
error typeerror     at exports.findRequirement (C:\Users\User\AppData\Roaming\npm\node_modules\npm\lib\install\deps.js:756:3)
error typeerror     at findChild (C:\Users\User\AppData\Roaming\npm\node_modules

[2020-08-24 10:20] #1713 closed, assigned to nobody

[2020-08-24 10:26] lost-programmer opened #1714 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:
when run npm i

error code EINVALIDTYPE
error typeerror Error: Argument #2: Expected string but got null
error typeerror     at exports.findRequirement (C:\Users\User\AppData\Roaming\npm\node_modules\npm\lib\install\deps.js:756:3)
error typeerror     at findChild (C:\Users\User\AppData\Roaming\npm\node_modules\npm\lib\install\d

[2020-08-24 17:44] navajyot opened #1715 "its a working!"
I had been facing the same issue.
Try with following steps:
1. clear your npm cache.
2. reinstall Angular CLI
3. create a new app

Commands:
npm cache clean **--force**
npm install -g @angular/cli@latest
ng new appname

This is working for me.

_Originally posted by @shiva-github in https://github.com/npm/cli/issues/1191#issuecomment-637286144_

[2020-08-24 17:46] #1715 closed, assigned to nobody

[2020-08-24 17:48] navajyot commented on #1715
its working !

[2020-08-24 19:49] jgfidelis opened #1716 "[BUG] 403 on `npm whoami` or `npm adduser`"
This might not be a bug, don't  know how to ask for help on this, but it is really weird.

### Current Behavior:
When I enter npm whoami, npm adduser, npm logout, anything; I get a 403 error.

It started out of nowhere, I don't know what caused. I already updated my macOS to the latest version and NPM to the latest version as well.

[code]

### Expected Behavior:
npm whoami and related works

###

[2020-08-24 19:52] jgfidelis commented on #1716
I already tried uninstalling & reinstalling npm.

[2020-08-24 21:48] andylippitt commented on #643
Like @coding-musicman above, I had an `npm i` that was unbearably slow in CMD.exe but was fast in powershell. this reminded me of recently fiddling with console buffer widths and defaults. some tweak in console layout tab seems to have brought the performance inline with powershell. Seems like the super-verbose npm mode is blowing up some performance bug in cmd.exe console

[2020-08-25 02:12] hych007 opened #1720 "[BUG] <cb() never called!>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:
steps to reproduce the behavior:
1.git clone https://github.com/jitsi/jitsi-meet-electron
2. npm install --global --production windows-build-tools
3.npm install -g node-gyp
4.npm install
5.see error
error cb() never called!
This is an error with npm itself. Please report this error at:<https://npm.community>

### Environment:
-

[2020-08-25 04:49] ljharb commented on #1712
node 12 ships with npm v6.14.6; npm 3 won't ever work with it, and I have no idea how you got such an ancient version of npm installed with a modern version of node.

[2020-08-25 04:50] ljharb commented on #1716
What does `type whoami` or `alias whoami` print out?

[2020-08-25 06:08] hych007 commented on #1720
npm i --force seems fixed it!

[2020-08-25 07:13] AlexChesters commented on #1685
The fact that this alternates makes me wonder if it is related to #1683 , which also has alternating behaviour in the `package-lock.json`

[2020-08-25 07:13] AlexChesters commented on #1683
The fact that this alternates makes me wonder if it is related to #1685 , which also has alternating behaviour in the `package-lock.json`

[2020-08-25 08:59] vishwavrat2802 commented on #1191
I faced the same issue , but got resolved with this:-

npm cache clear --force

may the issue was because of the error
npm ERR! Unexpected end of JSON input while parsing near '...},"4.2.1":{"name":"@A'

[2020-08-25 09:46] AKASHGJHKJ commented on #1720
F:\CD\dev\projects>npm install -g create-react-app
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\akash das\AppData\Roaming\npm-cache\_logs\2020-08-25T09_41_00_429Z-debug.log

[2020-08-25 09:47] AKASHGJHKJ commented on #1708
F:\CD\dev\projects>npm install -g create-react-app
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\akash das\AppData\Roaming\npm-cache\_logs\2020-08-25T09_41_00_429Z-debug.log

[2020-08-25 12:10] cmdntd commented on #1712
Ok, I removed and reinstalled all of them. And now it is ok in lastest version

[2020-08-25 13:39] jgfidelis commented on #1716
hey @ljharb

[code]

[2020-08-25 13:51] jgfidelis commented on #1716
Well some other data...
I can confirm that the same credentials work and I can login on the npmjs.com site. Same login, password and email. Yet npm adduser does not work.

I have deleted the `~/.npmrc` file, and now `npm whoami` throws `ENEEDAUTH` error but `npm adduser` still does not work with 403 error

[2020-08-25 14:10] Khuzha opened #1721 "[BUG] Cannot find module '../lib/utils/unsupported.js'"
Hello! I've downloaded LTS and latest versions of Node.js from https://nodejs.org/en/, unarchived that:
```sudo tar -xvf node.tar.xz -C /opt/```

than copied links:
```sudo cp /opt/node/bin/node /opt/node/bin/npm /usr/bin/```

when I try node -v, it works.
But with npm -v I get:
[code]

I tried to remove everything and install it with apt (I use Ubuntu):
[code]
I get the same problem.

I tried to

[2020-08-25 18:27] isaacs commented on #1704
Root cause: https://github.com/npm/config/issues/2

We should be skipping env values of `''` rather than putting them in the configuration object.

[2020-08-25 18:29] #1707 closed

[2020-08-25 18:34] isaacs commented on #1708
@AKASHGJHKJ This is a different issue from the main one being reported.  Please create a new issue, or find one that matches the problem you're experiencing.

[2020-08-25 19:46] jgfidelis commented on #1716
Hey guys, I found out.

Looks like my IP was in some kind of blacklist.

We found out by intercepting the `npm adduser` requests with a proxy and seeing the results. The first POST to login that returned 403, contained in the body a html with a captcha from cloudflare.

I then googled it and found this thread, and through a website, found out my IP was blacklisted for some reason.

https://communi

[2020-08-25 19:46] #1716 closed, assigned to nobody

[2020-08-25 20:50] ljharb commented on #1704
Isn’t the empty string distinct from unset?

[2020-08-25 22:48] scamden commented on #1628
We also see this issue using the npm 7 beta (let me know if I should open a separate issue for that version):

this command `npm i @creditiq/item@latest` gives the error

[code]

but `npm info`

happily shows

[code]

edit: i'm also able to install the version pointed to by latest with `npm i @creditiq/item@30.42.1` . It seems specifically related to using the latest tag. Note: this is a privately

[2020-08-25 23:10] scamden opened #1722 "[BUG] 7.x Cannot use tags to install against a privately scoped package on the npm registry"
I commented on another ticket but I believe this may actually be a separate issue so I'm opening my own issue as this is a major blocker to us using the npm 7 cli at all.

### Current Behavior:
We see this issue using the npm 7 beta:

the command `npm i @creditiq/item@latest` gives the error

[code]

but `npm info @creditiq/item`

happily shows

[code]

Note: i'm also able to install the version p

[2020-08-26 02:56] wmzy opened #1723 "[BUG] npm dedupe not work"
### Current Behavior:

[code]
### Expected Behavior:

Only one `color-name` package.

### Steps To Reproduce:

[code]

[2020-08-26 06:58] 1brian987654 commented on #1720
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/tanz/.npm/_logs/2020-08-26T06_50_49_637Z-debug.log

[2020-08-26 06:59] 1brian987654 commented on #1720
I tried this command but doesn't work.

[code]

from log I saw fetch GET 504.
[code]
I run `npm get registry` to check its registry, it is `https://registry.npmjs.org/`
then I remember, there is a "WALL" that stop npm fetching components.
so I set another mirror to support npm. you can google and get what you want.
**finally, it works.**

[2020-08-26 07:12] 1brian987654 commented on #1696
seems like npm cannot fetch required packages from the current registry.
maybe you should try to set another registry, it's easy to get one by googling.

[2020-08-26 10:41] codemacabre opened #1724 "[BUG] Hippocratic license incorrectly identified as invalid SPDX expression"
# What / Why
Packages using the [Hippocratic License]() output the following warning when installed:
[code]
## Where
This has been tested on [numerous repos](https://github.com/search?q=hippocratic-2.1&type=Code) using the  valid `Hippocratic-2.1` license expression, all with the same npm warning. This occurred on earlier verions of node, but also when upgrading to the latest 14.8.0 & npm 6.14.7.

[2020-08-26 11:35] abdonrd commented on #1247
Friendly reminder!

[2020-08-26 12:35] paulbizsunny opened #1725 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-08-26 12:36] paulbizsunny opened #1726 "[BUG] <title>current Behavior"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-08-26 14:03] jmannanc commented on #1724
This is dependent on https://github.com/shinnn/spdx-license-ids/pull/19 being merged and then eventually https://github.com/kemitchell/validate-npm-package-license.js getting updated.

[2020-08-26 14:16] jasonrberk commented on #1132
as an aside to this, it would be nice if the docs explicitly state that engines could use semver, like so:

[code]

[2020-08-26 15:16] Aditya94A opened #1727 "[BUG] Remove update npm message"
![image](https://user-images.githubusercontent.com/13274079/91321761-96f9dc00-e7dc-11ea-8194-acd750ad1b0f.png)

This is likely contributing to cognitive overload equivalent to tens of thousands of hours each day across the world and sucking developers in "busy work" that leads to nothing.

I have ~6 active projects in three programming languages, collectively using perhaps >200 direct dependencies

[2020-08-26 15:27] ilsme commented on #681
`sudo npm install -g npm@latest`
`hash -r`

Did the trick for me

[2020-08-26 16:49] #1712 closed, assigned to nobody

[2020-08-26 16:49] #1725 closed, assigned to nobody

[2020-08-26 16:50] #1714 closed, assigned to nobody

[2020-08-26 16:50] #1706 closed

[2020-08-26 16:50] #1726 closed, assigned to nobody

[2020-08-26 18:05] ljharb commented on #1727
npm is global, you’d only have to run it once.

(Most projects do actively update every minor or patch version of deps, btw, by using services like dependabot)

[2020-08-26 18:14] scamden opened #1728 "[BUG] 7.x npm prune --production removes dev deps but leaves .bin symlink to dep (breaks serverless packaging in our case)"
### Current Behavior:
running `npm prune --production` removes dev deps as expected but leaves symlinks in `node_modules/.bin`

### Expected Behavior:
symlinks are removed for packages that are removed

### Steps To Reproduce:
1. Create a empty package
2. `npm i -D acorn`
2. `npm prune --production`
3. `ls node_modules/.bin/acorn`
4.  notice that it exists but `ls node_modules/acorn` doesn't exist

[2020-08-26 18:41] jonkaya opened #1729 "[BUG] npm install using an old npm-shrinkwrap requires multiple npm installs to get to its final state"
### Current Behavior:
We have a `package.json` with a single dependency and an `npm-shrinkwrap.json` generated previously with an older npm version. It requires multiple `npm install` to get node_modules to its final state
1. First `npm install` modifies `npm-shrinkwrap` with minor version changes in dependencies and installs the package and dependenciess in node_modules
2. Second `npm install` mo

[2020-08-26 20:22] ruyadorno commented on #1654
hi @nicholas-ochoa I tried to recreate a minimal reproduction of this problem and couldn't get it, I wonder if you can provide more info, like a `package.json` and `package-lock.json` OR ideally if you can help out isolate the problem to a small reproducible git repo/gist OR just find a public project in GitHub where we can easily observe it. That would help out enormously in tracking down the bug

[2020-08-26 20:49] leandro-manifesto commented on #1654
I believe I checked this out with a previous beta version, but trying it out again on `beta.7` seems to be working properly.

Also, I was not using GitHub Packages, but another private registry.

[2020-08-26 21:24] ruyadorno commented on #1654
That's a great point @leandro-manifesto, it would be nice if you can confirm how it behaves with the latest `beta.7` pre-release since we just shipped a major configs refactor there @nicholas-ochoa

[2020-08-26 21:40] nicholas-ochoa commented on #1654
I tried again with the `beta.7` pre-release and experienced the same issue. I've put the log, console output and `package.json` on a gist: https://gist.github.com/nicholas-ochoa/a610be4901e431f4c4ad9728a18c4010 - no package-lock.json is created.

I'll take a crack at creating a minimal reproduction repository.

[2020-08-26 21:47] leandro-manifesto commented on #1654
For private registries containing scoped packages I always set the `always-auth` config along with the `registry` like so:
[code]

But anyway, it seems NPM is looking for the wrong packages in GitHub Packages.

[2020-08-26 22:04] nicholas-ochoa commented on #1654
I've created a couple repos and another gist showing the result.

https://github.com/nicholas-ochoa/npm7-issue-test-pkg - Small package with that `npm7-issue` depends on
https://github.com/nicholas-ochoa/npm7-issue - Minimal reproduction that has a couple non-scoped dependencies (`chalk` and `uuid`) and a scoped dependency (`@nicholas-ochoa/npm7-issue-test-pkg`).

Gist with `npm install` output an

[2020-08-26 22:25] wernert commented on #1471
yes please add filter capabilities, the current behavior is very confusing and not really useful.
also look at:
[#20672](https://github.com/npm/npm/issues/20672)
[#20596](https://github.com/npm/npm/issues/20596)

[2020-08-27 02:01] PineAppleGrits opened #1730 "[BUG] Npm Error"
[code]
ex.
- OS: Linux static 4.15
- Node: 8.1
- npm: 3.5.2
-->

[2020-08-27 02:23] ljharb commented on #1730
npm 3 is ancient, and node 8 is EOL; what happens if you try a more modern version of both?

[2020-08-27 03:14] cathy812 opened #1731 "NPM is not working"
Continuously getting this error when using NPM-cli, executing the command "npm ci":
10:58:07  + npm ci
10:58:34  npm ERR! cb() never called!
10:58:34
10:58:34  npm ERR! This is an error with npm itself. Please report this error at:
10:58:34  npm ERR!     <https://npm.community>

Would you please take a look? This is not the first time notice that.

[2020-08-27 05:02] zitup opened #1732 "[BUG] postinstall not exec when run npm install xxx, but npm install do"
### Current Behavior:
postinstall don't exec when run `npm install xxx`, but just run `npm install` trigger execution
AND, script in node_modules/.hooks/postinstall will exec both in `npm install xxx` and `npm install`

### Expected Behavior:
postinstall exec too when run `npm install xxx`

### Steps To Reproduce:
package.json
[code]
script
[code]

### Environment:

- OS: macOS 10.15.5
- Node: 12.

[2020-08-27 15:42] debel27 opened #1734 "[BUG] Some packages can no longer be installed with npm v7"
### Current Behavior:

Some packages can no longer be installed with NPM v7 (in my case, it's `react-tooltip@3.11.6`)

To me, the install fails for a pretty legitimate reason. Yet, this behavior is not backward compatible.

Here is the relevant log

[code]

### Expected Behavior:

`npm install` works flawlessly

### Steps To Reproduce:

[code]

[2020-08-27 16:06] CRSDahl opened #1735 "[BUG] Git dependency does not get updated to the version from package-lock.json. package-lock.json gets modified when old version of git dependency is in node_modules and running npm install"
When a git dependency gets updated in the package-lock.json and I still have the old version in my node_modules folder, `npm install` will not update the dependency and revert the package-lock.json to the version in my node_modules folder.

### Steps To Reproduce:
1. `npm install git+https://my-git-dependency...`(now the version in the package-lock.json shows the current commit hash)
2. Now the de

[2020-08-27 18:54] furkle opened #1736 "[BUG] Remove or change unhelpful logging message from npm audit fix --force"
### Current Behavior:
The CLI emits an unhelpful message when one attempts to force-resolve a security issue with `npm audit fix --force`.

The message is as follows:

`npm WARN using --force I sure hope you know what you are doing.`

### Expected Behavior:
One or more of the following:
- A clear description of the failure cases one might encounter in force-resolving a security issue;
- A link to

[2020-08-27 19:22] nirajkheria commented on #1185
I had the same error for npm version 6.14.4 and updating it to the latest version fixed the issue

[2020-08-28 02:51] zhangXuanhao996 opened #1737 "[BUG] cb() never called!"
cb() never called!

[2020-08-28 07:12] roopantj commented on #681
first become the root user in the terminal by the command "sudo -i"[You will be asked to enter the password] and then run the command " npm install -g npm@latest "

[2020-08-28 08:34] meilZhu commented on #1737
I also encountered this problem and asked to solve it

[2020-08-28 11:24] RCVarley commented on #1737
I got this error when adding storybook to a new VueJS project using the `@vue/cli` (`vue add storybook`).

[code]

This error was generated while attempting to use NPM.
I also tried Yarn and it failed to fetch `polished-3.6.5.tgz`. I wonder if this was happening in the background.

Weirdly, I'm in the UK, yet `@vue/cli` seems to default to a Chinese NPM mirror... Do you think this could be the iss

[2020-08-28 11:36] Ulrikop commented on #607
I see the same issue of loosing the `dev` flag after using `npm update --depth` but only for dev dependencies of my project which are real dependencies at an other dependency.

In my case an other dependency adds "@types/node" as dependency but at my project has it as dev dependency:

package.json of dependency "a":

[code]

my project:

[code]

after `npm update --depth=99` the dev flag is ok for

[2020-08-28 12:01] RCVarley commented on #1737
I got it working for VueJS!

You can change the registry to use with `vue create address-manager -r https://registry.npmjs.org`.

There is also a setting in `.vuerc` that you can change (`"useTaobaoRegistry": false,`).

Try changing the NPM registry in `.npmrc`.  The default is `https://registry.npmjs.org`.

### Links:
https://docs.npmjs.com/using-npm/registry.html
https://cli.vuejs.org/guide/crea

[2020-08-28 13:07] vo-mary-PFG commented on #1671
I uninstalled npm and nodejs and reinstalled. This seem to fix my issue

[2020-08-28 15:46] alasdairhurst commented on #1710
@hydroper  the git URL can be http/ssh and resolve a particular tag, commit or branch as noted in https://docs.npmjs.com/files/package.json, but pretty sure that you can't point to a specific directory like you're trying to do. It has to be the root of the repository.

I think the only other way you can do it via git is committing a tar.gz file containing your module and using the git+file protoco

[2020-08-28 16:31] ghost commented on #1710
@alasdairhurst Interesting, but archiving the subpackage complicates maintenance. I've used Lerna instead, which allows to publish all subpackages in a single command...

[2020-08-28 16:32] mjeanroy commented on #1734
Hi,

This issue is due to a bug in `cache.js`, [line 83](https://github.com/npm/cli/blob/1dbec09b2bc32f94f305b51994f16590387250b1/lib/cache.js#L83), the ternary expression seems wrong:

[code]

I would be happy to submit a PR fixing the issue ;)

[2020-08-28 23:53] PineAppleGrits commented on #1730
I dont know how, i tried a  lot of commands but no one of them worked.

[2020-08-29 11:35] ranjbarhadi commented on #1191
This solved the problem for me. my node version was 10 and I needed to upgrade it to version 12.

[2020-08-29 12:17] suryakantamangaraj opened #1740 "npm-ci is not working"
When I execute ```npm ci``` command it always gives the error ```npm ERR! cb() never called!```

[2020-08-29 17:30] anaarosal commented on #1191
I tried every recommendation.
Nothing works. I gave up with Angular.
Two days later, it, magically, works.

WTF

[2020-08-29 17:46] pkrasicki opened #1741 "npm audit returns a cloudflare captcha page"
npm audit stopped working for me some time ago. It only returns HTML code for a captcha page:
[code]

I assume this is an issue with your servers more than with the cli. Since it's not possible to solve your captcha from terminal, could you disable this captcha on your server?

Npm version: 6.14.4

[2020-08-29 22:34] billyjanitsch opened #1744 "[BUG] Install progress bar jumps around"
### Current Behavior:
During `npm install`, the progress bar moves backwards and forwards intermittently.

![npm-progress-bar](https://user-images.githubusercontent.com/1158733/91647198-f3037100-ea25-11ea-8ff7-9184e0f45962.gif)

### Expected Behavior:
The progress bar should never move backwards.

### Steps To Reproduce:
1. Create a package.json with several dependencies. [This](https://github.com

[2020-08-29 22:40] billyjanitsch opened #1745 "[BUG] Unhelpful "Unsupported engine" warning"
### Current Behavior:
During `npm install`, if any transitive dependency declares an unsupported engine, npm prints:

[code]

It does not say which package declared the unsupported engine, nor what version it declared. This leaves the user without a clear way to resolve the problem.

### Expected Behavior:
I would expect the printed warning to indicate all incompatible packages, and their declared

[2020-08-29 22:52] billyjanitsch opened #1746 "[BUG] npx binary does not account for globally-installed packages"
### Current Behavior:
If a package `foo` that exposes a binary is installed globally, npm 7's `npx foo` does not work as expected. It asks whether to install `foo` rather than executing the already-installed binary.

This issue also occurs if the binary does not share the package name (e.g. if `foo` exposes binary `bar`, then `npx bar` doesn't work either).

### Expected Behavior:
`npx foo` should

[2020-08-30 13:31] bubinek commented on #595
@LoganDark It's necessary. It's commercial spam in open source environment ergo It's disgusting. There should be text added "To disable this message do ...".

[2020-08-30 13:33] LoganDark commented on #595
@bubinek Yes I understand that, but this issue has been solved twice already and there is no need to continue trying to drive home just how unnecessary/unacceptable the feature is. If you'd like the wording to be changed, perhaps that should be a separate issue

[2020-08-30 13:36] LoganDark commented on #595
@ruyadorno please consider locking this issue to prevent people from coming along months or years in the future just to echo their disappointment. This issue has been completely solved (it is about the inability to disable the message, and the message is able to be disabled; there are even clear instructions in 2 comments), and any further discussion about some other characteristic of the message

[2020-08-30 15:33] ruyadorno commented on #595
agreed, thanks @LoganDark 👍

[2020-08-31 01:58] stoneRdev opened #1747 "[BUG] Install not recognizing cli flags on Windows"
### Current Behavior:
`npm install <package> <any kind of flag you can think of>`
npm installs package, acting as if no flags were passed at all.
E.g.
`npm install sqlite3 --save-optional`
results in sqlite3 saved/installed as regular dependency and
`npm install` with sqlite3 listed in optionalDependecies results in
nothing being installed.
This same behavior is observed with any flags passed, inc

[2020-08-31 09:51] deniz-blue commented on #1737
I'm having this issue too, and I'm not even using vue... This happens when I try to install any package

[2020-08-31 14:32] EmreSoftware opened #1748 "[BUG] cb() never called! npm file install error"
### Current Behavior:
 cb() never called!

### Expected Behavior:
Download and install file successfully using npm

### Steps To Reproduce:

1. write npm i discord.js (example)
2. Error cb() never called!

### Environment:

npm: 6.14.6

[2020-08-31 15:17] pkrasicki commented on #1748
Related or duplicate of: https://github.com/npm/cli/issues/1720

[2020-08-31 15:19] pkrasicki commented on #1748
There are even more issues like this:
https://github.com/npm/cli/issues/1696
https://github.com/npm/cli/issues/1671
https://github.com/npm/cli/issues/1740
https://github.com/npm/cli/issues/1737
https://github.com/npm/cli/issues/1731
https://github.com/npm/cli/issues/1666
https://github.com/npm/cli/issues/1647
https://github.com/npm/cli/issues/1625
https://github.com/npm/cli/issues/1608
https://git

[2020-08-31 15:34] pkrasicki commented on #417
Other related issues:
#1696
#1671
#1740
#1737
#1731
#1666
#1647
#1625
#1608
#1605
#1552
#1546
#1531
#1505
#1466
#1464
#1720
#1748

[2020-08-31 16:01] boeckMt opened #1749 "[BUG] Install of some packages results in Error: `unable to resolve dependency tree`"
### Current Behavior:

The installation of some packages results in the Error: `unable to resolve dependency tree`. This is produced in the file `...@npmcli\arborist\lib\arborist\build-ideal-tree.js` when there is no target from `check.resolveParent`.

If the Installation is run with the flag `--legacy-peer-deps` it works without Errors.

A Falling Package is e.g. `npm i @angular-devkit/build-ng-p

[2020-08-31 16:02] boeckMt commented on #1749
I also noticed a similar error `Cannot read property 'name' of undefined` (https://github.com/npm/arborist/issues/116) if some peerDependency of a package is not compatible with a installed package which also resolves with the flag `--legacy-peer-deps`.

Steps To Reproduce:
1. npm i @angular/core@10.0.0
2. npm i @clr/angular@3.0.0

[2020-08-31 16:22] darcyclarke commented on #1741
@pkrasicki is this still happening to you when you run `npm audit`?

[2020-08-31 16:47] codemacabre commented on #1724
Thanks @SneakyFish5, that's opened my eyes to the fact that there's a bit of a larger issue here in that npm licensing is dependent on the [spdx-license-ids](https://github.com/shinnn/spdx-license-ids) package being kept up-to-date, which is managed by a lone maintainer. This single point of failure is clearly a bit of a bottleneck as it appears there are [PRs going back to Feb](https://github.com

[2020-08-31 17:18] pkrasicki commented on #1741
Yes, I tried it now and this still happens.

[2020-08-31 17:32] kemitchell commented on #1724
I am happy to move the package into @jslicense, but people come first, code second.

@CodeMacabre you mentioned @shinnn's absence. Do you know if he's okay, or needs support? I haven't been able to reach him.

[2020-08-31 17:39] codemacabre commented on #1724
100% agree and no, unfortunately I'm new to this whole situation and looking at the history it looks like @shinnn has disappeared as of November 2019 and their website appears to be down. I don't know who they are but I'm also concerned, particularly given the current climate.

If anyone does know them, please do ping us; I'd be willing to support any way I can.

[2020-08-31 18:59] kemitchell commented on #1724
https://www.npmjs.com/package/spdx-license-identifiers

All the intermediate packages are mine. But I'm out of time for today.

[2020-08-31 22:52] leandro-manifesto commented on #1654
I tested here with a clean cache and the problem showed up too.
It seems NPM is ignoring the scope part of the registry configuration and setting it as the global one.

[2020-08-31 23:06] ruyadorno commented on #1654
sounds great 👍 thank you all for the feedback, and specially @nicholas-ochoa for the reproducible repo, I'll give it another try!

[2020-09-01 00:16] scamden commented on #1728
`find . -type l -exec test ! -e {} \; -delete`

our current work around for any who shamble in here before the bug is fixed ^

[2020-09-01 03:19] suryakantamangaraj commented on #1740
Thanks for linking those.

[2020-09-01 03:19] #1740 closed, assigned to nobody

[2020-09-01 07:52] boeckMt commented on #1749
Looks like the Issue is already existing on https://github.com/npm/arborist/issues/115 so maybe it can be closed.

[2020-09-01 12:53] guimard commented on #1455
Hi, it looks like it was a Debian/Node.js issue. npm works fine with s390x, ppc64 and ppc64el

[2020-09-01 14:18] orzechowskid opened #1752 "[Question] documentation for phase 1 of workspace support in npm 7?"
### Current Behavior:
running `npm install` in my top-level workspace does not seem to create a node_modules directory in my nested workspace.

### Expected Behavior:
not sure!  I am using `npm@next-7`, in which "phase 1" of workspace support has been added according to [this blog post](https://blog.npmjs.org/post/626173315965468672/npm-v7-series-beta-release-and-semver-major), but I'm unable to f

[2020-09-01 15:07] JarvisStriker commented on #1489
same issue. there is no clear answer anywhere

[2020-09-01 15:21] masx200 commented on #1489
You can use "yarn publish" to solve this problem

[2020-09-01 16:22] ljharb commented on #1455
Make sure npm isn’t installed separately, npm only ships with node.

[2020-09-01 18:55] guimard commented on #1455
@ljharb: sure

[2020-09-01 20:44] MylesBorins commented on #1639
This has not been entirely fixed

npm v6.x output
[code]

npm 7.x output
[code]

Notice the additional newline that we have now. This is probably a non issue for most cases but it did break some internals on CITGM (but were patched easily enough)

[2020-09-02 02:21] asklar commented on #1527
@pedroreys thanks for filing this, we at Microsoft hit this too when building React Native for Windows.
NPM folks, how can we get this prioritized for fixing?

[2020-09-02 07:00] JeswinSunsi opened #1754 "[Question] Rename Sill"
I do understand that terms like sill for silly add fun to the program on the dev side, but as a new learner I found it pretty hard to understand what sill meant. I wonder if the devs could change that.

[2020-09-02 11:14] KilianKilmister commented on #1752
I discovered it while debugging something in Arborist: the paths added to the `namespaces` field (takes standard globs) will be symlinked to the root `node_modules` folder, and commands like `npm install` run in the root package will cascade through the workspace packages.

that's what i know so far. theres probalby more

[2020-09-02 11:38] sapphi-red commented on #396
This happens also like the environment below.

- Windows
- Using GitHub Desktop (GitHub Desktop uses the git command which is included)
- a npm package which uses git hooks

https://github.com/npm/cmd-shim/blob/92c0a16d3c8a8c53ade76b5eae8efae01dd7f41f/index.js#L155
Changing this line to `*CYGWIN*) basedir=`cygpath -w "$basedir"`;;\n'` fixed for me.

refs npm/cmd-shim#30

May be this happens when u

[2020-09-02 11:55] KilianKilmister opened #1755 "[BUG] `prefix`-sub-command and global installes ignore configured prefix"
### Current Behavior:

the sub-command `npm prefix` logs `/usr/local` and that's also where it tries to make global installs (obviously raising an `EACCES` error).
for other things, options are correctly resolved eg. `npm config <command> -g` will access the corect configs

### Expected Behavior:

global installs going to the folder specified in `prefix`

### Steps To Reproduce:

- have a prefix d

[2020-09-02 14:02] orzechowskid commented on #1752
that's what the RFC says should happen, yes.  and that seems to be the case if package-lock.json in the root workspace contains a `packages` field.  following the steps above does not create such a field.

[2020-09-02 16:37] GMartigny opened #1756 "[BUG] ENOLOCAL error with local dependencies"
### Current Behavior:

Hi,
I have a package ([Pencil.js](https://github.com/pencil-js/pencil.js)) with several sub-modules. Each sub-module is managed as a local dependency of the root package. This allow me to not bother with path when I require each one of them.
My `package.json` simplified:

[code]

in `src/index.js`:

[code]

All seems to work well. My tests are all greens, webpack works, my c

[2020-09-02 17:21] KilianKilmister commented on #1752
@orzechowskid you have to check in `node-modules/.package-lock.json`. it's not in the other one

[2020-09-02 22:43] ipartola commented on #1685
I am having the same exact issue. Tested it on macOS with npm 6.14.4 and 6.14.8.

[2020-09-03 02:29] nmm-shumway commented on #564
This is somewhat frustrating, given that `npm ci` was originally touted as the [solution](https://github.com/npm/npm/issues/18286) to the same problem this issue is raising.

The original behavior that a number of people wanted for `npm install` was to look at the `package-lock.json` instead of `package.json`. We wanted a flag on `npm install` to turn that behavior on. What we got instead was `npm

[2020-09-03 03:28] SureshSSI opened #1759 "[BUG] npm react-datepicker alignment issue in iOS devices"
There is an alignment issue in iOS devices like iPad, iPhone when the device goes from landscape to portrait mode.

The react-datepicker is working fine when the device is rotated from portrait to landscape, but it is not working fine when it is again rotated from landscape to portrait.

I have attached the screenshot of the issue below..

Portrait mode 👍
![image](https://user-images.githubusercon

[2020-09-03 04:17] jdussouillez commented on #564
This is how I would like it to work in a perfect world :

- `npm install` - same behavior as today
- `npm install --from-lockfile` - install from the lockfile (like `ci` does)
- `npm install --clean` - same behavior as `npm install` but delete the `node_modules` content
- `npm ci` - an alias to `npm install --from-lockfile --clean`

[2020-09-03 08:18] sgehrman commented on #611
This bug was reported in 2014 and it happened to me today in 2020.  What a disaster.  Is this ever going to get fixed?

[2020-09-03 09:20] stoneRdev commented on #1225
@ettud I agree, and fully support that. Maybe I'll do a pull for it

[2020-09-03 15:51] #1573 closed, assigned to ruyadorno

[2020-09-03 15:51] #1574 closed, assigned to ruyadorno

[2020-09-03 18:48] niteshtadepalli opened #1760 "Bug - Error when doing npm install"
Node - v10.22.0
npm - 6.14.6
[2020-09-03T18_43_56_367Z-debug.log](https://github.com/npm/cli/files/5170616/2020-09-03T18_43_56_367Z-debug.log)

[2020-09-03 21:28] ruyadorno commented on #1752
hi @orzechowskid! In the [RFC](https://github.com/npm/rfcs/blob/latest/accepted/0026-workspaces.md) page you linked originally there is an example showing the expected behavior (installing deps of workspaces into top-level `node_modules` folder) which is actually quite similar to your example 😊

Here's the result example as taken from the RFC, ([you can see it here in its context](https://github.c

[2020-09-03 21:33] ruyadorno commented on #1749
Hi @boeckMt, thanks for the feedback 😄

That's expected behavior for now, the next pre-release version is going to include a new system that will precisely explain the peer dependency conflicts that led the install to fail. We'd love if you can give it a try once it's out (you should get a notification in the cli) and send us some feedback on how helpful that new error message is now. 😊

[2020-09-03 21:40] ruyadorno commented on #1736
hi @furkle thanks for the feedback!

We got this same feedback in the past and now that WARN log message is no longer present in **npm7**, here's an example of how it looks like in the latest beta pre-release:

[code]

[2020-09-03 21:40] #1736 closed, assigned to nobody

[2020-09-03 21:46] ruyadorno commented on #1727
@AdityaAnand1 there's an option to remove this prompt, you can add a `update-notifier=false` line to your `.npmrc` file OR run any npm command with that option set to false, e.g: `npm install --update-notifier=false`

[2020-09-03 21:46] #1727 closed, assigned to nobody

[2020-09-03 21:48] ruyadorno commented on #1722
hi @scamden thanks for the report, can you please let me know what is the current `"name"` property of your `package.json`?

[2020-09-04 02:54] cathy812 commented on #1731
This issue happened again today.

[2020-09-04 06:22] peterjuras opened #1762 "[BUG] Lockfile and dependencies not updated when removing a dependency from package.json"
### Current Behavior:

When deleting the dependencies object or a single dependency in package.json, the lockfile is not updated and it still assumes that the previous dependency exists.

### Expected Behavior:

The lockfile and the node_modules folder should be updated.

### Steps To Reproduce:

1. Run `npm init -y` in a new folder
2. Add any dependency, e.g. `npm install moment`
3. Remove the de

[2020-09-04 06:28] peterjuras commented on #1752
I ran into a similar issue and I think it is related to #1762. The new npm configuration that contains the workspaces field appears to be ignored for me if there is an existing lockfile and the issue is that you are running `npm install lodash` before adding a workspaces field. (Although I consider this a bug)

I got npm@7 to correctly create a workspace by first ensuring that all folders & packag

[2020-09-04 07:39] aprilmintacpineda commented on #611
This doesn't happen if you use nvm

[2020-09-04 08:33] jimfranke opened #1763 "[BUG] npm update fails with workspace dependencies"
### Current Behavior:
Running ``npm update`` in a directory where ``package.json`` contains dependencies to local workspace packages, results in a HTTP 404 error because npm tries incorrectly to install from the remote registry.

### Expected Behavior:
Expecting ``npm update`` to succeed when ``package.json`` contains local workspace dependencies.

### Steps To Reproduce:
- Create ``package.json``

[2020-09-04 09:11] deniz-blue commented on #1760
Happens to me too.
Node v12.18.3

[2020-08-28T10_06_16_715Z-debug.log](https://github.com/npm/cli/files/5173798/2020-08-28T10_06_16_715Z-debug.log)

[2020-09-04 10:21] mmis1000 opened #1764 "[BUG] Npm mirrored the complete git repo when the version is a commit hash"
### Current Behavior:

When there is a git dependency in the "dependencies" that point to specific hash.
NPM mirrored the complete repo.

[code]

### Expected Behavior:

NPM only pull specific commit unless there is no server support of fetch by commit.

Since 2015,
It is possible to fetch a commit directly with sha1 hash with following sequence. (if the server enabled that function)

https://stac

[2020-09-04 13:49] furkle commented on #1736
Thanks so much!

[2020-09-04 13:54] abdonrd commented on #1085
I have created an issue about document the `peerDependenciesMeta` property: #1247

[2020-09-04 17:26] scifipony opened #1765 "[BUG] Command "npm adduser < input.txt" results in "This is an error with npm itself.""
I've looked and don't see this bug.

### Current Behavior:
```npm adduser``` returns a "This is an error with npm itself" error when input is redirected from a file.

### Expected Behavior:
```npm adduser``` should accept input redirected from a file.

### Steps To Reproduce:
1. Create a file with three lines named login.txt file
_account
password
email@domain.com_
2. Enter command as shown below:

[2020-09-04 18:27] darcyclarke commented on #1760
Closing, please use one of our bug templates.

[2020-09-04 18:27] #1760 closed, assigned to nobody

[2020-09-04 18:31] #1763 closed, assigned to nobody

[2020-09-04 19:04] darcyclarke commented on #1754
Hey @JeswinSunsi! Thanks for the feedback!

Apologize you had a hard time understanding the flag's intents. We do have aliases for these flags as well: `-d` for `--info`, `-dd` for `--verbose` & `-ddd` for `--silly` (ref: https://docs.npmjs.com/misc/config#shorthands-and-other-cli-niceties).

As you can tell by the aliases, we allude to the idea that you're getting more of the same *kind* of infor

[2020-09-04 19:04] #1754 closed, assigned to nobody

[2020-09-04 19:23] ruyadorno commented on #1734
should be fixed in `v7.0.0-beta.9` thanks @mjeanroy 🎉

[2020-09-04 19:28] ruyadorno commented on #1734
note: I can still reproduce the issue in `v7.0.0-beta.9` - we're def going to be following up with this one 😊

[2020-09-04 19:43] leandro-manifesto commented on #1654
`beta.9` works like a charm.

[2020-09-04 20:20] ruyadorno commented on #1654
awesome to hear @leandro-manifesto 🎉

I'm going to close this one now, let me know if you still have issues @nicholas-ochoa 😊 Thanks for all your help!

[2020-09-04 20:20] #1654 closed, assigned to ruyadorno

[2020-09-04 20:23] nicholas-ochoa commented on #1654
`beta.9` is working for me as well!

[2020-09-04 20:50] ruyadorno commented on #1763
This should have been fixed in the current pre-release `v7.0.0-beta.9` @jimfranke 😊 let me know if you get a change to test it 😄

[2020-09-04 20:51] ruyadorno commented on #1728
Thanks for the bug report @scamden 😄 This should have been fixed in the latest pre-release `v7.0.0-beta.9` 😊 let me know if you get a chance to test it.

[2020-09-04 20:51] #1728 closed, assigned to nobody

[2020-09-05 00:58] valtlai commented on #1662
The indentation style of the existing files is now preserved, but a newly created `package-lock.json` does not use the indentation style of `package.json`.

[2020-09-05 01:17] valtlai opened #1766 "[BUG] `npm install` does not sort dependencies alphabetically"
### Current Behavior:
`npm install` saves a newly installed dependency at the end of the dependency array.

### Expected Behavior:
The dependency should be saved so that the array is sorted in alphabetical order.

### Steps To Reproduce:
1) Run `npm install prismjs`.
2) Run `npm install globals`.
3) See how `globals` is sorted after `prismjs` although `globals` comes before `prismjs` in alphabetic

[2020-09-05 01:39] valtlai opened #1767 "[BUG] Do not default `name` prop in `package-lock.json` to dir name"
### Current Behavior:
If there’s no the `name` property in `package.json`, the `name` property in `package-lock.json` defaults to the name of the parent directory.

### Expected Behavior:
If there’s no the `name` property in `package.json`, omit it from `package-lock.json` too.

I’m not sure if that was an intentional change, but I think the property should not default to the directory name, becau

[2020-09-05 14:30] AvinashShwe opened #1768 "When I execute npm install got this errornpm ERR! cb() never called!"
When I execute npm install got this errornpm ERR! cb() never called!

[2020-09-05 14:31] orzechowskid commented on #1752
I think it was a mistake on my part to include an example in my original report when all I was really looking for is documentation.  I was attempting to follow the issue template and tried to make clear what I was asking for, but it seems like I did not do a very good job and for that I apologize.

if I can rephrase:  how do I find out which features of npm workspaces are supported in the latest n

[2020-09-05 15:12] ruyadorno commented on #1752
oohh I see 😅 sorry I was really confused by the original post and replies.

so the one important thing to note here is that we still have some test and documentation work to wrap up **after** we're done with the beta 😁 so for now the best documentation available on what is supported really is that approved RFC that you linked originally. Anything not in there you may assume to not be supported for

[2020-09-05 15:18] orzechowskid commented on #1752
ahh, that makes sense, thank you.  I will stick to what's in the RFC for now, and follow along with discussions in progress.  thanks again.

[2020-09-05 15:18] #1752 closed, assigned to nobody

[2020-09-05 17:29] jasonmay opened #1769 "[BUG] flood of "npm WARN tar ENOENT: no such file or directory, open [...]" followed by failure"
### Current Behavior:
When running a series of install steps I get this error, which doesn't seem specific to the project and more specific to NPM:
![image](https://user-images.githubusercontent.com/43722/92310281-a954e200-ef61-11ea-938a-d276d5bc1cd7.png)

[2020-09-05T13_12_04_167Z-debug.log](https://github.com/npm/cli/files/5178421/2020-09-05T13_12_04_167Z-debug.log)

### Expected Behavior:
I exp

[2020-09-05 18:22] styfle commented on #1686
I had the same error message but I didn't even run `npm unpublish`.
It happened when running `npm publish pkg@1.2.3` followed by `npm deprecate pkg@1.2.3`.

https://github.com/vercel/vercel/runs/1076007594#step:6:649

My best guess is that there is a consistency problem after publishing a package and immediately running another command. It may or may not be related to the original issue posted her

[2020-09-06 08:42] halcwb opened #1770 "[BUG] npm run <whatever-script> is not recognized as an internal or external command"
### Current Behavior:
With a fresh install of node and npm on a windows 10 machine using nvm, I have the following issue:

Whatever script I want to run using:

[code]

I get (listing from the debug log):

When I directly execute the script by (in the above example: storybook):

[code]

It seems that with npm run, the base path where the command is ran, is used, and the working directory is not se

[2020-09-06 11:30] ruslankakhramanov opened #1771 "npm ERR! cb() never called!"
Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts with cra-template...

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Admin\AppData\Roaming\npm-cache\_logs\2020-09-06T11_22_24_6

[2020-09-06 20:13] GostGaming opened #1772 "[BUG] (Windows/Laravel/npm) cb() never called!"
Sorry to add to the list but my issue seems slightly different than what I could find.
### Current Behavior:
Attempting to install npm on Laravel project
Running npm install gives "npm ERR! cb() never called!"
Running npm audit gives "Unexpected end of JSON input while parsing near '' "
Running npm run dev or prod anyway gives " 'cross-env' is not recognized as an internal or external command..."

[2020-09-07 08:31] BruceLing opened #1773 "CommandFailed: npm install --unsafe-perm"
ERROR: Command failed: npm install --unsafe-perm
npm WARN deprecated bson@1.0.9: Fixed a critical issue with BSON serialization documented in CVE-2019-2391, see https://bit.ly/2KcpXdo for more details
npm WARN deprecated istanbul@0.4.5: This module is no longer maintained, try this instead:
npm WARN deprecated   npm i nyc
npm WARN deprecated Visit https://istanbul.js.org/integrations for other alt

[2020-09-07 09:03] zitup commented on #1732
Nobody answered, closed.

[2020-09-07 09:03] #1732 closed, assigned to nobody

[2020-09-07 12:46] MJMarkjohn opened #1774 "npm cb() never called"
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated left-pad@1.3.0: use String.prototype.padStart()
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please rep

[2020-09-07 14:27] RemyRylan commented on #1247
Formal documentation on this feature would be great. I know npm 7+ is going back to the behavior of installing `peerDependencies` for you if they are not already in your `package.json`. Now I'm left wondering how that works when a peer dependency is marked as optional in `peerDependenciesMeta`.

Edit: I've confirmed locally that `peerDependencies` marked as optional using `peerDependenciesMeta` ar

[2020-09-07 23:21] communque commented on #1774
Received a possibly related error...

`npm install -g npm-check-updates`

results in...

[code]

[2020-09-08 02:38] aliatsis commented on #1722
@ruyadorno I work with @scamden
the `name` of the package being installed in the bug report is `@creditiq/item`.
The tag install issue described is not specific to this package but happens with all of our privately scoped `@creditiq/*` packages.

[2020-09-08 14:24] rafgraph opened #1777 "[BUG] npm link <pkg>, error links.map is not a function in v7"
### Current Behavior:
Running `npm link <pkg>` fails with `error links.map is not a function`. Error log attached.

Note that running `npm link` in the package I want to link works fine and adds that package to global node_modules.

Also note that switching to npm v6 for only the `link <pkg>` command, i.e. `npx npm@latest link <pkg>`, but using v7 for everything else works and is my current work a

[2020-09-08 14:27] PMP-Studios opened #1778 "[BUG] Refusing to install discord.js as a dependency of itself"
I was trying to install the package **discord.js** and I get this error every time:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'i', 'discord.js@^11.5.1' ]
2 info using npm@3.5.2
3 info using node@v8.10.0
4 silly loadCurrentTree Starting
5 silly install loadCurrentTree
6 silly install readLocalPackageData
7 silly fetchPackageMetaData discord.js@^11.5.1
8 s

[2020-09-08 15:02] PMP-Studios commented on #1778
Forget it! - I solved the problem

[2020-09-08 15:02] #1778 closed, assigned to nobody

[2020-09-08 15:55] kawoolutions opened #1779 "[BUG] NPM crashes using create-react-app - Ubuntu 14.04, as root user"
### Current Behavior:
Crashes, see below

### Expected Behavior:
No crash

### Steps To Reproduce:

I'm on a remote vServer using Ubuntu 14.04, an older server, yes. (my provider doesn't offer any newer vServer images, they downed this type of server...)

Anyways, after installing nodejs with command `apt-get install -y nodejs`, this is what happens creating a new project on the remote server via

[2020-09-08 16:01] Noha-Ismail commented on #1774
I have the same issue now

[2020-09-08 17:42] #1618 closed, assigned to isaacs

[2020-09-08 19:13] antoniotorres commented on #1292
@antoniodejesusochoasolano I also removed the hack word from the name and was able to publish my package.

homebridge-garage-door-hack -> [homebridge-garage-door-gpio](https://www.npmjs.com/package/@toniotgz/homebridge-garage-door-gpio).

[2020-09-08 20:03] aosq commented on #1292
@antoniotorres nice! It would save people time and frustration if NPM would return a useful error message and publicly document that you can’t have the word “hack” in NPM packages.

Turns out you can have the word hack in certain some cases though. I ended up calling my package [tree-sitter-hacklang](https://www.npmjs.com/package/tree-sitter-hacklang).

[2020-09-08 20:07] RemyRylan commented on #1085
For anyone stumbling on this same problem, `peerDependencies` + marking as optional using `peerDependenciesMeta` still automatically installs and is not currently a solution.

I've opened an issue here to discuss: https://github.com/npm/rfcs/issues/221

[2020-09-08 20:49] scamden commented on #1728
thanks so much! will test as soon as I find the time!

[2020-09-08 20:50] scamden commented on #1722
@ruyadorno sorry was out of town last week, but yes anthony is exactly correct:`"name": "@creditiq/item",`

[2020-09-08 21:18] scamden commented on #1728
yep looks fixed to me thanks again!

[2020-09-08 22:50] humanchimp commented on #1469
we ran into this with a public package as well. `npm unpublish @scope/package@version --verbose` shows a 404, but otherwise the unpublish appears to be successful

[2020-09-09 05:13] isaacs opened #1780 "Add `--fetch-timeout` config"
https://github.com/npm/cli/issues/1151#issuecomment-618103078

[2020-09-09 05:23] cardoX007 commented on #1774
I have the same issue too

[2020-09-09 08:14] Coridyn opened #1781 "[BUG] npm 7 confusing error when installing git dependency with invalid commit-ish"
### Current Behavior:

Attempting to install a git dependency with an invalid commit-ish gives a very confusing error that doesn't explain the cause of the problem.

npm@7 should give an error that indicates it can't find a commit with that hash.

npm@6 does give a useful error for this same scenario.

### Steps To Reproduce:

**package.json**

[code]

**npm 7**

[code]

--------------------------

[2020-09-09 08:18] Samiksha-C commented on #1774
I am facing the same issue too.

[2020-09-09 13:34] arily opened #1782 "[BUG] inconsistent behavior between Case-sensitive filesystem and non-case-sensitive filesystem"
### Current Behavior:

npm will install the local module with inconsistent case in non-case sensitive filesystem

### Expected Behavior:

inconsistent should be checked and throw an error when Inconsistent case ( at least should be the default behavior.)

### Steps To Reproduce:

let's say we have a local module at /path/to/app/path/to/my/Local_module,
in a non-case-sensitive system install a loca

[2020-09-09 13:37] ajcrites opened #1783 "[BUG] npm config set replaces environment variables in .npmrc"
### Current Behavior:
If you have a `.npmrc` file that uses environment variables, e.g. `//gitlab.com/api/v4/packages/npm/:_authToken=${NPM_TOKEN}` and then run `npm config set <anything>`, your `.npmrc` file will be updated to replace the environment variable with its actual value.

### Expected Behavior:
Running `npm config set` should not permanently alter the `.npmrc` file at all.

### Steps T

[2020-09-09 14:55] ruyadorno commented on #1722
ah 😄 thanks for confirming, the reason I ask is because we recently fixed a bug in which would cause scoped packages to fail to fetch tarballs from the public registry, I believe this is the same bug. Could you please give it another try with the most recent beta patch? `npm i -g npm@next-7`

[2020-09-09 16:11] arily commented on #1782
update: "rm -rf node_modules" then re-run "npm install" will fix the problem one time

[2020-09-09 17:22] scamden commented on #1722
@ruyadorno unfortunately it's not fixed yet:

[code]

[code]

[2020-09-09 18:57] isaacs opened #4293 "[FEATURE](arborist) add engines.node and engines.npm as easily queryable fields on inventory"
A little bit differently shaped than name and license, since it's not a single string, but it would be nice to be able to have a top-level inventory map that we could query to find all the modules that have an engines restriction in their manifest.

Maybe we just save it as a boolean, or list the keys?  So, for example:

[code]

cc: @ljharb

[2020-09-09 18:59] ljharb commented on #4293
the simplest for my usage would be if i could ask the following questions, cheaply:
 - for the entire graph, what are all the restricted engines, and to what ranges?
 - same, but just for runtime deps?
 - for a given engine, what are the packages that restrict it, and to what ranges?
 - same, but just for runtime deps?

(as opposed to just a boolean)

[2020-09-09 20:46] ruyadorno commented on #1722
I see! 😞 seeing that it's not that same issue it would be nice to get a bit more info to help out reproducing/understanding it 😁 if I understood correctly the scope `@creditiq` is published to the public registry (at: https://registry.npmjs.org/)? is it a private or public scope? (I don't think it's public since I'm getting 404 when trying `npm view @creditiq/item`)

[2020-09-09 20:51] ruyadorno commented on #1722
I tried recreating a minimal reproduction by creating a new package, renaming it to use a scope and installing some other package (from the public registry) pointing to its `latest` tag, e.g:

[code]

And everything works as expected 🤔 maybe there are some more details yet to be found here. Could you please share if possible your `package.json`, the error log files and the output from `npm config

[2020-09-10 00:56] Coridyn opened #1784 "[BUG] running npm install again on workspace deletes all dependencies"
### Current Behavior:

Running `npm install` on a workspace project works correctly the first time.

Running `npm install` on the workspace a second time deletes everything in the workspace's `node_modules` directory.

Running `npm install` a third time says the install is "up to date" even though `node_modules` is empty and nothing is installed.

### Expected Behavior:

It is expected that runnin

[2020-09-10 02:14] jlfwong opened #1785 "[BUG] npm cache clean --force does not clean cacache files"
Hi! I was looking into a bug with very similar behavior as https://npm.community/t/using-npm-ci-does-not-run-prepare-script-for-git-modules/632. It suggested one of the sources of the issue could be a stale cache, so I tried running `npm cache clean --force`. After digging around the source code, I discovered this does not, in fact, clean caches.

### Current Behavior:
Running `npm cache clean --f

[2020-09-10 04:09] PankajGadia16 commented on #1074
How did you solve this?

[2020-09-10 08:48] emmsdan commented on #1774
Same issue, but mine happened even before any dependency was installed...
That's the only error I am having.

[code]

Am having this issue when running this in a Docker instance...

[2020-09-10 12:29] Rashmin-kaur opened #1787 "Type 'MatCalendar<D>' is not assignable to type 'MatCalendar<ExtractDateTypeFromSelection<D>>"
using
   "@angular/cdk": "^10.1.3",
    "@angular/common": "~10.0.14",
    "@angular/compiler": "~10.0.14",
    "@angular/core": "~10.0.14",
    "@angular/flex-layout": "^10.0.0-beta.32",
    "@angular/forms": "~10.0.14",
    "@angular/material": "^10.1.3", versions and simply install and imported, then getting error on ng-serve while it is working fine in angular 9. Please resolve.

Error
![Scree

[2020-09-10 13:30] Yonle opened #1788 "[BUG] README tables don't work at npmjs.com"
Well, Since i see in my editor, There's no Problem, But why when i publish it, The table has Gave me mistake????

### At NPMJS.com
![Screenshot_20200910_202520](https://user-images.githubusercontent.com/63401712/92736467-82a10c00-f3a4-11ea-9105-7f2a2d009a06.jpg)

### At README Editor
![Screenshot_20200910_202530](https://user-images.githubusercontent.com/63401712/92736310-5be2d580-f3a4-11ea-88c7-a

[2020-09-10 13:44] jalalkhanniazi opened #1789 "How can I get started on this version?"
Hello people,
I'm a new user of this forum[.](buybies.com/cheap-baby-clothes/) Just want tips and tricks on how to get started on the following version[.](https://triviaquestionsfor.com/kids-trivia-questions-and-answers/)...
Thanks!

[2020-09-10 13:52] SlNPacifist opened #1790 "[BUG] public couchdb mirror for html-to-draftjs is stale"
https://skimdb.npmjs.com is listed as official public couchdb mirror in https://docs.npmjs.com/using-npm/registry.html#can-i-run-my-own-private-registry. It is expected to have same information on packages as https://registry.npmjs.org/.

### Current Behavior:
Result for package `html-to-draftjs` is different.
https://registry.npmjs.org/html-to-draftjs responds with version 1.5.0
https://skimdb.np

[2020-09-10 14:28] #1788 closed, assigned to nobody

[2020-09-11 00:05] scamden commented on #1722
@ruyadorno

no problem here there are.
[Archive.zip](https://github.com/npm/cli/files/5205201/Archive.zip)

[2020-09-11 08:16] mini0609 opened #1793 "npm link --only=production => does not work as expected"
What's going wrong?
npm link --only=production

should work as expected - it should only install non-devDependencies

[2020-09-11 12:04] cveshh opened #1794 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-09-11 14:47] darcyclarke commented on #1787
@Rashmin-kaur are you having issues **installing** a package? OR is this a problem with the package itself? It sounds like it may be the latter. The type error seems to be coming from starting your Angular project & some kind of type configuration issue with [`mat-daterangepicker`](https://www.npmjs.com/package/mat-daterangepicker)

If you run `npm ls mat-daterangepicker` you can figure out which

[2020-09-11 14:49] Neutrino-Sunset opened #1795 "`npm li <package>` does not limit output to <package>"
### Current Behavior:
In a new Angular project `npm li tslib --depth=0` outputs

[code]

### Expected Behavior:

[code]

I expect output to be limited to the package I asked about. Although the documentation for `npm li` is so vague I have no idea whether what I expect to happen is what is intended to happen.

In a larger project the output even worse as it spews out every `unmet peer dependency`

[2020-09-11 14:53] darcyclarke commented on #1773
Please use our standard bug template. I'm closing this for now.

**Quick note though:** we do not support `npm@3.x` & node `8` has been out of maintenance/end-of-life since the beginning of the year. I'd suggest updating both & also updating your dependencies as you're receiving numerous deprecation warnings from old versions of packages.

[2020-09-11 14:53] #1773 closed, assigned to nobody

[2020-09-11 18:07] LuckyGinger opened #1796 "[BUG] npm install doesn't return back to the console WSL2"
#1418 # Current Behavior:
`npm install` never exits back to the console. When it does it takes 5+ minutes and it cannot be exited with ctrl+C.

### Expected Behavior:
After `npm install` is finished installing, the process should exit and return to the console.

### Steps To Reproduce:
1. In WSL2
2. create a new node project or clone any node project
3. Run `npm install`
4. Wait for install to fin

[2020-09-12 20:52] #1796 closed, assigned to nobody

[2020-09-13 05:28] apprentable opened #1797 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-09-13 05:32] apprentable commented on #1797
Negocios rentables

[2020-09-13 05:36] apprentable opened #1798 "Exito"
# What / Why

## When

* n/a

## Where

* n/a

## How

### Current Behavior

* n/a

### Steps to Reproduce

* n/a

### Expected Behavior

* n/a

## Who

* n/a

## References

* n/a

[2020-09-13 12:56] mjeanroy commented on #1734
Hi @ruyadorno,

I made a mistake, my PR fixed a bug with `npm cache add` command and I made a mistake because the error message was the same.

I took the time to debug what happened here and it looks like `react-tooltip@3.11.6` define [react as a peer dependency](https://github.com/wwayne/react-tooltip/blob/f6042904ea6cbea97398ae37a7d86f3d6b909111/package.json#L61) with an invalid semver constrain

[2020-09-13 19:11] debel27 commented on #1734
I disagree. Again, I believe the error is valid but it shouldn't be improved, it should be removed altogether.

Packages that were installable with NPM v6 are no longer installable with NPM v7. This means upgrading NPM may break projects. This might have been fine if there were a clear migration procedure, but in this case there is none. There may be packages whose latest version contains an inval

[2020-09-13 21:10] Innovandco commented on #1798
http://www.innovandco.net
http://www.wms-conseil.fr
http://www.functionalprog.fr

www.innovandco.net
www.wms-conseil.fr
www.functionalprog.fr

[2020-09-13 21:10] Innovandco commented on #1790
http://www.innovandco.net
http://www.wms-conseil.fr
http://www.functionalprog.fr

www.innovandco.net
www.wms-conseil.fr
www.functionalprog.fr

[2020-09-13 21:10] Innovandco commented on #1780
http://www.innovandco.net
http://www.wms-conseil.fr
http://www.functionalprog.fr

www.innovandco.net
www.wms-conseil.fr
www.functionalprog.fr

[2020-09-13 21:10] Innovandco commented on #1768
http://www.innovandco.net
http://www.wms-conseil.fr
http://www.functionalprog.fr

www.innovandco.net
www.wms-conseil.fr
www.functionalprog.fr

[2020-09-13 21:11] Innovandco commented on #311
http://www.innovandco.net
http://www.wms-conseil.fr
http://www.functionalprog.fr

www.innovandco.net
www.wms-conseil.fr
www.functionalprog.fr

[2020-09-13 23:50] samusstrike commented on #1510
@kkmuffme Did you find a resolution to this issue? I have the same type of warning message.
Message: npm WARN eslint-plugin-jsdoc@30.4.2 requires a peer of eslint@^6.0.0 || ^7.0.0 but none is installed. You must install peer dependencies yourself.

The command to list top level global npm packages is: npm list -g --depth=0
My list is:
+-- @types/mssql@4.0.15
+-- babel-eslint@10.0.1
+-- eslint@7.9.

[2020-09-14 04:55] kcamas opened #1799 "[BUG] npm-install: Integrity checksum failed using sha 512"
### Current Behavior:
Running command `npm install` on my application folder yields the ff. error:
[code]

Haven't experienced this error on this project before. Not sure what settings/config has changed in my local environment. I've tried cloning the repository and running an npm-install and it works fine, so it should be a config/settings issue on my local machine.

I've tried doing many things

[2020-09-14 08:19] kkmuffme commented on #1510
@samusstrike You need to manually install all dependencies globally too and then the error message can be ignored (since the dependencies are there anyway)

[2020-09-14 08:25] samusstrike commented on #1510
@kkmuffme If that is the case, then it would seem this is a bug with NPM since it apparently does not recognize the dependency is installed. I suspect there is a nuance with specific version numbers vs range of version numbers. Thanks for the follow up.

[2020-09-14 08:29] kkmuffme commented on #1510
Yes exactly

[2020-09-14 14:58] PaulVrugt opened #1800 "[BUG] Integrity check fails for azure artifacts (and apparently other private registries) NPM packages"
### Current Behavior:
We are trying to upgrate to NPM 7, but we run into problems with getting packages from azure artifacts. The following log is shown, when running `npm i --verbose`:

[code]

### Expected Behavior:
I expect the packages to be downloaded correctly, just as they did using npm 6

### Steps To Reproduce:
Reference packages to azure artifacts in your package.json. Try to run `npm in

[2020-09-14 17:30] emadev90 opened #1801 "[BUG] <title>"
0 info it worked if it ends with ok
1 verbose cli [ '/home/vagrant/.nvm/versions/node/v8.12.0/bin/node',
1 verbose cli   '/home/vagrant/.nvm/versions/node/v8.12.0/lib/node_modules/npm/bin/npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'icu4c-data@60l' ]
2 info using npm@6.4.1
3 info using node@v8.12.0
4 verbose npm-session 0863bd426eb6cc7f
5 silly install loadCurrentTree
6 silly install r

[2020-09-14 18:41] paboulos opened #1802 "npm publish corrupts README.md file on npmjs.com"
### Current Behavior:
The URL https://www.npmjs.com/package/ccdir and readme is unreadable. It has question marks inserted all over the page.
Readme is fine on Github https://github.com/paboulos/ccdir#readme

### Expected Behavior:
Readme should not be distorted after a publish.

### Steps To Reproduce:
1. Run npm publish
2. From web browser open URL https://www.npmjs.com/package/ccdir
3. See read

[2020-09-14 21:55] apurv-thakur opened #1803 "npm ci"
npm WARN prepare removing existing node_modules/ before installation
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\APURV\AppData\Roaming\npm-cache\_logs\2020-09-14T21_50_10_722Z-debug.log

[2020-09-15 00:31] shadowspawn commented on #1802
I cloned your repo and it looks like `README.md` is saved in UTF-16. My guess is GitHub supports this, but npmjs does not.

I expect if you resave the file in UTF-8 (effectively the same as ascii since the file is ordinary characters) and then it will display as expected on npmjs when you publish a new version.

[2020-09-15 14:06] jzaefferer commented on #1138
For anyone else encountering this problem: `rm -rf node_modules/ && npm cache clean --force && npm install` helped in my case.

[2020-09-15 16:03] paboulos commented on #1802
Yes, resolved and closed.

[2020-09-15 16:03] #1802 closed, assigned to nobody

[2020-09-15 17:04] Milo123459 opened #1804 "[BUG] https://npmjs.com always gives internal server error, but not npmjs.com/package/x"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

don't know what to put here it just gives errors whenever I go to https://npmjs.com but not when I go to a package

[2020-09-15 17:41] #1794 closed, assigned to nobody

[2020-09-15 18:46] emilyaherbert opened #1805 "[BUG] "cb() never called!""
# Current Behavior:
I am trying to install peer dependencies by hand.

### Expected Behavior:
Hopefully peer dependencies can be installed.

### Steps To Reproduce:
1. Inside of this package: https://github.com/serverless/examples/tree/master/aws-node-rest-api-typescript
2. `npm install`
3. `npm install serverless@^1.48.1 tslint@^5.11.0 --save`
4. Observe error message below

### Environment:
- OS

[2020-09-15 18:47] emilyaherbert commented on #1805
(This might just be because I ran out of space, but thought I would post here anyway.)

[2020-09-15 22:33] #1766 closed, assigned to nobody

[2020-09-15 23:21] leandro-manifesto commented on #1800
I'm also getting this with Gemfury's private registry, but the signature is a SHA512 in my case.

Both NPM `6.14.6` and Yarn `1.22.5` work properly, but NPM `7.0.0-beta.10` is calculating a different signature and failing the integrity check.

[2020-09-16 00:53] Gustavo10Destroyer opened #1806 "[BUG] npm ERR! cb() never called!"
Transtale it from PT BR

Eu estava instalando as dependêcias de um projeto(https://github.com/englercj/lttp) e estava correndo bem até que aparece:
--------------------------------------
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>
--------------------------------------
Então eu resolvi vir reportar isso a

[2020-09-16 00:56] Gustavo10Destroyer commented on #1806
Nota: Eu uso o Node.JS no Termux e ele funciona muito bem, consigo instalar tudo na home do Termux, algumas dependêcias não podem ser instaladas fora da home do Termux, como o GIMP, Express, plugapi | Porque o armazenamento do android proíbe a criação de symlinks...

[2020-09-16 01:33] adul-mo opened #1807 "react-material-ui-form-validator issue vision 2.1.1"
No CSS, incomplete screen rendering
[code]

[2020-09-16 06:36] suiyun39 commented on #1807
Is this a problem with npm?
I think maybe should add issue in [react-material-ui-form-validator](https://github.com/NewOldMax/react-material-ui-form-validator)

[2020-09-16 09:46] kingecg opened #1808 "[BUG] Can not repeat install directory"
### Current Behavior:
install some directory and re-install again. npm report type error
6512 error typeerror Error: Argument #2: Expected object but got null
6512 error typeerror     at prepareAction (/Users/chengguang/.nvm/versions/node/v12.18.3/lib/node_modules/npm/lib/install/actions.js:183:3)
6512 error typeerror     at /Users/chengguang/.nvm/versions/node/v12.18.3/lib/node_modules/npm/lib/in

[2020-09-16 10:00] kingecg commented on #1808
it seems something overflow caused this bug. when I reduce directory count to 9, I can't reproduce this problem

[2020-09-16 15:18] connorjburton opened #1809 "[BUG] Incorrect default user-agent value in documentation"
### Current Behavior:
The documentation at https://docs.npmjs.com/using-npm/config.html states that the default value for `user-agent` is `node/{process.version} {process.platform} {process.arch}` however from what I can see running `npm config list` the default is actually `npm/6.14.5 node/v12.18.2 win32 x64` (obviously this is parsed). As you can see the default value I have is not what the docu

[2020-09-16 16:21] ruyadorno commented on #1639
landed in `v7.0.0-beta.11`

[2020-09-16 16:21] #1639 closed, assigned to darcyclarke

[2020-09-16 17:14] targos opened #1811 "[BUG] `npm ci` changes package.json"
### Current Behavior:

Running `npm ci` updates the `dependencies` in `package.json` (key ordering).

### Expected Behavior:

`npm ci` should either error or ignore the wrong ordering. I expect only `npm install` to modify files like `package.json` or `package-lock.json`.

### Steps To Reproduce:

See https://github.com/targos/npm7-cra#issue-1-npm-ci-changes-packagejson

### Environment:

- OS: Ce

[2020-09-16 17:16] targos opened #1812 "[BUG] `npm ci` prints an error without context"
### Current Behavior:

Running `npm ci` prints `npm WARN Error: Unsupported engine` but there is no other information about the error (which package it comes from, for example).

### Expected Behavior:

There should be more information printed about the error, to allow fixing it.

### Steps To Reproduce:

See https://github.com/targos/npm7-cra#issue-2-npm-ci-prints-an-error-without-context

### En

[2020-09-16 17:18] targos opened #1813 "[BUG] `npm i` always pretends it "added 4 packages""
### Current Behavior:

With the provided reproduction steps, everytime `npm i` is executed, the output is:

[code]

### Expected Behavior:

Since the dependencies were previously installed with `npm ci`, `npm i` should be a no-op.

### Steps To Reproduce:

See https://github.com/targos/npm7-cra#issue-3-npm-i-always-pretends-it-added-4-packages

### Environment:

- OS: CentOS 8, Windows 10
- Node:

[2020-09-16 17:20] targos opened #1814 "[BUG] `npm i react@17` never ends"
### Current Behavior:

Running `npm i react@17` in the reproduction project seems to result in an infinite loop and it is not possible to stop the process with CTRL+C.

### Expected Behavior:

Like with npm@6, the command should end with an error, because there is no matching version.

### Steps To Reproduce:

See https://github.com/targos/npm7-cra#issue-4-npm-i-react17-never-ends

### Environment

[2020-09-16 18:04] ruyadorno commented on #1755
should have been fixed in `v7.0.0-beta.11` please let us know if you get a chance to try it again 😊

[2020-09-16 18:04] #1755 closed, assigned to ruyadorno

[2020-09-16 18:05] ruyadorno commented on #1766
fixed in `v7.0.0-beta.11` 😄 thanks for the feedback!

[2020-09-16 18:08] ruyadorno commented on #1777
fixed in `v7.0.0-beta.11` 😄 thanks for the feedback! let us know if you get a chance to test it with the latest version!

[2020-09-16 18:08] #1777 closed, assigned to ruyadorno

[2020-09-16 18:13] KilianKilmister commented on #1755
@ruyadorno looks like it works.

Now I finally don't have to use `npm exec npm install <pkg> -g` anymore. It looked especially ridiculous when installing the subsequent `npm`-beta version.

[2020-09-16 22:20] isaacs commented on #1811
Fixed by 24f3a5448

Sorry, didn't notice you'd posted issues, so the ref in the commit is pointing at your repro repo.  Thanks!

[2020-09-16 22:20] #1811 closed, assigned to nobody

[2020-09-16 22:21] isaacs commented on #1812
Fixed by npm/arborist@0edf2ed, will be in next v7 release.

[2020-09-16 22:21] #1812 closed, assigned to nobody

[2020-09-16 22:21] isaacs commented on #1814
Fixed by npm/arborist@789f9bc, will be in next v7 release.

[2020-09-16 22:21] #1814 closed, assigned to nobody

[2020-09-16 22:22] isaacs commented on #1813
Do you still see this with the latest v7 release?  I can't reproduce this one.

[2020-09-17 08:12] mtrucc opened #1815 "[BUG] Search box preview and search results do not correspond"
### Current Behavior:

Search for _request_ in the search box
![image](https://user-images.githubusercontent.com/16724665/93437806-fd1ae000-f8fe-11ea-9be1-2827938ef457.png)
**It should not appear in the preview of the search box**

### Expected Behavior:

There is no _request_ option in the preview of the search box

### Steps To Reproduce:

Search for _request_ in the search box
![image](https://

[2020-09-17 08:40] myckhel opened #1816 "Couldn't find package "package-name" on the "npm" registry."
npm has not been working for me for some hours now, both publishing and installing packages.
Am i the only one getting these errors?

SOS. Someone please rescue me before i commit suicide.

### Current Behavior:
Throws 404 Error

### Expected Behavior:
Should install the package But Throws Error

### Steps To Reproduce:
Intsall any package using `npm` or `yarn` command

`npm install lodash`:
### N

[2020-09-17 09:19] 0ptional opened #1817 "[BUG] npm tries to download bundled dependencies"
### Current Behavior:

I have an npm module that contains a bundled dependency. This module is published within a private registry. The published module actually contains the bundled dependency in the node_modules directory, so the package.json should be fine.

Upon `npm install <module>`, npm tries to download the bundled dependencies instead of using the ones contained in the node_modules that a

[2020-09-17 11:15] myckhel commented on #1816
Some how my npm registry was changed

so i solved the issue by running this command `npm config set registry https://registry.npmjs.org/`;

[2020-09-17 11:15] #1816 closed, assigned to nobody

[2020-09-17 14:20] targos commented on #1813
I see this with v7.0.0-beta.11. Is there a more recent version?

Full output of the repro:

[code]

[2020-09-17 14:49] ruyadorno commented on #1813
ah, it has to do with optional dependencies @isaacs, easy to reproduce with `--no-optional`:

[code]

[2020-09-17 17:56] isaacs commented on #1749
Closing because we now have more useful error messaging, and can get past most conflicts by using `--force`.

[2020-09-17 17:56] #1749 closed, assigned to nobody

[2020-09-17 17:57] isaacs opened #4292 "[FEATURE] add trackers for `audit`"
Audits can take a while.  Let's put some tracker spinners in there so that the user has some idea what's going on.

[2020-09-18 02:44] ruyadorno commented on #1767
Hi @valtlai this is indeed an intended change, it's useful for us to make sure all nodes in the trees have names when loading a virtual tree (a tree built using only the package-lock file) - internally to [`@npmcli/arborist`](https://github.com/npm/arborist/) a tree node (even the root) name defaults to its pathname, so that's the reason why it gets set in the package-lock file (since this is supp

[2020-09-18 02:44] #1767 closed, assigned to nobody

[2020-09-18 07:20] valtlai commented on #1767
@ruyadorno, thank you for the information. I’ll just add the `name` property in `package.json` to make the package name stable. 😁

[2020-09-18 10:08] badeggg opened #1823 "[QUESTION] where is the source code of the documentation website(https://docs.npmjs.com/)?"
# What / Why
I want to make a pull request to cli to enable socks proxy, so I need update cli docs website(https://docs.npmjs.com/) source code to show the enabling.
[CONTRIBUTING.md](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#code-structure) says ./docs folder has website source code. I run ./docs folder locally and find that it does not look like the same as of https://docs.npmjs.com

[2020-09-18 11:53] arlac77 opened #1824 "[BUG] cb() never called!"
### Current Behavior:
npm reports internal error
[code]

### Expected Behavior:
clean installation of node_modules

### Steps To Reproduce:
[code]

### Environment:

- OS: arch-linux (armv7h)
- Node: 14.11.0
- npm: 7.0.0-beta.11

[2020-09-18 18:16] isaacs commented on #1704
It is, but unfortunately npm 6 did not respect this distinction appropriately.

Fixed in latest beta.

[2020-09-18 18:16] #1704 closed, assigned to nobody

[2020-09-18 20:45] trevor-scheer commented on #289
We have a similar use case. We're building a package from rust to create a wasm/js package, which we'd like to then install via a file reference. With `npm ci`, this build step doesn't happen until the error of a missing package has already failed the install.

[2020-09-18 20:57] Kuinox commented on #289
@trevor-scheer due to this bug we switched to yarn and it works without any issue.
They also answered the issues I opened, in less than one week :D.

[2020-09-18 21:49] mbradburn opened #1826 "[BUG] _password cannot be set from environment"
### Current Behavior:

I'm trying to authenticate against jfrog artifactory as my package registry, so I set an environment variable like 'npm_config_//my.jfrog.io/artifactory/api/npm/npm/:_password=mysupersecretpassword' (which is out of the ordinary as most shells don't allow this environment variable).  There's code in lib/config/core.js in addEnv() that replaces underbars with dashes, so :_pas

[2020-09-18 22:22] trevor-scheer commented on #289
Sadly not an option for us but thanks for the quick response @Kuinox! Glad you found a way around it 🙂

[2020-09-19 17:12] apprentable opened #1827 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-09-19 18:21] thooria opened #1828 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-09-19 18:21] thooria opened #1829 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-09-19 18:53] trusktr commented on #1829
Nice bug!

[2020-09-19 18:59] trusktr opened #1830 "[BUG] `npm install foo` installs the latest version even if it is deprecated"
### Current Behavior:

`npm install testfoobar` (that's an actual package made to test this) installs the latest version of the `testfoobar` package, despite that the latest version is deprecated.

### Expected Behavior:

I was expecting it to install the most recent non-deprecated version of the package.

### Steps To Reproduce:

[code]

It installs testfoobar@1.0.3 and outputs a deprecation warn

[2020-09-19 20:23] joewood opened #1832 "[BUG] npm error: Cannot destructure property `name` of 'undefined' or 'null'."
# Current Behavior:
When trying to install `npm install react-scripts` into a repo with typescript@^4.0.0 npm reports the following:
[code]
Log file extract:
[code]

### Expected Behavior:
Install react-scripts as expected.

### Steps To Reproduce:
In an empty directory:

[code]

* Node Version: v.12.14.1
* NPM version: v7.0.0-beta.11
* Default (no configuration)
* Mac OS 10.15.6

[2020-09-19 23:04] thooria opened #1833 "[]()"
[]()

__Originally posted by @thooria in https://github.com/npm/cli/pull/1831#discussion_r491574060__

[2020-09-20 03:30] rafgraph opened #1834 "[BUG] process.env.npm_config_user_agent missing in v7"
### Current Behavior:
`npm i --save-dev husky` doesn't run the install and postinstall scripts after installing the package so the git hooks are never setup. No error is thrown. I haven't checked to see if this is unique to the `husky` package or not.

### Expected Behavior:
For the install and postinstall scripts to run after the package is installed and the git hooks to be set up.

### Steps To

[2020-09-20 03:56] andrewhenke opened #1835 "NPM 3.5.2 on Ubuntu Server 18.04 on Raspberry Pi Fatal Error"
Hello, I was building the package for mattermost following the instructions [here](https://docs.mattermost.com/deployment/customize-mattermost.html), and it gave me an error message and said that it was an error within npm itself, and to create a report here. Thus, I am doing likewise. Here is what it says:

[code]

The contents of the `npm-debug.log` are too large to include here, so you can down

[2020-09-20 04:52] IsharaMee commented on #1191
Clearing Nmp cache worked

npm cache clear --force

[2020-09-20 07:40] brianburdan opened #1836 "[BUG] npm update includes devDependencies without using --dev"
### Current Behavior:
When a dev dependency is included in the package.json that is eligible to be updated to a newer version, simply doing `npm update` (without the --dev option) will update the devDependency library.

### Expected Behavior:
According to the npm online documentation for the `npm update` command, an option exists `--dev` to include devDependencies in the update process.  This seem

[2020-09-20 14:27] wgorski opened #1837 "[BUG] npm run fails on Windows10 with WSL2"
* **Version**: v12.18.4 (but also reproduced on v10.x and v14.x)
* **Platform**: Windows 10 64-bit
* **Subsystem**: npm probabaly

### What steps will reproduce the bug?
To reproduce the problem, you will need a simple package.json with a scripts entry:
[code]

Steps to reproduce:
1. Open an existing project
2. npm i
3. npm run tsc

Output:
[code]

### How often does it reproduce? Is there a requi

[2020-09-20 22:50] RamboHunterJb opened #1838 "[BUG] <title>"
[CONTRIBUTING.md](.github/CONTRIBUTING.md) `

### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-09-21 07:21] gurdiga commented on #1627
I have a concrete example project where this happens, hopefully simple enough (4 dependencies) to be debuggable:
https://github.com/gurdiga/repetitor.tsx/tree/660ab85/frontend/tests

FWIW, I’m seeing that it takes longer for `npm update` to return as the `--depth` increases:
- `npm --depth 13 update` ~6s
- `npm --depth 15 update` ~9s
- `npm --depth 20 update` ~33s
- `npm --depth 40 update` didn’t

[2020-09-21 10:02] lazharichir commented on #1784
Similar thing happening for me. I use the workspaces with `npm 7.0.0-beta.11`.

On the first `npm install` everything works well (symlinks and all).

If I then install a package with `npm install lodash` (for example, the same happens with any package), then the workspace's packages are no longer found at runtime (other modules are, such as _lodash_).

I need to delete `package-lock.json` and `nod

[2020-09-21 13:55] adityarathod05 opened #1839 "[BUG] The Schematic workflow failed."
### Current Behavior:
The Schematic workflow failed.** npm WARN deprecated chokidar@2.1.8: Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15x less dependencies.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated fsevents@1.2.13: fsevents 1 will break on node v14+ and could be using insecure binaries. Upgrade to fsevents 2.
npm WARN depr

[2020-09-21 16:34] scamden commented on #1722
@ruyadorno any more info you need? this is a pretty frustrating bug for us.

[2020-09-21 16:43] #1838 closed, assigned to nobody

[2020-09-21 16:44] #1833 closed, assigned to nobody

[2020-09-21 16:44] #1829 closed, assigned to nobody

[2020-09-21 16:44] #1828 closed, assigned to nobody

[2020-09-21 16:44] #1827 closed, assigned to nobody

[2020-09-21 16:52] darcyclarke commented on #1803
Please use the bug template.

[2020-09-21 16:52] #1803 closed, assigned to nobody

[2020-09-21 16:52] #1798 closed, assigned to nobody

[2020-09-21 16:52] #1797 closed, assigned to nobody

[2020-09-21 16:52] #1801 closed, assigned to nobody

[2020-09-21 18:04] darcyclarke commented on #1823
@badeggg the source of https://docs.npmjs.com isn't currently public (we'll be shipping a new version of that soon which *should be* public so it can stay up-to-date) - the view of the docs you found inside the cli will probably change a bit in the months to come (it was originally supposed to become it's own domain, and we have a preview of that here: https://preview-docs.npmjs.com - that said, t

[2020-09-21 18:04] #1823 closed, assigned to nobody

[2020-09-21 18:07] darcyclarke commented on #1835
We only support the latest `npm@6` or `npm@7` versions at the moment. Please update your version of npm before submitting a bug: `npm i -g npm`

[2020-09-21 18:07] #1835 closed, assigned to nobody

[2020-09-21 19:42] #1060 closed, assigned to nobody

[2020-09-21 19:44] b0rr4ch4 opened #1840 "[BUG] slow npm commands"
# What / Why
Invoking the command `npm i express` the process hangs or takes longer than it should to return

## When
Whenever to try install a package.

## Where
Local Machine, Windows 10 Pro, CMD.
[code]

## How

### Current Behavior
Exorbitant slowness of the window that ran the command, cmd.exe

### Steps to Reproduce
Open the CMD;
Access the window's context menu;
Click Properties;
Layout tab

[2020-09-21 19:44] gavin-haynes-grow opened #1841 "[BUG] Unknown system error -74"
I just want to document an odd issue. Not really a bug with npm but this reference might be helpful to some people.

When I ran `npm install -g react-scripts` I got

[code]

Turned out that some folders in the npm cache folder were corrupted. After doing `mv ~/.npm/_cacache/ ~/broken-cache` I was able to install react-scripts again.

It is hard to remove the files

rm: cannot remove '/home/gavin/.

[2020-09-21 19:44] #1841 closed, assigned to nobody

[2020-09-21 20:14] RemyRylan commented on #1085
@fishcharlie fyi, this was implemented here: https://github.com/npm/arborist/commit/e13ba3bb66a7f7619c3baaa03cc7bccb5201e1ce and I presume it will be in the next npm v7 beta, but that's up to the npm team.

It relies on using the `peerDependenciesMeta` field, paired with `{ "optional": true }`.

Example `package.json`:

[code]

In this case, `react` will not be automatically installed.

[2020-09-21 22:02] maryiababinova opened #1842 "ERR cb() never called when running npm publish"

[2020-09-22 01:24] xorpix commented on #1842
i've just ran into the same issue

[2020-09-22 01:25] xorpix commented on #1842
Here's the log:
https://ghostbin.co/paste/2tacp

[2020-09-22 06:27] otakustay opened #1843 "[BUG] npm install enters an infinite loop on workspace"
### Current Behavior:

`npm install` enters an infinite loop and cannot be interrupted via `CTRL+C`.

### Expected Behavior:

install should finish successfully.

### Steps To Reproduce:

Using repo: https://github.com/otakustay/npm-issue/tree/npm-7-infinite-loop

Run `npm install --verbose` in it.

### Environment:

- npm: 7.0.0-beta.11
- node: v14.7.0
- OS: macOS 10.15.6

[2020-09-22 08:12] tbikash62 opened #1844 "No command of npm is running after I deleted node_module folder. npm install not working"
I am very new to npm. I installed two packages 'moment' and 'loadash'
it got reflected in node_modules folder.
Then I deleted the folder

now when I run
npm install moment , it shows no response.

![image](https://user-images.githubusercontent.com/58831041/93858091-e6d4a180-fcbb-11ea-8bce-6865643b08bd.png)

Basically it is not giving any output and jumps to new command line.
it is happening with a

[2020-09-22 11:18] gcangussu commented on #1784
It also happens when using `npx` here, in addition to the scenarios described above. Example:

1. Run first `npm install` -- everything is installed
2. Run `npx eslint .` -- all workspaces exclusive dependencies are deleted (dependencies of the root package.json are kept)

OS: Linux 5.8.9
Node: 12.18.4
npm: 7.0.0-beta.11
npx: 7.0.0-beta.11

[2020-09-22 13:31] csvn opened #1845 "[BUG] npx fails with "could not find executable" when running husky in v7"
The latest version of [`husky`](https://github.com/typicode/husky) is broken in npm v7. I'm not sure if this regression is intended or not, i.e. if Husky needs to be updated or npm needs a bugfix.

### Current Behavior:

[code]

### Expected Behavior:

[code]

### Steps To Reproduce:

1. Create a new empty folder and run `npm init -y` inside it
2. Install `husky` with `npm i -D husky`
3. Create a

[2020-09-22 19:50] ruyadorno commented on #1722
Sorry about the delay @scamden! Ok, so there's some good news! I managed to wrap up this morning a fix to (what I'm quite sure was) the root of the problem and shipped it in today's release: [v7.0.0-beta.12](https://github.com/npm/cli/releases/tag/v7.0.0-beta.12)

Please give it a try with the usual update: `npm i -g npm@next-7` and let us know! 😄

Thanks again for the report and all the help repr

[2020-09-22 21:13] isaacs commented on #1734
So, the handling of this broken semver range is not actually a breaking change.  What changed is that we handle peerDependencies _at all_, so any broken garbage in a peerDependencies set would have been overlooked in npm v6, and no longer is.

Observe:

[code]

A more extreme example:

[code]

I'm tempted to say that this is working as designed.  If you want npm v7 to work when peerDependencies co

[2020-09-22 21:13] #1734 closed, assigned to nobody

[2020-09-22 22:20] MylesBorins opened #1848 "[BUG] running npm install in a repo with a binding.gyp and no pre-install script no longer automatically builds package"
### Current Behavior:
running `npm install` in a folder with a `package.json` and a `binding.gyp` at the root and no `pre-install` script will still run `node-gyp` as a `pre-install`

### Expected Behavior:
No `pre-install` is run and the native module is not built

### Steps To Reproduce:
simplest reproduction
[code]
With npm v6 you will see the following output

[code]

with npm 7 you will see t

[2020-09-23 00:05] henock1 commented on #1133
Experiencing the same issue
MacOS 10.15.6
node 12.18.2
npm 6.14.5

[2020-09-23 00:12] scamden commented on #1722
This looks fixed thank you!

[2020-09-23 00:12] #1722 closed, assigned to nobody

[2020-09-23 00:31] scamden opened #1849 "[BUG] npm install <dep>@version removes the dep from peerDeps if dep is in devDeps as well"
### Current Behavior:
running npm install on a dependency that is in both dev and peer deps removes the dep from peer. (note: this even happens if installing with the --legacy-peer-deps flag)

### Expected Behavior:
if anything the peer dep should be kept over the dev dep, as the peer dep is part of the package's outward facing contract. preferably both are kept while legacy-peer-deps is an option

[2020-09-23 02:27] ljharb commented on #1849
Peer deps should almost always be also in devDeps, or also in runtime deps, so this seems like a big issue. Thanks for reporting it!

To confirm, this is with which npm version?

[2020-09-23 02:58] aliatsis commented on #1849
@ljharb we tested and reproduced with 7.0.0-beta.10, 7.0.0-beta.11, and 7.0.0-beta.12

[2020-09-23 12:21] VaeterchenFrost opened #1851 "[BUG] invalid comparison in json-schema validate.js"
# What / Why

`typeof` is compared to **undefined**. This comparison is invalid, because `typeof` always returns strings.

## When

when `typeof schema.maximum` is `undefined` in

## Where

* npm/cli

https://github.com/npm/cli/blob/bd2721dbc3de13a5ba889eba50644475d80f6948/node_modules/json-schema/lib/validate.js#L173

https://github.com/npm/cli/blob/bd2721dbc3de13a5ba889eba50644475d80f6948/node_m

[2020-09-23 16:04] ljharb commented on #1851
This fix needs to go in the json-schema module directly, not in npm's vendored copy.

[2020-09-23 18:22] ValeryVS commented on #1800
Also getting such error with private registry and `npm@7.0.0-beta.12`.
Install with `npm@6.14.6`, `npm@6.14.8` and `yarn@1.22.4` works properly.

[2020-09-23 20:53] ruyadorno commented on #1281
landed in `v7.0.0-beta.12` ref: https://github.com/npm/cli/commit/b3a50d27501e47c61b52c3cc4de99ff4e4641efe

[2020-09-23 20:53] #1281 closed, assigned to isaacs

[2020-09-23 21:04] ruyadorno commented on #1668
hi @SkReD I tried but could not reproduce it on macos:

[code]

Please let us know if you can get the latest beta version (currently `v7.0.0-beta.12`) and still see the problem, if that's the case a minimal reproduction example (feel free to push to a git repo) would be super helpful. 😊 Thanks!

[2020-09-23 21:15] ruyadorno commented on #1655
tested again in `v7.0.0-beta.12` and looks like this has been fixed

[2020-09-23 21:15] #1655 closed, assigned to isaacs

[2020-09-23 21:20] ruyadorno commented on #1669
thanks @tyler-laberge for the handy reproduction case. I tested it with the latest beta version `v7.0.0-beta.12` and validate it's working as expected there 😊

Thanks @msbit for bringing this one up to our attention!

[2020-09-23 21:20] #1669 closed, assigned to isaacs

[2020-09-23 21:28] ruyadorno commented on #1681
hi @KilianKilmister thanks for taking the time to report 😊 as you have been following along the story around peer dependencies has been evolving a lot and quite quickly during the beta period, since you reported this the `ERESOLVE` has been expanded to contain a human-readable explanation for the conflict and with this week's pre-release (`v7.0.0-beta.12`) we flipped the switch and the default beh

[2020-09-23 21:28] #1681 closed, assigned to nobody

[2020-09-23 21:32] ruyadorno commented on #1703
Hi @andreieftimie let me know in case there's a public repo in which we can easily reproduce the problem 😊

[2020-09-24 08:40] VaeterchenFrost commented on #1851
Oh I see. I will have a look for that then. Thank you for the comment.

[2020-09-24 09:59] howshit opened #1855 "[BUG] OOM exit status inconsistent"
Hi there,

We've encountered something weird recently:

We are running a script with docker image node:12.18.3-alpine, the script is causing OOM.

if we run it in "npm run oom" (oom is the script name, and the definition of this script is node scriptFileName.js), the exit code is 0, and if we are running it in "node scriptFileName.js" directly, the exit code is 139.

I happen to know that when run

[2020-09-24 12:23] rafgraph commented on #1845
This might be related to #1834

[2020-09-24 13:03] csvn commented on #1845
@rafgraph On windows, I had no issues for hooks to be installed with Husky. When I used WSL on Ubuntu though, I had to use `sudo` for hooks to be installed, otherwise I had errors in the npm install log. So I don't think this is strictly related, since the error above can be reproduced by simply running `npx husky-run pre-commit` without hooks being installed at all.

[2020-09-24 16:17] JohnFromme opened #1856 "[BUG] npm unlink --force"
### Current Behavior:

I wanted to unlink a cli I'm building but it gave me errors so I ran "npm unlink --force" and now my Mac is re-uploading all my computer files to iCloud even though they where already on iCloud & it takes my Mac longer to display my desktop files!

My main question is what does "npm unlink --force" do to my computer?

### Expected Behavior:

I expected the "unlink" command t

[2020-09-24 22:58] sk8Guerra commented on #1157
I'm also having this issue, but when building it with `travis-ci` to publish a new npm package version:

[code]

[2020-09-25 10:07] Floriferous opened #1860 "[BUG] Reverting from GitHub repo to version keeps old link in package-lock"
### Current Behavior:
If you `npm install https://github.com/foo/bar.git`, and later revert your package.json to install the same package with a regular version like `"bar": "^1.0.0"`, and run `npm install` again, the `package-lock.json` keeps the version from GitHub.

### Expected Behavior:
I expect that when you specify a version number again, that the install is done via the npm registry instea

[2020-09-25 10:38] PeteProvar commented on #1824
Can confirm this also happens on Mac OS Catalina

### Environment

* OS: Mac OS 10.15.6
* Node: v14.11.0
* NPM: 6.14.8

[2020-09-25 14:39] darcyclarke opened #1861 "[BUG] npm ls doesn't support depth"
### Current Behavior:
Running `npm ls <pkg> --depth=0` doesn't produce a filtered result of deps installed on disk

### Expected Behavior:
Running `npm ls <pkg> --depth=0` will show me just the top-level deps installed on disk (see `npm@6.x`)

### Steps To Reproduce:
1. In any version `npm@<=7.0.0-beta.12` ...
2. Run `npm ls <pkg> --depth=0` ...
3. See same results as `npm ls` or even `npm ls --al

[2020-09-25 18:55] darcyclarke commented on #1845
@csvn can you try installing the latest beta & seeing if you can repro? `npm i -g npm@next-7`. If you're still experiencing this, we'd love the `debug.log`

[2020-09-25 19:02] darcyclarke commented on #1840
@rossifw can you let us know which version of node you're using and which specific version of `npm` you were on when you ran, or are still running, into this?

[2020-09-25 20:57] csvn commented on #1845
Hi @darcyclarke. Attached the output for the `debug.log` for the reproduction steps in the description.

[code]

I ran this within a Docker Devcontainer and WSL in VSCode. Environment info:

[code]

[2020-09-25 21:03] csvn commented on #1845
This is the same for Windows, npm `7.0.0-beta.12` node `v14.8.0`:

[code]

[2020-09-25 21:45] paulschreiber opened #1863 "[BUG] Invalid version number results in partial installation of modules"
### Current Behavior:
When an invalid version number (such as "0.9") is specified, _and_ a valid `package-lock.json` file is present, running `npm install` results in a partial installation of modules.

If the version number is valid (i.e. 0.9.0), everything is installed.
If the `package-lock.json` is absent, nothing is installed.

#### How this happened in a real project:
* Create project
* Bump

[2020-09-26 16:24] yk2kus commented on #681
Thanks worked for me!

[2020-09-26 16:26] BakungaBronson commented on #1824
Facing the same issue on Windows 10

### Environment

- OS: Windows 10 Pro
- Node: v14.12.0
- NPM: 6.14.8

[2020-09-26 18:06] kimamula commented on #1229
@trusktr Which version of npm CLI are you using? ~~I found that both of `prepare` and `prepack` are not working as expected with npm CLI v6 and v7 beta.~~

**EDIT**: My bad, the way I confirmed the behavior was not correct. `prepare` is working fine with npm CLI v6 as written in the description of this issue.

### v6.14.8

- `prepare`: ~~`devDependencies` are not installed and `prepare` script is

[2020-09-26 19:05] Nitin1121 opened #1864 "npm-webcam cant change its css to fit entire screen width & height"
Can anyone suggest how to make came of the npm-webcam in angular to fit it to entire screen ...I tried cant modify its css its not accepting our change

[2020-09-26 21:24] filoxo commented on #1824
Encountered this when running `npx create-single-spa` with npm 6.14.4, node v13.14.0, on Linux chrx 4.16.18-galliumos x86_64.
Edit: also happens on npm 6.14.8 on v14.12.0.

[2020-09-27 06:24] kimamula opened #1865 "[BUG] `prepare` and `prepack` scripts are not handled as documented when installing a git dependency"
### Current Behavior:

I tested installing a git dependency which has either `prepare` or `prepack` script with npm CLI v7.0.0-beta.12 and confirmed the following behaviors.

- a package with a `prepare` script: `devDependencies` are **NOT** installed but the `prepare` script is executed
- a package with a `prepack` script: `devDependencies` are **NOT** installed and the `prepack` script is **NOT*

[2020-09-27 10:15] yongahua opened #1866 "[BUG] <cb() never called>"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Brave\AppData\Local\npm-cache\_logs\2020-09-27T10_13_19_109Z-debug.log

[2020-09-27 17:03] AhmedAlKharraz opened #1867 "I got npm ERR! cb() never called! while trying to create react project"
Hi all, I need someone to help me in this issue,
this is the first time I'm using react, I followed all the required steps but I keep facing this issue

<img width="746" alt="image" src="https://user-images.githubusercontent.com/64503987/94370994-2fe58500-0104-11eb-88f2-f8c241ae4bb9.png">

<img width="658" alt="image" src="https://user-images.githubusercontent.com/64503987/94371083-d7fb4e00-0104-1

[2020-09-27 18:17] peterjuras commented on #1762
This no longer appears to be an issue in npm 7.0.0-beta.12

[2020-09-27 18:17] #1762 closed, assigned to nobody

[2020-09-28 11:59] ngdangtu-vn commented on #1866
Please share your log, repo, npm version and node version.
Btw, I got this error too:
[code]

Reported log from https://github.com/ngdangtu-vn/shoot-i-smoke repo: https://gist.github.com/ngdangtu-vn/8cb6e217053871023c6c013d20fc0b8a

[2020-09-28 12:16] ngdangtu-vn commented on #1866
This is also reported days ago with the same version, 6.14.8
https://github.com/npm/cli/issues/1824

[2020-09-28 16:22] bejoysvijayan-code commented on #1842
npm cache verify
fixed my issue

[2020-09-28 17:20] ksdrar opened #1869 "[BUG] npm 7 uninstall doesn't remove global package if prefix is a symlink"
### Current Behavior:

When _npm un -g <package>_ is used, the package is not removed if npm prefix is a symlink

### Expected Behavior:

npm should remove the package even if it's inside a symlink

### Steps To Reproduce:

1. Set npm prefix to a folder with symlink
2. Install any package as global
3. Try to remove it
4. See output of npm with nothing removed

### Environment:
- OS: Windows 10 190

[2020-09-28 19:17] marciabeatrizcp commented on #681
Yes!! It's works!

[2020-09-29 04:44] TheiChrist opened #1872 "[BUG] <title>"
Note: Please search to see if an issue already exists for your problem: https://github.com/npm/cli/issues
Current Behavior:
ex. a clear
concise description of what you're experiencing.
My Chromebook2 does not keep it's google drive settings for  For Notifications.  Its the worse problem that a
device could experience.  There has to be an answer.

Expected Behavior
ex. a clear
concise description o

[2020-09-29 09:36] pomgui opened #1873 "[BUG] npm pack does not ignore patterns like "dir/" in subdirectories"
### Current Behavior:
`npm pack` does not ignore patterns like "dir/" in subdirectories, no matter if it was included in `.gitignore` or `.npmignore`.

### Expected Behavior:
The [npm documentation](https://npm.github.io/publishing-pkgs-docs/publishing/the-npmignore-file.html) says:
 - ".npmignore files follow the [same pattern rules](https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-

[2020-09-29 09:47] milahu commented on #1159
@ljharb said

yes, `npm run` should throw an error on unrecognized options

otherwise this silently fails

[code]
<details>

package.json

[code]
results

[code]

</details>

[2020-09-29 13:55] mustafaAly opened #1874 "Node Module Isn't Install Properly"
when I run any npm install these files are installed and expand in the project directory i didn't understand what happen and these files make errors to me  when i run the project i have windows 10 node version 14 npm version 6

![Screenshot (3)](https://user-images.githubusercontent.com/16977942/94567790-21b27880-026c-11eb-9fed-321128b9a8e2.png)
![Screenshot (4)](https://user-images.githubusercont

[2020-09-29 16:16] doddi opened #1875 "[BUG] npm audit backwards compatibility against third party tools"
### Current Behavior:
When performing an npm audit using a third party tool that currently audits successfully when using npm cli v6, the response using npm v7 is 0 vulnerabilities.

The third party tool does not currently implement the new endpoint [/-/npm/v1/security/advisories/bulk](https://github.com/npm/cli/blob/2f8d11968607a74c8def3c05266049bee5e313eb/node_modules/@npmcli/arborist/lib/audit-

[2020-09-29 17:25] #1662 closed, assigned to isaacs

[2020-09-29 17:25] #1843 closed, assigned to ruyadorno

[2020-09-29 17:59] darcyclarke commented on #1864
@Nitin1121 Closing this as we don't support that project.

[2020-09-29 17:59] #1864 closed, assigned to nobody

[2020-09-29 19:28] ruyadorno commented on #1703
hi @andreieftimie thanks for the report! 😄 This should be fixed in `v7.0.0-beta.13`

Let us know in case there are still problems 😊 Thanks again!

[2020-09-29 19:28] #1703 closed, assigned to nobody

[2020-09-29 19:31] ruyadorno commented on #1662
hi @valtlai thanks for reporting these issues :smile: the `package-lock.json` auto-format using same indentation style from `package.json` have now landed in the latest beta release `v7.0.0-beta.13` - as usual you can try it out with:

[code]

Let us know if you find more issues 😊 Thanks again!

[2020-09-29 19:33] ruyadorno commented on #1813
Hi @targos thanks for reporting this one! :smile: It should now be fixed in latest beta release: `v7.0.0-beta.13`

Let us know in case you find more issues, these were super helpful :blush: Thanks again!

[2020-09-29 19:33] #1813 closed, assigned to ruyadorno

[2020-09-29 19:34] #1861 closed, assigned to ruyadorno

[2020-09-29 19:36] #1780 closed, assigned to isaacs

[2020-09-29 19:41] ruyadorno commented on #1843
Hi @otakustay thank you so much for the report and the very handy reproduction repo! :smile: The infinite loop issue have now been fixed in `v7.0.0-beta.13` - it turns out that the linked workspaces have conflicting `peerDependencies` so now npm7 will properly display a nice error message showing up which peer dependency have the version conflicts so that you can fix it in your local project befor

[2020-09-29 23:18] davidmurdoch opened #1878 "[BUG] `npm install <package-name>` will install that <package>s `devDependencies` if the package has a published `npm-shrinkwrap.json`"
### Current Behavior:

Example: `npm install ganache-core@2.12.2-beta.0` will install ganache-core's dev dependencies, even though they are listed in the `devDependencies` and listed with "dev": true` in the published `npm-shrinkwrap.json`. Like `husky`.

### Expected Behavior:

`npm install ganache-core@2.12.2-beta.0` should not install the package's dev dependencies or any transitive dev depende

[2020-09-30 05:58] andreieftimie commented on #1703
@ruyadorno thanks. I can confirm `npm outdated` now works on the use-case mentioned above.

[2020-09-30 06:02] vlilloh opened #1879 "[BUG] npm7 doesn't install packages that are only found on GitHub"
### Current Behavior:

It doesn't install packages that are only found on GitHub.

### Expected Behavior:

It should install packages that are only found on GitHub.

### Steps To Reproduce:

1. With this config in `package.json`, e.g.: `"dependencies": { "@gastromatic/react-dates": "1.0.7" }`
2. With this config in `.npmrc`, e.g.: `@gastromatic:registry=https://npm.pkg.github.com`
3. Run 'npx npm@

[2020-09-30 08:55] jameshfisher opened #1880 "Documentation missing for `npm login`"
### Current Behavior:
https://docs.npmjs.com/cli-documentation/cli lists commands sans `login`

### Expected Behavior:
Page lists all commands listed by:

[code]

### Steps To Reproduce:
Visit https://docs.npmjs.com/cli-documentation/cli

[2020-09-30 13:22] #1872 closed, assigned to nobody

[2020-09-30 15:39] darcyclarke commented on #1874
Closing: Please use our default bug issue template; If you're experiencing issues with a specific project/package we don't support that. If you're wondering how npm works, or the details of a specific command/usage, definitely feel try reading through some of our docs here: https://docs.npmjs.com

[2020-09-30 15:39] #1874 closed, assigned to nobody

[2020-09-30 15:39] darcyclarke commented on #1842
Closing as this doesn't use our bug template & is duplicative to other threads we're already tracking.

[2020-09-30 15:39] #1842 closed, assigned to nobody

[2020-09-30 17:54] #575 closed, assigned to nobody

[2020-09-30 18:22] isaacs commented on #1849
Hmm... so this is a pretty easy fix, to just note that it's in both places and save it back to both.  However, I notice that the "pretty easy" fix means that the two fields will stay in sync, which could either be a surprising bug or a really wonderful feature.

So, for example, if your package.json is:
[code]

and then you do: `npm i foo@latest`, you might get:

[code]

This can be a hazard if yo

[2020-09-30 18:28] ljharb commented on #1849
imo they should always indeed be in sync, so I find that to be a really wonderful feature.

That said, whatever's in *peer deps* should be the source of truth, since that's exposed as part of your API.

[2020-09-30 18:30] isaacs commented on #1849
The peerDep is the source of truth (since it's loaded first, and we skip the creation of edges if we already have an edge by that name). When saving, they're both saved to the same value.

[2020-09-30 19:10] scamden commented on #1849
yep makes good sense to me. i've often wanted the peer dep to update when I install the latest :)

[2020-09-30 19:16] ljharb commented on #1849
The challenge there is that for a peer dep, if the *minimum* version changes, it's a breaking change.

[2020-09-30 21:30] #1849 closed, assigned to isaacs

[2020-09-30 22:11] jayphelps commented on #1800
Also getting this with a custom package installed from the github npm registry https://npm.pkg.github.com. Hopefully this is helpful correlation that it seems to be non-npm official registry related. Downgrading from 7.0.0-beta.12 to v6 worked.

[code]

Since this is a private package, I'm happy to do a Zoom with any team member and give them access if they are unable to reproduce independently.

[2020-10-01 08:27] Coridyn opened #1883 "[BUG] npm install with invalid JSON deletes contents of package.json and exits with success"
### Current Behavior:

If you have `package.json` with invalid/malformed JSON.

Running `npm install` deletes the contents of `package.json` and exits successfully with code 0.

package.json is rewritten to just be an empty JSON object `{}`, potentially losing data.

### Expected Behavior:

npm should exit with a non-zero code and should not replace the contents of package.json.

### Steps To Repr

[2020-10-01 09:32] YuryShkoda opened #1884 "[BUG] Installing a newer version of the package doesn't update the source code to be used"
### Current Behavior:
If you install an older version of the package `npm i -g <package>` and after that install a newer version of it `npm i -g <package>@latest`, the latest source code will be downloaded, but the functionality will be used from older version. If you change any of the files located at `/usr/local/lib/node_modules/<package>`, npm will pick up the right source code.

### Expected B

[2020-10-01 11:35] PaulVrugt commented on #1800
@jayphelps
I've tested downgrading to `7.0.0-beta.6` but this didn't help for me. The same issue:

[code]

[2020-10-01 14:38] Aniganesh opened #1885 "[BUG] Unable to install any package after cleaning cache"
I cleared my npm cache using `npm clean cache --force` and have since been unable to install any packages. Running npm i in my project gives a long list of files that are not in my node_modules in the following format:
`npm WARN tar ENOENT: no such file or directory, open '/home/path-to-project-folder/node_modules/.staging/@material-ui/icons-71185f08/esm/IndeterminateCheckBoxSharp.js'`
 and finall

[2020-10-01 15:53] Aniganesh commented on #1885
Restarting my pc, reinstalling npm and using different versions of npm have not solved this problem.

[2020-10-01 15:58] davidmurdoch opened #1886 "[BUG] packages that are in `devDependencies` AND `optionalDependencies` are automatically added to package.json's `dependencies` on `npm install`"
### Current Behavior:

Packages that are in `devDependencies` AND `optionalDependencies` are automatically added to package.json's `dependencies` on `npm install`.

### Expected Behavior:

`npm install` shouldn't edit the `package.json`.

npm v6 docs states that `Entries in optionalDependencies will override entries of the same name in dependencies, so it’s usually best to only put in one place.`

[2020-10-01 17:03] jayphelps commented on #1800
@PaulVrugt sorry, I meant v6.x.x, the current stable release, not a beta for v7

[2020-10-01 17:52] mikkorantalainen opened #1887 "[BUG] npm install creates files in the past"
### Current Behavior:
When I run `npm install` many files inside directory `node_modules` have file timestamps in the past.

### Expected Behavior:
Filesystem timestamps should reflect the moment those files were added to the system. Incorrect timestamps may affect backups among other problems.

### Steps To Reproduce:
cat > package.json <<EOF
{
  "name": "minimal-demo",
  "dependencies": {
    "l

[2020-10-01 17:53] ljharb commented on #1886
@davidmurdoch can you try the latest rc instead of the earliest one?

[2020-10-01 19:00] aliatsis opened #1888 "[BUG] npm install <dep>@versionOrTag does not honor save prefix"
### Current Behavior:
On the heels of https://github.com/npm/cli/issues/1849, npm v7.0.0-rc.0 does not include my configured `^` save prefix in devDependencies version when running an `npm i <dep>@versionOrTag`.

### Expected Behavior:
`npm i <dep>@versionOrTag` should include my configured `^` save prefix on the updated version in package.json devDependencies

### Steps To Reproduce:
1. Install n

[2020-10-01 19:30] darcyclarke commented on #1832
@joewood can you try updating to the latest npm (ie. `npm i -g npm@next-7`) & see if this is resolved for you now?

[2020-10-01 19:31] darcyclarke commented on #1815
Unfortunately, this issue tracker is only for `cli` related bugs. Please feel free to reach out to our [support](https://www.npmjs.com/support) team if you're having issues with our website or the registry.

[2020-10-01 19:31] #1815 closed, assigned to nobody

[2020-10-01 19:32] darcyclarke commented on #1807
Closing: this isn't an issue with the `npm` cli.

[2020-10-01 19:32] #1807 closed, assigned to nobody

[2020-10-01 19:35] darcyclarke commented on #1800
We've potentially got a fix for this based on some work @nlf is about to land in a point release. I'll let him follow up though to confirm once we've got that out to have you try to reproduce.

[2020-10-01 19:40] darcyclarke commented on #1768
Closing: This is duplicative to a few other issues we already are tracking, doesn't use our bug template &, ultimately, we believe we have a fix we're about the release that should resolve many of those errors.

[2020-10-01 19:40] #1768 closed, assigned to nobody

[2020-10-01 19:44] darcyclarke commented on #1744
Closing: Unfortunately, this is working as intended. We're considering some new UI/UX for `install` & some other commands output to better communicate what is happening.

[2020-10-01 19:44] #1744 closed, assigned to nobody

[2020-10-01 19:48] darcyclarke commented on #1705
Closing: We do not provide support for `koa`. Sorry.

[2020-10-01 19:48] #1705 closed, assigned to nobody

[2020-10-01 19:52] darcyclarke commented on #1700
I believe this is related to https://github.com/npm/cli/pull/1859 /cc @isaacs

[2020-10-01 20:10] billyjanitsch commented on #1744
@darcyclarke Just to clarify, npm@6 doesn't ever do this. So this behavior was intentionally introduced in npm@7?

[2020-10-01 20:21] nlf commented on #1845
the issue here is that `npx` thinks you're trying to run [husky-run](https://www.npmjs.com/package/husky-run) the package rather than `husky-run` the bin script that's part of [husky](https://www.npmjs.com/package/husky).

what you'll want to do to run the `husky-run` script within `husky` itself, is
[code]

which informs `npx` which package contains the bin, and I can confirm works correctly

[2020-10-01 20:56] nlf commented on #1834
So there's a few things happening here:

1. We no longer display the output of install scripts unless an error occurs, this is deliberate and intended to reduce the amount of text we print during an install process.

2. The script actually _is_ running, and failing, the problem is that it is not setting the `process.exitCode` to a non-0 value when an error occurs, so npm does not print the error.

[2020-10-01 20:58] darcyclarke commented on #1885
Closing: If you believe you have found a bug in the `cli` itself, please use one of our issue templates found here: https://github.com/npm/cli/issues/new/choose If you have a usage question, please refer to our docs https://docs.npmjs.com or use https://github.com/npm/rfcs/discussions to discuss the project.

[2020-10-01 20:58] #1885 closed, assigned to nobody

[2020-10-01 21:48] darcyclarke commented on #1880
Hey @jamesgeorge007, unfortunately, `npm login` is actually just an alias of `npm adduser` so the docs do indeed exist. We'll keep this open & make it a point to add a duplicate ref to the existing doc/info.

[2020-10-01 21:51] darcyclarke commented on #1879
Closing: I believe this is a duplicate of https://github.com/npm/cli/issues/1800

[2020-10-01 21:51] #1879 closed, assigned to nobody

[2020-10-01 21:55] darcyclarke commented on #1875
Thanks for catching this @doddi!

[2020-10-01 21:55] jameshfisher commented on #1880
Thanks @darcyclarke - weird, `adduser` sounds like "sign up" rather than "log in", but OK!

[2020-10-01 22:07] darcyclarke commented on #1865
@kimamula just to confirm, does this behavior reflect how `npm@6.x` works today? Or, have we changed how that works?

[2020-10-01 22:07] blikest opened #1889 "progress bar stuck after programmatic usage"
### Current Behavior:

So I'm importing npm's library as a module,
running `npm.load` and then any `npm.commands`:
[code]
after which I am left with a hanging progress bar however I try to get rid of it:
[code]
...or after a npm.commands.install() callback:
[code]
### Expected Behavior:

post-command callback terminates the process and clears the progress bar.

### Environment:
- OS: linux (chrome

[2020-10-01 22:18] ljharb commented on #1880
@darcyclarke tbh it's always seemed weird to me that "login" isn't the primary command, "adduser" is weird. Could the relationship be switched?

[2020-10-01 22:48] ksdrar commented on #1869
I tried to fix this, and I ended up using **realPathSync** function from 'fs' to resolve symlinks.

### lib/uninstall.js:15
[code]

[2020-10-02 00:33] rafgraph commented on #1834
Thanks for the detailed explanation. I don't work on `husky` so can't say what their thoughts are on this.

[2020-10-02 00:40] kimamula commented on #1865
@darcyclarke The behavior of `npm@6.x` is different (see #1229).

- a package with a `prepare` script: working as expected (`devDependencies` are installed and the `prepare` script is executed)
- a package with a `prepack` script: `devDependencies` are **NOT** installed but the `prepack` script is executed

[2020-10-02 00:44] rafgraph commented on #1845
I get this same error `could not determine executable to run` when running `husky` as a pre-commit hook. Error log attached.

[2020-10-02T00_36_01_041Z-debug.log](https://github.com/npm/cli/files/5315401/2020-10-02T00_36_01_041Z-debug.log)

`husky` was installed with npm v6 (because of #1834), the pre-commit hook successfully setup. It is setup in `package.json` to run `lint-staged` as described i

[2020-10-02 05:28] badeggg commented on #1700
This is not a constructive comment, but just curious. As a http proxy address(http://127.0.0.1:9090), does is need or should have a ca config?

[2020-10-02 10:34] blikest commented on #1889
got rid of it finally by
[code]
but this really seems like something's wonky about postinstall cleanups.

[2020-10-02 11:46] csvn commented on #1845
@nlf running `npx husky-run` is just for illustrating the problem. The real issue is that the hooks running with Husky fails when Husky executes them. So it is really the package that needs updating, if this issue is "working as intended". `npx`  with npm v6 managed to find `/node_modules/.bin/husky-run` and run correctly. So this is a breaking change, and I was just curious if this is intended.

[2020-10-02 11:55] ghost opened #1890 "[BUG] npm ci fails for local transitive dependencies"
### Current Behavior:
`npm ci` fails when there is transitive dependency between local dependencies in the project

Example project structure:
[code]

### Expected Behavior:
`npm ci` succeeds

### Steps To Reproduce:
1. Checkout isolated simple test case (described above): https://github.com/careibu/local-transitive-dependency-problem/
3. Run `npm install` and `npm ci` in `/cms` folder
4. See erro

[2020-10-02 18:38] mhart commented on #1113
I'm seeing similar behavior though I don't think it's been tracked down to a shrinkwrap file. Eg, just installing `mocha` as a dev dependency:

[code]

I can see that package-lock.json does indeed omit `"dev": true` for all of the modules that appear in `node_modules`.

However, if I manually specify one of mocha's dependencies, `es-abstract`, to be installed as a dev dependency, and then uninstal

[2020-10-02 22:04] VojtechMyslivec commented on #348
Hi, is this issue still valid? I see something similar was fixed in #35, but I encounter the same problem on IPv6-only server with DNS64 transition mechanism enabled.

`npm install` log:

[code]

If I use `curl` on the same server, it works as expected:
[code]

Is it possible there is some hard-coded IPv4 method in `npm install`?

[2020-10-03 03:17] otakustay opened #1896 "[BUG] Unclear peer dependency conflicts warning message"
### Current Behavior:

I see this error message when peer dependency conflicts:

[code]

What is `webpack@undefined` in this message stands for, is it because two conflicting version ranges has no overlap, or is it really install a webpack whose version is missing?

### Expected Behavior:

NPM could report a more accurate error message to tell what is happened and list all host packages with confl

[2020-10-03 16:54] #1584 closed, assigned to nobody

[2020-10-03 23:01] FrancoUy opened #1898 "problem installing cnc.js"
root@DietPi:~# npm install --unsafe-perm -g cncjs
npm WARN deprecated @babel/polyfill@7.4.4: 🚨 This package has been deprecated in favor of separate inclusion of a polyfill and regenerator-runtime (when needed). See the @babel/polyfill docs (https://babeljs.io/docs/en/babel-polyfill) for more information.
npm WARN deprecated bcrypt-nodejs@0.0.3: bcrypt-nodejs is no longer actively maintained. Plea

[2020-10-04 13:31] mustafaAly commented on #1874
I don't experience issues with a specific project, it happens to me in all project with a specific pc, on my laptop, it doesn't appear with me I can't run any project has npm module on my work pc please give to
 me the link to your bug issue template;

[2020-10-04 18:22] enawder opened #1899 "[BUG] Multiple substitutions of npm_package_config_* variables is not working"
A configuration variable defined using another one, is not properly substituted when used in npm scripts.

Here is a `package.json` example:
[code]
### Current Behavior:
[code]

### Expected Behavior:

[code]
### Steps To Reproduce:

1. Use the `package.json` provided above.
2. Run `npm run echo`.

### Environment:

- OS: Linux archlinux 5.4.2-arch1-1
- Node: 13.3.0
- npm: 6.12.1

[2020-10-04 18:41] Louismybabie74 opened #1900 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-10-04 21:23] ljharb commented on #1899
I would not expect that to happen. `FOO=foo BAR='$FOO' ; echo $BAR` doesn't echo "foo", it echoes "$FOO". You'd need something like `eval echo "$BAR"` to end up with `foo`.

[2020-10-05 08:45] di-mr-di opened #1901 "[BUG] Verification email is not sent to my professional domain mailbox"
### Current Behavior:
Unable to verify the newly registered account with professional mailbox. If I switch to a gmail account it seems to work.

### Expected Behavior:
I need to verify my email in order to accept private invites

[2020-10-05 09:10] GMartigny commented on #1756
I created a minimal repository reproducing the issue.

https://github.com/GMartigny/npm-local-dep

	npm install gmartigny-local-dep

[2020-10-05 11:20] enawder commented on #1899
Thanks for your reply @ljharb.

Indeed, using single quotes does not trigger the substitution, but double quotes do, as well as no quotes when dealing directly with the shell (`bash` in my case).

`FOO=foo BAR="$FOO" ; echo $BAR` does echo `foo`. Same for `FOO=foo BAR=$FOO ; echo $BAR`.

I tried using `"echo \"$npm_package_config_bar\""`, to somehow force the substitution, but it didn't work.

I d

[2020-10-05 14:48] #1900 closed, assigned to nobody

[2020-10-05 14:49] #1898 closed, assigned to nobody

[2020-10-05 14:55] darcyclarke commented on #1901
Hey @dms-seqvoia! Appreciate you bringing this up; Unfortunately, we only deal with `cli` related bugs in this repo. If you're running into a website/service/registry problem, please submit a ticket to our support team who can then work with our registry engineering team to help resolve any issues: https://npmjs.com/support

[2020-10-05 14:55] #1901 closed, assigned to nobody

[2020-10-05 17:03] txase commented on #1826
@isaacs The PR opened by @nkeating-mutualofenumclaw fixes this issue. How should we fix this issue if that PR isn't appropriate? Are you looking for some other solution?

This is preventing CI/CD integration with private NPM repositories. That's a very core need for many organizations...

[2020-10-05 17:32] ljharb commented on #1899
To be clear tho, that's because that evaluates the value of BAR *immediately* - not dynamically later, when BAR is echoed.

[2020-10-05 17:36] darcyclarke commented on #1500
ref. to WIP PR: https://github.com/npm/cli/pull/1607

[2020-10-05 17:40] darcyclarke commented on #1848
This should be fixed as of Friday in the `7.0.0-rc.1` release.

[2020-10-05 17:40] #1848 closed, assigned to bonkydog

[2020-10-05 17:50] nlf commented on #1800
We released v7.0.0-rc.2 last Friday and it includes some fixes that may relate to this, can you try updating to that version with `npm i -g npm@next-7` and seeing if your issue is fixed?

[2020-10-05 17:52] nlf commented on #1824
We released v7.0.0-rc2 last Friday that includes some fixes that should resolve this issue, @arlac77 can you try updating to that version with `npm i -g npm@next-7` and see if your issue is resolved?

Those of you still on npm 6 will have to update to 7 to get the benefits from this

[2020-10-05 18:08] leandro-manifesto commented on #1800
Installed `npm@v7.0.0-rc2` and the integrity check still fails.

[2020-10-05 18:13] jayphelps commented on #1800
@nlf rc.2 solved the issue for me, or at least the problem "went away". Thank you!

Unclear why it fixed my issue but not for @leandro-manifesto. That's unfortunate.

[2020-10-05 18:29] leandro-manifesto commented on #1800
Just to be sure I ran `npm i` again just like before, with a clean cache, empty node_modules and no package-lock.json or yarn.lock.
Still didn't work.

Here is the log: https://gist.github.com/leandro-manifesto/50bffbfb2af4d433630d388310923af3

[2020-10-05 18:32] PaulVrugt commented on #1800
I'll take a look in the morning to see if it is solved for us

[2020-10-05 19:24] arlac77 commented on #1824
Can confirm with 7.0.0-rc.2 th problem is gone

[2020-10-05 19:24] #1824 closed, assigned to nlf

[2020-10-06 04:17] Coridyn commented on #1845
To add another data point, I think I'm running into the same issue with the `vue-cli-service` bin script (which works in npm@6).

[code]

Based on [nlf's comment](https://github.com/npm/cli/issues/1845#issuecomment-702375483) there is a workaround until this is fixed in npm@7:

[code]

[2020-10-06 05:56] sdancer75 commented on #1240
Hi,

Today I met the same problem.

Running the following docker script

`RUN npm install` or `npm uninstall npm -g`

I got the following errors.

[code]

here are my registry and proxy settings.

[code]
I added to my script the following commands but nothing changed.

[code]

@debopamgupta Yes I am connected to the internet while doing npm install that maybe the is also an older version already i

[2020-10-06 06:15] PaulVrugt commented on #1800
@nlf I've updated to RC2 and I'm afraid the issue remains, just as with @leandro-manifesto

[2020-10-06 10:13] fabb opened #1904 "[BUG] npm 7 workspace package script execution"
### Current Behavior:

Given a package with several workspaces, `npm install` installs all packages of the root and of the workspace packages to the root `node_modules`. Unlike yarn, no dependencies of the workspace packages are installed into the respective workspace package `node_modules`. That means, it is not possible to directly execute scripts when the current working directory is a subpacka

[2020-10-06 14:22] darcyclarke commented on #1746
Assigning to @nlf as I believe this is related to https://github.com/npm/cli/issues/1845

[2020-10-06 17:36] isaacs commented on #1700
@lumaxis Can you please try with the latest `npm@next-7`?  I believe we fixed this on one of the recent RC releases.

[2020-10-06 18:24] davidmurdoch opened #1905 "[BUG] `npm ci` doesn't run `postinstall` script"
### Current Behavior:
`npm ci` doesn't run the `postinstall` script

### Expected Behavior:
`npm ci` should run the `postinstall` script

### Steps To Reproduce:
1. create a new folder and put the following minimal package.json in it:

[code]

2. run `npm install`
3. run `npm ci`
4. notice how `npm ci` DOES NOT run the `postinstall` script

### Environment:
ex.
- OS: Kubuntu 20.04
- Node: 14.13.0

[2020-10-06 18:41] #1784 closed, assigned to ruyadorno

[2020-10-06 19:00] ruyadorno commented on #1784
Thanks for reporting this @Coridyn @lazharichir @gcangussu 👍 it should be fixed now in the latest RC: `v7.0.0-rc.3`

As usual you can get it with `npm i -g npm@next-7`

Please let us know if you run into any more problems and thanks again for the help 😊

[2020-10-06 19:41] lumaxis commented on #1700
@isaacs Unfortunately still getting the same error with `7.0.0-rc.3` 😕

[2020-10-06 19:50] ruyadorno commented on #1745
hi @billyjanitsch thanks for the report! This should have been fixed in `v7.0.0-beta.12`

Let us know if you run into new problems and thanks again for the help! 😄

[2020-10-06 19:50] #1745 closed, assigned to nobody

[2020-10-06 19:59] ruyadorno commented on #1832
hi @joewood thanks for the report! I tested your reproduction steps and can confirm it was broken in `v7.0.0-beta.11` and it's now fixed on `v7.0.0-rc.3` (latest `next-7` release at the time of this comment).

Let us know in case you run into any new issues and thanks again for the help 😄

[2020-10-06 21:45] bonkydog commented on #1800
Hello, @jayphelps. I'd like to pair with you on diagnosing this problem.  Is there a convenient time for you tomorrow (Wed, Oct 7) ? (Please include time zone.)

[2020-10-07 00:01] ericandrewlewis opened #1909 "[Docs] Update package docs don't describe how to update over major versions"
Hello! It's my first time contributing to this repo. Thanks for npm!

I was trying to update a dependency over major versions recently. I found this page ["Updating packages downloaded from the registry](https://docs.npmjs.com/updating-packages-downloaded-from-the-registry)" in the NPM docs which describes how to update to the latest stable within a major version range.

The docs don't specify how

[2020-10-07 00:38] joaoleite1998 opened #1910 "cb() never called on npm install"
(base) Joaos-MacBook-Air:client joaoleite$ npm install
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/joaoleite/.npm/_logs/2020-10-07T00_38_52_364Z-debug.log
(base) Joaos-MacBook-Air:client joaoleite$

[2020-10-07 02:07] josh-hemphill commented on #1109
So now it outputs everything to stdout, but still returns code 1, preventing a sub-process in node from being able to parse the result.

[2020-10-07 05:01] PaulVrugt commented on #1800
@bonkydog jayphelps stated that his problem went away with rc2

[2020-10-07 05:54] brightchip commented on #681
I had to upgrade my Ubuntu server from 18 to 20 to make it work

[2020-10-07 08:27] voxik opened #1912 "[BUG] Please clarify test/fixtures/third-party.md"
I would appreciate if the test/fixtures/third-party.md, which was introduced by 5e75850bc6258080de4e6c9cb5add378c2b9581f provided more context about the license. Because it is not clear to me what the license actually applies to. Looking at the content of scoped-underscore-1.3.1.tgz it contains completely different license. So I wonder what is actually covered by the third-party.md. Why the file w

[2020-10-07 08:57] Kelvur opened #1913 "[BUG] npm show fails if keywords is a string"
### Current Behavior:
When I execute `npm show ${package}` the output is

[code]

### Expected Behavior:

Npm should print the ${package} information, even if keyworks has a incorrect type

### Steps To Reproduce:

1. Go to a proyect where the package.keywords is a string, Ejem:

[code]

2. Publish that package
3. Execute `npm show ${package}`
4. See error

[code]

This is part of the log
[code]

[2020-10-07 09:02] gameplayer9000pgithub opened #1914 "firebase deploy"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-10-07 09:03] gameplayer9000pgithub commented on #1914
Bsh

[2020-10-07 11:26] lewsea opened #1916 "npm ERR! cb() never called!"
I want to install create-react-app but bump along with this bug, i have tried many solutions/articles and in stack overflow like, cache verify, cache cleaning, and many stuffs but still making this error, any help for this problem ?

![ScreenShot_20201007184846](https://user-images.githubusercontent.com/55370617/95327385-8b6afc00-08d6-11eb-8460-b591c394fc11.png)

[2020-10-07T11_11_07_015Z-debug.lo

[2020-10-07 12:39] lewsea commented on #1720
how ?

[2020-10-07 12:41] lewsea commented on #1805
hahahahHAHAHAHAHAHAHA after getting frustrated finding solution for hours, i finally have some laugh because of this comment

[2020-10-07 12:46] lewsea commented on #1014
how did you turn off the AVG internet security?

[2020-10-07 13:02] DennisvHest opened #1917 "[BUG] Executing npm view with readme field not outputting a readme for certain packages with a readme"
### Current Behavior:
Running `npm view [package name] readme` for certain pacackages that have a readme, does not output the readme, even though these packages do have a readme. For example `npm view bootstrap readme` or `npm view less readme`. Both of these packages have a readme: [bootstrap](https://www.npmjs.com/package/bootstrap), [less](https://www.npmjs.com/package/less).

### Expected Beha

[2020-10-07 14:53] lux01 opened #1918 "[BUG] "Maximum call stack size exceeded" error when a dependency of a circular dependency package could not be installed"
### Current Behavior:
When installing a package which includes packages with circular dependencies and a normal dependency of one of the circular dependencies could not be installed, `npm ERR! Maximum call stack size exceeded` is shown and no other diagnostics are reported.

For example consider the following tree:

[code]

If `missing-lib` could not be installed, for example the `npm-shrinkwrap.j

[2020-10-07 16:03] jsg2021 opened #1920 "[BUG] Workspace install hangs on invalid inter-dependent packages"
### Current Behavior:
npm install hangs

### Expected Behavior:
Either install without hang, or inform user there is a loop in the graph?

### Steps To Reproduce:
With a workspace defined have two packages depend on each other. In my case, the version spec points to github repos without a hash/fragment. then run npm install on the workspace. Log level silly reveals the looping.

### Environment:
-

[2020-10-07 16:44] jsg2021 commented on #1920
Similar to #1843 but different trigger

[2020-10-07 18:00] bonkydog commented on #1800
@PaulVrugt Would it be possible to share the tarball and and package.json files downloaded for the packages being reported as corrupt? This might help us figure out what is going on.

[2020-10-07 18:04] PaulVrugt commented on #1800
It's night time here now. I'm at gmt+2. I'll take a look in the morning at what I can share

[2020-10-07 18:05] quenbyako commented on #681
Holy crap, this issue still not closed??? After 10 months and 2 posts about fixing it??

No way.

@HotGreenPeas it's time to close. I can even make PR to edit docs with this problem fixing step by step.

[2020-10-07 18:07] bonkydog commented on #1800
OK, thanks!

[2020-10-07 18:20] #681 closed, assigned to nobody

[2020-10-07 19:39] stevenroussey-privicy opened #1921 "npm install fails with EINVALIDTAGNAME, but npm ci does not"
### Current Behavior:
npm install or npm remove fails

[code]

### Expected Behavior:
`npm install ...` or `npm remove ...` to not fail. BTW: `npm ci` does not fail, but a `npm i` after will.

### Steps To Reproduce:
`npm i`

### Environment:
[code]

[2020-10-07 19:48] stevenroussey-privicy commented on #1921
The full error is too long to post here.

Also, I tried these steps with same error:
[code]

[2020-10-07 19:50] stevenroussey-privicy commented on #1921
package.json
[code]

[2020-10-07 20:03] celesteking opened #1922 "a couple of issues"
Hi. there are a couple of issues I'm facing.
~~1. npm.community doesn't resolve when using bind recursor. Either you fail dnssec or have cname @ apex. Either way, you should fix it.~~
2. lack of docs. I wanted to try npm v7 because v6 can't cope with symlinked deps (file: handler) . I 've installed it, but I don't see the docs. `npm ls --help` gives 0 help. This is wrong in UNIX world. Compare to

[2020-10-07 20:15] ljharb commented on #1921
Where in your lockfile is `pako` mentioned?

[2020-10-07 20:24] celesteking commented on #1922
1. solved because it's been archived / unusable.

[2020-10-07 20:45] stevenroussey-privicy commented on #1921
[code]

Yeah, I see it now.  Not sure how that happened.

[2020-10-07 20:51] stevenroussey-privicy commented on #1921
I decided to just blow away the lock file and `npm i`. So the line was changed from

[code]

to

[code]

[2020-10-07 21:04] stevenroussey-privicy commented on #1921
So, while trying to figure out why `npm audit` fails for me, I decided to remove private dependencies that are on github by removing the lines in the `package.json` file and doing a `npm i` to basically remove them. It did more than that though... it changed the line back to `"pako": "pako@1.0.3"`. :/

[2020-10-07 21:07] stevenroussey-privicy commented on #1921
Oh damn, not even that complicated. I run `npm i` a second time and it changes it to the broken state.

[2020-10-07 21:19] stevenroussey-privicy commented on #1921
I came across a fix: I went back and cleared the cache, removed node_modules, and removed the lock file. Then I did a `npm i`, which by the way created a very different lock file -- the diff looks like it is completely changed. I did another `npm i` and while it said it removed 16 packages, nothing was changed in the lock file. Also, no bug. So I did it again, and no bug.

So searching through thi

[2020-10-07 21:27] stevenroussey-privicy commented on #1921
Haha... guess what package it is that breaks `npm audit`... kdbxweb=1.6.0

[2020-10-07 22:09] RoystonS opened #1923 "[BUG] npm install in a workspaces environment requires admin permissions on Windows"
### Current Behavior:

`npm install` in a workspaces environment fails if the current user is not running under administrator privileges because directory symlinks can't be created on Windows without admin privilege (or some rather non-standard configuration)

### Expected Behavior:

`npm install` would ideally 'just work' on Windows, which could be done by using Windows  'junctions' instead of di

[2020-10-07 23:21] TomPridham opened #1924 "[BUG] `npm ci` Doesn't Error on Differences in package.json and package-lock.json"
### Current Behavior:

I deleted a package from our package.json and forgot to run `npm i` to update the lock file. Subsequent runs of our CI which uses `npm ci` to install deps didn't throw the expected error. Running `npm ci` locally also did not throw an error.

Running `npm ls` on the package does throw an error.

### Expected Behavior:

`npm ci` should throw an error if the lock file and pack

[2020-10-08 06:34] PaulVrugt commented on #1800
@bonkydog

I've attachted the tarball of one of the packages failing. Is this what you're looking for? I doubt the issue has something to do with the tarball itself, since all packages downloaded from azure artifacts seem to fail. I've also included the logfile of the install attempt

The exact error:

[code]

[testmonkey-integration-script-1.0.1.tgz.zip](https://github.com/npm/cli/files/5345720/t

[2020-10-08 06:53] simesy commented on #1035
If in fact you are using a user not an org, change your password seems to fix it.

[2020-10-08 07:23] dharmatv opened #1926 "CDN for private packages"
- OS: Ubuntu 18.04
- Node: v10.15.3
- npm: 6.14.8

How to serve CDN for Private packages.
Is there any possibilities to get this
Please help me, anyone, out of this

[2020-10-08 12:01] Elijen commented on #558
Using `npm install --no-optional` does not work as a workaround.

moment is marked as optional in `package-lock.json`:

[code]

When I remove moment from node_modules `npm i` will put it back:

`rm -rf node_modules/moment`
`npm install --no-optional`

[code]

[2020-10-08 14:55] paulirwin commented on #558
@Elijen I don't believe that is the same issue as this thread is about, which is OS targets for packages. You may want to file a separate issue if one does not already exist.

[2020-10-08 16:34] bonkydog commented on #1800
Thanks, Paul!

[2020-10-08 16:48] jayphelps commented on #1800
Still want to pair? My problem did go away for what ever reason.

[2020-10-08 17:29] darcyclarke commented on #1926
Hey @dharmatv. I'm sorry you're having issues. Please use our BUG template & fill out the fields for your current & expected experience so that we can properly help you. Unfortunately, based on the information provided, I can't properly help triage this bug, so I'll be closing this for now. Please feel free to open a new issue with more information if you think you've found a problem with the npm

[2020-10-08 17:29] #1926 closed, assigned to nobody

[2020-10-08 20:08] darcyclarke commented on #1922
Hey @celesteking! Thanks for filing this & I'm sorry for the confusion - We're currently cleaning up the npm v7 docs. We had a note about this in our initial beta/rc release's [CHANGELOG.md](https://github.com/npm/cli/blob/release/v7.0.0/CHANGELOG.md#docs). We should have a more up-to-date version of our docs shipped early next week (although it won't be 100% clean, it will be MUCH more accurate &

[2020-10-08 20:08] #1922 closed, assigned to nobody

[2020-10-08 21:47] darcyclarke commented on #1905
I think this is functioning as intended or at least the same as npm `v6` & doesn't look like a bug but probably is very confusing.

The `preinstall`, `install` & `postinstall` scripts are actually lifecycle events that are triggered when a package itself is being installed into another project or as a dependency. That said, you *can* trigger these scripts manually using `npm run`.

If you want to

[2020-10-08 22:47] davidmurdoch commented on #1905
This is not how npm 6 works.

npm 6:

![image](https://user-images.githubusercontent.com/187813/95520791-1101b100-0996-11eb-9f56-f4f6aaf45d89.png)

npm 7:

![image](https://user-images.githubusercontent.com/187813/95521040-971df780-0996-11eb-9b3c-4f19e3d9145f.png)

[2020-10-08 23:48] devdev606 opened #1929 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-10-09 01:59] Ibrokhimbek opened #1930 "[ERROR] Installation fails"
**When I type "npm install mocha --save" on terminal below given problem is appearing**:

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@~2.1.2 (node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@2.1.3: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})

npm ERR! Unexpected end of JSON inpu

[2020-10-09 02:32] ToriEl-2640 opened #1931 "[BUG] <title>npm ERR!"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-10-09 02:58] devdev606 opened #1932 "[BUG] <v7.x>"

[2020-10-09 03:01] devdev606 commented on #1904
https://github.com/npm/cli/issues/1904#issue-715534748

[2020-10-09 05:26] #1932 closed

[2020-10-09 05:26] #1931 closed, assigned to nobody

[2020-10-09 05:26] #1929 closed

[2020-10-09 05:29] darcyclarke commented on #1930
If you can, please share your debug log so we can try to help you.

[2020-10-09 05:31] darcyclarke commented on #1912
/cc @isaacs

[2020-10-09 05:32] darcyclarke commented on #1910
Closing: Please use one of our bug templates.

[2020-10-09 05:32] #1910 closed, assigned to nobody

[2020-10-09 05:54] darcyclarke commented on #1909
Hey @ericandrewlewis! Thanks for reaching out. Unfortunately, the docs you referenced aren't open source at the moment but should be soon. They're also getting a bit of a refresh so keep a watch out in the weeks/month to come.

In terms of your change in reference to "Updating packages downloaded from the registry", [`npm update`](https://docs.npmjs.com/cli/update) will actually satisfy whatever t

[2020-10-09 05:54] mohemos commented on #1916
I also encountered the same error on:
Node v14 and v12 alpine on docker
NPM v6.14.8

[2020-10-09 05:54] #1909 closed, assigned to nobody

[2020-10-09 05:57] #1914 closed, assigned to nobody

[2020-10-09 06:01] darcyclarke commented on #1855
Closing: Please use our bug report template & reopen if you think you've found an issue in the CLI.

[2020-10-09 06:01] #1855 closed, assigned to nobody

[2020-10-09 06:04] darcyclarke commented on #1844
In a new folder, try running `npm init --yes` & then `npm install` with whatever package you'd like to install. If you're still seeing issues, try running `npm -v` to output the version of npm you're using. If you're still having problems then, I would head to https://nodejs.org/en/ & try reinstalling `node` which comes with `npm` by default. Once installed, I'd try the process of creating a new p

[2020-10-09 06:04] #1844 closed, assigned to nobody

[2020-10-09 06:07] darcyclarke commented on #1804
If you're having issues with the website or registry, please file a ticket with support at https://npmjs.com/support or https://twitter.com/npm_support You can also see the current status of those properties at: https://status.npmjs.org

[2020-10-09 06:07] #1804 closed, assigned to nobody

[2020-10-09 06:08] darcyclarke commented on #1793
Closing: please use one of our bug templates and provide as much detail about your issue as possible.

[2020-10-09 06:08] #1793 closed, assigned to nobody

[2020-10-09 06:10] darcyclarke commented on #1790
If you're having issues with the website and/or the registry, the right place to submit a bug report or get help is by filing a ticket with support at https://npmjs.com/support

[2020-10-09 06:10] #1790 closed, assigned to nobody

[2020-10-09 06:16] #1789 closed, assigned to nobody

[2020-10-09 06:17] darcyclarke commented on #1759
Closing: we don't do support for specific npm packages.

[2020-10-09 06:17] #1759 closed, assigned to nobody

[2020-10-09 06:18] darcyclarke commented on #1730
Closing: please try to update your version of node & npm (ref. you can install the latest version of node here: https://nodejs.org which comes with the latest stable version of npm). We don't support any version of npm lower then `6@latest` currently

[2020-10-09 06:18] #1730 closed, assigned to nobody

[2020-10-09 06:31] darcyclarke commented on #1905
Hmm, looking into this a bit more, I know that we did want to quiet down installs & we did implement an RFC for that (ref. https://github.com/npm/rfcs/blob/latest/implemented/0022-quieter-install-scripts.md); But we should still be running those. I'll file this & see if we can get someone to dig in a bit more.

[2020-10-09 07:17] ljharb commented on #287
This is updated in npm 7 to v6 in https://github.com/npm/cli/commit/09dac89c1bc20eb2c1f1f272c9e07fc1a579d75a (and to node-gyp v7 in https://github.com/npm/cli/commit/b3a50d27501e47c61b52c3cc4de99ff4e4641efe)

[2020-10-09 07:17] #287 closed, assigned to nobody

[2020-10-09 07:17] ljharb commented on #714
Additionally, npm 7 will use node-gyp v7 (see https://github.com/npm/cli/issues/287#issuecomment-706015622).

[2020-10-09 07:17] #714 closed, assigned to nobody

[2020-10-09 07:20] ljharb commented on #507
This seems to be an issue with libxmljs; you'll want to file it there.

[2020-10-09 07:20] #507 closed, assigned to nobody

[2020-10-09 07:28] #625 closed, assigned to nobody

[2020-10-09 07:28] #712 closed, assigned to nobody

[2020-10-09 07:28] ljharb commented on #708
Seems answered; can reopen if not.

[2020-10-09 07:29] #688 closed, assigned to nobody

[2020-10-09 07:29] #720 closed, assigned to nobody

[2020-10-09 07:29] #727 closed, assigned to nobody

[2020-10-09 07:30] ljharb commented on #747
If you're still interested in this, https://github.com/npm/rfcs is a better place to file it.

[2020-10-09 07:30] #747 closed, assigned to nobody

[2020-10-09 07:31] ljharb commented on #754
Closing pending further repro info.

[2020-10-09 07:31] #754 closed, assigned to nobody

[2020-10-09 07:31] #756 closed, assigned to nobody

[2020-10-09 07:31] #770 closed, assigned to nobody

[2020-10-09 07:31] #778 closed, assigned to nobody

[2020-10-09 07:33] guidobouman commented on #558
Oh, and by the way, `fsevents` does not have this issue anymore since May 5th:
https://github.com/fsevents/fsevents/issues/301

[2020-10-09 08:28] bytehealer opened #1933 "a tempnodejsnpm folder is created whenever i install any dependencies"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-10-09 12:16] guidobouman commented on #558
@isaacs Did this land in `npm@7`?

[2020-10-09 13:15] Makoehle opened #1934 "error Package "myPackage" refers to a non-existing file '"myPath/myPackage"'."
### Current Behavior:
If I use `yarn install --silent` having a package.json with `optionalDependencies` and a local file path dependency leads to an error during the installation.

### Expected Behavior:
NPM ignores the path not found and continues the installation

### Steps To Reproduce:
[code]

### Environment:
- OS: Windows 10 with Docker installed
- Node: node:12.18.4-stretch-slim
- npm: 6.1

[2020-10-09 13:49] Makoehle commented on #1934
With `npm install` it works fine the problem is related to the `yarn cli`.

[2020-10-09 13:49] #1934 closed, assigned to nobody

[2020-10-09 15:00] BethGriggs opened #1935 "[BUG] npx behavior in CI environments"
This isn't really a bug, but raising it to discuss the potential impact of changes to `npx` in CI environments.

### Current Behavior:

[code]

`npx -y mocha` works to get the automatic install behaviour, but that would require users to update their CI scripts.

Also, `npx -y mocha` errors in npm@6 with:

[code]

I think that would complicate the logic required in CI scripts when running across mu

[2020-10-09 15:59] wesleytodd commented on #1935
@ruyadorno mentioned in the slack conversation that this was an intentional breaking change, could someone link to the context for that decision?

[2020-10-09 16:00] ruyadorno commented on #1935
hi @BethGriggs thanks for letting us know 😄

It's worth mentioning that for non-interactive terminals we are going to patch (ref #1936) `npx` to only WARN instead of throwing so any combination of Unix pipelines would also avoid the prompt/confirmation:

- `npx mocha < /dev/null`

[2020-10-09 16:26] ruyadorno commented on #1935
as also mentioned in the slack channel: `npm_config_yes=true npx mocha` is the working npm6-7 compat version of it

[2020-10-09 16:29] marcusds opened #1937 "[BUG] npm 7.x ignores publishConfig.registry"
### Current Behavior:
`npm publish` does not follow `publishConfig.registry`, if registry is `.npmrc` it will try to publish to that, if not npm.org.

### Expected Behavior:
`npm publish` publish to defined `publishConfig.registry` as it did in 6.x.

### Steps To Reproduce:
* Install npm@latest-7
* Set `publishConfig.registry` IE: `"publishConfig": { "registry": "https://..." }`
* Run `npm publish

[2020-10-09 16:50] Elijen commented on #558
@paulirwin Maybe you are right. I saw multiple issues and forum posts created about the issue I mentioned and assumed this one is just a downstream issue caused by it.

[2020-10-09 17:39] #1883 closed, assigned to ruyadorno

[2020-10-09 20:20] nlf commented on #1746
@billyjanitsch this should be fixed in v7.0.0-rc.4, if you're able would you try updating to that version with `npm i -g npm@next-7` and see if your issue is resolved?

[2020-10-09 20:21] nlf commented on #1834
we published v7.0.0-rc.4 today that resolves this

[2020-10-09 20:21] #1834 closed, assigned to nlf

[2020-10-09 20:23] nlf commented on #1845
we published v7.0.0-rc.4 today that restores the old behavior of `npx` with regards to already installed scripts and should resolve these issues.

you can update with `npm i -g npm@next-7` and let us know how it goes!

[2020-10-09 20:27] nlf commented on #1935
we published 7.0.0-rc.4 today that skips the prompt, but prints a warning, when run in a non-interactive environment. that way you're still alerted that something is being installed but we do not break in CI environments.

for interactive environments the above workaround should do the trick.

can you let us know if this resolves your issue @BethGriggs?

[2020-10-09 20:30] nlf commented on #1800
we published v7.0.0-rc.4 today that i believe will resolve this.

you can update with `npm i -g npm@next-7` and please let us know how it goes.

i suspect at least some of you are going to get different errors now, but they'll be a better indicator about what's actually going wrong!

[2020-10-09 20:39] PaulVrugt commented on #1800
Cool! I'll give it a go and let you know the results

[2020-10-09 20:42] jrcity commented on #1916
I have similar issue while trying to use create-react-app.
node v14.13.1
npm v6.14.8

is there a possible fix for this error.
![npm error create-react-app](https://user-images.githubusercontent.com/59825368/95629527-00c20280-0a78-11eb-993c-d339d9d05069.PNG)

[2020-10-09 20:46] leandro-manifesto commented on #1800
Hey, tested with `7.0.0-rc.4`, and now I'm getting 404 when fetching the tarball (the other requests are ok).

I'm just not sure if Gemfury is rejecting the authorization or if it really is a bad url.

[2020-10-09 20:59] nlf commented on #1800
If you `curl` the url (or try to fetch it with a browser) does it work? If so, it sounds like an issue with authentication

[2020-10-10 03:15] gengjiawen commented on #1916
Also in `7.0.0-rc.3` see https://github.com/nodejs/node-addon-examples/runs/1233932860.
Can reproduce 100%

[2020-10-10 03:18] gengjiawen commented on #1935
[code]

[2020-10-10 07:27] detj commented on #1904
Link to the workspaces RFC is https://github.com/npm/rfcs/blob/latest/implemented/0026-workspaces.md

[2020-10-10 07:48] detj commented on #1904
I had a question related to the npm7 workspaces feature. If I had to install a package only to a specific workspace, what is the npm command to do that. Yarn and Lerna both support this.

Assume the following workspaces.

[code]

[code]

[Yarn](https://classic.yarnpkg.com/en/docs/cli/workspace)

[code]

[Lerna](https://github.com/lerna/lerna/tree/master/commands/add)

lerna add supports lerna's [f

[2020-10-10 09:15] detj commented on #1916
Can confirm that this worked for following environment.

Commands executed
[code]

Environment details
[code]

[2020-10-10 11:42] detj commented on #1904
A question. Does npm workspaces, [like yarn](https://classic.yarnpkg.com/en/docs/workspaces#toc-how-to-use-it), also require the root package to have `"private": true`? The documentation should include information around this.

[2020-10-10 13:16] vanrobert opened #1940 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-10-10 13:49] BethGriggs commented on #1935
I think the concern has been addressed to reduce the impact in CI environments, thanks!

[2020-10-10 16:47] clarifaiprasanna opened #1941 "[BUG] npm ci does not respect the resolved url in package-lock.json"
### Current Behavior:

`$ npm ci` does not respect the "resolved" url mentioned in package-lock.json file.

Let us assume that this is an entry under `package-lock.json` file:
[code]

Then if we run `$ npm ci` then npm automatically tries to fetch `demopackage ` from the npm registry. This is a major issue when we try installing packages from multiple registries like github, verdaccio, aws, etc.

[2020-10-10 17:51] joewood commented on #1832
That fixed it, thanks!

[2020-10-10 18:09] jsg2021 commented on #1920
I managed to get out of this state and I haven't been able to create a minimal reproduction.

There were a few packages that depended on one another and wouldn't install (npm 6) so to make them install we added a "self" dev dep. `"packageName": "file://."` to the two troubled packages. The version ranges in this workspaces use bare git refs for the private packages. We've since fixed the graph to

[2020-10-10 18:09] #1920 closed, assigned to nobody

[2020-10-10 19:37] jsg2021 opened #1942 "[BUG] npm7 workspaces, dependencies specified as git are not properly linked"
### Current Behavior:
git-dependencies do not get deduped in workspaces. ex:
[code]

### Expected Behavior:
git-dependencies in the workspace get deduped/linked
ex:
[code]

### Steps To Reproduce:
Clone https://github.com/jsg2021/npm7-workspace-test
Install

### Environment:
- OS: Fedora 32
- Node: 14.13.0
- npm: 7.0.0-rc.4

[2020-10-10 20:02] GouravBhowmick opened #1943 "Installing “atom-ide-terminal@5.0.1” failed."
npm ERR! cb() never called!

Installing atom ide terminal failed

[2020-10-11 07:19] SwapCursor opened #1944 "[BUG] Strange non user friendly behavior controlled by the package itself"
I created an throughout issue for this at [stackoverflow](https://stackoverflow.com/questions/64298287/npm-install-go-nuts-in-this-vscode-project-please-advice/64301464#64301464)

### Expected Behavior:
When installing using NPM install on a Reactjs project errors should be user-friendly and easy to spot.

### Steps To Reproduce:
Here is a [link](https://docs.google.com/document/d/16C9_rpYP17INZEO

[2020-10-11 07:33] abdonrd commented on #1247
Any news?

[2020-10-11 07:57] sh178 commented on #1191
how to upgrade?? which commands did u use?

[2020-10-11 07:59] sh178 commented on #1191
Installing packages...npm WARN deprecated tslint@6.1.3: TSLint has been deprecated in favor of ESLint. Please see https://github.com/palantir/tslint/issues/4534 for more information.
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated chokidar@2.1.8: Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15

[2020-10-11 12:40] RemyRylan commented on #1247
@abdonrd there is a PR here that is not yet merged: https://github.com/npm/cli/pull/1822

[2020-10-11 16:07] sh178 commented on #1191
yeah same, if you get plz tell me also

[2020-10-11 17:23] rafgraph opened #1945 "[BUG] Install goes into an infinite loop when there's a peer dependency conflict"
### Current Behavior:
`npm i --save-dev microbundle` freezes (infinite loop) at:
`⸨      ░░░░░░░░░░░░⸩ ⠧ idealTree:@rollup/plugin-json: timing idealTree:node_mod`

This is probably related to this `microbundle` peer dependency issue, https://github.com/developit/microbundle/issues/733, but npm should error not freeze.

Note that the freeze is flaky, in some of my repos it freezes and some it error

[2020-10-11 17:55] rafgraph commented on #1834
Thanks @nlf, however I'm still getting the same result with `husky`, the hooks aren't setup when running install. Maybe there is another suppressed error? I tried `npm i --save-dev husky --loglevel silly` but nothing unusual shows up, is there another command that I can use to see all the output like v6?

[2020-10-11 20:07] jsg2021 commented on #1945
use `--loglevel silly`  ... it's probably in an infinite loop

[2020-10-11 20:42] #1940 closed, assigned to nobody

[2020-10-11 20:43] #1933 closed, assigned to nobody

[2020-10-11 21:11] rafgraph commented on #1945
Yup it's an infinite loop

[2020-10-11 21:23] rafgraph commented on #1945
[code]

[2020-10-12 02:17] rafgraph opened #1946 "[BUG] npm unlink breaking change intentional?"
### Current Behavior:
In a package directory where `npm link` has been run (to link the package in global `node_modules`), running `npm unlink` gives the error `must provide a package name to remove`. In v6 running `npm unlink` in this situation would remove the link to the package in global `node_modules`. In v7 I can run `npm unlink -g <package-name>` to remove the link in global `node_modules`

[2020-10-12 03:27] rafgraph opened #1947 "[BUG] trap 'exit 0' SIGINT doesn't work in npm scripts"
### Current Behavior:
`trap 'exit 0' SIGINT` in an npm script doesn't seem work. I use this to preform clean up after exiting running `watch` scripts with `ctrl c` (maybe there's a better way to do this?).
[code]
In npm v6, `npm run dev` links the package to global `node_modules`, then runs the watch script which watches for changes and re-compiles, when I'm done I `ctrl c`, the watch script stops

[2020-10-12 07:48] valick123 opened #1948 "Error: EPERM: operation not permitted"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2020-10-12 08:46] lewsea commented on #1916
man i just wanted to code and have a job..... now my computer is broken because of this problem ,probably because of all the things ive done/downloaded etc. lol

[2020-10-12 10:59] KilianKilmister commented on #1681
@ruyadorno  Apologies on the late reply, I've been having way too much on my plate. While i did read it just after i got the notification, writing the reply got drowned out by other things.

I did update npm right after you posted the reply and it works as advertised.
I've been using the beta as my main npm-client (updating at each prerelease) since it was opened and i must say i'm very happy with

[2020-10-12 10:59] csvn commented on #1845
Thanks @nlf! I can verify that my Husky hooks now works again, same as with npm v6.

[2020-10-12 10:59] #1845 closed, assigned to nlf

[2020-10-12 14:27] nlf commented on #1935
closing since the original issue is resolved.

@gengjiawen if you're able to reproduce the problem you had updating, please do open another issue and we can discuss it there

[2020-10-12 14:45] PaulVrugt commented on #1800
@nlf It seems indeed to be an authentication issue. We get a 401 response while trying to download packages from our private registry. We use the `vsts-npm-auth` package to authenticate, but it seems not to work with npm 7. Is this an issue with npm 7 or `vsts-npm-auth`?

the documentation in Azure devops states:
Add a .npmrc to your project, in the same directory as your package.json
[code]

Then

[2020-10-12 14:54] nlf commented on #1800
I'm not familiar with that package at all, and I'm unable to find any code that I could review, so I'm not sure.

Do you know if there are implementation details documented anywhere? How does it modify the `.npmrc` file when you run it? Can you share the `.npmrc` file? Please be sure to remove any auth tokens first.

[2020-10-12 15:02] PaulVrugt commented on #1800
I can't find any information about it either. I'll post a topic in the microsoft github about it and link it here. The `.npmrc` doesn't get modified, it simply contains the url to the registry where it should get the packages.

[2020-10-12 15:05] nlf commented on #1800
It doesn't add a line like `//pkgs.dev.azure.com/:_authToken=YOURTOKENHERE`?

If not, and it's not doing something like replacing the registry url with a proxy that performs the authentication for you, then it's likely the auth is failing because we're not able to figure out how to actually do the authentication because it's not configured anywhere.

I think following up with that team is the righ

[2020-10-12 15:07] PaulVrugt commented on #1800
Microsoft issue:
https://github.com/microsoft/azure-pipelines-tasks/issues/13697

[2020-10-12 15:11] PaulVrugt commented on #1800
No it doesn't add anything to the `.npmrc` file, so it probably hooks in somewhere else. I've reverted to npm6, and then the authentication is working as expected, and still no change to the `.npmrc` file. As you can see, I logged an issue with microsoft. Let's see what they come up with

**Edit:**
As stated in the post below, it DOES make changes to the `.npmrc`, but only to the `.npmrc` file in

[2020-10-12 17:58] nlf commented on #1943
This is not enough information. Can you please open a new issue using one of our issue templates and be sure to fill in as much information as you can?

[2020-10-12 17:58] #1943 closed, assigned to nobody