[2021-04-23 15:20] #3131 closed, assigned to nobody

[2021-04-23 15:23] glen-84 opened #3134 "[BUG] No auth for URI, but auth present for scoped registry"
### Current Behavior:

Getting:

`.npmrc:`

[code]

I read [the wiki page](https://github.com/npm/cli/wiki/No-auth-for-URI,-but-auth-present-for-scoped-registry), but I think that the tarballs are on the same host (`https://gitlab.com`). This is working with npm 7.10.0.

### Expected Behavior:

No errors – auth should be available on the same host.

### Steps To Reproduce:

Use the GitLab private

[2021-04-23 15:46] ZelphirKaltstahl commented on #477
@ljharb With NPM `7.10.0` it seems to work. I just updated the default NodeJS I use with NVM to `default -> stable (-> v16.0.0)` which means using NPM `7.10.0`. Seems like it became the new stable very recently.

For reference the exact command I used is:

[code]

Inside the project's directory of course.

(Note: I did not check, whether it installed more than only the dev dependencies.)

[2021-04-23 15:46] ljharb commented on #3124
The error suggests a permissions issue in `/opt/atlassian/pipelines/agent/build/`. Can you confirm that user has full ownership of that directory?

[2021-04-23 16:28] #3132 closed, assigned to nobody

[2021-04-23 16:39] nlf commented on #3134
the error does not indicate that the host is different, but that the source of the data does not match your registry. it means that unless the uri to the tarball exists at some path that starts with `https://gitlab.com/api/v4/packages/npm/` then we do not send authentication to it.

this is an effort to avoid sending authentication headers to addresses unless we are absolutely certain they match y

[2021-04-23 16:45] wraithgar commented on #3130
Under the hood npm is supposed to take that `_auth` entry and apply it only to your default registry. We'll look into why this isn't happening but for now I believe you can get things working by specifying the authToken specifically a la

[code]

[2021-04-23 16:55] wraithgar commented on #3128
This does not appear to be an npm bug, but something related to https-proxy-agent.  This issue may be related https://github.com/TooTallNate/node-https-proxy-agent/issues/92

[2021-04-23 16:55] #3128 closed, assigned to nobody

[2021-04-23 16:56] #3129 closed, assigned to nobody

[2021-04-23 16:56] #3124 closed, assigned to nobody

[2021-04-23 16:57] wraithgar commented on #3124
Please follow the issue template when creating issues

[2021-04-23 16:57] wraithgar commented on #3129
Please follow the issue template when creating issues

[2021-04-23 16:57] wraithgar commented on #3122
Please follow the issue template when creating issues

[2021-04-23 16:57] #3122 closed, assigned to nobody

[2021-04-23 16:57] wraithgar commented on #3121
Please follow the issue template when creating issues

[2021-04-23 16:57] #3121 closed, assigned to nobody

[2021-04-23 16:57] #3120 closed, assigned to nobody

[2021-04-23 16:57] wraithgar commented on #3120
Please follow the issue template when creating issues

[2021-04-23 16:58] wraithgar commented on #3117
Please follow the issue template when creating issues

[2021-04-23 16:58] #3117 closed

[2021-04-23 16:59] wraithgar commented on #3116
This is currently being discussed in our RFC repo https://github.com/npm/rfcs/issues/325

[2021-04-23 16:59] #3116 closed, assigned to nobody

[2021-04-23 17:02] wraithgar commented on #3114
Please use the issue template when making issues

[2021-04-23 17:02] #3114 closed, assigned to nobody

[2021-04-23 17:03] isaacs commented on #3130
It might have to be:
[code]

if it's a base64-encoded username:password pair for basic auth (which the error and your initial .npmrc file seem to be indicating).

[2021-04-23 17:04] isaacs commented on #3130
It might have to be:
[code]

if it's a base64-encoded username:password pair for basic auth (which the error and your initial .npmrc file seem to be indicating).

[2021-04-23 17:29] yvon-dblg commented on #3130
Thanks @isaacs you're tips works.

[2021-04-23 17:37] glen-84 commented on #3134
Ah, I see. There are a few references to `host` in that wiki article, so I was misdirected.

The URL is: `https://gitlab.com/api/v4/projects/{projectId}/packages/npm/@x...`.

So I guess I need to add:

[code]

Please consider listing such breaking changes in a separate section of the changelog. The item under `DEPENDENCIES` is not very noticeable. 🙂

Thanks.

[2021-04-23 17:40] glen-84 commented on #3134
One question: Could you just use a common prefix instead, if the origin is the same?

f.e. `//gitlab.com/api/v4` covers both.

[2021-04-23 17:55] JaxonWright commented on #3134
I think this is the same as #3130

[2021-04-23 18:01] glen-84 commented on #3134
I saw that issue, and I don't think that it's the same.

[2021-04-23 18:02] koditio opened #3135 "[BUG] Pre-release version does not work with peer dependencies"
### Current Behavior:

Consider following dependency structure:
 * Package test1@1.0.0 with no dependencies
 * Package test2@1.0.0 with a peer dependency "test1@>=1.0.0"
 * Package test3 with dependencies: "test1@>=1.0.0" and "test2@>=1.0.0"
 This works fine, however if I publish a pre-release version of test1, let's say "1.0.1-rc.0" and update test3 to use that,
I get a "Could not resolve depende

[2021-04-23 18:10] cyberbiont commented on #2720
I am on npm 7.11.0 and problem with arguments passed in quotes is still here.
Not sure if this is directly related, but I cannot pass arguments to the executable that is called in the npm script.
For example
[code]
If I run `npm run tasks`, a list of gulp tasks is shown.
In contrast, executing `npm run g -- --tasks` directly from the command line (that I believe in this case should invoke gulp wit

[2021-04-23 18:18] wraithgar commented on #2720
@cyberbiont please open a new issue for this, as this was specifically a windows wrapping bug, and yours may be different in ways the issue template should show us.

[2021-04-23 18:18] #2720 closed, assigned to nobody

[2021-04-23 19:04] leepowelldev commented on #3130
Same issue here, but happening in Azure - pipeline have been failing all day with 7.11.0 release. We are suddenly facing lots of authentication errors in which 7.10.0 and earlier were fine.

[2021-04-23 19:13] cyberbiont opened #3136 "[BUG] Arguments are not correctly passed from CLI to npm script (npm 7, Windows, Powershell)"
### Environment:
- OS: Windows 10Pro 20H4
- Node: 16.0.0
- npm: 7.11.0

package.json:
[code]

`npm run help`    //  I get help about Git (as intended)
`npm run git -- --help`  from Powershell   // I get help about npm run-script

As far as I can tell, the problem exists only in Powershell on Windows.
cmd and Git Bash work as intended.
Bash and pwsh on Linux also work as intended.

The problem is n

[2021-04-23 19:59] glen-84 commented on #2664
@nlf Should this be closed? (42ca59eeedd3e402aa1c606941f7f52864e6039b)

[2021-04-23 20:18] leepowelldev commented on #3130
Tarball urls in our package-lock.json look like this:

[code]

However Azure dynamically generate these `.npmrc` config settings in our build pipeline to authenticate against the registry:
[code]
As you can see Azure uses the registry ID instead of it's name `my-registry-name`. Pre 7.11.0 this has never been an issue but could the 7.11.0 update of not sending auth details based on urls not matchin

[2021-04-23 20:20] isaacs opened #3137 "[BUG] `npm ls` reports missing optional peer deps as missing deps"
### Current Behavior:

Missing optional peer deps are reported as problems, even though npm does not install them by default.

### Expected Behavior:

Since these are all optional peer deps, they should not be reported as problems.

### Steps To Reproduce:
In the cli project right now:

[code]

Prints the following warnings:

[code]

### Environment:
npm 7.10.0

[2021-04-23 20:29] wraithgar commented on #3130
@leepowelldev  Are those the only two lines associated w/ your azure auth in your npmrc?

ETA: also can you add a separate `_authToken` line for your registry name url?

[2021-04-23 20:31] nlf commented on #2664
yes it should, thanks!

[2021-04-23 20:31] #2664 closed, assigned to nlf

[2021-04-23 20:53] leepowelldev commented on #3130
@wraithgar yes, we don’t commit any .npmrc file and Azure creates the auth credentials dynamically for us to authenticate against its registry.

[2021-04-23 21:34] Apollon77 commented on #3116
@wraithgar Are you sure it i the same? In the RFC it is only about preinstall and postinstall scripts ... We here talk about install script? If it is contained too then this is at least for me not cleasr in the rfc decription ...

... and if included then where was the rfc to "do not run install" and why it was removed because obviously it is working in npm6?

Can you please shed some light here?

[2021-04-23 21:51] isaacs commented on #3134
#3130 is two problems.  This is the same as one of them, but not the other ;)

Going to have a fix going out shortly.

[2021-04-23 21:56] ljharb opened #3138 "[BUG] ERESOLVE peer dep conflict reported when no conflict exists"
### Current Behavior:
in `eslint-plugin-react`'s repo, on master, i ran `npx npm@7 install --save-dev @types/eslint @types/node eslint-plugin-eslint-plugin@3 semver sinon typescript typescript-eslint-parser`.

I got https://gist.github.com/ljharb/dc643e6f094d5dfc912633a5e55637ab as output. Note:
[code]

### Expected Behavior:
It should have installed and saved these dev deps. `^7.0.0` is compatibl

[2021-04-23 22:46] #3130 closed, assigned to nobody

[2021-04-23 22:56] wraithgar commented on #3116
Yes it is part of the larger discussion around lifecycle scripts and when they run

[2021-04-24 01:58] ftzi commented on #2329
I am using npm 7.11.1. I still uses an outdated package of mine.

When using npx myPackage, it uses v1.2.2, using npx myPackage@latest, uses v1.2.4, as expected.

What the hell? I don't have it globally installed. I don't want to tell my users to append @latest when calling my command. **I** don't want to append @latest to my npx calls.

npx should always use the latest version of the package. Unl

[2021-04-24 02:00] ftzi commented on #2329
Maybe, leave the devs an option to allow or not for the package to be executed at older versions in package.json.

I chose a 3 letter name for my package to be easy to call. I really don't want to add @latest every time.

[2021-04-24 04:31] ljharb commented on #2329
As a user, I never want to install something I already have available. I would much rather type `@latest` every time then be forced to implicitly incur a download cost just because the author deigned to publish a new version.

If I wanted that, I'd `npm uninstall` the package, so that it *was* downloaded every time.

[2021-04-24 05:04] Malvineous opened #3141 "[BUG] Removed modules left behind in package-lock.json if they were installed from a local folder"
### Current Behavior:
Running `npm install ../localpkg && rpm remove localpkg` results in entries for `../localpkg` being left behind in `package-lock.json` even though the module has been completely removed.

### Expected Behavior:
In NPM 6.x (and in 7.x for non-local packages), their entries are removed from `package-lock.json` when a package is removed.  This behaviour should also apply to pack

[2021-04-24 05:11] ftzi commented on #2329
As a user, I like to use the latest versions by default because I don't really bother waiting 3-30s for a new version (that won't always happen) that may fix a breaking bug I don't know about and I may fall into it or add a cool new feature, and really dislike having to add @latest every single time because I don't know if I already have that package cached in a lower version.

For me, as an user,

[2021-04-24 06:03] jaysonwu991 commented on #708
When I update my `Node.js` to `v16.0.0` through `Homebrew` and use `pnpm update` command to upgrade packages, everything works fine, I think you guys can also try it.

[2021-04-24 06:07] totongcute opened #3142 "[BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-04-24 06:09] #3142 closed

[2021-04-24 06:37] leepowelldev commented on #3130
@isaacs - Can confirm this has fixed it for us, thank you very much for speedy fix :)

[2021-04-24 08:18] glen-84 commented on #3134
This appears to be fixed in `7.11.1`. Thanks.

[2021-04-24 08:18] #3134 closed, assigned to nobody

[2021-04-24 09:36] sidhu037 opened #3143 "[BUG] <title> error while running npm install -g @vue/cli on ubuntu 18.04"
WARN engine globby@11.0.3: wanted: {"node":">=10"} (current: {"node":"8.10.0","npm":"3.5.2"})
npm ERR! Linux 4.15.0-43-generic
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install" "-g" "@vue/cli"
npm ERR! node v8.10.0
npm ERR! npm  v3.5.2
npm ERR! code EMISSINGARG

npm ERR! typeerror Error: Missing required argument #1
npm ERR! typeerror     at andLogAndFinish (/usr/share/npm/lib/fetch-package-m

[2021-04-24 10:08] ath0mas commented on #3141
Same here.
(removing with `npm remove some-package-name` and not with its path, that does not remove it)

Comparing `package-lock.json` between _basic_ project without local package / never installed, and same but with this local package first installed and then removed shows a single difference, that is this entry for `"../some-package": {..}` left behind inside `"packages": {..}` section.

Betwe

[2021-04-24 11:15] priyankalxi commented on #3131
Thank you

[2021-04-24 13:08] thexeos commented on #2891
@simonbrunel on the same system from the initial report - it it still broken. On another system, while configuring SSH access, I somehow made npm work. The steps I followed to get SSH access working are: https://github.com/PowerShell/Win32-OpenSSH/issues/307#issuecomment-491812395 my `GIT_SSH` environment variable is set to `C:\Windows\System32\OpenSSH\ssh.exe`

Maybe this will also be relevant: h

[2021-04-24 14:26] ath0mas commented on #3100
Seems duplicate of #2339 (and #3028): npm 7 issue with transient dependencies for local path deps (referenced through `file:`)

[2021-04-24 14:47] ljharb commented on #3143
Both node 8 and npm 3 are long since being EOL - please update to npm 6, or upgrade node to 10+ and npm to 7+.

[2021-04-24 14:47] #3143 closed, assigned to nobody

[2021-04-24 16:19] DetachHead opened #3144 "[BUG] dependency with a `npm-shrinkwrap.json` doesn't install properly when using `npm-ci`"
### Current Behavior:
if a package defined in `package.json` has its own `npm-shrinkwrap.json` and you run `npm ci`, none of the package's files get installed, only a nested `node_modules` folder is created.

### Expected Behavior:
all of the files in the package are installed

### Steps To Reproduce:
1. go to a directory with a `package.json` in it
2. install a package that has an `npm-shrinkwrap

[2021-04-24 16:53] frontendproj opened #3145 "C:\Users\User\AppData\Roaming\npm-cache\_logs\2021-04-24T16_49_42_313Z-debug.log"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

this bug is showing in expo start

[2021-04-24 18:49] ljharb commented on #3145
Please fill out the issue template.

[2021-04-24 18:49] #3145 closed, assigned to nobody

[2021-04-24 22:59] thexeos commented on #3045
Removing the installed package from `./node_modules` and from `package-lock.json`, and then trying to install it again, it loads the correct version.

If I only update the entry in `package.json`, then `package-lock.json` has this (which makes no sense):

[code]

Nevertheless, in both cases, npm **does** contact the Git server and it does fetch the list of commits/tags in the private repository.

[2021-04-25 03:22] thexeos commented on #3045
I've had something unexpected happen: even after running the upgrade, as mentioned above, and with filesystem reflecting the changes, TypeScript compiler was throwing an error - it was continuing to use an old version of the dependency, even after the upgrade.

So be wary: it may, or it may not be an `npm` issue, if some third-party tool is not seeing the latest version of your private repository

[2021-04-25 08:40] Eomm opened #3147 "[BUG] ELSPROBLEMS peerDependency overwrite root dependency"
### Current Behavior:

The `npm@7` cli is overwriting one root devDependency because of a `peerDependency`.

### Expected Behavior:

I would expect that the `peerDependency` (configured in `ajv-formats`) should be resolved through the `@fastify/ajv-compiler-8` dependency.

The use case is to write some tests using:

- old `ajv@6` dependency added in the root devDependency
- test the new `ajv@8` de

[2021-04-25 11:19] Raafat30 opened #3148 "please how to fix this issues vue cli"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\username\AppData\Local\npm-cache\_logs\2021-04-25T11_10_08_404Z-debug.log
 ERROR  command failed: npm install --loglevel error --legacy-peer-deps

[2021-04-25 12:16] nylen commented on #1685
Still having this issue also.

[2021-04-25 14:24] #3148 closed, assigned to nobody

[2021-04-25 14:24] Raafat30 commented on #3148
try

[2021-04-25 16:26] yusufsiregar44 commented on #2703
Hi @darcyclarke I'd like to work on updating the docs if it's still possible

[2021-04-25 16:48] ericprud opened #3149 "[BUG] installing git dep on non-existent branch results in unhelpful error message"
\### Current Behavior:

### Expected Behavior:
`npm install` with erroneous git version on a github  dependency whines about cache "already exists"

### Steps To Reproduce:
1. with a fresh npm package.json, add a dep for a non-existent branch, e.g.`"dependencies": { "shex-test": "github:shexSpec/shexTest#master" }`
2. `npm install --cache /tmp/brand-new-cache`

### Environment:
- OS: Ubuntu 20.04

[2021-04-25 19:06] tavrez commented on #2839
I also find this issue, but I think it's `node_gyp` not `node-gyp`, am I right?

[2021-04-25 21:20] milikmu opened #3150 "[BUG] <PLEASE HELP ME MARKER WAS NOT FOUND>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

![Screenshot_2021_0426_035022](https://user-images.githubusercontent.com/78453797/116010004-b0427900-a646-11eb-88ed-f3e8fb9a4649.png)

[2021-04-25 23:44] devlzcode commented on #3150
And how is this an NPM error?

[2021-04-25 23:45] DeeDeeG commented on #2839
@tavrez thanks for another person confirming this issue.

Both variable names (with underscore or dash) can be used interchangeably, at least in npm 6.

- Env var `npm_config_node_gyp` or `npm_config_node-gyp` (this var name works in a case-insensitive way)
- npm config var set in a `.npmrc` file, as `npm config set node_gyp` or `npm config set node-gyp` (also case-insensitive)
- Command-line flag

[2021-04-26 00:05] milikmu commented on #3150
I dont know?

[2021-04-26 05:11] FarshadMahmoudi opened #3151 "error This is an error with npm itself."
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'i',
1 verbose cli   'electron-edge-js'
1 verbose cli ]
2 info using npm@6.14.4
3 info using node@v13.14.0
4 verbose npm-session bda7085929f6c093
5 silly install loadCurrentTree
6 silly install re

[2021-04-26 07:42] visglz commented on #2918
@nlf  Thanks for the quick fix! Is there any chance we can get the fix soon in a release? As far as I understand libnpmpack needs to be released first, right?

[2021-04-26 09:39] talsi commented on #2553
@isaacs hi,

it seems like this fix (https://github.com/npm/arborist/pull/266) doesn't solve the issue completely.
i'm not sure if it's because the fix is partial and doesn't handle all cases or if there's an issue in some other place because i'm still having errors of conflicting peer dependencies (where there shouldn't be).

steps to reproduce (using npm 7.11.1)
1. open an empty project / folder

[2021-04-26 14:17] nlf commented on #3151
see #417 and if you still have problems feel free to open a new issue, but please be sure to fill out our issue template as fully as you can.

[2021-04-26 14:17] #3151 closed, assigned to nobody

[2021-04-26 14:18] nlf commented on #3150
this doesn't appear to relate to npm in any way

[2021-04-26 14:18] #3150 closed, assigned to nobody

[2021-04-26 14:21] nlf commented on #3144
we made some fixes to how shrinkwraps are handled recently, and your version of npm (7.0.4) is quite old at this point. can you try updating to 7.11.1 and see if you still have this problem?

[2021-04-26 14:42] nlf commented on #2553
hi @talsi, can you please open this as a new issue? the fix for this one will be different, so i'd like to track it separately but i'll be looking into this!

[2021-04-26 14:50] talsi commented on #2553
@nlf sure, np.
https://github.com/npm/cli/issues/3152

[2021-04-26 14:58] 0815fox commented on #2840
I can confirm this (npm 7.10.0 on debian). After upgrading my current workflow is broken :-(
It seems to me like they removed it, because they thought, that no one needs it. I can agree, that the uses for installing only dev dependencies are not obvious, but especially during testing it has been very helpful for me to somehow omit installing "the real" dependencies.

A second use case for me is au

[2021-04-26 15:25] ShlomiAltostra commented on #3040
The latest version (7.11.1) fixed the issue.
Thank you very much!

[2021-04-26 15:25] #3040 closed, assigned to nobody

[2021-04-26 15:43] romangr commented on #718
Good point.
I work with monorepo and I'd like to use `file:...` dependencies without publishing it because it's simply one of the benefits of using monorepo approach. But now I need to use some workarounds to bundle my dependencies correctly.

[2021-04-26 15:44] talsi opened #3152 "[BUG] failed to resolve peer dependencies (conflict) when peer dependencies are in range."
### Current Behavior:

`npm install` favors getting higher versions of peer dependencies.

for example:

"@angular/cdk": 10.2.5 has the following peer dependencies
[code]

"@angular/forms": 10.2.5 has the following peer dependencies
[code]

if you try to install both packages above you'll get an error because when resolving peer dependencies it chooses "@angular/common": 11.2.11 (and then "@angula

[2021-04-26 16:15] nlf commented on #3152
this is one we intend to resolve in some fashion, but it is surprisingly complicated with the current state of arborist.

as a work around for now you can specify `@angular/common@10.2.5` as a direct dependency and you'll at least be unblocked and able to install your tree.

[2021-04-26 16:30] alienzhou commented on #3110
Maybe due to the change below:

described in [v7.0.0-beta.0 CHANGELOG](https://github.com/npm/cli/blob/v7.11.1/CHANGELOG.md#all-lifecycle-scripts)

---

Perhaps because now when running script in root, v7.x will use infer-owner to get the `uid` and `gid` based on `cwd`. It may change the original root `uid` and `gid` (0).

https://github.com/npm/cli/blob/8f8f71e4dd5ee66b3b17888faad5a7bf6c657eed/no

[2021-04-26 19:18] talsi commented on #3152
@nlf thanks, i really appreciate your suggestion for a workaround but this is merely an example to demonstrate the nature of the issue.

The real issue I'm facing is more complicated than the example above- i actually want to rely on npm to install peer dependencies correctly and to fail when it finds conflicts.

There are however many published libraries that will fail to install without a workar

[2021-04-26 19:20] nlf commented on #3152
yup, totally understood. we're working on it but this one creates a huge amount of complexity so it may be some time before we come up with a solution that resolves as many conflicts as it possibly can without introducing massive slow downs.

[2021-04-26 19:38] wraithgar commented on #2799
Can you try this again w/ the latest npm?

[2021-04-26 19:45] wraithgar commented on #2508
The newest npm had some significant bugfixes surrounding this area of bugs. Can you please try again w/ npm `v7.11.1` or greater?

[2021-04-26 21:06] laptevme commented on #672
I have the same problem with the npm update.
It worked for me:
1. Run "npm install -g npm"
2. Immediately delete files "npm", "npm.cmd", "npx" and "npx.cmd" from the working directory.

[2021-04-26 21:42] nlf commented on #3012
this is fixed in 7.11.1

[2021-04-26 21:42] #3012 closed, assigned to nlf

[2021-04-26 22:33] ruyadorno commented on #2826
@felipecrs thanks for following up, that specific problem running the `docusaurus` package looks related to the way the package is published and unrelated to workspaces support in **npm**. I get the same problem as you when I'm trying to run the package in my system **\*in any directory\***:

From a quick inspection [it doesn't look like the package provides a recognizable single entry point for *

[2021-04-26 22:52] felipecrs commented on #2826
@ruyadorno I'm sorry, but did you note that `npx docusaurus` in the root workspace works? And it's not only about `docusaurus`, it also happens with `typedoc`, which follows the rule you pointed:

[code]

So, the issue remains valid.

[2021-04-26 23:25] endlos opened #3153 "[BUG] ERR! cb() never called! (with latest npm version)"
Similar issue: #417

### Current Behavior:
Trying:  npm install -g @vue/cli

### Expected Behavior:
Get the VueJS cli installed

### Steps To Reproduce:
1. Download the latest nodeJS (v14.16.1) with latest npm (7.11.1) binaries from the nodeJS website
2. run "npm install -g @vue/cli"
3. See the Error
[code]

### Environment:
- OS: Ubuntu 20.04.2 LTS
- Node: 14.16.1
- npm: 7.11.1

[2021-04-27 00:44] endlos commented on #3153
Reading the VueJS issues one person suggested that the problem is because of using "sudo". I run everything directly as root and it worked fine then.

[2021-04-27 00:44] #3153 closed, assigned to nobody

[2021-04-27 06:11] xavleon commented on #2418
This worked for me thank you

[2021-04-27 08:05] cloudratha commented on #477
It always worked under simple conditions. For me it wouldn't work if I had this scenario:

`rimraf` is installed under my devDependencies. I have another package called `random` that has `rimraf` installed as a dependency. Using `--only=dev` would not install `rimraf` in my package because of this mismatch.

[2021-04-27 09:22] panva opened #3154 "[BUG] aliased dependencies incorrectly de-dupe a transitive dependency"
### Current Behavior:

When installing a direct dependency using the alias syntax e.g. `npm install jose@npm:jose-node-esm-runtime` my other dependencies that depend on `jose` start requiring `jose-node-esm-runtime` instead.

### Expected Behavior:
Aliased modules do not trigger de-dupe based on the alias value.

### Steps To Reproduce:

[code]

### Environment:
Node 14.16.0
npm 7.11.1, npm@6 as w

[2021-04-27 09:42] charbugs opened #3155 "[BUG] "npm link ../my-package --only=prod" deletes my-package"
### Current Behavior:
The command `npm link ../my-package --only=prod` deletes `my-package` if it's listed in `devDependencies`

### Expected Behavior:
It should not delete my-package.

### Steps To Reproduce:
[code]

Manually add my-package to devDependencies:

[code]

In ./my-app

[code]

my-package has been deleted :astonished:

### Environment:
- OS: Debian 4.19.181-1 (2021-03-19) x86_64 GNU/L

[2021-04-27 12:45] erkstruwe opened #3157 "[BUG] preversion script has access to new version"
### Current Behavior:
When running `npm version` and the `preversion` script is executed, the value of the `npm_package_version` environment variable holds the *new* version.

### Expected Behavior:

### Steps To Reproduce:
1. Create new package with this `package.json`:
[code]
2. Run `npm install`
3. Run `npm version patch`
4. Output is
[code]

### Environment:
- OS: Windows 10
- Node: 14.16.1 //

[2021-04-27 13:27] Monti1234 opened #3158 "cb() never called!"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-04-27 13:32] ljharb commented on #3154
Isn’t that the whole point of the aliasing?

[2021-04-27 13:34] ljharb commented on #3157
I think this is the correct behavior in preversion - you can read the old version from package.json, but the new one is nowhere else besides the env. In other words, i think maybe the docs are incorrect here.

[2021-04-27 13:35] ljharb commented on #3157
I would expect the env to hold the new version in preversion, and the old version in postversion, since package.json has the “other” piece of information in both cases.

[2021-04-27 13:35] #3158 closed, assigned to nobody

[2021-04-27 13:36] ljharb commented on #3158
#417, please fill out the issue template.

[2021-04-27 13:40] panva commented on #3154
https://docs.npmjs.com/cli/v7/commands/npm-install

To have a transitive dependency all of a sudden replaced by something else? I sure hope not and the docs do state anything about changing my dependencies' dependencies being affected.

I didn't dig deep enough but could be a vector for supply chain poisoning too.

[2021-04-27 13:43] ljharb commented on #3154
It could not be a vector for that because using an alias is an explicit choice by the user.

It’s definitely the point. If i, for example, install react experimental aliased as “react”, and it _didnt_ replace “react” for transitive deps, my application would be broken. The feature isn’t for a convenient way to refer to something; it’s literally remapping one dependency name to another.

[2021-04-27 13:51] panva commented on #3154
As I said, I didn't dig deep enough to check how e.g. a published package I would depend on using an alias to "react" affected the dependency tree.

From the way the docs are stated it definitely points to being a convenience thing. So that I don't have to change my code to refer to a forked package name but rather, i choose to alias. But the point is my code, my direct dependencies. It affecting

[2021-04-27 13:53] ljharb commented on #3154
It renames whatever’s in the top level of node_modules, which may or may not be a transitive dependency. Perhaps the docs need improvement here.

[2021-04-27 14:00] panva commented on #3154
Say that's the reason why I chose to use an alias. having it affect any transitive dependency is from my pov unexpected. The cli does not let me know where the alias is in effect in my current tree, and i can't possibly know that an alias will not conflict with a future transitive dependency.

What you're saying makes it sound more like [overrides](https://github.com/npm/rfcs/pull/129). It's eithe

[2021-04-27 15:25] erkstruwe commented on #3157
I like the idea.

Since reading `package.json` from command line is quite cumbersome, the ideal solution IMHO would be a new set of environment variables only available in `version`, `preversion`, and `postversion` scripts. Something along the lines of `npm_package_previous_version` and `npm_package_next_version` or `npm_package_version_old` and `npm_package_version_new`, depending on whatever the

[2021-04-27 15:37] ljharb commented on #3154
It is indeed very like overrides, but doesn’t provide the same guarantees.

[2021-04-27 15:38] ljharb commented on #3157
`node -pe “require(\”./package.json\”).version` doesn't seem super cumbersome.

[2021-04-27 15:56] ruyadorno commented on #2826
@felipecrs you're right! I totally got confused by the name of the packages there, now I realize the actual package that install the `docusaurus` name you're using is `@docusaurus/core` that is inside your `website` workspace 🤦 I'm really sorry for the confusion.

I believe I'm on the right track now and I think this issue should be solved by looking up as you suggested in your `#1` option in `lib

[2021-04-27 16:06] coreyog opened #3159 "[BUG] `npm update -g` appears to do nothing."
### Current Behavior:
1. Run `npm update -g`
2. Output indicates changes were made
3. Run `npm update -g` again
4. Receive exact same output indicating exact same changes
5. Doubt anything happened at all

### Expected Behavior:
1. Run `npm update -g`
2. Output indicates changes were made
3. Run `npm update -g` again
4. Receive no output because nothing needed to change

### Steps To Reproduce:
Ru

[2021-04-27 16:22] ljharb commented on #2826
@ruyadorno https://github.com/npm/cli/issues/2826#issuecomment-816998744

[2021-04-27 16:57] ruyadorno commented on #2826
@ljharb I'm carefully avoiding that topic here since I believe it's going to be better addressed as part of the upcoming workspaces-revamp RFC we have been alluding to in the last OpenRFC meetings 😉

That said, I'm not excluding the possibility the solution to the problem surfaced by this issue might have to pass through that major overhaul. For now I'm exploring the possibility of fixing this by

[2021-04-27 17:55] isaacs commented on #3157
Here's what I'm seeing in the latest and greatest npm version 7:

[code]

`preversion` has `npm_package_version` set to the old version, `version` and `postversion` have it set to the new version.  In all three `npm_new_version` and `npm_old_version` are set as expected.

So it looks like this is fixed, or there's something else going on here?

[2021-04-27 18:02] isaacs commented on #3123
How are you adding the dependency in step 5?  As a git dep, tarball, published semver version/range, etc?

[2021-04-27 18:16] ljharb commented on #2826
Thanks, as long as it's not ignored :-)

[2021-04-27 18:40] erkstruwe commented on #3157
@isaacs You're right.

I used the wrong executables in my tests. I'm sorry. I can confirm the bug shows in npm 6.14.12, but is fixed in npm 7.10.0.

Thanks for your support, guys. We might close this...

[2021-04-28 01:04] cincodenada opened #3160 "[BUG] npm does not update any dependencies `package.json` has a `file:` dependency in a certain state"
Note: this may overlap with #3057, but I'm opening this separately because the trigger I was able to reproduce was a `file:` dependency, which isn't involved in that issue.

### Current Behavior:
Running `npm install` leaves dependencies in `node_modules` at outdated versions, despite an updated spec in `package.json`

### Expected Behavior:
`npm install` should ensure any dependencies are updated

[2021-04-28 02:20] ruyadorno commented on #2826
@felipecrs I also forgot to mention that alternatively you can also use `npm exec` workspaces support (I don't remember exactly when we shipped this feature, might have been after you originally opened the issue), from the root level:

[code]

so you can also use that while you wait for the fix 😊

[2021-04-28 07:59] Dewep commented on #2725
Hi @brunoclima!
Did you find a solution?
I mean, something else than downgrading to npm v6?

[2021-04-28 09:14] mikejamesthompson commented on #2868
We also experienced this issue. We were using `npm audit` in CI to check for vulnerabilities in packages and using the non-zero return code to cause the build to fail if any were found.

Obviously we are now using `npm audit --audit-level=low`, but this should be fixed so that the behaviour matches the documentation.

[2021-04-28 09:22] Fdawgs commented on #2755
Also encountering this same issue using npm v7.10 with node.js v16.0.0

[2021-04-28 10:03] tachibana-shin opened #3161 "Error Not Found when I update the package I create"
Hi,

I get this error when I try to update a package I already own. What happen?

![image](https://user-images.githubusercontent.com/45375496/116386040-9d48c800-a843-11eb-8374-439c52cbb74e.png)

I own this package.

Please help me

[2021-04-28 10:12] mindplay-dk commented on #793
Again, not to say we shouldn't do it, but semantic versioning doesn't help here, at all.

I'm talking about third-party services that read and parse `package.json` files independently of `npm` or any package.

[2021-04-28 13:03] itfobos opened #3162 "[BUG] 'npm deprecate' for entire package doesn't work."
### Current Behavior:
Running command
`npm deprecate itfobos/ts-optional "The package is no longer supported. Use @eastbanctech/ts-optional instead."`

Getting error message: `npm ERR! invalid version range: null`

### Expected Behavior:
According to the [manual](https://docs.npmjs.com/cli/v7/commands/npm-deprecate), all the package should be deprecated.

### Steps To Reproduce:
1. In this environ

[2021-04-28 13:15] itfobos commented on #3162
Need to be logged in :)

[2021-04-28 13:15] #3162 closed, assigned to nobody

[2021-04-28 13:32] felipecrs commented on #2826
Thank you @ruyadorno. Very nice feature.

[2021-04-28 14:07] ljharb commented on #3161
You’re using yarn here, which means it might be a yarn bug. What happens with `npm publish`?

[2021-04-28 14:55] nmschulte-aviture commented on #558
@isaacs said:

I must have been taking this statement out of context, and would like to better know the context/what is stated here.

With version 6.14.11:
`package.json`:
[code]
`package-lock.json`
[code]

`npm install` modifies `package-lock.json`.  Even if e.g. `package-lock.json` has an older `reactjs-popup` version locked, `npm install` still modifies `package-lock.json`.

Is there a command

[2021-04-28 14:57] tachibana-shin commented on #3161
It also happened the same error. I try:

[code]

But it not working

[2021-04-28 15:06] ljharb commented on #3161
After `npm login`, does `npm whoami` print out the result you expect? what about `npm config get registry`?

[2021-04-28 15:09] ljharb commented on #558
@nmschulte-aviture no, there is not.

[2021-04-28 15:12] brunoclima commented on #2725
Hey @Dewep!
Unfortunately, I didn't. I tried to work around urls and stuff but nothing works.
I'm using v6 until they fix it.

[2021-04-28 15:17] tachibana-shin commented on #3161
```bash npm login``` is successful but when i run ```bash npm whoami``` i get an error:

npm ERR! code E401
npm ERR! 401 Unauthorized - GET https://registry.npmjs.org/-/whoami

``` bash npm config get registry``` result:
https://registry.npmjs.org/

[2021-04-28 15:25] ljharb commented on #3161
The `npm whoami` suggests that the login isn't successful :-/

[2021-04-28 16:36] dinerf commented on #1816
Worked for me too! Thanks!

[2021-04-28 18:49] wraithgar commented on #3096
Closing this as a duplicate of https://github.com/npm/cli/issues/2647, as it's the same root cause.

[2021-04-28 18:49] #3096 closed, assigned to nobody

[2021-04-28 20:20] cincodenada commented on #3160
Oh, and to clarify, the `npm install faker@4` part is just to simulate our actual situation, which is the much more common situation of having an old version in your `node_modules`, pulling down the latest changes that updates the version in `package.json` and `package-lock.json`, and then running `npm install`.

To simulate this, I've added a `faker4` branch to the repo, so that you can do the fo

[2021-04-28 20:34] DetachHead commented on #3144
that seems to have fixed it, thanks

[2021-04-28 20:34] #3144 closed, assigned to nobody

[2021-04-28 22:18] #2418 closed, assigned to nobody

[2021-04-28 23:27] mfshao opened #3163 "[BUG] all npm commands hang after 1 week?"
Background: we are using quay.io to build docker images for our applications. We have some `npm ...` commands in the startup script when a container has been brought up.

Recently after upgrading to npm 7, we start to notice that some of our containers are stuck at booting up, more specifically they stuck at the first attempt to run any `npm ...` commands in that startup script.

After further inv

[2021-04-28 23:46] tachibana-shin commented on #3161
How can i fix it. I run ```npm login``` and it notified me that the login was successful

[2021-04-29 01:28] danshome commented on #2921
Is there a NPM config setting that we can change that will make EBADPLATFORM log as a warning and not an error?   We don't even have a dependency on fsevents, but other dependencies we use do depend on it and list it as an optional dependency.  Why should this be an error, it's optional?   All our apps are built on Jenkins on a linux build server, so now we can't build on Linux anymore.

20:06:20

[2021-04-29 08:53] spoike commented on #2921
Running `npm install` with `--legacy-peer-deps` on Windows 10 and Linux appears to error out and not complete the install as well.

This happens when `fsevents` is a optional/dev package and it is a package used on the Mac platform only.

It seems to be a regression since it works on older versions on Node/npm. See https://github.com/storybookjs/storybook/issues/14433 for some info.

[2021-04-29 11:56] olavfosse commented on #964
bump. can you please fix this, it has persisted for soon 4 years and been reported numerous times. It has surely affected a lot of people through the years.

https://github.com/zkat/npx/search?o=asc&q=space+windows&s=created&type=issues
https://github.com/npm/npx/search?q=space+windows&type=issues
https://github.com/npm/cli/search?q=space+windows&type=issues

Thanks

[2021-04-29 14:29] desarrollopetrocasinos opened #3164 "i can´t insttal a package or update npm"
### Current Behavior:
I'm trying to install xlsx file-saver but I got this error:

npm install ngx-bootstrap xlsx file-saver --save
npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but package-lock.json was generated for lockfileVersion@0. I'll try to do my best with it!
npm ERR! code EINVALIDTYPE
npm ERR! typeerror Error: Argument #5: Expected object but got stri

[2021-04-29 14:40] hussainarthuna commented on #708
Facing the same issue. Is there any Alternative way ?
Because **npm install packageName@x.x.x** is time consuming for more complex projects.

[2021-04-29 15:24] Christoph1972 opened #3165 "[BUG] Installing packages (npm)...npm ERR! cb() never called"
Hello together,

I can’t create new angular projects. Running ng new someDemo fires the following error message:

_REATE someTest/e2e/src/app.po.ts (274 bytes)
    | Installing packages (npm)...npm ERR! cb() never called!
    npm ERR! This is an error with npm itself. Please report this error at:
    npm ERR!     <https://npm.community>
    npm ERR! A complete log of this run can be found in:

[2021-04-29 15:33] ljharb commented on #708
@hussainarthuna use `@latest`

[2021-04-29 15:37] Suryapardana commented on #3165
I also experienced it just now, how to fix it?

[2021-04-29 15:39] ljharb commented on #3165
Try npm 7. Also, see #417.

[2021-04-29 15:49] Suryapardana commented on #3165
Thank you friend

[2021-04-29 15:55] Christoph1972 commented on #3165
I upgraded to nmp 7. It's still the same issue.

[2021-04-29 16:10] hussainarthuna commented on #708
Yes exactly, either version number or @latest.
What I meant was it's cumbersome to pick each package and update it.

[2021-04-29 16:22] #3152 closed, assigned to nobody

[2021-04-29 16:44] Christoph1972 commented on #3165
Installing the newest version of node.js fixed this issue.

[2021-04-29 16:44] #3165 closed, assigned to nobody

[2021-04-29 16:52] Heatmanofurioso commented on #3057
Seems to be a duplicate of https://github.com/npm/cli/issues/3152
Which just got closed

[2021-04-29 18:22] jaeh opened #3166 "[BUG] npm audit does not respect organization in package name (@orgname/packagename)"
### Current Behavior:
when running npm install in my [@magic/semver](https://github.com/magic/semver) package,
npm audit complains about semver being vulnerable.

Same happens for [@magic/cli](https://github.com/magic/cli)

[code]

output of npm audit fix:

[code]

relevant lines from my package.json:
[code]

### Expected Behavior:
since my package does not use semver, no warning should be generat

[2021-04-29 18:34] DeeDeeG commented on #2839
I have a CI test that uses this npm config var to test whether spaces in paths can cause an issue.

I would have to disable or re-write the test if we upgrade our infrastructure to use npm 7 instead of npm 6. Any thoughts on whether this might be fixed, or labelled "won'tfix", would be appreciated so I can know whether to re-write/delete the test, or just wait for the fix.

Thanks.

[2021-04-29 18:35] Manik-Jain opened #3167 "[BUG] <cb() never called>"
Note: Please search to see if an issue already exists for your problem: https://github.com/npm/cli/issues

### Current Behavior:
npm ERR! cb() never called!
npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

### Expected Behavior:
Project dependencies should be downloaded

### Steps To Reproduce:

Run:
npm install --force
npm W

[2021-04-29 19:16] Christoph1972 commented on #3167
Maybe it's related to this: https://github.com/npm/cli/issues/3165

[2021-04-29 19:52] ljharb commented on #3167
#417

[2021-04-29 19:59] #3137 closed, assigned to nobody

[2021-04-29 20:23] RussCoder commented on #2692
In my case `install` and `postinstall` hooks work, but no logs are printed to the console. I use npm 7.11.1
But `preuinstall` and `uninstall` hooks don't work at all.

Actually, it would be nice if logs were printed to the console, because there can be useful messages for the user. Especially, the messages which are printed by the `postinstall` script.

npm can be silent in case of its own logs, b

[2021-04-29 20:24] ljharb commented on #2692
@RussCoder the entire reason npm 7 changed this was to prevent user-defined scripts from injecting ads into people's terminals.

[2021-04-30 03:38] jcayzac commented on #2581
Same here:

[code]

### log

[code]

### environment

[code]

[2021-04-30 09:37] AjayS21 opened #3168 "'CALL "C:\Program Files\nodejs\\node.exe" "C:\Program Files\nodejs\\node_modules\npm\bin\npm-cli.js" prefix -g' is not recognized as an internal or external command, operable program or batch file."
Every time I run an npm command I get this message

'CALL "C:\Program Files\nodejs\\node.exe" "C:\Program Files\nodejs\\node_modules\npm\bin\npm-cli.js" prefix -g' is not recognized as an internal or external command, operable program or batch file.

I have uninstalled the node, restarted the computer, and reinstalled the node. This did not make the error go away.

OS
Windows 7 Pro
![image](https:

[2021-04-30 09:46] MufidJamaluddin opened #3169 "[BUG] install github private package error"
### Current Behavior:
Install github private package error with `npm install git+ssh://git@github.com:<private github org>/<private package>.git#<branch>`

My coworker installed it succesfully on Macbook, but I Failed on WSL Windows 10.

### Expected Behavior:
Install succeed

### Steps To Reproduce:

1. Install package by ```npm install git+ssh://git@github.com:<private github org>/<private packa

[2021-04-30 10:20] noneedinmagic opened #3170 "[BUG] `npm audit fix` does not fix as well as installing proper dependency directly"
### Current Behavior:
When I install package with vulnerable version of dependency it is impossible to fix it by audit or installing proper dependency directly.

### Expected Behavior:
Possibility to  install latest version of the vulnerable dependency to fix the issues.

### Steps To Reproduce:
1. Create a new pkg via `npm init`.
2. `npm i deep-email-validator`
3. After installing it you have a m

[2021-04-30 12:21] cyrilletuzi opened #3171 "[BUG] Multiple related packages install fail due to wrong peerDependencies resolution"
Reopening #3083, given that npm/arborist#266 and npm/arborist#272 didn't fix the issue.

### Current Behavior:

When having multiple packages relying on each others having the exact same version, trying to update them all via `npm install` fails when there is another package which loosely rely on them via `"peerDependencies": "^x.x.x"`, due to npm7 erroneous resolution.

Real world example: Angula

[2021-04-30 13:20] dcustodio opened #3172 "[BUG] npm publish --tag doesn't accept version"
### Current Behavior:

When publishing a new package passing the `--tag` flag and using a version like "1.0.0-pr-001"  I get the following error:

`npm ERR! Tag name must not be a valid SemVer range: 1.0.0-pr-001`

### Expected Behavior:

I would expect the publish to be successful as the version [is valid according to this regex](https://regex101.com/r/vkijKf/1/)

### Steps To Reproduce:

1. `npm

[2021-04-30 13:34] lebadapetru opened #3173 "MacOs 11.3 npm install fail"
### Environment:
MacOs Big Sur 11.3
node v16.0.0
npm 7.10.0

I just updated my OS to 11.3 and when i tried to `npm install` my project, i received the below error and couldn't make it work.

[code]

[2021-04-30 14:38] hs749 commented on #2818
I got the same error (**ERR! Cannot find module 'agentkeepalive'**) when trying to run the update for npm globally:
**npm install -g npm@7.11.2**
Then after I installed module 'agentkeepalive' globally, i.e. **npm install -g agentkeepalive**, ran the npm update again and it worked. Maybe a temporary workaround ?

[2021-04-30 15:16] nlf commented on #3167
as mentioned, see #417, try updating to the latest npm 7 (7.11.2 as of this writing) and if you continue to have problems open a new issue being sure to fill out the issue template entirely. we need to know a lot more information about what you're doing in order to help you with this.

[2021-04-30 15:16] #3167 closed, assigned to nobody

[2021-04-30 15:26] nlf commented on #3172
the `tag` is not a semver version, it's a simple string intended to allow the user to select a package based on a friendly string like `"latest"` or `"beta"`

because when we resolve packages we determine if you're asking for a version or a tag based on that string, it cannot be something that parses as semver because then we wouldn't know if we should use the tag, or use it as a semver range.

it

[2021-04-30 15:26] #3172 closed, assigned to nobody

[2021-04-30 15:31] nlf commented on #3171
i'm not able to reproduce this as `npm install @angular-devkit/build-angular@11 -D -E` fails due to no matching versions, and indeed there is no published version of that package with a semver major of 11.

without that package installed i had no issues with following the rest of your steps. i'm not sure how that command is installing anything for you at all, do you have a separate registry config

[2021-04-30 15:36] nlf commented on #3173
this is reporting an error while compiling the node-sass dependency with node-gyp, neither of which are controlled by npm.

i found the node-sass repo by running `npm home node-sass` and found these issues that look relevant, seeing as your logs indicate you're using node 16 which looks to be unsupported currently by node-sass.

https://github.com/sass/node-sass/issues/3077
https://github.com/sass

[2021-04-30 15:36] #3173 closed, assigned to nobody

[2021-04-30 15:42] cyrilletuzi commented on #3171
@nlf Sorry, it was just an error in the reproduction step. This package has a different version management indeed, I have updated the initial message with the correct instructions.

[2021-04-30 15:45] nlf commented on #3170
this is an interesting one and a bit of a nuance of semver, but the issue is that deep-email-validator needs to publish an update. i'll break it down a little bit here.

by looking at the advisory linked above (found here https://www.npmjs.com/advisories/1594) we can see that the remediation suggestion is

the dependency in deep-email-validator of `^0.19.2` looks like it would accept this, but thi

[2021-04-30 15:45] #3170 closed, assigned to nobody

[2021-04-30 15:53] nlf commented on #3171
no problem! that got the reproduction working, thanks for making it clear :+1:

[2021-04-30 16:47] gavinsharp commented on #2810
Seems related to https://github.com/npm/cli/issues/2700?

[2021-04-30 17:19] isaacs commented on #3163
The fact that it's hanging _after 7 days_ is a very strong indicator that it has to do with the update notifier.  (Ie, the bit where npm checks for a new version of npm, and nags you to upgrade.)

As a workaround, you can try running with `npm_config_update_notifier=false` in the environment (or `update-notifier=false` in a .npmrc file, or `--no-update-notifier` on the cli, but I figure since it's

[2021-04-30 17:30] mfshao commented on #3163
Thanks for that info, that's helpful!

Is there any logic changes for the update notifier in npm 7? Because we are not seeing this issue in our images using npm 6

Also can I ask which domain is this update notifier hitting? Is it going to try fetching `registry.npmjs.org`? We do have some proxies for outbound traffics, so if we know where it is going to hit, we can check if it is blocked by our p

[2021-04-30 17:34] gjermundgaraba commented on #2544
Should this potentially be reopened? I have the exact same problem. I was trying to use some "clever" wildcarding to avoid having list them all separately (only relevant for why this is especially tricky), and I have no idea what npm is finding as duplicates.

Listing conflicts would be a very useful error.

Edit: In my case the problem was some refactoring had changed the name of two packages to

[2021-04-30 18:18] CodyEakins opened #3174 "[BUG] npm install - Bundled dependencies are not saved to package.json"
### Current Behavior:

If you install any package with the bundled dependency flag:
[code]
... `<package-name>` is not added to the `bundledDependencies` array in your package.json file.

### Expected Behavior:

When installing any package with the bundled dependency flag (`--save-bundle` or `-B`), the package should be installed and added to the `bundledDependencies` array in your package.json fi

[2021-04-30 18:32] nlf commented on #3163
the update notifier was replaced entirely for npm 7, and yes it does fetch from `registry.npmjs.org`, specifically it fetches `https://registry.npmjs.org/npm` (or whatever your default registry is)

[2021-04-30 18:35] darcyclarke commented on #2732
@achingbrain can you confirm that this is still happening on `v7.11.2`? (to get the latest, run `npm i -g npm`)

[2021-04-30 18:38] darcyclarke commented on #2787
Just a quick update/reference here, we should revert back to this behaviour as this seems to be an unintended change from v6 to v7 (change should be in `lib/install.js`, adding a check for `--package-lock-only`: https://github.com/npm/cli/blob/latest/lib/install.js#L139-L164)

[2021-04-30 19:40] ruyadorno commented on #2810
thanks for linking that issue @gavinsharp - it def looks to be related!

[2021-04-30 19:47] dcustodio commented on #3172
Hi @nlf thank you so much for the input. I had already looked into the solution you propose as a workaround and know I know it's the way to go.
The weird thing here is that the `npm publish --tag 1.0.0-pr-001` was working up until some weeks ago, could it be the case that something changed in the meanwhile?

[2021-04-30 19:53] IronGeek commented on #2372
This should be reopen, the bug still not fixed (or maybe regressed) on npm 7.11.2

[2021-04-30 20:00] mfshao commented on #3163
Interesting, that domain already exists in our proxy's whitelist 🤔

Oh and a bit of more details, we also tried if we get a shell of the running container which stuck in the middle of the script and run `npm ...` directly from the shell, it will work fine. I don't know if this will cause the update notifier to behave differently?

[2021-04-30 20:29] #2826 closed, assigned to ruyadorno

[2021-04-30 20:48] nlf commented on #3163
that's very interesting.. i wonder if we're doing something strange when we don't have a tty. we'll look into it further and see what we can find

[2021-04-30 21:55] sidonath commented on #2810
FWIW, we see this (or a similar?) problem when running `npm install` for the same project in directories with different names (on same or different machines).

We can trigger this issue in the following way

1. A project "foo" has `"name": "foo"` specified in `package.json` and in `package-lock.json`
2. Clone the project into `bar`
3. Run `npm install`
4. `package-lock.json` is unchanged
5. Clone

[2021-04-30 22:12] quaccer commented on #417
I got same error

[2021-04-30 22:34] nlf opened #4281 "feature(arborist) build-ideal-tree should maybe disregard the package-lock for nodes that have been changed in package.json"
currently we read the full package-lock.json, then attempt to place the modifications in the package.json (or the explicit changes the user requested) on top of it, which is potentially yielding more work than is necessary. if we disregard these locked nodes and jump straight to adding the new ones, we should be able to build the ideal tree more quickly and resolve more peer conflicts than we do t

[2021-04-30 23:08] gavinsharp commented on #2810
@sidonath I think that's likely a different issue (https://github.com/npm/cli/issues/2264)

[2021-05-01 06:41] lake2 opened #4250 "[QUESTION](libnpmpublish) 404 Not Found"
# What / Why

my code：
[code]

result:
[code]

## Where

* npm package @sqlflow/test
* https://registry.npmjs.org/@sqlflow%2ftest

[2021-05-01 12:26] mukaschultze opened #3175 "[BUG] `npm update -g package@latest` removes all global packages"
### Current Behavior:
Attempting to update a package with a tag using the `update` command globally causes **ALL** global packages to be removed.

### Expected Behavior:
Packages should not be removed when updating global packages.

### Steps To Reproduce:
[code]

### Environment:
- OS: Windows 10 20H2
- Node: 15.9.0
- npm: 7.11.2

### Additional Info
This only happens on the global scope

[2021-05-01 16:59] Ssaely commented on #3123
@isaacs Sorry for the delay, I am adding the dependency by using a git dep.

[2021-05-01 19:53] dcsaszar opened #3176 "[BUG] npm ci grows the cache with each run"
After upgrading to npm 7 our Travis CI runs started to detect cache changes after each run.
This increases the duration of test runs, because it triggers an additional "store cache" step after each run.

### Current Behavior:

Running `npm ci` two times changes `~/.npm/_cacache` after the 2nd `npm ci`.

### Expected Behavior:

No change to `~/.npm/_cacache` after the 2nd `npm ci`.

### Steps To Re

[2021-05-01 20:34] RecuencoJones opened #3177 "[BUG] npm link does not inform about symlinked packages to global node_modules anymore"
### Current Behavior:
On a project with `bin` field in package.json, run `npm link`.

[code]

[code]

### Expected Behavior:
There's a message with files symlinked to global node_modules

[code]

[code]

### Steps To Reproduce:

1. Start a new project
[code]
[code]
2. Run `npm link` from package directory
3. Expect message displaying which paths were symlinked

### Environment:

- OS: macOS 10.15.

[2021-05-01 22:05] Apollon77 commented on #3123
I have a very esy example:

[code]

This is trying to execute a "setup command". This all wors file if installed from npm (npm i iobroker.js-controller), but fails when istalling the same from github

[2021-05-01 22:13] augustobmoura commented on #2692
`install` and `postinstall` script fields in package.json still works, the issue is with `postinstall` script files in the directory `node_modules/.hooks` that should run for every package. Still not working in the latest version. @ljharb do you think this is a issue that needs of arborist or the npm cli? I'm thinking about giving a try in solving it, I saw that arborist has some code for hooks bu

[2021-05-01 22:36] hamzakilic commented on #417
I got same error. and **FIXED IT**.
I was trying to dockerize a nodejs project with a docker file. and package.json.
on my ubuntu machine there is no problem, but on CI/CD machine (centos,debian) almost fails to dockerize

**Tried Steps:**

-  clear node_modules
-  updating node version
- updating npm version
- centos
- debian
- docker with different versions
-  lots of configuration (npm install

[2021-05-02 00:22] princemaple commented on #3152
Hey @talsi , does npm 7.11.2 work for you?
I'm still getting the same errors.

[2021-05-02 08:47] talsi commented on #3152
@princemaple

hi,
`npm 7.11.2` does fixes the bug described above (successfully running `npm i @angular/cdk@10.2.5 @angular/forms@10.2.5`), but unfortunately, i'm still having a similar issue.

for example,
when trying to install `@angular-slider/ngx-slider@"^2.0.3"` and `@angular/common@"^10.2.4"`

- `@angular-slider/ngx-slider@"2.0.3"` has a peer-dependency on `@angular/common@">=6.1.0"`
it choo

[2021-05-02 09:05] peterjuras opened #3178 "[BUG] npm audit uses folder name of workspace package to determine issues"
### Current Behavior:

`npm audit` appears to be checking the folder names of workspace packages against vulnerable packages. This leads to false positives, when a package with a certain name has a known vulnerability, but the actual package in the monorepo / npm workspace is published under a different package name.

Example workspace setup:

package.json
packages/
-- cli
-- cli/package.json

Wit

[2021-05-02 12:14] KogaiIrina commented on #417
Hi! I got this error when I was running npm install
node -v
v14.16.0
npm -v
7.10.0

____________________________

I solved this problem by updating my npm

[2021-05-02 19:36] isaacs opened #4280 "FEATURE(arborist) log warning when saving lockfile lacking resolved/integrity for non-bundled dependencies"
From https://github.com/npm/arborist/pull/270

Reproduction case:

[code]

[2021-05-02 19:37] isaacs commented on #4280
Note: _bundled_ deps should _never_ have resolved/integrity values, because they weren't fetched by us, and can be literally anything.

[2021-05-02 19:55] ljharb commented on #2647
This is still occurring in npm v7.11.2; when I have eslint as a devDep and peerDep with identical ranges, running `npm install --save-dev eslint` updates the peerDep range and does not update the devDep range.

[2021-05-03 00:20] isaacs opened #3179 "[BUG] Unhelpful error installing from pr if wrong pr number is used"
I am pretty sure this is going to affect _any_ install from a git remote with a ref that's not found in the origin.  But I encountered it trying to install a PR, and haven't investigated further.

Instead of "remote reference not found in git repository", or some other helpful thing, it does this.

### Current Behavior:

Pacote fails with a git folder issue.

[code]

### Expected Behavior:

Report

[2021-05-03 00:21] isaacs commented on #3179
npm debug log

[code]

[2021-05-03 00:37] ljharb commented on #3179
That ref should exist (if the PR does) in every GitHub repo - it just might not be fetched by default.

[2021-05-03 00:46] dyapasrikanth opened #3180 "`npm view` giving error if dist tag has `/` in it"
I am trying to get the url of the tarball of a particular dist-tag version with `npm view`, where I want to download the package for other purpose.

Assume that I have project branches **fix/bug1**, **fix-bug1** & I could able to publish the packages with dist-tags **fix/bug1**, **fix-bug1**  with different version numbers respectively & json will look like this.

[code]
I am having issue to acces

[2021-05-03 00:50] dyapasrikanth commented on #3180
Verbose logs

[code]

[2021-05-03 06:48] ntkme opened #3181 "[BUG] `npm version prerelease` does not work with numeric `--preid`"
Currently `--preid` only works correctly with non-numeric value. I have actually root caused it down to a bug in npm/node-semver and submitted a PR to fix it: https://github.com/npm/node-semver/pull/380. I'm opening this issue for tracking purpose and hopefully to get some attention from the npm team.

### Current Behavior:

Case 1:

[code]

Case 2:

[code]

### Expected Behavior:

Case 1:

[code]

[2021-05-03 08:42] ssc-hrep3 commented on #2889
Is there any progress on this issue? For those with the same issue: As a workaround, remove all `devDependencies` from the `package.json` file temporarily and then install it productively (or run prune productively).

[2021-05-03 10:04] ray007 commented on #2838
Coming back from home office and updating the machine, things seem to be getting worse.
Just checking with `npm list -g` shows that `npm` is looking in the wrong location:
[code]
And it also does not fit with
[code]
and
[code]
Trying install/uninstall/update `npm` globally all result in the same initial error.

[2021-05-03 13:10] sxn commented on #2890
Hi @nlf. I've encountered this bug as well, when using tarball dependencies. I've also created a repository to reproduce the issue: https://github.com/sxn/prepare-repro

[2021-05-03 14:26] wraithgar commented on #2647
There is a PR linked that addresses this and many other save-type bugs discovered while triaging this.

[2021-05-03 17:20] 3mmali commented on #1845
This was my issue! I had recently moved to a new machine and had forgotten to re-install `npx`.

[2021-05-03 18:05] DanielPower commented on #3045
We are also experiencing this on npm 7. It did not occur when we were previously using npm 6.

Known good versions: 6.14.8, 6.14.13
Known bad versions: 7.7.6, 7.11.2

# Prerequisites
1. A private package repo
2. A project that depends on the private package

# Reproduction steps
1. Clone two copies of your project
2. In copy A: install a new version of your private package using `install git+ssh:/

[2021-05-03 18:29] j-ackk commented on #2306
Not sure if this is helpful or not; I had the same problem and my npm would break every time I tried to run npm install on a vue.js project.
The problem seemed to be the recent version of Node.js (16.0.0).  After uninstalling node and reinstalling version 14.16.1, it seemed to fix my problems.

Environment:
OS: macOS Big Sur 11.0
Node: 14.16.1
npm: 7.11.2

[2021-05-03 18:32] luckman212 commented on #2856
Closing

[2021-05-03 18:39] darcyclarke commented on #2726
Closing: GitLab is working on resolving this https://gitlab.com/gitlab-org/gitlab/-/issues/275992#note_549498038

[2021-05-03 18:39] #2726 closed, assigned to isaacs

[2021-05-03 18:40] darcyclarke commented on #2799
Closing as there's no response.

[2021-05-03 18:40] #2799 closed, assigned to wraithgar

[2021-05-03 18:52] darcyclarke commented on #3042
### Actions To Be Taken
- [x] audit documentation to ensure it's accurate for lifecycle events
- [ ] determine when we were firing this event in `v6`
- [ ] add run-script call for `uninstall` to match `v6` behavior (note: most likely call in `lib/uninstall.js` before/after `reify`)

[2021-05-03 19:18] luckman212 opened #3183 "[BUG] node-gyp@v7 still has dependency on deprecated requests module"
`node-gyp@8` has removed `requests` dependency: [node-gyp #2220](https://github.com/nodejs/node-gyp/pull/2220). Hopefully npm can roll up to gyp@8 to clean up the warning below:

[code]

node: 16.1.0
npm: 7.11.2
OS: macOS 11.3.1

[2021-05-03 23:06] tchakabam commented on #2610
Tbh I am still quite confused by the cause and fix for this on npm side ... :D

To fix it on our side, I made sure our CI uses latest npm now - it was using some prior version and failing with a public repo where we had no protocol specified.

Yes I haven't read all the conversation after the first explanations on the internal procedure to fetch git dependencies, but I guess some update/summary fr

[2021-05-03 23:14] princemaple commented on #3152
https://github.com/npm/cli/issues/3171

[2021-05-04 08:46] padinko commented on #2829
same in Windows 10 with Slovak language, node v14.16.1, npm v7.11.2
i can't find workaround for windows

[2021-05-04 10:08] SiddharthShyniben commented on #2975
Ok, got it fixed by reinstalling nodejs

[2021-05-04 10:22] kenchon commented on #805
I tried following but didn't work:

- [x] Confirm no duplicate package names on npm
- [x] Verify email
- [x] Enable 2FA (also tried w/o 2FA)
- [x] Do `npm login`
- [x] Set access token on `~/.npmrc` (as @himharsh1997 mentioned)

[2021-05-04 10:42] rjgotten opened #3184 "[BUG] npm view --json outputs illegal JSON for existing package but non-existent version"
### Current Behavior:
`npm view <package>@<version> --json` returns an empty or white-space string when answering a query for a package which _does_ exist, but a version descriptor which has no matches. This is illegal JSON and attempting to `JSON.parse` it throws an error.

### Expected Behavior:
`npm view <package>@<version> --json` should return valid JSON in this case: either `null` or somethi

[2021-05-04 10:46] tstibbs opened #3185 "[BUG] symlinks missing for dependencies of locally installed modules"
### Current Behavior:
When installing a module from npm, symlinks are created in `node_modules/.bin/` for that dependency and any transitive dependencies.
When installing a module from a local directly, symlinks are created in `node_modules/.bin/` for that dependency but _not_ any transitive dependencies.

### Expected Behavior:
Installing a module from a local directory should behave the same as

[2021-05-04 11:11] mrpaul42 opened #3186 "cd() never called"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-05-04 13:39] ljharb commented on #3185
I don’t think this expectation holds. You can’t rely on hoisting; the only bins that are reliably available are those of your direct dependencies.

[2021-05-04 13:40] ljharb commented on #3186
#417

[2021-05-04 13:40] #3186 closed, assigned to nobody

[2021-05-04 22:08] HamzaAdam opened #3188 "This version of npm is compatible with lockfileVersion@1, but package-lock.json was generated for lockfileVersion@2. I'll try to do my best with it!"
[2021-05-04T21_18_25_344Z-debug.log](https://github.com/npm/cli/files/6424179/2021-05-04T21_18_25_344Z-debug.log)

[2021-05-04 22:53] ljharb commented on #3188
That means the lockfile was made with npm 7, but you're using npm 6.

Everyone on your project should be using the same node/npm versions, consistently.

[2021-05-05 08:01] ZFail opened #3189 "[BUG] sh: tsc: Permission denied when running npm run start"
### Current Behavior:
"sh: tsc: Permission denied" when running "npm run start"

### Expected Behavior:
"npm run start" must run "tsc -v" command with result "Version 4.2.4"

### Steps To Reproduce:
[code]
### Environment:
- Host OS: Ubuntu 18.04.3 LTS
- Node: v16.0.0
- npm: 7.10.0

[2021-05-05 08:39] Juhi5844Shivam opened #3190 "npm ERR! cb() never called![BUG] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

![Screenshot (113)](https://user-images.githubusercontent.com/83201563/117115939-60348680-adab-11eb-9b76-95fa9daa11cb.png)

[2021-05-05 11:25] zimtsui commented on #2844
Same problem with `npm update`, `npm update` will not fetch changed repo from git either.

And this issue doesn't come up with npm@6, but do only with npm@7

[2021-05-05 12:00] padinko commented on #2829
I make pull requests to fix this

https://github.com/npm/arborist/pull/276 will fix sorting in `package.json`
https://github.com/isaacs/json-stringify-nice/pull/5 will fix sorting in `package-lock.json`

so this 2 packeses will need to be updated to fix this

[2021-05-05 12:05] ShibaTech001 opened #3191 "How to use intent action please reply"
Please help intent plugin only url send then response please help

[2021-05-05 12:05] ShibaTech001 commented on #3191
Cordova platform

[2021-05-05 12:08] ljharb commented on #3190
#417

[2021-05-05 14:38] tannerkrewson opened #3192 "[BUG] workspaces install doesn't link local packages when folder name is different than package name"
### Current Behavior:
- Say you had two packages in your workspace. In their `package.json`, their names are "tanner-foo" and "tanner-bar". These packages are in folders called "foo" and "bar" respectively.
- When you run `npm install`, NPM 7 will download "tanner-foo" and "tanner-bar" from NPM instead of linking them locally.

### Expected Behavior:
- NPM will use the "name" field of their `packa

[2021-05-05 15:22] alizadeh-mohsen opened #3193 "error cb() never called!"
[2021-05-05T15_17_33_009Z-debug.log](https://github.com/npm/cli/files/6428196/2021-05-05T15_17_33_009Z-debug.log)
just creating a new angular app

### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:
ng new angular app

### Environment:

- OS: windows 10
- Node: v14.15.4
- npm: 7.12.2

[2021-05-05 15:23] ljharb commented on #3193
#417

[2021-05-05 16:15] blimmer opened #3194 "[BUG] `npm install` fails with npm ERR! Cannot read property 'sourceReference' of null"
### Current Behavior:

I get a failure when running `npm install` without an existing `package-lock.json` with a specific `package.json` file.

The failure I get is:

[code]

From the debug log, here's the stack trace:

[code]

Here's the full debug log: https://github.com/blimmer/npm-bug-report/blob/main/debug.log

### Expected Behavior:

I expect `npm install` to succeed and create a `package-lo

[2021-05-05 18:15] blimmer commented on #3194
I traced it down to the `@nivo/core` and `@nivo/line` dependencies. Here's a passing branch from my sample repo: https://github.com/blimmer/npm-bug-report/pull/1

[2021-05-05 18:30] blimmer commented on #3194
Ah, OK, so I can't straight-up `npm install` these dependencies in a new repo:

[code]

It looks like they're aware of the issue on the `@nivo` side: https://github.com/plouc/nivo/issues/1462

Is there a way to bubble this error up, instead of the `npm ERR! Cannot read property 'sourceReference' of null` message? That would save folks some time when upgrading.

[2021-05-05 18:51] wraithgar commented on #2829
Thank you @padinko!

[2021-05-05 20:18] Keysox commented on #3078
We're seeing this same error with these versions:
* node 15.11.0 / npm 7.6.0
* node 16.0.0 / npm 7.10.0

The interesting thing is that it'll timeout within 4 seconds of a previous `200` and not retry at all when a `502` is encountered using the defaults specified here: https://docs.npmjs.com/cli/v7/using-npm/config#fetch-retries.

Is there any update on this issue or workarounds we should try?

[2021-05-06 01:30] b2whats commented on #2799
Still does not work in version 7.11.2
when install or ci, packages are taken from the resolve field in package-lock, not from the set registry in npmrc or --registry

[2021-05-06 01:31] b2whats commented on #2508
Still does not work in version 7.11.2
when install or ci, packages are taken from the resolve field in package-lock, not from the set registry in npmrc or --registry

[2021-05-06 05:06] GourabSanyal commented on #1916
Faced the same error. Was stuck with it for a long time.

My os is windows 10 pro.

This is how I got out of it :

1. Clear all the npm-cache first, and install the latest version of Node.
2. Uninstall the `create-react-app` globally using `npm uninstall -g create-react-app` in the Node terminal.
3. then run` npx create-react-app <app name>`

I don't know why but the last two methods worked only w

[2021-05-06 05:21] ljharb commented on #2715
@wraithgar the linked PR appears both merged and released, but I'm still seeing this issue in npm v7.11.2: https://github.com/inspect-js/is-generator-function/runs/2515355693

[2021-05-06 05:37] highmtworks opened #3196 "[BUG] npm install some updated package does not update some of its dependencies in node_modules"
`npm install aws-cdk@1.98.0`
and then
`npm install aws-cdk@1.102.0`
does not update some packages in node_modules on which aws-cdk depends.

### Current Behavior:
After the _steps to reprocude_ ,
`npm ls -a` reports
[code]
but the version of node_modules/aws-cdk/node_modules/@aws-cdk/cloud-assembly-schema/package.json is still
[code]

### Expected Behavior:

The version of node_modules/aws-cdk/nod

[2021-05-06 05:52] highmtworks commented on #3196
In addition:

The package.json of aws-cdk@1.98.0 contains:
[code]

The package.json of aws-cdk@1.102.0 contains:
[code]

[2021-05-06 06:02] leepowelldev commented on #2508
@wraithgar it would be good to know if the behaviour @b2whats describes is the expected behaviour of npm now for security reasons, or if it is a regression bug introduced in v7.

[2021-05-06 06:14] ShibaTech001 commented on #3191
YES

[2021-05-06 08:20] fetis commented on #2799
sorry, can't check this atm

[2021-05-06 10:05] abidbukhari opened #3197 "[BUnpm install bootstrap npm WARN tar ENOSPC: no space left on device, write npm ERR! cb() never called!G] <title>"
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-05-06 10:28] andreibsk commented on #2306
Me, two of my coworkers, and our build server are also experiencing this "freeze". This started happening after we upgraded npm to v7 (by node 16). We are all on Windows 10 with latest updates installed.
I tried the same list of packages on my personal PC and couldn't reproduce this. Which lead me to discover that the antivirus on our work machines is a factor in this freeze; I uninstalled it temp

[2021-05-06 12:26] boy51 commented on #708
What even is the point of this change?

Are we supposed to update each dependency by hand? Or are we supposed to run `npm update` and check each dependency with `npm ls`? Or suddenly its desirable to not list latest version in `package.json` and have completely different dependencies in `package.lock`?

[2021-05-06 13:40] #3191 closed, assigned to nobody

[2021-05-06 13:41] ljharb commented on #3197
Please fill out the issue template.

Perhaps your hard drive is full?

[2021-05-06 13:41] #3197 closed, assigned to nobody

[2021-05-06 14:50] wraithgar commented on #2715
Can you open a new issue for this @ljharb that clearly outlines the situation?

[2021-05-06 15:28] ljharb commented on #2715
@wraithgar i can, but the contents would be identical to this - basically, install should *never fail due to audit*, and currently it does if an explicit audit level is set in config.

[2021-05-06 17:08] #2889 closed, assigned to wraithgar

[2021-05-06 17:08] #2647 closed, assigned to wraithgar

[2021-05-06 17:08] #3166 closed, assigned to nobody

[2021-05-06 18:22] bobmoss14 opened #3199 "Sr Technical Architect"
trying to install npm install mat-video for angular app and it gives the following error:
Build at: 2021-05-06T18:06:01.288Z - Hash: d0051c06976f78f5b7de - Time: 2811ms

Error: node_modules/mat-video/lib/internal/mat-slider-progress-bar/mat-slider-progress-bar.component.d.ts:8:5 - error TS2610: 'value' is defined as an accessor in class 'MatSlider', but is overridden here in 'MatSliderProgressBarC

[2021-05-06 18:50] ljharb commented on #3199
Seems like a typescript error, not an issue with npm.

[2021-05-06 18:50] #3199 closed, assigned to nobody

[2021-05-06 20:32] wraithgar commented on #2934
@domiSchenk Thank you! That unlocked the solution for us, being able to reproduce it.  The bug is actually in arborist.reify when it chooses to write the spec back to the package.json, was seeing if what ended up on disk intersected w/ the spec you asked for (which is `*` if none is given). But, because there was a semver-prefix range in play, that test was returning false.

We have a fix in fligh

[2021-05-06 21:54] wraithgar commented on #3189
If `tsc` is not a command you have installed on your machine locally, this is going to fail.

If you are trying to run `npm exec tsc` then that needs to be the actual `start` entry in your `scripts` object.

[2021-05-06 21:54] #3189 closed, assigned to nobody

[2021-05-06 21:54] #3188 closed, assigned to nobody

[2021-05-06 21:54] wraithgar commented on #3183
This is on our roadmap.

[2021-05-06 21:54] #3183 closed, assigned to nobody

[2021-05-06 21:59] wraithgar commented on #3174
`--save-bundle` is a valid config flag and should be showing up in the help output, so there are two bugs here: the missing behavior and the incorrect help output.

[2021-05-06 22:01] wraithgar commented on #3176
https://github.com/npm/make-fetch-happen/issues/48 Is the issue where this is being tracked.

[2021-05-06 22:01] #3176 closed, assigned to nobody

[2021-05-06 22:02] #3168 closed, assigned to nobody

[2021-05-06 22:02] wraithgar commented on #3168
Please use the issue template when creating new issues

[2021-05-06 22:05] #3190 closed, assigned to nobody

[2021-05-06 22:05] #3193 closed, assigned to nobody

[2021-05-06 22:07] StephenAArredondo opened #3202 "Coiner Miner Detected By Windows v6.14.13"
Hello,

Just recently received a windows defender alert to a coin miner detected in my node_modules/AUTHOR directory.

My project is currently using:  "npm": "^6.14.13"

Just wanted to bring it to the attention of the community.

Currently, we can't move away from this version and need some guidance on how to assess this.

![image](https://user-images.githubusercontent.com/8017722/117371346-baaa11

[2021-05-06 22:07] wraithgar commented on #3175
Likely related: https://github.com/npm/cli/issues/3159

[2021-05-06 22:09] ljharb commented on #3202
That file is just a text file listing people's names and email addresses. As such, it can't possibly be a miner; Windows Defender is incorrect here.

The solution is to fix Windows Defender (and/or to ignore this warning).

[2021-05-06 22:10] wraithgar commented on #3111
This is likely a problem with your docker setup, can not reproduce

[code]

[2021-05-06 22:10] #3111 closed, assigned to nobody

[2021-05-06 22:12] ZFail commented on #3189
`tsc` is a script for starting the typescript compiler, which is installed under the path `node_modules/.bin/tsc` after running the `npm install` command
PS. node v14 and yarn execute these commands successfully, the problem only appears in node v15 and v16

[2021-05-06 22:13] ljharb commented on #3189
The `permission denied` error suggests that it's invoking the right binary, but it lacks the `x` permission.

[2021-05-06 22:20] ZFail commented on #3189
all coomand in docker runs under root
[code]

[2021-05-06 22:23] ljharb commented on #3189
what does `which tsc` say?

[2021-05-06 22:24] ZFail commented on #3189
nothing
[code]

[2021-05-06 22:29] ljharb commented on #3189
Then it's very strange that `./node_modules/.bin/tsc` would say "permission denied", since you clearly have permission to execute it. My guess is it's something about your docker setup.

[2021-05-06 22:43] ZFail commented on #3189
I can reproduce this bug on two different machines running under ubuntu 18.04

command `./node_modules/.bin/tsc -v` runs succesfully
[code]

[2021-05-06 22:45] ZFail commented on #3189
If I put this command under start script, npm returns
[code]

[2021-05-06 22:46] StephenAArredondo commented on #3202
Thank you for the quick response!

Just wanted to make sure.

[2021-05-06 22:46] #3202 closed, assigned to nobody

[2021-05-06 22:56] ZFail commented on #3189
Look like the npm for some reason runs command under user 'node'

[code]

[2021-05-06 23:01] ljharb commented on #3189
Ahhhh. Yes, when you're root, i believe npm runs under a no-privilege user, and that might be the issue here.

[2021-05-06 23:01] ZFail commented on #3189
Confirmed, npm run scripts under user `node`:

[code]

[2021-05-06 23:02] ZFail commented on #3189
Why? It`s documented somethere?

[2021-05-06 23:03] ljharb commented on #3189
I assume because running as root would be very dangerous - ie, it opens up an attack vector from malicious npm packages.

[2021-05-06 23:09] wraithgar commented on #3155
Looks like this was related to https://github.com/npm/cli/issues/2889, which was fixed in `v7.12.0`

Can reproduce this w/ an npm earlier than that, and confirm that the directory isn't deleted w/ `v7.12.0`

[2021-05-06 23:09] #3155 closed, assigned to nobody

[2021-05-06 23:12] wraithgar commented on #3147
The prioritization of peer/dev dependencies was updated in `v7.12.0` and this should be fixed now.

[code]

[2021-05-06 23:12] #3147 closed, assigned to nobody

[2021-05-06 23:41] ZFail commented on #3189
This is not true, i create another folder under root, copy the package.json to it, and run commands there:
[code]

I think npm runs commands under the owner of the directory in which the package.json is located.
very strange behavior

[2021-05-07 00:41] omelnik opened #3204 "[BUG] Npm Publish assumes an incorrect path to a dir"
### Current Behavior:
I'm working on a common package for my app and I'd like to publish it to the NPM registry. When I tried to publish a specific dir (in my case, the name of this dir is "dist" and it contains `package.json` inside) for some reason `npm publish` added this dir twice to its path. The publishing  process starts, but it gets aborted halfway through. I assume it's due to the issue w

[2021-05-07 08:54] ShangguanQuail opened #3205 "[BUG] npm login --auth-type=sso fail from 7.11.0"
`npm login --auth-type=sso` fail, because the params forceAuth is [{ token }](https://github.com/npm/cli/blob/a4e7f4e4b40d645fed97622a97c7fa72aa5da82b/lib/auth/sso.js#L20), but [_authToken](https://github.com/npm/npm-registry-fetch/blob/01081230444d142cc6bf37f702159f8ebcee5e64/auth.js#L55) is used in auth.js

https://github.com/npm/npm-registry-fetch/pull/50

[2021-05-07 09:55] txtsd commented on #1451
What's the holdup on this? Should be an easy fix to change and prefer a different directory imo.

[2021-05-07 13:15] MoritzLoewenstein opened #3207 "[BUG] Typo in npm audit report"
### Current Behavior:
The `npm audit` report prints "Regular Expression Deinal of Service` if it encounters a vulnerability of that type.

### Expected Behavior:
The `npm audit` report should print "Regular Expression Denial of Service` if it encounters a vulnerability of that type.

### Steps To Reproduce:
1. open a project with `hosted-git-info` < 3.0.8
2. run `npm audit`

### Environment:
- OS:

[2021-05-07 14:24] wraithgar commented on #3135
This is by design https://github.com/npm/node-semver#prerelease-tags

Resolving peerDependendies in `includePrerelease:true` mode is something that would have to be changed via the RFC process: https://github.com/npm/rfcs

[2021-05-07 14:24] #3135 closed, assigned to nobody

[2021-05-07 14:46] archfz opened #3208 "[BUG] Big performance issues and possible memory leak"
### Current Behavior:
Running npm 7 in docker image has some serious performance issues. Running same npm 7 locally doesn't have this on the other hand. I was thinking about posting this in the docker repository, but I am still unsure of the culprit and how it is related to the problem. I have found that `reify:createSparse` is the task that slows down dramatically, which as I saw is creating dire

[2021-05-07 15:51] neutraali commented on #2339
In `npm6` I could `npm install ./packages/my-local-folder`, which contains a `package.json` with some extra dependencies, and it would hoist the dependencies to the root level (e.g. the path where `npm install` was run).

In `npm7` it just generates an empty symlink to `../packages/my-local-folder` without actually installing anything.

[2021-05-07 16:56] CodyEakins commented on #3174
I can write another issue if you'd like. Please make this issue more about the missing behavior; not the documentation issue.

[2021-05-07 17:03] wraithgar commented on #3174
It is, that is just a note for whoever picks this up.

[2021-05-07 17:48] wraithgar commented on #2844
This is partially working in `v7.12.0`. Note here I have specifically ran `npm install abbrev`.  If I just run `npm install` the tag in package.json is not used so that is still a bug.

[code]

[2021-05-07 17:55] darcyclarke commented on #2820
Closing: https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22

[2021-05-07 17:55] #2820 closed, assigned to nobody

[2021-05-07 18:29] darcyclarke commented on #2819
The way you can work around this today is to link these deps at the same time (ex. `npm link @mycompany/B  @mycompany/C`); There are improvements that could be made to `npm link` but those would probably be feature requests/improvements; Definitely feel free to open up an RFC over on [`npm/rfcs`](https://github.com/npm/rfcs) if you have ideas on how this should work differently in the future.

[2021-05-07 18:29] #2819 closed, assigned to nobody

[2021-05-07 18:33] darcyclarke commented on #2823
@10hendersonm can you try replicating this problem on the latest version of `npm`? (ie. `npm i -g npm`) We've made improvements to peer dependency resolution over the last number of releases which may help here

[2021-05-07 18:35] darcyclarke commented on #2828
Looks like a legitimate bug; We'll dig in on this (seems like it could be caused by linking to a symlink)

[2021-05-07 18:37] darcyclarke commented on #2837
**Closing:** we do not support/triage third-party libraries or tooling bugs; Please file an issue with the relevant project.

[2021-05-07 18:37] #2837 closed, assigned to nobody

[2021-05-07 18:40] darcyclarke commented on #2838
@ray007 can you try replicating this problem on the latest version of `npm`? (ie. `npm i -g npm`)

[2021-05-07 18:41] darcyclarke commented on #2839
This is a known issue; We'll try to resolve this when we upgrade to `node-gyp@8.x` in the very near future.

[2021-05-07 18:44] darcyclarke commented on #2840
npm v7 looks at all of your dependencies no matter what but will only reify the specific types you specify when using `--only` or `--omit` or x/y (so that we can create a consistent `package-lock.json`). If you have a proposal for how this could/would change in the future, please open a issue/pr on our [RFCs repo](https://github.com/npm/rfcs)

[2021-05-07 18:44] #2840 closed, assigned to nobody

[2021-05-07 18:45] darcyclarke commented on #2841
@snebjorn can you try replicating this problem on the latest version of `npm`? (ie. `npm i -g npm`)

[2021-05-07 18:46] darcyclarke commented on #2847
**Closing:** this error can arise for a number of reasons; Please read [this document](https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22) & refile an issue with as much information as possible if you're able to **consistently reproduce** this error.

[2021-05-07 18:46] #2847 closed, assigned to nobody

[2021-05-07 18:47] darcyclarke commented on #2848
**Closing:** we do not support/triage third-party libraries or tooling bugs; Please file an issue with the relevant project.

[2021-05-07 18:47] #2848 closed, assigned to nobody

[2021-05-07 18:48] darcyclarke commented on #2849
Sounds like this is a legitimate problem with global peer deps... setting priority accordingly

[2021-05-07 18:50] darcyclarke commented on #2850
@TheSpeddyEthanYT can you try replicating this problem on the latest version of `npm`? (ie. `npm i -g npm`)

[2021-05-07 18:51] robertIsaac opened #3210 "[BUG] npx package@version uses incorrect installed version in npx 7"
### Current Behavior:
running `npx @package@version` generate it with the current install version

### Expected Behavior:
it should be generated with the given version

### Steps To Reproduce:
ex. steps to reproduce the behavior:
1. run `npm i -g npm@latest` to install npm 7
2. run `npx @angular/cli@next new`
3. answer all questions of the angular cli, it doesn't matter what the answers are
4. it

[2021-05-07 18:52] darcyclarke commented on #2853
@llamerr can you try replicating this problem on the latest version of `npm`? (ie. `npm i -g npm`)  We had a bug at one point in an earlier v7 where `package-lock.json` was missing some context which could have effected executing lifecycle scripts.

[2021-05-07 18:53] darcyclarke commented on #2856
Known issue with `npm doctor` at the moment; Needs much love... setting priority accordingly

[2021-05-07 18:58] darcyclarke commented on #2862
`npm audit` unfortunately doesn't support global packages at the moment; We've been considering other improvements to `audit` (ex. [auditing packages that haven't been install yet](https://github.com/npm/rfcs/pull/232)) but this would be a feature improvement; If you feel strongly about this, we'd love for you to make an issue/pr on our [`npm/rfcs` repo](https://github.com/npm/rfcs/)

[2021-05-07 18:58] #2862 closed, assigned to nobody

[2021-05-07 18:58] #2867 closed, assigned to nobody

[2021-05-07 19:01] tristanls commented on #2819
Since this is the second time you're closing this issue as is without changing anything, the only remaining suggestion I have is that perhaps this should be documented per https://github.com/npm/cli/issues/2554#issuecomment-810903688

[2021-05-07 19:13] fishcharlie commented on #2862
@darcyclarke That's fair. **However** from a user perspective this is very confusing. If npm audit doesn't work for global packages, it shouldn't talk about npm audit when installing global packages.

Totally fine if it's a feature request. But at the very least make the UX better and more understandable so users don't think it's a bug.

[2021-05-07 19:24] ljharb commented on #2862
It seems like a bug to me that any audit things happen at all when doing a global operation.

[2021-05-07 19:39] tmpaul06 commented on #564
For those who are looking for a NodeJS port:

[code]

Put this under `scripts/conditional-install.js` and then run `npm run conditional-install` after inserting `conditional-install`: `node scripts/conditional-install.js` in package.json

Make sure `.package-lock.sha512` is in `.gitignore`

[2021-05-07 19:42] oleksii-lukin commented on #2853
I tried to reproduce it before upgrading, my current versions are:

[code]

and it seems on those versions it's already not reproducing, means working fine

hm... actually I did not remove node_modules before trying it, but checking log, it seems that was done by npm

[code]

after npm update (can nvm be related?)

[code]

versions now are

[code]

and now bug is reproduced:

[code]

actually I se

[2021-05-07 20:48] Nixinova commented on #2838
Both 7.10.0 and 7.12.0 still have this issue (EPERM: operation not permitted). My `npm list -g` also only lists `C:\Program Files\nodejs`.

<details><summary>non-admin `npm i -g npm`</summary>

[code]
</details>
<details><summary>admin `npm i -g npm`</summary>

[code]
</details>

[2021-05-08 00:26] tannerkrewson commented on #3192
ok it works now ..... weird 🤷

[2021-05-08 00:26] #3192 closed, assigned to nobody

[2021-05-08 06:58] dobal19 opened #3212 "Got this while installing some package using npm"
![Screenshot from 2021-05-08 12-25-25](https://user-images.githubusercontent.com/53330736/117530105-ed204f80-aff8-11eb-804a-c7d7116878e4.png)

[2021-05-08 10:12] MoritzLoewenstein commented on #3207
Fixed, thank you :)

[2021-05-08 10:12] #3207 closed, assigned to nobody

[2021-05-08 10:25] n3dst4 commented on #2011
@darcyclarke Just checked, and this is still a problem in npm 7.12.0 - any news internally?

[2021-05-08 14:15] ljharb commented on #3212
#417

[2021-05-08 14:15] #3212 closed, assigned to nobody

[2021-05-08 15:50] VINISHVV opened #3213 "[BUG] Meshcentral Update error"
### Current Behavior:
When i am trying to update my meshcentral application to new version i am getting below error message.

_______________________________________________________________________0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli

[2021-05-08 15:54] ljharb commented on #3213
See #417.

Try with npm 7?

[2021-05-08 17:19] VINISHVV commented on #3213
@ljharb - Thanks.

[2021-05-08 17:19] #3213 closed, assigned to nobody

[2021-05-09 13:17] NOAHnNAOMI opened #3214 "This is an error with npm itself. Please report this error at:"
~ $ npm audit fix
npm WARN ancient lockfile
npm WARN ancient lockfile The package-lock.json file was created with an old version of npm,
npm WARN ancient lockfile so supplemental metadata must be fetched from the registry.
npm WARN ancient lockfile
npm WARN ancient lockfile This is a one-time fix-up, please be patient...
npm WARN ancient lockfile
npm ERR! cb() never called!

npm ERR! This is an er

[2021-05-09 15:27] ljharb commented on #3214
#417

[2021-05-10 03:11] xuekaiyin opened #3218 "error An unexpected error occurred: "http://fe.mlamp.cn:2018/@binance-chain%2fbsc-connector: ETIMEDOUT"."
### Current Behavior:

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-05-10 03:18] #3218 closed, assigned to nobody

[2021-05-10 07:23] k-sai-kiranmayee commented on #1785
Hello! Facing the same issue in windows too...

**npm version** - 5.6.0
**OS** - Windows 10
**Node** - v8.9.4

Getting the error - **`UNKNOWN: unknown error, unlink 'C:\Users\<>\AppData\Roaming\npm-cache\_cacache\index-v5\94\00'`**

Could you prioritize, please...Unable to install node modules for any of the new projects

If there is any other way to get rid of that error, please help (Have tried

[2021-05-10 08:06] undoo commented on #3208
It is not replicated on:

Mint 20.1 5.4.0-66-generic
Docker: 19.03.8
npm: 6.14.4
node: 10.19.0

[2021-05-10 08:32] alisscco opened #3219 "[BUG] <title>"
### Current Behavior: 🐛 bug constantly disable Java script ..enable JavaScript.

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-05-10 08:32] alisscco opened #3220 "[BUG] <title>"
### Current Behavior: 🐛 bug constantly disable Java script ..enable JavaScript.

### Expected Behavior:

### Steps To Reproduce:

### Environment:

[2021-05-10 08:42] archfz commented on #3208
A more detailed error log:
[code]

[2021-05-10 08:53] archfz commented on #3208
Still reproduces on following specs (docker downgraded):
- Host OS: Ubuntu 20.04 Kernel: 5.11.10-051110-generic
- Docker: 19.03.15, build 99e3ed8919

[2021-05-10 08:57] archfz commented on #3208
Still reproduces on following specs (docker and kernel downgraded):
- Host OS: Ubuntu 20.04 Kernel: 5.4.117-0504117-generic
- Docker: 19.03.15, build 99e3ed8919

Close match to @undoo host specs.

[2021-05-10 09:07] benelori commented on #3208
Can confirm this issue on
Ubuntu 20.04
Linux 5.4.0-72-generic x86_64
Docker 20.10.1

I do not get the heap limit allocation error, but it does hang on
`[         .........] / idealTree: timing reify:retireShallow Completed in 0ms`
for at least a couple of minutes.
And it happens on all 3 Docker image versions described by OP

[2021-05-10 09:28] snebjorn commented on #2841
@darcyclarke npm@7.12.0 appears to work 🚀

[2021-05-10 09:28] #2841 closed, assigned to nobody

[2021-05-10 11:39] Mustapha147 opened #3221 "error cb() never called!"
timing npm Completed in 412926ms
12810 error cb() never called!
12811 error This is an error with npm itself. Please report this error at:
12812 error <https://github.com/npm/cli/issues>

[2021-05-10 13:48] HarshitSrivastava007 opened #3222 "npm ERR! cb() never called!"
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

### Environment:

[2021-05-10 13:50] bcnorwood commented on #1392
This is still broken in v6.14.13. While it appears to be fixed in v7.12, v7 is incompatible with Node 14, the latest version supported by Lambda.

At a bare minimum, v6 needs to report an error. I wasted far too long trying to figure out why my dependencies wouldn't install only to discover that this "warning" was anything but.

[2021-05-10 15:25] stargt commented on #2508
When I upgraded npm version from 7.10.0 to 7.12.0 by using `nvm install-latest-npm`,
This problem has been solved.

[2021-05-10 15:27] ljharb commented on #1392
@bcnorwood npm 7 is quite compatible with node 10, 12, and 14+.

[2021-05-10 15:27] ljharb commented on #3222
#417

[2021-05-10 15:27] #3222 closed, assigned to nobody

[2021-05-10 15:46] #3219 closed

[2021-05-10 15:46] CodeTroopers commented on #2819
@darcyclarke you say "those would probably be feature requests/improvements"
But this worked with NPM 6.14.11. so it's rather a regression of npm

[2021-05-10 16:49] #2934 closed, assigned to wraithgar

[2021-05-10 17:12] j1elo commented on #2372
I agree this shouldn't have been closed, unless the issue had maybe been fixed and now it is showing up again as a regression. Anyway, this bug is not an intricate or difficult to reproduce one, at all; actually if anything it is pretty _trivial_ to check. So much, that I'm surprised this is not having a bigger impact on lots of NPM users. Are we just using `npm link` wrong?

For future reference

[2021-05-10 17:14] j1elo commented on #2372
## How to reproduce

Check versions:
[code]

Clone sample project
[code]

Create a link
[code]

Verify that the link has been created in global prefix
[code]

Make use of the link
[code]

Verify that the link has been used
[code]

Run any other install command. This step is what triggers the reported bug:
[code]

Verify if the link is still present (good), or if it has been replaced (bad)
[code]

[2021-05-10 17:20] SystemParadox commented on #2372
npm link has ***never*** worked right. Most users have just given up on it.

My biggest hope for npm 7 was the ability to finally use npm link, but I ended up here instead.

[2021-05-10 18:24] #3221 closed, assigned to nobody

[2021-05-10 18:26] mlucool opened #3223 "[BUG] mtime install issue"
### Current Behavior:

Install set the mtime of added files to `Oct 26  1985`. This originates from [here](https://github.com/npm/npm/pull/20027) I believe (since moved to [here](https://github.com/npm/pacote/blob/ad54e6d0c3ae5a625e2256bfbcd90c56e52f814e/lib/util/tar-create-options.js#L27) it looks like).

### Expected Behavior:

The mtime of the installed files should not be overwritten (I am not

[2021-05-10 18:36] ljharb commented on #3221
#417

[2021-05-10 18:38] ljharb commented on #2372
afaik, since npm 5, this is how `npm install` has worked. It's annoying, but it's by design.

Any time you install something, you have to manually recreate all your links.

[2021-05-10 19:41] Coding-Kiwi commented on #624
I also face this issue with node 7 (every subversion)
Works for me on 6.14.13

`npm i -g npm@6.14.13`

[2021-05-10 20:46] Venryx commented on #2372
It's not by design. The NPM team has talked about it before, and [said npm 7 was going to fix it](https://github.com/npm/npm/issues/17287#issuecomment-400833982), but then it never was fixed:

The comment above was made three years ago...

(The original post of the linked thread is not exactly the same issue -- it's about `npm install` "stealing" subdependencies from npm-linked dependencies rather

[2021-05-10 21:25] ljharb commented on #2372
That there's tons of issues with it, and that the plan is to fix it, does not mean it wasn't originally by design.

[2021-05-10 21:40] tessro opened #3225 "[BUG] Running `npm install` modifies `package-lock.json` when no changes were made"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running `npm install` modifies `package-lock.json` even when no changes have been made to `package.json`, `package-lock.json`, or `node_modules`.

### Expected Behavior

Running `npm install` is stable when there are no changes to `package.json` or `package-lock.json`.

### Steps To Reproduce

[2021-05-10 21:41] bcnorwood commented on #1392
So it is - mea culpa. I got an error about a missing module when I upgraded earlier, as well as a message about an "ancient" version of NPM which I assumed to be v6. Upon confirming that v7 came with Node v15, it seemed obvious what was going on. Naturally, I can't reproduce either of these behaviors, and NPM v7 is working fine with every version of Node I've tried. Oh well.

Still, given that Nod

[2021-05-10 21:42] tessro commented on #3225
Across runs, `npm` appears to be changing its mind about whether certain dependencies of the library are extraneous or not.

This library ships with an `npm-shrinkwrap.json`, which I know is not recommended, and in our production repo, this library seems to be the only one exhibiting this behavior. I'm wondering if this is possibly related but I admit I don't know enough about the npm internals to

[2021-05-10 21:51] ljharb commented on #1392
with nvm, you can run `nvm install whatever --latest-npm` safely.

[2021-05-10 22:04] hemanth opened #3226 "[BUG] `--registry` support for custom init modules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Need support to registry support for `npm init` and `npx`

[code]

Say from example:

[code]

### Expected Behavior

Should respect `--registry` like `npm install` does.

### Steps To Reproduce

Any env and any config

### Environment

- OS: Darwin
- Node: v16.0.0
- npm: 7.6.3

[2021-05-10 22:42] hemanth commented on #3226
Created a [RFC](https://github.com/npm/rfcs/issues/378) hence closing this.

[2021-05-11 01:31] george-bobby commented on #2135
I had the same error.  I updated NPM and node. That solved the problem.

[2021-05-11 07:42] darkobits commented on #2755
https://github.com/npm/cli/issues/2434 reported this behavior for `npm ci`.

Per this issue, it's also happening with `publish`. Additionally, I'm also seeing it with `link` (version `7.12.1`).

[2021-05-11 08:10] HomyeeKing commented on #417
the only suck thing I know is that  the warning message of `npm publish`   is indirect and  not clear
 when you have not verify your email, just tell that they haven't verified the email, not something like security policy thing and package version problem...

[2021-05-11 08:14] valentin-anamorphik opened #3228 "[BUG] install node-sass not working on windows 10"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I get a failure when running `npm install node-sass`.

From the debug log, here's the stack trace:

[code]

### Expected Behavior

Running `npm install node-sass` correctly.
Running `npm build-prod` correctly.

### Steps To Reproduce

1. Run `npm install node-sass` in my project
2. `npm ERR!

[2021-05-11 08:39] AlexWayfer commented on #677
I don't know what to do else, but I can account such action as [Code of Conduct](https://www.npmjs.com/policies/conduct) violation (I can be wrong). More precisely, "Be respectful" and "providing a friendly, safe and welcoming environment for all". I want to mark that I'm not "spamming, trolling, flaming, baiting, or other attention-stealing behavior", I just see a community activity here, interes

[2021-05-11 10:28] jthomas commented on #2755
I'm also seeing it with this command:

`npm install --production --no-optional --ignore-scripts` on npm v7.10 with node.js v16.0.0

[2021-05-11 13:49] alasdairhurst commented on #2087
I was wrong. a peer of "^1.5.0-0" doesn't include all future prereleases

1.5.0-0 won't match 1.6.0-0

This is a bit of an issue now i since NPM installs peer dependencies by default.

[2021-05-11 14:18] jougene opened #3229 "[BUG] TAR_BAD_ARCHIVE: Unrecognized archive format"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try to install package from private gitlab repository via git+https with user and password, I get multiple
[code]
errors, and at the end of them -
```TAR_BAD_ARCHIVE: Unrecognized archive format```
error.

If I enable verbose logging (`npm install --ddd`), I can see that somewhere in i

[2021-05-11 14:24] ljharb commented on #677
@AlexWayfer theres a few likely reasons. One is that feature requests must go in the RFC repo and not this repo. Another is that npm almost certainly won’t support a format that node itself doesn’t support. Another is that allowing an additional format in published packages would break a ton of tooling and wouldn’t likely be worth the churn.

Before filing an rfc, please check to see if one for th

[2021-05-11 14:40] AlexWayfer commented on #677
OK, thanks. Finally we got some response.

About "a wrong place" — an issue [can be transferred to more proper repo](https://docs.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository).

With the rest things I can agree, we just wanted to clarify this actions and maintainers decisions.

[2021-05-11 14:48] KZRepository commented on #417
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

fetch GET 304 https://registry.npmjs.org/grunt-cssnano 784ms (from cache)
1900 timing metavuln:packument:grunt-cssnano Completed in 786ms
1901 timing metavuln:load:security-advisory:grunt-cssnano:EtYBVUQGQLlhlpJr8KS/6Ije2vBT1OrDb4ZylGjBbqEpHu5oNhsP4

[2021-05-11 16:48] DaneEveritt commented on #3225
Likely a duplicate of https://github.com/npm/cli/issues/2635?

[2021-05-11 16:52] tessro commented on #3225
It's possible that the issues are related, but the bug I am seeing happens without installing anything new. (And does not affect the listed order of dependencies.)

[2021-05-11 17:35] jamesorlakin opened #3230 "[BUG] Optional dependencies aren't optional for npm 6 (backwards compat.) if npm 7 regenerates the lock"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On a system still running npm 6, no install or `ci` commands can be executed if a dependency has an optional transitive dependency, _and_ the current v2 package-lock.json was generated by npm 7, _and_ package-lock.json has been recreated.

npm 6 would include the optional dependency within pa

[2021-05-11 17:41] DaneEveritt commented on #3225
~You're seeing the `package-lock.json` being changed by just running a generic `npm i` on a project with no other changes correct (just double checking I'm not misreading this)? #2635 identifies that as the core issue, the installing something new was an example showing the two different orderings of the `package-lock.json` file was all (where installing a specific dependency puts the file back in

[2021-05-11 18:10] tessro commented on #3225
Yeah, we're seeing something where some dependencies are added or removed from the other sections of the lockfile, and some metadata is changed. It could be related but I think the pattern is different.

[2021-05-11 20:07] timoxley commented on #3065
I think the `prepublish` script might be going/gone away, but it's currently the only way to make package build scripts actually work with workspaces.

See https://github.com/npm/cli/issues/3034 for a similar issue I was experiencing.

[2021-05-11 20:10] timoxley commented on #3071
Workaround might be to remove package-lock and try reinstalling.

I think the core problem here is that it treats the package-lock as the source of truth and not at the package.json in the workspace. Maybe there's a way to update the package-lock with the updated linked version, or npm should ignore package-lock for workspace packages.

[2021-05-11 20:24] ariticAli opened #3232 "not able to create ReactJS Project in Windows 10"
I am facing these issues

"
Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts with cra-template...

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\SyedHussain\AppData

[2021-05-11 20:27] vgarba3 commented on #3071
@timoxley
Thank you for the response!
Yes that is unfortunately what we've been doing. Either that or just manually deleting the outdated package in the lower project. But its not sustainable for a large dev team to have to do this. For our specific situation this happens alot with our shared package that is updated quite regularly, causing outdate versions quite frequently.

[2021-05-11 20:42] timoxley commented on #3034
@wraithgar Would like to reiterate this really is a bug and currently I believe this makes it impossible to use typescript in a workspace since you can't ensure a package is actually built before something tries to use it.

[2021-05-11 21:09] gitChicoHub commented on #1375
I noticed the same issue, even when I execute the following command-line:
npm -v
'CALL "C:\ProgramTools\nodejs\\node.exe" "C:\ProgramTools\nodejs\\node_modules\npm\bin\npm-cli.js" prefix -g' is not recognized as an internal or external command,
operable program or batch file.
6.14.11

Is this issue will be fixed in version 7.0?
Regards,
/Chic0

[2021-05-11 21:14] wraithgar commented on #3065
`npm install` does not currently support workspaces. It is being worked on right now, and script ordering will be something that is handled correctly when it does ship.

[2021-05-11 21:14] #3065 closed, assigned to nobody

[2021-05-11 21:14] wraithgar commented on #3034
Sorry, didn't see that this was specifically related to workspaces when I replied.

`npm install` does not currently support workspaces. It is being worked on right now, and prepare script ordering will be something that is handled correctly when it does ship.

[2021-05-11 21:32] wraithgar commented on #3034
You can follow the progress of adding workspace support to all of arborist's reify commands in the cli [here](https://github.com/npm/cli/pull/3227)

[2021-05-11 21:32] wraithgar commented on #3065
You can follow the progress of adding workspace support to all of arborist's reify commands in the cli [here](https://github.com/npm/cli/pull/3227)

[2021-05-11 22:04] ljharb commented on #3232
#417, and please fill out the issue template.

[2021-05-11 22:04] #3232 closed, assigned to nobody

[2021-05-12 04:04] chuanqisun commented on #2632
I ran into the same issue. Seems to have been caused by workspace.
npm 7.11.2
node 16.1.0
Ubuntu 20.04.1 LTS (running as WSL)

[2021-05-12 06:07] akash1810 commented on #694
We use GitHub Actions for CI and frequently see this issue too using NPMv6 on Ubuntu.

We've recently [added](https://github.com/guardian/cdk/pull/532) the [Cache GitHub Action](https://github.com/actions/cache) to our workflow which appears to have resolved this issue for us; we've performed over 300 builds with this change now.

The thinking is that it helps with this from [the NPM docs](https:/

[2021-05-12 09:34] ray007 commented on #2838
Installing a new `npm` (which only worked through tricks) did not help:
[code]

[2021-05-12 10:46] TomaszG commented on #2508
@wraithgar may I ask you why this is closed? @b2whats already confirmed that the issue still occurs in the version which should have fixed it. I'm also facing this issue on `7.12.1`

[2021-05-12 12:57] timoxley commented on #3034
@wraithgar What does that mean? It's in the docs: https://docs.npmjs.com/cli/v7/using-npm/workspaces#installing-workspaces

[2021-05-12 13:18] a1anw2 commented on #708
it is this short of crap that makes me love maven so much more - the node world could learn a lot by looking over the fence at the java world.  this breaking change is unacceptable, with so many home-grown solutions/hacks/scripts to get around it - for the diehards that are supporting this change, please, put down the koolaid, and contribute.

This is a breaking change - period.  This is a change

[2021-05-12 13:18] ariticAli commented on #3232
where to fill?

[2021-05-12 14:00] wraithgar commented on #3034
You're right, looks like install is already pulling in workspaces, which is different than the `enable workspaces context` work being added to install.  Sorry for the confusion. We're on the bleeding edge here of a new thing currently being implemented, some of the terminology is overlapping.

This is already on our radar but I'll reopen this so it's being explicitly represented here in this issue

[2021-05-12 14:07] wraithgar commented on #2508
Sorry, saw the last comment that it was fixed and closed it. We did fix a lot of bugs related to this, specifically with how auth was chosen based on full urls vs hostname.  The other subsequent comments really do seem to be a separate issue, having to do with the disconnect between the `resolved` url and the registry. I'm not sure that is a bug: we can only configure tokens for hostnames/urls, th

[2021-05-12 14:45] ljharb commented on #3232
When you create a new issue, there's initial text in the box for you to fill out if you file a bug with npm 7.

If you selected "file a blank issue", then there wouldn't be one, but this firmly seems like one of the first two options on https://github.com/npm/cli/issues/new/choose

[2021-05-12 14:57] riccardomessineo opened #3233 "[BUG] Can't install repository "unsupported option "accept-new".""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm not able to install private npm dependencies that are used inside my package.json.

[code]

I thought wasn't related to npm cli, but:
1. I can successfully clone the repo on the same machine using ssh
2. yarn install works fine

Openssh version is 7.4p1-21.el7.

Is this a known problem?
T

[2021-05-12 14:58] ljharb commented on #3233
What version of git are you using?

[2021-05-12 14:58] ljharb commented on #3233
Also, what kind of git server are you connecting to?

[2021-05-12 14:59] leepowelldev commented on #2508
@wraithgar I still think the issue still stems from the fact that passing a `--registry` flag (or having a different registry configured in an npmrc file) with the `npm install` command does nothing if a `package-lock.json` file exists. It did in npm v6.

[2021-05-12 14:59] riccardomessineo commented on #3233
Git version: 2.24.1
Git server: bitbucket.org

[2021-05-12 15:03] mnmkng opened #3234 "[BUG] `npm install` fails with EACCES on a `package.json` with no EOF"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

NPM 7 fails with an EACCES error when `npm install` is run with a `package.json` that:
1. does not have a new line at the end, AND
2. the user does not have the permission to write to the `package.json`.

It most likely happens because of https://github.com/npm/npm/issues/18545

NPM 6 does no

[2021-05-12 15:04] riccardomessineo commented on #3233
I just tested using NPM version 7.8.0 and it worked fine, upgraded to 7.12.1 and that error shows up...

[2021-05-12 15:07] mnmkng commented on #3234
Also note that the error message is quite confusing, because the `open` implies a read problem and the fact that `npm install` would write something to the `package.json` is an obscurity that we only found out by blind luck.

[code]

And yeah, we mostly have end of file new lines everywhere, but in this particular case, we were generating the `package.json` by `JSON.stringify(content)` and therefo

[2021-05-12 15:47] wraithgar commented on #2508
Yes, this behavior is different than v6 for security reasons.  We do not want to send auth tokens to endpoints they are not intended for.  In an environment where there are increasingly multiple registries configured, this is a concern.

The registry parameter determines what base url is used for a the registry when fetching the packument for a bare package name, i.e. `npm i foo --registry=https:/

[2021-05-12 15:56] #3228 closed, assigned to nobody

[2021-05-12 16:57] #3214 closed, assigned to nobody

[2021-05-12 17:03] wraithgar commented on #3233
This flag was added in this PR https://github.com/npm/git/pull/7 and it outlines the requirements for this flag to work (ssh version is also important).

Your openssh of 7.4 is the cause.

The workaround is:

[2021-05-12 17:03] #3233 closed, assigned to nobody

[2021-05-12 17:13] wraithgar commented on #3210
I can not duplicate this.  When I run those commands my project has angular 12

[code]

I even tried it while having `@angular/cli@11` installed globally, my project still got 12.

[2021-05-12 17:57] leepowelldev opened #3235 "npm install - --registry parameter not respected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have created this repository to demo the issue:
https://github.com/leepowelldev/npm-registry-issue

The scenario is a developer is working on an internal network with a local, non-public registry. They install the popular `rimraf` package from via local registry, and then deploy to the clou

[2021-05-12 19:23] blogcraft opened #3236 "[BUG] ERESOLVE unable to resolve dependency tree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Generating a new project throws an error:

[code]

### Expected Behavior

Execute `ng new test-app` and the project will be created and dependencies correctly installed.

### Steps To Reproduce

1. Installed Node 16.1.0
2. Run `npm install -g @angular/cli`
3. Run `ng new test-app`
4. See erro

[2021-05-12 21:44] rettgerst commented on #1965
this appears to still be affecting v7.12.1.

this issue is a showstopper for typescript monorepos as I rely on the "prepare" script to transpile ts to js.

[2021-05-12 21:47] silverwind commented on #2560
Neiter `progress` nor `loglevel` have any effect on the progress line any more. I hope it's not a performance bottleneck like past progress lines were.

[2021-05-12 22:15] blimmer commented on #2560
I noticed a ton of output in my CI system from this now. I think the progress was automatically disabled on non-interactive terminals before. Maybe it's related to this?

[code]

As mentioned above, I wonder if this is accounting for poor performance as in previous NPM versions.

[2021-05-12 22:20] redevill commented on #3236
I have a real problem with the layout and language used in the error message.
"Conflict" happens between 2 entities. The word is used in the error, but it does NOT CLEARLY state between which 2 entities this conflict exists.

If it stated:
The Peer dependency of jasmine-core@">=3.7.1" from karma-jasmine-html-reporter@1.6.0 is in conflict with the jasmine-core@"~3.6.0" from the root project - It wo

[2021-05-12 22:24] redevill commented on #3236
Another example:

npm ERR! Could not resolve dependency:
npm ERR! @angular/fire@"^6.1.4" from the root project
npm ERR!
npm ERR! Conflicting peer dependency: @angular/platform-browser-dynamic@11.2.13
npm ERR! node_modules/@angular/platform-browser-dynamic
npm ERR!   @angular/platform-browser-dynamic@"^11.2.13" from the root project
npm ERR!   peer @angular/platform-browser-dynamic@"^9.0.0 || ^10.0

[2021-05-12 23:19] mafintosh commented on #2560
Anyway to disable the progress bar now through other means?

[2021-05-13 11:36] mrgrain commented on #1965
With v7.12.1, `prepare` scripts seem to run on `npm ci` but not `npm i` (except when the root node_modules is missing).

It's a bit inconsistent.

[2021-05-13 12:19] j-m opened #3238 "[BUG] npm version `--force` option is not implemented"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The `force` option does nothing.

I'm trying to version a package using a git tag but, because Azure adds credentials to my `.npmrc`, `npm version` complains that my working directory is not clean.

*Re searching existing issues, I found https://github.com/npm/npm/issues/17926

### Expected B

[2021-05-13 13:20] lsymds commented on #2606
Adding `"hasInstallScript": true` into my package-lock.json doesn't appear to sort the build problem mentioned above either. Downgrading to `"lockfileVersion": 1`, however, does.

[2021-05-13 14:00] wraithgar commented on #3233
Copying @riccardomessineo's comment from the other repo to aid in future searching from people with older versions of ssh.

[2021-05-13 14:46] ramisahib opened #3239 "npm don't install this log from npm log file"
error cb() never called!

[2021-05-13 15:04] ljharb commented on #3239
#417

[2021-05-13 15:04] #3239 closed, assigned to nobody

[2021-05-13 15:43] houldsg commented on #394
Just happened to me on version 6.14.12. Running ```npm update lodash --depth 2``` doesn't change the package-lock.json below
[code]

[2021-05-13 15:52] ljharb commented on #394
Try npm 7.

[2021-05-13 16:10] waterplea commented on #1686
Happened to me too. I know there's one dependent package but it has a fixed version. How come I cannot unpublish a newer version that nobody is dependent on?

[2021-05-13 16:15] ljharb commented on #1686
The current policy is unfortunately that if *any* version is depended on, then *no* version can be unpublished.

You can try filing a support ticket to see if they can help, but in the meantime, your best bet is to file a patch version that's later than the one you want to unpublish (changing "latest" won't help people who have already upgraded), and then `npm deprecate` the bad one, and then npm

[2021-05-13 16:20] waterplea commented on #1686
Got it. That's sad that any dependent version is a blocker :(

[2021-05-13 16:30] rau8344 opened #3240 "[BUG] Install issues for package both in devDependencies and peerDependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When both devDependencies and peerDependencies are specified for a package:
1.  Installing a local .tgz fails with "Invalid comparator" error.
2.  Installing a version that mismatches with peerDependencies version fails to either warn about a mismatch OR update the peerDependencies version

W

[2021-05-13 16:46] ljharb commented on #3240
Which version of npm 7?

[2021-05-13 17:51] j-m commented on #708
I know a lot of people will disagree with this, and I was about to comment saying that I agree with everyone, but actually I think using `npm update` to update package.json is a bad habit that we should leave behind us.

If we use `^` and `~`, we shouldn't care which version is in `package-lock`; you should be perfectly okay with them mismatching. If a dependency is not using semver, then you shou

[2021-05-13 17:52] rau8344 commented on #3240
7.12.1; also updated under environment details.

[2021-05-13 18:41] ljharb commented on #708
@j-m tbh i agree with that and never use `npm update`, but if it worked like you're talking about reliably in all versions of npm i use then i'd use it :-)

[2021-05-13 21:54] cristhofert opened #3244 "[BUG] NGULAR CLI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I run ng new progect:

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\USER\AppData\Local\npm-cache\_logs\2021-05-1

[2021-05-13 22:59] 57webbee opened #3245 "[BUG] "npx @wordpress/create-block my-block""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Creating a new WordPress block in "fswebbee-my-block8" folder.

Creating a "block.json" file.

Creating a "package.json" file.

Installing npm dependencies. It might take a couple of minutes...

Skipping "@wordpress/block-editor" npm dependency. Reason:
Command failed with exit code 1: npm in

[2021-05-13 23:01] robertIsaac commented on #3210
i tried again now, it's the same
i'm using windows 10
[code]

[2021-05-14 02:56] denik1981 commented on #2544
It happened the same to me. Unfortunately, I cannot reproduce the error to help debug the issue and there is no too much information in the log file. I backed up a workspace making a full copy of it with a different name, then I work in there and later decide to remove the original. I rename the workspace (probably to the original name as I was not under my directory tree anymore). In the workspac

[2021-05-14 03:32] gaokun opened #4249 "[BUG](libnpmpublish) About 4.0.1 upgrade npm-registry-fetch from 9.0.0 to 10.0.0"
# What / Why

`npm-registry-fetch` version shows there are incompatible API changes.
And `libnpmpublish` use `opts` as params, not generate & use it inside.
So `libnpmpublish` just released above change as `patch`, is this ok?

# What am I facing

<b>In a word:</b> I use `lerna` to publish packages, but failed by authorization.
### Root Cause
Here are dependencies:
[code]
`lerna` publishes package

[2021-05-14 06:51] nicolasalarconrapela commented on #3236
The same happens to me :

[code]

OS: Windows10 Home
Node: 14.15.0
npm: 7.12.1

[2021-05-14 07:26] v1talii-dev commented on #318
How did you fix this problem?

[2021-05-14 09:20] peterjuras commented on #3178
This appears to be fixed with npm@7.13.0

[2021-05-14 09:20] #3178 closed, assigned to nobody

[2021-05-14 11:14] Avaq commented on #2508
It seems the GitHub `setup-node` Action suffers from this problem too (https://github.com/actions/setup-node/issues/265). I don't really understand the problem well enough to know what needs to change on their end. @wraithgar could you point me in the right direction? I could do the legwork and submit a fix PR once I know where to start. :)

[2021-05-14 12:03] Avaq commented on #2508
I have a theory about what the problem might be, and if it's correct, the issue may be more relevant to npm, and less to github actions: https://github.com/actions/setup-node/issues/265#issuecomment-841200541

[2021-05-14 12:57] redevill commented on #3236
@nicolasalarconrapela - In your case the peer of @shakacode/recompose@0.30.3 requires a version of react that is less than the 17.0.2 you have in your root.

I would suggest downgrading the react library to a version 16...

Or - Workaround might be to use yarn or the --legacy-peer-deps switch

[2021-05-14 13:05] redevill commented on #3236
HHHmmmm - my mistake, that tool does not show peerDependencies.
The Library https://www.npmjs.com/package/@shakacode/recompose does not show any peer dependencies either.
I could only find this dependency in the package.json of the installed library :(
Here is another way peers can be found -
npm info name-of-module peerDependencies

[2021-05-14 13:18] Avaq commented on #2508
I think the problem that I encountered specifically is that with npm v7: `npm install` in the presence of an `.npmrc` containing `@my-scope:registry=https://npm.pkg.github.com/` and `//registry.npmjs.org/:_authToken=XXXX` will successfully resolve and download private dependencies on https://npm.pkg.github.com if there is no package lock, but it will fail to download those same dependencies in sub

[2021-05-14 14:30] felix9 commented on #318
@VitaliyDemchuk I never found a fix or workaround, I just gave up on using `npm link`

[2021-05-14 14:33] v1talii-dev commented on #318
@felix9 I used this [hack](https://npm.community/t/npm-install-fails-when-a-git-ssh-project-is-linked/9947/2), but it is a very bad solution and I would like to find a more acceptable option.

[2021-05-14 14:47] ljharb commented on #3236
@blogcraft your issue is that your project pins jasmine to the minor version 3.6, but karma-jasmine-html-reporter requires 3.7.1 or higher. Upgrade jasmine in your own project.

@nicolasalarconrapela your problem is that you’re using a version of shakacode/recompose that does not work with react 17. Downgrade to react 16, upgrade shakacode/recompose, or stop using recompose.

@redevill my guess is

[2021-05-14 14:52] j-m commented on #1946
I think this should be reopened. At the very least, `npm unlink` doesn't have a doc page; this issue is the only way of knowing that we should use `npm unlink -g` instead

[2021-05-14 14:53] redevill commented on #3236
@ljharb - You are correct, a little behind (including a release 5hours ago) Npm Version 7.11.1
I'll update and check.

[2021-05-14 15:32] WeeJeWel opened #3247 "[BUG] "npm install github:..." creates "git+ssh://" in the lockfile, which breaks GitHub Actions."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Since NPM v7:

When installing a new dependency from a public repository (`github:foo/bar`), this creates a `git+ssh://git@github.com/foo/bar`) in the `package-lock.json`.

This breaks when running `npm ci` in  a GitHub Action because it doesn't have the SSH agent configured. And it shouldn't

[2021-05-14 15:58] dmercertaylor commented on #624
I ran into this issue on several subversions, including 7.13.0, on WSL Debian. Interestingly, the project was installed in `/home/<non-root user>` a user, and running `npm i` as that user works fine, only root seems to have this problem. Install as root also works fine if the project is installed outside of `/home`. Honestly, I assumed this was a user error with permissions in my case, I'm surpris

[2021-05-14 16:10] Animeshz opened #3248 "cannot invoke npm/npx from WSL shell. Error: Cannot find module."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Following error is thrown:

[code]

### Expected Behavior

The path for finding the js file `npm-cli.js` should be `C:\Program Files\nodejs\node_modules\npm\bin\npm-cli.js`, instead of `D:\mnt\c\Program Files\nodejs\node_modules\npm\bin\npm-cli.js`.

Same goes for npx, which tries to find `np

[2021-05-14 16:37] Animeshz commented on #3248
Seems like the same error happens if we run this, if I go further I would guess there's an issue on WSL itself.

[code]

Npm seem to find correct paths as I tried to print things in between of the `bin/npm`.sl

[2021-05-14 17:05] wraithgar commented on #3210
What does `npx @angular/cli@10 --version` show?

[2021-05-14 17:18] toothbrush7777777 opened #3249 "`cb()` never called"
## Details

I downloaded https://github.com/ColorlibHQ/AdminLTE/archive/refs/tags/v3.1.0.zip, extracted it, opened the extracted directory in VS Code and ran `npm install` from the command line.

## Environment

Windows 10 (20H2, build 19042.985)

`npm --version`: 6.14.4
`node --version`: v14.2.0
Default settings.

## Log (anonymised)
[2021-05-14T16_38_45_134Z-debug.log](https://github.com/npm/cli

[2021-05-14 17:55] ljharb commented on #3249
#417

[2021-05-14 18:04] darcyclarke commented on #3249
**Closing:** this error can arise for a number of reasons; Please read [this document](https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22) & refile an issue with as much information as possible if you're able to **consistently reproduce** this error.

[2021-05-14 18:04] #3249 closed, assigned to nobody

[2021-05-14 18:12] darcyclarke commented on #2087
@alasdairhurst Thanks for filing this! Since this is working as intended, can you please open an [RFC issue](https://github.com/npm/rfcs) with some details on how you could/would like to see this changed?

[2021-05-14 18:12] #2087 closed, assigned to nobody

[2021-05-14 18:14] darcyclarke commented on #2868
Can confirm, this is a problem. Prioritizing accordingly

[2021-05-14 18:20] darcyclarke commented on #2871
Resolution here on our end is to provide more clear docs/messaging for unsupported versions of deps we have (like `git`)

[2021-05-14 18:22] darcyclarke commented on #2880
Closing.

[2021-05-14 18:22] #2880 closed, assigned to nobody

[2021-05-14 18:24] darcyclarke commented on #2884
Investigating this on our end; Prioritizing accordingly

[2021-05-14 18:26] darcyclarke commented on #2887
Seems like what you want is to run the command w/ `--foreground-scripts`; This changed in npm v7 so that scripts/output are run in the background.

[2021-05-14 18:26] #2887 closed, assigned to nobody

[2021-05-14 18:31] darcyclarke commented on #2890
This needs a bit more investigation our end; Potentially this is intentional but prioritizing accordingly (seems like v6 was doing this)

[2021-05-14 18:42] darcyclarke commented on #2919
@flash-me can you try replicating this problem on the latest version of `npm`? (ie. `npm i -g npm`); @Holzhaus can you create a separate issue? (seems like your problem is different)

[2021-05-14 18:47] darcyclarke commented on #2954
This isn't something we ~really encourage~ want people doing.

[2021-05-14 18:47] #2954 closed, assigned to nobody

[2021-05-14 19:01] darcyclarke commented on #2989
@ruluva appreciate you filing this; We've had some other feedback around this kind of scenario & have started to consider enhancements/options to resolve this in a nice way (ref: see [this drafted PR](https://github.com/npm/rfcs/pull/375) in our `npm/rfcs` repo). In the meantime, you can work around this problem by using either `--legacy-bundling` or the `--global-style` flags to help nest your de

[2021-05-14 21:25] dlgombert commented on #470
It's hilarious that deleting the ps1 file in the node directory is still the only fix.  Has there been any progress here?

For reference the  tools that were failing for me were 'fx' and 'json'.  Lots of JSON tools?

[2021-05-14 21:43] codejedi365 commented on #1963
We should re-open this. The same error has re-emerged in `NPM@v7.7.0`.  But this also affects public repositories.  Running this same command in `NPM@v6.10.2` it installs successfully.

I tried to run the command
[code]
and received the same error like above:
[code]
What is also odd is that it seems to access and read the repository to install dependencies but then fails towards the end of the log

[2021-05-14 22:21] ljharb commented on #1963
@codejedi365 you're using npm v7.7. Can you try with v7.13?

[2021-05-14 22:49] codejedi365 commented on #1963
@ljharb, good catch, I didn't realize I was so far behind on this computer and forgot to update and test before posting.  Well the problem resurfaced for 7.7.0 but now it is resolved in v7.13.0! Thanks!  I will note that it was oddly slow but it worked nonetheless.

We can keep this closed! Sorry!

[2021-05-14 23:08] tbremer opened #3252 "[BUG] `npx` "Need to install" message with local CLI that has no dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

Might be related to: #2627

### Current Behavior

I have a project there the root contains a CLI. The `package.json` looks like this:
[code]

When I run `npx .` I am given the following message:

[code]

The CLI does not have any dependencies, and the file is stored locally on the file system. There is nothing to

[2021-05-15 02:42] Animeshz commented on #3248
Looks like its already fixed at e69be2ac5c35e985732e2baa00b70d39332e4b9f yet is not pushed to version 7.13.0 🤔 I just copy pasted the file for both `bin/npm` and `bin/npx` for the fix.

[2021-05-15 02:42] #3248 closed, assigned to nobody

[2021-05-15 03:02] ljharb commented on #3248
@Animeshz that commit is included in npm v7.6.1 and higher, including v7.13.0, as you can see in the tags list in the commit page header.

[2021-05-15 04:22] Animeshz commented on #3248
@ljharb Its correct I guess, but `npm install -g npm` did not updated those files 👀 (updating from 6.x)

[2021-05-15 07:00] Cerlancism commented on #470
Since I think is probably only a Windows specific issue, it can be fixed by doing the Windows way. My idea is to let the NodeJS installer to inform the limitation of Powershell or possibly set the settings required (`Set-ExecutionPolicy -ExecutionPolicy RemoteSigned`) for ps1 files to run.

[2021-05-15 07:36] flash-me commented on #2919
@darcyclarke sure, but can't try it before Monday. I'll let you know.

cheers
flash ⚡

[2021-05-15 14:37] t1m0thyj commented on #2632
For others encountering this issue, I've temporarily worked around it by adding a preinstall script to the package that has a "bin" script, which creates an empty "bin" script if none exists yet: https://github.com/zowe/zowe-cli/blob/da013f8b6897a16325343466c73f42de3b434325/packages/cli/scripts/preinstall.js

[2021-05-15 15:18] painotpi commented on #3021
Seems like this is happening on Windows 10 as well,

Environment,

[code]

Logs,

[Link](https://pastebin.com/D8ccV6QE) to complete log
[Link](https://stackoverflow.com/questions/67547853/nuxt-app-not-installing-using-npx-or-npm-in-windows-10-using-git-bash/67548203) to StackOverflow question about the same issue

[2021-05-16 06:39] mycodedig commented on #2554
I am also experiencing the same!

[2021-05-16 07:26] ariticAli commented on #3232
thanks I got it.

On Wed, May 12, 2021 at 7:45 PM Jordan Harband ***@***.***>
wrote:

[2021-05-16 14:19] leolcao commented on #2603
@darcyclarke I know how to represent this issue. Basically, just like @robross0606 said, I find the same issue in my local Windows PC with the case-sensitive enabled folders.

Environment:
OS: Windows 10 20H2 19042.985
Node: 14.16.0/12.16.2
npm: 6.14.11/6.14.4

Steps:
- Create a simple npm workspace
[code]

you will see the expected vesult: 'Version 4.2.4'

- Create another simple npm workspace

[

[2021-05-16 17:44] moamlrh commented on #805
I solved by :
- go to [npmjs.org](https://www.npmjs.com)
- create a new **access_token** by :
      - Click on your image in the right corner
      - Access tokens
      - Generate new token
      - Select type : **Publish**
- After that copy the token
- got to your project
- Create **.npmrc**  file
- Set `//registry.npmjs.org/:_authToken=<access_token>`  in it

[2021-05-17 02:35] smallscript opened #3254 "[BUG] npm update where package.json has rel-path-to-local-pkg on windows makes bad junction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[BUG] `npm update` where **package.json** has _rel-path-to-local-pkg_ on Windows makes bad junction in _referencing_ **packages** `node_modules` directory.
[code]
On Windows w/v7.5.1 creates a **junction** (not a **_symlink_**) and the `path` it computes is **_invalid_** (incorrect). One can

[2021-05-17 06:25] visglz commented on #2606
@mondss Where did you add `"hasInstallScript": true`?

It has to be present at every dependency/module which has a postinstall action (i.e. not toplevel), e.g.:

[code]

To find out which dependency has a postinstall action you could temporarily remove `package-lock.json` and let npm generate the file again by  `npm install`. Then you could add them to the appropriate place in the original upgrade

[2021-05-17 10:50] lsymds commented on #2606
@visglz Ah I see. Yes I was just adding it to the root object.

[2021-05-17 11:42] swapnilsworld opened #3255 "[BUG] npm i and npm audit failing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm audit failing

### Expected Behavior

npm audit should work.

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...'
4. See error...

D:\Swapnil\Project\angular-bootstrap-demo>npm audit fix
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependenc

[2021-05-17 14:03] felipeplets opened #4279 "[FEATURE](arborist) Have minor and patch versions changelog"
# What / Why

## When

* Whenever a new major, minor or patch version of the library is generated.

## Where

* Here in the git repo feeding the [CHANGELOG.md](https://github.com/npm/arborist/blob/main/CHANGELOG.md) available in the root folder.

## How

### Current Behavior

* There are only major version change logs.

### Expected Behavior

* Change logs for each version. Which we can discuss ho

[2021-05-17 18:21] robertIsaac commented on #3210
[code]

[2021-05-17 21:20] nguerrera opened #3256 "[BUG] Cannot read property 'spec' of undefined when using npm install --prefix + tmpdir on mac"
### Is there an existing issue for this?

- [X] I have searched the existing issues

This *might* be a duplicate of https://github.com/npm/cli/issues/3021, but the repro is different, and hopefully easier to diagnose.

### Current Behavior

`npm install --prefix <tmpdir> <package>` fails on Mac OS

where `<tmpdir>` is the result of `fs.mkdtempSync(path.join(os.tmpdir(), "repro")`

[code]

<details

[2021-05-18 09:08] cong-min commented on #2560
same problem

[2021-05-18 10:39] Venryx commented on #2372
If this issue is on the npm dev team's radar, can we get an update on the roadmap/plan for its resolution?

`npm link` is a core feature for me and many other projects (for example, I use linked packages all the time, for almost every app I work on), and that this critical bug has existed for over three years (requiring me to always use the 3rd-party tool [npm-safe-install](https://github.com/UD-U

[2021-05-18 13:10] altertic commented on #2818
Thanks @evictor (and @hs749 for confirming), it seems to be a solid workaround, worked like a charm for me :)

I had the same issue while trying to update npm from 7.11.2 to 7.13.0:
`npm ERR! code MODULE_NOT_FOUND
npm ERR! Cannot find module 'agentkeepalive'`

I installed "agentkeepalive" (`npm install -g agentkeepalive`) and then I've been able to install 7.13.0 without any issue.

[Linux 64 / Po

[2021-05-18 14:20] midudev opened #3257 "[BUG] "sill idealTree buildDeps" takes a lot of time a project with workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After executing `npm install` the `sill idealTree buildDeps` step takes a long time (minutes) causing npm@7 working with workspaces slower than npm@6 installing projects separately.

It seems that is fetching packages sequentially instead using parallelization.

Vídeo with the demo:

https://

[2021-05-18 14:22] midudev commented on #3257
I can't provide a example project as it's a commercial project with full of private dependencies but If there's some log or something I could try to give you, feel free to tell me how to extract it.

[2021-05-18 15:56] nk-12 opened #3258 "This is an error with npm itself.-Angular 11"
? Would you like to add Angular routing? Yes
? Which stylesheet format would you like to use? CSS
CREATE myApp/angular.json (3033 bytes)
CREATE myApp/package.json (1068 bytes)
CREATE myApp/README.md (995 bytes)
CREATE myApp/tsconfig.json (783 bytes)
CREATE myApp/.editorconfig (274 bytes)
CREATE myApp/.gitignore (604 bytes)
CREATE myApp/.browserslistrc (703 bytes)
CREATE myApp/karma.conf.js (1422 b

[2021-05-18 16:56] wilsondgr8 opened #3259 "Newman testing tool for calls are failing that have Self Signed Certificates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Newman calls are failing for those postman calls where we have Token as part of request header.
Postman requests like ( Auth, Resetpassword ) with an Token in request response are giving response with warning for Self Signed Certificates in Postman but able to complete test. But in Newman all

[2021-05-18 17:25] isaacs commented on #3226
https://github.com/npm/rfcs/issues/378#issuecomment-843379483

Bug: the error message does not clarify that a proxy is set when failing to reach the registry.

In this case, a proxy is set, so even when doing `--registry=https://registry.npmjs.org/`, it'll fail with a message being unable to reach the proxy.

[2021-05-18 17:27] joebowbeer commented on #3247
Duplicates #2610?

[2021-05-18 19:17] pabra commented on #3075
seems to be duplicate of #2740

[2021-05-18 19:23] maxrandolph commented on #3077
Upgrading to npm 7 seemed to no longer support all `$npm_package_x` values from env vars. This is a breaking change to some npm scripts which depend on reading values from `package.json` when upgrading to npm 7.

[2021-05-18 21:38] stickyburn commented on #2818
It makes sense for the update to work after a `npm install -g agentkeepalive` , but shouldn't this be included in the build if it's a needed dependency?

[Faced on Arch 5.12.4 Intel]

[2021-05-18 22:34] brianjenkins94 commented on #2877
[code]

Same error, new stack trace.

[2021-05-18 22:43] ljharb commented on #2818
@yashank09 i believe it's long since been fixed, but anyone stuck on older npm versions where this problem exists can't ever avoid having this problem.

[2021-05-19 02:36] stickyburn commented on #2818
@ljharb I see. I was setting up a new system so just installed nvm on arch. The older version was included by default which led me to this error. This should be resolved once nvm upgrades to the latest version out of box.

[2021-05-19 02:48] ljharb commented on #2818
@yashank09 it's got nothing to do with nvm. the version of node installed is determined by your `.nvmrc` file, your nvm `default` alias, or the version you pass to `nvm install` - it doesn't do anything specific by default.

[2021-05-19 07:17] remss opened #3261 "[BUG] Permission denied when installing a git+ssh:// dependency with key loaded by ssh-agent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The npm install fails on a git+ssh:// dependency with a ssh-key loaded in ssh-agent on Windows 10 since npm 7.10.0.

### Expected Behavior

The dependency should be installed correctly.

### Steps To Reproduce

Start ssh-agent and add private key (using [Win32-OpenSSH](https://github.com/Powe

[2021-05-19 15:40] balane opened #3263 "[BUG] unsupported engine yet installed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm WARN EBADENGINE Unsupported engine {
npm WARN EBADENGINE   package: '@angular-devkit/architect@0.1200.0',
npm WARN EBADENGINE   required: {
npm WARN EBADENGINE     node: '^12.14.1 || ^14.0.0',
npm WARN EBADENGINE     npm: '^6.11.0 || ^7.5.6',
npm WARN EBADENGINE     yarn: '>= 1.13.0'
npm

[2021-05-19 15:41] balane commented on #3263
There was an existing issue (#2728) for this but it was closed.

[2021-05-19 15:55] ArfyFR commented on #2818
Also faced the
[code]
on Windows 10 Pro

[2021-05-19 16:18] mshima commented on #2715
This errors seems to only happen if there is a lock file.

[2021-05-19 16:22] ljharb commented on #2715
@mshima i see it explicitly without a lockfile, since i never use lockfiles in any of my published projects.

[2021-05-19 16:24] j-m commented on #3238
I was wrong, with npm 7, `from-git` doesn't work at all

[2021-05-19 16:26] mshima commented on #2715
Interesting, at our use case it installs correctly and fails at the second call.

[2021-05-19 18:45] futurethang opened #3264 "[BUG] Publish fails with HPE_INVALID_VERSION"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am attempting to publish a package using the `npm publish` command. Historically this has had no issues, but I am now unable to get past this error:
[code]

### Expected Behavior

Since no other changes have been made, I expect the package to publish as normal. Otherwise, I would hope for a

[2021-05-19 18:54] ljharb commented on #3264
Try npm 7?

[2021-05-19 19:43] Ubaid-Ali commented on #417
Worked for me but I don't know is it true or not,

I was getting the same error when I was trying to install "netlify-cli" command is C:Users>MyName>npm install netlify-cli -g,
I upgraded npm version LTS to LATEST with this command >npm i -g npm@latest,
Still not work then,
I just **deleted the log file** from here ~/AppData/Local/npm-cache/_logs/2021-05-19T18_46_01_599Z-debug.log **using git bash

[2021-05-19 21:37] hemanth commented on #3226
I can work on making the enhancements for this [case](https://github.com/npm/cli/blob/a4e7f4e4b40d645fed97622a97c7fa72aa5da82b/lib/utils/error-message.js#L37) to add proxy info, if that makes sense.

[2021-05-19 22:10] futurethang commented on #3264
@ljharb interesting, that changes the error to
[code]
I'm kinda learning as I go and this error so far has not led me to more answers.

[2021-05-19 22:13] ljharb commented on #3264
Are you logged in (`npm whoami`), and is this a package that already exists, and does it have `publishConfig` set properly in its package.json?

[2021-05-19 22:23] futurethang commented on #3264
I'm logged in correctly. I have tried troubleshooting publishConfig, but am unsure how to find the proper registry setting. I think this is something that may have had a change somewhere that I am unable to track down clearly.

[2021-05-19 23:10] skinny85 commented on #3196
Hello,

Adam from the [AWS CDK](https://github.com/aws/aws-cdk) project here. We have a lot of customers seeing this problem with NPM 7 (see issue: https://github.com/aws/aws-cdk/issues/14738).

Considering it has been 2 weeks, can we get an update here please?

Thanks,
Adam

[2021-05-20 03:36] jung-han opened #3266 "[BUG] EPIPE error occurred during publish usign npm 7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi!
During publishing, an EPIPE error occurred and an issue was posted.
In the past, it has been well published, and recently `npm workspace` has been applied and the first publish is in progress in this version. In the case of `EPIPE errors`, it seems to be affected by the number of files or

[2021-05-20 03:38] ljharb commented on #3266
Does this still happen on npm 7 latest?

[2021-05-20 03:42] jung-han commented on #3266
@ljharb
Yes. I just updated to version 7.13.0 and published it, and the same results came out.

[2021-05-20 04:18] itamardavidyan commented on #3194
I Also got this error:

[code]

[2021-05-20 04:41] ljharb commented on #3194
@itamardavidyan that's not related to this issue. the issue there is that `@nivo/colors` does not work with react 17, so you have to either upgrade that, or downgrade react, because the two can't live in the same dep tree.

[2021-05-20 04:55] jung-han commented on #3266
@ljharb
I tried publishing except because it was an ESM issue, but the same issue seems to occur. Could package.lock, etc. be related to this issue?

[2021-05-20 05:04] ljharb commented on #3266
I'm not sure what you mean by "ESM issue". package-lock is ignored for publishing, so I doubt it.

[2021-05-20 05:12] jung-han commented on #3266
You can ignore the ESM issue.

[2021-05-20 09:30] rix0rrr commented on #3196
Here's a repro, it seems to only happen with NPM 7, and only if NPM 7 is downloading from `npmjs`:

[code]

It only seems to happen when dowloading/installing directly from npmjs. I'm wondering if it has to do with our homegrown `npm-shrinkwrap.json` file we include in this package.

* When installing from Verdaccio, the shrinkwrap file is respected but the upgrade works correctly (shows `cloud-as

[2021-05-20 10:56] mshima opened #3267 "[BUG] Broken package-lock/node_modules with missing/extraneous dependency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A freshly installed package.json contains missing and extraneous dependencies.

[code]

A second `npm install` removes the extraneous dependencies, but don't add missing dependencies.

### Expected Behavior

_No response_

### Steps To Reproduce

1. With this package.json:
[code]

3. Run 'npm

[2021-05-20 13:15] niemyjski opened #3268 "[BUG] publish with workspaces doesn't respect access controls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm running the following command:

[code]

And I'm getting errors because it's trying to publish workspace packages that are marked as both private and restricted (I have an examples folder that is part of my workspace).

[code]

I believe this references #3231 @ruyadorno @wraithgar

### Exp

[2021-05-20 15:33] ljharb commented on #3196
@rix0rrr if you include an npm-shrinkwrap in a published package (a very bad idea, generally) then the installer has no choice - it’s supposed to only ever install what’s in the shrinkwrap file. variance in this case is a bug in whatever doesn’t precisely match the shrinkwrap.

[2021-05-20 15:34] ljharb commented on #3267
Why are you running npm ls with a depth option at all? Due to hoisting, it’s kind of a useless argument - just run `npm ls` by itself.

[2021-05-20 16:28] mshima commented on #3267
Because `npm ls` doesn't show the problem:

[code]

[2021-05-20 16:31] ljharb commented on #3267
That means there is no problem. The validity of your dep graph is only assessable by including the entire dep graph.

[2021-05-20 16:43] denis-sokolov opened #3269 "[BUG] npm install does not install correct versions when upgrading from npm 6 to 7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running npm install does not install correct versions of dependencies in place of the existing old versions if the lockfile includes a version change in addition to dependency version upgrades. See reproduction for more details.

Related or possibly a duplicate of: #3057, #3196.

### Expected

[2021-05-20 17:07] mshima commented on #3267
So the problem affects `npm ls` too:
See https://github.com/jhipster/generator-jhipster/runs/2625012481.

This is affecting every angular build since yesterday by this time.
https://github.com/jhipster/generator-jhipster/actions/workflows/angular.yml (succeed build were skipped).

Triggering a rebuild at succeed builds also fails.
Probably some dependency update broke the entire tree.

[code]

[2021-05-20 17:39] isaacs commented on #3205
Fixed by https://github.com/npm/npm-registry-fetch/pull/50

[2021-05-20 17:39] #3205 closed, assigned to nobody

[2021-05-20 17:40] ljharb commented on #3267
ok - that issue (from eslint) is because `@typescript-eslint/experimental-utils` is missing, which it seems is perhaps the npm bug - that `npm ls` SHOULD be failing if it's actually missing?

[2021-05-20 17:51] mshima commented on #3267
`@angular-builders/jest` is missing too:
`npm ERR! missing: jest-preset-angular@^8.4.0, required by @angular-builders/jest@11.1.1`.

[code]

[2021-05-20 17:53] shivam-0510-zz opened #3270 "[BUG] npx is not working."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Whenever I create a react app using npx it shows error.
error cb() never called!
error This is an error with npm itself.

### Expected Behavior

_No response_

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...'
4. See error...

### Environment

- OS: Windows

[2021-05-20 17:58] jamesicon opened #3271 "[BUG] @babel/core latest version not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I added @babel/core": "7.14.3" to my package.json and when I run `npm install` it says no matching version can be found. If I run `npm install @babel/core` it installs the 7.14.3 version and puts it in my package.json. If I run npm install again it gives me the same no matching version messag

[2021-05-20 18:00] rix0rrr commented on #3196
Well let me tell you about my use case then.

We are vending a CLI which handles secrets and accesses to our customer's AWS accounts. This CLI gets installed for projects which aren't themselves NPM projects (so don't have a `package.json`), gets installed on CI servers... there's no necessarily a `package-lock.json` to fall back onto.

The fact that any of our dependencies could have a `"transiti

[2021-05-20 18:10] #3271 closed, assigned to nobody

[2021-05-20 18:10] jamesicon commented on #3271
fixed issue, user error

[2021-05-20 18:52] jwandrews opened #3274 "[BUG] npm v7 global install doesn't symlink bin path for packages from self-hosted gitlab npm registry"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When trying to install a global package from a self-hosted GitLab NPM registry, the bin symlink is not created for the `"bin"` option in `package.json` for the installed package.

Given that `@custom-scope` is configured to point to a custom registry at `self-hosted-gitlab.example.com`.

`npm

[2021-05-20 18:58] ljharb commented on #3270
#417

[2021-05-20 19:29] ljharb commented on #3196
It is indeed the only, and proper, mitigation for that theoretically real (but almost never actually exploited) vector.

I would hope it doesn't vary by registry, but either way it seems like the first bullet point should be doing the right thing.

[2021-05-20 21:36] gimli01 opened #3275 "GitHub action to verify autogenerated doc content for pull requests"
## Description
When running `make release` during our release process, we ran into an issue where a step was missing from the docs and a pull request was merged. This caused an `Err: unpruned files` error.

## Exit Criteria
- run GH action on pull request for branch `release-next`
- checkout PR branch & install dependencies
- run `touch lib/utils/config/definitions; npm run postsnap`
- check if `g

[2021-05-20 21:37] mshima commented on #3267
Just a follow-up, adding those dependencies as direct dependencies fix the builds https://github.com/jhipster/generator-jhipster/pull/15059.

[2021-05-21 02:21] Maxim-Mazurok commented on #1935
There's a problem with env var solution (`npm_config_yes=true`).
The problem is that I have to support both Linux and Windows. So, to set env variables I'd like to use `npx cross-env`.
And obviously, `npx cross-env npm_config_yes=true` doesn't make any sense, because `npm_config_yes` needs to be set before `npx cross-env`. And I need `npx cross-env` to set `npm_config_yes`. It's a loop :)

Luckily

[2021-05-21 05:31] shivam-0510-zz commented on #3270
Thanks @ljharb for linking this.

[2021-05-21 07:20] snobu opened #3278 "[BUG] 403 Forbidden when publishing without a verified e-mail address"
### Current Behavior

[code]

I got this because my e-mail wasn't verified yet. I believe the API response should hint to this reason as well.

### Expected Behavior

API response should include the reason for the 403 or add the unverified e-mail case to the list of generic reasons.

### Environment

- OS: macOS Big Sur 11.3.1
- Node: 12.13.1
- npm: 6.14.5, 7.14.0

[2021-05-21 07:54] JavierPons opened #3279 "Aborting installation. react-scripts cra-template has failed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Im running create-react-app + app name

start to run and crash. Sometimes works well but now on day each second time I try to create a react app crash. Here is the log:

Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts with cra-template.

[2021-05-21 08:30] itshoax commented on #3279
I am getting the same error

[2021-05-21 08:46] JavierPons commented on #3279
I updated npm to the last version  7.14.0. For me now  it works. That resolve the problem. I created three react app one after another and everything works well.

[2021-05-21 08:59] c0derdx commented on #3279
Even after updating it..
It shows the following..
Creating a new React app in C:\Users\LUC1F3R\Desktop\book-store\book.

Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts with cra-template...

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://github.com/npm/cli/issues>

n

[2021-05-21 09:02] #3279 closed, assigned to nobody

[2021-05-21 09:29] LeonardDrs commented on #3233
https://github.com/npm/git/pull/7 feels more like a BC than a patch. Would it be possible to detect the user `ssh -V` before trying to set `GIT_SSH_COMMAND` or we don't care?

[2021-05-21 11:19] JoshMcCullough commented on #1766
I'm still seeing this behavior, "randomly" with NPM v7.6.0.

[2021-05-21 11:26] xavierfoucrier commented on #2704
This, is a **serious breaking change / issue when migrating to v7**, and this is not documented anywhere at this time: I just noticed that during migration.

The important questions now are:
- what's the point to not updating the specs, like `npm@6` did before?
- is there a proper way to update the `package.json` file with `npm@7`?
- did you plan to add a param to the CLI, or a new command to be a

[2021-05-21 11:27] rix0rrr commented on #3196
To me all that says is that there hasn't been a target valuable enough yet :).

But good to know we're not entirely off base, thanks for the response.

[2021-05-21 11:33] JoshMcCullough opened #3280 "[BUG] npm install removes peer dependency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`npm i --save ...` removes related peer dependency.

### Expected Behavior

`npm i --save ...` does not remove peer dependencies.

### Steps To Reproduce

Existing package.json:

[code]

Running `npm i --save @my-org/my-pkg@1.0.1` results in the following package.json:

[code]

Note that the

[2021-05-21 12:06] jordanholt commented on #1422
Looking at the output of `npm prune --production --dry-run --json`; git dependencies are being flagged as requiring an update:

[code]

Likely because `version` doesn't match the `previousVersion` from `package.json`. Is [this](https://github.com/npm/arborist/blob/73a7b001b3dfa682e18fd8e5dfeecfd05f8db20a/lib/node.js#L928-L933) or [this](https://github.com/npm/arborist/blob/main/lib/dep-valid.js#L7

[2021-05-21 12:26] toabm commented on #2816
I found a solution: https://stackoverflow.com/questions/66123394/how-can-i-use-variables-with-npm-7-x-x-in-package-json/67636751#67636751

You just have to enclose your json variables inside the config object, then you can access them like we used to do ti, by usign $npm_package_config_devPath

I also suggest a nice way to add commentaries to our json files.

  "config": {
     "@comments devPath"

[2021-05-21 13:36] ali1x opened #3281 "[npm ERR!] This is an error with npm itself. Please report this error."
[2021-05-21T13_29_25_194Z-debug.log](https://github.com/npm/cli/files/6522845/2021-05-21T13_29_25_194Z-debug.log)

[2021-05-21 14:27] ljharb commented on #1766
@JoshMcCullough try with v7.14.0, v7.6 is quite out of date at this point.

[2021-05-21 14:29] ljharb commented on #3196
lol maybe, but virtually everyone on the planet uses npm via something, and it’s the largest package repository on the planet by a wide margin, so i can’t imagine a more valuable target ¯\\\_(ツ)_/¯

[2021-05-21 15:47] ida opened #3283 "[BUG] npm publish errors with EISDIR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm publish errors with EISDIR

### Expected Behavior

Publish package to npmjs.com.

### Steps To Reproduce

Run `npm publish`, make sure a directory named '.gitignore' is present.
Removing the '.gitignore'-directory makes the error disappear.
Thanks to https://github.com/npm/npm/issues/8095

[2021-05-21 15:48] apottere opened #3284 "[BUG] NPM v7.11.0 private registry authentication 401 with username/password"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Private registry authentication seems to have been broken in npm v7.11.0 when _installing specific packages_ with `username` and `password` defined in `~/.npmrc` instead of `_auth`.  `npm ci` is unaffected.

### Expected Behavior

Private registry authentication should work in `>= 7.11.0` the

[2021-05-21 15:51] ljharb commented on #3283
Why would `.gitignore` be a directory and not a file? (like, when would anyone create that in the first place, and why?)

[2021-05-21 15:53] apottere commented on #3284
The offending URL is:
[code]

[2021-05-21 15:57] apottere commented on #3284
Per https://github.com/npm/cli/issues/3130 I switched to using `_auth` and that worked...  Are `username` and `password` no longer supported intentionally?

[code]

[2021-05-21 15:57] ida commented on #3283
Github did that for me when creating a repo and selecting "Add gitignore". I also wondered why it's a directory and not a file.

[2021-05-21 16:17] ljharb commented on #3283
Which gitignore template did you select?

(tbh this seems like a bug in github itself, not in npm - altho npm's error message could be clearer)

[2021-05-21 16:43] valex91 commented on #3010
for me it avoid the issue if I specify --registry <REGISTRY> while doing npm publish

[2021-05-21 17:30] #1904 closed, assigned to nobody

[2021-05-21 17:34] ruyadorno commented on #2032
Starting from **npm@7.14.0** `npm outdated` now includes results for direct dependencies of workspaces by default 🎉

They're listed in the "Depended by" column as `<workspace-name>@<workspace-version>` that gets a highlight color associated to workspaces, aiming to make it easier to identify them. This same highlight color is also used in `npm ls` and a few other commands.

[2021-05-21 17:34] #2032 closed, assigned to nobody

[2021-05-21 17:41] ruyadorno commented on #2035
Starting from **npm@7.14.0** `npm install` now supports adding dependencies to configured workspaces using the following syntax:

[code]

It's also possible to install a workspace into another, e.g:

[code]

[2021-05-21 17:41] #2035 closed, assigned to nobody

[2021-05-21 18:15] darcyclarke commented on #3000
@Josee9988 can you reproduce this on the latest version of npm? (ie. install the latest `node` `v16.x` & it should come w/ `npm` `>=v7.13.0` & then try running `sudo npm i -g npm@latest`); Also, how did you install node/npm originally?

[2021-05-21 18:16] darcyclarke commented on #3005
@love477 can you try replicating this problem on the latest version of `npm`? (ie. `npm i -g npm`) We've changed/fixed quite a bit since you file this

[2021-05-21 18:19] tobiu commented on #3269
I am experiencing something similar:
npm -v => 7.14.0

Published a new version of neo.mjs (e.g. v2.1.4).

Wanted to update the gh-pages repo:
https://github.com/neomjs/pages

changed the dependency to "^2.1.4".
npm install

=> it re-installs 2.1.3 and finishes with exit code 0.

I need to delete the node_modules folder as well as the package-lock.json to make it work. This affects several other re

[2021-05-21 18:22] ruyadorno commented on #2056
As of **npm@7.14.0** the `npm ls` and `npm prune` commands are now aware of workspaces, this should no longer be a problem - let us know if you still running into it with a version greater than `7.14.0`.

[2021-05-21 18:22] #2056 closed, assigned to nobody

[2021-05-21 18:26] Josee9988 commented on #3000
Hi @darcyclarke  I've tried updating it again and it didn't cut the symlink or whatever it was that didn't let me use npm.

Originally I installed it using apt like `sudo apt install nodejs npm`.

As I mentioned this error happened a couple of times but since this issue I've had no problems updating npm,
My actual node version `14.17.0` and my actual npm version (I just updated it to check if it b

[2021-05-21 18:28] darcyclarke commented on #3010
In `v7` we expect that you provide `npm publish` a proper file path (ie./ex. `npm publish ./path`) but understand the documentation isn't great here; ~I'll leave this open until we clean up the doc to explicitly note it~

[2021-05-21 18:35] darcyclarke commented on #3018
@picasso250 does this work in v6? From our testing, we can't seem to replicate... can you also ensure you're using the latest v7 (ie. `npm i -g npm`)

[2021-05-21 18:40] darcyclarke commented on #3021
@caohuilin This seems to be an issue with the registry mirror you're configured against & not with the npm CLI itself; Can you try to see if installs/runs succeed in v6?

[2021-05-21 18:41] darcyclarke commented on #3028
Closing: Duplicate.

[2021-05-21 18:41] #3028 closed, assigned to nobody

[2021-05-21 18:47] darcyclarke commented on #3045
@mmiretsky can you try on the latest version of `npm`? (ie. `npm i -g npm`) Also, is there a reason why you're manually editing your `package.json`? One workaround here, in the interim, would be to ensure you run `npm install git+ssh://bitbucket.org/some.company/some.package.git#1.0.6` which would replace the existing dep/spec & update your `package-lock.json` accordingly

[2021-05-21 18:56] ruyadorno commented on #2600
I'm going to go ahead and close this one due to inactivity, for more context we have been fixing a lot of these `ERESOLVE` edge case problems during `npm install` in the last few months and it's very likely that this one might already have been fixed.

In case anyone arrives here with the same problem, feel free to create a new issue and reference/link to this one.

Thanks!

[2021-05-21 18:56] #2600 closed, assigned to nobody

[2021-05-21 19:02] #3000 closed, assigned to nobody

[2021-05-21 19:41] ruyadorno commented on #2632
Hi @t1m0thyj thank you so much for bringing this to our attention and opening https://github.com/npm/bin-links/pull/23

I'm really curious about this statement:

Is that a common scenario in the wider TypeScript community? I'm interested in understanding better the reasons and problems that particular setup is aiming to solve.

---

Meanwhile, I looked at your [minimal sample repo](https://github.

[2021-05-21 19:49] ljharb commented on #2632
@ruyadorno it's common in any package that uses babel also; the "bin" script would be a `.js` file that doesn't exist prior to the build step running as well.

[2021-05-21 20:14] ruyadorno commented on #2632
right, thanks @ljharb! yeah my first thought is that the installer should def be more reliable anyways but I just want to make sure I fully understand the problem space first.

in that case how is the babel ecosystem working around it today?

and from your pov is there a particular reason for not hooking the build step with the `prepare` lifecycle script? (assuming we're talking about nested works

[2021-05-21 20:43] #3281 closed, assigned to nobody

[2021-05-21 20:50] ljharb commented on #2632
@ruyadorno sure. All of my build steps use `prepublishOnly`, not `prepare`, which seems valid. Build output doesn't need to exist until publish time - or until i want sibling workspace packages to be able to consume it (ie, at runtime) - but certainly does not need to ever exist at install time.

[2021-05-21 23:57] caohuilin commented on #3021
yes,v6 is ok

[2021-05-22 03:28] lazydevleo commented on #2306
Any Fixes for this ?

[2021-05-22 03:55] Im-Fran opened #3286 "[BUG] Failed to run "npm install""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm running `npm i` on my project and I get the following error:
[code]

### Expected Behavior

Install the dependencies after I run `npm i`

### Steps To Reproduce

1. Use the attached settings
2. Run `npm i`
3. See the error

### Environment

- OS: Ubuntu 18.04.5 LTS
- Node: 14.0.0
- npm: 7

[2021-05-22 03:59] ljharb commented on #3286
Your package.json is missing a `name` and `version` field.

[2021-05-22 04:26] cozyloon opened #3287 "[BUG] npm ERR! cb() never called!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

G:\angular-demos\foodDeliveryAdminPanel>npm i
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\DELL\AppData\Roaming\npm-cache\_l

[2021-05-22 04:29] ljharb commented on #3287
#417.

[2021-05-22 05:53] ida commented on #3283
There was only one selection: "Include gitignore".

[2021-05-22 07:15] LeonardoBagella opened #3288 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Downloading node.js version 16.2.0 (64-bit)...
Complete
Downloading npm version 7.13.0... Error while downloading https://github.com/npm/cli/archive/v7.13.0.zip - Get https://codeload.github.com/npm/cli/zip/v7.13.0: dial tcp 140.82.121.9:443: connectex: A connection attempt failed because the

[2021-05-22 07:17] mukunthan27 opened #3289 "cb() never called"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

0 verbose cli [
0 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
0 verbose cli   'C:\\Users\\ELCOT\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
0 verbose cli   'install',
0 verbose cli   '--save',
0 verbose cli   '--save-exact',
0 verbose cli   '--loglevel',
0 verbose cl

[2021-05-22 07:19] #3288 closed, assigned to nobody

[2021-05-22 08:09] chuanqisun commented on #2632
I might have a chicken-and-egg problem. I can't generate the `.js` file in `prepare` step because I need to `npm install` the build tools first. But I can't `npm install` because the `.js` file doesn't exist. My current workaround is `cd` into the nested package folder, `npm install && npm run build` to generate that `.js` file, then `cd` back to the monorepo root and run `npm install`. Any sugges

[2021-05-22 09:23] bbodenmiller commented on #2852
It looks like this is fixed now as `email` is no longer required as of 7.11.2: https://github.com/npm/cli/blob/latest/CHANGELOG.md#v7112-2021-04-29, https://github.com/npm/config/pull/16/files

[2021-05-22 12:07] Im-Fran commented on #3286
I've never used that, the settings are from a laravel project. If you take a look into [their project](https://github.com/laravel/laravel/blob/8.x/package.json) you'll see that they don't use those variables

[2021-05-22 12:14] marcog83 opened #3290 "[Help Request] webpack --watch seems blocking --workspaces execution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a monorepo with the following structure

[code]

When I run `npm start`, it runs only the first package.
It seems that --watch flag doesn't allow npm to run the other packages.
I removed the `--watch` flag and it worked fine, but it is not an option for me. I'd like to have webpack in

[2021-05-22 16:48] SystemParadox commented on #2372
If this is still broken I would suggest opening a new ticket to have any chance of being noticed.

[2021-05-22 16:57] guilhermetod opened #3291 "[BUG] Installing local package with npm v7 in Windows partially modify package-lock with backslashes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When installing a local dependency in Windows, the posix paths under "package-lock.dependencies" are converted to Windows style paths, with double backslashes. The paths in "package.json" and under "package-lock.packages" are kept unix style.

### Expected Behavior

package-lock is kept as is

[2021-05-22 17:23] neistow commented on #681
worked for me on Digital Ocean. Thanks!

[2021-05-22 20:00] j1elo commented on #2372
That'd be a full-circle closure for this issue, I have to admit. A self-fulfilling prophecy where this report ends up joining the long trail of closed and/or forgotten others that are listed [in the initial description](https://github.com/npm/cli/issues/2372#issue-770148414).

If anyone opens a new issue, it might be useful that the past reports research that I did was copied over too, so the full

[2021-05-22 20:57] skinny85 commented on #3196
@ljharb do you have any idea when this could be fixed? Are we talking days here, or more likely months?

[2021-05-22 21:00] ljharb commented on #3196
@skinny85 i have no idea; i'm not on the npm team.

[2021-05-22 21:03] skinny85 commented on #3196
Ah, apologies @ljharb - I meant to tag @wraithgar , but GItHub autosuggest tripped me up 🙂.

Gar, any chance we could get some update on the possible ETA here? This is currently affecting CDK customers.

[2021-05-23 00:18] N0u5t02549aojo commented on #3278
<div class="application-main " data-commit-hovercards-enabled="" data-discussion-hovercards-enabled="" data-issue-and-pr-hovercards-enabled="" style="box-sizing: border-box;"><div itemscope="" itemtype="http://schema.org/SoftwareSourceCode" class="" style="box-sizing: border-box;"><main id="js-repo-pjax-container" data-pjax-container="" style="box-sizing: border-box; display: block;"><div class="c

[2021-05-23 00:28] N0u5t02549aojo commented on #3278
<div data-view-component="true" class="flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0" style="box-sizing: border-box; width: 711px; flex-shrink: 0 !important; margin-bottom: 0px !important; padding-right: 8px !important; padding-left: 8px !important; color: rgb(201, 209, 217); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&qu

[2021-05-23 00:49] shadowspawn commented on #3259
This looks like an issue with `newman` rather than with the `npm` CLI?

[2021-05-23 01:40] rico000041 commented on #3289
I have also same issue

[2021-05-23 10:52] sagarmude7 commented on #3289
I am also facing the same issue.

[2021-05-23 12:34] hajekj14 opened #3292 "[BUG] npm login with scope create .npmrc without @scope:registry=..."
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

npm login --registry=http://reg.example.com --scope=@myco

create `~/.npmrc`

[code]

### Expected Behavior

npm login --registry=http://reg.example.com --scope=@myco

create `~/.npmrc`

[code]

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...'
4. See error

[2021-05-23 18:10] DanielPower commented on #3045
I will test on the latest npm on Tuesday when I'm back to work.

To clarify, the reason the `package.json` is getting updated is because another user updates the package by running `npm install git+ssh://bitbucket.org/some.company/some.package.git#1.0.6`, and then pushing the new `package.json` and `package-lock.json` to the repository. It is not being updated manually.

Edit: Please see my previo

[2021-05-23 18:51] mmiretsky commented on #3045
@darcyclarke - the problem still happens with the latest version of `npm` (7.14.0).

With regards to your question - see @DanielPower 's explanation above. It should not matter whether you edit `package.json` manually or pull down somebody else's changes - when you run `npm install`, it should pull down the new version of the package from Bitbucket, but it does not do that.

[2021-05-23 19:35] Ga8 opened #3293 "angular cli bug"
instaling new project : thub.com/lydell/resolve-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated chokidar@2.1.8: Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15x less dependencies.
npm ERR! cb() never called!

npm ERR! This is an erro

[2021-05-23 19:38] Ga8 commented on #3293
logs from .npm :
tp fetch GET 200 https://registry.npmjs.org/@angular-devkit/build-angular/-/build-angular-12.0.1.tgz 81105ms
9102 timing reifyNode:node_modules/@angular-devkit/build-angular Completed in 86538ms
9103 http fetch GET 200 https://registry.npmjs.org/source-map/-/source-map-0.5.7.tgz 84525ms
9104 timing reifyNode:node_modules/@babel/generator/node_modules/source-map Completed in 89638m

[2021-05-23 20:34] JakobJingleheimer commented on #3077
Also occurs with:

macOS `11.3.1`
node `16.1.0`
npm `7.11.2` & `7.14.0`

[2021-05-24 03:10] gaokun commented on #4249
@ruyadorno
Please check this when you are available.

Thank you
Ken

[2021-05-24 03:23] s949492225 opened #3296 "[BUG] npm login error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm notice Log in on http://www.npmjs.org/
npm ERR! code FETCH_ERROR
npm ERR! errno FETCH_ERROR
npm ERR! invalid json response body at http://www.npmjs.org/-/v1/login reason: Unexpected end of JSON input

npm ERR! A complete log of this run can be found in:
npm ERR!     [2021-05-24T03_21_53_2

[2021-05-24 04:33] SurajJadhav7 commented on #2128
This issue is still present.

#### My Environments:
OS: MacOS 11.2.3
Node: 15.12.0
npm: 7.6.3

I was able to resolve it by downgrading typescript version in package.json
[code]

[2021-05-24 07:28] peterjuras opened #3297 "[BUG] npm install does not update node_modules based on newer package.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I've ran into an issue where running `npm install` after checking out a different branch does not update the local `node_modules` folder and there is still an old version of a module installed - even though the package.json file contains an updated version of the dependency.

Deleting all `no

[2021-05-24 07:44] #3296 closed, assigned to nobody

[2021-05-24 11:55] mcqj commented on #1734
Could the error message be improved to offer a suggestion on where to look? The error message is displayed without context. One would assume that the error is in the package.json of the current project, not in a dependency because it doesn't say it's in a dependency. If it told you which dependency, it would be helpful.

[2021-05-24 12:29] catchmareck commented on #470
Seems like the "proper support" for PowerShell actually made it impossible to run scripts without workarounds. Are there plans to fix it? Having to work around it for every globally installed package or having to globally reduce security settings is quite hilarious.

Workarounds that worked for me:
- use `npx` to run the commands, ex. `npx ng new`
- reduce security settings in PowerShell: `Set-Exe

[2021-05-24 13:31] GimmiSingh opened #3298 "[BUG] Error in npm installation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\HYBRIS\\hybris\\bin\\custom\\ygraphqlcodegen\\.gradle\\nodejs\\node-v6.7.0-win-x64\\node.exe',
1 verbose cli   'C:\\HYBRIS\\hybris\\bin\\custom\\ygraphqlcodegen\\.gradle\\nodejs\\node-v6.7.0-win-x64\\node_modules\\npm\\bin\\npm-cli.js',

[2021-05-24 13:49] ljharb commented on #3298
You’re using node 8, which is EOL, and npm 3, which is also EOL (and quite ancient).

On node 8, run `npm install -g npm@6`; otherwise, upgrade node to 10+ and run `npm install -g npm`.

[2021-05-24 14:08] neilrackett opened #3299 "[BUG] npm run fails on Windows when project folder is case sensitive"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When case sensitivity is enabled, all scripts, e.g. `npm run build`, will fail with the error:

[code]

Where `module_name` is the name of the the module called by the script, e.g. `webpack` or `cross-env`

### Expected Behavior

`npm run` should run scripts as normal, unaffected by the case

[2021-05-24 14:08] neilrackett commented on #3299
Possibly related to #1782?

[2021-05-24 15:55] feelepxyz opened #3300 "Git dependency prepare script running with --package-lock-only"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

👋 I've just run into this in dependabot when trying to update `discord.js`. The following command fails: `npm install discord.js@github:discordjs/discord.js#b376f31af9881b9cd3f82ac4a42a468947cce482 --ignore-scripts --package-lock-only` with:

[code]

It looks like this [prepare](https://githu

[2021-05-24 16:12] RedHoodJT1988 commented on #417
Hello, I ma receiving this error while using WSL2 Ubuntu 20.04. I have installed node and npm via nvm. I am trying to run npx create-react-app projectname but I keep running into the issue. I am not sure what is causing it as I have the latest version of both npm and npx. Any assistance on this would be very helpful. Thanks.

[2021-05-24 16:18] nlf commented on #3298
node 6.7.0 is what actually looks to be in use, which should play nicely with npm 6 but is still really quite old.

you can try just updating npm as @ljharb mentioned above `npm i -g npm@6` (make sure you get the `@6` at the end or you'll end up with npm 7 which does not work on node versions older than 10)

but i would most definitely advise doing what you can to get yourself up to _at least_ nod

[2021-05-24 16:18] #3298 closed, assigned to nobody

[2021-05-24 20:46] nlf commented on #3196
@skinny85 we have a fix for this in the works, it should be part of our next release later this week!

[2021-05-25 00:26] chaos-ui opened #3301 "[BUG] <npm install -g tondev>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

~ $ npm install -g tondev
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Pl

[2021-05-25 08:34] sparanoid commented on #2835
Also got this error when upgrade an old server from 8 to 16. The `.bin` is located at `/usr/lib/node_modules/.bin`. Node.js was installed with nodesource.

[2021-05-25 08:59] Mavutanii opened #3302 "NPM ERROR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm WARN deprecated @types/classnames@2.3.1: This is a stub types definition. classnames provides its own type definitions, so you do not need this installed.
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.communi

[2021-05-25 11:04] SANDEEP1938 opened #3303 "cb() never called!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

HU\Desktop\reactnative>n
ing --force Recommended
() never called!

is is an error with npm
  <https://github.com/np

complete log of this run
  C:\Users\SAHU\AppData\

### Expected Behavior

_No response_

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...'
4

[2021-05-25 11:28] anentropic commented on #2818
same here

it worked on second attempt though

[code]

here is the log in case it gives any clues
[code]

I'm on an Intel Mac (Catalina)

[2021-05-25 12:36] albert-asin commented on #2339
same here, some workarround?

[2021-05-25 12:53] alexander-schranz commented on #2339
@albert-asin Make sure you have the latest version installed. If you use then a false npm version it should be shown you a correct error message, currently npm v6 is needed. Make sure that in your root directory does not exist the `node_modules` directory this can as posted cause also any problems.

[2021-05-25 12:54] alexander-schranz commented on #2339
@albert-asin current workaround is using NPM v6 until this issue is fixed.

[2021-05-25 13:04] abhishek-bodapati commented on #1832
Thanks man!

[2021-05-25 13:27] nesbocaj commented on #2838
When and why indeed? Having to run NPM with administrator privileges seems like an obvious security risk to me, so surely that cannot be the intended behaviour.

[2021-05-25 15:40] feelepxyz commented on #3300
The same bug is reported here: https://github.com/npm/cli/issues/2920 but would be helpful if it's possible to disable running `prepare` scripts if `--package-lock-only` or `--ignore-scripts` are set. Either would work for dependabot's use case where we care about disabling all life-cycle hooks.

[2021-05-25 16:53] ljharb commented on #3303
#417

[2021-05-25 18:27] nlf commented on #3303
**Closing:** this error can arise for a number of reasons; Please read [this document](https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22) & refile an issue with as much information as possible if you're able to **consistently reproduce** this error.

[2021-05-25 18:27] #3303 closed, assigned to nobody

[2021-05-25 18:27] nlf commented on #3302
**Closing:** this error can arise for a number of reasons; Please read [this document](https://github.com/npm/cli/wiki/%22cb()-never-called%3F--I'm-having-the-same-problem!%22) & refile an issue with as much information as possible if you're able to **consistently reproduce** this error.

[2021-05-25 18:27] #3302 closed, assigned to nobody

[2021-05-25 19:39] cconsta1 opened #3305 "The version of the downloaded binary is incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi, I'm new to npm and I'm trying to use it to build a vitejs web app, where I plan to use three.js. My system is a macOS Big Sur 11.4.

The version of node is v16.2.0, npm version is 7.13.0, the yarn version is 1.22.10 and I installed things using nvm, i.e

`which node` returns
`~/.nvm/versi

[2021-05-25 19:50] lydell opened #3306 "[BUG] npx@7 regression: command injection / impossible to pass a bactick as argument"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Let’s say you have a `create-blog-post` CLI installed globally. You run it like so:

[code]

One day you install `create-blog-post` _locally_ instead. Then how do you run it? Well, you could just slap `npx` at the start, right? **Wrong!** The following does _not_ do what you expect:

[code]

[2021-05-25 21:40] rettgerst commented on #1965
okay, I've come up with my own solution.

I've published the npm package [prepare-workspace-modules](https://www.npmjs.com/package/prepare-workspace-modules). in your root package.json, add it as a devDependency, and then add the command (same name) to your postinstall script. the package will then traverse through your monorepo's dependency tree and run the `prepare` scripts in the proper order.

[2021-05-25 23:03] ScRiPt1337 commented on #3305
same issue

npm ERR! code ETARGET
npm ERR! notarget No matching version found for @expo/config@3.3.43.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

npm ERR! A complete log of this run can be found in:
npm ERR! C:\Users\script\AppData\Local\npm-cache_logs\2021-05-25T22_18_39_878Z-debug.log

C:\Users\script>np

[2021-05-25 23:20] gijun19 commented on #2706
I believe I was able to reproduce this error today @ruyadorno

[code]

`workspace-a` gets properly symlinked to the root project directory when running `npm install`. updating `workspace-a/package.json` and bumping to `gh-pages@3` from the workspace directory works. but am i incorrect in assuming here that from the root project directory `npm install gh-pages@3 --workspace=workspace-a` should upda

[2021-05-25 23:50] jfrancos commented on #2660
I'm also noticing that for npm v6, I know how to run a script prior to installation of dependencies, and for npm v7, I don't.  I'm not too attached to the specific methodology of using a `preinstall` hook, as long as I have some way of running a script before dependencies are installed.  Can someone please let me know how to accomplish this for npm v7?

I've already looked [here](https://github.co

[2021-05-26 04:31] skinny85 commented on #3196
@nlf that's awesome to hear, thanks so much for the update!

[2021-05-26 10:59] albert-asin commented on #2339
@alexander-schranz thanks
yes, rolling back to v6 works again

[2021-05-26 13:46] Janpot opened #3308 "[BUG] unable to resolve dependency tree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

"unable to resolve dependency tree" errors when trying to install a dependency, even though the semver range is satisfied.

### Expected Behavior

Dependencies can be installed without any error

### Steps To Reproduce

1. go to an empty folder
2. run `npm init --yes && npm add next next-rpc`

[2021-05-26 13:47] MartyHav opened #3309 "[BUG] npm audit fix return error code "0" even if the remediation is not able to successfully fix all vulnerabilities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running:
`npm audit fix --audit-level=info --verbose`
Remediation is not able to successfully fix all vulnerabilities.
Getting this final output:

[code]

### Expected Behavior

I would expect a non zero error code as the docs saying:

https://docs.npmjs.com/cli/v7/commands/npm-audit#exit-cod

[2021-05-26 13:59] senseysensor commented on #708
So it won't be fixed?

[2021-05-26 14:54] ljharb commented on #3308
What is npm add?

[2021-05-26 15:24] Janpot commented on #3308
@ljharb
[code]
Seems to be an alias of `npm install`, just like `npm i` and `npm isntall`. Not sure why I used that, must be the influence of `yarn` 🙂

[2021-05-26 15:26] ljharb commented on #3308
oof, ok.

Either way, “> 10” excludes v10. So that requirement means you need v11+.

[2021-05-26 15:31] Janpot commented on #3308
Ok, makes sense, thanks. Will change to `>=10`

[2021-05-26 15:31] #3308 closed, assigned to nobody

[2021-05-26 17:50] #2823 closed, assigned to darcyclarke

[2021-05-26 18:45] yanoryuichi commented on #768
Hidden attribute in Windows is different from dot files in UNIX, it's a kind of ACL setting by SELinux. Putting config files under %USERPROFILE% is a bad way in Windows in the first place. They should be under %APPDATA%, that's hidden by default. Users don't see .npmrc and not need to set it to hidden. It's the same problem in yarn. https://github.com/yarnpkg/yarn/issues/8403

[2021-05-26 19:09] shrikant10 opened #3310 "npm ci support to updgrade specific packages to latest version."
Requirement -
We have some internal libraries in our organization that are installed using GitHub/GitLab URLs for which we always want the latest versions in the microservices.
As npm ci adheres to package-lock.json this isn't possible with npm ci to maintain the libraries in the latest version.
Is there any solution that can be used in this case.

PS. We want to avoid running npm install in every

[2021-05-26 19:26] #2868 closed, assigned to nobody

[2021-05-26 20:24] isaacs commented on #2715
Fixed by https://github.com/npm/cli/pull/3311

[2021-05-26 20:24] #2715 closed, assigned to nobody

[2021-05-27 00:08] tim-janik opened #3314 "TERM=dumb and --no-progress is ignored"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Progressbar is shown when it should not:

[code]

### Expected Behavior

Progressbar disabling works:

[code]

### Steps To Reproduce

The 'progress' config value and TERM=dumb checks work correctly in setup-log.js.
But later on, progress is enabled unconditionally, regardless of the config,

[2021-05-27 07:39] love477 commented on #3005
This error still exists.
When I publish my package to private npm system, failed with this error.
Is problem to private npm system??
npm version : 7.14.0
mac: 11.2.3
node: 12.16.3

[2021-05-27 08:17] jawahar14 opened #3315 "fast-csvv4.3.5 and @fast-csv/parse4.3.3 have security vulnerabilities"
We use the exceljs package and when the scan happened for security vulnerabilities using blackduck we got this.
Fast-csv is an npm package for parsing and formatting CSVs or any other delimited value file in node. In fast-cvs before version 4.3.6 there is a possible ReDoS vulnerability (Regular Expression Denial of Service) when using ignoreEmpty option when parsing. This has been patched in v4.3.

[2021-05-27 08:18] jawahar14 commented on #3315
- OS: UNIX
- Node: 14.17
- npm: 6.14.13
1. In the Angular project package json has the dependency on exceljs
2. exceljs 4.2
3. Run blackduck scan
4. Description
Fast-csv is an npm package for parsing and formatting CSVs or any other delimited value file in node. In fast-cvs before version 4.3.6 there is a possible ReDoS vulnerability (Regular Expression Denial of Service) when using ignoreEmpty op

[2021-05-27 08:21] jawahar14 opened #3316 "Lodash4.17.15 has vulnerabilities"
When we use ng2-charts, which has transitive dependency on Lodash reported , blackduck security scan reported the vulnerability that

Lodash is vulnerable to command injection via the template function. An attacker can take advantage of this vulnerability in order to run arbitrary commands.

[2021-05-27 08:52] Qvatra commented on #1219
confirm this as well. Can the reason of the ticket being closed be provided please?

[2021-05-27 11:38] jedrzejowski commented on #558
Adding `fsevents` as optional dependency solves issue in latest docker container `node:14-alpine`.
`npm i fsevents@latest -f --save-optional`
`npm ci --no-optional`
But it may have some side effects (I'm only using webpack).

[2021-05-27 13:03] networkandcode opened #3317 "[SECURITY] path-parse 1.0.6 vulnerability in npm 6.14.13"
We are using the version of NPM that's installed via Node12, and then upgraded that to 6.14.13.

Is there a patch for this vulnerability

High CVSS  7.5	CVE-2021-23343	path-parse	1.0.6	fixed in 1.0.7
All versions of package path-parse are vulnerable to Regular Expression Denial of Service (ReDoS) via splitDeviceRe, splitTailRe, and splitPathRe regular expressions. ReDoS exhibits polynomial worst-c