[2022-03-07 21:33] #4445 closed, assigned to nobody

[2022-03-07 21:41] nlf commented on #4443
@simllll can you fetch the json representing one of the packages (i.e. http://somehost/@sentry%2ftypes) and post it here? if it's not feasible to post the result in its entirety, the things i'm interested in are the `_resolved` and `dist` properties of version `6.17.4`

do you have a package-lock.json already? if so, do the `resolved` values in your package-lock.json look correct?

[2022-03-07 21:43] nlf commented on #4473
windows directly, no subsystem for linux involved.

windows 11, all updates installed as of this morning (march 7th 2022)

[2022-03-07 21:47] nlf commented on #4441
npm versions 6 and 7 are both unsupported, except for security fixes. if this is working correctly in npm 8, unfortunately we won't be taking the time to backport a fix to older versions so i'll have to suggest that you continue using npm 8 to the extent possible.

correct, we install peer dependencies by default now which is what causes the additional packages to be installed and hoisted. you can

[2022-03-07 21:47] #4441 closed, assigned to nobody

[2022-03-07 21:52] OmgImAlexis commented on #4473
Exactly the same as my setup. Just trying to work out how it's reproducable here but not for you. 🤔

Is this in powershell, terminal, cmd?

[2022-03-07 21:55] jablko commented on #4441
@nlf Understood, thanks for the response!

[2022-03-07 21:57] nlf commented on #4437
this behavior is intentional. we prioritize dependency hoisting based on sorting the path to the parent with a locale comparison, which means the root of the project will always come first. we do not intend to change this, as it is the most predictable means of getting a consistent outcome. your resulting package tree is perfectly valid, as every module has access to its own dependencies, which is

[2022-03-07 21:57] #4437 closed, assigned to nobody

[2022-03-07 21:58] nlf commented on #4473
i tried in cmd as well as the bash provided by git-bash

[2022-03-07 22:03] nlf commented on #4430
it's likely what's happening here is a request is timing out, so we're retrying it. by default we'll retry the same package 2 times after the initial failure, so i would expect to see what appears to be npm hanging for the time it takes 3 requests to timeout which is ~15 minutes by default. if you `npm i --fetch-timeout=60000` it'll reduce the overall failure time to ~3 minutes, though based on th

[2022-03-07 22:08] OmgImAlexis commented on #4473
That's the difference. Try in powershell or powershell 7.

Just tried in cmd and it doesn't work.

[code]

[2022-03-07 22:09] nlf commented on #4411
this path makes it appear as though you globally installed this package with either `pnpm` or `yarn@2` which both use a local store and symlinks to manage their dependencies. `npm` will not create a directory path like `_babel-messages@6.23.0@babel-messages` in your `node_modules` as this is not a valid package identifier.

the root issue here is that npm doesn't play nicely with package trees pop

[2022-03-07 22:11] louis-bompart opened #4518 "[BUG] `npm run` in a workspace attempt to run in other workspaces."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Given this project hierarchy:
[code]

With root/package.json having:
[code]

If I run `npm run myscript` with `packages/a` as my current directory, `npm` will try to run `myscript` in `package/a` and `packages/a

[2022-03-07 22:14] nlf commented on #4473
ahhh! there's nothing we can do about that, unfortunately, `@` is an operator for powershell so it's being evaluated before we ever even see it. if you run the command like:

[code]

that escapes the `@` and you'll see the same error we do in other shells

[2022-03-07 22:17] OmgImAlexis commented on #4473
Oh that's really interesting. Didn't even think of that.

[code]

[2022-03-07 22:17] #4473 closed, assigned to nobody

[2022-03-07 22:18] louis-bompart commented on #4518
Also, ideally, from a documentation standpoint I would detail that:
 - When specifying a workspace by name (e.g. `workspace=b`), the 'root' package.json will be used for the workspace resolution
 - When specifying a workspace by path, the current working directory is used for the path resolution, meaning that:
   - `npm run myScripts --workspace=packages/a` will work from root, but not from `packa

[2022-03-07 22:18] dstaley opened #4519 "[BUG] `npm publish` does not prompt for OTP"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Running `npm publish` for a package that has "Require two-factor authentication or automation tokens" enabled from an account with 2FA enabled (as confirmed by "Enabled for authorization and publishing" being ch

[2022-03-07 22:23] nlf commented on #4377
@fishcharlie i'm not able to reproduce this one either. i cloned your repo, changed dirs into the `docs` direct and no amount of `npm install` or `npm audit fix --force` raises this error. is this still happening for you with npm@8.5.3?

[2022-03-07 22:25] nlf commented on #4366
i think @lennym hit the nail right on the head, rather than `continue` and making no changes at the very least we need to append the to `effects` and `via` when necessary.

[2022-03-07 22:58] maxmag-soft commented on #4511
Hi nlf,
I have a git repo in /home/user/dev/myrepo/
inside I have a next.js project in /home/user/dev/myrepo/arcadia/
I wanted to run npm commands install/build/dev/etc while I am at the repo folder, not inside my project folder (the package.json folder)
no, its not a workspace
[code]

my workaround is this:
downloading node and npm from official site and changing path variable.
export PATH="$PWD/

[2022-03-07 23:00] nlf commented on #4518
your package hierarchy isn't explicitly supported by npm. nesting a workspace within another workspace can create some strange issues. realistically we should throw an error when we detect this pattern, as it is a confusing one to debug. if your workspaces are neighbors, i.e. `packages/a` and `packages/b` things should behave more how you'd expect.

i'm going to leave this issue open so that we ca

[2022-03-08 00:21] jumpmouse commented on #4028
I have this problem for a while now. I thought it that was some problem with my project's node_modules or npm version mismatch problem.

Just now, I tried to install one package globally, and encountered exact same problem.
nodejs 14.18.1
npm 8.1.4

not sure if this helps: with `-verbose` enabled, this is what I've noticed:
- npm freezes randomly
- no relation with cache hit status
- everything no

[2022-03-08 00:35] louis-bompart commented on #4518
Thanks for the clarification, the thing that really made me raise an eyebrow was that it was working in 8.4.2, so that's why I reported this as a bug, given that a working behavior had stopped working.

Eager to read more about workspaces and overall guidelines/limitations 😄
Thanks!

[2022-03-08 01:13] fishcharlie commented on #4377
@nlf Just installed npm 8.5.3, and issue persists.

I did just try to remove my `node_modules` folder and `package-lock.json` file, and run those commands again, and the issue did not occur.

Therefore I think it's an issue with my `package-lock.json` file. I have uploaded that here as well.

[package-lock.json.zip](https://github.com/npm/cli/files/8201873/package-lock.json.zip)

[2022-03-08 03:42] whatwg6 commented on #2010
+1

[2022-03-08 05:09] ljharb commented on #4028
@jumpmouse npm 8.1.4 is very old; can you try with v8.5.3?

[2022-03-08 05:36] Alien10123 commented on #4515
Changing my dns and switching networks worked.

[2022-03-08 07:17] reneroth commented on #2610
I don't think you're agreeing - don't just remove your package-lock.json, that might mess with your other dependencies :)

[2022-03-08 07:36] alexcroox commented on #2610
@reneroth probably because I have save-exact in my npmrc file but removing lock file and re-installing will produce the exact same lock file content so it’s no problem for me.

[2022-03-08 10:15] lennym commented on #4366
Apologies for hijacking this bug slightly, but I've also noticed that the `source` property on the advisories is also unstable, but I don't understand what that represents, so can't offer any particular insight.

I have seen that CVE https://github.com/advisories/GHSA-r683-j2x4-v87g related to `node-fetch` has had `source` values of `1006899 `, `1007129`, and now `1028029 `. I would be keen to kno

[2022-03-08 11:51] riovir opened #4521 "[BUG] `npm update` deletes name property of @scoped workspace dependencies from the package-lock"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When using workspaces some of the workspace names may be scoped. When this is the case the package-lock includes the "name" property of the scoped, locally resolved packages. Running `npm update` removes the nam

[2022-03-08 14:45] wraithgar commented on #4519
This is an issue w/ the npm registry itself, not the cli.  We'll keep it open till it's resolved but it's not something the cli can fix.

The issue appears to be with publishing shortly after logging in. The npm registry deployed a fix for this earlier this morning, can you try again?

[2022-03-08 15:54] jumpmouse commented on #4028
@ljharb thanks, I've updated to 8.5.3

Unfortunately, same behavior.
This time I've tried `npm i` on my medium size Angular project (removed node_modules and cleared cache).

It runs fast, then slows down and freezes.
if I terminate (Ctrl+C) process on freeze and start again, it freezes on same spot.
if I wait forever, it freezes on same line and then on couple more. Each freeze lasts for 2-3 minu

[2022-03-08 16:13] darkartswizard commented on #4028
I've had no issue since posting. I was able to narrow down one issue an old wdio and current webdriverio package installed. I removed the sync (fibers) package as well. Then I used ncu to find conflicting package versions. Then ncu -u to update the package. Followed by npm i to create the package-lock. Aside from an occasional unexplained issue with a port-in-use package, my Mac has been relativel

[2022-03-08 17:05] hlahlou-pp-dev opened #4523 "Modifying where Packages are Resolved in Package-lock. Package keep referencing internal provider even when registry is set to default external provider"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

For an external facing SDK, we want the packages to be resolved from an external default provider. Example below:

[code]

But currently some packages are resolved through an internal artifactory which we do not

[2022-03-08 18:21] loilo commented on #4512
Alright, thanks for the clarification! It didn't come to mind for me that package names could be required as we merely use workspaces for distributed declaration of dependencies.

I guess we leave this open untill this behavior is documented?

[2022-03-08 18:28] nlf commented on #4512
that's the idea!

[2022-03-08 18:36] dstaley commented on #4519
Just wanna confirm that I was able to publish without issue, including npm prompting me for the otp. Thanks for looking into this! I figured there was a 50/50 chance it was the registry being wonky :P

[2022-03-08 18:47] #4519 closed, assigned to wraithgar

[2022-03-08 19:32] nlf commented on #4511
i was able to reproduce this following these steps, please let me know if i missed anything:

[code]

which sure makes it look as though we're disregarding the `--prefix` parameter entirely. it's worth noting, the same series of commands run in osx and linux works correctly, however attempts in bash, cmd, and powershell all fail in windows. interestingly `npm --prefix ./project prefix` does print

[2022-03-08 19:38] nlf commented on #4348
this does indeed seem to be a duplicate of #3078, the SSL cipher issue i can reproduce by lowering my timeout values low enough that the socket is closed during the tls handshake. i'm going to close this as a duplicate and we will continue investigation and debugging in #3078

[2022-03-08 19:38] #4348 closed, assigned to nobody

[2022-03-08 19:39] nlf commented on #3078
adding a note for my future self - this is _not_ specific to windows as previously thought, though it does manifest there much more commonly, it also happens in osx and linux under the right circumstances. we definitely have something fishy going on with our timeouts.

[2022-03-08 19:45] nlf commented on #4332
i'm not able to reproduce this in npm 8.5.3, can you try that out and see if you're still experiencing this problem?

[2022-03-08 19:56] nlf commented on #4323
confirmed bug, we're ignoring the `dev` flag in the `npm-shrinkwrap.json`, installing the dev dependencies and flagging them as `extraneous` when we write the `package-lock.json`.

i confirmed the `npm-shrinkwrap.json` flags the relevant deps as `dev`.

as noted, `npm prune --production` removes the extraneous deps from `node_modules` but not from the package-lock, so a follow up `npm install` put

[2022-03-08 20:31] nlf commented on #4312
this is absolutely a problem. we have begun discussions about how to handle file ownership here https://github.com/npm/rfcs/issues/546

[2022-03-08 20:34] maxmag-soft commented on #4511
Yes! thats right!
if you try with npm version 8.1 it can run flawlessly on linux, (windows not tested)
I saw on the internet to try using --cwd on windows, and it didn't work on latest version yet

[2022-03-08 20:38] nlf commented on #4309
i think we need more information to reproduce this one. first off, can you give things a try with npm 8.5.3 and see if you still have problems?

if you do, can you share the `package.json` you're using? also, can you attempt to remove the `node_modules` and `package-lock.json` manually and try again?

[2022-03-08 20:57] nlf commented on #4309
@MatiasDuhalde your issue looks to be a problem with ipv6 as you have a timeout occurring during the socket connection. i've seen this happen myself on occasion and have raised the issue internally for investigation with the registry team. can you try running

[code]

and see if you get a response?

[2022-03-08 21:38] nlf commented on #3510
see #417

try updating to the latest published npm version (8.5.3 at the time of writing this) and try to reproduce the problem. if you're able to, please give us as much information as possible to help us reproduce the problem. the `package.json` and `package-lock.json` files are often critical.

[2022-03-08 21:38] #3510 closed, assigned to nobody

[2022-03-08 21:39] MatiasDuhalde commented on #4309
Hey @nlf ! Thanks for the reply!

Using npm `8.5.3` and node `17.6.0`, I generated a new `package.json` file with `npm init -y`, and tried installing `uuid`. I got the same behavior as last time, command failed after some time, with the following error:
[code]

The complete log:
[code]

I ran the command you suggested in Arch Linux, but got no response. I tried same command in Debian in the same n

[2022-03-08 21:40] nlf commented on #3511
we don't control the nodejs uninstaller, so can't really do much to change that situation. since we also can't automatically change the prefix for you because we have no idea what you want it to be, and guessing is more harmful than leaving it alone, this looks to be entirely issues within that installer. for help with those, you'll have to open an issue at https://github.com/nodejs/node

[2022-03-08 21:40] #3511 closed, assigned to nobody

[2022-03-08 21:44] nlf commented on #3513
this is a known issue. see #4341 for context. the summary is here https://github.com/npm/cli/issues/4341#issuecomment-1040608101

closing this as a duplicate

[2022-03-08 21:44] #3513 closed, assigned to nobody

[2022-03-08 21:44] nlf commented on #3515
closing as fixed

[2022-03-08 21:44] #3515 closed, assigned to nobody

[2022-03-08 21:48] nlf commented on #3519
this is a bug with shrinkwraps and how they handle dev dependencies. closing as a duplicate of #4323

[2022-03-08 21:48] #3519 closed, assigned to nobody

[2022-03-08 21:49] nlf commented on #3520
we've made a lot of changes to workspaces in the last several months, can you test this in npm 8.5.3 and let us know if it's fixed?

[2022-03-08 21:53] nlf commented on #4309
this is an underlying problem in your arch linux installation it seems. if the above `curl` command works, then npm should also work, but right now due to the problems with your ipv6 network you're getting the timeout instead. unfortunately not much we can do to help with that one, it'll be on you to figure out how to get your ipv6 stack working correctly.

[2022-03-08 21:53] nlf commented on #3534
the root cause here is #4366 so i'm closing this issue as a duplicate

[2022-03-08 21:53] #3534 closed, assigned to nobody

[2022-03-08 21:55] nlf commented on #3537
as mentioned, this should be fixed as of npm 8.1.0. if you experience this problem again, please open a new issue and provide as much detail as possible.

[2022-03-08 21:55] #3537 closed, assigned to nobody

[2022-03-08 21:58] nlf commented on #3553
this is exactly the case. the `postinstall` script for each workspace is meant to be run in this use case. i'm closing this as the current behavior is the intended one.

[2022-03-08 21:58] #3553 closed, assigned to nobody

[2022-03-08 21:59] nlf commented on #3554
@OnkelTem is this still an issue? we did make some changes to how scoped registries are handled in the last several months. can you try updating to npm@8.5.3 and see if things are working as you expect?

[2022-03-08 22:02] nlf commented on #3555
this seems likely to be the case for all of these reports. @joebobmiles can you try this, and also test with the latest npm (8.5.3 at the time of writing) and see if it helps?

[2022-03-08 22:05] nlf commented on #3556
are you still seeing this issue with npm@8.5.3? i attempted to reproduce it but encountered unrelated build errors about a missing config.h

[2022-03-08 22:07] nlf commented on #3566
i'm not able to reproduce this one on the latest npm (8.5.3 at the time of writing). can you try updating and see if it resolves your issue?

[2022-03-08 22:08] nlf commented on #3567
we've made significant changes to audits and peer dependency behaviors, can you try updating to npm@8.5.3 and see if you still have a problem?

[2022-03-08 22:15] nlf commented on #3575
`INIT_CWD` isn't meant to allow you to force a directory, it's a read-only variable used so that you can determine what directory the command was run from in your shell. to run an npm script from another directory, you should try `npm --prefix /tmp/test-npm-cwd run echo`

[2022-03-08 22:15] #3575 closed, assigned to nobody

[2022-03-08 22:18] nlf commented on #3578
we've made a few changes to how git dependencies are handled since this issue was opened, can you try updating to npm@8.5.3 and see if you still have this problem?

[2022-03-08 22:20] nlf commented on #3580
we've made a few changes with how the global prefix is handled, especially when symlinks are involved, can you try updating to npm@8.5.3 and see if you still have this problem?

[2022-03-08 22:26] nlf commented on #3590
this was a caching ttl problem, and should be resolved. please open a new issue if you see it happen again!

[2022-03-08 22:26] #3590 closed, assigned to nobody

[2022-03-08 22:30] nlf commented on #3593
`npm ls` by default does show dev dependencies of the project root, we only omit them if you explicitly tell us to.

the reason you're seeing the dev dependencies of your `file:` dependencies, is because what we actually do is create a symlink in `node_modules` pointing to the directory the code resides in. if that directory has a `node_modules` in it, then everything there will be displayed by `n

[2022-03-08 22:30] #3593 closed, assigned to nobody

[2022-03-08 22:32] cwirtanen commented on #3556
I just tried this on a fresh node14 docker image (after installing npm@8.5.3 and python3.9) and got the same, original error that I also see on npm@7.
https://pastebin.com/NtY5Wa9J

[2022-03-08 22:35] nlf commented on #3599
it appears this was fixed upstream in the homebrew formula so i'm going to go ahead and close this. if you encounter a similar problem, please feel free to open a new issue

[2022-03-08 22:35] #3599 closed, assigned to nobody

[2022-03-08 22:38] nlf commented on #3606
we've made a lot of changes to peer dependency handling since this issue was opened. can any of you who are still experiencing this problem try installing npm@8.5.3 and let us know if it resolves your problem?

[2022-03-08 22:44] nlf commented on #3638
what's happening here is that we determine that `dist/ourproject` is actually a shorthand to a github repo and attempt to publish that. `npm publish ./dist/ourproject` will bypass the github shorthand and correctly identify this as a file path and work as you expect.

unfortunately this shorthand is used heavily, so we won't be changing it any time soon.

[2022-03-08 22:44] #3638 closed, assigned to nobody

[2022-03-08 22:50] nlf commented on #3649
the symlinked `node_modules` found in `workspace_dir` is confusing the tree building algorithm. the simple fix here is to remove that symlink. workspaces have seen a lot of improvements over the last several months so your symlink workaround for older workspace support is no longer necessary.

i'm going to close this issue, but if removing the symlink and updating doesn't work for you, please open

[2022-03-08 22:50] #3649 closed, assigned to nobody

[2022-03-08 23:30] rossng commented on #3520
I moved my original project to pnpm in the end, so I reproduced this problem by:

- Cloning https://github.com/Quramy/npm-ts-workspaces-example
- `cd packages/x-cli`
- `npm install --save-dev @graphql-codegen/cli`
- `npm exec --no --workspace=@quramy/x-cli --package @graphql-codegen/cli -- graphql-codegen`

I still see the same output:

[code]

[2022-03-08 23:47] lognaturel commented on #3556
@cwirtanen yours looks like a different issue -- the one I described only manifests when building a project that uses `node-libxslt` as a dependency, not when building directly. @nlf unfortunately the project I use this with fails for seemingly other reasons with `npm 8`. See https://github.com/enketo/enketo-express if you want to try it. I'll try to come back to this soon.

[2022-03-09 02:03] GitPopcorn commented on #4411
Thank you, I do have a fuzzy memory of using pnpm long time ago... but I turn to using native npm later and forget it.
I still don't really thought this issue as a bug now, npm is not really responsible to recognize the file link, just a simple erorr message to show what cause that is fine enough.
Overall, pretty appreciate for your explaination, I can hardly find concrete causes by myself.

[2022-03-09 07:59] kevin-lane commented on #2694
I am having the exact same issue and get the exact same error. I have also done what you have done to try to solve the problem without any luck. Did you find a solution to this problem? Thanks

[2022-03-09 09:44] leschdom commented on #2508
Hi,

I also got confused by this behaviour, as we tried to update from node 14.19.0 (npm 6.14.16) to 16.14.0 (npm 8.3.1).

So our setup is as follows:

We have 3 packages from private GitHub repositories and have 2 tokens (2 packages can be retrieved with the same token, but are in different scopes)

My local `~/.npmrc` looked like this:
[code]

In the project we have this `.npmrc`:
[code]

Note t

[2022-03-09 11:14] mrft commented on #2725
Same here...

[2022-03-09 12:33] mshima commented on #4437
@nlf how to disable workspaces using `.npmrc`?

IMO this breaks the workspace peerDependency tree.
If `rxjs` cannot be moved to the root, so any package that have peer dependency on it should not be moved too.

[2022-03-09 14:00] ArcoMul opened #4525 "[BUG] run-script changing from root-user to non-root user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When running `npm run start` as root user npm starts a process as non-root user, it runs the script as the user who 'owns' the current working directory.

### Expected Behavior

When running `npm run start` as r

[2022-03-09 14:53] SpeedyCraftah commented on #3078
Is the NPM team going to do anything about this?

[2022-03-09 15:16] osher commented on #4494
@ljharb - lockfile is not a best practice. lockfile is a recipe for technical debt.
it's a solution for projects in kickoff that don't old dependency with their known vulnerabilities as a tradeoff for stability. You need this tradeoff when you don't have good coverage. If you have good coverage - you better test with latest and greatest, and if you test with latest and greatest - you can ship with

[2022-03-09 15:32] ljharb commented on #4494
@osher a lockfile is a requirement for an application to be mature; you are free to disagree with the rest of the industry, but it doesn’t change anything.

[2022-03-09 15:34] ljharb commented on #4437
@mshima you can add `workspaces=false` to `.npmrc`

[2022-03-09 15:36] liaoliaots commented on #4519
I tried many times and finally published successfully...

[2022-03-09 16:43] the-vampiire commented on #3078
the non-deterministic behavior is what kills me. i am experiencing this on macOS and native linux docker hosts. thought the upgrade to 8.5.1 would do it but then it popped up again after a few hundred builds without issue.

its a bummer that this thread is a mile long spanning over 6 months without a solution.

[2022-03-09 17:11] xenoterracide commented on #2391
I have to disagree, my case I removed one of our internal dependency, I tried dedupe, remove, uninstall, --save, --save-dev, update, and it still exists in the package-lock.json

❯ rg -l onemonitoring
back-end/package-lock.json

[2022-03-09 17:14] xenoterracide commented on #2391
and it doesn't exist as a dependency anywhere else in the tree

[2022-03-09 17:14] ljharb commented on #2391
@xenoterracide what does `npm explain onemonitoring` print out? (assuming that's the package name)

[2022-03-09 17:20] xenoterracide commented on #2391
[code]
as a note, uninstall seems to be working for dependencies that aren't internal, not certain why that would make a difference

[2022-03-09 17:22] ljharb commented on #2391
it's confusing there's a lockfile inside `back-end`; can you cd into that directory and run the same `npm explain` command? (probably after `npm install`)

[2022-03-09 17:31] xenoterracide commented on #2391
oh, I did that for the last 2, I thought I copied my cd in my output, oops

[2022-03-09 17:42] xenoterracide commented on #2391
should there only be one lockfile for workspaces, btw?

[2022-03-09 17:50] nlf commented on #3078
The non-deterministic behavior is exactly what makes it so difficult to track down and fix. I've spent probably 40+ hours trying to reproduce this in a testing environment where it can be repeatable. I'm doing my best, but this is one of those ones where if I can't see it happen I can't tell what went wrong and I can't fix it. All I know right now is that a socket appears to be timing out while we

[2022-03-09 18:00] Ognian opened #4527 "[BUG] npm produces "timing" log output when "npm start""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

' npm start ' produces the following timing output which sticks always to the last line:
<img width="500" alt="image" src="https://user-images.githubusercontent.com/1231174/157500431-fed4bf14-ece1-405c-abff-6d23

[2022-03-09 18:41] ljharb commented on #2391
Yes, there should only be a lockfile at the root.

[2022-03-09 18:49] wraithgar commented on #3785
Closed in v8.5.2 thanks @lukekarrys

[2022-03-09 18:49] #3785 closed, assigned to nobody

[2022-03-09 19:00] wraithgar commented on #2849
This appears to have been fixed. Ran the following and had no errors:

[code]

It also has its peer dep installed top level at a valid version

[code]

[2022-03-09 19:00] #2849 closed, assigned to nobody

[2022-03-09 19:08] wraithgar commented on #3081
This was the same issue as https://github.com/npm/cli/pull/4428, and the docs have been updated to remove this incorrect info.

[2022-03-09 19:08] #3081 closed, assigned to nobody

[2022-03-09 19:08] wraithgar commented on #3185
This is the same root issue as https://github.com/npm/cli/pull/3081.  The docs were updated in https://github.com/npm/cli/pull/4428

[2022-03-09 19:08] #3185 closed, assigned to nobody

[2022-03-09 19:21] xenoterracide commented on #2391
I wonder if that's the source of the issue

[2022-03-09 19:44] xenoterracide commented on #2391
looks like, but it not removing it when it's run in the `back-end` directory seems like a bug, especially if install works

[2022-03-10 04:45] the-vampiire commented on #3078
@nlf i appreciate the effort man. i posted a repo to reproduce the issue consistently which may be of help. it was further up the chain here and probably got lost in the chatter.

[here is the repo](https://github.com/the-vampiire/npm-cli-socket-bug)

in `build-test.sh` there are 3 files to build (2 are commented out).

[code]

- the first uncommented one builds successfully about 99% of the time

[2022-03-10 07:56] gstamac opened #4533 "[BUG] npm publish with <tarball> parameter recreates tarball"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If I create a tarball with `npm pack` and then call `npm publish my-package.tgz` it recreates the tarball and includes `my-package.tgz` in that tarball. This started happening since v8.5.0 (also tried v8.5.3). B

[2022-03-10 12:57] mshima commented on #4437
@ljharb doesn't work with:
[code]
https://github.com/jhipster/generator-jhipster/pull/18081

[2022-03-10 13:34] zfeher commented on #3566
Hi' Tried this again with node v14.19.0 and npm v8.5.3. Now it seems it is able to print the audit report. But it starts with some warnings at the top like `ERESOLVE overriding peer dependency`, `Could not resolve dependency:`, `Conflicting peer dependency: webpack@5.70.0`. Don't understand why we have conflicting peer dep here because only webpack 4 is installed (`npm list webpack displays only w

[2022-03-10 14:44] ljharb commented on #3566
@zfeher the implication is that you have something in your deps that requires webpack 5, which is thus invalid with the rest of your graph.

[2022-03-10 15:12] Ognian opened #4534 "[BUG] insufficient Information in error log when "Error: loading from incorrect packument""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

After changing from npm@7 to npm@8
and removing node_modules and package-lock.json
and doing npm install I get the error: **loading from incorrect packument**.
The detail log is:
[code]

### Expected Behavior

F

[2022-03-10 16:44] LarsCelie commented on #2508
I have seemingly the same issue. Although my setup is identical to a colleague, his setup works fine. CI pipeline works as well.
Seems to only affect my pc.

Reverting back to npm 6 works again.

[2022-03-10 16:58] alliresan opened #4544 "[BUG] preinstall script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Hello,
I want to execute preinstall script BEFORE the dependencies of my project describes in package.json are downloads, but it doesn't occurs in:$ npm --version8.5.3
Thanks in advance

### Expected Behavior

E

[2022-03-10 18:00] #2905 closed, assigned to wraithgar

[2022-03-10 18:04] leschdom commented on #2508
@LarsCelie, during my research I came across this article https://rapaccinim.medium.com/surviving-the-npm-err-404-with-private-packages-b413d80fb860  - maybe this helps in your case?

[2022-03-10 18:54] wraithgar commented on #2856
Fixed in `v8.5.4`

[2022-03-10 18:54] #2856 closed, assigned to wraithgar

[2022-03-10 19:25] luckman212 commented on #2856
Thanks @wraithgar

Confirmed! 🚀

[code]

[2022-03-10 19:59] ilanolkies opened #4548 "[BUG] git+https package resolves to git+ssh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`ethereumjs-abi` is set as `git+https://` dependency but it is resolver as `git+ssh://`. This makes, for example, Github Actions fail

package.json in npm registry:

<img width="771" alt="Screen Shot 2022-03-10

[2022-03-10 21:34] naugtur opened #4550 "[BUG] Advisory IDs returned by audit have changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

There's been multiple reports of advisory ID changes here: https://github.com/naugtur/npm-audit-resolver/issues/56

Advisory ID saved from earlier `npm audit --json` is not matching the current output.

### Expe

[2022-03-10 21:34] naugtur commented on #4550
Some folks were suggesting it may be related to npm advisory page now redirecting to github advisories.

IF that's the case - is there something I could use to exchange the old ID for the new one to make a one-off tool to fix the situation?

[2022-03-10 22:06] wraithgar commented on #2844
This is likely going to stay as it is now.  The issue has to do with the fact that git branches are not idempotent.  There is also no reliable way for us to know if the content after the `#` here is a tag or a branch.  Because of that, if we made the cli always consider branches to be stale, `npm ci` would break every time anyone pushed to a branch that was referred to in your package.json.

Consi

[2022-03-10 22:06] #2844 closed, assigned to wraithgar

[2022-03-10 23:12] Mahmoudterak opened #4551 "Mahmoudterak"

[2022-03-10 23:23] adevine commented on #4550
As one point of clarification, we are seeing the advisory IDs change _frequently_, i.e. I'd save a resolution file with npm-audit-resolver, then the IDs would change the next day, then I'd update the resolution file, only to have it break the next day again.

[2022-03-10 23:24] #4551 closed, assigned to nobody

[2022-03-11 02:34] JoshMcCullough commented on #3021
We had `legacy-peer-deps=true` in our `.npmrc` because back when _the big peer dep change_ happened, we ran into issues. Removing this config got me past this error.

[2022-03-11 07:10] perrin4869 opened #4552 "[BUG] install script does not run in workspace in 8.5.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Given the following:

[code]

Running `npm install` will not generate an `install` file inside the `subpackage` directory.

### Expected Behavior

In `8.5.3` it would run the `install` script inside the workspac

[2022-03-11 07:18] XhmikosR commented on #4548
Agreed, I've been seeing this too for some time and forgot to make an issue.

Happens with `github:repo/owner#branch` too (with npm v8.3.1 that ships with Node.js 16.14.0), unsure if it's 100% the same issue, but the result is the same. (https://github.com/fenneclab/hugo-bin/commit/6f3764855fc87e37134726c0de45cc908d36af0d)

This breaks CI with older npm versions since they don't seem to support `g

[2022-03-11 08:07] eight04 commented on #2844
Instead of treating all git dependencies as staled, can npm know a git dependency is stale when the tag in package.json doesn't match the lock file? Which should be enough to handle the use case in https://github.com/npm/cli/issues/2844#issuecomment-834651530

Otherwise, npm should at least throw an error when `npm install` finds an unmatched git tag, avoiding confusion like https://github.com/ope

[2022-03-11 09:14] mbunix opened #4553 "Installing packages (npm)...npm ERR! code ERR_SOCKET_TIMEOUT npm ERR! errno ERR_SOCKET_TIMEOUT"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm ERR! network Invalid response body while trying to fetch https://registry.npmjs.org/postcss-import: Socket timeout
npm ERR! network This is a problem related to network connectivity.
npm ERR! network In most

[2022-03-11 15:45] VivaLaRobo commented on #4472
Any updates for this?

[2022-03-11 16:33] Roaders opened #4554 "[BUG] peer warnings no longer printed out when running npm install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

because of the way that peer validation works in npm 8 it seems to me that there is no way of updating a project that has a lot of interrelated peer dependencies (like angular) without having to do `npm install

[2022-03-11 16:57] ljharb commented on #4554
npm v8.1.2 is not the latest npm, in contrast to the box you checked saying you were using it. Can you try with v8.5.4?

[2022-03-11 17:15] Roaders commented on #4554
sorry, I thought it was. It's certainly the latest that I can currently install at my place of work so no, at the moment I can't try with a later version I am afraid.

[2022-03-11 17:21] khldon123 commented on #3078
i'm having the same problem when use `npx create-react-app my-app` even though my internet connection is fine, i have been stuck on this for five days
i have tried every thing in this link [https://stackoverflow.com/questions/18419144/npm-not-working-read-econnreset](url)
[code]

[2022-03-11 17:23] ljharb commented on #4554
even if you can't do `npm install -g npm` for some reason, you can certainly do `npx npm@latest` and try it out.

(Separately, it is highly advisable for your place of work to not be on an old, and thus very broken, version of npm)

[2022-03-11 17:53] Roaders commented on #4554
No it's not that. The latest version has not been onboarded into our local repository yet.

[2022-03-11 18:12] benoitg commented on #3078
As an aditional datapoint this completely disapeared when adding a caching DNS server on the network.  When the isp's server was used I got such failures in docker containers (but not on native ubuntu).  So whoever looks at this may look on the DNS resolution side of it rather than the data transfer side.

[2022-03-11 18:34] ljharb commented on #4554
`NPM_CONFIG_REGISTRY=https://registry.npmjs.org npx npm@latest` should work, then.

[2022-03-11 20:00] Roaders commented on #4554
No, external access is blocked.

I'll see if I can replicate at home over the weekend.

[2022-03-11 20:18] Sogomn commented on #3598
Lifecycle scripts aren't even run when calling `npm install` from within the workspace package.
Right now the only way to run them is to move the scripts into root or run them one by one manually, kind of annoying.

[2022-03-12 00:06] Brennnannn opened #4555 "[BUG] All npm commands return "Error: Cannot find module 'node-fetch-npm'""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

All [attempted] commands using npm return  (this includes npm version, npm install -g npm, npm install -g node-fetch-npm and similarly basic commands)
`Error: Cannot find module 'node-fetch-npm'
Require stack:
-

[2022-03-12 02:44] tswaters commented on #4290
I hit this same error under npm@7.24.2

Our setup is a little "funny" - but seems to be functional under v6 of npm.  After trying to update to `npm@^7`, we started hitting this problem.  (specifically, using ci, "cant find package-lock" and, running with verbose, we see the `extraneous` TypeError)

So in our case, this is caused by our monorepo structure not being 100% mirrored the same way as it

[2022-03-12 02:44] ljharb commented on #4290
npm 7 is long since EOL; have you tried npm 8.5.4?

[2022-03-12 02:45] tswaters commented on #4290
I have not.. 1 thing at a time, getting off of npm 6 :smile:

[2022-03-12 04:17] ljharb commented on #4290
Easier to jump to 8 latest than to use 7, imo :-)

[2022-03-12 09:01] anshtyagi0 opened #4556 "[BUG] I have uploaded the new version of my package but still not updated on site"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have uploaded a new version of my package and its around 30 min its is still not updated on site.
https://www.npmjs.com/package/bhbotlist.js it is showing 1.0.2 version

### Expected Behavior

_No response_

#

[2022-03-12 09:44] iliubinskii commented on #3567
My npm version is up-to-date.
I did not experience the problem described her recently.
I will close the issue and re-open if it returns.

[2022-03-12 09:44] #3567 closed, assigned to nobody

[2022-03-12 13:18] Ognian opened #4557 "[BUG] using a workspace instead of a separate repo leads to having 2 react versions instead of 1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

1. new empty directory
2. npm init -y
3. npm i react@16
4. npm init -w packages/a -y
5. cd packages/a
6. npm i react@17
7. npm i @emotion/react
8. npm ls react

and we see here 2 versions of react wich is wrong

[2022-03-12 14:29] szatanjl opened #4558 "[BUG] Cannot work on FAT32 USB drive"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have started a react-native project.  But instead of keeping files on hard drive I wanted to keep everything on a USB drive.  I have formated it to FAT32.  And so problem starts.

`npm install` by default crea

[2022-03-12 17:41] Ognian commented on #4557
from this #2924 i learned that there is a `--global-style` option when installing.
This helped with the reduced test case.
In the real repo I hit #3847 when doing the `npm i --global-style` in the packages/xxx directory.
I tried `npm i --global-style` in the project root and this time it worked.

So please, please, please, could someone knowing what is going on here document this in the official d

[2022-03-12 19:33] LarsCelie commented on #2508
@leschdom Thanks, but unfortunately, no.

[2022-03-12 23:23] fwsmit commented on #4309
Not sure if relevent, but I gave the curl command some time to complete, but it didn't give any results. I don't have ipv6, though.

The issue I had seems to be resolved, though. npm install works again! I'll close this issue

[2022-03-12 23:23] #4309 closed, assigned to nobody

[2022-03-13 20:11] flojo007 opened #4559 "Cannot find module 'is-typedarray'"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When I try to install any npm package with `npm i` I always get the error:
![grafik](https://user-images.githubusercontent.com/83416975/158077111-d82ef445-89b4-426f-85b5-d9836b9be749.png)

### Expected Behavior

[2022-03-13 20:48] ljharb commented on #4559
Are you using the public registry? https://www.npmjs.com/package/is-typedarray does exist.

[2022-03-13 20:51] flojo007 commented on #4559
I cant even install that package

All I did was installing nodejs & npm

[2022-03-13 23:37] trusktr commented on #4202
And so `--ignore-scripts` should in fact cause any `build` script to be ignored, right?

[2022-03-14 06:12] towry commented on #3229
My temporary solution is change node(v16.9.1, npm:7.21.1) to node(v14).

I have the same issue, used a private gitlab repo as dependencies, works under node(v14) or below, but fails on node(v16.9.1, npm:7.21.1).

<details>
<summary>some logs</summary>

[code]
</details>

[2022-03-14 08:26] Roaders commented on #4554
updated initial post with reporoduction steps. Tried it on npm `8.5.4`

[2022-03-14 13:05] niiick1 commented on #4232
I was also expecting it to work on npm 8.1.2. If it only works on 8.3.0 and above, the documentation should state that. Based on this, I assumed it works on any npm 8:

<img width="322" alt="image" src="https://user-images.githubusercontent.com/4442814/158177697-a29bde83-bc2d-4e97-8736-7407caa933e5.png">

[2022-03-14 13:56] ljharb commented on #4232
8.x is a range that resolves to the latest version only; iow, to 8.5.4 as of this writing.

[2022-03-14 13:58] wraithgar commented on #4556
This is an issue with the npm registry itself, not the cli.  Please open a support ticket at https://www.npmjs.com/support

[2022-03-14 13:58] #4556 closed, assigned to nobody

[2022-03-14 14:03] wraithgar commented on #4548
Duplicate of https://github.com/npm/cli/issues/2610

[2022-03-14 14:03] #4548 closed, assigned to nobody

[2022-03-14 14:03] wraithgar commented on #4550
Those numbers are controlled by the npm registry itself, not the cli.  Registry support should go through https://www.npmjs.com/support

[2022-03-14 14:03] #4550 closed, assigned to nobody

[2022-03-14 14:12] wraithgar commented on #4554
`npm ls -a` will show you that there are version conflicts, and will exist w/ a statuscode if you want to make that part of another scripting process.

[code]

[code]

[2022-03-14 14:14] wraithgar commented on #4067
Duplicate of https://github.com/npm/cli/issues/2660

[2022-03-14 14:14] #4067 closed, assigned to nobody

[2022-03-14 14:14] wraithgar commented on #4544
Duplicate of https://github.com/npm/cli/issues/2660

[2022-03-14 14:14] #4544 closed, assigned to nobody

[2022-03-14 14:23] wraithgar commented on #4559
The latest version of npm doesn't require that dependency anymore, it was removed in `v8.5.3`.  I'm not sure how you got into a situation where you have a `write-file-atomic` that is out of date but are on the newest npm.  This should not be possible because npm bundles its dependencies.

How are you installing Node.js and npm?

[2022-03-14 14:25] alliresan commented on #2660
Hello,

Something new in order to solve preinstall script execution BEFORE any download?

Thanks

[2022-03-14 14:29] wraithgar commented on #4555
Potentially related to https://github.com/npm/cli/issues/4559.

`node-fetch-npm` hasn't been in the cli since `v6`.

How are you installing Node.js and npm?  What version of Node.js are you using?

[2022-03-14 14:35] flensrocker commented on #2891
When settings GIT_SSH_COMMAND, the quotes around the path are important. Otherwise it won't work.

[2022-03-14 14:40] wraithgar commented on #4533
Likely related to the fixes in https://github.com/npm/cli/pull/4389

[2022-03-14 14:47] wraithgar commented on #4236
This is working as intended, feature changes need to go through the [rfc process](https://github.com/npm/rfcs).  Added `Agenda` label so it can be discussed when rfc calls resume next month.

[2022-03-14 15:23] niiick1 commented on #4232
If that's the case, it should be written more clearly it's latest version only IMO

I was not the only one here that tested on 8.1.2. I think it would be beneficial having a _since 8.x.y_ written for each property in the documentation. It would be helpful folks like me that can't always use latest.

There's no need to fish npm's changelog to check that :)

[2022-03-14 15:37] ljharb commented on #4232
That sounds like it’d be a great improvement; node’s docs tell you which versions each thing landed in and it’s very helpful.

[2022-03-14 15:47] wraithgar commented on #4229
Can you try this in the latest npm? I could not replicate this with `v8.5.4`.

[code]

[2022-03-14 16:06] flojo007 commented on #4559
I installed it using these commands:
`apt-get update` & `apt-get install nodejs`

[2022-03-14 16:12] wraithgar commented on #4559
It would appear that the ubuntu nodejs installs npm in a way that is broken.  You may need to open up an issue w/ the maintainer of that apt package.

How are you installing npm? I would be very surprised if the apt image for nodejs already had the version of npm that was just published 4 days ago.

[2022-03-14 16:14] flojo007 commented on #4559
I will create an issue later when I'm home (if I don't forget it)

Well it did actually haven't changed anything there
I tried `npm install npm -g` gives me the same error.

[2022-03-14 16:20] wraithgar commented on #4559
It sounds like the apt image for nodejs is broken if the npm that it ships with doesn't work.

[2022-03-14 16:20] #4559 closed, assigned to nobody

[2022-03-14 16:26] ljharb commented on #4559
Definitely don't install node from apt, and npm should generally only come with node and not be installed separately :-)

[2022-03-14 16:28] flojo007 commented on #4559
If you read the comments, you will see that I never said that I installed it sperately

[2022-03-14 17:45] joeliedtke opened #4560 "[DOCS] "npm-cli-docs" package is listed as malicious at www.npmjs.com/package/npm-cli-docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

Sorry if this is the wrong place to ask about this, I've tried contacting NPM support and searching for this answer but I haven't found anything.

On npmjs.com, the [`npm-cli-docs` pack

[2022-03-14 18:00] MrJuliuss commented on #2339
I hope so (this is a little up :eyes: )

[2022-03-14 21:29] njuguna-dev commented on #541
installing **npm install --save-dev nodemon** and running **npm start** did the magic for me

[2022-03-15 08:26] jonathanpmartins commented on #4010
[code]
Node: v14.19.0

I just lost sudo privileges on my server after running `sudo npm install -g npm@8.5.4`.

[code]
This is bad!

[2022-03-15 08:51] aavmurphy opened #4563 "Feature Request: npm update "--change-delta""
`npm update` doesn't output what it's updated
so you have to do `npm outdated` first, then google each package for changelog or changes or blog posts

it would be nice, for each package updated, it would output a 'changes/changelog/change delta' file

for this to really work, each package would need a changelog file with a 'delta' of changes, e.g. a version-number-tag, followed by changes since th

[2022-03-15 09:17] jonathanpmartins commented on #3705
I don't know why this issue ins't a priority. I just update from 8.4.0 to 8.5.4 (using node v14.19.0) and lost sudo privileges on my server.

[code]
got me to
[code]

[2022-03-15 09:19] Mafee6 opened #4564 "[Moderate/BUG] Package.json: npm start to start itself"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If you set scripts to
[code]

### Expected Behavior

### Steps To Reproduce

1. Init the npm Project
2. go to `package.json`
3. edit under scripts to `"start": "npm start"`
4. Looping

### Environment

- npm:
-

[2022-03-15 11:41] theredcat commented on #3705
@jonathanpmartins FYI I've created a security issue via Github security report process (NPM Cli security issues seems to be managed by Github team => https://github.com/npm/cli/security/policy) and I have no response since 11 days

[2022-03-15 12:59] gamerlion108 commented on #2306
![issue1](https://user-images.githubusercontent.com/100230768/158382441-aaac3c68-92eb-48dc-b095-e69e0a932315.PNG)
I am stuck here for more than 30 mins for the npm install
![version](https://user-images.githubusercontent.com/100230768/158382829-0375ab90-50b0-4ef3-bfdb-d3861acac406.PNG)
this my version ....

[2022-03-15 13:01] LarsCelie commented on #2508
Apparently vsts-npm-auth was configured to use a different path (Manual override to %USERPROFILE%) than npm was looking for (HOME env). Making sure these were the same was the fix for me.

Still interesting that it worked for npm 6. Maybe as a fallback?

[2022-03-15 14:31] oonsamyi commented on #4553
Same issue with npm 8.5.4

[2022-03-15 15:00] nerdyman commented on #3448
Ah that makes sense, esbuild is in `devDependencies` [in the broken workspace](https://github.com/nerdyman/npm-7-workspaces-monorepo-docker/blob/main/packages/package-two/package.json) thanks @ruyadorno!

[2022-03-15 15:31] ljharb commented on #4564
If you explicitly asked for an infinite loop, it sounds like npm’s doing exactly what you asked

[2022-03-15 15:45] booooza commented on #4313
Same here for `npm install <tarball file>`. Works with `npm install <tarball file> --no-audit` though...

[2022-03-15 15:46] sirbarrence commented on #4232
In case it helps anyone, running `npm update` instead of `npm install` will update the overrides in the lockfile without needing to delete the lockfile or node_modules. Unfortunately it also tries to update all other packages and takes forever, which you may not want.

Running `npm update <name-of-override-package>` just installs the latest default version that the other dependencies want rather t

[2022-03-15 16:16] TimDaub opened #4566 "Since v8, npm scripts fail executing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

[code]

### Steps To Reproduce

_No response_

### Environment

- npm: 8.5.4
- Node.js: v14.18.1
- OS Name: Linux strike 5.4.0-104-generic #118-Ubuntu SMP Wed Mar 2 19:02:41 UTC 20

[2022-03-15 16:47] franher commented on #3785
I have verified that updating globally to the latest npm version (v8.5.4) on the Dockerfile also does the trick. The security vulnerabilities disappeared.

[code]

[2022-03-15 16:54] theredcat commented on #4010
[4312](https://github.com/npm/cli/issues/4312)

[2022-03-15 16:54] theredcat commented on #3705
https://github.com/npm/cli/issues/4312

[2022-03-15 17:49] wraithgar commented on #4564
This is working as intended, filtering it out would likely introduce more bugs than the extreme edge case it's trying to solve.

[2022-03-15 17:49] #4564 closed, assigned to nobody

[2022-03-15 17:52] wraithgar commented on #4560
Yeah, this isn't really the place that will have an answer for that, this is the repo for the npm cli itself.  None of the code here affects what shows up on npmjs.com.

npm support should be the place to find that info out, if it exists.

[2022-03-15 17:52] #4560 closed, assigned to nobody

[2022-03-15 17:57] wraithgar commented on #4566
We will need more info to replicate this.  Is `esbuild` a dependency of your package? What does your package.json look like? Have you installed the dependencies? With what command?

[2022-03-15 18:00] TimDaub commented on #4566
esbuild is locally installed and accessible via npm scripts. `which esbuild` yields nothing as it wasn't installed globally. I did the two commands one after each other after downgrading npm to v6.

[2022-03-15 18:05] wraithgar commented on #4385
Can you inspect the logs on the `npm install` to be sure that all the deps are installing? The fact that it's a git reference that isn't installing could mean that git ssh isn't working from inside your docker container.

[2022-03-15 18:10] #2757 closed, assigned to wraithgar

[2022-03-15 18:10] wraithgar commented on #4566
We need a way to replicate this locally. If I install esbuild into a package w/ npm@6 and then use npm@8 to run it it works fine.

[code]

[2022-03-15 18:27] joeliedtke commented on #4560
Can you confirm that the `npm-cli-docs` package included with NPM (that was managed in this repo until late last year when the docs package was replaced with the `docs` package) does not have any known malicious code issues?

[2022-03-15 18:29] fritzy commented on #4523
If you change the config after a lock file is made, you'll need to rebuild the lock file. The current behavior is to only override existing URLs with the configured registry host if it is set to registry.npmjs.com. It sounds like you've changed your configuration after generating a lock file for these entries.

FYI, we're working on short and long term features and changes to behavior around regis

[2022-03-15 18:29] #4523 closed, assigned to nobody

[2022-03-15 18:34] wraithgar commented on #4560
There are no advisories for it, that's the extent of my knowledge.

[2022-03-15 19:56] jonathanpmartins commented on #3705
After digging up for hours, and many many AMI restores later, I got to the real problem.
For some unknown reason `/usr/bin` had `ubuntu:root` ownership on my server. Changing the ownership back to root solved the problem.

Solution:
[code]

So the real problem is:
- When `/usr/bin` has a different ownership than `root:root`, npm changes the ownership of all files inside `/usr/bin` folder. Includin

[2022-03-15 20:09] bodqhrohro commented on #3705
Seems legit, my `/usr/local/bin` belongs to `root:staff`.

[2022-03-15 21:04] nlf commented on #4566
the `permission denied` portion of the error makes it look like the `esbuild` bin script isn't executable. you can try removing your `node_modules` and re-running `npm i` to see if npm will fix it for you, or `chmod +x node_modules/.bin/esbuild` to manually fix it yourself

[2022-03-15 21:09] jonathanpmartins commented on #4010
@emi2k01 Does this makes sense? https://github.com/npm/cli/issues/3705#issuecomment-1068409070

What is the ownership of you `/usr/bin` folder?

[2022-03-15 21:21] wraithgar commented on #3396
If you want to use `--legacy-peer-deps` then that's the flag to use.  peer dependencies is a tricky problem to solve and there is no single solution that resolves every tree.

[2022-03-15 21:21] #3396 closed, assigned to nobody

[2022-03-15 21:25] wraithgar commented on #3496
The idealTree error was fixed in https://github.com/npm/cli/pull/4300

[2022-03-15 21:25] #3496 closed, assigned to nobody

[2022-03-15 21:30] wraithgar commented on #3520
That repo really helps, thanks.

Logs don't give much info
[code]

[2022-03-15 21:35] wraithgar commented on #3554
Closing due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-03-15 21:35] #3554 closed, assigned to nobody

[2022-03-15 21:36] wraithgar commented on #3555
Closing due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-03-15 21:36] #3555 closed, assigned to nobody

[2022-03-15 23:02] emi2k01 commented on #4010
I have no idea, sorry. This was a long time ago and I switched to installing binaries under `~/.local/` since then

[2022-03-15 23:20] minecrawler commented on #3711
After having a working npm for years and not changing the config, I just ran into it on node v8.1.4. Upgraded to v8.5.4 and the problem did _not_ go away. Log:

[code]

The "solution" by @akornatskyy  (delete folder and reinstall node) is not really a fix for the root cause, and I think this needs more investigation, since people still hit the bug!

[2022-03-16 02:51] amerikan commented on #4232
I'm on npm `8.4.0`.

I added:
[code]

Ran `npm install` and then the following lines were changed in package-lock.json.

![Screen Shot 2022-03-15 at 7 49 26 PM](https://user-images.githubusercontent.com/179356/158507017-75b255f2-dcf7-4264-a2a0-f250c7b892de.png)

[2022-03-16 02:51] Brennnannn commented on #4555
I have been installing through the installer provided on the node.js website

[2022-03-16 03:52] ljharb commented on #4555
Are you using node 14, which ships with npm 6?

[2022-03-16 04:30] PopCorey opened #4570 "Unsupported engine for v-click-outside-x@3.7.1: wanted: {"node":">=8.11.4","npm":"6.4.1"} (current: {"node":"12.18.0","npm":"6.14.4"})"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

on prd environment ，while excuse ‘’npm install" show this
**npm WARN notsup Unsupported engine for v-click-outside-x@3.7.1: wanted: {"node":">=8.11.4","npm":"6.4.1"} (current: {"node":"12.18.0","npm":"6.14.4"})

[2022-03-16 04:35] ljharb commented on #4570
Seems like something npmmirror.com is doing - not the actual public registry.

[2022-03-16 06:23] akornatskyy commented on #3711
@minecrawler: there is no "solution" for this issue yet, I have suggested just a workaround. However, with a new node update the issue is back, so it still requires a fix.

[2022-03-16 08:15] TimDaub commented on #4566
[code]

according to this [SE post](https://unix.stackexchange.com/a/445495)

[2022-03-16 10:13] dios-david commented on #4232
Same as @amerikan using npm 8.3.1 or latest (8.5.4) on osx arm64

[2022-03-16 11:02] rossng commented on #3520
Yeah, the log output is no use at all. But I found it easy to step through with the debugger when I first encountered it - looks like [the relevant code](https://github.com/npm/libnpmexec/blob/e1378fc8b8e2243765b068d8eb45aba7d01d45bd/lib/index.js#L154) hasn't changed much since.

[2022-03-16 12:17] theredcat commented on #3705
@jonathanpmartins @bodqhrohro The real problem is NPM is touching permissions of binaries it doesn't installed. In the example above, gosu was owned by root:root and /usr/bin too

[2022-03-16 12:39] mbunix commented on #4553
There's a problem with ng schematics npm parsing for v 8 > i dont't get it .

[2022-03-16 13:11] moroine opened #4571 "[BUG] Duplicated Workspace dependency across packages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have a mono-repo configuration with the following structure:

[code]

Both `proxy` & `app` depends on `@nugit/types` (this is not the package in `packages/types` folder).

The packages `@nugit/types` is instal

[2022-03-16 13:54] ljharb commented on #4232
Can all of you try *latest* npm, 8.5.4 i think?

[2022-03-16 13:57] wraithgar commented on #4571
Is there another version of `@nugit/types` that has been hoisted to the root `node_modules`?  This typically happens when there is another semver-incompatible version of that module being required by another dependency in your tree.

What does `npm ls @nugit/types` show when run from the root package?

[2022-03-16 13:59] wraithgar commented on #4570
The unsupported engine error is unrelated to the 451 response. It looks like the mirror/registry you're using has blocked that request.

[2022-03-16 13:59] #4570 closed, assigned to nobody

[2022-03-16 14:02] wraithgar commented on #4525
The reason the newest promise-spawn doesn't do that anymore is because that functionality was moved to a new module https://github.com/npm/exec.  That hasn't been implemented in the cli yet but it is on the roadmap.  The behavior is intended, and there are no plans to change it.

[2022-03-16 14:02] #4525 closed, assigned to nobody

[2022-03-16 14:10] craigjbass commented on #4232
I am seeing this issue on npm 8.5.4

[2022-03-16 14:19] wraithgar commented on #3566
The erroneous `ERESOLVE` errors are a separate bug https://github.com/npm/cli/issues/4270, the logging is just happening too early, it's not actually a failure.

Running `npm audit fix` fails because `webpack@5` is required to clear all the current advisories.  `npm audit fix --force` leaves devDependencies in this range

[code]

However because `@storybook/builder-webpack4` still has `webpack: '4

[2022-03-16 14:19] #3566 closed, assigned to nobody

[2022-03-16 14:21] jpveooys commented on #4232
Can confirm I also seem to be seeing this and #4322 with npm 8.5.4 while investigating migrating from yarn v1 to npm v8.

My working branch is here if it helps: https://github.com/defencedigital/mod-uk-design-system/compare/spike/npm-v8-2

The project uses workspaces and the overrides are in the root `package.json`. (Note there is one peer dependency error you will need to bypass.)

In that exampl

[2022-03-16 14:24] wraithgar commented on #3578
**Closing** due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

I think this was likely fixed by https://github.com/npm/git/pull/7

[2022-03-16 14:24] #3578 closed, assigned to nobody

[2022-03-16 14:31] wraithgar commented on #3885
**Closing:** this looks to be similar if not a duplicate of an existing issue, #3403. If you believe your instance is unique, please provide further clarifying details.

[2022-03-16 14:31] #3885 closed, assigned to nobody

[2022-03-16 14:33] wraithgar commented on #4267
**Closing:** this looks to be similar if not a duplicate of an existing issue, #4104. If you believe your instance is unique, please provide further clarifying details.

[2022-03-16 14:33] #4267 closed, assigned to nobody

[2022-03-16 14:37] wraithgar commented on #4442
This appears to be a duplicate of https://github.com/npm/cli/issues/4104, leaving both open and linking them w/ this comment.

[2022-03-16 14:38] wraithgar commented on #3582
This is not something that can be fixed in the cli without breaking existing packages.

[2022-03-16 14:38] #3582 closed, assigned to nobody

[2022-03-16 14:42] wraithgar commented on #3580
**Closing** due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-03-16 14:42] #3580 closed, assigned to nobody

[2022-03-16 14:42] wraithgar commented on #4039
**Closing:** this looks to be similar if not a duplicate of an existing issue, #3600. If you believe your instance is unique, please provide further clarifying details.

[2022-03-16 14:42] #4039 closed, assigned to nobody

[2022-03-16 14:43] wraithgar commented on #3600
**Closing:** this looks to be similar if not a duplicate of an existing issue, #3600. If you believe your instance is unique, please provide further clarifying details.

[2022-03-16 14:48] wraithgar commented on #3617
Because of the workaround it looks like this was a config issue. There is no reason you can't use child_process to call npm.

[2022-03-16 14:48] #3617 closed, assigned to nobody

[2022-03-16 15:00] ljharb commented on #4267
(linking to #4104)

[2022-03-16 15:10] craigjbass commented on #4232
@ljharb I was reading through the Arborist code, and came across https://github.com/npm/cli/blob/d7265045730555c03b3142c004c7438e9577028c/workspaces/arborist/lib/node.js#L93 - my hypothesis is that some code that constructs Node or Link objects either doesn't pass `true` for this `loadOverrides` value when it should, or actually we want to be loading overrides in all cases.

[2022-03-16 15:20] donato95 commented on #4553
Having the same issue with react no solution seems to work...

[2022-03-16 16:12] moroine commented on #4571
@wraithgar it's not hoisted, and the requirement is the same across all packages:

Here is `npm ls`:

[code]

I think the issue could be related to the fact that other services like `@nugit/logger-service` dependents on exact version of `@nugit/types` as `peerDependency`

[2022-03-16 16:44] wraithgar commented on #4571
I can't duplicate this with a normal dependency

[code]

We'd need some way to duplicate this to find out what's happening here.

[2022-03-16 17:02] wraithgar commented on #3636
Thanks for taking the time to share your idea! While new ideas are always appreciated I would please ask you to open an [issue or discussion in our RFC repo](https://github.com/npm/rfcs) instead since that's the right place in order to get more attention from the rest of the team and the community.

[2022-03-16 17:02] #3636 closed, assigned to nobody

[2022-03-16 17:04] wraithgar commented on #3641
This was fixed in `v8.2.0`. See https://github.com/npm/cli/issues/3515

[2022-03-16 17:04] #3641 closed, assigned to nobody

[2022-03-16 17:06] wraithgar commented on #3644
**Closing:** this looks to be an issue with the registry which is outside the scope of this repo. For registry support please go to [npmjs.com/support](https://www.npmjs.com/support).

[2022-03-16 17:06] #3644 closed, assigned to nobody

[2022-03-16 17:09] ljharb commented on #3636
@wraithgar to be fair tho, this seems like a straightforward bug

[2022-03-16 17:12] wraithgar commented on #3652
Is this still a problem? A lot of these types of issues were fixed in npm since this was opened

[2022-03-16 17:14] wraithgar commented on #4276
This is the same issue as https://github.com/npm/cli/issues/4276, closing this one as a duplicate

[2022-03-16 17:14] wraithgar commented on #2914
See https://github.com/npm/cli/issues/4276 for more context

[2022-03-16 17:19] wraithgar commented on #3691
That github package does not exist.

Installing from a git repo is different than installing from the registry. What's uploaded to the registry is a tarball with contents that are often different than repo contents because of lifecycle scripts such as `prepare` and `prepublishOnly`.  Without being able to duplicate we could only speculate as to why that difference is there.  My guess would be that

[2022-03-16 17:19] #3691 closed, assigned to nobody

[2022-03-16 17:19] moroine commented on #4571
@wraithgar [here](https://github.com/moroine/npm-bug) is a repo reproducing the issue. I didn't manage to reproduce via a script, I've updated the `package-lock.json` manually...

But if I run `npm i`, it doesn't dedupe the packages which should.

In my repository, I've encountered this issue because I was previously using `alpha` versions of `@nugit/types` and the duplication was actually the exp

[2022-03-16 17:24] wraithgar commented on #4571
THANK YOU that's a very concise reproduction,

[code]

[2022-03-16 17:27] wraithgar commented on #4571
Yes, the tree didn't optimize when updating, that's what happened here.  It prioritized the existing tree to a new one.  There's not a good way in npm to "force" a hoist like this other than to delete node_modules and the package-lock and install again (doing this does leave you in the proper state).

Leaving this as a bug on the backlog in case it is something arborist can be more intelligent abo

[2022-03-16 17:28] wraithgar commented on #4571
`npm update` is the command you want. That will force npm to re-calculate the lockfile.

[code]

[2022-03-16 17:28] #4571 closed, assigned to nobody

[2022-03-16 17:36] wraithgar commented on #3704
This is no longer an unhandled promise rejection, now just a good old error.

[code]

[2022-03-16 17:36] #3704 closed, assigned to nobody

[2022-03-16 17:43] #3706 closed, assigned to nobody

[2022-03-16 17:44] wraithgar commented on #3706
Closing as per @fritzy's comment

[2022-03-16 17:53] wraithgar commented on #3709
If we can't write to the file, then this error is what is expected.  When you set a file to hidden, node can not write to that file.

[2022-03-16 17:53] #3709 closed, assigned to nobody

[2022-03-16 17:59] wraithgar commented on #3710
Made a PR to update docs so that this is clarified.  Having this flag do something different than it does now should go through the [rfc](https://github.com/npm/rfcs) process

[2022-03-16 18:01] wraithgar commented on #3728
There is not enough info here to reproduce this locally.  If this is still an issue please provide steps that we can use to reproduce this ourselves and create a new issue.

[2022-03-16 18:01] #3728 closed, assigned to nobody

[2022-03-16 18:05] wraithgar commented on #3736
This is working as intended.  Linked deps do not have their dependencies installed, you have to install them inside that linked dep as a separate step.

Docs update PR explaining that has been created https://github.com/npm/cli/pull/4575

[2022-03-16 18:05] #3736 closed, assigned to nobody

[2022-03-16 18:09] wraithgar commented on #3745
https://github.com/npm/cli/commit/40829ec40c33a6d23f18715e60e3395bdcb0467e should have fixed this.  What does the error state look like now in windows?

[2022-03-16 18:13] wraithgar commented on #3749
There is not enough info here to reproduce this locally.  Meteor does take quite awhile to install.  These happen in the background which can give the appearance of a hung process. If you run with `--foreground-scripts` you will see the message  `Extracting the tarball, this may take some time` and when testing locally this did take some time.

[2022-03-16 18:13] #3749 closed, assigned to nobody

[2022-03-16 18:15] wraithgar commented on #3751
This is working as intended, npm dedupes whenever possible.

[2022-03-16 18:15] #3751 closed, assigned to nobody

[2022-03-16 18:45] moroine commented on #4571
Keeping the current tree structure actually makes sense to prevent disk write. Maybe we could add a message after the `npm install` when we detect the tree can be optimized using `npm update` 🤔

[2022-03-16 19:40] wraithgar commented on #3403
https://github.com/npm/cli/issues/4193
https://github.com/npm/cli/issues/3757

[2022-03-16 19:40] wraithgar commented on #4193
Closing as a duplicate of https://github.com/npm/cli/issues/3403

[2022-03-16 19:40] #4193 closed, assigned to nobody

[2022-03-16 19:41] wraithgar commented on #3757
Closing as a duplicate of https://github.com/npm/cli/issues/3403

[2022-03-16 19:41] #3757 closed, assigned to nobody

[2022-03-16 19:44] zthxxx commented on #4193
My solution: move to using pnpm

[2022-03-16 19:47] wraithgar commented on #4557
The reason this is happening is because `@emotion/react` is hoisted to the root project.  And since it lists `react": ">=16.8.0` for its peerDependencies, the already present `react@16` in the root suffices, and nothing more is installed.

[2022-03-16 20:00] wraithgar commented on #3771
This got implemented! By @nlf!

[code]

[2022-03-16 20:00] #3771 closed, assigned to nobody

[2022-03-16 20:07] wraithgar commented on #3705
Closing as a duplicate of https://github.com/npm/cli/issues/4010

[2022-03-16 20:07] #3705 closed, assigned to nobody

[2022-03-16 20:07] wraithgar commented on #4158
Closing as a duplicate of https://github.com/npm/cli/issues/4010

[2022-03-16 20:07] #4158 closed, assigned to nobody

[2022-03-16 20:12] wraithgar commented on #3774
This does appear to be a problem w/ windows itself.  If there is some way to reproduce this on another system please open a ticket w/ steps to reproduce so we can fix it.

[2022-03-16 20:12] #3774 closed, assigned to nobody

[2022-03-16 20:14] wraithgar commented on #3773
This is the intended behavior in v7 and v8, as per the docs link above.

[2022-03-16 20:14] #3773 closed, assigned to nobody

[2022-03-16 20:15] wraithgar commented on #4010
There is an rrfc open for this https://github.com/npm/rfcs/issues/546

[2022-03-16 20:16] wraithgar commented on #4158
There is an rrfc open for this https://github.com/npm/rfcs/issues/546

[2022-03-16 20:25] wraithgar commented on #3779
This was fixed in [v8.1.3](https://github.com/npm/cli/releases/tag/v8.1.3)

[2022-03-16 20:25] #3779 closed, assigned to nobody

[2022-03-16 21:06] wraithgar commented on #3790
There are two things happening here.  First, if you do something like `npm view npm/cli` it will try to view the github package at `https://github.com/npm/cli`.  Two strings joined by a slash is shorthand for a github url.  The fact that it's hanging on your machine would indicate that git itself is hanging for one reason or another.

Second, there does appear to be a bug trying to `npm view ./pat

[2022-03-16 21:08] yanceyk commented on #4340
Thanks @aikoofujimotoo. This solved my issue.

[2022-03-16 21:08] AndrewRayCode commented on #3257
Same issue I think?
[code]

[code]

[code]

Edit, just updated to

[code]

[2022-03-16 21:25] MynockSpit commented on #3724
This is either a breaking change or a bug. The current documentation on the dependency algorithm states that dependencies are installed at the top level in cases where there are not multiple versions. If you do not guarantee this, it needs to be explicitly stated.

https://docs.npmjs.com/cli/v8/commands/npm-install#algorithm

---

To further make this weird, the behaviour I'm seeing is dependent o

[2022-03-16 22:24] #3795 closed, assigned to nobody

[2022-03-16 22:26] wraithgar commented on #3786
Windows command escaping has been updated since this issue was created.  Is this still an issue for you?

[2022-03-16 22:29] wraithgar commented on #3656
**Closing:** this looks to be an issue with the registry which is outside the scope of this repo. For registry support please go to [npmjs.com/support](https://www.npmjs.com/support). If you believe this is a bug with the cli, please provide further clarifying details.

[2022-03-16 22:29] #3656 closed, assigned to nobody

[2022-03-16 22:33] wraithgar commented on #3609
This is due to the fact that lifecycle scripts in workspaces don't run when they're installed.  You will need to manually run the `prepare` script in each workspace in order for husky to run, and for it to build the things your script is expecting to be there.

See https://github.com/npm/cli/issues/4412 and https://github.com/npm/cli/issues/3598 for more context

[2022-03-16 22:33] #3609 closed, assigned to nobody

[2022-03-16 22:36] wraithgar commented on #3812
This appears to have been fixed.  Running `npm i canvas --foreground-scripts --registry https://registry.npm.taobao.org/` does run node-pre-gyp install

[code]

[2022-03-16 22:36] #3812 closed, assigned to nobody

[2022-03-16 22:41] wraithgar commented on #3796
This is working as intended.  A workspace will not get a `node_modules` directory unless it has specific dependencies that can not be hoisted to the root package.

`npm bin` has also been fixed to show an error if you try to run it from inside the context of a workspace, as that is not a valid command in that context.

[2022-03-16 22:41] #3796 closed, assigned to nobody

[2022-03-17 00:42] fleytman opened #4577 "[Feature] add bash/zsh completion to npx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Not tab completion for npx

### Expected Behavior

Working tab completion for npx

npx rea -> npx react-native

### Steps To Reproduce

1. npm completion >> ~/.zshrc
2. restart terminal
3. write: npx rea
5. pres

[2022-03-17 01:45] FossPrime commented on #1935
Summary on the current state of things: `node:lts-alpine` bundles NPM v6 for some reason. NVM's lts and `node:lts` are currently on NPM v8. Your CI and dev environment need to be on v7+ to avoid this regression. NEVER USE `-y` unless you're 100% sure your CI will never run NPM <=6.

[2022-03-17 02:25] ljharb commented on #1935
node 14 ships with npm 6; node 16+ ships with npm 8. nvm and npm do not have LTS, only node does.

[2022-03-17 08:27] CxRes commented on #3644
I have filed a complaint with npm. However, there is no category to report bugs and given my previous experience with npm, I do not expect an answer. It is also unfortunate that the issue had to be open for six months just to be told that it does not belong here.

[2022-03-17 09:04] souravsaraf123 opened #4579 "[BUG] package-lock.json contains os specific path when using local dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

package-lock.json does not contain an os-independent string for local dependencies, therefore package-lock.json is always changing when it was committed from windows and then building on linux.

I think the issu

[2022-03-17 09:06] souravsaraf123 commented on #4579
This issue was previously reported for npm6 and was fixed earlier.
https://github.com/npm/npm/issues/17338

Now I am facing the same in npm8.

[2022-03-17 09:39] kczereczon commented on #4385
I've tried to recreate an error for you to get the logs, but during that the error about PhantomJS and missing a build for my arch occurs (default arm64 arch was selected at that moment). I've changed platform to linux/amd64 and it seems to built with all dependencies (i tried this before). I will write at this thread if the issue get back.

[2022-03-17 09:39] #4385 closed, assigned to nobody

[2022-03-17 13:55] wraithgar commented on #4579
Closing as duplicate of https://github.com/npm/cli/issues/3291

[2022-03-17 13:55] #4579 closed, assigned to nobody

[2022-03-17 14:15] wraithgar commented on #4577
@fleytman Thanks for taking the time to share your idea! While new ideas are always appreciated I would please ask you to open an [issue or discussion in our RFC repo](https://github.com/npm/rfcs) instead since that's the right place in order to get more attention from the rest of the team and the community.

[2022-03-17 14:15] #4577 closed, assigned to nobody

[2022-03-17 15:07] anurag-roy commented on #3291
+1, commenting for visibility!

[2022-03-17 15:16] Ognian commented on #4534
I was able to resolve the issue. A detailed description is in the linked verdaccio issue.
It would have saved me days of research if
- the error message had included the package name where the problem was.
- somewhere was sateted that you can get any packument by `npx pacote packument packagename --registry=http://localhost:4873 `

[2022-03-17 15:40] wraithgar commented on #3826
Windows command escaping has been updated since this issue was created. Is this still an issue for you?

[2022-03-17 15:52] Ognian commented on #4557
@wraithgar thanks for your answer.
The actual reason why I migrated to workspaces was the following:

I have a monorepo where some of the packages are react component libraries.
So these packages have peer dependencies to react and dev dependencies to react also, since they have small test programs for the react component they provide.

There are other packages in this monorepo using these compone

[2022-03-17 16:12] wraithgar commented on #4557
Are you trying to make sure everything gets the same version of react, or everything gets the same copy of react?

There isn't any real way to guarantee that every module in your tree is getting the same identical copy of a dependency they require as the other modules.  The nature of hoisting and deduping makes this so.  Relying on this is bound to have issues.

If you need everything to have the

[2022-03-17 17:35] philmurp opened #4581 "Installing on Jetson Nano - npm EMISSINGARG [BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I am installing Cortic Edge AI software; during NPM install portion of the code (picture below) I am getting an error NPM seems to be complaining about the platform being Linux-4.9.253-tegra.

Currently the vers

[2022-03-17 17:46] wraithgar commented on #3822
This was removed in npm@7 because it was no longer used by the npm registry itself.  Adding it again would probably need to go through the rfc process to decide if it is needed for other purposes.

[2022-03-17 17:46] #3822 closed, assigned to nobody

[2022-03-17 17:54] #4581 closed, assigned to nobody

[2022-03-17 17:57] #3670 closed, assigned to nobody

[2022-03-17 18:03] #3820 closed, assigned to nobody

[2022-03-17 18:13] #3790 closed, assigned to nobody

[2022-03-17 18:13] t1m0thyj opened #4583 "[BUG] npm does not respect shrinkwrap files when `_hasShrinkwrap` is undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If I publish a package that contains `npm-shrinkwrap.json` to an NPM registry that does not define the `_hasShrinkwrap` property in its package metadata, then `npm install` ignores the shrinkwrap file when I ins

[2022-03-17 18:15] Gopikrishna19 commented on #3745
will test it now @wraithgar

[2022-03-17 18:23] #3710 closed, assigned to nobody

[2022-03-17 18:25] nlf commented on #4553
closing as a duplicate of #3078

[2022-03-17 18:25] #4553 closed, assigned to nobody

[2022-03-17 18:54] wraithgar commented on #4274
Closing as duplicate of https://github.com/npm/cli/issues/4358

[2022-03-17 18:54] #4274 closed, assigned to nobody

[2022-03-17 18:58] wraithgar commented on #3835
The npm registry does not support hard links, and any build step that introduces them is not going to work for a package you want to publish.  This is a bug to be worked out with the package itself that is building hard links.  There is not much the npm cli can do about this, it's running the code that it was asked to run.

You may need to tell npm to ignore those linked build assets, as they are

[2022-03-17 18:58] #3835 closed, assigned to nobody

[2022-03-17 19:04] wraithgar commented on #3836
Looks like this was resolved in newer versions of npm

[2022-03-17 19:04] #3836 closed, assigned to nobody

[2022-03-17 19:08] wraithgar commented on #4190
This looks like a problem with the twilio-cli, not npm.

[2022-03-17 19:09] wraithgar commented on #4196
This looks like a problem with either your local machine or with the serve package itself.

[2022-03-17 19:09] #4196 closed, assigned to nobody

[2022-03-17 19:18] wraithgar commented on #4178
I can not duplicate this in `npm@8.5.4`

[code]

[2022-03-17 19:23] wraithgar commented on #4178
After clearing my node_modules and package-lock and trying again I was able to get into that state.

Note that it *does* exist on disk, but gatsby can not require it for some reason

[code]

[2022-03-17 20:23] Gopikrishna19 commented on #3745
Its still not working in Windows:
[code]

Again, as mentioned a combined link works.

[code]

However, something did change. If I link both deps and link one again, it is not unlinking others anymore:
[code]

[2022-03-17 20:29] wraithgar commented on #4178
Found it. This is a bug in `gatsby-plugin-utils`.  It is requiring a package that it hasn't declared in its manifest.

[code]

It was only working by coincidence before, relying on `fs-extra` to be a hoisted dep, which is not guaranteed.

[2022-03-17 20:29] #4178 closed, assigned to nobody

[2022-03-17 20:29] Gopikrishna19 commented on #3745
Works in mac though:
[code]

[2022-03-17 20:35] Gopikrishna19 commented on #3745
Versions:
[code]
[code]
I guess I missed the v8.5.5, released 2 hours ago, on Windows. Your comment about the fix was from yesterday, so I guess v8.5.4 is still valid. Please let me know if you want me to test with 8.5.5 on Windows.

[2022-03-17 20:42] wraithgar commented on #3745
No, there were no changes in 8.5.5 that would be relevant to this bug.

[2022-03-17 20:42] Trung0246 commented on #3826
![image](https://user-images.githubusercontent.com/11626920/158891883-b447a7c3-c2f9-41f3-99c4-e9d8c9e1738d.png)
Nice it works now

[2022-03-17 20:42] #3826 closed, assigned to nobody

[2022-03-17 20:55] yw662 commented on #4196
It is more like a bug recently fixed by macOS, from my point of view.

[2022-03-17 20:55] wraithgar commented on #3755
This is due to the nature of tags and the package-lock.  When you install `npm@latest-6` npm translates that tag into the a version, and installs that version.  What ends up in the lockfile looks something like this

[code]

The version itself is what is in the lockfile.  This is because a tag is not idempotent, it can change.  It has to be looked up at install time.

When you run a bare `npm inst

[2022-03-17 20:55] #3755 closed, assigned to nobody

[2022-03-17 21:44] theladyjaye opened #4587 "[BUG] publish libnpmaccess @ 6.0.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

8.5.5 has a requirement of libnpmaccess@^6.0.2 but only 6.0.1 is currently published.

Dependency:
https://github.com/npm/cli/blob/latest/package.json#L82

https://www.npmjs.com/package/libnpmaccess

### Expecte

[2022-03-17 22:10] kotslee commented on #4587
As a workaround, you can specify an exact version of npm on your package.json so it will not use the latest 8.5.5 version.
    "npm": "8.5.4",

[2022-03-17 22:22] fertolg commented on #4178
Thank you for digging into this @wraithgar, apologies if I wasted your time. I'll open an  issue on `gatsby-plugin-utils`.

[2022-03-17 22:32] theladyjaye commented on #4587
I could, but I don't control the package that lists "npm" as the dependency:

https://github.com/semantic-release/npm/blob/master/package.json#L28

[2022-03-17 22:36] andreladocruz commented on #4587
@aventurella , you can set on the package.json

[code]

[2022-03-18 01:42] wraithgar commented on #4178
No worries, we'd prefer folks open a ticket just in cast it is a bug w/ npm.

[2022-03-18 02:07] wraithgar commented on #4587
Is this actually causing something to fail? npm bundles it dependencies so this shouldn't be making any installs fail. I can currently install semantic-release and npm without errors.

We will get that published soon.

[2022-03-18 03:43] jeemok commented on #4587
installing `npm install -g npm@8.5.4` nor setting in the `package.json` for `"npm": "8.5.4"` isn't working for me, still seeing this prompt:

<img width="558" alt="Screenshot 2022-03-18 at 11 39 31 AM" src="https://user-images.githubusercontent.com/26216852/158933312-7f1a8107-2673-4665-9c13-6c47c2f3115f.png">

choosing either of the options would fail later in the CI/CD pipeline when using the loc

[2022-03-18 04:20] ruyadorno commented on #4587
Published `libnpmaccess@6.0.2`, please let us know if that fixes it for you.

[2022-03-18 07:00] jeemok commented on #4587
it works now, thank you @ruyadorno!

[2022-03-18 08:23] jvanbaarsen commented on #4519
Problem seems to be there still.

[2022-03-18 08:56] robertsLando opened #4589 "[BUG] `npm run` changes user using default (1000) instead of root (0)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If we have a script like `"test": "node -p \"process.getuid()\""` defined in package.json when we run it with `npm run test` it should output `0` but it prints 1000 instead (node user). If we lunch the same comm

[2022-03-18 09:15] Mafee6 commented on #4564
Yes

[2022-03-18 13:03] t1m0thyj commented on #4332
Sorry for the delay in responding. I was still able to reproduce the issue in npm 8.5.3 and 8.5.4 ([failing build](https://github.com/t1m0thyj/npm7-offline-global-issue/runs/5592436388?check_suite_focus=true)), but now it has been resolved in 8.5.5 ([passing build](https://github.com/t1m0thyj/npm7-offline-global-issue/runs/5592444903?check_suite_focus=true)) 🙂

I know I can update to 8.5.5 with `n

[2022-03-18 13:25] saper44rus commented on #2476
Same problem

[2022-03-18 13:45] #4587 closed, assigned to nobody

[2022-03-18 14:00] jpierson-at-riis commented on #3136
I've also run into this issue within my daily workflow after upgrading from node 12 to node 16 recently. We typically run cypress as an npm script as shown below.

[code]

This had always worked prior without an issue with multiple versions of PowerShell on various systems. The main difference here seems to be the upgrade to node 16 that caused this regression. For now like others I'm using the `-

[2022-03-18 14:19] schw4rzlicht commented on #2610
This issue also breaks our CI builds. Also the suggested work around by @andreavaccari doesn't work for us because:

[code]

As @themightychris pointed out, I'd expect npm to use the protocol I specified since I am specific about it for a reason.

We are in the process to move from npm 6 where it works as expected to 8 because we need the new `overrides` directive in `package.json` for security re

[2022-03-18 21:18] john-landgrave commented on #3806
Big upvote on this one. This is kind of a dealbreaker when building a monorepo in CI? If we just execute a `npm run --workspaces package` (or whatever your build/bundle command is) a package can fail and the CI build will still succeed because the exit code comes out 0.

FWIW, this is also the request in this [StackOverflow question](https://stackoverflow.com/questions/71300870/npm-workspace-comma

[2022-03-18 21:40] johndiiorio commented on #3806
@john-landgrave I agree, this bug makes it impractical to build a monorepo in a CI with just `npm`. One possible workaround is to create a script (and add it to your root `package.json`) that reads the `package.json` `workspaces` array, then individually invokes `npm run build --workspace <workspace>` and checks the exit code before proceeding. That shouldn't be necessary though, the behavior shou

[2022-03-18 23:20] farhansolodev commented on #1879
Did this ever get fixed for you? I've been trying to run:

`npx piuccio/cowsay hello world` and `npx github:piuccio/cowsay hello world`
and both just quietly exit after a run of the progress bar.

In contrast, `npx cowsay hello world` works fine.

Update:
Downgrading npm to v6 by running `npm install -g npm@6` fixed my issue.

[2022-03-19 10:20] thasmo commented on #3229
We're experiencing the same issue (for private GitLab repositories) when switching from Node 12 / npm 6 to Node 16 / npm 8. Weirdly this doesn't happen locally but in our CI environment only.

The log provided by @towry shows exactly what is also happening in our case.

[2022-03-19 11:21] tavrez commented on #3877
Seems like v8.5.5 fixed the issue for me, I can see `eslint` when I run `npm -g ls` now

[2022-03-19 11:27] Ognian commented on #4557
As far as I understand, npm should "only" ensure the same version of react as a dependency of all packages, webpack assures then, that there is only a single instance of react in the app.

Some more info is [here](https://reactjs.org/warnings/invalid-hook-call-warning.html#duplicate-react). Looks like "yarn resolutions" is the same like "npm overrides" (and I have somehow missed that...)

I'll try

[2022-03-19 13:02] MuTsunTsai commented on #3877
I can also confirm that npm 8.5.5 seems to fixed the issue at least for eslint.

[2022-03-20 01:17] rustedwizard commented on #3877
I can also confirm that this problem is no longer present for npm 8.5.5

[2022-03-20 01:18] #3877 closed, assigned to nobody

[2022-03-20 09:16] jlarmstrongiv opened #4591 "[BUG] npm does not setup child workspace’s bin or use parent’s bin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I cannot run unpublished npx package scripts in child workspaces

### Expected Behavior

When using npm, whether from:
- npm install
- npm rebuild
- npx

I expect to find the `node_modules/.bin` folder for my `p

[2022-03-20 17:11] sergeyampo commented on #3847
I hope there will be a solution soon because this error literally shows that npm workspaces doesn't work. Only thing working for me is to downgrade npm to 7.18.1 version.

[2022-03-20 23:20] michaelsproul commented on #4010
I just encountered a variant of this issue that made me think my entire machine was compromised. `npm` tried to change the permissions of my local Firefox profile while uninstalling an unrelated global package:

[code]

I'm running an old version of `npm` (7.5.2) and won't be upgrading, because I would prefer to never run `npm` on this machine ever again.

[2022-03-20 23:23] ljharb commented on #4010
@michaelsproul you should never, ever run npm with sudo unless it’s with `-g`. Also, leaving an unsupported buggy version of npm on your machine seems decidedly worse than either upgrading it, or uninstalling node and npm.

[2022-03-20 23:24] michaelsproul commented on #4010
I'm deleting every trace of it right now.

[2022-03-21 00:23] 3cp commented on #3359
For me, it's our local nexus npm repository setup. We are using self-signed certificate.
NPM should fail out with certificate check error anyway. The freeze is very confusing.

We need to set strict-ssl false to local `.npmrc` file.
[code]

[2022-03-21 08:56] rcocks-hl opened #4592 "[BUG] (Forced) Upgrade of package-lock file with aliases incorrectly tries to download the wrong package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Latest npm is trying to download and install the wrong package when there are aliased packages.

To reproduce this, start with an older (e.g. v6) npm and install a package.

Edit the package-json or use npm alia

[2022-03-21 08:56] rcocks-hl commented on #4592
Also of note is that the `npm ci` command does not prevent the automatic "one-time-fix" of the package-lock file so does not provide mitigation for this issue.

[2022-03-21 09:18] shivapendem commented on #681
I got the same issue but i made if run perfectky by clearing the npm cauche, and then update and the npm to stable version and reinstall the values.

`
sudo npm cache clean -f
sudo npm install -g n
sudo n stable

`
then i installed using

`pm2 install pm2-logrotate`

[2022-03-21 18:40] darcyclarke commented on #3951
### Update
- this can potentially be closed - let's re-triage steps to reproduce to confirm though

[2022-03-21 18:44] darcyclarke commented on #3078
### Update
- after significant investigation, we're going to try implementing a few solutions to help with this & then likely close out this issue:
  - https://github.com/npm/statusboard/issues/441
  - https://github.com/npm/statusboard/issues/442

[2022-03-21 18:45] darcyclarke commented on #4232
### Update
- we're looking into this & should have a fix in the next week or so (will circle back if there's any updates)

[2022-03-21 18:48] lukekarrys commented on #4302
Turns out this is by design and a `publish` run-script will always be run during `npm publish`: https://docs.npmjs.com/cli/v8/using-npm/scripts#npm-publish. So you'll need to rename your run-script to something other than publish.

[2022-03-21 18:48] #4302 closed

[2022-03-21 19:23] zachperez opened #4593 "[BUG] <`npm` is case-sensitive towards the drive letter in Windows 10 causing module name errors when using `npm run dev` in a NextJS project in the eshell tool within emacs>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I am an emacs user attempting to use eshell to use `npm run dev` in a NextJS project. I've configured the project from scratch as per the next docs, and this is the output:

![image](https://user-images.githubus

[2022-03-22 08:27] McFoggy opened #4595 "[BUG] preinstall script with npx does not work with --package-lock-only"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

A preinstall script using `npx` fails when master command `npm install --package-lock-only` is fired.
It works when master command is `npm install`

Behaviors differs between npm 6.x & npm 8.x but none are corre

[2022-03-22 09:34] LeoEatle commented on #4234
This works for me. Thanks!

[2022-03-22 11:33] villesau commented on #4096
I'm experiencing similar with many many packages. It is not practical to remove them all.

E: Removing and recreating package-lock.json (+ removing node_modules) helped but that's a nasty workaround since you loose the control over exact versions of the packages.

[2022-03-22 12:22] lPVVl commented on #2306
The problem was solved by reinstalling the latest version of Python

[2022-03-22 12:25] CoryResilient opened #4596 "[BUG] <The package-lock.json file was created with an old version of npm >"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

~/pi-explorer $ npm i && npm start
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched fr

[2022-03-22 12:49] remcohaszing opened #4597 "[BUG] Install fails if "bin" script doesn't exist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

This is a duplicate of https://github.com/npm/cli/issues/2632. This has been closed, but I still encounter it using the latest version of npm.

When running `npm install` in a project that references a `bin` scr

[2022-03-22 13:19] tom-ricci opened #4598 "[BUG] npm has issues running scripts on Windows."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I'm working on an app installer, which uses an npx script (I'm using `npm create` to execute it though). I'm using `npm link` to be able to execute this script without publishing it to the registry. On Linux (Ub

[2022-03-22 14:24] 10hendersonm commented on #4583
This is biting me from, humorously, **both** Verdaccio (canary environment) and Artifactory (beta + prod environment) today.

[2022-03-22 15:14] robertsLando commented on #4589
cc @wraithgar

[2022-03-22 15:17] darkred commented on #3877
I confirm the issue is solved after updating npm to 8.5.5 . I'm glad it's fixed.

[2022-03-22 15:28] wraithgar commented on #4589
This is the expected behavior.  See https://github.com/npm/cli/issues/4095, https://github.com/npm/cli/issues/3773, https://github.com/npm/cli/issues/3110, and https://docs.npmjs.com/cli/v7/using-npm/scripts#user

[2022-03-22 15:28] #4589 closed, assigned to nobody

[2022-03-22 16:06] robertsLando commented on #4589
@wraithgar Ok so that said, I need to do that without changing directoty owner as some scripts are run as sudo and others not.

Is there a way to override this someway?

[2022-03-22 16:26] zjullion commented on #4232
If you need to fix security vulnerabilities right now and can't wait, try [npm-force-resolutions](https://www.npmjs.com/package/npm-force-resolutions)

[2022-03-22 16:55] nlf opened #4600 "[BUG] `npm owner` does not support workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

running `npm owner` commands from within a workspace in a project logs the following error

[code]

### Expected Behavior

commands should work as expected. we'll need to modify the `getPkg` method such that it

[2022-03-22 17:05] ljharb commented on #4232
@zjullion npm has overrides, that shouldn't be needed anymore.

[2022-03-22 19:14] MeerMusik commented on #3472
Hello. I have the same Issue:

- Windows: 10, 21H2, 19044.1586, x64
- Node Version: 17.8.0, x64
- NPM Version: 8.5.5, x64

I have tried all the potential work-arounds I have found listed throughout the Web like removing Package-lock.json and the node_modules Directory, deleting the NPM Cache with ``--force`` etc. As a total beginner who just started with NPM, this is a very bad experience so far.

[2022-03-23 00:53] nickhudkins opened #4603 "[BUG] Unexpected, recursive workspace script calls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

In `npm 8.4.x`, the following command with the following set of scripts, did not result in recursive calls. As of 8.5.x it ends up with recursive calls to `{{ other_script }}` as though the command line args are

[2022-03-23 04:05] jeongmincha commented on #4027
Is there any progress on this issue?

[2022-03-23 08:27] vishaldix commented on #3078
did you find a solution?

[2022-03-23 08:46] liamfend commented on #1637
My goodness, why does this work?

[2022-03-23 12:52] tom-ricci commented on #4598
Aha, this is my issue, not npm. I was using:
[code]
at the top of my script. It isn't guaranteed to work on all OSes.
Changing it to `#!/usr/bin/env node` is supported on virtually every system, including Windows.

I'll close this now.

On another note, I wonder if it would be worth implementing an alternative to `npx` which runs `node $SCRIPT_PATH` instead, to fix all the weirdness with cross-pla

[2022-03-23 12:52] #4598 closed, assigned to nobody

[2022-03-23 14:25] rayeaster commented on #4028
similar issue on windows10 and took nearly more than one hour to complete

[code]

[2022-03-23 15:14] pbriet commented on #2508
Hello,

Has the same E401 issue with npm 7+  (was working correctly with npm 6)

The reason is that despite overriding registry in npm config, it was still using the "resolved" field from package-lock.json. For some reason, it was only affecting "@fortawesome/..."

Deleting package-lock.json was not an option for me.
Solution was to add the following in the CI : `sed -i '/\"resolved\"/d' package-l

[2022-03-23 15:39] JustinTRoss opened #4605 "[BUG] npm WARN ignoring workspace config at /my-project/my-workspace/.npmrc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm ignores workspace .npmrc if running command from workspace directory.
This was encountered via CI loose allowance of node major version 16. The same CI job succeeded on 16.14.0 and failed on 16.14.2. Thus, i

[2022-03-23 17:23] ansf commented on #4527
I noticed something similar and I observed that the timing information is only printed if there is some warning output happening before.

In your case:

[code]

I think if you are using npm workspaces, you only need an `.npmrc` at the workspace root.

[2022-03-23 19:39] xenoterracide opened #4742 "[Documentation] workspace dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

sorry if this is the wrong repo

Reading https://docs.npmjs.com/cli/v8/using-npm/workspaces#adding-dependencies-to-a-workspace

there's no real explanation of how to add a workspace as a dependency of another workspace

### Expected Behavior

Documentation and examples of how to add regular a

[2022-03-23 20:44] cameronbosnic commented on #4161
Bump

[2022-03-23 22:05] Marcono1234 opened #4608 "[BUG] Inconsistency between `npm install` and `npm audit fix` for `name` in package-lock.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm install` and `npm audit fix` make inconsistent changes to the package-lock.json, causing unnecessary differences for that file.
- `npm install` does not include a `name` for the `""` `packages` entry
- `npm

[2022-03-23 22:27] ruyadorno commented on #2838
@ray007 @zloirock @Nixinova I'd be very interested in learning more on how each of you installed the specific version of **npm** that first got you into that state (with `EPERM` issues). Please feel free to share more details if possible, did you used something like `nvm-windows`? Did you cloned the `npm` repo directly?

The recommended way to install **npm** in Windows is by downloading **nodejs*

[2022-03-23 22:27] #2838 closed, assigned to ruyadorno

[2022-03-23 22:57] ruyadorno commented on #4605
Hi @JustinTRoss, thanks for taking the time to reporting this.

That's intentional behavior, starting with `npm@8.5.0` we shipped a new feature to make sure workspaces are properly tracked when running `npm` commands from within workspaces folders, ref: https://github.com/npm/cli/releases/tag/v8.5.0

I see three different possible solutions:
- In case all workspaces share the same auth values, usi

[2022-03-23 22:57] #4605 closed, assigned to nobody

[2022-03-24 03:29] JustinTRoss commented on #4605
Thanks for the quick response. I understand that the behavior changed in 8.5, and I can understand the inspiration for the change. I'm confused however, why we would ship features that break the existing api in minor versions of npm and then include those changes in patch versions of NodeJS.

Are there any resources you can point me to to adjust my expectations for when to expect breaking changes

[2022-03-24 03:43] ljharb commented on #4605
Every bug fix is a potential breaking change, and vice versa. Since this one isn’t considered breaking, landing it in a mine is fine, and node would follow suit.

It’s entirely possible it *is* breaking, but that can get subjective when you’re talking about undocumented behavior compared with the intentions of authors vs the expectations of users.

[2022-03-24 07:26] robertsLando commented on #3110
While someone could agree on the choice to infer uid ang gid from folder there will still be someone who wants to override this, I have two programs in the same folder and I need to start one with root and the other with non-root user and I haven't any workaround here. An option to override this breaking change would be the best IMO

[2022-03-24 08:06] ray007 commented on #2838
Well, I installed node with [chocolatey](https://chocolatey.org/), and then later `npm i -g npm`, nothing special done.

[2022-03-24 08:14] ray007 commented on #2835
Looking around I found I had a directory `C:\Users\<username>\AppData\Roaming\npm\node_modules\.bin`.
Removing this `.bin` directory (and a file `.package-lock.json` in the same directory), the update call without package name now works as intended.

[2022-03-24 08:55] d0sboots opened #4610 "[BUG] `npm help config` fails with "Cannot read property '1' of null""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Here's the relevant error:

29 verbose stack TypeError: Cannot read property '1' of null
29 verbose stack     at /nobackup/usr/share/nodejs/npm/lib/commands/help.js:65:49
29 verbose stack     at Array.sort (<ano

[2022-03-24 09:06] darsain commented on #2838
I installed node from the official installer, and later also did `npm i -g npm`. I guess npm installing itself globally is what is (or was) causing this.

[2022-03-24 10:38] Chris55 commented on #4011
hi

have you tried to use http instead of https ?

npm config set registry http://registry.npmjs.org/

[2022-03-24 10:44] Ognian commented on #4527
@ansf you are totally right! That is indeed the cause of the timing info.
Thank you!
Ognian

[2022-03-24 14:18] Yaron01 opened #4612 "[BUG] Running NPM command within a docker container calls to outside network (npm artifactory)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When setting up a docker I can see that the pod send packets to the outside network and trying to reach the artifcatory.
This network traffic appears every time we are pushing container and use the npm commands:

[2022-03-24 15:32] sarumont commented on #4583
You can add Github Packages to the list of registries that don't set `_hasShrinkwrap`.

[2022-03-24 15:42] slorber commented on #3821
Hey, wondering if something changed in recent versions of Node? (on 16.14.2)

It seems to ask me much more often to confirm when trying to execute the same package twice

<img width="563" alt="image" src="https://user-images.githubusercontent.com/749374/159954725-a9f931c5-951f-479b-b2d6-c5fce4cf6117.png">

It wasn't the case before, we run this command in postinstall for a while now

[2022-03-24 15:46] #3403 closed, assigned to ruyadorno

[2022-03-24 16:12] lukekarrys commented on #3821
I'm not sure if anything has changed in node, but if you can open a new issue I can investigate.

[2022-03-24 16:15] #3078 closed, assigned to nlf

[2022-03-24 17:37] nlf commented on #3910
can you folks try this again with the latest npm release? version 8.5.5 had some fixes related to workspaces within git dependencies that i think should resolve this. i'm unable to reproduce it after updating.

[2022-03-24 17:44] ruyadorno commented on #4605
hi @JustinTRoss I believe @ljharb very eloquently explained the kind of trade offs we have to balance when working on fixes, new features and when to label them as breaking changes.

To answer to your specific use case, running **npm** commands from workspaces folders was **not** a supported use case up to `npm@8.5.0` as you can see the in our [Working with Workspaces](https://docs.npmjs.com/cli/v

[2022-03-24 18:13] Krinkle commented on #4313
Same here.

[code]

[2022-03-24 18:31] sigmagirl opened #4615 "[BUG] <title>having issues with npm install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockf

[2022-03-24 18:37] nlf commented on #3918
can you try this on npm@8.5.5 and see if you're still experiencing the same problem? we made some changes to how git dependencies are handled. as things are right now, if i clone your repo and run `npm install` i get build errors that are unrelated to link targets (your `build` script in one of the packages is not being run before your `install` script)

the build problem might warrant a new issue

[2022-03-24 18:48] nlf commented on #2884
can you folks try this in the latest npm@8.5.5? i wasn't able to reproduce this one

[2022-03-24 18:56] nlf commented on #3608
can any of you folks give this a shot in npm@8.5.5? we've made quite a few changes to how peer dependencies are handled, as well as auth. i'm hopeful one of those may have addressed this issue for you.

if it hasn't, it would be helpful if someone can post reproduction steps. ideally a minimal step by step reproduction, but if there's a public repository showing this problem that would be just fin

[2022-03-24 20:15] mk-pmb commented on #3669
The issue title seems confusing to me, someone please fix: npm seems to not delete the "symlinked `node_modules` directory" but instead (and way less harmful) it deletes the "symlink to the `node_modules` directory".

[2022-03-24 20:17] mk-pmb commented on #3669
Asking here since the arborist repo with the original security bulletin [GHSA-gmw6-94gg-2rc2](https://github.com/npm/arborist/security/advisories/GHSA-gmw6-94gg-2rc2) is read-only:

This is meant to defend against malicious scripts installed from/by npm, right? So if npm cannot modify/replace the symbolic link, e.g. because it resides on a read-only mountpoint, shouldn't npm trust the symlink's ap

[2022-03-24 20:20] JustinTRoss commented on #4605
Thank you both for taking the time to explain 🙏 .

I think I understand now. It sounds like if this directory hadn't been listed as a workspace, it wouldn't have been affected. It's a sort of conflict of perspective on what behavior belongs to what subset of the API, here _with_ vs _without_ workspaces.

As I understand it, npm uses local `.npmrc` from the current folder with `package.json` by des

[2022-03-24 20:21] #4206 closed, assigned to nlf

[2022-03-24 20:21] #4466 closed, assigned to nobody

[2022-03-24 20:27] mk-pmb commented on #3669
@htorohn
My current work-around is to install into a temporary directory given as `--prefix=`, and move the newly created directories into my shared cache. Obviously, this defeats npm's de-duping, so depending on severity you might need to roll your own de-dupe if you want to stay with original npm as your package manager. (For my scenario it has some benefits.)

[2022-03-24 20:59] mshima commented on #3910
I've just got hit by some error like this using `npm install -g github:mshima/generator-jhipster-ionic#esm`

[2022-03-24 21:13] wraithgar commented on #4612
npm 6 is not the latest npm. Does this happen in npm 8?

One thing that hits the network every time is the update notifier, letting you know if there is a new npm version available.  Set `update-notifier` to false in your config or via cli options if you want to disable this.

[2022-03-24 22:32] lukekarrys commented on #4206
The debug log can now be disabled with the config `--logs-max=0`

[2022-03-24 22:34] nlf commented on #4596
we need a lot more information to stand a chance at helping you with this one. please open a new issue and carefully fill out the entire template to the best of your ability. at the very least, we need to know what version of node and npm you're using, what operating system you're on, and how to reproduce the problem.

[2022-03-24 22:34] #4596 closed, assigned to nobody

[2022-03-24 22:39] nlf commented on #4615
this looks like your system is having issues.. EBADF tells us we're trying to open a file descriptor and can't for any number of reasons. it could be your disk is full, you don't have permissions to write files in the directory you're in, we're unable to open a network socket, or you've simply run out of available file descriptors.

i would try a reboot first. if that doesn't work, try moving your

[2022-03-25 04:39] mk-pmb commented on #3669
Even easier workaround, if you can afford to sacrific one extra layer of directory depth on your shared storage <del>as praise for the npm devs</del> to help npm devs reduce distractions from scenarios where their protective tendency is justified:

1. Name that extra layer `node_modules`.
1. Move all your actual module folders into it.
1. Adjust your permanent symlinks.
1. Make a dummy directory s

[2022-03-25 05:02] vicary commented on #3669
@mk-pmb Please note that the arborist commit is exactly meant to prevent this kind of usage, all workarounds may be patched just to fulfill this opinion. This is a private company's decision, and, while questionable, it doesn't look like it's up for debate. A concise choice is to move away from NPM.

[2022-03-25 05:13] mk-pmb commented on #3669
In my current automated install strategy, it has huge benefits to use a node package manager that I can install from a debian repo as trustworthy as nodesource. (I consider them the same trust level as the nodejs website.) So unless they patch away even the bind mount, … actually, even at that point I'd probably try and just monkey-patch npm.

[2022-03-25 06:09] souravsaraf123 commented on #3291
+1 waiting for this to be solved :)

[2022-03-25 06:35] blaumeise20 commented on #3669
@vicary It doesn't really do what the commit says. It says we can use `--force` to disable that, but it doesn't work. See my issue #4358.

[2022-03-25 06:57] vicary commented on #3669
@blaumeise20 That's unfortunate, they really should fix it.

[2022-03-25 07:41] Codeway-js commented on #4303
+1

[2022-03-25 07:42] robertshort5511 commented on #2728
this error still occurs
whatever the required package requires you have to specify that version in the package.json
for example
  "engines": {
    "node": "16.x",
    "npm": "6.x"
  },
this worked for me

[2022-03-25 09:03] ferferga opened #4618 "[BUG] ``npm run`` inside package.json scripts are not aware of workspace context"
### Is there an existing issue for this?

- [X] I have searched the existing issues

*DISCLAIMER: I've searched for similar issues before opening this one, but none of them seemed to be exactly what I'm experiencing, as there seems to have been a lot of regressions in workspaces between 8.3.x and 8.5.x versions. If this issue is a duplicate, feel free to close it and sorry for the inconveniences*

[2022-03-25 09:34] luckydevil13 commented on #3841
+1 HERE

[2022-03-25 11:57] Ognian commented on #4557
I switched back from workspaces to the default behavior. I tried **overrides** for one of the packages but they don't help, since monorepo dependencies are linked, and linked means directory link. And if some sub-dependency is installed (no matter if normal or dev dependency) then it is there.
At the moment my app's are again working, but this is based solely on the fact that I removed some proble

[2022-03-25 12:04] siiron commented on #4477
Some of our developers still encounter this issue on **Windows**, using **npm 8.5.5**.
We have a monorepo using workspaces and NX. Every package using concurrently produces the error "**ERR! Workspaces not supported for global packages**".

[2022-03-25 12:08] slorber opened #4619 "[BUG] npx add confirmation to proceed everytime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

The second execution of `npx yarn-deduplicate` shouldn't ask for a confirmation

### Steps To Reproduce

see above

### Environment

- npm: 8.5.0
- Node.js: 16.14.2
- OS Name: MacO

[2022-03-25 12:11] slorber commented on #4619
Issue asked by @lukekarrys here: https://github.com/npm/cli/issues/3821#issuecomment-1077797220

Some additional notes:
- We have been running `postinstall: "npx yarn-deduplicate"` for a while and this issue only appeared recently for me
- I often switch/upgrade Node version with Volta. I was probably on a lower Node v16 version before
- It doesn't seem to happen for all packages I try to execute

[2022-03-25 13:06] chalin opened #4620 "[DOCS] `completion` synopsis is wrong/not-useful (v8)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

The [v8 `completion` synopsis](https://docs.npmjs.com/cli/v8/commands/npm-completion) was changed (via #4450) to the following (using a generic command template):

[code]

This is autog

[2022-03-25 13:14] slorber commented on #3821
reported here: https://github.com/npm/cli/issues/4619

[2022-03-25 13:53] ljharb commented on #4477
@siiron is concurrently installed globally, or locally?

[2022-03-25 14:01] TramVu commented on #4234
Hi how can you upgrade the nvm version please ?

[2022-03-25 14:45] ljharb commented on #3669
Seems like the fix is to avoid a [publicly known security attack](https://github.com/npm/arborist/security/advisories/GHSA-gmw6-94gg-2rc2) by not trying to do this unwise idea in the first place.

[2022-03-25 15:02] BraxtonLowers commented on #681
Updating and reinstalling the latest version of npm supported by the node version fixed this issue for me.

For anyone using nvm as their version manager on WSL 2, Ubuntu 18.04

[code]

I also likely had a conflicting installation of npm installed by the OS package manager instead of nvm, which may explain the benefit of running `sudo apt remove npm` in my case

[2022-03-25 15:54] darcyclarke commented on #4600
Interesting, looks like `npm doctor` also is throwing in this setting. I know there was an initial set of commands we decided wouldn't support workspaces out the gate (ref. https://github.com/npm/rfcs/blob/main/accepted/0038-workspaces-run-cmds.md#3-unsupported) but given that we now support auto detection, I think we need to just triple check each command works when navigating into a workspace di

[2022-03-25 16:35] siiron commented on #4477
Locally.

[2022-03-25 18:22] mk-pmb commented on #3669
@ljharb That part was explained in the [comment above the close](https://github.com/npm/cli/issues/3669#issuecomment-938056586). I understand how it might be dangerous if npm, and thus potential scripts, can modify or replace the symlink during install. The remaining mystery is why we need to defend against symlinks that npm cannot modify, due to lack of permission or lack of filesystem capability

[2022-03-25 18:24] ljharb commented on #3669
@mk-pmb npm's inability to modify them might not be permanent, and such a *pattern* in one system might end up in another system where those guarantees don't exist.

[2022-03-25 18:26] mk-pmb commented on #3669
I see a common pattern: Security defenses that are usually useful, except in edge cases where external safeguards prevent the attack. There should thus be an option to give npm a list of vulnerability IDs (CVEs etc.) that it does not need to defend because the admin has decided it does not apply to their edge case.

[2022-03-25 18:29] ljharb commented on #3669
I totally agree! see https://github.com/npm/rfcs/pull/422.

That, however, doesn't mean that npm itself should make decisions that are unsafe in nonzero scenarios.

[2022-03-25 21:14] Dionysusnu opened #4622 "[DOCS] npm run-script is said to use bash, but actually uses cmd on Windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

The page says:

But the CLI actually uses [the user's config option first](https://github.com/npm/cli/blob/716a07fde7905bb69e4c6f1991bb7289589a6669/lib/commands/run-script.js#L74), or i

[2022-03-25 21:22] nickhudkins commented on #4603
@nlf would you expect flags to be passed along to `npm run {{ script }}` commands when `npm run {{ script }}` is invoked by another workspace, or does this seem like defective behavior?

Trying to understand if I need to make wide-sweeping fixes due to the changed behavior, or if the changed behavior is intended to stay, and the previous workspace behavior was incomplete or defective.

There seem

[2022-03-25 21:28] CalabazaArdiente commented on #3472
Same issue trying to run npm install expo-cli

[2022-03-26 00:25] cameel commented on #4063
I ran into the same problem recently and the cause turned out to be a bug in the `tar` package, or rather the version of it packaged on Debian 11 as `node-tar` 6.0.5. This package was patched to hotfix a security issue ([CVE-2021-37701.patch](https://salsa.debian.org/js-team/node-tar/-/blob/bullseye/debian/patches/CVE-2021-37701.patch)) but apparently this broke the logic for concatenating paths.

[2022-03-26 10:58] mmomtchev commented on #1600
In fact, this is a very stupid bug, there is a cyclic dependency check in npm, but someone has mistakenly used `Object.create` instead of `Object.assign`...

https://github.com/npm/cli/blob/6996ecaddcb36ca330293f1c4acc371471e94a9a/lib/install/is-extraneous.js#L24

Anyway it is too late now, even if there is a new release, no one will replace existing npm versions - and this is the real problem - c

[2022-03-26 12:26] ljharb commented on #1600
That’s not a mistake; Object.assign with only one argument wouldn’t do anything, and Object.create is correctly used there to “copy” the isCycle object.

[2022-03-26 12:29] mmomtchev commented on #1600
[code]

`Object.assign` is what you need - obviously with the right arguments.

[2022-03-26 12:54] mmomtchev commented on #1600
No, in fact, it creates a static property:

[code]

[2022-03-26 13:07] ljharb commented on #1600
That is exactly what that line of code is meant to do - it creates an object that inherits from inCycle, so the new object can be safely mutated.

[2022-03-26 15:02] mmomtchev commented on #1600
@ljharb, yes you are correct, I thought that it was losing fields after two iterations - it simply creates huge `__proto__` chains. This is not an infinite loop, it is a `n!` loop - which in the case of `@stdlib` with its 13 packages is a lot. This explains why we haven't seen it more often - it requires more than a simple cyclic dependency - it requires a cyclic dependency with lots of packages.

[2022-03-27 12:23] sigmagirl commented on #4615
I am not able to resolve it. Please help. I have done npm cache clean --force. It did not help.

[2022-03-28 01:30] darcyclarke commented on #2039
Closing: As of [`npm@8.3.2`](https://github.com/npm/cli/releases/tag/v8.3.2) you can now run `npm update --save` to save changes back to `package.json` like you could in v6.

[2022-03-28 01:30] #2039 closed, assigned to nobody

[2022-03-28 01:35] darcyclarke commented on #2136
Closing: we chose not to go down this route for numerous reasons discussed in the Open RFC calls.

[2022-03-28 01:35] #2136 closed, assigned to nobody

[2022-03-28 01:53] darcyclarke commented on #2435
Hey @joewood, apologize for not getting to this sooner. I tried to replicate your issue but couldn't. I believe we've likely solved whatever the problem was with installing git deps. If you can try the latest version of npm (ie. `npm i -g npm` currently `v8.5.5`) & confirm, that would be great. I'm going to close this for now but we can reopen if you're still experiencing issues on the latest vers

[2022-03-28 01:53] #2435 closed, assigned to nobody

[2022-03-28 01:54] shorwood commented on #2339
I wouldn't be against the v6 behavior coming back to the newest versions of `npm`. In the meantime, I found a *(I hope for everyone)* working solution using `pnpm`. Let's say we have
- a web-app project.
- a monorepo project building multiple packages
- a project building a single package.

Here is the project structure :
[code]

## Step 1 : Add `dependencies` entries to `./website/package.json`
`

[2022-03-28 02:50] survey99 opened #4624 "Npm run Dev error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Enhancement, not another kind of Docs Enhancement.

- [x] This is a CLI Docs Enhancement.

### Description of Problem

When I am running "Npm run dev" to compile Laravel project so I am getting error-:
 "Mix was not set up correctly. Please ensure you import or require laravel-mix in your mi

[2022-03-28 03:48] ljharb commented on #4624
This isn't an issue with npm, it's an issue with "mix". `npm run` is just how you run the "dev" script configured in your app's package.json.

[2022-03-28 03:48] #4624 closed, assigned to nobody

[2022-03-28 05:11] dztek commented on #3847
For me this works:
```npm -w {ws} ci --install-peer-deps```

then from root:
```npm install```

To make sure it's all wired up correctly:
```npm ls```

[2022-03-28 06:20] Yaron01 commented on #4612
@wraithgar - thank you , it solved the issue.

[2022-03-28 07:58] Bruce-Hopkins commented on #4201
If this has been disabled on the server-side, can't we close the issue?

[2022-03-28 11:54] MetRonnie commented on #3555
I have the same problem running `npm install` on GH Actions with
[code]
from [actions/setup-node](https://github.com/actions/setup-node) @ v3.

These are the only dependencies of the project:
[code]

The only thing I can think of is that some of the `resolved` fields in `package-lock.json` use a custom artifactory URL that will not be available to the GH Actions runner, but surely this should not

[2022-03-28 13:53] ljharb commented on #4201
@Bruce-Hopkins it could still be used by private registries.

[2022-03-28 13:59] wraithgar commented on #4557
That would be a pretty significant change to how workspaces work and would need to go through the [rfc](https://github.com/npm/rfcs) process.  Closing this now as it things are currently working as designed, and changing it would mean changing the design.

[2022-03-28 13:59] #4557 closed, assigned to nobody

[2022-03-28 14:29] wraithgar commented on #4620
It may be more correct to add that to the [Description](https://docs.npmjs.com/cli/v8/commands/npm-completion#description) section, and edit it to say "Generates completion script"

[2022-03-28 15:59] wangrongding commented on #1946
This is the only way we know of needing to add -g, which I think should be indicated in the documentation😀

[2022-03-28 16:31] n8agrin commented on #4552
+1 I have a repro here: https://github.com/n8agrin/npm-8.5.4-no-lifecycle-scripts

It seems all lifecycle scripts in workspaces do not run in npm versions after 8.5.3

[2022-03-28 17:13] jianbin-lim commented on #4234
1. update the nvm to 1.1.9
2. nvm uninstall 16.14.2
3. nvm install 16.14.2 and nvm use 16.14.2

[2022-03-28 17:21] t1m0thyj commented on #2659
This seems to have been fixed, thanks 😀 The earliest version containing the fix is:
* Node.js 16.14.0 if using the bundled version of npm
* npm@8.5.5 if using a globally installed version of npm

[2022-03-28 17:21] #2659 closed, assigned to nobody

[2022-03-28 17:53] nlf commented on #3910
was this with npm@8.5.5?

[2022-03-28 18:32] darcyclarke commented on #4615
@sigmagirl can you try backing up your `package-lock.json` & `node_modules` file/folder (ex. `move package-lock.json backup-package-lock.json && move node_modules backup_node_modules` - `mv` for posix) & then installing (ie. `npm i` - which should then just be using `package.json`).

[2022-03-28 18:56] mehraj6303 commented on #4596
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile

[2022-03-28 20:19] #3628 closed, assigned to nlf

[2022-03-28 20:19] #4454 closed, assigned to nlf

[2022-03-28 20:20] #4422 closed, assigned to nlf

[2022-03-28 20:56] lukekarrys opened #4626 "--otp fails error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

It does not fail

### Steps To Reproduce

_No response_

### Environment

_No response_

[2022-03-29 02:45] pmunin commented on #4003
Confirm - issues is still here with versions:
[code]

[2022-03-29 07:05] MetalArend commented on #3985
Our team is experiencing the same issue. Is this a bug, or is it because there is a new way of doing this with environment variables that is not yet documented? Or is there a workaround available?

[2022-03-29 09:52] microkof commented on #2660
It's 2022. Hasn't this basic problem been solved yet?

[2022-03-29 14:10] ljharb commented on #2660
which is more likely - that it's basic and nobody on the entire internet in all this time has been able to make a PR and/or convince the maintainers to fix it? or that it's not basic at all and there's very good reasons why this remains open?

[2022-03-29 17:01] brianjenkins94 opened #4631 "[BUG] Indefinite hang when installing - `Tried to end timer that doesn't exist: idealTree:#root`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

Log files produced (infinite repeating output):

[2022-03-29T16_49_49_474Z-debug-0.log](https://github.com/npm/cli/files/8373507/2022-03-29T16_49_49_474Z-debug-0.log)
[2022-03-29T16_49_49_749Z-debug-0.lo

[2022-03-29 17:43] mshima commented on #3910
yes.

[code]

[2022-03-29 18:06] fritzy commented on #4631
@brianjenkins94 as a potential workaround, try specific versions for react and react-dom.
@nlf noted that this could be caused here https://github.com/npm/cli/blob/latest/workspaces/arborist/lib/arborist/build-ideal-tree.js#L1018-L1049 due to not marking the conflict.

[2022-03-29 18:16] fritzy commented on #4619
I am unable to reproduce on the same versions of Node.js, npm, and OS.

[2022-03-29 18:23] brianjenkins94 commented on #4631
Locking to v18 on `react` and `react-dom` doesn't appear to have fixed the issue:

[code]

[2022-03-29T18_22_33_041Z-debug-0.log](https://github.com/npm/cli/files/8374038/2022-03-29T18_22_33_041Z-debug-0.log)
[2022-03-29T18_22_33_339Z-debug-0.log](https://github.com/npm/cli/files/8374039/2022-03-29T18_22_33_339Z-debug-0.log)

[2022-03-29 18:31] brianjenkins94 commented on #4631
Locking to v17.0.2 does appear to have fixed the issue. 👍

[2022-03-29 19:12] simllll commented on #3078
Something that could be related: https://github.com/npm/statusboard/issues/442#issuecomment-1081086681

[2022-03-29 19:50] otto-liljalaakso-nt commented on #4229
Tested. The reproducer repository does not reproduce the issue anymore.
This does not depend on npm version, the issue is gone for both 8.3.0 and 8.5.4.
However, the issue persists in our private repository.

The reproducer was created from the private repository by removing as much as possible,
then removing everything except dependency definitions
and renaming everything as `package-a` and so on

[2022-03-29 20:00] N226335735 commented on #4085
🔝海嘯預警中心發出中央社記者訪問時指出，這次選舉權登記證書及時行樂圖書館學。我的人是在哈囉市場排水管清掃工作的地方建設案情複雜我方全體人員進攻籃板及警察👮‍♀️！這次真的好好玩笑是否要不然就業數據理想的工作機會的話。這次真的不用在意這麼多時間照親民黨立法院議場進入的人才能真正落實人民銀行業務資料庫中調出錄影帶📼！這樣我國戰爭中使用這麼一切順利進行，不可能原諒兩行怨淚淚兩行清泉崗機場第一☝️外星人入侵地球🌍地球的另一種很好👌願透露真實存在東獄大帝聖誕禮物🎁背著電鋸鋸開，要俄哥哥姊姊及太平天國和鏗鏗通過反滲透法通過之後再度造成嚴重災情，各位朋友多多支持我們的人才發現原來如此青銅器時代來臨，這個世界最好的👌生生世世歲月靜好現世體制硬體液體燃料電池專利授權協議談判代表兼首席執行官科普拉多洛省錢大作戰，我我嗚嗚剛剛以體驗過過癮，繼續努力推動敘利亞化武統天下之大不韙，吞噬細胞分裂活動，以及美夢都吃掉！

[2022-03-29 20:11] N226335735 opened #4633 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

國家實驗研究院太空中心發射升空的通過倉促立法證券商赴台旅遊跪在地上有很多事情不要鬧脾氣不會讓你自己都市更新處不知為何的是你不會覺得意外⋯⋯在這裏說真的要在那邊給了我們很多事是真的屠圖大主教🐰痛苦年庫藏股發威站穩腳步👣，硬體怪醫秦博士學位論文發表聲明指出天才天才從石頭蹦出來的人都是以個人化服務處受理市民申請的集會上表示？我也不知道為什麼這次真的好想看他們是否歷史的真相詞不達意女足姑娘多采多姿那妳要怎麼處理這些問題是你自己

[2022-03-29 20:12] N226335735 commented on #4633
![Uploading B86AC220-53EA-4177-806B-94EAB1CB190D.png…]()

[2022-03-29 20:12] N226335735 commented on #4633
![ED604F1E-EEBB-4AF5-83BD-BF424BAC4C84](https://user-images.githubusercontent.com/100879258/160698629-f7b5213d-cb11-4aad-9f82-2d47f1ecb92e.png)
![Uploading 7E5B4F24-058F-448A-98C6-6EAAF6A3B0F7.jpeg…]()

[2022-03-29 20:12] #4633 closed

[2022-03-29 20:18] N226335735 opened #4634 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

國家實驗研究院太空中心發射升空的通過倉促立法證券商赴台旅遊跪在地上有很多事情不要鬧脾氣不會讓你自己都市更新處不知為何的是你不會覺得意外⋯⋯在這裏說真的要在那邊給了我們很多事是真的屠圖大主教🐰痛苦年庫藏股發威站穩腳步👣，硬體怪醫秦博士學位論文發表聲明指出天才天才從石頭蹦出來的人都是以個人化服務處受理市民申請的集會上表示？我也不知道為什麼這次真的好想看他們是否歷史的真相詞不達意女足姑娘多采多姿那妳要怎麼處理這些問題是你自己

[2022-03-29 20:18] #4634 closed

[2022-03-29 20:38] N226335735 commented on #4634
體驗過過癮，物體土地姑姑顧能源局局長布穀鳥委託顧問公開信息高層咕咕的人的心是自由世界維護自己權益保障條例部分條文修正草案✅滋養肌膚之親卡💳給我的朋友們請注意安全，完美無缺的人都是以個人化服務處的時候了？我不想聽你們說理由公諸於今天上午發生芮氏規模六點五的民眾可以😌修法後的今天都還要我國中最重要的人事物都變得越來越嚴重事故，最底層刺骨折屠圖位於彰化市大埔美香草藥草枝擺神奇了！這次真的好好笑😆提供免費無線網路系統iOS app has not done anything but crashes and closes at midnight so I'm going to the gym and watch the kids and play basketball at night and才能才能獲得更多資訊科技策略聯盟合作協議書簽約請照格式的時候就是考驗人性尊嚴權威以及其他針對你個人的事，這個

[2022-03-29 21:53] #4626 closed, assigned to wraithgar

[2022-03-29 22:10] prmichaelsen opened #4638 "[DOCS] do i npm link the dist dir or the src dir"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

it's unclear to me from the docs if i am to npm-link from the dist folder of my target package or the src folder of my target package

got here from: https://docs.npmjs.com/cli/v8/comma

[2022-03-30 00:20] ljharb commented on #4638
Neither. You `npm link` from the root of the project, whose package.json points "main" at the `dist` folder.

[2022-03-30 00:45] #4638 closed, assigned to nobody

[2022-03-30 00:45] prmichaelsen commented on #4638
perfect, that answers my question, thanks

On Tue, Mar 29, 2022 at 5:20 PM Jordan Harband ***@***.***>
wrote:

--
Software Development Engineer - Amazon

[2022-03-30 01:45] guoqiangqi opened #4640 "[BUG] <title>Get an error with npm itself when using "npm install""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm ERR! typeerror This is an error with npm itself. Please report this error at:

### Expected Behavior

npm install should success.

### Steps To Reproduce

1. In this environment...
2. With this config...
3.

[2022-03-30 01:46] ljharb commented on #4640
The issue template isn't filled out.

[2022-03-30 01:46] #4640 closed, assigned to nobody

[2022-03-30 07:09] #4610 closed, assigned to nobody

[2022-03-30 07:35] Yaron01 commented on #4612
It's somehow not working again, any other suggestions ?

[2022-03-30 13:54] 49-22 commented on #2516
This seems to be the case still.
Recently we tried to bump the version of node from 14 to 16 (npm 6 to 8) and we started seeing similar failures.

any proper fix?

[2022-03-30 16:19] aaron5670 commented on #4477
Same issue here...

**Windows 10**, **Node.js 16.4.2**, **NPM 8.5.5** and **Turborepo 1.1.10**.

[code]

[2022-03-30 18:13] Roaders commented on #3403
I came across this issue as well so wrote a script to fix it:
https://www.npmjs.com/package/workspace-version

just add:

[code]

to your root package.json scripts to update all child package json versions, update depenendency versions of siblings and add modified files to git (that's the `-g`) when you do `$npm version patch`. If you use it any feedback / issues much appreciated.

[2022-03-30 19:05] fritzy commented on #4618
This works in v8.5.2, but fails in v8.5.5.

[code]

[2022-03-30 19:08] fritzy commented on #4618
It looks like the workspace is being applied twice.

[code]

[2022-03-30 19:20] fritzy commented on #4619
Moving this to priority 2, and @lukekarrys is going to look into it further.

[2022-03-30 21:20] fritzy commented on #4612
@Yaron01 which versions are you using now? What does your configuration look like now?

[2022-03-30 21:30] fritzy commented on #4608
It's unusual to not specify in a name in the package.json file. `npm init -y` will automatically fill one in. If you specify a package.json name, this does not happen. Since `name` is not required, this is probably still a bug.

[2022-03-30 21:43] fritzy commented on #4603
I'm not seeing this behavior

[code]

I'm not saying that it's not possible you've seen this with some version combo (you mention both 8.5.0 and 8.5.5), as we've been working to define and solidify this behavior in recent releases. This could be related to https://github.com/npm/cli/issues/4618.

I've used your repo and followed your instructions, but I was not able to reproduce the behavior.

[2022-03-30 21:43] #4603 closed, assigned to nobody

[2022-03-30 21:45] fritzy commented on #4600
@darcyclarke you may want to move this to a priority 1, since this is due to recent changes.

[2022-03-30 21:55] fritzy commented on #4597
#2632 possible regression

[2022-03-30 21:59] fritzy commented on #4595
This makes sense given that --package-lock-only is probably getting applied to npx, which then can't install the script. We need to review whether this behavior is intended.

[2022-03-30 22:11] fritzy commented on #4555
**Closing:** please use our [issue template](https://github.com/npm/cli/issues/new/choose) &/or review our [contributing guidelines](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#reporting-bugs).

The version #s are not filled in, so we're unable to evaluate this ticket.

[2022-03-30 22:11] #4555 closed, assigned to nobody

[2022-03-31 00:04] SSaquif opened #4646 "[BUG] npm stopped working after upgrading to latest version, now can not downgrade or uninstall"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I upgraded my npm from version `6.9.0` to `8.5.5` as per the CLI message, using the command
`npm install -g npm`
After which I tired running
`npm -v` and `npm --version` and ended up with the error below

As you

[2022-03-31 00:18] SSaquif commented on #4646
**Update:**
Solved it by updating node to latest stable version `16.14.2`, then downgraded npm back to `6.9.9` and switching back to node version `12.0.0`

**P.S.:** Yes I feel dumb for raising the issue

**Update 2:**
So the issue was the update corrupted my installation of node `12.0.0` completely removed it from the folder and reinstalled everything now runs with version `12.0.0`

[2022-03-31 00:18] #4646 closed, assigned to nobody

[2022-03-31 00:43] #3314 closed, assigned to nobody

[2022-03-31 04:21] 0xf0xx0 commented on #4163
Im chiming in to confirm that im having this issue also. im on a Linux system, in the US, and using Spectrum.

npm version: 8.5.1
node version: 17.6.0

`tracert6` immediately dies at the first hop. Running `curl -v -6 http://registry.npmjs.org --resolve registry.npmjs.org:80:2606:4700::6810:1223`  also fails.

[2022-03-31 06:21] Yaron01 commented on #4612
npm 5.6.0
node v9.3.0

I've added 'RUN npm config set update-notifier false' in dockerFile and it didn't work.

[2022-03-31 06:39] shaunthegeek commented on #2779
GitHub Advisory Database can be downloaded now.

https://github.com/github/advisory-database

is npm audit offline mode possible? @nlf

maybe:

[code]

[2022-03-31 09:25] ferferga commented on #4618
@fritzy Perhaps this is due to the fact that I have the workspace defined in .npmrc?

Either way, this was working fine in 8.3.1 as I state in the issue description.

[2022-03-31 09:48] xiromoreira commented on #3669
@ljharb deleting user files without being asked for is by far an "unsafe in nonzero scenarios" decision, no program should do it. The sane option is to refuse working and/or display a visible warning explaining why.

[2022-03-31 11:31] vikas-t opened #4651 "npm profile set command exits with non zero exit code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Running the command `npm profile set fullname <name>`  throws the following error and the exit code is `1` but the command actually sets the fullname

[code]

Here is the output from the terminal
[code]

### Exp

[2022-03-31 12:09] Tim4497 commented on #2856
same for me but I have over 1000 warnings:

[code]

[2022-03-31 13:44] ljharb commented on #3669
Sure, eagerly failing loudly would be better also. The outcome is still the same - you wouldn’t be able to do the thing you want, you just would be informed faster.

[2022-03-31 13:47] Qix- commented on #4163
@ExperiBass Uncomment `precedence ::ffff:0:0/96  100` in `/etc/gai.conf`. Node uses `getaddrinfo` (presumably supplied from libuv) and that in turn reads from `/etc/gai.conf` when performing resolutions. By default, IPv6 is prioritized, and since IPv6 is broken on WSL or Windows (or both) telling `getaddrinfo` to use ipv4 over ipv6 fixed it for me.

Hope that helps. NPM won't solve this.

[2022-03-31 14:16] hanzlamateen opened #4652 "[BUG] Getting constant `Client network socket disconnected before secure TLS connection was established`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When trying to install packages using `npm install --production=false --loglevel notice --legacy-peer-deps`, we get constantly getting mentioned error. The package that fails is always different, so there isn't

[2022-03-31 14:29] dresende commented on #3359
I tried debugging my case and it was this:

[code]

I opened my `.npmrc` and removed a line like this:

[code]

Instant fix.

[2022-03-31 14:30] JijiyaT opened #4653 "Inconsistent behaviour in installation of dependent packages in the node modules"
Hi Team,

I have a project "project1" which has a dependency on library package "local library".Local library project has a dependency on primeng and luxon .When i am installing node modules for project1,primeng is not installed in root nodemodules folder where in luxon has been installed in node modules of project1.

`
project 1 package.json

dependencies:
{
local library:1
}

local library packa

[2022-03-31 14:31] dresende commented on #3359
I would recommend backing up your `.npmrc` (if you have anything specific, or just delete it) and try again with an empty one.

[2022-03-31 14:37] ljharb commented on #4653
When you say "local library", do you mean "it's not installed by npm, it's linked from somewhere else"? If so, i think that's the answer - npm doesn't install it, so npm can't merge the two dep trees.

[2022-03-31 14:41] JijiyaT commented on #4653
Hi,

"local library" package itself is installed by npm in project 1 as it is mentioned as one of the dependency for project1 .
 some of the dependencies from local library are installed properly and some are not properly installed in nodemodules of project1.

local library has two dependencies luxon and primeng.

Where in luxon is properly installed and primeng is not.

project 1 package.json
[co

[2022-03-31 14:52] otto-liljalaakso-nt commented on #4229
I have updated the reproducer repository to a larger example that still suffers from this bug.
Please take a look.

[2022-03-31 16:31] mk-pmb commented on #3669
Which can be crucial. In my case, removal of the symlink would have caused backup cron jobs to fail if I had not noticed early enough.

Worst case scenario would probably be somehow breaking the path to someone's SSH authorization mechanism. I can't imagine what such a setup would look like, but from my tech support experience, I'm sure there are people who will have invented a fragile enough setu

[2022-03-31 20:14] neodescis commented on #4165
This behavior makes it almost impossible to consume an angular library that is installed/linked locally if the library has dependencies defined. The only way Angular can consume a locally installed/linked library is with preserveSymlinks enabled. This is because the Angular application will fail to run if there is more than one instance of the Angular framework loaded, which is what happens when p

[2022-03-31 20:45] 3cp commented on #3359
From what I saw there, the various causes are not the root cause of the hang.
The root cause is that npm should not hang, it should fail out with a readable error message.

[2022-04-01 01:19] terwort opened #4660 "[BUG] NPM ci seems to be broken on Azure DevOps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When running npm ci on Azure Devops with the node version set to `16.14.2`, and npm version set to `8.5.0` we get `The npm ci command can only install with an existing package-lock.json`. Even though we definite

[2022-04-01 01:25] ljharb commented on #4660
Any chance you have an env var configured with “npm” in the name, case-insensitively?

[2022-04-01 01:32] terwort commented on #4660
@ljharb Not that I can find. This is one of the yaml files used in our pipelines, and it fails on the npm ci step. So all its done so far is set the node version and then immediately call npm ci.

`jobs:
  - job: Job_2
    displayName: ESLint
    pool:
      vmImage: ubuntu-latest
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "16.x"
        displayName: "Set node versi

[2022-04-01 01:33] ljharb commented on #4660
And which CI command is failing (in which dir)?

[2022-04-01 01:38] terwort commented on #4660
This is the path azure devops is using `/opt/hostedtoolcache/node/16.14.2/x64/bin/npm ci`

[2022-04-01 02:00] ljharb commented on #4660
No i mean, your yaml file runs npm ci multiple times, in different dirs. Which one fails?

[2022-04-01 02:02] terwort commented on #4660
the first one in preamble-ui-hcms. Although, it fails on about 6 of our yaml files all in different directories with their own package.json files.

[2022-04-01 08:47] HesterG opened #4663 "[BUG] replacement for npm_config_argv in v8.5.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When trying to use `npm_config_argv`, it appears to be removed. I am wondering what is the replacement for `npm_config_argv`, i tried to search around, and it says "Where the argv is being parsed in order to det

[2022-04-01 09:59] oktayibis commented on #4234
The tricky part is that you need to update the nvm before the install/update node. If you already installed the node before updating nvm, delete it with nvm and make sure deleted folder is named node version in the nvm folder.
 and follow the above instructions

So confirmed that also this works.
  [@jianbin](https://github.com/npm/cli/issues/4234#issuecomment-1080927985)

[2022-04-01 10:01] xiromoreira commented on #3669
Not sure the outcome is still the same. If you delete the symlink but continue the job:

- I may think nothing happened, specially since the warning is not critical and is on the top of the output (the action may cause other output with more critical appearance).
- (Since it is also done with global node_modules) You may break my node installation, you are deleting all reference to global node_mod

[2022-04-01 10:10] azatoth opened #4664 "[BUG] non-previosly seen peer-dependency errors popping up in 8.6.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

After upgrading from 8.5.5 to 8.6.0 I'm starting to get peer dependency issues that are not present when running under 8.5.5.

I don't see anything apparent in https://github.com/npm/cli/blob/latest/CHANGELOG.md

[2022-04-01 10:12] Xiaoming985 commented on #3021
@caohuilin Did you solved this problem? I also met this problem, and my node & npm version are same as yours. Could you help me?

[2022-04-01 10:14] Xiaoming985 commented on #3021
`> node -v

[2022-04-01 12:00] jeroennoten commented on #4664
Same problem here. No problems on 8.5.5, errors regarding peer dependencies on 8.6.0.

[2022-04-01 12:56] piccit commented on #4664
I'm seeing this problem too but it's when running `npm ci` (after having installed some specific packages using `--legacy-peer-deps`)

[2022-04-01 13:30] selvathiruarul opened #4665 "node app getting killed frequently with npm err"
Upgraded the node to 16.4.2 and npm to 8.5.0&8.5.5 and I started getting errors randomly and bringing the app down. I tried reverting the version but the errors still happen.
[code]

[2022-04-01 13:35] aldeed commented on #4664
To be clear about how big this bug is, everybody with a CI step that does `npm i -g npm && npm i` (or `npm ci`), that step is now suddenly erring (assuming they have ever previously ignored peer dep errors, which most projects have). The workaround is to pin to npm@8.5.5 but to prevent opening the floodgates of confusion you may want to fix or revert ASAP.

[2022-04-01 14:31] johanholmerin commented on #4664
Git bisect shows it to be caused by bd96ae4071f9cc8a65e741f414db12e98537971d. Reproduction at [johanholmerin/npm-4664](https://github.com/johanholmerin/npm-4664)

[2022-04-01 15:27] neogibson commented on #4664
Yup we are seeing the same error in our CI with 8.6.0, reverting to 8.5.5 works for now though.

[2022-04-01 15:34] jwbrandon commented on #3973
We are also seeing this so for the now we wrote a `prepare` script that verifies that the version installed is what was asked for in package.json and it will cause `npm install` to fail if it isn't. The only reliable way that I have gotten git+ssh packages to update is to remove `node_modules` and `package-lock.json` and then do a reinstall.

[2022-04-01 16:08] ruyadorno commented on #4664
hi @johanholmerin thanks so much for taking the time to bisect and sending a reproduction, super handy and we super appreciate it! ❤️

It looks like what most folks here are seeing here is a legitimate `ERESOLVE` error (which began throwing as of v7) that got stored to the lockfile via using either `npm i --force` or `npm i --legacy-peer-deps` to generate that file. This should have always been an

[2022-04-01 17:22] AliAMQ commented on #3472
Again, please **just upvote the issue if you have nothing new to share**. This is critical and everybody here is waiting for a fix. Adding more comments with no helpful update just makes the new visitors go through a longer thread and see no values.

[2022-04-01 18:02] vicary commented on #3669
Being a few package maintainer myself, this very decision creates wondrous moments with `npm link`.

[2022-04-01 21:59] nigams commented on #4652
Same issue here. Started seeing it after upgrading to Node 16.14.x. The URL reported in the ECONNRESET failure message is random (changes).

I see this on MacOS as well as Linux (docker image).
No cache involved.
NPM: 8.3.1, 8.5.0

In case it helps someone, there are two potential workarounds (the second one being sketchy).
1) If you can connect to the NPM registry without a proxy server, then set

[2022-04-02 02:28] wSedlacek commented on #4664
So just to confirm it is not expected behavior to have installs done with `--force` to continue working on future installs without `--force`?

[2022-04-02 02:30] nickhudkins commented on #4603
Hey @fritzy! I'm sorry you couldn't reproduce.

Fortunately GithubActions can, for both 8.5.0 and 8.5.5.

https://github.com/nickhudkins/npm-workspaces-uh-oh-spaghettio/actions/runs/2080669489

[2022-04-02 03:59] lemiesz commented on #4603
Im seeing the same issue in my workspace.

[2022-04-02 04:14] davbrito commented on #2687
Hi. It seems that this has been around for a while.
What's the current status of this?

[2022-04-02 09:55] xjcl commented on #681
Just wanted to add that `hash -d npm` didn't work for me, maybe cos I use zsh. Try:

    sudo npm install -g n
    sudo n latest
    sudo npm install -g npm
    hash -r
    npm i

[2022-04-03 06:18] melink14 commented on #4322
In 8.6, after deleting package-lock.json and node_modules it seems like everything got removed correctly.

Not sure if it's supposed to be able to update a legacy tree to a new tree but hopefully it will be fine going forward now.

[2022-04-03 09:46] cemalgnlts opened #4668 "[BUG] npm Always Throws An I/O Error."
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

Whenever I type npm I get the same error.
Like the `npm`, `npm --version` or `npm install`

[code]

Using `yarn` package manager solves my problem.

### Steps To Reproduce

1. OS: Debian Bullseye
2. When run `npm`
4. See error **EIO: i/o error, read**

### Environment

- npm: v8.5.2 or higher

[2022-04-03 10:51] Z3TA commented on #3472
@AliAMQ how do you "upvote" ?

[2022-04-03 11:20] kleinfreund commented on #3472
@Z3TA For the purpose of reacting to an issue (e.g. up-voting it), you can find the reaction section at the bottom of the very first post in an issue.

[2022-04-03 12:07] Z3TA commented on #3472
When I search for "npm audit" in the Issues, this issue is on page 2 with 104 "thumbs up", while the issue ranked above it only has 3 "thumbs up". It's however possible to sort by emoji... So the convention to "upvote" is to use the thumbs up reaction on the first post ? @kleinfreund @AliAMQ

[2022-04-03 12:16] kleinfreund commented on #3472
@Z3TA Yes, that is a convention. It signals the degree of interest in an issue (e.g. here, many people signal that they experience the same issue) and it also allows issues being sorted by such measures.

Reacting to a message does not trigger in-website or email notifications and is therefore not disrupting anyone. Commenting on an issue however is disruptive and should only be done when there is

[2022-04-03 12:32] kftsehk opened #4669 "[BUG] v8.6.0 --only=prod resolved for devDependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

devDependencies are checked and fails the build even when `--only=prod` or `--omit=dev` is specified, which is not the behavior in previous 8.5.x versions, and is probably not a correct behavior as `--only=prod`

[2022-04-03 12:34] kftsehk commented on #4669
This is probably related to #4664 , a step to reproduce using only `devDependencies` is provided.

[2022-04-03 13:27] yosmarcode commented on #4234
Este error igual sale en la version de nodejs nvm - version 16.14.2

[2022-04-03 13:32] glen-84 commented on #4285
@ruyadorno Is there a workaround for this issue? I'm quite blocked by not being able to dedupe graphql.

[2022-04-04 01:20] nickhudkins commented on #4603
Just so that I'm clear, I'm not actually looking for a fix, I'm hoping to understand if the behavior in 8.5.x is expected or not. I'd be happy to dig in if it is indeed incorrect behavior, but hoping for an npm maintainer to weigh in on what the desired behavior is.

[2022-04-04 09:51] soulchild commented on #4652
A couple of months ago we started seeing network errors as well, mostly `ECONNRESET`, when using npm behind a proxy. I was able to reproduce the behaviour on my local development machine when using the proxy as well (Squid 4.6.1).

Recent npm upgrades received via Docker Node.js base images are a probable cause, because our infrastructure hasn't changed significantly. It started in February with o

[2022-04-04 12:15] nerdy-panda opened #4671 "npm is very slow when used install command then used cache revalidated!!!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

hello
i create laravel project then using
npm install command
but when running this command i should wait around 2 hours for install packages !!!
i not have unlimited life !!!!

### Expected Behavior

this is my

[2022-04-04 14:03] piccit commented on #4664
I understand what you're saying here, but why is a `ci` doing that validation and not just using what is in the lockfile?

[2022-04-04 14:28] patricknwanah commented on #4087
Nice so what was the fix?

[2022-04-04 14:59] vikas-t commented on #4651
Possibly links to https://github.com/npm/cli/issues/4313

[2022-04-04 15:04] vikas-t opened #4672 "npm token create error: cannot convert undefined or null to object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Creating a npm readonly token results in error and exists with exit code 1

[code]

### Expected Behavior

The command should not throw any error and should exit with 0

### Steps To Reproduce

1. Run command `n

[2022-04-04 17:18] EnricoPicci opened #4673 "[BUG] package.json fields can not be referenced in scripts with npm v8.5.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

With npm v6.14.16 I was able to use an attribute defined in package.json in the scripts (also defined in package.json).

So, for intance, given this package.json
[code]

I was able to run `npm run tsc` and the c

[2022-04-04 17:25] ljharb commented on #4673
This was an intentional breaking change in npm v7. You can read it from package.json yourself with node, for example, as a workaround.

[2022-04-04 18:16] jonofoz commented on #4660
@terwort My team has been having the same issue. Today I tried `npm ci --legacy-peer-deps` _locally_, which allowed me to circumvent the issues we were having. Sticking that in the pipeline, for you it'd be something like

[code]
I just did something similar and my pipelines using `ci` are passing now.

Try that out! Please let me know if that works for you.

[2022-04-04 18:32] lukekarrys commented on #3951
This is still an issue. I think the issue is that we don't error in the "case a" (`npm shrinkwrap (just a rename of old, outdated package-lock.json)`), similar to the recent change made in https://github.com/npm/cli/pull/4599. The fix should be to throw an error if the package-lock is out date before attempting to shrinkwrap.

[2022-04-04 18:41] darcyclarke commented on #4331
Closing: This should be resolved as of [`npm@8.6.0`](https://github.com/npm/cli/releases/tag/v8.6.0)

[2022-04-04 18:47] EnricoPicci commented on #4673
So, if I understand right, it is not possible any more to reference a package.json attribute within a script, right?

[2022-04-04 19:28] ljharb commented on #4673
Specific scripts might inject specific ones, but for arbitrary package.json attributes, that's right - that was intentionally removed.

[2022-04-04 19:38] nlf commented on #4322
closing as this should be fixed as of npm@8.6.0

if anyone continues to encounter this problem, feel free to open a new issue.

[2022-04-04 19:38] #4322 closed, assigned to nlf

[2022-04-04 19:38] nlf commented on #3918
**Closing** due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-04-04 19:38] #3918 closed, assigned to nlf

[2022-04-04 19:39] #3891 closed, assigned to darcyclarke

[2022-04-04 19:39] #3204 closed, assigned to darcyclarke

[2022-04-04 19:39] nlf commented on #2884
**Closing** due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-04-04 19:39] #2884 closed, assigned to nlf

[2022-04-04 19:40] nlf commented on #2918
**Closing** due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-04-04 19:40] #2918 closed, assigned to nlf

[2022-04-04 19:41] nlf commented on #2709
**Closing** due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-04-04 19:41] #2709 closed, assigned to nlf

[2022-04-04 19:45] nlf commented on #2758
**Closing** due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-04-04 19:45] #2758 closed, assigned to nlf

[2022-04-04 21:20] ruyadorno commented on #2405
Relates to: https://github.com/npm/cli/issues/3359

[2022-04-04 22:10] jakeonfire commented on #4664
@ruyadorno running `npm config set legacy-peer-deps=true --location=project` does indeed fix `npm install` but does _not_ fix `bin/webpack` (which results in a stream of errors about not being able to resolve aliased packages like `react` and `react-dom`). any ideas? we are using `preact` and `aliasify` if that is relevant...

[2022-04-04 22:42] #4368 closed, assigned to nobody

[2022-04-04 22:50] ruyadorno commented on #2861
@knopkem can you try replicating this problem on the latest version of `npm`? (`npm@8.6.0` at the time of writing). If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-04-04 22:50] #2861 closed, assigned to nobody

[2022-04-04 23:00] ruyadorno commented on #3887
npm `v6` is no longer in active development; We will continue to push security releases to `v6` at our team's discretion as-per our [Support Policy](https://github.com/npm/cli/wiki/Support-Policy).

If your bug is preproducible on `v7`, please re-file this issue using our [new issue template](https://github.com/npm/cli/issues/new?assignees=&labels=Bug%2CNeeds+Triage%2CRelease+7.x&template=bug_7.ym

[2022-04-04 23:00] #3887 closed, assigned to nobody

[2022-04-05 01:17] tom-ricci opened #4680 "[BUG] npm CLI has weird logs interrupting terminal usage in the presence of an `.npmrc` file."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

While running npm scripts, npm logs `timing config:load:flatten completed in 1/2ms` (The 1/2ms isnt what it actually logs, rather it flickers between 1ms and 2ms).

This only happens when I have a `.npmrc` file

[2022-04-05 05:29] mycroes commented on #4395
Experiencing the same issue, but with a private package source. I have the following overrides:
[code]

These work for installing the first package that depends on older versions of all these packages. When installing the next package from the same repository as previous package (which actually only has the previous package as dependency) it errors on the first reference, if that's replaced it err

[2022-04-05 05:31] mycroes commented on #4395
And also, uninstalling package A and just installing package B (that depends on A only) leads to the same issue.

[2022-04-05 05:33] brayanmf commented on #3257
installing react with npx or installing packages for backend    :,c
[code]

[2022-04-05 08:53] Ockejanssen opened #4681 "[BUG] npm audit doesn't show github Dependabot alerts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

package.json
with
"dependencies": {
  "node-forge": "^0.10.0"
}

npm audit
# npm audit report

node-forge  <=1.2.1
Severity: moderate

### Expected Behavior

CVE-2022-0122 (moderate)
CVE-2022-24773 (moderate)
CV

[2022-04-05 08:54] Supriya1659 opened #4682 "[BUG] <title>Error while installing firebase-tools"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I'm trying to install firebase-tools in nodejs by using the command
   npm install firebase-tools
But it is showing and error like this

Error: Cannot find module 'semver'
Require stack:
- C:\Users\894796\AppDat

[2022-04-05 09:22] ocbrollingpaper commented on #4087
It was svelte kit adapter :)
and I was using ssh for git and for some reason it only accepted http

[2022-04-05 09:31] talentedandrew opened #4683 "[Question] A hook for an NPM package"
Is there a hook for the below scenario?

Let's suppose there is an npm package called `x`. I'm using the package `x` in my node backend project. I install that package using the command:
[code]
I need a hook in package `x`, that would be triggered after its installed in my project. I didn't find anything related to it on the web or docs, so finally came here to ask.

**Motive is to run the build c

[2022-04-05 09:59] jklingen opened #4684 "[BUG] overrides cause lock file to be out of sync, since 8.6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm overrides that work fine with npm 8.5.5, are causing an error during `npm ci` as of  npm 8.6:

[code]

After running `npm install` again (as suggested by the error message) `npm ci` is working again, but the

[2022-04-05 10:29] carlocorradini commented on #4477
Same, any workaround? 😟

[2022-04-05 10:32] creativecreatorormaybenot commented on #4477
Use Node `v16.4.0` for now @carlocorradini.

[2022-04-05 13:39] #3352 closed, assigned to nobody

[2022-04-05 13:42] ljharb commented on #4683
a “build” or “postinstall” script?

What’s the actual use case?

[2022-04-05 13:56] Y-LyN-10 commented on #4660
We are experiencing a similar issue with GitHub Actions that could be related to this one. In our case the error is that `'npm ci' can only install packages when your package.json and package-lock.json or npm-shrinkwrap.json are in sync. Please update your lock file with 'npm install' before continuing` and then there is a list of "_missing_" libraries from the lock file.

Such error is not true b

[2022-04-05 13:58] hardillb opened #4685 "[BUG] --tag not overiding package.json version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have the following package.json

[code]
I have a private registry (verdaccio on npm.example.com) setup with the `@test` scope, in the registry there is following versions

 - @test/foo: 0.3.3 and 0.4.0-test.1

[2022-04-05 14:05] ljharb commented on #4660
@Y-LyN-10 are you sure you’re using the same node and npm version locally and in production?

[2022-04-05 15:21] talentedandrew commented on #4683
@ljharb

I have a package let's say `x` which is a wrapper across another package, let's say `y`. So whenever I install package `x` I want it to have the latest version of package `y` in it. I want to eliminate the manual intervention of updating `x` whenever there is a new version of `y` available.  I hope this explains my use case.

[2022-04-05 15:48] robertwbradford commented on #4028
We have multiple developers in our org (mostly on Macs) also seeing issues like this after going to Node 16. `npm ci` seems to be especially problematic, but we have noticed it in other commands as well. For example, in one project (a lerna monorepo) we have a "setup" script that runs `npm ci` and then some various `lerna exec`s. It has got to the point where no one can run it anymore. It just fre

[2022-04-05 15:54] ljharb commented on #4683
You don't need a hook for that, that's what semver ranges are for. Have `x` depend on `y` with a `^` range, and as long as `y` doesn't have a semver-major update, `x` will never have to change.

[2022-04-05 16:15] jklingen commented on #4684
After some more investigation, the new error seems to be caused by this change, which was released with 8.6.0:
#4599

The question remains: how can the lock file be out of sync if we just ran `npm i` before 🤔

[2022-04-05 20:54] shadowspawn commented on #4685
It seems to work for targets listed explicitly on the command line. Try:

[code]

[2022-04-05 21:18] hardillb commented on #4685
That might work, but it's not useful in this case.

I'm trying to pull in a bunch of dependencies at beta level in a container build, I can add the `--tag beta` into the command line in the container build, but I'm trying not to have a totally different `package.json` to pick up the normal release vs a beta release.

The best I've come up with that works is a `package.json` like this:

[code]

Whi

[2022-04-05 22:01] adipascu commented on #4028
I think this is a duplicate of #3078, the fix for this was released in npm v8.6.0

[2022-04-06 04:21] talentedandrew commented on #4683
@ljharb But the package `x` in npm repository consist of the build files. So I have to build and publish package `x` everytime there is a new minor or patch version of `y`.

[2022-04-06 05:07] ljharb commented on #4683
@talentedandrew no you don't, because the built files in `y` should not contain any part of `x` - they should be requiring it dynamically.

[2022-04-06 06:01] talentedandrew commented on #4683
@ljharb I think I'm not able to explain my issue properly. I'll try one last time.

Let's say I have a node application named `my-app`.

There is an npm package named `YYY` (frontend library).

I create a package named `XXX`, which is a wrapper around `YYY` and depends on version `^1.x.x` of `YYY`. Now I build this `XXX` package using `rollup` and publish it to the npm repository.

Now, after I ha

[2022-04-06 06:03] ljharb commented on #4683
No, you don't, because you wouldn't rollup the YYY code - rollup would only produce a bundle containing XXX's code, and YYY would continue to be dynamically required.

[2022-04-06 06:22] talentedandrew commented on #4683
@ljharb Got it. I was under the assumption that `rollup` would bundle `YYY` in my `XXX` package. Thank you for the clarification.

[2022-04-06 06:50] pfcstyle opened #4686 "Automation token is gone after publishing one time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I want to use automation token in my jenkins, and its progress is below:

[code]
I enter my 'Access Tokens' page again and found that the token is gone.

The 'npm publish' command will remove my automation token

[2022-04-06 07:01] batressc commented on #4028
In my experience, this behavior ocurrs when execute `npm install` or `npm uninstall` in a windows console that not is maximized (cmd, powershell, nodejs command prompt, etc.). I don't know why ocurrs this error, but if we can maximize terminals before execute these commands we can avoid the freezing behavior.

I hope this can help you guys.

Best regards from El Salvador.

[2022-04-06 09:14] HolgerSeith commented on #3711
So why not re-opening it again ?

[2022-04-06 12:13] jklingen opened #4687 "[BUG] Override doesn't update version number in `packages` section of lockfile"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When using the `overrides` feature to mitigate a vulnerable transient dependency, the version number of the overridden package is not updated in the `packages` section of the lockfile.

### Example

Excerpt from

[2022-04-06 12:58] drptbl commented on #3208
@n3dst4 I have lost so much time trying different things on GitHub Actions (+ docker) to fix it after upgrading from npm@6 to npm@7 (this is where this issue has been introduced and it still persist on npm@8) using different docker containers, digging in to dependencies which may cause the issue, trying to add pre-dependencies which may be required for dependencies to be built and more.. hours of

[2022-04-06 13:00] bombillazo commented on #4234
Mira este comentario. https://github.com/npm/cli/issues/4234#issuecomment-1040528646

[2022-04-06 13:47] Joozty commented on #4686
I experience similar behaviour. The difference is that also the first `npm publish` is not working for me. It used to work a few days ago... event when I regenerate an automation token it still fails. The only way I can publish right now is from my computer. I cannot use any CI/CD tool.

[2022-04-06 14:14] yosmarcode commented on #4234
Si gracias amigo lo pude solventar el problema principal era que la version de nvm estaba presentando inconvenientes pero realizar un update a la ultima version 1.1.9 y desinstalé las versiones de nodejs que tenia instalada e  instalar de nuevo
Y todo volvió a la normalidad

gracias

[2022-04-06 14:14] adamlaska opened #4688 "Hi"
https://github.com/github

[2022-04-06 14:23] #4688 closed, assigned to nobody

[2022-04-06 14:27] darcyclarke commented on #4682
**Closing:** we do not support/triage third-party libraries or tooling bugs; Please file an issue with the relevant project itself (ref. https://github.com/firebase/firebase-tools#firebase-cli---)

[2022-04-06 14:27] #4682 closed, assigned to nobody

[2022-04-06 14:30] darcyclarke commented on #4683
A `postinstall` script defined in the package being consumed is what you're looking for as far as I can tell (ref. https://docs.npmjs.com/cli/v8/using-npm/scripts#npm-install)

[2022-04-06 14:30] #4683 closed, assigned to nobody

[2022-04-06 15:01] darkred opened #4690 "[feature request] add `loglevel` to the commands of `install` and `update` and to the relevant documentation pages"
Currently all `install`/`update` progress is displayed using a single line, with each new line overwriting the previous one. This occurs very fast, and so the user can only manage to read some lines, and only momentarily.

My suggestion is display it fully, in multiple lines, in order to be able to see the whole procedure steps.
Often install/update is a complicated progress, and I believe it's be

[2022-04-06 15:30] robertwbradford commented on #4028
`npm@8.6.0` did not solve this for us :(

[2022-04-06 15:31] HarlesPilter commented on #3208
For us the main issue is the memory usage. Can't even test the speed of `npm ci`, since our containers die due to lack of memory. We noticed that when `npm ci` is run and the .npm cache folder exists then the memory usage is around 5gb. When it's run without the .npm cache folder the usage is less, around 4gb, but the difference is still huge compared to npm 6

[2022-04-06 16:53] lukekarrys commented on #4690
Does `npm install --loglevel=verbose` suit your use case? There is also the `--loglevel=silly` flag which will print even more information. https://docs.npmjs.com/cli/v8/using-npm/config#loglevel

[2022-04-06 16:55] lukekarrys commented on #4680
I believe this is a duplicate of https://github.com/npm/cli/issues/4527. I'm not going to close either one yet, since I'm not 100% sure but I'm linking them so I can investigate together.

[2022-04-06 17:06] lukekarrys commented on #4672
Can you try updating to v8.6.0? I believe this is fixed by 8b65bfd5d610a70e1a860936be1a47f3a3df7f32

[2022-04-06 17:08] lukekarrys commented on #4651
Yes, this is the same issue. I'm going to close this one and I believe updating to v8.6.0 should fix both of these. Please let me know if that's not the case.

[2022-04-06 17:08] #4651 closed, assigned to nobody

[2022-04-06 17:14] darkred commented on #4690
Yes, this is exactly what I wanted, thanks a lot!

Sorry for asking about this, I only looked in the docs for 'install' and 'update' and in the repo issues. I should have searched the documentation more thoroughly.

But, if it's something useful to come up from my question, do you think it's worth adding a direct link/reference to the [loglevel](https://docs.npmjs.com/cli/v8/using-npm/config#logle

[2022-04-06 17:27] alexjoverm commented on #4600
Agree with @fritzy here. We use semantic-release at Storyblok to automatically release all our SDK packages. Semantic release runs `npm owner` under the hood, and due to this issue, the releases of our whole SDK ecosystem were broken.

In case this is happening to you, for us downgrading to `16.13.2` on our Github Actions config worked well 👌 https://github.com/storyblok/storyblok-js/runs/58552900

[2022-04-06 17:46] janpio commented on #3210
Note that this does not only apply to globally installed packages, but also local ones:

Reproduction commands:
[code]

And my result with npx `8.3.1`:

[code]

Note how the second `-v` of `prisma` with the explicit version `3.11.1` asks me if I want to install `prisma@3.11.1`, actually does it, and then runs 3.12.0 anyway.

There is no global `prisma` installed btw:
[code]

[2022-04-06 18:35] lukekarrys commented on #4690
This is a good suggestion! We currently generate all of our config items for each command automatically: https://github.com/npm/cli/blob/latest/lib/commands/install.js#L19 but we only set the config items that are "specific" to the command. It would be easy to add loglevel to the suggested commands, but I'm not sure where to draw the line since it can be applied to every command. You're very welco

[2022-04-06 18:37] kawcher-habib commented on #2123
solved the problem using this command npm install -g npm@latest

Thank you [kapoko](https://github.com/kapoko)

[2022-04-06 18:55] tom-ricci commented on #4680
Aha, my issue does look like a duplicate of this. I would be able to just move my `.npmrc` up to my workspace root if it didn't need to be uploaded to the registry, but I'm using the file to force node and npm to be at least v8 and v16 on users machines, so I believe I need the `.npmrc` in the package's root so it will be pushed to the registry on publish. If I can do the same thing with it in the

[2022-04-06 19:25] janpio commented on #3210
A comment on the severity of this:
We have pipelines that depend on this behavior to use a specific version (vs. what is defined in the project). Upgrading to newer npm/npx partially broke these and made tests fail (good), others silently used the wrong version and produced unexpected and wrong results which unfortunately were not caught by tests (not good at all).

[2022-04-06 19:29] janpio commented on #3667
I think this issue is a duplicate of https://github.com/npm/cli/issues/3210 (also read comments).

[2022-04-06 20:18] lukekarrys commented on #3210
Thanks for the detailed reproduction and re-surfacing this issue @janpio. I've updgraded the severity of this and our team is currently working through all the Priority 1 bugs, so we can get some resolution to this.

[2022-04-07 02:44] yorickshan commented on #2660
any updates

[2022-04-07 02:46] iamweijun commented on #4686
I have the same problem in my Jenkins task, it's ok for the first time, but failure in the second time.

[2022-04-07 03:23] ljharb commented on #2660
@yorickshan if there were, they’d be posted on the issue. Asking if there’s updates is spam.

[2022-04-07 03:37] dPowNextdoor commented on #2660
Or it's a reminder/signal to the team that this type of update is important to users. As the old adage goes, "the squeaky wheel gets the oil."

[2022-04-07 04:23] ljharb commented on #2660
@dPowNextdoor that's what emoji reactions on the OP are for. Speaking as a package maintainer (not of npm, ofc), creating notification noise for everyone subscribed to this issue will literally never accelerate the speed of a fix.

[2022-04-07 09:16] Drilmo commented on #2918
This probleme is still present in 8.5.5 :

To reproduce, on private repo, create package with scope like "@foo/bar" in version 1.0.0.

On a server that has never installed this package, try using the command "npm pack @foo/bar@1.0.0"

A 404 error occurs.

However, if you do "npm i @foo/bar@1.0.0" it works without error.

Then delete the node_modules directory, test the "npm pack @foo/bar@1.0.0" co

[2022-04-07 09:34] Drilmo opened #4708 "[BUG] npm pack fails for scoped package from private registry when it's not in the cache"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Since version 7.x if the scoped package is not present in the cache the command "npm pack @foo/bar@baz" returns a 404 error.

Refer to this issue : #2918

### Expected Behavior

The command "npm pack @foo/bar@ba

[2022-04-07 09:39] selvathiruarul commented on #4665
Also tried with npm 8.6.0, still the same issue. Any ideas to identify the issue would be appreciated. Thanks

[2022-04-07 12:39] Exelord commented on #4232
I am on NPM 8.6 and still the same issue. The issue seams not fixed

[2022-04-07 13:35] ricardobeat commented on #2701
Can anyone provide more context on what just happened here? The `ci` command was introduced as

If `ci` installs directly from a lockfile, why is the extra validation step in 457e0ae61bbc55846f5af44afa4066921923490f necessary?

[2022-04-07 13:42] ljharb commented on #2701
@ricardobeat the lockfile is only reliable if it satisfies the package.json; it's a bug that that validation was ever omitted imo.

[2022-04-07 15:34] MylesBorins commented on #4247
These should be fixed now, PTAL

[2022-04-07 15:34] #4247 closed, assigned to nobody

[2022-04-07 18:46] smashah commented on #4247
Exciting! Can't wait to try it out

[2022-04-07 19:04] doonv commented on #3018
**SEE BELOW** | This happened to me too. Is there a way around this?

EDIT: I forgot to install the node modules by doing `npm i`. I'm stupid lol

[2022-04-07 19:40] philblckwd commented on #4331
Upgraded to v8.6.0 but this still appears to be an issue for me?

[2022-04-07 21:16] klaframboise commented on #4687
I had setup a quick example and was going to create an issue, but I'll share here instead in case more examples are helpful. [Example repo](https://github.com/klaframboise/npm-overrides)

All the overridden dependencies have vulnerabilities in the versions used by `node-heap-gc-cloudwatch`. After install, the audit passes for `aws-sdk` and `merge`, but not for `ini`, `minimist` or `tar`.

[2022-04-07 22:48] nlf commented on #4687
i was able to reproduced this, and i believe #4709 fixes the last of these bugs.

i would note, however, that the `dependencies` field of the package that requires the overridden package will never be overwritten. the package itself, however, should reflect the actually installed version. the relevant bit of the lock file from the original issue here:

[code]

[2022-04-07 22:57] nlf commented on #4687
this is a different issue. the `ini`, `minimist`, and `tar` packages in your tree are all being brought in by `node-pre-gyp`. the problem is `gc-stats` defines `node-pre-gyp` as a bundled dependency, which means its dependencies _also_ get included in the bundle. because of this, the vulnerable versions of those dependencies are already present. we don't currently allow overriding of bundled depen

[2022-04-07 23:03] nlf commented on #4684
i fixed this as part of #4709 and did a bunch of manual testing to make sure the package-lock.json stays correctly in sync. it does now, and the fix will be released next week. it was the same root cause as your other issue #4687 so i'm going to go ahead and close this one as a duplicate

[2022-04-07 23:03] #4684 closed, assigned to nobody

[2022-04-07 23:05] nlf commented on #4673
as mentioned, this was a deliberate and documented breaking change in npm v7. we have no plans to restore the old behavior, so i'm closing this issue.

[2022-04-07 23:05] #4673 closed, assigned to nobody

[2022-04-07 23:11] nlf commented on #4671
looks like you had a lot of requests failing and retrying.. unfortunately when this happens there isn't really much we can do. you could try running `npm install --fetch-retries=0` which will prevent requests from being attempted more than once, but is far more likely to just fail and exit with an error on a flaky network, which may lead you to having to run the command more than once.

if you can

[2022-04-07 23:11] #4671 closed, assigned to nobody

[2022-04-07 23:18] nlf commented on #4664
correct.

the root cause of this is that the package tree as described in your `package-lock.json` is invalid. previously, we did no validation and simply installed what your `package-lock.json` told us to install. doing this, however, was very bad as it produced broken or otherwise incorrect trees (i.e. overrides not being applied, changes from the package.json not being detected, etc).

we added

[2022-04-07 23:45] nlf commented on #4668
this is an operating system problem. possibly a disk error on a sector where npm itself, or one of its dependencies, is stored. there's nothing we can do about this, especially seeing as the issue occurs within node's require mechanisms and not in npm. i'd try reinstalling npm, and if that doesn't work you might want to look into some tools to scan your disk's health.

[2022-04-07 23:45] #4668 closed, assigned to nobody

[2022-04-07 23:48] nlf commented on #4665
all the logs above tell us is that the process spawned by `npm start` exited with a code of `1` which indicates an error. this isn't a bug in npm itself, and i strongly suspect if you were to run the content of your start script manually you'd see the same crash and exit.

if you're able to reproduce this in such a way that clearly shows it's a problem introduced by npm and not a problem with your

[2022-04-07 23:48] #4665 closed, assigned to nobody

[2022-04-07 23:50] nlf commented on #4663
`npm_config_argv` was one of the things that was intentionally removed in npm v7. we no longer export the arguments that were provided to npm itself in an environment variable anywhere, and at this time we do not plan to.

i'm curious, what's your use case? it's possible there are other ways to get the data you're looking for, but i'd have to know exactly what you're trying to get from it.

[2022-04-07 23:52] nlf commented on #4653
we would need a lot more information to help you figure out what's going on here. please open a new issue and be sure to fill out our issue template as thoroughly as you can. specifically we really must have step by step instructions to recreate the problem that you're seeing. without having the full picture, there's not really anything we can do for you.

[2022-04-07 23:52] #4653 closed, assigned to nobody

[2022-04-07 23:59] nlf commented on #4660
this issue you're describing is not the same as the original one, and i think #4664 will help you out

[2022-04-08 00:00] nlf commented on #4660
this is an interesting one. can you reproduce this in a public repository you can share with us? the validation steps that have brought to light issues with `npm ci` for other folks weren't introduced until npm@8.6.0 while you're on 8.5.0.

[2022-04-08 00:14] nlf commented on #4652
if all of you who are experiencing this error are proxy users, then i have a good idea of what's going on.

is anyone seeing this _not_ using a proxy?

[2022-04-08 05:22] hanzlamateen commented on #4652
I am not using any proxy

[2022-04-08 06:54] dcavusoglu commented on #4096
Did you find a solution? As you suggest, i removed one of them using rm -rf /..... now, when I want to install another package it gives the same error with another path.

[2022-04-08 08:50] jklingen commented on #4687
Thanks a lot for looking into this

so that means that my expectation was wrong and everything works as designed - as far as I am concerned we can close this bug then.

[2022-04-08 09:04] leschdom commented on #4687
Just to add to the discussion what we noticed is that `npm audit` still reports vulnerable versions, which are explicitly stated in the `overrides` section (e.g. `trim@0.0.1` while we use `overrides` with `"trim": "0.0.3"`) - that wasn't the case before. Not sure if it relates to the issue mentioned in the description.

[2022-04-08 11:56] aaronadamsCA commented on #2701
The docs have always been clear too:

[2022-04-08 11:57] ckirbybigdog commented on #2701
Oh OK I apologize my bad

On Fri, Apr 8, 2022 at 4:56 AM Aaron Adams ***@***.***> wrote:

[2022-04-08 12:27] saghul commented on #4031
The metro bundler, used by default in React Native cannot deal with symlinks, so a way to opt out of creating them when doing `npm install` would be very welcome.

[2022-04-08 12:34] dominykas commented on #2701
This was meant to be fixed in 8.4.1, if I'm following the tags correctly, but I can still `npm ci` and it will happily install things even if `package.json` disagrees? Can someone please confirm this?

I'm also wondering about the correct behavior with deep dependencies - should there be a failure if the shrinkwrap overrides what's in their parent's `package.json`?

[2022-04-08 12:52] vikas-t commented on #4672
Yep, seems fine.

[2022-04-08 12:52] #4672 closed, assigned to nobody

[2022-04-08 13:48] MoltenCoffee commented on #4664
In our case this broke our production builds.
I think a transition with a warning in the CLI, possibly referring to the `overrides` option would have been more developer friendly, followed by a change in a major release, as it's not backwards compatible.

I'd say this defeats the purpose of lockfiles. The only viable way to generate lockfiles is by using a package manager, which we can expect to m

[2022-04-08 14:02] ckirbybigdog commented on #4664
OK I get it it was me that caused problems right it’s understandable I know
nothing about computers not a freaking thing I’m sorry I do apologize guys
I really am but if there is somebody personally here with me show me how to
do things you know will probably be a different story and two I need a
laptop and three I need an Internet I have none of the above just my cell
phone that’s it

On Fri, Apr

[2022-04-08 14:37] mertyildiran commented on #4219
Some servers might be blocked in your country or by your ISP. Try using VPN.

[2022-04-08 15:16] MarkKharitonov opened #4712 "cb() never called, easily reproducible with v6.14.16"
Our setup is the following:

1. Build server in Azure
2. Azure DevOps server **on prem** with Azure Artifacts (AA for short) repository serving node packages.

We have many njsproj projects, but there is one where it is relatively easy to reproduce the problem. Most of the packages are from npmjs.org, but there are some internal. In either case we specify AA as our repository, because npmjs.org is

[2022-04-08 15:18] ckirbybigdog commented on #4712
OK I can see that this is like homework go to study for I’ll do my best

On Fri, Apr 8, 2022 at 8:16 AM MarkKharitonov ***@***.***>
wrote:

[2022-04-08 15:19] MarkKharitonov commented on #4712
@ckirbybigdog - I can save you time if you are in a position to zoom.

[2022-04-08 15:49] ljharb commented on #4712
npm 6cis basically EOL, so trying with npm 8 latest (8.3 is pretty old too) is probably your best bet.

[2022-04-08 15:52] MarkKharitonov commented on #4712
@ljharb - npm8.3 is very slow. The workload that takes about 110s with npm 6.14.16 takes 5m with npm 8.3. And it is a known thing - https://github.com/npm/cli/issues/2011 The workaround of creating an empty node_modules does not help. We cannot upgrade to npm@8 given the current state of affairs. The `cb() never called` problem is annoying, but we can mitigate it through retries. We have no mitiga

[2022-04-08 16:01] ljharb commented on #4712
Have you tried the latest version, v8.6?

I was just trying to set your expectations; problems with "not npm 8 latest" are pretty unlikely to be fixed.

[2022-04-08 16:13] MarkKharitonov commented on #4712
As I have explained, we cannot use versions above 8.3 because apparently they depend on newer node version. We tried, but got the error described in https://stackoverflow.com/questions/70958371/unexpected-token-when-trying-to-run-npm-install

[2022-04-08 16:18] ljharb commented on #4712
What node version are you using? npm 8 works on every node version that's not EOL, and if you're using an EOL node you've got security vulnerabilities and should be dropping everything in order to work on updating that :-)

[2022-04-08 16:18] eliza3291 commented on #4232
As mentioned by @Exelord this issue is not fixed.

[2022-04-08 16:22] MarkKharitonov commented on #4712
We currently use node 14.19.1

[2022-04-08 16:24] MarkKharitonov commented on #4712
However, judging by the fact that https://github.com/npm/cli/issues/2011 is still open it seems that npm 8.6 has the same performance degradation issue as 8.3.

[2022-04-08 16:25] ljharb commented on #4712
Maybe so, but npm 8 still works fine on node 14, and if your choice is "fast and wrong" or "slow and correct", i'd hope you choose the latter ¯\\\_(ツ)\_/¯

[2022-04-08 16:30] nigams commented on #4652
I have not seen this issue even once when not using a proxy.

By not using a proxy I mean, "proxy" and "https-proxy" are not set in the npm config, and importantly, HTTP_PROXY/HTTPS_PROXY/http_proxy/https_proxy variables are not set in the system environment.