[2022-04-08 16:35] MarkKharitonov commented on #4712
So our experience is in line with what is described in https://stackoverflow.com/questions/70958371/unexpected-token-when-trying-to-run-npm-install - npm above 8.3 **does not** work on node 14. We have exactly the same error.

It is not fast and wrong. When it fails, it has to be restarted. It does not produce wrong results. It is annoying and requires extra code from us to deal with the error. Ho

[2022-04-08 16:37] ljharb commented on #4712
The [reported issue](https://github.com/npm/cli/issues/4234) there is a problem with nvm-windows. Is that what you're using?

[2022-04-08 16:49] siluski commented on #3374
Good afternoon all, this still seems to persist as an issue. Myself and others still seem to be running into this problem, as you can see here in a question posed just a week ago : https://answers.sap.com/questions/13610872/how-to-resolve-this-npm-err-cannot-read-property-p.html. I'm currently trying to fix dependency issues in my package.json in a CAP application, and when I attempt to do so I en

[2022-04-08 16:57] MarkKharitonov commented on #4712
Not at all. I do not even know what nvm-windows is. Maybe my methodology was wrong:

1. Cloned npm cli repo
2. Switched to v8.6
3. Edited bin\npm.cmd to use the npm-cli.js found in the same directory.
4. npm cache clean --force
5. git clean -qdfx
6. npm ci

I did that this way because I have already had the repo cloned since I have tried to debug npm in order to figure out the issue (in vain)

Any

[2022-04-08 17:00] K0IN commented on #4219
This happens for me in github actions, I can't believe that they are blocked by any ISP. @mertyildiran

[2022-04-08 17:07] ljharb commented on #4712
Steps 1-3 are not typical. To use a newer npm, you `npm install -g npm`.

[2022-04-08 17:08] leoNavarro95 commented on #4028
Thanks a lot to mention the `git bash terminal` solution this save me. I am also ran into this problem that the npm get stuck forever while running on the Windows 10 powershell. So I just ran the `npm install` in git bash and solved inmediately without any issue.

Now, I wonder why this happens. Please, if anyone knows, I would greatly appreciate it the explanation.

[2022-04-08 17:19] MarkKharitonov commented on #4712
Yeah, I suspected it could be a problem. You are right, upgrading properly does not produce an issue.
But the performance degradation is still there. Twice slower.

[2022-04-08 17:22] mertyildiran commented on #4219
@K0IN in my case VPN solved the issue on my machine. It could be an address resolution issue as well. I'm not sure about GitHub Actions but I agree that it shouldn't be a blocked IP or domain issue in case of any CI provider. I just recommended trying VPN.

[2022-04-08 19:32] dbjorge commented on #4232
@Exelord and @eliza3291, can you give more specific repro steps (including exact Node and npm versions) for the case(s) you are seeing as still reproing? I just followed the exact steps I originally posted in [this comment](https://github.com/npm/cli/issues/4232#issuecomment-1034240038) against Node 16.14.2 / npm 8.6.0 and was *not* able to repro the issue anymore (ie, it appears fixed).

[2022-04-08 20:06] mdesousa opened #4713 "[BUG] Infinite loop running script with --workspaces option"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

We have a workspace configured 2 levels deep as follows:
[code]
The root package.json has a script `npm run build --workspaces` to build all workspaces.
The package.json under `b` also has a script `npm run buil

[2022-04-08 22:33] solimant commented on #4232
@darcyclarke - this is, unfortunately, not yet fixed as of 8.6.0. Initial `npm install` seems to honor the overrides, but any subsequent `npm install` will ignore and undo the fruits that were reaped the first time (please don't judge me for being on Next.js v10):
[code]

`package.json`:
[code]

`package-lock.json`:
[code]

CC: @nlf

[2022-04-08 23:51] jirutka commented on #780
@darcyclarke, why did you close this issue? It’s still not fixed.

[2022-04-08 23:53] ckirbybigdog commented on #780
I didn’t close anything I don’t know what you talking about I haven’t been
on there all day I’ve been busy I’ll be home in like 45 minutes to an hour

On Fri, Apr 8, 2022 at 4:51 PM Jakub Jirutka ***@***.***>
wrote:

[2022-04-09 09:49] ingsha09 opened #4717 "It says there's an issue with the npm itself. It's not installing and when i installed the module 1 by 1 again the file does not open due to some error"
[2022-04-09T09_42_38_157Z-debug-0.log](https://github.com/npm/cli/files/8456649/2022-04-09T09_42_38_157Z-debug-0.log)

[2022-04-09 16:11] lake2 opened #4718 "[BUG] peer dependency not auto install in workspace"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

1. git clone https://github.com/lake2/npm_bug
2. cd ./npm_bug/b
3. npm i
4. antd is not be auto installed in b/node_modules

see https

[2022-04-09 16:12] ljharb commented on #4718
Can you try npm v8.6?

[2022-04-09 16:15] lake2 commented on #4718
I try npm v8.6, problem still exists.

[2022-04-09 18:27] RHYTHMHACKER opened #4719 "NPM BUG"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I tried npm install
To install a File but
It is showing

npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metad

[2022-04-09 20:11] Lagicrus opened #4720 "[BUG] npm I fails due to IP address being used to connect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When I run `npm i` after getting the packages it then spits out
[code]
- I am not using the `192.168.3.X` subnet
- No Proxy was set
- No Proxy is in use
I have thus far 0 ideas how to fix or find where it is pul

[2022-04-09 20:38] Exelord commented on #4232
@dbjorge I am following the exact steps as in the initial issue description and still getting the same result.

[2022-04-09 21:32] bnb commented on #4600
I just ran into `npm doctor` not supporting workspaces. Hilariously, I tried running it to see if it'd be able to help me figure out why one of my workspaces isn't working despite all my configuration being *apparently* correct.

[2022-04-09 23:54] 54keesh commented on #4712
This issue of cb never called occured for me too on npm 7.4.0 as well

[2022-04-10 03:06] #3181 closed, assigned to lukekarrys

[2022-04-10 07:10] lukekarrys commented on #4720
Can you share the package.json and/or debug log from your install?

[2022-04-10 07:11] lukekarrys commented on #4719
Can you share the package.json you are installing? And if you fill out the environment section of the issue template it will help us try and reproduce your issue more easily.

[2022-04-10 07:17] RHYTHMHACKER commented on #4719
This is the package that I am trying to use

On Sun, 10 Apr, 2022, 12:42 pm Luke Karrys, ***@***.***>
wrote:

[2022-04-10 07:24] lukekarrys commented on #4717
**Closing:** please use our [issue template](https://github.com/npm/cli/issues/new/choose) & review our [contributing guidelines](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#reporting-bugs).

[2022-04-10 07:24] #4717 closed, assigned to nobody

[2022-04-10 07:27] lukekarrys commented on #4718
Closing as a duplicate of #2650.

[2022-04-10 07:27] #4718 closed, assigned to nobody

[2022-04-10 07:32] lukekarrys commented on #4713
Closing as a duplicate of #4518.

[2022-04-10 07:32] #4713 closed, assigned to nobody

[2022-04-10 08:35] #3828 closed, assigned to nobody

[2022-04-10 08:48] lukekarrys commented on #4311
One suggestion to figure this out after I failed install is to look in the debug log. When I installed the package.json above I had this line in there:

[code]

That is not to say the error message shouldn't be improved, it definitely should. If https://github.com/npm/rfcs/issues/523 is implemented I even think a good first step would be to have it say to run `npm explain electron`.

**Action Item

[2022-04-10 10:19] Lagicrus commented on #4720
https://starb.in/A67y9U.json - package.json
https://starb.in/UljlON.log - debug log @lukekarrys

[2022-04-10 13:21] mdesousa commented on #4518
Just wanted to add that this confused me as well. We had nested workspaces working in 8.3 and suddenly got this infinite loop in 8.4. I'd like to recommend that at minimum, the npm workspaces page should explicitly clarify that nested workspaces are not supported so other people don't run into this.
Otherwise, workspaces have been a very useful feature for us... thanks for all the hard work.

[2022-04-10 17:18] lukekarrys commented on #4720
Thanks @lagicrus. One more thing, is the output from `npm config ls` in your first comment run from your project directory? It says `cwd = E:\GitHub\project` which makes me think it is not. Can you navigate to the directory containing the `package.json` and run `npm config ls` again and paste that output?

[2022-04-10 18:02] lukekarrys commented on #4720
I'm not able to reproduce this so far with the information I have.

**`npm config ls`**
[code]

I'm setting some config items to make getting logs easier and ensuring an empty cache to force the `tarball no local data for` code path.

And here are the resulting logs: [2022-04-10T17_38_40_769Z-debug-0.log](https://github.com/npm/cli/files/8459587/2022-04-10T17_38_40_769Z-debug-0.log)

I suspect the

[2022-04-10 19:01] lukekarrys commented on #4351
Closing as duplicate of #4680

[2022-04-10 19:01] #4351 closed, assigned to nobody

[2022-04-10 19:11] lukekarrys commented on #4719
@RHYTHMHACKER there was nothing linked in your previous comment? can you paste the `package.json` and/or upload the `debug.log` linked at the bottom of the error output?

[2022-04-10 19:14] lukekarrys commented on #4712
We no longer support bug fixes in the v6 release line. If you (or anyone else) is having the `cb never called` issue on v8 please open a new issue so we can triage there.

As for the performance of npm v8 there are some [`open issues related to performance`](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Aperf) that we are tracking. If you feel like this is a performance issue not

[2022-04-10 19:14] #4712 closed, assigned to nobody

[2022-04-10 19:50] lukekarrys commented on #4724
From the RFC meeting on 2/23 the next steps are to implement the following:

- [x] all log output go to stderr (this is how it is currently)
- [x] all non-recoverable error output go to stderr
- [x] recoverable error output (such as registry 404, ERESOLVE, etc) should return on stdout in all output modes, but should be guaranteed to be parseable json in json mode

[2022-04-10 19:50] 54keesh commented on #4712
I didn't encounter it in v6 rather in v7

[2022-04-10 20:03] lukekarrys commented on #4712
We also don't support bug fixes in the v7 release line. v8 is currently our only supported release line (outside of urgent security patches).

[2022-04-10 20:19] lukekarrys commented on #4612
Can you try updating to npm 8? npm 5 and 6 are both unsupported. If you're able to reproduce on npm 8 please reopen this issue and we can investigate further.

[2022-04-10 20:19] #4612 closed, assigned to nobody

[2022-04-10 20:55] Lagicrus commented on #4720
[code]

[2022-04-10 22:47] lukekarrys commented on #780
Reopening as I've confirmed this is still the current behavior.

[2022-04-11 05:26] lukekarrys commented on #4720
Thanks for the follow-up. I see that you were originally in the correct directory, so nothing has changed. I'm attempting to reproduce on macOS so it's possible something platform specific is happening which I should be able to test on later. But for now I don't know why this would be happening. 🤔

[2022-04-11 05:42] lukekarrys commented on #3971
I agree that this is confusing wording but I think this is only a documentation issue.

In the docs you quoted, "lockfile version" is talking about the actual contents of the lockfile. In your example you can see the difference here:

[code]

The hidden lockfile is a "version 3 lockfile" because it lacks the `dependencies` array that exists for backwards compatibility.

But `lockfileVersion: 2` is

[2022-04-11 05:54] lukekarrys commented on #4686
I'm not able to reproduce this with a fresh automation token. I tried several publishes and confirmed it was using the automation token from my npmrc since it stopped prompting for 2fa when that npmrc file was in place. My next hunch is that this is some sort of registry issue, only because of the lack of evidence I could find that it might be a cli issue.

Registry issues are outside the scope of

[2022-04-11 06:00] melink14 opened #4727 "[BUG] Fresh npm install abides by overrides but subsequent installs revert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

1. Doing an `npm i` with new overrides does not completely override all dependencies. It seems deeper dependencies are more likely to not be updated.
2. Deleting package-locka and node_modules then running `npm

[2022-04-11 06:01] melink14 commented on #4727
See https://github.com/npm/cli/issues/4232#issuecomment-1093424647 for separate report of this issue on old bug.

[2022-04-11 06:01] melink14 commented on #4232
Some parts of this bug seem slightly different so opened new more specific bug at: https://github.com/npm/cli/issues/4727

[2022-04-11 06:02] melink14 commented on #4727
I'm hoping this is also fixed by https://github.com/npm/cli/pull/4709 but the other bugs referenced by that don't really talk about this exact behavior so I wanted to open it specifically.

I do note that the out of sync error after `npm ci` is the same so that is at least a good sign.

[2022-04-11 07:17] WangHansen commented on #2546
Is it possible to keep the origin behavior with a flag like `--ignore-workspace`?

Consider the following case where I have a mono repo with few packages `A`, `B` and `C`, but one of the package(package `C`) is self-contained which means it doesn't depend on other packages (`A` or `B`).

Currently to build this package `C`, I need to install all the dependencies at the monorepo root level and then

[2022-04-11 07:51] secondfry commented on #3971
@lukekarrys

How is that a documentation issue if you yourself point to differences in those files and formats they use?
Do you really expect others to test `package-lock.json` for length of `dependencies` field to determine file format instead of checking literal number of `lockfileVersion`? It undermines existence of `lockfileVersion` entirely.

I'm pretty sure that package-lock should contain `

[2022-04-11 08:04] flying-sheep commented on #3828
Hi @lukekarrys why did you close this?

[2022-04-11 09:46] haskelcurry commented on #3666
Hi, any updates on this?

[2022-04-11 10:00] Domiii commented on #4477
I opted to downgrade to [node@16.13.1](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V16.md#16.13.1). That version still works, and it also comes with `npm@8.1.2` which fixes issues `npm` had with `yalc` ([as documented here](https://github.com/wclr/yalc/issues/187)).

(PS: I personally recommend using `volta` which allows for a workaround for this bug in a single line: `volt

[2022-04-11 13:36] ljharb commented on #4477
You don’t need to change your node version, and shouldn’t. You can `npm install -g npm@whatever` instead.

[2022-04-11 14:58] zdnk opened #4729 "[BUG] Can't run install due to python issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

gyp ERR! configure error
gyp ERR! stack Error: Command failed: /opt/homebrew/bin/python3 -c import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! stack   File "<string>", line 1
gyp ERR! stack     import

[2022-04-11 16:26] nlf commented on #3910
i'm unable to reproduce this. using your command as-is, i get an error that reads:

[code]

but this is because the `esm` branch does not exist in your repository any more. dropping it and installing the main branch does not show the error for me. are you still able to reproduce this?

[2022-04-11 16:29] nlf commented on #3573
are you folks still able to reproduce this? we've made some changes to how `publishConfig` is handled a few times since the last reported versions in use in this thread. if this is still happening, though, i'll look into it.

[2022-04-11 16:36] nlf commented on #3668
#4643 fixes this issue /cc @ruyadorno

[2022-04-11 16:42] ravermeister commented on #3573
for me it is still broken using node:17 or node:latest from dockerhub. below is the gitlab pipeline job I'm using:
[code]

[2022-04-11 16:44] nlf commented on #3573
can you try updating your npm in one of those containers to see if that resolves the issue? the latest version shipped bundled with node is a few versions behind our latest release

[2022-04-11 16:44] JeffJacobson commented on #4664
In the issue title "previosly" is misspelled and should be "previously".

[2022-04-11 16:46] ravermeister commented on #3573
sure, what should i run `npm update` before doing `npm publish` ?

[2022-04-11 16:47] nlf commented on #3573
`npm i -g npm`, you may need `sudo` if your container doesn't run as root

[2022-04-11 16:52] ravermeister commented on #3573
still same error...
[code]

[2022-04-11 17:18] VsevolodGolovanov commented on #4477
Though WebStorm would still use the old npm from the Node.js installation by default, so you'd need to change it in Project settings (Languages & Frameworks | Node.js).

[2022-04-11 17:26] lukekarrys commented on #4685
@hardillb Does you latest update mean this is no longer an issue for you? I'm wondering if we could surface this better in the terminal logging. Something like `info No --tag=beta found for @test/bar@^0.3.0`

[2022-04-11 17:26] lukekarrys commented on #4685
Thanks @hardillb! I had that comment typed up yesterday and just sent it from a stale version of this page

[2022-04-11 17:38] hardillb commented on #4685
@lukekarrys I closed it because I now understood the current behaviour.

It doesn't appear possible to have multiple versions with the same tag e.g. both v0.3.0@beta and v0.4.0@beta? Which makes me think that a tag should override the version, but I can see changing the current behaviour is likely to be way more problematic.

Anyway... and yes some better logging would be nice (as always ;-))

[2022-04-11 17:39] lukekarrys commented on #3828
Sorry I forgot to comment. Security issues should be handled through our security disclosure policy: https://github.com/npm/cli/security/policy

[2022-04-11 17:43] lukekarrys commented on #4686
If you're affected by this issue, the best avenue is to file a support request at https://www.npmjs.com/support where we can take action specific to your user account to see what's going on. I'm going to close this for now since it might not be a cli issue, but please reopen if you don't think that's the case.

[2022-04-11 17:43] #4686 closed, assigned to nobody

[2022-04-11 17:45] lukekarrys commented on #4615
**Closing** due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-04-11 17:45] #4615 closed, assigned to nobody

[2022-04-11 17:47] mshima commented on #3910
@nlf just realized that my problem was related to husky requiring `"prepare": "husky install"` script.
`prepare` is not exclusive to dev and `husky` is a dev dependency.
So prod install was broken. `npm install -g jhipster/generator-jhipster-ionic` is working after removing the `prepare` script.

Thanks.

[2022-04-11 18:10] ljharb commented on #4477
It shouldn't be able to, because the old npm is *erased* by `npm install -g npm` and replaced with the new one.

[2022-04-11 18:29] VsevolodGolovanov commented on #4477
@ljharb, note how `npm install -g` doesn't ask for elevated privileges. It won't be able to modify C:\Program Files\nodejs\node_modules\npm even if it tried. It installs into %APPDATA% instead.

[2022-04-11 18:30] ljharb commented on #4477
@VsevolodGolovanov at least on a linux system, that would fail without `sudo`. Perhaps there's an npm bug on windows - `npm install -g` should either replace the erstwhile `npm`, or it should fail.

[2022-04-11 18:52] Domiii commented on #4477
@ljharb `npm install -g npm@...` is only one possible option, and (in my experience) it won't always achieve the goal, depending on who manages which of your node/npm installations.

Of course I don't want to claim I know it all. Maybe I'm wrong about this, but it has been my experience in the past that you can have multiple `node` and `npm` versions, not be aware of that, and because of that end

[2022-04-11 18:52] Domiii commented on #4477
To get back to the matter at hand, can you re-open the issue until this is all fixed?

Currently I have to downgrade `npm` to `8.1.2` (or node to [16.13.1](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V16.md#16.13.1)) to workaround this for now. (This is also necessary to make yalc work again (https://github.com/wclr/yalc/issues/187).)

[2022-04-11 19:04] lukekarrys commented on #4685
I agree on changing the default, but we at least want to make it less surprising when it doesn't work. I'm reopening to revisit the logging/documentation around this:

- [ ] `npm install --tag` should not silently pick a different tag

[2022-04-11 19:41] lukekarrys commented on #4729
Can you post the package.json or full command you are using to install?

[2022-04-11 20:22] AleksandarSavic95 commented on #4096
After removing individual packages form `node_modules`, I ended up removing the whole `node_modules` folder (but not deleting `package-lock.json`), and got the issue fixed.. running `npm install` completed without errors 🤷

[2022-04-11 22:07] trusktr opened #4732 "[BUG 8.6] overrides field not working, not updating after npm install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

Related: https://github.com/npm/cli/issues/4232
Possible dupe of: https://github.com/npm/cli/issues/4727

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I put this in my `package.json`:

[code]

however after `rm -rf node_modules && npm install` I see this:

[2022-04-11 22:10] trusktr commented on #4732
Added a reproduction

[2022-04-11 22:16] trusktr commented on #4232
Still not fixed, and I may have reported a duplicate of #4727

[2022-04-11 22:17] trusktr commented on #4732
I can confirm as in #4727 that `rm -rf node_modules package-lock.json && npm install` does the trick (needed to also delete the lock file).

But unlike the title of https://github.com/npm/cli/issues/4727, subsequent `npm installs` continue to work after originally deleting package-lock.

In the above reproduction, then proceed to run these lines:

[code]

[2022-04-11 22:26] patcon commented on #4460
Note that there's another layer here, where:
1. one can intentionally break the integrity hash [EDIT: or substitute a non-corrupt hash in place], then
2. run `npm ci`, and
3. npm happily installs all the files, even though the integrity hashes are present, and not even properly-formed [EDIT: or not properly matching files on disk]

This whole area is a real surprise. What is the point of these hal

[2022-04-11 22:28] ljharb commented on #4460
@patcon to be clear, if you do intentionally break the hash such that it no longer matches the package being installed, i would definitely expect `npm install` *and* `npm ci` to fail, loudly. If, however, you *remove* the hash, I would expect `npm install` to correct that, and `npm ci` to install anyways.

[2022-04-11 22:29] patcon commented on #4460
Ah ok, so maybe this is another issue. Sorry to conflate. `npm ci` on v8.3.0 definitely installs without complaint with a broken integrity hash (at least on my machine). I'll try to make a minimal reproduction. (I'm using npm workspaces, and maybe that's complicating things)

[2022-04-11 22:39] patcon commented on #4460
In case helpful, sharing our encounter here: https://github.com/GCTC-NTGC/gc-digital-talent/pull/2414#issuecomment-1095659059

Can you confirm that the Alt Reproduction described there is unexpected for NPM v8.3.0? If so, should this be a new issue, or can we continue discussing here? Thanks!

[2022-04-11 22:40] ljharb commented on #4460
@patcon can you reproduce it with npm v8.6? testing in "not the latest" npm doesn't necessarily help :-)

[2022-04-11 22:42] patcon commented on #4460
~~heh sorry, just contributing here from an in-use repo (we're stuck at 8.3.0 I recall), but i'll try HEAD later. Wasn't seeing an issue anywhere, so thought I'd raise it sooner. But I'll go off our critical path and do a reproduction once I address it for us. Thanks again @ljharb! 🙌~~

~~EDIT: I did bring this up with GitHub Security last month via email channels, and was kinda hinted that they w

[2022-04-11 22:52] patcon commented on #4460
ok, finito. (Ha!)

node 14.18.1 (stuck on this)
npm 8.6.0
using npm workspaces

both scenarios still hold -- both malformed integrity hashes and well-formed but unmatching hashes run without failure in `npm ci`

[2022-04-11 23:15] trusktr commented on #4732
To be honest, I always wished `npm install` fully respected `package-lock.json` (similar to what `npm ci` does), and that `npm install` would never every update things unless an extra flag was passed, f.e. `npm install --update`.

That would be **_so much more intuitive_**.

[2022-04-12 01:03] lukekarrys commented on #4681
Thanks for the report! I've tracked this down and figured out we were erroneously filtering out some advisories. This should be fixed in this week's release.

[2022-04-12 01:27] lukekarrys commented on #4680
What you are doing is perfectly valid to get the `.npmrc` file to the registry. As a side note, I think you need to explicitly opt-in to publishing this file (such as adding it to `package.json#files`).

The bug is (I think) that when a `warning` or `error` log message comes before the timing info then it sticks in the terminal when it shouldn't. Since I've confirmed this is the same as #4527, I'm

[2022-04-12 01:27] #4680 closed, assigned to lukekarrys

[2022-04-12 02:17] pfcstyle commented on #4686
Thanks @lukekarrys. It's my fault. I searched my email and noticed the tip:

I put the token into `package.json` as a script command.

[2022-04-12 03:04] lukekarrys commented on #3971
The `lockfileVersion` value in all `(.)package-lock.json` files is the config setting used to generate the actual tree. This is valuable for the edge case where the package-lock gets deleted but we are still able to generate a v2 shrinkwrap file if that's what was used originally (https://github.com/npm/cli/issues/3962).

The hidden lockfile is **always** a v3 lockfile regardless of what config se

[2022-04-12 03:11] lukekarrys commented on #4686
[The system works!](https://github.blog/2021-06-08-securing-open-source-supply-chain-scanning-package-registry-credentials/) 😄

[2022-04-12 03:45] Amdian commented on #3528
hello, I find it is empty when I click

[2022-04-12 06:58] Nikkolast88 opened #4736 "show more relevant error message for 403s during publish"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm ERR! code E403
npm ERR! 403 403 Forbidden - PUT https://registry.npmjs.org/@pole%2ficons-vue - Forbidden
npm ERR! 403 In most cases, you or one of your dependencies are requesting
npm ERR! 403 a package vers

[2022-04-12 08:50] secondfry commented on #3971
@lukekarrys

Well, currently I can't and if both `package-lock.json` and `node_modules/.package-lock.json` will have same `lockfileVersion`, but different contents I still won't be able to.

Let me explain the situation. I never knew this:

For me `lockfileVersion` was a tool to judge the format of `(.)package-lock.json`, not the tree it generates. This conclusion is also backed by current documen

[2022-04-12 10:04] flying-sheep commented on #3828
This is a well known feature. Apart from this issue, it also causes problems for reproducible builds.

Where do I subscribe to if I want to get notified when npm grows a way to turn this off?

[2022-04-12 11:19] fredludlow commented on #2508
I've been having a similar issue using a self-hosted gitlab instance - upgrading from npm 6.14.8 to 8.1 (also tried 8.6).

Apologies as this is somewhat gitlab specific so maybe off-topic:

In CI, an npmrc file gets built (based on a gitlab supplied template), including a port number in the URL. This was working fine for npm 6.x but, not 8.x. The change that fixed it for me was:

Before:
[code]

A

[2022-04-12 11:42] mohd-akram opened #4737 "[BUG] uninstalling an optional peer dep doesnt remove it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Uninstalling a package does not remove it from the `node_modules` folder, and does not remove it from package-lock.json.

### Expected Behavior

https://docs.npmjs.com/cli/v8/commands/npm-uninstall

### Steps To

[2022-04-12 12:52] chevsunpower commented on #2784
OMG I just spent three days trying to figure this out. My shop is strict. They will not give me a private npm registry which would have made this far less of a headache. Instead they just install the couple internal library packages we have as git dependencies. The docs for `npm install` say that as long as there is no `prepare` script then dev dependencies will not be installed.

One of our libra

[2022-04-12 12:59] chevsunpower commented on #2784
Honestly, just updating the documentation to include these other script steps as triggers for dev dependency installs would have saved me hours and hours of troubleshooting. I'm sure there are others out there floundering, wondering what they're doing wrong. A way to opt out would be great, but just knowing that the CLI looks for more scripts than just `prepare` would save anyone in mine and OP's

[2022-04-12 14:09] ljharb commented on #4736
https://www.npmjs.com/package/@pole/icons-vue is a private package; you can’t convert it to public one from a publish like that. I believe you have to change it on the site, or perhaps there’s a different command for it.

[2022-04-12 14:11] ljharb commented on #3971
The one inside node_modules is just for npm’s internal use tho; it’s not meant to be parsed by anyone else. You can run `npm install --package-lock-only` and get a lockfile if that’s something you need to ingest.

[2022-04-12 14:16] ljharb commented on #4737
What does `npm explain sqlite3` say? My guess is that it’s there because typeorm needs it.

[2022-04-12 14:26] mohd-akram commented on #4737
[code]

It is an optional peer dependency. I should be able to uninstall it (it is not automatically installed when doing just `npm install typeorm`).

[2022-04-12 14:38] ljharb commented on #4737
Interesting edge case, thanks.

[2022-04-12 15:43] wjaspers commented on #4664
Also seeing this albeit my output shows identical version numbers are supposedly mismatched. This still seems off.

example:

[code]

[2022-04-12 17:05] lukekarrys commented on #3971
That would cause a regression on the issue I linked to above: https://github.com/npm/cli/issues/3962.

I'm not sure I fully understand what you are trying to achieve in those steps, but the `lockfileVersion` of `node_modules/.package-lock.json` should stay in sync after reification:

[code]

It's still a better idea to use an `.npmrc` file because then your setting will persist regardless of what

[2022-04-12 17:22] lukekarrys commented on #4736
You can use the `access` command to turn a private package into a public one:

[code]

It can also be accomplished on the site: https://docs.npmjs.com/changing-package-visibility#making-a-private-package-public

The error message in this case is a generic one we use for all 403s, but it really only makes sense for install. We should detect the command and output a more helpful message in this case

[2022-04-12 17:30] nlf commented on #3910
I'm going to close this issue, if anyone is still experiencing problems like this please open a new issue and provide as much information as you can to help us reproduce the problem you're seeing.

[2022-04-12 17:30] #3910 closed, assigned to nlf

[2022-04-12 17:53] lukekarrys commented on #3828
Can you open a new issue with your steps to reproduce? I'm not able to on the latest `npm@8.6.0` (but I can on `npm@6.14.16`).

[code]

[code]

[2022-04-12 18:04] denik1981 opened #4739 "[BUG] `npm ls --omit=dev` does not omit dev dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm ls --help` does not show `--prod` between the list of options available this command accepts.
It forces me google for it to remember it and `--omit dev` still lists both **prod** and **dev** dependencies to

[2022-04-12 18:05] ljharb commented on #4739
hmm, i'd expect `--only=prod` to be the preferred alias, but that one's not listed either, only `omit` is.

[2022-04-12 18:55] lukekarrys commented on #4739
`only` is deprecated, which I think is why its not listed for `ls` (or any other commands). https://docs.npmjs.com/cli/v8/using-npm/config#only

This definitely seems like a bug. The docs explicitly call out: `When set to prod or production, this is an alias for --omit=dev.` Here's the output that from the cli itself, which directly contradicts that:

[code]

[2022-04-12 19:15] denik1981 commented on #4739
Yes, well I suppose the correct usage is with `--omit dev` as you say if it happens that `--prod` is deprecated.
Thanks for addressing this issue.

[2022-04-12 20:48] lukekarrys commented on #4737
Thanks for the report! I've also confirmed this with the following:

[code]

[2022-04-12 21:10] #3446 closed, assigned to isaacs

[2022-04-13 01:12] aggiehorns commented on #4367
Any solution? I'm experiencing this error across all dev machines.  It's a showstopper.

I'm running all the latest: npm: '8.6.0', node: '17.9.0'

[2022-04-13 06:36] lukekarrys commented on #4660
@Y-LyN-10 If you can share a public repository or reproduction that would be very helpful! Opening a new issue would be best, since it might not be the same issue, and we can look in to it. Thanks!

[2022-04-13 06:42] lukekarrys commented on #4660
@terwort Did the suggestion from https://github.com/npm/cli/issues/4660#issuecomment-1087867134 to use `--legacy-peer-deps` (or to use the same flags locally as you do in azure with `npm ci`) work in your case? We've added some documentation now to highlight this (https://github.com/npm/cli/pull/4666). Please let me know if you're still having issues with this!

[2022-04-13 06:43] lukekarrys commented on #4664
@wjaspers that looks very similar to https://github.com/npm/cli/issues/3666. Does that issue look the same as yours? If not, opening a new issue with reproductions steps would be the best way for us to help.

[2022-04-13 06:46] lukekarrys commented on #4664
If anyone else is having related issues, please open a new issue so we can triage as I think we've gotten to the bottom of this one.

[2022-04-13 06:46] #4664 closed, assigned to nobody

[2022-04-13 06:49] #4554 closed, assigned to nobody

[2022-04-13 07:39] Dionysusnu commented on #4201
To clarify, the hooks can still get created, modified, and all that around it, so the bug still exists.

However, in my testing, the actual hook configured URL was never accessed when the hook should have triggered. That's what I meant by "seemingly disabled on the server side".

[2022-04-13 07:42] alexander233 commented on #3711
Please reopen. Issue persists on NPM v8.5.5. This is a showstopper.

[2022-04-13 08:33] Nikkolast88 commented on #4736
I found out that it was because the organization @pole had the same name, I changed it to @pole-platform to upload

[2022-04-13 08:33] #4736 closed, assigned to nobody

[2022-04-13 11:02] pdqsoftware commented on #4011
Hi guys,
I am having exactly the same problem as mentioned at the top by Noobletbilal.
I'm using Node v7.10.1 and npm 4.2.0.
I get the error when I try to install any package, either globally or locally.
I have tried setting strict-ssl to false and using the http and https registry URLS.
My machine is a brand new Windows 10 box.

If I go up to using Node 8.0.0, npm works fine.

Please can someone

[2022-04-13 11:24] ssamsundar commented on #3223
We are still facing this issue with latest version of npm, whether this issue is fixed for npm publish or pack?

[2022-04-13 11:41] SkwalExe commented on #2040
The issue is still there in v8, this needs attention

[2022-04-13 13:50] ljharb commented on #4011
@pdqsoftware both of those are wildly out of date. The oldest node that is supported is node 12 (and in a few weeks, it’ll be 14) and only npm 8 latest is supported.

[2022-04-13 14:29] AndreasA commented on #4664
@lukekarrys https://github.com/npm/cli/issues/3666 is an issue since 7.x I think. This is new with `8.6.0` as mentioned above, the user was able to install everything fine with 8.5.x but since 8.6.0 this error occurs.

not really sure how that could be related to https://github.com/npm/cli/issues/3666 as that ticket is way older?

I just ran into a similar issue with Shopware 6.4.10.0 and their bu

[2022-04-13 14:38] pdqsoftware commented on #4011
Thanks @ljharb.  Don't I know it!  Sadly it is a company project that was going long before my time.  I've talked about getting a newer version of Node in place, but it will be very time consuming to do.  I'm also not sure how I would even start with such an old application.  If you can please give me any ideas on how to do that I will certainly give it a go...

[2022-04-13 15:02] ljharb commented on #4011
@pdqsoftware start on node 8, update all your deps to the latest non-breaking versions; test and deploy. update to node 10, update deps, test and deploy. and repeat, going up to 12, and then 14, and ideally then 16.

[2022-04-13 15:53] PwrSrg commented on #4225
**Confirmed**.  Same issue here in v8.5.2.

[2022-04-13 17:41] peti29 commented on #4663
I also miss that feature.
I would need it in a postbuild script to do some cleanup after the build script was run.

I have an Angular project that has several libs. In the past I specified which lib to build like this:
ng build ngx-mycomponent-a --configuration development

However now in one of our components we need to compile a couple of scss files to stand alone css. We also want to put these

[2022-04-13 21:30] #4317 closed, assigned to lukekarrys

[2022-04-13 21:34] #4681 closed, assigned to nobody

[2022-04-13 22:02] #4739 closed, assigned to nobody

[2022-04-13 22:24] fritzy opened #4746 "Release Manager: v8.7.0 (2022-04-13)"
**Target Version**: v8.7.0
**Target Date**: 2022-04-13
**Created From:** [`` Release-Process.md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process.md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Abug+label%3Arelease-manager).

[code]

-

[2022-04-14 02:03] sciutand commented on #2660
@dPowNextdoor so what can we do? Nothing is happening and this bug is pretty bad. I guess moving to yarn is the fastest solution.

[2022-04-14 06:54] rajugood commented on #4234
faced same issue when i use `node v16.14.2`, and tried `npx create-react-app my-app`

Solved after switching to different version of node.

[2022-04-14 08:42] Roaders opened #4750 "[BUG] postinstall script does not run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

a post install script should run after a package is installed. In npm 8 it does not.

### Expected Behavior

the postinstall script should run

### Steps To Reproduce

create a new package with a `postinstall` s

[2022-04-14 12:59] eddiecorrigall opened #4751 "[BUG] ping github private registry states package [ping] was not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When using the npm ping command to test a GitHub private registry, the command responses with "package [ping] was not found". Used many times before without issue, just not today.

### Expected Behavior

Expecte

[2022-04-14 13:24] eddiecorrigall commented on #4751
Started a discussion with GitHub:
https://github.com/github/feedback/discussions/14943

[2022-04-14 15:46] wraithgar commented on #3838
This appears to have been fixed since this issue was created.  There was a PR that fixed the regression here: https://github.com/npm/cli/pull/3484.

I was able to deprecate and un-deprecate two test packages, one with only one version and one with multiple versions.

`undeprecate` would be a handy command to have, and that is in our [backlog](https://github.com/npm/statusboard/issues/376) of thing

[2022-04-14 15:46] #3838 closed, assigned to wraithgar

[2022-04-14 16:07] wraithgar commented on #4259
@lukekarrys [fixed this](https://github.com/npm/cli/pull/4644)!

[2022-04-14 16:07] #4259 closed, assigned to nobody

[2022-04-14 16:34] lukekarrys commented on #4750
Can you try running install with `--foreground-scripts`. npm 8 hides the output of postinstall scripts by default, but it can be shown with that flag

[2022-04-14 19:04] #4746 closed, assigned to fritzy

[2022-04-14 19:18] eddiecorrigall commented on #4751
Now it works again. Perhaps GitHub fixed this API?

[2022-04-14 21:33] #4751 closed, assigned to nobody

[2022-04-14 21:34] fritzy commented on #4751
**Closing:** this looks to be an issue with the registry which is outside the scope of this repo.

[2022-04-14 23:11] denik1981 commented on #4739
Thanks!

[2022-04-15 07:16] domeq commented on #4664
@lukekarrys This is a new bug as @AndreasA is saying above and IMHO it's a serious one.

Simplest case to reproduce it:
1. Start in an empty directory with NPM 8.5.0 installed.
2. Do `npm i react react-apollo-hooks@0.5.0`.
  `react-apollo-hooks` has `"react": "^16.8.0"` in its peer deps so react 16 gets installed even though there's now react 18 available.

3. Now try updating react: `npm i react@

[2022-04-15 07:57] jpzwarte commented on #3993
We ran into this as well; trailing slash fixed it.

[2022-04-15 09:28] fltenwall opened #4762 "[BUG] .npmrc has no effect on indirect dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

.npmrc has invalid dependencies on dependencies, as shown below

[code]

Private position C 'that indirectly depends on C Settings is invalid

The background of this problem is that I have A project whose direct

[2022-04-15 10:12] AndreasA commented on #4664
There was a similar issue with 8.4.0 as the behavior regarding `npm ci` changed. It suddenly failed ifpackage-lock.json and package.json were not perfectly in synch.

Which I think is good to do and I actually had expected to be the case for quite some time. Hhowever, as it changed the behavior (potential failings CIs) it should not have happened in a minor version.

Any changes that are potential

[2022-04-15 11:44] folknor commented on #3606
@nlf Seems to work now using npm 8.7.0. I think this ticket can be closed.

[2022-04-15 12:42] httpete commented on #3291
This is hitting us as well. It is a pretty lame bug. This effectively blocks cross platform development when using a file:/path locally installable package.

[2022-04-15 13:34] maikelvl opened #4763 "[BUG] npm config set unpacks _auth into username/password"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- relates to #2300

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm config set registry <url>` messed up pre-existing `~/.npmrc` containing _auth

[code]

### Expected Behavior

[code]

### Steps To Reproduce

1. Using the latest official node container i

[2022-04-15 15:26] ljharb commented on #4763
That looks conceptually the same even if the contents are different. Does it authenticate properly with the registry?

also have you tried with npm v8.7?

[2022-04-15 15:32] ljharb commented on #4762
A dep installed from a specific registry must have its entire subgraph on that registry. Is that the issue here?

[2022-04-15 16:52] maikelvl commented on #4763
No, it does not authenticate properly since the `_auth` is removed. I opened this issue because #2300 seemed to be marked as 'fixed'.

I expected running the latest node also using the latest npm, but that was not the case. Version 8.7.0 has the same issue.

[2022-04-15 16:57] ljharb commented on #4763
The latest node is node 17, not 16, but also npm publishes more frequently than node releases :-)

[2022-04-15 17:07] fritzy commented on #4763
I was able to reproduce, thank you for the reproduction steps.

[2022-04-15 17:08] maikelvl commented on #4763
That's right. I picked the latest LTS.
The issue also occurs on node v17.

[2022-04-15 17:24] fritzy commented on #4762
This seems like an assumed behavior and may be a request for new behavior. Dependency resolution is much more subtle than sub-dependencies, and often has multiple solutions based on the timeline of adding dependencies. This new behavior would need to be well defined.

Can you create [an RRFC](https://github.com/npm/rfcs/issues/new?assignees=&labels=&template=rrfc.md&title=%5BRRFC%5D+%3Ctitle%3E) i

[2022-04-15 17:24] #4762 closed, assigned to nobody

[2022-04-15 18:19] MichaelMackus commented on #2610
This is breaking our CI builds as well. For now I'm trying to replace the git+ssh part in the package-lock (and using npm ci) but it is really annoying since every update will wipe out those changes.

I tried this and it still replaced it with `git+ssh` in the package-lock.json 🤷

Curiously it only seems to come in for one package (select2-bootstrap-theme) - other packages we use the `git+https` s

[2022-04-15 18:31] someGuySeekingAnswers opened #4764 "[BUG] <Npm install and upgrade causes Monorepo package dependancy to display" Couldn't find package "@MonoreporName/PackageName@" required by "@MonoreporName/PackageName@" on the "npm" registry">"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

In the current version 8.7.  In a workspace like
-- packages
   -- package1
    --package2

Running npm install or upgrade will throw and error
`error Couldn't find package "@reponame/common@^1.0.307" required b

[2022-04-15 18:50] PedroLuisBernardos commented on #3257
I tried all the solutions I found on the Internet: **removing the proxy**, **setting the ssl cert to false**, **removing node_modules**, **removing the package-lock**... nothing worked...

Then, I updated my WSL Ubuntu 20.04 to 22.04 and it worked!

[code]
change the `Prompt` value to `Prompt = lts`
[code]

for more info [see this link](https://www.how2shout.com/linux/how-to-upgrade-wsl-2-or-1-ubu

[2022-04-15 20:09] jenseng opened #4765 "[BUG] ENEEDAUTH when authenticating against a registry via mTLS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If you have a custom registry that authenticates clients via mTLS (i.e. client `cert`/`key` in your `.npmrc`), you cannot publish unless you also specify some credentials, due to [this check](https://github.com/

[2022-04-16 07:33] cyrusae commented on #4028
Having this issue on Mac OS 11.6 + Visual Studio Code terminal; Node v17.3.1, npm v8.1.3. If I interact with the terminal while it's frozen on a loading bar it will spawn another, identical loading bar beneath. This is happening when attempting to install packages and as far as I can tell (i.e. checking the rest of the project) there is no trace of an install having begun. It's consistently happen

[2022-04-16 10:59] Stradivario commented on #4028
I am really not happy that i have upgraded to the latest nodejs LTS :(

Having the same problem npm install stucks forever and it cannot be closed

It appears that problem is related with `peerDependencies` but i cannot connect the dots at the moment

Simple way to reproduce the bug

[code]

At the moment when we try to install this package @gapi/voyager it stucks and the terminal cannot be closed

[2022-04-17 11:57] ChlodAlejandro opened #4769 "[BUG] `npm` refuses to run if the home directory is inaccessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Currently happens on npm 8.6.0 and later. Attempting to run any npm command if the user's home directory does not exist (possible for system-only Linux users) makes npm exit without having output anything (well,

[2022-04-17 13:28] glen-84 commented on #4285
I wonder if this will be fixed by #4745.

[2022-04-18 01:33] HesterG commented on #4663
Yes i used another way to get the params by doing something like `npm run <command> -- --param=value `, and then use `process.argv` to get the param value.

[2022-04-18 09:40] melink14 commented on #4727
Can no longer reproduce this in 8.7!

Great work and thanks for including this. Will make handling downstream violations much easier!

[2022-04-18 15:08] wraithgar commented on #4017
Until we have a solution for git tagging of workspace version bumps this will always have to be at least two commands.  The core issue here is that `npm version -w x` does not generate a git commit.  The decision was made at the time of implementing `npm version` for workspaces to do this because the existing git tag config wasn't very conducive to workspaces.  `tag-version-prefix` defaults to `v`

[2022-04-18 15:08] #4017 closed, assigned to nobody

[2022-04-18 16:30] ljharb commented on #4017
Seems pretty straightforward - add `workspace-tag-version-prefix`, defaulting to `[$workspaceName] `, and ignored when workspaces is not enabled. I'll try to write an RRFC.

[2022-04-18 16:45] josempineiro commented on #4331
Upgraded to v8.7.0 and still appears, so it seems

[2022-04-18 16:51] Minecodes opened #4771 "[BUG] Postinstall script won't run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When I try to install packages like yeoman, it downloads the packages, but in the installation process, when running postinstall scripts, it gives the error " 'node' is not recognized as an internal or external

[2022-04-18 17:12] wraithgar commented on #4331
If this is still an issue for you please open a new issue describing the steps to reproduce.  The bug here was that a package's publishConfig was not being applied during unpublish, which was fixed.  It's very likely this is a different bug.

[2022-04-18 17:35] ljharb commented on #4017
https://github.com/npm/rfcs/issues/570

[2022-04-18 17:47] bnb opened #4773 "[BUG] when publishing a scoped module to an org that doesn't exist, npm is a bit too helpful"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [x] I am using the latest npm

### Current Behavior

- I want to publish `@myspace/bnb`
- I verify that `@myspace` is not taken as a scope
- I create my package and run `npm publish --access public`
- npm "helpfully" tells me that `@myspace/bnb` is not published a

[2022-04-18 17:54] ljharb commented on #4773
doesn't tom own myspace

[2022-04-18 20:38] wraithgar commented on #4773
We removed the `bug the maintainer` language in 8.5.5 https://github.com/npm/cli/blob/latest/CHANGELOG.md#v855-2022-03-17

https://github.com/npm/cli/pull/4572

[2022-04-18 20:40] wraithgar commented on #4773
All the cli knows is that it got a 404, it doesn't know whether or not the organization exists.

[2022-04-18 21:02] bkendall commented on #4323
@nlf any chance that this can get prioritized?

Another interesting issue that comes with this is that `npm audit` (which probably shouldn't be running when a module is installed globally in our case, but that's another bug) checks all the dev dependencies that were installed too, which creates more noise for end users of our shrinkwrap'd CLI.

[2022-04-19 05:41] darcyclarke commented on #4232
@nlf I'm reopening as there's been a few reports this is still a problem. Can you repro based on the above &/or give any updates as to why someone may still be seeing `npm install` not respecting an `override` after the first time they ran it?

[2022-04-19 06:06] melink14 commented on #4232
FWIW, my repos are all fixed after 8.7.

[2022-04-19 07:35] Roaders commented on #4750
OK, I'll try with that. Thanks.
Where is this documented? I haven't found any breaking changes information that would say that this is no longer printed out. `--foreground-scripts` is also not mentioned when doing `npm install -h`.

[2022-04-19 13:52] jansiegel opened #4774 "[BUG] Installing dependencies of nested workspaces seems to not work properly in version 8.5+"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

In my repository, I have a nested workspace structure that looks something like this:
[code]

1. `./package.json` defines the directories `test-1` and `test-2` as `workspaces`
2. `./test-1/package.json` defines

[2022-04-19 15:30] ljharb commented on #4750
It should be in the npm v7.0 changelog.

[2022-04-19 18:18] dlmanning commented on #2784
In our case I had to eliminate the forked dependency from our build (last year) to update to npm@7 and workspaces. If this hadn't been feasible I would probably have migrated to a different package manager. Make of that what you will.

One thought regarding this:

Node now has (for better or for worse) a mechanism that allows me to override dependency resolution on a per dependency basis, so I don

[2022-04-19 18:34] wraithgar commented on #2453
It does look like this was due to configuration changes in npm7/8.  publishConfig is being properly applied during publishes, and registry and scope-specific configs are working as expected in the latest npm.

If folks are still experiencing issues publishing to private registries, please open individual tickets so that we can triage and debug your specific config setup.

[2022-04-19 18:34] #2453 closed, assigned to nobody

[2022-04-19 21:16] ruyadorno commented on #3668
moved the bit that fixes this issue to #4777

[2022-04-19 23:23] #3668 closed, assigned to ruyadorno

[2022-04-19 23:28] #3029 closed, assigned to nobody

[2022-04-19 23:32] #3520 closed, assigned to ruyadorno

[2022-04-20 00:50] kgryte commented on #4244
I would also like this option, as I would like to set access options across multiple repos and having to do so manually via the website is not tenable for hundreds of packages.

[2022-04-20 05:49] gvolluz commented on #4652
can confirm having had that issue for a while now, not using any proxy, and it seems to be sometimes fixed by setting the NO_PROXY env so e.g. so

before_script:
    - npm config set NO_PROXY=registry.npmjs.org

or

before_script:
    - npm -i some packages  --noproxy registry.npmjs.org

but not every time ... or I just was lucky with 6 jobs this morning and now a 7th is failing always with the us

[2022-04-20 06:58] pfeileon commented on #2453
@wraithgar So this is now called a configuration change?

Sounds like manager talk to me: After more than a year people have found workarounds or learned to live with version 6 anyway, just close the issue and let them file an issue for their "individual" problem, which most won't do or only do after another few months. 👎

[2022-04-20 12:05] SpencerWF commented on #4140
I'm getting the same issue.

I have a Raspberry Pi 4 with the package.json:
[code]

[2022-04-20 14:10] wraithgar commented on #2453
I'm sorry that you feel this way, but the issue here originally was that publishConfig was not being properly applied during publish. That has been fixed.  It is very likely you either have a separate issue or a config mismatch.  The new issue template is designed to help us triage and debug these things.  Comments in a closed issue are generally not a good place for that.

As for the config, the

[2022-04-20 15:15] darcyclarke commented on #3806
@johndiiorio Thanks for taking the time to share your idea! New ideas are always appreciated and are better suited for [our RFC repo](https://github.com/npm/rfcs) instead since that's the right place in order to get more attention from the rest of the team and the community.

I've transferred the issue to that repo for future discussion

[2022-04-20 15:28] pfeileon commented on #2453
So what you're saying is that @sysmat 's issue is resolved?
Because from my understanding authentication still doesn't work without changing the CLI command which might be out of reach if you use semantic-release or similar.

[2022-04-20 16:31] wraithgar commented on #2453
Yes their issue is resolved.  publishConfig with a nerfed `_authToken` works and has tests.  The other issue appears to be with scoped registries and the old `_auth` token which has another open issue that is being worked on now https://github.com/npm/cli/issues/3573

This is why it's so important to have separate issues for things.  I know that on the surface these all feel like the same issue bu

[2022-04-20 17:08] wraithgar commented on #3573
The bare `_auth` config only works on the npm registry itself. This is for security purposes, so that a single auth token isn't sent to multiple registries.  If you have a basic auth token that you need to send to another registry you will have to scope it to the registry with a config like

`//other-registry.com/:_auth=whatever`

The docs for `_auth` are going to be updated to clarify this: https

[2022-04-20 17:08] #3573 closed, assigned to wraithgar

[2022-04-20 17:19] nlf commented on #2441
just a quick update for now:

i've refactored npm-packlist to behave more like it did in npm@6 while still keeping most of the benefits of the state it's in today. unfortunately, we've decided that this change is a breaking change. yes, it restores the behavior of npm@6 but because the current behavior has been around for 2 semver-major ranges changing it now is another breakage.

due to this, we

[2022-04-20 19:49] straub opened #4783 "[BUG] npm cache verify EMFILE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Currently observing EMFILE errors when running `npm cache verify` using npm >=8.6.0 on our Jenkins agents (EC2 instances), despite increasing `ulimit -n` from 1024 to 8192. Cannot reproduce in the same exact ins

[2022-04-20 21:29] evelant commented on #3847
Also running into this bug. npm `8.7.0` crashes with `npm ERR! Cannot set properties of null (setting 'dev')`

Like others have said `npm install -g npm@7.18.1` reverts to a version that doesn't contain this bug

[2022-04-21 03:19] arimus opened #4787 "[BUG] npm ERR! Cannot read properties of null (reading 'package')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I do an initial npm install, which works fine. Subsequent runs result in the error:

[code]

### Expected Behavior

npm install not failing with the above error.

### Steps To Reproduce

**Environment**
Starting

[2022-04-21 03:24] RHYTHMHACKER commented on #4719
LINK FOR MY package.json

https://drive.google.com/file/d/1BKMMT6hg2e3m-jwDkzCzdsA-6RpAkdT0/view?usp=drivesdk

[2022-04-21 04:50] Aof8888 opened #4788 "npm/cli"

[2022-04-21 04:50] Aof8888 opened #4789 "npm/cli"

[2022-04-21 08:24] jpveooys commented on #4232
Just tried 8.7.0 and still seem to be seeing problems, unfortunately.

To repro:

[code]

It could be there is a further problem specific to workspaces.

[2022-04-21 08:34] backflip opened #4790 "[BUG] `npm audit fix` moving subdependencies from root to parent dependency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

After running `npm audit fix` in a Next.js / Storybook project, Storybook stopped working. Turns out `npm audit fix` was moving a subdependency from the root to its parent dependency and I was incorrectly relyin

[2022-04-21 08:44] charliekassel commented on #3711
Also seeing this with v8.7.0

[2022-04-21 13:19] sergeyampo commented on #3847
To keep using last node version with workspaces I decided to replace npm with yarn on the project

[2022-04-21 13:28] ljharb commented on #4788
Please fill out the issue template.

[2022-04-21 13:28] #4788 closed, assigned to nobody

[2022-04-21 13:28] ljharb commented on #4789
Please fill out the issue template.

[2022-04-21 13:28] #4789 closed, assigned to nobody

[2022-04-21 13:29] ljharb commented on #4790
Yes, you have no guarantees about the layout of node_modules except that you can require things you directly depend on.

[2022-04-21 13:53] wraithgar commented on #4790
Yes this is expected, as @ljharb noted.  Many factors go into this including bundling and hoisting.  Typically what happens in cases like this is that whatever is requiring `@storybook/addon-docs` did not declare it as a dependency itself, and was relying it on it being hoisted, which is not guaranteed.  You were correct when you said:

Never rely on hoisting, if you need to require a dependency i

[2022-04-21 13:53] #4790 closed, assigned to nobody

[2022-04-21 14:04] wraithgar commented on #4763
This is the correct behavior. the `_auth` token only ever works on the npm registry, it won't be sent to other registries.  When you log in npm cleans up the old `_auth` entry and adds a registry specifier to it.  The fact that it transforms it to username/password is because the `_auth` entry is just a base64 encoded username and password.

It's a little jarring I'm sure to see it change from `_a

[2022-04-21 14:14] backflip commented on #4790
@ljharb, @wraithgar, thanks for the clarification!

[2022-04-21 14:21] maikelvl commented on #4763
Thanks for your explanation.

---

I don't think that's correct since an .npmrc like below authenticates just fine against our self-hosted Jfrog npm registry.

[code]

---

It is breaking because it now sets authentication explicit to registry.npmjs.com where before it was using _auth to npm.example.com before

[code]

---

As a workaround I just have the contents of .npmrc defined instead of gene

[2022-04-21 14:33] wraithgar commented on #4763
Ok so this is very helpful. I just added tests yesterday that I thought clarified this behavior but there is a difference between setting a registry via scope and setting the `registry` config item.  `_auth` will go to whatever is specified in `registry`. I'll have to add a test to show that.

The reason it's doing what it's doing here is because the "config cleanup" code happens before the `confi

[2022-04-21 14:34] wraithgar commented on #4763
It's a little goofy but I think if you did `npm config set registry http://other.registry.com --registry=http://other.registry.com` it would nerf dart your auth to the right registry.

[2022-04-21 14:47] Emmybritt opened #4792 "i am getting an error in my npm when trying to install expo-cli globally, can anyone help me on how to fix this issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

when i try to install npm globally, using the command npm install -g expo-cli i am getting an error that says

npm install -g expo-cli npm ERR! code ERR_OSSL_UNSUPPORTED npm ERR! error:

[2022-04-21 14:55] ljharb commented on #4763
Why is that intentional? It seems pretty bad to do something the user didn’t ask for.

[2022-04-21 15:00] wraithgar commented on #4763
The nerf darting is what the config *actually* is, having it as the legacy bare `_auth` is misleading and confusing.  Unpacking it to `username/password` is unintentional and odd, even though that too is functionally the same thing.

[2022-04-21 15:01] ljharb commented on #4763
What i mean is, if i have something in npmrc, and i npm config set something *else*, the something should never change, because that’s not what i asked npm to do. Whether it’s misleading or not is none of npm’s business because i didn’t ask npm to touch it.

[2022-04-21 18:13] bcdxn commented on #4471
I am running into the same problem (If i'm understanding the OP correctly).

[code]
* package-a requires @aws-sdk/client-sts^3.67.0 which in turn requires fast-xml-parser@3.19 which has no strnum dependency
* package-b requires fast-xml-parser^4.07 which in turn requires strnum^1.0.5

Ultimately after running `npm i` or `npm ci` (with workspaces enabled) I get the following folder structure:

[cod

[2022-04-21 23:18] ShutDownMan commented on #4163
It actually worked!

Thank you so much @Qix-

[2022-04-22 01:23] Qix- commented on #4163
@ShutDownMan npm is just the first you're going to run into, hence why people are ending up here. I highly rec you [use this fix instead](https://github.com/npm/cli/issues/4163#issuecomment-1084601306) if you're running into issues with ipv6. It'll solve it for all cases, not just for npm. If you can't edit those config files for some reason then the alias will work, though.

[2022-04-22 06:31] victorrica opened #4794 "[BUG] 413 Payload Too Large"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

The following error was displayed during the publishing process.
[code]

There is no file size limit in the npm document, so how much is the size limit of the package? Or is there any option to upload more than

[2022-04-22 18:45] ghost commented on #4303
With npm 8.5.0 and node 16.14.2 on windows I have the same issue tryign to clone a repo

[2022-04-22 18:50] d5han commented on #4783
We've also been experiencing the same `EMFILE` error intermittently (about 20% of the time) when performing `npm install` on versions >= 8.6.0

[2022-04-22 18:51] ghost commented on #4234
well, after change nvm version from 1.1.7 to 1.1.7, using node 16.14.2 I still have this problem.

[2022-04-22 18:54] bartgriffith commented on #4234
I assume you mean 1.1.7 to 1.1.9.
If you have installed NVM 1.1.9, uninstall 16.14.2 and then reinstall using NVM.
nvm uninstall 16.14.2
nvm install 16.14.2
nvm use 16.14.2
Good Luck!

[2022-04-22 19:07] ghost commented on #4234
Oh right, it was that was left to do, now is working properly, thanks.

[2022-04-22 21:12] yosmarcode commented on #4234
Hola es que pueden solventar el problema es desintarla la version que tienes actual de nvm 1.1.7, e installar version 1.1.9 ya que ella solventan el inconveniente y alli procedes a instalar la version mas reciente nvm install node latest, y cuando tengas esa version estables,

Poder instlar la version que necesitas ocupar

nvm use vx.xxx

y listo

espero que te pueda ayudar

[2022-04-23 05:22] terrasoff commented on #3078
You can reproduce the issue on slow unstable connections.

[2022-04-23 10:46] ThnksCJ opened #4795 "."

[2022-04-23 19:47] nhumblot opened #4796 "[DOCS] Details for package-lock.json dependencies version field missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

Issue raised following the opening of https://github.com/jeremylong/DependencyCheck/issues/4293.

[The generated `package-lock.json` file](https://github.com/jeremylong/DependencyCheck/

[2022-04-24 07:22] Lehks opened #4797 "[BUG] install hangs and eventually fails due to ETIMEOUT on arch linux"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

The install hangs for a very long time and eventually fails with an ETIMEOUT error. This always happens it is not specific to a single project or a certain dependency being installed. It fails for all projects (

[2022-04-24 09:54] #4797 closed, assigned to nobody

[2022-04-24 11:58] shehzad75 opened #4798 "npm ERR! Exit handler never called!"
└─$ npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! Exit handler never called!

npm ERR! This is an error with npm itsel

[2022-04-25 00:06] patcon commented on #2701
Maybe of interest to others here, re: `npm ci` failure modes: (malformed integrity hashes ignored) https://github.com/npm/cli/issues/4460#issuecomment-1095653142

[2022-04-25 02:29] EduApps-CDG commented on #4163
My problem was my old ISP was under CGNAT. Solved now by changing ISP.

[2022-04-25 06:59] iggyzap commented on #4460
Honestly, I am not surprised about this. My default behaviour is to install yarn and use it instead, and set as organisation policy to not to use npm, since it is guaranteed instanity.
We’ve had npm ci sneakily installing updates for about 2 years, now hash validation is ignored ?

just stop using it.

[2022-04-25 10:36] akshayjai1 commented on #4234
Hello, is that they can solve the problem is to uninstall the current version of nvm 1.1.7, and install version 1.1.9 since it solves the problem and there you proceed to install the most recent version nvm install node latest, and when you have that stable version,

To be able to install the version you need to occupy

nvm use vx.xxx

and ready

I hope it will help you

[2022-04-25 12:15] scooper91 commented on #3902
We've just come across this when upgrading from Node.js 14 to 16. For now, we've worked around it by downgrading `npm` to version 6.

Our experience is pretty similar to @dhpagani - we're installing a dependency which has a `build` script. This package has a dev dependency on a package which fails to install.

Are there any updates on this?

Thanks!

[2022-04-25 12:43] mrbusche opened #4799 "[CVE/Security] CVE-2021-44906, minimist, in npm v6"
A critically rated CVE, CVE-2021-44906, is present in npm v6, minimist version 1.2.5 is vulnerable and the issue is fixed in 1.2.6.

I'm happy to submit a new package-lock.json after running `npm audit fix`. Doesn't look like any other files need updated based on the history of package-lock.json on v6 branch.

[2022-04-25 12:46] metawrap-dev opened #4800 "[DOCS] Potential missing or hard to find information on using workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

When running `npm install` using workspaces, common modules are installed in the root. There are some that I don't want this to happen to, but there seems to be no way or no documented

[2022-04-25 12:58] 0xtresser opened #4801 "[BUG] <npm install cause Mac restart>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

During the process of `npm install --save-dev @nomiclabs/hardhat-waffle ethereum-waffle chai @nomiclabs/hardhat-ethers ethers` my Mac screen suddenly turned black and restart. I tried this command many times and

[2022-04-25 13:33] treysis commented on #4163
Well, users on IPv6 with "problematic" IPv4 were also running into problems with NodeJS <v17, also with nothing they could do. Even less: not even changing gai.conf would help, because NodeJS decided to do its own thing. It was therefor decided from very long ago that NodeJS should respect the preference of the OS, and not do some arbitrary thing itself, and that this behavior would eventually cha

[2022-04-25 13:35] treasersimplifies commented on #4801
To solve this issue, I just copy needed node_module on my fellow workers to my Mac, and it works.

[2022-04-25 15:12] ljharb commented on #4799
Prototype pollution attacks in a command line parser aren’t a vulnerability, because the only person you can attack is yourself. While it’s fine if npm updates this, it’s a false positive that users should ignore.

[2022-04-25 15:22] mrbusche commented on #4799
Agreed, but it's getting flagged in the node:14 docker image and my company prevents containers from starting with critical CVE's after a certain period. Likely easier to fix in node vs getting an exception.

[2022-04-25 15:34] ljharb commented on #4799
Given that npm 6 is EOL, i wouldn’t expect so - if your security team won’t give exceptions to invalid CVEs (which is “most of them” in the JS ecosystem) then you have bigger problems, unfortunately.

[2022-04-25 16:10] darcyclarke commented on #4799
@ljharb / @mrbusche we'll do our best here to ship a v6 version with as many updates to deps (ideally resolving any warnings or vuln reports) this week. I've already personally begun to look into this & should be able to report back by EOW.

[2022-04-25 17:08] adam-coster commented on #4477
I'm also seeing this when running [turborepo](https://turborepo.org/) commands, with every version of npm I've tried (from 8.1.4 through 8.7).

[2022-04-25 19:13] trymeouteh opened #4802 "Pacstall"
Please add this app into the pacstall repository. Pacstall is the AUR for Ubuntu which will allow Ubuntu users to easily install the app and receive updates very shortly after an update is released.

https://pacstall.dev/

[2022-04-25 19:19] ljharb commented on #4802
npm ships with node, and node doesn't officially distribute in AUR, so i'm not sure that'd make much sense. For node, Ubuntu users have the same official option as everyone else: to install from nodejs.org manually, or use a version manager that automates that.

[2022-04-25 20:09] darcyclarke commented on #4802
Closing: consider opening an issue on our [`npm/rfcs`](https://github.com/npm/repos) repo (where we discuss feature requests/ideas/proposals etc.)

[2022-04-25 20:09] #4802 closed, assigned to nobody

[2022-04-25 20:11] darcyclarke commented on #4798
Closing: There is not enough information in this issue to help debug your problem. Please use our issue template (here: https://github.com/npm/cli/issues/new?assignees=&labels=Bug%2CNeeds+Triage%2CRelease+8.x&template=bug_8.yml&title=%5BBUG%5D+%3Ctitle%3E) & refile).

[2022-04-25 20:11] #4798 closed, assigned to nobody

[2022-04-25 20:27] oshi97 opened #4803 "[BUG] --install-links creates symlinks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Installing a local npm package with `--install-links` creates a symlink.

### Expected Behavior

When set file: protocol dependencies that exist outside of the project root will be packed and installed as regula

[2022-04-25 21:44] oshi97 opened #4804 "[BUG] npm install <local folder> does not run postinstall"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Installing a local npm package does not run the postinstall script.

### Expected Behavior

The postinstall script runs, and in this case creates a new file

### Steps To Reproduce

1. `git clone https://github.

[2022-04-26 00:52] gnida-rada commented on #3110
Does anyone know a viable workaround to this issue? Changing ownership of a directory where source lives in not viable for my project.
Thanks!

[2022-04-26 00:52] gnida-rada commented on #3110
Yarn exhibits exactly the same problem.

[2022-04-26 03:29] billyromano commented on #4028
I’ve been noticing this issue for weeks now. It freezes my machine, hard restart multiple times a day and it’s random. I’ve noticed running the gulp conventional changelog task may be a culprit since I commented that out and never had issues on that project again. However, on a nextjs project today I ran ‘yarn add —dev eslint eslint-plugin-editorconfig’ and it froze at 2527/2681 progress. This iss

[2022-04-26 08:55] clementmas commented on #4234
This worked for me. Note for step 1: I couldn't do it from the console on Windows. I had to download the `nvm-update.zip` file from the latest release

[2022-04-26 11:11] WORMSS commented on #4234
That doesn't work for me, because I get
1. Update works fine.
2. nvm uninstall 16.3.0 `// Uninstalling node v16.3.0...exit status 5: Access is denied.`

[2022-04-26 11:55] nickhudkins commented on #4603
@fritzy could I get confirmation that the change in behavior, as seen in the reproduction in CI (GitHub Actions) here: https://github.com/nickhudkins/npm-workspaces-uh-oh-spaghettio/actions/runs/2080669489 is expected? Again, not looking for a fix, just trying to understand the npm maintainers intent for behavior.

[2022-04-26 12:07] e1himself commented on #4104
I don't seem to be able to reproduce the issue anymore. Thanks to the suggestion @ljharb made above. Closing. Thanks everyone :bow:

[2022-04-26 12:07] #4104 closed, assigned to nobody

[2022-04-26 12:21] bartgriffith commented on #4234
Try running your console/terminal as administrator.

[2022-04-26 12:22] WORMSS commented on #4234
That is not a solution. That is a work-around..
This problem requires a solution.

[2022-04-26 12:37] yosmarcode commented on #4234
Otra solución sería, realizar los paso anteriormente mencionados, en diferentes comentarios

Cuando realicen la instalación de nvm.
Habrán la terminal de su sistema operativo con privilegio de administrador

Luego procesadan a realizar las instalación de nodejs más actual

Cuando esto suceda ya pueden instalar la versión que más le acomoda

Esto igual me resultó

[2022-04-26 13:54] jeronimoek commented on #2306
I just had to wait 3 minutes lmao (with a frozen UI)

[2022-04-26 15:01] wjureczka commented on #3110
Any updates on that?
I serve my web application on port `443` and I need use `sudo` for that. This behavior breaks applications' start-up.

[code]
Same problem is described here: #4589

[2022-04-26 16:10] robertsLando commented on #3110
The only workaround is to not use npm to start your script. Just use node directly

[2022-04-26 16:21] rashkov commented on #3110
Yarn does work though...
[code]

[code]
[code]
[code]
[code]

[code]

also worked for yarn version 1.22.18 when I tried that.

But yeah maybe @robertsLando is right, using node directly would be the most simple thing. Still, npm scripts can get pretty complicated, so I wonder if this is always possible without a lot of work.

[2022-04-26 16:56] silkfire commented on #3680
Having the same problem with `npx`. Can someone look into this?

[2022-04-26 17:07] jklingen commented on #4687
So, the other issue I had was resolved with 8.7.0 - and my misconception above was corrected by @nlf's feedback.

For my part, this ticket can be closed. However, I haven't seen the `npm audit` problem mentioned above, so I assume it is not related. @leschdom If the problem persists, you might prefer to create a dedicated issue for better visibility?

[2022-04-26 17:53] leschdom commented on #4687
Hi @jklingen - I was also not able to re-produce the issue since I changed to npm 8.7.0 - so at least from my side this issue can also be closed 👍

[2022-04-26 19:13] jakubmazanec commented on #4477
I get this error even when I run simple `npm -v` inside a package/workspace directory in a monorepo 🤦‍♂️

[2022-04-26 20:16] #4253 closed, assigned to nobody

[2022-04-26 21:16] ruyadorno opened #4809 "Release Manager: v8.8.0 (2022-04-27)"
**Target Version**: v8.8.0
**Target Date**: 2022-04-26
**Created From:** [`` Release-Process.md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process.md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

- [x] **1. Ch

[2022-04-27 04:09] casp4 commented on #4340
I ran into this with real nvm as well. Didn't even realise there was an nvm specifically for windows. Haven't had it long though. node 16.12.0 does not throw error while node 18* does.

I can't be using node 17* on client production code so not even going to try it.

[2022-04-27 04:44] ljharb commented on #4340
@casp4 if you're seeing an issue with actual nvm, please file an issue on the repo https://github.com/nvm-sh/nvm

[2022-04-27 06:24] robertsLando opened #4811 "[feat] Add option to override infer of folder gid and uid"
I have found many and many issues related to [this](https://docs.npmjs.com/cli/v7/using-npm/scripts#user) breaking change:

#4589
https://github.com/npm/cli/issues/4095
https://github.com/npm/cli/issues/3773
https://github.com/npm/cli/issues/3110

Giving that there is no workaround to this except changing the directory permissions before running a command (that looks awful) could someone consider

[2022-04-27 06:28] robertsLando commented on #4095
I have created https://github.com/npm/cli/issues/4811 please go to upvote it so maybe it get noticed by maintainers

[2022-04-27 06:29] robertsLando commented on #3773
I have created https://github.com/npm/cli/issues/4811 please go to upvote it so maybe it get noticed by maintainers

[2022-04-27 06:30] robertsLando commented on #3110
I have created https://github.com/npm/cli/issues/4811 please go to upvote it so maybe it get noticed by maintainers

[2022-04-27 07:05] manigedit commented on #4804
@oshi97 I'm unable to reporoduce this issue. In my case test.txt file gets created. Please share more details / anything I'm missing to reproduce this issue.

<img width="998" alt="image" src="https://user-images.githubusercontent.com/37980499/165460695-ca6af2b1-56ca-45f1-b2ad-dd037dda648c.png">

[2022-04-27 07:12] gengjiawen commented on #3773
I have switch to pnpm to fix this. Have fun. `pnpx` is the equalient.

[2022-04-27 07:37] McStip9 opened #4812 "[BUG] <npm publish command is delayed>"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Hey guys, I published a new version for my package "quickfunc", 1.2.3, but on npmjs.com it only shows 1.2.0 when I published it. Does anyone know about this issue? It seems to me that it is delaying the updates.

[2022-04-27 08:12] haines commented on #4323
It's also quite frustrating with Dependabot updates, because Dependabot uses `npm install --package-lock-only` which does _not_ result in the shrinkwrapped devDependencies being installed. This creates churn with Dependabot removing the extraneous package-lock.json entries and then local `npm install` reintroducing them.

[2022-04-27 08:17] aladdin-add opened #4813 "[BUG] dist files were not packed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

package.json :
[code]
running `npm publish`, the dist will not be packed.

### Expected Behavior

the dist should be packed.

I just found a workaround: `"files": ["dist/"]`

### Steps To Reproduce

1. In this e

[2022-04-27 08:28] Niryo commented on #4804
happens to me as well, node 16.15.0, npm 8.5.5. I also tried the steps given here to reproduce and I can confirm the issue.
I am running on macOS Monterey (MacBook Pro 16-inch, 2019)
![image](https://user-images.githubusercontent.com/8758348/165476660-df1283a9-4f42-44a6-b1bd-25039dbd9e27.png)

[2022-04-27 09:35] jklingen commented on #4687
Okay, I am closing this, thanks to everybody involved 🙇

[2022-04-27 09:35] #4687 closed, assigned to nlf, lukekarrys

[2022-04-27 10:25] Cactusbone commented on #1651
You can try using the [foreground-scripts](https://docs.npmjs.com/cli/v8/commands/npm-install#foreground-scripts) option.

[2022-04-27 12:52] Cactusbone commented on #4750
@Roaders did `--foreground-scripts` fix your issue ? (I'm having a similar issue and wanted to know if I should open a new issue :) )

[2022-04-27 13:12] Roaders commented on #4750
yes, `--foreground-scripts` does re-enable the removed feature of showing errors when things don't work (even though it's not listed in the help).

[2022-04-27 13:17] spenelladm commented on #681
I just ran into this, too.

[2022-04-27 14:09] oshi97 commented on #4804
It could be your npm version?

[2022-04-27 16:35] oshi97 commented on #4804
I've noticed that `npm install <pkg-name>` seems to not run the postinstall for instances where node_modules have not changed. For instance, if I run `npm install blah` as a new dependency, the postinstall would run, but running `npm install blah` will not run the postinstall. However if I try to `npm install blah@aDifferentVersion` the postinstall will run. From an outside perspective I feel like

[2022-04-27 16:48] nlf commented on #2339
:wave: hi there folks, we just release npm@8.8.0 which introduces the `--install-links` flag.

this means that while `npm i ../some-directory` we'll still create a symlink, _however_ if you `npm i --install-links ../some-directory` we will pack the contents of the directory and install it for you which means you'll also get your dependencies installed. if you use this feature you'll likely want to

[2022-04-27 16:48] #2339 closed, assigned to nlf

[2022-04-27 16:53] nlf commented on #3084
just a note - i cannot reproduce this in osx or linux, will try on windows when i get a chance

[2022-04-27 16:58] bcardarella commented on #2339
@nlf this issue was ignored and users were told it wasn't valid for over a year and a half. Do you really think we've stuck around waiting so that *now* we can now get unblocked? This is the problem with npm's team, the absurd ego that we need you. Most are gone and good riddance to this joke.

The reasonable fix was and has always been to have treated this as an unintended bug introduced and to h

[2022-04-27 17:26] darcyclarke commented on #2339
@bcardarella I'm sorry you feel this way & hope you'll consider using `npm` in the future. As I'm sure you know, this project receives thousands of bug reports every year & we do our best to get to as many as possible while also trying to innovate & keep `npm` modern along the way. We definitely rely on our community to help us with this & appreciate when community members also contribute back in

[2022-04-27 18:23] nlf commented on #3556
@lognaturel hmm, i get the same error regarding a missing `config.h` file which judging by https://github.com/albanm/node-libxslt/pull/86 looks to be due to missing platform support for my particular laptop.

what error are you seeing? from my perspective this seems to point to an issue with node-libxslt rather than npm itself, but if what you're getting now makes it look like an npm specific bug

[2022-04-27 18:25] kokushkin commented on #3608
I'm on npm 8.4.0 now. I don't see any problems anymore and my packages'  tree is almost the same as it was.

[2022-04-27 18:26] bkendall commented on #4323
This is something that we're scratching our head to solve. Installing all our dev dependencies when installing `firebase-tools` globally takes up a ton of space, and it'd be nice to not do that. We've come across other options like [clean-publish](https://github.com/shashkovdanil/clean-publish) but working around this issue in `npm` seems like not the correct way to do it long term.

It'd be reall

[2022-04-27 18:38] nlf commented on #3581
@lgarron sorry for the extremely long delay in getting back to you about this. can you share the output of `npm config ls`? i'd like to try to reproduce this one, but in your linked dotfiles above i only see references to `XDG_CONFIG_HOME` in the `NPM_` prefixed env vars, while you're having issues with `XDG_DATA_HOME` so i'm not sure exactly which config is being set.

the `Failed to replace env

[2022-04-27 18:42] nlf commented on #3606
closing as we've received a report that things are working. if this is incorrect please feel free to either reopen this issue or open a new issue for us

[2022-04-27 18:42] #3606 closed, assigned to nobody

[2022-04-27 18:52] nlf commented on #3635
it seems extremely likely this happened when merging the git conflicts.

the reason it works with a warm cache is because given the presence of the integrity field, we can retrieve content based on that data alone. with an empty cache, however, we fetch the tarball we're instructed to fetch (the `resolved` field) and then compare its hash to the provided integrity. this fails, for obvious reasons.

[2022-04-27 18:57] nlf commented on #3652
**Closing** due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-04-27 18:57] #3652 closed, assigned to nobody

[2022-04-27 18:59] nlf commented on #3667
closing as duplicate of #3210

[2022-04-27 18:59] #3667 closed, assigned to nobody

[2022-04-27 19:47] #4809 closed, assigned to ruyadorno

[2022-04-27 20:38] bim2016 opened #4817 "cannot input password when "npm login" or "npm adduser" at command line"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

C:\Users\bim2016>npm whoami
npm WARN config [init.author.name](http://init.author.name/) Use `--init-author-name` instead.
npm WARN config init.license Use `--init-license` instead.
npm WARN config init.author.e

[2022-04-27 20:50] ljharb commented on #4817
Are you sure it's not just hiding your input? Password input prompts on shells always show nothing as you type, to avoid onlookers being able to see your password.

[2022-04-27 21:07] bim2016 commented on #4817
thanks Jordan, see below messages along w/ attached log file FYI:

C:\Users\bim2016>npm login
npm WARN config init.author.name Use `--init-author-name` instead.
npm WARN config init.license Use `--init-license` instead.
npm WARN config init.author.email Use `--init-author-email` instead.
npm notice Log in on http://registry.npmjs.org/
npm notice Beginning October 4, 2021, all connections to the np

[2022-04-27 21:17] ljharb commented on #4817
The error messages imply you're connecting to the registry via HTTP. Is that in your config? I'd expect only an HTTPS connection.

[2022-04-27 21:38] danielamar101 opened #4818 "[DOCS] Clearer instructions on functional parity between arborist and NPM"
Hey there, as a preface, I appreciate everything you guys do to maintain npm and all of its workspaces.

I am trying to programmatically install modules into a project without using exec calls or the deprecated npm programmatic interface. Arborist is the perfect package for this endeavor. However, I am finding it difficult to understand how exactly I can use arborist to mimic an `npm install` exac

[2022-04-27 21:46] ljharb commented on #4818
My understanding is that "actual" reads from node_modules, "virtual" reads from the lockfile, "ideal" reads from package.json, if that helps.

[2022-04-27 22:03] danielamar101 commented on #4818
Ahh. so:

To install from a package-lock.json (npm ci):
[code]

To install from package.json (npm i)

[code]

Then what is the point of loading the actual tree? I guess my question still stands, how do these different trees interact with each other and where does that occur?

[2022-04-27 22:03] lgarron commented on #3581
I no longer have the computer that this used to happen on, so unfortunately I don't know if I'll be able to repro. (Fortunately, though, this doesn't seem to be an issue on my current main computer.)

[2022-04-27 22:10] ljharb commented on #4818
Not quite - I think if you loadActual and then reify, it will do what `npm install` does with an existing `node_modules`. If you buildIdeal and reify, it will do what a *fresh* no-lockfile npm install would do.

[2022-04-27 22:20] danielamar101 commented on #4818
That makes sense. So is it advised to only load one of the three trees and reify? Or is there another piece I am missing that connects them all more.

[2022-04-27 22:23] ljharb commented on #4818
I would assume that only one makes sense, depending on the answers to questions like:

1. is there a lockfile, or not?
1. (if a lockfile) do you want to simulate `npm ci` or `npm install` behavior?
1. do you want to take into account existing node_modules? ("yes" to match npm install, "no" to match npm ci)

[2022-04-27 22:57] ShusenLiu commented on #4591
I encounter the same issue. as a workaround, i need to:
[code]

and I observe that in the second `npm i`, it actually produce these logs:
[code]

this is really annoying for us, hope this could be prioritize and fixed soon.

[2022-04-28 03:52] ethan-xd commented on #3810
“+1 I also experiencing same issue ….”

[2022-04-28 03:56] talatkuyuk opened #4819 "[BUG] Cannot read properties of undefined (reading 'spec')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I develop a nextjs application. I want to use **react-table** package specific version from **github**.  I tried the below command in the terminal:
[code]
It starts to download but stucked after a while and ende

[2022-04-28 04:55] cklogs commented on #3666
Hi there,

This issue is still affecting Angular users. Can we perhaps get a status update?

[2022-04-28 05:31] XhmikosR commented on #3666
@lukekarrys did you have a chance to dig into this? It indeed affects angular and that's a lot of users. Would be nice if this was fixed. Using the npm version that ships with Node.js 16 LTS:

[code]

[2022-04-28 06:56] ArmishMunir commented on #4553
I just had this issue and it helped changing timeouts:

npm config set fetch-retry-mintimeout 20000
npm config set fetch-retry-maxtimeout 120000

[2022-04-28 07:32] ShuangDa1018 opened #4820 "[DOCS] <npm unpublish name --force i do this Wrong operation>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

I accidentally ran the command ，My important items were deleted。how should i do ?

### Potential Solution

i   need Restore my project

### Affected URL

https://www.npmjs.com/

[2022-04-28 07:45] alexander-schranz commented on #2339
@nlf thx for the update and not forgetting us, we are still stuck on npm 6 for @sulu because of this issue. There seems to be one major change to the old behaviour which make the things harder to develop as in the behaviour for v6. The `file:../...` packages are not a symlink. Sure I can manipulate the node_modules directory in a postinstall script but seems not the best way to achieve it, npm lin

[2022-04-28 07:59] m90 commented on #2339
I just tried updating to 8.8.0 in a setup that was locked to npm 6 until now and I think I am running into a similar issue as @alexander-schranz where npm 6 was exposing a behavior different from what npm 8.8.0 is doing, even when using `install-links=true`

Considering a setup as described in this issue where i have packages `app1` and `app2` that install a local package `package` via `file:./../

[2022-04-28 09:26] Cactusbone opened #4821 "[BUG] Regression: custom scripts not executed on dependencies from custom registry"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Using `npm i --foreground-scripts` (or `npm ci --foreground-scripts` after the first install), no logs from `install` script are emitted for a package with a custom registry.

It does work when packages are on t

[2022-04-28 11:23] blaasvaer opened #4822 "WTF!? Log in is complety broken!?"
I've spent an hour now trying to first log in to my account, and then trying to patch and publish a package.

Now, I've hit the: 429 Too Many Requests situation due to a whirlwind of OTPs and failed logins ... now does anyone have any advice on how to actually be able to log into ones npm account from the Terminal and publish a package ... used to work, now it's completely impossible to do any of

[2022-04-28 11:52] Mr0cket opened #4823 "[BUG] Incorrect peerDeps conflict identification"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

`aws-appsync` package peer dependency range is: "`0.13.0` | `14.x` | `15.x`"
Installed version of `graphql` is: `15.8.0`.

`15.8.0` is inside of the dependency range (`15.x`).

npm

[2022-04-28 12:17] Ockejanssen commented on #4681
Is it possible that this fix will also be part of npm version 7

[2022-04-28 13:21] ljharb commented on #4681
v7 is EOL, so i doubt it.

[2022-04-28 13:27] ljharb commented on #4820
You need to file an npm support ticket for this; this repo is for the CLI itself.

[2022-04-28 13:28] threema-danilo commented on #4552
This also seems to happen if you don't use a workspace, but instead use a `file:`-dependency in `package.json`:

    "eslint-plugin-xyz": "file:libs/eslint-plugin-xyz",

When running `npm install` in the main directory, with npm 8.5.0, the `install` script of the linked plugin is run, with npm 8.5.5 it is not run.

[2022-04-28 13:30] ljharb commented on #4823
I think semver uses ||, not | - it may be that aws-appsync has declared an invalid peer dep?

You can verify this on https://semver.npmjs.com/

[2022-04-28 13:43] ShuangDa1018 commented on #4820
Do you have a solution ，my handsome programmer

[2022-04-28 13:53] ljharb commented on #4820
The solution is to file a support ticket. I’ll close this.

[2022-04-28 13:53] #4820 closed, assigned to nobody

[2022-04-28 13:54] ShuangDa1018 commented on #4820
ok,i love u my baby

[2022-04-28 13:56] ljharb commented on #4820
Those kind of comments aren’t appropriate, thanks.

[2022-04-28 13:58] ShuangDa1018 commented on #4820
have a good day, begin When u meet me

[2022-04-28 13:59] Mr0cket commented on #4823
@ljharb Thanks, I believe you're correct... issue can be considered as resolved

[2022-04-28 14:00] ljharb commented on #4823
I’d suggest filing a bug on that package :-)

[2022-04-28 14:00] #4823 closed, assigned to nobody

[2022-04-28 14:02] Mr0cket commented on #4823
Already on it ;)

[2022-04-28 14:49] PedroC88 commented on #4819
I'm having the same error installing ADF Utilities:

[code]

[code]

[code]

[2022-04-28 15:00] PedroC88 commented on #4819
Alright, so here's a bit more detail, perhaps it's a layer-8 error?

- With the package.json at the root label the `npm install` command **runs successfully**
- With the package.json file in the `pipelines` folder and running `npm install` from the pipelines folder it **runs successfully**
- With the package.json file in the `pipelines` folder and running `npm install .\pipelines` from the root fo

[2022-04-28 15:43] Luna-Klatzer opened #4824 "[BUG] Un-deprecating a package returns EUSAGE error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When trying to un-deprecate certain versions of my `@kipper/base` module, there is an error saying there is a usage error, despite following the guidelines on the docs page:

[From here](https://docs.npmjs.com/c

[2022-04-28 15:54] RichardTMiles commented on #1637
The note above `@prisma%2ftemplates` the escaped `/` was partially my issue. Not sure if what comes before is reserved in someway, but removing it then cleaning my pattern worked.

 IntelliJ flagged me for the following
 String violates the pattern: `'^(?:@[a-z0-9-*~][a-z0-9-*._~]*/)?[a-z0-9-~][a-z0-9-._~]*$' `

[2022-04-28 21:16] darcyclarke commented on #4822
@blaasvaer sorry to hear you're having issues; that said, this backlog is actually mean for `npm` CLI-specific bugs. If you reach out to our support team, they should be able to help you with any website/registry/account/login related issues (ref. https://www.npmjs.com/support)

[2022-04-28 21:16] #4822 closed, assigned to nobody

[2022-04-28 21:34] darcyclarke commented on #4799
Update: @mrbusche, @ruyadorno from our team just cut a new `v6` ([`v6.14.17`](https://github.com/npm/cli/releases/tag/v6.14.17)) which should address all of the critical CVEs flagged including `minimist`'s `CVE-2021-44906` (notably, this version of `npm` should get shipped in the next [`v14`](https://github.com/nodejs/node/pull/42900) release). You can get this release today by running `npm i -g n

[2022-04-28 21:34] #4799 closed, assigned to ruyadorno, darcyclarke

[2022-04-28 22:52] mrbusche commented on #4799
Appreciate the update. Not your issues/concern but hoping Amazon releases a v16 lambda image soon, otherwise we'll end up forcing an update to v8.

[2022-04-29 08:39] mrdezzods commented on #4763
This worked for us

[2022-04-29 09:29] ulvimammaadov commented on #4824
I think the problem is in your npm config file

[2022-04-29 12:03] ferferga commented on #4618
Hello, is there any progress in this? I would like to know if this might take longer than expected, so I can take mitigation steps in our workflows until a patch is done.

In **npm 8.8.0** the bug is still reproducible.

[2022-04-29 12:59] sanzhar-dan commented on #4309
I had the same issue. In my case problem was in my server's DNS. I switched it to Google's and installation went fine afterward.

[2022-04-29 13:13] sanzhardanybayev commented on #4309
In my case the problem was in my server's DNS. Once I changed it to Google's installation went fine.

[2022-04-29 13:16] marcchanwork commented on #4769
Not sure if this related, but I also have an issue with a nonroot user not being able to run npm cli for v8.6.0 and above. (Working for v8.5.5).  NPM crashes (?) with new line returned with error code 254.
Some workarounds I did was to set both prefix and cache to nonroot user directory, which allows npm to run as expected.

However, I am still having permission issues for the logs:
`npm WARN logf

[2022-04-29 15:59] Y-LyN-10 commented on #4660
Sorry for the late response!

Yes, I believe our issue is different - `npm ci` does not work for us with lockfile ver 1. `--legacy-peer-deps` doesn't help. We are testing with all major LTS versions of Node.js, so we are kinda stuck to old lockfile format (re-creating it with with newer npm version via `npm install` solves the problem, but it's not an option for us due to _other_ NPM issues) and a

[2022-04-29 18:32] DaviWeiss commented on #4234
This worked for me too

[2022-04-29 21:48] JustinChristensen opened #4828 "[BUG] Platform-specific optional dependencies not being included in `package-lock.json` when reinstalling with `node_modules` present"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

I'm working on a team that utilizes a mix of x64-based and m1-based macs, and has CI build processes that uses musl. We're seeing that `npm` is skipping platform-specific optional dependencies for packag

[2022-04-30 00:53] AndreKR commented on #2891
The setting of the `GIT_SSH_COMMAND` environment variable that causes the issue was added in https://github.com/npm/cli/commit/42965fdfa08072e2b172d777569900522de63802. The commit message doesn't make clear what that change was supposed to do, so maybe it can simply be reverted? @wraithgar You are the author of the commit, any idea?

[2022-04-30 02:57] atomiks opened #4829 "[DOCS] npm pkg delete complex key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Enhancement, not another kind of Docs Enhancement.

- [X] This is a CLI Docs Enhancement.

### Description of Problem

The docs don't mention how to delete a complex key.

I have an `exports` key that I need to delete before publish, but I'm not sure how (or if it's possible). I want to dele

[2022-04-30 03:18] ljharb commented on #4829
Why can’t the exports path remain, and you just npmignore the file?

[2022-04-30 03:21] atomiks commented on #4829
Skypack CDN errors when building as it can't find the module: https://github.com/floating-ui/floating-ui/issues/1661

[2022-04-30 03:58] ljharb commented on #4829
Seems like a bug in skypack, since an unimported path shouldn’t even be checked.

[2022-04-30 06:36] klimashkin opened #4830 "Npm ci --workspace=<name> drops items in /.bin folder"
Hello,

If a workspace has a dependency that requires having its own node_modules, and we run `npm ci -w=<name>` in the parent to the workspace's folder, then it wipes out everything from the parent's node_modules/.bin, and puts there only scripts that belong to that workspace.

Found it out by missing `gulp` which is usually installed on the parent level, it disappears in that case.

Not sure if

[2022-04-30 08:23] 2A5F opened #4831 "[BUG] Error when package.json exists in volume root on Windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When using `npm i` in an empty directory and a `package.json` exists in volume root
`Error: EPERM: operation not permitted, mkdir 'D:\'` occurred

### Expected Behavior

[code]

Or maybe a more explicit error me

[2022-04-30 11:37] snake-py commented on #4234
I am still seeing this on win 10:

nvm 1.1.7
Node 16.5 and 18.0
npm 8.5.5 and 8.6

could only resolve once I downgraded to node 14.18.3 and npm 6.14.15

[2022-04-30 16:34] yosmarcode commented on #4234
Trata de actualizar la versión de nvm 1.1.9

[2022-04-30 17:05] WORMSS commented on #4234
nvm 1.1.9 has access denied problems.

[code]
The way to get around this issue is to keep with nvm 1.1.7

[2022-04-30 17:38] ath0mas commented on #4460
My 2 cents for me too ;)
- a **missing** integrity should NOT be treated as an error
fine with nothing like today and before, or a warning, but please not an error (even with a flag to disable it)
- a **mismatching** integrity should raise an error
at least I saw this before with my first experiences with npm 6 ; sad if it has been lost

Why this point of view?
Because some people like me use priv

[2022-04-30 21:23] fernandopasik commented on #2010
I think this will be fixed by replacing [this call](https://github.com/npm/cli/blob/latest/workspaces/libnpmversion/lib/version.js#L54) of git.is with git.find

[code]

I'm happy to create a PR if a maintaner is happy with this approach

[2022-05-01 15:35] wraithgar commented on #2891
https://github.com/npm/git/commit/8f2ce0459744719458201f42aa51bce02ad0c003

[2022-05-01 16:07] AndreKR commented on #2891
Ah, I see.

On a side note, a hanging installation as described in https://github.com/npm/git/pull/7 is certainly not good but I am not sure that simply accepting all new host keys is the wise thing to do. Perhaps aborting with an error would be better. But I'll assume you have evaluated this question and came to the conclusion that the risk is acceptable.

The solution in https://github.com/npm/g

[2022-05-01 18:08] yosmarcode commented on #4234
No es necesario solo tratar de iniciar la teminar en modo administrador  eso dependiendo del sistema operativo en uso

eso es solo una vez

espero que te sea util

[2022-05-01 18:27] WORMSS commented on #4234
Can't do it if you are not an admin.

[2022-05-02 13:39] mnapoli commented on #3847
I had the same problem with this setup:

[code]

Switching to this layout solved the problem for me:

[code]

That also means that I changed `foo/package.json`:

[code]

I would conclude that NPM workspaces don't support packages that are not in the same directory.

[2022-05-02 14:45] sonnystark commented on #3257
This worked for me. It took a few hours but now everything is working as it should again. Clean slate. Thanks a lot for this @PedroLuisBernardos !!!

[2022-05-02 16:53] aka5050 opened #4832 "npm install timeout on work VPN"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When on work VPN (Cisco AnyConnect), running `npm install` or any command which invokes npm to download causes the process to hang until timeout. Running off VPN everything works fine. Running M1 Macbook. Have c

[2022-05-02 18:19] nlf commented on #3581
Closing since this can no longer be reproduced. Please feel free to open a new issue if you see it happen again!

[2022-05-02 18:19] #3581 closed, assigned to nobody

[2022-05-02 18:59] #4727 closed, assigned to lukekarrys

[2022-05-02 19:00] nlf commented on #4732
I'm no longer able to reproduce this as of npm@8.7.0, can you give that a try @trusktr?

[2022-05-02 19:02] nlf opened #4834 "[BUG] Overrides are not applied correctly with workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When overrides are applied to a project with workspaces, they do not consistently apply.

### Expected Behavior

Overrides should apply regardless of the usage of workspaces.

### Steps To Reproduce

[code]

`tr

[2022-05-02 19:03] nlf commented on #4232
this does look to be workspace specific, i wasn't able to reproduce the failed overrides you're seeing in this repo when the workspaces are removed.

i opened a new issue to track workspace issues here: https://github.com/npm/cli/issues/4834

[2022-05-02 19:03] #4232 closed, assigned to nlf

[2022-05-02 20:56] darcyclarke opened #4836 "chore(access): Deprecate & warn for subcommands"

[2022-05-02 21:14] svsool opened #4838 "[BUG] npm exits silently with the code 254 and read only filesystem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [ ] I am using the latest npm

### Current Behavior

I use npm 8.6.0 and when I exec into Kubernetes pod and run `npm --version` npm exits silently. Then running `echo $?` prints 254. It used to work fine with npm 8.5.5, read only file system and mentioned below s

[2022-05-03 01:18] bim2016 commented on #4817
hi Jordan, any progress? thanks. Joe

On Thu, Apr 28, 2022 at 7:19 AM ning zhou ***@***.***> wrote:

[2022-05-03 04:20] jakebanks commented on #3711
Seeing it on 8.8.0, somehow deleting node_modules worked around the issue

[2022-05-03 04:26] sandeep-gh opened #4839 "[BUG] svelte-prepocess install fails : npm ERR! Exit handler never called!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Produces error with following message:
[code]

### Expected Behavior

Should have installed svelte-preprocess

### Steps To Reproduce

[code]

### Environment

- npm: 8.5.3
- Node.js: v12.22.6
- OS Name: OpenBSD

[2022-05-03 05:16] ljharb commented on #4839
Can you try with npm 8 latest?

[2022-05-03 08:17] sandeep-gh commented on #4839
I tried with npm 8.8.0, but the problem is still there.
Tailend of the log output
[code]

[2022-05-03 08:58] nguyenlam123 commented on #4232
For me, it works on

[code]

Does overrides work for anyone else using npm 8.5.5?

[2022-05-03 11:37] Exelord commented on #4232
I can still reproduce it (v8.8.0) as in the first post and Im not using any workspace

[2022-05-03 12:17] sanjoy0308 commented on #3374
I also faced same issue. I tried lot of the things suggested here and there and nothing worked. Then I pushed code to git and deleted the space and cloned again in new space. Problem is gone.

[2022-05-03 13:32] sourabhv opened #4840 "[BUG] init.author.name deprecation warning does not stop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

The `init.author.name` warning is still there

### Expected Behavior

Warning `init.author.name` should stop like other 2.

### Steps To Reproduce

1. In this environment...
   Mac OS Monterey on Macbook

[2022-05-03 13:51] metawrap-dev commented on #4800
I have located this discussion. https://github.com/npm/rfcs/pull/375 For what I would assume is a common use-case, it's hard to find a simple answer.

[2022-05-03 13:55] metawrap-dev commented on #4800
Also this https://github.com/npm/rfcs/issues/287

[2022-05-03 13:56] AndrewCEmil commented on #3210
Hi, just wanting to provide a bug report that I am also running into this. Interestingly I see things like the following:

$npx serverless@3 deploy

Need to install the following packages:
  serverless@3
Ok to proceed? (y) y
...

$npx serverless@3 --version
Framework Core: 2.72.2 (local)
Plugin: 5.5.4
SDK: 4.3.0
Components: 3.18.2

So it seems to install the right package somewhere, but doesn't us

[2022-05-03 14:00] wraithgar commented on #3898
Not sure if this is still an issue for you but it does look like an npm registry issue, not a cli issue.  If this still doesn't work with the latest npm cli please contact [support](https://www.npmjs.com/support).

[2022-05-03 14:00] #3898 closed, assigned to nobody

[2022-05-03 14:04] wraithgar commented on #3860
This doesn't appear to be a problem with the latest npm@8.  If you are still getting this problem with the latest cli version, please open a new issue with details of how you are installing it.

[2022-05-03 14:04] #3860 closed, assigned to nobody

[2022-05-03 14:07] wraithgar commented on #3905
This is going to happen when multiple packages in your tree try to define the same `bin`.  `@tsd/typescript` [does this](https://github.com/SamVerschueren/tsd-typescript/blob/master/package.json#L15), which will conflict with typescript's bin.  Which one ends up in `node_modules/.bin` is also nondeterministic.  The only fix is for one of the two modules to rename their bin entry.

[2022-05-03 14:07] #3905 closed, assigned to nobody

[2022-05-03 14:24] wraithgar commented on #3927
Can you try this with the latest version of npm? Using `npm@8.8.0` and a lockfile npm only fetches the tarball and not the `/typescript` packument.

[2022-05-03 14:30] wraithgar commented on #3888
https://github.com/npm/cli/blob/7a858277171813b37d46a032e49db44c8624f78f/lib/commands/logout.js#L39

[2022-05-03 14:51] wraithgar commented on #3960
It looks like this was fixed.  Using npm@8.8.0

`npm update` updates everything
[code]

`npm update -w workspace` updates just the workspace

[code]

[2022-05-03 14:51] #3960 closed, assigned to nobody

[2022-05-03 15:07] cainthebest commented on #3860
@wraithgar Yeah i haven't had any issues since, seems there was a fix and i just forgot about the issue. Ty

[2022-05-03 15:26] nlf commented on #4803
the `--install-links` flag was added in npm@8.8.0, you'll need to update to at least that version to use it

[2022-05-03 15:26] #4803 closed, assigned to nobody

[2022-05-03 15:49] JulienBrks commented on #3577
Works for me

[2022-05-03 17:29] wraithgar commented on #3961
Typically this is due to termux's severly limited resources.  We are constantly working on making npm work in these environments but it's not a guarantee.  See this [wiki entry](https://github.com/npm/cli/wiki/%22cb()-never-called%3F-Exit-handler-never-called%3F-I'm-having-the-same-problem!%22) for more info.

[2022-05-03 17:29] #3961 closed, assigned to nobody

[2022-05-03 17:42] wraithgar commented on #3847
I'm having trouble finding any comments in here that show how to reproduce this. A lot reference package.json files but don't specify what's in them.

For starters, the package specs for workspaces should not be `file` they should reference the version that's in the workspace.  npm will use the workspace automatically if the names match.

So as an example

[code]

[code]

This setup references wor

[2022-05-03 19:09] micah-press opened #4844 "[BUG] NPM doesn't complain about malformed JSON in package-lock file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

The artifacts of a merge conflict (`<<<< HEAD`, `||||`, `====`, `>>>>> <hash>`) in a `package-lock.json` file were accidentally committed to my repository. Running `npm ci` succeeded with no issues, even though

[2022-05-03 20:05] wraithgar commented on #3906
The behavior did change in 7, intentionally.  Disabling this would probably need to go through the [rfc process](https://github.com/npm/rfcs).

Docs will be updated https://github.com/npm/cli/pull/4845

[2022-05-03 20:05] #3906 closed, assigned to nobody

[2022-05-03 20:08] wraithgar commented on #3967
This appears to have been fixed.

[code]

[2022-05-03 20:08] #3967 closed, assigned to nobody

[2022-05-03 20:11] wraithgar commented on #3970
You are correct, you can't create symlinks across disks.  There isn't much npm can do about this.

[2022-05-03 20:11] #3970 closed, assigned to nobody

[2022-05-03 20:16] MarekBartczak commented on #2835
for me works when I removed (MAC ONLY!!)

by

and then

then install all your global package

[2022-05-03 20:21] wraithgar commented on #4844
This was a feature introduced in npm@7. It is intentional.  When the shrinkwrap is read from, it uses https://github.com/npm/parse-conflict-json and these conflicts are resolved.  Previously folks were using https://github.com/npm/npm-merge-driver but the resolution logic was moved into npm itself.

[2022-05-03 20:21] #4844 closed, assigned to nobody

[2022-05-03 20:22] wraithgar commented on #4840
Please fill out this issue completely. Of particular importance is the output from `npm config ls` as it may give us clues as to what is happening here.

[2022-05-03 20:29] wraithgar commented on #4838
npm logging was changed recently to open the logfile early and stream to it, rather than wait for errors.  To disable this completely use the flag `--max-logs=0`.  Please try this and see if it solves this issue.

The logging code is *supposed* to gracefully handle this situation but it appears to not be doing so in your case.  Can you also try running with `--loglevel silly` to see what happens?

[2022-05-03 20:31] wraithgar commented on #4831
This is by design.  When you run `npm install` it tries to find out what the package root is by walking up directories till it finds a package.json file.  An empty directory is not a package.  Add a package.json file to the directory to make npm treat it like a package.

[2022-05-03 20:31] #4831 closed, assigned to nobody

[2022-05-03 20:32] sourabhv commented on #4840
This might sound weird, but I removed the brew version and installed from nvm and it works fine now. Closing, not sure why it was happening.

[2022-05-03 20:32] #4840 closed, assigned to nobody

[2022-05-03 20:35] wraithgar commented on #4832
Are you sure that normal requests to `registry.npmjs.org` work in node when the vpn is connected?  This does not appear to be a problem with npm, it is simply using the networking it is given by the operating system.

[2022-05-03 20:45] wraithgar opened #4846 "[BUG] `npm ci -w` leaves workspace node_modules hanging"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When running `npm ci -w <name>` the base `node_modules` is removed, but any other workspaces that happen to have node_modules are not removed (for instance if they have non-hoisted deps).

### Expected Behavior

[2022-05-03 20:46] aka5050 commented on #4832
I'm not sure of anything related to this issue since it's something I am unfamiliar with. After time spent with IT on this they said that they suspected an issue with NPM so I went ahead and made this ticket. In my opinion an issue with NPM does not make sense in this case since everything works correctly off the VPN and I have not heard of anyone else that I work with having this same problem.
I

[2022-05-03 20:48] wraithgar commented on #4830
`ci` does work in the context of workspaces but it doesn't work like, say `run-script` or `bugs`.  For commands that install packages, the workspace flags limit the context to those of the workspaces listed.  However installations are still always done from the scope of the root project.  So npm is working as intended here.

The only hole in all of this is that currently the `node_modules` of all

[2022-05-03 20:48] #4830 closed, assigned to nobody

[2022-05-03 20:49] wraithgar commented on #4832
I agree that this does not look like an npm issue.  Feel free to show them this ticket if it helps you get further along with them.

[2022-05-03 20:49] #4832 closed, assigned to nobody

[2022-05-03 20:53] #4595 closed, assigned to nobody

[2022-05-03 20:55] aka5050 commented on #4832
Ok, thank you.
Can you suggest anything I can check on my end, maybe something with configuration of npm for network/vpn?

[2022-05-03 21:01] wraithgar commented on #4829
[code]

[Docs will be updated](https://github.com/npm/cli/pull/4847)

[2022-05-03 21:01] #4829 closed, assigned to nobody

[2022-05-03 21:04] wraithgar commented on #4832
The only config would be if you need to use a [proxy](https://docs.npmjs.com/cli/v8/using-npm/config#proxy)

[2022-05-03 21:16] Chocrates commented on #2610
I was getting this on my Docker builds, presumably because I have ssh keys set up on my dev machine that aren't copied to the docker image.
Eventually I bumped node up to v18 and it started working.

[2022-05-03 21:35] nlf commented on #4839
can you include the full debug log?

[2022-05-03 21:46] nlf commented on #4811
we're aware of these issues, and we've started some discussion towards how we can improve the file ownership story here: https://github.com/npm/rfcs/issues/546

this also applies to child processes, which i think should have their own rules and settings.

anyway, please do feel free to raise any comments, questions or concerns in the link above. i'm going to close this issue as a duplicate of the

[2022-05-03 21:46] #4811 closed, assigned to nobody

[2022-05-03 21:48] nlf commented on #4817
@bim2016 try changing your `registry` line in your `.npmrc` file to `registry=https://registry.npmjs.org`. you could also remove the line entirely since that's the default

[2022-05-03 22:06] dzearing opened #4850 "[BUG] Package.json `files` paths with leading periods don't get published"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When using leading periods in paths within the `files` section, the path is not included in publishing. This feels very inconsistent from paths in `exports` maps and other places.

### Expected Behavior

All rel

[2022-05-03 22:09] dzearing commented on #4850
Semi-related: https://github.com/npm/cli/issues/1435

I think glob matches seem to have issues with leading periods, which throws some confusion into expectations with the files array.

Documentation reference:
https://docs.npmjs.com/cli/v8/configuring-npm/package-json#files

Still a bit unclear after reading the docs which one is right:

* `./lib`
* `/lib`
* `lib`
* `lib/**/*`
* `lib/`

[2022-05-03 22:15] jabrks opened #4851 "[BUG] Unable to update peer dependencies in workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I've setup a root package with a single workspace, and in that workspace I've installed React and another dependency that has defined a peer dependency on the same version of React. That version of React gets ho

[2022-05-03 22:15] dzearing commented on #4850
I have a sinking feeling this could be by design. Which feels bad only because of the inconsistencies when using paths in different parts of `package.json`. I can understand tho.

Fixed the title to be more searchable for future hits.

[2022-05-03 22:51] bim2016 commented on #4817
thanks Jordan, that seems working even though i got below error when npm
login due to annoying OTP code (one-time password) requirement, is it
possible to disable it or at least make valid time limit longer? again,
very appreciated for your help! Joe
npm notice ERROR: Auth rate limited
npm ERR! code E429
npm ERR! 429 Too Many Requests - PUT
https://registry.npmjs.org/-/user/org.couchdb.user:bim201

[2022-05-04 01:27] gagan-bansal commented on #3472
Same issue here, any update on this issue?
node.js - v14.17.0
npm - 8.7.0
ubuntu - 18.04.6

[2022-05-04 02:37] wraithgar commented on #4851
It's `react-dom@16.14.0` inside `@testing-library/react@12.1.5` that's holding you back. `npm update react-dom` will fix this situation.  npm prioritizes keeping what's there if it already works.

[2022-05-04 02:40] wraithgar commented on #4851
This is still a minor bug, in that it keeps react-dom@16 under `@testing-library/react@12.1.5`, but at least you have a path to fixing your tree.

[2022-05-04 02:58] sandeep-gh commented on #4839
Full debug log:
[code]

[2022-05-04 06:33] klimashkin commented on #4830
Hi @wraithgar, thanks for the response!

I understand your reasoning, but let me tell you about a couple of cases we've been trying to solve in our organization, and maybe you can help with guiding me in the right direction.

1.  We have multiple workspaces in the repo, which can come and go depending on the branch you are on. We've built a pretty sophisticated sh hook to determine the root packag

[2022-05-04 07:00] 2A5F commented on #4831
Even then it shouldn't appear `Error: EPERM: operation not permitted, mkdir 'D:\'`

[2022-05-04 07:17] sfdevs-sf commented on #3847
it is happening in the ".nvm/versions/node/v14.17.2/lib/node_modules/npm/node_modules/@npmcli/arborist/lib/calc-dep-flags.js" on line 34 as target is set to null
`ArboristLink {
  name: '@services/common',
  packageName: 'common',
  location: 'a-service/node_modules/@service/common',
  path: '/Projects/app-api/services/a-service/node_modules/@services/common',
  realpath: '/Projects/app-api/servic

[2022-05-04 07:18] hitesh-sourcefuse commented on #3847
it is happening in the ".nvm/versions/node/v14.17.2/lib/node_modules/npm/node_modules/@npmcli/arborist/lib/calc-dep-flags.js" on line 34 as target is set to null
`ArboristLink {
  name: '@services/common',
  packageName: 'common',
  location: 'a-service/node_modules/@service/common',
  path: '/Projects/app-api/services/a-service/node_modules/@services/common',
  realpath: '/Projects/app-api/servic

[2022-05-04 07:41] sahilraj-developer commented on #1262
Same problem , what is the solution .
did you solve it

[2022-05-04 09:21] bennieswart commented on #4804
We're seeing the same issue on node 16.15.0 with npm 8.5.5. It worked previously on node 16.14.2 with npm 8.5.0.

[2022-05-04 10:19] zloirock commented on #2581
The same now on 8.6.0.

![image](https://user-images.githubusercontent.com/2213682/166663586-37893fc4-fb46-45af-b939-f542874ea130.png)

[2022-05-04 13:43] wraithgar commented on #4830
`ci` removes node_modules (and is supposed to remove workspace node_modules, which is an open bug right now).  It is not additive, its entire point is to "clean" before install.

[--include-workspace-root](https://docs.npmjs.com/cli/v8/using-npm/config#include-workspace-root) is the flag you want to incude the root project dependencies when reifying.

[2022-05-04 14:54] wraithgar commented on #3973
The way to install new versions of dependencies that are referenced by git tag is with `npm install <dependency>`.  See this comment for an explanation: https://github.com/npm/cli/issues/3755#issuecomment-1071461087

[2022-05-04 14:54] #3973 closed, assigned to nobody

[2022-05-04 14:57] Raynos commented on #3973
That's absolutely horrible.

When i install a dependency I run `npm install socketsupply/foobar#tag`

When any of my coworkers install the dependency they run `git pull && npm install`.

Forcing my coworkers to loop over every expression in the `package.json` and run `npm install thing#foo` is frustrating.

[2022-05-04 14:59] Raynos commented on #3973
In all fairness i have worked around this and started doing `npm i foo/bar#fullcommitsha` because tags & branches have a bad UX.

[2022-05-04 15:00] ljharb commented on #3973
I agree; I would expect a bare `npm install` to *always* fetch the latest git dep; if i didn't want that, i'd use `npm ci`.

[2022-05-04 15:02] Raynos commented on #3973
I got to the repo and run `git show HEAD | head` to grab the full commit sha, then I can install that :D

[2022-05-04 15:52] wraithgar commented on #3846
This is by design. Dependencies that are included via `file:` are linked into the project, they have to bring their own `node_modules` with them, the dependencies in the linked dep are not hoisted.

[2022-05-04 15:52] #3846 closed, assigned to nobody

[2022-05-04 15:58] wraithgar commented on #3985
The way to get environment variables into the new registry-specific auth is to reference them in your .npmrc file like this

[code]

You can then set `$NPM_AUTH` in your environment and npm will use that

See https://docs.npmjs.com/cli/v7/configuring-npm/npmrc#files for more info on how npmrc is loaded.

[2022-05-04 15:58] #3985 closed, assigned to nobody

[2022-05-04 16:00] wraithgar commented on #3993
Yes, the shorthand of `x/y` translating to a git url is what's happening here.  The trailing slash is required to let npm know it's a path, not the shorthand.

[2022-05-04 16:00] #3993 closed, assigned to nobody

[2022-05-04 16:02] wraithgar commented on #3999
`npm ci` is the "only use the package lock" command you want.

[code]

[2022-05-04 16:02] #3999 closed, assigned to nobody

[2022-05-04 16:05] wyckster commented on #2339
Hello again, @nlf, I wasn't able to get correct behaviour with npm 8.8.0.  (Refer to [my comment](https://github.com/npm/cli/issues/2339#issuecomment-904748108) in which I outlined a repro)

Perhaps I don't understand what I need to do differently, but this does **not** work:

[code]

I also tried this, which also does **not** work
[code]

So, can you please explain how I can take advantage of the

[2022-05-04 16:08] nmccready commented on #2339
At this point I agree with others npm 6 should be forked and start over and or abandon npm and go to pnpm.

[2022-05-04 16:10] wraithgar commented on #4850
Nah this is a bug.  [We already strip the leading `/` from the array](https://github.com/npm/npm-packlist/blob/ce176f794f2cce932fecc4446fe0c822403181dc/lib/index.js#L245-L246) there's no reason we can't strip leading `./`. Especially as you pointed out how `exports` works, and it's prudent to assume folks would want `files` to work the same way.

[2022-05-04 16:20] wraithgar commented on #4006
Closing as `npm ci` worked for the original author of the issue.

[2022-05-04 16:20] #4006 closed, assigned to nobody

[2022-05-04 16:24] wraithgar commented on #4817
Looks like you got the original issue solved.

The 429 rate limiting is something the npm registry itself sends, the cli doesn't have any control over that. You either have to wait that out or contact [support](https://www.npmjs.com/support) if it is happening when it shouldn't.

[2022-05-04 16:24] #4817 closed, assigned to nobody

[2022-05-04 16:25] wraithgar commented on #4813
Closing as a duplicate of https://github.com/npm/cli/issues/4850

[2022-05-04 16:25] #4813 closed, assigned to nobody

[2022-05-04 16:28] bim2016 commented on #4817
Ok, thanks.

On Thu, May 5, 2022 at 12:25 AM Gar ***@***.***> wrote:

[2022-05-04 16:30] wraithgar commented on #4794
The cli itself does not limit payload sizes, it works with many different registries. Each one can set their own upload size limit and the 413 response is how they indicate that an upload is too large.  This is not something the npm cli can do anything about.

You can contact the npm registry for support at https://www.npmjs.com/support

[2022-05-04 16:30] #4794 closed, assigned to nobody

[2022-05-04 16:30] silverkorn commented on #4234
You can also make it like it was on nvm 1.1.7 and popup for adminstrator rights using Powershell:
[code]

[2022-05-04 16:31] nlf opened #4854 "Release Manager: v8.9.0 (2022-05-04)"
**Target Version**: v8.9.0
**Target Date**: 2022-05-04
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

- [

[2022-05-04 16:32] wraithgar commented on #4792
A quick search of `ERR_OSSL_UNSUPPORTED` seems to indicate this may be a [node17 / openssl issue](https://www.code4copy.com/post/err_ossl_evp_unsupported-on-nodejs-17/).  Please use the full issue template when opening issues.

This does not appear to be an npm cli issue.

[2022-05-04 16:32] #4792 closed, assigned to nobody

[2022-05-04 16:33] #4850 closed, assigned to nobody

[2022-05-04 16:53] Minecodes commented on #4771
I solved the problem. I don't know how, but I had to just reinstall it.

[2022-05-04 16:53] #4771 closed, assigned to nobody

[2022-05-04 16:59] #4854 closed, assigned to nlf

[2022-05-04 17:04] wraithgar commented on #4600
[This is fixed in v8.9.0](https://github.com/npm/cli/blob/latest/CHANGELOG.md#v890-2022-05-04)

[2022-05-04 17:04] #4600 closed, assigned to wraithgar

[2022-05-04 17:21] wraithgar commented on #4708
Can you show the output of `npm config ls`, it looks like there is a scoped registry setting that `npm pack` is missing that `npm install` is picking up.

[2022-05-04 18:30] fernandopasik commented on #2010
I've tested this actually with workspaces as I'm interested in what's going on in https://github.com/npm/rfcs/issues/570
This issue might be needed to be fixed before implementing that rfc

[2022-05-04 19:04] fernandopasik commented on #2010
This is also in npm 8

[2022-05-04 19:04] OriginalHKwolf opened #4858 "npm install (Ubuntu)"
Hello, I am receiving this error when using "npm install"
Please advise on how to fix?

44807 error Linux 5.4.0-84-generic
44808 error argv "/usr/bin/node" "/usr/bin/npm" "install"
44809 error node v8.10.0
44810 error npm  v3.5.2
44811 error code EMISSINGARG
44812 error typeerror Error: Missing required argument #1
44812 error typeerror     at andLogAndFinish (/usr/share/npm/lib/fetch-package-meta

[2022-05-04 19:21] klimashkin commented on #4830
@wraithgar Thanks, we totally missed the [--include-workspace-root](https://docs.npmjs.com/cli/v8/using-npm/config#include-workspace-root) flag!

What about the first case, do you think there is a better way to additively install workspace deps in a dev environment, than `npm ci`

[2022-05-04 19:59] wraithgar commented on #4007
This error on termux/android typically has to do with the os running out of resources and prematurely killing processes.  There is not much npm can do for this environment.  We do have plans to try to make npm work better in limited resource environments, but until then you may have to use a system with more memory and/or file handles.

[2022-05-04 19:59] #4007 closed, assigned to nobody

[2022-05-04 20:00] wraithgar commented on #4014
This is not something that it is feasible for the npm cli itself to do. Typically security things like this are handled on a registry level.

[2022-05-04 20:00] #4014 closed, assigned to nobody

[2022-05-04 20:01] wraithgar commented on #4021
Yes that is what those mean

https://docs.npmjs.com/cli/v8/using-npm/config#legacy-peer-deps
https://docs.npmjs.com/cli/v8/using-npm/config#force

[2022-05-04 20:01] #4021 closed, assigned to nobody

[2022-05-04 20:13] ljharb commented on #4858
node 8 and npm 3 are both very obsolete. Can you upgrade?

[2022-05-04 21:18] wraithgar commented on #4858
Please use the new issue form when opening issues.

[2022-05-04 21:18] #4858 closed, assigned to nobody

[2022-05-04 22:21] billyjanitsch opened #4859 "[BUG] npm can install an invalid tree with transitive optional peer deps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Given the following packages:

[code]

[code]

[code]

[code]

[code]

Running `npm install` in `app` completes successfully, but results in the following invalid tree (`npm ls`):

[code]

Basically, `b`'s versi

[2022-05-04 22:24] billyjanitsch commented on #4859
(cc @lukekarrys, per your comment in https://github.com/npm/cli/issues/4664#issuecomment-1097620312.)

[2022-05-05 09:00] asjensse commented on #4234
Is this solved in the newest version `Node.js v18.0.0`?
Or is it still recommended to use `Node.js v16.X.X`?

[2022-05-05 09:35] OriginalHKwolf commented on #4858
Hi! Where can I find the new issue form

[2022-05-05 11:04] ivancuric commented on #4552
Issue is still present in npm 8.9.0.

[2022-05-05 12:54] pygy opened #4861 "[BUG] the output of the publish and postpublished are mixed up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

The upload bar of the publish script keeps being updated while the `postpublish` scripts are running, resulting in garbled output:

Here's a sample starting with four lines of adequate output then the rest where

[2022-05-05 13:43] cristiand391 commented on #4234
@asjensse the issue is caused by a change in npm, it only happens when using `nvm-windows` **on Windows** see: https://github.com/npm/cli/issues/4340#issuecomment-1035608510

They aren't going to revert that, so the recommended fix is to use nvm-windows v1.1.8, you can pin node to v16.13.2 which is the last known "good" version if your pipelines are blocked.

If you aren't using Windows and `nvm-w

[2022-05-05 16:19] glen-84 opened #4863 "[BUG] Critical issue with `npm link --install-links --save ../package/` deleting the package directory!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have two local packages that I need to link, and since regular linking is so broken, I decided to use the new `install-links` option. Linking one package removes the other, so I added `--save`.

This is the ou

[2022-05-05 18:07] nlf commented on #3306
I'm unable to reproduce this in npm@8.9.0. I'm going to close this issue, but please do open a new one if you see this happen again.

[2022-05-05 18:07] #3306 closed, assigned to nobody

[2022-05-05 18:45] lydell commented on #3306
@nlf Can you reopen this one, please? This is still an issue in 8.9.0.

[code]

And when you do fix it, please link the commit that fixes it. Bonus points for a regression test!

Edit: Opened a new issue.

[2022-05-05 20:40] cscleison commented on #4028
Update: rewriting my whole comment with my new findings

node v18.1.0
npm 8.10.0
windows 10 21H1

- Installing with arguments `--no-progress --no-color` is a bit faster but does not solve the problem. Git Bash has no color when installing npm dependencies, so I guess this is why some are recommending it and having some success with it
- It smells like a memory leak to me because if it hangs and yo

[2022-05-05 21:36] ruyadorno commented on #3633
Hi @tamusjroyce it would be helpful to understand a little bit more of the context here if you can explain what were you really trying to achieve when running `npx node -e "console.log('ok nice');"` ?

The `npx node` script will try to download the [`node`](https://www.npmjs.com/package/node) package from the registry (which I'm not sure is owned by the nodejs project or automatically updated) whi

[2022-05-05 21:36] #3633 closed, assigned to nobody

[2022-05-06 00:19] jamesbvaughan commented on #2628
I believe I'm seeing this same behavior with npm v8.9.0.

@bradbarrow Did you end up finding a workaround for this?

[2022-05-06 07:15] shirshendubhowmick commented on #3847
Problem exists with npm v8.7+ also.

What I have noticed is this happens while using npm workspaces and one of the dependency installed as `file:...`

[2022-05-06 09:14] 1rens1 commented on #3961
Thanks.
wow 6 months, I assume this is "lag"

[2022-05-06 12:03] jabrks commented on #4851
That seems to have done the trick, thanks for the swift response!

[2022-05-06 12:07] cscleison commented on #636
@isaacs i'm on npm 8.9.0
the example `npm i -D typescript@~4.6.3` works fine. `package.json` will have `"typescript": "~4.6.3",` as expected.
however `npm i ramda@~0.27.0` will give me `"ramda": "^0.27.2",`

interestingly, if I do `npm update ramda` afterwards, it doesn't update to `0.28` for example. it says it's up to date.

[2022-05-06 13:44] ljharb commented on #636
That’s expected since 0.28 isn’t in-range.

[2022-05-06 16:10] cowens-genvidtech commented on #3847
@wraithgar If that is the case and workspace dependency file type references are disallowed, it should be documented. Nothing in the current NPM documentation suggests this setup would result in any kind of problem. If possible, it would be nice for a more useful error to be emitted by the NPM cli in this scenario. The current error is extremely misleading.

[2022-05-06 16:45] 5exceptions commented on #4477
# use this command
npm i somepackage --workspace=submodule0

[2022-05-06 16:50] calocaleta commented on #4840
Hi, I use VSCode and edit the lines as the warning say:

`code /home/MYUSER/.npmrc`

I replace line 14:
`init-author-email=<email>`
or
`init.author.email=<email>`

instead:
`--init-author-email=<email>`

and works fine.

[2022-05-06 18:14] bnb commented on #4859
I _think_ I'm also hitting this on 8.9.0 and it's causing a Dockerfile build to fail, though it's not restricted to peerDeps - all my deps are failing to install with `npm ci`.

[2022-05-06 18:18] bnb commented on #4859
created a Gist of my package.json, package-lock.json, and log file: https://gist.github.com/bnb/f05ed6601c7997c0453d062ac7c23a64

I've nuked node_modules and run `npm install` and then `npm ci --only=production` again, get the same error output. I've also *just* run `npm install` without nuking `node_modules` and run `npm ci --only=production` and also get the same error output.

[2022-05-06 21:24] billyjanitsch commented on #4859
@bnb I don't think yours is the same issue. They share the same error message ("`npm ci` can only install packages...") but the failure state is different. In my case, `npm install` has produced an invalid tree/lockfile due to an interaction between peer deps and hoisting, and `npm ci` is (correctly) realizing that the tree is invalid and refuses to install.

I don't believe that your case is a bu

[2022-05-06 21:25] darcyclarke commented on #4859
@billyjanitsch Thanks for the thorough report & repro! I was able to reproduce (on `v8.5.5` & `v8.9.0` -- so this is notably not related to `v8.6.0` specifically).

Funny enough, I was able to run `npm install` a second time & that resolved the problem for me (so likely a race condition &/or missing condition in [`canPlaceDep`](https://github.com/npm/cli/blob/latest/workspaces/arborist/lib/can-pla

[2022-05-06 21:32] damellis opened #4866 "[DOCS] Explain behavior of "npm install" w/r/t package versions in package-lock.json."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Enhancement, not another kind of Docs Enhancement.

- [X] This is a CLI Docs Enhancement.

### Description of Problem

The [npm-install documentation for npm 8](https://docs.npmjs.com/cli/v8/commands/npm-install) doesn't explain the behavior of a no-argument "npm install" with respect to the

[2022-05-06 21:34] damellis commented on #4866
Also, there are apparently some complications around [tags](https://github.com/npm/cli/issues/3755#issuecomment-1071461087) and [git tags](https://github.com/npm/cli/issues/2844#issuecomment-1064548825) that would be great to document as well.

[2022-05-06 21:34] billyjanitsch commented on #4859
Thanks @darcyclarke. I mistakenly assumed that this didn't occur on <8.6.0 because I was using the `npm ci` failure as a test, but ofc it won't fail prior to 8.6.0 because that's when the check was added, even if the tree is invalid in this way. Thanks for looking into it and suggesting a stopgap workaround. 🙂

[2022-05-06 21:36] darcyclarke commented on #4859
All good, we'll get a fix in soon.

[2022-05-06 21:52] cjdevito11 commented on #3472
Same issue, has this been solved yet?

[2022-05-06 22:14] billyjanitsch opened #4867 "[BUG] npm repo <pkg> assumes a `master` branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Given the following package:

[code]

`npm repo b` points to `https://github.com/a/b/tree/master/c`. In other words, it assumes that a `master` branch exists, which increasingly isn't always the case with many r

[2022-05-06 22:29] ljharb commented on #4867
oof, this should definitely use `HEAD` and not `master`.

[2022-05-06 22:48] InaFK commented on #4011
Hi **@pdqsoftware**! I've similar situation on our legacy projects with the same issue (node v6.10.3 / npm v3.10.10).
Thank you **@ljharb** for describing the way how gradually move on to highest versions.
@pdqsoftware have you tried @ljharb's conception? If yes, how was it? Thanks!

[2022-05-07 01:29] darcyclarke commented on #4867
@billyjanitsch thanks for bringing this to our attention. The change required to make this possible is actually in an upstream dep ([`hosted-git-info`]()). It is a breaking change as this will more holistically change the default across the board for `npm` (but that's a good thing). We've got it queued up to land for `v9` which we'll hopefully have prereleases/RCs for in a month or so.

- https://

[2022-05-07 11:51] vugar005 commented on #3666
@cklogs  @XhmikosR . For now, we can use `--force `flag. For example: `npx @angular/cli@13 update @angular/core@13 @angular/cli@13 --force`

[2022-05-07 14:30] joepie91 commented on #2380
That behaviour doesn't make any sense for the intended usecase, though, and this is not how it worked in old npm versions (before `npm link` was broken) either. The whole point of this functionality is to *temporarily substitute* a dependency while developing or debugging on multiple packages at once.

So neither "overriding package.json with the substitute" nor "have the substitute be deleted eve

[2022-05-07 18:29] jsumners commented on #4250
Closing a valid issue because it doesn't follow a template is not cool.

Issue: trying to publish a module that does not yet exist by using an automation token result in a 404 unless using the `forceAuth` hack described above. The docs for `libnpmpublish` _seem_ to indicate that providing `{ token: 'an-automation-token' }` will result in that automation token being used for publishing, but that do

[2022-05-07 19:02] ljharb commented on #4250
@jsumners its not valid if the template isn’t filled out - that’s what it’s there for.

[2022-05-08 16:03] woweek commented on #2610
i use pnpm, also have this qustion, so above, my solutions is:
`sed -i 's|git+ssh|https|g' pnpm-lock.yaml`
and then pnpm install, it works:)

[2022-05-08 20:02] JoshMcCullough commented on #3021
@Xiaoming985 maybe a long shot but would my comment before yours help?

[2022-05-08 20:28] akoskm opened #4870 "[BUG] npx uses incorrect binary in workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Given the following monorepo:
[code]

After running `npm i` I get the following when I'm checking the versions of webpack in each of these packages:
[code]

In each of these packages, webpack is added to `devDep

[2022-05-09 08:07] akoskm commented on #4870
This is not a problem with npm.

When a monorepo uses multiple versions for webpack (4 and 5), webpack 5 must be installed and started in a specific way.

https://webpack.js.org/api/cli/#webpack_package

After following the above steps I could get the two other packages output the correct webpack version:

[code]

[2022-05-09 08:07] #4870 closed, assigned to nobody

[2022-05-09 08:45] sandeep-gh commented on #4839
Hello, Do we have any inclination as to why this issue is occuring. Is it an OpenBSD based issue. Would moving to other OS resolve. I would soonish be blocked on this.  Any suggestions/workaround/fixes would be helpful.

[2022-05-09 12:38] caohuilin opened #4871 "[BUG] npx command not install latest package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I runned  `npx create-react-app` to create react project three months ago. The create-react-app package version is v4.0.3.
Now, I want to run run  `npx create-react-app` to create react project, but npx command

[2022-05-09 14:38] lydell opened #4873 "[BUG] npx@8 regression: command injection / impossible to pass a bactick as argument"
### Is there an existing issue for this?

- [X] I have searched the existing issues

This is a duplicate of https://github.com/npm/cli/issues/3306, which was closed by mistake.

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Let’s say you have a `create-blog-post` CLI installed globally. You run it like so:

[code]

One day you install `crea

[2022-05-09 16:14] nlf commented on #4873
thanks for opening a fresh issue! i had it on my todo list for today to reopen the old one but this is great. thanks again

[2022-05-09 18:06] MykolaRodin commented on #4028
I met the similar issue when I installed `nodejs v12.22.9` on `Ubuntu 22.04` in `WSL` under `Windows 11 Home`. The installed `npm` had `v8.5.1` version. Immediately after installation `npm` was present in `/usr/bin` but absent in `/usr/local/bin`. With that configuration I got failures when trying to install `node-modules` for basic Angular project.

Running `sudo npm install -g npm --verbose` hel

[2022-05-10 07:07] thomai-d commented on #4477
Installing npm 8.9.0 fixes this issue for me.

[2022-05-10 09:42] yltx opened #4876 "[BUG] Failed to install any package with ERROR Code"npm ERR! Cannot read property 'insert' of undefined""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Why I don't use the latest version of npm:I even can't update npm by using "sudo npm i -g npm".

The environment information:

node version: v12.22.9

npm version: v8.5.1

WSL version:

Build: 22598

Release: Ub

[2022-05-10 09:50] rgparkins commented on #1637
I had this issue.. Turned out I have renamed the repo and although there are redirects in place to view code etc you do need the updated repo name in order to publish into the package repository

[2022-05-10 12:18] yltx commented on #4876
OK it has been fixed.

[2022-05-10 12:18] #4876 closed, assigned to nobody

[2022-05-10 14:32] Ninroot opened #4877 "[BUG] Inconsistent --silent for npm install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When running `npm install` with `json` and `silent` options the result are inconsistent.

`json` + `silent` options when the package does **not** exist removes the logs such as `npm ERR! code E404` + prints the

[2022-05-10 15:41] Siedlerchr commented on #2610
Even with npm 8.8.0 I still run into the issue.

Edit// `git+https://git@github.com/<repo>/.... `works for me now as a workaround in package.json

[2022-05-10 17:25] laurynnlowe commented on #3472
same issue

[2022-05-10 18:19] #4552 closed, assigned to ruyadorno

[2022-05-11 01:49] JustinChristensen commented on #4828
@nlf

Sorry to ping you out of the blue, but this issue has been open for 11 days now without any movement. Is there anyone working on npm right now that might have the bandwidth to at least validate that this is indeed a problem as I've described it?

Just so that when someone does become available to do some development work they know that this is in the queue?

Please and thank you.

[2022-05-11 02:35] tjx666 commented on #2835
always recreate .DS_Store:

<img width="881" alt="image" src="https://user-images.githubusercontent.com/41773861/167757480-3a37c22d-7a10-4676-8ca0-6d06331b99b2.png">

[2022-05-11 05:40] l0g1c-80m8 commented on #3359
Need help understanding this.
I set my npm registry to this registry which otherwise works.
`npm config set registry http://registry.npmjs.org/ --global`
In this case however, I had to set it to the one that you suggested. Can you mention what is the fundamental difference between the two registries.

I was trying to install madge when I got this issue:
`npm -g install madge`
It is available on bo

[2022-05-11 13:48] nickeeromo commented on #3472
Please upvote the issue if you believe there should be a resolution.

I just wanted to ask because it's not obvious to me in these posts, but is there a version/combo of npm and/or node that I would need to downgrade to where `npm audit fix` would actually do what it was intended to do? Or, is there a separate package resolver that is more up-to-date and could be recommended for this specific oper

[2022-05-11 15:07] salvozappa commented on #4769
When npm is run by a user without a home folder, the home folder is set to `/`.

This is the "normal" behaviour, even for older versions of npm not affected by this issue.
See:

[code]

Note:
    * `$USER` doesn't have a home folder in the docker image
    * This docker image comes with npm 8.5.5, still not affected by this issue

If we run the same command with the latest npm version, we get the

[2022-05-11 16:18] wraithgar opened #4883 "Release Manager: v8.10.0 (2022-05-11)"
**Target Version**: v8.10.0
**Target Date**: 2022-05-11
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-05-11 17:11] ruyadorno commented on #4277
should be fixed in `npm@8.10.0`

[2022-05-11 17:11] ruyadorno commented on #4552
should be fixed in `npm@8.10.0`

[2022-05-11 17:18] #4883 closed, assigned to wraithgar

[2022-05-11 18:24] fernandopasik commented on #2010
Sorry to ping you directly @ljharb (you helped me in the past) but do you think my approach acceptable?

[2022-05-11 18:27] ljharb commented on #2010
@fernandopasik i have no idea; i'm not an npm maintainer

[2022-05-11 21:41] dpomerantz-jci opened #4886 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I am on npm on WIndows.  Executing "npm run ci" runs "npm run prepare" script after ci.  This does not appear to be documented anywhere.

I'm not on the latest version, but this is clearly not in the documentati

[2022-05-11 22:10] rob-reynolds commented on #4177
I have the same issue.

[2022-05-12 00:57] ryenus opened #4887 "npm_config_userconfig vs NPM_CONFIG_USERCONFIG when referred as environment variable"
This is about the ambiguity regarding the case of the environment variables.

If we take `NPM_CONFIG_USERCONFIG` as the example.
[Here in the docs][1], it's referred as `NPM_CONFIG_USERCONFIG`, in **uppercase**:

  option `--userconfig` or environment variable `$NPM_CONFIG_USERCONFIG`)

However [later in the same docs][2], and [in the source][3], it's referred as `npm_config_userconfig`, in **lowe

[2022-05-12 06:07] leppaott commented on #1984
Yeah upvote the RFC/feature. The docs say `It's possible to directly add/remove/update dependencies of your workspaces using the [workspace config](https://docs.npmjs.com/cli/v8/using-npm/config#workspace).`

Nowhere it says DO NOT USE THE NORMAL WAY OF INSTALLING PACKAGES BUT USE THIS.

[2022-05-12 07:17] Vampire2008 commented on #4234
This bug also exists on Node 14.19.2 + npm 8.10.0

[2022-05-12 13:58] wraithgar commented on #4886
npm 6 is not the latest npm, npm 8 is.

The prepare lifecycle script is documented here: https://docs.npmjs.com/cli/v7/using-npm/scripts#life-cycle-scripts

It does mention that it runs on local install, which includes `ci` since `ci` is `clean install`.

If you feel this needs to be documented in other places feel free to submit a PR adding it there so it can be reviewed.

[2022-05-12 13:58] #4886 closed, assigned to nobody

[2022-05-12 14:01] wraithgar commented on #4887
This is a [cli docs problem](https://github.com/npm/cli/issues/new?assignees=&labels=Documentation%2CNeeds+Triage&template=docs-problem.yml&title=%5BDOCS%5D+%3Ctitle%3E), please use the appropriate templates when creating new issues. We get a lot of issues coming in, and they really do need to be properly tagged so they can be seen and triaged by the responsible parties.

[2022-05-12 14:01] #4887 closed, assigned to nobody

[2022-05-12 15:01] ed-gallagher opened #4889 "[BUG] Overrides not working for some transitive dependencies, cause ERR ELSPROBLEMS in npm ls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Using the following dependencies/overrides in `package.json`:

[code]

All versions of `minimist` under `appium` fail to get overridden. The `minimist` versions under `mkdirp@0.5.5` (which is also a transitive d

[2022-05-12 15:03] robi-wan opened #4890 "NVM for Windows cannot install npm 6.14.17"
See issue [Error installing NodeJS 14.19.2 with npm version 6.14.17](https://github.com/coreybutler/nvm-windows/issues/799).

NVM uses the URL https://github.com/npm/cli/archive/v6.14.17.zip to download npm.
This URL typed into a browser returns the same "error" as mentioned in the issue:
`the given path has multiple possibilities: #<Git::Ref:0x00007f49a98a1f98>, #<Git::Ref:0x00007f49a9891dc8>`

I

[2022-05-12 15:43] mrtawil commented on #4890
Same issue

[2022-05-12 16:11] ljharb commented on #4890
I believe this is a duplicate of another issue. Make sure you're on latest nvm-windows - 1.18 iirc?

[2022-05-12 17:08] mrtawil commented on #4890
I am using nvm version 1.1.9, it seems that the download link of this version of npm is broken

[2022-05-12 17:33] ryenus opened #4891 "[DOCS] npm_config_userconfig vs NPM_CONFIG_USERCONFIG when referred as environment variable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

This is about the ambiguity regarding the case of the environment variables.

If we take `NPM_CONFIG_USERCONFIG` as the example.
[Here in the docs][1], it's referred as `NPM_CONFIG_USER

[2022-05-12 18:19] douglasg14b commented on #4890
@ljharb

Please refer to the link in the OP.

Note that when you go to the link you recieve:

Instead of a zip file download.

Related: https://github.com/coreybutler/nvm-windows/issues/766

[2022-05-12 22:21] javabudd commented on #4589
one of the worst changes npm could have made, stop trying to infer best security practices when most users run in a container, completely isolated from the host machine...

[2022-05-13 00:57] summersk opened #4893 "[DOCS] npm publish - lifecycle event order discrepancy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

The observed lifecycle events order for `npm publish` differ to the docs.

### Observed

From verbose npm publish log (see repro below).

* `prepublish`
* `prepare`
* `prepublishOnly`
*

[2022-05-13 01:34] ljharb commented on #4589
Can you cite a source for “most”? In my experience most users run npm directly on their Mac.

[2022-05-13 02:21] ljharb commented on #4893
npm 6 is EOL. what does npm 8 do? (that's the only version that matters)

[2022-05-13 03:45] ryenus commented on #4887
Done, opened the doc issue https://github.com/npm/cli/issues/4891

[2022-05-13 05:28] summersk commented on #4893
I should have mentioned initially, both versions of the docs contradict themselves:

A quick check of npm from [latest](/npm/cli/tree/8a49e3ab6) _appears*_ to be in line with the v8 docs:
* `prepublishOnly`
* `prepack`
* `prepare`
* `postpack`
* `publish`
* `postpublish`

\*appears: _--verbose and foreground-scripts:true wouldn't log all events, had to trace runScript / npmcli/run-script :shrug:_

[2022-05-13 10:07] cx-david-moreira opened #4894 "[BUG] Invalid local dependency file doesn't fail install process"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When running the `npm install` command, if in the `package.json` file exists an invalid path for a local dependency file, the install process doesn't fail as expected.
Example: `"dependencies": { "json": "file:j

[2022-05-13 12:49] sathishsoundharajan opened #4895 "[BUG] npm install on Mac - Out of Memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm install stuck very long period of time. Eventually Mac Ran out of Memory started ask me to quit applications, even after quitting the applications npm stuck for very long period of time.

### Expected Behavi

[2022-05-13 12:52] swinster commented on #3078
Just a quick follow up on this. I was having a major issue trying to run `npm ci` when setting up Zigbee2MQTT (see https://www.zigbee2mqtt.io/guide/installation/01_linux.html#installing) suffering from this Socket Timeout error. I'm using an old Raspberry Pi Model B (so v1) and perhaps there is some odd NIC setting incorrect. However, other network related tasks are fine, fast and stable (e.g. cur

[2022-05-13 13:00] ljharb commented on #4895
How many git deps are in your package.json?

[2022-05-13 13:09] sathishsoundharajan commented on #4895
35 @ljharb but each git dependency may have other git dependency.. Is that causing the issue ? But it was not an issue until we were using node 12.16.1 and npm 6.13.4

[2022-05-13 13:13] ljharb commented on #4895
Typically the number of git deps you want is zero, so 35 seems like a pretty high number and the likely culprit, but I'll let the npm team weigh in.

[2022-05-13 13:20] sathishsoundharajan commented on #4895
Oh. But my company kind of uses git dependency for private lib's..  Can i add any more info for the core team.. I can help anyway i can. @ljharb

[2022-05-13 13:22] ljharb commented on #4895
@sathishsoundharajan unrelated to this issue, i'd suggest your company use a private registry. git is for development, not consumption.

[2022-05-13 13:28] sathishsoundharajan commented on #4895
Sure Thanks for the suggestion @ljharb .. Will try my best to convince them.

[2022-05-13 13:35] swinster commented on #4652
Just found this issue - I posted to https://github.com/npm/cli/issues/3078#issuecomment-1126024397 although that issue is closed so perhaps here is better.

I'm seeing this issue without a proxy. More detail in the post above.

[2022-05-13 17:02] sathishsoundharajan commented on #4895
For everyone interested in this thread, i have tried out these possibilities before raising this issue

1. Tried different internal repositories on different Macbook Pro's all of them reported the same issue.
2. Tried building the service via docker using node-alpine image, docker exited with code 137 ( out-of-memory ) after a while building the image.
3. Tried reducing the npm version to 6 but ke

[2022-05-13 17:55] swinster commented on #4652
I re-ran things, this time using `npm ci  --noproxy registry.npmjs.org`, but still no go:

[code]
I decided to leave a PCAP running on my edge router during this attempt. The PCAP was taken on the LAN side just so I would filter on the originating IP address of the Raspberry Pi.

The initial connection started just fine. We see DNS queries for `registry.npmjs.org`, and answers of:

[code]

npm mak

[2022-05-13 20:53] dlockhart opened #4896 "[BUG] GitHub references to dependencies slow/hang"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [ ] I am using the latest npm

### Current Behavior

As of approximately 10AM EST today, installing using a GitHub reference on NPM 6 became slow to the point where it often simply hangs. This was not the case previously, and works on NPM 7/8.

Unfortunately there

[2022-05-13 21:13] ljharb commented on #4896
Seems similar to #4895, but for swapped npm versions. Maybe something on GitHub’s side?

[2022-05-13 21:27] dlockhart commented on #4896
This is happening to everyone at our company -- Mac, Windows, inside GitHub Actions runners -- everywhere. (I don't think it's a Mac-specific issue).

[2022-05-13 22:03] sneko opened #4897 "[DOCS] Clarification on the proper way to change settings when doing a fork"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Enhancement, not another kind of Docs Enhancement.

- [X] This is a CLI Docs Enhancement.

### Description of Problem

Hi,

I posted today https://github.com/semantic-release/npm/issues/483 but I think at the end it's more appropriate to ask the question here since it's a general question:

[2022-05-14 01:49] achrinza opened #4898 "Status of nodesecurity.io"
It seems that https://nodesecurity.io has been parked for quite a while.

There are still references to this domain name in [documentation](https://docs.npmjs.com/auditing-package-dependencies-for-security-vulnerabilities).

[2022-05-14 03:36] ljharb commented on #4897
This feels more like community norms than CLI documentation.

I’d say that it’d be enough to change the name to a scoped one, and add a line to the readme saying it’s a temporary fork and linking to the PR(s), and then you can npm deprecate it once the PRs are merged and released.

[2022-05-14 06:23] sathishsoundharajan commented on #4895
@dlockhart @ljharb In my case, we are using gitlab.. but i believe underlying issue is npm not able to handle git based dependencies.

[2022-05-14 08:42] swinster commented on #4652
FWIW, I finally managed to get `npm ci` to complete - unfortunately, I didn't PCAP this working process.

I decided to reduce the number of concurrent sockets used by the npm client via the `--maxsockets x` parameter, however, rerunning npm ci straight after failure simply caused the process to hang and the process was eventually killed automatically by the OS. I had to clear the npm cache, and th

[2022-05-14 10:40] kennyh-tbg commented on #3711
I had it on 8.5.5 - Some context though because it was not really an NPM problem. I could install many other packages. I had a local package that didn't exist in my package.json. Deleting the line and the package-lock.json was not enough. I had to delete node_modules as well.

So if you are having issues it may be a bad package somewhere.

[2022-05-14 11:02] kennyh-tbg commented on #3711
I had the same issue. It turned out that one of my dependencies, a local one, had a dependency on a package that did not exist (locally). It was odd because the first time I did an install after wiping node_modules and package-lock.json it would work fine. If I tried to re-install it would fail with the error above.

[2022-05-14 15:12] marcesher commented on #4896
Definitely seeing this issue, starting Friday May 13th sometime early to mid-afternoon Eastern time

Here's what I see now. Installing with `git+https`:

[code]

and with `github:`:

*Note*: this isn't even installing from scratch, just running the same npm install with a different protocol

[code]

Importantly, this is with an older version... nodejs 12.22.12 / npm 6.14.16

When I try the most re

[2022-05-14 18:38] forresthopkinsa commented on #3359
After waiting a while in verbose mode, I got this stack trace:

[code]

After that the solution was pretty obvious, I just disabled IPv6 on my machine and then NPM worked fine.

[2022-05-14 20:57] sneko commented on #4897
@ljharb correct me if I'm wrong but:

If I start a PR to the original repository with the improvements, and then I commit adjustments to publish the package on my own (adding the scope, modifying the README.md...) it will adjust/affect the PR directly (with those latter modifications). Am I right?

If so, the solution would be (naming as example ^^):
* use a branch `improvement` (to commit the imp

[2022-05-14 21:39] ljharb commented on #4897
Yes, that’s basically right - the branch you work on and publish wouldn’t be the same one you made the PR from.

I’m not aware of any way to override the package name when publishing; it has to be actually in the package.json.

[2022-05-15 01:24] jdhiro commented on #4232
I was able to jump over to node18/npm8.8.0, run 'npm i', fix the package-lock.json, and go back to node16.

[2022-05-15 03:51] bernardoadc commented on #4133
same here, simply cannot reset password. Tryed also in cli, which correctly asks for new password, but does not work as well:

[code]

[2022-05-15 04:34] BosskurrMH opened #4899 "Renovate"

[2022-05-15 05:31] #4899 closed

[2022-05-15 05:49] peekay1111 opened #4900 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

┌──(root㉿localhost)-[~/L3MON]
└─# npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be

[2022-05-15 05:50] peekay1111 commented on #4900
Also Localhost:22533 not opening

[2022-05-15 11:03] zerodeathsO6 opened #4901 "ERR_SSL_CIPHER_OPERATION_FAILED"
Installing any package causes this error. I am currently using Windows 10 and NodeJS v17.

[2022-05-15 13:58] psydvl commented on #4167
For me, broken on npm 8.5.2 with nodejs v17.7.1 and works on npm 8.5.0 with nodejs v16.14.2
Even on empty folder

<details>
<summary>npm 8.5.2</summary>

[code]

</details>
<details>
<summary>npm 8.5.0</summary>

[code]

</details>

I use OpenSUSE Tumbleweed and install node&npm using zypper
<details>
<summary>zypper info nodejs17 npm17</summary>

[code]

</details>

<details>
<summary>zypper info

[2022-05-15 17:31] Arturexe commented on #4309
I'm on `node 18` with `npm 8.6` and this is still happening to me out of nowhere. This morning I've set up a new project and now suddenly I can't use `npm` anymore.

[2022-05-15 20:11] grassick commented on #4896
If you run npm with `-ddd` you'll see the failure is attempting to run git ls-remote. e.g.

`git ls-remote -h -t git://github.com/mWater/jsonql.git`

This also runs slow on the command line. But replacing it with:

`git ls-remote -h -t ssh://git@github.com/mWater/jsonql.git`

or

`git ls-remote -h -t https://github.com/mWater/jsonql.git`

Are both fast.

So it's trying to use the git protocol, whi

[2022-05-15 20:22] grassick commented on #4896
Even more disturbing, if you change the dependency to explicitly use ssh:

e.g. `    "jsonql": "git+ssh://git@github.com:mWater/jsonql.git",`

It still times out attempting to get it over git protocol!

e.g.:
`npm sill pacote Retrying git command: ls-remote -h -t git://github.com/mWater/jsonql.git attempt # 2`

[2022-05-15 20:39] grassick commented on #4896
I have a solution that works for me:

Run `git config --global url."ssh://git@".insteadOf git://`

This appears to configure it to use ssh instead of the git protocol which no longer works.

[2022-05-16 07:52] ghost commented on #4896
Experiencing this issue also with Node 14.19.0 & npm 6.14.17.

Before experimenting with the workarounds, would be awesome to resolve why this started just this suddenly 🤷 ...

[2022-05-16 09:25] sathishsoundharajan commented on #4895
Is there config, which i can tweak to reduce the no of npm install process OR git-remote-https process limit ?

It seems to be happening only after migrating node version 16 and npm version to 8+ latest.
This happens consistently.

[2022-05-16 09:50] Chuckytuh commented on #4896
We experienced the same slowness on 6.14.11, we found out that updating npm to version 7.16.0 (at least, that was our go to version for other reasons) solved the issue., although it's not clear the root cause.

[2022-05-16 12:06] slavoroi opened #4902 "npm 6 became really slow"
node: `16.13.0`
npm: `6.14.17` (was updated from` 6.14.15`)
OS: Ubuntu `20.04`

We started experiencing slowness since yesterday.
A simple `npm i` takes a long long time.

*** Updating to npm 8 worked for me.

[2022-05-16 12:37] #4902 closed, assigned to nobody

[2022-05-16 12:38] slavoroi commented on #4896
Similar issues happening to our repos with github packages.

node: 16.13.0
npm: 6.14.17 (was updated from 6.14.15)
OS: Ubuntu 20.04

We started experiencing slowness since yesterday.
A simple npm i takes a long long time.

*** Solved it by removing a package named:
`"@types/mysql2": "github:types/mysql2"`

And updating `mysql2` which had types.

[2022-05-16 13:22] mikemaccana commented on #3847
[code]

[2022-05-16 14:16] AnderssonPeter opened #4903 "[BUG] when installing npm npm.ps1 is generated, ps1 files don't handle -- as expected!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If I run `npm run test -- --value '10'` the `npm.ps1` file removes the -- this in turn removes all parameters that start with --.
[code]

if I remove `npm.ps1` powershell instead executes npm.cmd and everything

[2022-05-16 14:18] ulugbekna commented on #1721
Hi, was the issue closed because the bug had been fixed?

I'm experiencing the same problem in a similar setup, in which I first download node and move node and npm binaries.

$ node --version
v12.18.2

[2022-05-16 14:41] CherryDT commented on #4903
See also:

* https://stackoverflow.com/questions/72259748/scripts-arguments-starting-with-are-removed/72260631#72260631
* https://stackoverflow.com/questions/70090402/why-arent-npm-scripts-relaying-arguments-correctly-on-windows-powershell
* https://github.com/MicrosoftDocs/PowerShell-Docs/issues/8817

[2022-05-16 15:20] thijsdaniels commented on #3472
@JakeIwen I tried your solution, but it didn't change anything for me.

I'm also using `semantic-release` and therefore had a local `npm` installation in my `node_modules`, so I completely removed `semantic-release`, clean installed my dependencies, double checked that `npm` was no longer in the `node_modules` and ran `npm audit fix`.

The result was the same as before: NPM mentioned some vulnerab

[2022-05-16 16:34] sathishsoundharajan commented on #4895
Hello Team, Do you anyone have suggestions on how to fix this issue ?

[2022-05-16 16:42] kasper9n commented on #3350
@ruyadorno https://github.com/npm/rfcs/issues/389 is a feature request for npm to respect standard file locations. This issue is a bug where setting `npm_config_cache` doesn't work, so it's not related to the RFC. Would be great if this could be reopened

[2022-05-16 17:15] copyNdpaste opened #4904 "[BUG] sudo npm install not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`sudo npm install`

![Untitled](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/b45609fb-e5d5-4c9f-b723-ee7b4968906a/Untitled.png)

### Expected Behavior

install packages

### Steps To Reproduce

ht

[2022-05-16 17:48] darcyclarke commented on #4898
Can you open a PR/issue against https://github.com/npm/documentation? That's where the relevant images/documentation is that is outdated.

[2022-05-16 17:48] #4898 closed, assigned to nobody

[2022-05-16 17:54] ljharb commented on #4904
node 8 and npm 3 are both very EOL. Can you please try node 14 or later, and npm 8?

[2022-05-16 18:29] benvds commented on #4367
I've got the same problem on 18.1 / 8.8:
[code]

When running:
`npm i --save-dev sb && npm sb init --type react --builder webpack5 -f`

[2022-05-16 19:27] treasuretron commented on #4028
having this issue on Fedora 34 with npm 6.14.16. I am able to control-c out of it though, doesn't lock up my machine. I tried removing proxy and `npm config set registry http://registry.npmjs.org/`, rebooted, no change.

[2022-05-16 19:31] jsha opened #4905 "[BUG] Depends on deprecated packages path-is-absolute and read-package-tree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Hiya! 👋🏻

When I installed the latest npm, I was surprised to see `path-is-absolute` among the dependencies. [Its npm page says](https://www.npmjs.com/package/path-is-absolute):

On further digging, I found that

[2022-05-16 19:33] tamias opened #4906 "[BUG] `npm publish` doesn't ignore non-top-level directories specified in .gitignore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm publish` includes files in directories that are ignored by git, when the directory is within another directory but is specified in .gitignore by name only rather than by path.

### Expected Behavior

`npm p

[2022-05-16 19:42] ljharb commented on #4905
What does `npm explain path-is-absolute` say?

Either way, a package being deprecates is not automatically a problem, and isn't necessarily actionable. A package that's not strictly necessary isn't harmful.

[2022-05-16 19:54] jsha commented on #4905
<details>
<summary>npm explain path-is-absolute</summary>

[code]

</details>

Shorter, with a grep:

[code]

[2022-05-16 19:58] ljharb commented on #4905
Sounds like it's a direct dev dep, and also from glob, so your glob PR (once released) would solve most of it, and there's at least one usage directly inside the cli as well that'd need to be removed.

[2022-05-16 21:27] darcyclarke commented on #4901
Looks like this may be a duplicate of https://github.com/npm/cli/issues/4348 & https://github.com/npm/cli/issues/3078 which should have been resolved by https://github.com/npm/minipass-fetch/pull/53. I'd update your version of npm & node to the latest versions & see if that resolve your problem (re. `npm@8.10.0` & `node@18.1.0`).

[2022-05-16 21:27] #4901 closed, assigned to nobody

[2022-05-16 21:36] darcyclarke commented on #4890
I'm not sure what the root cause of this problem is but I see that others have found a way around this: https://github.com/coreybutler/nvm-windows/issues/373#issuecomment-529991743 `npm@6` is essentially in maintenance mode & only gets security patches when we can/are able to. You should try updating to the latest stable version of node & npm whenever possible (ie. `node@18` & `npm@8.1.0`).

[2022-05-16 21:38] darcyclarke commented on #4890
@ruyadorno when you get a second, can you look into this? (ref. https://github.com/npm/cli/archive/v6.14.17.zip)

[2022-05-16 21:47] sneko commented on #4897
Thank you @ljharb for the information that confirms using 2 branches with PRs :)

I will leave the issue open so maybe more people can see it and share their thoughts. Because my original need of modifying dynamically the final package name does not seem to me like something counterproductive. (but indeed if I'm the only one requesting it, that's probably the wrong way ^^)

[2022-05-16 23:36] isaacs commented on #4895
It looks like you have a git deps depending on one another in a cycle in order to perform their `prepare` scripts.  npm checks out git deps into a temporary folder to construct artifacts that are needed in order to install them properly.

So, if you have `git@github.com:org/a` that requires `git@github.com:org/b` and `b` also depends on `a`, and they both have `prepare` scripts, then nothing can i

[2022-05-17 04:55] MatiasDuhalde commented on #4309
I had this problem some time ago, and just as @nlf suggested here https://github.com/npm/cli/issues/4309#issuecomment-1062250233, it was related to my IPv6 stack configuration, and the problem was not limited to the npm registry, but also extended to the communication with other services that use IPv6, as I could diagnose later. Also, in my personal case, the problem was not exactly my OS, but my

[2022-05-17 06:37] eldadpuzach commented on #4896
node: v11.13.0
npm: v6.7.0

Our `npm ci` build step duration increased from ~4min to ~45min.

Solved by replacing github protocol with https
at `package-lock.json` & `package.json`
e.g.:
[code]

[2022-05-17 07:23] sathishsoundharajan commented on #4895
Thank you @isaacs for your response.

Here is what i have tried after your comment,

1. Tried `npm i --legacy-peer-deps --ignore-scripts --verbose` the installation of packages stuck at one point and never moved to next step for almost 30mins ( so had to manually cancel the operation ). Even while running this --ignore-scripts command i can see bunch of `npm install` process created and stuck with

[2022-05-17 08:53] samuelpatro commented on #4028
We had same issue it started hanging, getting stuck on rxjs package. Mostly we updated to nodejs 16 and npm to 8 and removed `node-sass` package and used `sass` and issues were solved. Not sure what was happening but it was nice friday.

[2022-05-17 09:49] sathishsoundharajan commented on #4895
Reran the installation once again with `npm i --legacy-peer-deps --verbose`. Process ran for 1h 30mins got stuck and Macbook automatically logged out the user by killing all the process running internally.

This time also cleared the old logs from the folder and this process generated multiple logs.

<img width="846" alt="Screenshot 2022-05-17 at 3 19 18 PM" src="https://user-images.githubusercont

[2022-05-17 11:00] wjureczka opened #4907 "[BUG] TypeError [ERR_INVALID_ARG_TYPE]: The "from" argument must be of type string."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

On the local machine packages and workspaces are installed properly.

When using gitlab CI, this error occur:
[code]

### Expected Behavior

It should install without errors or create debug log that helps to fin

[2022-05-17 12:08] tleunen commented on #4804
Same here. `postinstall` doesn't run on Node 16.15.0 with npm 8.5.5, but it works fine in node 16.14.2 with npm 8.5.0

The setup is with NPM workspaces, where one of the workspace is a dependency of another and it contains a `postinstall` script.

Updating `npm` to 8.10.0 seems to fix this issue for me tho

[2022-05-17 14:18] FritzHerbers commented on #4028
Thought it hangs during download as it shows several minutes the following message
`[##################] - reify:rxjs: timing reifyNode:node_modules/rxjs Completed in 151764ms`

But this is maybe the last package what was downloaded and further actions are running.

NPM should
- inform explicitly when all downloading activities are finished
- inform which step it is executing

[2022-05-17 14:41] flensrocker commented on #4028
For me, it works better with npm 8.9.0 (on Windows).

But I can confirm, that during `npm ci --verbose` the multiple "reify" messages get slower with each package.

[2022-05-17 16:31] foenixix opened #4908 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have multiple private npm registries with the same url base.
For installing my packages, it is enough to just specify authentication using this one line in my .npmrc: `//<base_url>/:_authToken=<auth_token>`.
T

[2022-05-17 16:34] everett1992 opened #4909 "[DOCS] Document how to replace a dependency with a fork with overrides."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Enhancement, not another kind of Docs Enhancement.

- [X] This is a CLI Docs Enhancement.

### Description of Problem

https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides

This sounds like you can replace `foo@1.0.0` with `@private/foo-fork@1.0.0` but the examples and docume

[2022-05-18 08:08] mathiasmaerker commented on #4303
for me every `npm i-g ..` command fails with the same error message on Win 10

[2022-05-18 08:36] BojanKogoj commented on #3666
We used `--legacy-peer-deps` (as suggested in error message) and it works this way for now.

[2022-05-18 10:33] #4904 closed, assigned to nobody

[2022-05-18 11:52] tbruckmaier commented on #4028
We have experienced the same symptoms on node v14. Our problem was with a package which directly referenced a certain branch from github:
[code]
Once we replaced that dependency with a regular version constraint, `npm install` / `npm ci` worked properly again:
[code]

This might be a different issue, but since the log messages dont give any clue about the underlying problem, I have ended up in thi

[2022-05-18 12:26] WhyNotHugo opened #4911 "[BUG] Extra .npm directory created in user's home while npm_config_cache set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

A ~/.npm directory gets created on npm install along with the correct directory specified in npm_config_cache. On a fresh install without a cache created yet, the size of the extra ~/.npm directory is 2.1 MiB an

[2022-05-18 12:26] WhyNotHugo commented on #4911
Previously reported in https://github.com/npm/cli/issues/3350 and in https://github.com/npm/cli/issues/1305. Both were closed without any discussion, apparently both times by a bot which assumed the issue had been dealt with.

[2022-05-18 14:36] darcyclarke commented on #4895
@sathishsoundharajan this seems like a duplicate of https://github.com/npm/pacote/issues/127. The temporary workaround there looked like setting `_PACOTE_NO_PREPARE_=true` in your `.npmrc` file (but I wouldn't rely on that long-term).

I was able to repro this by just creating a circular linked dep with a `prepare` script (which I'm guessing is similar, if not the same to the git dep circular fork

[2022-05-18 14:53] ljharb commented on #4911
Both issues were closed manually by a different human; no idea why you’d think that’s a bot.

I agree this is a bug and not related to the RFC linked in the other issue’s closure.

This issue has no title set, so i doubt it will get proper attention. Can you give it a proper title?

[2022-05-18 15:13] WhyNotHugo commented on #4911
The message ends with "Closing: This is an automated message.".

My bad, fixed.

[2022-05-18 15:38] ljharb commented on #4911
Ah, i see one of those does, yes.

[2022-05-18 16:18] mtrezza commented on #4896
Here is what fixed the issue for me in AWS EC2 / ElasticBeanstalk deployment of a Node.js app:

Run a [command][1] in `.ebextensions` with:

[code]

Only checking your own `package.json` and changing the protocol may not be enough. If there are dependencies that are also referencing their own dependencies directly in GitHub using the `git` protocol. The above solution accounts for all of them.

[2022-05-18 16:30] RandomByte opened #4912 "[BUG] Inconsistent values for `npm_package_*` env variable when executing command in workspace since npm v8.8.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Since npm v8.8.0 (also confirmed with v8.10.0), the environment variables available to a command execution in a workspace seem to be inconsistent:

While the `npm_package_json` variable still points to the packa

[2022-05-18 16:52] joeycozza commented on #4896
To go along with @mtrezza 's comment. If you need to address this in Travis CI, you can add it to the `before_install` section of your .travis.yml file like this.  That addressed the issue for us.

[code]

[2022-05-18 16:54] sathishsoundharajan commented on #4895
Thank you so much @darcyclarke for looking into this.

My finding with setting `_PACOTE_NO_PREPARE_=true `

1. Tried creating `.npmrc` file under project root directory and tried running `npm i --legacy-peer-deps --verbose`.  Didn't see any improvement.
<img width="1680" alt="Screenshot 2022-05-18 at 8 32 39 PM" src="https://user-images.githubusercontent.com/8023447/169097383-9935b070-db4f-4bcc-90

[2022-05-18 18:54] Shakeskeyboarde opened #4914 "[BUG] package-lock.json contains too many details about the current package."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

The `package-lock.json` file includes the current package name (`$.name`), version (`$.version`), the a current package entry (`$.packages[""]`).

This has the following negative side effects:

- It seems less t

[2022-05-18 19:47] JimmayVV commented on #2725
This really needs some official attention

[2022-05-18 22:28] fritzy opened #4916 "Release Manager: v8.11.0 (2022-05-25)"
**Target Version**: v8.11.0
**Target Date**: 2022-05-25
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-05-19 00:55] JustinChristensen commented on #4828
Bump

[2022-05-19 04:23] lovedder1995 commented on #4819
I had this issue too.

The problem was because when I started a proyect ([Alpinejsx](https://github.com/lovedder1995/alpinejsx)) I inmediatly used `npm i nano-jsx`.

The solution was to use first `npm init` to create a "complete" `pacakge.json` file.

[2022-05-19 10:12] ThePiyushAggarwal commented on #3472
Whatever messages I received. I followed them manually.

Like

npm i -g reactscripts@latest

I did this for every package that was deprecated and at the end it was better

[2022-05-19 10:13] TPXP commented on #4896
The root cause of the issue is that github disabled the `git://` protocol for pulling repos. See [their blog article](https://github.blog/2021-09-01-improving-git-protocol-security-github/) and [this StackOverflow answer](https://stackoverflow.com/a/69812472/3841242).

It'd be awesome to release a fix for the NPM v6 series 🙏 .

[2022-05-19 10:39] mtrezza commented on #4896
Every npm version that is still under LTS should actually receive a fix for this. It became a bug to use the `git` protocol and in many cases npm resolves a GitHub reference without explicit protocol to that disabled protocol.

[2022-05-19 14:07] jchiem commented on #4684
Hi, I believe this bug is still applicable but I'm unsure if it's dependent on the complexity of the dependencies.

I've set up a [public repository ](https://github.com/jchiem/npm-overrides-bug) which provides more details about still being able to reproduce this in versions above `npm@8.5.5`.

(I can also open a new issue if that is the preferred method of doing things, when I was reading the CO

[2022-05-19 16:09] marcesher commented on #4896
Does this mean that despite the deprecation schedule mentioned in that post, they didn't _actually_ remove support until this past Friday May 13th?

[2022-05-19 16:54] dlockhart commented on #4896
That's my interpretation of what happened, yeah. Maybe GitHub figured it was better to do something like that on a Friday the 13th?

[2022-05-19 22:27] iyegoroff opened #4921 "[BUG] `npm i` creates wrong symlinks inside workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When workspace `packages/bar` has workspace `packages/foo` as a dependency `npm i` creates invalid `foo` symlink inside `packages/bar/node_modules` folder.

Folder structure and `packages/bar/package.json` file:

[2022-05-19 22:54] monkbroc commented on #4028
I'm also experiencing the issue where a package that directly references a certain branch from github makes `npm install` hang. Switching from `github:user/repo#branch` to `git+ssh://git@github.com/user/repo.git#branch` works around the issue. This seems like a recent development (days or weeks).

[2022-05-20 04:14] cbartondock commented on #2610
Holy cow this one is egregious. Please fix.

[2022-05-20 08:57] raphael10-collab opened #4923 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I'm getting this error:

    (base) raphy@pc:~/NEW-Raphy-Template$ yarn start
    yarn run v1.22.18
    $ yarn run build && ELECTRON_DISABLE_SECURITY_WARNINGS=true electron ./dist/main/main.js
    $ npx webpack

[2022-05-20 11:36] eyudin commented on #4896
I patched pacote in node-v14.17.6 like this:
[code]
This completely solved the problem for github shortcuts.

[2022-05-20 12:32] github-matthieu-wipliez commented on #4889
Hey there, I also have the same issue. And I suspect that sooner or later thousands of developers looking to upgrade `minimist` (27M downloads/weeks of insecure < 1.2.6 versions) will attempt to use `overrides` to solve this (like I did). And fail miserably because `overrides` is not working properly for this relatively simple and yet crucial use case 🤷  @nlf @wraithgar @lukekarrys @ruyadorno or a

[2022-05-20 12:50] david-benes commented on #4896
fixed by replacing npm with yarn

[2022-05-20 13:42] ghost opened #4924 "[BUG] npm unpublish for specific version got unpublished the whole package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Hello,

I have tried to unpublish the specific version ( maybe the first version of the package to publish ) to hide the insecure package that had some vulnerability for it.

I have done this right after publish

[2022-05-20 13:44] ghost commented on #4924
Doing `npm publish` result with 403 error

[code]

[2022-05-20 13:46] ljharb commented on #4923
You’re getting an error running yarn start - which isn’t npm - with an error from webpack - which isn’t npm.

You’ll need to file an issue with webpack here, not npm.

[2022-05-20 13:46] #4923 closed, assigned to nobody

[2022-05-21 00:52] rulrok commented on #3847
The problem for me, following the responses, was linking a repo with `npm link`

[2022-05-21 07:44] pygy opened #4926 "Alias `--tag` to `--channel`"
git tags and npm tags are often concomitant concerns, and having the same term for both causes unnecessary confusion.

In common parlance, npm tags are refered to as release channels, it would be nice if that was reflected into the cli options, with a `--channel` that would alias to `--tag`.

[2022-05-21 12:34] hungnc051220 commented on #4234
This worked, thank you so much!

[2022-05-21 16:15] ljharb commented on #4926
Where is this term “commonly” used?

[2022-05-21 21:48] pygy commented on #4926
Here are the relevant hits on duckduckgo when you search for "release channel".

https://cloud.google.com/kubernetes-engine/docs/concepts/release-channels
https://docs.expo.dev/distribution/release-channels/
https://reactjs.org/docs/release-channels.html
https://support.google.com/chrome/a/answer/9027636?hl=en
https://developer.oculus.com/resources/publish-release-channels/
https://docs.microsoft.