[2022-05-21 21:51] ljharb commented on #4926
A release channel is a common concept for particularly large projects. However, npm tags - and git tags - are both used quite commonly *not* for that, and also both used *for* that. This alias would be confusing.

npm's command is `dist-tag`, so the only alias I think would make sense here is `dist-tag`.

[2022-05-21 21:58] pygy commented on #4926
Large projects appear on the first page of search results.

Channels are used by projects of all sizes.

I'm not saying tags are not used for other scenarios, but I haven't seen any in the wild (though I'd love to see common examples of other uses).

It's funny you compare git and npm tags, as they are nothing alike. npm tags map to git branches, npm versions map to git tags or commits.

*edit: cl

[2022-05-22 01:02] ljharb commented on #4926
I maintain over 300 projects that use git tags and npm tags, and don't use the concept of "release channels" whatsover.

The concept basically does *not appear at all* outside of large projects.

npm tags map to an npm package tarball, not to anything about git whatsoever. git tags map to a git sha, which might be a branch, or not.

[2022-05-22 04:20] snakfruit commented on #4916
.

[2022-05-22 05:14] pygy commented on #4926
git branches are mutable pointers to the growing end of an append-only<sup>1</sup> list of immutable<sup>2</sup> commits.

npm tags are mutable pointers to the growing end of an append-only<sup>3</sup> list of immutable<sup>4</sup>  versions.

These may look very different at a glance, but if you squint a bit and blur the lines you'll see these graphs commute.

In well maintained packages`npm` ver

[2022-05-22 06:09] kerventkm commented on #2022
I have this issue, please any help?

(eeg-models-u_TfKdj2-py3.9) (base) kerven@kerven-Aspire-E1-571G:~/Desktop/Diplom Thesis/eeg-models$ pre-commit run --all-files
[INFO] Installing environment for https://github.com/pre-commit/mirrors-prettier.
[INFO] Once installed this environment will be reused.
[INFO] This may take a few minutes...
An unexpected error has occurred: CalledProcessError: command

[2022-05-22 14:36] broofa commented on #4212
Landed here after getting the same "[package] is not in this registry." error when trying to do `npm publish`.    It was not at all obvious from the error that I needed to do`npm login` to fix the issue.   (I actually thought I was authenticated.)

This is on latest MacOS, Node 16, NPM 8.10.0.

[2022-05-22 14:55] ljharb commented on #4926
Your definition establishes that everyone is using release channels. But that’s simply not true - i have over 300 projects that do not employ that concept and for which i do not use that term, and for which npm tags are simply not used in that fashion. I even have packages where i backport to multiple minors and majors, and delete the npm tags once I’m done - there’s no such concept for me as “rel

[2022-05-22 15:08] broofa opened #4927 "[BUG] `npm publish --dry-run` does not fail when package version is already published"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I'm developing a new release workflow for the `uuid` module.  Obviously as part of this I need to verify that the `npm publish` command will work.  However, because of the large audience of users `uuid` has, I w

[2022-05-22 18:37] amustaque97 opened #4928 "[BUG] `files` field in package.json doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have created a project. Project has 3 files:
- index.js
- other.js
- package.json

Here is the directory structure.
[code]

As per the [documentation](https://docs.npmjs.com/cli/v8/configuring-npm/package-json

[2022-05-22 18:40] ljharb commented on #4928
Your "main" points to index.js, so it's automatically included. Why would you want to publish a package that's broken? (ie, that points explicitly to a file that's excluded from the tarball)

[2022-05-22 18:53] amustaque97 commented on #4928
Thank you so much @ljharb for correcting me. My actual use case is different and not sure what would be the proper/decent way to achieve. I would try to explain it here. I would love to hear your thoughts 🙂

There is an already existing microservice built in `nestjs` and it has implemented mongoose schema let's assume `xyz.schema.ts`. I have another independent script let's call it `consumer.ts` i

[2022-05-22 18:56] amustaque97 commented on #4928
We can close this issue.

[2022-05-22 19:08] david-mcafee commented on #4028
Also experiencing this issue when installing packages globally, and I've tried wiping everything out and starting over, with no success.

[2022-05-22 19:47] #4928 closed, assigned to nobody

[2022-05-23 09:00] 2heal1 opened #4930 "[BUG] optionalDependencies excute unexpected script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

There are two dependencies : `gulp@4.0.2` 、`chokidar@3.5.2` in my project .

[code]

And `fsevents@~2.3.2` is optionalDependencies in `chokidar@3.5.2` .

[code]

`gulp@4.0.2` has legacy dep `fsevents@1.2.13` ：

[2022-05-23 09:42] tacozMacleo commented on #4839
I seem to have the same problem.
It is also kind of similar to: https://github.com/npm/cli/issues/3938
FIle: https://filebin.net/u9geii2wl63ua3v3
Head of file:
[code]
Tail of file:
[code]

[2022-05-23 10:07] pygy commented on #4926
First...

Adding to the fact that you are a npm CLI maintainer, that makes you a big outlier in terms of package release experience. It doesn't mean your experience and use cases should be discounted (especially given the value these pacakges provide), but it means that they are far removed from the ones of typical users.

Release channels as streams of releases for specific audiences is not my in

[2022-05-23 14:05] anurag-roy commented on #3291
Any update on this?

[2022-05-23 15:03] SamuelMarks opened #4932 "[FEATURE request] `npm upgrade -g` should list what was upgraded"
Just found that you have this command now:
[code]

Is there a command I can use to find out what packages were upgraded? - I assume there's a verbosity command I could've used the first time around…

[2022-05-23 15:04] ljharb commented on #4932
Instead, given that there's no package.json for global installs, I think `npm update` should error out in global mode.

[2022-05-23 15:11] ljharb commented on #4926
I agree a `--no-tag` option would be ideal; there's an RFC for it.

That said, I don't agree that the concept of release channels is widely understood. node has them, and users are constantly confused about what they are and how they work.

(Git tags are 100% mutable; that they're used immutably in practice is irrelevant)

[2022-05-23 15:48] pygy commented on #4926
Beside mathematical constants, everything is 100% mutable. Immutability is approximated by social, physical or computational constrains that can be bypassed with sufficient power.

How git tags are used in practice is very relevant to how people perceive them, yes.

In npm-related projects 99%+ of the time, tags are used to point to commits that correspond to npm releases, which are ~immutable (fo

[2022-05-23 15:53] pygy commented on #4926
So, beside your use case which uses `--tag` to mean `--no-tag`, what uses are there for `npm --tag`, beside release channels?

[2022-05-23 16:02] ljharb commented on #4926
The most common usage is a “next” tag, which is a version that is in the same “conceptual” release channel, but isn’t ready for broad usage, but isn’t a prerelease. These authors aren’t thinking about release channels at all - that mental model is an extreme rarity among package authors.

[2022-05-23 16:19] pygy commented on #4926
Now that's interesting.

I would have thought of `next` as a distinct release channel intended for testing the waters, with no correctness, stability or often even b/w compat  guaranties, where `latest` is the stable release.

They are two distinct streams of releases, for distinct purposes (which coincide when `next` finally becomes stable).

How do you put `next` and `latest` in the same concept

[2022-05-23 16:25] ljharb commented on #4926
By just “doing that”. There’s no such thing as a “release channel” concept in npm, as I’ve been saying. You can *choose* to use npm tags to encapsulate release channels, but that’s something you’re imposing - it’s not part of the inherent model. Most users, i argue, don’t understand that concept at all, let alone apply it to npm tags.

In other words, even if adding any alias would be worth it (it

[2022-05-23 16:37] pygy commented on #4926
Re. "by just doing that", that's begging the question.

We'd need to survey users to get a definitive answer, but I think you underestimate folks out there. You have a broader following that I have on Twitter, would you mind posting a survey:

[2022-05-23 16:41] pygy commented on #4926
Fourth option

Twitter has 25 character limits for poll options. I went for `"npm tag"? never heard...` and `"release channel"? Eh?`.

I encourage you to post as well (or RT https://twitter.com/pygy/status/1528781062217900036), you'll get a broader sample, and our respective audiences probably share our biases.

[2022-05-23 17:26] darcyclarke commented on #4927
What you're suggesting requires the configured registry to support a "dry-run" capability on their end (not the CLI itself). The CLI does it's best to mimic a publish up until the point where we'd pass the payload off to the configured registry. To my knowledge, the best way to check for the existence of a package today -- as a client -- is to use `npm view` (ex. `npm view <pkg>@<version>`).

You

[2022-05-23 17:26] #4927 closed, assigned to nobody

[2022-05-23 17:54] darcyclarke commented on #4932
**Closing:** Please open feature requests in our RFC repo - https://github.com/npm/rfcs

[2022-05-23 17:54] #4932 closed, assigned to nobody

[2022-05-24 01:43] mcaden commented on #4234
I found I was able to use latest `nvm` and LTS of Node just fine without downgrading. Both cases I ran into this on different computers running different versions of NVM. I installed `16.15.0` and then hit this exact bug. But rather than downgrading:

1) Install nvm 1.1.9
2) `nvm uninstall 16.15.0`
3) `nvm install 16.15.0`
4) `nvm use 16.15.0`

Simply reinstalling and using while have the latest i

[2022-05-24 10:41] #4930 closed, assigned to nobody

[2022-05-24 12:15] anurag-roy opened #4934 "[BUG] `npm install` not installing peer dependencies automatically and removing them from `package-lock.json`"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- I guess it is related to #4664, but that issue is closed

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When running `npm install`, it does not install the peer dependencies automatically even if they are in the package-lock.json file.
Instead it modifies

[2022-05-24 14:13] rhysperry111 commented on #3359
Yeah, it seems that IPv6 is the problem here. I removed the routes for my 6in4 tunnel and it magically started working again.

I think some investigating needs to be done as searching for `ipv6` in the issue tracker comes up with a bunch of closed issues, all with extremely similar symptoms, yet all being closed as they are thought to have been fixed.

[2022-05-24 14:45] avegancafe commented on #4664
Sorry to rehash this issue still, but what's the actual suggested solution for this? Always use `npm install --force` if someone that didn't know the implications of that happened to be upgrading or installing a package and saw that as a suggested recommended solution to their problem in the CLI? @domeq 's example seems pretty common, and doesn't even involve using `--force`

[2022-05-24 14:58] ljharb commented on #4934
You should always explicitly include them, even though npm 7+ auto-installs them.

[2022-05-24 15:00] NilsBaumgartner1994 commented on #2010
Still a problem...

[2022-05-24 15:15] MoltenCoffee commented on #4664
I think most can be resolved using the [`overrides`](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides) option in your package file

[2022-05-24 18:01] brabenetz commented on #4232
I use:
* Windows 10
* node 16.15.0
* npm 8.5.5

Example: I have "pdfmake" in my dependencies and overrides it with:
[code]

`npm update` worked fine, but after `npm install` the old dependency-versions of "ast-transform" where "restored" in package-lock.json:
![image](https://user-images.githubusercontent.com/1237858/170099214-4821cd08-7e18-4170-bb30-6e50ececde9c.png)

but no old version where dow

[2022-05-24 22:37] RusticBombastic opened #4937 "[BUG] npmjs.com profile image change"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Wanna change profile image instead of randomly generated one:
![Screen Shot 2022-05-24 at 3 17 58 PM](https://user-images.githubusercontent.com/39921649/170142582-88f73dd4-5bde-44ff-8c9c-381c3fe8b9be.png)

1) Re

[2022-05-24 22:39] #4937 closed, assigned to nobody

[2022-05-24 22:39] RusticBombastic commented on #4937
Wrong topic

[2022-05-25 02:22] gengjiawen opened #4938 "[BUG] npx not working for github repo package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

[code]

### Steps To Reproduce

npx gengjiawen/envinfo

### Environment

  System:
    OS: Linux 5.16 Ubuntu 20.04.4 LTS (Focal Fossa)
    CPU: (16) x64 AMD EPYC 7B13
    Memory: 3

[2022-05-25 05:33] juristr commented on #4873
I have a similar, kinda related issue where the `npx` command would not respect escaping of special symbols, like `$` for instance.

If you have a node script and invoke it like `node myscript --somearg=$foo` then `$foo` would be interpreted as an environment variable. And I can work around this by escaping it like `node myscript --somearg=\$foo` which works just fine.

If however I invoke it with

[2022-05-25 05:52] lydell commented on #4873
@juristr Good point! That’s another case where using `JSON.stringify` for escaping args isn’t sufficient. `npx` receives `--somearg=$foo` and escapes that to `"--somearg=$foo"`, but `$name` is still expanded inside double quotes.

[2022-05-25 08:32] jihunleekr commented on #4619
When the installed package updates its major version, it is reproduced.

[2022-05-25 11:37] JJ commented on #3160
This seems to have already landed.

[2022-05-25 12:50] miWatch10 opened #4939 "[BUG] npm install delivers different package-lock second time run with overrides"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Recreating your package-lock.json (`rm -rf node_modules package-lock.json; npm i`) then follow it with an `npm i` on a package.json with npm overrides set (https://docs.npmjs.com/cli/v8/configuring-npm/package-j

[2022-05-25 17:03] bkendall commented on #4323
Another week, another person surprised when dev dependencies are installed *and* it triggers other `audit` warnings too. It would be really great to get this fixed.

https://github.com/firebase/firebase-tools/issues/4586

[2022-05-25 19:33] jchiem opened #4942 "[BUG] npm ci still does not work with overrides correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

This issue is related to:
https://github.com/npm/cli/issues/4684, https://github.com/npm/cli/issues/4732, https://github.com/npm/cli/issues/4732

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

The release of `npm@8.7.0` has made a fix for the aforementioned

[2022-05-25 23:30] ehoogeveen-medweb opened #4945 "[BUG] `--location=global` does not work from `package.json` scripts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I noticed the deprecation warning for `--global` and changed over to `--location=global`. However I found that this doesn't work from scripts in `package.json`. The parameter seems to be silently ignored, wherea

[2022-05-26 00:09] ehoogeveen-medweb commented on #4945
This issue may be specific to Windows - on Linux I _do_ see the deprecation warning and the dependency is installed globally as expected.

[2022-05-26 01:30] ghost commented on #4896
I am facing this issue and the solution is change package which need to be downloaded by npm from Github repo like this:
`"ckeditor4": "github:ckeditor/ckeditor4-releases#full/latest",`
to:
`"ckeditor4": "4.19.0",`
I don't know why this happened but this temp method help me out of this issue

[2022-05-26 01:36] CMCDragonkai commented on #4914
I can see this happening too.

I'm on `8.5.0` and after I run `npm version ...`, and push this up, I noticed that later upon running `npm install`, I see that the internal package version gets updated in the `package-lock.json`.

For example, this is the commit created by `npm version`:

[code]

But if I run `npm install` again, it turns out that `npm version` is missing the update about the curre

[2022-05-26 01:43] CMCDragonkai commented on #4914
Work around seems to be:

[code]

[2022-05-26 03:37] #4916 closed, assigned to lukekarrys

[2022-05-26 08:38] swetasrinaidu commented on #2418
Worked for me. Thanks

[2022-05-26 17:30] chris-tuncap opened #4946 "[BUG] Override not working on node_modules dependencies inside package-lock.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I just upgraded to node 16 and performed an npm install (version 8.5.5), and noticed that dependencies for node_modules were added to the package-lock.json and were not being overrode.

`"node_modules/aws-sdk/no

[2022-05-26 19:51] fritzy commented on #4934
Unfortunately, it was a bug that peer dependencies were installed when they weren't a dependency. Now that we're checking the lockfile with the dependency tree, you'll need to generate a new lockfile.

[2022-05-26 19:51] #4934 closed, assigned to nobody

[2022-05-26 21:15] amkhan32 opened #4947 "[BUG] NPM audit command fail with Invalid Version error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When I run `sudo npm audit fix` it fails like so:
[code]

Upon looking at the logs, this is what I get:
[code]

### Expected Behavior

The command should try to fix vulnerabilities and if manual fix is needed. u

[2022-05-26 22:18] ljharb commented on #4947
What's the "version" field say in your package.json?

[2022-05-27 05:05] anurag-roy commented on #4934
Ok got it! Thanks for confirming @ljharb and @fritzy!

[2022-05-27 06:38] babbottscott commented on #3985
This is a particularly unsatisfying solution.  Until v8, we have not needed to create an .npmrc to publish, being able to configure npm solely via environment variables.  Requiring a file creation is a pretty big regression.  Strongly urge reopening.

[2022-05-27 07:00] MetalArend commented on #3985
That is indeed the current workaround we are using, but that is all it is, a workaround. The docs at https://docs.npmjs.com/cli/v8/using-npm/config#environment-variables describe behaviour that is not working for every environment variable, so this is still a bug, and is not yet fixed.

[2022-05-27 07:14] yoyo837 commented on #4232
Remove `package-lock.json` and `node_modules`, reinstall it, `overrides` maybe works well.

[2022-05-27 08:13] mcdehaan commented on #4232
This worked for me as well 🥳

[2022-05-27 12:22] sathishsoundharajan commented on #4895
Hey @darcyclarke & npm team,

Do you have any workaround for this issue :). Converting very large code base to private registry is going to take lot of time. So until we plan to that migration, is there way i can bypass this fork-bombs ?

Please let me know if any help i can do to contribute

[2022-05-27 16:03] kenbanks-peng commented on #4945
--location=global is a bit long to type out each time on the command line. IMHO, would be an improvement if some shorter mnemonic could be added, like -g or something...

[2022-05-27 20:51] anatolykopyl commented on #4305
For anyone stuck with a broken pipeline, adding this step before `npm install` can act as a fix:

[code]

[2022-05-27 21:23] MohammedDaFirst commented on #4615
Hi! Just had the same problem over here

My hard desk was almost full when I got this bug

Just **clean your hard desk** and it will vanish

[2022-05-28 06:20] peter commented on #3374
I ran into the same problem now when doing `npm install -g mongodb-realm-cli` on Node `v16.13.1`:

299 verbose stack TypeError: Cannot read properties of null (reading 'pickAlgorithm')
299 verbose stack     at Integrity.match (/Users/peter/.nvm/versions/node/v16.13.1/lib/node_modules/npm/node_modules/ssri/index.js:234:24)
299 verbose stack     at CachePolicy.satisfies (/Users/peter/.nvm/versions/n

[2022-05-28 16:08] coreybutler commented on #4890
I have temporarily hacked a patch into NVM4W 1.1.10 (to be released soon), but the root cause is in this repo. See https://github.com/coreybutler/nvm-windows/issues/766.

This repo has a [branch](https://github.com/npm/cli/tree/v6.14.17) and a [tag](https://github.com/npm/cli/releases/tag/v6.14.17) with the same name (v6.14.17). Github's redirect URL doesn't know which one to resolve to, so it sen

[2022-05-28 17:02] elandorr commented on #4318
How are you supposed to 'audit' global npm packages in the first place? (Rarely use anything JS, excuse)

I see about one googol worth of `deprecated` `ERR!` `high severity vulnerability` and really don't know what the proper procedure is.

[2022-05-28 19:33] roman13011 commented on #1946
For me worked
`sudo npm link`
&&
`sudo npm unlink -g <package-name>`
**package-name** is "name" in package.json

[2022-05-28 19:51] ljharb commented on #4318
You’re not. You’re not really supposed to have any global packages in the first place.

[2022-05-28 23:00] saltlake101 opened #4950 "https://github.com/saltlake101/cli"
Typescripts

[2022-05-28 23:17] saltlake101 opened #4952 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...'
4. See error...

### Environment

- npm:
- Node.js:
- OS Name:
- System

[2022-05-28 23:46] #4950 closed, assigned to nobody

[2022-05-28 23:46] #4952 closed, assigned to nobody

[2022-05-28 23:48] saltlake101 opened #4953 "### Is there an existing issue for this?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...'
4. See error...

### Environment

- npm:
- Node.js:
- OS Name:
- System

[2022-05-29 00:12] mmiretsky commented on #4028
I am also experiencing this issue. `npm install` hangs intermittently, forcing a reboot.

Windows 10 20H2
node v16.15.0
npm v8.11.0

Has this issue been triaged or investigated? It was opened over 6 months ago.

[2022-05-29 00:14] elandorr commented on #4318
@ljharb How do you use globally used tools then? Do you seriously install a minifier in every project? Besides development related packages I have quite a few other tools that just happen to be written in node as well.

I guess I could make a separate folder for them and create a fake package.json, but that is exactly like having them global, no? (apart from easy access, of course)

[2022-05-29 00:16] #4953 closed, assigned to nobody

[2022-05-29 00:18] ljharb commented on #4318
@elandorr what is globally used? Yes, i install all the tools a project uses in each project that uses them; that way versions are tracked and other developers can use the same ones. That means, eg, i probably have a thousand copies of eslint on my machine, and my life is infinitely better for it.

[2022-05-29 10:02] greenhandzdl opened #4954 "npm ERR! code EISDIR"
Error code:
[code]
I've already try (this one)[https://stackoverflow.com/questions/47545940/when-i-run-npm-install-it-returns-with-err-code-eintegrity-npm-5-3-0].

[2022-05-29T09_56_07_365Z-debug-0.log](https://github.com/npm/cli/files/8793083/2022-05-29T09_56_07_365Z-debug-0.log)

[2022-05-29 10:03] greenhandzdl commented on #4954
version:
[code]

[2022-05-29 10:12] theanubhavk opened #4955 "npm error"
npm WARN config production Use `--omit=dev` instead.                   npm WARN config optional Use `--omit=optional` to exclude optional dependencies, or                                                           npm WARN config `--include=optional` to include them.                  npm WARN config                                                        npm WARN config     Default value does instal

[2022-05-29 17:03] andmm commented on #4945
Yeah... like it used to be.

[2022-05-29 19:09] xsrvmy opened #4956 "[Feature] A way to enable/disable/review specific lifecycle scripts of (transitive) dependencies"
Recently, there have been some problematic or useless lifecycle scripts (specifically, ones that prints out messages to the console unrelated to the package, such as political protests). It would be nice if there is a way to enable/disable them.

It would be even nicer if the lifecycle scripts of dependencies can be reviewed before they are run at all, similar to how you can review PKGBUILDs of Ar

[2022-05-29 21:12] ljharb commented on #4956
linking to https://github.com/npm/feedback/discussions/696

[2022-05-30 07:52] github-matthieu-wipliez commented on #4889
It appears that there are two other recently opened issues that look similar to this: #4942 and #4939. This issue is almost 3 weeks old, and points at a major bug in a feature that is essential to replace vulnerable dependency versions. Can you please take a look at it?

[2022-05-30 08:01] ehoogeveen-medweb commented on #4945
Confusingly, this *does* appear to work on a *different* Windows PC. Same version of Windows, same version of node, same version of npm, same (default) config, same terminal (cmd.exe), so I don't know what could be causing it...

By the way I agree that there should be at least `-L=g` in addition to `-L=global` (and I don't really understand the purpose of deprecating `-g`), but I think that discu

[2022-05-30 09:51] PaulVipond commented on #3374
This keeps on happening to me and clearing the cache is painful because all of your globally installed packages disappear. So I did some digging. The issue for me appears in the 'make-fetch-happen' module:

[code]
In my case, this.options has an integrity property, but this.entry doesn't. So either here, or further down in the call-stack (SSRI module Integrity.match ssri\lib\index.js:273:24), ther

[2022-05-30 10:08] PaulVipond commented on #3374
Anyone reaching here and wanting a sanity saving, but very hacky, completely unsupported and use at your own risk workaround. Edit ssri\lib\index.js in your global npm cache and add the following to the match() function (currently line 270):
[code]
That allowed my NPM install to finish. I also raised the issue with more debug detail here: https://github.com/npm/ssri/issues/27

[2022-05-30 12:05] amkhan32 commented on #4947
@ljharb
This is the package.json:
[code]

[2022-05-30 12:07] monikasharma1234 commented on #3788
@darcyclarke Hey , I want to contribute to this issue , can you share me the preferable resources which can help me.

[2022-05-30 12:21] SukkaW opened #4958 "[BUG] `peerDependency` package version doesn't resolve correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

There are some similar existing issues like https://github.com/npm/cli/issues/4442 and https://github.com/npm/cli/issues/4104, don't know if they are related.

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

npm should be able t

[2022-05-30 13:24] #4518 closed, assigned to nobody

[2022-05-30 13:35] ljharb commented on #3374
@PaulVipond clearing the cache has no impact on your global modules; they’re not stored in the same place.

[2022-05-30 13:37] jaydeepmehta15 opened #4959 "[BUG] <Enhacement> Use central local repositories that contain versioned libraries and refer those in project -- Maven like"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I see npm is using project specific repositories containing the libraries used in the particular project. The issue is this creates duplicate library files for the ones used in multiple projects as Angular/react

[2022-05-30 13:38] ljharb commented on #4959
You’re not describing a _problem_, you’re describing why npm is superior to package managers that have a flat pool of deps, like maven.

[2022-05-30 17:57] xsrvmy commented on #4956
I now realize that overrides are supported now, and pointing to a fork of the repo without the postinstall would work. However, it would be easier to simply remove the script directly in the override. For example:
[code]
or
[code]
(for the second one, the first object is the versions, and the second object disables postinstall.

[2022-05-30 18:35] 552020 commented on #4201
Since this issue is tagged as 'good first issue' and since people looking for 'good first issues' are looking for good first issues that can be assigned now, maybe it would be appropriate to remove the tag.

[2022-05-30 18:50] vitiacat commented on #1109
npm version 8.5.5.
command "npm outdated" returning code 1

[2022-05-30 22:48] ljharb commented on #4201
@552020 it still is one. The above comments are just folks who don’t think it’s worth the effort, but nobody from npm has agreed with that.

[2022-05-31 00:04] shadowspawn commented on #4958
I think this is probably as intended. npm does not include prerelease versions when looking for `>= 10.2.0`, so `12.1.7-canary.23` is not a candidate.

You can try this out in the semver calculator:
https://semver.npmjs.com

[2022-05-31 00:31] phated commented on #3405
Just encountered this same issue in some workflows.

[2022-05-31 01:22] ruyadorno commented on #4890
thanks @coreybutler I deleted that unexpected branch from the repo, that seems to have fixed it! 😊

[2022-05-31 01:22] #4890 closed, assigned to ruyadorno

[2022-05-31 02:50] sonjaerock commented on #3229
My solution is to add access token.

By error log, `TAR_ENTRY_INVALID checksum failure` is archive failure by checksum.
Usually checksum is used to check security.

You can make your gitlab repo's access token(only read_repository)
and `npm install git+https://<token-name>:<token>@gitlab.com/Username/RepositoryName`

I solved it. Hope everything goes well :)
(Maybe yarn solves automatically by usi

[2022-05-31 09:14] gt-novelt commented on #4947
I experiencing the same issue but with a different version:

I cannot find any reference to that version neither in package.json nor package-lock.json.

[2022-05-31 09:55] mitchellrj commented on #2725
Seems like this is related to #2610 and complaints about behaviour changes in v7:

From https://blog.npmjs.org/post/626173315965468672/npm-v7-series-beta-release-and-semver-major

We found that when it tries to fetch the Bitbucket package via HTTPS first and MFA is enforced, then it shows the login prompt and freezes there.

[2022-05-31 10:23] amkhan32 commented on #4947
@gt-novelt No workaround as of yet :(

[2022-05-31 10:36] mitchellrj commented on #2725
A workaround I've found for this is to change the hostname to `ssh.bitbucket.org` or `git.bitbucket.org`. This works around the matching logic in [npm/hosted-git-info](https://github.com/npm/hosted-git-info).

[2022-05-31 12:05] gt-novelt commented on #4947
Thanks.

I had to use `npm install --no-audit` although it would still install packages. The audit error would break my install script.

[2022-05-31 12:09] jaydeepmehta15 commented on #4959
The problem is duplicate and filling up disk space if you are working on multiple projects. Also, setup of new project takes time as it needs to download all again for every new project.

I am not too sure but yarn simplifies this storing lib in local shared folder and projects referring to them rather than having copy.

[2022-05-31 13:31] siyb commented on #2339
Does https://github.com/apache/cordova-electron/pull/229 fix this issue as well and we can we expect a fix to hit the shelves?

[2022-05-31 14:00] ljharb commented on #4959
Disk space is effectively infinite and free (certainly compared to correctness, or to processing time, which are much more expensive), and new projects use the primed npm cache, so there should only be downloads if there’s new versions available *to* download.

[2022-05-31 16:12] nlf commented on #3084
i'm unable to reproduce this in windows either.

i'm going to close this issue, but if the problem is persisting please open a new issues and give us as much information as you're able to help us reproduce the problem.

[2022-05-31 16:12] #3084 closed, assigned to nobody

[2022-05-31 16:17] nlf commented on #3556
**Closing** due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-05-31 16:17] #3556 closed, assigned to nobody

[2022-05-31 16:19] nlf commented on #3692
@ssffnet can you try replicating this problem on the latest version of `npm`? (ie. `npm i -g npm`)

[2022-05-31 16:20] nlf commented on #3786
**Closing** due to age.  If this is still a problem please feel free to reopen this issue, or create a new issue w/ steps to reproduce.

[2022-05-31 16:20] #3786 closed, assigned to nobody

[2022-05-31 16:21] nlf commented on #3839
@globules-io can you try replicating this problem on the latest version of `npm`? (ie. `npm i -g npm`)

[2022-05-31 16:24] nlf commented on #3843
if your `script-shell` setting is still `cmd` (which is the default) then this problem makes some sense, you might try something like `npm config set script-shell pwsh --location=user` and then retry running the script.

we do not attempt to run in the same shell the user is already running, rather we default to `sh` in posix systems and `cmd` in windows. if you want something else you'll have to

[2022-05-31 16:28] lognaturel commented on #3556
Thanks for following up and I apologize for not coming back. Using NPM 6 has been fine so it's been hard to make this a priority. Will reopen if it is reproducible at some point when we feel pressure to upgrade.

[2022-05-31 16:33] nlf commented on #3847
as @wraithgar mentioned there's no need to use `file:` dependency types when using workspaces, so those of you who are doing that you should change those `file:` references to a semver range that matches the workspace (yes, this means if you bump the version of the workspace you'll need to make sure all of its dependents get their package.json updated). after doing that, the workspace will dedupli

[2022-05-31 16:36] nlf commented on #3902
this is expected behavior, if you have a git dependency with a `build` script we operate on the assumption that we need to build the dependency for you. this causes npm to clone the repository to a temp directory, install all of its dependencies, run the build script, and then package and install the result.

if you've already pre-built your package and the build artifacts are stored in the git re

[2022-05-31 16:36] #3902 closed, assigned to nobody

[2022-05-31 16:42] nlf commented on #3972
does this mean you've individually run `npm install` within each workspace and installed all of the workspace's dependencies within their own dir? if so, i would recommend deleting those `node_modules` directories in your workspaces and running `npm install` from the root project. npm will appropriately deduplicate dependencies for your workspaces as well and only nest what it absolutely needs to,

[2022-05-31 16:45] nlf commented on #4003
this is expected and intentional behavior. if a git dependency defines a `build` script then npm determines while installing it, we need to build it first. so we clone the repo to a temp directory, we install of the dependencies, we run the build script, then we package up the result and install that into npx's cache.

if you have pre-built artifacts (like you do in your `build` directory), then r

[2022-05-31 16:45] #4003 closed, assigned to nobody

[2022-05-31 16:52] nlf commented on #4028
to summarize what i've learned from this thread to make sure i have a clear picture of what's going on here:

1. this problem only occurs in windows
2. the problem goes away when using `bash`
3. the problem goes away when removing git based dependencies (or convincing npm to install git deps through ssh)

are any of you using a proxy?
can you determine how many git dependencies are in your tree, a

[2022-05-31 16:54] nlf commented on #4031
`npm install --install-links ../foo` will now install the contents of the directory `../foo` by packing them into a tarball and installing the resulting tarball. we may look into changing the behavior of `file:` based dependencies in the future, but for now this is the way to avoid symlinks

[2022-05-31 16:54] #4031 closed, assigned to nobody

[2022-05-31 16:54] globules-io commented on #3839
Will do asap

[2022-05-31 17:03] nlf commented on #4034
as has been explained multiple times, the `publishConfig` in your `package.json` is the ultimate authority. if a url is specified there, it will be used.

if you want to change where you're publishing often, remove the `publishConfig` from your `package.json` and place an `.npmrc` file *at build time* such as the one mentioned in the original issue.

alternatively you could have a `.npmrc` file th

[2022-05-31 17:03] #4034 closed, assigned to nobody

[2022-05-31 17:06] dhpagani commented on #3902
I got your point, but I didn't  find in the docs about that assumption. I've check in the scripts lifecycle (https://docs.npmjs.com/cli/v8/using-npm/scripts) and in the reference of git dependencies(https://docs.npmjs.com/cli/v8/configuring-npm/package-json#git-urls-as-dependencies)

In my opinion, this assumptions (and others) must be better explained or referenced. What do you think?

[2022-05-31 17:10] nlf commented on #4040
the script you're looking for is `version` not `postversion`. when running `npm version` the order of operations looks like:

1. `preversion` script
2. update `package.json` and `package-lock.json`
3. `version` script
4. git commit and tag
5. `postversion` script

`postversion` runs when everything is finished, which is the intentional and correct behavior. i did notice, however, that the `npm ver

[2022-05-31 17:11] nlf commented on #3902
i do agree it needs more documentation. i'm making some other edits today and i'll clarify that while i'm in there. good suggestion!

[2022-05-31 17:16] nlf commented on #4040
this actually was documented here https://docs.npmjs.com/cli/v8/commands/npm-version#description (scroll down a bit to "The exact order of execution is as follows"

[2022-05-31 17:16] #4040 closed, assigned to nobody

[2022-05-31 17:28] nlf commented on #4051
by default we use `sh` as your shell for running scripts. it sounds like on your system this isn't running `bash`, but something else. you'll probably need to change that to bash explicitly with, i.e. `npm config set script-shell bash --location=user`

if that doesn't work, please feel free to reopen this issue and let us know!

[2022-05-31 17:28] #4051 closed, assigned to nobody

[2022-05-31 17:36] saghul commented on #4031
This is very helpful, thank you!

What npm version is that available in?

[2022-05-31 17:38] nlf commented on #4055
is this only happening for you within `termux`?

this seems to be an issue that creeps up on resource constrained systems, so i'm pretty sure that's what's happening here.

[2022-05-31 17:41] nlf commented on #4064
instead of `npm install ./pkg-a -w ./pkg-b` try `npm install pkg-a -w pkg-b`

using a `./` as the lead of the package to install (i.e. `./pkg-a`) causes npm to see it as a `file:` dependency rather than a symlink, which is why you're seeing strange behavior here. removing the leading `./` will add it as a regular dependency and will correctly resolve to the symlink.

this is a thing we should prob

[2022-05-31 17:45] nlf commented on #4064
i'm going to close this as a duplicate of #3847 and move the conversation there

[2022-05-31 17:45] #4064 closed, assigned to nobody

[2022-05-31 17:47] nlf commented on #3847
per the above linked closed issue, it seems like maybe some folks are installing a workspace as a dependency to another workspace with something like the following:

[code]

if this describes the situation any of you are in, try the last command as `npm i pkg-a -w ./pkg-b` without the leading `./`, this will allow npm to correctly identify that your intent is to install the workspace and not to tr

[2022-05-31 17:50] nlf commented on #4069
@robations can you try replicating this problem on the latest version of `npm`? (ie. `npm i -g npm`)

i tried it there myself and see your expected results. if you're still having this problem, please reopen this issue and let us know.

[2022-05-31 17:57] nlf commented on #4077
**Closing:** please use our [issue template](https://github.com/npm/cli/issues/new/choose) &/or review our [contributing guidelines](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#reporting-bugs).

[2022-05-31 17:58] nlf commented on #4955
**Closing:** please use our [issue template](https://github.com/npm/cli/issues/new/choose) &/or review our [contributing guidelines](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#reporting-bugs).

[2022-05-31 17:58] #4955 closed, assigned to nobody

[2022-05-31 19:49] nlf commented on #4889
the failed overrides are because `appium` includes a shrinkwrap and overrides do not apply to shrinkwrapped or bundled dependencies at this time.

that said, `npm ls` should not be showing you that there are problems here. i'll have a fix up for that shortly.

[2022-05-31 19:55] ljharb commented on #4077
Prereleases aren't included in `>=`, and the peer requirement also excludes v3 or higher anyways.

What this means is, users *can't* test a v3 prerelease, unless the peer range is updated to allow for it, because it's explicitly marked as incompatible. It would likely cause far more problems than it solves to allow for this case.

Another alternative is the user using "overrides", to override v2 a

[2022-05-31 20:02] nlf commented on #4077
the problem is that `pre-3` doesn't match the required peer dependency range, what you could do though is use overrides:

[code]

here i'm using a reference to the direct dependency to inform npm of what version to override everything with. with these changes i'm able to get both packages installed and working just fine. feel free to reopen if you continue to have problems!

[2022-05-31 20:02] #4077 closed, assigned to nobody

[2022-05-31 20:27] miWatch10 commented on #4889
@nlf is that the same issue running into on https://github.com/npm/cli/issues/4939 ? In that case, overrides don't take on a clean install, but do on a second. Didn't look like  your PR addressed that, but wanted to confirm.

[2022-05-31 20:29] miWatch10 commented on #4939
@nlf at one point someone thought this was related to https://github.com/npm/cli/issues/4889. Will your PR for that address this one?

Doesn't look like it per the PR (which is about shrinkwrapped), but wanted to confirm --- in this case, running `npm i` clean doesn't do overrides, but a second run does.

[2022-05-31 20:38] Dossar commented on #4028
So I also noticed node 16 hanging on installing a commit SHA, but it was fine when installing a tag version.

As an experiment I tried commit SHA install of a dependency present in several repositories. Note that I'm using MacOS Monterey (12.4) in this, not Windows which previous users have mentioned.

All these have prettier in their dependencies
style-loader: https://github.com/webpack-contrib/s

[2022-05-31 20:40] medikoo commented on #4077
@nlf that won't be natural and it also greatly complicates install instructions for users (we need to ask them to not only run `npm install` but also manipulate `package.json` which feels not right)

In such case I believe most UX-friendly behavior is to assume mapping is correct but list a warning that no mapping is attempted. Especially that pre-releases do not reflect _static_ ranges (where the

[2022-05-31 20:41] ljharb commented on #4077
Prereleases aren't supposed to be UX-friendly - if it's ready for users to test, why isn't it a full v3?

[2022-05-31 20:42] nlf commented on #4939
i don't _think_ that will be related to your issue here. i'll be looking into this one soon, though

[2022-05-31 20:46] medikoo commented on #4077
@ljharb in software engineering (especially when deal with more complex multi-functional software) we use different release cycles (it's not only _stable_ channel that's released for public).

Check: https://en.wikipedia.org/wiki/Software_release_life_cycle (in our case pre-relese corresponds to Beta or Release candidates)

[2022-05-31 20:48] stacy-rendall commented on #4028
For whatever reason I haven't had the problem for a long time so cannot answer all your questions in great detail, but just from reviewing posts above plus my experience:
1. no, from a quick scan people above have reported the issue on Fedora and Ubuntu as well
2. no, I experienced the problem much more frequently with git-bash on Windows than with PowerShell or CMD
3. no, I typically do not use g

[2022-05-31 20:54] ljharb commented on #4077
I'm aware of that, but that's not something that semver or the npm ecosystem are commonly used for nor are well-designed for.

[2022-05-31 21:52] OmgImAlexis commented on #3843
I don't understand the point of npm generating the extra files like `.cmd` and `.ps1` if it always uses the `.cmd`?

Or am I missing something here?

[2022-05-31 22:18] ThisIsMissEm opened #4964 "[BUG] npm info exits with zero exit code if package@version is not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If I do:

[code]

Then the exit code is 0, but no output from `npm info` is printed, as `8.7.1` of npm doesn't exist. I would expect `npm info` to give a non-zero exit code if the package at the specified versio

[2022-05-31 22:19] ljharb commented on #4964
I'd indeed expect an error, just like `npm show $doesNotExist` errors out.

[2022-05-31 22:26] ThisIsMissEm commented on #4964
`npm show npm@8.7.1` has the same behaviour as `npm info npm@8.7.1`

[2022-05-31 22:28] ljharb commented on #4964
yes, they're aliases of the same command.

[2022-05-31 23:02] nlf commented on #3843
it doesn't always use `cmd` it uses it _by default_. you are always free to tell npm to run under whatever shell you want it to. in addition to that, the extra files let globally installed packages work more consistently. just because you did an `npm i -g foo` in `cmd` doesn't mean you don't want to be able to run that package's binaries from `pwsh` or even `bash`.

from your original post:

this

[2022-05-31 23:41] nlf commented on #4959
what you're describing is like a global form of [isolated mode](https://github.com/npm/rfcs/blob/main/accepted/0042-isolated-mode.md)

work on isolated mode is under way, but it does not deduplicate your dependencies across multiple projects. that's not something that we plan to implement for a lot of reasons. if this is something that's really important to you, feel free to open an RRFC issue at

[2022-05-31 23:41] #4959 closed, assigned to nobody

[2022-05-31 23:44] nlf commented on #4958
this is, indeed, intended. prereleases are a bit tricky that way. you might consider taking a look at the [docs for overrides](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides) to help you force it though!

[2022-05-31 23:44] #4958 closed, assigned to nobody

[2022-05-31 23:54] nlf commented on #4926
npm has called them `tags` since the very early days of npm, what you're asking for here is essentially an introduction to a completely different release model than we have used and fostered over the years.

that's not to say that we won't do something like this, release channels might be a thing we want to support in the future, but as of today we're sticking with `--tag`.

if you'd like to start

[2022-05-31 23:54] #4926 closed, assigned to nobody

[2022-06-01 01:03] rholli1 opened #4965 "[BUG] <title>.npm WARN deprecated source-map-resolve@0.6.0: See https://github.com/lydell/source-map-resolve#deprecated npm ERR! Exit handler never called!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I am running 'ng new my-app' and I get this error:

| Installing packages (npm)...npm WARN deprecated source-map-resolve@0.6.0: See https://github.com/lydell/source-map-resolve#deprecated
npm ERR! Exit handler n

[2022-06-01 01:22] monkbroc commented on #4028
I can reproduce the issue by building a Docker container from a Ubuntu Linux host (development machine or default CircleCI executor) using the following `Dockerfile`:

[code]

Run `docker build .` and the build hangs at the npm install command. The same command completes with `FROM node:16`.

[2022-06-01 03:35] VTrngNghia opened #4966 "[BUG] `--legacy-peer-deps` doesn't work for `npm audit fix`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

As per `npm-audit` [documentations](https://docs.npmjs.com/cli/v8/commands/npm-audit#audit-level), I'd expect flag `--legacy-peer-deps` to work with `npm audit fix`. It does not.

### Expected Behavior

Flag `--

[2022-06-01 07:40] floriangosse opened #4967 "[BUG] Production installations resolves development dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When npm installs the dependencies from `package.json` with the flag `--production` it tries to resolve the other dependencies as well but than cause the installation to fail with an error because the dependenci

[2022-06-01 08:33] amkhan32 commented on #4947
@ljharb Any updates?

[2022-06-01 11:47] github-matthieu-wipliez commented on #4889
I find this surprising given the documentation and the `overrides` RFC.

Looking at the [Motivation section of the RFC](https://github.com/npm/rfcs/blob/main/accepted/0036-overrides.md#motivation), I see:

Which is also what is mentioned in the npm doc. The author of said RFC seems to agree in [Questions and bikeshedding](https://github.com/npm/rfcs/blob/main/accepted/0036-overrides.md#questions-a

[2022-06-01 12:07] itsmelion commented on #2835
same as above

when i fix, i don't get these errors for some time, but they come back.
i'm trying to pay attention to what happens so they come back. (like today)
- Many days till this morning was fine, then i updated my MacOS and i got the error again.

[2022-06-01 13:25] sebbi08 opened #4968 "[BUG] npm/npx is cropping argv"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have test ts file containing

[code]

when i run it with

`npx ts-node a.ts --test='123$123$123'`

the output is

[
  '.../.nvm/versions/node/v16.13.2/bin/node',
  '.../a.ts',
  '--test=1232323'
]

$1 are remo

[2022-06-01 14:19] ljharb commented on #4947
@amkhan32 i don't maintain npm, so no, no updates - just like everywhere else on github, if there were updates, they'd be posted on the issue, and asking if there's updates is always spam.

[2022-06-01 14:30] kylemochrie commented on #4947
Had this same issue and was able to resolve it. If you're using json2 as a dependency try changing the version from "\*" to "0.1.0" instead. References to version "\*" seemed to be causing issues.

[2022-06-01 17:56] thecassion commented on #4303
I  have also the same problem

[2022-06-01 20:17] mmiretsky commented on #3703
I am also experiencing this issue.

Windows 10 20H2
node v16.15.0
npm v8.11.0

Would someone please investigate this issue?

[2022-06-01 21:01] ruyadorno opened #4974 "Release Manager: v8.12.0 (2022-06-01)"
**Target Version**: v8.12.0
**Target Date**: 2022-06-01
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-06-01 21:13] #4889 closed, assigned to nobody

[2022-06-01 21:25] #4619 closed, assigned to lukekarrys

[2022-06-01 21:25] #4871 closed, assigned to nobody

[2022-06-01 22:20] #4974 closed, assigned to ruyadorno

[2022-06-01 23:50] spaceemotion commented on #4769
I stumbled upon the same issue today. My docker containers are being run using AWS Lambda. The trick by creating a `/.npm` folder does not work - since only `/tmp` is writable.

Declaring the `HOME` variable in the Dockerfile also does not seem to work properly. Adding it in front of any npm  commands does the trick, but is a very hacky solution.

Is there a global config to disable the logging in

[2022-06-02 01:28] ruyadorno commented on #3444
https://github.com/npm/cli/pull/4929 is related to this, I would appreciate if anyone can confirm if the issue is still happening after updating to `npm@8.12.0`

[2022-06-02 05:04] amkhan32 commented on #4947
Sure @ljharb . Sorry for that.

[2022-06-02 09:04] gerardabello commented on #4652
I had the same problem, tried both `npm i` and `npm ci` multiple times, getting the same error.

Using `npm ci --maxsockets 1` worked on the first try.

npm 7.24.0
node v16.13.0
macOS 11.6

[2022-06-02 11:06] amkhan32 commented on #4947
I dont have a "*" in my package.json, however I am using "^", but I feel the problem is deeper. Cause even removing the caret does not help me.

[2022-06-02 12:49] miWatch10 opened #4979 "[DOCS] Stable Version Doc references deprecated syntax"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Enhancement, not another kind of Docs Enhancement.

- [X] This is a CLI Docs Enhancement.

### Description of Problem

https://docs.npmjs.com/try-the-latest-stable-version-of-npm#upgrading-on-nix-osx-linux-etc mentions to run `npm install -g npm@latest`

But that is a deprecated syntax and c

[2022-06-02 13:01] amkhan32 commented on #4947
This also happens for `npm install` too.

[2022-06-02 13:02] miWatch10 commented on #4909
Any update on this in the doc?

FWIW, this seems to work for me, found it on a different Github repo being used:

Note: it does _not_ work, at least in my case, if I try limiting the version of jsonlint being matched, it only works if it's open and freeform version to override.

[code]

[2022-06-02 14:00] rholli1 commented on #4965
This was fixed by upgrading NPM to the latest version:

npm install npm@latest -g

[2022-06-02 14:00] #4965 closed, assigned to nobody

[2022-06-02 14:40] flensrocker opened #4980 "[BUG] `npm.cmd` uses deprecated switch `-g`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When invoking `npm --version` on **Windows** there is a warning about a deprecated commandline switch:

[code]

### Expected Behavior

No warning when no deprecated switch is used.

### Steps To Reproduce

After

[2022-06-02 16:05] AlttiRi commented on #4980
Same with `npm` 8.11.0 after installing Node.js v18.3.0. _(Node.js v18.2.0 does not have this problem.)_
Using of `npx` also shows the warning.

[2022-06-02 16:38] drone1 commented on #1673
Oh my god, thank you @xiata -- modifying my ~/.gitconfig fixed this annoying hanging issue for me! Thank you!

If you have a moment, can you explain what this actually does so that I can understand better?

[code]

Thank you again.

[2022-06-02 17:06] nlf opened #4983 "Release Manager: v8.12.1 (2022-06-02)"
**Target Version**: v8.12.1
**Target Date**: 2022-06-02
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-06-02 17:45] lukekarrys opened #4987 "[BUG] unsupported engine warning only displays after initial install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

I expect to see the unsupported engines warning on the initial install.

[2022-06-02 17:56] #4983 closed, assigned to nlf

[2022-06-02 18:09] nlf commented on #4980
we've reverted this deprecation in v8.12.1, so i'm closing this issue. thanks for the reports!

[2022-06-02 18:09] #4980 closed, assigned to nobody

[2022-06-02 18:09] nlf commented on #4979
we've reverted this deprecation in v8.12.1 so i'm closing this issue. thanks for the report!

[2022-06-02 18:09] #4979 closed, assigned to nobody

[2022-06-02 18:19] yury-tyshkevich commented on #4980
**Not solved!**

PowerShell

[code]

[2022-06-02 20:49] raven1152 opened #4989 "[BUG] npm v 8.11.0 - writes to STDERR - "npm WARN config global `--global`, `--local` ..." breaking our nightly build process."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

current version of npm (8.11.0, node 16.15.1) writes a warning to STDERR on every command, that is a warning about using deprecated options.  The message is...

``` npm WARN config global `--global`, `--local` a

[2022-06-02 20:57] adazmy commented on #4980
Issue still there on 8.12.1
[code]

It is solved by editing C:\Program Files\nodejs\npm.cmd
on line 12
replacing `prefix -g` by `prefix --location=global`

[2022-06-02 21:08] ariofrio commented on #3847
@nlf, this is occuring even when running `npm install --workspace package-name`, without an argument. I've come up with a minimal reproduction here: https://github.com/coldriverstudio/npm-workspace-install-bug

In case it's not clear, the intention is to download and install only packages that are recursively depended on by `package-name`, while skipping packages that are only depended on by other

[2022-06-02 21:14] wraithgar commented on #3847
How did you create that package-lock @ariofrio it very much does have the same root cause there.  It's got `"version": "file:dependency"` as the version for the workspace

[2022-06-02 21:31] asotog commented on #2453
Hi all,

I'm still experiencing this issue when running `npm publish`:
[code]

I spent whole afternoon until I go to a lower version, in my case I tried node 12, node v12.22.9 (npm v6.14.15), and it worked again

[2022-06-02 21:37] ariofrio commented on #3847
@wraithgar  Taking a closer look, it seems that that package-lock was somehow created as I was renaming and moving the "dependency" package to "packages/greeting". I forgot to update the old name in "packages/server/package.json" and it somehow got stuck in the package-lock. `npm install` didn't notice there's anything wrong or that we're referencing a non-existent package, until I add "--workspac

[2022-06-02 21:38] asotog commented on #2453
Just found this command:
[code]
and use the right user, then was complaining about other information related to nexus which this helped me https://blog.katastros.com/a?ID=01750-614d5a39-d787-4987-89bb-0b2f03210e1f

[2022-06-02 21:58] GitSkelly commented on #4980
Is there a way to re-open this issue or will updates keep coming through this feed?

I too am having this issue still on 8.12.1.

[2022-06-02 22:41] weezyade commented on #4980
I'm having the same issue......on both versions

[2022-06-03 02:26] Dany-GP commented on #4980
Hi there, I had the same issue, this command solve the bug for me
`npm-windows-upgrade --npm-version latest`
You have to run your powershell or cmd as administrator

[2022-06-03 04:10] Gino16 commented on #4980
Issue is still here in npm 8.12.1 version:

`$ npm -v`
`npm WARN config global --global, --local are deprecated. Use --location=global instead.`
`8.12.1` 👀

[2022-06-03 04:39] Dany-GP commented on #4980
Did you opened command prompt as Administrator? What OS are you running npm? @Gino16

[2022-06-03 04:43] Gino16 commented on #4980
I used Git Bash, my OS is Windows 10, its the same result when I open in cmd as Administrator @Dany-GP

[2022-06-03 04:50] Dany-GP commented on #4980
you can try to set the commands that come [here](https://www.npmjs.com/package/npm-windows-upgrade)
`npm install --global --production npm-windows-upgrade`
Running this command as admin command prompt should resolve this issue. I recommend you try on administrator cmd.

[2022-06-03 04:57] sktm4a1 commented on #4954
me too ! when I run any command with "npm" ,there always is a warning
[code]

[2022-06-03 06:50] flensrocker commented on #4980
Running `npm-windows-upgrade` as administrator and upgrading to 8.12.1 fixed my problem.

Thank you, @nlf !

[2022-06-03 07:02] Warathep187 commented on #4980
**SOLVED!!**
At line 23 in npm file. Change _prefix -g_ to _--location=global_

[2022-06-03 07:41] RobbieClarken commented on #4828
I'm also encountering this issue with a Next.js project:

- Deleting `package-lock.json` and running `npm install` on an M1 Mac results in a `package-lock.json` file that is no longer able to build the app on x86.
- This can be fixed by deleting `package-lock.json` _and_ `node_modules` and re-running `npm install`.

Unfortunately developers often don't realise the `package-lock.json` file is broke

[2022-06-03 07:48] ehoogeveen-medweb commented on #4989
This issue seems to be coming from `Node.js` itself!

- With node `v16.15.1` I get this warning for every invocation of `npm`, even with npm `8.12.1` (which undeprecates `--global`)
- With node `v16.15.0` I don't get this warning, even with npm `8.11.0` (which deprecated `--global`)

I also only see the issue on Windows.

Edit: FWIW, the warning also triggers regardless of what is passed to npm -

[2022-06-03 07:49] ihab-haji commented on #4954
Same issue

[2022-06-03 08:04] denvolch commented on #4980
thx a lot

[2022-06-03 08:05] ehoogeveen-medweb commented on #4945
Issue #4989 makes me wonder if this bug is the result of the seemingly indirect way that `npm` is invoked on Windows.

In that issue, we see that some module bundled with node `v16.15.1` is causing the deprecation warning on every invocation of `npm`, even versions of `npm` in which `--global` is not deprecated (like version `8.12.1`).

In this issue, perhaps the problem is that node `v16.15.0` in

[2022-06-03 10:24] prcdpr commented on #4028
Lately it happens every day on my computer (Win10, npm v8.11.0, node v16.15.1).
This is truly very high priority issue as it happens on LTS version of NodeJS and can bring down whole computer until it's rebooted.

[2022-06-03 11:58] weezyade commented on #4980
can't find the lastest npm upgrade, need help.

[2022-06-03 13:21] flensrocker commented on #4980
@weezyade
If you are on Windows, run in an **Administrator** prompt:
[code]
and select version 8.12.1 for installation.

[2022-06-03 14:51] ChristianGrete0770 commented on #1637
Hi @rgparkins, we do have the same issue at the moment. After renaming our repository, publishing fails both locally and in GitHub workflows. Could you please give us more details on how you fixed that issue? We updated every occurrence of the old repo URL but still getting this problem...

[2022-06-03 15:26] nickeeromo commented on #3472
I originally was using npm 8 and as my experience was the same as others here, I decided to downgrade (even though I didn't realize OP was using npm 7).

Ran `npm i npm@7` which gave me npm 7.24.2, and for reference I am on node 14.17.4.

Deleted node_modules altogether and the package-lock.json to start fresh.
Then I had to run `npm cache clean --force` for a specific issue.

After that, `npm aud

[2022-06-03 15:42] kleinfreund commented on #3472
@nickeeromo Personally, I had this issue ever since I reported it (and in fact quite a while before that). I certainly had it on clean repositories (i.e. freshly cloned) and even on fresh npm installations.

[2022-06-03 15:54] eliot-akira commented on #2380
The first part of the originally reported issue is still happening for me, with npm version 8.12.1.

- running `npm install` removes linked packages and installs their published versions instead

Apparently this is now the intended behavior, but it wasn't always like this. I used to have a workflow using `npm link` to **temporarily substitute modules for local development**. Running `npm install`

[2022-06-03 15:55] RayOfArbor commented on #4954
global `--global`, `--local` are deprecated. Use `--location=global` instead.
me too

[2022-06-03 16:10] darmentrout commented on #4942
I just upgraded npm from 8.5.0 to 8.12.1 and I'm getting the same errors. Removing package-lock.json, deleting node_modules, and rerunning `npm install` do not help.

[code]

[2022-06-03 16:39] Hashsudo commented on #4980
I was able to resolve using the steps mentioned. I'll provide screenshots in the event others experience issues similar to mine using Powershell admin. Much appreciated flensrocker! Hope this helps others.

Step 1:
![Screenshot_2](https://user-images.githubusercontent.com/104814779/171907958-d5902687-76fd-4718-ba56-7970b38a312d.png)

Step 2:
![Screenshot_3](https://user-images.githubusercontent.co

[2022-06-03 16:48] darmentrout commented on #4942
Running `npm install` twice makes the `npm ci` error go away.
https://github.com/npm/cli/issues/4859#issuecomment-1120018666

[2022-06-03 17:21] NSExceptional commented on #4980
@nlf this is clearly not resolved, can we reopen it?

[2022-06-03 17:49] Hashsudo commented on #4980
I agree. The issue is not resolved. There is a workaround, but it shouldn't be necessary if a true resolution was found

[2022-06-03 17:59] flensrocker commented on #4980
@NSExceptional @Hashsudo
Why is this not resolved for you? It's a bug in versions <= 8.12.0 and fixed in 8.12.1.

[2022-06-03 18:13] Hashsudo commented on #4980
I understand. I believe that the reference is to the installer. It will not update via the installer and requires manual alterations via Powershell. That's what I meant anyway. I do agree though that it is resolved in the sense that following the steps in Powershell correct the issue.

[2022-06-03 18:14] NSExceptional commented on #4980
There are a half dozen comments here all saying the same thing: it was not fixed in 8.12.1. Just experienced this myself.

[2022-06-03 18:17] Hashsudo commented on #4980
I believe that many people are doing what I was initially by uninstalling and reinstalling via the installer trying to update. It will not update that way. Still, the Powerhsell steps do fix the issue. So, in that sense, 8.12.1 is a fix.

[2022-06-03 18:21] giraocaio commented on #4980
![image](https://user-images.githubusercontent.com/45151518/171923320-eb9b8b54-96ea-419b-9e29-82257ab06b83.png)
It is not fixed... I just tried to upgrade...

[2022-06-03 18:22] flensrocker commented on #4980
@giraocaio How did you update?

On Windows you **must** use `npm-windows-upgrade`. Just `npm i -g npm` does not work.

[2022-06-03 18:39] NSExceptional commented on #4980
That's a workaround, not an official fix.

[2022-06-03 18:56] flensrocker commented on #4980
@NSExceptional
Please help me understand your problem. Why is an upgrade to the latest version a workaround and not a fix?

[2022-06-03 19:01] NSExceptional commented on #4980
Using a third party tool to perform the upgrade is not a fix. If there is some other fix that involves an official tool or a procedure involving official tools, that would be a fix

[2022-06-03 19:08] flensrocker commented on #4980
Upgrading npm on Windows was always tricky, see [the documentation](https://docs.npmjs.com/try-the-latest-stable-version-of-npm#upgrading-on-windows)

The `npm-windows-upgrade` tool is the prefered way to upgrade npm on Windows. It's not mentioned in the documentation. But maybe it should...

Once this version is include in a node release it would get update along with that.

But I recommend `npm-

[2022-06-03 19:51] jchiem commented on #4942
Oh interesting, perhaps this will be solved with #4859 then? 🤔 for now I've just kept using npm 8.5.5 and the package-lock generated with that version, it works with my specific dependencies at least, I'll try out if `npm install` twice as mentioned in the other issue works for my project as well.

[2022-06-04 00:34] jaikme commented on #4863
Same here.
I do not know what happens,
I think was `npm link -D ../repo/packages/some_package`
Using `npm v8.12.1`

My `.npmrc` :
[code]

[2022-06-04 04:08] felipetavora commented on #4980
Im tried all solutions in this post, but nothing work! =(

![image](https://user-images.githubusercontent.com/37704278/171981937-d4e710e4-655c-473e-b186-f5a50c75cced.png)

[2022-06-04 05:33] flensrocker commented on #4980
@felipetavora
Try `where.exe npm.cmd` to get the right directory. Is it the same, which npm-windows-upgrade chooses for installation?

It depends on your setup and PATH.

[2022-06-04 06:54] Maxim-Mazurok opened #4990 "[BUG] npm workspaces issue when using different versions of the same package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

### Expected Behavior

[code]

### Steps To Reproduce

1. `git clone https://github.com/Maxim-Mazurok/npm-workspaces-repro`
2. Use node `v18.3.0` and `npm@8.12.1`: `nvm i 18.3.0` or `nvs add 18.3.0 && nv

[2022-06-04 07:12] Maxim-Mazurok commented on #4990
Workaround:

Use jest programmatically: `node -e "console.log(require('jest').getVersion())"`

See https://github.com/Maxim-Mazurok/npm-workspaces-repro/commit/eed5ec8691b229512d102999a06af015c7b38036

[2022-06-04 08:29] yihuiFENG1 commented on #4980
still have the problem in version 8.12.1, please help!

<img width="665" alt="image" src="https://user-images.githubusercontent.com/104675879/171991430-dee093bf-1df1-408c-925f-83639286dee2.png">

[2022-06-04 08:31] yihuiFENG1 commented on #4980
it is same for me

[2022-06-04 10:07] adil-azmy commented on #4980
@flensrocker ... why it should be reopened?

Because we should not see that we are runing a good corrected version... while still have the problem that this version is supposed to resolve... wherever the other actions to take are.

So the update should update all "C:\Program Files\nodejs" command files removing -g and replacing it with --location=global

thank you

[2022-06-04 10:34] felipetavora commented on #4980
i gonna try it, thanks!

[2022-06-04 11:14] felipetavora commented on #4980
Hey, i found the solution for me, maybe works for all.
by default the npm install in C:\Program Files\nodejs but not work for me when i set --location=global in file npm.cmd

So....
Try install node in this directory C:\Program Files (x86)\nodejs and set location=global (line 12) in file npm.cmd

![image](https://user-images.githubusercontent.com/37704278/171996538-0560743e-2416-494f-9780-078358e1

[2022-06-04 12:45] felipetavora commented on #4980
It seems to me that problem is related to the current version of node and not even manually setting --location=global in file npm.cmd solves it.

For me works rollback in node version to 16.15.0. with npm 8.12.1
Looks like this is a problem with the specific version 16.15.1

![image](https://user-images.githubusercontent.com/37704278/171999382-a5477995-59f5-49b3-a2b1-64e2dca488fe.png)

I hope node

[2022-06-04 13:09] hunaulys commented on #4980
It works;)

[2022-06-04 13:10] hunaulys commented on #4980
It works ;)

[2022-06-04 13:28] LaviniaUnder commented on #4980
It works for me too

[2022-06-04 23:15] kasper9n commented on #4911
I can't seem to set any config option using environment variables
[code]

[2022-06-05 03:42] Alecto commented on #4954
me too

[2022-06-05 06:04] XhmikosR commented on #4989
This was fixed by #4982 and it's included in v8.12.1.

You should bug the Node.js people to update the bundled npm there if it's not already done and cut a new version. Alternatively, you can update your npm instance until the issue is fixed in Node.js.

[2022-06-05 15:41] dewmindi commented on #4980
Did this work for you? How did you replace the line 12? because npm.cmd is being opened via terminal

[2022-06-05 15:47] flensrocker commented on #4980
@dewmindi
Start notepad as admin and open the file.

[2022-06-05 16:04] dewmindi commented on #4980
unfortunately it can't be opened as an admin...even though I made the changes error was popped up " You don't have permission to open the file. See the owner of the file or an administrator to obtain permission.
![Capture](https://user-images.githubusercontent.com/79515343/172059513-6c22ac77-0c57-4173-869b-1b9b294d1b52.JPG)
"

[2022-06-05 16:11] flensrocker commented on #4980
Press Win+X and select "Windows Terminal (as Administrator)" (or similar item) and then run "notepad c:\path\to\npm.cmd"

[2022-06-05 21:47] ehoogeveen-medweb commented on #4945
I figured out the cause of this: I somehow had another version of npm installed at `%UserProfile%`! It seems that `npm run` used this version instead of the version in `%AppData%\npm`.

[2022-06-05 21:47] #4945 closed, assigned to nobody

[2022-06-05 22:25] ehoogeveen-medweb commented on #4989
Here's a workaround until Node.js v16.15.2 is released:

1. Open a Windows PowerShell command window with elevated privileges (an administrative prompt).
2. Run the following commands (assuming the default installation directory was used for Node.js):
[code]

The problem here happens because the version of npm in the Node.js installation directory is used to get the global prefix. After that, proc

[2022-06-05 22:43] cen1 opened #4992 "[BUG] npm ERR! Invalid Version: 0.4.0rc7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

npm install

https://www.npmjs.com/package/grunt-contrib-requirejs

Lifting dependency version to 1.0.0 seems to work. What is weird is that I had this working fine just 2 weeks ago on node 16 and npm 8,

[2022-06-06 03:42] ljharb commented on #4992
That version is indeed invalid. What's in your package.json's version field?

[2022-06-06 04:46] aespinal21 commented on #4980
Remplacen **prefix -g** por **prefix --location=global** Los siguientes archivos **npm** **npm.cmd** **npx** **npx.cmd**  ubicados en **C:\Program Files\nodejs** La terminación **.cmd** puede no visualizarse, de ser asi solo busquen esos archivos y edítenlos con **Visual Studio Code** (Mi preferido).

![Snap 2022-06-06 at 00 25 01](https://user-images.githubusercontent.com/75548061/172096472-21698

[2022-06-06 05:41] KrayzeeKev commented on #4939
I'm seeing the same thing:
[code]
`npm install` gives me `ejs@3.1.8`. `npm update` doesn't change anything. Subsequent `npm install` gives me `ejs@2.5.5`, and it toggles each time you run `npm install`
(Node V16.14, npm 8.11)

[2022-06-06 06:05] NSExceptional commented on #4980
Okay, so my issue was actually that `npm` was installed in two places, and the "bad" one was never getting overwritten. They were:

1. In program files alongside `node` itself
2. In AppData/Roaming alongside the other global npm packages

I noticed new packages got installed into the AppData location, so I deleted all `npm*` and `npx*` files out of the `Program Files/nodejs` folder, and the warnin

[2022-06-06 07:06] cen1 commented on #4992
2.0.0

[2022-06-06 11:57] harsha3330 commented on #4980
i have tried all the above steps and nothing is working
![Screenshot 2022-06-06 172707](https://user-images.githubusercontent.com/105787285/172156180-23f10b82-08c6-4225-8103-dec2cf8912b8.png)

[2022-06-06 12:05] harsha3330 commented on #4980
could some one help me out

[2022-06-06 12:09] bittu commented on #4992
I am also getting same error for node v16 but works with v14. But this worked fine few days back.

[code]

[2022-06-06 12:43] hunaulys commented on #4980
my English is not good,  have you tried the following ways?
![微信图片_20220606204145](https://user-images.githubusercontent.com/60925990/172162678-dee49f23-2956-42b5-bad5-fde422b8133a.png)
![微信图片_20220606204155](https://user-images.githubusercontent.com/60925990/172162708-31561342-d7ce-4897-904f-4845cf1e8fdc.png)
![微信图片_20220606204202](https://user-images.githubusercontent.com/60925990/172162721-109e

[2022-06-06 12:47] hunaulys commented on #4980
My English is not good,  have you tried the following ways?
![微信图片_20220606204145](https://user-images.githubusercontent.com/60925990/172162678-dee49f23-2956-42b5-bad5-fde422b8133a.png)
![微信图片_20220606204155](https://user-images.githubusercontent.com/60925990/172162708-31561342-d7ce-4897-904f-4845cf1e8fdc.png)
![微信图片_20220606204202](https://user-images.githubusercontent.com/60925990/172162721-109e

[2022-06-06 13:07] cen1 commented on #4992
Maybe something in npm registry itself got changed and is now returning invalid versions? I've read somewhere these should be filtered anyway and never get down to the npm itself. See for example https://github.com/npm/npm/issues/11836#issuecomment-194453360

[2022-06-06 13:12] bittu commented on #4992
Ok. But how and when will this get fixed? All pipelines are blocked now for us.

[2022-06-06 17:26] raven1152 commented on #4989
Thank you @ehoogeveen-medweb I have forwarded this to our build-master so they can implement the fix.  I appreciate your time in taking a look at this.

[2022-06-06 17:26] #4989 closed, assigned to nobody

[2022-06-06 17:49] gcrozariol commented on #3374
npm cache clear --force really worked for me! Thanks :)

[2022-06-06 19:53] issuefiler opened #4994 "[BUG][since 7.18.0] A wrong symlink is produced when installing a local `file:` package."
# The environments

## The directory tree
- `T:/a/b/c/`
  - `PackageA/`
    - `package.json`
  - `PackageB/`

## `T:/a/b/c/PackageA/package.json`
[code]

## The command
The working directory: `B:/a/b/c/PackageA/`.
[code]
on **Windows 10**’s _command prompt_.

-----

# The results

The following symlink is created.

## NPM version 7.17.0 ✔
`./node_modules/package-b` ⟶[symlink]⟶ `T:/a/b/c/PackageB/`

[2022-06-06 19:58] ljharb commented on #4994
@issuefiler npm 7 is long EOL, can you try with npm 8 latest?

[2022-06-06 19:59] issuefiler commented on #4994
@ljharb:

I’ve also tried with `npm@8.12.1`. This bug still exists.

[2022-06-06 20:07] #4946 closed, assigned to nobody

[2022-06-06 22:36] Thomas-1985 commented on #3472
Same here
node.js - v14.18.3
npm - 8.12.1
MacOS - 12.3.1

[2022-06-06 23:52] cynthia-nwannah commented on #4980
just change your npx file and npm file in line 12 and line 12 from -g to --location=global

[2022-06-07 00:38] issuefiler commented on #4921
## Unlike my case, https://github.com/npm/cli/issues/4994, **_your case is not a bug._**

Your `package.json` is in `packages/bar/` and referring to `packages/foo/`. Since it’s a relative path, your `package.json` is clearly referring to `packages/bar/packages/foo/`. For your installed `foo`, `packages/bar/node_modules/foo`, this is `../packages/foo/`.

[2022-06-07 00:45] issuefiler commented on #4921
If you want to refer to `package/foo/` (an absolute path) from `package/bar/` (an absolute path), use the relative path `file:../foo/`.

You’ll face the real bug #4994, though.

[2022-06-07 04:53] master-zouyq commented on #4067
it's time to use yarn

[2022-06-07 05:06] Lisitius commented on #4980
npm-windows-upgrade and choose 8.12.1 work for me, thank you

[2022-06-07 07:24] jchiem commented on #4942
@darmentrout

could you elaborate how `npm install` resolves the issue for you? For me, doing
`rm -rf package-lock.json`
`rm -rf node_modules`
`npm install`
`npm install`

Still results in vulnerabilities being installed with the 2nd npm install command, which to me indicates that the `npm overrides` still do not work correctly even with that method for me at least, using npm 8.12.1

[2022-06-07 08:02] ssurana2 commented on #3472
Facing the same issue

node.js - v16.14.2
npm - 8.5.0
MacOS - 12.3.1

[2022-06-07 08:36] wangyongtao commented on #4980
Just update npm to `8.12.1` . It works for me.

[code]

[2022-06-07 09:16] XhmikosR commented on #4838
I'm also hitting this. Indeed, the issue happens only in docker.

I had to pin down the Node.js image to v16.15.0 which ships with npm v8.5.5, but using Node.js v16.15.1 with npm v8.5.5 also worked fine. I also tried npm v8.12.1 and the same error happens.

If someone could look into it, I'd really appreciate it!

[2022-06-07 09:24] easa commented on #4084
I guess it's not a bug yet there is no instruction about how to handle this conflicts. I couldn't find anything in the docs and I would be grateful if you could explain what this error means in workspaces and what we need to do to fix it.

[2022-06-07 12:12] MRobertEvers commented on #4942
`npm install` does not resolve the issue for us. npm >= 8.6 fails with the same errors.

[2022-06-07 14:35] sean-s14 commented on #4980
After doing this I think maybe you should also change the policy back to the default like so:
[code]

[2022-06-07 15:26] paulbrimicombe commented on #3902
@nlf this opinion would carry much more weight if `npm` actually _ran_ the build script. You can test this by running:

[code]

This package has `exit 1` in its build script (See https://github.com/paulbrimicombe/npm-git-deps-testing/blob/7f9fdcfea16351aa7d13f7f1e7691f4f4f0e6e52/package.json#L8). This script is not run by `npm` during installation. Putting the same thing in a `prepare` script _doe

[2022-06-07 16:09] Piliponful commented on #2017
There are no flag --production in npm ci docs https://docs.npmjs.com/cli/v8/commands/npm-ci

And if you think how it works you'll understand why.
npm ci installs all the packages from package-lock.json so what would flag production mean?

[2022-06-07 16:49] bittu commented on #4992
Bump!!!

Any update on this please...

[2022-06-07 17:59] boutell commented on #3993
My script is cd'ing into the appropriate folder and running `npm publish` the simple way, and I still get this error since upgrading to npm 8, even after a fresh npm login. It's a scoped private repo, as in these examples, but I've cd'd down into the actual directory. Not sure what I can do with that, but let me see what happens if I go out of my way *not* to cd into the folder... alas, no dice.

[2022-06-07 18:40] egrieco commented on #2835
I ran into this bug when running npm via [Topgrade](https://lib.rs/crates/topgrade).

Running:

[code]

Revealed a number of `.bin` directories. I cleaned them up with:

[code]

[2022-06-07 18:41] egrieco commented on #2835
P.S. I find it odd that `npm doctor` did not complain about the `.bin` directories.

[2022-06-07 19:00] mdmower commented on #4980
[npm-windows-upgrade](https://github.com/felixrieseberg/npm-windows-upgrade) hasn't been updated in 3 years and the owner of the repository has archived it. I don't think it should be recommended anymore.

As others have mentioned, on Windows, `npm update -g` and `npm install -g npm` don't update the copy of npm installed by node at `C:\Program Files\nodejs\node_modules\npm`. The `npm` and `npx` l

[2022-06-07 19:33] darcyclarke commented on #4838
@XhmikosR did you try @wraithgar's suggested fix?

[2022-06-07 19:37] compnski commented on #4769
This is a very surprising change!

It also breaks read-only container filesystems.
For example: `podman run -e --read-only --rm -ti -v .:/app  -w /app node:16.15.1 npm run dev`

[2022-06-07 21:18] bkendall commented on #4323
Once again, another person has escalated an issue to me where the dev dependencies are being installed. Would love to see this addressed soon.

[2022-06-07 22:13] evgeniy-savenko commented on #4980
Thx my friend.
Rollback in node version to 16.15.0 worked for me.
npm 8.12.1

[2022-06-08 00:45] HexaField opened #4995 "[BUG] `/etc/hosts` as plain text in any file causes `npm publish` to fail with 403: Forbidden"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Including the string `/etc/hosts` as plain text in any file that `npm publish` tries to push to the npm registry will fail. All information can be found in the following screenshots.

![Screenshot from 2022-06-0

[2022-06-08 02:40] afgm05 commented on #4234
Uninstalling node.js and nvm and reinstalling them again seems to fix the issue for me.

[2022-06-08 03:37] faizaldong commented on #3152
why this issue is closed? it still happening in June 2022 @ljharb

[2022-06-08 04:22] Hi-Fi opened #4996 "[BUG] npm silently fails when unable to write cache directory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When running older official node image, npm works fine:
[code]

With latest one, npm just silently exits:
[code]

Custom image that updates NPM:
[code]

### Expected Behavior

[code]

### Steps To Reproduce

Wit

[2022-06-08 07:31] arjanfrans commented on #4992
Our pipeline are blocked because of this

[2022-06-08 07:36] cen1 commented on #4992
I found one possible thing that may work by adding `--no-audit` flag, it went through once for me.

[2022-06-08 07:48] arjanfrans commented on #4992
@cen1 Worked for me too

[2022-06-08 09:02] germagik opened #4997 "[BUG] Unable to install dependencies skipping nested workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Installing a dependency to a specific `workspace` that has a sub-workspace (also defined in `workspaces` array) is adding the dependency to parent (as expected) but is also adding it to all sub-workspaces.

###

[2022-06-08 09:56] Darkein opened #4998 "[BUG] npm ci can't resolve dependencies without --force, or --legacy-peer-deps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I've updated to latest node version which use npm 8.11.0, but the problem exist with versions  >= 8.6.0 up to 8.12.1

when I do an `npm install --legacy-peer-deps`, all dependencies are correctly installed and I

[2022-06-08 11:39] jmcscript commented on #4980
This worked perfectly for me in an Administration-level Terminal (PowerShell) in Windows 11.

[2022-06-08 11:40] whs commented on #4838
Doesn't seems to do anything

[code]

[2022-06-08 12:38] lorand-horvath opened #4999 "ansi-regex vulnerabilities in npm 6.14.17 due to fixed dependency versioning"
I've updated to the latest npm 6.14.17 globally with `npm install -g npm@6` which seems to not be able to install the latest of ansi-regex in several dependency chains.
According to https://github.com/npm/cli/commit/a869ec48b9481c10302378e6c2d94fe36e4c81c2 which updated the deps it seems the versioning has changed for several ansi-regex from range ^ to fixed version. For example
in `node_modules/y

[2022-06-08 13:18] jasonwilliams commented on #4838
@wraithgar's fix didn't work for me I still get 254 just like @whs does. Node 18.1.0, npm 8.8.0

[2022-06-08 15:01] patchon commented on #4996
The issue seems to be related to the creation of the "cache-directory".
Setting the `npm_config_cache` to a writable path (ie. `/tmp/`) works.

[code]
Above is from `node:16-alpine-latest` in an OpenShift environment (ie. where an arbitrary user id is used).

I traced it down to the following code,
[code]

Unfortunately my nodejs skills stops here and I'm not really sure what the comment is referr

[2022-06-08 15:04] lunsdorf commented on #3847
@nlf removing the leading `./` indeed makes the error go away for me. However, if I put the packages inside a sub-directory npm then tries to install from github instead of the local workspace package.

[code]

Tested with node v16.13.2 and npm v8.12.1 on macos.

[2022-06-08 15:49] ranyefet commented on #4998
This is a breaking change without bumping major version. Any update on this issue?

[2022-06-08 15:53] BillyAleks commented on #4232
++ working solution

[2022-06-08 15:56] haskelcurry commented on #2660
Any plans on this?

[2022-06-08 16:18] FelipeEmerim commented on #4996
We use k8s with `readOnlyRootFilesystem: true`. We added an emptyDir volume mounted on /tmp and set the `npm_config_cache` env var to `/tmp/npm/`. Because the volume is mounted with 777 permissions it solved our problem without downgrading the node image.

[2022-06-08 16:27] stormbard commented on #4998
Not sure if this is related. I have a package-lock file generated using npm 8.5.0 when I try to do a `npm ci` using npm 8.11.0 I get the following
[code]
Adding `--legacy-peer-deps` to the `npm ci` command allows the clean install to work as I'd expect.

[2022-06-08 17:25] AlttiRi commented on #4980
Maybe it's worth to publish a ~minor~ patch Node.js release with this bug fixed?
@nodejs

https://github.com/nodejs/node/pull/43301 is still not even merged.

[2022-06-08 17:53] marianoarga commented on #4309
In my case being behind a VPN was causing this issue, I disconnected and it ran just fine

[2022-06-08 19:06] soulchild commented on #4996
Wow! This just broke all of our applications on k8s and it took me half a day to figure out what's going on because there was no output whatsoever (Note to future self: Check npm issues first). Will this be treated as a bug which will be fixed or are we going to have to patch each and every one of our applications? 🙈

[2022-06-08 19:27] HugoVersiani commented on #4303
i have also the same problem

[2022-06-08 19:33] XhmikosR commented on #4838
OK, so this very weird. I just tried it today and it works in most projects except for the ones we have npm install warnings which seem to be now errors with the new version.

I'll give it a go again, but I could reproduce the failure in 4 separate machines yesterday. I'll try to pinpoint the failure and see if the npm peer dependencies issues are now errors instead of warnings (the repos are Angu

[2022-06-08 20:09] do0g commented on #3902
There are projects such as [ramda](https://github.com/ramda/ramda) that publish [built and minified artefacts](https://github.com/ramda/ramda/tree/master/dist) alongside their source code. Executing the project's `build` script or installing development dependencies automatically could break on install.

It seems to me that NPM has always been explicit about the purpose and position in lifecycles

[2022-06-08 23:19] ng-druid commented on #3910
I had same issue today for my first time using github actions. The problem seems to be isolated to node version 14.x. I changed the node version to 16.x and the dependencies in package json installed  without these critical errors.

[2022-06-09 05:28] christianidas commented on #4017
You can work around this in one commit. Add this scrip to your package.json at the root:
`"version": "npm version $npm_package_version --workspaces && git add **/package.json"`

[2022-06-09 06:04] soulchild commented on #4652
Somehow the situation improved greatly in the last couple of weeks in my case. I have had only a single build breaking due to "network problems" (ECONNRESET). I suspect newer versions of npm have had some sort of fix for this issue…?

[2022-06-09 07:05] kopylash commented on #4998
Also, having this issue. When downgrading npm to 8.1 everything works fine.
Node 16.15.1 was released which includes npm@8.11 and our CI builds started failing because we use `node:16` Docker image
<img width="1060" alt="Screenshot 2022-06-08 at 17 37 24" src="https://user-images.githubusercontent.com/9396184/172785530-a5fa23ff-3635-4d64-a5de-37d01cecc0c9.png">

[2022-06-09 07:33] wisc17 commented on #4992
node 16.15.0
npm 8.12.1
npm does not install modules properly (a lot of files are missing in various modules)
and exiting with an error about scp2
`npm ERR! Invalid Version: 0.1.0a2`
I don't need to mention that everything worked fine before, do i?
Adding the `--no-audit` flag makes it work again but should not be the solution imo
Since this issue blocks all pipelines there is no choice for now.
P

[2022-06-09 07:48] ctretyak commented on #4998
The bug (feature maybe?, but very annoying) exists since npm@8.6 (included). On npm@8.5 everything good

[2022-06-09 08:36] l-moveshelf commented on #4998
I think this is the intended behaviour. The [official doc](https://docs.npmjs.com/cli/v8/commands/npm-ci) states that:

[2022-06-09 08:41] nicolashenry commented on #4232
I noticed that it worked only if I put exact version in overrides.

If I put something like the following, it does not work (but does not complain):
[code]

But with the following, it works fine:
[code]

I put this here if it can help someone.

[2022-06-09 09:43] mlvzk commented on #4998
If this is intended and breaks `npm install` (if 8.5 works and 8.6 doesn't) shouldn't it have been released in a major update, not minor?

[2022-06-09 09:45] l-moveshelf commented on #4998
This doesn't "break" npm install; my assumption is that it was previously working in our use case because of a bug, which has now been fixed (can't see the official documentation history, so I'm not sure if it was also stated before)

[2022-06-09 11:10] pvanagtmaal opened #5001 "[DOCS] Possibly undesired and undocumented side-effects from #4917"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

Since #4917, workspace .gitignore files are taken into account. However, this means that if you have a typescript workspace, you likely have `*.js` files in your .gitignore and these wi

[2022-06-09 11:51] jstasiak commented on #4769
We're experiencing the same issue when the user's home directory exists but is not accessible (trying to access it results in error code EACCES/13). npm 8.5.5 logs some warnings and keeps going. npm 8.11.1 dies with exit code 243 (it calls `exit(-13)` but -13 gets translated to 243).

Node 16.15.1, Linux, inside Docker.

[2022-06-09 13:36] ctretyak commented on #4998
Before 8.6 I could run `npm i --force` once and after that just used `npm i` many times. Now I have to use --force every time. For me, it's convenient to allow to install dangerous code once than do mindless operation every time. May you can add any flags that work like "--force" before npm@8.6 (e.g. --force-permanent)?

[2022-06-09 13:37] l-moveshelf commented on #4998
I believe you can with the following:

[2022-06-09 13:40] stormbard commented on #4998
This is where my case is slightly different. Generated the lock-file without any special parameters, but adding the `--legacy-peer-deps` allows it to work(?) with npm 8.11. Without it the process just errors.

[2022-06-09 13:43] l-moveshelf commented on #4998
Did you try removing the lock file as well as the node modules and retrying?

[2022-06-09 13:54] funnylookinhat commented on #4998
I've seen this behavior as well - but the puzzling part is that I'm seeing it fail in builds and then succeed with a build that is retried.

In spite of the documentation (and that providing either an `.npmrc` or `--legacy-peer-deps` fixing the problem), I would consider this a regression - as quite a few build processes have begun failing where they were previously working as intended.  Docs are

[2022-06-09 13:58] viniciusfersil123 commented on #950
@kgagnon You saved my life bro ! It worked like a charm ! :heart:

[2022-06-09 14:57] stormbard commented on #4998
@luca-moveshelf yeah, I removed the lock-file and node modules and then did an npm install using npm 8.5, swapped to 8.11 and did an npm ci and got the error. If I do a npm install on only 8.11 or just regenerate the package-lock on 8.11 everything works fine without any special flags.

[2022-06-09 15:00] ljharb commented on #4998
If you need force or legacy peer deps, it’s because your dep graph is invalid - nothing should ever have worked, and it’s critically important *to* break things so you’re notified that your graph is invalid.

Your top priority should be fixing your dep graph so that npm install works without any flags.

[2022-06-09 15:05] nfroidure opened #5002 "[BUG] Problems for `npm ci` on a docker image starting v8.11.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

For the following package.json:
[code]

Doing `npm i`, then docker build the following dockerfile:
[code]

Result in the following error:
[code]

The full stack found in logs is:
[code]

Adding those logs before

[2022-06-09 15:19] louis-bompart commented on #5001
Hey @pvanagtmaal , that won't solve your issue, but I had this issue too and I discussed it with one of the npm developers.
There's an explanation of the whys, and resolutions steps (I do agree why you that the changes were surprising)

https://github.com/npm/npm-packlist/issues/106

(mostly commenting because I think this comment https://github.com/npm/npm-packlist/issues/106#issuecomment-1139919

[2022-06-09 15:23] jcarrus commented on #4998
@funnylookinhat I also was puzzled by the intermittency of the issue, but I've just realized that Github Actions's Setup Node action logs the cached version of node that it uses:

![image](https://user-images.githubusercontent.com/4761903/172883807-ccc753a5-2912-44df-b566-7cace88a7bfb.png)

and I've been getting different values for failing and succeeding runs:

![image](https://user-images.github

[2022-06-09 15:30] pvanagtmaal commented on #5001
Hi @louis-bompart,

Thanks for the link, that comment does indeed explain a lot. In our case there were indeed too many files ignored and we fixed it by adding a root .npmignore "unignoring" the js and js.map files.

I do however still feel that this is something that should be in major releases.

[2022-06-09 15:35] nealeu opened #5003 "Same npx command called by postinstall of 2 or more deps causes corruption"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

We have periodic npx failures which had been difficult to track down, but having got into our CI containers we've discovered that `npm ci` is triggering parallel execution of `postinstall` scripts of our depende

[2022-06-09 15:49] mofojed commented on #4998
Similar issue between v8.3.1 and v8.3.2 - a package-lock.json that was created with `v8.3.1` is no longer valid with `v8.3.2`.

Issue here is that in `.nvmrc` and in our GitHub actions we had `lts/gallium` specified as our version of node, but then builds started breaking because the previously generated package-lock.json is no longer valid.

@ljharb This may be the case - but the previous package

[2022-06-09 15:50] ljharb commented on #4998
@mofojed the major version change was done in v7, where npm fails to install if your graph is unresolvable.

If it's failing now, I'd consider it a bug that it worked before, and that bug has been fixed.

[2022-06-09 16:52] mofojed commented on #4998
@ljharb I've created an example project demonstrating the issue: https://github.com/mofojed/npm-scratch

I agree there probably was an issue with previous versions of npm, and perhaps even how the package-lock.json was being generated. But shouldn't we deprecate those versions of npm in the registry then? As it is right now, there's definitely a change in behaviour.
In that project, with npm v8.5.

[2022-06-09 17:05] jpage-godaddy commented on #4024
Is there any workaround for this bug?

[2022-06-09 17:40] itoffshore commented on #3359
disabling `ipv6` on my main NIC[ fixed `npm install`](https://stackoverflow.com/a/72564257/555451) for Ubuntu `22.04` under `WSL1`

[2022-06-09 19:11] connectdotz opened #5004 "[BUG] Regression: no way to pass through extra arguments as they are"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

We have been passing a path-like regex string as the extra argument for the run script, and it worked for npm/yarn on all platforms. But lately, some of our npm users on windows started to report the regex has b

[2022-06-09 19:11] lukekarrys opened #5005 "[BUG] npm should warn on invalid overrides"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Overrides should always be versions and not semver ranges. `npm` should warn if it encounters invalid overrides. Ref: https://github.com/npm/cli/issues/4232#issuecomment-1150841323

### Expected Behavior

_No re

[2022-06-09 19:24] ljharb commented on #4998
Deprecation isn’t typically used merely for buggy versions; it’s rarely used at all.

[2022-06-09 19:24] ljharb commented on #5004
Can you try with npm 8 latest?

[2022-06-09 19:37] elranu commented on #4208
If you fix this, it will also be awesome, if you don't find a scoped private package on a private registry, don't throw an error. Try to find it in the public npm registry. There is no way to handle when a scope @company, has public and private packages.

[2022-06-09 19:50] ljharb commented on #4208
@elranu a company never should, as that leaves them open to a supply chain attack if the public scope is ever compromised. It’s far better to keep private and public packages on a different scope.

[2022-06-09 20:41] lukekarrys commented on #4769
this seems related to #4838 also. i believe the fix will be able to be applied to both

[2022-06-09 21:17] connectdotz commented on #5004
hi, upgraded to 8.12.1, same result

[2022-06-09 21:19] bassner commented on #4998
I always considered this to be a feature of npm. Decide once that you want to force whatever npm complains about; npm acknowledges that and stores the forced / desired state in the lock file. From then on, it just takes what's there. It sounds very strange to me that this is a "bug", and it's very bad that this was basically silently introduced to a lot of CI pipelines that stopped to work because

[2022-06-09 22:47] mofojed commented on #4998
Right - I'm not implying it be used merely for a buggy version. The problem is usage of these versions is incompatible. A package-lock.json file that works/was created in an older version of 8.x does not work when using a newer version of 8.x. Any CI system specifying just v8.x (or Node 16.x, as v16.15.1 updated npm from 8.5.5 to 8.11.0) is at risk of breaking because of this incompatibility (even

[2022-06-09 23:06] chris-addison commented on #4996
This made us lose two days of dev time. Took over a day to narrow the issue down to npm. Changing the alpine image back to 3.15 fixed it for us.

[2022-06-10 00:23] YoussefMAbohaty commented on #4980
Thanx bro this is worked for me

[2022-06-10 00:25] yabohaty commented on #4980
Thanks bro this Solution worked with me : https://github.com/npm/cli/issues/4980#issuecomment-1146163115

[2022-06-10 04:00] benlongo commented on #3711
I think this happens if you change the name in package.json for local deps. Deleting node_modules worked for me :shrug:

[2022-06-10 04:13] ljharb commented on #4998
Every single bugfix risks breaking someone relying on the buggy behavior - treating every bug fix as breaking is untenable.

[2022-06-10 05:41] BalaM314 opened #5006 "[BUG] Ctrl+Cing npm update uninstalls everything"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

(I was using npm 8.3.1 at first, updated to 8.12.1 and issue persisted)
![image](https://user-images.githubusercontent.com/71201189/172996674-47e40513-da26-4543-be50-ffeb04e1d781.png)
I wanted to update a packag

[2022-06-10 05:44] BalaM314 commented on #5006
Also, is there any way to get my packages back? I don't remember everything I had installed.

[2022-06-10 06:10] tussar01 commented on #4989
Thanks

[2022-06-10 07:40] Alex69222 commented on #4859
Thanks! That worked!

[2022-06-10 07:41] kvetis commented on #4998
I consider that an overstatement. My app relies on several packages that are just overly strict when stating their (peer) dependencies - specifically Angular version. They work perfectly fine with newer versions of Angular. I don't have the time to fiddle with all new breaking changes in versions that _on paper_ support newer Angular version (if these versions exists.)

I'm fine with adding a perm

[2022-06-10 07:47] minecrawler opened #5007 "[BUG] Cannot set property 'peer' of null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I can only hit this particular error in a certain directory with a certain package, but I can reproduce it over several npm versions and it's 100% of the time.

There are more examples available in #3711 (the au

[2022-06-10 07:47] Mrlinjiapeng commented on #4954
can someone helps us pls

[2022-06-10 09:27] insich commented on #4992
change version grunt-contrib-requirejs to 1.0.0 and it solve problem for me.

[2022-06-10 10:16] mohammadalijafri commented on #4309
Had this issue just now, also behind a VPN like Mariano. Fixed by simply restarting connection to Wifi

[2022-06-10 10:30] Fredrik2 commented on #4980
test

[2022-06-10 10:33] Fredrik2 commented on #4980
YoussefMAbohaty It doesnt work for me. Do you know a solution?
![Skärmklipp](https://user-images.githubusercontent.com/89846140/173047319-d8e210ff-0414-46a3-be40-81eaa5852653.PNG)

[2022-06-10 10:43] flensrocker commented on #4980
@Fredrik2
Try `Set-ExecutionPolicy`

[2022-06-10 11:28] mofojed commented on #4998
For reference, here was the fix that identified invalid nodes: [bd96ae407](https://github.com/npm/cli/commit/bd96ae4071f9cc8a65e741f414db12e98537971d) https://github.com/npm/cli/pull/4599 fix(arborist): identify and repair invalid nodes in the virtual tree

What was previously "working" with `npm ci` (without the `--legacy-deps` flag) now finds an invalid node and bails out. If you set up package-

[2022-06-10 13:24] solomon234 commented on #4980
This is still an issue, I am unable to deploy node projects on Azure Pipeline. It points to the latest node version which won't work without a workaround.

[2022-06-10 14:04] ljharb commented on #4998
@kvetis only the package author is the arbiter of "overly strict" - if the package declares a peer dep, then it is *not compatible* with anything outside of that range, even if it happens to work.

[2022-06-10 14:07] XhmikosR commented on #4996
Could this be related/the same as #4838?

[2022-06-10 14:43] liamhtml opened #5008 "[BUG] npm install consistently fails only with some packages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm install` fails when attempting to install specific packages with the following errors:
[code]
Curiously, the packages that it fails to install are consistently the same ones. I haven't noticed any patterns

[2022-06-10 14:43] paulius-valiunas commented on #4998
this would be true if npm resolved semver numbers correctly. But for some reason it thinks `1.2.0-rc.1` doesn't satisfy `^1.1.0`.

https://semver.org/#spec-item-9

[2022-06-10 14:46] ljharb commented on #4998
That is correct; ranges aren’t in the semver spec (yet) so there’s no contradiction. Ranges on a non-prerelease don’t include prereleases, never have, and never will.

[2022-06-10 14:47] nhowell commented on #4998
That's simply not the case. At my company we do not use the `--legacy-deps` flag at all (not on `npm install` nor on `npm ci`), but now with npm v8.11.0, we are suddenly seeing our builds failing due to this issue.

[2022-06-10 14:49] Fredrik2 commented on #4980
![image](https://user-images.githubusercontent.com/89846140/173091545-7d5a9a5a-5357-4ca8-aea1-92ea99d18ee6.png)

[2022-06-10 14:57] nhowell commented on #4998
As info, we started seeing intermittent build failures 2 days ago (we use Azure DevOps Pipelines). Looks like Microsoft started updating their build agents to the latest LTS of NodeJS (v16.15.1) around that time. Today, all of our builds were failing.

Changing the build pipeline to specifically use NodeJS 16.15.0 (which comes with npm v8.5.5) fixes this issue for us for now.

[2022-06-10 14:59] flensrocker commented on #4980
@Fredrik2
Take look at https://github.com/npm/cli/issues/4980#issuecomment-1151744258

As Administrator:
[code]
and select 8.12.1.

After that, `npm -v` should execute without a warning.

[2022-06-10 15:01] Fredrik2 commented on #4980
![image](https://user-images.githubusercontent.com/89846140/173094053-7dc997a3-368e-4fb5-8a20-0f7d41435a57.png)

[2022-06-10 15:03] flensrocker commented on #4980
@Fredrik2
Just start `Set-ExecutionPolicy` with the parameters as described, not without.

![grafik](https://user-images.githubusercontent.com/673769/173094641-51be6e21-2e47-4a8c-b3ad-bd98ac3fe342.png)

[2022-06-10 15:05] paulius-valiunas commented on #4998
doesn't say that anywhere in the documentation. The definition is "include everything that does not increment the first non-zero portion of semver". `1.2.0-rc.1` matches that definition. The fact that npm treats `1.1.0 -> 1.2.0-rc.1` as "more breaking" than  `1.1.0 -> 1.2.0` is just flat-out stupid.

source: https://semver.npmjs.com/

[2022-06-10 15:07] AurioPinto commented on #4592
The npm creates the package-lock.json is old. Therefore, when I had this issue as well, I fixed it by updating all the Node dependencies to their latest version in the project:

### npm-check-updates package globally:

- npm install -g npm-check-updates && ncu -u

Ready to run the update:
- npm update && npm install

[2022-06-10 15:08] Fredrik2 commented on #4980
![image](https://user-images.githubusercontent.com/89846140/173095290-66bf0b3e-ed92-4b13-95ec-ec22de4f9879.png)
I apoligies if this is not what you are telling, but im not 100% sure what im doing right now, But I am very thankful for your help

[2022-06-10 15:09] flensrocker commented on #4980
This does not look right. Please try only the `Set-ExecutionPolicy` command with the parameters.
If this succeeds, then try `npm-windows-upgrade` command.

[2022-06-10 15:12] ljharb commented on #4998
@paulius-valiunas it's not that prereleases are breaking, it's that the *entire point* of a prerelease is so that nobody ever tries it out by accident. Including them in ranges would defeat the purpose.

[2022-06-10 15:14] paulius-valiunas commented on #4998
well, that kinda makes sense but I want to explicitly use a pre-release and all my peer-dependencies are then broken. They should not be treated as "latest" when resolving a range dependency, but they should for sure satisfy the condition if installed explicitly.

[2022-06-10 15:15] ljharb commented on #4998
If the authors of the package with a peer dep *want* you to be able to use a prerelease, then can allow for it like `^1.1.0 || ^1.2.0-0`.

[2022-06-10 15:15] ljharb commented on #4998
Separately, this is what overrides are for. Actually-depend on the real version, and use an override for the prerelease.

[2022-06-10 15:16] Fredrik2 commented on #4980
All right, I think I need to wait for my teachers help, I belive if I can talk to him he may understand what you are saying. this is greek for me, im really thankful for your help.

[2022-06-10 15:17] paulius-valiunas commented on #4998
why would they _not_ want me to use a pre-release? Why would they even care? All they care about is that there are no breaking changes in their peer dependencies. A pre-release version is not a breaking change.

[2022-06-10 15:17] mofojed commented on #4998
I think the better fix would be to update your package-lock.json to correct the dependency graph.

[2022-06-10 15:19] mofojed commented on #4998
A pre-release version could be unstable or have a breaking change. Look at the spec: https://semver.org/#spec-item-9

[2022-06-10 15:19] nhowell commented on #4998
The `package-lock.json` _is_ up to date. Yet, `npm ci` still fails due to this issue. From my point of view, `npm` is bugged.

[2022-06-10 15:21] paulius-valiunas commented on #4998
yes, a pre-release version might contain bugs or unintended side effects. But I selected it explicitly, so don't you think I'm willing to take the risk?

[2022-06-10 16:00] mateBe95 commented on #4998
For fix that problem i downgraded npm to v8.5.5 it works with node 16.15.1

[2022-06-10 16:24] mofojed commented on #4998
Does `npm install` not make changes to package-lock.json with the latest (8.11.0)?

[2022-06-10 16:33] nhowell commented on #4998
Funny you asked. I tested that just a few minutes ago and `npm install` does indeed make changes to package-lock.json with the latest (8.11.0).

So, basically, if I commit that change and _also_ ask my entire team to update their machines to the latest version of NodeJS LTS, then it seems like that would "fix" the issue.

But, from my viewpoint, a package-lock.json file that was created with an ea

[2022-06-10 16:46] BalaM314 commented on #5008
I'm not experienced with npm, but I'm fairly certain that the issue is the line starting with script-shell. This is probably telling NPM to use bash as a shell, but bash doesn't exist on windows.
Try removing that line from your .npmrc file.

[2022-06-10 16:58] mofojed commented on #4998
You only need to commit the new package-lock changes. npm >=v8.6.0 fixes an issue with invalid package-locks. 8.5.5 will work with the new (corrected) package-lock generated by the new npm.

[2022-06-10 17:09] nhowell commented on #4998
Hmm.. If the rest of the team does not update to the newest NPM right away and they run `npm install` (or they install or update a package), will it not just revert the `package-lock.json` back to an "invalid" package-lock?

[2022-06-10 17:52] nhowell commented on #4998
To partially answer my own question, I used `nvm` to switch between node/npm versions to test this myself. I used node v16.15.1 and npm v8.11.0 to run `npm install` which modifies the package-lock.json. Then, I downgraded to node v16.13.0 and npm v8.1.0 and ran `npm install` again. It seemed to work fine and didn't revert the package-lock.json back to an "invalid" package-lock.

Haven't tested the

[2022-06-10 20:59] mikedfunk commented on #4992
The problem is that [npm](https://www.npmjs.com/package/grunt-contrib-requirejs) has a tag cached for `grunt-contrib-requirejs` that is an invalid semantic version. [Github](https://github.com/gruntjs/grunt-contrib-requirejs/tags) does not have that tag, it must have been removed. We have an app using an older node and npm version which apparently does strict semver checks on _all_ available versi

[2022-06-10 21:49] bch15 commented on #3374
This steps worked for me:
[code]

[2022-06-10 21:53] zacharyliu commented on #4998
A lot of people are likely encountering this issue due to React 18. Many packages are only declared to be compatible with React <=17, but in many cases React 18 should just work (at least in production builds).

As a workaround: you can add the following to `package.json` to forcibly override the peer dependency:

[code]

This also works for other peer dependencies but I imagine this specific scen

[2022-06-10 21:58] mofojed commented on #4998
@paulius-valiunas If you're willing to take the risk, then you want [overrides](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides).

[2022-06-10 22:01] joergbaier commented on #4998
Using `overrides` seems to be the correct solution / usage

As suggested by @zacharyliu
https://github.com/npm/cli/issues/4998#issuecomment-1152762707

[2022-06-10 22:30] liamhtml commented on #5008
@BalaM314, wow, that fixed the issue. I have no idea how that line got there; I've never touched my `.npmrc` file. Thanks for the help!!

[2022-06-10 22:30] #5008 closed, assigned to nobody

[2022-06-11 03:08] knev commented on #2741
I think I'm currently getting this 503 error on Windows WSL Ubuntu. I tried the ``fetch-retries`` workaround, but it doesn't work. Ubuntu 20.04.4 LTS. npm v8.5.5. node v16.15.0.

[2022-06-11 06:17] ganeshkbhat opened #5009 "[BUG] Redirect Installation of package x when a request for package y installation is made using config in package.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I have two packages `ajs` and `bjs`. Due to some reason I intend to merge both. Right now, I am installing `ajs` with `npm install ajs` and `bjs` with `npm install bjs`. But after the merge I wish to install `bj

[2022-06-11 09:02] avenir2027 commented on #4451
the same error is returned when I use nodejs(v18.3.0) in termux to install minyami,'your cache folder contains root-owned files, due to a bug in',however, it can be installed properly using nodejs-lts(v16.15.0)

[2022-06-11 13:09] limzykenneth commented on #4992
Seems to be happening on my end with `grunt-contrib-yuidoc": "1.0.0"` and there's no reference to `0.4.0rc7` anywhere else in my code or dependency tree. Downgrading to node v14 with npm v6 work for now but that's not ideal.

[2022-06-12 01:18] BobFrankston commented on #4787
This is frustrating because I can look at the log and find out the call stack, but it doesn't help me in fixing the problem. I accept that it's my error, but it would save many hours if there were more information about the source of the error.

In my case, I get ```Cannot read properties of null (reading 'package')```. I'm using symbolic links, so there may be an inconsistency, but how can I find

[2022-06-12 10:55] mhamzas commented on #4907
I am also facing the same issue. Is there any updte?

[2022-06-12 16:41] Sanj4real opened #5010 "[BUG] Got this error, whenever i tired to npm install (ubuntu 18.04)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm ERR! Linux 5.4.0-117-generic
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install"
npm ERR! node v8.10.0
npm ERR! npm  v3.5.2
npm ERR! code EMISSINGARG

npm ERR! typeerror Error: Missing required argument #

[2022-06-12 16:42] chuanqisun commented on #2632
@wraithgar, was this closed by accident? @t1m0thyj 's fix was a workaround in the `zowe-cli` project, not `npm-cli`

[2022-06-12 16:46] hlolli commented on #4290
super annoying, I have a felling it's trying to find file: paths, instead of just ignoring it it crashes like that. This is only happening on linux and not darwin.

[code]

[2022-06-12 17:33] NurulloSalaydinov commented on #4980
Firstly it didn't work at me but in that time i didn't save it 😅🤦‍♂️

[2022-06-13 08:29] DanielRuf commented on #4998
This broke all our setups. Is doing an npx npm@<8.5.0 the best solution? Or should we regenerate the lockfiles?

[2022-06-13 08:37] DanielRuf commented on #4998
I totally agree with this, warnings would have been better for a smoother way. Our current solution is to switch to yarn (which was planned for a longer time) since there we do not have such breaking changes affecting our builds (even in new minor updates). And this is the easiest solution for us since the lockfile is uptodate.

As we need solutions and not a discussion, this was the easiest and m

[2022-06-13 09:02] silentcloud commented on #4787
+1
node 16.15.1
npm 8.11.0

[2022-06-13 09:11] nealeu commented on #5003
Our workaround has worked.
We've removed 2 of the 3 by updating to versions that add to `devDependencies` instead of using `npx` which proves out the parallel issue.

[2022-06-13 10:36] briiipr commented on #2508
I can still confirm the same issue here: 401 Unauthorized error when updating to Node16+ and Npm8+ AND using a custom package feed*.

Works completely fine using Node12 and Npm6.

Just in case it makes a difference, myy setup includes: Azure CI/CD Pipeline with Docker-linux, Angular 13 and .NET 6

[2022-06-13 11:13] soulchild commented on #4996
I just realized we had `securityContext.runAsUser` and `securityContext.runAsGroup` set to an arbitrary user id in our k8s deployment. After changing this to uid/gid `1000`, which is the `node` user that comes with the `node:16-alpine` base image, the problem went away.

[2022-06-13 11:52] t1m0thyj commented on #2632
@chuanqisun It was fixed in npm in https://github.com/npm/bin-links/pull/28 although perhaps there is a regression?

[2022-06-13 12:32] souravsaraf123 commented on #3291
3 months , any update please ?

[2022-06-13 14:18] luxaritas commented on #2846
@nlf Running npm 8.12.1, running `npm install` with an updated `github:` dependency resolved to `git+ssh:` still adds the integrity field when it is not originally present. Is this a bug, or is there some other reason for this?

[2022-06-13 16:15] Leandro-FM commented on #4980
OK! ok!.. UHUHUHUHHUH.. Obrigado!

[2022-06-13 16:25] Especially commented on #4727
Re-opening this as this does not seem to be fixed in 8.12.x

[2022-06-13 16:25] Leandro-FM commented on #4980
[](url)

// Resolvido
PS C:\WINDOWS\system32> 8.12.1
PS C:\WINDOWS\system32> PS C:\WINDOWS\system32>^C
PS C:\WINDOWS\system32> 8.12.1
PS C:\WINDOWS\system32> npm -v
8.12.1
PS C:\WINDOWS\system32>

[2022-06-13 17:21] christophersk commented on #4998
First, thank you to the NPM team for all the great work you do.

This upgrade unexpectedly broke my team's GitHub Actions pipeline this morning. A few thoughts:
- If a command that once worked now fails, it should be treated as a breaking change.
- A quick docs history check shows that documentation for the npm ci --legacy-peer-deps behavior was added on April 1, 2022 in this commit: https://githu

[2022-06-13 19:06] davedoesdev commented on #4028
Same as @monkbroc  - on Node 14 only, npm hangs installing `lodash`.
EDIT: It does come back after about 5 mins.

[2022-06-13 20:06] ashifbabu commented on #4980
Finally works 👍  :) Thanks

[2022-06-13 20:15] ChadDevOps commented on #4954
Also encountering the issue with an invalid operation for using `link` on 8.11.0. Version 8.12.1 seems to have resolved this (at least I'm not seeing any `link` EISDIR or ENOTSUP issues installing packages). However that does not help in upgrading from 8.11.0 to 8.12.1 via command line. If you are using NodeJS 18.3.0 it comes with npm 8.11.0. May need to update npm manually or wait for a new nodej

[2022-06-13 23:05] brandonthomas commented on #5001
We ran into this issue unexpectedly where our lib and lib-commonjs were in our gitignore in a monorepo. Suddently on update, our lib was no longer included in our package. It didn't break lib-commonjs because we defined a `main` field which then caused pack to walk up the tree and include lib-commonjs. To me this behavioral change is so big that it should be breaking. Took us a bit to figure it ou

[2022-06-14 00:32] murtycodes commented on #624
This worked for me:  `RUN apk add --no-cache git`

https://stackoverflow.com/a/63033749/6884069

[2022-06-14 04:03] belief-cyf opened #5015 "npm install nexus binary auth failed 401"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

1、npm config set sass_binary_site https://privat-nexus-demo/repository/raw-group
2、For safety reasons ，nexus Anonymous access is not allowed
3、npm install
4、> node-sass@7.0.1 install /home/jenkins/agent/workspac

[2022-06-14 04:07] belief-cyf commented on #5015
Other NPM packages can be downloaded normally，The same nexus。

[2022-06-14 06:44] belief-cyf commented on #5015
When I use：
npm info using npm@8.3.0
--
npm info using node@v17.3.1

error log：
[code]

[2022-06-14 09:04] xpol commented on #4028
Met the same problem, when build with bamboo behind proxy. It sometimes can success, but sometimes need retry.
But even for the success cases, it is take 7 minutes, far slower than npm 6 (only 2 minutes).

[2022-06-14 10:31] adityag221 opened #5016 "[BUG] npm prefix giving wrong output"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`npm prefix` return the right local prefix for a monorepo with workspace for `npm <= 8.4.1`, however it returns the wrong local prefix for `npm@8.5.1` and above.

So, the current behavior for a package(`npmDemo`

[2022-06-14 13:13] FlorianSW commented on #4652
We're seeing a similar issue happening in our environment, as well, and from the symptoms I assume this is the same issue as described here. Some more context, as it may help to investigate:
- we used node 14 with npm 6.x so far in this environment without seeing any connection resets so far.
- we use a http proxy to connect to https://registry.npmjs.org (using HTTP CONNECT), set by the `https_pro

[2022-06-14 14:22] paulius-valiunas commented on #4998
So now I need to define my dependencies twice, that's just great. If you're working with an actual major version bump that's understandable, but testing a pre-release version before it's declared mature should be viewed as a common use case and not require any workarounds.

Either way, this _is_ a breaking change as you can see from the amount of people with broken pipelines in this thread. IMHO t

[2022-06-14 14:23] bjorn-stange-expel opened #5017 "[BUG] Invalid semver in package history causes crash when installing a package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Installing a package with an invalid semver in its version history causes npm to crash. I wasn't sure if this was a bug with https://github.com/npm/metavuln-calculator or here (or somewhere else), but I thought

[2022-06-14 14:28] greenhandzdl commented on #4954
But in fact, not adding -g will also prompt this kind of error

[2022-06-14 14:46] shayneczyzewski opened #5018 "[BUG] npm v8.11.0 not seeing locally installed package when running versioned command"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

With a clean npm/npx environment and the corresponding package installed locally in node_modules, when running a versioned `npm exec`/`npx` command, like: `npm exec prisma@3.9.1`, v8.5.5 finds it in the project

[2022-06-14 17:23] greenhandzdl commented on #4954
Strange, when I did not operate any operations of NPM, it could work normally (the only one may be that I got the system again)

[2022-06-14 17:23] #4954 closed, assigned to nobody

[2022-06-14 17:35] andrew-gomez-sfdc commented on #4998
I just want to chime in here and say that this broke `npm version` for us when upgrading to npm version 8.6.0.

I don't see any documentation for [npm version](https://docs.npmjs.com/cli/v8/commands/npm-version) suggesting that `--legacy-peer-deps` is even a supported flag

[2022-06-14 18:49] huajie2020 opened #5019 "cli"
https://github.com/actions/starter-workflows/blob/main/ci/android.yml#L1-L26

[2022-06-14 19:14] aichingm commented on #3581
@nlf I still can reproduce this with

[code]

Do we need a new issue for this? There is already so much information in this issue which would just be duplicated.

[2022-06-14 22:16] AverageHelper commented on #4907
I got this error just now when running `npm audit fix --legacy-peer-deps`. I haven't yet narrowed down which new dependency is triggering this issue.

EDIT: I tried installing some of the recommended dependencies to no avail. The error did not return when I ran `npm audit fix --legacy-peer-deps --dry-run`. However, deleting package-lock.json and running `npm i` caused the issue magically to go awa

[2022-06-15 00:10] Alzy commented on #4028
I can confirm that this is still happening. I have been struggling with deploying a project to AWS Elastic Beanstalk using a library hosted in a private repo on bitbucket and it hangs the entire build step causing the environment to fail into a health level of "No data". Running the "`top` command I can see two instances of npm install running for some reason. I tried changing the package.json fil

[2022-06-15 00:38] lmmfranco commented on #1673
@xiata Thank you so much for the workaround!

[2022-06-15 07:51] bhagavs opened #5020 "Unable to connect to internet for npm installation from application (from VSCode)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I am installing the npm packages using npm install from VS Code for my project solution. I am setting up the solution in a VM running in private network. Therefore, I need to set proxies for the same using npm c

[2022-06-15 08:55] alesmenzel opened #5021 "[BUG] SIGINT called twice"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`SIGINT` is called twice, immediately terminating the process, causing any cleanup code that runs on SIGINT unable to run without hacking around and handling npm double fire or running the process outside of `np

[2022-06-15 09:44] jackyking-cn opened #5022 "[BUG] run "npm init @scope@latest" error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

$ npm init @scope@latest
npm ERR! code EINVALIDPACKAGENAME
npm ERR! Invalid package name "@scope" of package "@scope@0.0.6/create": name can only contain URL-friendly characters.

### Expected Behavior

fetches

[2022-06-15 10:06] sunilsurana commented on #5016
Facing same issue. Lot of our workflows break with this version

[2022-06-15 10:15] zeus-sougata commented on #5016
Facing the same issue.

[2022-06-15 10:26] abhijeet-toptal commented on #5016
bumping the thread!

[2022-06-15 10:27] abahuja commented on #5016
bumping the thread!

[2022-06-15 10:45] tschoartschi commented on #5017
@bjorn-stange-expel we have the exact same problem 🤔 did you find a workaround without adding `--no-audit`? Is it possible to pin `yui` to some version that is not affected by this problem?

The real problem for us is, that some sub-dependency of a sub-dependency (you know heaviest objects in the universe -> node_modules 😉) is pulling in `yui` and this breaks our whole build...

[2022-06-15 10:50] bourdeaudhui commented on #5017
Same for me starting with a package sub-dependency `gulp-yuidoc@0.1.2` ending to `yui` through other sub-dependencies...

Log:
[code]

node v16.15.0
npm v8.5.5

[2022-06-15 11:16] FlorianSW commented on #4652
We further investigated the issue. In our case, when using a downstream proxy which supports https for the connection from npm to the first proxy, we don't see this issue happening, anymore. We used mitmproxy (mitmdump) which results in the following network chain:
`npm -> mitmdump(https) -> upstream proxy(https) -> npmjs.org(https)`

Running `npm ci` without any changed settings resulted in a suc

[2022-06-15 12:33] conallprendergast commented on #1599
@hugopedro Did you ever find out what was causing this issue?

[2022-06-15 13:43] mmiretsky commented on #4028
@nlf - you had asked for some more information about this issue and you received it. What is the next step?

[2022-06-15 13:44] wmurphyrd commented on #4998
I have a project that I'm fairly certain we never used `--legacy-peer-deps`. Our package.json/package-lock.json produced a successful install in npm 7 - 8.5, but started failing with node 15.16.1/ npm 8.11.

The conflicts npm 8.11 is identifying are actual conflicts that need resolving, so I'm assuming something was fixed so that it catches peer dependency conflicts that it previously missed

[2022-06-15 13:49] bjorn-stange-expel commented on #5017
That's how we're pulling in `yui` as well, dependency of a dependency of a dependency. We decided to just remove the parent package for now to fix the build. I don't believe it matters which version of `yui` you use, with the latest npm they will all fail to install, if my understanding of this bug is correct. That's also why I opened this issue, to confirm my understanding. I might very well be w

[2022-06-15 14:20] marijoo commented on #4998
Same here.

[2022-06-15 17:27] TimDaub opened #5024 "Getting weird superfluous log for every invocation of `npm ...`: `config:load:flatten`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

every call that I make with `npm ...` e.g. calling a script `npm run connect`, there is this weird looking log that makes no sense in this context:

[code]

E.g. I have `npm run connect` setup where it connects

[2022-06-15 19:26] 200-4 opened #5025 "Each time i try to create a react app i get this bug report "npm ERR! Your cache folder contains root-owned files, due to a bug in npm ERR! previous versions of npm which has since been addressed. npm ERR! npm ERR! To permanently fix this problem, please run: npm ERR! sudo chown -R 10185:10185 "/data/data/com.termux/files/home/.npm" npm ERR! A complete log of this run can be found in: npm ERR! /data/data/com.termux/files/home/.npm/_logs/2022-06-15T19_15_41_374Z-debug-0.log Aborting installation. npm install --no-audit --save --save-exact --loglevel error react react-dom react-scripts cra-template has failed." How can i solve this?"

[2022-06-15 19:34] wraithgar opened #5026 "Release Manager: v8.12.2 (2022-06-15)"
**Target Version**: v8.12.2
**Target Date**: 2022-06-15
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-06-15 19:58] neilstuartcraig commented on #4769
Hoping this might help someone:
I hit this bug on Google Cloud Build and it caused my builds to fail on the first step which used `npm` - the only error output was from Build itself with just said the return code wass 243.

I am using the standard Node Docker images (https://hub.docker.com/_/node/) with security config as per https://snyk.io/blog/10-best-practices-to-containerize-nodejs-web-applic

[2022-06-15 20:16] #5026 closed, assigned to wraithgar

[2022-06-15 20:45] giacomogagliano commented on #3711
I have the same issue, I was using `npm 8.5.5`.

1. I upgraded to `npm 8.12.1` and I still get the same error.
2. I tried on a new project with a workspace and it works.

I was importing a package folder this way: `{... workspace:["<package_folder>/**/*"]`, instead:

3. i tried importing each an every single folder that there is in the `<package_folder>` and it works fine.
4. I tried this as path

[2022-06-15 21:48] swenson commented on #4660
We ran into this as well in GitHub Actions for Node 16.14.2, but reverting to 16.14.0 fixed it.

[2022-06-16 02:08] AlexZajork commented on #3472
Same issue.
node.js -16.15.1
npm -  8.11.0
ubuntu - 22.04

[2022-06-16 07:51] TimDaub commented on #5024
After using `n` to switch between node versions, e.g. `n v14`, I found that with other versions of npm this problem isn't occurring e.g.
[code]

[2022-06-16 10:14] daniel-alonso-sanchez opened #5032 "[BUG] ENOTDIR error on npm install (npm 3 over node 4. I know: legacy. Sorry :( )"
Hi! First of all, my apologies for reporting a problem of npm3 here, but it looks like the old repo is currently in read only mode.

We have a big and old angularjs frontend app, that requires node4 and uses npm3. A couple of days ago, a problem raised when someone performed a npm install.

error
[code]

package.json
[code]
npm-debug
[code]

I cannot upgrade to newer npm versions, because of the a

[2022-06-16 11:35] Junior-22 commented on #3606
Hi, I have just encountered a very similar problem

**Environment**
- Edition:	Windows 10 Home
- Version:	21H1
- OS build: 19043.1706
- Experience: Windows Feature Experience Pack 120.2212.4170.0

- Node: 16.14.2
- npm: 8.12.2
- Parcel: 2.0.0-rc.0
- @parcel/transformer-sass: 2.0.0-rc.0

</body>
</html>

I get this error message from my console "Error: Expected constructor 2.0.0-rc.0:BundleGraph to

[2022-06-16 12:12] dec-land commented on #2660
:/

[2022-06-16 12:17] melnikovdv commented on #4652
Had the same problem with npm install in docker lst-alpine (3.16). Btw in osX everything was ok.

Using `--maxsockets 1` worked on the first try.

npm 8.11.0
node v16.15.1

[2022-06-16 14:10] ljharb commented on #5032
Both node 4 and npm 3 are many years out of date, so if you can't upgrade, you're likely to remain broken - nobody's going to fix anything that old.

[2022-06-16 14:37] daniel-alonso-sanchez commented on #5032
Wow, but... It's funny, because this got broken this week after years of being working...

Same problem here from another guy

https://stackoverflow.com/questions/72631551/npm-install-in-docker-container-not-working/72646293?noredirect=1#comment128325278_72646293

Thank you so much for your response

[2022-06-16 14:40] daniel-alonso-sanchez commented on #5032
And is there any way to debug the npm source code in order to get an idea about what is happening?

Thanks again!

[2022-06-16 15:08] JC3 commented on #2741
@nlf Wait, what's the workaround?

It hangs for me too (same log stuff as above) but eventually gets the job done after about a minute (npm 8.6.0, windows).

[2022-06-16 15:09] JC3 commented on #2741
@nVitius  Do you have a link to the issue you made?

[2022-06-16 15:20] JC3 commented on #2741
@nlf Wouldn't another fix be to not try and fetch the tarball and instead try the URL that the user actually specified as the first attempt? If I want the tarball I can specify its URL...

[2022-06-16 15:31] nlf commented on #5016
this is not a bug, it's the automatic workspace detection feature in action. if you run an npm command from within a workspace directory, we automatically correct the prefix to be the root project and we set the default workspace configuration to the workspace you're in the directory of. following your example, running `npm prefix` from within `package-a` gives the same behavior as running `npm pr

[2022-06-16 15:31] #5016 closed, assigned to nobody

[2022-06-16 15:35] #5019 closed

[2022-06-16 16:32] minecrawler commented on #3711
@giacomogagliano  I opened a new bug report, since the author of this one refuses to re-open. You can write down your request over there: #5007

[2022-06-16 19:15] cmawhorter commented on #3208
edit:

my issue turned out to be #4896 -- which is a dep using the no-longer-supported git:// -- and there is a fix for that [here](https://github.com/npm/cli/issues/4896#issuecomment-1127023942).  after doing that it is back to normal.

<details>
<summary>original post:</summary>
this issue sounds the same, but i'm not certain because i'm seeing it with npm@6.  once i updated to using node v14 in

[2022-06-16 21:34] harveysanders commented on #5032
Man I just got a similar error trying to upgrade a Meteor project. Meteor bundles node/npm so I can't directly update node. I'll see if I can find any more detail tomorrow.
[code]

[2022-06-17 02:18] IMDanijel commented on #4980
**This worked for me,
Run CMD as Administrator:

C:/WINDOWS/system32>npm-windows-upgrade --npm-version latest
npm-windows-upgrade v6.0.1
Checked system for npm installation:
According to PowerShell: C:\Program Files\nodejs
According to npm:   C:\Users\Admin\AppData\Roaming\npm
Decided that npm is installed in C:\Program Files\nodejs
Upgrading npm.../

Upgrading npm (fallback method)... |

Upgrade

[2022-06-17 08:21] Shramkoweb commented on #4942
Have save problem

[2022-06-17 10:42] arusubramanian opened #5037 "[BUG] engine strict is not working with npm version 8.11.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

"engines": {
    "npm": "~8.5",
    "node": "~16"
  },

Engine strict is not working in the latest npm version 8.11.0. It is working in 8.5.1 version.

If I run npm install or npm ci, it is not complaining about

[2022-06-17 10:45] tschoartschi commented on #5017
@bjorn-stange-expel I installed the package [npm-why](https://github.com/amio/npm-why) to understand where `yui` is coming from. Of course I needed to run `npm i` with `--no-audit` to get a `package-lock.json` but then it gives me the following output:

[code]
At least I know now which package it is and I reported this problem to them as well. Maybe they can remove or switch the package somehow. L

[2022-06-17 13:09] ljharb commented on #5037
The engines field is advisory, it is not supposed to fail.

You can add enginesStrict: true to package.json, but i don’t recommend it.

[2022-06-17 13:37] limzykenneth commented on #4992
I've tracked down the problem to [this chunk](https://github.com/npm/cli/commit/e5ce6bbbad82b85c8e74a4558503513e4f337476#diff-64a92c5a4275abf8d65402311c5f055db65561bf3e92bfb7f7fe97492de323e6R151-R186) and reverting it seems to address the immediate problem. I don't know enough about what happens under the scene here to say what the fix proper could be.

[2022-06-17 14:04] bjorn-stange-expel commented on #5017
You can also run `npm ls yui` which shows you the dependency tree of that package, and it's built in!

[2022-06-17 14:34] ljharb commented on #5017
`npm explain yui` is what you’re looking for.

[2022-06-17 16:49] phil-lgr commented on #4998
I am just coming back to `npm` after 3 years on `yarn` v1 and this issue broke our CI today, we have a large mono repo that we install without `--legacy-peer-deps`, and the `npm ci` commands fails

only way to fix it was to run `npm i --legacy-peer-deps` and then `npm ci --legacy-peer-deps` in our CI

[2022-06-17 17:33] engelmav commented on #4232
Why is this closed? There is no definitive answer.

[2022-06-17 21:40] Thomas-1985 commented on #3472
I tried what [nickeeromo](https://github.com/nickeeromo) proposed, but even after downgrading to npm v.7.24 i have the same problem

[2022-06-17 22:55] NathanPepperoni opened #5038 "[BUG] <package.json scripts do not create expected sub-shells>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When using subshells in scripts to prevent working directory changes, it behaves as though no subshell exists and persists the shell current working directory changes. This appears like it might be a windows spe

[2022-06-18 00:02] pitAlex opened #5039 "npm install not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

npm install is not creating node_modules, not creating package-lock.json, not downloading anything it simply does some checks and then finishes as if everything is fine.

### Expected Behavior

should install th

[2022-06-18 00:11] cantremember commented on #5032
we are also experiencing the same problem ... suddenly

upon inspection, a `node_modules/.staging` is being created, and populated, with the proper files.  however, maybe it just "looks right" after the fact.  the (ancient) [Many ENOENT / ENOTEMPTY errors in output](https://docs.npmjs.com/common-errors#many-enoent--enotempty-errors-in-output) says

so maybe a file is missing at the time it is read

[2022-06-18 01:59] zinkem commented on #5024
I'm having the same issue after updating node yesterday.

npm `8.3.1` does not do this, `8.12.1` does

[2022-06-18 02:19] Dapo-Obembe commented on #3472
Apparently, there is no solution to the problem.

[2022-06-18 09:17] lars-reimann commented on #5039
I have the same issue since yesterday evening.

### Environment

- **npm** (tried multiple): 8.5.0, 8.11.0 and 8.12.2
- **Node.js** (tried multiple): v16.14.2, v16.15.1
- **OS Name**: Windows 11
- **System Model Name**: Dell XPS 15

### Other observations

The first time I run `npm i` on a project, npm outputs `added 1 package, and audited 3 packages in 420ms` and puts the local project into `C:\U

[2022-06-18 10:39] lars-reimann commented on #5039
I fixed it: When working around https://github.com/npm/cli/issues/4989 I somehow manage to write the following into `C:\Users\Lars\.npmrc`:

[code]

The `global=true` caused the behavior I described above. Changing this file back to the following fixed the issue:

[code]

[2022-06-18 16:58] chuanqisun commented on #2632
@t1m0thyj, I can repro the issue in npm `8.0.0`, node `16.11.0`. I'm using workspace to manage multiple packages in a monorrepo, and it actually works when I `npm install` in the inner package, but fails when I `npm install` in the root package.

UPDATE

Updating to latest node and npm fixed my problem! I didn't know how I have missed that step.

[2022-06-18 20:41] sakkukasetty opened #5040 "npm install is failing with error "Exit handler never called!""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

In  CI/CD npm install is failing with error
![image](https://user-images.githubusercontent.com/52789643/174551554-40c87569-20d6-40b6-b3e3-e69bb4d997df.png)
 reproduced same in my local machine

i tried the follo

[2022-06-19 16:33] LookRain opened #5041 "[DOCS] npmjs.com styling issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

Hi I could not find a place to report bugs for the npmjs.com website so here's that.

- Text are not properly wrapped on https://www.npmjs.com/package/sm2
![image](https://user-images.g

[2022-06-19 21:09] btmills commented on #4895
I believe I have a repro of this in a public repository, [eslint/eslint-plugin-markdown](https://github.com/eslint/eslint-plugin-markdown/), that demonstrates a behavior change from npm 8.9 to 8.10. With [`npm<=8.9.0`, CI installs successfully](https://github.com/eslint/eslint-plugin-markdown/runs/6957511737?check_suite_focus=true), but in [`npm>=8.10.0`, the install step gets killed after several

[2022-06-20 02:51] aladdin-add commented on #3810
@wraithgar can you please look at this? 🙏

[2022-06-20 06:27] daniel-alonso-sanchez commented on #5032
Hi folks! I found the problem!

It is related with the library generator-jhipster (or any of its dependencies)

We don't use it anymore, so i got rid of it and everything works again!

Thanks everybody!

[2022-06-20 06:27] #5032 closed, assigned to nobody

[2022-06-20 12:14] pieterwillaert commented on #5032
I've experienced the same issue, but here it was because of @azure/storage-file-datalake
Updating the dependency fixed the issue

[2022-06-20 12:46] mohd-akram commented on #4998
Isn't like the entire point of `npm ci` to be deterministic behavior that does *exactly* what's in package-lock? You don't change the documentation to justify a behavior change and then call it a "bugfix".

[2022-06-20 12:58] nhowell commented on #4998
Completely, 100% agree! `npm ci` shouldn't care if the `package-lock.json` is kind of "invalid". It was working before, so at _most_ this "bugfix" should have been a warning. It is entirely unacceptable to break a bunch of people's `npm ci` and call it a "bugfix". If NPM doesn't want to support the "invalid" package locks in future versions, then make the breaking change in a major version bump, f

[2022-06-20 13:00] luca-moveshelf commented on #4998
Care to start a PR? :nerd_face:

[2022-06-20 14:37] stagefright5 opened #5045 "[BUG] `npm i` fails for a package that exists in uplink, but, does not exist in private registry"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

We have private registry.
Our private registry has these 2 endpoints:

1. GET `/package/:artefactName/:version`: This returns the metadata. If the package is not in the private repo, It queries the `https://regi

[2022-06-20 14:40] wraithgar commented on #4126
This was changed in `npm@7.0.8`  as "[Support publishing any kind of spec, not just directories](https://github.com/npm/cli/pull/2115)"

This allows folks to publish any spec, for instance a tagged git reference: `npm publish npm/some-package#v1.2.3`.  This brings `npm publish` in line with other commands (such as `npm install` or `npm pack`).

The docs will need to be updated to reflect this.  If

[2022-06-20 14:43] syamanashi commented on #4998
For anyone stumbling into this thread looking for clear instructions for a work-around to repair your failed Github Actions build for an Angular project ASAP, this worked for me:

1. Add a new file to the root of your project named `.npmrc`
2. Add this single line to this file and save it: `legacy-peer-deps=true`
3. Run install command (this step is optional but useful to ensure nothing goes haywi

[2022-06-20 14:53] faveoled commented on #2306
I had the same problem that seemed to be related to rxjs but completed successfully after a long wait:
![image](https://user-images.githubusercontent.com/85760289/174628882-aaf04aaf-1532-4c94-9c5b-2c71aa8bf3ce.png)

[2022-06-20 15:32] ObieMunoz commented on #4998
Rebuilding the package-lock using the updated versions of node and npm resolved the issue (for us).

[2022-06-20 17:45] dnicolson opened #5046 "[BUG] `npm audit fix --force` alternates between downgrading and upgrading packages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Running `npm audit fix --force` results in the `react-scripts` version being changed from 5.0.1 to 2.1.3. Running the command again will alternate between version 2.1.3 and 5.0.1.

https://github.com/npm/cli/iss

[2022-06-20 20:16] tomerb commented on #5046
I'm seeing the same issue.
- Fedora 36
- npm 8.2.0
- node.js 16.14.0

[2022-06-20 20:38] tomerb commented on #5046
It looks like this is what causing the issue (note the `Will install react-scripts@2.1.3, which is a breaking change`):
[code]
So it looks like `react-scripts v5.0.1` has a dependency on `@svgr/webpack": "^5.5.0`, which needs an update, which is tracked here: https://github.com/facebook/create-react-app/issues/12132

[2022-06-20 21:23] tomerb commented on #5046
Following up on the issue I mentioned before, it looks like the fix/workaround for this issue is to move `react-scripts` to the `devDependencies` section, the run `npm audit --production`.
See more info here: https://github.com/facebook/create-react-app/issues/11174

[2022-06-21 02:32] rcrimp commented on #1368
I stumbled upon this issue while looking for documentation on `--prefix`

I have a genuine use case for using `--prefix`

I am setting up a dev environment for education. Students do not have root privilege for security reasons. The student's home directories are mounted over a network, and because of that, `npm install x` always fails. We suspect it's the same root issue as [this](https://stackov

[2022-06-21 04:10] ljharb commented on #1368
@rcrimp an easier solution is to install node in each user's home directory, avoiding the need for escalated privileges (which is what https://nvm.sh does by default).

[2022-06-21 07:08] rcrimp commented on #1368
@ljharb thanks for the link to nvm, ill check it out.

We have installed node (and npm) globally. But our issue is when `npm install` saves tmp files in ~/.npm/ where ~ is on a network mounted file share.

(I'll make a separate issue if/when i have more details about reproducibility)

[2022-06-21 07:29] mykola-mokhnach opened #5047 "[BUG] Cannot read properties of null (reading 'parent')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

After switching the package to use peer dependencies NPM started showing weird errors in the console:

[code]

The original CI job URL: https://dev.azure.com/AppiumCI/Appium%20CI/_build/results?buildId=22042&vie

[2022-06-21 08:27] mashirozx commented on #5021
Same issue here, with `npx ts-node`

<img width="437" alt="image" src="https://user-images.githubusercontent.com/16148054/174753687-e90dd4a7-3482-445b-b641-d94363e42ab4.png">

[2022-06-21 08:30] mykola-mokhnach commented on #5047
Most likely the exception happens in https://github.com/npm/arborist/blob/main/lib/arborist/load-virtual.js#L228-L236
Thanks @jlipps for investigating it

[2022-06-21 08:46] RSM-SBA commented on #5047
here a log from npm

`84 timing reifyNode:node_modules/appium-xcuitest-driver/node_modules/appium-xcuitest-driver Completed in 2ms
85 timing arborist:ctor Completed in 0ms
86 timing reify:rollback:createSparse Completed in 224ms
87 timing reify:rollback:retireShallow Completed in 0ms
88 timing command:install Completed in 5580ms
89 verbose stack TypeError: Cannot read properties of null (reading '

[2022-06-21 10:19] cupidchan commented on #4323
Is there any timeline for this issue? It's pretty confusing to see so many irrelevant errors/warnings.

[2022-06-21 13:04] ljharb commented on #1368
Why wouldn’t every user have full permissions on their own home dir?

[2022-06-21 14:53] s3nPy commented on #2017
@Piliponful Because after `npm install --only=prod`  i run `npm ci --only=prod` and get:

`Error: cipm can only install packages when your package.json and package-lock.json or npm-shrinkwrap.json are in sync. Please update your lock file with `npm install` before continuing.`

Log also with some missing packages errors that are clearly not in package-lock.json.

[2022-06-21 15:57] wyckster commented on #2339
@nlf Can you help me figure out how to take advantage of this fix, please?  See [my failed attempt to demonstrate that the issue is fixed from May 4, 2022](https://github.com/npm/cli/issues/2339#issuecomment-1117534188) and [my repro of the problem from Aug 24, 2021](https://github.com/npm/cli/issues/2339#issuecomment-904748108)

[2022-06-21 16:00] gthb commented on #5007
Specific steps to reproduce:
[code]
... then edit `package.json` to insert this:
[code]
... then:
[code]

The second (and any subsequent) `npm i` execution fails as shown above. Specifically, the `unsetFlag` node visitor encounters this node which has `target: null`:
[code]

There seems to be a lot going wrong there :-) ... (not all of it necessarily relevant to this bug, but some of it for sure):

[2022-06-21 18:38] #3067 closed, assigned to nlf

[2022-06-21 18:38] #3337 closed, assigned to nobody

[2022-06-21 18:38] #3600 closed, assigned to nobody

[2022-06-21 18:38] #3680 closed, assigned to nobody

[2022-06-21 18:38] #4873 closed, assigned to nlf

[2022-06-21 18:38] #4968 closed, assigned to nobody

[2022-06-21 18:38] #5004 closed, assigned to nlf

[2022-06-21 19:09] kalinkrustev commented on #4513
Maybe it is related to this comment:
https://github.com/npm/cli/blob/f2340f816f5a137038945229bf8a0d30160e76e8/node_modules/pacote/lib/registry.js#L131

Looks like a todo, which did not happen...

[2022-06-21 19:52] dnicolson commented on #5046
@tomerb thanks for your workaround but I think the underlying issue needs to be ultimately fixed.

It doesn't seem like it should be possible via `npm audit fix --force` to downgrade a [main dependency to a three-year-old version with actual real vulnerabilities](https://overreacted.io/npm-audit-broken-by-design/) or how versions can be seemingly infinitely upgraded/downgraded with identical comma

[2022-06-21 21:59] wraithgar commented on #4846
After doing some more research I think this is fine as-is. If you don't include a workspace in `npm ci` it will not be linked into your `node_modules` so whatever is left in that workspace's `node_modules` is irrelevant.  If you want a clean install of *that* workspace you can then include it in the workspace flags for `npm ci.

[2022-06-21 21:59] #4846 closed, assigned to wraithgar

[2022-06-21 22:48] fritzy opened #5050 "Release Manager: v8.13.0 (2022-06-22)"
**Target Version**: v8.13.0
**Target Date**: 2022-06-22
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-06-21 23:44] everett1992 opened #5051 "[BUG] npm 8 allows incorrect peer dependencies when upgrading a v1 lockfile to v2."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When npm 8 installs from a v1 lockfile it does not error on incorrect peer dependencies. It doesn't print any peer dependency warnings and exits successfully.

### Expected Behavior

I expect npm 8 to error on i

[2022-06-22 00:43] gthb commented on #5007
The `package-lock.json` file contains:
[code]
and if I manually change that `"resolved"` attribute to replace `node_modules/` with `../`:
[code]
then the next `npm i` invocation completes without (reported errors):
[code]
... but it changes the `package-lock.json` back, undoing my manual change, so if I run `npm i` again, it fails like before.

[2022-06-22 00:52] everett1992 commented on #5051
I think this block needs to be repeated (or delayed) till after the lockfile is inflated. There is no edge from ts-node to typescript when we first check for invalid edges in _initTree.

https://github.com/npm/cli/blob/latest/workspaces/arborist/lib/arborist/build-ideal-tree.js#L361-L375
https://github.com/npm/cli/blob/latest/workspaces/arborist/lib/arborist/build-ideal-tree.js#L803

[2022-06-22 00:55] jclab-joseph commented on #4239
`endLocal & goto #_undefined_# 2>NUL || `
This is also a big problem.

If start with setlocal in the parent bat file and then `cd(change directory)`.
js file reports invalid `process.cwd()` .

=> https://github.com/npm/cmd-shim/issues/69

[2022-06-22 06:42] gemwuu opened #5052 "[BUG] npm i pkg@tag should save tag into package.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Running `$ npm i lodash.has@latest` will save `lodash.has@^4.5.2` into package.json.

### Expected Behavior

Save `lodash.has@latest` into package.json.

### Steps To Reproduce

1. `npm i lodash.has@latest`;
2.

[2022-06-22 06:54] cyrusae opened #5053 "[BUG] npm audit fix fails to update packages, but stops reporting vulnerabilities anyway"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

This appears to be somewhere in the neighborhood of #3472 + #4318, but there are enough complicating factors that I felt commenting would be derailing. As such I have included the entire series of cascading bugs

[2022-06-22 10:04] Blackclaws opened #5054 "[BUG] No way to escape a ${} variable on the npm or npx command line"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

The issue is also documented in this issue on semantic release: https://github.com/semantic-release/semantic-release/issues/2030

Basically trying to pass any combination of '${XYZ}' as an argument to a program

[2022-06-22 10:12] lorenzogrv commented on #2546
Avoiding install of unnecesary packages:

[code]

[2022-06-22 11:02] snebjorn commented on #4998
What is the point of using the `legacy-peer-deps` flag when it have to be applied everywhere all the time? Doesn't that make it redundant?
Sure in the ideal world packages would always have updated peer dependency ranges. But in the real world packages use ranges like `peerA@">=16.0.0 <18.0.0"` and then `peerA@18` is released and it works. But the author of the package is on hiatus so a new versio

[2022-06-22 11:57] AlanSl commented on #5001
We had the exact same issue as @brandonthomas - on bundles released with NPM >= 8.11.0 the ESM build but not the CJS build was unexpectedly excluded from the bundle.

It's a particularly nasty breaking change because, depending which NPM version consumers of our package are using, they might hit build errors, or (worse) they might not notice any change at first but encounter hard-to-spot bugs (e.g

[2022-06-22 12:17] moroine opened #5055 "[BUG] Invalid peer dependency resolution - unable to resolve dependency tree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Fails to resolve `peerDependencies` when different packages are trying to request the following versions:
- `>=16.8.0`
- `^16.3.0 || ^17.0.2`

I have a package with the following shape:

[code]

[code]

### Expe

[2022-06-22 12:21] kgpyi commented on #1946
Can someone tell me difference between npm unlink and npm unlink -g
npm unlink -g is working for me, but the tutorial I am following uses npm unlink

[2022-06-22 13:58] ghassemiN commented on #3636
it's ignore also in "npm audit –audit-level=critical"

[2022-06-22 14:02] ljharb commented on #5001
No, it shouldn’t, because the “module” key is not a standard thing - it’s just something a few bundlers invented.

[2022-06-22 14:22] baslr opened #5056 "[BUG] npm ci --cache .npm --prefer-offline --verbose fails with WARN tar zlib: incorrect data check"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]
fails with
[code]
See attached files for full log output.

### Expected Behavior

[code]

### Steps To Reproduce

Install npm packages and wait for the error?

Is this maybe a CDN issue?
How to find the r

[2022-06-22 14:55] ouzkhanmete commented on #4998
Same here, suddenly all the pipelines with Node 16 in it started to throw errors. If we are forced to put the `--legacy-peer-deps` in `.npmrc` for every service with Node 16+ - what is the point in this flag at all? Why there are no big announcements on that? Why it was bumped in minor version, not major?

My vote is to revert this change as it ruins peoples' time with no reason.

[2022-06-22 15:30] pete55104 commented on #4828
I am also having this issue.  I'm trying to run tests using jest with swc.  The test runner is a linux image, but my dev machine is darwin.  I can get it to work by either using --force to install the linux dependency, or I can install packages from inside the container... but github CI stands up the docker container in such a way that I can't easily install packages from in there, and that also p

[2022-06-22 15:42] ljharb commented on #5052
You never want “latest” in package.json; that would break when a major version is published.

[2022-06-22 15:53] BlueSeph28 opened #5057 "[BUG] There is no way to get users email in my organization"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When I use
[code]

I only get a users list, for managing users in my organization is not useful only the username.

### Expected Behavior

Email must be provided if I'm the manager of the organization or the tea

[2022-06-22 16:05] ObieMunoz commented on #4998
Did you update your versions locally and rebuild your package-lock file?

[2022-06-22 20:20] jdforsythe opened #5058 "[BUG] You cannot publish over previously published.. but this version has never been published"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Our GitHub Action we use to publish dozens of private modules failed today with:

[code]

Except we have never published a 1.0.0 of this package, according to:
- GitHub Releases (tags trigger the action to publi

[2022-06-22 20:52] #4964 closed, assigned to nobody

[2022-06-22 22:05] lesliesu commented on #4787
+1
node 16.13.2
npm 8.1.2

[2022-06-22 23:43] Potatopy commented on #3472
The only thing I tried was temporarily un-installing the package giving me the most problems

[2022-06-23 00:58] nhowell commented on #4998
This is exactly what people should _not_ have to do. Their existing package-lock.json file should continue to work. Any requirement otherwise is a breaking change to `npm ci` and should be reverted.

[2022-06-23 01:56] killagu commented on #5052
The `latest` tag is not a good case. `latest-x` or `conch`(which is antd stable version) is better.

[2022-06-23 01:59] killagu commented on #5052
The intent is important, for now we have to use npm install the pack and manually modify the package.json.

[2022-06-23 02:01] killagu commented on #5052
`npm i lodash.has@^4.5.2` is unnecessary. If the input is `npm i lodash.has`, npm will use the latest version, and save it. It works good.

[2022-06-23 06:33] JonasSchubert opened #5066 "[BUG] v8.13.0 npm run <script> fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I am unable to run scripts defined in my package.json. `npm run <script>` outputs `The filename, directory name, or volume label syntax is incorrect.` (translated from german 'Die Syntax für den Dateinamen, Verz

[2022-06-23 07:30] aqibgatoo commented on #2610
Well, this needs to be fixed!

[2022-06-23 09:48] schachafatzitz commented on #5066
i encountered the same issue

on my side i am running "npm run build"

the package.config contains these values

[code]

when i change the colon into a dash everything works
[code]

[2022-06-23 13:48] mofojed commented on #4998
To avoid this kind of issue in the future, I'll pin CI and dev to a specific version of node/npm (using `.nvmrc` file) instead of pinning to an lts release (previously we used `16.x` in GitHub actions and `lts/gallium` in our `.nvmrc`).

[2022-06-23 14:10] ryandutton commented on #4295
This would be extremely useful, particularly when trying to get a valid payload which can be used with OWASP Dependency Check were the Node Audit Analyser is currently broken. [#3717](https://github.com/jeremylong/DependencyCheck/issues/3717)

[2022-06-23 14:29] #5058 closed, assigned to nobody

[2022-06-23 14:33] K3N811 commented on #3472
I am also having this issue where it cycles between vulnerabilities

[2022-06-23 17:22] wraithgar opened #5067 "[BUG] `npm repo x` inside workspace folder opens repo of the workspace"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

If your cwd is a workspace, running `npm repo x` opens up the repo of the workspace, not x.

### Expected Behavior

`npm repo x` should always open the repo for `x`.

### Steps To Reproduce

_No response_

### E

[2022-06-23 18:21] nlf commented on #5066
sorry about that one, folks. the pull request linked above should fix the issue for you and we'll get that out in a new npm release soon

[2022-06-23 18:45] nlf commented on #5054
this is fixed in npm@8.13.0, however there will be a new patch release being cut in the very near future to fix an edge case.

if you can run `node -p 'require("os").tmpdir()'` and the result is a path with no spaces or special characters, then updating to npm@8.13.0 will take care of things. if you do see spaces or special characters, though, you'll want to wait until 8.13.1 is released

[2022-06-23 19:01] nlf commented on #5040
we need more information to reproduce this. can you share your `package.json`? or if the repository is public that would be even better. we need something to show us what npm is trying to install, though.

[2022-06-23 19:43] #5050 closed, assigned to fritzy

[2022-06-23 19:43] fritzy opened #5068 "Release Manager: v8.13.1 (2022-06-23)"
**Target Version**: v8.13.1
**Target Date**: 2022-06-23
**Created From:** [`` Release-Process-(v8).md###Publishing the `cli` ``](https://raw.githubusercontent.com/wiki/npm/cli/Release-Process-(v8).md)

- [x] **0. Create `release-manager` issue**

  Follow the rest of the checklist in the [created issue](https://github.com/npm/cli/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-manager+).

[code]

-

[2022-06-23 20:04] wraithgar commented on #4126
https://docs.npmjs.com/cli/v8/using-npm/package-spec

[2022-06-23 20:04] #4126 closed, assigned to wraithgar

[2022-06-23 20:13] sakkukasetty commented on #5040
"devDependencies": {
    "@angular/cli": "~8.0.3",
    "commander": "^2.17.1",
    "fast-xml-parser": "^3.17.6",
    "gulp": "^4.0.0",
    "through2": "^2.0.3",
    "xml2js": "^0.4.19"
  },
  "dependencies": {
    "global": "^4.3.2",
    "grunt": "^1.0.3",
    "grunt-cli": "^1.3.2"
  }

[2022-06-23 20:14] sakkukasetty commented on #5040
Above is the json we tried to install

[2022-06-23 21:21] nlf commented on #5054
8.13.1 is published and should be working for you. please feel free to reopen this issue if you have problems after updating!

[2022-06-23 21:21] #5054 closed, assigned to nobody

[2022-06-23 22:11] nlepage commented on #5017
I opened a PR at `@npmcli/metavuln-calculator` which would be a first step to fix this: https://github.com/npm/metavuln-calculator/pull/43

I applied the patch on my local npm install, and it works fine.

Hope this helps.

[2022-06-24 00:21] bjorn-stange-expel commented on #5017
Wow thanks!

[2022-06-24 03:57] shunyue1320 opened #5075 "npm v8.13.1 文件名、目录名或卷标语法不正确。"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

C:\Users\admin\working\F2E-harbour-web>npm run server:local

文件名、目录名或卷标语法不正确。

### Expected Behavior

_No response_

### Steps To Reproduce

1. npm run ...
2. 文件名、目录名或卷标语法不正确。

### Environment

- npm: v8.13.1
-

[2022-06-24 05:36] JonasSchubert commented on #5066
Hi @nlf, I just installed npm@8.13.1 and I still encounter the failing scripts.
As @schachafatzitz described it is related to scripts with a colon, e.g. `build:prod` fails, but `build-prod` is ok.

Do we need to escape colons too, similar to spaces in your mentioned MR?

[2022-06-24 06:03] JonasSchubert commented on #5075
Related to https://github.com/npm/cli/issues/5066

[2022-06-24 09:14] ouzkhanmete commented on #4998
No I did not. I have like 100+ dependencies broken, do you want my team to waste a month of work rebuilding the codebase over few hundred repositories? Are you joking?

We rolled back to Node v16.15.0, which has a working version of npm 8.5.5.

`--legacy-peer-deps` flag did not help, when rebuilding `package-lock.json` from scratch and doing `npm ci` with the very same flag afterwards.

[2022-06-24 09:26] Blodwynn commented on #5066
Same here, we ended up downgrading to a previous npm version. 8.13.1 didn't fix the problem for us either.

[2022-06-24 09:38] NotYevvie commented on #4998
Are there any plans to deprecate / remove support for --legacy-peer-deps in the near future (0-2 years)?

[2022-06-24 10:24] sohang3112 commented on #4831
@wraithgar I had the same issue as the original poster - `npm install` raises error (for all packages) when run in a volume root `D:\`, but it works in a subdirectory `D:\Work`.

As you suggested to @2A5F, I tried adding `package.json` in `D:\` using `npm init`. But `npm install` and `npm install --save` still raise the same `EPERM` error (when run in `D:\`). `npm install -g` *doesn't* raise error

[2022-06-24 10:27] unpunnyfuns commented on #5066
Same here, this ticket should probably be re-opened.

[2022-06-24 11:23] gthb opened #5078 "[BUG] overriding a dependency's dependency with a scoped package, within the dependency, resolves it to the wrong parent path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I install a library `foo` as a dependency of my project. That library has a dependency, `bar`. I configure an override of `bar` (within `foo`) with my own fork, `@myorgscope/bar`, by putting this in `package.jso

[2022-06-24 11:27] gthb commented on #5078
This bug appears to be specific to the case where the override is specified _within_ a particular dependency. If I override `pgsql-ast-parser` directly under the `"overrides"` key in `package.json`:
[code]
then the `"resolved"` attribute in `package-lock.json` is correct, and the symlink in `node_modules/pg-mem/node_modules/` is correct, and everything works.

[2022-06-24 17:45] cxcubehd commented on #4028
I TRIED EVERYTHING ABOVE AND IT DID NOT WORK

I am so frustrated, did spend 10 hours trying to fix this once and for all. IT'S A SHAME that this bug STILL DOES exist. Every other build / project system (CMake, Dotnet, Deno) JUST WORKS, BUT THIS GARBAGE DOESN'T.

How hasn't this been fixed for more than 1 year? What idiots made this.

And because people will critize me for saying all this above, he

[2022-06-24 17:59] stil commented on #4028
In my case antivirus/EDR software enabled has 100% correlation with this freeze.

[2022-06-24 18:21] joaovitorzv commented on #5024
same issue here after switching node/npm version with `nvm` now on any npm command this bar appears

![2022:06:24:15:14:48](https://user-images.githubusercontent.com/34951179/175624263-8366e009-8e5c-4fd9-9fab-7f9c2031d954.png)

currently using:
[code]

[2022-06-24 18:45] cxcubehd commented on #4028
I am on Linux so no Antivirus.

[2022-06-24 18:53] ljharb commented on #5024
@joaovitorzv what about on the real terminal, as opposed to the vscode one?

[2022-06-24 19:29] shahdhairya51 commented on #4553
This works .thankyou

[2022-06-24 20:35] Alzy commented on #4028
@CXCubeHD What I finally did to get past this mess (and I don't really consider it a good solution, just something to get it working and move on while a proper solution is hopefully implemented) was to just clone the repo as a submodule in a folder in the root called `packages`. Then, install it with npm using `npm install /packages/module`. Essentially, installing the package locally. You have to

[2022-06-24 20:40] stil commented on #4028
Also to add on my previous comment, the issue did not happen when npm cache was empty on the computer.

So the first npm install on a new computer succeeded, and second (and subsequent) run freezed.

Can anyone else confirm whether the issue exists when there are no packages in the cache? (Or anything else that npm persists between runs in user directory)

[2022-06-25 00:51] joaovitorzv commented on #5024
also happens, on the screenshot I tested on `gnome-terminal + bash` and `xfce4-terminal + zsh`

![2022:06:24:21:48:01](https://user-images.githubusercontent.com/34951179/175751705-8c6b2a12-6cb5-4fe3-9bde-81fe984f317c.png)

[2022-06-25 01:24] zinkem commented on #5024
The `config:load:flatten` message stopped appearing for me after resolving all npm warnings.

In my case I had to comment out several deprecated/unused variables from my `.npmrc` file.

[code]

[2022-06-25 05:58] lizaemran commented on #4303
I also have same problem

[2022-06-25 06:54] Saufan opened #5080 "npm WARN old lockfile npm WARN old lockfile The package-lock.json file was created with an old version of npm, npm WARN old lockfile so supplemental metadata must be fetched from the registry. npm WARN old lockfile npm WARN old lockfile This is a one-time fix-up, please be patient... npm WARN old lockfile npm ERR! Exit handler never called! npm ERR! This is an error with npm itself. Please report this error at: npm ERR! <https://github.com/npm/cli/issues> npm ERR! A complete log of this run can be found in: npm ERR! /data/data/com.termux/files/home/.npm/_logs/2022-06-25T06_50_41_240Z-debug-0.log"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

1. In this environment...
2. With this config...
3. Run '...'
4. See error...

### Environment

- npm:
- Node.js:
- OS Name:
- System

[2022-06-25 08:48] zakofpl commented on #4028
I'm having same issue trying remotely "npm ci" my short list of dependencies, even if my npm cache is cleared.
Same deps are being installed successfully on my local Win machine, but never on remote Ubuntu.

And it drops any attempt to reconnect via SSH.

[2022-06-25 17:18] kontranet commented on #3472
My solution was running:
sudo npm install -g npm@8.13.1

I hope it helps.

[2022-06-25 17:23] fritzy commented on #5080
**Closing:** please use our [issue template](https://github.com/npm/cli/issues/new/choose) &/or review our [contributing guidelines](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#reporting-bugs).

[2022-06-25 17:23] #5080 closed, assigned to nobody

[2022-06-25 20:08] johann1301s opened #5082 "Authorization bearer token not included in tarball request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When running npm install <package> there is a request for the json packument. In this request there is a Authorization header present with the token-value defined in ~/.npmrc:

`//my.registry/:_authToken=<token>

[2022-06-25 20:30] Mustafatarakci commented on #2887
[](url)

[2022-06-26 04:24] Khyalis commented on #3210
To me it looks like if (in npm 8) the specified package could not be found, it would get installed to a folder under ".../npm_cache/_npx".
This folders node_modules/.bin folder would be prepended to a "pathArr", which gets passed into libnpmexec/lib/run-script.js by _run().
There, the path-array would be joined by a platform specific delimiter (';' or ':') and put it as "PATH" into an "env"-option

[2022-06-26 11:47] estani commented on #5055
I can reproduce this too. Updated to npm 8.13.1 but the error is still there:
[code]

I had to downgrade it  to 7.0.0 for this to go through (tried many options in between).
After resolution "works" I could increase the npm version back again to 8.5.5, v8.6.0 break it again.

So I guess the workaround is to downgrade to 8.5.5 and delete the `package-lock.json` (probably the reason I had to go the

[2022-06-26 22:24] BleedingDev commented on #5066
Reproduced it too, downgrade to version 8.12.2 helped. :)

[2022-06-26 23:25] johann1301s commented on #5082
I figured out that the bearer token is actually sent after all.

The url path of the auth token specified in the ~/.npmrc must not be to specific;

Example: `//my.registry.com/some-path/:_authToken=<token>` will only send the token to paths starting with `/some-path/`.

This makes sense.

[2022-06-26 23:25] #5082 closed, assigned to nobody

[2022-06-27 04:27] sc0ttdav3y commented on #3472
I tried on 8.13.1 as per @kontranet's advice but it didn't fix it for me :-(

[2022-06-27 07:32] paulius-valiunas commented on #4998
All you have to do is install node.js 16.15.1 locally and run `npm install`. Sometimes that's enough to fix this problem.

[2022-06-27 09:20] ghost commented on #5055
Having exactly the same issue, experiencing both on `8.11.0` and `8.13.1`

[2022-06-27 09:59] ObieMunoz commented on #4998
That's what I was saying but apparently that's not ok. It fixed all of our pipelines though.

[2022-06-27 10:25] munchkindev opened #5083 "[BUG] [Windows] Npm update fails from 8.4.0 to 8.11.0"
I have checked the existing issues and tried to use the newest npm version.

I newly installed the newest LTS release of Node.js (v16.15.1) which is supposed to contain npm version of 8.11.0.

I've installed the Windows package and executed all of the chocolatey scripts as recommended.

But when I run `npm -v` I get the following output:
[code]

Any idea how to fix this?

I already tried running `

[2022-06-27 11:42] mshakibdev commented on #3152
I am still facing this issue.

[2022-06-27 11:44] iliubinskii opened #5084 "[BUG] npm-install does not replace file dependency with npm dependency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

[code]

[code]

It writes that everyting is up-to-date

### Expected Behavior

Npm should replace file dependency with npm dependency (even if they have the same versions)

### Steps To Reproduce

Add file depen

[2022-06-27 12:03] frederikhors commented on #5066
THIS IS HUGE!

[2022-06-27 14:44] shayneczyzewski commented on #5018
Hi there, is anyone available to help triage this? Happy to help however I can. Thanks so much.

[2022-06-27 14:56] Or-Geva opened #5085 "[BUG] `npm ls --dev` does not show only dev dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

- npm:8.11.0
- Node.js:16.15.1
- OS Name:macOS Monterey Version 12.4

[2022-06-27 15:43] ljharb commented on #3152
@faizaldong because the bug is likely in your package.json, not in npm

[2022-06-27 17:08] #5066 closed, assigned to nlf

[2022-06-27 17:15] nlf commented on #5066
this got closed when the dependency was updated, when #5086 here lands and is published in a couple of days the new release takes care of the issue with `:` in script names

[2022-06-28 01:46] johnculviner commented on #4828
bump

[2022-06-28 02:30] Dottenpixel opened #5089 "[BUG] npm publish with automation token in npmrc returns 404 "not in this registry" error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I'm testing a publishing workflow locally with an Automation access token so that I can then implement for CI.

Note: I don't get this error if I'm logged in manually, via the username, password, email OTP promp

[2022-06-28 04:42] RealityGamin opened #5090 "[BUG] Check failed: reservation_.SetPermissions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

This unexplainable error is showing up when trying to install any NPM package anywhere on my OS

![image](https://user-images.githubusercontent.com/100086757/176094190-f4f11fa5-cd1d-4300-b961-590bd07f5f19.png)

[2022-06-28 04:55] RealityGamin commented on #5090
**Update:**

Okay, it seems like I can run the command in root, but on my local user, I get this error, any idea how to resolve permission issues with NPM?

[2022-06-28 05:00] RealityGamin commented on #5090
***Update:***

Running the command on root works, but when trying to do it on my user created directories, it gives the above error, could it be a permission issue with using NPM?

[2022-06-28 09:39] gemwuu opened #5091 "[BUG] npm i --production deletes duplicate .bin symlinks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

`package.json` below:
[code]

installation command:
[code]

I can't find the `egg-ts-helper` bin command `ets` in the `node_modules/.bin` folder.

This is because `egg-bin` also provides the `ets` command, when

[2022-06-28 14:23] pawan-gwebs opened #5092 "[BUG] npm 8.13.1 error when using --ssl: The filename, directory name, or volume label syntax is incorrect."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

I'm stuck with this error
I used command: "npm start", which is using " run-script-os" to serve ng application

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

The

[2022-06-28 14:52] Shaif-Alam commented on #4954
**npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: portfolio@0.0.0
npm ERR! Found: @angular/compiler@13.1.3
npm ERR! node_modules/@angular/compiler
npm ERR!   @angular/compiler@"~13.1.0" from the root project
npm ERR!
npm ERR! Could not resolve

[2022-06-28 15:28] chrstophr-wltrs opened #5093 "[BUG] NPM Scripts with Colons Break w/ Windows File Paths"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

When running an npm script with a colon (`:`) in its name, Windows will return a number of different errors.

Sometimes the error is as follows:

[code]

At other times, this error occurs:

[code]

I haven't bee

[2022-06-28 15:56] chrstophr-wltrs commented on #5093
I know that this is a fairly minor issue. While the colon separators for script titles have been a convention in my workplace for a while, it wouldn't be _that_ difficult to convince them to switch it up, or to simply use a version of node with a working npm. I just figured I should document this as it occurred.

[2022-06-28 16:45] clomver commented on #4460
I appear to have hit this issue running the latest NPM version (8.13.1) - caused by a developer manually updating the versions in both package.json and package-lock.json without updating the integrity value.
I'm running gitbash on Windows 10 Enterprise
Create an empty directory:
[code]
-> at this point npm ci runs without complaint.
-> now clear the cached data and re-run npm ci
[code]
Failed:
[co

[2022-06-28 18:30] wraithgar commented on #3210
Possibly closed by https://github.com/npm/cli/pull/4929.

@lukekarrys will investigate and respond accordingly.

[2022-06-28 19:02] robertIsaac commented on #3210
I confirm it's working now
tested using npm 8.13.1

[2022-06-28 19:07] wraithgar commented on #3210
Oh hey thanks for confirming @robertIsaac!

[2022-06-28 20:01] mhamann commented on #4838
We just hit this as well. Had to pin Node.js to v16.15.0 so we get npm v8.5.5. This is a critical issue given that it's strongly recommended to run production workloads on a read-only filesystem.

[2022-06-28 21:34] mod7ex commented on #4553
none of the above worked for me is there any other way ? i have tried eveyrthing in stackoverflow also
is it an issue related to ubuntu ?

[2022-06-28 22:29] Khyalis commented on #3210
For me, npm@8.13.1 continues to yield different results:

C:\\...\test>**npx --version**
8.13.1

C:\\...\test>**npm ls svgo**
C:\\...\test
`-- (empty)

C:\\...\test>**npm ls svgo -g**
C:\\...\AppData\Roaming\npm
`-- (empty)

C:\\...\test>**npx svgo@2.5.0 --version**
Need to install the following packages:
  svgo@2.5.0
Ok to proceed? (y) **y**
[...]
2.5.0

C:\\...\test>**npm i svgo@1 -g**
[...]
add

[2022-06-28 22:39] #5068 closed, assigned to fritzy

[2022-06-28 22:41] fritzy commented on #5093
Duplicate of https://github.com/npm/cli/issues/5066
Should be fixed in tomorrow's release.

[2022-06-28 22:41] #5093 closed, assigned to nobody

[2022-06-28 23:00] fritzy commented on #5092
There's a known issue with colons in scriptnames on windows for 8.13.1 that should be fixed in tomorrow's release. https://github.com/npm/cli/issues/5066

It's confusing that you're getting the `--global` warning with 8.13.1 as that's been removed.

[2022-06-28 23:00] #5092 closed, assigned to nobody

[2022-06-28 23:25] andersk commented on #3210
Slightly different on Linux, but still broken:

[code]

`npx` is still incorrectly preferring the project’s installed version over the explicit version on the command line. Please reopen.

[2022-06-28 23:26] fritzy commented on #5091
Confirmed. Both `egg-ts-helper` and `egg-bin` provides the same bin name, which gets deduped even though only one of them is installed in `--production`.

[2022-06-28 23:33] fritzy commented on #5090
This looks like it's an issue with script protection on your OS. Some quick searches reveal that this may be related to PaX and permission for node/npm/npx scripts.

[2022-06-28 23:33] #5090 closed, assigned to nobody

[2022-06-28 23:36] McSneaky opened #5096 "[BUG] Package name capitalization is handled inconsistently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This issue exists in the latest npm version

- [X] I am using the latest npm

### Current Behavior

Sometimes `jQuery` and `jquery` are same package. Sometimes they are different ones

Seems like when doing initial installation of project, they are considered different ones

When doing fresh installation:
[cod

[2022-06-28 23:36] fritzy commented on #5089
I'm not sure how you're sourcing your automation token. Please see the documentation for CI tokens. https://docs.npmjs.com/using-private-packages-in-a-ci-cd-workflow

[2022-06-28 23:36] #5089 closed, assigned to nobody

[2022-06-28 23:47] fritzy commented on #5085
`--dev` is no longer a configuration option, and so no filtering will occur.
`npm@8.13.1` is the latest, not `8.11.0`

As far as the suggested `--include=dev`, the documentation is unclear, especially in the context of `npm ls`. For `npm install`, the documentation states inverse behavior from `--omit`, so we should expect that in `npm ls` and we should clarify the docs.

[2022-06-28 23:49] fritzy commented on #5083
This is a deprecation warning, and fixed with newer versions of npm.

**Closing:** please use our [issue template](https://github.com/npm/cli/issues/new/choose) &/or review our [contributing guidelines](https://github.com/npm/cli/blob/latest/CONTRIBUTING.md#reporting-bugs).

[2022-06-28 23:49] #5083 closed, assigned to nobody

[2022-06-28 23:57] fritzy commented on #5084
If you don't specify the version as part of the <spec>, `npm install` will use what is already available in the package.json for the spec.

`npm install my-package@latest` using an existing tag or version spec will properly replace this value.

[2022-06-28 23:57] #5084 closed, assigned to nobody

[2022-06-28 23:59] fritzy commented on #5075
This is a dupe and a fix is in place for the next release.

[2022-06-28 23:59] #5075 closed, assigned to nobody

[2022-06-29 00:04] fritzy commented on #5057
Can you create [an RRFC](https://github.com/npm/rfcs/issues/new?assignees=&labels=&template=rrfc.md&title=%5BRRFC%5D+%3Ctitle%3E) in that rep with some details on how you would like to see this changed?

[2022-06-29 00:04] #5057 closed, assigned to nobody

[2022-06-29 00:16] fritzy commented on #5056
It's hard to reproduce this without knowing your dependencies. Is there a subset of your package.json file you can include so that we can reproduce?

Not being able to find files in cacache should probably be treated as a cache miss.

[2022-06-29 00:36] fritzy commented on #5055
I have the same resolution problem with `npm@8.5.5`.

We fixed inconsistencies between package-lock and package.json in npm@8.6.0, so you may need to clear it.
In this particular case, `react-dom` needs to be a (peer) dependency, because it's getting set to v18 instead v16, and then the peer deps for react cannot get resolved.

[2022-06-29 00:36] #5055 closed, assigned to nobody

[2022-06-29 00:48] fritzy commented on #5052
This is working as intended. If we were to do this, packages would break regularly, breaking semantic versioning. If there's a feature that you want related to this, please open an RFC.

Can you create [an RRFC](https://github.com/npm/rfcs/issues/new?assignees=&labels=&template=rrfc.md&title=%5BRRFC%5D+%3Ctitle%3E) in that rep with some details.

[2022-06-29 00:48] #5052 closed, assigned to nobody

[2022-06-29 01:05] qq326943819 commented on #4804
I also encountered a similar problem.
When installing packages like ```yorkie```, the life cycle of install, including ```install``` and ```postinstall```, was not triggered.

node: 16.15.0
npm: 8.5.5

When switching to version 14, it works normally.

[2022-06-29 03:08] gemwuu commented on #5091
I think we need to throw a warning message when installing duplicate bins and specially informing which bin has really been installed.

[2022-06-29 06:34] Or-Geva commented on #5085
@fritzy, thanks for your response. I have tried both `npm ls --indluce=dev` and `npm ls --omit=prod`, but again, the output includes production dependencies.
Would it be possible to get only dev dependencies using the command `npm ls` like I used to? (I used to run `npm ls --dev` with npm v6/7).

[2022-06-29 07:16] ghost commented on #5055
@fritzy clearing the package-lock was the first thing I did, and react-dom is one of our deps. This did not solve the issue for me.

[2022-06-29 08:16] MrBrN197 commented on #1946
@kgpyi  I believe the -g stands for global. I think the reason for all this is because `unlink` is actually an alias for `uninstall` so you are uninstalling the package globally.

[2022-06-29 08:58] HomyeeKing opened #5099 "[DOCS] <https://docs.npmjs.com/cli/v6/using-npm/semver#caret-ranges-123-025-004>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

in caret part, there's an example:

if I didn't get wrong, it says 1.2.4-beta.2  not satisfied ^1.2.3-beta.2, but it does

![image](https://user-images.githubusercontent.com/49113249/17

[2022-06-29 09:42] uxduck commented on #616
Unfortunately, this issue also prevents logins with other NPM repositories. For example, artifactory's NPM packages. I tried to login with my email on there, e.g.:
[code]
- I entered my email, which is my Artifactory login
Unfortunately, the error

I've had to workaround this by using `.npmrc` / basic authentication, as per https://www.jfrog.com/confluence/display/RTF/Npm+Registry. To do that, I j

[2022-06-29 12:31] SRUJANA-PENUGONDA13 opened #5100 "Getting peer dependencies issue for npm@8.5.5"
I am facing peer dependencies issues for below versions

npm -  8.5.5
node - 14.19.0

Which was working fine before with below versions with same codebase

npm - 8.12.2
node - 14.19.1

Can someone please help me why this is happening

[2022-06-29 12:56] AmeBoond commented on #5017
I applied also the patch and It works like a charm !
Thanks @nlepage

[2022-06-29 14:23] ljharb commented on #5100
npm 8.5.5 is older than 8.12.2, so it’s missing a bunch of bugfixes. Try npm 8 latest.

[2022-06-29 14:35] jonthomp commented on #4193
@wraithgar @fritzy please can this be re-opened? I don't think it is a duplicate of https://github.com/npm/cli/issues/3403.

The bug here is that running `npm version -w=<workspace>` does not update `package-lock.json`

[2022-06-29 14:53] ramnathkr opened #5101 "ENOTDIR error on npm install over - node v7.10.1 - npm v4.2.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### This is a CLI Docs Problem, not another kind of Docs Problem.

- [X] This is a CLI Docs Problem.

### Description of Problem

It was worked without any issue before 1 month. suddenly npm installation failure in docker container

[code]

[code]

### Potential Solution

We know node versions are older sorry for